[2017-07-20 17:30] hpinkos commented on #5664
Hi @Vineg, I wasn't able to reproduce this.  What is your OS and graphics card?

[2017-07-21 00:48] Kelien commented on #5607
OK，thanks your reply：）

[2017-07-21 08:46] Vineg commented on #5664
Windows 10 Radeon RX 460. I see thit behavior is seen both in 54 and nightly 56 builds of Firefox. Chrome and Edge both work fine. In Virtual Box ubuntu firefox everything seems fine as well.

[2017-07-21 12:39] pjcozzi commented on #797
Likely run our existing GLSL through `modernizeShader`, #5623, to generate GLSL ES 3.0, and then have a bit of a DSL (domain-specific language) with marcos/etc to handle differences like `varying` vs `in`/`out`.  I'm sure it will not be that simple and some thing will have to be GLSL ES 3.0 specific, but we do not want to limit ourselves to only using GLSL ES 1.0 over the long haul, and I believe

[2017-07-21 12:50] pjcozzi commented on #5477
@jbo023 thanks for narrowing this down so much, it is appreciated!

@lilleyse I labeled this `priority - next release`.  Given glTF 2.0 and the upcoming conferences, we clearly can't look at this for 1.36, but let's look at it for 1.37 in case the scope of affected tilesets is wide.

[2017-07-21 13:07] jbo023 commented on #5477
Thanks a quick resolution would be nice,
until this is fixed we are unfortunatly stuck with an old release, before the Traversal Refactoring.

[2017-07-21 13:32] ggetz opened #5665 "Support for subsurface / bathymetry"
Add support for subsurface / bathymetry.

CC #526

[2017-07-21 13:33] ggetz commented on #4274
@jdurrie I opened #5665 to track local bathymetry specifically, please add any details in that issue. Thanks!

[2017-07-21 19:15] ggetz opened #5666 "headingPitchRollToQuaternion should be calculated counter clock wise"
As per this discussion on the forum: https://groups.google.com/forum/#!topic/cesium-dev/2-Fn_8yeurY

[2017-07-22 19:19] pjcozzi commented on #5314
Could be cool to check out BabylonJS's latest particle system for inspiration: https://twitter.com/deltakosh/status/888546806648274946

[2017-07-22 20:53] pjcozzi opened #5667 "Removal of throttleRequestByServer was not mentioned in CHANGES.md"
@ggetz could you please patch CHANGES.md?

See https://groups.google.com/forum/#!topic/cesium-dev/jId6viljtEE

[2017-07-22 21:52] burn123 commented on #5521
This seems to still be a problem in 1.36. I see this message in the Sandcastle in the dev tools console

![image](https://user-images.githubusercontent.com/2721458/28494786-7cc89d46-6f06-11e7-8cd8-2b823a5059b6.png)

[2017-07-22 22:12] burn123 commented on #5573
I realized that the code example I gave didn't actually contain the code that shows it is broken.
[This is an updated example.](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=5877523ea1ccd20f90efa0519ab14a36) Sorry it is on MOUSE_MOVE, for some reason the click handler wouldn't fire.

[2017-07-22 23:09] burn123 commented on #5573
I traced the issue some, and I realized that part of the problem, specifically why the minimum zoom is broken, is [this line of Viewer.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Widgets/Viewer/Viewer.js#L1918):

    controller.minimumZoomDistance = Math.min(controller.minimumZoomDistance, boundingSphere.radius * 0.5);

I'm not sure why the minimum zoom would be updated

[2017-07-23 14:09] 543802360 commented on #5417
I have also encountered this problem when using Cesium 1.35 ,but 1.31 does not. Here is my repository [https://github.com/543802360/express-webpack-cesium](https://github.com/543802360/express-webpack-cesium), Cesium 1.31 works well

[2017-07-23 23:16] burn123 opened #5669 "Enable Camera URL Hashing property on Viewer"
I know in the `Apps/CesiumViewer/CesiumViewer.js` there is code to update the URL with the position of the camera, but it would be nice if this could be a property of the viewer.

[2017-07-24 13:24] hpinkos commented on #5669
Thanks for the suggestion @burn123!  I initially added that functionality at the `Viewer` level, but we decided we didn't want to add that kind of specific behavior since almost all Cesium apps use the `Viewer`.
 We wanted to keep it pretty generic.  Users are welcome to copy the code from `CesiumViewer` to add this behavior to their own applications.

[2017-07-24 13:24] #5669 closed

[2017-07-24 13:43] burn123 commented on #5669
I know you could just copy the code over, but it seems like there is actually a lot of code that you would have to copy over. Because you need `queryToObject` and `objectToQuery`, then those rely on `decodeURIComponent` and `encodeURIComponent`, and so it ends up being a lot of code for a relatively simple task, which is why it might be good to have a viewer option

[2017-07-24 13:48] hpinkos commented on #5669
`queryToObject` and `objectToQuery` are both included as part of Cesium, so you can do `var query = Cesium.objectToQuery({...});` if you're using the built version of Cesium.  `decodeURIComponent` and `encodeURIComponent` are both standard global functions that are available in all web browsers.

[2017-07-24 13:50] burn123 commented on #5669
Yeah I just realized that right after I posted :P Thanks!

[2017-07-24 13:53] ateshuseyin commented on #5669
No need to copy whole cesium viewer. Getting and seting camera position and orientation (see camera changed event) is ok for this feature.

[2017-07-24 14:09] emackey commented on #5669
The viewer widget is not in control of the host app's URL.  A single app with a single URL could have multiple viewer widgets with different camera positions.  This feature can't go in the viewer widget, sorry.

[2017-07-24 14:39] mramato commented on #5521
Are you guys using 32 or 64 bit?  This continues to work for me without any problems.  54.0.1, 64-bit, Windows 10, Nvidia 650ti

[2017-07-24 14:56] GatorScott commented on #5521
No change for me on Win32 ANGLE (NVIDIA Quadro M1000M Direct3D11 vs_5_0 ps_5_0).  Result is no globe.

[2017-07-24 15:03] GatorScott commented on #5521
Turns out that Firefox doesn't like Microsoft's certificate.  Adding an exception to trust Bing Maps makes the globe visible.  The other TypeErrors and Error remain.

[2017-07-24 20:28] ggetz opened #5671 "Test Failure: Scene/Composite3DTileContent renders multiple instanced tilesets"
Scene/Composite3DTileContent renders multiple instanced tilesets is failing in the CI.

[code]

[2017-07-24 21:55] #5671 closed

[2017-07-24 23:35] pjcozzi commented on #5521
Works OK on Mac Firefox on my home network.

[2017-07-24 23:40] burn123 commented on #5521
I'm using 32-bit, 54.0.1, Windows 10, Nvidia 980M. I thought I was on 64 bit, but I guess not

[2017-07-25 07:58] yoyomule opened #5675 "How support multiple viewport at the same time show?"
Hello, cesium support multiple viewport at the same time show? Similar to the threejs multi-viewport function(https://threejs.org/examples/webgl_multiple_views.html).

[2017-07-25 13:18] #5610 closed

[2017-07-25 13:34] ggetz commented on #5675
Thanks @yoyomule, we're already tracking multiple viewports in a previous issue, #5214. We're going to close your issue now to keep the discussion in one place. If you have any further input on the main issue, #5214, please post it there.

[2017-07-25 13:35] #5675 closed

[2017-07-25 13:44] ggetz commented on #5667
What release should this be added under? 1.35?

[2017-07-25 14:04] hpinkos opened #5676 "pickPosition only works on 3D tiles if depthTestAgainstTerrain = true"
This picking example only works if you uncomment the third line

[code]

[2017-07-25 21:12] pjcozzi commented on #5667
Up to you.

[2017-07-26 13:04] rahwang opened #5679 "Sandcastle demos of specific particle system effects"
It would be nice to have template code for making smoke, fire, spark effects, etc to help people get started with particle systems.

[2017-07-26 13:05] rahwang commented on #5679
@jasonbeverage , father of Cesium particle systems has expressed interest? Are you still interested in doing part of this?

[2017-07-26 13:16] jackmetcalfe1 opened #5680 "Changing colour of Entity using Time-Slider"
I'm very new to Cesium and Javascript so please bear with me.

I am trying to add an event listener onTick so that the colour of a roof panel changes colour based on values from within my CZML. However, the roof panel remains white and no errors are thrown. The CO2 value array in the CZML is being pulled in from a google spreadsheet. My code is as follows:

    viewer.clock.onTick.addEventListener

[2017-07-26 13:21] SunBlack commented on #5676
I have same issue. But one information is missing here in this ticket: `pickPosition` works not Ellipsoid, but on STK Terrain.
![cesium](https://user-images.githubusercontent.com/483922/28623354-043e795a-7216-11e7-98ac-92da03942d2e.gif)

My test code:
[code]

[2017-07-26 13:31] ggetz commented on #5680
Hi @jackmetcalfe1. Cesium is a large project, so we use GitHub exclusively for bug tracking and feature requests. As we ask in our [Contributor's Guide](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#submitting-an-issue), please post your questions to the [Cesium Forum](http://cesiumjs.org/forum.html) to get a more comprehensive response. Thanks!

[2017-07-26 13:34] jackmetcalfe1 commented on #5680
Apologies @ggetz. I have posted in the correct location now!

[2017-07-26 13:40] ggetz commented on #5680
Thanks @jackmetcalfe1! @pjcozzi please close this issue.

[2017-07-26 14:36] hpinkos commented on #5676
@SunBlack thanks for the example!  Yes, this looks like the same root problem.  If you add this line to your example it works: `viewer.scene.globe.depthTestAgainstTerrain = true;`

It works when you select the STK terrain because the `BaseLayerPicker` enables `depthTestAgainstTerrain` when you select that option.

[2017-07-26 14:36] #5680 closed

[2017-07-27 11:22] pjcozzi commented on #2524
Recent podcast on modules (and their history) that is pretty good: https://changelog.com/jsparty/16

[2017-07-27 13:55] mramato opened #5683 "GroundPrimitive clamping options"
GroundPrimitive currently clamps to both terrain and 3D Tiles and there is no way to configure its behavior.

I have a 3D Tileset of buildings that are clamped to terrain.  I want to draw a polygon on the terrain but I want it to appear under the buildings, not clamped to them.  I have a feeling this is a pretty standard use case (for example, showing zoning information or clamped corridors as bor

[2017-07-27 14:24] airflyer13 commented on #4311
Are there any plans regarding vr support for devices like the Vive or the Rift? WebVR is pretty stable by now compared to pre 1.0 Versions. Or is there a way to "hack" cesium to support These devices unofficially?

[2017-07-27 14:40] mramato commented on #4311
@airflyer13 we absolutely want to make Cesium a world class VR platform and fully support WebVR, we just haven't had the time to dedicate to it because the rapid success and growth of the 3D Tiles ecosystem takes up most of our time for now.

If anyone is interested in helping out, we would be happy to look at any PRs related to improving our current support. (Most of the team has access to hardwa

[2017-07-27 16:24] hpinkos opened #5684 "Bounding sphere debug primitive cut in half at north pole"
![image](https://user-images.githubusercontent.com/3451886/28681119-69a55e3e-72c6-11e7-8b82-99635add500e.png)

[code]

[2017-07-27 18:45] burn123 commented on #2909
Would also like to mention that this is still a problem

[2017-07-28 13:32] rahwang opened #5686 "2D flyTo cuts off with multiple billboards"
Reported on the forum here: https://groups.google.com/forum/?hl=en#!searchin/cesium-dev/wrong$20viewpoint%7Csort:date/cesium-dev/MSPOj17Iqcg/dtbDsrUdBgAJ

In 2D mode, when using flyTo with an EntityCollection, the resulting view cuts off some of the entities.

To reproduce, use this sandcastle:
https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=be6da

[2017-07-28 13:36] hpinkos commented on #5686
Duplicate #2473

[2017-07-28 13:36] #5686 closed

[2017-07-28 13:36] hpinkos commented on #2473
Also reported here: https://groups.google.com/forum/?hl=en#!searchin/cesium-dev/wrong$20viewpoint%7Csort:date/cesium-dev/MSPOj17Iqcg/dtbDsrUdBgAJ

[2017-07-28 13:43] #5667 closed

[2017-07-28 13:51] #5627 closed

[2017-07-28 13:53] pjcozzi opened #5688 "Simple way to see precise CI failure"
Unless there is an option that I am missing, right now we need to manually search by clicking through the drop downs:

![image](https://user-images.githubusercontent.com/782098/28720234-8c32df26-737a-11e7-8a2b-ad674c1a7993.png)

[2017-07-28 15:10] pizza2code opened #5689 "Clamp 2D map view to map edges?"
Is it possible to clamp the 2D map view to the map edges, such that a user can't scroll beyond the north & south poles?  Letting up to half of the screen be black non-map seems of marginal utility.
(Sorry I can't post in the Google forum at the moment, don't have access to my 2FA.)

[2017-07-28 15:15] ggetz commented on #5689
Hi @pizza2code, we have an issue open for camera boundaries in #4802, please add any comments you may have to that issue. Thanks!

[2017-07-28 15:16] #5689 closed

[2017-07-28 15:28] rahwang commented on #5371
Came up in the forum again: https://groups.google.com/d/msg/cesium-dev/ZLxWrn_3joE/f8xClwppAwAJ

[2017-07-28 15:39] pizza2code commented on #4802
I would appreciate this as well!  Even a simple boolean option such as "clampCameraToEdges" for the 2D map would be great.  It seems of marginal utility to let people scroll past the north & south poles, as you currently can.

[2017-07-28 15:40] cguldner opened #5690 "Drag and Drop success event"
There is a `dropError` event for the `viewerDragDropMixin`, it would also be nice to have a `dropSuccess` event so that custom data processing can occur once the file has loaded.

[2017-07-28 17:51] mramato opened #5691 "Cesium Viewer crashes on MacOS (Safari) and iOS (all) with rapid mouse movement"
The Viewer reference app uses `replaceState` pretty much every time the camera moves, this leads to a security error on all Safari versions and results in a crash.  Just move them camera a whole bunch and you'll crash. Basically, you aren't allowed to call `replaceState` or otherwise much with history more than 100 times over 30 seconds.

While Apple having a check like this is questionable, we pr

[2017-07-28 18:02] mramato commented on #3171
I can reproduce this locally as well (on the old Mac we have, which is also an AMD card).

[2017-07-28 18:08] jasonbeverage commented on #5679
Jason Beverage, father of particle systems, first of his name :)  I'm interested for sure.  I'm going to be working on some demos over the next couple of weeks for foss4g, so if you want to wait and see if anything interesting drops out of those demos that could be cool.

[2017-07-28 18:51] hpinkos commented on #5690
Thanks for the suggestion @burn123!  You should be able to achieve this by listening to the [viewer.dataSources.dataSourceAdded](http://cesiumjs.org/Cesium/Build/Documentation/DataSourceCollection.html?classFilter=datas#dataSourceAdded) event.  Will that solve what you're trying to do?

Otherwise, we'd be happy to look at another PR if you have time to make this change =)

[2017-07-28 19:34] cfairchi commented on #4122
Still seeing this issue in 1.34.  Any ETA on a fix?

[2017-07-28 20:29] rahwang opened #5692 "Model silhouettes don't show through transparent textures"
Not sure if this is intended behavior.

Model outlines don't show through transparent textures:

<img width="289" alt="screen shot 2017-07-28 at 4 28 48 pm" src="https://user-images.githubusercontent.com/1758825/28735123-e4074994-73b1-11e7-933d-77aabe258d03.png">

[2017-07-28 22:39] yoyomule commented on #5214
What is the current progress?

[2017-07-29 14:15] pjcozzi commented on #5214
@yoyomule there is initial work in the [viewports branch](https://github.com/AnalyticalGraphicsInc/cesium/compare/viewports); however, it requires pretty significant changes to the core rendering engine so we couldn't justify the effort at the time.  We'll revisit, but the timeline is TBA.  You are welcome to pick up this work sooner if you are interested, see [CONTRIBUTING.md](https://github.com/

[2017-07-29 14:19] pjcozzi commented on #5665
**Related**
* Globe base color alpha does nothing, #5163
* [translucent-terrain](https://github.com/AnalyticalGraphicsInc/cesium/compare/translucent-terrain) branch
* [cesium-groundpush-plugin](https://github.com/NICTA/cesium-groundpush-plugin)

[2017-07-29 14:22] pjcozzi commented on #4122
@ggetz could you please try to triage Cesium releases to see if this previously worked and find the commit that broke this?

[2017-07-29 14:54] pjcozzi commented on #5683
This should not be too hard.  I think we are 95% set up to do this.  Maybe start with `TERRAIN` or `TERRAIN_AND_3DTILES`, and use that to determine when the primitive is rendered.  Later there could be a 3D Tiles only option, but that is a bit harder.

[2017-07-29 14:54] pjcozzi commented on #5683
Also requested on the forum: https://groups.google.com/forum/#!topic/cesium-dev/I4tqwhskXBw

[2017-07-30 18:10] moneimne opened #5694 "Multiple animations in a glTF 2.0 model causes an error"
When there are multiple animations in a glTF 2.0 model with different end times, there is an error in Cesium's ability to wrap around the times back to zero appropriately once the end time is passed.

[2017-07-30 18:13] moneimne opened #5695 "Mixing morph targets in materials crashes for glTF 2.0 models"
When there are two primitives, one with morph targets and one without, that reference the same material, we add morph target calculations to both. This shouldn't happen and morph targets should be addressed on a per-primitive basis.

[2017-07-30 21:02] burn123 commented on #5690
The problem with that event is that it fires whenever there is a file added to the Cesium Viewer, it doesn't care where it is from.

[2017-07-31 01:20] AbdullahIngramMicro commented on #5663
Hi @keikland , are these only the code necessary to change the UTC timezone to SST timezone?? If yes, do I need to make any modification to the code?? I need a lot of help in the timezone. thanks you.. my code is found below....
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-w

[2017-07-31 02:21] bingqixuan commented on #2132
Hello, I want to know when will it come out, I'm very looking forward to it~

[2017-07-31 02:29] pjcozzi commented on #2132
Current work-in-progress for 3D Tiles vector tiles is in the [vector-tiles](https://github.com/AnalyticalGraphicsInc/cesium/tree/vector-tiles) branch.  The final date is still TBA.

[2017-07-31 07:26] keikland commented on #5663
The key "worker" function is localeDateTimeFormatter() from my post earlier, which it does not seem you have added yet.  The base calendar in Cesium is Julian and the time zone is UTC, but converted for user display in the "normal" Gregorian calendar.  To adjust to any other time zone display, say SST, simply add the desired hour (and/or minute) offset to the Julian datetime in localeDateTimeForma

[2017-07-31 16:33] avalan4e57 commented on #5691
Hello. I'm new to contributing on open source projects. Don't know if I got you exactly, but there's a pull request with how I see the fix of the problem. By the way I can't test the stuff locally because I get this type of errors in browser js console `error for: Cesium/Shaders/...`. A `404` one if to be exact. Can you please help me with that?

[2017-07-31 17:32] hpinkos commented on #5691
Thanks for looking into the problem @avalan4e57!  For running the code locally, see the information in our [Build Guide](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/BuildGuide).  When you're ready to open a pull request, take a look at our [contributing documentation](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pu

[2017-07-31 18:20] hpinkos opened #5697 "Model shadows broken in IE"
Shadows no longer cast properly onto models in IE

Chrome:
![image](https://user-images.githubusercontent.com/3451886/28791742-608d1e80-75fb-11e7-809f-9f4fd839abd3.png)

IE:
![image](https://user-images.githubusercontent.com/3451886/28791568-e4d8836a-75fa-11e7-9ec4-226be8c79652.png)

I didn't test to see which release this was broken in, I just noticed that this worked when shadows were introduced

[2017-07-31 18:26] hpinkos opened #5698 "Model translucency doesn't work with OIT: false"
1. Open up http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Models%20Coloring.html&label=Showcases
2. Add the option `orderIndependentTranslucency: false,` to Viewer and run the exmaple
3. Move the transparency slider

![image](https://user-images.githubusercontent.com/3451886/28791965-25598c6c-75fc-11e7-89b5-fed5ee768870.png)

[2017-07-31 18:30] hpinkos commented on #4170
I'm not sure if this is related, but there's a huge color difference between a model with `alpha: .99` and `alpha: 1.0`

![image](https://user-images.githubusercontent.com/3451886/28792172-b39f1ac8-75fc-11e7-8bec-fa85e78fb9aa.png)

I wouldn't expect it to be that drastic of a change

[2017-07-31 18:38] hpinkos commented on #5698
Update: This is brokn in IE regardless of the OIT setting

[2017-07-31 18:42] avalan4e57 commented on #5691
Thanks for reply @hpinkos ! Everything works ok on my local now. Made some changes there. And there's a question in the comment to some code lines in the commit. So, if everything is ok, guess I need to make a pull request since I've read already contributing documentation?

[2017-07-31 18:47] hpinkos commented on #5698
There's also weird differences in the model outlining between `alpha: 0.1`
![image](https://user-images.githubusercontent.com/3451886/28792804-d5f7e3fa-75fe-11e7-8162-cbf308e89ed6.png)

And `alpha: 0.0`:
![image](https://user-images.githubusercontent.com/3451886/28792812-dccbf1bc-75fe-11e7-8bee-934e6051df6a.png)

In IE always, or in Chrome/Firefox with OIT disabled.  Should that be a separate issu

[2017-07-31 18:48] hpinkos commented on #5691
@avalan4e57 Go ahead and open the pull request.  It'll be easier for us to review it that way instead of looking at your individual commits

[2017-07-31 19:01] hpinkos opened #5700 "IE crashes for 3D tiles PointCloudBatched tileset"
Open up the [3D Tiles Formats](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20Formats.html&label=All) sandcastle demo in IE and select 'PointCloudBatched'

[code]

[2017-07-31 19:21] hpinkos opened #5701 "'Request Volumes' in 3D Tiles Inspector doesn't seem to do anything"
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20Inspector.html&label=All

I don't see anything change when I check and uncheck the `Request Volumes` checkbox on the 3D tiles inspector.

@lilleyse what is the behavior supposed to be?

[2017-07-31 19:25] hpinkos opened #5702 "3D Tiles Inspector sliders do not display correctly in IE"
![image](https://user-images.githubusercontent.com/3451886/28794444-69a40b42-7604-11e7-93c4-fba2b0f62e67.png)

[2017-07-31 19:25] hpinkos commented on #5702
This is probably an IE bug, but we might be able to work around it with CSS styling

[2017-07-31 19:32] hpinkos opened #5703 "3D tiles interactivity sandcastle example throws developer error"
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20Interactivity.html&label=All

This is easiest to reproduce in Firefox.  Sometimes `pickPosition` returns `undefined`, and the annotation part of the example throws a `DeveloperError` when we call ` Cesium.Cartographic.fromCartesian`.  We need to check if `cartesian` is defined before continuing

[2017-07-31 19:35] hpinkos commented on #5676
This bug makes the [3D Tiles Interactivity](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20Interactivity.html&label=All) Sandcastle example completely broken in Firefox.  `pickPosition` looks like it's mostly working correctly in Chrome, but it never returns the right position in Firefox

[2017-07-31 19:40] hpinkos commented on #5676
@pjcozzi Actually, it looks like this works fine in 1.35 but is broken in master right now.  Do you think that's a significant enough problem to hold up the 1.36 release, or should we just shoot to fix this for 1.37?

[2017-07-31 19:56] hpinkos opened #5704 "Clean up CZML custom properties demo"
It took me way too long to figure out what this example was trying to demonstrate

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=CZML%20Custom%20Properties.html&label=All

- [ ] Get rid of the `Print values` button.  I don't think it is particularly useful.  If it is important to see the values, it would be better to display them on screen in a label.
- [ ] Replace the `Use interval da

[2017-07-31 20:03] hpinkos opened #5705 "Cleanup CZML Reference Properties example"
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=CZML%20Reference%20Properties.html&label=All

This example is confusing because unless you're working on a system that supports outline width, you can barely see the outline on the lower polygon:
![image](https://user-images.githubusercontent.com/3451886/28795946-b298b55a-7609-11e7-9611-c80e72eb85ae.png)

Change the example to reference to

[2017-07-31 20:15] hpinkos opened #5706 "Cesium Inspector: Show globe depth broken in Firefox"
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Cesium%20Inspector.html&label=All

- Open Firefox
- Toggle 'Show globe depth'
- Cesium freezes and crashes Firefox

[2017-07-31 20:16] hpinkos commented on #5706
Neither the `Show globe depth` or `Show pick depth` toggles work in IE.  Is that a bug or is that just because IE doesn't have support?

[2017-07-31 20:21] hpinkos opened #5707 "Cleanup Classification Sandcastle example"
- [ ] Grab a screenshot that doesn't include the 'default Bing Maps key' on-screen warning
- [ ] Make the 'Highlight trees' example the default example since that's the one we're showing in the screenshot

[2017-07-31 20:46] #5707 closed

[2017-07-31 20:57] hpinkos commented on #5522
The Particle System Fireworks sandcastle demo won't load in Firefox for me, it says the web page is slowing down the browser.  Is this why?

[2017-07-31 21:28] hpinkos commented on #5700
There are two IE test failures caused by the same `tile_translucentCommand` error:

* Scene/Cesium3DTileset verify batched points statistics
* Scene/Cesium3DTileset debugColorizeTiles for pnts with batch table

(I also noted these in #2860)

[2017-07-31 21:31] hpinkos commented on #2860
New test failures:
* Scene/Expression constructs regex
* Scene/Cesium3DTileset verify batched points statistics
* Scene/Cesium3DTileset debugColorizeTiles for pnts with batch table
* 7 Test failures in Scene/PointCloud3DTileContent
* 15 test failures in Scene/ShadowMap

[2017-07-31 21:33] hpinkos commented on #5176
This is still a problem.  Will someone have a chance to look at this before the 1.37 release in September?

[2017-07-31 21:56] #5573 closed

[2017-07-31 23:32] lilleyse commented on #5676
I think the problem is with the new render ordering for classification primitives. The order used to be:

Globe
Ground Primitives
Clear Depth
3D Tiles

but is now:

Globe
3D Tiles
Ground Primitives
Clear Depth

So by gaining ground primitives on 3D Tiles we lost `pickPosition` on 3D Tiles.

@bagnell do you know if there is a quick enough fix for the release tomorrow?

[2017-08-01 00:06] bagnell commented on #5676
There isn't a quick fix for this. I would say have users set `depthTestAgainstTerrain` to `true` until we figure out the best solution. We could have a fullscreen pass to copy the globe + 3D Tiles depth for each frustum every frame or have a depth only pass for 3D Tiles after the depth is cleared. Neither solution is ideal.

[2017-08-01 06:29] avalan4e57 commented on #5691
#5699

[2017-08-01 06:30] avalan4e57 commented on #5691
Made pull request #5699 yesterday. Maybe I should mention about it here.

[2017-08-01 07:12] AbdullahIngramMicro commented on #5663
Hi @keikland,
Thanks for the reply. Some of the info are important to me in changing the timezone. I am thankful for it. I understood that between the UTC timezone and the SST timezone is 8 hours time....
However, when I input this code 'datetime = Cesium.JulianDate.addHours(datetime, 8);' there is error which states that the result is required.....
I have very little knoweldge in constructing the

[2017-08-01 07:52] AbdullahIngramMicro opened #5709 "SST Timezone"
Hi Everyone, I want to construct the SST timing.... So iinput the code in the sandcastle...
var datetime = new Cesium.JulianDate();
var result = '';
datetime = Cesium.JulianDate.addHours(datetime, 8);
console.log(datetime);
It gave me errors as it states that result is required and what is result is for???
Can you please explain to me(steps by steps) on how to construct the Singapore Timezone(No f

[2017-08-01 07:56] AbdullahIngramMicro opened #5710 "Persist Imagery"
How to perform Persist Imagery??? When the user click one of the imagery and that imagery will be used if the website is reloaded or the browser opened?? I have found the function called the selectedImagery. I have no idea on how and where to put that function in my code......
My code is found below............
var imageryViewModels = [];
imageryViewModels.push(new Cesium.ProviderViewModel({

[2017-08-01 10:30] fuxinruming opened #5711 "1.35version resolution Bug"
Hello, I'm using the latest version 1.35 to build a simple earth error(fragment shader failed to compiled.) on the 7680*3240 resolution screen, and 1.34 of the 3dtiles branch versions do not have this problem. Will it be fixed in the next release? Thanks.in addition，when I load the 3dtiles at 7680*3240 resolution when the camera height decreases after a few seconds, this error will appear--Failed

[2017-08-01 13:23] ggetz commented on #5711
Hi @fuxinruming, Cesium is a large project, so we use GitHub exclusively for bug tracking and feature requests. Please ask questions on the [Forum](http://cesiumjs.org/forum.html). Thanks!

[2017-08-01 13:24] ggetz commented on #5710
Hi @AbdullahIngramMicro, Cesium is a large project, so we use GitHub exclusively for bug tracking and feature requests. Please ask questions on the [Forum](http://cesiumjs.org/forum.html). Thanks!

[2017-08-01 13:25] hpinkos opened #5712 "Web Map Tile Service with Time Sandcastle demo logs a lot of errors"
@tfili can we avoid this?

[code]

[2017-08-01 13:26] #5711 closed

[2017-08-01 13:26] #5710 closed

[2017-08-01 13:27] ggetz commented on #5709
Hi @AbdullahIngramMicro, same message as the other issue you opened- Cesium is a large project, so we use GitHub exclusively for bug tracking and feature requests. Please ask questions on the [Forum](http://cesiumjs.org/forum.html). Thanks!

[2017-08-01 13:27] #5709 closed

[2017-08-01 13:32] ggetz opened #5713 "Layers not being displayed correctly when using WebMapTileServiceImageryProvider"
Reported on the forum here: https://groups.google.com/forum/#!topic/cesium-dev/bxVddKqNPRI

Data is displayed in the correct place initially, but then moves to the Northern Pole/Greenland region

Something similar may be happening in the [Sandcastle demo](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Web%20Map%20Tile%20Service%20with%20Time.html&label=Beginner) as well

[code]

[2017-08-01 13:44] tfili commented on #5712
@hpinkos Nope. The way GEE for enterprise works, is that we retrieve the metadata for 4 levels at a time (3 for the root tile). So when a tile is requested that we don't have metadata for, we have to return a promise for the metadata request instead of `undefined`, which would be a correct response for a missing tile. Then later we realize there isn't an imagery tile, so the promise returns undefi

[2017-08-01 13:47] #5712 closed

[2017-08-01 14:32] pjcozzi commented on #5694
@moneimne please look at this after SIGGRAPH.

[2017-08-01 14:33] pjcozzi commented on #5695
@moneimne please look at this after SIGGRAPH.

[2017-08-01 15:17] cx20 commented on #4009
I confirmed that the model of glTF 2.0 will be displayed by Cesium 1.35.
https://github.com/cx20/gltf-test/tree/2.0

[2017-08-01 15:37] pjcozzi commented on #4009
@cx20 very nice, thanks for checking so quickly (also, I think you mean 1.36)!

[2017-08-01 15:39] hpinkos commented on #5629
Done https://github.com/AnalyticalGraphicsInc/cesium/releases

[2017-08-01 15:39] #5629 closed

[2017-08-01 15:40] pjcozzi commented on #5629
Very cool!!!

[2017-08-01 15:43] EduardoNogueira commented on #5417
I have the same problem using react with webpack. Using 1.31 and 1.32 works fine, but with 1.35 and 1.36 i get this same error whether using `Build/CesiumUnminified/Cesium.js` or `Build/Cesium/Cesium.js`

[2017-08-01 17:13] keikland commented on #5663
The code snippet was untested and the bug is actually an example of weird requirements in some Cesium functions.  Here is a working complete implementation that should work for you.

var TZcode = 'SST';
var UTCoffset = new Date();
UTCoffset = -UTCoffset.getTimezoneOffset();
var UTCscratch = new Cesium.JulianDate();

// Date formatting to a global form
function localeDateTimeFormatter(datetime, vie

[2017-08-02 00:25] pjcozzi commented on #5701
Most likely the tileset/tile does not have a request volume: https://github.com/AnalyticalGraphicsInc/3d-tiles/blob/master/README.md#viewer-request-volume

It should be OK to close this.

[2017-08-02 00:29] pjcozzi commented on #5522
@hpinkos most likely not.  It loads OK for me on Mac Firefox 54.  Can you confirm this doesn't load for you with a clean build and clear cache in Firefox 54, check out the console, and then submit a new issue if it is a problem?

[2017-08-02 00:30] pjcozzi commented on #5176
Unlikely, but let's keep this labeled `priority - next release`.

[2017-08-02 00:33] pjcozzi commented on #5676
@bagnell @lilleyse let's discuss to see if we are able to fix this for 1.37.

May also be able to solve #5683 at the same time.

[2017-08-02 01:37] AbdullahIngramMicro commented on #5663
Hi Kjell,
I don't know how to thank you for giving me a sample of code to perform SST timing...
There are errors when I inputted in the Cesiumjs Sandcastle....
On this one "if(UTCoffset) datetime = Cesium.JulianDate.addMinutes(datetime, UTCoffset, UTCscratch);"
The error states Expected '{' and instead saw datetime
On this one "objDT = '';"
The error states Expected '{' and instead saw objDT
On th

[2017-08-02 02:16] AbdullahIngramMicro opened #5715 "The Imagery selected is not shown when reload... Instead the default one..."
I input the code in the Sandcastle......
var viewer = new Cesium.Viewer('cesiumContainer');
        this.buttonImageUrl = undefined;
        knockout.defineProperty(this, 'buttonImageUrl', function() {
            var viewModel = this.selectedImagery;
            return defined(viewModel) ? viewModel.iconUrl : undefined;
        });

        /**
         * Gets or sets the currently selected image

[2017-08-02 02:24] AbdullahIngramMicro commented on #5715
I apologize as this is not my complete code. I am going to input a new code.....
var imageryViewModels = [];
imageryViewModels.push(new Cesium.ProviderViewModel({
     name : 'Open\u00adStreet\u00adMap',
     iconUrl : Cesium.buildModuleUrl('Widgets/Images/ImageryProviders/openStreetMap.png'),
     tooltip : 'OpenStreetMap (OSM) is a collaborative project to create a free editable \
map of the wor

[2017-08-02 04:17] AbdullahIngramMicro opened #5716 "Issues and bug in SST time"
var viewer = new Cesium.Viewer('cesiumContainer');
//SST timezone
var TZcode = 'SST';
//Construct a new Date
var UTCoffset = new Date();
//Return the timezone difference between UTC and Local Time:
UTCoffset = -UTCoffset.getTimezoneOffset();
//Construct a Julian Date
var UTCscratch = new Cesium.JulianDate();

// Date formatting to a global form
function localeDateTimeFormatter(datetime, viewModel,

[2017-08-02 07:46] keikland commented on #5663
The code I sent works with no problem in my setting.  In fact, by using external libraries, I generalized a version that automatically adjusts to the display of the local time zone.

Since I do not enclose the simple assignments between braces { code } in the the first "if" tests, you could try to add that.  For example, "if(UTCoffset) { datetime = Cesium.JulianDate.addMinutes(datetime, UTCoffset,

[2017-08-02 08:10] AbdullahIngramMicro commented on #5663
Hi Kjell,
Thank for the reply, Can you perhaps explain the meaning and the purpose of code in every line as I do not understand some of the code and is it alright if I give a complete code to you as I do not have a Javascript expertise??

[2017-08-02 08:17] keikland commented on #5663
First go to jshint.com and paste in your code on the line above the "function main()" statement.  That will identify any obvious problems with your js code.  I am on vacation and cannot promise that I can look at your code for about a week.

[2017-08-02 08:39] AbdullahIngramMicro commented on #5663
Hi Kjell,
I would like to thank for your help... Is it alright to give references  based on the code to me so I can learn more and can explain clearly to the JavaScript expert on what the problems is about and what do I want???
Thank you
Abdullah

[2017-08-02 12:35] thw0rted opened #5717 "Add "Typings" file to NPM package for Typescript consumers"
I've been working on a Cesium-based project for a few months now, and picked Visual Studio Code as my primary editor.  I was a little irritated that other libraries I rely on (like Moment and jQuery) have good feedback from Intellisense, while Cesium doesn't give me anything (out of the box, at least).  I learned that this is because the more popular libraries have a "Typings" file (`.d.ts`) eithe

[2017-08-02 13:22] ggetz commented on #5716
Hi @AbdullahIngramMicro, please post your questions to the [Cesium Forum](http://cesiumjs.org/forum.html), thanks!

[2017-08-02 13:23] #5701 closed

[2017-08-02 13:23] ggetz commented on #5715
@AbdullahIngramMicro, please post your questions to the [Cesium Forum](http://cesiumjs.org/forum.html). Thanks!

[2017-08-02 13:25] hpinkos commented on #5522
Okay, it worked after I cleared my cache

[2017-08-02 13:26] #5715 closed

[2017-08-02 13:26] #5716 closed

[2017-08-02 13:31] ggetz commented on #5717
Hi, thanks @thw0rted! There's been previous discussion about starting to use Typescript (see #4434) and it's included on our [BIM Roadmap](#4678) if you'd like to contribute to discussions there.

[2017-08-02 13:31] hpinkos commented on #5717
We've been talking about updating to es6 modules sometime soon, so we may be able to do this as part of that effort.

[2017-08-02 13:37] mramato commented on #5717
ES6 is orthogonal to this.

The best way to implement this would be to automatically generate it from the jsDoc comments, which is what some of our users have tried doing. (I believe jsDoc already outputs an interim json document that makes this straightforward).  Hopefully there is a standard tool available that we can use to validate the output so we can automatically detect when it's broken as

[2017-08-02 13:42] thw0rted commented on #5717
I read #4434, and while moving *to* TS would be neat and all, I'm talking about "just" adding typings sooner rather than later.  As Matt points out I think this is reasonably straightforward if the JSDoc is already correct (and of course, if the JSDoc isn't correct, it should be updated).

In the past few days working with it, the biggest hangup has been dealing with `Property` types.  I don't kno

[2017-08-02 13:45] thw0rted commented on #5717
Oh! And I forgot, while ES6 is kinda-sorta orthogonal, I believe that importing an ES6 module in VSCode will apply Typescript-style static checking to the JSDoc (if intact) which would mean you wouldn't strictly need a typings file to get Intellisense working.  (You might still need the file to actually include Cesium in a Typescript project without copping out and calling it `any`?)

[2017-08-02 14:46] thw0rted commented on #5717
I'm trying to rectify how Cesium handles `Property` with how Typescript wants this to work.

For example, in a simple Billboard Sandcastle, I can set `viewer.entities.billboard.show = false` and it *appears* to be setting a property of the `billboard`.  Under the hood, it looks like the setter is creating a `ConstantProperty` and saving that to a private member.  This is a common pattern across th

[2017-08-02 15:03] #5691 closed

[2017-08-02 15:22] mramato commented on #5717
While I don't have a good answer for you, what Cesium is inspired by another Microsoft language, C# and is normally referred to as implicit construction. You can read more about it here: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/implicit  It's not that the setter/getter are different types, it's that the Property type is automatically instantiated during the assign

[2017-08-02 16:12] thw0rted commented on #5717
I did a little research about implicit cast / implicit construction but didn't have time to really get into it.  I'm familiar with the idea, and the good news is that Anders Hejlsberg worked on both languages so there's probably support for getting the feature in there if it's not already.  I believe some primitive types can already be implicitly assigned / cast to one another, so hopefully there'

[2017-08-02 16:44] hpinkos opened #5720 "Model cache bug introduced in 1.36"
This code works in 1.35 but not in 1.36

[code]

As far as I can tell, `model2` gets it's glTF from cache, then `context.cache.modelRendererResourceCache` is cleared when `model1` is removed, and that causes `model2` to lose track of it's buffer and this error message shows up because eventually `model.gltf.buffers[id].extras._pipeline.source = buffer;` gets set to an arraybuffer of 0 length.

[co

[2017-08-02 16:45] hpinkos commented on #5720
@lilleyse @moneimne

[2017-08-02 18:10] mramato commented on #5720
CC @pjcozzi

Since this is breaking Composer, I took a quick look and tracked it down to `CachedRendererResources` and what looks like fundamentally broken caching.  The end result is that both models have their own instance of `CachedRendererResources` and when the first model is removed, it calls `CachedRendererResources.release` and destroys the shared resources that both instances point to.

T

[2017-08-02 23:53] chris-cooper opened #5721 "Possible regression in scene.pickPosition()"
I'm finding this example doesn't pick properly in latest master.  Picks are going off into the distance rather than stopping at a building.

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20Interactivity.html&label=All

![image](https://user-images.githubusercontent.com/484870/28899995-4e3dbe1e-7831-11e7-8b97-6ef08b248718.png)

![image](https://user-images.githubusercontent.c

[2017-08-03 00:03] chris-cooper commented on #5721
Appears to be this issue: https://github.com/AnalyticalGraphicsInc/cesium/issues/5676

[2017-08-03 00:03] #5721 closed

[2017-08-03 01:41] KlienCy commented on #5607
@hpinkos
cesium version 1.36
I did not use  `viewer.extend(Cesium.viewerCesium3DTilesInspectorMixin)`
but used ` viewer.scene.pick(position);`
Is still the problem
`Cesium3DTileFeature.js:91 Uncaught TypeError: Cannot read property 'setColor' of undefined`

[2017-08-03 13:55] ggetz commented on #5711
I believe this should be reopend. @hpinkos

From the forum: https://groups.google.com/forum/#!topic/cesium-dev/Bq1e6N8WGWU

[code]

[2017-08-03 14:08] mramato commented on #5711
If the only difference is resolution, than this is almost certainly not a bug in Cesium but more likely a limitation of the video card or other hardware Cesium is running on.

[2017-08-03 15:13] mramato opened #5722 "Bad artifacts in 3D Tiles BIM example"
Load the 3D Tiles BIM example and zoom and pan so that the tileset is near or over the horizong, you'll see alls kinds of artifacts flashing on and off:

![image](https://user-images.githubusercontent.com/1495196/28928893-7c725f78-783c-11e7-9f13-3926c10c003d.png)

![artifactts](https://user-images.githubusercontent.com/1495196/28928949-a72a5f90-783c-11e7-8f52-cc332ee726ab.gif)

CC @lilleyse

[2017-08-03 17:12] likangning93 commented on #5722
I know that `gltf-pipeline` used to have an issue with special characters causing binary gltf to be wrong and have weird byte offset errors that caused similar artifacts, I wonder if it's the same thing here.

[2017-08-04 13:20] mramato commented on #5711
There are many reasons it might have worked for you before but doesn't now.  I don't think anything changed in Cesium itself.  For example, I can't run Hello World at that resolution in 1.34 or 1.36 on my 650ti.  The resolution is not the only issue.  What is the value of window.devicePixelRatio?  What OS?  What video card?  Do you have the latest drivers?  The DPI settings of the host OS might ev

[2017-08-04 14:15] mramato commented on #5711
Just to close the "is this a bug?" aspect of this, I can successfully run Cesium at 7680*3240 on my laptop with a GTX 1050.  @fuxinruming let's move this conversation to the forum where others may be able to provide some additional advice: https://groups.google.com/forum/#!topic/cesium-dev/Bq1e6N8WGWU

[2017-08-05 03:54] pjcozzi commented on #5720
Thanks for researching this.  It probably does require delaying things to `update`, which is pretty widely down throughout the primitives.  It _should_ also play nice with 3D Tiles.

@lilleyse can you please make this change since it has potential subtle impact?  Let's try to get it into master soon.

[2017-08-05 04:18] pjcozzi commented on #5722
I suspect this tileset was not created with `gltf-pipeline` (not to say it is not the same issue) and has **custom shaders** that may be moving the vertex to a crazy position.

@lilleyse can you confirm that there are custom shaders in this tileset?

[2017-08-05 16:25] lilleyse opened #5723 "Improve shadows for models that don't have normals"
The shadowing system relies on the presence of normals for best results. Photogrammetry tilesets typically don't have normals and as a result have messy shadows. It may be possible to use different shadow bias settings for models without normals.

[2017-08-05 16:56] lilleyse commented on #5676
Added a temporary fix for the 3D Tiles Interactivity demo #5724. That code can be reverted when this issue is solved.

[2017-08-05 17:38] pjcozzi commented on #797
* [Reaching the Largest Gaming Platform of All: The Web. WebGL, WebVR and glTF](https://www.khronos.org/assets/uploads/developers/library/2017-gdc/GDC_Reaching-the-Largest-Gaming-Platform-of-All_The-Web-WebGL-WebVR-and-glTF_Feb17.pdf). GDC 2017

[2017-08-06 18:19] mramato opened #5725 "Point clouds broken in Columbus View"
![image](https://user-images.githubusercontent.com/1495196/29005838-1bc45ab4-7ab2-11e7-9025-9e3d2eef8e6a.png)

I'm not sure if this is a CV specific bug, a Point Clouds specific bug, or a general 3D Tiles bug, but there is something very wrong with Point Clouds in Columbus View, here's a complete snippet (It's just the stock sandcastle with CV mode enabled):

[code]

CC @lilleyse

[2017-08-07 13:25] ggetz commented on #1865
Brought up on the forum: https://groups.google.com/forum/#!topic/cesium-dev/nS_GzoZ4b5g

[2017-08-07 14:22] #5638 closed

[2017-08-07 15:16] mramato commented on #5688
The drop downs are there because otherwise there is too much output and travis won't show the entire log.  We actually opt-in to the drop downs for this reason.

I think there are two options here:

1. (preferred) Get rid of the dropdowns and cut down our output so there's not so much noise on successful builds and only output pertinent error information,
2. Update the travis.yml to figure out whi

[2017-08-07 16:00] BigDog6432 opened #5726 "PolylineGeometry 2D rendering incorrectly at certain zoom levels"
1. A concise explanation of the problem you're experiencing.
While in 2D polylineGeometry are not being rendered correctly at certain zoom levels.  Occassionally the graphic appears to extend down towards the lower left corner of screen.  In 3D it appears to render properly.  It seems to be related to the Z component is equal to 0.

2. A minimal code example. If you've found a bug, this helps us r

[2017-08-07 16:19] ggetz commented on #5726
Hi @BigDog6432! Sorry you are having issues with this. When I put this code into sandcastle, I could not replicate the behavior in the images. Could this be a problem with your graphics card?

For reference, link to the forum post with pcitures: https://groups.google.com/forum/#!topic/cesium-dev/5VDuZ4lQ_V0

[2017-08-07 17:25] hpinkos commented on #5726
I was able to reproduce this:
![image](https://user-images.githubusercontent.com/3451886/29037995-e8b327a0-7b73-11e7-8964-c71a8eb2699d.png)

[2017-08-07 17:28] hpinkos commented on #5726
@BigDog6432 as a workaround, try using a polyline primitive instead:

[code]

[2017-08-07 17:39] bagnell opened #5727 "Clean up czm_alphaWeight"
via @pmconne

In `czm_alphaWeight` we compute the fragment position in eye space when it isn't needed. It was used in previous versions, but can be removed.

[2017-08-07 20:38] hpinkos opened #5729 "3D tiles stops working after changing the scene mode"
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20Feature%20Styling.html&label=Showcases

1. Switch to 2D
2. Zoom back into manhatten
3. Switch back to 3D
4. When you zoom back to manhatten, you'll notice a lot of the tiles no longer pop in

[2017-08-07 21:35] hpinkos opened #5730 "Polygon lighting is significantly darker in 2D/CV"
For the [GeoJSON custom styling](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=GeoJSON%20and%20TopoJSON.html&label=DataSources) sandcastle demo, the polygons are bright and happy in 3D:

![image](https://user-images.githubusercontent.com/3451886/29046687-9050e50c-7b96-11e7-906a-d4ba1a2383a2.png)

But are much darker in 2D and CV:

![image](https://user-images.githubusercontent.com/3451

[2017-08-08 05:35] duoduohappy opened #5731 "cesium1.36 Model transparency"
![2](https://user-images.githubusercontent.com/14144081/29058542-6c3cffb8-7c43-11e7-8abe-b309d8807427.png)
cesium1.36
![1](https://user-images.githubusercontent.com/14144081/29058562-8a77ff8c-7c43-11e7-9efe-c7d90822d9d4.png)
cesium1.35
Find a problem, cesium1.36 The model becomes transparent,cesium1.35 Display normal

[2017-08-08 06:23] tomermoshe opened #5732 "Ellipse receives unwanted shadow when created with height=0"
When creating an ellipse entity with height=0 the ellipse receives what appears to be a shadow:
![image](https://user-images.githubusercontent.com/11088090/29058713-7951cda6-7c1a-11e7-95e9-5b15e758cc3f.png)

When not defining a height or setting it to undefined the shadow is gone but performance drops significantly:
![image](https://user-images.githubusercontent.com/11088090/29058775-cf86ecc4-7c1a

[2017-08-08 14:01] lilleyse commented on #5731
Would you be able to send over the model? That will help for debugging this.

[2017-08-08 14:05] ggetz commented on #5732
Thanks for submitting this @tomermoshe! I believe this may be a duplicate of #1825. Please comment in that issue if you have any additional thoughts. Thanks again!

[2017-08-08 14:21] #5732 closed

[2017-08-08 14:35] #5720 closed

[2017-08-08 18:11] pmconne commented on #5731
I'm also observing this issue. When globe is on, depth test appears to be disabled for translucent geometry only. If you have our OfficeBuilding data set, that one exhibits it - or I can send a simpler test case.

[2017-08-08 18:21] emackey opened #5733 "Reversed camera tilt, part 2"
The "reverse tilt" was first reported in #1970, and fixed in #2006, with one caveat:

I couldn't find an open issue for this, but shift-left-drag certainly causes problems.  In the animation below, I shift-drag the globe to the left, and then hold the middle-mouse and drag the mouse up and down.  The globe tilts left-and-right while the mouse goes up-and-down.

Then, I shift-drag the globe such th

[2017-08-08 18:24] hpinkos commented on #2877
Also see #5733

[2017-08-08 18:24] hpinkos commented on #5733
@emackey we have issue #2877 open, I added a comment to also see the details in this issue

[2017-08-08 18:24] #5733 closed

[2017-08-08 18:27] pmconne commented on #5731
[Translucent.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/1209171/Translucent.zip)

Globe off (translucent red cylinder behind opaque green cylinder):
![image](https://user-images.githubusercontent.com/22944042/29087958-a9b7cdd0-7c45-11e7-814e-db02be74319c.png)

Globe on:
![image](https://user-images.githubusercontent.com/22944042/29087928-9786f456-7c45-11e7-9528-e6e450d6361f.png)

[2017-08-08 18:37] pmconne opened #5734 "Incorrect blending with globe off and black background"
Opaque green cylinder (0,255,0,255), translucent red cylinder (255,0,0,127).
With globe off and black background, blending looks quite wrong:
![image](https://user-images.githubusercontent.com/22944042/29088156-4b6d57bc-7c46-11e7-892a-a1daf96f6f42.png)

Possibly related to [5731](https://github.com/AnalyticalGraphicsInc/cesium/issues/5731)?
Either way, this data set is attached [5731](https://gith

[2017-08-08 18:40] hpinkos commented on #5734
Thanks @pmconne!  I think this might also be related to #4170, but I'm not sure.
@bagnell @lilleyse what do you think?

[2017-08-08 18:44] pmconne commented on #5734
Thanks @hpinkos - just to clarify, this is with OIT enabled.

[2017-08-08 19:17] lilleyse commented on #5731
Thanks @pmconne for uploading the model, I'll start looking into this and #5734.

[2017-08-08 23:18] lilleyse commented on #5734
This is what I see, not as drastic. I'm not sure what would explain the difference...
![alpha](https://user-images.githubusercontent.com/915398/29098521-d34c62dc-7c6d-11e7-975e-a4d5742950fd.png)

Here is the Sandcastle code I'm using:

[code]

[2017-08-08 23:26] lilleyse commented on #5731
@pmconne It seems like this is caused by the recent architectural changes that allowed classification primitives to work on 3D Tiles - see https://github.com/AnalyticalGraphicsInc/cesium/issues/5676 for more context.

Now the globe and opaque 3D Tiles are rendered together into the same depth buffer, and their depth is cleared after classification primitives are rendered. This causes the red cylin

[2017-08-08 23:47] pjcozzi commented on #5730
Related to or duplicate with https://github.com/AnalyticalGraphicsInc/cesium/issues/1825#issuecomment-298458812

[2017-08-09 02:48] duoduohappy commented on #5731
scene.globe.depthTestAgainstTerrain=true   Display normal，Thanks@lilleyse

[2017-08-09 02:53] duoduohappy commented on #5731
Thanks @lilleyse , scene.globe.depthTestAgainstTerrain=true Display normal

[2017-08-09 02:56] duoduohappy commented on #5731
@lilleyse  vector layer Will the next release increase?

[2017-08-09 13:59] lilleyse commented on #5731
It's unlikely that vector tiles will be ready by the next release. Or do you mean something else?

[2017-08-09 15:12] tomermoshe commented on #1825
Forcing contextOptions to include the stencil buffer doesn't seem to work if height is defined.
Not defining height have a major hit on performance for some reason:
http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=22cb73605c5a289608c991f8fb733370

[2017-08-09 15:15] hpinkos commented on #1825
Hello @tomermoshe, when using entities, if you define a height it uses a `Primitive` to draw the geometry.  When you do not define a height, it is using a `GroundPrimitive`, which clamps the geometry to the terrain.  `GroundPrimitive`s are a little more complex to render, which is why you see a decrease in performance when you do not define height.

[2017-08-10 00:23] #5331 closed

[2017-08-10 00:23] #5501 closed

[2017-08-10 00:23] #5621 closed

[2017-08-10 00:23] cesium-concierge commented on #5501
Congratulations on closing the issue! I found these Cesium forum links in the comments above:
- https://groups.google.com/forum/?hl=en#!topic/cesium-dev/gn56Qo60i4s

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps development running smoothly!__ Have a great day.

[2017-08-10 03:24] duoduohappy commented on #5731
Thanks @lilleyse  We refer to mapbox vector label and vector line , I wonder if it will increase  next release？

[2017-08-10 10:55] tomermoshe commented on #1825
Created a possible fix #5736

[2017-08-10 14:14] emackey commented on #5621
Thanks for pointing out this code, @SunBlack.  It's fixed in master, and will be released with 1.37.

[2017-08-10 14:43] hpinkos commented on #5331
@denverpierce @oterral this issue was fixed in #5737 and will be included in the 1.37 release available on September 1st.  Thanks!

[2017-08-10 14:52] shunter opened #5738 "velocityReference is not supported within an interval."
Attempting to define an `alignedAxis` as a `velocityReference` does not work within an interval, producing the error:

`RuntimeError: {"interval":"2016-06-17T12:00:30Z/2016-06-17T12:01:00Z","velocityReference":"#position"} is not a valid CZML interval.`

In `CzmlDataSource`, `velocityReference` is handled directly in `processAlignedAxis`, which precludes its use anywhere other than as a constant `

[2017-08-10 15:32] denverpierce commented on #5331
Did you mean #5735?

[2017-08-10 15:37] hpinkos commented on #5331
uh, yes!  Thanks @denverpierce =)

[2017-08-11 05:10] cfickler opened #5739 "Windows Authentication Basemap Issue"
When locking down ArcGIS map services using Windows Authentication Cesium fails to authenticate correctly and all the tile requests receive a 401 error.

It turns out the reason is simple, the TrustedServers.contains method fails to correctly compare the provided url with the list of TrustedServers. The getAuthority call in the contains method strips out the scheme, in our case 'https://' and henc

[2017-08-11 13:06] mramato commented on #5739
Thanks for the report @cfickler!  @tfili can you take a look at this?

[2017-08-11 22:30] tfili commented on #5739
What does you `add` call look like? My guess is that you passing a full url to the `add` function instead of just the host name and port.

`add` requires a hostname and a port. If you pass a full URL this will cause `contains` to fail.

`contains` requires a URL where we will automatically add a port if the scheme is `http` or `https`.

If you look at the following Sandcastle example, you can see

[2017-08-12 00:24] cfickler commented on #5739
apologies!!!  I haven't looked at the help example close enough!!!

[2017-08-12 00:24] #5739 closed

[2017-08-14 02:00] duoduohappy opened #5742 "vector label and vector line"
Thanks @lilleyse We refer to mapbox vector label and vector line , I wonder if Cesium will increase next release？

[2017-08-14 07:04] oterral commented on #5331
good thx for the fix !!!!

[2017-08-14 11:04] hpinkos commented on #5742
@duoduohappy please ask questions like this on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev

I think we would like to implement mapbox vector tiles at some point, but it is not in the plan for the near future.

[2017-08-14 11:04] cesium-concierge commented on #5742
Congratulations on closing the issue! I found these Cesium forum links in the comments above:
- https://groups.google.com/forum/?hl=en#!forum/cesium-dev

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps development running smoothly!__ Have a great day.

[2017-08-14 11:04] #5742 closed

[2017-08-14 14:02] hpinkos commented on #4802
Someone requested this at the FOSS4G cesium workshop as well.  I think this would be a really popular feature if anyone has the chance to look at it soon.

[2017-08-14 15:09] pjcozzi commented on #4802
It's also a nice onramping issue.  @ggetz please add this to your backlog.

[2017-08-14 18:05] cguinnup opened #5745 "Label letters have uneven vertical offset when scaling"
Used the label Sandcastle, but disabled FXAA and set scale to 0.5:
![image](https://user-images.githubusercontent.com/15824044/29284138-7f0731be-80f7-11e7-9c6d-c2b9623f3c2f.png)
You can see the vertical height of the "a"s are off, and the horizontal line in the "e" is very nearly missing.    Reproduced in FF and Chrome.

[code]

[2017-08-14 18:17] pizza2code opened #5746 "Label text isn't pixel-aligned (even without FXAA)"
I set the font size to 12px in the labels Sandcastle and disabled FXAA.  The text degrades in quality significantly depending on the sub-pixel location of the text.

Poor:
![image](https://user-images.githubusercontent.com/15824044/29285085-320faedc-80fb-11e7-8eb6-73b52c0e856b.png)
Nearly ideal:
![image](https://user-images.githubusercontent.com/15824044/29285095-3728e816-80fb-11e7-9e6e-212de7c1fe

[2017-08-14 18:31] pizza2code commented on #5745
Similar misalignment also occurs when I set the font size to 14px and 16px, but don't use scaling.  This bug combined with #5746 makes it very difficult to display quality text without making the font size giant.  Also note that FXAA doesn't solve either case, which I notice was discussed as a solution in the blurry text & billboards issues.

[2017-08-14 18:33] emackey commented on #5746
Related:  https://github.com/AnalyticalGraphicsInc/cesium/issues/4235#issuecomment-242516462

[2017-08-14 20:51] difnicolas commented on #4983
Ran into problems with this issue quite often in recent changes to our code base. Adding a try catch around a block of code was able to mitigate the issue for us.
Source/Scene/PolylineCollection.js
Inside of the PolylineCollection.prototype.update Function.
Line 465 where the else statement is is where i put the try around. so it looks like
`} else {
                try{
                    var le

[2017-08-14 21:49] emackey opened #5747 "Picking works through the Earth"
Rotate this demo to place the object on the back side of the globe.  The object is large, mostly to prevent it being culled while on the back, but this also makes it very easy to "guess" where the object might be on the opposite side of the globe.  Picking this object works even when it's on the other side.  Sometimes it takes a few tries.

Reported by @GatorScott.

[Live demo](http://cesiumjs.org

[2017-08-14 22:11] rahwang opened #5748 "Create a sandcastle demo for the PropertyPosition"
Here's a starting point: http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=6abfa30d3b4009df4fb5090f2610ac52

[2017-08-14 22:14] rahwang opened #5749 "Create a sandcastle example for side-by-side 2D / 3D camera view"
Inspired by this thread:
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/PHdfvmY0reU

Here's a starting point:
http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=ef5786bd9de52078cff96bf9788cb022

[2017-08-14 22:15] rahwang opened #5750 "Create a sandcastle example showing basic measurement and usage of Geodesic"
Here are some starting points:

http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=e1fe0fd7816b924bfbec5e06b0d6975e

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=5b8a00c55318737f13951039166cf588

[2017-08-14 22:18] rahwang opened #5751 "Create a sandcastle example showing how to do visibility testing with picking"
We end up referencing this thread a lot in the forum: https://groups.google.com/forum/#!searchin/cesium-dev/weak$20terrain%7Csort:relevance/cesium-dev/ZSGJAUqnGR0/2g_M-n5PCAAJ

Contains some nice starting points for sandcastle examples!

[2017-08-14 22:20] rahwang opened #5752 "Improve educational materials around performance"
A lot of people on the forum end up asking about how to improve performance for some specific use case. It would be nice to have a central resource discussing some common issues (eg. entities vs primitives)

Here are some helpful threads:
https://groups.google.com/forum/?hl=en#!searchin/cesium-dev/primitive$20custom$20property%7Csort:relevance/cesium-dev/ySKnWXFydgY/1PgFb6xvXYIJ

https://groups.go

[2017-08-14 22:33] hpinkos commented on #5747
Duplicate #4290

[2017-08-14 22:33] #5747 closed

[2017-08-14 22:34] hpinkos commented on #4290
Also see example @emackey posted in #5747

[2017-08-15 14:29] emackey commented on #5751
Interesting request for "Weak depth testing."

[2017-08-16 07:30] duoduohappy opened #5756 "3d-tiles-vector branch is vector tiles? same as mapbox vector tiles?"
Hello @hpinkos  3d-tiles-vector branch is vector tiles? same as mapbox vector tiles?

[2017-08-16 20:14] ggetz opened #5757 "Event listeners are not being removed when an entity is destroyed"
Adding entities (or any kind of Cesium object with a definitionChanged object) to an Entity as a non-standard key causes a listener to be added to it, and not removed.

Here's a Sandcastle example showing the issue: http://www.google.com/url?q=http%3A%2F%2Fcesiumjs.org%2FCesium%2FApps%2FSandcastle%2F%3Fsrc%3DHello%2520World.html%26label%3DShowcases%26gist%3Df0bbec7cd261365aaadd3bb991c4261c&sa=D&sn

[2017-08-16 20:39] hpinkos commented on #5756
@duoduohappy no, this is for the [3D tiles](https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/25) vector tile specification.  I don't think we have plans for mapbox vector tile support in the near future.

Do not open any more GitHub issues when you have questions.  Instead, ask on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We are happy to answer your questions and

[2017-08-16 20:39] #5756 closed

[2017-08-16 20:39] cesium-concierge commented on #5756
Congratulations on closing the issue! I found these Cesium forum links in the comments above:
- https://groups.google.com/forum/?hl=en#!forum/cesium-dev

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps development running smoothly!__ Have a great day.

[2017-08-16 23:55] pjcozzi opened #5758 "Allow ClassificationPrimitive to "hide" objects"
@bagnell we are doing this 3D Tiles classification tiles, but how hard is this for the general `ClassificationPrimitive` where it could be classifying anything in the scene?  Can we use the same-ish rendering pipeline?

[2017-08-17 18:16] bagnell commented on #5758
The `ClassificationPrimitive` and 3D Tiles classification tiles render in the same pass so we wouldn't need to do anything different.

[2017-08-17 19:20] ggetz opened #5760 "Include declustered entities in cluster callback"
Requested on the Forum here: https://groups.google.com/forum/#!topic/cesium-dev/hUrOxJQjjzg

They would like a way to access the entities that have been unclustered in the cluster callback function when the event is fired.

[2017-08-18 14:28] scottnc27603 commented on #4802
Any updates on when this feature will make it into a release?

[2017-08-19 17:52] pjcozzi commented on #4802
@scottnc27603 no update, but contributions are very welcome if you have the bandwidth.

[2017-08-19 17:54] pjcozzi commented on #5758
Very nice, please just close this when that ships, or even cherry pick if parts of it can go into master sooner.

[2017-08-19 21:31] pjcozzi commented on #5516
Fixed by https://github.com/AnalyticalGraphicsInc/cesium-concierge

[2017-08-19 21:31] #5516 closed

[2017-08-19 21:33] pjcozzi commented on #5489
Now duplicate with https://github.com/AnalyticalGraphicsInc/cesium-concierge/issues/11

[2017-08-19 21:33] #5489 closed

[2017-08-19 21:34] pjcozzi commented on #5237
Soon to be fixed with https://github.com/AnalyticalGraphicsInc/cesium-concierge/pull/57 and https://github.com/AnalyticalGraphicsInc/cesium-concierge/issues/60

[2017-08-19 21:34] #5237 closed

[2017-08-19 21:39] pjcozzi commented on #5606
Pilot for the simple case of obj2gltf: e17db649a544937e4c153a250c372f8a9df2f6cc

[2017-08-21 00:27] pjcozzi opened #5761 "sampleTerrain test failures in master"
@ggetz server issue?

[code]

[2017-08-21 13:25] hpinkos opened #5762 "ImageryLayer maximumZoomLevel and minimumZoomLevel don't update"
https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=a607455976f680a838e5f8a5edc3b798

via @klim705

I'm trying to have slider inputs update minimum and maximum terrain levels for an imagery layer on the fly so that a user could change zoom levels and see the updates happen live, but the changes don't seem to take effect immediately. They do seem to apply after

[2017-08-21 23:35] pjcozzi commented on #5676
Discussed with @bagnell offline and we will fix this in 1.37 by rendering classification primitives up to 2x with a enum that is `3D Tiles`, `Terrain`, or `Both` (default).

Longer term, #2160 will fix this since there will be no clear depth step after terrain / 3D Tiles.

[2017-08-21 23:41] pjcozzi commented on #2694
Discussed a bit offline with @bagnell today.  @bagnell said he already tried this, but I still think we should re-investigate something like checking the center and corner points of a billboard/label against the depth buffer in the vertex shader, and then "passing depth" (e.g., not pushing in front of the near plane to clip it) if all (or maybe `n`) points pass.  Probably enable depth writes but n

[2017-08-22 13:33] YonatanKra opened #5763 "Broken link in contributor guide"
The link: http://cesiumjs.org/2013/10/08/GitHub-Pull-Request-Workflows/ is broken.
It shows in this section: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#pull-request-guidelines

[2017-08-22 15:21] mramato commented on #5761
This is definitely a missing rewrite from the old cesiumjs.org.

[2017-08-22 15:24] pjcozzi commented on #5761
Gotcha.  @ggetz can you please look at this soon?

[2017-08-22 17:41] ggetz commented on #5761
Yes, I'm looking at this right now!

[2017-08-22 19:17] ggetz commented on #5763
I've updated a redirect rule so this will redirect to the correct blog location. Make sure you clear your cache or open in an incognito window to see the change.

[2017-08-22 22:28] pjcozzi opened #5765 "User-defined clipping planes"
For example, to reveal the interior of a CAD model in a 3D tileset.

Support up to 6 planes so a user can create a cube.

The classic implementation of this is a fragment shader with a 1D alpha texture (or maybe just `discard`).

Probably expose this for 3D tilesets and glTF models.  We can add it to primitives, terrain, etc. if those cases come up.

[2017-08-22 23:59] kring commented on #5765
I recently added cross-section support to a glTF model for a proof-of-concept for a customer.  It can be done external to Cesium using some existing (but undocumented) hooks.  Simple but effective:
https://github.com/TerriaJS/terriajs/blob/underground-poc/lib/Models/GltfCatalogItem.js#L259

[2017-08-23 00:18] pjcozzi commented on #5765
Contributions to core Cesium welcome. 😄

[2017-08-23 00:23] kring commented on #5765
Haha, well, I wasn't really sure we'd want it in core Cesium.  At least, building stuff like this into the Model class seemed questionable.  It's already huge!  Maybe more like a plugin (or at least separate class) that bolts this feature on the way the code above does?

[2017-08-23 00:45] pjcozzi commented on #5765
I suspect this will be a property (or array of clip planes) applied to a model or tileset that then modifies the shaders.

The implementation can probably be added pretty cleanly and be in mostly a separate file so we can add it elsewhere if/when needed.

Also, if there are other terria features that you are not sure if Cesium would want, please send me a list. 😀

[2017-08-23 00:57] mramato opened #5766 "3D Tiles selection bug?"
Check out the NYC Sandcastle examples: https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20Feature%20Picking.html&label=3D%20Tiles

If you just sit there and let everything load, some of the tiles that should be visible never get loaded even though they are definitely within the SSE (verified by waiting for the network tab to stop loading tiles).  If you move the camera around,

[2017-08-23 01:54] lilleyse commented on #5766
Seems to be a problem with `skipLevelOfDetail`. I'll investigate.

[2017-08-23 09:25] AnotherFoxGuy commented on #5662
Made a small sandcastle demo: https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=6079abc25a6ff992220adc40da0284b3

I'm using [Mapzen vector tiles](https://mapzen.com/projects/vector-tiles/) to get Geojson data and load it using ```Cesium.GeoJsonDataSource().load()```
After browsing the map a while, Cesium starts using more and more ram and crashes after reachi

[2017-08-23 12:43] likangning93 commented on #5765
!!!!

[2017-08-23 15:46] fcayre commented on #5538
I tried to debug that one unsuccessfully until now. However I noticed:
* this error in the console when the number of polylines is 20000 for instance: "bound vertex attribute buffers do not have sufficient size for given indices from the bound element array"; this error does not show up for a lower number of polylines (2000 for instance); so the vertex indices and position buffers do not match
* w

[2017-08-23 16:02] #5761 closed

[2017-08-23 23:48] pjcozzi commented on #5766
Good catch, thanks @mramato!

@lilleyse if it's realistic, looks like an important fix for the next release.

Maybe this is a simple additive vs. replacement issue?

[2017-08-23 23:50] pjcozzi commented on #5763
Thanks for the report @YonatanKra!

@ggetz is the best practice for us to update all of our links and not rely on the redirects?  If so, please only a `doc` issue for it.  Perhaps @slchow could help.

[2017-08-23 23:50] #5763 closed

[2017-08-24 06:54] fcayre commented on #5538
OK we finally spotted an offset in the polyline indices buckets, a pull request should be submitted soon.

[2017-08-24 08:22] AnotherFoxGuy opened #5774 "Geojson memory leak"
I'm using [Mapzen vector tiles](https://mapzen.com/projects/vector-tiles/) to get Geojson data and load it using ```Cesium.GeoJsonDataSource().load()```
After browsing the map a while, Cesium starts using more and more ram and crashes after reaching ~3GB RAM

Made a sandcastle demo to show the Geojson memory leak: https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&

[2017-08-24 12:08] SunBlack commented on #5766
We can confirm since issue with point clouds (additive). Issue exist since #5254

[2017-08-24 13:51] ggetz opened #5775 "Update links in documentation to match new site urls"
We've migrated materials from cesiumjs.org to cesium.com. Some links in our documentation rely on a redirect to the new location, but we should update all links pointing to cesiumjs.org to the new valid locations on cesiumjs.org or cesium.com.

[2017-08-24 13:51] ggetz commented on #5763
Opened #5775

[2017-08-24 15:45] ggetz commented on #5774
Thanks for the report @AnotherFoxGuy, and thanks for the Sandcastle demo!

We'll try to take a look at this soon. If you're able and have time to debug the problem yourself, we'd be happy to accept any contributions.

[2017-08-24 15:57] hpinkos opened #5776 "Remove pipeline extras for glTF"
This change was made to fix a caching bug: https://github.com/AnalyticalGraphicsInc/cesium/pull/5728

But as a result, `extras: {_pipeline: {....}}` is added everywhere in the `Model.glTF` object.  This has to significantly bloat the size of the gltF in memory.

[2017-08-24 19:41] ggetz commented on #5203
I think this problem experienced on the forum is related: https://groups.google.com/forum/#!searchin/cesium-dev/paula%7Csort:relevance/cesium-dev/FiF8tbgoPjw/ZXHBhlhABAAJ

##### With `perPositionHeight = false`
![image](https://user-images.githubusercontent.com/4439461/29685134-83190a8c-88e2-11e7-98bf-aaf6354ce77f.png)

##### With `perPositionHeight = true`
![image](https://user-images.githubuserc

[2017-08-24 19:44] slozier opened #5777 "ScreenSpaceEventHandler touch events not working properly with Chrome"
I've been using code similar to the code below to handle mouse events and it works fine (for mouse events). However when using a touch device with Chrome it does work properly.

[code]

When running the above in the Cesium sandcastle and touching the screen twice I get the following error message in the console:

Instead of the expected result:

---

In #4768 @mramato suggests not using ScreenSpac

[2017-08-25 06:46] pasu opened #5779 "HeightMapTessellator with WebMercatorTilingScheme"
Hi,
I create one terrainProvider named ArcGisElevation3DTerrainProvider, which spatial reference is 3857(WebMercator), and the server url is here: https://elevation3d.arcgis.com/arcgis/rest/services/WorldElevation3D/Terrain3D/ImageServer/

You can visit my demo here:https://pasu.github.io/ExamplesforCesium/examples/examples.html#Primer-Terrain

In version 1.31, it is OK, but I am afraid after vers

[2017-08-25 07:04] pasu opened #5781 "Gallery::Imagery Layers Split"
Hi,
A little suggestion:
https://pasu.github.io/ExamplesforCesium/examples/examples.html#Visualization-Planet
I make this demo Imagery Layers Split, which is similiar with Cesiums'.
One day I browsed this demo and found it did not support touch event
Here is my modification and I tested it was fine:

document.getElementById('slider').addEventListener('mousedown', mouseDown, false);
document.getEle

[2017-08-25 13:25] ggetz commented on #5777
Hi @slozier, this seems to be a more of a question, which we recommend asking on the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev) instead of opening an issue. We use the GitHub repo exclusively for bug reports and feature requests. Thanks!

[2017-08-25 13:29] ggetz commented on #5777
I would say that @emackey's [comment here](https://github.com/AnalyticalGraphicsInc/cesium/issues/4768#issuecomment-278378832) is a valid workaround currently.

[2017-08-25 13:34] slozier commented on #5777
@ggetz Seems like a bug to me...

[2017-08-25 13:48] emackey commented on #5777
This is not a bug.  You're creating and destroying event handlers without unhooking the events, and you're creating a whole new ScreenSpaceEventHandler on every single click, which is going to lead to terrible things.  Try this instead:

[code]

[2017-08-25 13:49] #5777 closed

[2017-08-25 13:49] cesium-concierge commented on #5777
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!forum/cesium-dev

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-08-25 14:12] ggetz commented on #5781
Good suggestion, thanks @pasu!

[2017-08-25 14:22] pjcozzi commented on #5203
@ggetz this issue is closed, do you want to re-open it or create a new one?

[2017-08-25 14:24] ggetz commented on #5203
This seems like the same problem, so reopen please.

[2017-08-25 14:51] #5766 closed

[2017-08-25 14:57] hpinkos commented on #5622
@bagnell  to clarify my use case, I have a polyline that follows around the mouse pointer, but I want to click a building in a 3D tileset.  Sometimes using `scene.pick` picks the polyline instead of the building, which is why I want to use `drillpick` to test if one of the things I clicked was a building before calling `pickPosition`.

[2017-08-25 15:44] bagnell commented on #5622
The problem here is that `pickPosition` uses the depth buffer from the last render. The way `drillPick` works is that it renders, removes what was picked, renders, etc. At the end, there is nothing in the depth buffer for `pickPosition` to find because it was all removed in the `drillPick` renders. The negative heights are from the depth plane that we render so primitives behind the globe are hidd

[2017-08-25 15:58] hpinkos commented on #5622
Is there a reason `drillPick` doesn't put everything back after it's finished?

[2017-08-25 17:02] mramato commented on #5762
So `ImageryLayer` doesn't actually expose `minimumTerrainLevel` or `maximumTerrainLevel`, they are set at contruction time and then it stores it on private underscore versions of the variable.  Modifying the underscore versions of the variables doesn't help either because the layer would still need to notify the imagery system that something had changed.

@tfili may have some ideas on an easy fix

[2017-08-25 19:08] ggetz commented on #4327
Also reported here: https://groups.google.com/forum/#!topic/cesium-dev/a-m284HtIiA

[2017-08-27 09:17] dotansimha commented on #5241
@rahwang sounds amazing! is that already under development?

[2017-08-27 23:14] Rikaelus commented on #5726
I've been having a similar problem as I've been developing a network weather map. It seems to be present on all zoom levels of SCENE2D. SCENE3D and COLUMBUS_VIEW render fine. As I zoom in closer they're less visible as they seem to almost grow more narrow and darker. The lines are recognized as part of the entity (I can click on them and get the popup) but the behavior has me thinking it's strictl

[2017-08-28 08:53] jbo023 commented on #5477
the examples i posted don't work at the moment. They work again with pull request:
https://github.com/AnalyticalGraphicsInc/cesium/pull/5783

[2017-08-28 14:21] ggetz commented on #5241
@dotansimha If you have the time, we'd be more than happy to provide guidance or review a pull request for your contribution! Checkout our [Contributor's Guide](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md) for how to get started.

[2017-08-28 14:34] hpinkos commented on #5726
Thanks for the info @Rikaelus!  We'll give you an update when we have a chance to look into this.  Or if you have some time and are able to find a solution, we're happy to review a pull request. Thanks!

[2017-08-28 15:24] emackey commented on #5622
We wouldn't want `drillPick` to always re-render the scene if it wasn't going to be needed.  Maybe there could be a flag indicating the depth buffer is dirty after `drillPick`, and in need of re-rendering before other operations that reuse it?

[2017-08-28 17:30] emackey commented on #5781
The above update doesn't support PointerEvents.  Maybe use ScreenSpaceEventHandler instead?

[2017-08-28 17:50] bagnell commented on #5622
@emackey is right, we could track if it is dirty and re-render before other operations but that is still probably not what you want.

If you render after a `drillPick`, the `pickPosition` will always return the position of the closest thing. You want the position under the mouse of everything returned by `drillPick` right? We could add a function like `drillPick` that returns every object under th

[2017-08-28 19:58] hpinkos opened #5787 "glTF lighting change in 1.36"
The CesiumMilkTruck-kmc model is completely black when not lit by the sun in 1.36.  This was not the case in 1.36.  Was this change intentional? @lilleyse

1.35:
![image](https://user-images.githubusercontent.com/3451886/29791024-92900d92-8c09-11e7-8171-517e07626479.png)

1.36:
![image](https://user-images.githubusercontent.com/3451886/29791030-96bfb016-8c09-11e7-9ca3-f7936b60b457.png)

Load this

[2017-08-28 21:19] ggetz commented on #5025
Requested on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Axk7LMMOD8Q

[2017-08-28 21:52] hpinkos commented on #5622
Thanks for the input @bagnell, @emackey!  Calling `scene.render` fixes the problem, and it sounds like we're not going to make any changes in Cesium with regards to this, so I'm going to close this issue.

[2017-08-28 21:52] #5622 closed

[2017-08-28 23:16] lilleyse commented on #5112
Possibly affecting this photogrammetry tileset too, from https://groups.google.com/forum/#!topic/cesium-dev/KxpSBtfKetk.
![crackin2d](https://user-images.githubusercontent.com/915398/29797477-40b89522-8c25-11e7-8f93-433a5e3aa899.jpg)
However not noticeable for the AGI photogrammetry tileset.
![agi](https://user-images.githubusercontent.com/915398/29797490-536e2538-8c25-11e7-8fa6-421087dbdaab.PNG)

[2017-08-29 00:28] pasu commented on #5781
Well, I will try and test  this idea later, thanks

[2017-08-29 05:49] pasu commented on #5781
I got this new skill, @emackey
Here is my update and I test it in Chrome, iPhone 6s and Android(Huawei P9)
it is ok.

[code]

[2017-08-29 14:10] emackey commented on #5781
@pasu Awesome!  Would you be willing to contribute this back to the Sandcastle demo for us?  We would [need a CLA](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#contributor-license-agreement-cla) (unless you work for a company that already signed a Cesium CLA).

[2017-08-29 14:48] lilleyse commented on #5477
@jbo023 your fix in b74aab6 is good. I tried a few different tilesets and haven't noticed any issues with that approach. I arrived to a similar solution in https://github.com/AnalyticalGraphicsInc/cesium/pull/5785/commits/8e28a6fdeefad91475f678f591ea5aade4be525d but just didn't take it all the way.

[2017-08-29 14:56] jbo023 commented on #5477
@lilleyse should i create a PR, or do you just integrate the fix yourself ?

[2017-08-29 15:01] lilleyse commented on #5477
I just opened #5788 - needed to add an exception for the `loadSiblings` flag but otherwise was similar to here.

[2017-08-29 15:26] ggetz commented on #5781
We have a CLA from @pasu already 😄

[2017-08-29 19:17] #5676 closed

[2017-08-29 20:16] ggetz opened #5790 "Clustered billboards flicker when transitioning between scene modes"
You can see this in the Clustering Sandcastle example: https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Clustering.html&label=Showcases

Switch the scene mode from 3D to 2D and the billboards flicker.

Reported on the forum here: https://groups.google.com/forum/#!topic/cesium-dev/Wd0P0EnFDjA

[2017-08-29 23:35] lilleyse commented on #5787
Should be better now - fixed here: https://github.com/AnalyticalGraphicsInc/gltf-pipeline/pull/313
![dark](https://user-images.githubusercontent.com/915398/29848852-31a999ce-8cf1-11e7-9859-e1b6252e957a.PNG)

[2017-08-30 02:03] pasu commented on #5781
Yes, I registered CLA:smile:
Now, I am pulling another request #5780 .
When I committed this html page, it would cause errors for the CI test, so I had to rollback the code for the Reviewers. And I largely believe there is nothing wrong with my code.
So would you like to commit this for me or when cesium close the current request #5780, I promise to commit it later. Either is OK to me. I really ho

[2017-08-30 13:03] emackey commented on #5781
I think the Sandcastle cleanup could be separate from #5780.  Sounds like it should wait for that one to get merged first.

[2017-08-30 13:39] emackey opened #5792 "Source links in documentation are broken"
Reported by @gberaudo in #5791.

All of the source links (the small hyperlinks in the right margin of each sub-header) are broken.  For example:  https://cesiumjs.org/Cesium/Build/Documentation/EntityCollection.html#getById

The link's target looks like this:

https://github.com/AnalyticalGraphicsInc/cesium/blob/1.36.0-13623056/Source/DataSources/EntityCollection.js#L388

The problem here is `1.36

[2017-08-30 13:50] mramato commented on #5792
Our website is also showing the wrong version in Sandcastle, @ggetz can you take a quick look to see if it's something obvious that changed in the build process.

[2017-08-30 13:51] mramato commented on #5792
Actually, this is most likely specific to how the version of Cesium on the website gets updated and not anything to do with Cesium's build itself.  Which means @ggetz is even more of the right person to check this out.

[2017-08-30 13:53] emackey commented on #5792
Agreed.  It doesn't seem to affect the "archived" version, such as:

https://cesiumjs.org/releases/1.36/Build/Documentation/EntityCollection.html  -- works fine

It also doesn't affect local developer builds.  It seems to be only the main hosted version that's incorrect.

[2017-08-30 13:55] emackey commented on #5792
Downgraded from "next release" since the release itself doesn't seem to be broken.

[2017-08-30 14:17] ggetz commented on #5792
To clarify, using  the [cesiumjs.org](https://github.com/AnalyticalGraphicsInc/cesium/tree/cesiumjs.org) branch and running `npm run release` will be the version we want hosted, right?

[2017-08-30 14:22] mramato commented on #5792
Yes.

[2017-08-30 14:48] ggetz commented on #5792
Alright, this is fixed on the site now, and I'm working on fixing this as part of the automated website build process.

[2017-08-31 01:08] AbdullahIngramMicro opened #5793 "guideline for local map server in cesium"
Hi all
Is there a guideline for setting up the local map server in Cesium??

[2017-08-31 13:41] ggetz commented on #5793
Hi @AbdullahIngramMicro, please ask questions over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev). Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively. Thanks!

[2017-08-31 14:06] pjcozzi commented on #5787
OK to close?

[2017-08-31 14:12] pjcozzi commented on #5683
Added in #5770.

[2017-08-31 14:12] #5683 closed

[2017-08-31 14:12] cesium-concierge commented on #5683
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/I4tqwhskXBw

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-08-31 14:13] pjcozzi commented on #5731
@lilleyse please close if you confirmed this is fixed in #5770.

[2017-08-31 14:17] #5793 closed

[2017-08-31 14:17] cesium-concierge commented on #5793
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!forum/cesium-dev

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-08-31 14:18] lilleyse commented on #5787
Yeah

[2017-08-31 14:18] #5787 closed

[2017-08-31 14:20] emackey commented on #5792
OK to close?

[2017-08-31 14:31] ggetz commented on #5792
Yes please, thanks @emackey!

[2017-08-31 14:41] mramato opened #5794 "Cesium3DTileset missing proxy option"
All of our data providers (Imagery, Terrain, DataSources) provide the ability to specify a `proxy` option to work around CORS issues, but it looks like `Cesium3DTileset` is missing this capability.  I'm not sure how many different places create URLs during the loading process, but this should be easy enough to add to anyone that knows the code well enough already.

[2017-08-31 14:41] #5792 closed

[2017-08-31 21:26] ggetz opened #5795 "Allow polylines to connect points with Rhumb lines"
[code]

Turn on 2D mode and the line will appear warped, even though it's connecting two points of a constant latitude, because the polyline is connecting the two points with a great arc.

The `followSurface` property only allows the two points to be connected with a great arc or linearly (which clips through the globe):
https://cesiumjs.org/Cesium/Build/Documentation/PolylineGraphics.html?classFi

[2017-08-31 21:26] hpinkos commented on #5795
Duplicate #4000

[2017-08-31 21:26] #5795 closed

[2017-08-31 21:27] ggetz commented on #5795
Thanks @hpinkos!

[2017-08-31 21:42] shunter commented on #3057
Note that STK Components 2017r2 shipped several months ago with the improved ellipsoid geodesic algorithms, adapted from Charles Karney's formulations and GeographicLib.

http://help.agi.com/AGIComponents/html/T_AGI_Foundation_Geometry_Shapes_EllipsoidGeodesic.htm

Since the Cesium implementations were originally adapted from the prior STK Components implementation in the first place, the current

[2017-09-01 00:12] pjcozzi commented on #3057
Cool, could be a good onramping project.

[2017-09-01 14:51] #5477 closed

[2017-09-01 15:24] jburr-nc commented on #2694
Unsure if this is related or not, but is anyone else experiencing 3D dome shapes distorting KML data sources?

[2017-09-01 15:32] #5400 closed

[2017-09-01 16:04] #5297 closed

[2017-09-01 17:23] #5475 closed

[2017-09-01 17:26] #3448 closed

[2017-09-01 19:13] lilleyse opened #5805 "Video not playing in Sandcastle demo"
In the Video Sandcastle demo all I see is this:
<img width="394" alt="video" src="https://user-images.githubusercontent.com/915398/29984287-b2e53812-8f27-11e7-8a9b-162536f11b87.PNG">

I checked that the video paths still works. Does anyone have an idea? I have it labelled for next release.

[2017-09-01 19:16] hpinkos commented on #5805
Is it an http/https issue?

[2017-09-01 19:17] hpinkos commented on #5805
Yeah, change the links to point to `https://cesiumjs.org/...`

[2017-09-01 19:17] ggetz commented on #5805
May be an issue with the settings on on the file since moving to S3, I'll take a look.

[2017-09-01 19:20] ggetz commented on #5805
Yeah I think @hpinkos id right

[2017-09-01 19:26] shunter commented on #5805
Looks like the content-types are wrong for the files, which is probably breaking the video tag.

`curl -LkD - 'https://cesiumjs.org/videos/Sandcastle/big-buck-bunny_trailer.webm' -o /dev/null`

[code]

[2017-09-01 19:33] ggetz commented on #5805
All the content-types are correct in s3 except for the `webm` file, which I just updated.

[2017-09-01 19:53] lilleyse commented on #5805
Those changes helped.

A different problem now - the video stays stuck on a middle frame. Works in Firefox but not Chrome. Can someone test if this also happens for them?

<img width="344" alt="video2" src="https://user-images.githubusercontent.com/915398/29985418-f4a2251c-8f2c-11e7-860e-6f361ff6212a.PNG">

[2017-09-01 19:55] hpinkos commented on #5805
It works fine for me

[2017-09-01 20:02] lilleyse commented on #5805
Hm, it could just be me then. I'll reopen if I see that problem anywhere else.

[2017-09-01 20:03] #5805 closed

[2017-09-02 18:41] pjcozzi opened #5808 "Post process framework roadmap"
* Initial implementation: #5615
* 5-year old [notes](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Screen-Space-Rendering-Details)
* [ ] Reuse ping-pong textures: if we're not already doing this, I realized that when we are rendering to down-sampled textures, it would probably be better to just reuse a larger texture and render to a subset of it so we overall allocate fewer textures.  Somew

[2017-09-03 02:49] kaktus40 commented on #3256
Hello, now that [localFrameToFixedFrameGenerator](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/Transforms.js#L123) has been implemented in this [pull](https://github.com/AnalyticalGraphicsInc/cesium/pull/4896), maybe this issue can be closed? Or maybe we should wait that [issue](https://github.com/AnalyticalGraphicsInc/cesium/issues/5666) to be resolved before closing it

[2017-09-04 12:24] truefunrun opened #5811 "Invalid array length RangeError"
Hi all, I encountered such a problem with `Invalid array length RangeError`

[code]
Sorry, but I'm not use source of Cesium library , so I use webpack for build my application. And with source my webpack building not worked.
I use `"cesium": "1.36.0"`

[2017-09-05 08:42] kaktus40 commented on #5666
Hello, I make a pull request but I think that this PR should be completed with an articles that explains how to change.

[2017-09-05 14:33] ggetz commented on #5811
Hi @truefunrun, please ask questions over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev). Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively. Thanks!

[2017-09-05 14:34] #5811 closed

[2017-09-05 14:34] cesium-concierge commented on #5811
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!forum/cesium-dev

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-09-05 22:35] pizza2code opened #5813 "Won't display entities when using Browserify: Cesium 1.25+"
Up to Cesium 1.24, using Browserify (plus the deAMDify transform) on the following code will correctly display the Wyoming polygon from the entity tutorial.  From Cesium 1.25 to current (1.37), the same code will *not* display Wyoming, nor any additional entities added.  Oddly, viewer.entities.values reflects the correct number of entities that should be displayed.
[code]
Any idea what's causing t

[2017-09-06 03:26] weatherdrew commented on #1640
Realize this is old and/or ongoing, but wanted to throw my +1 on this. Trying the workarounds but somehow still seeing white flash, same use case. On 1.36.3 at moment, will try 1.37 this week.

[2017-09-06 08:53] Harelebel commented on #5417
hello, is there any WA meanwhile? Thanks

[2017-09-06 13:31] ggetz commented on #5813
Hi, @pizza2code. Since this seems more like a question than a bug at this point, please ask it over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev). Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively.

When you ask there, please specify the path you are setting the base url to as well, thanks!

[2017-09-06 13:49] ggetz commented on #5417
We're working on a solution for the webpack issues soon, in the meantime you may have some luck using Source/Cesium.js instead of the built version.

[2017-09-06 14:05] #5813 closed

[2017-09-06 14:05] cesium-concierge commented on #5813
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!forum/cesium-dev

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-09-06 14:08] ggetz commented on #5666
@kaktus40 We'll update the forum page as soon as the PR is in and the issue is closed! Thanks!

[2017-09-06 14:28] pizza2code commented on #5813
Sorry, I don't currently have access to my Google accounts to use your Google mailing list.

[2017-09-06 19:06] Rikaelus commented on #5726
I'd be happy to poke around but with Cesium being something of a beast, I could use some pointers towards where to start looking.

[2017-09-06 19:06] bagnell opened #5814 "3D Tiles refinement broken when skip LODs is disabled"
[code]
![image](https://user-images.githubusercontent.com/1494815/30129707-d42d77e6-9314-11e7-8c28-23f3ab80fbc7.png)

[2017-09-06 19:07] bagnell commented on #5814
If you try the example, the tileset won't refine until the camera is moved.

[2017-09-06 23:47] pjcozzi commented on #5814
@lilleyse can you please look at this?  Perhaps this was broken with the recent fix in 1.37?

Please make sure there are enough unit tests and hooks into tile traversal to reasonably test.

[2017-09-06 23:50] pjcozzi commented on #1640
@weatherdrew the above workaround should still work.  Perhaps verify that the change took effect with a clean build and fresh cache?

[2017-09-06 23:56] pjcozzi commented on #3256
Perhaps it is OK to close this now as a duplicate of #5666.

[2017-09-06 23:56] cesium-concierge commented on #3256
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/bsPTytXzNqc

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-09-06 23:56] #3256 closed

[2017-09-06 23:56] pjcozzi commented on #5666
Related forum post: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/bsPTytXzNqc

[2017-09-07 04:45] slchow commented on #5468
Also need to remove ".html" from all addresses so links work.

[2017-09-07 09:13] Maplesog commented on #3984
m

[2017-09-07 14:25] ggetz opened #5816 "Cesium and Webpack"
We're working on putting together an example app as an official recommendation on getting Cesium up and running with Webpack.

Here's the plan:

- [x] Cleanup some of the pain points we've run into in the past within the Cesium library itself. (PR #5861)
	This includes:
	 - [#5417](https://github.com/AnalyticalGraphicsInc/cesium/issues/5417)
	 - [#4876](https://github.com/AnalyticalGraphicsInc/ces

[2017-09-07 15:20] GatorScott opened #5818 "Errors in doc for createTileMapServiceImageryProvider"
Doc for createTileMapServiceImageryProvider has gdal2tiles misspelled and the associated link is broken.  The link could be to either http://www.gdal.org/gdal2tiles.html or http://www.klokan.cz/projects/gdal2tiles/.

[2017-09-07 15:35] markerikson commented on #5816
Yay!  Great to hear this.

I'll throw in a reminder link to my post on how to load Cesium with Webpack, and produce a DllPlugin bundle for faster builds: http://blog.isquaredsoftware.com/2017/03/declarative-earth-part-1-cesium-webpack/ .

[2017-09-07 17:07] ggetz commented on #5816
Thanks @markerikson!

[2017-09-07 17:56] josh-bernstein opened #5819 "Default icon is displayed when icon tag is empty"
I found a bug when I loaded a KML file containing the following
`<IconStyle>
<Icon></Icon>
    </IconStyle>`

No icon is specified, and if I import that KML into Google Earth, the placemark icon is not shown.  However, when I import the KML into an app using Cesium, a yellow placemark icon is shown.

[2017-09-07 17:57] ggetz commented on #5379
Reported on the forum here: https://groups.google.com/forum/#!searchin/cesium-dev/mittner%7Csort:relevance/cesium-dev/PgFyVrT3_jM/aCqAV30rDgAJ

[2017-09-07 18:02] hpinkos commented on #5819
Thanks for reporting this @josh-bernstein!

[2017-09-07 18:15] josh-bernstein commented on #5819
@hpinkos My pleasure!  I have a branch with a fix that I would like to push up, but I'm having GitHub difficultiies atm

[2017-09-07 18:20] hpinkos commented on #5819
Great, thanks @josh-bernstein!  We're always happy to review pull requests.  We have some details for opening a pull request in our contributing documentation here: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request

Hope you're able to figure out your GitHub issues without too much trouble.  I'm not sure if this would help, but we have instructions

[2017-09-07 21:13] kaktus40 opened #5822 "Update deprecated HeadingPitchRoll related functions"
- Update `HeadingPitchRoll.fromQuaternion` with the content of `HeadingPitchRoll.fromDirectQuaternion` and remove `HeadingPitchRoll.fromDirectQuaternion`
 - Update `Matrix3.fromHeadingPitchRoll` with the content of `Matrix3.fromDirectHeadingPitchRoll` and remove `Matrix3.fromDirectHeadingPitchRoll`
 - Update `Quaternion.fromHeadingPitchRoll` with the content of `Quaternion.fromDirectHeadingPitchRo

[2017-09-07 21:17] kaktus40 commented on #5822
It's for version 1.43 (I don't know how to add label)

[2017-09-08 03:17] githubhanjunjun opened #5823 "viewer.entities.remove(entity)后再创建模型导致浏览器内存一直增长"
Thanks for contributing to the Cesium Community!

If you have a question, please search the forum:

http://cesiumjs.org/forum.html

and start a new forum thread, if needed, instead of creating this issue.

Otherwise, we look forward to your bug report or feature request in this issue.

---

Delete this message before clicking Submit.

[2017-09-08 03:18] githubhanjunjun commented on #5823
创建了大量模型，用for循环调用viewer.entities.remove(entity)删除所有模型后，再创建模型导致浏览器内存一直增长

[2017-09-08 13:16] pjcozzi commented on #5822
Deprecated in #5809.

[2017-09-08 13:49] pjcozzi commented on #5120
Draco sample models: https://github.com/KhronosGroup/glTF-Sample-Models/pull/116

[2017-09-08 14:15] #5823 closed

[2017-09-08 15:56] ggetz commented on #5823
Hi @githubhanjunjun, from translating your comment, it looks like you have a question about a large number of entities. Try asking over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev). Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively. Thanks!

[2017-09-08 20:20] #4639 closed

[2017-09-08 20:20] cesium-concierge commented on #4639
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/Kv_dSET4Bjs/Z0XJp1JIBQAJ

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-09-08 20:24] pjcozzi commented on #4639
Thanks again for the bug report, @rutsky!  This was fixed in #5603.

[2017-09-09 13:01] weatherdrew commented on #1640
@pjcozzi thanks for the followup. I'm using the [gwt-cs](https://github.com/iSergio/gwt-cs) Java wrapper maintained by iSergio to forward propagate a legacy meteorological visualization app, and have been able to mostly follow structure and examples native to Cesium's Javascript (still a headache as you can imagine).

I've [made some progress using the workarounds](http://oldaker.consulting/cesium

[2017-09-11 08:01] bampakoa commented on #5816
@ggetz A relevant entry on the Tutorials section of the website would be great also!

[2017-09-11 13:33] ggetz commented on #5816
@bampakoa Good point, we could add something like the Webpack equivalent of the [Getting Started tutorial](https://cesiumjs.org/tutorials/cesium-up-and-running/)

[2017-09-12 06:55] hacknaman commented on #4346
Any update on this bug? or a better work around?

[2017-09-12 09:48] bampakoa commented on #4609
@lilleyse I have tried the `https://www.cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello World.html&label=Showcases` with the following browser versions and it seems that the issue has gone.

Edge: **40.15063.0.0**
IE: **11.540.15063.0**

[2017-09-12 13:18] lilleyse commented on #4609
Thanks @bampakoa I confirmed that the issue is gone too.

[2017-09-12 19:41] weatherdrew opened #5825 "Chrome CZML Image Material Memory?"
Greetings Cesium Folks!

I've located some sort of strange memory exhaustion condition in the latest Google Chrome x64 [using this  Sandcastle example](https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=8d5057c17012d79e4585531597e0d453).

If the animation is permitted to run for > 60 seconds, memory use climbs until a rendering crash is observed (on 8GB RAM),

[2017-09-13 02:44] mramato commented on #5816
@ggetz not sure how much this may apply to your efforts but here's a blog post about webpack performance in large project.  https://redfin.engineering/tech-talk-recap-how-to-improve-webpack-performance-in-large-projects-5435bb18dd18

[2017-09-13 02:52] markerikson commented on #5816
On which note, I've got a ton of articles on Webpack build optimization, code splitting, and other related concepts, in the [Webpack Advanced Techniques](https://github.com/markerikson/react-redux-links/blob/master/webpack-advanced-techniques.md) section of my [React/Redux links list](https://github.com/markerikson/react-redux-links).

[2017-09-13 13:08] awst-baum opened #5826 "CORS issues when using cesiumjs.org"
I'm including cesium from cesiumjs.org in a JSF page with JavaScript like so:

	<script src="https://cesiumjs.org/Cesium/Build/Cesium/Cesium.js" />

This used to work fine in the past - but recently the Rectangles my JavaScript code adds aren't shown on the globe any more and I get these errors in the Firefox console:

	Cross-Origin Request Blocked: The Same Origin Policy disallows reading the rem

[2017-09-13 18:49] emackey commented on #5826
@ggetz @mramato I'm seeing lack of CORS on cesiumjs.org too.  Can this be fixed?

[2017-09-13 19:50] mramato commented on #5826
Thanks @awst-baum for raising the issue.

@emackey It definitely is something that can be/sould be fixed, but I'm not directly involved in the running of the website itself anymore so we'll have to wait for @ggetz to respond.

[2017-09-14 00:19] speigg opened #5827 "Event.removeEventListener removes listeners incorrectly"
When removing *multiple* listeners from an instance of`Event`,  **while the event is being raised**, the listeners are not removed correctly.

See:

[code]

Outputs the following (as expected):
[code]

But when calling `e.raiseEvent()` again, we see:
[code]

instead of the expected:

[code]

[2017-09-14 01:05] speigg commented on #5827
Why is this happening?

1) When an event is actively being raised, `removeEventListener` stores the index of the listener in the internal _listeners array, to be removed later (when `raiseEvent` is next called).
2) When `raiseEvent` is next called, it checks the list of indexes to remove, and then proceeds to remove them by calling `splice(index, 1)` on the internal _listeners array... This is a p

[2017-09-14 04:30] plant99 commented on #5818
Hi, can I work on it?

[2017-09-14 10:27] bampakoa commented on #4609
@lilleyse I noticed that if you refresh the page, then the audio starts 😕

[2017-09-14 13:31] lilleyse commented on #4609
It seems ok for me, I'll try on another computer later.

[2017-09-14 19:52] ggetz commented on #5826
@awst-baum I've allowed all Origin headers on cesiumjs.org, that should fix the error. Make sure you clear your cache, and let me know if you're still seeing issues. Thanks!

[2017-09-14 20:11] ggetz commented on #5757
Related to #5827

[2017-09-14 20:15] ggetz commented on #5827
Thanks for investigating this @speigg !

I think Solution #1 would probably be the fix with the smallest impact, but I'm sure you will get more opinions when you actually open you PR. :smirk:

[2017-09-14 20:17] ggetz commented on #5818
Sure @plant99, take a look at the [Contributor's Guide](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md) and make sure you submit a Contributor License Agreement (CLA).

[2017-09-14 23:25] pizza2code opened #5830 "Using Cesium in a local application silently fails to display entities"
As mentioned in the forum ( https://groups.google.com/forum/#!topic/cesium-dev/iNuC3h8FQ4U ), I'm attempting to use Cesium in a local application using Chromium with cross origin requests and disk access enabled.  However, accessing Cesium locally causes entities to never display, due to approximateTerrainHeights.json silently failing to load.

If I change loadWithXhr.js to accept the a zero HTTP

[2017-09-15 09:15] awst-baum commented on #5826
Thanks a lot, working perfectly now!

[2017-09-15 09:15] #5826 closed

[2017-09-15 13:38] ggetz commented on #5816
Thanks @mramato and @markerikson, I'll take a look!

[2017-09-15 19:12] ggetz commented on #5825
Thanks @weatherdrew !

This may be related to https://github.com/AnalyticalGraphicsInc/cesium/issues/5462

[2017-09-15 20:30] #5639 closed

[2017-09-15 20:34] hpinkos commented on #5830
There's been some discussion on this before, and I don't think it's a chance we want to make.  See https://github.com/AnalyticalGraphicsInc/cesium/pull/5831#issuecomment-329872618

[2017-09-15 20:34] cesium-concierge commented on #5830
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/iNuC3h8FQ4U

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-09-15 20:56] pizza2code commented on #5830
Well, since developers have apparently bumped into this before, what about presenting an error when file:// load attempts give a bad status but actually have content?  With a message such as "Cesium does not support browsers that return an invalid HTTP status when accessing files locally, please use Electron."  Currently it's a silent failure, since the assets actually load but XHR throws away the

[2017-09-15 20:58] hpinkos commented on #5830
That's a good idea, thanks @pizza2code!  @emackey what do you think?

[2017-09-15 21:21] shunter commented on #5830
The approach in the original patch seems reasonable to me as-is.  I looked through the spec briefly and it seems like returning status 0 on a successful request makes Chrome out of spec, but that's never going to be fixed at this point.

Realistically, the status property is only applicable to HTTP(S) requests, and so it shouldn't be consulted with other protocols.  For file XHR loads, errors will

[2017-09-15 21:21] pjcozzi commented on #5468
Fixed in #5834.

[2017-09-15 21:21] #5468 closed

[2017-09-15 21:42] pjcozzi commented on #1640
Try it.

If it doesn't work, perhaps the blending render state also needs to be enabled.

[2017-09-18 09:03] michaelknave opened #5835 "glTF model appears with black shades"
I have glTF model of the mesh. I have used obj2gltf for conversion. After I loaded it to Cesium, it showed in black colors.

I have tried to open it in different glTF viewers, it showed in correct colors.

I assume there is some bug in cesium.

[2017-09-18 13:18] lilleyse commented on #5835
Could you send over the model you're testing?

[2017-09-18 14:42] michaelknave commented on #5835
Hello,

sure. I am sending it in this mail.

Thank You.

Regards,
Michal
​
 Mocsa4_simplified_3d_mesh.gltf
<https://drive.google.com/file/d/0By2tH5pP-77Jd3UxN3JDYkhfQ00/view?usp=drive_web>
​

2017-09-18 15:18 GMT+02:00 Sean Lilley <notifications@github.com>:

[2017-09-18 20:38] pjcozzi commented on #5120
@lilleyse can you please connect with @AnimatedRNG to come up with a detailed Draco roadmap and to show him the relevant parts of Cesium's glTF loading code?  High-level roadmap is something like:

* [ ] Implement glTF Draco extension loading in Cesium using existing sample models
* [ ] Profile.  Move Draco decompression to a web worker.  Profile.  Maybe improve web worker architecture.  Profile.

[2017-09-18 20:43] ggetz opened #5837 "Camera Controller can go underground"
Move the camera while terrain is still loading in:

![image](https://user-images.githubusercontent.com/4439461/30563627-744ba3cc-9c90-11e7-92ba-a9808323561d.png)

Appeared after https://github.com/AnalyticalGraphicsInc/cesium/pull/5603

Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/50CK4haCIiw

[2017-09-18 21:06] ggetz commented on #5827
Reported on the forum https://groups.google.com/forum/#!searchin/cesium-dev/dynamic$20grid$20lines%7Csort:relevance/cesium-dev/WgPxGHPWhBs/gdQXrgxHAgAJ

[2017-09-19 13:53] mramato commented on #5837
Are you sure #5603 caused this?  We specifically allow the camera to go underground during load because otherwise flights and abrupt camera changes wouldn't work correctly.  See #4105.  If this is differently, please explain how.

[2017-09-19 15:23] lilleyse opened #5838 "Fix model shader generation when normals are missing"
`processPbrMetallicRoughness` always expects normals to exist, but that is not always the case. We should have a separate shader path for those models that would look similar to the constant lighting in `processModelMaterialsCommon`.

This will fix https://github.com/AnalyticalGraphicsInc/cesium/issues/5835.

[2017-09-19 15:25] lilleyse commented on #5835
Thanks for sending the model over. The problem is we are not generating PBR shaders correctly for models that don't have normals. I opened an issue here: https://github.com/AnalyticalGraphicsInc/cesium/issues/5838.

In the meantime you can use the `--materialsCommon` flag with obj2gltf and this should look correct in Cesium.

[2017-09-19 15:38] emackey commented on #5838
See implementation note:  https://github.com/AnalyticalGraphicsInc/gltf-vscode/issues/28#issuecomment-321996956

[2017-09-19 15:57] lilleyse commented on #5838
Hm.. that might not look good for photogrammetry.

[2017-09-19 15:59] ggetz commented on #5837
@mramato If this is intended behavior, I'm fine with closing this.

[2017-09-19 16:06] lilleyse commented on #5835
I also opened up this PR in obj2gltf to prevent transparency of 0, which is another problem I noticed with the glTF: https://github.com/AnalyticalGraphicsInc/obj2gltf/pull/107

[2017-09-19 20:33] mramato commented on #5837
Please feel free to re-open if there is some additional context I'm missing.  You might also want to follow up on the forum post.  Thanks.

[2017-09-19 20:33] cesium-concierge commented on #5837
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/50CK4haCIiw

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-09-19 22:51] BigDog6432 opened #5840 "SingleTileImagery spanning IDL"
Found an issue where the SingleTileImageryProvider does not seem to work if the image spans the International Date Line.  The following Sandcastle ImageryLayer snippet demonstrates the issue:
var viewer = new Cesium.Viewer('cesiumContainer', {
    imageryProvider : new Cesium.ArcGisMapServerImageryProvider({
        url : 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapSe

[2017-09-20 13:29] ggetz commented on #5840
Thanks for the bug report @BigDog6432, and thanks for writing up an example. We'll try to look at this soon, there are a few other [international date line related issues](https://github.com/AnalyticalGraphicsInc/cesium/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20idl%20) with clipping that are high priority.

[2017-09-20 15:03] sspeaks commented on #4122
I've found this issue to be introduced post version 1.21.0. Is there any ETA on a fix for this?

[2017-09-20 15:12] hpinkos commented on #4122
Thanks for tracking that down @sspeaks!  This is marked high priority so we hope to have time to look at it soon, but our team is spread pretty thin right now.  If anyone has time to look into it, we are always happy to review a pull request with a fix!

[2017-09-20 16:18] emackey commented on #4122
I ran `git bisect` on this.  It was introduced in either f924c16d220e or its parent commit 041ee30b2a6d (these are both work-in-progress commits).  The parent of those commits b59067709 did not display the problem.

These commits were merged to master as part of #3933.

[2017-09-21 13:26] michaelknave commented on #5835
Thank You for the advice, but I am afraid it does not work good in cesium
with materialsCommon...

2017-09-19 17:34 GMT+02:00 Sean Lilley <notifications@github.com>:

[2017-09-21 13:48] lilleyse commented on #5835
Hm.. would you mind also sending the obj model over?

[2017-09-21 13:52] michaelknave commented on #5835
Sure not. My obj file including the textures are in attachment.

Thank You very much.

It would be really helpful if it will be resolved.

Thanks.

Michael
​
 Mocsa4_simplified_3d_mesh.mtl
<https://drive.google.com/file/d/0By2tH5pP-77JTFY0dnplVmxOVTA/view?usp=drive_web>
​​
 Mocsa4_simplified_3d_mesh.obj
<https://drive.google.com/file/d/0By2tH5pP-77JVXNzZlA2ME9mdUU/view?usp=drive_web>
​​
 Mocsa4_te

[2017-09-21 14:50] lilleyse commented on #5835
Ok I realized what the problem was in `obj2gltf` and opened a PR. Make sure to still use the `--materialsCommon` flag.

 https://github.com/AnalyticalGraphicsInc/obj2gltf/pull/108.

Let me know how it goes.

[2017-09-21 14:52] michaelknave commented on #5835
Thanks.

And should it work now with --materialsCommon ? Because it doesn't...

2017-09-21 16:50 GMT+02:00 Sean Lilley <notifications@github.com>:

[2017-09-21 14:56] lilleyse commented on #5835
Until the PR is merged make sure you're on the `constant-lighting` branch. It works for me with this command:

`node bin/obj2gltf.js -i test/mocsa4/Mocsa4_simplified_3d_mesh.obj -o test/mocsa/output/Mocsa4_simplified_3d_mesh.gltf --materialsCommon`

<img width="319" alt="model" src="https://user-images.githubusercontent.com/915398/30702640-7c8fcaae-9ebb-11e7-8196-f5b5fdc88ef3.PNG">

[2017-09-21 14:58] lilleyse commented on #5835
It was just merged so being on master is fine too now.

[2017-09-21 15:01] michaelknave commented on #5835
thank you. I am gonna try it right now and I will let you know.

2017-09-21 16:58 GMT+02:00 Sean Lilley <notifications@github.com>:

[2017-09-21 15:38] michaelknave commented on #5835
I think there there is some issue with the latest master.
[image: Vnorený obrázok 1]

2017-09-21 17:01 GMT+02:00 Michael Knave <mr.kiso@gmail.com>:

[2017-09-21 15:52] lilleyse commented on #5835
@michaelknave You may need to use the github interface to attach an image.

[2017-09-21 15:55] michaelknave commented on #5835
![2017-09-21_1754](https://user-images.githubusercontent.com/11688073/30705536-015fc8b2-9ef6-11e7-9956-ec54fec3b153.png)

[2017-09-21 16:01] lilleyse commented on #5835
Try running `npm run build`.

[2017-09-21 16:35] michaelknave commented on #5835
problem has been fixed. But model is still black...even I followed your
recommendations

2017-09-21 18:02 GMT+02:00 Sean Lilley <notifications@github.com>:

[2017-09-21 16:50] michaelknave commented on #5835
In sandcastle it doesn't apper lighter

2017-09-21 18:34 GMT+02:00 Michael Knave <mr.kiso@gmail.com>:

[2017-09-21 16:56] lilleyse commented on #5835
I'm not sure what else could be the problem. Make sure you are running the latest `obj2gltf`. This is the Sandcastle code I'm using:

[code]

[2017-09-21 17:13] michaelknave commented on #5835
it is working finally ! Thanks for help

2017-09-21 18:56 GMT+02:00 Sean Lilley <notifications@github.com>:

[2017-09-21 17:19] lilleyse commented on #5835
Good to hear!

[2017-09-21 17:19] #5835 closed

[2017-09-21 19:41] mortac8 commented on #4955
I just saw this.  We were using the ArcGisImageServerTerrainProvider to stream local terrain when offline.  So there is no way forward since this class has been removed?

[2017-09-21 20:04] hpinkos commented on #4955
@mortac8 we decided to end official support for this because it only worked for a very particular server configuration.  However, if you include the class in your own project I believe it should still work.  You can find the file here: https://github.com/AnalyticalGraphicsInc/cesium/blob/ed034dbe51a9bf1560fb5f40418c47c1d2fc479d/Source/Core/ArcGisImageServerTerrainProvider.js

You can build a custo

[2017-09-22 15:58] uekeueke opened #5841 "An error occurred while rendering"
Sometimes loading my cesium project the rendering stops on init and the console shows this message
this happens a lot in firefox 55.0.2 (64-bit),
and sometimes in chrome 59.0.3071.104 (Build oficial) (64 bits)...

My projects loads 4 geojsons of 400kn each one, not so much?

How to debug it?

[2017-09-22 17:39] ggetz commented on #5841
Hi there @uekeueke, please ask questions over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev). Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively. Thanks!

To debug, try your browse's dev tools. (In Chrome hit ctr+shift+i)

[2017-09-22 17:39] #5841 closed

[2017-09-23 11:31] thw0rted commented on #5717
If anybody is tracking, I went ahead and hand-jammed some 1.37.0 updates to the Typings file I found earlier: https://gist.github.com/thw0rted/c0c73335c9968d5e7b6dd18a43ef6c42

I'm sure it's still missing some information or wrong in places, and I don't have automated tooling in place to generate this, which is what's really needed.  Still no workaround as far as I know for the issue I raised back

[2017-09-25 11:51] TJKoury opened #5843 "Use Electron v1.7.6"
Electron deleted v1.8.0 due to stability / security issues.  Use v1.7.6 specifically as a dependency until they release 1.8.1.

[2017-09-25 12:10] pjcozzi commented on #5808
Nice article with a bit on their post processing: [Godot 3's Renderer Design Explained](https://godotengine.org/article/godot-3-renderer-design-explained)

[2017-09-25 13:04] xtassin opened #5844 "From 1.37, GLTF shader paths are relative, even when starting with a slash"
Hi,

I used to specify custom shaders in my GLTF files in this manner:

`"uri": "/shaders/mappedReflectiveFS.glsl"`

This should load the file from the root of the web host (http://domain.com/shaders/mappedReflectiveFS.glsl)

Instead, and starting with Cesium 1.37, the shaders are loaded relative to the GLTF's directory even if the uri starts with a slash.

Regards,

Xavier.

[2017-09-26 14:16] shunter commented on #5843
A clean `npm install` works, since they've removed 1.8.0 from npm entirely.  I don't think we need to do anything here.

[2017-09-26 14:16] #5843 closed

[2017-09-26 19:39] mramato commented on #5844
Thanks for the report @xtassin, this definitely sounds like a clear cut bug.  @lilleyse or @emackey any ideas?

[2017-09-26 20:40] emackey commented on #5844
Definitely sounds like a bug.  There's been some discussion of root-relative paths on the official glTF repo lately, but nothing that should prevent this from working.

[2017-09-27 10:00] forman opened #5846 "Nearest-neighbor image resampling for ImageryLayer"
We develop an application that uses Cesium to display climate data imagery. Many users (usually Earth scientists) would like to see the original grid cell extends in the images. Cesium seems to use (linearily) interpolated textures by default. Is there any possibility to set an `ImageryLayer` to a nearest-neighbor image resampling so actual grid cells would be displayed as squares? Even a global C

[2017-09-27 13:44] ggetz commented on #5846
Hi there @forman. Please ask your question over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev). Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively. Thanks!

[2017-09-27 13:58] ggetz commented on #5846
@lilleyse confirmed that there's not a way to do this is Cesium currently. The imagery layer has the linear interpolation hard-coded, so we'll leave this open.

[2017-09-27 14:15] mramato commented on #5846
I think we had a thread about this at one point on the forum and it's come up before.  @bagnell isn't modifying this just a one line change?  Might be a good workaround or easy enough for someone to open a PR to handle.

[2017-09-27 14:15] forman commented on #5846
Hi @ggetz, sorry for spaming your issue tracker and thanks for the info! Maybe @lilleyse could point me to the code location so we may fork & fix.

[2017-09-27 14:17] forman commented on #5846
@mramato we're happy to do so

[2017-09-27 14:51] #5738 closed

[2017-09-27 15:09] mramato opened #5847 "crunch.js error"
Run Sandcastle and you'll see `Invalid asm.js: Invalid member of stdlib` coming from crunch over and over again.  @bagnell do we need to recompile this from source?  Are we sure the feature still works?

[2017-09-27 18:21] bagnell commented on #5846
You can add [Sampler](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Renderer/Sampler.js)s to the textures here:

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/ImageryLayer.js#L743

Set the minification and magnification filters to `NEAREST`. If the textures need reprojection, you can modify the samplers here:

https://github.com/AnalyticalGraphicsInc

[2017-09-27 18:41] mramato commented on #5846
Thanks @bagnell!  Looking forward to a pull request @forman!  Let us know if you run into any roadblocks.

[2017-09-27 19:16] bagnell commented on #5847
I haven't seen that error. We have tests that load and render models with crunch compressed textures so I believe it still works.

[2017-09-27 21:01] jk12559 opened #5850 "camera controls when tracking an entity are overridden by EntityView"
When tracking an entity, camera functions such as lookAtTransform will set the transform of the camera, but then the EntityView will overwrite the transform of the camera on the next update.  This causes the camera to not be positioned as expected when providing an offset to lookAtTransform.

[2017-09-27 21:22] DustinPham commented on #4742
@hpinkos Did you ever find a fix to this?

[2017-09-27 21:25] hpinkos commented on #4742
Hi @DustinPham, no sorry we haven't had a chance to look at this yet.  I'll ping you when we do.

If you have time to look into it, we would be happy to review a pull request!  Thanks!

[2017-09-27 21:33] DustinPham commented on #4742
@hpinkos Thanks for the quick response! I did find a workaround using setView instead of flyTo, but it doesn't look as nice.

[2017-09-28 07:37] forman commented on #5846
@bagnell thanks, I hope to find some time next week

[2017-09-28 20:04] hpinkos opened #5856 "Make sure all files from gltf-pipeline are synced"
See comments in #5855

Some changes were put in cesium and not gltf-pipeline, and maybe vice versa.

We should **always** make  the changes in the gltf-pipeline repo first because that's where it's assumed the source is from.

[2017-09-29 11:01] thw0rted opened #5858 "Sandcastle "Open In New Tab" is broken"
I am trying to report a different issue and wanted to use Sandcastle as an example.  I clicked "Open In New Tab", and the globe loaded with pure-blue imagery.  The console shows "mixed-content" errors, and all the (blocked) network requests were being made to `http://ecn.t2.tiles.virtualearth.net/tiles` even though Sandcastle itself loads over HTTPS.

The page's URL shows as `blob:https://cesiumjs

[2017-09-29 11:34] thw0rted opened #5859 "Browser zoom causes image quality degredation"
Using the browser zoom function causes imagery to pixelate significantly.  Test this with any Sandcastle demo: load the demo, wait for all the tiles to load at full resolution, then user your browser's text zoom function (`CTRL+=` on Windows and Linux) to increase zoom significantly, maybe 150-200%.  UI elements (toolbar buttons, etc) should resize correctly, and the widget should still occupy the

[2017-09-29 11:44] thw0rted commented on #5859
I forgot to mention: one of the more serious impacts is actually on billboard rendering quality.  Even a very low zoom factor (110-120%) introduces serious aliasing effects, especially noticeable if your image has straight lines.  Load the Billboard demo and show the "marker" billboards, then zoom to ~120% -- the edges on geometric shapes look terrible.

![image](https://user-images.githubusercont

[2017-09-29 13:39] ggetz commented on #5858
Thanks for reporting this @thw0rted !

[2017-09-29 13:43] thw0rted commented on #5858
FWIW I'm pretty sure it's not a case of protocol-relative URLs, since I tried making an `<a>` tag in a `blob:https://` context (in the dev-tools console) and an href of `//foo/bar` resolved to `https://foo/bar`.  Must be something else?

[2017-09-29 15:30] ggetz opened #5862 "Remove deprecation warnings for HeadingPitchRoll function in 1.40"
Remove deprecation warnings for  `HeadingPitchRoll.fromQuaternion`, `Matrix3.fromHeadingPitchRoll`, `Quaternion.fromHeadingPitchRoll`, `Transforms.headingPitchRollToFixedFrame`, and `Transforms.headingPitchRollQuaternion` in the 1.40 release.

See https://github.com/AnalyticalGraphicsInc/cesium/pull/5848

[2017-09-29 17:25] CHBaker opened #5863 "Page load fails on successful compile, assets 404 do not load, tree shake removes lib"
- [x] bug report
- [ ] feature request

## Versions.

[code]

*also tested on macOS latest, page loads but with issues.

## Repro steps.

reproduce this issue by cloning [this repo](https://github.com/CHBaker/Cesium-Injection)
npm install, ng serve

more: this bug occurs in attempt to use cesium with Angular, using dependency injection to allow coding with all the modules IN TYPESCRIPT

*when usin

[2017-09-29 23:43] #4906 closed

[2017-09-30 16:04] emackey commented on #5858
Very odd.  This happens with [hosted Sandcastle over https](https://cesiumjs.org/Cesium/Apps/Sandcastle/), and the imagery provider is most certainly calling for `https` in `createDefaultViewModelImageryProviders`, but the "computed endpoint" according to the browser is `http://ecn.t0.tiles.virtualearth.net/tiles/h00...`, so is not secure, resulting in the errors.  Could it be that the tile provid

[2017-09-30 16:12] emackey commented on #5858
Oh hey!  This is a real bug in `BingMapsImageryProvider` and probably other providers!

https://github.com/AnalyticalGraphicsInc/cesium/blob/e6c569200a424cdfa357b48cefc64c76b178a373/Source/Scene/BingMapsImageryProvider.js#L161

Here, `that._tileProtocol` is `blob:`, so even though `that._url` begins with `https:` specifically, it is discarded here, and `http` is used in its place!

[2017-09-30 16:17] emackey commented on #5858
And guess what, even though `createDefaultViewModelImageryProviders` switched to all-https years ago, the change never took effect.  If you load CesiumViewer from an insecure page, you're still making insecure requests back to Bing, even though the construction parameters of the imagery provider included a URL with `https` on the front, that's being overridden with `http` here.

[2017-09-30 16:47] emackey commented on #5859
This is, sadly, intentional.  We used to preserve quality when browser zoomed, but there were too many mobile devices out there with high-dpi or "retina" displays, without the GPU power to handle those displays at full resolution.  A decision was made to use CSS pixels, not native pixels, for the WebGL canvas by default, thus restoring compatibility with those devices but causing the effect you re

[2017-10-01 10:36] thw0rted commented on #5859
I actually use `viewer.resolutionScale` already to provide an in-app "quality toggle" for users on older / slower devices.  Is there any way to differentiate a desktop browser with zoom applied from a high-DPI display at "normal" zoom?  I'd like to at least make sure the user is aware when the visual quality is "intentionally" degraded...

[2017-10-02 12:12] pjcozzi commented on #5859
Related to

in #4678, which will scale up billboards/labels/line width, etc. for large resolutions.

[2017-10-02 13:41] mramato commented on #5859
Unfortunately, no, `window.devicePixelRatio` is the only value available to JavaScript.  A value of 1.0 means "current screen resolution" but browsers will automatically use values larger than 1.0 for mobile devices and 4K displays.  For example, some iPhones and iPads use a value of 3.0, which means you are rendering at 1/3 screen resolution.  You can always use the native hardware resolution by

[2017-10-02 13:44] mramato commented on #5859
@thw0rted Thanks for raising the issue, but I'm closing this since there's nothing actionable we can do on our end.  Please start a thread on [the forum](https://groups.google.com/forum/?fromgroups#!forum/cesium-dev) if you want to continue the conversation and maybe the community can provide some good suggestions that we didn't think of. (at which point I'd be happy to reopen the issue with imple

[2017-10-02 13:44] #5859 closed

[2017-10-02 15:02] denverpierce commented on #5847
Can confirm I've started seeing this on newer chrome releases.

[2017-10-02 17:06] mramato opened #5868 "Sandcastle examples have deprecation warnings"
After #5848 was merged, there are now a bunch of deprecation warnings in Sandcastle examples.  We should probably fix them before today's release. (It's probably easiest to go through each example and fix them as you go.

CC @ggetz

[2017-10-02 17:11] #5856 closed

[2017-10-02 18:03] bagnell commented on #5868
It looks like #5848 was a breaking change, not a deprecation. Should we remove the `deprecationWarning`s or just close this?

[2017-10-02 18:06] hpinkos commented on #5868
A `deprecationWarning` doesn't seem appropriate.  Maybe we should change this to a `oneTimeWarning` with a clear description of how to fix the app.

[2017-10-02 18:11] ggetz commented on #5868
The warning's already include the instructions, I can just swap the `deprecationWarning`s out for `oneTimeWaring`s

[2017-10-02 18:12] hpinkos commented on #5868
Sounds good to me @ggetz !

[2017-10-02 18:12] mramato commented on #5868
I'm not sure any warning in the code makes sense because the warning will happen even if the code is correct.  I would rather not have anything at all, we don't normally have console warnings for breaking changes.

[2017-10-02 18:15] bagnell commented on #5868
The deprecation warnings are also printed multiple times because they all use the same identifier. You should also switch them to have the same identifier.

[2017-10-02 18:16] ggetz commented on #5868
But this has changed the behavior pretty commonly used functions, I think some kind of warning is necessary. I'll change them to to use all the same identifier though, so we should only get that one warning.

[2017-10-02 18:21] mramato commented on #5868
The problem with this approach is that it causes Sandcastle to show the warning and switch the tab for a ton of examples (even ones that don't use HPR directly).  And as I stated, the fact that the warning will show up even in new code using the correct functionality will lead to user confusion.

The real answer is that this changed should have never been merged in this form, we rarely break somet

[2017-10-02 18:23] denverpierce commented on #5868
This change kinda caught me by surprise, I didn't see the notice in the issue.  I'd prefer _some_ kind of notice that the functionality has changed rather than nothing, so that when I upgrade I'll be more likely to realize there are issues on a cursory check.

[2017-10-02 18:25] ggetz commented on #5868
We went forward with a breaking change instead of deprecating old functions and introducing new ones because the old function names were the one we wanted to keep. See https://github.com/AnalyticalGraphicsInc/cesium/pull/5809 for more discussion.

[2017-10-02 18:28] hpinkos commented on #5868
I'm honestly surprised this got merged in as well.  This is such a huge breaking change, it's going to effect literally everyone using our library.  I don't remember a ton of people complaining that clockwise was incorrect on the forum.  We should have reached out to the community before going ahead with this.  I anticipate a ton of people asking why their data no longer works after they try to up

[2017-10-02 18:30] #5814 closed

[2017-10-02 18:30] ggetz commented on #5868
So would we prefer to remove those changes or include a warning one time?

[2017-10-02 18:40] ggetz commented on #5868
I opened https://github.com/AnalyticalGraphicsInc/cesium/pull/5870 if it's the latter.

[2017-10-02 18:42] hpinkos commented on #5868
I personally wouldn't want to include this change in the release.  Even though CCW would have probably been the better choice when we added HPR, I don't think it makes sense to change it now without warning the community first.  It just doesn't seem like there's adequate justification for a breaking change of this magnitude.

@mramato @bagnell @lilleyse @pjcozzi what are your thoughts?

[2017-10-02 18:42] denverpierce commented on #5868
The decision is essentially an arbitrary one.  Even in the aviation industry many of the conventions aren't consistent.  As an example, airframe design is often done in one reference, while aircraft plumbing systems are designed with a positive X-axis from tail to nose (I believe).

Cesium has used a a consistent convention for some time, and it should be left as-is to preserve continuity in the A

[2017-10-02 18:42] mramato commented on #5868
I'm not against the changes, just the handling of a breaking change with no deprecation timeframe and a message that pops up even when the user isn't explicitly using the functionality. (especially since it makes Sandcastle really annoying to use.

[2017-10-02 18:43] mramato commented on #5868
@pjcozzi since you were the one that ultimately merged this change, can you please chime in here?

[2017-10-02 19:04] bagnell commented on #5868
If it really is arbitrary, I'd like to remove this from the release.

@denverpierce I made the heading counter-clockwise in the initial PR because according to the [FAA Pilot's Handbook](https://www.faa.gov/regulations_policies/handbooks_manuals/aviation/phak/):
[code]
Are there different conventions for different countries as well?

[2017-10-02 19:17] denverpierce commented on #5868
It just depends on what reference you want.  As far as aircraft headings go, I believe the FAA guidelines are consistent.

According to [wikipedia](https://en.wikipedia.org/wiki/Compass#Points_of_the_compass), magnetic compass point points are quite varied, but Warsaw Pact countries commonly used one system that was CCW from magnetic north.

I'm not familiar with any other systems for aircraft hea

[2017-10-02 19:40] bagnell commented on #5868
I'm going to pull the changes so we can start the release. I'll leave them in a branch where we can continue the discussion.

[2017-10-02 20:07] #5868 closed

[2017-10-02 20:12] hpinkos commented on #5868
Thanks for everyone's input!  We can continue discussing how we may want to approach this in #5666

[2017-10-02 20:17] hpinkos commented on #5666
This was initially added in #5848 but we decided to revert it before the release because it was too big of a breaking change.  See the discussion in #5868.

How do we want to move forward with this?  Is this a change we ultimately want to make or should this be a "won't fix"?

If clockwise is what the FAA suggests, maybe that's the standard we should stick with.  It doesn't seem like this is stand

[2017-10-03 07:16] eitanfr commented on #5847
seems it started since chrome 61

[2017-10-03 19:17] hpinkos commented on #5827
Fixed in #5883

[2017-10-03 19:17] #5827 closed

[2017-10-03 19:17] cesium-concierge commented on #5827
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!searchin/cesium-dev/dynamic$20grid$20lines%7Csort

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-10-03 20:31] ggetz opened #5879 "PolylineArrowMaterialProperty sometimes renders with extra arrowheads"
![image](https://user-images.githubusercontent.com/4439461/31147431-f03cd78a-a857-11e7-8188-088c192ab6a5.png)

Reported in the forum here: https://groups.google.com/forum/#!topic/cesium-dev/IsF-ljI1IE0

[2017-10-03 20:31] hpinkos commented on #5879
Duplicate #628

[2017-10-03 20:31] cesium-concierge commented on #5879
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/IsF-ljI1IE0

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-10-03 20:31] #5879 closed

[2017-10-03 20:32] hpinkos commented on #628
Also reported here: https://groups.google.com/forum/#!topic/cesium-dev/IsF-ljI1IE0

[2017-10-03 20:53] ggetz commented on #5879
Whoops, thanks @hpinkos!

[2017-10-03 21:56] tkazik opened #5880 "gltf model looks different in cesium than in other viewers (transparent)"
Hi folks

I have a model that I exported from blender to gltf 2.0 using the [official exporter from khronos](https://github.com/KhronosGroup/glTF-Blender-Exporter).
It looks nice in [donmccurdy's viewer](https://gltf-viewer.donmccurdy.com/). However, it looks opaque in [cesium](https://cesiumjs.org/) or [virtualgis](https://www.virtualgis.io/gltfviewer/):

![comparison](https://user-images.githubu

[2017-10-03 23:33] emackey commented on #5880
That's a beautiful aircraft.  You've got two materials there, one named `DefaultWhite` for most of the body, and another named `transparent` for the windows.  In the glTF, both of these materials are set to `"alphaMode" : "BLEND"`.  The first one, `DefaultWhite`, should be `"alphaMode" : "OPAQUE"` on line 5217.  There's probably a change you can make in Blender to fix this, try turning off the "tr

[2017-10-03 23:33] #5880 closed

[2017-10-04 08:57] tkazik commented on #5880
That did exactly the magic: By unchecking transparency, DefaultWhite does not have an alphaMode anymore and the model looks as you predicted. Also thank you very much for your awesome explanation!

![nomorealphamode](https://user-images.githubusercontent.com/15689124/31167195-822b5e66-a8f1-11e7-9fe0-1343f9bf9841.png)

Regarding the model, thanks for the compliment, but you will have to forward it

[2017-10-04 11:59] emackey commented on #5880
Oh, nice, thanks for the link.  Following that I found his [webpage on it](http://helijah.free.fr/flightgear/hangaren.htm), with an embedded [SketchFab viewer of it](https://sketchfab.com/models/zl1ZHdqCY5bYbwbWNypasS7VT6N).  The GitHub repo is GPL-2.0, but Sketchfab has it available for free download under [CC-BY-4.0](https://creativecommons.org/licenses/by/4.0/).

[2017-10-04 16:08] tkazik commented on #5880
Sweet, thanks for the Sketchfab link!
If by any chance you happen to do some animations with it, I would be very happy to learn more about it. There was just an update in [kupoman's blender exporter](https://github.com/Kupoman/blendergltf/issues/103), however I am still missing the link to 'states', e.g. gear up/down which can then be controlled from within cesium. Do you have a clue on how to tac

[2017-10-04 21:21] ggetz opened #5883 "Inconstant Cluster/Decluster zoom levels"
Reported on the forum here: https://groups.google.com/forum/#!topic/cesium-dev/HTAJnvct838

1. Set "Pixel Range" to 100 and "Minimum Cluster Size" to 2.
2. Zoom in to get to a place where 2 billboards are nearby and may be clustered
3. Slowly zoom out from the 2 billboards and notice the last zoom level before the billboards combine.
4. Slowly zoom in and notice that you need to keep zooming past

[2017-10-04 22:08] wallw-bits commented on #5837
#5603 absolutely caused a change in behavior.

I commented in #5603 but I'll copy it here:

[2017-10-05 10:14] thw0rted opened #5884 "Camera moveForward/moveBackward broken in 2D view"
Go to the [Sandcastle demo for Camera control](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Camera%20Tutorial.html&label=Showcases), switch to 2D, and try the W/S keys.  The camera moves toward or away from the map in 3D and Columbus, but does not move in 2D.

[2017-10-05 11:57] thw0rted commented on #5884
I just noticed that `ScreenSpaceCameraController` uses `Camera.zoomIn` instead of `moveForward`.  This works fine.

[2017-10-05 13:27] ggetz commented on #5884
@thw0rted OK to close?

[2017-10-05 15:18] denverpierce opened #5886 "PolylineGraphics.depthFailMaterial doc error?"
Should `depthFailMaterial `appear in the docs for `PolylineGraphic`s, or what that an intentional omission?

https://github.com/AnalyticalGraphicsInc/cesium/blob/1.38/Source/DataSources/PolylineGraphics.js#L104

[2017-10-05 15:38] CHBaker opened #5887 "FEATURE REQUEST: contour lines"
Hello, After spending some time on docs and examples as well as some google searches I could not find what I'm looking for. But I could be wrong.

The feature:
I want to be able to draw contour lines on the globe, starting flat on the surface, and rising up as the lines get closer together creating a contour topo map with elevation above the globe. More specifically, on I can use for a signal data

[2017-10-05 17:47] pjcozzi commented on #5887
Good timing, @CHBaker!  We were just talking to @jasonbeverage who has been cooking this up.

@jasonbeverage do you have a screenshot and branch you can share in the meantime before the pull request is open?

[2017-10-05 17:50] pjcozzi commented on #5883
@bagnell?

[2017-10-05 19:42] jasonbeverage commented on #5887
Perfect timing :)

I'm working on the ability to modify the shaders of the globe at runtime and one of the examples I'm working on is drawing contour lines based on the elevation.

![slope](https://user-images.githubusercontent.com/326626/31248632-73226b98-a9e2-11e7-81bb-143182e3d589.jpg)

This screen shot shows two additional shaders ran after the stock globe fragment shader.  One is an elevation

[2017-10-06 06:17] thw0rted commented on #5884
Well, at least somebody should update the demo to pick the function based on the mode, but also I don't think that `moveForward` should have no effect at all in 2D mode.

[2017-10-06 15:42] CHBaker commented on #5887
@jasonbeverage hey thanks for the detailed response!  That's awesome, and pretty close, and that is correct, I don't want to use terrain, I essentially want to use 'fabricated terrain' if you will, to represent data hot spots.

Right now I'm waiting on a refactored data structure from another company, so I don't know the data structure yet. But if a tiled raster data set is gonna be the best way t

[2017-10-06 18:12] NaderCHASER commented on #5887
I have a PR open for applying a LUT to a tiled ImageryLayer. There hasn't been much progress on it, but essentially we use the Red band of a PNG to "bake in" the raw data values (with a known minimum & maximum, you can normalize). This then allows us to apply a LUT to meteorological datasets (satellite, radar and numerical models).

See here: https://github.com/AnalyticalGraphicsInc/cesium/pull/49

[2017-10-06 18:22] ggetz commented on #5886
Looks like it's just missing the `* @memberof PolylineGraphics.prototype` line, I don't think it is intentional.

[2017-10-07 00:16] adriweb commented on #5847
FWIW, this is apparently caused by Chrome now having that `chrome://flags/#enable-asm-webassembly` enabled by default.

[code]
Disabling it makes the message go away.

I found that out [here](https://chromium.googlesource.com/chromium/src/+/2b2ec4ad531ae43a75973857fb969d18d81a22c3%5E%21/#F0) randomly trying to understand (to no avail yet) why Chrome 62 is making my multi-threaded (2 threads) emula

[2017-10-08 00:13] andrzejfigula opened #5888 "Camera sinks under terrain"
Hi guys,
just found that while terrain data is loading / worker is processing, it is possible to place and control camera under terrain.
(Attached GIF)

Scenario is:
1. Happens for both, WGS84 Ellipsoid and STK Terrain.
2. Move the camera (ctrl+mouse controls), after moving, quickly move it again below the ground level.

Notice that this might depend on how quickly data will load / be shown on scr

[2017-10-08 00:46] andrzejfigula opened #5889 "Cesium controls on Cesium homepage demo are covered by close button container"
Hi guys,
One minor CSS issue on homepage, it seems like Close Demo button has width set to 100%, it overlaps the Cesium controls, and makes them inaccessible.

<img width="1350" alt="screen shot 2017-10-08 at 01 40 12" src="https://user-images.githubusercontent.com/10167071/31312939-28ed95f4-abca-11e7-855f-4bff57071281.png">

Regards,
Andrzej

[2017-10-09 13:33] ggetz commented on #5889
Hi @andrzejfigula, thanks for the report! I'm going to open this issue in the website repo so we can close it here.

[2017-10-09 13:41] ggetz commented on #5888
Hey @andrzejfigula, thanks for bringing up. We've already been tracking it in a previous issue, #5837. We're going to close your issue now to keep the discussion in one place. If you have any further input on the main issue, #5837, please post it there.

[2017-10-09 13:45] #5888 closed

[2017-10-09 15:28] cx20 opened #5891 "The glTF model of "Polly" does not loading correctly"
The project "Polly" seems to have been created to introduce all new features of glTF 2.0.
https://www.youtube.com/watch?v=l7TB1O51X_M

However, I tried [project_polly.gltf](https://github.com/KhronosGroup/glTF-Blender-Exporter/blob/master/polly/project_polly.gltf) displayed in Cesium.js, model seems not to be displayed correctly.
Cesium.js + project_polly.gltf result:
http://jsdo.it/cx20/u7sb

[co

[2017-10-09 16:01] ggetz commented on #5891
Thanks @cx20! This is already on our roadmap for glTF 2.0 support, #4009.

[2017-10-09 16:01] #5891 closed

[2017-10-09 17:36] ggetz opened #5893 "Removing polylines in a loop doesn't remove polylines with non-color materials"
Go to the [polylines sandcastle example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html?src=Polyline.html&label=All).

Add the following:
[code]

The first time that button is pressed, the polylines that are a material other than the default color are not removed. Pressing the button additional times removes one additional polyline each time.

[2017-10-09 17:38] hpinkos commented on #5893
There are some issues with your logic here.  Using a for loop isn't a good way to do this because `i` is incrementing but `viewer.entites.values.length` is decrementing each time you remove an entity.

This example works fine:
[code]

[2017-10-09 17:38] #5893 closed

[2017-10-09 17:40] ggetz commented on #5893
Thanks @hpinkos. Is there a particular reason this happens only with the polylines with non-color materials?

[2017-10-09 17:43] hpinkos commented on #5893
It's just a coincidence.  Those indexes were the ones skipped over based on how your for loop was working.
If you use the code snippet I wrote above and there are still polylines that don't get removed, feel free to re-open the issue.  All the polylines were removed correctly for me.

[2017-10-09 22:33] jasonbeverage commented on #5887
Here is a shot of an elevation color ramp generated with this.

I'm hoping to have at least a preliminary PR for this by the end of the week, but we'll see ;)

![heightramp](https://user-images.githubusercontent.com/326626/31361227-562cf4f4-ad20-11e7-8ede-81d914baa78f.jpg)

[2017-10-10 01:52] riddle911 opened #5894 "where to find the source code of the Cesium Documentation"
Hi there, I want make the Documentation offline to read.
I noticed the wiki is built by JSdoc. But I didn't find the source code of the documentation.
Can you guys help me.

[2017-10-10 13:31] ggetz commented on #5894
Hi @riddle911, please ask questions over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev). Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively. Thanks!

If you run `npm run generateDocumentation`, it will be output to the `Build/Documentation` directory. See the Cesium [Build Guide](https://github.com/AnalyticalGraphicsInc/cesium/blob

[2017-10-10 13:32] #5894 closed

[2017-10-10 13:46] shunter commented on #5894
Also the documentation is available in the official release zip files in the `Build/Documentation` directory.

[2017-10-10 15:48] coreylowman opened #5895 "Ellipsoid isn't properly occluded if it intersects with another ellipsoid"
See this showcase:

https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=49dd70ab630f3893dda1a8cf9fa23f99

The ellipsoid is centered at the surface of the earth so half of it should not be visible, but the whole ellipsoid is still visible.

If you change the angle that you view the ellipsoid at, it will become partially occluded.

Any ideas what could be causing

[2017-10-10 16:02] hpinkos commented on #5895
Hello @coreylowman
To enable clipping against the ellipsoid, add this line: `viewer.scene.globe.depthTestAgainstTerrain = true;`

In the future, please ask questions like this on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for issue tracking and feature planning

[2017-10-10 16:02] #5895 closed

[2017-10-10 16:04] coreylowman commented on #5895
@hpinkos Sorry about that! Thanks for the solution. I'll post future questions there instead.

[2017-10-10 16:28] jasonbeverage commented on #5887
So right now I'm not focusing on "fabricated" elevation, only on the actual elevation data that is passed through.  The gist of what I am doing is adding Material support to the Globe, so you can basically write your own fragment shaders that control the final coloring of the globe.

I think what you are probably after (and also what @NaderCHASER is after) is more along the lines of having a Mater

[2017-10-10 18:21] CHBaker opened #5896 "Definitely Typed"
Hello, I was working through some 3rd party lib examples for Angular,
and I think it would be awesome if we could
get cesium into [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped)

I'm not sure exactly what it would take to do this, but I would love to contribute. I think it would be a good idea to get a **community** going to **strong type cesium with DefinitelyTyped for npm**

[2017-10-10 20:13] ggetz commented on #5896
Hi @CHBaker, I'm not particularly familiar with TypeScript, so I'm not sure what all would be involved here. This looks like this might fall under the umbrella of #4434 (or maybe #5717 which is more recent), maybe we can close this and add more discussion there?

It sounds like a cool idea, but I'm not sure if the core development team has the resources to invest in this right now. We'd definitely

[2017-10-10 20:22] mramato commented on #5896
This is certainly a duplicate of #5717.  @CHBaker there's a bunch of discussion there and I think it's all still pretty relevant.  We'd love to have an automated process for generation of a ts file that we can publish with the release but no one on the core team has the bandwidth to implement it.

[2017-10-10 20:22] #5896 closed

[2017-10-10 20:33] pjcozzi commented on #5884
@thw0rted if you have the time, it would be great for you to open a small pull request to update the Sandcastle example, thanks!

[2017-10-10 20:44] pjcozzi opened #5897 "Make Code of Conduct more discoverable."
Cesium rates so well on the GitHub community profile:

![image](https://user-images.githubusercontent.com/782098/31409460-f8c7c842-add9-11e7-95ed-e319c9dd6839.png)

Cesium does have a [Code of Conduct](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#code-of-conduct) but perhaps it is too hidden.

* [ ] Add a code of conduct file, and add a link to it from CONTRIBUTING.m

[2017-10-10 20:53] GatorScott commented on #5897
FYI, confidentially is misspelled in the Cesium Code of Conduct.

[2017-10-10 20:56] hpinkos commented on #5897
Fixed.  Thanks @GatorScott!

[2017-10-10 21:19] emackey commented on #5717
I stumbled across another thing to consider here: [TypeScript without Transpiling](http://seg.phault.net/blog/2017/10/typescript-without-transpiling/).

[2017-10-10 21:29] pjcozzi commented on #4009
gltf-pipeline roadmap for glTF 2.0 - https://github.com/AnalyticalGraphicsInc/gltf-pipeline/issues/330

[2017-10-10 22:11] pjcozzi opened #5898 "Evaluate Seurat"
Seurat - from Google - is precomputed visibility from a cube resulting in a textured mesh.  They used it to _extract_ Google Earth scenes for mobile VR rendering.

If the format is published (glTF!?!?!), it could be interesting to support.

* Article: https://www.blog.google/products/google-vr/bringing-google-earth-expeditions-seurat/
* YouTube intro: https://www.youtube.com/watch?v=tto90e-DfeM&fe

[2017-10-11 00:01] lilleyse opened #5899 "Change tileset color or translucency"
It would be nice to adjust this similar to `model.color`. This might be a good beginner issue for someone working in the 3D Tiles codebase.

[2017-10-11 00:02] lilleyse commented on #5899
Requested on the forum: https://groups.google.com/forum/#!topic/cesium-dev/hXGPSdckquI

[2017-10-11 08:37] thw0rted commented on #5884
It would be simple enough to update the example, but I do think that `moveForward` should be fixed to move toward the map in 2D mode (which would make the Sandcastle update unnecessary).

[2017-10-11 19:33] #5889 closed

[2017-10-11 19:58] ggetz commented on #5889
@andrzejfigula This should be fixed now, just make sure clear your cache or open in an incognito window.

[2017-10-11 20:07] pjcozzi opened #5902 "Rename "beginner" label to "good first issue?""
Across all of our repos for better discoverability.

![image](https://user-images.githubusercontent.com/782098/31464069-3d3028b6-ae9e-11e7-8b4c-42ee856ac3a9.png)

[2017-10-11 21:15] ggetz commented on #5765
### Initial Effort Roadmap

- [ ] Modify shaders to support an array of up to 6 clipping planes
- [ ] Add API for assigning clipping planes to:
	- [ ] Models
	- [ ] Tilesets
	- [ ] Point Clouds
- [ ] Sandacstle Example

CC @lilleyse

[2017-10-11 23:44] andrzejfigula commented on #5889
@ggetz Works fine now! 👍

[2017-10-12 08:43] heavis opened #5903 "The overlapping geometry show mix color if two geometries intersect"
Two intersected geometries show on map,  set color to 'YELLOW' and 'BLUE'. The overlapping part showing color neither YELLOW nor BLUE. But I hope the overlapping part show the top YELLOW color.   similar geometries can be shown normally by Openlayers.

[2017-10-12 13:16] ggetz commented on #5903
Hi @heavis, thanks for the bug report. Could you maybe put together an example using [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases) to show when this occurs?

[2017-10-12 15:07] hpinkos commented on #5903
@heavis Cesium uses order independent translucency by default, so colors that are translucent will be blended.  You can try disabling this to see if it gives you the effect you want.  Here is an example:
[code]

Cesium unfortunately does not have support for z-ordering so there isn't a way to specify which geometry renders on top of the other.  We have an issue written up here to add that feature:

[2017-10-12 15:07] #5903 closed

[2017-10-12 15:12] mramato commented on #5903
@hpinkos is only half right.  The Entity API does not support z-ordering, but [GroundPrimitive](https://cesiumjs.org/Cesium/Build/Documentation/GroundPrimitive.html) does.  Disabling IOT will have no affect here if the goal is to have one opaque geoemtry render completely on top of another opaque geometry.

This probably is much harder in 3D than 2D (where you can literally just draw on top of the

[2017-10-12 20:11] pjcozzi commented on #5765
Thanks for putting this together!

@lilleyse could you create a branch `clip-planes-master` so that @ggetz can open incrementally pull requests into it?

May also need to lay down z first, but that may not be worth it.

Also generate optimized shaders - only tiles/draw-commands with bounding volumes intersecting any clipping plane need to do the check.

Move this from **Other ideas** to **Later**.

[2017-10-12 20:26] lilleyse commented on #5765
`clip-planes-master` branch is ready.

[2017-10-12 21:25] pjcozzi opened #5905 "glTF 2.0 images in buffers aren't mipmapped"
See https://github.com/AnalyticalGraphicsInc/cesium/pull/5853#issuecomment-335611665

[2017-10-13 06:40] beginor commented on #5717
@thw0rted I have move your [gist](https://gist.github.com/thw0rted/c0c73335c9968d5e7b6dd18a43ef6c42) to a public repo https://github.com/beginor/cesium-typings ,  this make it easy for others to contribute.

Any star or fork is welcome.

[2017-10-13 13:47] pjcozzi commented on #5765
Also, please add a blog post to the roadmap - the culling optimization is interesting and I don't think there is a ton of information in general on implementing clipping planes.

[2017-10-13 13:53] pjcozzi commented on #5765
@lilleyse for the CPU culling optimization, please show @ggetz how to check/spy draw calls for the unit tests.

[2017-10-13 19:01] emackey commented on #5650
Here's a more recent idea:  We change `fov` to `fieldOfView`, and add a new property, `maximumFieldOfView`.  The `fieldOfView` controls the vertical FOV, but only up to the point where the horizontal FOV would cross the `maximumFieldOfView`, then it is capped there (for both safety and sanity).

The existing read-only `fovy` that reports the "true" vertical FOV should remain, although could be ren

[2017-10-13 20:50] emackey commented on #5650
I created a branch `field-of-view` to experiment with the behavior described above.  It actually works surprisingly well.  The old behavior already had an FOV "kink" when resizing the window, right where the window becomes square, which always felt like an odd place for it.  This change essentially moves that same kink out to more of a landscape/widescreen aspect ratio, which is a more natural loc

[2017-10-13 21:26] emackey commented on #5650
Latest stable Cesium: [Sandcastle demo](https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=3f91d88cf490ee00d82e649af8f8ffc8)

This branch: [Sandcastle demo](http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/field-of-view/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=3f91d88cf490ee00d82e649af8f8ffc8)

[2017-10-13 21:45] pjcozzi commented on #5650
At quick glance, it all sounds reasonable.

@bagnell or @lilleyse any thoughts?

[2017-10-16 19:23] techboy14 commented on #5902
alright

[2017-10-16 20:50] bmckilligan opened #5907 "Verticle Polygons"
In the past I noticed there was some issues with vertically oriented polygons and
have tried workarounds by regenerating the polygon with many narrow wall objects or a single rectangular wall with a material consisting of a transparent canvas element with the polygon drawn on the canvas..

trying the vertically oriented polygons again with a more recent version of cesium I noticed the issue with t

[2017-10-16 20:56] ggetz commented on #4346
Reported again on the forum: https://groups.google.com/forum/#!topic/cesium-dev/vq777-nhFuI

[2017-10-17 13:35] ggetz commented on #5907
Thanks for the report and the details @bmckilligan. Would you mind also writing up a quick Sandcastle example for when this is working and when it is prevented? It'll hep us track this down quicker. Thanks!

[2017-10-17 14:17] hpinkos commented on #5907
Closing as a duplicate: #3349

@bmckilligan the polygon primitive is designed to conform to the curvature of the ellipsoid, so it doesn't work for arbitrary polygons in space.

I played around a little bit with a 'space polygon' type on this branch: https://github.com/AnalyticalGraphicsInc/cesium/tree/space-polygon
It only works with coplanar points.

[2017-10-17 14:17] #5907 closed

[2017-10-17 14:17] hpinkos commented on #3349
See another example here: https://github.com/AnalyticalGraphicsInc/cesium/issues/5907#issue-265911975

[2017-10-17 14:42] ggetz opened #5908 "Geocoder sandcastle example should request the endpoint via https"
The [Geocoder sandcastle example](https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Custom%20Geocoder.html&label=All) currently throws an error because it's hosted at `https`, but it's requesting the endpoint via `http`. The error is fixed by using a url with `https`.

[2017-10-17 14:47] #5908 closed

[2017-10-17 19:13] thedoctordiaz opened #5910 "non halting loop on equal or very close start, stop times"
https://github.com/AnalyticalGraphicsInc/cesium/blob/c292a33a27954004eaba0f08b75a667b4fbcbc4e/Source/Core/Clock.js#L300

suggest replace with

Math.min(
                  JulianDate.secondsDifference(currentTime, stopTime),
                  JulianDate.secondsDifference(stopTime, startTime)
                )
in the increment.

[2017-10-17 19:47] #5886 closed

[2017-10-17 19:59] hpinkos commented on #5863
Hello @CHBaker.  Sorry you're having trouble with this.  Unfortunately, no one on the Cesium team is familiar with angular.  Cesium also doesn't have typing support so that may be part of the issue.  I would recommend posting your question on the forum: https://groups.google.com/forum/?l=en#!forum/cesium-dev
The forum has a lot more visibility to the larger Cesium community, so it is more likely t

[2017-10-17 19:59] #5863 closed

[2017-10-17 20:00] hpinkos commented on #5910
Thanks @thedoctordiaz!  Feel free to open a pull request with these changes.  You can find instructions on doing so here: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request

[2017-10-17 20:03] hpinkos commented on #5862
This change was reverted, so this is no longer needed

[2017-10-17 20:03] #5862 closed

[2017-10-17 20:06] hpinkos commented on #4897
@pjcozzi can we close this?

[2017-10-17 20:09] #5822 closed

[2017-10-17 22:00] bmckilligan commented on #5907
https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=aaf8c76debb0e8ee19c4d65291bae289

[2017-10-18 00:03] bmckilligan commented on #5907
As a possible workaround for my use case I have also been looking at using a PolylineVolumeGraphic that has only two positions defined that are less than a meter apart

Would it be possible to have and additional property added to PolylineVolumeGraphics defining an anchor point (Cartesian2)  with respect to the  the shape that the positions(Cartesian3) are mapped to for the extrusion  .

Currently

[2017-10-18 11:06] wangtun opened #5911 "camera.constrainedAxis not work?"
I have set the camera.constrainedAxis as Cesium.Cartesian3.UNIT_Z, but when I rotate the global, I can rotate it any axis. How can I fixed the camera axis  when I rotate the global? thanks

[2017-10-18 13:34] ggetz commented on #5911
Hey @wangtun, please ask questions over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev). Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively. Thanks!

[2017-10-18 13:48] thw0rted opened #5912 "Firefox WebGL warnings in console"
When I load [the basic viewer](https://cesiumjs.org/Cesium/Build/Apps/CesiumViewer/index.html?stats=true) in Firefox (56.0, 64-bit, Ubuntu 16.04), I see repeated errors in the console:

When I try to work with [billboards](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Billboards.html&label=Showcases), I also see

and

In my (much more complex) application, I get tons of these warnings

[2017-10-18 13:54] thw0rted commented on #5847
This is happening to me on Firefox 56, Ubuntu 16.04:

[2017-10-18 14:10] hpinkos commented on #5907
That's a good idea @bmckilligan.  I have a number of improvements I want to make to the polyline volume type, but it's unlikely that I'll have time to work on it anytime soon.  I'm happy to review a pull request if you have time to take a look at it!

Do you think a wall geometry would work for what you're trying to do? https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Wall.html&label=Geometries

[2017-10-18 14:11] #5911 closed

[2017-10-18 14:13] hpinkos commented on #5912
Thanks @thw0rted!  I see this on my windows machine as well.

@lilleyse do you know what this might be from?

[2017-10-18 16:55] jburr-nc opened #5914 "KML ground overlays appear distorted when rotated"
PR incoming...

May or may not assist with the forum thread referenced in this ticket: https://github.com/AnalyticalGraphicsInc/cesium/issues/5025

Google Earth:
![before](https://user-images.githubusercontent.com/20321959/31731410-f92face4-b402-11e7-9938-3a68160c3f27.PNG)

Cesium (before fix):
![after](https://user-images.githubusercontent.com/20321959/31731418-fd1f325c-b402-11e7-9c24-bac026ef761

[2017-10-18 19:17] lilleyse commented on #5120
@AnimatedRNG - here's some notes about glTF and some ideas for getting Draco support into Cesium:

The general structure for a glTF is:

scene -> node -> mesh -> primitive -> attributes -> accessors -> buffer view -> buffer

A scene contains a list of nodes. A node contain a model matrix and a reference to a mesh. A mesh contains a list of primitives, where each primitive is defined by a material,

[2017-10-18 19:28] bmckilligan commented on #5907
I have been using wall geometries, splitting the complex polygons into a number of thin walls, however there is an issue with walls when things get close to the ground and the ellipsoid elevations are negative

https://github.com/AnalyticalGraphicsInc/cesium/issues/4274

Another approach I have taken is to draw the polygons onto canvas elements and applying the canvas element to a rectangular wall

[2017-10-18 20:09] #5914 closed

[2017-10-18 21:44] pjcozzi commented on #5120
Add to https://github.com/AnalyticalGraphicsInc/cesium/issues/5120#issuecomment-330348890:

[2017-10-18 21:46] pjcozzi commented on #5120
@lilleyse as you sure about your approach?  It makes sense for `gltf-pipeline`, but we should not make a habit of doing a lot of glTF JSON object modification as part of our runtime loading.  Instead, we should strive to get data into Cesium's data structures - even intermediate data structures that are used to aid loading - and then process.  Don't you agree?  Is that hard in this case?  If so, w

[2017-10-18 21:51] #4897 closed

[2017-10-18 21:51] cesium-concierge commented on #4897
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!msg/cesium-dev/sUcx0GLI4Qc/SlU96ZkdCQAJ
https://groups.google.com/d/msg/cesium-dev/sUcx0GLI4Qc/SlU96ZkdCQAJ](https
https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/QTSlECbZmG8

If this issue affects any of these threads, please post a comment like the follow

[2017-10-18 22:04] pjcozzi commented on #5912
Good catch, thanks @thw0rted!

I suspect a new version WebGL 1.0.x version make these deprecations:

The other errors are like due to not calling `texImage2D ` before `texSubImage2D` - which Cesium _should_ do everywhere.

@bagnell do you want to look at this since @lilleyse has his hands full with your PRs. :)

[2017-10-19 09:19] Levente0xFFFF opened #5916 "Billboard image glitch on filled area"
Hello,
I use Cesium 1.38.
Let the code and the pictures speak:

![whole](https://user-images.githubusercontent.com/32195238/31763175-c7bab8d2-b4bd-11e7-8326-c47be81c5dbe.PNG)
![notwhole](https://user-images.githubusercontent.com/32195238/31763178-cd4f4114-b4bd-11e7-8684-ca71920beb39.PNG)

On the first picture I have NaturalEarth layer and the circles are full.
On the second picture I have NaturalE

[2017-10-19 13:22] ggetz commented on #5916
Hi @Levente0xFFFF, please ask questions like this over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev). Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively. Thanks!

[2017-10-19 14:03] Levente0xFFFF commented on #5916
OK, give me your phone number so I can create a google account after you sent me the activation code...

[2017-10-19 14:10] #5916 closed

[2017-10-19 14:15] Levente0xFFFF commented on #5916
Nice, so since google doesn't call back my desk phone, for me, it would be only possible to ask my question about Cesium if I go and by a new phone number. Hail Google!

[2017-10-19 14:19] hpinkos commented on #5916
Sorry about your technical troubles @Levente0xFFFF
For your billboards, try using the [disableDepthDistance](https://cesiumjs.org/Cesium/Build/Documentation/Billboard.html?classFilter=bill#disableDepthTestDistance) property to keep them from going under the terrain

[2017-10-19 14:29] Levente0xFFFF commented on #5916
Wonderfully solved the issue!
**Thank you very much!** <3

[2017-10-19 15:42] ggetz commented on #628
Related forum thread: https://groups.google.com/forum/#!searchin/cesium-dev/line$20clipping%7Csort:date/cesium-dev/VmvDX4nU_bM/2hAIMzW_BAAJ

[2017-10-19 16:25] lilleyse commented on #5120
I see your point. It shouldn't be too hard to use intermediate data structures instead.

After looking closer I noticed this step isn't needed. The draco buffer view target will not be marked as `ARRAY_BUFFER` so it will not be uploaded to the GPU like I thought. So ignore this.

Instead of this approach, we can probably circumvent most of the gltf asynchronous loading code and just create vertex

[2017-10-20 09:34] thw0rted commented on #5331
I don't know if this was missing before, but right now `disableDepthTestDistance` is missing from the constructor options [in the docs](https://cesiumjs.org/Cesium/Build/Documentation/BillboardGraphics.html).

[2017-10-20 10:25] thw0rted commented on #2694
I'm currently combining `disableDepthTestDistance` with `translucencyByDistance` to make labels visible through terrain, but hidden at a certain distance from the viewer.  This mitigates the issue where entities show through the earth (!) in 3D mode when `disableDepthTestDistance` is set to Infinity. I'm still hoping for a solution where billboards don't get clipped by terrain, but "whole entities

[2017-10-20 10:30] thw0rted commented on #526
I noticed that "How should billboards interact with terrain" is checked off, but I believe the default behavior is still pretty ugly.  Is this still being worked? I saw a few other billboard/terrain issues but I'm not sure what's being treated as a priority.

[2017-10-20 12:44] pjcozzi commented on #5816
@ggetz OK to close this?  Is there anything left in the above tasklist for future work?

[2017-10-20 12:45] pjcozzi commented on #5423
@lilleyse OK to close this?  Is there anything left in the roadmap that should perhaps move to #4009?

[2017-10-20 12:47] pjcozzi commented on #4009
@lilleyse can you please update the above tasklist?  Some of the items are finished.

[2017-10-20 12:49] pjcozzi commented on #4989
* [Designing a Next-Gen Graphics API for the Web](https://docs.google.com/presentation/d/1Z_3-3V6FRsF8OJNeH7yc6UKtgXy90Ggff07V9Z6uo6U/edit#slide=id.g644e7765b4b81e56_540)

[2017-10-20 13:33] lilleyse commented on #5423
The only thing left unfinished here is `Handle spec-gloss extension.` so good to close.

[2017-10-20 13:33] #5423 closed

[2017-10-20 14:16] hpinkos commented on #5331
Thanks @thw0rted!  I submitted a PR to update the doc #5918

[2017-10-20 16:11] ggetz commented on #5816
Yep, this is good to close. #5417 and #4876 will also be resolved using the recommended config.

[2017-10-20 16:15] mramato commented on #5816
For anyone that stumbles on this issue, see @ggetz's awesome work on Cesium and webpack here: https://cesiumjs.org/tutorials/cesium-and-webpack/

[2017-10-20 16:15] mramato commented on #5417
This should be addressed by our recommended webpack configuration https://cesiumjs.org/tutorials/cesium-and-webpack/

[2017-10-20 16:15] #5417 closed

[2017-10-20 16:16] mramato commented on #4876
This should all be addressed by our recommended webpack configuration and example repository.
 (Also includes some minor cesium code changes that will be in the next release).
 See https://cesiumjs.org/tutorials/cesium-and-webpack/

[2017-10-20 16:16] #4876 closed

[2017-10-20 17:05] #5816 closed

[2017-10-20 19:53] #5364 closed

[2017-10-20 20:25] jschwepp opened #5920 "WebGL rendering issue when minimizing and maximizing Chrome Version 62.0.3202.62 (Official Build) (64-bit)"
When minimizing and maximizing the browser window WebGL crashes.

![chrome_2017-10-20_15-11-43](https://user-images.githubusercontent.com/32968215/31840381-cd39b842-b5aa-11e7-99db-94324f702f9f.png)
![chrome_2017-10-20_15-12-23](https://user-images.githubusercontent.com/32968215/31840383-d034b24a-b5aa-11e7-8569-3a1a0e4af244.png)

[2017-10-20 20:33] hpinkos commented on #5920
Hi @jschwepp.  I just updated Chrome and was unable to reproduce this.
What OS are you using?
Try clearing your cache/cookies to see if that fixed the problem.  Thanks!

[2017-10-20 20:39] jschwepp commented on #5920
This is on Windows 10 Enterprise version 1607 OS Build 14393.1715.  Already tried clearing cache and cookies.  Happening to multiple users.  Though, they do share the same laptop model which is a Lenovo P50.  I will test on a different computer when I have the chance.

[2017-10-20 20:40] #5705 closed

[2017-10-20 20:42] hpinkos commented on #5920
Do you know what graphics card is on that laptop?

[2017-10-20 20:44] hpinkos commented on #5920
@jschwepp also, please go to http://webglreport.com/ from that laptop and let us know what you see on that page.  Thanks!

[2017-10-20 20:51] jschwepp commented on #5920
Video card is a Nvidia Quadro M2000M.  Users were having no problems with Cesium before the latest Chrome update.

![image](https://user-images.githubusercontent.com/32968215/31841283-7af48fd6-b5ae-11e7-85e5-ceb914f73c50.png)
![image](https://user-images.githubusercontent.com/32968215/31841286-7f03923e-b5ae-11e7-9fc5-ac1542990e30.png)

[2017-10-20 21:06] hpinkos opened #5921 "Better KML Network Link Error Handling"
In #5871 we added a catch when a network link fails.  This makes it impossible to detect and handle errors programmatically.  We might want to consider adding support for a callback when a network link fails.

[2017-10-20 21:07] cesium-concierge commented on #5830
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/iNuC3h8FQ4U

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-10-20 21:07] #5830 closed

[2017-10-20 21:10] #5779 closed

[2017-10-20 21:41] #3752 closed

[2017-10-21 17:45] pjcozzi opened #5923 "Naming convention for parked branches?"
It's great to see slow moving pull requests moving to parked branches like https://github.com/AnalyticalGraphicsInc/cesium/pull/2929#issuecomment-338326141 and https://github.com/AnalyticalGraphicsInc/cesium/pull/2939#issuecomment-338317275.

Perhaps we should start to use a naming convention like `parked-` so it is easier to browse branches?

[2017-10-21 19:12] pjcozzi commented on #526
@thw0rted this is not currently being worked; however, contributions are very welcome if you have the bandwidth.  Otherwise, please add any info you have in the specific issues or create new issues.

[2017-10-23 13:28] ggetz opened #5924 "Release test failure in master"
Test failure only in `test webgl-stub release`.

[code]

[2017-10-23 15:38] #5924 closed

[2017-10-23 18:01] hpinkos commented on #5920
@pjcozzi @bagnell any ideas here?

[2017-10-23 18:05] hpinkos opened #5927 "Test Failure: Scene/Expression throws if regex constructor has invalid pattern"
Windows 10 in Chrome 62.0

![image](https://user-images.githubusercontent.com/3451886/31905107-11f36ec2-b7fb-11e7-9d1f-9f1fa99ffe2b.png)

[2017-10-23 18:23] mramato commented on #5920
This is most likely a cut-and-dry missing check for `0` width or height in `GlobeDepth.update`

[2017-10-23 21:31] #5819 closed

[2017-10-23 22:41] lilleyse commented on #5899
Closing in favor of doing this in the styling language, which isn't yet possible if a tileset doesn't have features, but will be soon.

[2017-10-23 22:41] #5899 closed

[2017-10-23 22:42] cesium-concierge commented on #5899
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/hXGPSdckquI

If this issue affects any of these threads, please post a comment like the following:

__I am a bot who helps you make Cesium awesome!__ Thanks again.

[2017-10-24 18:27] emackey commented on #2694
I like the "whole entity" idea.  I've encountered more than one project where they want an all-or-nothing test for visibility of the entity (point, billboard, and label, together).  If the entity's single location is exposed to the camera, then the point+billboard+label graphics should be visible in their entirety, unfettered by depth-buffering.  But if the entity is obscured, even just hidden beh

[2017-10-25 01:22] mramato commented on #5920
I randomly ran into this today, but can't consistently reproduce it.  Marking it for next release (I'll take a look before the end of the week).

[2017-10-25 01:58] MarchChadwick commented on #40
Would love to change the outlineWidth property.  No luck as yet.

[2017-10-25 07:55] thw0rted commented on #2694
I had two thoughts about this.  Being able to designate entities as all-or-nothing, at the top level, would be a helpful feature, for the reasons you've laid out.  But I also think that certain 2D graphical elements should be excluded from individual depth testing, as you've described, either behind an option or as a global rendering engine change.  I can't think of a reason anybody would ever wan

[2017-10-25 10:36] gomap opened #5929 "pick 3dtile is wrong"
when i click  mouse  on 3dtile ,then code  dose not run  alert ,but feature  is not   undefined:

 var feature = viewer.scene.pick(click.position);
  if (feature instanceof Cesium.Cesium3DTileFeature) {
            alert("test")
  }

[2017-10-25 10:58] Vineg opened #5930 "3d tileset format"
As I can see, right now tileset is consist of a directory with loads of distinct files and folders. I think, it would be nice to introduce some kind of archive format with custom extension for purpose of simple transfering and identification.

[2017-10-25 11:57] #5930 closed

[2017-10-25 13:11] GatorScott commented on #40
The ANGLE project declared in 2014 that they would not be implementing wide lines.  Having said that, wide outlines are working for me on Windows 10 in

- Chrome 62.0.3202.62, ANGLE (NVIDIA Quadro M1000M Direct3D11 vs_5_0 ps_5_0)
- Firefox 56.0, ANGLE (NVIDIA Quadro M1000M Direct3D11 vs_5_0 ps_5_0)
- Edge 40.15063.674.0, Intel(R) HD Graphics 530
- Internet Explorer 11.674.15063.0, NVIDIA Quadro M1

[2017-10-25 13:50] lilleyse commented on #5929
This seems to work on the [3D Tiles Feature Picking demo](https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=3D%20Tiles%20Feature%20Picking.html&label=Showcases).

What does `console.log(feature)` say the feature is? Does your tileset contain features?

[2017-10-25 13:59] mramato commented on #5927
@ggetz, I think you're most familiar with this code?  Do you think you'll have time to take a look before the next release?  At least to make sure this isn't a bigger issue in styling.

[2017-10-25 14:13] ggetz commented on #5927
@mramato Sure, I'll take a look shortly.

[2017-10-25 18:04] likangning93 commented on #2172
That thing is like a *Hitchiker's Guide* or something waoww

[2017-10-25 18:25] pjcozzi commented on #5930
@Vineg we agree, see https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/89

[2017-10-25 19:33] bagnell opened #5932 "Lens Flare artifact"
From the `post-processing-1.0` branch, open the Lens Flare Sandcastle example and click `View from Everest`. You'll see this:

![image](https://user-images.githubusercontent.com/1494815/32018977-ac7d611a-b999-11e7-9dfa-cbd5b046e057.png)

Any ideas how to fix this @byumjin?

CC #5615

[2017-10-26 01:23] gomap commented on #5929
add  code   console.log(feature)   show these  messages :
{content: b, primitive: U}
content
:
b {_tileset: U, _tile: M, _url: "http://192.168.14.180/hf/Tile_+034_+015_+000_L18_000.b3dm?v=0.0", _model: xe, _batchTable: R, …}
primitive
:
U {_url: "http://192.168.14.180/hf", _basePath: "http://192.168.14.180/hf/?v=0.0", _tilesetUrl: "http://192.168.14.180/hf/tileset.json", _root: M, _asset: {…}, …}

[2017-10-26 04:10] tomhaitao opened #5936 "Can I use the canvas as a layer to draw on earth?"
Thanks for contributing to the Cesium Community!

If you have a question, please search the forum:

http://cesiumjs.org/forum.html

and start a new forum thread, if needed, instead of creating this issue.

Otherwise, we look forward to your bug report or feature request in this issue.

---

Delete this message before clicking Submit.

[2017-10-26 05:37] byumjin commented on #5932
Sorry, there is no way to fix it
Because, it uses the scene image for its ghost effects, not the HDR scene image (only bright part).
Thus, only space scene could show the appropriate result :(

[2017-10-26 10:18] gomap commented on #5929
sorry,i found the reason. the old  formate  of b3dm   is right . the new formate of my data may be not right ,but i can load them on view .

[2017-10-26 12:46] pjcozzi commented on #5932
Thanks @byumjin!  We plan to implement HDR - will that fix this?  Or will we need to do additional work once HDR is implemented?

[2017-10-26 13:44] emackey commented on #2694
Yes, every time I think about this, I can't imagine a valid reason why a user would want per-fragment visibility testing of 2D elements (points/billboards/labels).  They either want all fragments of all the available 2D elements for a given entity, or none.

[2017-10-26 13:53] lilleyse commented on #5929
Ok I'll close this issue then. If you need help in the future head over to the Cesium forum: https://groups.google.com/forum/#!forum/cesium-dev.

[2017-10-26 13:53] #5929 closed

[2017-10-26 14:30] ggetz commented on #5936
Hi @tomhaitao, please ask questions over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev). Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively. Thanks!

[2017-10-26 15:29] pjcozzi commented on #648
Related blog post: https://cesium.com/blog/2017/10/23/integrating-cesium-with-threejs/

[2017-10-26 16:06] pjcozzi commented on #2694
@emackey @thw0rted I agree - feel free to hack up a prototype.  This could even become a bit easier with the upcoming post-processing framework, #5808, providing access to the terrain/environment depth texture.

CC @bagnell

[2017-10-26 16:49] byumjin commented on #5932
it needs additional work creating a shader extracting HDR part instead of just using scene image.

[2017-10-26 16:59] #5936 closed

[2017-10-26 19:47] pjcozzi commented on #5932
Gotcha, thanks @byumjin!

@bagnell up to you if you want to just keep this as a known issue or add the disable workaround.

[2017-10-26 20:23] ggetz opened #5938 "Create one liner to render canvas to image"
Create a one liner to render the current canvas to an image.

Requested on the forum here: https://groups.google.com/forum/#!searchin/cesium-dev/webgl%7Csort:date/cesium-dev/FdQk03zgOMI/KAZp4QiPBwAJ

[2017-10-26 20:46] ggetz commented on #4000
Came up on the forum again: https://groups.google.com/forum/#!topic/cesium-dev/_T3vRx1D858

[2017-10-27 08:24] 9lovingly opened #5941 "How to highlight or locate the model.Node"
I met with the trouble about it.When I get the node objects by the way of "getNode()",at the same time I want to locate or highlight it to show where it is in the whole models.However I couldn't found any properties like color or x,y,z(lon lat height) just matrix.Therefore I hope some can give me some suggestion.
     node = model.getNode(id);
function createModel(id, url, height, lon, lat) {

[2017-10-27 12:17] pjcozzi opened #5942 "The road to terrain on by default"
Just trying to scope all the work required to have terrain on in Cesium by default.  Feedback and missing items are encouraged!

* [ ] First ship with `depthTestAgainstTerrain` defaulted to `true`, #2160.  When that is proven to work well, a future release can enable terrain by default
* [ ] Polylines on terrain, https://github.com/AnalyticalGraphicsInc/cesium/issues/2172
* [ ] Labels/billboards p

[2017-10-27 13:12] pjcozzi opened #5943 "Geocoder selects wrong list item with key press"
In Cesium Viewer, type "3330 Walnut Street" into the Geocoder, three list items appear with autocomplete:

![image](https://user-images.githubusercontent.com/782098/32105527-cb1a6402-baf6-11e7-8c12-c1c8fd4a44e2.png)

If you click on the second address - the one in Philadelphia - it zooms to the right location.

Instead, if you use the down arrow key to select the Philadelphia address and hit enter

[2017-10-27 13:23] lilleyse commented on #5941
Changing the color of a single node in a model isn't possible right now. Depending on what your model is, it might make sense to convert it to [3D Tiles](https://github.com/AnalyticalGraphicsInc/3d-tiles) where individual features can be colored.

I'll close for now, but if you have more questions feel free to ask them on the [forum](http://cesiumjs.org/forum.html).

[2017-10-27 13:23] #5941 closed

[2017-10-27 15:19] pjcozzi commented on #4195
The fog color now matches day/night intensity (but not the orange dusk/dawn) in #5934.

[2017-10-27 17:34] lilleyse commented on #5650
I'm all for the new behavior. I don't have a widescreen monitor to test with, but I tried both demos with a squashed view and like the new way.

[2017-10-28 00:05] emackey commented on #2685
See also some ideas re-thinking the way points/billboards/labels could be separated from the 3D scene, in https://github.com/AnalyticalGraphicsInc/cesium/issues/2694#issuecomment-339086615

[2017-10-28 07:46] xtassin commented on #4195
Much needed indeed. Giving control on fog colour would be best.

[2017-10-30 00:31] MarchChadwick commented on #40
Hello GatorScott and thank you for response.  I am using Chrome with a Macbook pro.  Following PolylineOutlineMaterialProperty https://cesiumjs.org/Cesium/Build/Documentation/PolylineOutlineMaterialProperty.html in the Cesium sandbox https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Polygon.html&label=undefined  produces no change in outline thickness for me.

[2017-10-30 03:09] 9lovingly commented on #5941
Thanks Sir.by the way,what kind of tools do you use to convert it to 3D Tiles?

[2017-10-30 09:35] 9lovingly opened #5946 "Cesium Model is very dark"
When I view the model in cesium,the scene is very dark in some point of view ,and I try to set globe Light,but it's useless.Whenever it's day or night,the scene is not light.
viewer.scene.globe.enableLighting = true;
How can  I  make my scene become bright always in any point of view?

Thanks for contributing to the Cesium Community!

If you have a question, please search the forum:

http://cesium

[2017-10-30 13:29] pjcozzi commented on #797
* [NanoGL](https://m.makemepulse.com/nanogl-a-crafted-webgl-2-microframework-39837889f6a4) - thin WebGL 2 wrapper

[2017-10-30 13:37] ggetz commented on #5946
Hi, @9lovingly, please ask questions over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev). Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively.

I've opened a [thread on the forum](https://groups.google.com/forum/#!topic/cesium-dev/VjFk9ahmHlE) for this question. Please continue discussion there.

Setting `viewer.scene.globe.enableLi

[2017-10-30 13:39] ggetz commented on #5941
Hi @9lovingly, please ask questions over on the forum. There's a [thread that discusses this question already](https://groups.google.com/forum/#!searchin/cesium-dev/convert$203d$20tiles%7Csort:date/cesium-dev/xLkYIuku9hA/L893wEmsDgAJ). Thanks!

[2017-10-30 14:24] hpinkos commented on #40
@MarchChadwick support for `outlineWidth` is dependent on your OS and your graphics card.  If the value of `scene.maximumAliasedLineWidth` is `1`, then your machine only supports 1px width geometry outlines.  See more information here: https://stackoverflow.com/questions/25394677/how-do-you-change-the-width-on-an-ellipseoutlinegeometry-in-cesium-map/25405483#25405483

In the future, please ask que

[2017-10-30 14:24] cesium-concierge commented on #5946
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/VjFk9ahmHlE

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2017-10-30 14:24] #5946 closed

[2017-10-30 18:22] CHBaker opened #5947 "TypeError: Cannot set property 'geometry' of undefined"
I'm rendering Cesium with Angular-Cesium. But this problem also occured when just running Cesium.js, which is Why I'm also posting here.

I'm rendering a kml stream and updating it every 1.5 seconds. Sometimes, it loads perfectly, no errors, and sometimes I get the error below. this is with no code changes. Also, If I set the interval to 10 seconds, It seems to solve the problem as far as I can te

[2017-10-30 18:24] hpinkos commented on #5947
@CHBaker Can you give us an example KML file that causes the error?  Otherwise it's going to be really difficult for us to reproduce

[2017-10-30 18:29] CHBaker commented on #5947
@hpinkos the problem is it's a kml stream, when it was static it worked fine

[2017-10-30 18:41] hpinkos commented on #5947
@CHBaker Gotcha.  It's likely an async problem.  The previous `load` didn't finish by the time you called the next one, and some kind of race condition is happening.  As a workaround, you could try waiting for the previous load to resolve before calling the next one:
[code]

It would be really helpful for us to debug if you could share 2 sequential KML files that cause the crash.  Thanks!

[2017-10-30 19:02] CHBaker commented on #5947
@hpinkos hmmm. I tried that, and no error would occur but the kml would not load. I could get it working by  setting a time out of 10 seconds before starting the interval, but that's pretty inconvenient. I'm sorry I do not have permission to share the kml. All I can say is that it plots lines on the glob :/

[2017-10-31 11:33] Doomelf commented on #5920
@jschwepp I found a workaround on the internet that works. Go to Settings -> Advanced Settings and disable "Use hardware acceleration when available".

If this is not enough to fix the issue go to your Internet Settings -> Advanced -> Accelerated Graphics section and check "Use software rendering instead of GPU rendering".

[2017-10-31 15:41] mramato commented on #5920
@Doomelf, disabling hardware acceleration is definitely not a recommended solution for this.  It will ruin Cesium performance (and performance on many other websites as well).  It does help narrow this down to a possible driver bug.

@jschwepp can you find out the nvidia driver version and date that you are using?  It looks like the latest for that card is fairly recent.  If you go to chrome://gpu

[2017-10-31 19:20] #5927 closed

[2017-11-01 01:36] #5943 closed

[2017-11-01 03:10] Lx15 opened #5950 "npm install err with sha1"
Now , I am using the Cesium with 1.38. I run `npm install` after I downloaded the cesium zip . But I meet an err and i can't fix it .
the version of node is V8.4.0 ,and npm is  5.3.0
the err is followed:
![err sreenshot](https://user-images.githubusercontent.com/14272220/32258381-2e47b91a-bef5-11e7-9d09-945d3872853f.png)
the err is happened when it extract clone@1.0.2

![err](https://user-images.g

[2017-11-01 13:47] ggetz commented on #5950
Hi @Lx15 ! Please ask questions over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev).  There are members of the community and developers from the team who answer these kinds of questions there. Additionally, Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively. Thanks!

[Building Cesium requires Node 6+.](https://github.com/Analytical

[2017-11-01 13:57] #5950 closed

[2017-11-01 14:20] mantesat opened #5951 "Labels and custom terrain"
I'm using Cesium with a custom elevation dataset created by CesiumTerrainBuilder. Elevation looks good, but on some cases, labels appear with letters shifted mostly on Camera.Up direction (upwards or downwards). This can be easily reproduced, but it doesn't happen all the time or for the same labels and view angles.  The more the altitude angle is shallow, and the more the camera approaches the en

[2017-11-01 14:34] ggetz commented on #5951
Hi @mantesat! Please ask questions over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev).  There are members of the community and developers from the team who answer these kinds of questions there. Additionally, Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively.

I've open a thread for you [here](https://groups.google.com/forum/#!to

[2017-11-01 14:40] #5951 closed

[2017-11-01 14:40] cesium-concierge commented on #5951
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/NroeiSFxKFw

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree