[2016-03-21 16:17] pjcozzi commented on #3730
@bagnell can you add this to your list?  @lilleyse and I also ran into this with picking in 3D Tiles.  If it's not a quick fix, then we can evaluate.

[2016-03-21 16:34] pjcozzi opened #3732 "npm run test doesn't run the tests?"
Perhaps I am just not setup, right?

Following the [guide](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/TestingGuide#run-all-tests-on-the-command-line-with-karma):
[code]
If extra setup is needed, we should add it to the testing guide.

`npm run test-all` also appears to just hang.

This works:
[code]

[2016-03-21 18:06] mramato commented on #3732
I apparently broke this with #3658.  Fix is trivial, I'll open a PR shortly.

[2016-03-21 18:08] lilleyse commented on #3302
Looks like someone already did this one. Closing.

[2016-03-21 18:08] #3302 closed

[2016-03-21 18:42] #3732 closed

[2016-03-21 19:05] #3607 closed

[2016-03-21 19:06] pjcozzi commented on #3607
@hpinkos can you comment on the forum thread and let them know this will be fixed in 1.20?

[2016-03-21 19:06] pjcozzi commented on #3676
@jacmendt this was fixed in #3734 and will be released in Cesium 1.20 on April 1.

[2016-03-21 19:08] pjcozzi opened #3735 "Karma test performance"
Do I have something set wrong?

The Jasmine tests take 54 seconds to run in Chrome.  Running `npm run test -- --browsers Chrome` takes 9 minutes and includes some async callback failures, but I don't think they are the only performance issue.

[2016-03-21 19:36] pjcozzi opened #3737 "Black glTF models"
I believe there have been reports of glTF models showing up black in Cesium on the forum (if you know of any please comment here).  There is a reported issue in Three.js on some hardware, https://github.com/mrdoob/three.js/issues/8381.  If this is the generated shaders, we will either fix the shaders or workaround them in JavaScript.

This could affect all of our lighting code, not just glTF model

[2016-03-21 19:42] hpinkos commented on #3737
https://groups.google.com/d/msg/cesium-dev/nlWiGXaaDz4/m1sVlxajCAAJ
https://groups.google.com/d/msg/cesium-dev/FFKF3N77FmQ/Edpa3y3IBAAJ

[2016-03-21 20:17] TomPed opened #3740 "Sluggishness when adding polylines"
I've compared three ways of adding polylines to Cesium to try and narrow down why adding polylines slows down Cesium in a few cases.

## One

Adding polylines using `viewer.entities.add`. From the `.gif` below you can see that there is a slow down (Cesium freezes up) when adding the polylines. After the first few polylines added the slow down becomes very, very small, but it's still noticeable.

!

[2016-03-21 20:26] pjcozzi commented on #3740
Thanks for the detailed report.

For **Two**, it's possible that the shader cache is getting trashed (however, Cesium waits like 120 frames before deleting a shader to avoid a case like this) or re-batching is doing something really slow.

No rush, but @mramato can investigate.  If it is something low level, I will take a look.

[2016-03-21 20:33] mramato commented on #3735
What OS are you on?

On my Windows machine (though I've run Linux at home without issue as well) `npm run test -- --browsers Chrome` takes 55 seconds. (BTW, `npm run test` will just use Chrome by default and also takes 55 seconds on my system).

1. Can you try `npm run test -- --browsers Electron`  to make sure it's not something weird with how Chrome is configured on your machine. (That took 53 s

[2016-03-21 20:39] pjcozzi commented on #3735
(3) fixed it.  I tried running `npm install` before, but I did not clear out `node_modules`.  Thanks!

BTW this is Windows and they run in 52s.

[2016-03-21 20:39] #3735 closed

[2016-03-21 20:40] mramato commented on #3735
:+1:

[2016-03-21 20:41] bagnell commented on #3740
For three, the first line might be slow because it is starting up the web workers. Try adding `asynchronous : false` as an option parameter to `Primitive`.

[2016-03-21 20:48] MannusEtten opened #3742 "projecting units"
i have a webmercator projection with meters as units.
how can i easily and quickly reproject them to degrees?

and for a rectangle (bounding box) i have to define also an ellipsoid which uses radians...

so now i am wondering how to define a bounding box which is originally in meters to one which is proper to use in the rectangle property of ArcGisMapServerImageryProvider(options)

[2016-03-21 20:53] TomPed commented on #3740
You're right, adding `asynchronous : false` to `Primitive` in __Three__ does make the slowdown go away.

[2016-03-21 20:59] hpinkos commented on #3742
Hello @MannusEtten.  Please use our forum to ask questions like this: https://groups.google.com/forum/?hl=en#!forum/cesium-dev

This functionality is not included in Cesium.  You can't easily convert meters to a longitude/latitude position because meters per degree changes depending on what part of the ellipsoid you are on.  You might be able to find a formula to help you with this calculation.

[2016-03-21 20:59] #3742 closed

[2016-03-21 21:06] lilleyse commented on #3742
I've used this function before to convert from meters to longitude/latitude in radians, but you have to know the center latitude ahead of time:

[code]

[2016-03-21 21:09] bagnell commented on #3740
If you bring the `if` block [here](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Primitive.js#L771) out to where `createGeometryTaskProcessors ` is declared, it should fix __Three__ and might fix the others.

[2016-03-21 21:12] mramato commented on #3740
Good call @bagnell, the worker startup time has annoyed me forever and moving it to initial loading of Primitive.js should do the trick

[2016-03-21 21:14] hpinkos commented on #3742
@MannusEtten Check out the [WebMercatorProjection](http://cesiumjs.org/Cesium/Build/Documentation/WebMercatorProjection.html) class.
I think I misunderstood your question the first time I read it through, but this class might be what you're looking for.

[2016-03-21 21:21] pjcozzi commented on #3730
I think there is also a multifrustum bounding sphere issue here:
![ok](https://cloud.githubusercontent.com/assets/782098/13934567/45c2cf68-ef89-11e5-9720-2c39f4b5c54c.gif)

[2016-03-21 21:31] pjcozzi opened #3743 "pickPositionSupported does not show up in the doc"
It is missing `@memberof`.

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Scene.js#L660-L666

[2016-03-22 07:35] 2014sisi commented on #1299
everybody i wanna download tilemapresource.xml but i could not find it

[2016-03-22 12:43] tomasregina opened #3745 "Removing Animation Widget?"
Hi,
I'm starting using Cesium and I woud like to remove animation widget from my map window. I know I have to use destroy() method, but I'm not sure where should I add it in my code or how should I call it. I attached screenshots how my code looks and how destroy() methods looks :). I know its kinda silly question, but I'm little bit helpless... Thank you very much!
<img width="744" alt="destroy"

[2016-03-22 12:52] pjcozzi commented on #3702
@kring any chance you have time to provide @TomPed some guidance here based on your experience with TerriaJS?

[2016-03-22 12:54] lasalvavida commented on #3721
I'll look to see if it's really an issue, but as per [the google style guide](https://google.github.io/styleguide/javascriptguide.xml?showone=Multiline_string_literals#Multiline_string_literals)

Do not do this:

var myString = 'A rather long string of English text, an error message \
                actually that just keeps going and going -- an error \
                message to make the Energiz

[2016-03-22 13:05] lasalvavida commented on #3721
It seems like the preferred way of doing this was added in ECMAScript 6: [template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals).

![multi-line-literal](https://cloud.githubusercontent.com/assets/2489570/13952521/37765888-f00d-11e5-9f3b-1b2e2dda77fd.JPG)

[2016-03-22 13:21] mramato commented on #3721
@lasalvavida we do not follow the google style guide and that link is incorrect and out of date.  Strings with escaped line endings are officially part of ES5 and we already use them throughout the Cesium code base.  For this use case, the only valid point that doc makes it the whitespace issue, which is easily addressed by left aligning glsl (which I believe we already do for HTML in similar situ

[2016-03-22 13:50] mramato commented on #3721
@lasalvavida, one last thing.  When we update the string, also add `//language="glsl"` on the line immediately before it.  This will cause WebStorm to detect that it is glsl and will provide syntax highlighting and code completion support (if the glsl plugin is installed).  Thanks

[2016-03-22 14:55] hpinkos commented on #3745
Hello @tomasregina
You can tell the Viewer which widgets to include when you initialize it.  See the reference documentation here: http://cesiumjs.org/Cesium/Build/Documentation/Viewer.html

Also, in the future, please use our [forum](https://groups.google.com/forum/?hl=en#!forum/cesium-dev) to ask questions.   Thanks!

[2016-03-22 14:55] #3745 closed

[2016-03-22 15:11] hpinkos opened #3747 "Clean up knockout usage for CesiumInspector"
Reported in the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/EDKHeePPkUE

The current implementation has poor knockout usage and it makes it really difficult to set values of the viewmodel programatically.

[2016-03-22 15:32] hpinkos opened #3748 "Large missing section of primitive when switching from 3D to Columbus View"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/5A1-br_4iu4

The first example is 3D -> CV
![artifact](https://cloud.githubusercontent.com/assets/3451886/13956920/f9fb8938-f020-11e5-891e-9ed7eb1c714a.gif)

The second example is 2D -> 3D -> CV
![artifact2](https://cloud.githubusercontent.com/assets/3451886/13956921/fb4de5ec-f020-11e5-9284-ad1fe0f5673c.gif)

As far as

[2016-03-22 15:33] hpinkos commented on #3748
@pjcozzi would you consider this a show stopper?

[2016-03-22 17:36] lasalvavida commented on #3721
@mramato, there are some places with variables concatenated into the shaders as in:

[code]

Do you think it would make sense to implement something like [this](http://stackoverflow.com/posts/18234317/revisions)?

[code]

[2016-03-22 17:47] mramato commented on #3721
Up to @pjcozzi on how he wants to handle these, the simple thing to do would be use string literals and just leave this code largely as-is.

Otherwise, since `.format` is not a method on string, so we would probably use the existing `sprintf` function we have in Cesium that does traditional c-style %s string replacement.

[2016-03-22 17:52] lasalvavida commented on #3721
@mramato I included a link in my comment to a fairly simple string prototype modification to add the format method. If we were going to do this, you would need named arguments. In my example, 'name' is only used twice, but there are others with many repetitions that would make those sprintf functions look really nasty.

[2016-03-22 17:55] mramato commented on #3721
One of the fundamental rules of Cesium is that we never modify standard object prototypes or otherwise pollute the global namespace.  As a developer library we have to be very careful not to make decisions for our users or otherwise do things that can potentially conflict with their own code.  So modifying the prototype is not an option.

[2016-03-22 17:59] lasalvavida commented on #3721
@mramato Is there an appropriate 'utilities' type namespace where we could put it then?

[2016-03-22 18:03] lilleyse commented on #3178
In `Camera` changing

```Matrix4.inverse(camera._viewMatrix, camera._invViewMatrix);```

to `inverseTransformation` fixes both fog and shadows. It looks like the camera vectors are a bit wrong, I'll look into this more but at least here is the easy fix.

[2016-03-22 18:04] lilleyse commented on #3178
Whoops other way around, `inverseTransformation` to `inverse` fixes it.

[2016-03-22 18:07] mramato commented on #3721
Wait and see what @pjcozzi thinks.  Unless this type of thing is all over the place, just keeping it largely as is probably the easier choice, otherwise you would add a helper function on `ShaderSource`.

[2016-03-22 18:20] pjcozzi commented on #3721
Yes, I would keep those cases as is, or they would work with what I originally proposed: https://github.com/AnalyticalGraphicsInc/cesium/issues/3721#issue-141697795

Please keep in mind the overall goal: to make writing inline shaders slightly less cumbersome.  It is minor, but managing the `\n` and `+` now is OK, but could just be a bit easier.  This isn't a huge problem and we don't need to over

[2016-03-22 18:56] #3720 closed

[2016-03-22 19:01] lasalvavida commented on #3721
@pjcozzi, what about this?

[code]

It doesn't require any crazy modifications and it works perfectly with the WebStorm GLSL extension.

[2016-03-22 19:10] pjcozzi commented on #3721
I would just leave these cases as is or do what I originally suggested throughout.  The point here is to make GLSL easier to author and read, no need to introduce anything too complex.

Please work with @lilleyse on this. @mramato and I are focused on other things.

[2016-03-22 19:47] bagnell opened #3752 "Freeze RenderState"
`RenderState` objects are supposed to be immutable so we can map the minimal amount of GL state changes between draw calls. All `RenderState`s should be frozen as well as all of the object literal properties, except for `_applyFunctions`. We'll need a function that freezes an object and its properties recursively so we can use a pragma to remove it from release builds unless it has a negligible pe

[2016-03-22 20:07] bagnell opened #3754 "Use Object.seal on non-public objects"
`Object.seal` prevents new properties from being added to objects but allows already defined properties to be changed. Adding a property to an object should be avoided because it cause the object to go into dictionary mode. It'll also prevent typos like in #3751. It can be added at the end of  the constructor in a pragma to be removed during the build until it is performance tested.

[code]

[2016-03-22 20:10] lilleyse opened #3755 "Improve Shadow Sandcastle UI"
For #2594

Since the Shadows sandcastle is getting more complicated, there are a few simple UI tweaks to make it easier to use.

Certain UI elements can be grayed out when not applicable. For each of the light types, gray out the following properties:

* `Freeform`:
    * `Radius`
* `Sun`:
    * `Light Horizon`
    * `Light Angle`
    * `Radius`
* `Fixed`:
    * `Light Horizon`
    * `Light Angle`

[2016-03-22 20:12] lilleyse commented on #3755
In another PR, we could give a dropdown so the user can chose which models are added to the scene.

[2016-03-22 23:15] pjcozzi commented on #3748
I can confirm this was introduced in 1.17.  It can also be reproduced by running the following example and switching to CV:
[code]
@bagnell and I are working on too many other pressing things to look at this in detail right now.

[2016-03-23 12:55] kring commented on #3702
I'm not sure if our experiences with TerriaJS will be much help, but I'll tell you what I know...

Our "share" function (go to nationalmap.gov.au, turn on some datasets, and press the Share button) works by encoding the state of the application in the URL.  That makes for some giant URLs, so we also use the Google URL Shortener to make them short.

But actually we use it in a weird way, so that th

[2016-03-23 12:58] kring commented on #3702
Here's the code that interprets the expanded URL (without visiting it):
https://github.com/TerriaJS/terriajs/blob/master/lib/Models/Terria.js#L508

[2016-03-23 13:29] mramato opened #3757 "Replace "can support 2xx HTTP status (other than 200)" test"
The test `can support 2xx HTTP status (other than 200)` occasionally fails because it's relying on an external server that seems to have spotty availability.  This causes CI to someone fail for no good reason.  We should update this test to spy/mock the XHR request so that it doesn't need to access the network at all.

[2016-03-23 14:03] topwood opened #3758 "provider like openlayer3 ol.source.ImageWMS?"
thanks at first,i am new in Cesium.js.
my wms server provide only image wms service,not in tile. when i use openlayers, i find [Single Image WMS](http://openlayers.org/en/v3.14.2/examples/wms-image.html),and i use this successfully. but now i want to use cesium.js. i search all the example in sandcastle and i fail to find what i want..how can i request wms service with image but not tile?

[2016-03-23 14:36] hpinkos opened #3759 "Add ability for path color to change or fade out over time"
This is something that has been requested multiple times on the forum

https://groups.google.com/forum/?hl=en#!topic/cesium-dev/UGJ4Z0lllwA

[2016-03-23 14:50] hpinkos commented on #3459
Mentioned again here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/-Zdw6sO00WM

I still think we should change this so the images are transparent.  I think it's better that it's "wrong for all volumes" and be correct for ground overlays, since I think that's what most people will be using transparent pngs for.

[2016-03-23 14:56] mramato commented on #3459
@hpinkos I suggested a solution in my original reply.  We should probably add a boolean `transparent` flag so that we know whether the image itself contains transparency or not.  I'm happy to look at a pull request.

[2016-03-23 15:28] hpinkos commented on #3758
Hello @topwood
I'm not sure, but can you use the [SingleTileImageryProvider](http://cesiumjs.org/Cesium/Build/Documentation/SingleTileImageryProvider.html)?

If you have an follow up questions, please post them in our [forum](https://groups.google.com/forum/?hl=en#!forum/cesium-dev)

[2016-03-23 15:28] #3758 closed

[2016-03-23 15:36] hpinkos commented on #3459
@mramato how would we handle that for DataSources?  That person from the forum was using KML

[2016-03-23 15:37] mramato commented on #3459
We would set the default back to the old behavior.

[2016-03-23 16:04] pjcozzi commented on #3702
Thanks @kring.  @TomPed can you research this approach and look into how much code can be included?  Also evaluate compared to gists.

[2016-03-23 16:11] TomPed commented on #3702
@pjcozzi will do. Thanks again @kring.

[2016-03-23 18:52] lilleyse commented on #3755
May as well keep this open for future UI stuff.

Some other Sandcastle improvements that would be nice are:
* Dropdown to load different models. There are three main models that have been useful for testing for far (with more to come)
    * Wood_Tower.gltf
    * Shadow_Tester.gltf
    * Shadow_Tester_Point.gltf
* Dropdown to chose from different locations, mainly to test terrain shadows. I've been

[2016-03-24 00:02] pjcozzi commented on #3748
I think the same problem can be seen with labels in 2D in the Picking Sandcastle example:

![ok](https://cloud.githubusercontent.com/assets/782098/14004676/34a3c714-f132-11e5-86f9-7489acdb01e1.gif)

[2016-03-24 00:03] #3743 closed

[2016-03-24 10:56] santilland commented on #3748
Hi, so i really wanted to have a solution for this so i went hunting a little bit. The issue was introduced in commit #62c63bc058d8014b1498d5c03f211450028b97f2
I cant quite figure out what happened, because from what i see it is just renaming and separating the updatePrimitives funtion into two functions (updatePrimitives and updateEnvironment).
In any case the clipping issue has to do with the us

[2016-03-24 18:54] #3748 closed

[2016-03-24 19:02] ggetz opened #3770 "Add Travis Section to the Build Guide"
Include information on Travis and the CI process in the build guide.

[2016-03-24 21:48] hpinkos commented on #450
Thanks for sharing @Larcius!  The zoom in/out behavior is a little wonky in 2D and  Columbus View, but it's a good start!

[2016-03-25 08:59] ezze opened #3772 "Morphing from 3D to 2D hides vector layers partially"
I faced a strange issue I'm able to reproduce in Cesium Viewer:

- load vector data in 3D scene mode (GeoJSON in my case);
- switch from 3D to 2D with morphing;
- you will see something like on pictures below:

When I load vector data in 2D everything works fine.

The problem is reproduced on two diffirent machines with the following characteristics:

1. Ubuntu 14.04 LTS, Google Chrome 49.0.2623.8

[2016-03-25 11:34] topwood commented on #3758
i have seen the single SingleTileImageryProvider  and it just request the server once, not request another image when the map zoom or move.
the WebMapServiceImageryProvider request tiled image.

what i want is request the view extent as bbox for wms when the map zoom or move just like the openlayers3 demo above,thank you.

[2016-03-25 11:39] topwood commented on #3758
my problem just like the post [here](https://groups.google.com/forum/#!searchin/cesium-dev/wms$20tile/cesium-dev/PJCxKreB3fo/BQonhaBXYCAJ)

[2016-03-25 17:33] volodchenkov opened #3776 "Update cesiumjs version in bower"
Now I see only 1.17. Can you add 1.19?

[2016-03-25 17:40] hpinkos commented on #3772
Thanks for the very detailed write up @ezze!  I believe this is the same issue as #3748
This has been fixed in master and will be included in the 1.20 release on April 1st
If you still see this issue after upgrading, feel free to re-open this issue

[2016-03-25 17:40] #3772 closed

[2016-03-25 17:44] mramato commented on #3776
We do not officially support a bower package and have no role in its maintenance.  I'm not sure who author's such a package, but you should contact them instead.

[2016-03-25 17:44] #3776 closed

[2016-03-25 17:44] #1210 closed

[2016-03-25 17:49] mramato commented on #2981
I believe our official `cesium` node module and @mmacaula's excellent blog post/example repository resolves this issue, correct?  @mmacaula is there anything else on the cesium end you feel needs to be done?  Thanks.

[2016-03-25 19:01] mmacaula commented on #2981
Yes, let's close.  Thanks!

[2016-03-25 19:01] #2981 closed

[2016-03-25 20:12] lilleyse opened #3779 "throwOnDestroy errors when terrain and picking are enabled"
If you go to a demo that has terrain enabled and is constantly picking, such as Ground Primitive, you eventually start to get `This object was destroyed` errors if you move the mouse around enough. I traced this back to https://github.com/AnalyticalGraphicsInc/cesium/commit/71bcd26ea9d81344bacb98bd03ac52e5ebc74d65 @bagnell.

@tfili This is not 3d-tiles related after all. The 3d tiles demo is also

[2016-03-28 08:54] kring commented on #3757
You guys might find this useful:
https://libraries.io/npm/terriajs-jasmine-ajax

It's just jasmine-ajax with my three pull requests merged:
https://github.com/jasmine/jasmine-ajax/pulls

[2016-03-28 09:24] jpremkumar commented on #3247
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2016-03-28 14:43] emackey commented on #3759
Hey, here's a hacky workaround, using the stripe material.  Paste the following into [Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html), and keep your eye on the yellow Molniya satellite as it makes its way around the Earth.

[code]

[2016-03-28 15:09] hpinkos opened #3782 "Labels with oblique or italic fonts look incorrect"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/GnWLZbIhKMk

![image](https://cloud.githubusercontent.com/assets/3451886/14080829/674547dc-f4d5-11e5-920e-28247212bb19.png)

[code]

[2016-03-28 15:12] mramato commented on #3757
Thanks @kring.  I think a simple spy should handle this, but the way `loadWithXhr` is currently written might make it more problematic than that.  We'll check out your library but I think some minor changes to `loadWithXhr` may make it unnecessary (in Cesium's case).

I also opened the above PR to temporarily ignore the problematic test because it now seems to be failing most of the time.

[2016-03-28 15:14] mramato commented on #3782
I believe this is fixed by #2549, but I haven't tried it.

[2016-03-28 15:25] emackey commented on #3716
The .NET `try` pattern seems fine to me.

[2016-03-28 17:15] #2688 closed

[2016-03-28 17:15] #3459 closed

[2016-03-28 17:18] hpinkos commented on #2688
Hello @markerikson
This issue was fixed in #3766 and will be included in the Cesium 1.20 release.  Thanks!

[2016-03-28 17:27] hpinkos commented on #3459
This issue was fixed in #3766

For the Entity API, set `transparent: true` for the `ImageMaterialProperty`
[code]

[2016-03-28 17:44] hpinkos commented on #2885
Problem is way more visible in this code sample:
[code]

[2016-03-28 19:08] emackey commented on #2885
Strange idea: If the point's fragment shader can write a depth value, maybe we write "sane" (normal) depth values for high alpha fragments, but tweak the written depth to be further away for low alpha values.  The point written would become sort of a view of the pointy end of a cone, and the points would stick out in front of the fringes.

[2016-03-28 20:50] pjcozzi opened #3785 "Remove ImageryMaterialProperty.alpha"
I just noticed this in CHANGES.md:

[2016-03-28 20:57] emackey commented on #3785
Related issue:  AnalyticalGraphicsInc/czml-writer#106

[2016-03-28 21:10] emackey opened #3786 "Eclipse workspace errors"
I know Eclipse is no longer the primary IDE for Cesium, but, is there a quick fix for this?

![eclipseerrors](https://cloud.githubusercontent.com/assets/1235080/14090379/f9af5ca2-f507-11e5-908f-ca6713623c17.png)

[2016-03-29 14:04] hpinkos opened #3789 "Billboards draw below polylines in 2D"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/FYZItZek8Q0

Even with an eye offset, the billboard draws below the polyline in 2D.  It draws above the polyline in 3D.

[2016-03-30 16:00] hpinkos commented on #2130
possibly related issue: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Mlqw0pR8jvg
there is a weird transparency effect when the billboard is scaled

[2016-03-30 17:57] mramato commented on #3782
This is actually another manifestation of #2130 and will be fixed when that bug is addressed

[2016-03-30 17:57] mramato commented on #2130
Also causes #3782

[2016-03-30 19:02] jmgomezpoveda opened #3792 "Cannot use CSS sprites in ProviderViewModel"
When creating a ProviderViewModel, the iconUrl points to a single image.

For example, as per the documentation:

imageryViewModels.push(new Cesium.ProviderViewModel({
     name : 'Open\u00adStreet\u00adMap',
     iconUrl : Cesium.buildModuleUrl('Widgets/Images/ImageryProviders/openStreetMap.png'),
     tooltip : 'OpenStreetMap (OSM) is a collaborative project to create a free editable \
map of th

[2016-03-31 12:14] e-andersson commented on #3730
I have been running into a similar issue with labels and 3D Tiles, might be what @pjcozzi mentioned above.

When picking a position (on a 3D Tile) and then placing a label there, a partial label will appear, with some glyphs missing. Should I file a separate issue for this?

Can be reproduced in the Cesium Sandcastle:
1. Open the 3D Tiles showcase
2. Append below code snippet to the existing code

[2016-03-31 14:54] hpinkos commented on #3792
Hello @jmgomezpoveda
Thanks for the suggestion, but I don't think this is something we are interested in.  What would the benefit be for using a sprite sheet instead of individual files?

[2016-03-31 14:59] jmgomezpoveda commented on #3792
Hi @hpinkos, the benefit is to reduce the number of http requests, since you can embed multiple icons in the same file: http://www.w3schools.com/css/css_image_sprites.asp

[2016-03-31 15:00] pjcozzi commented on #3721
What's the plan here?  Are we still interested in this?  Do we want to pass?  Or use the original suggestion?

[2016-03-31 15:22] lilleyse commented on #3721
My take away is that most of the shader code doesn't benefit from the cleanup approaches here because it is often too intertwined with if statements and variables. I think the original suggestion is good for certain cases, but may not be worth the effort. The string literal approach makes the code less readable to me because it is left justified. I think we should pass on this, even though @lasalv

[2016-03-31 15:40] pjcozzi commented on #3721
OK with me.  @lasalvavida what do you think?

[2016-03-31 15:46] lasalvavida commented on #3721
I generally advocate for consistency. I don't like that we would have it one way in some places and another in others.

I think that a more template-style approach like the one in my last suggestion is probably the most readable (also the only one that really works with syntax highlighting), but that would be a more significant refactoring.

[2016-03-31 16:22] pjcozzi commented on #3721
We have bigger fish to fry and this is a minor inconvenience at most so let's pass, and reevaluate later if needed.

[2016-04-01 13:14] emackey commented on #3782
@mramato actually, I think this is a separate bug.  I have some sample code I've been playing with that  pushes back the fringes of billboards into the Z buffer, which does fix 2130 but sadly is not compatible with translucent labels in their current implementation.  We should chat offline about that sometime.

That said, this issue appears different, as it is not fixed with the same technique.  M

[2016-04-01 13:20] mramato commented on #3782
@emackey to clarify, I think the `font-kerning` branch and #2130 together are what will address this issue.

Also, while it's good you might have an alternative solution for the transparency issue, I will point out that a surprising number of browser/device combos do not support frag depth (IE11, iOS, many android devices), so anything requiring it is not an ideal solution for something as common

[2016-04-01 13:24] emackey commented on #3782
@mramato Yeah, I may have mis-remembered what font-kerning was actually doing, is each letter still a separate glyph?  If so this bug stands:  I think the individual slanted glyphs are getting cropped, not z-buffered out of existence here.

[2016-04-01 13:27] emackey commented on #3782
For example, there should be no Z buffer issue with a single lone letter:

[code]

[2016-04-01 13:29] mramato commented on #3782
Yes, each label is a separate glyph (which is absolutely required for performance/memory), but the code that generates the glyphs was fixed to properly take width into account.  That being said, it's totally possible that oblique letters still cause problems so additional changes to the font-keming branch might be needed (in addition to the transparency fix to support proper kerning).

[2016-04-01 13:39] hpinkos opened #3796 "EllipseGeometryUpdater crashes when positions is defined but positions.getValue(time) is not"
reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/6qQ9NzKNzWk

A `DeveloperError` is being thrown from `EllipseGeometry` because the center position is undefined

[code]

[2016-04-01 13:46] emackey commented on #3792
It's not a bad idea to convert all the images in BaseLayerPicker into a spritesheet, and allow users to supply their own spritesheet here.  The NavigationHelpButton has the same issue, where it uses multiple SVG files where probably there could be a single combined SVG used as a spritesheet.

Note that HTTP/2 considers spritesheets a minor antipattern, but they are a standard way to improve HTTP/1

[2016-04-01 13:58] pjcozzi commented on #3702
CC #2152

[2016-04-01 19:20] GatorScott commented on #3782
The problem with italic (and bold) text is that measureText does not apply font-style and font-weight to the text being measured.  There also is a problem computing the width of the character.
![philadelphia](https://cloud.githubusercontent.com/assets/4126790/14217644/4e517cd2-f81d-11e5-946d-883bbe5d5154.png)

[2016-04-03 14:55] GatorScott commented on #3782
I've been unable to figure out how to get my changes into a pull request, so they are attached.

[Issue-3782.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/201376/Issue-3782.zip)

[2016-04-04 11:18] pjcozzi commented on #3730
@e-andersson I suspect it is the same issue so let's keep it is here unless we determine otherwise.

[3D Tiles Sandcastle demo link](http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/3d-tiles/Apps/Sandcastle/index.html?src=3D%20Tiles.html&label=Showcases)

[2016-04-04 11:33] #3721 closed

[2016-04-04 13:18] lasalvavida opened #3800 "The sun isn't being rendered"
Pretty self explanatory.

[2016-04-04 13:25] lasalvavida commented on #3800
I've narrowed this down to a change that occurred between March 23rd and 24th

[2016-04-04 13:45] pjcozzi commented on #3782
Contacted @GatorScott offline about getting help opening a PR.

[2016-04-04 13:46] lasalvavida commented on #3800
This was caused by revision b937a5c7ccfd929a04806a5dfdd12b4dc99ce25d, Infinite horizontal scrolling in 2D; the sun is still rendered in the revision previous revision 68723424b01ba1fa54e10f10f1eeb896575a3228. Working on a fix

[2016-04-04 14:01] pjcozzi commented on #3800
Thanks for finding and narrowing it down.  @bagnell let's fix this for the next release.

[2016-04-04 14:02] pjcozzi commented on #3178
There was a proposed workaround in #3750.

[2016-04-04 14:26] pjcozzi commented on #1259
@lilleyse can we close this?  If not, what is left?  I took a quick look at SceneSpec and I'm not sure that we need to make any changes there.  Do we still need to update tests to use `renderForSpecs`?

[2016-04-04 14:27] lilleyse commented on #1259
@lasalvavida is working on a final cleanup PR for any files not included on this list, so until that is ready we can leave this open.

[2016-04-04 15:20] lilleyse commented on #3800
Fixed in #3801

[2016-04-04 15:20] #3800 closed

[2016-04-04 19:18] bmckilligan opened #3804 "problems with groundPrimitives in recent chrome"
Just noticed this last week with chrome, it may have started earlier  , pulled the following demo code from issue #3710, things render fine in firefox,

the rectangle geometry appears to be projecting down towards the center of the earth and is rendering above the ground

Windows 7, chrome 49.0.2623.110 m,

![capture](https://cloud.githubusercontent.com/assets/8988054/14260070/93772e36-fa5e-11e5-9

[2016-04-04 19:23] hpinkos commented on #3804
Hello @bmckilligan.  Have you tried updating to Cesium 1.20?  We fixed a ground primitive issue in that release that sounds a lot like the one you're seeing. (#3706)

[2016-04-04 19:25] bmckilligan commented on #3804
yes, appears to be in 1.20 also, the screen grab was from sandcastle showing Cesium.VERSION 1.20

[2016-04-04 19:30] hpinkos commented on #3804
Okay thanks!  And thanks for providing a code sample and all of the details.  That will make it easier for us to look into the problem

[2016-04-04 19:33] bmckilligan commented on #3804
I noticed it late last week when using cesium 1.19 in Chrome.

just looked at http://googlechromereleases.blogspot.ca/  .  I suspect the culprit is there

Stable Channel Update for Chrome OS
Thursday, March 31, 2016
The Stable channel has been updated to 49.0.2623.111 (Platform version: 7834.66.0/7834.67.0) for all Chrome OS devices. This build contains a number of bug fixes, an update to Adobe Fl

[2016-04-04 20:24] lilleyse commented on #1259
Thanks for the great work on this @lasalvavida.

[2016-04-04 20:24] #1259 closed

[2016-04-05 20:37] hpinkos commented on #3688
fixed in #3695

[2016-04-05 20:37] #3688 closed

[2016-04-05 22:50] pksorensen commented on #1210
This comes up as a top result when googling cesium and bower. Would be nice if a conclussion was at the end of this thread. Either with its done or current status :) Just some feedback. Great job on the project.

[2016-04-05 23:02] pjcozzi commented on #1210
The Cesium team doesn't maintain a bower package, but there are a few unofficial ones:
* https://libraries.io/bower/cesium-bower
* https://libraries.io/bower/cesium
* https://libraries.io/bower/cesium.js

[2016-04-06 12:19] jacmendt commented on #3676
@pjcozzi i tested today the new Cesium version 1.20 and the error stil exists. I also tested again the `sandbox application` described above and could reproduced the error, but I'm not sure if the `sandbox application` is also using the latest cesium version.

[2016-04-06 12:50] mramato commented on #3676
I can confirm that this is still an issue, but only in specific portions of the Earth (which is why it was probably missed).  Use the original sample code and zoom to `Dancy, Eure-et-Loir, France` in the Geocoder and you'll see it.

@bagnell can you take a look at this?

[2016-04-06 13:35] pjcozzi commented on #3676
Thanks for the report, we have a few other things on our plate, but we'll try to look at this before the next release.

[2016-04-06 14:43] hpinkos opened #3807 "Polygon entity fails to update when color property changes from dynamic to static"
See details in this forum post: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/j5u54nu5oOc

[code]

[2016-04-06 14:55] hpinkos commented on #2885
Looks like this user has a similar problem: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/5qv7Q_qudt8

[2016-04-06 18:47] #3178 closed

[2016-04-06 19:14] pjcozzi opened #3812 "Missing globe tiles in Sandcastle Cardboard example"
This happens on my MacBook Pro - perhaps because it is Retina - I could not reproduce it on Windows.

<img width="1430" alt="screen shot 2016-04-06 at 3 12 31 pm" src="https://cloud.githubusercontent.com/assets/782098/14329610/34f1cb16-fc0a-11e5-9c7a-ca6bda586432.png">

[2016-04-07 01:10] theOgrable opened #3813 "KML - Hotspot don't play well with scale by distance"
Hi,

There is a problem when using hotspot with KML : it does not play well with scale by distance. At least when the unit is fraction (untested otherwise).

Here a simple gist for sandcastle that show the problem :
https://gist.github.com/theOgrable/6883ac6a4e9be381f3dd0f1d1f97b121

We can see that when zooming out the billboard will start flying above its position target. Not what is expected.

[2016-04-07 15:21] pjcozzi opened #3817 "Source/test WebStorm plugin"
It would be cool to have a simple WebStorm plugin that provides a hotkey to swap between a source file and its test, e.g., (`/Source/path/file.js <-> /Specs/path/fileSpec.js`).

Good code sprint project.

[2016-04-07 15:23] pjcozzi commented on #3770
@ggetz can you do this soon and also link to your upcoming blog post?

[2016-04-07 16:17] osh opened #3818 "Failed to load external gltf!"
I'm having difficulty loading a gltf model correctly using cesium.
after specifying

...
model : {
 uri : '/models/model.gltf',
minimumPixelSize : 64
},
...

I get the attached error message.
have tried generating the gltf using the web-convert as well as manually building COLLADA2GLTF and running it locally.   Do you have any suggestions for additional approaches to debugging what could be going

[2016-04-07 16:58] lilleyse commented on #3818
The glTF file is referencing some external files which aren't included included in the zip (binary files, images, shaders). Can you send those over as well? Also feel free to send over the dae file.

[2016-04-07 16:58] pjcozzi commented on #3306
I thought there was another issue for this, but I am still in support of including the Development examples, especially now for CI since, for example, we can't test the hosted branch for https://github.com/AnalyticalGraphicsInc/cesium/pull/3819.

[2016-04-07 17:14] osh commented on #3818
please see original DAE, and converted gltf format attached!
Thanks!

[model_dae_original.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/208855/model_dae_original.zip)
[model_gltf_converted.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/208856/model_gltf_converted.zip)

[2016-04-07 17:56] ggetz commented on #3770
Yes

[2016-04-07 18:05] mramato commented on #3306
You can still access those examples, they just aren't in the gallery (we could also change this for CI builds): http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/shadows-commands/Apps/Sandcastle/index.html?src=development/Shadows.html&label=Showcases

I would rather see us "promote" relevant examples (perhaps a `Primitives` label) instead of just exposing all developer examples on the we

[2016-04-07 18:29] lilleyse commented on #3818
I reconverted the dae with Blender and it now loads okay (though it's missing the solar panel texture). I'll try to figure out why the original file doesn't work.
[model.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/208981/model.zip)

[2016-04-08 02:24] osh commented on #3818
im still getting the same error with the .gltf you posted

[2016-04-08 09:55] theOgrable opened #3821 "Bug - ArcGisMapServerImageryProvider exportImage*"
Hi,

I believe there is a bug in the ArcGisMapServerImageryProvider in the image url building.

[code]

Based on the API documentation (http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Export_Image/02r3000000wm000000/) and my experimentation, it should be

[code]

instead.

[2016-04-08 11:04] kring commented on #3821
ArcGIS Image services use exportImage.  ArcGIS Map services, which is what
this imagery provider claims to access, use export:
http://resources.arcgis.com/en/help/arcgis-rest-api/02r3/02r3000000v7000000.htm

If you're trying to access an ImageServer, you might try using
UrlTemplateImageryProvider.

Kevin

On Fri, Apr 8, 2016 at 7:55 PM, theOgrable <notifications@github.com> wrote:

--
www.kotachro

[2016-04-08 11:04] #3821 closed

[2016-04-08 13:33] lilleyse commented on #3818
For my testing I placed the model in `Apps/SampleData/models` and modified the `3D Models` Sandcastle example to load the new model in place of Cesium_Air.

`createModel('../../SampleData/models/model.gltf', 5000.0);`

Does that work at all?

[2016-04-08 14:21] ggetz commented on #3770
Should I add the deployment commands to the build guide as well?

[2016-04-08 14:59] osh commented on #3818
ok actually, updating to latest cesium build 1.20 resolves this :+1: thanks!

[2016-04-09 13:46] kalifa17 opened #3824 "Support for British National Grid (OSGB36)"
I am trying to import a 3D model (.gltf) into Cesium which is in OSGB36 projection, however I know that Cesiumjs doesn't support British projection natively.

I've tried changing the origin of the map and reporject the lat and lon based on the x,y,z coordinates cesium's api gives you using entity.position.getValue().

[code]

I am looking for which would be the best and quickest way to include thi

[2016-04-11 14:48] pjcozzi commented on #3818
Can we close this?

[2016-04-11 15:34] pjcozzi commented on #3306
All the development examples work AFAIK.  I test them when I do a release.  I'm OK with positioning them however you want, but hiding them is clearly not working for us and users.  Given everything we are working on, what do you realistically want to see happen in the short-term?  Just show them by default for CI?

[2016-04-11 15:37] hpinkos opened #3826 "Add CZML support for polygons with holes"
Mentioned on the forum: https://groups.google.com/d/msg/cesium-dev/9jzhk3Hv8v0/2MYysnkEAwAJ

[2016-04-11 15:45] slozier opened #3827 "createMesh in documentation"
If `TerrainMesh` has been removed from the public API, shouldn't the same be done for the `createMesh` methods on `TerrainData` (`HeightmapTerrainData` and `QuantizedMeshTerrainData`)?

[2016-04-11 15:58] hpinkos commented on #3306
There have been multiple people on the forum asking where the development tab went.  It's nice to have it on the website because every now and again I need to link to an example for a question someone has on the forum.

I'm okay with compromising and keeping the less polished examples off of the website.  But I agree with @pjcozzi, I wouldn't say they're unmaintained.  Most of those demos are in g

[2016-04-11 16:32] pjcozzi commented on #3827
Yes, good eye!

[2016-04-11 17:37] bmckilligan commented on #3804
any luck on resolving this ?  has a bug been filed with bugs.chromium.org ?

[2016-04-12 11:26] e-andersson opened #3830 "Show Cesium3DTileset wire frame"
We sometimes want to show the wire frame (with no texture) for a 3D tileset (ideally on top of the original model/textures). Is that a feature that will/could be added?

[2016-04-12 13:55] slozier commented on #3222
@pjcozzi @lilleyse Any reason why this was merged into the 3d-tiles branch instead of master?

[2016-04-12 13:57] pjcozzi commented on #3830
Yes, this would be a welcomed contribution.  To get started, see `Cesium3DTileset.debugColorizeTiles` and `Model.debugWireframe`.

[2016-04-12 14:25] hpinkos commented on #2130
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/gipZ4pITQOs
Labels transparency is incorrect over models

[code]

[2016-04-12 14:25] #3702 closed

[2016-04-12 14:26] pjcozzi commented on #3785
@TomPed do you want to do this?

[2016-04-12 14:51] #3827 closed

[2016-04-12 15:00] #3818 closed

[2016-04-12 15:42] mramato commented on #3222
This was a mistake, @lilleyse can you cherry-pick the required commits and open a PR into master to fix this.  Thanks.

[2016-04-12 15:44] mramato commented on #3222
Thanks for catching this @slozier

[2016-04-12 16:50] denverpierce opened #3832 "Reprojected ImageryLayers cause a crash if show is toggled before the tiles have loaded"
![image](https://cloud.githubusercontent.com/assets/5432027/14468259/88bd0d8e-00a4-11e6-86cd-efade0a0ac4c.png)

To reproduce, run the below in sandcastle 1.20, and zoom/pan until you get an uncached tile:

[https://gist.github.com/denverpierce/72179dce5bbfd850df3c356f9df07ba6](
https://gist.github.com/denverpierce/72179dce5bbfd850df3c356f9df07ba6)

This only happens with layers that require reproj

[2016-04-12 17:03] hpinkos commented on #3832
Thanks for the code sample @denverpierce!
I can confirm that this crash happens in 1.20 but it looks like it has already been fixed in master.
If you are still seeing this problem in 1.21, please reopen this issue.  Thanks again!

[2016-04-12 17:18] hpinkos commented on #3813
Thanks for including the code example @theOgrable!  This looks like a bug.  Your solution of using `pixelOffsetScaleByDistance` looks good to me.  Would you be interested in opening a pull request with the fix?   The change would need to be made in [KmlDataSource](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/DataSources/KmlDataSource.js#L632).

[2016-04-12 18:58] denverpierce commented on #3832
Still happens in 1.21 7fc81f7 consistently.

![image](https://cloud.githubusercontent.com/assets/5432027/14471789/cb0ecf86-00b5-11e6-9472-7bcb11f3fd13.png)

I mainly get it when loading tiles that are not in the browser cache, and it's very easy to trigger when loading tiles from a server that is particularly slow.

P.S. gist loading is great.

[2016-04-12 19:04] denverpierce commented on #3832
Not sure if I can reopen this, but here's a gif of it in 1.21:

![ss](https://cloud.githubusercontent.com/assets/5432027/14472140/58b960ca-00b7-11e6-8a27-e38dbcb2bcff.gif)

[2016-04-12 19:06] hpinkos commented on #3832
Thanks @denverpierce.  I didn't let it run for long enough.  It insta-crashed for me in 1.20 but not in master.  I can confirm this is a still a problem though, so I re-opened the issue.

[2016-04-12 19:43] pjcozzi commented on #758
See #3835 for the start of a `DistanceDisplayCondition` in 3D models.

[2016-04-12 21:47] slozier commented on #2337
It's also possible to get the wrong number of lines For example, set `numberOfVerticalLines` to 17 and you get 16 lines. It depends on the combination of `slices` and `numberOfVerticalLines`. Some easy to count ones which are incorrect: (`slices`,`numberOfVerticalLines`) = (6,4), (8,5), (9,6), ...

[2016-04-13 13:55] pjcozzi commented on #3690
Fix3d in #3696.

[2016-04-13 13:55] #3690 closed

[2016-04-13 13:56] pjcozzi commented on #2999
3D Tiles cache replacement was added in #3808.  Let me know if you have any feedback.

[2016-04-13 13:56] #2999 closed

[2016-04-13 13:58] pjcozzi commented on #2937
See https://github.com/AnalyticalGraphicsInc/cesium/pull/3080#issuecomment-166707331

Please open a new pull request if there is something else you want to contribute.

[2016-04-13 13:58] #2937 closed

[2016-04-13 14:05] theOgrable commented on #3813
No problem,

Here it is : https://github.com/AnalyticalGraphicsInc/cesium/pull/3837

Please, let me know if it's ok.

I had some problems to build sand castle and I was a little bit confuse about the different build scenarii. I'll write some comments about this on the forum.

[2016-04-13 15:00] pjcozzi commented on #3222
@TomPed want to try this one?  Check out [git cherry-pick](https://git-scm.com/docs/git-cherry-pick).

[2016-04-13 15:02] pjcozzi commented on #3424
@lilleyse @e-andersson are there any updates here?  Is this something we need to consider for the 3D Tiles Draft 1.0 implementation?

[2016-04-13 16:03] pjcozzi opened #3838 "Hosted Sandcastle for master branch does not run"
Visit http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/Apps/Sandcastle/index.html

![image](https://cloud.githubusercontent.com/assets/782098/14500366/c497977c-016f-11e6-8df9-ea69b900c821.png)

[2016-04-13 16:07] hpinkos commented on #3838
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/TUegXPEvF5M

[2016-04-13 17:13] #3785 closed

[2016-04-13 17:55] pjcozzi commented on #3508
@SunBlack does #3839 work for you?

[2016-04-13 18:27] ggetz commented on #3838
On the google group someone says:

[2016-04-13 18:39] #3222 closed

[2016-04-13 18:53] #3838 closed

[2016-04-13 20:37] hpinkos opened #3845 "Camera.positionWC incorrect for 2D and CV"
Related to this post in the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Qc2Vvu26lBI

In this example, hit `Save`, then move the camera, then hit `Load`.  The loaded position will not be the same as the saved position.  However, if you save a position in 3D and load it in 2D, it will be correct.  That's what makes me think the positionWC in 2D is incorrect.  Unless there's a dif

[2016-04-13 20:43] hpinkos opened #3846 "Improve build guide explanation"
From the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/aaNUm2nTIDA

There is some confusion over which applications will have code changes after running `npm run build`.  For example, you will see your changes in Sandcastle because it is using AMD Cesium, but you will not see your changes in HelloWorld since it is using built Cesium.  Adding more details to the [build guide](http

[2016-04-13 20:49] mramato opened #3847 "Bug in logo style guide"
I just noticed that the logo style guide at the bottom of https://github.com/AnalyticalGraphicsInc/cesium/wiki/Cesium-Logos has a bad RGB value for Cesium's blue color, instead of 108, 103, 223, it should be 108, 173, 223 (verified with a dropper, 103 makes it purple).  I'm not sure if any of the other categories/values are right/wrong but we should verify them.

[2016-04-14 07:46] e-andersson commented on #3424
I think the loading issues have been addressed, except for https://github.com/AnalyticalGraphicsInc/cesium/pull/3517. @pjcozzi did you notice that "blank-space-when-loading-tileset" issue with the Vricon sample data set?

[2016-04-14 09:23] OljaKli opened #3849 "mistake on the website"
Mistake [here](https://cesiumjs.org/tutorials/3D-Models-Tutorial) in **Animations** part:

[code]
Correct variant:
[code]

[2016-04-14 13:12] pjcozzi commented on #3508
@SunBlack let me know if you run into any issues.

[2016-04-14 13:12] #3508 closed

[2016-04-14 13:59] pjcozzi commented on #3424
@e-andersson I do notice a slight difference in loading between the one tileset.json and the tileset of tilesets.  The later appear to have a quick flash when zooming in.  The best way to reproduce this is to use a tiny cache size (like 1 tile) so every time you zoom back in the tile is reloaded.  Cache replacement doesn't appear to affect this.

I will work with @lilleyse to reproduce this.

With

[2016-04-14 13:59] #3424 closed

[2016-04-14 14:17] hpinkos commented on #3849
Thanks! I made that fix, it should be updated on the website soon.

[2016-04-14 14:17] #3849 closed

[2016-04-14 15:23] hpinkos opened #3851 "Texture coordinates incorrect for rotated ellipse with rotated texture"
The texture coordinate is wrong for one of the outer vertices when a `rotation` and a `stRotation` are used.

[code]

[2016-04-14 15:55] mramato commented on #3851
Could this be the same root cause (or at least same logic bug) that causes #3172?

[2016-04-14 16:15] hpinkos commented on #3851
Not exactly.  It's probably more related to #2737,  but I think the solution for the rectangle rotation will be way different.

[2016-04-14 19:44] #3755 closed

[2016-04-14 20:28] mramato commented on #3309
Looks like JSCS has merged with ESLint (with ESLint being the only project moving forward).  Makes the choice easy for us.  We should evaluate ESLint soon: http://eslint.org/blog/2016/04/welcoming-jscs-to-eslint

[2016-04-15 14:29] hpinkos commented on #3813
Fixed in #3837

[2016-04-15 14:29] #3813 closed

[2016-04-15 16:04] hpinkos commented on #2130
Also reported here: https://groups.google.com/d/msg/cesium-dev/vEJZ8cgoz1A/wtP3-54CBQAJ

[2016-04-15 19:39] ezze opened #3857 "Too many tiles requested by imagery layer leads to poor performance"
Hi, guys!

Some time ago we decided to replace NASA World Wind working as Java Applet in browser by Cesium in order to display multiple imagery layers (I mentioned it in #2047). Our application allows a user to specify filter parameters (such as time range, geographic region, satellites, sensors and type of products of interest) and display found raster data (set of segments grouped by orbits) on

[2016-04-18 07:51] e-andersson commented on #3830
Having the model wireframe show seems relatively straightforward, but it I haven't found any way of showing the wireframe and the textured model at the same time (except perhaps for loading the tiles twice, once with `debugWireframe` and once normally).

Is there something I have overlooked, or does Cesium not currently support this unless modifying model shader code?

[2016-04-18 10:57] jmgomezpoveda commented on #1064
I have realised of the same issue as https://github.com/AnalyticalGraphicsInc/cesium/issues/1064#issuecomment-148201181 looking at the globe from afar. When the Moon is behind the Earth, the Moon is rendered below the Earth, but on top of the atmosphere.

[2016-04-18 11:26] Aviv-Galmidi opened #3859 "FlyTo with rectangle does not work as expected in 1.19"
I am trying to update to 1.19 but when I use the function camera.flyTo with a rectangle the camera flies to the wrong location.
I did not have that problem in 1.18.

I reverted cesium back to 1.18 and put a breakpoint right before I call this function, I coppied the rectangle I send there and used it hardcoded in 1.19. Once again it took me to the wrong location.

When using a cartasian3 point the

[2016-04-18 13:57] hpinkos commented on #3859
Hello @Aviv-Galmidi,
We did fix an issue where the camera flew to the wrong location in 2D, and that will be included in the upcoming 1.21 release on May 2.
Can you give a code example for your case to make sure your issue is fixed as well?
Thanks!

[2016-04-18 14:56] pjcozzi commented on #2594
Is this done, excluding multiple lights, of course?

[2016-04-18 15:40] pjcozzi commented on #3830
Right, Cesium doesn't currently support this.

This could be of interest to you: https://github.com/virtualglobebook/OpenGlobe/tree/master/Source/Scene/Renderables/Wireframe (it uses a geometry shader so it would need to be adapted for WebGL).

[2016-04-18 15:50] pjcozzi commented on #3857
@ezze you may want to post on the forum if you haven't already to get some ideas from the community.

What version of Cesium are you using?  We [improved culling](http://cesiumjs.org/2015/06/24/Oriented-Bounding-Boxes/) last summer.  Have you also tried [fog](http://cesiumjs.org/2015/11/12/Fog/)?

For the Cesium roadmap, [3D Tiles](https://github.com/AnalyticalGraphicsInc/3d-tiles/) will eventuall

[2016-04-18 16:46] pjcozzi opened #3861 "Update CONTRIBUTING.md to use mention new Sandcastle Gist integration"
For use when submitting an issue.

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md

http://cesiumjs.org/2016/04/14/Share-Sandcastle-Examples-Easily-with-GitHub-Gists/

@TomPed can you do this?

[2016-04-18 17:40] pjcozzi commented on #2152
Added in #3795.

[2016-04-18 17:40] #2152 closed

[2016-04-18 17:43] #3861 closed

[2016-04-19 18:29] mchoy commented on #2730
@mramato Do you have any new updates on Typescript definition file for Cesium?

[2016-04-20 13:30] wangyipeng opened #3864 "How can i use the faunction "Cesium.CzmlDataSource.processMaterialPacketData(object, propertyName, packetData, interval, sourceUri, entityCollection)"?"
I use the code exmple: [(http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=CZML%20Point%20-%20Time%20Dynamic.html&label=CZML)]
I want change the point's color to red,and I use the method:Cesium.CzmlDataSource.processMaterialPacketData(object, propertyName, packetData, interval, sourceUri, entityCollection).
after i change the code ,the point's color is change to white,i dont know hao to do

[2016-04-20 14:22] hpinkos opened #3865 "KML Network link error when switching scene modes"
In this example, click the button to load the data.  Then after the data is loaded, switch the scene mode.  It causes a crash because camera.pitch is undefined when the scene mode is morphing.
This error only happens when you pass in `options.camera` and `options.canvas` (which is now required).

[code]

[2016-04-20 14:23] hpinkos opened #3866 "KmlDataSource requires options.camera and options.canvas"
There is a `deprecationWarning` in `KmlDataSource` that says an error will be thrown in  Cesium 1.21 if these values are undefined.

[2016-04-20 14:24] hpinkos commented on #3866
We should probably fix #3865 when we make this change because it causes a crash when using those properties

[2016-04-20 14:28] hpinkos commented on #3865
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/air2rOeFu8I

[2016-04-20 14:40] hpinkos opened #3867 "KMLDataSource with network links reports BBOX of 0, 0, 0, 0 in 2D"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/mIEI2f8drkQ

If you zoom into the map in 2D and look in the Network tab at the xhr calls made, you'll see that around the point you're zoomed so a state fills the screen, the calls made have a bounding box of zero: `facilities.kml?BBOX=0,0,0,0`.  If you zoom back out, the bounding box is correct.

[code]

[2016-04-20 15:14] hpinkos commented on #3864
Hello @wangyipeng,
We use our GitHub issues to track bugs and features for Cesium.  For questions, please post in the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
More people see the forum, so you are more likely to get help from someone who has done the same thing in their own application.
Thanks!

[2016-04-20 15:14] #3864 closed

[2016-04-21 11:36] jbo023 commented on #3857
Ho,

we also observed this problem. I think the problem ist that cesium loads the whole image tree, starting with the 0/0 tile. Maybe it would be possible to restructure the selection algorithm to not load the whole tree, but only the tiles which are visible at the current view ?

[2016-04-21 12:10] ezze commented on #3857
@pjcozzi, I use recent Cesium 1.20 and update it with each new release. So all these improvements that you have mentioned doesn't help (I guess that fog is enabled by default).

I didn't try 3D Tiles due to, as far as I know, it's in development yet and will be applied to [3D models first](https://github.com/AnalyticalGraphicsInc/3d-tiles/#will-3d-tiles-include-imagery), is it right?

Unfortunatel

[2016-04-21 12:40] #3859 closed

[2016-04-21 16:12] hpinkos commented on #3865
Closed by #3868

[2016-04-21 16:12] #3865 closed

[2016-04-22 18:18] hpinkos opened #3874 "RectangeGeometry rotation error when center is to the right of the IDL"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/fXy4QD27KCQ

[code]

[2016-04-25 03:10] wangyipeng commented on #3864
hello @hpinkos
thank you ,I have solved the problem.

[2016-04-25 07:43] MannusEtten opened #3877 "different projections"
i assume the cesium globe needs 4326 as projection for displaying data.

i tried one ArcGIS service which has a different projection and is not drawn on the cesium globe. I did the same exercise with a service in 4326 and perfectly drawn around the globe.

my conclusion is that the projections matters and of course it does.
does the Cesium.ArcGisMapServerImageryProvider has a property where i can

[2016-04-25 08:46] e-andersson commented on #3830
Thanks, will keep that in mind. (I'll probably not be able to dig into this problem soon though -- perhaps a bit later.)

[2016-04-25 11:47] pjcozzi opened #3878 "Default CV view is now straight down like 2D"
For example, just switch to CV in Viewer: http://cesiumjs.org/releases/1.20/Apps/CesiumViewer/index.html

Was this change intention?

[2016-04-25 17:56] #3770 closed

[2016-04-25 18:18] mramato commented on #2771
I can no longer produce the above failures; but I am seeing a new set of failures related to `Scene/Sun`across all browsers.  It's all the same error across multiple tests:

Can someone confirm?  Should we look at this before 1.20?  A `DeveloperError` in our own code seems bad.

[2016-04-26 11:10] rowanwins opened #3882 "convertLongitudeRange producing unexpected result"
So I'm trying to convert my radian value into a longitude value between -180 and 180,

The docs provide a simple example
[code]
However that results in  `-1.5707963267948966` rather than `-90`

Any tips?
Thanks in advance,
Rowan

[2016-04-26 12:48] lasalvavida commented on #3882
Hi @rowanwins!

The answer is being returned to you in radians. -90 degrees is -pi/2 radians, or -1.570...

[2016-04-26 13:09] #3882 closed

[2016-04-26 21:26] mramato commented on #2399
We recently found and fixed an issue with `perPositionHeight` normals, but it does not appear to fix this issue.  (See above link).

[2016-04-26 21:32] hpinkos opened #3885 "PolygonGeometry creates empty polygons with perPositionHeight and extrudedHeight"
`PolygonGeometry` can create triangles where two positions are equal for a polygon using `perPositonHeight` and `extrudedHeight`.  This happens when the height of one of the top points has a height equal to the extrudedHeight.  In this case, the 'wall' on the side of the polygon should only have one triangle, but it still generates two.

[code]

[2016-04-26 21:45] hpinkos commented on #3877
Hello @MannusEtten
I'm not exactly sure what problem you are seeing.  We recently fixed a bug for `ArcGisMapServerImageryProvider` where using a web mercator projection was resulting in a crash.  This will be fixed in the next release.
Is that the problem you are having?
Thanks!

[2016-04-26 23:57] rowanwins commented on #3882
Thanks @lasalvavida , rookie mistake, that's what happens when you try and do this stuff too late in the day!

[2016-04-27 01:20] mramato commented on #3786
This looks like a bug in Eclipse's JavaScript tools, it looks like it's misinterpreting the `.catch` as a `try/catch` catch instead of the function call that it is.

Unless @shunter has any ideas here, I'm not sure what we can do about it or our side.

You might be able to go into the project preferences and disable this specific error check.

[2016-04-27 14:11] pjcozzi commented on #3676
@bagnell can you take a quick look to see if this is small enough in scope to make 1.21 on Monday?

[2016-04-28 14:17] MannusEtten commented on #3877
no that is not the problem, the problem is pretty easy:

- use a mapservice without a web mercator or wgs84 projection and there is nothing to see on the cesium-globe

[2016-04-29 13:57] hpinkos opened #3886 "SVG billboard doesn't draw in Firefox"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/eiFCPPlR19c

[code]

[2016-04-29 16:00] mramato commented on #3886
This is almost certainly a problem in the SVG itself (or a bug in Firefox, but doubtful).  I'll see if I can dig up the forum conversation where I've discussed this in the past.

[2016-04-29 16:20] mramato commented on #3886
See #2907, which shows that svg billboard render in firefox just fine.  So this is most likely a problem with the svg or a bug in Firefox.

Keep in mind that IE will not load this either for security reasons they mark SVGs (at least hard coded ones) as tainted canvases that can't be used in WebGL.

@emackey might have some thoughts on why Firefox is barfing on the image; but otherwise I would file

[2016-04-29 16:20] #3886 closed

[2016-04-29 17:36] emackey commented on #3886
This does appear to be a Firefox issue, because creating an SVG img tag in this fashion does not work in Firefox even on a page without Cesium.js.

Looks like the workaround for Firefox is to base-64 encode it, and wait for the onload event.

[code]

[2016-04-29 17:41] emackey commented on #3886
Also the `width="100%"` and likewise the height is not valid in SVG, I changed this to `width="48px"`.

[2016-04-29 17:45] mramato commented on #3886
Thanks @emackey!

[2016-05-01 13:01] mramato opened #3888 "73 test failure in Firefox with WebGL Validation turned on."
A half dozen Sun rendering tests fail and then ~50 or so `ScreenSpaceEventHandler` related tests.

I think it's okay to ship 1.21 with these validation-only failures, but I'd like to hear someone agree with that before tagging the 1.21 release.

[2016-05-01 16:41] cfairchi opened #3889 "Missing tiles when morphing from 2D to 3D in Linux Chrome"
Using Linux chrome, if you toggle from 3D to 2D, then toggle back to 3D tiles are missing for most if not all of the globe.  Zooming to different zoom level show tiles for for different zoom, but the only way to get all tiles back at all zoom levels is to refresh the browser.

![missingtiles](https://cloud.githubusercontent.com/assets/984128/14942934/2f07b570-0f89-11e6-9535-348c40fafb2c.png)

[2016-05-01 16:42] cfairchi commented on #3889
different zoom level

![missintiles2](https://cloud.githubusercontent.com/assets/984128/14942943/630d9a56-0f89-11e6-9594-2b42de79959a.png)

[2016-05-01 19:36] mramato commented on #3888
I tested all of the Sandcastle examples in Firefox and everything works fine.  Since everything is fine when running without webgl validation, I think we're good for 1.21, but we should definitely look at this for 1.22.

[2016-05-02 01:28] pjcozzi commented on #3888
Agreed.  OK for 1.21.

[2016-05-02 06:43] tproduit opened #3890 "FlyTo: complete"
The complete function doesn't wait the flight to be completed. It is directly executed.

[2016-05-02 10:35] jorpiell commented on #3886
Thanks @emackey

[2016-05-03 11:45] konashredbiker opened #3892 "b3dm with external textures reference error"
In the 3D Tiles branch, when loading a b3dm file that references external textures like this:

`"images":{"tex_5709034.jpg":{"uri":"textures/tex_5709034.jpg"}`

The request for texture images then looks like this:

`http://localhost:8080/Specs/Data/Cesium3DTiles/Batched/BatchedWithBatchTable/b3dms/R/SW.b3dm/textures/tex_5709034.jpg?v=0.0`

which results in

`Failed to load resource: the server res

[2016-05-03 15:31] hpinkos opened #3893 "2D infinite scrolling broken in IE"
reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/bUa1zY8RyKM

I'm going to mark this as next release because scrolling across the IDL doesn't work at all on Internet Explorer

![2d-ie](https://cloud.githubusercontent.com/assets/3451886/14988553/553402c2-1122-11e6-9d45-34e563100517.gif)

[2016-05-03 15:36] hpinkos commented on #3893
Just to note, a few users have said that they would appreciate a toggle to go back to the old 2D behavior.

Another thing the user said was that he can't zoom out all the way to see both poles of the 2D map on a 16:9 screen, so we might want to think about that at some point too.

[2016-05-03 15:46] mramato commented on #3893
Broken in Edge as well.

[2016-05-03 19:44] bmckilligan opened #3894 "Uncaught DeveloperError thown"
The following error is getting thrown on screen movements.   This was present in 1.20, and is still in 1.21.

Reverting to cesium 1.19 doesn't thrown the error.

the following is the console output in google chrome, Version 50.0.2661.94 m (64-bit) Windows 7 64 bit.

Cesium.js:24158 Uncaught DeveloperError: This object was destroyed, i.e., destroy() was called.
Error
    at new DeveloperError (http

[2016-05-05 14:35] hpinkos commented on #3878
Brought up on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Gn4jOl0wQmk

I think this slipped through when we changed the scene mode transitions.  It should be changed back to be tilted after the transition.

[2016-05-05 15:07] hpinkos opened #3897 "Enable rotation for 2D"
Several users on the forum have asked if it is possible to revert to the old 2D scene mode behavior because they want to be able to rotate the 2D map.

https://groups.google.com/forum/?hl=en#!topic/cesium-dev/CPnsBqMzUVo
https://groups.google.com/d/msg/cesium-dev/bUa1zY8RyKM/GBspqvCPAAAJ

[2016-05-05 15:14] hpinkos commented on #3894
Hello @bmckilligan,

Have you tried clearing your cache?  Sometimes that can cause weird side effects in chrome when switching between versions.

Otherwise, do you have a code example that causes this to happen?  We haven't seen this on our end.

Thanks!

[2016-05-05 15:16] hpinkos commented on #3890
Hello @tproduit, Do you have a code example that reproduces this? I wasn't able to reproduce this.
Thanks!

[2016-05-05 15:17] hpinkos commented on #3889
Hello @cfairchi,  what version of chrome are you using?  And what version of Cesium?  Thanks!

[2016-05-05 15:20] hpinkos commented on #3877
@MannusEtten Cesium currently only supports web mercator and WGS84.  Do you have a way to re-project your imagery?  Projecting it to WGS84 would be ideal.

[2016-05-05 15:37] tianhai82 commented on #3897
I hope there will be a mean to enable 2d map rotation. Please consider adding it back.

[2016-05-05 17:10] bmckilligan commented on #3804
any word on this, Its still present in Chrome 50.0.2661.94 m (64-bit) ?
has a  Chromium bug been submitted ?

[2016-05-05 17:44] mramato commented on #3889
I can reproduce this on Linux using Chrome 50.0.2661.86 (64-bit)

I'm also getting the following output in the console:
[code]

@bagnell I'll bring my laptop in for you to have a look.

[2016-05-05 17:55] mramato commented on #3894
Are you using terrain and/or picking?  I believe this may be a dupe or related to #3779 (which we should fix ASAP)

[2016-05-05 18:06] mramato commented on #3804
@bmckilligan as far as I know, no bug has been submitted to the Chrome team (not 100% sure if it's a Chrome bug or not yet); I've seen this problem randomly in the past but I can't reproduce it with the code you provided.  Does this happen every time for you?  Can you copy/paste the results of going to http://webglreport.com?  That might help narrow down the issue.

[2016-05-05 19:24] bmckilligan commented on #3894
http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=f1bf37574ba19d084c372b5a6d09466f

I was able to replicate the error in a simple example.  I am using the draw helper plugin (http://cesiumjs.org/plugins)  and it was throwing the error on event listeners.

I have modified the plugin for my own purposes to work with recent versions of cesium and to draw on 3d te

[2016-05-05 19:37] bmckilligan commented on #3804
I just tried the code in a 32-bit version of chrome and things worked,

so it looks like it may be a chrome 64-bit issue

[2016-05-05 19:41] bmckilligan commented on #3804
Platform:	Win32
Browser User Agent:	Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.94 Safari/537.36
Context Name:	webgl
GL Version:	WebGL 1.0 (OpenGL ES 2.0 Chromium)
Shading Language Version:	WebGL GLSL ES 1.0 (OpenGL ES GLSL ES 1.0 Chromium)
Vendor:	WebKit
Renderer:	WebKit WebGL
Unmasked Vendor:	Google Inc.
Unmasked Renderer:	ANGLE (Intel(R) HD G

[2016-05-06 01:34] cfairchi commented on #3889
I have seen it in both Red Hat Linux 7.2 Chrome 47.0.2526.111, and in Linux Mint 17.3 Chrome 49.0.2623.112 (64 bit).  I have seen it in Cesium 1.10, 1.17 and 1.20.  It seems to be less severe in Cesium 1.10.  I get the same output in the console that Matt gets (Attribute 0 warning).  It almost looks like the tiles are rendering on the wrong side of the globe because I can see tiles rendering near

[2016-05-08 00:10] pjcozzi commented on #3897
Given the navigation use case of orienting the map with the driving direction up, I have to agree that this is a valuable option.

[2016-05-09 14:47] #3786 closed

[2016-05-09 18:01] bagnell opened #3902 "Test createVerticesFromHeightMap and createVerticesFromQuantizedTerrainMesh"
`createVerticesFromHeightMap` and `createVerticesFromQuantizedTerrainMesh` have no unit tests.

[2016-05-09 18:35] #3676 closed

[2016-05-09 19:33] #3893 closed

[2016-05-10 05:52] tproduit commented on #3890
Hello Hannah,
Thanks for your reply. Here is a Sandcastle that reproduce the problem.

`require(['Cesium'], function(Cesium) {
    "use strict";

    var ellipsoid = Cesium.Ellipsoid.WGS84;

    function doSomething(){
        console.log('Happens at the time of the click on the button and not after the flight');
    }

    function flyToMyLocation(scene) {

        Sandcastle.declare(flyToMyLocat

[2016-05-10 11:08] pjcozzi commented on #3892
@konashredbiker thanks for the report!  Do you have a sample 3D Tiles tileset that we can test with?  Just a tileset with one simple .b3dm file would be great.

[2016-05-10 11:42] konashredbiker commented on #3892
Yes, here I generated a simple one.
[b3dmExternalTexture.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/257059/b3dmExternalTexture.zip)

[2016-05-10 15:26] hpinkos opened #3906 "ImageMaterialProperty not rendering in Chrome with AMD graphics card"
Can someone with an AMD graphics card see if they can reproduce this?  Seen in Chrome 50.

Reported on the forum: https://groups.google.com/d/msg/cesium-dev/AMf11Gr9RFI/FoyNr6PGBgAJ

[code]

[2016-05-10 15:40] lilleyse commented on #3906
I'm noticing the same problem with Chrome 50, among other issues.

[2016-05-10 15:53] lilleyse commented on #3906
However my drivers are also pretty behind: 15.201 from September because that seems to be the version that Bootcamp for Windows 8.1 caps at. Maybe someone with the newest drivers can test too.

[2016-05-10 17:12] mramato commented on #3906
If that happens with the official bootcamp drivers, we should probably look into it.  Any console output?

[2016-05-10 17:12] denverpierce commented on #3906
Chrome Version 50.0.2661.94 m (64-bit), Catalyst 16.4.2 I have the same issue, but creating a ImageMaterialProperty like that sets transparent: false by default. Creating the material with transparent:true and it shows up as intended.

No console errors. Same thing happens in Edge.

[2016-05-10 17:34] lilleyse commented on #3906
No console output for me either.

[2016-05-10 19:55] #2771 closed

[2016-05-10 19:59] bagnell commented on #3888
Do you still see 73? I see 9 and they are all `Scene` tests.

[2016-05-10 21:37] pjcozzi opened #3907 "makeZipFile fails in CI in master"
Is this a real issue?

https://travis-ci.org/AnalyticalGraphicsInc/cesium

[2016-05-11 01:40] mramato commented on #3888
With the latest Firefox and master, I'm now seeing 10 failures.  9 in Scene and one in OrientedBoundingBox.  I'm also getting `AfterAll RuntimeError: WebGL Error: CONTEXT_LOST_WEBGL lost: deleteTexture([object WebGLTexture])` at the top of the test run.

[2016-05-11 02:26] jmgomezpoveda opened #3909 "VR renders the same image for both eyes"
When enabling the VR mode (useWebVR / vrButton), two images are rendered side by side.

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Cardboard.html&label=

I would expect these images to be slightly different, simulating the position of the eyes to create the 3D effect. However, the images I see are exactly the same (subtracting them in GIMP gives a completely black image).

![vr](htt

[2016-05-11 06:31] jpremkumar commented on #3247
Any progress on this thread or anyone advice for fixing this issue please.

[2016-05-11 14:24] mramato commented on #3247
While I can't say exactly what the problem is, it's going to be related to the `camera` `viewMatrix` and `transform` properties.  When tracking an object, the transform is something other than the identity, which means that at some point during the calculation, we probably need to transform the position to the proper reference frame.

I would recommend you see if this works in 2D when tracking and

[2016-05-11 14:34] hpinkos opened #3911 "What tasks should be supported from within the release zip?"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/eaY-tlnabK0

Running `npm run build` from the release fails because `.jshintrc` is missing from the root, apps, and apps/sandcastle directories

[2016-05-11 14:42] mramato commented on #3911
You aren't supposed to be able to run `npm run build` from the release zip.  The release zips are only meant for using Cesium, not building it.

[2016-05-11 14:43] hpinkos commented on #3890
Thanks for the example @tproduit!

The problem is that instead of setting the function to the complete property, you are calling the function.
This can be fixed by removing the `()` after `doSomething`

Here's the updated example:

[code]

[2016-05-11 14:43] #3890 closed

[2016-05-11 14:46] hpinkos commented on #3911
Then why do we include the gulpfile?

[2016-05-11 14:47] pjcozzi commented on #3892
Thanks @konashredbiker!  I added this as a near-term item to the 3D Tiles roadmap, #3241.

[2016-05-11 14:51] mramato commented on #3911
It was probably just an oversight from when we switched to gulp, however, having the gulpfile should let you run the tests from the command line (which is something we currently support in the released zips).  Though I haven't tried it as we are still using the old Jasmine testing for release testing.

[2016-05-11 15:02] hpinkos opened #3912 "Weird artifacts on tiles near, but not on, the poles"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/kBx3VryAnLI

Windows 10, Chrome 50, AMD Catalyst 16.4.2 graphics card

![image](https://cloud.githubusercontent.com/assets/3451886/15185548/b937024c-1767-11e6-9780-f12ec409ae89.png)

[2016-05-11 15:14] mramato commented on #3909
@bagnell we should probably look at this for the next release.

[2016-05-11 15:15] mramato commented on #3909
Thanks for the report @jmgomezpoveda!

[2016-05-11 15:21] shunter commented on #3912
Looks similar to artifacts I've always had on my ancient 2010 MacBook Pro in Chrome - though in my case it was the blue globe texture showing through, not black.  We looked into it a long time ago and I believe we determined it was a problem with mipmaps not being generated for the globe textures, and it seemed like a OS X driver bug / Chrome bug. The mipmap texels were left transparent and so the

[2016-05-11 15:28] jpremkumar commented on #3247
Thank you @mramato for the guidance. Let me experiment...

[2016-05-11 21:53] #3779 closed

[2016-05-12 05:11] seifer08ms opened #3914 "render a 2.5D raster overlaping terrain"
Hi, guys!
We want to render a 2.5D raster overlaping a terrain layer. For example, a 2.5D raster layer of temperature has higher altitude where the temperature is higher than other regions. I couldn't found somethins about raster 2.5D render . Is it possible to implement it ?

[2016-05-12 12:28] hpinkos commented on #3062
We're also missing support for:

- [ ] Box
- [ ] Cylinder

[2016-05-12 14:09] mramato commented on #3907
This appears to have been a ci fluke and master passed when I re-ran the same build.  It has also passed on all merges since then.

[2016-05-12 14:09] #3907 closed

[2016-05-12 15:12] jpremkumar commented on #3247
I've spend good time with #3247. It looks like, tracking is not working in 2D mode as well. I've tried with different transformation on _worldToClip_ (line no 68) and _clipToGLWindowCoordinates_ (271) functions, but no luck :(

![cesium_issue_v11](https://cloud.githubusercontent.com/assets/4466566/15219016/ddd1eb4e-187f-11e6-8493-5c1b9b51bddb.gif)
White text _"Sample Popup"_ is the billboard.
**br

[2016-05-12 21:57] ramosta opened #3916 "Visualizers not releasing removed Entity"
reported on forum:
https://groups.google.com/forum/#!topic/cesium-dev/wWLO8PmYlFk
https://groups.google.com/forum/#!topic/cesium-dev/Cm2cWe3Z4ew

Visualizers (PointVisualizer, BillboardVisualizer, possibly others) don't release the reference to an entity that was requested to be removed.

In BillboardVisualizer, for example, the billboard primitive's "id" is set to its corresponding entity in the

[2016-05-13 01:59] mramato commented on #3916
Thanks for the report @ramosta.  In most cases, this isn't an issue because removing a datasource will destroy the primitives, which cleans up the id references anyway and allows the data to be GCed. That being said, I don't see why we couldn't more aggressively clean up the `id` references to allow for earlier GC, so I'll open a PR to make that change.  Given the non-deterministic nature of brows

[2016-05-13 13:28] emackey commented on #3247
@jpremkumar forgive me if you already know this:  HTML measures vertical coordinates starting at the top, increasing as you go down, like text.  WebGL, like many graphics systems, places the origin in the lower-left, with vertical coordinates increasing as you go up the screen.  From your screen cap, it looks like you just need to flip your Y coordinate.  (Also beware that the canvas may be a diff

[2016-05-13 13:40] #3916 closed

[2016-05-16 12:20] e-andersson opened #3920 "Billboard.prototype.computeScreenSpacePosition returning wrong y position"
The behavior of computeScreenSpacePosition seems to have changed recently (there seem to be a few new commits changing Billboard.js). It looks like the y screen coordinate is the inverse of what it used to be. According to the API docs, the y coordinate increases from top to bottom.

The attached Billboards sandcastle example prints the screen positions and the computed screen positions of the cli

[2016-05-16 21:55] tfili opened #3921 "Billboards on terrain don't all update when terrain is turned off"
To reproduce
* Load the `development/BillboardsClampToGround` Sandcastle example
* Zoom in to the area with the billboards
* In the layer picker select `STK World Terrain Meshes` (Terrain is on but isn't selected which should probably be fixed for the example as well)
* Again in the layer picker select `WGS84 Ellipsoid`

You'll notice not all billboards were put on the ellipsoid.

![image](https:/

[2016-05-17 10:35] jpremkumar commented on #3247
@emackey, You are right, I've flipped the position of clip coordinates, before it convert to windows coordinates.

Source: SourceTransforms.js [Line#191](https://github.com/AnalyticalGraphicsInc/cesium/blob/7fc81f744dca4bf2a9341a5837845ebdddf8a8e7/Source/Scene/SceneTransforms.js#L191)

`positionCC.y = -(positionCC.y);`

![test111](https://cloud.githubusercontent.com/assets/4466566/15318973/2cbd1a3

[2016-05-17 14:40] lasalvavida opened #3925 "Cesium throws an exception if accessor.min and max are missing for POSITION"
In glTF, accessor.min and accessor.max are [optional properties](https://github.com/KhronosGroup/glTF/tree/master/specification#accessor).

If a model is missing these on an accessor that defines POSITION, Cesium throws:

DeveloperError: array is required
Error
    at new DeveloperError (http://localhost:8080/Source/Core/DeveloperError.js:44:19)
    at Function.Cartesian3.unpack (http://localhost:

[2016-05-18 09:10] SunBlack commented on #3508
Well I had now time to test ist. In my opinion removing gzip compression isn't best solution - or isn't there another solution in case file not exists?

[2016-05-18 11:06] pjcozzi commented on #3925
Good catch, thanks @lasalvavida.  I am tempted to update the glTF 1.0.1 spec to say that min and max are required when the accessor is referenced from a `POSITION` (or require them always); otherwise, any implementation that uses bounding volumes (which is likely all non-trivial ones) has to have a fallback to explicitly compute it.  I opened https://github.com/KhronosGroup/glTF/issues/593 to disc

[2016-05-18 11:42] pjcozzi commented on #3921
I suspect this is an easy fix.  @tfili can you give it a shot?

[2016-05-18 11:49] pjcozzi opened #3927 "Matrix4.fromCamera should use position/direction..."
...not `eye`/`target`, which no longer exist.

See [Matrix4.fromCamera](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/Matrix4.js#L560) and [Camera](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Camera.js).  The [tests](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Specs/Core/Matrix4Spec.js#L329-L349) pass because they are explicitl

[2016-05-18 11:52] pjcozzi commented on #3920
@bagnell any idea here?  Is this related to https://github.com/AnalyticalGraphicsInc/cesium/commit/651a8b26816ba5c947bd01e49eb01b8c2b97d889#diff-97a34c40d0a290b6fab62f87f92bcc6f or https://github.com/AnalyticalGraphicsInc/cesium/commit/dae0242025e29ba99e4517992357cca64224d4f4#diff-97a34c40d0a290b6fab62f87f92bcc6f?

[2016-05-18 11:57] pjcozzi commented on #3508
Tiles can still be served pre-gzipped, we just don't pre-gzip the test data so it is easy for developers to work with.

[2016-05-18 17:17] emackey commented on #3920
Git bisect says this went bad in 651a8b26816ba5.

[2016-05-18 17:20] emackey commented on #3247
@jpremkumar So it turns out we have a bug where the Y coordinate got flipped, written up as #3920.  It's very likely the fix for #3920 will involve flipping it back the way it was.

[2016-05-18 17:23] mramato commented on #3920
Given this has been brought up several times this month, we should probably try to get to this before the next release.

[2016-05-18 17:25] emackey commented on #3920
Here's some test code.  A small `div` should float in the middle of the Cesium logo, and not go to the top of the screen when the logo is at the bottom of the screen and vice-versa.

[code]

[2016-05-18 17:27] mramato commented on #3920
So is this just a one-character change to negate y?

[2016-05-18 17:32] emackey commented on #3920
It's basically `height - y`, yes.  We should probably check that the solution works when the canvas has a different number of CSS pixels from canvas pixels, unless we're explicitly giving the answer in canvas pixels with CSS-oriented coordinates.  Also, several other classes besides `Billboard` offer a `computeScreenSpacePosition`, they should be tested too.

[2016-05-18 20:31] TomPed opened #3930 "Offline Guide Out of Date"
The [Offline Guide](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Offline-Guide) is out of date in the [example section](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Offline-Guide#example).

The example is:
[code]
and it should be updated to be:
[code]

`new Cesium.TileMapServiceImageryProvider` `->` `Cesium.createTileMapServiceImageryProvider`

[2016-05-18 20:34] pjcozzi commented on #3930
Good catch, thanks @TomPed!

https://github.com/AnalyticalGraphicsInc/cesium/wiki/Offline-Guide/_compare/c43bb59756e7d6f130e7342cb187e31c998d6202...967df6a9c6880b20f2fb5a2074f722c8c7bfd38c

[2016-05-18 20:34] #3930 closed

[2016-05-18 21:16] tfili commented on #3921
@pjcozzi Sure. Looking at it now.

It looks like it happens when the updateHeight callbacks are still being fired and we change the terrain again.

[2016-05-18 21:58] lilleyse opened #3932 "Model stops animating when setting the clock backwards"
It's possible that I'm doing something wrong here. Here's a code snippet.

[code]

[2016-05-19 08:19] SunBlack commented on #3508
My tiles are currently pre-zipped, but because of missing http header not extracted by browser. So maybe an it is possible to add an option to default server implementation, like --port, to enable compression support?

[2016-05-19 15:52] TomPed opened #3935 "file:/// protocol when using Cesium off the web"
This issue has to do with Cesium being used off the web, i.e., [Electron](http://electron.atom.io/) and [Cordova](https://cordova.apache.org/) trying to load the Natural Earth II imagery.

When you try loading the offline imagery you get this error: `net::ERR_FILE_NOT_FOUND`. One of the files not found are: `file://users/tpedbereznak/Cesium-Editor/node_modules/cesium/Build/CesiumUnminified/Assets/

[2016-05-19 15:55] mramato commented on #3935
What does the code you are using to load the imagery look like?  I suspect this is a problem at the app level.

[2016-05-19 15:57] TomPed commented on #3935
I just select Natural Earth II from the imagery picker.

[2016-05-19 16:04] mramato commented on #3935
Are you setting `CESIUM_BASE_URL` in your app?

[2016-05-19 17:00] TomPed commented on #3935
No, I'm not. Where should I be setting this?

[2016-05-19 17:09] mramato commented on #3935
I'm not sure that's the problem; I'm just trying to figure out what the issue could be.

[2016-05-19 17:10] TomPed commented on #3935
I just tried that `Cesium.buildModuleUrl.setBaseUrl('./node_modules/cesium/Build/CesiumUnminified');`. I think we can rule this out.

[2016-05-19 17:11] mramato commented on #3935
If you wanted to try setting it, I would use the absolute path with the 3 slashes.

[2016-05-19 18:09] TomPed commented on #3935
I tried: `Cesium.buildModuleUrl.setBaseUrl('file:///Users/tpedbereznak/Electron-Cesium-Starter-Kit/node_modules/cesium/Build/Cesium');`. Did not work either.

[2016-05-19 18:18] #3932 closed

[2016-05-19 18:19] pjcozzi opened #3937 "CI deploys branches to master?"
Is it possible that CI deploys branches to the hosted `master` directory?  See #3934.

[2016-05-19 18:28] mramato commented on #3937
We use the `TRAVIS_BRANCH` environment variable, which apparently has different behavior depending on how the build is triggered, as defined here: https://docs.travis-ci.com/user/environment-variables/

I'm not exactly sure what they mean by "triggered by a pull request", vs normal CI operations; however there are two settings in the config gui, one for "Build pushes" and the other for "Build pull

[2016-05-19 18:28] mramato commented on #3937
I disabled the `build pull requests` setting for now and we'll see what happens.

[2016-05-19 18:31] pjcozzi commented on #3937
Thanks for looking into this.  Feel free to close this once it is confirmed.

[2016-05-19 18:38] mramato commented on #3937
Actually, I'm not sure the settings change is the right choice.  I just realized it probably means that external pull requests never get built by travis (meaning no jshint or tests get run).  I'm sure we can find a simple solution; I just don't think my first attempt is it.

[2016-05-19 18:45] pjcozzi commented on #3508
That is a good idea that we can consider.  In the meantime, you want to not pre-gzip or add a header like:
[code]

[2016-05-19 19:27] pjcozzi commented on #3614
@TomPed would you like to try this one when you are available?

[2016-05-19 20:56] YousefED opened #3939 "PolylineGlowMaterial rendering on ubuntu 12.04 and firefox 46"
See the following screenshot:

![screenshot](https://cloud.githubusercontent.com/assets/368857/15409399/ed6f63b6-1e14-11e6-93c3-f3164d99c815.png)

The blue line is thicker than expected (compare with http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Polyline.html&label=Geometries). Could you point me in the right direction to further dig into this issue?

[2016-05-19 21:21] shunter opened #3940 "Imagery artifacts in Imagery Adjustment Sandcastle"
Happened to notice this randomly.  Play around with the sliders in the Imagery Adjustment Sandcastle example and I see this:

![image](https://cloud.githubusercontent.com/assets/32828/15410069/d5e40cc6-1de5-11e6-9c19-50e701ec9c04.png)

The artifacts are dependent on the values from the sliders.  Seen on two different Windows desktop systems (both NVidia).

[2016-05-19 21:31] shunter commented on #2182
FYI this problem is back again.  Top Google result for Cesium Sandcastle is the same broken link as before.  Not sure why previous efforts didn't fix it (or whether it regressed at some later point)

[2016-05-19 22:27] nikakhov commented on #2130
As a temporary fix, would it be possible to merge branch master into billboard-transparency?  This way billboard-transparency will be up to date.

[2016-05-20 10:06] jpremkumar commented on #3247
Thank you @emackey for the update.

[2016-05-20 15:41] YousefED commented on #3939
Fyi: seems to be happening in Chrome as well. The GPU is a nvidia GRID K520

[2016-05-20 19:51] denverpierce opened #3941 "KML with duplicate placemark ID's doesn't render duplcates"
Duplicate ID's on KML <placemark>'s are eaten up by cesium (leaving only the last one parsed), but not by Google Earth.

Here is a minimally viable KML example:

[code]

[2016-05-20 21:47] pjcozzi opened #3942 "uniformState.inverseTranposeModel is spelled wrong."
@lilleyse great beginner issue for next week.

It should be: uniformState.inverseTran**s**poseModel.

For example, see https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Model.js#L2132

[2016-05-23 13:53] lilleyse opened #3944 "JulianDate constructor options should be optional"
`julianDayNumber` and `secondsOfDay` should be marked as optional in the documentation.

This is a good beginner issue for today.

[2016-05-23 14:47] hpinkos opened #3945 "Flickering when adding a new polygon entity"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/xKVI49Ux430

In this example, the polygons flicker each time a new polygon is added to the collection.  It looks like the polygons are drawn solid instead of with an alpha for a split second.

[code]

[2016-05-23 14:51] hpinkos commented on #2584
Requested again here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/J_75KkE2mcA

[2016-05-23 20:49] hpinkos opened #3947 "Cesium registers mouse events it's not using"
`ScreenSpaceEventHandler` registers a bunch of mouse event handlers when it is initialized regardless of whether Cesium is actually using these event handlers.  This can cause weird side effects when Cesium is embedded in a page because it captures all mouse events that happen over the canvas.

There is also no easy way to remove a specific event handler.

[2016-05-23 21:10] denverpierce commented on #3945
I can confirm this on time-dynamic entities as well.  If an entity goes from transparent to solid, such as in a time interval property color, there's about one frame where the transparent color is rendered as solid.

[2016-05-24 14:48] tfili opened #3948 "Primitive test failure only in built release version"
I get the following failure when running all the tests with `?built=true&release=true` on `Chrome 50.0.2661.102 m (64-bit)`

[code]

If I run the test by itself (the built release version) I get a different failure

[code]

[2016-05-24 14:49] #3927 closed

[2016-05-24 15:34] #3944 closed

[2016-05-24 15:38] lilleyse commented on #3347
This is still an issue as of 1.21. @likangning93 would you like to take a look at this? You can use the 3D Models Sandcastle demo as an example of this.

[2016-05-24 15:58] lilleyse commented on #3138
@JoshuaStorm Would you like to take a look at this?

[2016-05-24 17:31] lilleyse commented on #3878
@JoshuaStorm Here's another one you can work on next.

[2016-05-24 17:48] pjcozzi opened #3951 "Exception in 2D when camera lines up with the IDL"
See https://github.com/AnalyticalGraphicsInc/cesium/pull/3936#issuecomment-221343276.

[2016-05-24 19:58] #1593 closed

[2016-05-24 20:02] bagnell commented on #1593
I think this was fixed by #3768. I can't reproduce this.

[2016-05-24 20:04] bagnell commented on #3729
I think this was fixed by #3768 like #1593. At least the missing part of the line was. I don't see any of the pointy sections din the description. @hpinkos Can you still reproduce this?

[2016-05-24 20:07] #3951 closed

[2016-05-24 20:08] pjcozzi commented on #3948
@tfili is this also in 1.21?

[2016-05-25 14:18] mramato commented on #3937
Okay, I have a good understanding of why this all behaves the way it does now.  Since my setting changed, pull requests from forks no longer get built (for example #3955), which is definitely not what we want.  I found it a little odd that travis doesn't expose the branch name during builds from forks; but it just clicked that there can be name conflict between the forked and primary repositories.

[2016-05-25 14:45] hpinkos commented on #3729
yep, looks like it's fixed

[2016-05-25 14:45] #3729 closed

[2016-05-25 18:37] TomPed commented on #3614
I'm trying to load the sandcastle example and I am getting an error:
[code]

[2016-05-25 18:37] YousefED commented on #3939
Also tried other ubuntu / linux versions, same result. Any ideas how I can further debug this issue?

[2016-05-25 18:51] hpinkos commented on #3939
Thanks @YousefED!
I wasn't able to reproduce this on Windows.  @mramato can you see if this is a problem on your linux machine?

[2016-05-25 19:52] #3138 closed

[2016-05-25 20:25] tfili commented on #3948
@pjcozzi Yep, this is also failing in 1.21.

[2016-05-25 21:03] pjcozzi commented on #3948
OK, will keep it labeled just `1.21`.

[2016-05-25 21:03] pjcozzi commented on #3948
OK, will keep it labeled just `test failure`.

[2016-05-26 11:37] pjcozzi opened #3960 "Labels/billboards crossing the IDL in 2D get clipped"
![ok](https://cloud.githubusercontent.com/assets/782098/15573383/a95308d6-2314-11e6-977f-6c864967a292.gif)

Models are OK across the IDL, #3764.

@bagnell I thought there was an issue for this, but I couldn't find it.  Please close if this is a duplicate.

[2016-05-26 14:33] lilleyse commented on #3906
This is working for me now with the latest Chrome update, as well as a lot of other demos that used to be broken.

[2016-05-26 15:15] likangning93 opened #3961 ""RangeError: Invalid array length" when rotating camera down from sky-facing startup"
- pan up so the view is entirely sky/space
- reload the page to restart Cesium
- pan down
  <img width="965" alt="crash snip" src="https://cloud.githubusercontent.com/assets/5395255/15579561/21c33b1a-2333-11e6-9033-b3f7bafa267a.PNG">

[2016-05-26 15:42] likangning93 commented on #3961
You might have to pan all the way up before reloading and then navigate a little bit after panning down to reproduce this.

[2016-05-26 15:55] hpinkos opened #3962 "Sandcastle crashes on console.log(null)"
The `console` tab in Sandcastle tries to display the value by calling `toString` on the value, and you can't `null.toString`

Reproduce with `console.log(null);`

Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/bXrMbPjy7Ys

[2016-05-26 17:25] hpinkos opened #3964 "VR The World terrain provider broken in 1.18"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/jwEW4MudJ28

The terrain is stair stepped when using the `VRTheWorldTerrainProvider`

Half dome in 1.18
![image](https://cloud.githubusercontent.com/assets/3451886/15583667/c25c9e20-2344-11e6-915b-fc48bbb1452c.png)

Half Dome in 1.17
![image](https://cloud.githubusercontent.com/assets/3451886/15583655/b3727042-2344-11e

[2016-05-26 17:27] #3565 closed

[2016-05-26 17:35] #3346 closed

[2016-05-26 17:36] #3286 closed

[2016-05-26 17:36] pjcozzi commented on #3964
@bagnell can you take a quick look at this for the next release?

[2016-05-26 17:36] hpinkos commented on #3866
@tfili Make sure someone takes care of this before the release next week

[2016-05-26 17:39] bagnell commented on #1819
There's no more bounce back animations. Closing.

[2016-05-26 17:39] #1819 closed

[2016-05-26 17:44] bagnell commented on #1401
There's no bounce back animation so I can't reproduce the original issue. Does it happen with inertia as well?

[2016-05-26 18:08] TomPed commented on #3614
I will try thing on another computer later today on IE 11.

[2016-05-26 18:13] #3347 closed

[2016-05-26 18:18] TomPed commented on #3614
This is the support for the `fill` method for Internet Explorer.

![ieisbad](https://cloud.githubusercontent.com/assets/11602092/15585192/31ff847a-234c-11e6-8ef7-9a64f6627909.JPG)

[`TypedArray.prototype.fill()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray/fill)

[2016-05-26 18:25] pjcozzi commented on #3961
Link: https://cesiumjs.org/NewYork

[2016-05-26 18:30] #3964 closed

[2016-05-26 18:39] mramato commented on #3614
Up to @lilleyse and @pjcozzi, but if we think this will affect performance, we can write a helper function that calls `fill` if it's defined and falls back to iteration if it's not.

[2016-05-26 18:44] pjcozzi commented on #3614
@mramato's approach is fine.  Look in the file history; we just added `fill` so we were basically using the fallback beforehand.

[2016-05-26 18:47] mmacaula opened #3967 "Upgrade when.js to latest"
When.js is currently at v1.7.1, latest available (as of now) is 3.7.7.  Looking at the [changes](https://github.com/cujojs/when/blob/master/CHANGES.md) betwen latest and then, there are plenty of 'massive' performance improvements.  Might be a good idea to upgrade to take advantage.  There are two 'breaking' versions between there so would require looking through all promise code to bring into a+

[2016-05-26 18:56] hpinkos commented on #3967
Thanks @mmacaula!  We've been discussing changing our promise library recently.  I think we're going to look into replacing `when` with `bluebird`.  @mramato can elaborate, but I think there's a feature in the version of when that we're using that makes it a little more work to upgrade, but we'd like to take care of this soon.

[2016-05-26 19:00] mmacaula commented on #3967
Sounds great!  Yeah I think i've seen that 'feature' around the code, I suspect it's the passing of `onFulfilled` handlers to things like `when()`. Bluebird definitely seems to be the fastest out there now, but when.js is definitely not far behind (or far enough to matter maybe).

Feel free to close this issue if it's easier to manage.

[2016-05-26 19:28] shunter commented on #3967
Specifically the feature in the old version of when.js that we rely on (for better or worse) is that calling .then on resolved promises executes immediately.  Promises A+ requires that handlers **must** be invoked on the next turn of the loop, which is an unfortunate choice from a performance perspective.  More detail here: http://thanpol.as/javascript/promises-a-performance-hits-you-should-be-awa

[2016-05-26 19:35] shunter commented on #3967
It looks like Bluebird has features that would help with dealing with this: http://bluebirdjs.com/docs/api/synchronous-inspection.html

[2016-05-26 19:38] mramato commented on #3967
@shunter I was just looking at the synchronous inspection stuff yesterday.  I may try and do this at the code sprint next week.

[2016-05-26 22:18] juacarri opened #3968 "Entity disappears applying Alpha"
Hello, I'm trying to apply an Alpha value to the colour of my polygons following this code:

			var color = colorHash[name];
			if (!color) {
				color = Cesium.Color.fromRandom({Alpha: 1.0});
				colorHash[name] = color;
			}
The problem is that the polygons dissapear if I use this code, and they appear if I delete the Alpha. You can see all the code in my web ( http://social4d.com/ ) and actuall

[2016-05-26 22:31] pjcozzi commented on #3909
@bagnell can you look at this in time for the release next week?

[2016-05-26 22:31] pjcozzi commented on #3920
@bagnell can you look at this in time for the release next week?

[2016-05-27 12:59] lasalvavida commented on #3968
@juacarri I put together a little sandcastle [demo](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=96cf45f347aa6ae133338402b7bd6ed8) for you showing setting a random color on an entity.

As best I can tell it's probably a bug in your code.

[2016-05-27 13:16] lasalvavida commented on #3968
Also, `Alpha` should be lowercase: `alpha`.

[2016-05-27 15:16] juacarri commented on #3968
@lasalvavida I tried the demo and I can't see the objects with my browser (Chrome) it happens the same that occur in my code.

Ok, I tried with other browser (IE) and it works completely the both projects, sandcastle and my code.

[2016-05-27 19:15] #3921 closed

[2016-05-27 19:18] bagnell commented on #3894
@bmckilligan This was fixed in #3779 and will be in the next release.

[2016-05-27 19:18] #3894 closed

[2016-05-27 19:21] bagnell commented on #2693
Added in #3938.

[2016-05-27 19:21] #2693 closed

[2016-05-30 12:01] #3920 closed

[2016-05-31 09:43] iWun opened #3977 "how to build the 3D Tile branch?"
I'm new to cesium.Recently I want to research on 3D Tile.Anyone can tell me how to build the 3D Tile branch?Thanks.

[2016-05-31 11:23] #3977 closed

[2016-05-31 11:46] pjcozzi commented on #3909
@bagnell are you able to look at this for the 1.23 release tomorrow?

[2016-05-31 11:47] pjcozzi commented on #3888
Not required for 1.23 tomorrow.  Could be worth a look at the code sprint.

[2016-05-31 11:49] pjcozzi commented on #3889
@bagnell is it realistic to look at this for 1.23?

I'm pretty sure this is an OS/browser/driver issue, but we can probably work around it by ensuring that attribute 0 is always in use.

[2016-05-31 15:45] tfili opened #3978 "GlobeSurfaceTileProvider test failures"
I got the following test failures in master. Using `Chrome Version 51.0.2704.63 m (64-bit)`. This doesn't happen in 1.21.

[code]

[2016-05-31 15:56] hpinkos opened #3979 "Billboard rotation doesn't work with sizeInMeters"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/MxTaFDUkeCU

[code]

[2016-05-31 15:58] hpinkos commented on #2130
Also seen here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/ElkPcTGhTwo

[2016-05-31 16:09] tfili opened #3980 "Sandcastle Map Pins example broken"
`Chrome Version 51.0.2704.63 m (64-bit)`

![image](https://cloud.githubusercontent.com/assets/1652382/15681739/7ff8c396-2728-11e6-80de-f3876e4b61e0.png)

[2016-05-31 16:14] hpinkos commented on #3980
This worked when i ran Chrome 50, but not after I updated

[2016-05-31 16:14] pjcozzi commented on #3978
These test failures were not in Chrome 50 on Mac, but I see them now in Chrome 51 on Mac and Windows, and Firefox 46.

@bagnell @lilleyse can one of you look at this?

[2016-05-31 16:30] pjcozzi opened #3981 "Cesium exception on startup on Windows/NVIDIA"
Is anyone else getting this in master when just opening Cesium Viewer?

![image](https://cloud.githubusercontent.com/assets/782098/15682379/61cad1d6-272b-11e6-8857-71cb29e90b41.png)

Looks like a uniform was optimized out.  Perhaps incorrectly?

Chrome 51 and Firefox 46.

[2016-05-31 16:35] pjcozzi commented on #3981
Just a build issue that @lilleyse pointed out.

I needed to rebuild when switching to `master`.

[2016-05-31 16:35] #3981 closed

[2016-05-31 16:35] hpinkos commented on #3981
I saw that after I pulled down master, but it went away after I did `npm run build`

[2016-05-31 17:14] mramato commented on #3980
Okay, this was tricky to track down and is a huge problem.  **All current versions of Cesium are now at least partially broken in Chrome.**

The problem is that in ES6, [Array.values](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/values) is a function on Array instances that returns a new ES6 iterator for the values.  We have code that relies on ducktyping

[2016-05-31 17:20] #3439 closed

[2016-05-31 17:26] mramato commented on #3980
Okay, I narrowed the scope and it's not as bad as I first thought.  `flyTo/zoomTo` are only broken when the argument being passed in is an array, which is still bad but not as common a use case.

[2016-05-31 17:31] #3980 closed

[2016-05-31 17:31] pjcozzi commented on #3980
@mramato no need to re-open this, right?

[2016-06-01 01:07] hpinkos commented on #3941
Thanks @denverpierce!

[2016-06-01 04:35] nikakhov opened #3984 "Camera stuck after limiting zoom"
To reproduce

1.  Paste into sandcastle:

var viewer = new Cesium.Viewer('cesiumContainer');
viewer.scene.screenSpaceCameraController.minimumZoomDistance=2000000;

2.  Zoom in

3.  Once the camera stops zooming in, keep doing the zoom-in input (such as mouse wheel scroll) for a while.

4.  Try zooming out.  Camera will be stuck for a while and will only move after a few moments of zoom-out input.

[2016-06-01 14:07] tfili commented on #3978
Fixed via #3985.

[2016-06-01 14:07] #3978 closed

[2016-06-01 14:48] bagnell commented on #3909
The images are different for objects close to the camera so you wouldn't see anything different in those two example screen shots. I'll push out the default near plane and add parameters to make it adjustable. It won't make the 1.22 release, but will make the 1.23.

[2016-06-01 15:29] #3866 closed

[2016-06-01 15:34] pjcozzi commented on #3925
The 1.0.1 spec will require accessor min and max.  Leaving this open until the online converter supports this.

[2016-06-01 15:36] hpinkos opened #3988 "Weird rendering in KML GPD sandcastle example"
![image](https://cloud.githubusercontent.com/assets/3451886/15715483/91a9055a-27ec-11e6-8002-02b48bb58a7e.png)

This looks smooth in 1.21 but has weird shadows in master

It looks like something is going weird with the triangulation and the triangles aren't parallel to the ellipsoid surface.  The triangulation looks weird in 1.21 also, it just doesn't have the same coloring differences.

[2016-06-01 16:20] #3889 closed

[2016-06-01 21:41] thinkpadder1 commented on #2730
[André Staltz - All JS libraries should be authored in TypeScript](http://staltz.com/all-js-libraries-should-be-authored-in-typescript.html)

Check this [Cesium Typescript generator](https://github.com/s-innovations/S-Innovations.Cesium) made in C# 6.0... maybe you guys can use this as a base?

[2016-06-01 21:42] thinkpadder1 commented on #2730
[André Staltz - All JS libraries should be authored in TypeScript](http://staltz.com/all-js-libraries-should-be-authored-in-typescript.html)

@emackey @mramato Check this [Cesium Typescript generator](https://github.com/s-innovations/S-Innovations.Cesium) made in C# 6.0... maybe you guys can use this as a base?

[2016-06-01 23:45] #3897 closed

[2016-06-02 03:01] hpinkos commented on #3897
@tianhai82 an option was added for the old 2D map behavior in #3990 and will be available in Cesium 1.23 coming out on July 1st

[2016-06-02 05:16] jpremkumar commented on #3247
Hi @emackey, I've tested the bug #3247 with the latest Cesium version [r1.22](https://github.com/AnalyticalGraphicsInc/cesium/releases/tag/1.22). But still facing the same positioning issue. The #3920 is not the fix for #3247. When I flip the Y coordinates in the `SourceTransforms.js`, then it works.

Source: `SourceTransforms.js` [Line#191](https://github.com/AnalyticalGraphicsInc/cesium/blob/mas

[2016-06-02 13:35] pjcozzi opened #3993 "Fix exception messages in Matrix4.computePerspectiveFieldOfView"
@lexaknyazev said:

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/Matrix4.js#L660-L667

Good beginner issue.

[2016-06-02 19:02] hpinkos commented on #3960
Reported on the forum here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/el4cxKAKxAA

[2016-06-02 19:22] pjcozzi commented on #172
Related on the forum:
* https://groups.google.com/forum/#!topic/cesium-dev/cF9Vt28Wk-4
* https://groups.google.com/d/msg/cesium-dev/jGgNInY2Fqo/L42VGrAsAgAJ

[2016-06-03 00:31] TomPed commented on #3817
I've made the plugin [here](https://github.com/AnalyticalGraphicsInc/cesium-webstorm-plugin). Does anyone have any other ideas/requests for the plugin to help with Cesium development?

[2016-06-03 13:48] dwhipps opened #3995 "PolygonGraphics (crossing equator?) rendering problems."
I have created an entity using PolygonGraphics with points which cross the equator, and it seems to miss certain points.

To highlight the issue I have added the positions as point entities, and named them with their index. You can see that the polygon line goes from point 4 to point 10, skipping 5-9.

See here:
http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gis

[2016-06-03 13:56] hpinkos commented on #3995
Thanks for the example @dwhipps!  This looks like a polygon triangulation error.  It's most likely related to this problem: https://github.com/AnalyticalGraphicsInc/cesium/issues/2788
We're currently investigating using a new triangulation library that should be able to correctly render some of these more oddly shaped polygons.  We'll make sure it fixes this one as well.
In the meantime, if you br

[2016-06-03 15:01] hpinkos commented on #3984
Thanks @nikakhov!   I can confirm that it does take a little bit of scrolling out to start zooming.

[2016-06-03 15:22] hpinkos commented on #3935
@TomPed is this still a problem or did you find a solution?

[2016-06-03 15:24] TomPed commented on #3935
Yes, this is still a problem, I have that *hacky* fix that I mentioned, but that's it.

[2016-06-03 15:26] hpinkos commented on #3935
Okay thanks, just checking =)

[2016-06-03 17:47] cuizx opened #3999 "request tiles out of range"
When using GoogleImageryProvider, the request format is somthing like http://..../?x=X&y=Y&z=Z. if the option maxiumLevel is set, e.g.  z=6. the x or y should lie within(0,63), however when continuously zooming in at any point, x or y may exceed 63, while z keep unchanged, which causes an error.

[2016-06-03 17:56] mramato opened #4000 "Add option to use rhumb lines for geometry"
Once #3998 gets merged, [example.geojson.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/298108/example.geojson.txt) loads nicely in Cesium but exposes an existing bug we never noticed.  Check out these two screenshots, one from geojson.io and one from Cesium:

geojson.io

![image](https://cloud.githubusercontent.com/assets/1495196/15787704/b980d386-2991-11e6-8ad6-be3fc507e8e6.png)

Ces

[2016-06-03 18:10] #3084 closed

[2016-06-03 20:00] #3817 closed

[2016-06-03 20:12] #3937 closed

[2016-06-06 14:02] TomPed commented on #3614
@mramato when you say this, are you referring to the granularity of the panning and rotation, or when you go to pan and rotate, sometimes, no movement occurs. The latter is what I see.

[2016-06-06 15:15] hpinkos opened #4001 "Documentation contains broken links to private members"
For example, [ShadowMap](http://cesiumjs.org/Cesium/Build/Documentation/ShadowMap.html) contains a link to Context

Clicking this goes to an 'access denied' page.

[2016-06-06 15:38] lilleyse commented on #4001
Ah I forgot about that. One solution is to pass `Scene` to `ShadowMap` instead of `Context`. The other is to initialize values on the first frame of the update loop with the frame states's context.

[2016-06-06 15:41] hpinkos commented on #4001
@lilleyse there aren't any changes you should have to make to your code.  jsDoc should know not to make a link for something that's not there.

[2016-06-06 15:56] mramato commented on #4000
The next version of the [GeoJSON spec](https://tools.ietf.org/html/draft-ietf-geojson-03) is in its final draft stages (and actually has been approved already I believe).  I haven't read the whole thing yet, but it now explicitly defines hows to connect points to form geometry (and as suspected, Cesium is currently doing the wrong thing).

[2016-06-06 18:15] pjcozzi commented on #2788
Can we close this given #3998?

[2016-06-06 18:17] pjcozzi commented on #3044
Improved in #3998.

[2016-06-06 18:18] pjcozzi commented on #1209
Improved in #3998.

[2016-06-06 18:19] pjcozzi commented on #2788
@mramato can you update those forum threads?

[2016-06-06 18:19] #2788 closed

[2016-06-06 18:30] bagnell commented on #3044
I'm going to close this and open a new issue. The GeoJson files were fixed, but one still has an issue written up in #4000. The KML triangulation still fails because some of the holes share vertices or edges with the outer ring.

[2016-06-06 18:33] #3044 closed

[2016-06-06 18:35] bagnell opened #4003 "Incorrect polygon triangulation"
Triangulation is incorrect when vertices or edges or holes are shared with the outer ring.

[sample.kml.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/301075/sample.kml.txt)

[2016-06-08 11:15] pjcozzi opened #4009 "Support for glTF 2.0"
Changes from 1.0 to 2.0 are here: https://github.com/KhronosGroup/glTF/issues/605

The 2.0 spec still needs a bit more work, but is converging quickly.

---

**Cesium / glTF Pipeline / COLLADA2GLTF / 3D Tiles updates**

* [x] Add glTF 2.0 support (and still 1.0) to Cesium.  Start with Marco's [sample models](https://github.com/javagl/gltfTutorialModels/blob/master/README.md) if gltf-pipeline can't

[2016-06-08 14:40] slozier opened #4010 "Can't create a ShadowMap object using public API"
I'm trying to use a light source other than the sun so I figured I could just change the shadowMap of the scene. But to create a new `ShadowMap` it looks like I need to specify a `Context` which is not part of the public API.

[2016-06-08 15:42] nikakhov opened #4011 "Glowing polylines rendering problems"
Paste the code below into sandcastle.  Rotate the globe and notice that  polylines have rendering problems, as the front of the polyline the gets closer to overlapping with the back.

[code]

[2016-06-08 15:53] hpinkos commented on #4011
Thanks for the detailed code example @nikakhov!

Here is an example of the rendering artifacts
![image](https://cloud.githubusercontent.com/assets/3451886/15901016/9585df9e-2d6f-11e6-81b7-c6864f426589.png)

[2016-06-08 16:59] pjcozzi commented on #4010
We weren't planning on exposing multiple shadow maps until Cesium support multiple light sources so this constructor should actually be private and not in the reference doc.

In the meantime, you can, of course, use `Context` and friends, but the API is may change.

[2016-06-08 17:58] darrenSchlager opened #4012 "Globe missing"
I had Cesium working on my system previously, but today, the globe is missing. I have made no changes to my project since it last worked. I downloaded cesium again and the globe is missing even when I view HelloWorld and Sandcastle. The UI elements and entities show up, just not the globe.

[2016-06-08 18:07] mramato commented on #4012
Hi Darren, the globe is missing because the Bing key that is provided for demo purposes by Microsoft has been revoked. Generating your own Bing key in order to use Bing imagery is required, and has always been.  You must provide your own.  See the documentation:  http://cesiumjs.org/Cesium/Build/Documentation/BingMapsApi.html  The default key is only suitable for development, and as you see from t

[2016-06-08 18:07] #4012 closed

[2016-06-08 18:28] slozier opened #4013 "HeightmapTerrainData not upsampling as expected"
I've been using `HeightmapTerrainData` to flattern out certain bumpy regions and using 1.22, the geometry that was positioned over the flattened region isn't properly positioned (altitude) anymore.

![issue](https://cloud.githubusercontent.com/assets/6061329/15906004/1fc0baca-2d85-11e6-86fc-eb2d60abcc90.png)

I'm wondering why `upsample` of `HeightmapTerrainData` changed to only upsample to intege

[2016-06-08 20:32] jsalankey commented on #3857
The team I work on is having problems with the same issue. The tile requests appear to be getting tiles at every zoom level between the maximum and current in addition to a great many tiles that are nowhere near the view. With several layers, this can amount to thousands of requests that choke up even the best browsers to get 95% images that aren't even used.

This is a severe problem for our use

[2016-06-09 13:49] #3962 closed

[2016-06-09 14:40] pizza2code commented on #2730
Also looking to use Cesium with our Typescript project.  Having defined types for Cesium would be very useful.

[2016-06-09 17:10] rominavarela opened #4015 "Mapbox Classic will be deprecated"
Hi, I have a project using "classic" Mapbox imagery layers, which will be deprecated,
¿Is there any plans to migrate to the new Mapbox?

[2016-06-09 20:47] bagnell commented on #3909
Here's an example with the camera close to the basket of a hot air balloon. The rendering for each eye:
![vr0](https://cloud.githubusercontent.com/assets/1494815/15945692/af7a104e-2e61-11e6-9470-f9ea3bb37227.png)
![vr1](https://cloud.githubusercontent.com/assets/1494815/15945695/b2e4fbb8-2e61-11e6-8b69-f53310eaa633.png)
And here's the diff (the pixels different are pink):
![vrdiff](https://cloud.g

[2016-06-10 12:10] pjcozzi commented on #4015
Thanks for the report.  Do you have a link with more info on the deprecation?

[2016-06-10 17:25] pjcozzi commented on #3524
@bagnell you still want to keep this open?

[2016-06-10 17:34] #3524 closed

[2016-06-13 03:40] dailiwei commented on #4011
@hpinkos ，Do you have a link ?

[2016-06-13 14:31] rominavarela commented on #4015
I asked to mapbox support and they told me they will keep such "classic" version "for the forseeable future". I still think cesium should migrate to the new style, which announcement is in https://www.mapbox.com/blog/mapbox-studio-tiles-static/

[2016-06-13 14:57] hpinkos commented on #4015
Here's the API for getting raster tiles from a style:
https://www.mapbox.com/api-documentation/#retrieve-raster-tiles-from-styles

The URI should look like this:
`https://api.mapbox.com/styles/v1/{username}/{style_id}/tiles/{tileSize}?/{z}/{x}/{y}?access_token={access_token}`

[2016-06-13 22:47] mramato opened #4019 "Add Cesium version to Sandcastle title bar"
While we have the `Cesium.VERSION` constant for programmatic access, it would be useful to have Sandcastle have the version in it's title bar as well.  This way if you have a branch or website build open, it's easy to know exactly what version that is.

[2016-06-14 19:58] shunter commented on #2927
I re-tested this and it appears to work as expected.

http://cesiumjs.org/cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=4f53c47a0fe7a23bd42eac4e805de295

@GatorScott Still seeing this problem?

[2016-06-14 20:30] shunter commented on #3250
I have updated the CZML documentation to reflect the current implementation.

https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/Packet

[2016-06-14 20:30] #3250 closed

[2016-06-14 20:31] shunter commented on #3280
Updated CZML documentation.

https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/Packet

[2016-06-14 20:31] #3280 closed

[2016-06-14 20:32] hpinkos commented on #3250
@shunter it looks like wall and rectangle are missing, would you mind adding those when you get a chance?

[2016-06-15 21:56] shunter commented on #3250
Wall and Rectangle are now in.  AnalyticalGraphicsInc/czml-writer#113

[2016-06-16 09:37] lp249839965 opened #4025 "How Cesium deal with imagery service of WebMercator Projection?"
dear Cesium group:
     I have two question these days and i'm not able to solve it
question 1：
I have found that the VRtheWorldTerrain and STK Terrain both have a different projection from the BingMaps ,ArcGISserver Imagery。How Cesium deal with that,I have read the source code of 1.18，but I have no idea？
question 2:
ArcGisMapServerImageryProvider and BingMaps both have Web Mercator projection，the

[2016-06-16 12:01] pjcozzi commented on #4025
@lp249839965 See this presentation: [Rendering the Whole Wide World on the World Wide Web](http://cesiumjs.org/publications.html#rendering-the-whole-wide-world).

In the future, please post questions like this on the [Cesium forum](http://cesiumjs.org/forum.html).

[2016-06-16 12:01] #4025 closed

[2016-06-16 17:15] jeffdiederiks commented on #3867
I have a partial solution / workaround to this issue. The variable that comes back undefined after loading a datasource is:

`viewer.dataSources._dataSources[0]._lastCameraView.bbox`

To console.log that variable brings back the corresponding bbox parameters above in degrees rather than radians.

I started with the code in the post above and calculated my own bounding box and parsed my own values

[2016-06-17 16:05] pjcozzi opened #4027 "GroundPrimitive.debugShowShadowVolume doesn't show up when color is opaque"
For example, the shadow shows up with this:

[code]

But not this:
[code]

[2016-06-17 18:58] #3993 closed

[2016-06-17 19:23] shunter opened #4029 "DataSourceClock should not modify properties on Clock that are undefined"
Mentioned in #4007.

Currently `DataSourceClock` sets all properties on the given Clock in `getValue`.  A default-constructed `DataSourceClock` will have all properties `undefined` which will end up breaking the clock.  Instead, `DataSourceClock` should only copy defined values onto the actual clock instance.

[2016-06-17 21:43] mramato opened #4030 "The lighting/shadows situation is a little weird"
I don't have a great solution, but I wanted to write an issue to start a discussion regarding our current lighting/shadow situation.

1. If you have lighting on and zoom in to the dark side of the earth, the lighting fades out when you get close to the ground. (I like this behavior).
2. If you have lighting on and terrain with normal lighting on, the lighting stays dark when you zoom in. (otherwis

[2016-06-20 02:09] fxkulou opened #4031 "TerrainPush Problem"
I hava found a TerrainPush js in github,but it is just support cesium 1.2.I think the TerrainPush is a very useful tool to show the pipeline underground。so I want to know ,is there any other methods to show the pipelines underground?

[2016-06-20 04:43] speigg commented on #2730
Generating type definitions from jsDoc would also make documentation bugs more obvious (there are a handful).

[2016-06-20 11:09] pjcozzi commented on #4031
@fxkulou the Cesium geometries like polylines should work with negative heights.

In the future, please post general questions to the [Cesium forum](http://cesiumjs.org/forum.html) and use GitHub issues for bugs, features, etc.  For more info, see [CONTRIBUTING.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md).

[2016-06-20 15:56] YousefED opened #4032 "Black terrain artifact"
See screenshot below:

![image](https://cloud.githubusercontent.com/assets/368857/16201091/5b486d2e-3710-11e6-85a3-703aff1d3974.png)

Steps to reproduce:
- http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Camera.html&label=Showcases
- change setHeadingPitchRoll to function below
- run
- click "Set camera with heading, pitch, roll" from dropdown to run code

[code]

OS: Windows 10
Browser:

[2016-06-20 23:06] fxkulou commented on #4031
OK,thanks. @pjcozzi

[2016-06-20 23:06] #4031 closed

[2016-06-21 13:29] hpinkos commented on #3737
Also seen here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/q7U3dSjFDRk

[sail_boat.gltf.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/325663/sail_boat.gltf.txt)

[2016-06-21 13:31] lilleyse commented on #3737
I'll take a look at that one since it went through the obj converter.

[2016-06-21 18:23] psiphi75 commented on #3737
I have updated the the Google Groups forum topic with the original OBJ file as well, as well as other details.

[2016-06-21 18:24] lilleyse commented on #3737
Thanks I'll check it out!

[2016-06-21 21:18] psiphi75 commented on #3737
Apparently the OBJ file was corrupt, in my case.  Sean Lilley had a look and said the following:

[2016-06-22 20:46] mramato commented on #3980
Just to follow up, turns out that Google actually pulled support for `Array.values` because it broke a bunch of other apps too.  I had a link but now I can't find it.  Either way, no need to re-open this.

[2016-06-22 20:57] shunter commented on #3980
https://bugs.chromium.org/p/chromium/issues/detail?id=615873

[2016-06-23 05:55] superliwei opened #4036 "Can't set box's material property to PolylineOutlineMaterialProperty"
I try to set a box's material property to PolylineOutlineMaterialProperty ,but it goes wrong,here is my code:

[code]

other MaterialProperty like `ColorMaterialProperty,CompositeMaterialProperty,GridMaterialProperty,ImageMaterialProperty,PolylineGlowMaterialProperty,StripeMaterialProperty` works fine.

[2016-06-23 06:45] Cyperwu opened #4037 "Is there any way to hide part of a model?"
Hey, guys
I've been looking for a way to make a profile of a model so that i can directly look insied it and didn't get any progress.would you give me some hints? ; )

Thanks,C

[2016-06-23 11:29] pjcozzi commented on #3909
@bagnell this is labeled 1.23, but do we really need to do anything for this release?

[2016-06-23 11:29] pjcozzi commented on #3888
Not important enough for 1.23.

[2016-06-23 11:33] pjcozzi commented on #4037
Hi @Cyperwu - please ask questions like this on the [Cesium forum](http://cesiumjs.org/forum.html); we only use GitHub issues for bugs and features.  For more info, see [CONTRIBUTING.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md).  Thanks!

[2016-06-23 13:31] mramato commented on #3609
It would be really nice to get #3605 into master (which depends on this).  How hard is this going to be to fix?

[2016-06-23 19:14] dfil commented on #3945
One interesting thing to note: using a CallbackProperty to update the position instead does stop the flickering (but is extremely slow due to recalculating all the geometry every frame).

[2016-06-23 20:32] #4037 closed

[2016-06-23 20:34] hpinkos commented on #4036
Hello @superliwei

PolylineOutlineMaterialProperty only works for polylines, not for other types like boxes.
In the future, please ask questions on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use github issues for bug and feature tracking

[2016-06-23 20:34] #4036 closed

[2016-06-23 20:36] hpinkos commented on #4032
Thanks @YousefED!  I was able to reproduce this based on the steps you provided

![weird-terrain](https://cloud.githubusercontent.com/assets/3451886/16319291/a2fc0480-3960-11e6-847b-d875e00f312d.gif)

[2016-06-24 13:49] hpinkos opened #4041 "KML timespan tag issue"
Reported on the forum: https://groups.google.com/d/msg/cesium-dev/UrMK4Fku_Gk/Q-d6UmuRBAAJ
All of the images appear at once instead of following the timespan they are associated with

See the post for a link to the kmz file

[2016-06-24 14:25] cdbierl commented on #2208
@dragon112 I am using your rectangle material based version of the heatmap.js integration. I am getting the heatmap displayed as an entity on the globe, but it's not transparent. I just see the data points over a black rectangle. If I simply add the heatmap canvas to the body of the page, it's transparent as you'd expect. I think this something going on with cesium ImageMaterialProperty.

[2016-06-24 15:44] lilleyse commented on #1754
The updated converter that should be deployed soon fixes this model.
![tree](https://cloud.githubusercontent.com/assets/915398/16342597/033cb4b6-3a01-11e6-8df4-74420f980e3f.JPG)

[2016-06-24 15:44] #1754 closed

[2016-06-24 16:55] mramato opened #4043 "maximumScreenSpaceError a bad metric for 3D Tiles"
I spoke with both @lilleyse and @bagnell about this offline and Sean asked me to submit an issue.

`maximumScreenSpaceError` does not work very well as a metric for tile selection because it doesn't take into account the size of the Cesium canvas being drawn too, i.e. the same camera view will create wildly different images depending on the size of the window.  Instead of absolute pixel size, perh

[2016-06-24 19:03] mramato commented on #4043
For the record, I'm not sure my approach is the best choice either, just one possible alternative.

[2016-06-27 00:26] mramato opened #4049 "Jitter when clamping to ground"
Noticed while reviewing #3903.  Here's a sandcastle example which creates a circular flight with altitude of 0 and then clamps to terrain.  There is really jerky camera or entity motion as it animates.

[code]

[2016-06-27 15:06] slightGT commented on #3171
Hi everyone, any news about this issue...Probably is not related directly with CesiumJS core, more with the ATI drivers... but, anyhow, do you have any suggestion, workaround or fix?

Mac Pro
OSX El Capitan 10.11.5
2 x 3 GHz Quad-Core Intel Xeon
12 GB RAM
ATI Radeon HD 5770

Thank you,
Michele

[2016-06-27 18:43] bagnell opened #4051 "The 3D Models Sandcastle example crashes when switching to 2D"
Having shadows on by default breaks the 3D Models example when switching scene modes.

[2016-06-27 19:53] jhu opened #4052 "Being able to zoom in and out through mouse double click events?"
Hello,

Users of Google Earth can zoom in to and out of the globe incrementally by double-clicking on right and left mouse buttons. OpenLayers 2/3 provides the ability to zoom in via double-clicking left mouse button. Will there is a plan on including this feature or similar into the Cesium codebase? Is there a way of doing it with existing codebase?

Thanks

[2016-06-27 19:58] hpinkos commented on #4052
Hello @jhu

You can use [ScreenSpaceCameraController.zoomEventTypes](http://cesiumjs.org/Cesium/Build/Documentation/ScreenSpaceCameraController.html#zoomEventTypes) to add more event types that zoom.

If you have further questions, please ask them in our [Forum](https://groups.google.com/forum/?hl=en#!forum/cesium-dev).  We use GitHub issues to track bugs and features.  Thanks!

[2016-06-27 19:58] #4052 closed

[2016-06-27 23:20] racarate opened #4053 "Setting viewer.trackedEntity fails when assigned in onFulfilled callback"
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=CZML%20Path.html&label=

I added these lines to the end of the gliding example on Sandcastle:

[code]

The entity was saved off as a global variable called path:

[code]

Unfortunately, the assignment to viewer.trackedEntity doesn't seem to work when it happens within the onFulfilled callback of the promise's then function.  The camera come

[2016-06-28 12:40] pjcozzi commented on #4049
Looks like this happens on the first terrain height request of a new tile.  To see it more clearly:
* Zoom out a bit so lower LOD tiles are loaded
* Make the animation speed something like 0.5x
* Use the Cesium inspector to turn on `Terrain -> Show tile coordinates`
[code]

[2016-06-28 12:57] pjcozzi commented on #3171
@slightGT no update yet, but I suspect we will need to add a workaround in Cesium since Apple does not update drivers often.

We are currently improving polygons on terrain for 3D Tiles (#3241) so there's a chance we will also fix this in the process.

[2016-06-28 13:07] slightGT commented on #3171
@pjcozzi Thanks, I will follow the improvements in the 3DTiles branch.

[2016-06-28 13:39] pjcozzi opened #4054 "Update Cesium repo's README.md to include latest showcases"
@slchow how do you suggest we handle this?  Do you just want to update README.md once a month timed with the release?

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/README.md

http://cesiumjs.org/demos.html

[2016-06-28 13:51] pjcozzi commented on #4043
Added this to #3241.  Whatever we do here we would also want to do for terrain/imagery.

[2016-06-28 14:57] hpinkos commented on #3878
Mentioned on the forum again here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/q2OO2oUzdgQ

[2016-06-28 15:11] slchow commented on #4054
Oh, that's a good suggestion! I'll start doing it monthly.

[2016-06-28 15:35] pjcozzi commented on #4054
OK, we'll close this issue after the 1.23 release this week.

[2016-06-29 05:42] kring commented on #4043
@mramato can you explain what problem you're trying to solve?  IMO a larger screen _should_ use a different level of detail than a small screen, given the same camera position.  That's a feature, not a bug.

[2016-06-29 16:31] hpinkos opened #4056 "Sandcastle doesn't always alphabetize gallery"
![image](https://cloud.githubusercontent.com/assets/3451886/16460409/2eff7e88-3df5-11e6-85e8-66c4b71c486f.png)

This happens intermittently when loading Sandcastle

[2016-06-29 20:29] wallw-bits opened #4059 "Issue with differing imagery zoom levels"
We are experiencing an issue similar to the one described [here](https://groups.google.com/forum/#!topic/cesium-dev/QGP3mwnPawA/discussion).

Essentially, the zoom level for any given tile on the globe is determined by its distance from the camera. For a "roughly top-down" view (however we decide to define that), we would prefer all visible tiles to be the same zoom level. This helps tiles that co

[2016-06-29 21:25] pjcozzi opened #4060 "Camera changed event in Camera Sandcastle example..."
...should update a label on the screen instead of writing to the console.  The console is easy to miss, and the "Move events" above updates a label.

[2016-06-29 21:34] pjcozzi opened #4061 "GeoJSON simplestyle Sandcastle example zooms to the wrong location"
@bagnell can you take a quick look and see if this is realistic to fix for 1.23 on Friday?

Compare

http://localhost:8080/Apps/Sandcastle/index.html?src=GeoJSON%20simplestyle.html&label=All

to

http://cesiumjs.org/releases/1.22.1/Apps/Sandcastle/index.html?src=GeoJSON%20simplestyle.html&label=Showcases

[2016-06-29 21:40] pjcozzi opened #4062 "Billboard clamps to high to terrain?"
Open the KML Sandcastle example:
[code]
Turn on AGI World Terrain, then zoom to "Nevada Test Site Area 26."  The label is floating way above terrain.  Shouldn't it clamp to the highest resolution loaded?

![image](https://cloud.githubusercontent.com/assets/782098/16469739/950e836a-3e20-11e6-8bd0-44c583990af7.png)

[2016-06-29 21:43] pjcozzi opened #4063 "KML Sandcastle example throws exception"
@tfili can you look at this before the 1.23 release on Friday?

Open `http://localhost:8080/Apps/Sandcastle/index.html?src=KML.html&label=All` and select `KMZ with embedded data - GDP per capita` from the dropdown.

![image](https://cloud.githubusercontent.com/assets/782098/16469821/fad4bc6e-3e20-11e6-9fbe-2c861999b314.png)

[2016-06-29 21:49] pjcozzi opened #4064 "Drill picking does not work"
@bagnell can you look at this before the 1.23 release on Friday?

Select `Drill-Down Picking` in the Picking Sandcastle example and mouse over the polygons.  They do not highlight in 1.23.

Compare

**1.22.1**: http://cesiumjs.org/releases/1.22.1/Apps/Sandcastle/index.html?src=Picking.html&label=Showcases

to

**master**: http://localhost:8080/Apps/Sandcastle/index.html?src=Picking.html&label=All

[2016-06-29 22:44] pjcozzi opened #4065 "Resnap "Rotatable 2D Map" Sandcastle screenshot..."
...so it doesn't include the browser window like the rest of them.

![image](https://cloud.githubusercontent.com/assets/782098/16471260/82769946-3e29-11e6-90b7-f73c3d76689c.png)

[2016-06-29 22:55] pjcozzi opened #4066 "development/QuadtreePrimitive Sandcastle example doesn't work"
The primitive does not show up.

[code]

[2016-06-29 23:29] bagnell commented on #4061
Zooming to billboard's bounding sphere in 2D when it is clamped to the ground is broken.

@tfili Can you take a look?

[2016-06-29 23:53] racarate opened #4068 "SVG Billboards not working on Firefox"
Cesium doesn't seem to display SVG images as billboards.  Using Firefox 47.0.1.

[code]

It works correctly in Chrome.  Also, I don't think it's the browser or the image, as Firefox displays it just fine outside of Cesium:

` <object type="image/svg+xml" data="images/f35.svg"></object>`

P.S. I wasn't able to attach the SVG file, but in raw form it looks like this:
[code]

[2016-06-30 14:38] hpinkos opened #4069 "CesiumTerrainProvider issue with non-earth ellipsoid"
Reported on the fourm: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/GefAAXtkiZI

Tiles go missing as you get close to the ellipsoid
![image](https://cloud.githubusercontent.com/assets/3451886/16492114/9d2aeed8-3eae-11e6-8b1c-b412874a246d.png)

[code]

[2016-06-30 16:48] pjcozzi commented on #4064
Just a reminder that this is needed for the release tomorrow.

[2016-06-30 16:48] pjcozzi commented on #4063
Just a reminder that this is needed for the release tomorrow.

[2016-06-30 16:48] pjcozzi commented on #4061
Just a reminder that this is needed for the release tomorrow.

[2016-06-30 17:21] racarate commented on #4068
Ah, so it works if you specify width=x height=y in the SVG file.  False alarm!

[2016-06-30 17:21] #4068 closed

[2016-06-30 17:43] racarate commented on #4068
In case anybody else runs into this, just make sure not to check responsive in Illustrator.

[2016-06-30 19:45] am2222 opened #4073 "working with ray object:Uncaught TypeError: Cannot read property 'x' of undefinedo.multiplyComponents @ Cesium.js:423"
Hi,
I am going to create a circle and in each degree I create a ray and find the intersection of that ray with surrounding objects,
well, I come up with this code
`
    var viewer = new Cesium.Viewer('cesiumContainer');
    var handler = new Cesium.ScreenSpaceEventHandler(viewer.canvas);
    handler.setInputAction(function(click) {

            var cartographicPosition = Cesium.Ellipsoid.WGS84.car

[2016-06-30 20:03] tfili opened #4074 "Mouse over picking when polygons switch between batches causes errors"
I get the following error message:
[code]

when I run the following sandcastle examples

[code]

This occurs using `Primitive`s. If you remove the `height : 0` from both entities the same thing will occur with `GroundPrimitives`. It only happens when you force the entity to switch batches during the pick. For `Primitive` it has to switch between opaque and translucent, for `GroundPrimitive` it jus

[2016-06-30 20:06] shunter commented on #4073
`rayEllipsoid` takes an `Ellipsoid`.  `blueEllipse` is an `Entity`.  Please consult the documentation for issues like this:  http://cesiumjs.org/Cesium/Build/Documentation/IntersectionTests.html

In the future, please ask questions like this on the [Cesium forum](http://cesiumjs.org/forum.html); we only use GitHub issues for bugs and features.

[2016-06-30 20:06] #4073 closed

[2016-06-30 20:31] mramato opened #4075 "Camera flight issues"
The below Sandcastle example is a simple save/restore camera view that exposes two issues in Cesium.

1. Flights that start far away from their destination and end up on the ground will cause the camera to collide with terrain while it is in flight. This causes the camera to end up wherever the terrain was loaded when it collided and not the end destination.

2. I think the minimum distance is bei

[2016-06-30 20:38] #4061 closed

[2016-06-30 20:39] pjcozzi commented on #4064
Fixed in #4072.

[2016-06-30 20:39] #4064 closed

[2016-06-30 20:39] pjcozzi commented on #4074
Fixed in #4072.

[2016-06-30 20:43] pjcozzi commented on #4063
@tfili what is the plan for this?

[2016-06-30 20:58] tfili commented on #4074
@pjcozzi This is an existing bug. I fixed a example, but the underlying issue that has been there for a while is still there,

[2016-06-30 21:13] pjcozzi commented on #4074
The above code worked for me, do you need to remove `height : 0` to reproduce this?

[2016-06-30 21:40] #4063 closed

[2016-06-30 22:56] pjcozzi commented on #4054
Fixed in #4078.

[2016-06-30 22:56] #4054 closed

[2016-07-01 11:55] pjcozzi commented on #3948
Still failing in 1.23.  @lilleyse can you look at this by the 1.24 release?

This test returns three commands in release (but only one in "debug" as expected).

![image](https://cloud.githubusercontent.com/assets/782098/16520874/26dc94d0-3f61-11e6-8e3a-4ae2aeb53a8c.png)

[2016-07-01 22:03] andriivarhanov opened #4079 "Black Marble texture does not wrap around the earth completely"
It cat be seen here http://cesiumjs.org/releases/1.23/Apps/CesiumViewer/index.html

Screenshot for reference
![image](https://cloud.githubusercontent.com/assets/5204821/16535493/61c803a6-3ff0-11e6-946f-75714d427cef.png)

Please advise on if there any turnaround exist

[2016-07-02 18:56] pjcozzi commented on #4075
@mramato thanks for narrowing this down.

@bagnell can you take a look soon since this is affecting demos.  Perhaps it is as simple as disabling collision detection and minimum distance during flights?

[2016-07-04 06:51] gberaudo opened #4080 "Cesium does not build with npm 1.3.10"
There is no compilation error, but the build only takes half a minute and Cesium.js is missing from Build/Cesium. The [build guide](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Documentation/Contributors/BuildGuide/README.md) does not mention a minimal version of npm.

With npm 1.3.10
[code]

Then
$ ls Build/Cesium/
Assets  Widgets

With npm 2.15.5

[code]

[2016-07-05 06:43] gberaudo opened #4081 "Polyline near the ground disappear"
When zooming on the red line (bottom) of[ the Sandcastle polylne example](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=CZML%20Polyline.html&label=), the line will disappear at some point (quite close to the ground) and if one continues zooming, it will reappear.

This occurs on all tested browsers: chromium and firefox on linux and chromium and safari on Mac.

[2016-07-05 13:02] hpinkos opened #4082 "KML billboard alignment problem introduced in 1.23"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/U6Q74ewtnQM
See the forum post for the example kmz file

In 1.22, the billboard is aligned center to it stays in line with the polyline
![1 22](https://cloud.githubusercontent.com/assets/3451886/16585462/ff0285ec-428e-11e6-8302-d78ed552142c.gif)

In 1.23, it doesn't match up anymore
![1 23](https://cloud.githubusercont

[2016-07-05 13:04] hpinkos commented on #4082
@tfili do you think this is related to height reference changes you added?

[2016-07-05 13:18] hpinkos opened #4083 "Toggling map visibility causes crash"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/11JV-fgCW2s

The user says it seems to have been introduced in 1.20

Run this code and zoom in and out.  The crash usually happens within a few toggles.  There are also might be a z-ordering issues with the imagery layers after show has been toggled.  It looks like the argcis tiles will randomly show above the black ma

[2016-07-05 13:19] hpinkos commented on #4083
It crashes from calling `destroy` on `imagery.texture`

[code]

[2016-07-05 13:25] hpinkos opened #4084 "Scene.pickPosition support for 2D and CV"
Requested on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/IKB3Owx1f58

Right now the pick position Sandcastle example doesn't to anything in CV and it throws a DeveloperError in 2D

[2016-07-05 14:31] hpinkos commented on #3845
Brought up in the forum again: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/9WG9SEAgT0s

[2016-07-05 14:37] hpinkos commented on #4080
Thanks @gberaudo!  We all use node version 4.2.2

@mramato is this a bug or do we need to specify a version of Node in the build guide?

[2016-07-05 14:45] hpinkos commented on #4079
Thanks @andreyvarganov! I'm not sure if this is a problem with the imagery or a problem with how we add it to he globe.  It looks like it's been this way for a while though.

@mramato do you know what the problem might be?

[2016-07-05 14:48] mramato commented on #4080
We should specify Node 4.x or newer in the build guide.  All earlier versions are soon to be end-of-life.

[2016-07-05 14:50] hpinkos commented on #4059
Hi @wallw-bits,

I don't think there is any way to achieve this at the moment, but we plan to improve imagery loading in the future.  We have a brain dump of ideas in this roadmap issue #526
I don't know if this is anything we'd be able to address in the near future, but we'll consider this when we get back to making changes to imagery loading.  Thanks!

[2016-07-05 15:06] hpinkos commented on #4053
Hello @racarate,

The problem is camera.flyTo doesn't return a promise, it takes a callback function to options.compelte
http://cesiumjs.org/Cesium/Build/Documentation/Camera.html?#flyTo

If you have further questions, please as them on our fourm: https://groups.google.com/forum/?hl=en#!forum/cesium-dev

We use GitHub for tracking bugs and new features we want to add.

Thanks!

[2016-07-05 15:06] #4053 closed

[2016-07-05 15:13] tfili commented on #4082
@hpinkos It could be. I'll look into it.

[2016-07-05 16:54] lasalvavida opened #4087 "I3dm without batch table doesn't render"
In the 3D tiles sandcastle example, if you change the Instanced model to `InstancedWithoutBatchTable`, it doesn't render anything.

[2016-07-05 17:12] #4051 closed

[2016-07-05 17:56] #4080 closed

[2016-07-05 19:14] #4087 closed

[2016-07-05 21:06] gberaudo commented on #4080
Thanks

[2016-07-06 11:22] keann commented on #4083
Yep, faced the same problem. To be precise, problem appears at enabling a layer in case previously it was enabled and then disabled immediately, before complete render, like at the moment on screenshot. For me it's like half a sec, and for TS from gg even 2 seconds were enough to get an error.

![2016-07-06 13 59 50](https://cloud.githubusercontent.com/assets/12268898/16615922/7daab92a-4382-11e6-9

[2016-07-06 13:07] hpinkos commented on #4003
Incorrect triangulation when two holes are touching
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/eVnwMOC670w
[code]

[2016-07-06 13:17] pjcozzi commented on #4003
Did this work in 1.22 before earcut?

[2016-07-06 13:27] mramato commented on #4003
To my surprise, yes: http://cesiumjs.org/releases/1.22.1/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=48aa32a4ea19b9cb7197c98f1c39590b

[2016-07-06 13:58] lucasvw opened #4091 "ie11 problem"
Hi guys,

We just encountered an ie11 problem. Cesium throws an error upon using

viewer.scene.pickPosition()

TypeError: Object doesn't support property or method 'fill'
TypeError: Object doesn't support property or method 'fill'
   at T (http://localhost/vcm/lib/thirdparty/Cesium/Cesium.js:459:30490)
   at S.prototype.setColor (http://localhost/vcm/lib/thirdparty/Cesium/Cesium.js:460:1172)
   at

[2016-07-06 14:03] mramato commented on #4091
Thanks @lucasvw, this is a known issue that is discussed in #3614.  The 3D-Tiles branch is in development and this will get fixed before it is officially released (but I don't have a specific time frame for you yet).

@lilleyse perhaps someone can look at this soon?

[2016-07-06 14:03] #4091 closed

[2016-07-06 14:07] lucasvw commented on #4091
wow, that was a fast reply :)
Thanks!

[2016-07-06 14:11] lilleyse commented on #4091
@lilleyse perhaps someone can look at this soon?

Yup I'll take a look soon.

[2016-07-06 15:02] shunter opened #4092 "Add new upcoming leap second - Dec. 2016"
https://datacenter.iers.org/eop/-/somos/5Rgv/latest/16

[code]

[2016-07-06 15:27] slozier opened #4094 "Chrome dev tools loading incorrect source map (unminified build)"
The earcut library has a source mapping url in the comments
[code]
When loading the unminified build in the Chrome dev tools it tries to be smart and picks this up as the source mapping for Cesium.js (which obviously it isn't).

[2016-07-06 22:17] lilleyse opened #4096 "Entity disappears when switching material"
When you have two entities of the same shape on the screen, one with a color and one with a material, and you change their materials at the same time, the entity with the material disappears. I noticed this while working on #4005. Originally I thought something was wrong with the entity shadows, but it seems to be a wider issue. I plan on investigating more, but if anyone has a hunch let me know.

[2016-07-06 22:27] pjcozzi commented on #4092
Thanks @shunter, I just learned of this today too.  Do you have time to open a PR with the updated leap seconds?

[2016-07-07 14:50] hpinkos opened #4098 "SceneTransforms.wgs84ToWindowCoordinates returns undefined for certain camera angles"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/ALIPbA_LSqU

[code]

[2016-07-08 13:59] lilleyse commented on #3807
This seems to work fine on master right now, @kring can you confirm?

[2016-07-09 13:13] kring commented on #3807
Yes this is working nicely now.  Thanks @lilleyse!

[2016-07-09 13:13] #3807 closed

[2016-07-09 13:14] zengtaouou commented on #873
Cesium KML not support 3d model?

[2016-07-09 13:26] kring opened #4102 "Enable Greenkeeper for Cesium"
[Greenkeeper](https://greenkeeper.io/) is awesome,  It automatically runs your tests against new dependencies released on npm and opens a pull request when:
* The new version _isn't_ included in your version range in package.json, so you won't get it automatically, or
* You will get the new version automatically because it's in your version range, but it breaks your build or tests.

We should enab

[2016-07-09 18:23] pjcozzi commented on #4102
Sounds good, thanks for sharing.

@mramato do you want to look at this as part of the Node Guide?

[2016-07-11 15:58] mramato commented on #4102
I looked at this at one point and at the time we were doing a good job of upgrading our dependencies regularly. However, since that's not true lately, I'm willing to give it a shot.  Worst case we can disable it later on.

Silly question for @pjcozzi, but does this have CLA implications since a bot would be opening a PR?  I assume not since AGI is "in control" of the bot.

[2016-07-11 16:25] pjcozzi commented on #4102
No concern.

[2016-07-11 21:01] pjcozzi opened #4104 "Add Model Converter AO to CHANGES.md"
I'll do this when https://github.com/AnalyticalGraphicsInc/gltf-pipeline/pull/124 and `ao-master` is merged.

[2016-07-11 22:25] chris-cooper commented on #1865
Just wondering if there is any ETA on this issue?

[2016-07-11 23:06] #3968 closed

[2016-07-11 23:06] mramato commented on #3968
Closing, since this appears to be a browser issue.  Please re-open with more details if you are still having issue.

[2016-07-11 23:16] #4096 closed

[2016-07-12 00:33] kring commented on #4102
Well, that's not really the point of Greenkeeper anyway.  Staying up to date is easy in a sense.  Just use super-loose version specifications (such as `*`) and you'll always be up to date!

Where Greenkeeper shines is in detecting incompatibilities with new versions in a controlled fashion.  Let me tell you a story.

TerriaJS supports IE9, and we run the automated tests (stop laughing @pjcozzi, we

[2016-07-12 00:48] pjcozzi commented on #1865
@chris-cooper no update other than #3476 will make this a bit easier.  If you have the time, contributions here are appreciated.

[2016-07-12 01:44] mramato commented on #4102
OK, I turned it on so we'll see how it goes.  We definitely can't merge it's "update all" PR because some of our packages need to stay on older versions, but I guess we'll get other packages one-at a time?

[2016-07-12 01:49] kring commented on #4102
Edit the PR to revert packages that need to stay at their current versions, then merge it.  I'm not sure if it will be smart enough to open a failing PR for upgrading each of the remaining dependencies (that'd be nice), but it will definitely do that for future versions.  i.e. if you need to stay on version 1.0.2 because 1.0.3 introduced a bug, and then 1.0.4 comes out, Greenkeeper will automatica

[2016-07-12 15:02] lilleyse opened #4107 "Circles and Ellipses demo looks different compared to 1.22"
When running the [Circles and Ellipses demo](http://localhost:8080/Apps/Sandcastle/index.html?src=Circles%20and%20Ellipses.html&label=Geometries) I noticed some differences from version 1.22. It looks like the outline isn't being drawn and the geometry now has a height to it when none is given.

![capture](https://cloud.githubusercontent.com/assets/915398/16771461/94d0c324-481e-11e6-837e-9743e09cc

[2016-07-12 15:50] tfili opened #4108 "Z-Ordering of entity collection"
It would be nice to be able to change the render order of entities. Right now we have to tweak the `eyeOffset` which needs to change based on camera distance.

[2016-07-13 01:33] pjcozzi opened #4109 "Remove MapQuest-OpenStreetMap from Imagery Picker"
Good beginner issue, anyone want to try this for the next release?

See https://mapzen.com/blog/closing-mapquest-open/

![image](https://cloud.githubusercontent.com/assets/782098/16789049/0844a114-4878-11e6-80c1-34847fbeb586.png)

[2016-07-13 14:27] hpinkos opened #4111 "Problem with wgs84ToWindowCoordinates in 2D with infinite scroll"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Lt4wzVmKUq4

When the map is duplicated (japan is both on the left and right side of the screen) wgs84ToWindowCoordinates gives the coordinates of the left side of the screen regardless if the mouse is on the right or left.

[code]

[2016-07-13 15:17] bensleveritt commented on #2981
It's worth noting that [mmacaula's repo](https://github.com/mmacaula/cesium-webpack) is more up to date (with post 1.6 instructions).

[2016-07-13 15:19] mmacaula commented on #2981
Nope all done, we can close
On Jul 13, 2016 10:17 AM, "Benjamin S. Leveritt" <notifications@github.com>
wrote:

[2016-07-13 17:35] bagnell opened #4113 "Add epsilon when checking if a rectangle crosses the IDL"
Both `Rectangle.fromCartesianArray` and `Rectangle.fromCartographicArray` have a block to check if it crosses over the IDL.
[code]
This block would get executed incorrectly if you call `fromCartesianArray` with
[code]
Here, the difference is `4.440892098500626e-16`. Perhaps add an epsilon check.

[2016-07-13 18:30] andyfry01 commented on #4109
Hey Patrick,

I'd like to help you out with this. I'm a first time contributor to the project and new to open source, is there anything in particular that I should know before starting work on this?

Thanks,
Andy

[2016-07-13 20:04] hpinkos commented on #4109
Hi @andyfry01!  Thanks for looking into this.  The MapQuest imagery provider is added to the base layer picker in [createDefaultImageryProviderViewModels](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Widgets/BaseLayerPicker/createDefaultImageryProviderViewModels.js)

You'd just have to go in and erase the code that adds it to the `providerViewModels` array

[2016-07-13 20:19] andyfry01 commented on #4109
Great, thanks Hannah! I was actually poking around in there already, I should have the pull request finished pretty soon.

[2016-07-13 20:29] thinkpadder1 opened #4116 "GLSL Documentation?"
I found [this old documentation](http://cesiumjs.org/releases/b28/Build/Documentation/czm_antialias.html?classFilter=&show=glsl) for Cesium and it has GLSL docs as well. Where can I find this for the latest Cesium?

I see the docs at the top of the .glsl files currently, but being able to view it in the docs would be very nice. Thank you.

[2016-07-13 20:55] pjcozzi commented on #4116
The GLSL doc is not built anymore since the `Renderer` went private for Cesium 1.0 (however, it should be since users want to use Cesium's GLSL functions for custom materials).

In the meantime, see the source and doc comments in https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Source/Shaders/Builtin

[2016-07-13 20:57] thinkpadder1 commented on #4116
Yea, I've been just reading the source code. Thanks though! :smiley:

[2016-07-13 20:57] #4116 closed

[2016-07-13 20:59] pjcozzi commented on #4113
Agreed, do you already have a fix for this?

[2016-07-13 21:13] thinkpadder1 opened #4117 "Tutorial for Geometry and Appearances has a bad link"
[Link to tutorial](http://cesiumjs.org/tutorials/Geometry-and-Appearances/)

Part in question:

The link leads to:
`<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>C0AEA9E050CF9290</RequestId>
<HostId>
+E/U9AcdwLfrjK3Xja06PWieibs4wJLF/bdfMNbgXnu9RAw5MziWyYPBEpMBN5hoCYse6P5dj6c=
</HostId>
</Error>`

[2016-07-13 21:31] mmcgarity commented on #3684
I was able to get a very simple grid going with CZML polygons with time varying colors. You could conceivably create a larger grid with a desired resolution, and just tweak the color value for each grid over time. For some reason, the top-left polygon's translucency gets less and less as the playback loops. (this may be a bug..)

Not sure how to do this with the CZML writer. Any tips would be help

[2016-07-13 21:55] hpinkos commented on #4117
Thanks @thinkpadder1!  It looks like we forgot to remove this link when render state was made private.

I've updated the page, it should be updated on the website soon.

[2016-07-13 21:55] #4117 closed

[2016-07-14 11:00] kartblanch opened #4119 "GLTF model cache"
Hello!

I had a problem ... there gltf model and I need to use it many hundreds of times. As it is possible to cache, to use gltf once? Thanks.

[2016-07-14 13:54] lilleyse commented on #4119
Yes this is possible, glTF models are automatically cached so it is no problem loading the same model hundreds of times.

In the future, you can post questions like this to our forum https://cesiumjs.org/forum.html since we use github issues mainly for bug reports.

[2016-07-14 13:54] #4119 closed

[2016-07-14 14:11] mramato commented on #4000
Maybe I missed a conversation somewhere, but it would be nice if this happened long before the mythical 2.0 release we want to do.  We need to make sure we conform to the latest GeoJSON spec.

[2016-07-14 14:13] mramato commented on #4003
@bagnell can you create an issue for earcut with the sample @hpinkos posted.  My hope is this gets fits "for free" next time we update earcut.

[2016-07-14 14:33] mramato commented on #4102
All dependencies that we can upgrade) have been updated to their latest version and Greenkeeper seems to be working as expected.

[2016-07-14 14:33] #4102 closed

[2016-07-14 14:47] mramato commented on #4043
@kring I think the problem I'm seeing may be specific to tilesets with additive refinement instead of replacement refinement (additive has been used in most of the cities we have worked with so far use).  The problem is, unlike terrain where you get a lower-resolution but visually consistent view at lower resolutions (thanks to geometric error), additive refinement means that at lower resolutions,

[2016-07-14 14:52] dwhipps opened #4120 "Setting 'sizeInMeters:true' in BillboardGraphics ignores 'rotation' parameter."
I just added sizeInMeters:true and a width and height in meters to the Sandcastle example here:

http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=928681213846f9f82cd8db0528efa0db

(Be sure to choose "Set Billboard Properties At Creation", and zoom in to the North East USA.

[2016-07-14 15:08] hpinkos commented on #4120
Thanks @dwhipps!

Here's a trimmed down code example:
[code]

[2016-07-14 16:11] pjcozzi commented on #4000
I expect it will happen sooner since we likely need it for 3D Tiles.  Not sure why this is labeled 2.0.

[2016-07-14 16:13] hpinkos commented on #4000
Sorry, I just labeled it 2.0 because we have a bunch of other geometry issues labeled 2.0

[2016-07-14 19:08] andyfry01 commented on #4019
@tnewell5 and I are working on this one, we're thinking about adding the version number to the Sandcastle title bar in the following way:

- Include Cesium.js as a script tag in [/Apps/Sandcastle/index.html](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Apps/Sandcastle/index.html)

- Use Dojo templating to include the version number in cesiumTitle div on [line 39](https://github.com/

[2016-07-14 21:24] hpinkos opened #4122 "Day/Night lighting broken in 2D"
It only
orks sometimes depending on where the camera is
![day-night-2d](https://cloud.githubusercontent.com/assets/3451886/16856360/b2f2dc0a-49e7-11e6-9e5b-e8731bd134f7.gif)

[code]

[2016-07-14 21:26] hpinkos opened #4123 "Sun termination line"
Requested by two users on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/8-H_Nb1vVNo

[2016-07-14 22:02] jdurrie commented on #4123
Anybody know the math for the sunlight/penumbra and penumbra/umbra lines?

Here's a wikipedia article showing the geometry:
[link](https://en.wikipedia.org/wiki/Umbra,_penumbra_and_antumbra)

[2016-07-15 11:26] octomarat commented on #2027
Hi!
I would like to implement this feature. The simple solution I see is to return some form of camera flight manager from `Camera.flyTo` function. The manager will wrap the tween, created at the end of Camera.flyTo function, and contain the method `cancelFlight`, that will internally call `cancelTween` on the wrapped tween.
In fact, I have already implemented this functionality in [my branch](htt

[2016-07-15 13:21] hpinkos opened #4124 "Add AppKey option to createOpenStreetMapImageryProvider for MapQuest API"
MapQuest changed their tile provider to require an AppKey to access the tiles:
http://devblog.mapquest.com/2016/06/15/modernization-of-mapquest-results-in-changes-to-open-tile-access/

Requested on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/pJj8VxpI-Ok

[2016-07-15 15:40] hpinkos commented on #2027
Thanks @octomarat!

I'm not sure if this is the best solution, but what I would do is change [this line in Camera.flyTo](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Camera.js#L2591)
 to `return scene.tweens.add(CameraFlightPath.createTween(scene, newOptions));`

That way, you should be able to cancel the flight like this:

[code]

Does anyone else have input?

[2016-07-15 16:11] octomarat commented on #2027
Hi @hpinkos
I think the idea to return object of type Tween directly may be a little bit confusing, because it is a part of internal implementation. Users of `Camera.flyTo` don't know about tween and, what is more important, don't need to know about it. So I guess it is better to return an object of some abstract type, more related to the domain.
Also if the implementation of `Camera.flyTo` is cha

[2016-07-15 16:20] hpinkos commented on #2027
Hmm, that's a good point.  I guess the user won't probably won't care about the other tween attributes because those are all behind-the-scene details.  And there aren't any other functions on tween.

What other purpose would having a `CameraFlightManager` serve?  Do you think it would make sense to just return the cancelTween function?

[2016-07-15 19:12] thinkpadder1 commented on #4123
Might help:
[Terminator (solar)](https://en.wikipedia.org/wiki/Terminator_(solar))
[Solar Terminator in Javascript / D3.js](https://bl.ocks.org/mbostock/4597134)

Guess you could replace the sun position code with cesium's sun position?

[2016-07-15 19:34] jdurrie commented on #4123
I can't find the actual position of the sun in cesium. Anyone know where that can be found? I could calculate it myself, but would prefer to reuse existing code if possible.

I'm trying to produce sunlight/penumbra and penumbra/umbra lines. The terminator line in those links is similar but not the same.

[2016-07-15 19:37] thinkpadder1 commented on #4123
Here's how Cesium calculates the sun (and moon) positions: https://github.com/AnalyticalGraphicsInc/cesium/blob/bd3ddefcc1f38a8444d3bddfd0d093867a979454/Source/Renderer/UniformState.js#L840

[2016-07-15 19:52] hpinkos opened #4125 "Sandcastle gist sharing doesn't save html/css changes"
The Sandcastle sharing functionality is really handy when sharing complex sandcastle demos.
It would be really helpful if the gist sharing button recreated an example where changes were made on the HTML body & Css tab as well.

[2016-07-15 20:01] hpinkos opened #4126 "Cesium captures mouse click events"
Clicking on the Cesium viewer prevents focus being removed from other page elements.  In this example, I added an input textbox that turns red when it has focus and white when it loses it.  If you click in the textbox to focus, then click in Cesium, you'll see the textbox stays red.  However if you click elsewhere in the sandcastle app the textbox correctly loses focus.  I think this is happening

[2016-07-15 20:04] jdurrie commented on #4123
Thanks. I'll see if I can figure out how to access that.

[2016-07-15 20:08] hpinkos commented on #4123
@jdurrie You might be able to do `scene.context.uniformState.sunPositionWC`
Or you could call [Simon1994PlanetaryPositions.computeSunPositionInEarthInertialFrame](http://cesiumjs.org/Cesium/Build/Documentation/Simon1994PlanetaryPositions.html) from whatever method you write to add the termination line

[2016-07-15 20:15] jdurrie commented on #4123
Thanks. `scene.context.uniformState.sunPositionWC` is what I need for sun position.

I still looking for penumbra equations, if anyone knows where I can find them. Otherwise, I'll try figuring it out from the geometry.

[2016-07-15 20:20] thinkpadder1 commented on #4123
Check the image on the left on http://mysite.du.edu/~jcalvert/astro/shadows.htm

[2016-07-15 20:26] jdurrie commented on #4123
Awesome, I think the image on the left of the first link gives me what I want. I'll crunch some numbers.

[2016-07-16 05:59] octomarat commented on #2027
A also need the ability to pause camera flights, so the function `pauseFlight` could be added to the `CameraFlightManager`. But for now, as far as I understand, it is not clear how to implement pause functionality using the original Tween.js and it's cesium wrapper.
So. yes, `CameraFlightManager` is a bit over abstracted. I don't know is it a good programming style in JS world to return a function

[2016-07-17 10:58] kring commented on #4043
@mramato I don't think that's caused by additive refinement, exactly.  It sounds like the problem is that the geometric error of the tiles doesn't really reflect their actual content.

I don't know all the details of the Cesium 3D Tiles building rendering, but I can make some educated guesses.  Each tile has a geometric error value, of course, and presumably you choose which buildings to include i

[2016-07-18 02:42] outlier888 opened #4129 "How to push ground?"
I see globe.depthTestAgainstTerrain  , can it work like [cesium-groundpush-plugin](https://github.com/NICTA/cesium-groundpush-plugin) ?

[2016-07-18 11:34] jaforom opened #4131 "KmlDataSource (Polyline) vs clampToGround"
Dears,

The clampToGround property doesn't seem to go right with KML LineString (it's ok with Polygon and Point). Here it is the example code:

[code]
- First combo item: Sand_Polygon.kml (a single polygon and no style).
- Second combo item: Sand_Polyline.kml contains a single polyline with no style, too.

I don't know if I'm doing something wrong...

Regards

[2016-07-18 13:37] adgoncal opened #4132 "MapQuest tiles not available"
##### Description of the problem
MapQuest tiles are not showing because "As of July 11, 2016, direct tile access has been discontinued."

See http://devblog.mapquest.com/2016/06/15/modernization-of-mapquest-results-in-changes-to-open-tile-access/

![image](https://cloud.githubusercontent.com/assets/10856791/16842212/9a11b59a-49aa-11e6-99fa-f726a66c3171.png)

You can check that on the New York Exam

[2016-07-18 13:40] mramato commented on #4132
Thanks for the report @adgoncal, we already have issues for this in #4109 and #4124.

[2016-07-18 13:40] #4132 closed

[2016-07-18 13:54] emackey commented on #4126
This is a tricky issue because the prevention of default behavior is quite intentional.  If we don't prevent default behavior, actions like panning the globe would have side effects of drag-selecting DOM elements in the vicinity of the canvas at the same time.  If memory serves, the Geocoder widget has a better solution, I think it may be listening to the canvas (or the screenspaceeventhandler) an

[2016-07-18 14:29] hpinkos commented on #4129
Hello @outlier888
Cesium does not currently have this support.
In the future, please ask questions on [our forum](https://groups.google.com/forum/?hl=en#!forum/cesium-dev).  We use GitHub for bug tracking and planning new features.
Thanks!

[2016-07-18 14:29] #4129 closed

[2016-07-18 14:30] hpinkos commented on #4131
Hello @jaforom
Cesium does not yet have support for polylines on terrain.  It's on our roapmap, but we need to do a bit more research to figure out the best way to implement it.
Thanks!

[2016-07-18 14:42] hpinkos commented on #4122
Also reported here: https://groups.google.com/d/msg/cesium-dev/vD3SiO5V6U8/-mMOU-bgCgAJ

[2016-07-18 15:03] mramato commented on #4131
The latest version of Cesium converts `LineString` to entity corridors if `clampToGround` is set to true.  This looks like a valid bug to me.  @tfili can you take a look?

[2016-07-18 16:22] jdurrie commented on #4123
Here's my math:

As shown on the first figure on the left in thinkpadder1's link above ([http://mysite.du.edu/~jcalvert/astro/shadows.htm](http://mysite.du.edu/~jcalvert/astro/shadows.htm)), the penumbra/umbra line can be calculated as the intersection of the surface of the earth and a cone with it's apex at the center of the earth and projecting away from the sun (base is farther from the sun tha

[2016-07-19 02:17] outlier888 commented on #4129
I‘m sorry for this , @hpinkos , but we can't use google in mainland China , someone used issues like blogs [lifesinger/blog](https://github.com/lifesinger/blog/issues)
Thanks for you answer !

[2016-07-19 02:49] hpinkos commented on #4129
Thanks @outlier888!  Sorry, I wasn't aware of the restricted access there.
Cesium would like to support behavior similar to what the ground push plugin does in the future, but we're really focused on implementing the 3D tiles specification at the moment. I'm not sure how long it will be before we are able to add it.

[2016-07-19 03:59] yqrashawn commented on #2387
So if I want to pick individual nodes without affecting nodes with the same material, I need to modify the `parseNodes` and maybe `parseMeshes` as well. Will this affect the performance? It's actually duplicating meshes every time per node using it. Is doing this cost much more on the I/O with the radio card?

[2016-07-19 06:22] outlier888 commented on #4129
Maybe @hpinkos can tell me to upgrade cesium-groundpush-plugin . It version too old support only Cesium1.2 ,  GlobeSurfaceShaderSet.prototype.getShaderProgram part have too much changes, I can't understand the principle, you can simply tell me what's going on , or how to understand?

[2016-07-19 18:21] gk1089 opened #4135 "Device orientation not behaving as expected"
I have been trying to implement the Cardboard sample code and am not getting the results as expected. I modified the code so that the Balloon were not visible (file attached)
[Cardboard2.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/372147/Cardboard2.txt)

Issues that I noticed are:

- With the device (Chrome on Android) held in landscape orientation, the view pans properly if rotated

[2016-07-19 19:41] jdurrie commented on #4123
Here's an implementation for the sandcastle. There are probably performance tweaks that could be made.

[code]

[2016-07-19 19:49] hpinkos commented on #4123
Wow, looks great @jdurrie thanks!
Using a polyline instead of a polygon outline should improve performance drastically.   Even though you're only using the outline, there are a lot of extra steps that happen behind the scenes for the polygon

[2016-07-19 20:18] jdurrie commented on #4123
I tried polylines and they aren't closed for some reason, even though I'm using `loop: true`. Maybe being drawn under the earth surface?

[code]

[2016-07-19 20:20] jdurrie commented on #4123
Adding another point to the polylines to force the start and end points to be the same fixes the closure problem. But I'm not seeing any performance differences for the polygons vs polylines.

[2016-07-20 18:00] kaktus40 commented on #4135
Hello,
I didn't understand your problem but about the quaternion maybe this [pull](https://github.com/AnalyticalGraphicsInc/cesium/pull/4047) could help you (fourth bullet)? I create an [example](https://github.com/kaktus40/cesium/blob/05af96e744d14b64ef856a47b6d5d35eb808b997/Apps/Sandcastle/gallery/development/HeadingPitchRoll.html)  into this pull request.
Nevertheless thanks for your hack to ob

[2016-07-21 10:35] w67735287 opened #4140 "why so many shadow on scene？"
I am Transformation data from max file
when I start， there are so many scene shadow repeat on the picture

![qq 20160721183346](https://cloud.githubusercontent.com/assets/20577014/17019963/a5d22b54-4f71-11e6-8dc6-2cb5e4c14b5e.jpg)

is there any problem on data or program?
thanks!!!

[2016-07-21 18:51] hpinkos commented on #4140
Hello,

Please use our forum to ask questions like this: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub issues for bug tracking and feature planning.

Thanks!

[2016-07-21 18:51] #4140 closed

[2016-07-21 21:53] pjcozzi commented on #2387
@yqrashawn if you want to be able to change the material of an individual node, e.g., mouseover highlight, then each node will need a unique material.  You could try modifying Cesium as you suggested, but you could also just author the model to have many material objects (even if they are the same material in practice) so each node can reference a different one.  Generally, this won't bloat the si

[2016-07-21 23:18] lilleyse opened #4144 "Instanced models are not being cached correctly between different ModelInstanceCollections"
If multiple i3dm tiles are loaded, they all use the same Model cache key which is causing tiles not to render.

[2016-07-21 23:53] yqrashawn commented on #2387
@pjcozzi Thanks for your reply. I'm on this these days. I modified the `parseNodes parsMeshes parsMaterials` function. But model loading went really slow because of so many for loops. There are some functions looping to read the `technique` in `material` after the `parse` func, which cost much. And gltf can't find mesh's parent nodes and material's parent meshes, which leads to more loops.

Is the

[2016-07-22 17:57] #4092 closed

[2016-07-23 18:32] pjcozzi opened #4147 "3D Tiles cache not cleaning up fully"
@lilleyse can you please look at this after SIGGRAPH?

@arneschilling @clausnagel have the full details and a potential fix:

https://github.com/virtualcitySYSTEMS/cesium/commits/release-v3.2 (see ceb77bc and 2c6c919).

[2016-07-25 05:07] speigg commented on #3256
I just noticed this... is this expected? The tests seems to be written assuming these axes as well (obviously, or they wouldn't pass).

[2016-07-25 05:14] gk1089 commented on #4135
My problem is simply that the VR mode-code is not working as expected. The code you have posted is about getting Roll, Pitch, Direction information from quaternion information, which is related but not exactly what I am looking for.

What I need is to understand how I can relate quaternion information to device orientation information (Alpha, Beta, Gamma) of an Android device.

[2016-07-25 14:09] lasalvavida commented on #4135
@gk1089, maybe check out the wolfram mathworld article on [Euler Angles](http://mathworld.wolfram.com/EulerAngles.html).

You can use [Matrix3.fromRotationX](https://cesiumjs.org/Cesium/Build/Documentation/Matrix3.html?classFilter=matrix3#.fromRotationX), `fromRotationY`, and `fromRotationZ` to generate the `B`, `C`, and `D` matrices from the article.

[2016-07-25 23:34] lyaunzbe opened #4149 "Question regarding gltf modelmaterial lighting + clamping gltf model to terrain"
Hello!

I am using the OBJ2GLTF converter (https://github.com/AnalyticalGraphicsInc/OBJ2GLTF) to load in a gltf model and view it in cesium alongside terrain. Two issues I am running into:

(1) The position/normal based lighting on the model is too dark when I tilt my camera view. Is their any way to disable the material's position based lighting entirely? I know I can do this in the gltf  glsl fr

[2016-07-26 00:13] lyaunzbe commented on #4149
regarding (2)

I've also tried using the heightReference on my model like so:
[code]
However this does not fix the issue, though perhaps I'm not using heightReference correctly (documentation on it is fairly sparse).

Here's a gif to better explain the unwanted behavior Im talking about:
![d5mcwkuwcd](https://cloud.githubusercontent.com/assets/28675/17121720/7a25bb76-528a-11e6-8aca-9a09a624ada1.gi

[2016-07-26 02:35] lilleyse commented on #4149
In the meantime, I added a `--cesium` flag for obj2gltf, which will use the sun as the light source. It could be possible to edit the shader on load time, but there are many edge cases in determining whether the model is using position based lighting, and then editing the shader in the right place. Hopefully the flag is helpful though.

Yeah `heightReference` is a pretty new feature. Maybe @tfili

[2016-07-26 02:57] lyaunzbe commented on #4149
Thank you @lilleyse! Will try out the flag and let you know how it goes!

Did you use the sandcastle to test? If so, can I trouble you to send me the code you used for testing? That way I can try to recreate what's happening with my model using your code potentially.

Huge thanks again, everyone on the cesium/agi team always respond so fast and are super helpful 😄

[2016-07-26 03:10] tianhai82 commented on #4081
Also, in 2D mode, with mapMode2D = ROTATE, the first and last segments of polylines do not show up at some zoom levels.
http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=9e931bf2e63a06e354ba4e1042e96a44.

[2016-07-26 09:09] kaktus40 commented on #4135
From my pull request, it seems, you should map:
 - alpha to heading
 - gamma to pitch
 - beta to roll
see [here](http://w3c.github.io/deviceorientation/spec-source-orientation.html#deviceorientation)

[2016-07-26 16:05] mramato commented on #3614
@JoshuaStorm can you take a look at this?  Create a new private function in Core called `arrayFill`, which uses the polyfill from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/fill, but instead of patching the prototype, have the function take the array as the first parameter.  You'll also want to clean up the formatting and error checks to match our conven

[2016-07-26 18:09] dwhipps commented on #4120
Any chance this is going to get fixed for the next release?

[2016-07-26 19:15] denverpierce commented on #4131
The tested KML doesn't have `<tessellate>` so it returns undefined when cesium checks for clamp-ability.

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/DataSources/KmlDataSource.js#L1148

[2016-07-26 20:29] hpinkos commented on #4120
Sorry @dwhipps, we haven't had a chance to look into this one yet

[2016-07-26 20:57] JoshuaStorm commented on #3614
@mramato I cannot seem to find `Cesium3DTileBatchTableResources.js` in this repo. Am I missing something?

[2016-07-26 21:01] mramato commented on #3614
This needs to be done in a branch off of `3d-tiles`

[2016-07-26 21:11] JoshuaStorm commented on #3614
Makes sense, figured I was forgetting something like that.

[2016-07-27 03:55] brucefuqiming commented on #648
We're doing a project to mix Cesium and Three, like potree. Cesium is rendered firstly,then Three's elements rendered on the Cesium's canvas.But the problem is Three's elements always block Cesium's. e.g.: there is a geometry created by Three in front of the Cesium‘s earth,it can block the Cesium‘s earth and other elements correctly, but when the scene is rotated to the backward, Three's object st

[2016-07-27 07:03] jaforom commented on #4131
Ok, I see. But Cesium fails if the LineString is styled and tessellate is true (1):

[code]

[2016-07-27 07:07] jaforom commented on #4131
I forgot to comment that I modified the sample KML, http://visortf.grafcan.es/KML/rep/Sand_Polyline.kml, and I included the following elements: _tessellate_ and _Style_.

[2016-07-27 15:03] denverpierce commented on #4131
That looks legit.  The override clamped corridors are getting Cesium Colors from the polyline, instead of new ColorMaterialProperties.

[2016-07-27 20:10] GatorScott opened #4154 "WMTS layer rendered in wrong location/scale"
The following images show right (QGIS) and wrong (Cesium head).  Server is private.  Capabilities document is attached also.

[C0007424-00_wmts-getcapabilities.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/387049/C0007424-00_wmts-getcapabilities.zip)

![wmts_visibility_qgis](https://cloud.githubusercontent.com/assets/4126790/17190537/445c08b6-5414-11e6-9c67-b4276cca0db7.png)
![wmts_vi

[2016-07-29 07:21] octomarat commented on #2027
Maybe someone else has an idea or comments on this topic?

[2016-07-29 13:32] GatorScott opened #4158 "WebMapTileServiceImageryProvider doesn't support TileMatrixLimits"
TileMatrixLimits in the capabilities document identifies for clients which tiles are actually available to prevent requests for non-existent tiles.  Problem encountered during testing with GeoServer/GeoWebCache sample data for Tasmania.

[2016-07-30 01:29] pjcozzi commented on #4104
Leave labeled `next release`, but push for 1.24.

[2016-07-30 01:30] pjcozzi commented on #3948
Leave labeled `next release`, but push for 1.24.

[2016-07-30 01:30] pjcozzi commented on #4109
Leave labeled `next release`, but push for 1.24.

[2016-07-31 14:54] pjcozzi commented on #4158
Also see https://github.com/GeoWebCache/geowebcache/issues/411

[2016-07-31 14:55] pjcozzi commented on #4154
@GatorScott is this or #4158 urgent?

[2016-07-31 14:56] pjcozzi commented on #4131
Please test out the fix in #4157 kindly contributed by @AndreyOrlov.

[2016-07-31 14:58] pjcozzi commented on #648
@brucefuqiming this is because Cesium and Three have two different depth buffers and Three is being rendered second.  To merge the scenes correctly, this will require core engine support in Cesium as described in this issue.

[2016-07-31 15:00] pjcozzi commented on #4135
@bagnell do you have any insights here?

[2016-07-31 15:37] pjcozzi commented on #2387
Yes, this should be more simple than changing the loading code.

Yes, if you use a custom fragment shader with an extra uniform that is the highlight color that is multiple with the computed color (default to white for no highlight).  Note that you won't be able to change a material from opaque to translucent or vice versa without more work since the render state also would need to change.

[2016-07-31 15:58] yqrashawn commented on #2387
@pjcozzi realy thanks for your reply. I've already came up with a command line tool to make each material and node correspond.

So if I want to change the material of specific node translucent at runtime, other than modify the shader, I also need to modify the render state. Right?
Could tell me where to modify the render state, or what I'm I looking for.

[2016-08-01 11:57] GatorScott commented on #4154
This turns out to be user error.  I failed to set the tiling scheme to Geographic rather than the default WebMercator.

[2016-08-01 11:57] #4154 closed

[2016-08-01 14:10] mramato commented on #4109
@andyfry01, this was fixed in #4159 so that it can go out with today's release.  We're always excited to have new contributors, so hopefully you can find some other pull requests to open.  Thanks. in advance.

[2016-08-01 14:31] #4109 closed

[2016-08-01 16:29] lilleyse commented on #4149
Sorry for the delay...

Here's the Sancastle code I've tried (the camera controls are a little touchy):

[code]

It's a bit hard to tell by your gif, but is your model flat or does it conform to the terrain? If it's flat, I could see this being a problem since the model's position is clamped to the ground but the geometry isn't warped to fit it, which could explain why most of it appears under the

[2016-08-01 17:13] lyaunzbe commented on #4149
@lilleyse  No worries!

It's definitely not flat, my model is of the palace you see in the sat. imagery. I'm thinking that because using the center is not perfectly accurate at georeferencing the model, parts of it are perhaps intersecting with the terrain. Could that cause this? I have attached the GLTF model of the palace for you to try yourself (note that the texture for the model is packed int

[2016-08-01 17:26] lilleyse commented on #4149
I've been trying without `heightReference` and using a height of 200. With `viewer.scene.globe.depthTestAgainstTerrain = true;` it looks like the lat/long is slightly off compared to the imagery. Maybe just tweaking the values a bit with help.

![capture](https://cloud.githubusercontent.com/assets/915398/17302709/7c62a050-57eb-11e6-99e3-19fc262fd69f.JPG)

[2016-08-01 18:00] hpinkos opened #4160 "CZML Polygon - Intervals, Availability sandcastle example broken in 1.23"
The "Dynamic Polygon with Intervals" shows up in [1.22.1](http://cesiumjs.org/releases/1.22.1/Apps/Sandcastle/index.html?src=CZML%20Polygon%20-%20Intervals,%20Availability.html&label=CZML) but not in [1.23](http://cesiumjs.org/releases/1.23/Apps/Sandcastle/index.html?src=CZML%20Polygon%20-%20Intervals,%20Availability.html&label=CZML)

@shunter is this related to CZML changes you recently made?

[2016-08-01 18:08] tfili commented on #4149
@lyaunzbe The issue is that all your Z values are negative, so the building is rendered under the terrain. The origin of the model's reference frame is placed at the specified Lat/Lon at the height of the terrain. Since all your Z values are negative, you'll need to use a `heightReference` of `RELATIVE_TO_GROUND` and specify the offset of where the actual bottom of the building is.

[2016-08-01 18:11] hpinkos opened #4161 "Polygon triangles disappear when zoomed out far"
![missing-triangles](https://cloud.githubusercontent.com/assets/3451886/17303926/f0524240-57f0-11e6-802a-af82bb190a2c.gif)

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Polygon.html&label=Geometries
Hit home then continue to zoom out, you'll see triangles on the red and blue polygons disappear

Seems to have been introduced in 1.23

[2016-08-01 18:24] hpinkos commented on #3888
I only found one test failure left while doing the 1.24 release

[2016-08-01 18:27] lyaunzbe commented on #4149
@lilleyse I've moved it by hand to be more or less in position with the following coordinates
```new Cesium.Cartesian3(3947846.3182381927,-93801.72103658345``` however it still does not work with ```heightReference: Cesium.HeightReference.CLAMP_TO_GROUND```. I'm thinking of a work around and would it be possible for me to somehow see if the bounding box of the model primitive intersects with the t

[2016-08-01 18:32] hpinkos commented on #2860
New failure in 1.24
`Scene/GroundPrimitive creating a synchronous primitive throws if initializeTerrainHeights wasn't called`

[2016-08-01 18:33] shunter commented on #4160
Not that I can tell.  Stepping through in the debugger, the entity properties appear to be evaluating to the correct values, and the options passed to PolygonGeometry look correct to me.  The code changed significantly between the two versions as a result of #3903, though, so I would look there first.

[2016-08-01 18:37] hpinkos opened #4162 "IE11 DataSources onTerrain test failures"
Found when doing the 1.24 release.  All the test failures are 'on terrain' related.

@tfili Is this because IE doesn't support ground primitives?  Should we check that so the tests don't fail when it's not supported?

+ DataSources/PolygonGeometryUpdater color material sets onTerrain to true
+ DataSources/PolygonGeometryUpdater fill is true sets onTerrain to true
+ DataSources/PolygonGeometryUpdat

[2016-08-01 18:41] hpinkos commented on #4160
Thanks for taking a look @shunter!
@tfili, could you maybe look into this?

[2016-08-01 18:50] lyaunzbe commented on #4149
@tfili ahh. do you mean the actual mesh vertices/geometry have negative values? I will try using relative_to_ground, but where do I apply this 'offset'?  Or does this just mean setting the height of the center?

[2016-08-01 18:57] bagnell commented on #4161
This happens because they are clamped to terrain and the shadow volume isn't extruded far enough below terrain.

Another problem I noticed was that slightly lowering the extrusion would fix the issue when using STK World Terrain, but not for the ellipsoid. I think the mountainous region covered by the red polygon must have a minimum height high enough above the ellipsoid that the shadow volume doe

[2016-08-01 19:01] pjcozzi commented on #4161
The lower bound of the volume should be extruded in the vertex shader based on the SSE and distance so it always encloses the terrain.

[2016-08-01 19:43] hpinkos opened #4163 "CzmlDataSource.process stops working after GeoJSON added"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/d1Eptu0ozck

In this example, using  `CzmlDataSource.process` to update the clock works unless you uncomment the last line that adds a GeoJsonDataSource

[code]

[2016-08-01 20:15] lilleyse opened #4164 "Fit texture coordinates to rectangle/trapezoid geometry"
It would be useful to support stretching a texture along a rectangle/trapezoid geometry, or perhaps even support explicit texture coordinates. The effect would look like the second image:

<img width="640" alt="screen_shot_2016_07_25_at_11_22_39_pm" src="https://cloud.githubusercontent.com/assets/915398/17307382/d2500752-5802-11e6-9a2b-f247a2dda6a1.png">
<img width="640" alt="cesium_good" src="htt

[2016-08-01 20:20] hpinkos commented on #4164
We also need this to support KML latLonQuads

[2016-08-01 20:41] pjcozzi commented on #4164
We have done this in some of our other projects; see http://blogs.agi.com/insight3d/index.php/2009/11/20/trapezoidal-texture-projection-with-opengl/

[2016-08-02 06:36] QingchaoHu commented on #2387
@pjcozzi @yqrashawn Thanks two. It helps me much.

We need to highlight individual nodes or make individual nodes translucent after loading models in gltf format.

By studying the source of Cesium, I am clear about that **Instanced Rendering** was used to improve the rendering performance. Materials are shared by meshes and meshes are shared by nodes. It's difficult to modify only one node's color

[2016-08-02 06:52] QingchaoHu commented on #2387
I am familiar with [Three.js](http://threejs.org/) and OpenGL ES shader, and have created some advanced materials by write shaders. But Cesium is so complex that I haven't find any entries.

[2016-08-02 18:07] #3614 closed

[2016-08-02 18:10] mramato commented on #3614
There still seem to be several issues in the IE11 3D Tiles demo, but I'll try and write up more specific issues in place of this current one.

[2016-08-02 18:21] mramato opened #4166 "3D Tiles demo has terrible imagery performance in IE"
In my machine, loading the 3D Tiles example in IE 11 and without ever moving the camera, it takes over a minute for all of the imagery to come in. If I use the same default view (below code snippet) but without 3D Tiles loaded, it only takes a couple of seconds.  I'm not sure if this is a problem with the new request scheduler or something unrelated.  I actually see a similar issue in Chrome but i

[2016-08-02 18:35] lyaunzbe commented on #4149
Also, is there no simple way to create a bounding box around a primitive/model that takes the object's height into account?

[2016-08-02 18:40] lilleyse commented on #4166
One thing to try is turning `RequestScheduler.prioritize` to false or `RequestScheduler.throttle` to false.

[2016-08-02 18:56] lilleyse commented on #4144
Quick update: I'm only seeing the wrong behavior for certain models. This leads me to believe it's not related to the cache key but instead something with the shader transformations.

[2016-08-02 19:15] #4075 closed

[2016-08-02 19:48] pjcozzi commented on #4144
I don't know what it could be with the shader; only the program should be cached, not the uniforms (which is where I expect the culprit would be).

[2016-08-02 21:50] lilleyse commented on #4144
This was a problem in the instanced model conversion step, not in Cesium.

[2016-08-02 21:50] #4144 closed

[2016-08-03 13:05] laurensdijkstra commented on #4094
Yes I also experience this problem. Is it a bug or a possible configuration issue on my side?

[2016-08-03 13:31] mramato commented on #4094
I just opened #4169 to fix this issue, if you have a chance to try it out and report back, that would be great.  Thanks.

[2016-08-03 14:30] slozier commented on #4094
@mramato :+1:

[2016-08-03 18:02] gbeatty opened #4170 "Order Independent Translucency not blending properly"
There seems to be a problem with how OIT is blending translucent objects. In the following sandcastle example, the rectangles are almost completely opaque. They appear to blend properly with the globe, but when blending with other rectangles the underlying rectangles are visible when they shouldn't be.
[code]
![oit_bug](https://cloud.githubusercontent.com/assets/1686028/17376226/a3b3dbea-5982-11e6

[2016-08-03 18:44] jfinnessy commented on #3857
As a back-end service provider of WMS, this causes significant issues in responding to requests for Cesium-based clients. The browser has it's own set of challenges, but if the backend has to respond to 500 different requests, and only a fraction get used, it's putting a completely unnecessary load on the services side of things.

Loading the pyramid is great for caching tiles as you zoom up and d

[2016-08-03 18:49] emackey commented on #4170
As I understand it, this is a design limitation of OIT.  "Order Independent" means it looks the same way regardless of render order -- this is not the same as being correct.  For mostly-opaque objects, it is not going to work like a depth buffer.  Quite the opposite in fact, it will guarantee that background objects always contribute equally with foreground objects.

Truly correct translucency rem

[2016-08-03 19:22] lilleyse opened #4172 "Camera initializes far away when viewer.trackedEntity is set"
From this comment: https://github.com/AnalyticalGraphicsInc/cesium/pull/4005#issuecomment-237323313

Check out the `3D Models` demo. @tfili the commit is https://github.com/AnalyticalGraphicsInc/cesium/commit/934828e1d74e3383f9925c39fb9cf9c35822781e when something changed.

The initial view used to look like the first image, and now looks like the second image:
![capture](https://cloud.githubuserc

[2016-08-04 09:40] laurensdijkstra commented on #4094
Works for me! Clicking on a line number in an exception now gets me to the line in the Cesium.js file like it should. Breakpoints also work again.

[2016-08-05 00:39] amc723 opened #4177 "Zoom Crash from Touch Input on Viewer Initialization"
After initializing a viewer, if any zoom touch events occur before a pan (rather difficult to gesture a zoom before a pan with touch, but doable), a render error occurs and causes the viewer to crash.

Here is a link to a Gist page with code that can be used to reproduce the error (a touch input device is needed, or some ability to emulate touch events):

https://gist.github.com/amc723/508009b296c

[2016-08-05 13:37] gk1089 commented on #4135
Does the issue discussed in the following link have any relation to it?
https://github.com/AnalyticalGraphicsInc/cesium/issues/3256

[2016-08-05 14:23] kaktus40 commented on #3256
Hello,
check [wikipedia](https://en.wikipedia.org/wiki/Euler_angles).With this article, I can confirm that heading is a rotation around Z axis, pitch is a rotation around Y axis and roll is a rotation around X axis.  Quaternion is only a representation of rotation. This is not linked to a frame. Commonly in Cesium, the frame most used is East North Up. But when we talk about heading pitch roll in

[2016-08-05 17:54] hpinkos opened #4179 "Points cut of by IDL in 2D"
From the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/YNQ2QlAC9HY

![image](https://cloud.githubusercontent.com/assets/3451886/17445732/27e402ae-5b14-11e6-9d2d-81950023cf50.png)

[code]