[2018-05-08 15:26] ggetz commented on #6404
@mramato Sorry, I know it's holding up PRs, but I'm not sure I'll be able to get to it this week with other deadlines.

[2018-05-08 15:34] mramato commented on #6404
@pjcozzi any thoughts here?  Lack of Draco in IE11 is holding up both Draco point cloud support and updating all of the default ion tilesets to Draco. I was really hoping to have Draco assets in Cesium for FOSS4G since they are so much smaller/faster.

One option is to just not worry about IE11 in master but make sure we fix in for June 1.

[2018-05-08 16:07] pjcozzi commented on #6404
Sorry we need to finish the 3D Tiles spec tweaks first - will only be a few days.

[2018-05-08 17:59] likangning93 opened #6573 "log depth interpolation not handled correctly for large geometries"
Our "big" geometries aren't tessellated enough for log depth to interpolate correctly right now, which causes issues that look kind of like near-plane problems but don't present as a planar cut:

![ezgif com-optimize](https://user-images.githubusercontent.com/5395255/39773913-612e17e6-52c7-11e8-8baf-ad04bac93c22.gif)

[On Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZZHLboMwEEV

[2018-05-08 18:00] mramato commented on #6573
@bagnell was this a problem pre-log depth? (even if for different reasons).  If not, looks like a regression we should fix sooner rather than later.

[2018-05-08 18:26] likangning93 commented on #6566
heheh having `getClippingFunction` check a possibly unintialized texture was... not a good idea, my bad.
I think we can get around it though.

[2018-05-08 19:15] likangning93 commented on #6566
Herm having trouble reproducing this crash though, and it does seem kind of strange because `getClippingFunction` shouldn't be getting called until the clipping plane collection has already been updated. But regardless...

[2018-05-08 19:52] likangning93 opened #6575 "Clipping Planes sandcastle examples show errors in IE"
... but the demos don't actually crash? This seems to be limited to demos that involve `Model.js`, so instanced and b3dm tilesets as well as 3D models.

https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=3D%20Tiles%20Clipping%20Planes.html

[2018-05-09 13:29] Koesters commented on #6411
I tried to install Cesium 1.45 under Angular 6.

I had everything working under 1.44 with

[code]
now in angular 6 it's in angular.json

Deleting
[code]

Leads to no Assets and widgets been found.

Adding again:

[code]
under 1.45 leads then  to

rolling back to 1.44 and restarting ng serve fixes the issue.

[2018-05-09 14:55] #6572 closed

[2018-05-09 14:56] mramato commented on #6571
@SunBlack this was fixed in #6574 and will be in 1.46 release on June 1st.

[2018-05-09 15:40] rezn8d commented on #6567
Github updated: [https://github.com/rezn8d/climateviewer](https://github.com/rezn8d/climateviewer)
Examples of KML animations and single image overlays are on the github

Load KML function:
[https://github.com/rezn8d/climateviewer/blob/master/dist/js/climateviewer-3d.js#L964](https://github.com/rezn8d/climateviewer/blob/master/dist/js/climateviewer-3d.js#L964)

[https://github.com/rezn8d/climatevi

[2018-05-09 15:43] hpinkos commented on #6567
@tfili do you think this could be related to the `Resource` changes?  I looks like there are a ton of requests coming from the network links

[2018-05-09 15:50] shunter commented on #6567
Possibly related - this Sandcastle loads Google's sample KML ( from https://developers.google.com/kml/documentation/KML_Samples.kml - rehosted as a Gist because Google doesn't care about CORS)

There's a GroundOverlay which also doesn't load, again because of CORS, but watching the network requests, it spam loads the image over and over.

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZZHLTs

[2018-05-09 16:12] mramato opened #6578 "Research ways to enable WebGL in CI"
Currently, we use a webgl stub for testing on CI, but it should be possible to use something like mesa to at least enable software WebGL rendering in Chrome as part of the CI process. (or perhaps even mesa via docker so we have tighter control over the configuraiton).

It may be slow, but even if it is we can configure it for the master branch only.

[2018-05-09 16:13] mramato opened #6579 "Look into appveyor integration"
This would allow us to run our unit tests on Edge and IE, even if a WebGL stub is used, it will still provide some extra QA for little effort.  We could also look into the possibility of software rendering, but that can be done in #6578.

[2018-05-09 16:26] rezn8d commented on #6567
I think it is probably a Resource issue since that is the only thing I had to change when updating to 1.45 from 1.39. I just uploaded my 1.39 file:
[https://github.com/rezn8d/climateviewer/blob/master/dist/js/climateviewer-3d-1.39.js#L1189](https://github.com/rezn8d/climateviewer/blob/master/dist/js/climateviewer-3d-1.39.js#L1189)

The proxy got moved to Resource:
[https://github.com/rezn8d/climat

[2018-05-09 20:33] mramato commented on #3540
Thanks @kevinstadler, I agree that there's probably not a good way to work around this automatically on the Cesium side and I've used other geographic tiles in Cesium without issue since writing this up.

[2018-05-09 20:33] #3540 closed

[2018-05-10 11:49] mramato commented on #5794
This is OBE and was fixed as part of the Resource refactor.

[2018-05-10 11:49] #5794 closed

[2018-05-10 11:54] mramato commented on #1865
Closing this since requestRenderMode was a success and as far as I know we don't have any additional short term plans.

[2018-05-10 11:54] #1865 closed

[2018-05-10 11:54] cesium-concierge commented on #1865
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/cGXhVoUacMg
https://groups.google.com/forum/#!topic/cesium-dev/X32mc77CTic
https://groups.google.com/forum/#!topic/cesium-dev/nS_GzoZ4b5g
https://groups.google.com/forum/#!topic/cesium-dev/E2XXB44zWew

If this issue affects any of these threads, please p

[2018-05-10 15:33] fgamezc opened #6581 "Camera below the terrain surface"
When rotating with the middle button, the camera can be moved below the terrain surface. It seems that the position of the camera is only adjusted after it finishes loading the terrain.

Cesium 1.45
Web browser: Chrome 66.0.3359.139

![bug_cesium](https://user-images.githubusercontent.com/39163913/39877501-628cd04a-5476-11e8-8c0f-507f6b19c019.jpg)

[2018-05-10 15:33] hpinkos opened #6582 "Scene/ShadowMap point light shadows test failure"
Does anyone else see this test fail when running the tests locally?  I get this in Chrome on Windows 10:

Expected [ 255, 255, 255, 255 ] not to equal [ 255, 255, 255, 255 ].
    at http://localhost:8080/Specs/Scene/ShadowMapSpec.js:733:34

cc @lilleyse

[2018-05-10 15:35] hpinkos opened #6583 "Scene/Scene debugShowGlobeDepth test failure"
Does anyone else see this test fail when running the tests locally? I get this in Chrome on Windows 10:

Expected to render [0,0,0,255], but actually rendered [255,255,255,255].
  at http://localhost:8080/Specs/Scene/SceneSpec.js:350:23

cc @lilleyse

[2018-05-10 15:37] hpinkos commented on #5837
Also reported by @fgamezc in #6581

[2018-05-10 15:37] hpinkos commented on #6581
Thanks @fgamezc, this is a known issue.  I've added a comment to #5837 so we can notify you when the issue is fixed.  Thanks!

[2018-05-10 15:37] #6581 closed

[2018-05-10 15:38] mramato commented on #6582
Pretty sure I have

[2018-05-10 15:42] likangning93 commented on #6583
I have this too. Chrome on Windows 10 on Nvidia.

[2018-05-10 17:48] hpinkos commented on #6567
I'm marking this `priority - high` since this seems like a regression

[2018-05-10 18:03] rezn8d commented on #6567
For the record, the fukushima layers are loaded locally, without proxy or Resource.
in the layer list:
[https://github.com/rezn8d/climateviewer/blob/master/dist/js/climateviewer-layers-skeleton.js#L247](https://github.com/rezn8d/climateviewer/blob/master/dist/js/climateviewer-layers-skeleton.js#L247)

"P": true, = use proxy

Therefore it has to be something more than just the use of Resource, as n

[2018-05-10 19:46] Docteh commented on #3540
I know I'm a little late, but if anyone else sees this, but I found a  --tmscompatible option in gdal2tiles, I'm not sure where to put mentions to it, I only found it after reading the code.

[code]

[2018-05-10 20:29] mramato commented on #3540
Thanks for the follow-up @Docteh, I think this issue is the perfect place for your note.

[2018-05-11 01:25] likangning93 commented on #6583
Also Chrome on Windows 10 on Intel

[2018-05-11 13:41] likangning93 commented on #6575
In Sandcastle:
[code]
Funny thing, running this in a separate tab once triggered Windows to ask if I'd like to use the Visual Studio debugger... that "internal linking error" thing also suggests to me that something deeeeep in the browser is dying...

[2018-05-11 14:07] likangning93 commented on #6575
Another observation, removing the `discard` [here](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/getClippingFunction.js#L95) gets rid of the problem, but... I mean... that defeats the purpose.

I panicked for a second and thought maybe `discard` just doesn't work in IE anymore but terrain and pnts don't have a problem, so it's probably something in the model shader.

[2018-05-11 14:33] mramato commented on #2319
I have an old implementation of this which uses animated gifs (but really as long as you have the frames it works).  It's an Entity API-level solution, but that kind of makes the most sense anyway.  I'll see if I can dig up the code and post it here, might be a good PR for someone else to finish up if I can't find the time.

[2018-05-11 14:44] likangning93 commented on #6575
Tried to git bisect, it looks like this emerged in 1635c92da2fec454e440baf45973c749e2b22ffe when `master` with texture clipping planes (and IE clipping planes for the first time) got merged into log depth.

[2018-05-11 20:00] #6575 closed

[2018-05-11 20:30] likangning93 commented on #2172
I think this technique has enough promise that we can start assembling a gameplan. Here's a couple shots of my prototype at various view distances, we should be able to simulate "constant screen space width" reasonably well:

![near](https://user-images.githubusercontent.com/5395255/39945098-2d7e07fe-5537-11e8-8364-ea6eb01287dc.JPG) | ![far](https://user-images.githubusercontent.com/5395255/399451

[2018-05-11 20:42] hpinkos commented on #2172
@likangning93 at the entity level, polylines already have a `followSurface` option that defaults to true.  I imagine we would use this as the new default and use `PolylineGeometry` when `followSurface: false` or if it's using a material that's unsupported

[2018-05-14 19:54] tkazik opened #6587 "Terrain-Sandcastle: VRTheWorldTerrainProvider request fails"
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html?src=Terrain.html

Switching the provider to VRTheWorldTerrainProvider produces the following error:

![terrain_vrtheworld_error](https://user-images.githubusercontent.com/15689124/40019991-23579f4c-57c1-11e8-9223-2dd6bd0c5068.png)

Thx for fixing!

[2018-05-14 19:56] vividos commented on #6477
I checked out what the WebView logs, and the following messages are logged to the JavaScript console:

[code]
The last line is repeated many times, the first two lines only appear once.

I tried to come up with a Sandcastle example, but it seems the bug isn't triggered on mobile so far. I used the following code, maybe @svenvarennes  can check out if it works or breaks in his project?
https://cesi

[2018-05-14 19:59] hpinkos commented on #6587
Thanks for reporting this @tkazik!  We'll get this fixed before the next release comes out.

@bagnell @lilleyse any ideas?

[2018-05-15 05:51] vividos commented on #6477
Here's the call stack with an unminified Cesium.js, version 1.45:

[code]

When using the unminified source, the pins don't appear at all. The JavaScript code I'm using to add the images is like this:

[code]

The actual code in its context can be found here, in the addLocationList() function:
https://github.com/vividos/WhereToFly/blob/master/src/App/Android/Assets/map/mapView3D.js

[2018-05-15 15:34] hpinkos commented on #6477
Thanks for the extra details @vividos!  We'll try to look into this soon.  Or if you have time to find a fix, we're always happy to accept a pull request

[2018-05-15 18:18] emackey commented on #6477
How big is that `images/map-marker.svg` you're using?

[2018-05-15 18:49] hpinkos opened #6589 "Google Earth Enterprise Sandcastle Example Broken"
Reported here : https://groups.google.com/forum/?hl=en#!topic/cesium-dev/e21OWBTtieA

With the fix in #6549 the example runs fine locally, but it does not work on cesiumjs.org
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Google%20Earth%20Enterprise.html

@tfili

[2018-05-15 18:56] #5025 closed

[2018-05-15 19:46] ggetz commented on #5984
Brought up on the forum: https://groups.google.com/forum/#!topic/cesium-dev/j-8uQL0lJTo

[2018-05-15 19:47] esparano commented on #6165
There is a related problem where the "aligned axis" does not work as expected, and billboards that are near the edges of the screen behave as if their rotations are calculated from the center of the screen.

For example, we have a grid of billboards whose alignedAxes are tangent to the Earth's surface, pointing north, with 0 rotation:
![image](https://user-images.githubusercontent.com/3947139/4007

[2018-05-15 19:55] bagnell commented on #6568
This has always been a problem. The stencil shadow volumes use whatever is in the depth buffer so if terrain and 3D Tiles have been drawn with depth rites enabled, then the classification is applied to them. One solution would be to drawn terrain after 3D Tiles, but we would have the opposite problem.

[2018-05-15 20:48] emackey opened #6591 "Cesium treats +X as glTF forward vector, 2.0 spec says it's +Z."
Not sure how I didn't notice this before, but `VelocityOrientationProperty` apparently places the `+X` vector as the forward vector, while glTF 2.0 settled some time ago on the `+Z` vector being forward.

This means that all glTF 2.0 models used with `VelocityOrientationProperty` will fly or drive sideways.

[2018-05-15 20:49] emackey commented on #6591
Also this repo contains an out-dated `GroundVehiclePBR`, that I am in the process of updating, that was using the old +X convention.

[2018-05-15 21:12] emackey commented on #6591
New vehicle added in #6592.  Note that if you use the corrected model with `VelocityOrientationProperty`, you will now see truck driving sideways.

[2018-05-16 13:38] likangning93 commented on #2172
Fun idea: we might already have slopes available somewhere because of materials on terrain, and if not we can also compute per-fragment terrain slopes like we do for materials on ground primitives. Wonder if this would be useful for reducing smearing on slopes.

Something to experiment with a little later.

[2018-05-16 18:54] vividos commented on #6477
I think I found the reason: One of my SVG images has the following attributes:

`x="0px"` y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000"
(it's this one here: https://github.com/vividos/WhereToFly/blob/master/src/App/Android/Assets/map/images/paragliding.svg)

I guess that using this image many times exhausts the resources of WebGL at one point.

[2018-05-16 18:57] vividos commented on #6477
I tried to update my example with the image URL here, unfortunately the image can't be downloaded from github.com. Link:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=dVNRb9owEP4rFi8JA9lU68MEaTXoNmlSEdNKO03ixYmPcKpjR7YTxKr+950DZUC1e0jsu/t8330+t9KxFmELjt0wA1t2Bx6bij91vjQpuu2dNUGiAZf0JyuzMi2hajSzBrW6RP44+tN98oM0qpA+aOBSqaW1Opdu1oRgTZpMlWKVdRCP88mQrRtTBKRIn72sDCNbW8fSWBCpzmhCv4xdjUZxNRgcs6IdW

[2018-05-16 20:39] vividos commented on #6477
OK I think I found out what is happening on Android devices. The SVG image size was a red herring. Here are the steps:

1. The lines
[code]
create a HTML canvas element. PinBuilder has a cache, so when I call fromUrl() multiple times with the same parameters, the same canvas element is returned.

2. The generated image is set as image property of an entity with a Billboard:
[code]

3. Now the sett

[2018-05-16 20:54] shunter commented on #6477
The issue is that given a `Canvas` object, there's no way to tell if it's changed or not, without comparing every pixel.

The easy workaround here is to call `toDataURL()` on the canvas and use the result as the image of the billboard.  The data URL string is then used as the unique key into the `TextureAtlas`.

You can see this is already the approach demonstrated by the Sandcastle examples which

[2018-05-16 23:51] gtzaniboni commented on #4863
Hi!
I have this same problem, and I can reproduce it.
Just use this code:

    console.log("teste");
    var x = new Cesium.Cartesian3(0.0, 0.0, 0.0);
    var r = new Cesium.Cartesian3();
    console.log(x);
    console.log(r);
    Cesium.Cartesian3.normalize(x, r);
    console.log("FIM Teste");

I use the code on https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Billboards.html&label=
and ad

[2018-05-17 14:34] Vineg opened #6595 "Outline breaks with perPositionHeight and extrudedHeight together"
[code]
![image](https://user-images.githubusercontent.com/1757455/40184265-720dca74-59f8-11e8-91d1-73902ec7add4.png)

[2018-05-17 14:58] esparano opened #6596 "Non-normalized AlignedAxis Is Ignored"
The Billboard documentation states that "The aligned axis is the unit vector that the billboard up vector points towards. The default is the zero vector, which means the billboard is aligned to the screen up vector." This indicates that the aligned axis should be a unit vector.

However, if you give the Billboard a non-normalized "unit" vector, that vector is completely ignored and the default is

[2018-05-17 15:17] shunter commented on #6596
This sounded familiar so I searched through old issues to refresh my memory and summarize previous work on this topic.

In #4046 I clarified the documentation to specify that aligned axis must always be a unit vector, while adding the ability to use the velocity vector as an aligned axis.
In #5807 the CZML loading code makes sure to always normalize unit cartesian values on load.  This was to avoi

[2018-05-17 18:40] esparano commented on #6596
Yeah I was having a similar issue where the magnitude wasn't exactly 1, so it "silently failed" and made the billboards align with the camera instead of just normalizing the vector for me or giving a warning or something. I hope one of my two suggestions could help fix that type of silent failing.

[2018-05-17 19:06] pjcozzi commented on #6589
Let's please look at this for the next release.

[2018-05-18 03:23] wxia5 opened #6598 "Partial terrain cause half globe become transparent"
prior to 1.41, the `Cesium.CesiumTerrainProvider` works fine with terrain data located in a specified area. When upgraded to 1.45, the terrain still works, but causing half globe become transparent , here is the code I imply terrain service.
![426a4d3dc717e7478598c11cf66f8fab](https://user-images.githubusercontent.com/11541946/40214503-b540ff74-5a8d-11e8-8353-a82703cf6fe5.png)
![3a251bcdaaa6874a8e

[2018-05-18 05:13] vividos commented on #6477
Thank you for the explanation. I wondered what all these Cesium.when() and toDataURL() calls are supposed to do. I fixed the bug with this commit:
https://github.com/vividos/WhereToFly/commit/e5f341523b3353630d8181f0bc505bec511fc565

@svenvarennes, as you originally opened this issue, does this fix your problem as well?

[2018-05-18 10:29] Vineg commented on #6021
Here is quickfix https://github.com/geoscan/cesium/commit/ce5c718cc402f8459bdfb7cb3dfd865f1400372e Maybe someone can review it?

[2018-05-18 17:34] lilleyse opened #6599 "Crash when setting an old clipping plane"
The way we handle ownership for clipping planes might be too strict. Doing something like assigning a clipping plane to a tileset, assigning a different clipping plane, and then assigned the original clipping plane causes a crash. It might be better to leave the clipping plane deletion up to the user instead?

[Sandcastle demo](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=xVRda9swFP0rwi+xw

[2018-05-18 17:36] likangning93 commented on #6599
We could also have the `ClippingPlaneCollection` just delete its GL resources (pretty much just the texture) when it gets detached so that the object itself is reusable. It'll just rebuild its resources the next time it gets updated.

Any objections?

[2018-05-18 18:10] lilleyse opened #6600 "Tile with transform not being clipped correctly"
![clipping](https://user-images.githubusercontent.com/915398/40250296-dabfa226-5aa3-11e8-8037-4e8b25fd4203.gif)

The tileset consists of two tiles, a root tile with a local->wgs84 transform and a child tile with a small translation/scale transform. The expected result is that both tiles get clipped in the same way but only the root tile is clipped correctly.

[localhost:8080 link](http://localhost

[2018-05-19 02:34] wxia5 commented on #6598
@Vineg I guess it could be the same, but everything works fine for me in 1.41. Will check your workaround when I got time.

[2018-05-19 21:38] NaderCHASER commented on #6395
I've determined that the issues were with the calculations being performed by an open source tiler, not Cesium. Please accept my apologies for the false alarm. The other tiler has been corrected and Cesium is displaying beautiful 512px tiles with much improved performance.

[2018-05-19 21:38] #6395 closed

[2018-05-21 10:39] thw0rted commented on #3945
FWIW I just ran into this a few weeks before the fix was released -- my workaround was to make a fixed collection of entities whose dynamic properties were CallbackProperties, with the actual by-the-minute values tracked in a separate object.  For example, I had several polygons on the ground represented by a PolylineVolume each.  I got flickering when I dynamically added and removed them (several

[2018-05-21 14:15] ggetz commented on #6563
Requested again: https://groups.google.com/forum/#!topic/cesium-dev/8aLDMJ9eMt4

[2018-05-21 14:56] ggetz commented on #4746
From the forum: https://groups.google.com/forum/#!topic/cesium-dev/RH2GBImy2vI

Seeing something similar with CorridorGeometries at the IDL and on the opposite side of the globe as well. Related?

![image](https://user-images.githubusercontent.com/4439461/40314073-674dc518-5ce5-11e8-8489-be55b06591b7.png)

[2018-05-21 14:57] hpinkos commented on #6021
@bagnell or @kring, can you take a look at this?

[2018-05-21 15:02] hpinkos commented on #6596
Yeah, I think this should throw a `DeveloperError` instead of silently failing

[code]

[2018-05-21 15:03] hpinkos commented on #4746
@ggetz yes, I think that's the same problem

[2018-05-21 15:04] hpinkos commented on #6595
Thanks @Vineg!  Do you know if this worked in a previous version of Cesium?

[2018-05-21 15:06] hpinkos commented on #4863
@gtzaniboni It is expected that `Cartesian3.normalize` throws if you try to normalize the zero vector.  The zero vector doesn't have a direction, so we can't create a vector with a magnitude of 1 in the direction of that vector.

[2018-05-21 15:10] hpinkos commented on #6598
Thanks for reporting this @wxia5
Since this is a regression I've marked this as 'Next Release' so we'll try to fix it ASAP

@bagnell @tfili any ideas here?

[2018-05-21 15:12] Vineg commented on #6595
@hpinkos Yes, it was fine in 41 version

[2018-05-21 15:13] hpinkos commented on #6595
Thanks!  I'll try to look at before the next release

[2018-05-21 15:14] mramato commented on #6589
FYI, this demo has never worked on cesiumjs.org because we haven't had a proxy since we migrated away from Windows/IIS to our current S3/CloudFront based set up.

We could rig up a restricted proxy on cesiumjs.org to handle any white-listed urls (of course this would be the only one) but that seems like a lot of hoops to jump through for one demo.

It might be easier to reach out to the GEE server

[2018-05-21 15:27] mramato commented on #2172
@hpinkos can confirm, but I believe we compute slopes in the material shader and it requires vertexnormals be part of the the terrain data (so they are technically not always available).  I'm fine with requiring them, but we may need to either throw an error or provide a fallback (which can be not clamping to terrain).

[2018-05-21 15:29] mramato commented on #6599
So it's impossible to share clipping planes objects across primitives?

Collection properties should always be readonly.  Settable collections in general is a bad API pattern.

[2018-05-21 15:33] hpinkos commented on #2172
Yep, see https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Globe%20Materials.html

[2018-05-21 17:58] #6595 closed

[2018-05-21 21:20] hpinkos opened #6606 "Rectangle sandcastle example broken in master"
http://localhost:8080/Apps/Sandcastle/index.html?src=Rectangle.html&label=Geometries

@likangning93 this is from your materials on ground primitives changes

[2018-05-21 21:45] emackey opened #6609 "Add glTF animation interpolation "CUBICSPLINE""
It appears that [`CUBICSPLINE`](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#animation-samplerinterpolation) is missing from our glTF animation support.

[2018-05-22 01:29] wxia5 commented on #6598
@mramato yes, I only have data covered a small part of globe, basically from latitude 34.71 to 34.72 and longitude 113.31 to 113.33, so I have no data for the other half globe.
 [link to data:](https://www.dropbox.com/s/txhfc0teru64wg2/terrain.rar?dl=0)

[2018-05-22 01:34] mramato commented on #6598
@kring, @bagnell, or @shunter can confirm, but I believe that has never been officially supported in Cesium and if it worked at all, it was only by accident.  I could be wrong though; hopefully one of them can chime in with the details.

[2018-05-22 04:25] kring commented on #6598
Yep that's correct. You at least need both level zero tiles, one for each hemisphere. If you have no data in one hemisphere you can just create a tile with all zero heights.

[2018-05-22 05:59] fnoop opened #6610 "splitchunks in webpack 4"
In the cesium and webpack tutorial (https://cesiumjs.org/tutorials/cesium-and-webpack/), there is a section about code splitting which uses webpack.optimize.CommonsChunkPlugin.
However, in the new webpack 4 this has been deprecated, so you get this error:
``` ERROR  Error: webpack.optimize.CommonsChunkPlugin has been removed, please use config.optimization.splitChunks instead.```

I can't seem to

[2018-05-22 13:30] ggetz commented on #6610
Thanks @fnoop! I'm closing this in favor of https://github.com/AnalyticalGraphicsInc/cesium-webpack-example/issues/7,

[2018-05-22 13:30] #6610 closed

[2018-05-22 15:13] hpinkos opened #6611 "GroundPrimitive ordering only works when primitives are the same classification type"
In the following example, calling `PrimitiveCollection.raiseToTop` works when both `GroundPrimitives` are the same `ClassificationType`, but when they are different types the ordering no longer works.  This is because the different classification types are drawn in separate render passes.

[code]

[2018-05-22 15:48] glathoud opened #6612 "Missing tiles in VR mode (regression w.r.t. Cesium 1.44)"
Hello, sometimes in VR mode some tiles are not displayed. From what I could see, the issue happens with Cesium 1.45 but not with Cesium 1.44.

To reproduce the issue:
 * open the Sandcastle example "Ground Clamping"
 * add the line `vrButton: true` to the Viewer config
 * re-run the example, click on the VR button and move the camera around (see the screenshots below).

I also tried `scene.logarit

[2018-05-22 16:19] hpinkos opened #6613 "New in 1.XX Sandcastle button has duplicate examples"
I think since I made two commits on the `Z-Indexing Geometry` Sandcastle demo it's showing up under the `New in 1.45` tab twice.

Also, some of the development sandcastle examples are showing up under that tab.  We probably don't want that.

Labeling this 'next release' because we won't want this deployed to the website

[2018-05-22 16:33] mramato commented on #6613
At first glance, this looks like a Sandcastle client issue, since the file is only showing up once in `gallery-index`.

[2018-05-22 16:50] hpinkos commented on #6598
@kring @mramato should we close this issue then?

[2018-05-22 20:40] emackey commented on #6591
Expanding the scope:  It's not just `VelocityOrientationProperty`, it's everything that deals with orientation.  For example, headings are all 90 degrees off for glTF 2.0 files.

One option here could be to add a `frontAxis` setting similar to [the existing `upAxis` setting](https://github.com/AnalyticalGraphicsInc/cesium/blob/dbc671006507a78ceade01e9f3943a550e217862/Source/Scene/Model.js#L4435-L4

[2018-05-22 20:43] mramato commented on #6591
As you already noted, the scope here goes far beyond models.  I think this is a massive breaking change for Cesium if we were to make it.  I'm not sure changing all of Cesium because of glTF 2.0 is the way to go.  It might be better for the Model primitive to have special logic for handling gltf models so that glTF "just works" with Cesium's existing convention.

[2018-05-22 20:46] emackey commented on #6591
Yes, and I suspect the existing `upAxis` setting is an example of such logic.  Perhaps all that's needed is a new `forwardAxis` setting in Model.js.  Would need to be careful that this didn't mess up 3D tiles somehow.

[2018-05-22 20:48] hpinkos commented on #6591
Is that all related to this? #3256

The East/North/Up transform we default to everywhere makes `heading: 0` east instead of north.

[2018-05-22 20:49] emackey commented on #6591
@hpinkos I was noticing that in my testing of headings just now.  `heading: 0` appears to place glTF's +X axis to the East, and +Z to the South.  glTF 2.0 models drive South with heading `0`.

[2018-05-22 20:52] hpinkos commented on #6591
@emackey yeah, I've been trying to argue for years that `heading: 0` should be north because that seems to be a more common standard.  But I lost that argument and we decided just to document it and add the fixed frame generator to `Transforms`.

[2018-05-22 20:56] #6606 closed

[2018-05-22 20:57] emackey commented on #6591
@hpinkos OK.  I think that's an unrelated issue.  The proposed fix here would just make glTF 1.0 and 2.0 agree on East.

[2018-05-22 20:58] hpinkos commented on #6591
Gotcha 👍

[2018-05-23 04:28] leation opened #6618 "Whether Cesium3DTileStyle supports image attribute to 3dtiles"
Whether Cesium3DTileStyle supports image attribute to 3dtiles?When I try these code below,it seems not work,and the breakpoint can not Jump into the "evaluate" function,is there somebody tell me?
style.image = {
    evaluate : function(frameState, feature) {
        return '/url/to/image';
    }
};

[2018-05-23 08:13] duoduohappy opened #6619 "add logdepth ,Big BIM data view Frame rate decline"

[2018-05-23 09:27] glathoud commented on #6612
Here is an [example](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html#c=7Vnrb9u2Fv9XePvFMubSkixZUvrAdRK3C+Y84HgtiqYIaIu2eSeLBknl0SH/+w5FyZFlOV2xpXcfZiSwJZ0XD8/jd6gbItANo7dUoDcopbfoiEqWrfCH/J7VmuWXRzxVhKVUtDro96sUwUdRIeDWheA3LKbioGScCUoU/chFEk8MidU2HB10Iw4zpXh6gJTI6FX60H51lRrtWM5oSvEi4VOKY7pWywmVarAAfqkKQWCh5gOeq7TbRYKuBY+zGUVMyowiniKCHDe07xzb9ZAES2iKYnrDZjRnWCq1lgfd7oKpZTbFM77qDlKS3Cs2I8l7Qd

[2018-05-23 10:31] glathoud commented on #6612
Using that example the issue seems to appear in the `master` branch at the log depth merge 50b1d5d890dafb9fbe962fff227c1e4345ccbffe, and not on the previous commit 603640c627706735d391486bd7c3b24877d77cf2

However in my tests, setting `viewer.scene.logarithmicDepthBuffer = false;` did not change the result.

[2018-05-23 12:34] glathoud commented on #6612
Here is a possible [fix](https://github.com/glathoud/cesium/commit/e85a779ff083f481aae74740295fb89a645b3b0f) that makes the `aspectRatio` in `configureCameraFrustum` depend on `useWebVR`. In my tests it worked.

[2018-05-23 13:23] lilleyse commented on #6618
Just to be sure, does your tileset contain [vector data](https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/3d-tiles-next/TileFormats/VectorData)? The image attribute is only supported for vector data.

[2018-05-23 17:22] likangning93 commented on #6599
@mramato is this just because of the under-the-hood GPU resource management?
Hmmmm I vaguely suspect moving these to readonly and auto-populating them on `Model`, `Cesium3DTileset`, and `Globe` *would* make life a little easier...

[2018-05-23 17:52] mramato commented on #6599
It's just problematic from an API endpoint (largely around ownership issues).  A lot of Cesium initially followed the .NET coding guidelines, and they specifically call it out as bad practice: https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/guidelines-for-collections

I'm sure Cesium is wildly inconsistent here, so leaving it settable is probably not the end of the world.

I wou

[2018-05-24 02:30] lilleyse opened #6622 "glTF 2.0 models dark on Samsung S8"
glTF 2.0 models are rendered dark on the Samsung S8. My first guess is this is a shader precision issue that causes the PBR shader to break. Does anyone have this phone or a similar Android phone? Try this link:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/gallery/Physically-Based%20Materials.html

Screenshots are from a PC (correct) and a Samsung S8. Both are at the same time.

![pc](https:

[2018-05-24 03:06] shehzan10 commented on #6622
Here are the screen shots from an S9. Tried to. Match the time on the darker one.
![screenshot_20180523-230407_chrome](https://user-images.githubusercontent.com/2288659/40462404-d8f45304-5edd-11e8-97a9-877bb92188a6.jpg)

![screenshot_20180523-230428_chrome](https://user-images.githubusercontent.com/2288659/40462411-df47646c-5edd-11e8-920c-75d43b8ff468.jpg)

[2018-05-24 08:11] safa833 opened #6623 "How to avoid passing underneath globe"
![1](https://user-images.githubusercontent.com/10292075/40472688-d95503ce-5f42-11e8-938a-eb011693f694.png)

Anybody know solution ?

[2018-05-24 08:30] gberaudo commented on #6623
Yes, see https://github.com/AnalyticalGraphicsInc/cesium/pull/6012.

[2018-05-24 08:53] safa833 commented on #6623
@gberaudo , This is a good solution but The problem is continuing

[2018-05-24 10:11] gberaudo commented on #6623
@safa833, have you used `scene.camera.enableTerrainAdjustmentWhenLoading = true`?
You can do it just after creating Cesium.

[2018-05-24 12:25] puckey opened #6624 "Use createImageBitmap for image decoding when available"
While profiling in Chrome, I noticed quite a few ms being spent in decoding satellite images on the main thread. Using ImageBitmap this decoding could be offloaded to the background. ImageBitmap is currently supported by Firefox, Chrome & Opera.

https://developers.google.com/web/updates/2016/03/createimagebitmap-in-chrome-50

[2018-05-24 14:33] safa833 commented on #6623
@gberaudo, Yes, I have. but Camera comes up surface after passing underneath it for a while

[2018-05-24 18:42] likangning93 opened #6627 "GroundPrimitive materials won't work if maximumVertexTextureImageUnits is 0"
This is because all the data needed for computing texture coordinates gets packed into the batch table. We should add this to `GroundPrimitive.supportsMaterials`.

[2018-05-24 18:46] likangning93 commented on #6627
@bagnell recommends rewriting shaders to do the batch table reads in the fragment shader if `maximumVertexTextureImageUnits` is 0.

[2018-05-24 18:54] bagnell commented on #6627
Primitives also use VTF for distance display conditions.

[2018-05-24 19:01] hpinkos commented on #6623
Hi @safa833, I'm going to close this issue as a duplicate of #5837.  I'll make a comment in that issue so we can notify you when we have a fix

[2018-05-24 19:01] #6623 closed

[2018-05-24 19:01] hpinkos commented on #5837
Also reported by @safa833 in #6623

[2018-05-24 21:16] #6485 closed

[2018-05-24 21:30] #6373 closed

[2018-05-24 21:30] tkazik commented on #6304
Any updates?

[2018-05-24 22:41] pjcozzi commented on #6627
The original Batch Table code I wrote had a fallback to the fragment shader.  Can't we use that here?

[2018-05-25 07:36] leation commented on #6618
thank you very mush！

[2018-05-25 09:03] AndreasSvendby opened #6630 "Polygons render colours incorrectly"
I've added GeoJSON and set the colours of the different shapes by fetching the entities from the datasource and set the colours. When I set the same colour on a polygon and a polyline, the polygon doesn't get the correct color.

In the following image I've set both entities to have the colour Cesium.Color.PALETURQUOISE

![image](https://user-images.githubusercontent.com/2139271/40536003-10e5d0b6-6

[2018-05-25 12:21] GatorScott commented on #6630
I noticed that this happens only in 2D and Columbus modes.  The polygon is not affected by sun in 3D.

`var viewer = new Cesium.Viewer('cesiumContainer', {
    sceneMode: Cesium.SceneMode.SCENE2D,
    enableLighting: true
});

var geoJsonData = {
    "type": "FeatureCollection",
    "features": [
        {
            "type": "Feature",
            "geometry": {
                "type": "LineString

[2018-05-25 12:34] thw0rted opened #6631 "Entity primitive continuously re-drawn when position is SampledProperty"
Example [in Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=jVbbbuM2EP2VgV9W7mplObc2jhM0cLK9IBcjTvelLgpaGkdEKFJLUk6zi/x7hxQly9mmWMMQKXKuZw6H2jANG45PqOEUJD7BDA2vy+STX4veZf51pqRlXKJ+F8PXpQT6mULVIj+XvGQWJ7BmwmActjKUeK1yWg7WFu1Ksphd3lzuXZDky/BkKZdyNFqghZWqZW5ArUHVGgwva8EsVxIsL3EpNxSlsUxbCjKY/L0WnMkLcp6stSrdJHLx+8leOj6MYY/+NIyPhs5VY0NV/2mC5fkCM0UxRN5PDPtHadwHZCscDdvIr9kjgqk1thByA8yCLRB

[2018-05-25 14:10] hpinkos commented on #6631
Hmm, that's very weird.  Thanks for reporting this @thw0rted!

@ggetz any ideas here?

[2018-05-25 14:11] likangning93 commented on #6487
It's gonna be so much prettier yayyyy!

[2018-05-25 14:13] hpinkos commented on #6630
Hi @AndreasSvendby, this is a known issue: #5730
I'll make a comment in that issue so we can give you an update when we have one.  Thanks!

[2018-05-25 14:13] #6630 closed

[2018-05-25 14:14] hpinkos commented on #5730
Also reported by @AndreasSvendby in #6630

[2018-05-25 14:20] #6618 closed

[2018-05-25 14:44] ggetz commented on #6631
Looks like [`setReady`](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Primitive.js#L2037) is being called by the primitive every frame in 2D mode, but not 3D mode. (This add a function that triggers after the frame is rendered, which signals another frame to be rendered in requestRenderMode).

[2018-05-25 15:15] #6404 closed

[2018-05-25 18:07] #6566 closed

[2018-05-25 18:07] cesium-concierge commented on #6566
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/mJ8NDsFrIhY

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-05-26 18:54] rezn8d commented on #6567
any updates?

[2018-05-27 17:34] lilleyse opened #6633 "Content underneath a classification primitive not pickable when allowPicking is false"
@bagnell do you know if this is expected issue with classification primitives or just a bug?

![picking](https://user-images.githubusercontent.com/915398/40588839-cf16165c-61b1-11e8-8ef2-cf9388d77f18.gif)

[Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=vVlrc+I2F/4rar5gpkRczD2XKQu0YV4ImQ1tZ6fp7AhbgLrC8tgyhLeT/94jyza2Y7Jk0mlmdhOkc9O5POdIVKtogHy2dTlFNt0KJFbIHKEF49RHK0pk4FHkMusbc9Zo

[2018-05-27 17:55] lilleyse opened #6634 "Expose ClassificationPrimitive options at a higher level"
When loading a higher level data source like a vector tileset or GeoJSON it isn't possible to control how the clamped polygons interact with the underlying content. It would be nice to see options for:

* `allowPicking` - for example, set this to false so you can still pick buildings that are being classified by a GeoJSON, instead of always picking the GeoJSON features (requested on the forum: htt

[2018-05-27 18:08] lilleyse commented on #6634
Actually `drillPick` is probably a good enough solution for the problem in the first bullet. But I think the second bullet still stands.

[2018-05-27 18:51] coolwanglu opened #6635 "Terrain doesn't work if level 0 is missing"
For example, the swisstopo data does not have any data until level 0
https://3d.geo.admin.ch/1.0.0/ch.swisstopo.terrain.3d/default/20160115/4326/layer.json

This issue affect 1.45, but not 1.43.

The cause is probably [here](https://github.com/AnalyticalGraphicsInc/cesium/blob/213777c2bf8640dc2a4120d96797813da03ff0a1/Source/Core/TileAvailability.js#L61), which assumes that level 0 is available.

[2018-05-28 09:09] oterral commented on #6635
@coolwanglu  We fixed that . I've updated the file now you have all the levels, it should work.

[2018-05-28 19:34] coolwanglu commented on #6635
Thanks, @oterral , it works!
Not sure whether level 0 is required to exist in the spec, but I'm closing this issue for now.

[2018-05-28 19:34] #6635 closed

[2018-05-29 13:53] likangning93 opened #6636 "GroundPrimitive materials and Polylines on Terrain not available when classifying 3D Tilesets"
`GroundPrimitive` materials aren't available for classifying 3D Tilesets because the depth information for that isn't available in the `GroundPrimitive` pass. There's also the possibility that shadow volumes might not be tall enough, but in practice I think that's a non-issue at the moment because our shadow volumes are taller than they need to be.

I think I have support hacked up here: https://g

[2018-05-29 13:55] mramato commented on #6636
Do we probably document this lack of functionality in CHANGES (where it was introduced) and in any related API dealing with it?

[2018-05-29 13:57] likangning93 commented on #6636
@mramato it's documented

[2018-05-29 14:24] thw0rted commented on #6557
While you're looking at this: is there an error handler that's supposed to fire if approximateTerrainHeights fails to load?  I had a configuration error that was causing the request to bomb and I burned a little too much time trying to figure out why one system wouldn't show any entities when the exact same code worked on another system (spoiler: without approximate terrain heights, the entities n

[2018-05-29 14:38] hpinkos commented on #6567
@rezn8d sorry, I'm not sure if we'll have time to look at this before the June release, but we'll try to for the next one

[2018-05-29 14:42] hpinkos commented on #6557
@thw0rted thanks for pointing that out, it doesn't look like we have an `otherwise` for loading the `approximateTerrainHeights.json` file https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/ApproximateTerrainHeights.js#L58-L60

[2018-05-29 14:45] rezn8d commented on #6567
@hpinkos thanks for the update. Looking forward to the next release.

[2018-05-29 15:30] mramato commented on #6332
They recently launched http://www.cogeo.org/ which does a good job of summarizing everything. Also, every is just calling them COGs now.

Eugene from Azavea gave a good talk on it at FOSS4GNA as well, not sure when/if his slides will get posted: https://2018.foss4g-na.org/session/best-practice-serving-cog-imagery-using-mapserver-cloud-sponsored-aws

[2018-05-29 17:09] mramato commented on #6631
I assume this is a trivial fix, but @bagnell can you confirm that there's no reason we should be calling `setReady` every frame?

[2018-05-29 17:51] lilleyse commented on #6568
Ah, alright. Thanks @mramato

[2018-05-30 20:34] #6582 closed

[2018-05-31 11:48] xtassin opened #6640 "rotationMatrixFromPositionVelocity not normalized cross product leads to rendering artefacts"
Method  Cesium.Transforms.rotationMatrixFromPositionVelocity does not normalize the result of several cross product operations.

This leads to rendering artefacts similar to some observed in a different scenario (#3178) when a VelocityOrientationProperty is being used to generate a camera lookAt transform.

[2018-05-31 14:51] hpinkos commented on #6640
Thanks @xtassin, could you open a pull request with the fix? That would help us get this fix in faster.

[2018-05-31 15:33] likangning93 commented on #4739
@movestill if this is something you're still working on and you don't need Columbus View or 2D, you can also set `scene3DOnly` to true. You'll also need to indicate `Cesium.PerInstanceColorAppearance({flat : true})`, since otherwise the appearance expects compressed normals.

[code]

I'm looking at getting this to work in 2D/CV as well though.

[2018-05-31 16:21] movestill commented on #4739
Thanks for the update. We're not currently using Cesium for the project, but we may return to it at some point. Good to know it's getting addressed!

[2018-05-31 20:42] bagnell commented on #6539
Having `FeatureDetection.supportsPointerEvents` return `false` fixes most of the tests. It seems like the `pointerdown` event isn't fired.

[2018-05-31 20:59] bagnell commented on #6587
I can't reproduce this in master. Can anyone else? @hpinkos?

[2018-06-01 13:25] #6598 closed, assigned to nobody

[2018-06-01 13:27] mramato commented on #6539
It's possible that the regression confirmed in this bug is the cause: https://bugzilla.mozilla.org/show_bug.cgi?id=1463354

Basically the broke some part of pointerevents in FF 60.  One solution is to not use PointerEvents on Firefox until it's fixed (basically change the `FeatureDetection.supportsPointerEvents` check to return false for Firefox.

Or we can just wait it out.

[2018-06-01 13:31] mramato commented on #6587
I can reproduce this in master every time.

[2018-06-01 16:00] ggetz commented on #6193
I think this will need to be bumped to next month, I need the steps to reproduce this.

[2018-06-01 16:03] ggetz commented on #6587
It looks like VRTheWorld servers do not support https: https://groups.google.com/forum/#!searchin/cesium-dev/vrtheworldterrainprovider%7Csort:date/cesium-dev/hzVU5L1WOIk/6IMcgD8sAwAJ

[2018-06-01 16:05] ggetz commented on #6589
What's the plan for this release, should we set up the restricted proxy? Or would we rather reach out to the server admin or find a new demo next month?

[2018-06-01 16:08] #6613 closed

[2018-06-01 16:11] mramato commented on #6589
I switched it from priority next release to priority high.  I'll reach out to the Open GEE team and see if they have any suggestions.

[2018-06-01 16:14] mramato commented on #6589
It also looks like we are using http in the Sandcastle examples, all examples must use HTTPS

[2018-06-01 16:23] mramato commented on #6589
Submitted https://github.com/google/earthenterprise/issues/875

[2018-06-01 16:27] mramato commented on #6587
We just definitely fix the bug, but we might want to ultimately remove `VRTheWorld` from the demo as well, unless we bring back the proxy like we talked about with #6589 (which I'd really rather not do).

[2018-06-01 16:42] mramato opened #6650 "Sandcastle gallery missing scrollbar at certain sizes"
![image](https://user-images.githubusercontent.com/1495196/40852643-193ab342-6599-11e8-841b-4001631510a8.png)

I assume this is the fact that the labels wrapped to a second line and it's pushing everything down (and we have overflow hidden so the scrollbar is underneath everything).

@emackey any ideas for a quick fix?

[2018-06-01 18:34] bagnell commented on #6543
Edge has all of those extensions (also EXT_color_buffer_float which is required). If you open the eye dome lighting example in Edge it logs framebuffer incomplete errors.

I've run into this before with OIT where all of the extensions are supported but the framebuffer is incomplete. In the `isSupported` function, make sure all of the extensions are supported and create the framebuffer. Then return

[2018-06-02 16:30] tkazik opened #6651 "[ION][asset][terrain] terrain asset not properly integrated into cesium terrain"
Hi folks

I am encountering some issues in cesium ion's composer: I created a locally flat terrain in QGIS and exported it as geotiff, which can be loaded into cesium's composer (basically following this [tutorial](https://cesium.com/docs/tutorials/getting-started/)). When zooming closer to the asset, it vanishes...some sort of clipping issue, see:

![cesium_terrain_asset_short](https://user-image

[2018-06-04 02:27] ngoluan opened #6652 "Water culled at low angle"
I just upgraded from 1.43 to 1.46 and I noticed a peculiar bug. In deep ocean, the water is being culled when the camera is at a low angle.

![problem](https://user-images.githubusercontent.com/4022361/40895411-4ac75876-677d-11e8-871f-435003a08aa6.png)

Near terrain, it seems to look fine.

![image](https://user-images.githubusercontent.com/4022361/40895420-571df224-677d-11e8-993a-f8978c65f39b.png

[2018-06-04 06:51] oterral commented on #6535
Hi @bagnell @lilleyse, We have still this bug in 1.46 and 1.45 . When we try to display `.vctr` 3d tiles.

 Here is an example :
https://codepen.io/anon/pen/RJrxYM?editors=0010

Our tilset contains only points.

[2018-06-04 11:35] jatskopolina opened #6653 "Escape key doesn`t work sometimes"
Hello,
we have noticed uncomfortable behaviour. Users can switch to fullscreen using key "F11" and then try switching back using escape button. This fails, they can only use "F11" again.. Are you going to deal with it?

[2018-06-04 13:01] mramato commented on #6653
This is browser-specific behavior and not something Cesium has control over.

1. F11 puts most browsers in full-screen mode and they will stay in this mode until F11 is pressed again.  This means even if you navigate to a new website, the browser stays fullscreen.  Cesium has no control over this because it's browser application level behavior.
2. The Cesium full-screen button uses the JavaScript

[2018-06-04 13:01] #6653 closed

[2018-06-04 14:53] hpinkos commented on #6651
Hmm, I haven't seen this problem before.  Thanks for including the screen capture and the geotiff!  That will make it a lot easier for us to debug the issue.
We'll give you an update once we have a chance to look into this.  Thanks!

[2018-06-04 14:57] hpinkos commented on #6651
Actually, I thought you had made this post in a different repo.  We have a repo set up specifically for ion issues here: https://github.com/AnalyticalGraphicsInc/cesium-ion-community

I've created an issue for you related to this problem here: https://github.com/AnalyticalGraphicsInc/cesium-ion-community/issues/17

I think this might be an issue with the tiler, not a problem with CesiumJS, so I'm

[2018-06-04 14:57] #6651 closed

[2018-06-04 14:58] hpinkos commented on #6652
Thanks for reporting this @ngoluan

@bagnell do you think this is related to the log depth changes?

[2018-06-04 15:07] hpinkos opened #6654 "Vector tiles broken in Edge"
Reported by @oterral in #6535

[2018-06-04 15:07] hpinkos commented on #6654
Hi @oterral,  I wasn't able to reproduce the problem because I couldn't load the tileset in the example you posted.  It looks like your tile server isn't configured for CORS

You can learn how to enable CORS here: https://enable-cors.org/

Or @tfili @bagnell do we have a vector tileset we can use to reproduce this locally?

[2018-06-04 15:08] hpinkos commented on #6535
Hi @oterral, I opened #6654 so we can track the problem there instead of on this closed issue.  Thanks!

[2018-06-04 15:11] mramato commented on #6654
@hpinkos there's already a Sandcastle example: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Tiles%20Terrain%20Classification.html

I'm not on Windows right now, so I can't test Edge.

[2018-06-04 15:14] hpinkos commented on #6654
@mramato that one works fine.  It might be related to points, I think that tileset only has polygons

[2018-06-04 19:10] bagnell opened #6656 "Add support for silhouette on translucent objects"
See https://github.com/AnalyticalGraphicsInc/cesium/pull/6476#issuecomment-388382391

[2018-06-04 19:12] bagnell opened #6657 "Add per feature post processing to an entire 3D Tileset"
Per feature post processing only works on individual features of a tileset. It woul be nice if it worked on an entire tileset.

See https://github.com/AnalyticalGraphicsInc/cesium/pull/6476#issuecomment-388381350

[2018-06-04 20:03] #6078 closed

[2018-06-04 20:47] lilleyse commented on #5727
@loshjawrence

The shader can be simplified a lot since `q`, `x`, and `y` are not actually used.

After making shader changes you'll need to run `npm run build` which converts the .glsl files to .js files. In general, `npm run build` is required when adding or removing files or making shader edits.

You can also use `build-watch` which auto-detects shader changes.

For testing, make sure OIT still

[2018-06-04 22:50] #5727 closed

[2018-06-05 06:32] glathoud commented on #6612
Hello, it would be cool if someone could have a short look on the two small commits below and say whether they are worth submitting a PR.

 * https://github.com/glathoud/cesium/commit/e85a779ff083f481aae74740295fb89a645b3b0f
 * https://github.com/glathoud/cesium/commit/e47a7d5d57c78012f0607d12a95671ac5efa9ffb

[2018-06-05 06:53] oterral commented on #6654
Sorry, wmts and terrain services were blocked. Here is an updated codepen with working urls.
https://codepen.io/oterral/pen/xzVXqr?editors=0010

[2018-06-05 14:38] hpinkos commented on #6612
Hi @glathoud!  I'm not super familiar with this area of the code, but your fix make sense to me.  It would be great if you can open a PR with that fix!  Thanks!

[2018-06-05 14:43] hpinkos commented on #6654
Thanks for fixing that example @oterral!  However, it runs fine for me in Edge.
I'm on Windows 10, Edge 42.17134
Have you tried clearing your cookies/cache?  Sometimes that can have weird side effects when switching between versions on CesiumJS.

[2018-06-05 19:36] #4739 closed

[2018-06-06 02:26] lilleyse opened #6661 "Add classification type to more entity types"
`classificationType` is only available on entity types than can clamp to ground (polygons, rectangles, etc), but it would great to see this for all types (boxes, polyline volumes, and others). It's possible from the Primitive API layer ([Classification demo](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Classification.html)) and would be convenient to add to the entity API.

@bagnell do y

[2018-06-06 04:58] silky opened #6662 "Vertical Polygon Drawing: How to do it?"
Consider:

![image](https://user-images.githubusercontent.com/129525/41017747-a83bef1c-6999-11e8-974e-452d741cf919.png)

Generated from the following code in the [Sandcastle](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Polygon.html):

[code]

The vertical (red) polygon is not drawn correctly (it's missing the bottom part of the house-like shape). I've projected it in blue below to s

[2018-06-06 05:49] glathoud commented on #6612
@hpinkos thanks for looking at the code. I just created the PR.

[2018-06-06 13:58] hpinkos commented on #6661
@lilleyse Are you sure this isn't already supported? It looks like in that Sandcastle example you linked to, ClassificationType is used for an `EllipsoidGeometry`:
[code]

[2018-06-06 14:01] hpinkos commented on #6661
@lilleyse we don't have the concept of a "Classification" at the entity level at all as far as I know.  We use `GroundPrimitive` for `corridor`, `ellipse`, `polygon` and `rectangle` and use `Primitive` for all other types.

[2018-06-06 14:05] hpinkos commented on #6662
Hi @silky!  Our polygons are designed to curve to the ellipsoid surface and therefore they cannot take any arbitrary points and draw a polygon in space.  We do have an issue open for this: #3349

I have an incomplete branch that supports the kind of thing you're trying to do here: https://github.com/AnalyticalGraphicsInc/cesium/tree/space-polygon

I'm going to close this as a duplicate, but I'll m

[2018-06-06 14:05] #6662 closed

[2018-06-06 14:05] hpinkos commented on #3349
Also reported by @silky in #6662

[2018-06-06 14:35] mramato commented on #6661
@hpinkos all of the Entity XXXGraphics that can be clamped to ground have a `classificationType` property.  What @lilleyse is saying is that BoxGraphics and other volumes that don't clamp to ground should still have `classificationType` as well because they can classify 3D tilesets (as in the linked demo).

[2018-06-06 14:36] ggetz opened #6664 "Primitives using EllipsoidSurfaceAppearance are clipped when camera is near"
Primitives using an `EllipsoidSurfaceAppearance` are clipped close to the camera, where other appearances are not.

Brought up on the forum: https://groups.google.com/forum/#!topic/cesium-dev/RyPeD-HeL9I

[code]

[2018-06-06 14:37] hpinkos commented on #6661
@mramato yeah, I get that, but we would want a way to determine when to use `ClassificationPrimitive` and when to use `Primitive`.  I guess it would just be when `classificationType` is defined?

[2018-06-06 14:40] hpinkos commented on #6664
Duplicate #2946

[2018-06-06 14:40] #6664 closed

[2018-06-06 14:40] cesium-concierge commented on #6664
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/RyPeD-HeL9I

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-06-06 14:41] hpinkos commented on #2946
Also reported in https://groups.google.com/forum/#!topic/cesium-dev/RyPeD-HeL9I

See #6664 for a code example

[2018-06-06 14:41] mramato commented on #6661
I see where you're coming from now.  Yes we would probably have to use it depending on if it's defined or not.  Can `ClassificationPrimitive` batched?

This is probably a more complicated issue than @lilleyse had in mind for onramping.

[2018-06-06 15:07] hpinkos opened #6665 "Primitive debug bounding sphere hidden behind ellipsoid"
At a certain point, tilting the camera seems to make the debug bounding sphere primitive only appear behind the ellipsoid.  This has made debugging bounding sphere issues for small primitives kind of difficult.

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Cesium%20Inspector.html

![bs](https://user-images.githubusercontent.com/3451886/41047009-9351a008-6979-11e8-9d07-9b09eceb4238.gif)

[2018-06-06 15:13] hpinkos commented on #6665
@bagnell this first appeared as a problem in the 1.45 release.  Is this also related to the log depth changes?

[2018-06-06 15:29] oterral commented on #6654
You're right works since Edge 42 . it fails on edge 41 and edge 36.

Do you have an idea why ?

Feel free to close if support of old edge is not a priority for Cesiumjs

[2018-06-06 15:35] VadimirOrlov commented on #6664
If it may help I'd share the following observation. This "specific" behavior appears differently in 3 last versions of Cesium.
1) In version 1.44 "clipping" is equal to both rectangles (entity and primitive) and starts at lower heights over ground
2) In version 1.45 "clipping" is still equal to both rectangles (entity and primitive) BUT starts at much higher heights over ground
3) In version 1.46

[2018-06-06 15:39] hpinkos commented on #6654
Ah okay.  Yeah, maybe Microsoft fixed something in their WebGL implementation or added support for an extension.  I took a quick look at their [changelog](https://developer.microsoft.com/en-us/microsoft-edge/platform/changelog/) and couldn't find anything WebGL specific, but it does look like 17134 was a decent sized release.

I'm going to close this, I don't think we'll have a chance to go back a

[2018-06-06 15:39] #6654 closed

[2018-06-06 15:56] hpinkos commented on #6664
Thanks @VadimirOrlov!  The difference between the entity and primitive is that the entity is using a `GroundPrimitive` instead of a `Primitive`, so that probably accounts for the different behavior between the two

[2018-06-06 19:38] bagnell commented on #6665
Probably. If you ever think it's a log depth issue, you can set `scene.logarithmicDepthBuffer = false;`.

[2018-06-06 19:41] hpinkos commented on #6665
Cool, yeah setting `scene.logarithmicDepthBuffer = false;` fixes the issue so it must be related to that

[2018-06-07 01:28] silky commented on #6662
interesting, thanks @hpinkos

[2018-06-07 01:33] lilleyse commented on #6661
Sounds like it. Thanks for the extra details @hpinkos @mramato.

[2018-06-07 07:46] whlysu opened #6667 "outlineWidth not work when add a polygon"
viewer.entities.add({
                    name: 'Wyoming',
                    polygon: {
                        hierarchy: Cesium.Cartesian3.fromDegreesArray([
                        -95.0, 33.0,
                        -89.0, 33.0,
                        -89.0, 37.0,
                        -95.0, 37.0
                    ]),
                        height: 0,
                        material

[2018-06-07 08:32] maxdow commented on #6667
If you are on windows, It could be related to the WebGL implementation and not CesiumJS.
Take a look at this answer from stackoverflow
https://stackoverflow.com/questions/25394677/how-do-you-change-the-width-on-an-ellipseoutlinegeometry-in-cesium-map/25405483#25405483

[2018-06-07 14:38] hpinkos commented on #6667
Thanks for linking to that answer @maxdow!  Yes @whlysu, unfortunately this is something that is limited based on the device you are using.  Windows currently only supports an outlineWidth of 1.

[2018-06-07 14:38] #6667 closed

[2018-06-07 16:32] pjcozzi commented on #2132
@davidyaha that added support for the draft vector tile payload in 3D Tiles, but I would still leave this issue open for other potential vector tile specs.

[2018-06-07 21:29] emackey commented on #6667
@whlysu Since you're outlining a polygon, you can use a Cesium Polyline to trace around the edge.  Polylines are things that look like lines but are drawn with polygons, supporting any width.

[2018-06-08 01:19] whlysu commented on #6667
Thank you all @maxdow @hpinkos  @emackey ,I used the @emackey  proposal to solve the problem

[2018-06-08 03:02] lilleyse opened #6668 "Unable to load two Draco models with the same url"
See this [Sandcastle]( https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=1VVRb9MwEP4rVl+aoOB0XcfEKIPRCZBgMK0VD1AevOTaWHPsyHbaFbT/ztlO26Qbr0hUVVU79919/u47Z8U0WXFYgyaviYQ1mYDhdUm/+b2on/nlREnLuATdj1/N5QoxJgMJCAlY6pf4aC4XtcwsV5JkGpiFK5WDiGotElIAXxY2IZrJXJUTlhXwCTYx+T2XBD/hMaZsGOSwYLWw35ioIdpiB3TgGLh4x0JpvuRyj5kwbfEfk8d0oVV5CUsNYKLnR8NjOjgdjV4cvUzIaEQHJ4Pj08GLLad2ytIRvmJW8/t93hlyNgulS0MLYDmXy2tus+JG

[2018-06-08 07:12] kring commented on #6280
I believe this was fixed in #6331.

[2018-06-08 07:29] dminor112 opened #6669 "An error occurred while i init a viewer in electron"
An error occurred while i init a viewer in electron. But i work good in chrome. How can i do to resolve this?
my cesiumjs version 1.46
![image](https://user-images.githubusercontent.com/7435641/41144598-05b87dda-6b30-11e8-902b-3957b576a634.png)

my code:
![image](https://user-images.githubusercontent.com/7435641/41145122-a500d684-6b31-11e8-9f4f-fded40a1e7ca.png)

[2018-06-08 12:27] mramato commented on #6668
I marked this as next release since it breaks draco tilesets using instanced models.

[2018-06-08 12:43] puckey opened #6670 "webpack build includes node polyfills"
Analyzing my radio garden webpack build, I noticed that the build includes polyfills for several node.js libraries – over 100kb minified which isn't left out of the browser build.

The reason for this is the libraries being required in [loadWithHttpRequest inside Resource.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/4604a49acf71ca13ef1fd411b22b02870ca46971/Source/Core/Resource.js#L1844

[2018-06-08 14:15] mramato opened #6671 "local resources broken in Electron"
See the original thread here: https://groups.google.com/d/msg/cesium-dev/L-sUSJgpumE/7VD107UzBAAJ

Regression from 1.45 (works in 1.44), most likely related to #6454.

[2018-06-08 14:27] mramato commented on #6671
Adding `&& (!defined(process.versions) || !defined(process.versions.electron))` to `isNodeJs` fixes the initial error, but there appears to be might be some other issues we recently introduced as well

[2018-06-08 14:28] hpinkos commented on #6280
Yes, thanks @kring

[2018-06-08 14:28] #6280 closed

[2018-06-08 14:30] hpinkos commented on #6669
Hi @dminor112, have you seen this blog post? [An Introduction to Cesium Desktop Apps with Electron](https://cesium.com/blog/2016/04/04/an-introduction-to-cesium-desktop-apps-with-electron/)

[2018-06-08 14:32] hpinkos commented on #6670
Thanks @puckey

@ggetz @mramato do you have any ideas on this?

[2018-06-08 14:55] mramato commented on #6669
This is a dupe of #6671, we definitely need to fix this for next release.

[2018-06-08 14:55] #6669 closed

[2018-06-08 14:55] mramato commented on #6670
Related to #6671

[2018-06-08 15:13] ggetz commented on #6670
@puckey As for the polyfills, you can exclude them from your webpack build, see https://webpack.js.org/configuration/node/.

I've write up an issue to include that in the suggested webpack config/tutorial, see https://github.com/AnalyticalGraphicsInc/cesium-webpack-example/issues/8

[2018-06-08 15:36] ggetz commented on #5902
Updated

[2018-06-08 15:36] #5902 closed

[2018-06-08 15:37] puckey commented on #6670
Setting this value, I get the following build errors:

[code]

[2018-06-08 15:58] pjcozzi commented on #5902
Did you already rename all our docs in all our repos?

[2018-06-08 15:58] pjcozzi commented on #5902
already -> also

[2018-06-08 17:05] puckey commented on #6670
I noticed that without setting `node: false` in the webpack config, requiring [Buffer.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/7213d4d25e02deab085448250c5dca966f1dbfcc/Source/Renderer/Buffer.js) will cause the [buffer](https://www.npmjs.com/package/buffer) package to be included – since Buffer is a global in node..

[2018-06-08 17:16] ggetz commented on #6670
Try `node: 'empty'`, it'll provide an empty object so the require error won't be thrown.

[2018-06-08 17:29] ggetz commented on #5902
Yep, updated repos that had a beginner tag that wasn't `good first issue` or `help wanted`

[2018-06-08 17:37] puckey commented on #6670
That gives the following:
[code]

[2018-06-08 17:43] ggetz commented on #6670
It looks like you can provide an object and specify a value per node library: https://webpack.js.org/configuration/node/#other-node-core-libraries

We should specify `'empty'` for the node libraries we are referencing.

I'm going to close this issue in favor of AnalyticalGraphicsInc/cesium-webpack-example#8. If we want to continue to troubleshoot, we should move discussion to the forum or that iss

[2018-06-08 17:43] #6670 closed

[2018-06-08 19:02] pjcozzi commented on #5902
Great, but I meant the contributing guide, onramping material, etc.

[2018-06-09 18:36] pjcozzi opened #6674 "Rename ApproximateTerrainHeights functions"
To make the names more precise and less redundant:
* Rename `ApproximateTerrainHeights.getApproximateTerrainHeights` to `ApproximateTerrainHeights.getMinimumMaximumHeights`
* Rename `ApproximateTerrainHeights.getInstanceBoundingSphere` to `ApproximateTerrainHeights.getBoundingSphere`

@ggetz trivial and only used internally but perhaps a good beginner issue for Omar.

CC #6617

[2018-06-09 18:37] pjcozzi commented on #6633
@bagnell?

[2018-06-09 18:59] pjcozzi commented on #6656
How hard is this to implement?  Seems like it would be used often and straightforward just like making translucent objects pickable, but is there just more wrangling with extra framebuffers and/or passes?

[2018-06-10 00:31] fengzhongye opened #6675 "please tell me what's wrong with this?"
<img width="1216" alt="screen shot 2018-06-10 at 8 30 22 am" src="https://user-images.githubusercontent.com/4496435/41197216-9455c4ae-6c88-11e8-9735-f724d05c0321.png">

[2018-06-11 13:39] likangning93 commented on #6636
### Polylines on terrain on 3D Tilesets

The polylines on terrain algorithm currently in #6615 depends on the depth buffer, so that's a similar implementation hurdle for getting Polylines on Terrain to work on 3D Tiles.

Bigger problem though is that the geometry generation for Polylines on Terrain makes a lot of 2.5D assumptions, and won't behave as-expected for, say, drawing lines on the sides o

[2018-06-11 14:33] lilleyse commented on #6675
Hey @fengzhongye, can you provide a code sample?

[2018-06-12 01:41] 9lovingly opened #6676 "About 1.46 ,RuntimeError: Fragment shader failed to compile. Compile log: ERROR: 0:64: 'undefined' : undeclared identifier"
When I load the 3D tiles Data,and then the error:
RuntimeError: Fragment shader failed to compile.  Compile log: ERROR: 0:64: 'undefined' : undeclared identifier
ERROR: 0:64: 'texture2D' : no matching overloaded function found
ERROR: 0:64: 'SRGBtoLINEAR4' : no matching overloaded function found
ERROR: 0:64: '=' : dimension mismatch
ERROR: 0:64: '=' : cannot convert from 'const mediump float' to 'h

[2018-06-12 13:04] lilleyse commented on #6676
Thanks @9lovingly for the bug report.

The error is coming from `processPbrMetallicRoughness`. I believe the problem is the material has a base color texture but the primitive doesn't have texture coordinates. Would you be able to upload the model so we can confirm?

A line in the glTF spec says:

So it's possible it isn't a valid glTF model. Can you see if your model produces validation errors he

[2018-06-12 13:41] ggetz commented on #6652
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/a9yDu6S-HmI

[2018-06-12 13:44] fengzhongye opened #6677 "how to create a custom info box?"

[2018-06-12 13:44] fengzhongye commented on #6677
any examples?

[2018-06-12 14:19] hpinkos commented on #6677
Hello @fengzhongye, please ask this question on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev

We use GitHub exclusively for tracking bugs and planning new features. Thanks!

[2018-06-12 14:19] #6677 closed

[2018-06-12 14:20] hpinkos commented on #6675
@fengzhongye Please ask your question on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev

We use GitHub exclusively for tracking bugs and planning new features.  Thanks!

[2018-06-12 14:20] #6675 closed

[2018-06-12 14:23] hpinkos commented on #6652
I was able to reproduce this in Sandcastle by moving the camera around.  It does seem to be related to log depth.

@ngoluan as a workaround, you can set `viewer.scene.logarithmicDepthBuffer = false;` until we have a chance to fix the problem

[2018-06-12 15:00] bampakoa commented on #5717
Hi all,

I am currently experimenting with [tsd-jsdoc](https://www.npmjs.com/package/tsd-jsdoc) to produce a **typings** file for CesiumJS. I have finally managed to create an output file (not sure if it is ok, needs review) but I needed to make a bunch of modifications so that the tool can be aligned with CesiumJS. In detail:

- When I run the tool, I noticed some inconsistencies between the prim

[2018-06-12 20:17] #6502 closed

[2018-06-12 20:22] mramato commented on #6668
There's reports that i3dm draco tiles are not properly rotating models.  I re-opened this for now, but if it turns out to be an unrelated bug; please close.

Forum thread: https://groups.google.com/d/msg/cesium-dev/w5DnTHZATRo/nl6l0kZyAQAJ

[2018-06-13 00:51] mramato commented on #6668
Turns out the rotation issue was #6632 and not Draco related

[2018-06-13 00:51] #6668 closed

[2018-06-13 00:51] cesium-concierge commented on #6668
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/w5DnTHZATRo/nl6l0kZyAQAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-06-13 06:46] thw0rted commented on #5717
@szechyjs How did you generate these typings?  I saw in the NPM listing that you credit @zuzon so I assume you're starting from the same hand-massaged version I've been maintaining [in a gist](https://gist.github.com/thw0rted/c0c73335c9968d5e7b6dd18a43ef6c42).  I try to keep up with changes that are mentioned in the changelog but I'm sure there's plenty of stuff I've missed.  It's good to have *so

[2018-06-13 09:21] cmarmo commented on #6419
Hi, thanks to a European funding ([EuroplanetH2020](http://www.europlanet-2020-ri.eu/)), a generic Solar System bodies implementation in Cesium has been drafted.
The code is not in shape for a pull request and future funding is uncertain, but it is available on [github](https://github.com/epn-vespa/cesium/) and a demo is available [here](http://134.158.75.177/viewer/Apps/PlanetaryCesiumViewer).
Fe

[2018-06-13 13:07] mramato commented on #5717
@bampakoa First off, thanks for your interest in Cesium and desire to help the community!

Our usual preference is to submit patches to other tools upstream, that way we help improve them for everyone and play the role of good OSS citizen.  If customization is needed for Cesium, then having plug-in points for the `tsd-jsdoc` would be preferred over a fork.  That being said, I haven't looked at `ts

[2018-06-13 14:45] hpinkos commented on #6419
Thanks or sharing @cmarmo! Yeah, this looks like a great project to share on our Demos page.  @slchow what do you think?

[2018-06-13 14:49] mramato commented on #5717
Right, what I'm suggesting is that `tsd-jsdoc` should treat `Number` in JSDoc as `number` in TypeScript.

[2018-06-13 15:00] thw0rted commented on #5717
I don't know enough TS (or JS for that matter) to tell you if that's safe.  The primitive/object-box distinction is not unique to TS, it exists in JS as well -- see e.g. [the MDN docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number).  Cesium functions almost definitely don't *require* a boxed object, so I *think* they should probably specify the unboxed pri

[2018-06-13 16:06] mramato commented on #5717
@thw0rted, that's actually a really good point and may be a good reason to update Cesium to `number` instead of `Number`.

[2018-06-13 19:34] ggetz commented on #5902
Updated in all our guides mentioning it :+1:

[2018-06-13 20:51] bagnell commented on #6633
This is expected behavior. Should you be able to pick through classifications? That would be an easy change.

[2018-06-13 20:56] hpinkos opened #6687 "Clean up 'New in 1.XX' for Sandcastle"
I think we should change the following to prevent things from showing up under the 'New in 1.xx' label when they shouldn't be there, and to prevent things from showing up there twice.

- [ ] Remove the `New in 1.xx` label from the `cesium-sandcastle-labels` meta tag when you use 'Save as' to save the demo
- [ ] Don't add the `New in 1.xx` label to things in `gallery/development`

[2018-06-13 20:59] lilleyse commented on #6633
Normally no, but since `allowPicking` is false I would expect it to pick through?

[2018-06-13 21:03] bagnell commented on #6633
It works the same as if there was a translucent primitive in front of the buildings that had `allowPicking` set to false. Would you expect to pick through the primitive to the building? I would understand if classification should be different though.

[2018-06-13 21:10] lilleyse commented on #6633
Alright, it sounds like this is expected behavior then. `drillPick` is an alternative when wanting to pick through.

[2018-06-13 21:10] #6633 closed

[2018-06-14 09:16] bampakoa commented on #5717
@szechyjs I have used your typings in one of my past projects and looks awesome. Very nice effort!

@mramato thank you very much for your feedback, I really appreciate. I am currently in the process of fixing bugs and contribute back to the library. As soon as, I have a good working copy, I will get back with a PR so anyone can take a look and help.

[2018-06-14 14:17] ggetz commented on #3845
Brought up on the forum, I think this is causing issues with zooming in orthographic mode: https://groups.google.com/forum/#!topic/cesium-dev/hBNRZ69Tx20

[2018-06-14 14:45] pjcozzi commented on #6652
@bagnell any thoughts on this?

[2018-06-14 17:06] eatapl opened #6688 "different behavior minified vs unminified, normalized result is not a number"
When digging into "normalized result is not a number" exceptions (see #4863, #4801, etc.) I observe  different behavior between the minified and unminified versions where minified does not throw the exception and unminified does.

Example code taken from #4863 using Chrome 6x on Win 10 x64 w/ Cesium 1.44, 1.45, & 1.46:

`var viewer = new Cesium.Viewer('cesiumContainer');

var hierarchy = [ -180,90

[2018-06-14 17:19] eatapl commented on #4108
Will these changes also apply to rendering GeoJsonDataSource ?

[2018-06-14 17:20] shunter commented on #6688
This is by design.  The unminified build has additional runtime checks which can impact performance.  As a result the recommendation has always been to develop and test applications locally with the unminified version, and deploy the minified version.

[2018-06-14 17:20] #6688 closed

[2018-06-14 21:17] likangning93 opened #6691 "Can we reduce polyline smears on steep slopes?"
Polylines on terrain smear on steep slopes, since it's similar to a shadow volume:

![smear](https://user-images.githubusercontent.com/5395255/41438455-4ffe3370-6ff5-11e8-96db-d2ef465f8a0e.JPG)

[code]
(Note that this won't work until https://github.com/AnalyticalGraphicsInc/cesium/pull/6689 is merged)

We compute local terrain slopes for materials on ground primitives using the globe depth textur

[2018-06-17 18:06] pjcozzi commented on #5765
OK to close this or is there more in https://github.com/AnalyticalGraphicsInc/cesium/issues/5765#issuecomment-335950848?

Perhaps clipping cube/volume should be a separate issue?

[2018-06-17 18:36] pjcozzi commented on #5808
@bagnell can you please update the tasklist at the top of this issue?

[2018-06-17 18:37] pjcozzi commented on #4009
@lilleyse can you please update the tasklists in this issue?  What's left?

[2018-06-17 20:01] lilleyse commented on #5695
Fixed in https://github.com/AnalyticalGraphicsInc/cesium/pull/6421

[2018-06-17 20:01] #5695 closed

[2018-06-17 20:09] lilleyse commented on #4009
Updated the task list. The major things left are:
* Sparse accessors
* Spec gloss extension
* Update 3d-tiles samples and projects to use 2.0 (in progress)

[2018-06-17 23:52] pjcozzi commented on #6488
@lilleyse is this finished?

[2018-06-18 00:03] pjcozzi commented on #2172
@likangning93 can we close this?

[2018-06-18 00:18] pjcozzi commented on #2691
@hpinkos is this OBE with #6621?

[2018-06-18 00:19] pjcozzi commented on #3026
Not a big enough problem in practice...or maybe at all with glTF 2.0.

[2018-06-18 00:19] #3026 closed

[2018-06-18 00:19] pjcozzi commented on #3103
@lilleyse OK to close this?

[2018-06-18 00:25] ediebold opened #6694 "Support for polygon outlines on terrain"
I saw the exciting development in https://github.com/AnalyticalGraphicsInc/cesium/pull/6615 that will allow polylines on terrain!

I was wondering if this new method could also be used for polygon outlines? I assume those are drawn in a very similar way. If we can get polygon outlines on terrain, I believe Cesium will fully support clamping all the classic vector data types to terrain!

[2018-06-18 00:32] pjcozzi commented on #5679
@ggetz OK to close?

[2018-06-18 00:33] pjcozzi commented on #5776
@lilleyse is this still an issue in the latest gltf-pipeline?

[2018-06-18 12:15] pjcozzi commented on #5022
@jasonbeverage any chance you are still planning to do this / already started???

[2018-06-18 12:41] lilleyse commented on #6488
No, most of the 3D Tiles 1.0 changes have not been implemented in Cesium yet, besides https://github.com/AnalyticalGraphicsInc/cesium/pull/6678.

Now that the 1.0 edits have been stable for a while I'll open a task list issue for all the items that need to get into Cesium.

[2018-06-18 12:42] lilleyse commented on #3103
Yes, fine to close.

[2018-06-18 12:42] #3103 closed

[2018-06-18 12:47] lilleyse commented on #5776
Now extras are only added to buffers, images, and shaders, so it has improved. Still it would be better to remove them completely. @ggetz can you look at this as part of Cesium's gltf-pipeline upgrade?

[2018-06-18 13:05] jasonbeverage commented on #5022
Hey Patrick,

I actually did start looking at this and did some promising experiments.
 I'm still working on getting funding lined up for it, along with some
other cesium related tasks.  Ill ping my customer again and see if we can
get something lined up.

Jason

On Mon, Jun 18, 2018, 8:15 AM Patrick Cozzi <notifications@github.com>
wrote:

[2018-06-18 14:03] hpinkos commented on #2691
Should be

[2018-06-18 14:03] #2691 closed

[2018-06-18 14:12] hpinkos commented on #6694
Hi @ediebold!  While that polylines on terrain PR gets us closer to supporting this, there's a little bit more work we'd have to do to make sure the outlines match up with the fill for all of the ground geometry types (corridor, ellipse, polygon and rectangle).  I'm just not sure how soon we'll have a chance to look into it, but I don't think it will take very much time to do.  Thanks for opening

[2018-06-18 14:19] mramato commented on #6694
We've talked in the past about replacing the standard WebGL outlines we currently use with polyline primitive lines.  The benefit to this is that they would be stylable and as of this month, would support clamping on terrain.  @bagnell said the change itself is not very hard but there was concern about outline quality (awkward corners of a box for example).

Of course we haven't had this conversat

[2018-06-18 14:28] hpinkos commented on #4108
@eatapl we haven't hooked this up to GeoJson because I couldn't find anything in the GeoJSON spec that can be used to specify polygon ordering.  Does GeoJSON have a property used for ordering that I missed?  Thanks!

[2018-06-18 14:32] ggetz opened #6696 "Clipping cube/volume"
Support for a clipping cube/volume on models and 3D tilesets.

CC https://github.com/AnalyticalGraphicsInc/cesium/issues/5765

[2018-06-18 14:34] ggetz commented on #5765
Opened #6696 for clipping volume and closing.

@lilleyse I didn't see anything else concrete in https://github.com/AnalyticalGraphicsInc/cesium/issues/5765#issuecomment-335950848 to also open an issue for, let me know if you see anything else that should.

[2018-06-18 14:34] #5765 closed

[2018-06-18 14:34] #5120 closed

[2018-06-18 14:36] lilleyse commented on #5158
Fixed in https://github.com/AnalyticalGraphicsInc/cesium/pull/6088

[2018-06-18 14:36] #5158 closed

[2018-06-18 14:36] hpinkos commented on #6696
Prototype for point clouds can be found on this branch: https://github.com/AnalyticalGraphicsInc/cesium/tree/clipping-box-point-clouds

[2018-06-18 14:37] lilleyse commented on #6591
Fixed in #6632

[2018-06-18 14:37] #6591 closed

[2018-06-18 14:39] #5679 closed

[2018-06-18 14:43] lilleyse commented on #5844
I checked that this has since been fixed after the resource loading overhaul. Paths starting with a slash should now point to the server root directory.

[2018-06-18 14:43] #5844 closed

[2018-06-18 14:47] lilleyse commented on #5508
Was added back in the `3d-tiles` branch.

[2018-06-18 14:47] #5508 closed

[2018-06-18 14:51] pjcozzi commented on #5022
Very nice @jasonbeverage, please keep me posted so we can best support you!

[2018-06-18 14:58] lilleyse opened #6697 "3D Tiles 1.0 Updates"
These are the updates required to load tilesets defined by the [3D Tiles 1.0 spec](https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/1.0).
@ggetz if you think of others feel free to add to this list.

**Now**:
* [x] Add support for b3dm RTC_CENTER #6488. The glTF 1.0 extension `CESIUM_RTC` will still be supported but this is the preferred method.
* [x] content.url changed to content.uri. Supp

[2018-06-18 15:02] lilleyse commented on #6697
In the near future we should also go through all the items in https://github.com/AnalyticalGraphicsInc/cesium/issues/5363 and remove the deprecation checks.

[2018-06-18 15:27] emackey commented on #4009
* Multi UV maps

[2018-06-18 16:02] jasonbeverage commented on #5022
Thanks a bunch, I'll keep you posted.  I'm hoping we can get started this
summer but you never know.

On Mon, Jun 18, 2018, 10:52 AM Patrick Cozzi <notifications@github.com>
wrote:

[2018-06-18 16:14] Tarlan0001 opened #6698 "Cesium Earth: Is it possible to make the trailing path thinner?"
I'm using the Cesium library to simulate the satellite motion. This code is used to show the path:

    path:{
                    leadTime:data.data_list[0].period/2,
                    trailTime:data.data_list[0].period/2,
                    width:1.5,
                    material: color
                  }

Is there a way to make the trailing path thinner?

As an example, the SpaceX video: ht

[2018-06-18 19:01] mramato commented on #6698
@emackey gave a pretty comprehensive answer to this on Stack Overflow: https://stackoverflow.com/a/50914470/3191039

[2018-06-18 19:01] #6698 closed

[2018-06-18 19:42] ggetz commented on #6697
@lilleyse I double checked and this list seemed comprehensive. The only thing else I can think of is if the padding clarifications require any implementation changes, which I don't believe they do.

[2018-06-18 21:00] ggetz commented on #873
`onRegion` networkLink event support requested on the forum: https://groups.google.com/forum/#!topic/cesium-dev/MOuIjyW4pew

[2018-06-18 21:03] hpinkos opened #6699 "Billboard depth testing performance improvements"
Leftover from #6621

Right now we're doing the depth testing checks in the fragment shader.  We can move most of this to the vertex shader (when texture reading in the vertex shader is supported), but the math will be slightly different for computing the screen coordinates.

See this comment: https://github.com/AnalyticalGraphicsInc/cesium/pull/6621#discussion_r195212797

[2018-06-18 21:31] likangning93 opened #6700 "Switch datasources to use polylines on terrain"
At least `KMLDataSource` is using corridors for polylines clamped to terrain, but now we can use polylines when available.

What other datasources can be updated?

[2018-06-18 22:08] likangning93 commented on #2172
@pjcozzi :+1: from me

[2018-06-18 22:09] #2172 closed

[2018-06-18 22:10] pjcozzi commented on #6699
Let's please do this for the upcoming release as it will be a significant performance win for a large number of billboards, which is a common case.

[2018-06-19 13:39] OmarShehata opened #6702 "GroundPolylineGeometry should detect when only one unique point given."
@likangning93 currently, the following code crashes with the following error.

[code]

[code]

This is because, given two duplicate points, GroundPolylineGeometry will remove the duplicate, but it still assumes there will be at least 2 points. I think it should detect when that happens and not draw anything (see discussion here https://github.com/AnalyticalGraphicsInc/cesium/pull/6693#issuecomment

[2018-06-19 13:42] alextym opened #6703 "Collada. Double sided texture do not work on server"
I create dae file to export to cesium. My surface has texture only on back (one side of surface). I want it has face and back texture. In collada spec 1.5 (page 26) i see that we should apply semantic attribute with double sided:
I use
[code]
inside library_effects>profile_COMMON
Is problem in my code or on the server? Thanks for any help.

[2018-06-19 14:16] likangning93 commented on #6702
Thanks for the heads up @OmarShehata!

[2018-06-19 14:28] hpinkos commented on #6567
@tfili do you have a minute to look at this?

[2018-06-19 14:29] hpinkos commented on #6703
Hello @alextym, Cesium doesn't support COLLADA directly, you'll have to convert it to glTF first.  We have a hosted converter here: http://52.4.31.236/convertmodel.html

If you have any follow up questions, please ask them on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning new features.  Thanks!

[2018-06-19 14:29] #6703 closed

[2018-06-19 14:36] mramato commented on #6700
These should be be trivial changes, so it would be nice to have them in the next release.

[2018-06-19 15:41] #6702 closed

[2018-06-19 18:43] likangning93 commented on #6700
Does this include adding `clampToGround` to Czml polylines?

[2018-06-19 18:45] mramato commented on #6700
Yes, does the entity API default to true or false?

[2018-06-19 18:46] likangning93 commented on #6700
It defaults to false. I'm not sure about what else needs to be edited though in terms of CZML documentation/wiki stuff.

[2018-06-19 18:48] mramato commented on #6700
@likangning93 the czml-writer repository is where all of that stuff gets handled.  CzmlDataSource itself will likely be a one line change.  You can work with @shunter to get the property added to the spec.

Glad to hear it defaults to false, since that makes it a non-breaking change.

[2018-06-19 19:40] #6652 closed

[2018-06-19 19:40] cesium-concierge commented on #6652
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/a9yDu6S-HmI

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-06-19 19:40] hpinkos commented on #6652
Thanks again for the bug report @ngoluan!  This issue has been fixed and will be included in the 1.47 release available July 2nd.

[2018-06-19 20:04] lilleyse opened #6705 "Add per-feature post processing to entities"
See https://github.com/AnalyticalGraphicsInc/cesium/pull/6680#discussion_r195418892

[2018-06-19 21:08] tfili commented on #6567
It looks like it was introduced with

https://github.com/AnalyticalGraphicsInc/cesium/commit/34c4ff9f0083aee58052429c4763f56f348c4811

[2018-06-19 21:44] hpinkos commented on #6567
@rezn8d that's the commit that's causing the problem.  We're going to try to fix it for the next release (1.47)

[2018-06-20 02:33] giscrazier opened #6709 "建议将API文档重构"
建议将API文档重构下，左侧用一个树状结构将API进行分类。这样更有利于查阅。

[2018-06-20 07:01] alextym commented on #6703
Hello @hpinkos, thank you.

[2018-06-20 22:11] slchow commented on #6419
Yes, let's showcase! I'm in touch with @cmarmo

[2018-06-20 22:59] bagnell commented on #6694
Polylines on terrain would have an issue where the lines would overlap the polygon because of the constant pixel with. This might only be a problem for translucent polylines though. The other issue is with extruded geometry where the lines from the top surface to the extruded bottom wouldn't connect. Here is an example:
![image](https://user-images.githubusercontent.com/1494815/41688919-1303321a-7

[2018-06-20 23:08] mramato commented on #6694
I'm curious as to what that looks like with a much narrower outlines, (1-2 pixels).

With the number of posts we get about "outline width not working" and the necessity of outlines on terrain in order to support terrain on by default, my vote would be to make this change.  I think it's a net positive win and people would be more than willing to accept the artifacts if they can have terrain and lin

[2018-06-20 23:22] bagnell commented on #6694
Same issues but not as noticeable at 2 pixels.
![image](https://user-images.githubusercontent.com/1494815/41689600-4d5847e0-74bf-11e8-92ab-201214313704.png)

[2018-06-20 23:29] ediebold commented on #6694
Speaking as a random user, I think the number of use cases this would add support to will outweigh the ones it would won't. I think most people would still be happy with this update even if it came with some caveats such as transparent or thick lines looking weird.

[2018-06-21 05:05] madole opened #6711 "GroundPolylinePrimitive._initializeTerrainHeightsWorker fails when app is served via a proxied domain"
GroundPolylinePrimitive._initializeTerrainHeightsWorker tries to load in the `approximateTerrainHeights.json` from a relative path.

[code]

This then calls the `buildModuleUrl` function with that path before passing it to `Resource.fetchJson`

[code]

`buildModuleUrl` first does a check to see if it's running in node by checking `typeof document === 'undefined'` and if true, it just returns `modu

[2018-06-21 06:51] miniergouzi opened #6712 "PolylineVolumeGeometry improvements"
![m 0kz uqgx2 3c58xskxw6b](https://user-images.githubusercontent.com/40375251/41702138-8f8373d6-7561-11e8-8b7a-794ecf4fda1a.png)

var viewer = new Cesium.Viewer('cesiumContainer');

function computeStar(arms, rOuter, rInner) {
    var angle = Math.PI / arms;
    var length = 2 * arms;
    var positions = new Array(length);
    for (var i = 0; i < length; i++) {
        var r = (i % 2) === 0 ? rOut

[2018-06-21 06:58] miniergouzi commented on #6712
var viewer = new Cesium.Viewer('cesiumContainer');

 function computeStar(arms, rOuter, rInner) {
    var angle = Math.PI / arms;
    var length = 2 * arms;
    var positions = new Array(length);
    for (var i = 0; i < length; i++) {
        var r = (i % 2) === 0 ? rOuter : rInner;
        positions[i] = new Cesium.Cartesian2(
            Math.cos(i * angle) * r, Math.sin(i * angle) * r);
    }

[2018-06-21 12:31] mramato commented on #6694
@bagnell I think it's important to note that there are already existing artifacts with outlines on polygons, so this might actually improve things in that department.  Here's the GeoJSON example with outlines turned on, notice how the lines are broken up even though the extruded polygon is translucent:

![image](https://user-images.githubusercontent.com/1495196/41719140-2a4b6df4-752d-11e8-9e30-af7

[2018-06-21 12:35] mramato commented on #6694
@lilleyse @likangning93 @ggetz anyone have any thoughts here, either technical or on the desires of the community?

[2018-06-21 13:02] likangning93 commented on #6694
Should be pretty easy to add a flag that lets polylines on terrain only "extend" in one direction for the simulated screen space width thing. Might not even have to be a batch breaker.

For funny corners with regular polylines, I wonder how much more acceptable it'll look if we create polyline loops for the extrusion caps. Maybe want to construct the loops such that the start/end aren't at a corne

[2018-06-21 13:47] kladess opened #6713 "glb model was rotated 90 degree in current master branch version"
Developed using glb and czml, a source for master branch is being built and used.
All 3D models were rotated CCW direction  in master branch.

using Cesium 1.46.1 version
![1_46_1](https://user-images.githubusercontent.com/6187128/41722403-6999c782-75a3-11e8-82da-0d341a77e077.png)

using 488ca6701a883923b9cecb2e858531eef1012364 version

![current_master_branch_issue](https://user-images.githubuser

[2018-06-21 13:55] ggetz opened #6714 "Option to clamp point cloud points to terrain"
Requested on the forum: https://groups.google.com/forum/#!topic/cesium-dev/Wb4d5ud7nFw

[2018-06-21 15:08] hpinkos commented on #6714
If we were to address this use case, I feel like this is something that would happen as part of the conversion to 3D tiles, not runtime in CesiumJS.  @lilleyse what do you think?

[2018-06-21 15:10] #6567 closed

[2018-06-21 15:13] hpinkos commented on #6567
Hi @rezn8d!  We fixed an issue with loading a KML file with an image that wasn't loading correctly #6710.  This will be included in the upcoming 1.47 release available on July 2nd.  I'm pretty sure this will fix the crash you were seeing, but if it doesn't feel free to open another issue after upgrading to 1.47.  Thanks!

[2018-06-21 15:37] #6700 closed

[2018-06-21 16:17] lilleyse commented on #6713
This change was added in https://github.com/AnalyticalGraphicsInc/cesium/pull/6632 to orient glTF 2.0 models with Cesium's forward axis. But it looks like this is a case where the conversion is not desired.

@emackey do you know if there might be a clean way to control the forward axis setting from within the CZML and entity layers?

[2018-06-21 16:23] mramato commented on #6713
@lilleyse  If it's a 2.0 model, isn't this desired behavior?  Didn't we list #6632 in breaking changes?

[2018-06-21 16:29] lilleyse commented on #6713
Yes it's expected behavior, however the forward axis conversion is really intended for objects in motion https://github.com/AnalyticalGraphicsInc/cesium/pull/6632#issuecomment-392893516.

There is a gray area for buildings and other things that don't have a concept of a forward axis, which is why we disabled the rotation for 3D Tiles. This case is more similar to the 3D Tiles case, just that its c

[2018-06-21 16:52] hpinkos commented on #6712
Hello @miniergouzi, thanks for opening this issue!  I've known about this behavior for a while, but it looks like we don't have a GitHub issue open for it.  I designed the `PolygonVolumeGeometry` so that the end caps are always perpendicular to the earth's surface, but that was the wrong decision.  They should be perpendicular to the center line instead.

I started making changes to it on this bra

[2018-06-21 17:48] hpinkos commented on #6711
Thanks for catching this before it went out in the release @madole!  I've opened up a pull request fixing it here: #6715

[2018-06-21 18:09] hpinkos commented on #6230
I've been seeing this all the time lately

[2018-06-21 18:09] hpinkos commented on #6230
https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/395137713

[2018-06-21 18:40] ggetz commented on #6193
@hpinkos Could you take a look at providing steps to reproduce?

[2018-06-21 18:41] hpinkos commented on #6193
@ggetz yes, this is next on my list as soon as I wrap up the few features I'm working on

[2018-06-21 19:15] likangning93 commented on #6711
@madole @hpinkos does this also apply to non-worker requests for the terrain heights JSON too?
Seems like that would be asking for just `http://proxied-url.com/Assets/approximateTerrainHeights.json`, which presumably also doesn't exist.

[2018-06-21 20:36] ProjectBarks commented on #6714
@hpinkos That was what I thought about doing as well. Similar to [Cesium.sampleTerrainMostDetailed](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/sampleTerrainMostDetailed.js) works but offline. My concern with this solution is if the terrain is modified the points would have to be recomputed.

The other solution I thought of was tying the tile loading process to the poin

[2018-06-21 22:37] kripod opened #6718 "Stringifying Iso8601.MAXIMUM_VALUE results in an invalid ISO 8601 date"
Calling `Cesium.Iso8601.MAXIMUM_VALUE.toString()` or `Cesium.JulianDate.toIso8601(Cesium.Iso8601.MAXIMUM_VALUE)` results in an invalid ISO 8601 date: `10000-01-01T00:00:00Z`. The correct result would be `9999-12-31T24:00:00Z`.

[2018-06-21 23:45] #2694 closed

[2018-06-21 23:45] cesium-concierge commented on #2694
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/mm2Xipqbp-g/AoSvaHcUAQAJ
https://groups.google.com/d/msg/cesium-dev/Z68H4SHnAAY/MzQTuxkQDAAJ
https://groups.google.com/forum/#!topic/cesium-dev/73iP8rzzGuU
https://groups.google.com/forum/#!topic/cesium-dev/kQiuFbnTpSQ

If this issue affects any of these threads

[2018-06-22 00:55] #6712 closed

[2018-06-22 01:15] kladess commented on #6713
I attach some of the glb and czml I am using.

[output.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/2125830/output.zip)

[2018-06-22 01:50] madole commented on #6711
yeah it's handled in `buildModuleUrl`, because the non-worker context would have `document` in scope, it'll build the path using `CESIUM_BASE_PATH` so it's just the workers that have the issue

[2018-06-22 08:33] ProjectBarks commented on #6714
After doing further research I now believe the proper solution would to be a shader level toggle that offsets the point above the terrain at runtime; unless some faster endpoint was exposed to the user.

[2018-06-22 09:26] ollazarev opened #6719 "The error in computing the bbox value (WMS Imagery Provider)"
1. The WMS Imagery provider start from the third level computes the BBOX values with an error. Example:

![untitled-0](https://user-images.githubusercontent.com/5917702/41769272-6511a1e8-7617-11e8-8eb0-c773a04e7924.png)

2. WMS Imagery provider code:

[code]

3. Cesium version: 1.46.1

[2018-06-22 13:18] lilleyse commented on #6714
The main problem with the shader approach is terrain heights are not available there. I can't think of a way around that right now.

What you're doing now is probably the best way to do this dynamically but I agree with @hpinkos that it would be easiest to clamp to terrain on the content creation side. This is what we do for 3D buildings which face a similar sort of problem. Your concern is valid

[2018-06-22 20:04] ProjectBarks commented on #6714
@lilleyse Would it be possible to see a demo of the implementation for fuzzy point testing? The content creation idea works but is way too slow to run at scale. So I think a fuzzy depth tester would be the best of both solutions.

[2018-06-22 21:05] shunter commented on #6718
`9999-12-31T24:00:00Z` and `10000-01-01T00:00:00Z` actually are the same instant, that is, they are equal, so both are correct representations.

The inconsistency though is that

`Cesium.JulianDate.fromIso8601(Cesium.Iso8601.MAXIMUM_VALUE.toString())`

throws an exception.  We can change the formatting code to special case that specific instant and produce the `24:00:00` string.

[2018-06-23 00:02] #6718 closed

[2018-06-23 15:48] rezn8d commented on #6567
THANK YOU! July 2nd can't get here fast enough!

[2018-06-23 18:17] lilleyse commented on #1825
Also related: https://groups.google.com/forum/#!topic/cesium-dev/HsYgOawTCNI

[2018-06-23 23:09] pjcozzi opened #6727 "Decouple 3D Tiles and other loaders"
We are getting increased interest for developers to be able to use 3D Tiles, Quantized Mesh Terrain, and imagery (and presumably CZML and glTF) in other engines and they would like helper libraries for parsing and traversing these data structures.

For example, A-Frame just rewrote/extracted a small subset of CesiumJS but wants to reuse a common library shared with CesiumJS, https://blog.mozvr.com

[2018-06-25 03:20] lilleyse commented on #6714
Honestly the infrastructure isn't really set up for my idea, you would need to make the framebuffer's depth texture available to the point cloud shader. But after that it should be something like this in the fragment shader (with `depthTestAgainstTerrain` false):

[code]

[2018-06-25 07:05] dminor112 opened #6728 "Does the Cesium.Polyline class have this attribute of disableDepthTestDistance?"
I found that when i want to keep a billboard always visiable, i can set the billboard option disableDepthTestDistance = Number.POSITIVE_INFINITY. but i does not work with a polyline. Is any way i can do to keep a polyline always visiable?

[2018-06-25 07:52] chenluweixi commented on #4863
![image](https://user-images.githubusercontent.com/7943198/41837217-741a34f0-788f-11e8-90d8-3d90a3a9447e.png)
Hi!
I have this same problem, and I can reproduce it.
code:`var viewer = new Cesium.Viewer('cesiumContainer');

var greenPolygon = viewer.entities.add({
    name : 'Green extruded polygon',
    polygon : {
      hierarchy:{
          positions:[
              {x:-1282429.5526432437,y:51881

[2018-06-25 08:04] smills2929 commented on #4776
I can confirm I am having the same issue.

[2018-06-25 12:10] GatorScott commented on #4863
What you have is a polygon with a duplicate point in latitude/longitude, differing only in height.

`(103.88428702847558, 33.16795772591805, 0)
(103.88591985578114, 33.16720668602253, 0)
(103.88718838345685, 33.1680914037599, 0)
(103.8845847278203, 33.16895539819639, 0)
(103.8845847278203, 33.16895539819639, 2419.198565875114)`

This will work if `perPositionHeight: true` is specified when you def

[2018-06-25 14:22] hpinkos commented on #6728
Hello @dminor112, polyline does not have a `disableDepthTestDistance` property.  However, you can set at `depthFailMaterial`.  The polyline will draw with that material when it is behind or under terrain.  If you set it to the same color as the `material` it will effectively be the same as having the polyline always visible.
In the future, if you have questions please ask on our forum: https://gro

[2018-06-25 14:22] #6728 closed

[2018-06-25 15:25] #6671 closed

[2018-06-25 15:25] cesium-concierge commented on #6671
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/L-sUSJgpumE/7VD107UzBAAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-06-25 15:29] hpinkos commented on #6713
@lilleyse should we close this issue?  Can you update the comment in `CHANGES.md` to include what our recommendation is for our users with existing models with the wrong forward axis?  We need an answer here before the release

[2018-06-25 15:30] hpinkos commented on #6193
Probably not going to have a chance to look at this for the July release, but I'll have a reproducible example ASAP so we can fix this for the August release

[2018-06-25 15:59] hpinkos commented on #6070
Parked in this branch: https://github.com/AnalyticalGraphicsInc/cesium/tree/terrain-snow-shading

[2018-06-25 16:13] hpinkos commented on #6719
@ollazarev I'm sorry, I don't understand what the problem is.  Can you please elaborate a little on the error you're seeing and what you expect the results to be?

[2018-06-25 17:49] hpinkos commented on #4863
Thanks for reporting that @chenluweix!  We should be removing those duplicate positions to avoid that crash.  I open up this pull request to fix that problem: #6731

[2018-06-25 18:50] lilleyse commented on #5363
Remove workaround that allows loading unaligned glb's. The alignment rules are much more solid in the 1.0 spec.

When fixing, look for `The embedded glb is not aligned to a 4-byte boundary`

[2018-06-25 20:12] mramato commented on #6713
@emackey any thoughts here?  I'm of the opinion that this is a breaking change regarding Cesium's interpretation of glTF 2.0 model orientation and should be listed as such in CHANGES.  However, the change itself is good and I think we just need to close this issue.

If we can't come to a consensus, then we might have to back out the orientation changes until we can.

[2018-06-25 20:33] hpinkos commented on #6713
@mramato It is already listed in under `Breaking Changes`, but I think we need to add a recommendation for a path forward for existing models using an incorrect orientation to meet our previously wrong implementation.  That's why I labeled this `next release, doc`. After that I agree, this issue can be closed.  Unless I'm missing some other detail.

[2018-06-25 20:36] mramato commented on #6713
This comment from @lilleyse is what I was concerned about:

I don't think we should special case orientation anywhere (3D Tiles doesn't count because the spec allow you to override up axis specifically).

[2018-06-26 02:46] kladess commented on #6713
i was rotated 90 degrees on the y-axis all models . But it seems that everyone needs to turn around all of the models they've built for the previous version, but they need instructions and tools.

[2018-06-26 04:21] dminor112 commented on #6728
ok, thank you!
And I still have some problem, is  depthFailMaterial supported with chrome? There is no effect with the demo : https://github.com/AnalyticalGraphicsInc/cesium/issues/5333
![image](https://user-images.githubusercontent.com/7435641/41889125-6c271e50-793b-11e8-8f2c-89fa2bd7ea18.png)

[2018-06-26 14:14] lilleyse commented on #6713
It's unfortunate that is a breaking change for models that aren't necessarily wrong. They just don't have an implicit forward axis (for example, this model has heading and altitude baked in).

<img width="208" alt="view1" src="https://user-images.githubusercontent.com/915398/41916477-20edb328-7926-11e8-988a-5aead5651de8.PNG">
<img width="213" alt="view2" src="https://user-images.githubusercontent.

[2018-06-26 14:19] hpinkos commented on #6728
@dminor112 that issue is open because `depthFailMaterial` doesn't currently work with dynamic polylines.  However, it works with static ones.  See the `Sample line positions and draw with depth test disabled` part of this demo: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Ground%20Clamping.html&label=All

[2018-06-26 23:06] MattF-NSIDC commented on #6365
Just adding my :+1: to this issue: We're developing an app with Cesium that requires drawing rectangles that may be globally symmetrical, resulting in a center of `(0,0,0)` to `updateBatchTableBoundingSpheres`. I created an SSCCE (sscce.org) using the sandcastle app that shows this error from drawing a rectangle. Comment `  scene3DOnly: true,` line to fix it, but we'd prefer to keep our memory usa

[2018-06-27 04:10] chris-cooper opened #6734 "GroundPolylinePrimitive doesn't appear with requestRenderMode: true"
In the `development/Polylines On Terrain` sandcastle example, if you initialize the viewer with...
[code]
The "Toggle instance show" button stops working after initial render.

In an app this prevents these polylines from initially appearing even if you `requestRender()` when adding the geometry.

[2018-06-27 04:38] chris-cooper opened #6735 "GroundPolylinePrimitive and Ground Primitive materials render poorly on newer mobile devices"
![image](https://user-images.githubusercontent.com/484870/41953063-cc33ae9a-7a16-11e8-8255-42acc486e5d1.png)

These lines dance as the camera moves.  This is on an MP2F2LL/A.

[2018-06-27 13:43] mramato opened #6736 "New Drawing demo causes console warnings"
The new Drawing on Terrain demo tries to enable polygon outlines, which are not supported on terrain.  The demo should just remove the outline option from its polygons.

CC @OmarShehata

[2018-06-27 14:06] likangning93 commented on #6735
There seems to be a problem with materials on ground polygons too... maybe this is depth buffer related?

[2018-06-27 15:01] hpinkos commented on #6365
Here's the problem code: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Primitive.js#L1395-L1400

Firstly, we should skip computing the 2D bounding sphere when `scene3DOnly: true` if possible.  And there has to be some way to project a bounding sphere centered at `(0,0,0)` to 2D.  Can we pick something like ` longitude: 0, latitude: 0, height: -Ellipsoid.WGS84.x` as the `

[2018-06-27 15:16] likangning93 commented on #6735
At least part of this is weird depth buffer stuff:

![2018-06-27](https://user-images.githubusercontent.com/5395255/41983153-3d2322d2-79fb-11e8-878d-4e92ddebcbed.jpg)

[Sandcastle to reproduce.](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=lVhfU9s4EP8qOh4a+zAK0D7cFOgcE9KWOVqYJne9zjDTUW3F0SFbPll2Eph891vJsS05duF4AGv//HZX2l2tKIlEJaMrKtEFSukKTWjOigT/ZWjeKDTLiUgVYSmVI//sPi1BJw9pSkGl0sVmCayKqSSL

[2018-06-27 15:44] lilleyse commented on #6713
CHANGES.md edits are here https://github.com/AnalyticalGraphicsInc/cesium/pull/6738.

@kladess since this problem affects your data, do you think the updated instructions are clear?

[2018-06-27 15:45] likangning93 commented on #6735
Part 2 of the problem (aka the part that's probably my fault):
materials on ground polygons work *roughly* correctly (jitter problem when moving from above) when using approximate inverse trig, but not when using planar methods!

[Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=lVRRT9swEP4rXl+aiMqF19GioYwNtLIhivZUCRnnkno4vsh2igD1v+8SN21I6cRcqa3v7vvuu8tdVsKylYInsGzKDDyxBJyqCv67sUVD

[2018-06-27 15:56] likangning93 commented on #6735
Actually, to reduce noise I'm going to move tracking for this into a separate issue. I'm pretty confident it's a similar problem under the hood.

[2018-06-27 15:59] likangning93 opened #6739 "Materials for Ground Primitives don't work for small areas on newer mobile devices"
[Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=lVRRT9swEP4rXl+aiMqF19GioYwNtLIhivZUCRnnkno4vsh2igD1v+8SN21I6cRcqa3v7vvuu8tdVsKylYInsGzKDDyxBJyqCv67sUVD2VwTNF4oA3YYny7MijBOggGCBCxvruRi2xPCMMsceIo75scn5CdrAIDxyitwXKRp9BqAFqQXJtfAPrPXHZdEtKkywoMjx0bfbRvLM4vFV8gtgIsoy4g1XyFx+xuPdnQFEVklNHENOR+rQuTgxoH2foY53ieo0fI/ZT4MqPXCrJu6g/QXxOIOo14hcaiOal4Kk+p+P+eSBJp5KSRcrAhzGYKipnFcCkI2FBswJ9

[2018-06-27 16:02] #6736 closed

[2018-06-27 16:04] mramato commented on #6224
Apparently this is still happening CC @hpinkos

[2018-06-27 17:40] likangning93 commented on #6739
I think it's a batch table problem.

Here's a [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=1VhtT+NGEP4rLh8Ou2cc4PhQ8XIqCtwRFQ50pIeqckKLPUm2rL3Weu0QTvnvnV2/7To2peqnRojE8/LM7MzseGcLIpyCwhKEc+IksHTGkNE8Dr5pmrsd6scxTyShCYht3/lxnzj4oTGZg1jdCF7QCLUPa81QAJEwpQyuSHoLoqAhTGxht8JQn1ywVvcxpyy64lHO4HfB3O3TLAOZjabwLHMB2egLwW/CzomQi8lk2yth1vi99o7ukwIXk4WQAK6lXFSgH5FVMpcLKuFuQRh8hVCSZM7gRtCY

[2018-06-27 18:06] hpinkos commented on #6699
@bagnell I'm really stuck on this one.  I'm not sure how to get the coordinates for the depth texture lookups, and I'm not sure what I should be comparing the result of that lookup to.

[2018-06-27 19:29] likangning93 commented on #6735
Another problem:

[Sandcastle on a deployed branch](http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/buildModuleUrlWorker/Apps/Sandcastle/index.html#c=dVRtb5swEP4rKPsQIzEHCoWkTatFyTZV2tZKiTpNpR8ccBOrxka2Icum/vddeEkhXfkCvnvu7vFzd5REWSWjO6qsK0vQnTWnmhUZvq9saJhUx7kUhjBB1dCx/sbCgsdQpcB0p2TJUoi+aCMTRYmhP6Xi6arGIDsWL/ZlLEoophMqKNSqi+LqCK7ayaXM76RmhkmhAdSknBNl4IsIHz8pmS3oRlGqZ5B8jx5qOh89z8OT4N

[2018-06-27 19:55] likangning93 commented on #6735
@bagnell and @mramato pointed out that logarithmic depth isn't supported on iPad/Safari, so the "looks like this is depth testing" problem is actually the far "cap" of the volume being beyond the far plane. This particular problem is reproducible on desktop by disabling log depth.

[2018-06-27 20:22] shunter opened #6741 "Polyline artifacts depending on camera position"
In master I'm seeing new artifacts when rendering polylines.  Possibly this is related to the polylines on terrain addition?

[Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZVFdT8IwFP0rzV42EuwYxI/gJCIagzHxYcQH05fSXaSha0k/IMP4371jiKhNH3o/zuk59264JRsJW7DkhmjYkgk4GSr6us8lsdiHE6M9lxps3CUfTBM8bmmCKsdaVtwDGZIFVw6Y/uxcM810S0lL7nlhgkUWyssyOZBPdpW6P5aoMrxMYkrT4x2v1y4teLVW0PSlTjZPKhAXdzrU

[2018-06-27 20:32] likangning93 commented on #6734
This is expected behavior when using the `Primitive` API instead of the `Entity` API, as per the [`requestRenderMode` documentation](https://cesiumjs.org/Cesium/Build/Documentation/Scene.html?classFilter=scene#requestRenderMode):
[code]

The view updates to the current state on camera move or if the timeline is playing. You can also explicitly call `Scene.RequestRender` on the button/menu handlers

[2018-06-27 20:34] mramato commented on #6734
@ggetz is @likangning93 correct here?  This sounds like a bug to me.  Isn't adding/removing primitives supposed to be one of the things that automatically renders even in request render mode?

[2018-06-27 20:39] ggetz commented on #6734
While we don't explicitly watch for primitives to be added to the scene, we do watch for aync processes to be return from web workers, which occurs when geometries are created.

[2018-06-27 20:43] likangning93 commented on #6739
At @bagnell's suggestion, tried disabling floating point textures in the batch table which results in the same thing happening on Desktop. So I think we can chalk this one up to the iPad's lack of support for float textures... looks like that's going to have to be an additional requirement. I'll open a PR soon.

[2018-06-27 20:46] likangning93 commented on #6739
Maybe the iPad is actually doing the same packing thing under the hood, which might also explain the depth texture problems... that is very bad.

Regardless, I'll open a PR soon adding a check for float texture support.

[2018-06-27 20:50] likangning93 commented on #6739
BTW on Desktop, using our float packing code, the diff actually doesn't seem to be *as bad.*

[2018-06-27 21:00] hpinkos commented on #6741
@shunter I'm seeing the same thing in master and in 1.46.  This is a screenshot from cesiumjs.org

![image](https://user-images.githubusercontent.com/3451886/41999321-37a83a06-7a2b-11e8-8c3e-15d16290c817.png)

I hardly see that flicker happen at all though.  Does it happen frequently for you?
Try setting `scene.logarithmicDepthBuffer = false` to see if that fixes it

[2018-06-27 21:04] likangning93 commented on #6739
^
![notasbad](https://user-images.githubusercontent.com/5395255/41999633-2557e210-7a2c-11e8-94cf-1f569ce7ee75.JPG)

[2018-06-27 21:05] shunter commented on #6741
I tried harder on the version on cesiumjs.org and I was able to get it there:

![image](https://user-images.githubusercontent.com/32828/41999583-f2d2352a-7a2b-11e8-9c6c-eebe9287d698.png)

![image](https://user-images.githubusercontent.com/32828/41999626-1d294462-7a2c-11e8-9818-0dd9207b1cd6.png)

However, it's way more prevalent in master.

[2018-06-27 21:06] hpinkos commented on #6741
Hmm okay.  It's about the same in 1.46 and master for me.
But it does seem to be logdepth related.  I can't reproduce it at all in 1.44 but can in 1.45

cc @bagnell

[2018-06-27 21:07] hpinkos commented on #6741
Marking this `next release` because it's regression.  If we can't figure it out in time for 1.47 we definitely should for 1.48

[2018-06-27 21:08] shunter commented on #6741
Adding `viewer.scene.logarithmicDepthBuffer = false;`

to turn off logarithmicDepthBuffer makes it much much worse:

![capture](https://user-images.githubusercontent.com/32828/41999781-b56e9aba-7a2c-11e8-8842-2801ef54d508.gif)

[2018-06-27 21:11] likangning93 commented on #6735
So that's fixable, but depth texture problems are... still a problem.

[2018-06-27 21:27] bagnell opened #6745 "Billboards are wrong size when switching from 2D to 3D"
This started with the 1.45 release.
![billboard_size_switch_from_2d](https://user-images.githubusercontent.com/1494815/42000660-67090614-7a2f-11e8-94d6-7584bcdb52c9.gif)

[2018-06-27 21:30] likangning93 commented on #6734
This doesn't seem to happen with standard primitives either though. [Here on Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=lVVtb9owEP4rEV+abJkpWtE0oNWAwlRpfVHLqk2KNJnkoFYdO7MdCq3477MTnJhQPswfovh899w9d/GTFRbeisALCO/cY/DijUGSPEWPhc0/iYvtmDOFCQNxEnpvEfP0EvA3B6nugSUgrnkCPU+JHCK2DfoRi9hKA8sYGGjcMgEqttUh5WxJVJ4Yh0+dL1/Rab88eCGJetLGz6dmFeaILXIWK8KZh5NkxNd+YOswEQlJgUl9KvdJjLFQ+g2zz/7ZDi

[2018-06-27 21:34] bagnell opened #6747 "Scene mode button disappears"
![scene_mode_button_disappears](https://user-images.githubusercontent.com/1494815/42000949-6774ae9a-7a30-11e8-87af-755955bd22f9.gif)

[2018-06-27 21:40] hpinkos commented on #6747
This seems to be a chrome issue, this button hasn't changed in forever.  And it works fine in firefox.

@emackey any ideas?

[2018-06-27 21:53] ggetz commented on #6734
Adding `scene.requestRender();` to the end of the `addBox` function will update the scene correctly, which was the original intention with requester render mode - Have the developer know when they want to request a new frame based on changes in the scene.

But, yes, this doesn't relate specifically to polylines.

[2018-06-27 23:15] likangning93 commented on #6734
Ah. `addBox` here is still asynchronously creating geometry for a `Primitive` via webworker though.

[2018-06-27 23:35] MattF-NSIDC commented on #6365
@hpinkos Thanks for your ongoing research in to this issue!

I don't think you can do much else than picking an arbitrary lon/lat when converting from "the center of the Earth" to lons and lats :man_shrugging:

[2018-06-27 23:37] likangning93 commented on #6739
^ that was on Windows Nvidia, it's less on Linux/Intel which is interesting.
Maybe instead of requiring float textures we can come up with something more clever to reduce the range of the floats getting packed.

![screenshot_2018-06-27_19-36-57](https://user-images.githubusercontent.com/5395255/42005288-902618f4-7a41-11e8-8f8b-dedc98293f30.png)

[2018-06-28 06:54] chris-cooper opened #6748 "GroundPolylinePrimitive doesn't render on 3d tiles"
It's great to see the progress on ground polylines @likangning93!  Are there plans for them to render on 3d tiles, like `GroundPrimitive` with `classificationType` set to `BOTH`?

[2018-06-28 09:06] m7567 opened #6749 "How does the 3D earth disappear"
Hi,

In my project , the background 3D earth is not always there, sometimes it is disappeared. How to fix this?

[2018-06-28 13:28] ggetz commented on #6749
Hi, @m7567, we'll need some more context here. Please ask the question over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev) and include screenshots and/or a code snippet showing the problem using [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases).

There are members of the community and developers from the tea

[2018-06-28 13:29] #6749 closed

[2018-06-28 13:53] likangning93 commented on #6748
We're planning on adding support: https://github.com/AnalyticalGraphicsInc/cesium/issues/6636.

Polylines on terrain depend on the depth buffer, as do materials on ground primitives.
The depth buffer doesn't include information for 3D Tiles yet, which is the main reason this doesn't work right now.

Another problem is that the current implementation won't allow users to, say, draw a square on a ve

[2018-06-28 14:48] safa833 opened #6750 "Cesium.ScreenSpaceEventType.LEFT_CLICK problem"
var handler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
    handler.setInputAction(function(movement) {
      var cartesian = viewer.scene.pickPosition(movement.endPosition);
      console.log(cartesian);
    }, Cesium.ScreenSpaceEventType.LEFT_CLICK);

I want to get cartesian coordinate in the above code but It shows "Uncaught TypeError: Cannot read property 'toString' of undefined

[2018-06-28 14:52] hpinkos commented on #6750
Hello @safa833, use `movement.position` when using `LEFT_CLICK`.

If you have any follow up questions, please ask them on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning new features.  Thanks!

[2018-06-28 14:52] #6750 closed

[2018-06-28 15:39] likangning93 commented on #6739
So I tried:
* [logarithms](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=xVhtT+Q2EP4rLh9K0stlgbtKFbCnooU7VoU7dGyLqlIhk8zuuufEkeNkWar97x07cd5zpe2HrhBJxvPyeOwZzzinkuQMNiDJlMSwITNIWRb5vxiasx+Yz5mIFWUxyH2P/HkfE/yxiK5Abm+kyFmI0sdWMpBAFSwYh2ua3ILMWQDzNrNT6tC/TPJa9jFjPLwWYcbhZ8md/bM0BZVOFvCkMgnp5CPFJ+UXVKr1fL7vFmp2+Ny5J/dxjpNJA4gB51JMyjefOFQMbtZMwd2acvgMgaLxisONZBFTLK+ZpB26Y6Fao6oS3DVVa1+JzzRkNE6d

[2018-06-28 15:42] likangning93 commented on #6739
A good thing to have might be minimal proof of the iPad's float texture misbehavior, it'll at least help if we try to report this problem to Apple.

[2018-06-28 16:15] likangning93 commented on #6739
I think I have to put this aside for a couple days at least, here's a few more notes for picking this back up:

**last resort**
* spherical texture coordinates work fine, they just won't look good for small areas
* we can add a fallback for this if nothing else works

**Two more ideas to try**
* alternate packing method - go so far as to encode each float into many integer groups of sigfigs
  * `-

[2018-06-28 17:58] likangning93 commented on #6735
[Better proof of depth texture problem](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=lVhfU9s4EP8qOh4a+zAK0D7cFOgcE9KWOVqYJne9zjDTUW3F0SFbPll2Eph891vJsS05duF4AGv//HZX2l2tKIlEJaMrKtEFSukKTWjOigT/ZWjeKDTLiUgVYSmVI//sPi1BJw9pSkGl0sVmCayKqSSLRSoSquTmCw0VSWNO7yRLmGJlJbYo0lAxkSJO1I1I47mYZUsqWUi4BySmiogGiAPHfPro6T5F8KPhQyKViCXJlix0vZ5YHE+7qlVscVxjg1792StWG9Zy9Xef4JKyeKlA6hgfm8BqJ3MdDr0TLNXcHv+wEno

[2018-06-28 18:08] likangning93 commented on #6739
Pointed out by @mramato: https://www.khronos.org/webgl/public-mailing-list/public_webgl/1703/msg00036.php

It's nice to not be alone

[2018-06-28 18:33] likangning93 commented on #6735
@chris-cooper in the meantime, you might be able to adjust the near/far ratio in your scene to get better results for the specific use case.

[code]

I'm seeing that a near/far ratio of 50 seems ok for viewing lines at distances of centimeters to a couple meters. For further distances it seems to depend on the view angle. It might also depend on the terrain complexity at the particular view locati

[2018-06-28 18:52] likangning93 commented on #6734
@ggetz @mramato given that `GroundPolylinePrimitive` seems to behave the same way as regular `Primitives` here, what's the next step? Is the missing async tracking a bug that should be fixed or can we close this as intentional?

[2018-06-28 20:06] mramato commented on #6711
Replaced by #6720 (though I'm going to keep this branch around until that one gets merged).

[2018-06-28 20:06] mramato commented on #6711
Whoops, meant to comment on the PR not the issue.

[2018-06-28 21:40] likangning93 commented on #6741
@shunter are you sure? That PR wasn't supposed to address standard polylines.

[2018-06-28 22:51] chris-cooper commented on #6748
Thanks for the info @likangning93 ! Yes those uses cases are less common for our applications too.

[2018-06-28 22:51] #6748 closed

[2018-06-29 00:39] lilleyse commented on #3453
Brought up on the forum: https://groups.google.com/d/msg/cesium-dev/2ORBapD2kBg/2Q-6ZgJ9BAAJ

https://github.com/AnalyticalGraphicsInc/cesium/pull/6390 may help by reducing the number of properties a `Cesium3DTile` contains, but probably won't solve this completely.

[2018-06-29 02:05] lilleyse commented on #5984
Another forum post: https://groups.google.com/forum/#!topic/cesium-dev/DE_iV6WAZcs

I submitted a PR to fix this, if we decide to allow transforms to move regions. https://github.com/AnalyticalGraphicsInc/cesium/pull/6755

[2018-06-29 02:30] ProjectBarks opened #6756 "Terrain Rendering Glitch with WebGL 2"
Using the latest master branch with cesium there appears to be a significant rendering bug causing terrain to disappear at certain angles and and be occluded with black artifacts at high zoom levels. This seems to be across chrome and firefox. [Video of problem](https://drive.google.com/file/d/1uhndQk5V_pjl8YnmP4rU-Oy9O9VYrvLn/view?usp=sharing)

When directly comparing 1.46 and the current master

[2018-06-29 02:52] OmarShehata commented on #6756
The video link seems to be broken? (gives me a 404)

[2018-06-29 03:00] ProjectBarks commented on #6756
@OmarShehata Updated!

[2018-06-29 15:45] likangning93 commented on #6735
Now I have learned two things:
* on Desktop, you can't render to a single-channel float buffer, which in retrospect makes sense
* on iOS you can't render to a float buffer at all, which in retrospect also kind of makes sense if their under-the-hood implementation for *reading* from float textures is actually an approximation

So copying globe depth to a float texture instead of the current packing

[2018-06-29 16:04] #6650 closed

[2018-06-29 16:07] ggetz commented on #6167
Maybe as part of this (or the concierge update that covers the checklist), prompt for a maintainer to be @ mentioned or assigned as a reviewer.

I see a lot of PRs sit there since no one is directly "responsible" for reviewing.

[2018-06-29 16:22] likangning93 commented on #6735
So I guess the conclusion is, depth texture precision on modern iOS devices just isn't sufficient.
Going back to that Unity post, their bug might also have been different since they use near/far 1/60 and I don't know if they bothered to test more view distances than the tens-of-meters in their images.

One more idea that @bagnell suggested is re-rendering all the terrain (and eventually 3D Tiles)

[2018-06-29 19:10] #6488 closed

[2018-06-29 19:33] shunter commented on #6741
I went back through versions of master and can't seem to reproduce with my original code with any previous version I try.  Not sure what's going on, maybe there was some sort of file mismatch.

Current master does have the artifacts from the gifs above if you turn log depth off.  Not sure if turning log depth off is expected to work anymore, I haven't followed related changes.  If you think that's

[2018-06-29 19:42] likangning93 commented on #6691
Hm. [On a second reading](https://github.com/AnalyticalGraphicsInc/cesium/issues/2172#issuecomment-363915890), turns out ["Deferred Vector Map Visualization"](https://onlinelibrary.wiley.com/doi/abs/10.1111/cgf.13294) does this already. Yay! Not such unknown waters after all.

[2018-06-29 21:18] OmarShehata opened #6758 "modelMatrix breaks height and extrude"
This bug came out of this [forum thread](https://groups.google.com/forum/?place=forum%2Fcesium-dev&showsearch=true&hideforumtitle=true&fragments=true&parenturl=https%3A%2F%2Fcesiumjs.org%2Fforum%2F&theme=default#!topic/cesium-dev/Pczi40rEgQw).

[Here is a sandcastle example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=nVRdT9swFP0rVl9wpMhN6RBbV9CgowNpDAQdm7ROk0luW2uOHdlOaYb473PsOP0A9rCqD7m

[2018-07-01 02:09] #6711 closed

[2018-07-02 08:37] kladess opened #6759 "I can't open "3d Tiles Feature Picking" sandcalsle in IE 11, Edge"
I can't open "[3d Tiles Feature Picking](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Tiles%20Feature%20Picking.html)" sandcalsle in IE 11, Edge (42.17134.1.0) but FireFox and Chrome was opened.

sandcastle's console log was printed:

[2018-07-02 12:28] mramato commented on #6759
Thanks for reporting @kladess.

@ggetz this appears to happen in master as well (at least the deployed version): http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/Build/Apps/Sandcastle/index.html?src=3D%20Tiles%20Feature%20Picking.html

Perhaps it a built Sandcastle/deployment issue?  Either way, I'm tagging this so it gets fixed before today's release.

[2018-07-02 13:59] ggetz commented on #6759
It looks like the `decodeDraco` worker is running into an issue with requiring the draco module, only in the built version, in IE.

IE doesn't support wasm, so it's falling back to the JS module.

[2018-07-02 14:01] mramato commented on #6759
Are we failing to copy something to the expected directory?  Or perhaps it's a module path issue similar to the buildModuleUrl fixes we just did for approximateTerrainHeights?

[2018-07-02 14:03] mramato commented on #6759
Perhaps we need to wrap the three paths at https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/DracoLoader.js#L34 in `buildModuleUrl`?

[2018-07-02 14:12] ggetz commented on #6759
It doesn't look like anything is failing to copy, it's still failing locally.

We're already wrapping it in `buildModuleUrl` here: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/TaskProcessor.js#L181

I'm checking if changes need to be made after the adjustments we made for approximateTerrainHeights

[2018-07-02 15:22] damienmajer commented on #6313
Was this issue fixed?

[2018-07-02 15:31] hpinkos commented on #6758
@OmarShehata polygons are not meant to be used in that way, so this is expected behavior.  When the polygon is created, the positions passed in are projected onto the ellipsoid surface.  If you remove the model matrix from the second example, you'll see the polygon draws like this:

![image](https://user-images.githubusercontent.com/3451886/42172872-5a04fd82-7deb-11e8-8eeb-5b7ae491a25a.png)

[2018-07-02 15:31] #6758 closed

[2018-07-02 15:36] OmarShehata commented on #6758
So then, what is the correct/recommended way of constructing an extruded polygon as seen in the first image?

[2018-07-02 15:39] hpinkos commented on #6313
@ggetz everything seems to work fine for me too.  Can you still reproduce this?  If you can, can you post specific step-by-step instructions for how to reproduce?  Typing in a location and clicking on of the auto-complete suggestions in the dropdown worked for me.

[2018-07-02 15:40] hpinkos commented on #6758
@OmarShehata probably with the method used in the first example

[2018-07-02 15:46] damienmajer commented on #6313
@hpinkos so, with the globe automatically rotating, you are able to type in the search box and click on a suggested location, which zooms to that location and stops the globe spinning?

[2018-07-02 15:56] MattF-NSIDC commented on #6365
@hpinkos thanks so much for getting a partial fix merged! :bowing_man: I noticed Cesium is doing monthly-ish releases -- do you think this will make it in the July release? :crossed_fingers: :)

[2018-07-02 16:00] hpinkos commented on #6365
@MattF-NSIDC yes, we release Cesium the first business day of every month.  We're working on putting together the 1.47 release now.  It does include this partial fix and it will be available later today =)

[2018-07-02 16:01] hpinkos commented on #6313
@damienmajer yes, it seems to work correctly for me

[2018-07-02 16:14] hpinkos commented on #6756
Hello @ProjectBarks, thanks for sharing that video.  I was able to reproduce this in master using the following example:

[code]

We're working on enabling WebGL 2 by default, and we'll fix this as part of that effort.  We have an initial pull request open here: #6314

Thanks!

[2018-07-02 16:17] ggetz commented on #6313
I can still reproduce.

[code]

1. Type some text in the search box and hit enter. The camera will move and the search event will fire.
2. Type some text in the search box, use the arrow keys to select a suggestion, and hit enter. The camera will move and the search event will fire.
3. Type some text in the search box, and use the mouse to click a suggestion. The camera will move, but the search e

[2018-07-02 17:28] #6759 closed

[2018-07-02 18:00] hpinkos opened #6762 "Enable billboard depth testing improvements for non clamped to ground billboards"
See https://github.com/AnalyticalGraphicsInc/cesium/pull/6621#issuecomment-401419591

There are other use cases where this feature can be helpful than just when billboards are clamped to ground.  We can consider either enabling it with a flag, or enabling it all of the time (but we'd have to make sure there's not an impact on performance).

[2018-07-02 19:40] likangning93 opened #6763 "debugShowGlobeDepth and debugShowPickDepth are broken"
Using `CesiumInspector`
* Show pick depth doesn't seem to do anything
* Show globe depth draws "clear" instead of the globe depth

These options have been temporarily removed from the `CesiumInspector` UI until they are fixed #7014

[2018-07-02 19:43] mramato commented on #6763
By dating back to, do you mean these happen in 1.46 as well?

[2018-07-02 20:25] likangning93 opened #6764 "Starburst Sandcastle example looks odd in 2D/CV"
![starburst_cv](https://user-images.githubusercontent.com/5395255/42184728-83008ab6-7e14-11e8-8b82-836113a25b06.JPG)

At least as far back as 1.46: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Star%20Burst.html

[2018-07-02 20:32] likangning93 opened #6765 "Video materials in reverse don't behave as expected"
Video materials synchronized to the clock and then played in reverse don't behave as expected (reverse playback).

In Edge this seems to manifest as segments of the video running forward but ordered backwards.
In Chrome and Firefox this manifests for me as a frozen context.

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Video.html

[2018-07-02 20:37] mramato commented on #6765
This is definitely a regression.  Wonder if it's related to recent auto-play changes in most major browsers.

[2018-07-02 21:45] ProjectBarks commented on #6714
@lilleyse is there any middle ground where points aren't rendered on the other side of the earth but is fine if they aren't depth tested against terrain?

[2018-07-03 02:58] lilleyse commented on #6714
@ProjectBarks - the points on the opposite side should be occluded, but I think there is a bug in the command execution. It might be an easy fix.

Some background - when `depthTestAgainstTerrain` is false Cesium renders a depth plane across the globe so objects on the opposite side are still able to fail the depth test. But due to the command execution order, 3D Tiles commands are rendered before

[2018-07-03 03:00] lilleyse commented on #6714
If it helps, this is a hacky sandcastle demo for testing:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZVFbS8MwFP4roS92MNNOEUS7oUxBQXDo8KkgMT3bDqY5I0k7trH/btKuc9M85PZdzsmXWhhWI6zAsCHTsGJjsFiV/KO5i89kcxyTdgI1mLPeba5rr3GowII7FbXL5cO0BeMtq4y66dBn0m9gqTIS+MxQeW8957mIL6+vL3ps1zg3VbmVoIEvDZbosAbLRVHE+4pHtA1ROaUO6B938gSiQD2foJOLN6HnEKc87bPzQZiv/L4XfHK913Lj+euJbwotcLcAHc8qLR2SPtRl21wzPzrJ5xyoBGdQ

[2018-07-03 13:49] lilleyse commented on #5363
Throw an error if a tile's content is glTF 1.0.

[2018-07-03 13:49] lilleyse commented on #5363
Does anyone have thoughts on when to start removing the workarounds for these deprecated 3D Tiles syntax/features?

I was thinking the best time would be
* After the [1.0](https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/1.0) branch of the spec is merged into `master`
* Finish the `upgrade` command in [3d-tiles-tools](https://github.com/AnalyticalGraphicsInc/3d-tiles-tools/issues/145) so tha

[2018-07-03 13:57] mramato commented on #5363
I'm all for removing as many workarounds/non-spec compliant behavior as possible.

Except this one, is there a reason to do this?  It will break almost every tileset we currently have.  What is the burden on just supporting gltf 1.0 forever?  I thought we automatically updated models to 2.0 anyway so I would think the burden is small. (but I could be wrong)

[2018-07-03 14:06] lilleyse commented on #5363
There isn't any burden in supporting gltf 1.0, but it's technically not valid to be in 3D Tiles 1.0 and I wasn't sure how hard-line we wanted to be.

We have another large breaking change where `tile.content.url` is now `tile.content.uri` https://github.com/AnalyticalGraphicsInc/cesium/pull/6744. If the goal is to not break most existing tilesets then we should also keep the workaround that can lo

[2018-07-03 14:08] ggetz commented on #5363
When is the plan to do this? I was under the impression that master was the "working" branch and "1.0" is basically the tagged release version for the community standard.

[2018-07-03 14:14] mramato commented on #5363
In that case, my vote would be that anything that's less than a few lines and doesn't affect performance should stick around forever and just log warnings.  We should also make sure there is a clear comment stating that it is there for backwards compatibility reasons.  More complicated workarounds (like #6125) should definitely get removed.  Ultimately, my thinking is that we shouldn't shift the b

[2018-07-03 14:15] lilleyse commented on #5363
I'm on board with that. And https://github.com/AnalyticalGraphicsInc/cesium/pull/6125 is a perfect example of one of the exceptions that should be removed.

[2018-07-03 14:18] hpinkos commented on #6764
duplicate #4877

[2018-07-03 14:18] #6764 closed

[2018-07-03 14:32] hpinkos commented on #6193
Well, I actually can't reproduce this anymore.  @mramato reopen this if you still see it

[2018-07-03 14:32] #6193 closed

[2018-07-03 19:15] bagnell commented on #6714
We execute 3D Tiles before the depth is cleared and the depth plane is rendered. This is so they can depth test against the terrain which is useful for 3D Tiles that are terrain or buildings. You could add an option to do it before 3D Tiles are rendered. The invert classification should be fine since it only applies to a single tileset.

[2018-07-03 20:00] ProjectBarks commented on #6714
@bagnell any thoughts on a good place to stick this property?

[2018-07-03 20:50] lilleyse commented on #6714
@bagnell pointed me to https://github.com/AnalyticalGraphicsInc/cesium/commit/1fda8c0ce8a95e13df150bd686fbfc957823908f.  It's possible that if we revert that commit it will fix the occlusion problem and not interfere with classification volumes or other areas.

[2018-07-03 20:57] ggetz commented on #6350
Came up again on the forum: https://groups.google.com/forum/#!topic/cesium-dev/W99JZR1iRVg

[2018-07-03 20:58] ProjectBarks commented on #6714
@lilleyse that does in fact solve the problem. The only thing is testing to make sure this does not interfere with classification volumes or other areas.

[2018-07-03 21:24] ProjectBarks commented on #6714
@lilleyse that worked until you do [this](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZVLva9swEP1XjL/UgUx2VgZldcNKW1hhsNKG7YthqNIlOSrpwkl2SEf/90l2nCWtPujXvffu3Umd5KxD2AJnV5mDbXYDHlsrfvV3xZnqjzfkgkQHfDa5bFwXOQENeAinpGE5v10MweJv47I4WjZfR8g9uUfw1LICsWSy1z4C73VxfnHxeTId8AGYY7YHpg418IGrGGSA38RGLwZIMWncW2+ptyu8Agdiw2gxYAdeSK2LvdUj2CuRXdAYmB6X8B2kRrd6wKDWj9KtoKhENc0+zdL8Je4nSadxe66IlvQuOrXoQYQ1u

[2018-07-03 21:36] hpinkos opened #6768 "PlaneGeometry missing from GeometryRenderingSpec"
We forgot to add render specs for `PlaneGeometry` when we added it.
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Specs/Scene/GeometryRenderingSpec.js

cc @ggetz

[2018-07-03 21:39] ProjectBarks commented on #6714
@lilleyse this works until
[code]

[2018-07-03 21:59] hpinkos commented on #3349
@bmckilligan @silky I just opened this PR for adding support for vertical polygons #6769

[2018-07-04 01:49] themikelester commented on #6573
I believe this is also contributing to a problem that I've posted about: https://groups.google.com/d/topic/cesium-dev/kMZIgIa6lqQ/discussion

[2018-07-04 09:58] Joyzen opened #6771 "can't handle dblclick on touch devices"
i can't catch double click event if i click screen twice through finger.

[2018-07-04 18:08] likangning93 commented on #6735
@chris-cooper another development: polyline-on-terrain problems don't seem to be as severe on the iPad 4. We've been testing (and reproducing the problem) on a first-generation iPad Pro, which supposedly has a similar SoC.

If you have older hardware available for your use case, that might also be an option.

[2018-07-04 19:30] vatsalpande commented on #6081
were you able to find an answer to this?

[2018-07-05 00:36] greenlaw commented on #6081
No, I just abandoned Entities and stuck with Billboards

[2018-07-05 01:44] lilleyse commented on #6756
It looks like the problem is log depth related, and the problematic PR is https://github.com/AnalyticalGraphicsInc/cesium/pull/6701. I thought maybe `modernizeShader` was doing something wrong with shader translation but it looked fine.

As a workaround, set `viewer.scene.logarithmicDepthBuffer = false`

[2018-07-05 02:17] lilleyse commented on #6714
Interesting... `DepthPlane` and upsampled terrain both set `DISABLE_GL_POSITION_LOG_DEPTH`.

So maybe this bug and https://github.com/AnalyticalGraphicsInc/cesium/issues/6756 are related.

[2018-07-05 02:18] lilleyse commented on #6756
See https://github.com/AnalyticalGraphicsInc/cesium/issues/6714#issuecomment-402299813 - it might be the same problem with `DISABLE_GL_POSITION_LOG_DEPTH`.

[2018-07-05 14:57] hpinkos commented on #6771
Hmm, I thought this used to work but I can't double click on a touch screen either.  @emackey this should be handled by the `ScreenSpaceEventHandler`, right?

[2018-07-05 15:12] #6745 closed

[2018-07-05 15:35] ggetz commented on #5363
We added a depreaction warning for `content.url` instead of `content.uri`: https://github.com/AnalyticalGraphicsInc/cesium/pull/6744#issuecomment-402761331

[2018-07-05 15:43] lilleyse commented on #5363
Given the `content.url` deprecation warning, this is also a good excuse to update all the hosted tilesets to 3D Tiles 1.0, glTF 2.0, and Draco for https://github.com/AnalyticalGraphicsInc/cesium/issues/6487.

Currently working on an `upgrade` command in [3d-tiles-tools](https://github.com/AnalyticalGraphicsInc/3d-tiles-tools/tree/2.0-tools) that will help upgrading some of these. It will also fix

[2018-07-05 16:05] hpinkos commented on #6081
Hi @greenlaw, yes unfortunately there is a little more memory overhead when using entities.  Using a `BillboardCollection` directly is probably the way to go when you're adding this many billboards to the scene.  Ultimately, I think using 3d-tiles vector tiles will be the recommended solution for adding a large amount of billboards like this.  The vector tiles specification is still in progress, b

[2018-07-05 16:05] #6081 closed

[2018-07-05 16:09] hpinkos commented on #6768
The implementation for this will be very similar to the `BoxGeometry` render spec: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Specs/Scene/GeometryRenderingSpec.js#L255-L293

Just using
[code]
instead of `BoxGeometry`

[2018-07-05 16:11] hpinkos opened #6772 "VideoSynchronizer tests failing on travis"
These tests seem to be failing in all branches.  They did pass when I ran it locally.

[code]

https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/399783058

Possibly related? #6765

[2018-07-05 16:12] hpinkos commented on #6772
@mramato any ideas?  Should we just `xit` these tests for now?

[2018-07-05 16:16] mramato commented on #6772
Feel free to temporarily xit these, but we should look into it before the next release.

Chrome recently decided to break the web for auto-playing content (I expect other browsers do not have this problem).

[2018-07-05 19:43] programmer101010 commented on #3961
This is still an issue in Cesium 1.42.  It requires rapidly moving the camera up and down for a view near the ground as well as a view pointing toward the horizon.  This is using Chrome 67 on Windows.  In some cases, the window becomes unresponsive without an error message.  This is difficult to reproduce but is still present.

[2018-07-05 19:59] ProjectBarks commented on #6714
@lilleyse I think the change to DepthPlane.js is fine right? That's just a code change to shallow clone the radii. Once we clarify that I will submit the PR.

Also for historic reference, the way around the render bug is the following:

[2018-07-05 20:03] lilleyse commented on #6714
The previous behavior before https://github.com/AnalyticalGraphicsInc/cesium/commit/1fda8c0ce8a95e13df150bd686fbfc957823908f pushed the depth plane out based on the ground primitive distance, which is important to add back if the order in `Scene` changes.

Basically just make sure the PR reverses everything in https://github.com/AnalyticalGraphicsInc/cesium/commit/1fda8c0ce8a95e13df150bd686fbfc957

[2018-07-06 00:04] MattF-NSIDC commented on #6365
Thanks again for your help -- I'm able to use scene3DOnly `true` again with 1.47 :)

[2018-07-06 03:01] stuarta0 opened #6776 "3d tileset basePath behaviour is incorrect on Windows"
In our electron app on windows we were running cesium 1.44 and specifying 3d tilesets based on directory alone; e.g. "C:\gis\tiles\". In 1.44 it would tack on the "tileset.json" filename and use the url given ("C:\gis\tiles\") as basePath. Base path would then be used to resolve each tile path.

I'm trying to upgrade to 1.47 where it enforces supplying the full path to the tileset json. We're stil

[2018-07-06 03:04] emackey commented on #6771
No, double click is a desktop only UX pattern.  There's no such event as
double-touch, and mobile users typically don't try that gesture as it's not
hooked up to any OS level event.  In the case of desktop, the OS itself is
in charge of configuring the acceptable click delay, so Cesium doesn't know
the allowed time difference there and just watches for dblclick events
directly.

Sorry!

On Thu, Ju

[2018-07-06 08:19] z3214965 opened #6777 "Add HeightReference to more geometry types"
BoxGraphics、CylinderGraphics、BoxGraphics not heightReference property，I want the position height is the height above the terrain，What should I do？

[2018-07-06 09:39] prernarana opened #6778 "Cesium.js:491 Uncaught SyntaxError: Invalid regular expression: /[×-×ªØ€-Û¿Ý-Ý¿à¢ -à£¿]/:"
Hi ,

I am facing the Range out of order in character class     at new RegExp (<anonymous>)     at Cesium.js:491
issue in version 1.47. I am trying to use the cesium in my app for the first time.

I downloaded the cesium library from
https://cesium.com/blog/2018/07/02/cesium-version-1.47-released/

There is regexp on line 491 in cesium.js. Its breaking the script?

[2018-07-06 12:15] ProjectBarks commented on #6778
@prernarana This is generally due to the server you are using to serve the content. I know for a fact if you try to use SimplePythonServer or any derivative of this you will encounter problems. This has to do with the client making assumptions about the character type and not cesium itself. Please describe how you are sending the content to the browser so we can properly contextualize the problem.

[2018-07-06 12:35] ProjectBarks commented on #6714
https://github.com/AnalyticalGraphicsInc/cesium/pull/6779

[2018-07-06 12:49] prernarana commented on #6778
I am using jboss wildfly server. Its a spring project where i am including the cesium.js in my jsp through script tag. Cesium folder is placed in the webapp Directory.

I am accessing that jsp through browser.

[2018-07-06 13:36] #6771 closed

[2018-07-06 13:56] lilleyse commented on #6776
Thanks for the bug report @stuarta0.

@OmarShehata would you be able to check this out?

[2018-07-06 14:07] mramato commented on #6776
Cesium expects URIs, not file paths.  It's a common problem to conflate the two.  I'm actually surprised this ever worked.  I think handling the replacement yourself is actually the correct fix (and prepend `file://` to the path as well, i.e. `file:///C:/directory/tileset.json`

I don't think trying to officially support non-uri paths is a good idea (or a winnable battle), but if there's a definit

[2018-07-06 15:42] hpinkos commented on #6365
Great @MattF-NSIDC! Glad that worked for you =)

[2018-07-06 15:44] hpinkos commented on #6777
Hi @z3214965, for the first round we only added `HeightReference` to `CorridorGraphics`, `EllipseGraphics`, `PolygonGraphics` and `RectangleGraphics`.  However, we should be able to expand this to include the other geometry types in the future.

I'm not sure how soon I would be able to add this feature, but if anyone has time to open a pull request I'd be happy to review it!

[2018-07-06 15:55] shunter commented on #6776
Yeah, browsers work with URIs not paths.  File URIs should be used in all cases.  We should be very clear about that in the documentation, if we're not already.

[2018-07-06 15:58] shunter commented on #6778
This has been discussed several times on the forum, for example:

https://groups.google.com/d/msg/cesium-dev/qOBmOxXmnjg/Yaa_UpDaBAAJ

Cesium.js needs to be interpreted as UTF-8.  Typically this is done by setting the Content-Type response header to include the charset:

Content-Type: application/javascript; charset=utf-8

This configuration needs to be done in whatever web server you are using.

[2018-07-06 15:58] #6778 closed

[2018-07-06 15:58] cesium-concierge commented on #6778
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/qOBmOxXmnjg/Yaa_UpDaBAAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-07-06 20:06] OmarShehata commented on #4802
Requested on the forum again: https://groups.google.com/forum/#!topic/cesium-dev/NzcIdGyfSt4

[2018-07-06 20:20] bagnell commented on #6627
There are 780 test failures is `maximumVertexTextureImageUnits` is 0.

[2018-07-06 20:58] lossyrob commented on #6332
Slides here: https://2018.foss4g-na.org/sites/default/files/slides/FOSS4G%20NA%202018%20-%20Cloud%20Optimized%20GeoTiffs.pdf

[2018-07-07 17:15] OmarShehata opened #6783 "Moving the camera eventually crashes (if you're unlucky)."
Brought up in this [forum thread](https://groups.google.com/forum/?place=forum%2Fcesium-dev&showsearch=true&hideforumtitle=true&fragments=true&parenturl=https%3A%2F%2Fcesiumjs.org%2Fforum%2F%23!msg%2Fcesium-dev%2Fq1VNQE3qhd0%2F3mT5jr-rBwAJ&theme=default#!topic/cesium-dev/LSPZK_AlqyU).

Try holding ctrl and rotating with left mouse click in this [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/S

[2018-07-08 23:17] lilleyse opened #6784 "Model bounding sphere wrong after forward axis conversion change"
Compare "Milk Truck" ( a 1.0 model) and "Draco Compressed Model" (a 2.0 model) in the 3D Models sandcastle. [1.47](http://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Models.html) vs [1.46](http://cesiumjs.org/releases/1.46/Apps/Sandcastle/index.html?src=3D%20Models.html)

In 1.47 the pivot point is slightly off.

Removing these lines fixes it, but I haven't looked around enough to know why

[2018-07-09 05:43] stuarta0 commented on #6776
One interesting behaviour I've noticed using the ```file://``` scheme with 3d tileset is this:

[code]

It doesn't seem to affect cesium loading the data, but the url is not as expected. It seems because authority is parsed as empty string, the [Uri.toString method omits the double forward slash](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.47/Source/ThirdParty/Uri.js#L264) and just conc

[2018-07-09 09:20] ollazarev commented on #6719
I see an error in calculating the the BBOX values after the decimal point.
For example, for coordinates `x=10, y=0, "level: 3"` BBOX should take a value `[45, 67.5, 67.5, 90]` but in the current Cesium release takes the value `[45, 67.5, 67.49999999999997, 90]`

[2018-07-09 15:18] shunter commented on #6776
As far as I can tell from reading the spec, `file:/C:/directory/tileset.json` and `file:///C:/directory/tileset.json` are both correct, and are equivalent.  Authority is optional in URIs, so the first omits authority while the second includes an empty authority.

[2018-07-10 03:46] lukesanantonio commented on #6765
I did a little testing and it looks like autoplay is definitely an issue for some browsers. I think we should mute the video by default so that it is more likely to start automatically for the demo. See [this blog post on Chrome's implementation](https://developers.google.com/web/updates/2017/09/autoplay-policy-changes)

That being said, I don't think that is what's going on here. I think it has t

[2018-07-10 07:51] Carolineliu opened #6785 "Cartesian3 use teme or ecef or other"
Thanks for contributing to the Cesium Community!

If you have a question, please search the forum:

http://cesiumjs.org/forum.html

and start a new forum thread, if needed, instead of creating this issue.

Otherwise, we look forward to your bug report or feature request in this issue.

---

Delete this message before clicking Submit.

[2018-07-10 11:47] hieeyh opened #6786 "Do you have other controllers besides ScreenSpaceCameraController?"
When dragging the map, I want the map to rotate around the mouse point. And when zooming the map, I want the map to zoom around the mouse point.

[2018-07-10 13:28] ggetz commented on #6785
Hi @Carolineliu. Yes, `Cartesian3` objects without any transforms applied use ECEF.

Generally, please ask questions over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev).  There are members of the community and developers from the team who answer these kinds of questions there. Additionally, Cesium's a big project, so we use GitHub for feature requests and bug tracking ex

[2018-07-10 13:28] #6785 closed

[2018-07-10 13:33] ggetz commented on #6786
Hi @hieeyh,

You can modify the events that trigger specific functionality in the [`ScreenSpaceCameraController`](https://cesiumjs.org/Cesium/Build/Documentation/ScreenSpaceCameraController.html) itself, or you could add event listeners to the events in the [`ScreenSpaceEventHandler`](https://cesiumjs.org/Cesium/Build/Documentation/ScreenSpaceEventHandler.html) class and then [move the Camera](htt

[2018-07-10 13:33] #6786 closed

[2018-07-10 14:41] hpinkos commented on #6719
@ollazarev what you're seeing is a floating point precision issue.  This is a side effect of how decimal numbers are represented in binary on the computer.  There can be very small rounding errors because not every decimal number can be represented exactly in binary.  For an example of this, type `0.1 + 0.2` in your console.  The result will be `0.30000000000000004` instead of `0.3`.  Since the er

[2018-07-10 14:41] #6719 closed

[2018-07-10 14:42] hpinkos commented on #6765
Thanks for digging into this @lukesanantonio!  Great explanation.

[2018-07-10 19:49] #6699 closed

[2018-07-10 23:53] euwest opened #6792 "Turning on point cloud attenuation blows up safari 11.1.1"
Looks like adding `tileset.pointCloudShading.attenuation = true` results in:

system specs:
![screen shot 2018-07-10 at 4 42 45 pm](https://user-images.githubusercontent.com/6263840/42543357-6268acaa-8460-11e8-880b-ad851dd2a0a1.png)
![screen shot 2018-07-10 at 4 43 02 pm](https://user-images.githubusercontent.com/6263840/42543358-6280a06c-8460-11e8-8d46-6827fee06c61.png)

Easily duplicated in [san

[2018-07-11 09:40] yijiao19 opened #6793 "label : HeightReference.CLAMP_TO_GROUND "An error occurred while rendering.""
Today I update cesium 1.47 instaed 1.43.
But when I add a label with "heightReference: Cesium.HeightReference.CLAMP_TO_GROUND", the chrome reports me the text :

An error occurred while rendering. Rendering has stopped.
RuntimeError: Program failed to link.  Link log: Could not pack varying v_logZ
Note: Additional non-conformant packing restrictions are enforced on D3D9.

Error
    at new t (http:

[2018-07-11 13:31] likangning93 commented on #6793
Hi @yijiao19,

Cesium 1.45 added a logarithmic depth buffer, disabling it might help for now. Here's your code with log depth disabled on [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=bVPvb9owEP1XLL4QpMwMtu5XKRoEtEqjDWJZ9yVSZZJLYs3Y6OzA6NT/fRcCbYBF+WC/e+/5znfeCGQbCVtAdsM0bFkAVpYr/rDHvHay3wZGOyE1YNtnf2PN6HOASNAczUamgF+OwgRBOPhlUKVRTfE6sX7uXMc61vVJ3CaggSuTC5SuWMlkAmtXjMss26eRCWXh

[2018-07-11 13:33] #5984 closed

[2018-07-11 13:33] cesium-concierge commented on #5984
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/OIP2B_UgGns
https://groups.google.com/forum/#!topic/cesium-dev/rUFnzb0d14o
https://groups.google.com/forum/#!topic/cesium-dev/j-8uQL0lJTo
https://groups.google.com/forum/#!topic/cesium-dev/DE_iV6WAZcs

If this issue affects any of these threads, please p

[2018-07-11 14:53] hpinkos commented on #6792
@likangning93 any ideas here?  Is this something that's not supported and we need a flag for or is this a bug?

[2018-07-11 15:00] hpinkos commented on #6793
Hi @yijiao19, I was unable to reproduce this.  Do you see this crash in Cesium 1.46 too? Also, check to make sure Chrome is up to date, and try updating drivers for graphics card.

And as @likangning93 said, please send us the results from [webglreport.com](http://webglreport.com/)

[2018-07-11 15:10] likangning93 commented on #6792
I'll take a deeper look soon. It's definitely weird that this is happening when applying point cloud attenuation on a non-point-cloud tileset though.

[2018-07-11 15:14] #6397 closed

[2018-07-11 15:20] likangning93 commented on #6792
From a quick look though, this might just be an extension that we need to check for.

[2018-07-11 16:27] likangning93 opened #6794 "Make Eye Dome Lighting more efficient and compatible"
Eye Dome Lighting currently depends on a pile of WebGL extensions, including a couple that I didn't even realize it was using when the feature went in (my bad!). See https://github.com/AnalyticalGraphicsInc/cesium/issues/6792#issuecomment-404198957

It needs:
* `EXT_frag_depth`
* `OES_texture_float` listed, but actually WEBGL_color_buffer_float/EXT_color_buffer_float
* `WEBGL_draw_buffers`

It mig

[2018-07-11 20:10] lilleyse opened #6795 "Cardboard demo has missing terrain tiles"
![vr-log](https://user-images.githubusercontent.com/915398/42596665-72ed36b2-8524-11e8-8754-3c7ed442a574.jpg)

This seems to have been introduced with log depth and specifically this commit: https://github.com/AnalyticalGraphicsInc/cesium/commit/d681755611f2fc47f28e33db61a9ec0583a4abe3

`viewer.scene.logarithmicDepthBuffer = false;` does not fix it, so it might be not be caused by log depth itself

[2018-07-11 21:03] likangning93 commented on #6794
Need to think about this more, the log depth in eye dome lighting isn't normalized. Forgot that the log depth in potree also is for a different purpose than "actual" log depth. I'll figure it out...

[2018-07-11 21:19] likangning93 commented on #6794
So we can derive the "non-normalized log depth" in the FS by building the position EC in the eye dome lighting shader.

But then at this point wondering, why use MRT instead of just using the 3D Tiles depth texture? (other than depth texture inaccuracy problems on *[certain platforms](https://github.com/AnalyticalGraphicsInc/cesium/issues/6735)*)

[2018-07-11 21:20] mramato commented on #6795
This is a dupe of #6612, there are some links to potential fixes there, so we should probably have a look.

[2018-07-11 21:20] #6795 closed

[2018-07-12 08:37] yijiao19 commented on #6793
@likangning93  Thanks! I set logarithmicDepthBuffer=true, then fix the bug.

Chrome is the latest version. I guess my graphics hardware may be not available for webGL 2.0.

![webgl report2](https://user-images.githubusercontent.com/11552139/42621977-c637ef9c-85f1-11e8-9705-47d02958cac1.jpg)
![webgl report1](https://user-images.githubusercontent.com/11552139/42621988-cc0a31e6-85f1-11e8-9a22-930bdc7

[2018-07-12 11:37] YousefED opened #6796 "Performance bug with DynamicEllipsoidGeometryUpdater with constant color"
Hi have an entity with both a billboard and an ellipsoid, defined as

[code]

I noticed that every frame, the shaders for the ellipsoid would be recomputed. Stepping through I noticed that this piece of code in `Primitive.prototype.update` would always be triggered:

[code]

I then noticed that this line in `DynamicEllipsoidGeometryUpdater` would always create a new material:
[code]

Recreating th

[2018-07-12 13:56] likangning93 commented on #6793
Hi @yijiao19, can you post a higher-resolution screenshot or preferably a PDF for the webgl 1 page on webglreport? Chrome and Firefox both allow using `ctrl + p` to print a webpage, and there should be an option to create a PDF instead of a printout.

[2018-07-12 13:59] shunter commented on #6793
WebGLReport is designed specifically so that you can easily copy/paste the page as text into notepad.  `ctrl-a, ctrl-c, ctrl-v` into notepad.  then copy/paste here.

[2018-07-12 15:32] likangning93 commented on #6531
Sample data for this was 59 images (and 59 of same images in black and white?) and a pixel-space translating/rotating/skewing transformation for each, together form a mosaic:

![mosaic](https://user-images.githubusercontent.com/5395255/42642910-df225cd0-85c5-11e8-820b-9138215d632c.JPG)

Problem is that these transforms only tell us how images should be transformed relative to each other for assemb

[2018-07-12 16:16] hpinkos commented on #6796
Thanks for the detailed bug report @YousefED!  Since the entity is dynamic I'm not sure what the best way to fix this is.  When the entity is dynamic we need to create a new `EllipsoidGeometry` every frame to update it.

[2018-07-12 17:16] YousefED commented on #6796
Thanks @hpinkos. Couple of q's:

1. What's the recommended way to do this with a good performance instead? Directly create the primitive and set it's position manually every frame?
2. What's the definition of a dynamic entity? Is it dynamic because the position property is dynamic?
3. The primitive is not recreated every frame, so couldn't we still detect ConstantProperties and not update those?

[2018-07-12 17:33] hpinkos commented on #6796
Oh hmm, if this changed from an earlier version of Cesium it might be something we can fix without too much trouble.  I also forgot that the `EllipsoidGeometryUpdater` is optimized in a different way than some of our other geometry updaters so it's not creating a new primitive every frame.  Because of this, I wouldn't recommend doing anything different, we should try to just fix the underlying bug

[2018-07-12 19:29] YousefED opened #6797 "Performance issue UniformMat4"
In the following code:

[code]

`Matrix4.equalsArray(this.value, this._value, 0)` always evaluates to `false`. I suppose this is because the values in this._value, which is a Float32Array, always slightly differ from the ones stored in the Matrix4. I've implemented the following fix:

[code]

This seems to result in a performance improvement in case the scene is stationary. The same issue might oc

[2018-07-12 20:21] #6612 closed

[2018-07-13 00:34] pjcozzi commented on #1064
* Follow up to the GPU Pro 3 chapter: [Followup to Atmospheric Scattering—Part 1](http://www.thetenthplanet.de/archives/4519)

[2018-07-13 01:52] yijiao19 commented on #6793
Hello @likangning93

Sorry, I try my best but the pdf of Chrome is confusing. So I also send you a higher-resolution screenshot of the page in chrome.

![webgl report-chrome](https://user-images.githubusercontent.com/11552139/42668281-607d4292-8682-11e8-8e03-f4d97c080df5.png)
[WebGL Report-chrome.pdf](https://github.com/AnalyticalGraphicsInc/cesium/files/2190892/WebGL.Report-chrome.pdf)
[WebGL Rep

[2018-07-13 06:46] slizer2000 commented on #6741
Im not sure if it will be fixed by [#6751](https://github.com/AnalyticalGraphicsInc/cesium/pull/6751).

I get the same issue when the `followSurface` property is set to true but not when set to false...

Only started happening after v1.44.0 .

`followSurface=false`
![cesium_bug](https://user-images.githubusercontent.com/32084549/42676495-9456487c-86b7-11e8-82e2-fc97d3ef4954.gif)

`followSurface=tr

[2018-07-13 08:15] 9lovingly commented on #6676
@lilleyse ，hi. Actually my model is not gltf and it's 3dtiles.It's large so I couldn't upload it.And  the website:http://github.khronos.org/glTF-Validator/,just support gltf and glb. However，the problem still didn't solve.

[2018-07-13 09:33] xyjwyq opened #6800 "How to achieve the wind field？"
Excuse me , How to achieve the wind field? thanks!

[2018-07-13 12:50] likangning93 commented on #6793
Hi @yijiao19,

Thanks for the info! It looks like your graphics card should be able to run Cesium's newer features pretty well, but it's using old drivers since there's only support for D3D9.
Is it possible for you to update your graphics driver?

See here: http://www.nvidia.com/Download/index.aspx?lang=en-us

For your GPU, `Product Type` should be `Quadro`. Then, you'llhave to go to `Product Seri

[2018-07-13 13:11] likangning93 commented on #6800
Hi @xyjwyq,

Do you mean something like the WebGL wind map from [this blog post](https://blog.mapbox.com/how-i-built-a-wind-map-with-webgl-b63022b5537f)? We don't have wind fields built into Cesium, but it may be possible to implement it yourself using custom shader materials for a `Primitive` that wraps around the Earth. I almost want to try this myself now... if you end up implementing this we'd

[2018-07-13 13:11] #6800 closed

[2018-07-13 17:15] ggetz commented on #5363
Added a deprecation warning fro the Batch Table Hierarchy in https://github.com/AnalyticalGraphicsInc/cesium/pull/6780

[2018-07-13 17:22] OmarShehata commented on #6330
Came up again on the forum https://groups.google.com/forum/#!topic/cesium-dev/FLOUH6ndQhc

[2018-07-13 17:47] #6797 closed

[2018-07-13 20:12] emackey commented on #6784
The transform is needed, but was being applied in the wrong order.  PR incoming.

[2018-07-13 20:20] emackey commented on #6784
This sample file can be used for testing:  [OffsetCube.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/2194062/OffsetCube.zip)

It is a cube that is offset from the origin by different amounts on all 3 axes.  It won't be shown in the center of the view if you just comment out the Z-forward transform.  The transform has to be applied in the correct order to center the cube properly.

[2018-07-13 21:40] #6792 closed

[2018-07-13 21:40] #6794 closed

[2018-07-13 21:40] #6543 closed

[2018-07-13 22:49] slizer2000 commented on #6741
@hpinkos apologies. I have updated the link. Yes it happens in 1.4.7. I have had to revert back to 1.44 in my project to avoid this issue. I becomes more apparent as you zoom into the geo

[2018-07-13 23:10] slizer2000 commented on #6741
there is another bug that when in 2D mode, the polyline gets cut in half or disapears all together

[2018-07-14 10:10] pjcozzi opened #6804 "Support HDR monitors (no tone mapping)"
Work-in-progress for browsers: https://github.com/WICG/canvas-color-space/blob/master/CanvasColorSpaceProposal.md

See https://www.khronos.org/webgl/public-mailing-list/public_webgl/1807/msg00028.php

[2018-07-16 13:16] lilleyse commented on #6676
@9lovingly if you upload a single b3dm tile here we can check it out.

glTF is embedded in the b3dm and can be extracted using the [`b3dmToGlb`](https://github.com/AnalyticalGraphicsInc/3d-tiles-tools/tree/master/tools#b3dmtoglb) tool.

[2018-07-16 14:37] hpinkos commented on #6741
Thanks @slizer2000, I was able to reproduce the flickering you're seeing.  For now, you can set `viewer.scene.logarithmicDepthBuffer = false;` as a workaround.

@bagnell could you look into this?

[2018-07-16 17:17] #3349 closed

[2018-07-16 17:17] cesium-concierge commented on #3349
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/p2VeANQ497I/PvXjDXpJBgAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-07-17 04:24] dminor112 opened #6806 "viewer.scene.globe.pick do not pick Cesium3DTileset's tile"
var handler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
handler.setInputAction((movement) => {
  // var pickedPrimitive = viewer.scene.pick(movement.position);
  var ray = viewer.scene.camera.getPickRay(movement.position);
  var cartesian = viewer.scene.globe.pick(ray, viewer.scene);

  if (cartesian) {
      viewer.entities.add({
          id: nombre.toFixed(2),
          position:

[2018-07-17 09:16] Short-and-fast-cache opened #6807 "怎么导出图片png，像截图一样的效果？"
怎么导出图片png，像截图一样的效果？
charts.canvas.toDataURL("image/png") 得到的图片是空白的黑色背景

[2018-07-17 13:21] sebastienaubry opened #6808 "GLTF models are rotated since 1.47 - how to fix CZML?"
Hi,

Since release 1.47, the following change has made my aircraft move sideways:

I am using a CZML file and the aircraft models from https://github.com/Ysurac/FlightAirMap-3dmodels.

In #6738 I could not find the way to fix my CZML files.

Thanks

[2018-07-17 14:19] hpinkos commented on #6807
Hi @Short-and-fast-cache, sorry I don't understand Chinese but from a rough translation it sounds like you're trying to capture the Cesium canvas in an image.

`toDataUrl` only works reliably from inside of the `postRender` call because the frame can be cleared at any time after `postRender` is done.  Try something like this:

[code]

[2018-07-17 14:19] #6807 closed

[2018-07-17 14:37] hpinkos commented on #6808
Hi @sebastienaubry, see this comment: https://github.com/AnalyticalGraphicsInc/cesium/pull/6738#issuecomment-401419826
You can set the `orientation` property for your model.   It would look something like this:

[code]

If you have any follow up questions, please ask them on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning

[2018-07-17 14:37] #6808 closed

[2018-07-17 14:43] mramato commented on #6808
A better solution would be to fix the model itself, but if you can't update the model then @hpinkos' suggestion would be the best way to go.

[2018-07-17 15:42] likangning93 opened #6809 "Polylines on Terrain don't work correctly for Columbus View and 2D using WebMercator"
[Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=1Vp7c9u4Ef8qSPqHqBmF5vvhV+s4TuppHHts1enVytxAIiSxpggWhKToOvnuXfAJUpQiZ643qWYsk8Bi97cP7i5ArTBDa8qiYEgYw2GMztAlScPlQp0wgjn5LM0p/xnFCD6M/HtJUv4ZptkNTp+PEWdLMmhMPhLGyddPlC1wlOYEo/hb/2QUj+IVyFyFZE0YSIvJupT4mI0pvUl2e0ljDkIJ6w1QIXiBkztG/0UmPKQxOpbXfibjG8ImmFNWkyj9AhTPFYCZVRiA2OOGzhWwURxOkfKqYPmB0WUc3NFoEwGMOxYuQh6uiBqmD8skoaBfoORqqOmExKTfL3

[2018-07-17 15:48] likangning93 commented on #6809
Seems to only be a problem for async.

[2018-07-17 18:06] pjcozzi opened #6811 "Use core-js for "native" apps?"
Exploratory idea to see if it is possible and worthwhile to write a WebGL layer (over OpenGL ES, Metal, etc.) for [core-js](https://github.com/zloirock/core-js) so that CesiumJS can run natively without porting all of it to C++.

Twitter thread: https://twitter.com/pjcozzi/status/1019281546845487105

via @ewhauser

[2018-07-17 19:31] #6809 closed

[2018-07-17 20:52] knackjason opened #6812 "requestRenderMode Bug on resize"
I believe I've found a bug related to requestRenderMode in Firefox. I asked about it in the forums (https://groups.google.com/forum/#!topic/cesium-dev/cHR1qyjMKeo) and a community member suggested I file a bug.

Essentially, Cesium doesn't stop the update/render process in Firefox until you interact (move, zoom) with the globe after the page initially loads. You can see this happen by visiting the

[2018-07-18 02:32] dminor112 commented on #6806
Sorry, I was wondering if this is bug.
I need to use a ray to test intersetion, because pickPosition only support windowPosition.And sometimes the ray do not set from window. How can i compute the intersection points of a ray with 3d tileset?

[2018-07-18 12:40] lilleyse commented on #6806
@dminor112 we are currently working on that exact feature. Stay tuned!

https://github.com/AnalyticalGraphicsInc/cesium/issues/6080 will add support for picking from a ray.

[2018-07-18 13:18] #6784 closed

[2018-07-18 13:41] smlawrence opened #6813 "BillboardVisualizer.js: dynamic entity position becomes tied to static entity position"
Reproduced: [Sandcastle ](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=lVRbT9swFP4rVl5Ipcwt6wtKSzXEkIYEKloZL8uE3OSktXDsyHaCQtX/znFzacLGNqyqOT6X73znkpRMk5LDM2hyTiQ8k0swvMjow0Hnn8SH66WSlnEJ+mQ0i2QkS4zKleGWKzmrrxnTT6DvjspGrUr4xmQi3iZYxRpArnIWw1UJ0jZOfk2Gmhgk0JghiHE5ezjUgL2WeWEvYpfKTwtZC84nQ6gR2UWS4OEp8VuandKdA3/kM0iW8/ip5d9hUZBJqxwdAXjq5wNEd9pUCJwfLftaxMc+eK/4+yoHerv8sbp6vF0+XNVNjmRbGdmA7Zi5t

[2018-07-18 13:46] ggetz commented on #6812
Thanks @knackjason for the report!

I'm using Firefox 61.0 and Cesium 1.47 I'm not able to replicate (the FPS go to N/A within a second or so), so this may take more investigation.

If you're able to debug, I would watch to see if any functions are getting added to the `FrameState.afterRender` array, as that's likely why the render loop is continually running.

[2018-07-18 14:20] hpinkos commented on #6793
This issue was reported by another user on the forum: https://groups.google.com/forum/#!topic/cesium-dev/XlaPQFwjozA

[2018-07-18 14:35] hpinkos commented on #6793
I'm thinking the issue is that the WebGL report @yijiao19 posted says `Max Varying Vectors: 9`.  With the depth testing changes `BillboardCollection` could have 8 varyings.  This should be fixed by #6781 in many cases, but I'll have to see about packing things better for the case where vertex shader texture reads aren't available and the max varyings is low.

[2018-07-18 15:04] knackjason commented on #6812
@ggetz what OS are you using? I tried Firefox 61 on Windows and also saw the FPS go to N/A within a second. This is not happening for me in Linux (CentOS 7.5), so maybe it's more of a bug with Firefox on Linux.

I'm happy to help debug but am also brand new to Cesium. Can you point me in the direction of how I'd watch the  `FrameState.afterRender` array?

[2018-07-18 15:09] hpinkos opened #6814 "pickPosition broken when point cloud tileset added to scene"
This works in 1.47 but is broken in master.  @lilleyse @ggetz

`pickPosition` randomly returns `undefined` if this point cloud is added to the scene.  I set `show: false` for the point cloud in this example because chappes grinds performance to a hault, but the issue happens either way.  It does not happen when there is no tileset in the scene.

[code]

[2018-07-18 15:10] hpinkos commented on #6812
@mramato can you try this out on your linux machine?

[2018-07-18 15:21] hpinkos commented on #6813
Thanks for the detailed bug report @smlawrence!  This made it really easy to track down the problem.
I've submitted a bug fix here: https://github.com/AnalyticalGraphicsInc/cesium/pull/6815

[2018-07-18 15:29] mramato commented on #6812
I can reproduce this on Windows/Linux with either Chrome or Firefox.

1. Dock the browser to one side of the screen
2. Load the demo (everything is fine)
3. Maximum the browser (it will keep rendering forever)

[2018-07-18 16:22] knackjason commented on #6812
Going off of what @mramato said, I'm also noticing that Cesium will start rendering forever in an unmaximized window after any kind of browser resize (whether it's maximizing or just increasing/decreasing with the mouse).

[2018-07-18 17:30] mramato commented on #6812
I updated the title and marked this as next release since it seems like a pretty bad break for requestRenderMode.

[2018-07-18 17:30] mramato commented on #6812
Thanks again for reporting @knackjason!

[2018-07-18 17:31] knackjason commented on #6812
No problem!

[2018-07-18 18:28] OmarShehata opened #6816 "Polygons Don't Receive Shadows"
Reported [here ](https://groups.google.com/forum/#!topic/cesium-dev/1UlrSfW2ie8)and [here](https://groups.google.com/forum/#!topic/cesium-dev/FLOUH6ndQhc).

See this [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=xVZbb9owFP4rFnsgqNQQSksLtFovPGyi27RW20OpKpOY4NWxke3Qsqr/fSdxbAKtuodNmxUJ5/g7t+/45LAkCi0ZfaAKHSNBH9A51SxL8bdCFtSj4vVcCkOYoKreRE8TgWAxMZNn8rGPZoRr2rRCTTmNDJPig4hZRIxUW+dz

[2018-07-18 18:56] hpinkos commented on #6816
Thanks @OmarShehata!  This appears to be a problem with polygons created with `GroundPrimitive` (used for polygons on terrain) with both a `PerInstanceColorAppearnce` and `MaterialAppearance.  It works fine for `Primitive`s.

cc @likangning93 @lilleyse @bagnell

[2018-07-18 19:54] lukesanantonio commented on #6812
I can confirm this behavior in both Chrome and Firefox on my mac.

I couldn't pin down a commit with `git bisect` ([full log here](https://github.com/AnalyticalGraphicsInc/cesium/files/2207126/bisect-6812.txt)) but I did learn some things:
- Everything is good up until 7c46e11ac (inclusive),
- e331d4ce4 broke requestRenderMode entirely (this is why I had to skip a bunch of commits while bisecting)

[2018-07-18 20:36] bagnell commented on #6816
This is a known problem for both `GroundPrimitive` and `ClassificationPrimitive`. Because of how they are rendered, they couldn't be hooked into the current shadow system.

With the new `GroundPrimitive` materials, we could hook up shadows, but we would need to rework some of the shadow system.

[2018-07-18 21:08] lukesanantonio commented on #6812
Actually I think I've tracked this down. The camera frustum changes because the viewport resizes but the `checkForCameraUpdates` function doesn't register the change. `this._frustumChanged` always evaluates to true because `this._cameraClone` isn't updated (see [Scene.js#L3313](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Scene.js#L3313)).

[2018-07-19 03:09] lftgly commented on #6793
Windows7 laptop with this render error for billboards clamped to ground:

Platform:	Win32
Browser User Agent:	Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.99 Safari/537.36
Context Name:	webgl
GL Version:	WebGL 1.0 (OpenGL ES 2.0 Chromium)
Shading Language Version:	WebGL GLSL ES 1.0 (OpenGL ES GLSL ES 1.0 Chromium)
Vendor:	WebKit
Renderer:	WebKit

[2018-07-19 03:51] lftgly commented on #6793
iPhone 6s has the same render error, slightly different syntax,  here is its webglreport:

Platform:	iPhone
Browser User Agent:	Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_2 like Mac OS X) AppleWebKit/604.4.7 (KHTML, like Gecko) Version/11.0 Mobile/15C202 Safari/604.1
Context Name:	webgl
GL Version:	WebGL 1.0 (OpenGL ES 2.0 Metal - 52.1.2)
Shading Language Version:	WebGL GLSL ES 1.0 (OpenGL ES GLSL ES

[2018-07-19 05:13] smlawrence commented on #6813
Thank you for looking into and working on that so quickly :+1:

[2018-07-19 07:11] dminor112 commented on #6806
Which release will support this feature? We are very looking forward to it. Thank you.

[2018-07-19 07:24] bkuster opened #6817 "Rendering stops when: picking after adding non-pickable primitive and before render is called"
##### What I'm trying to do
In an application I'm developing, `scene.pick` gets called _a lot_, eg. on mouse move.
Additionally, primitives are added to the `scene` at a similar frequency.
These primitves should _not_ be picked (`allowPicking: false`)

##### What happens
Some times, rendering stops, due to an error arising during rendering:
[code]

##### What causes this to happen
As stated above,

[2018-07-19 13:04] likangning93 commented on #6793
Hi @lftgly, are there updated graphics drivers available for your Windows 7 setup? We might be running up against your machine's  varying limit as @hpinkos mentioned above, but a driver update (if available) could be a workaround. Related, do you know what the GPU model number (like HD 4000) or CPU model number (i5-3320m) is? The oldest Intel graphics I have on-hand is the HD 4000 from 6 years ago

[2018-07-19 13:08] lilleyse commented on #6806
It's probably too soon for 1.48, but I would guess around 1.49.

[2018-07-19 13:38] lilleyse commented on #6817
Maybe just removing the lines

[code]

is the right move. It doesn't look like they are required but @bagnell can confirm.

[2018-07-19 14:36] hpinkos commented on #6817
Thanks for the detailed issue write up @bkuster!  I just ran into this problem yesterday but couldn't find a way to reproduce it.  This is super helpful =)

[2018-07-19 15:12] hpinkos commented on #6793
@lftgly can you see if you still have this problem in our current master branch?  Here's a zip file to download a build: http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/Cesium-1.47.0-master27825.zip

[2018-07-19 15:23] hpinkos opened #6818 "Clamp to ground stops working with a large number of entities"
![image](https://user-images.githubusercontent.com/3451886/42952203-f5159fcc-8b45-11e8-8208-469b462bb295.png)

This happens after toggling terrain off.  The ground clamping is not updated for the new terrain provider.

[Sandcastle Example](http://localhost:8080/Apps/Sandcastle/index.html#c=7VZbU+M2FP4rGl4IxSh2Yjt2yDKlQLudYQsD6fZhs7Oj2CeJqGJlJDk0y/Df98iX2Akw5aGP9Ysv+r5zvnOTvGaKJKB5vhyDUoxnt0queQqKf

[2018-07-19 17:10] hpinkos commented on #6818
Alright, it looks like this is an existing problem with our clamp to ground logic.  Billboards do the same thing.

![image](https://user-images.githubusercontent.com/3451886/42958957-27585646-8b55-11e8-9411-d0298c1b6066.png)

[2018-07-19 18:34] hpinkos commented on #6697
@lilleyse all of our tilesets used in Sandcastle generate deprecation warnings.  Is fixing that part of this roadmap issue?

[2018-07-19 18:42] ggetz commented on #6697
@hpinkos https://github.com/AnalyticalGraphicsInc/cesium/issues/5504

3d-tiles-tools has been updated to generate 1.0 tilesets, so we should be good to at least get rid of the sandcastle tilesets that throw deprecation warnings before the next release.

[2018-07-19 20:45] hpinkos commented on #6818
More issues:

![image](https://user-images.githubusercontent.com/3451886/42968254-c7432080-8b70-11e8-9866-d24581a8c982.png)

This seems to only happen the first time the example is loaded.

[2018-07-19 20:46] mramato commented on #6818
A race condition because the terrain isn't cached?  Might happen every time if you disable caching in the debugger.

[2018-07-19 20:56] mramato commented on #6818
So one weird thing I noticed here is that even if Cesium loads X levels of terrain tiles (and the terrain is done loading) we still trigger updates for every tile rather than just the ones at the most highest loaded layer.  I don't think this has anything to do with the terrain engine and is specific to the terrain clamping sync code.  This is why it takes several "passes" until the polygons are c

[2018-07-19 21:02] ggetz commented on #5241
Brought up on the forum https://groups.google.com/forum/#!topic/cesium-dev/_RXV4dAhR4w

[2018-07-19 21:09] hpinkos commented on #6818
Actually, maybe I was on a different branch.  I tried again like 50 times in master but doesn't reproduce that error anymore with my fix.  I'll close and reopen it if I see it pop up again.

[2018-07-19 21:09] #6818 closed

[2018-07-19 21:12] mramato commented on #6818
I think you're right because I couldn't reproduce it either. :crossed_fingers:

[2018-07-20 02:36] miniergouzi opened #6822 "How Cesium implements collision detection"
The respected Cesium team:

Now I want to make a first person roaming collision detection function. At present, I have realized the moving effect of the small person's plane.

Question 1: if a villain meets a wall, how can it achieve a collision effect?

Question two: when a villain goes up the stairs, how can we tell if the steps are too high, leading to inability to climb?

I want to know some r

[2018-07-20 09:33] #6822 closed

[2018-07-20 11:41] thw0rted opened #6823 "EllipsoidTerrainProvider.requestTileGeometry wrong return type"
`TerrainProvider#requestTileGeometry` returns a `Promise<TerrainData>`, but `EllipsoidTerrainProvider` returns the `TerrainData` directly (not a Promise).  This breaks `sampleTerrain` / `sampleTerrainMostDetailed` because it expects a Promise.  The net effect is that you can't use those functions if you're not sure at runtime whether the provider will be a "real" terrain provider (that has to make

[2018-07-20 12:40] thw0rted commented on #6823
I just noticed, I GoogleEarthEnterpriseTerrainProvider is [guilty of this as well](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.47/Source/Core/GoogleEarthEnterpriseTerrainProvider.js#L377).  If the cache misses, it returns a Promise, but if the cache hits, it just returns the data directly (which would also break `sampleTerrain`).

[2018-07-20 12:41] thw0rted commented on #3967
Hello from next year! Is there still a plan to move from When to Bluebird?  I use native promises extensively and it's a bit of a hassle to keep track of which flavor I'm getting depending on where it came from...

[2018-07-20 14:59] thw0rted commented on #4368
Hey all, it's been a year and I'm pretty sure that (at least the way I'm using it?) `scene.pickPosition` is still giving me hilariously-wrong results.  I'm passing the `endPosition` from a `MoveEvent` and getting back a point that, when converted to Cartographic, has a height in the negative millions.  Is there another way I'm supposed to get lat / lon point under the cursor on the rendered globe

[2018-07-20 15:01] thw0rted commented on #2480
I don't have the expertise to tell, is this maybe related to #4368 ?

[2018-07-20 15:15] hpinkos commented on #6728
@dminor112 yes, we do want to add this.  We have an issue open here: #5333

[2018-07-20 15:16] hpinkos commented on #5333
Also requested by @dminor112 in #6728

@mramato do you think it would make sense to update `DynamicPolylineUpdater` to use a `PolylineGeometry` when `depthFailMaterial` is set?  I'm not sure how soon we'll be able to add support to this for `PolylineCollection`.

[2018-07-20 15:21] mramato commented on #5333
That's actually how `DynamicPolylineUpdater` used to work (it didn't use PolylineCollection at all) but it would hammer the CPU and was too slow for anything non-trivial.  Of course that was a few years ago, so we could potentially special case it for `depthFailMaterial` but we would have to be careful it doesn't destroy performance.

[2018-07-20 15:30] hpinkos commented on #6823
Thanks @thw0rted, I've opened this PR: #6824

[2018-07-20 15:34] hpinkos commented on #3967
Hi @thw0rted, no update here.  This is something that we'd love to do, but it's going to be a huge undertaking and we haven't been able to prioritize this yet.  If we were to do this today I think we'd probably still choose bluebird for promises.

[2018-07-20 15:36] mramato commented on #3967
I would be more than happy to review a PR if someone was interested in working on this.  The initial port (while touching a ton of code) shouldn't be too bad from a complexity standpoint.  With some helper functions you might be able to do things incrementally on a branch without breaking everything at once.

[2018-07-20 15:39] hpinkos commented on #4368
@thw0rted this is for using `pickPosition` to pick the globe?  I would recommend using either `scene.camera.pickEllipsoid` if you don't have terrain or `scene.globe.pick` if you do have terrain.  `pickPosition` works great for getting the position on a 3D tileset or a glTF model, but we haven't had a chance to fix the globe picking issue.

[2018-07-20 18:04] ggetz commented on #6636
Brought up on the forum: https://groups.google.com/forum/#!topic/cesium-dev/2h_uVa6JHAM

[2018-07-23 07:46] thw0rted commented on #3967
Just as an aside: I hadn't read up on the state of promise libraries in a while, and the last time I looked into it the main selling point was that native (A+) Promise support was still spotty.  I was all set to make a case for abandoning libraries, then I read some of those articles with performance comparisons -- and now I think I might go ahead and switch my own code to Bluebird.  Man, this nat

[2018-07-23 08:49] hieeyh opened #6825 "How the billboard rotation can not be affected by the map rotation?"
When I create a billboard, and then rotate the map from a touch screen, the billboard rotation is not steady, it always head to up screen.What I need is that when I rotates the map, the billboard heading will not change.
I have used allignedAxis property, but it cant achieve the effect I want.

[2018-07-23 09:10] WangXiaoLun commented on #2387
Hi,@QingchaoHu  Have you highlight individual nodes of model  successfully? and how to?

[2018-07-23 10:22] thw0rted commented on #4368
I don't think I'm getting sane altitudes from any method.  For comparison, I made a [quick SandCastle testbed](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=rVVrT9swFP0rXjaJVGIuDDRtI1RDWQdIVKCV8SnScOzbxMKxLcdpKaj/fc6jT9KtTPOXyM655z7Ote+YGDTmMAGDTpGECQoh50WG76ozf49W21BJS7gEs9c5iWQkqZK5RWoMRpCpM2SKFhlIi6kBYqEvoNz5kcf4OPJKmwaLczsVgLXKueVKOtPII3GuRGEh8l7gDE9SW4E+HOvHFkCsrFVZhTg8OGiFTDizaY04bkek

[2018-07-23 14:04] hpinkos commented on #6825
Hello @hieeyh, we do not currently have support for billboard heading.  See this issue: #6165

In the meantime, using `alignedAxis: Cesium.Cartesian3.UNIT_Z` is your best option.

[2018-07-23 14:04] #6825 closed

[2018-07-23 14:04] hpinkos commented on #6165
Also requested by @hieeyh in #6825

[2018-07-23 14:05] hpinkos commented on #2387
@WangXiaoLun sorry, but we haven't had a chance to implement this feature yet.  If you have a chance to implement it yourself we'd be happy to review a pull request!

[2018-07-23 14:18] hpinkos commented on #4368
@thw0rted that is expected behavior.  `Globe.pick` is retrieving the height of whatever terrain LOD is currently visible on the globe.  When you're zoomed out far, the terrain tiles are very low resolution, hence the negative altitude values.

TerriaJS (a library that uses both Cesium and leaflet) has a mouse over coordinate tool that does a fast approximation of height using `globe.pickTriangle`,

[2018-07-23 15:03] thw0rted commented on #4368
I was looking at something similar on my own, actually, but it turns out the provider I'm using at the moment (an older in-house Google Earth server) doesn't support `availability` and that's required for `sampleTerrainMostDetailed`.  I could use `sampleTerrain` but I didn't know a good way to guesstimate the appropriate level to pass, so I put it on the back burner.  I just want to know how tall

[2018-07-23 15:12] SurajitChowbey opened #6826 "Geocoder is not working if I provide true value explicitly"
Geocoder is not working if I provide true value explicitly.

Please take a look on the following code:

Not working example:
`var viewer = new Cesium.Viewer('cesiumContainer',{
    geocoder: true,
});`

Working example:
`var viewer = new Cesium.Viewer('cesiumContainer',{
    /*geocoder: true,*/
});`

[2018-07-23 16:05] hpinkos commented on #6826
Thanks for reporting this @SurajitChowbey!  We currently expect either a `GeocoderService` or `false` for the `geocoder` property, which is confusing.  We either need to update the documentation to reflect this, or use a separate property to set a custom geocoder service.

@mramato do you have an opinion here?  I feel like overloading the `geocoder` argument in this way was the wrong decision and

[2018-07-23 19:53] OmarShehata opened #6827 "Error with Materials Sandcastle Example"
1. Go to https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Materials.html
2. Click on `Misc materials` and choose `Water`.
3. Get error `Uncaught ReferenceError: require is not defined (on line 150)`

Changing:

[code]

to

[code]

Seems to work (at least doesn't throw an error).

[2018-07-23 19:55] hpinkos commented on #6827
Thanks @OmarShehata!  Can you update the example to use `Cesium.buildModuleUrl('Assets/Textures/NaturalEarthII')` instead of `require.toUrl`?  Also search to make sure none of the other Sandcastle examples use `require.toUrl`.  I thought we fixed this before for #6471 but we obviously missed this one

[2018-07-23 21:16] OmarShehata commented on #5080
Reported again here: https://groups.google.com/d/msg/cesium-dev/D4Nre2wu3II/KuCki2YsAAAJ

[2018-07-24 01:59] lilleyse opened #6830 "entity.show not getting applied after setting entity.position"
[Sandcastle link](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=dVPbjtowEP0Vi5dNJGqCwkJoAXVFqboqUqsS9SlSZZwBrHXsyHaC2Gr/vZM4sCxt/ZB4LufMzMmkZobUAo5gyJwoOJIlWFEV9GfrC+54ay61ckwoMHfhh0zViLEcFCDEY2lrYqh9073UW6A5lO6QgnUPe8Ral4IxeEGQM1WT7JkQ4W6rL5lxem9YeRA8eDek8XA6TuJJEo+TYRxFkz6J6HiaJJM4ju+no9HkfjTqkzii0bk/JBXu9NpgawuwlOV58DtTBE+pLfq0Iu//VZc63ZgYYCrwTYZ9DwQpRWm1yBHZcTXHsFwIdN0M0jLEQUwjbLF7nJmaU

[2018-07-24 08:13] golyalpha opened #6831 "Typescript error in PolygonGraphics"
The outlineColor property of the options object is incorrectly typed.
If I provide the property with a ColorMaterialProperty object, TypeScript is silent, but the outline is not rendered, where as, if I provide it with a Color object, TypeScript screams about missing property isConstant in the object, but Cesium renders the outline successfully.

[code]
![image](https://user-images.githubuserconte

[2018-07-24 12:09] mmacros commented on #6783
Also if you move the camera fast, looking underground and above ground, the renderer crash, showing the following error.

![captura](https://user-images.githubusercontent.com/1498693/43137040-ff3f2a2a-8f20-11e8-808f-0815ab8d625e.PNG)

[2018-07-24 12:41] OmarShehata commented on #6826
A better solution is to remove `geocoder` and just have `geocoderServices`. If it's defined then the feature is enabled, just like with `imageryProvider` and `terrainProvider`.

[2018-07-24 12:47] mramato commented on #6826
I believe this mirrors similar SDKs at the time it was written, but it was so long ago I don't remember for sure.  I would recommend just handling the case where the value is `true` and call it a day.  This has never been a problem before and it would create an immense amount of churn to change because all of the Viewer options follow this paradigm.

[2018-07-24 12:50] mramato commented on #6826
The geocoder is enabled by default, so it already works like `imageryProvider` and `terrianProvider`.  There's technically no bug here, it's documented behavior, but it's an easy usability improvement to make `true` work for all of the widgets.

[2018-07-24 13:11] mramato opened #6832 "Every 3D Tiles Sandcastle example warns of deprecation"
Every 3D Tiles Sandcastle example warns of deprecation.  This switches the focus to the console and makes Sandcastle hard to browse.  It will also be really confusing to our end users.

@ggetz @lilleyse what are the plans to address this before the next release?

[2018-07-24 13:22] lilleyse commented on #6832
This is part of https://github.com/AnalyticalGraphicsInc/cesium/issues/6697 and will be fixed before the release.

[2018-07-24 13:35] emackey commented on #6826
In retrospect we probably should have used `null` instead of `false` back in the day, then people wouldn't have thought to switch it to true, they would understand to supply an instance.

[2018-07-24 16:45] hpinkos commented on #6831
Hello @golyalpha,  CesiumJS does not officially support TypeScript.  There has been some discussion here: #5717

We're always happy to take a pull request to make Cesium easier to use with TypeScript!  For example, see this PR with `tds-jsdoc` fixes: #6767

[2018-07-24 16:45] #6831 closed

[2018-07-24 16:59] hpinkos commented on #6830
@lilleyse as a workaround, use `entity.ellipsoid.show` instead of `entity.show`

[2018-07-24 17:45] likangning93 commented on #6735
Relevant issue on three.js: https://github.com/mrdoob/three.js/issues/9092

[2018-07-24 18:43] mramato commented on #6831
Just to clarify, we officially support using Cesium in TypeScript applications, we just do not have an official TypeScript definition file.  Lots of our users are using TS for development.

In your specific case, `outlineColor` can either be a `Color` or a `Property` that evaluates to a color.  It can not be a `ColorMaterialProperty` as `outlineColor` is not a `Material`.

[2018-07-24 19:56] hpinkos commented on #6814
@lilleyse we want to fix this before the release goes out.  What's the plan?

[2018-07-24 19:58] lilleyse commented on #6814
I'm hoping to look into this sometime this week.

[2018-07-24 20:15] hpinkos opened #6838 "Billboard ordering incorrect when using disableDepthTestDistance"
When the `disableDepthTestDistance` is greater than the distance from the camera to the billboard, the wrong billboard renders on top.  In this example, the blue billboard has a greater height than the red billboard so it should be visible.  However, the red billboard is instead.

[code]

[2018-07-24 20:20] emackey opened #6839 "Sample CZML is no longer JSON format"
As a result of #6834, all of our Sandcastle CZML examples have been converted to single-quotes.  This works just fine in JavaScript and in Sandcastle, but these examples are meant for end-users trying to figure out how to construct actual CZML files of their own.  If they copy/paste the single-quoted versions from Sandcastle into their files, `JSON.parse` will throw an error on account of the quot