[2017-05-01 20:44] emackey commented on #5267
For whoever does this, I recommend `background: rgba(42, 42, 42, 0.8);`  I think there are existing demos with this or very similar backgrounds.

[2017-05-01 23:24] lilleyse commented on #1825
This may be the same problem in this post: https://groups.google.com/forum/#!topic/cesium-dev/wb_dzC9Tjuw

Works fine if the height is left undefined.

[code]
3D:
![3d](https://cloud.githubusercontent.com/assets/915398/25598561/b6c4897c-2ea3-11e7-888c-3c1e7fecb8d1.PNG)

2D:
![2d](https://cloud.githubusercontent.com/assets/915398/25598560/b6b9ffd4-2ea3-11e7-9d26-80640a6b4b07.PNG)

[2017-05-02 16:00] rahwang opened #5270 "Sandcastle UX improvements"
Several of the most useful Sandcastle features are non-obvious. For instance, many users don't notice the search tool, the share button or the documentation links (I didn't know about that one until today!).

Worth thinking about how to make these more prominent. I'll take point on this one.

[2017-05-02 16:02] rahwang commented on #5207
As part of my quest to reorganize Sandcastle, and become more of a forum debugging ninja, I'm reading through all the Sandcastle code. As I go, I'll add a few clarifying comments where I think them helpful. To keep the discussion open, I'll add fine-grained pull requests with my comment additions for however many examples I go through each day.

[2017-05-02 16:40] emackey commented on #5270
Yep.  Would be great to move the whole UI framework off of Dojo, too.

Also, most other live editors present the HTML, JS, and CSS windows simultaneously with the result window, so you can see all the parts at once.  It would be nice if we could do something like that.

[2017-05-02 22:09] JamieDawson commented on #5267
Thanks for the suggestion @emackey , i'll take a look at it and see what I can do.

[2017-05-03 09:07] xuncanzhe opened #5274 "About control the camera"
Thanks to [http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Interpolation.html&label=Showcases]()
I want to control the camer view based on the real-time location and direction of the model.

[code]

[2017-05-03 13:51] rahwang commented on #5266
Thanks for pointing this out, @mramato !

[2017-05-03 14:01] rahwang commented on #5267
I volunteer as tribute!

[2017-05-03 15:22] hpinkos commented on #5274
Hello @xuncanzhe,  Please post questions like this in our forum: http://cesiumjs.org/forum.html
We use GitHub exclusively for bug tracking and planning new features.  A lot of people read the forum so there should be someone who can help answer your question.

[2017-05-03 15:22] #5274 closed

[2017-05-03 16:22] rahwang commented on #5156
Thanks for all your help with this, @lilleyse !

[2017-05-03 16:22] EvaldasVasiliauskas opened #5278 "Core/GoogleEarthEnterpriseMetadata missing ThirdParty/pako_inflate"
After upgrading cesium to 1.33 on existing angular project I get an error, and map does not load:

Core/GoogleEarthEnterpriseMetadata missing ThirdParty/pako_inflate

[2017-05-03 16:23] EvaldasVasiliauskas commented on #5048
Any news on this?

[2017-05-03 16:28] pjcozzi opened #5279 "Evaluate SpectorJS"
For WebGL debugging.

If anyone tries this with Cesium, please comment here with your thoughts.

http://spector.babylonjs.com/

[2017-05-03 16:56] hpinkos commented on #5278
Hello @EvaldasVasiliauskas,

I'm not sure what would be causing that problem, but it looks like `GoogleEarthEnterpriseMetadata` wasn't actually using that function anyway.  I removed this require in this pull request: https://github.com/AnalyticalGraphicsInc/cesium/pull/5280

If you're still having issues after that is merged you can re-open this issue.  Thanks!

[2017-05-03 16:56] #5278 closed

[2017-05-03 17:50] pjcozzi commented on #5156
Fixed in #5188

[2017-05-03 17:50] #5156 closed

[2017-05-03 18:06] pjcozzi commented on #5270
+1 for moving off of Dojo but it is not in our near-term scope.

I also don't think the HTML/CSS is important enough for most of our cases to justify the screen real estate.

[2017-05-03 18:19] mramato commented on #5279
It got added to the Chrome store, so testing it out with Cesium should be trivial: https://chrome.google.com/webstore/detail/spectorjs/denbgaamihkadbghdceggmchnflmhpmk

[2017-05-03 18:55] #5267 closed

[2017-05-03 21:53] hpinkos commented on #2182
Confirmed this is fixed

[2017-05-03 21:53] #2182 closed

[2017-05-04 14:10] #5266 closed

[2017-05-04 21:52] emackey commented on #4108
Thinking about a possible implementation for billboards:  https://groups.google.com/d/msg/cesium-dev/7CHDGRyJvwc/S55fUJ8XCAAJ

[2017-05-06 17:24] pjcozzi commented on #797
* A minimal, WebGL 2-only rendering library https://tsherif.github.io/picogl.js/

[2017-05-08 14:52] hpinkos opened #5286 "Picking in Clustering sandcastle demo doesn't do anything"
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Clustering.html&label=Showcases

I noticed [this block of code](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Apps/Sandcastle/gallery/Clustering.html#L151-L162) in the Clustering sandcastle example:

[code]

But no matter what you click on, `pickedLabel.id` is always `undefined`.

@bagnell what was this meant to do?

[2017-05-08 22:16] pjcozzi commented on #5210
Thanks for evaluating this, @andrzejfigula!

@bagnell or @kring do you know if this fix will impact anything else?

[2017-05-09 00:04] lilleyse opened #5290 "Make debugColorizeTiles work for tiles without a batch table"
For #3241

This can be done by using the underlying `Model.color`.

[2017-05-09 00:28] lyssdod opened #5291 "1.33.0 release and webpack glsl loader"
Hi,

I'm happily using webpack with cesium and everything works nice. However, after recent update to fresh 1.33.0 release webpack gives me warnings:

[code]

Adding glsl loaders to webpack didn't solve this issue. Anyway, everything works nice expect this issue keeps me worried a bit :)

My webpack config is:

[code]

[2017-05-09 00:37] mramato commented on #1825
The same post @lilleyse linked to above was updated to mention that his problem went away if he forced contextOptions to include the stencil buffer see: http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=348403bd766c14f97d05bc59dc60e9cd  I think this is just a happy accident, but figured I'd mention it here in case it sets off any light bulbs.

[2017-05-09 03:12] ryki2658 commented on #5137
I think I can handle this one.

[2017-05-09 08:29] benjaminmur opened #5294 "[Bug] Broken label display"
Hi !

I run into an issue, when i display labels, for about 500 entities.
The display issue seems to not appear when the amount of entities is lower.

The labels display correctly, but after some time, labels start to disapear, but "partly".

I mean the background (black with opacity 0.5) is still at the right position, but all the text, or even just part of the text, is moved at a random position

[2017-05-09 12:48] hpinkos commented on #5294
Thanks @benjaminmur!  I haven't seen this problem before.  It would be really helpful if you could put together a minimal Sandcastle example to reproduce this.

[2017-05-09 14:46] rahwang commented on #2922
Another mention on the forum: https://groups.google.com/forum/#!topic/cesium-dev/RQLtbF4Wdac

[2017-05-09 15:35] benjaminmur commented on #5294
Thanks for the reply !

I've try all day to reproduce this in sandcastle but I couldn't...

Basically the thing I do is to create entities and change the show properties of the label included into. The frequency of the change is the mouse_move event.

Be tried to find the minimal code portion that makes the label glitch.

I'll try more tomorrow.
I'll keep you updated.

Thanks again.

[2017-05-09 15:37] benjaminmur commented on #5294
One more thing.

What makes me think this is a bug in cesiumjs, is that the label, Wich is composed by the background and the text, should not be separated in any way.

Seeing the background at the right place but not the text makes me think of a rendering stack error.

That.s my 2 cents, even if it must be obvious for you guys XD

[2017-05-09 15:43] hpinkos commented on #5294
@benjaminmur yeah, thanks for looking into it!  I do agree it's probably a bug on our end, it's just hard for us to figure out what the cause is without being able to reproduce it locally

[2017-05-09 17:45] pjcozzi commented on #3309
Also, came across this: https://github.com/feross/standard

[2017-05-09 17:50] mramato commented on #3309
We definitely can't use/don't want this.  Hatred of JavaScript "Standard" style aside, it's a no-configuration "do it our way" tool that would dramatically change the way we write code.

[2017-05-09 17:58] pjcozzi commented on #3309
OK, not endorsing it, just making note of what I came across in my travels.

[2017-05-09 18:50] hpinkos opened #5297 "Remove options.clock from Viewer"
Deprecated in #5289

[2017-05-09 18:52] mramato commented on #5297
Thanks, meant to write this up.

[2017-05-09 20:08] emackey commented on #5294
This reminds me a lot of #5154, could this be a duplicate of that?

[2017-05-09 23:35] pjcozzi commented on #5294
I suspect so. @benjaminmur what do you think?

[2017-05-10 00:04] #5248 closed

[2017-05-10 00:32] rahwang opened #5300 "Learning materials for the property system / time dynamic data"
Something that comes up often on the forum is confusion about how to use the property system, and in general, how to work with time-dynamic data. Since this is an important feature of Cesium and the entity system, it definitely deserves more coverage.

I'm not yet sure how best to structure this, but I'd like to increase our Sandcastle example and tutorial coverage on this topic. Feedback and thou

[2017-05-10 01:38] jhwohlgemuth commented on #3309
I would very much like to help integrate ESLint into this project!

From what I can tell, the path to ESLint would be something like:

- [ ] Construct `.eslintrc` file based on the rules from the current `.jshintrc` file
- [ ] Add ["eslint"](https://github.com/adametry/gulp-eslint) task to Gulpfile.js (leave the jshint task for a little while to facilitate the transition)
- [ ] Refactor jshint-rel

[2017-05-10 01:56] mramato commented on #3309
@jhwohlgemuth that would be awesome and very much appreciated!  I think your task list sounds perfect.  The only real concern I have over eslint is possible performance issues over jshint, but I think that's just a fact we have to deal with since ultimately eslint will help us do a lot more.

I'm happy to answer any questions you have as you go.

[2017-05-10 02:01] jhwohlgemuth commented on #3309
@mramato Neat. I will endeavor to get started this weekend.

[2017-05-10 02:52] moonvoid opened #5302 "Label offset problem"
1.In the case of loading terrain,the Polyline object is offset
2.In the case of loading terrain,change label width and height，the label object is offset
![1](https://cloud.githubusercontent.com/assets/16361207/25880868/74fa6c44-356c-11e7-9ef8-2a6af814f643.jpg)
![2](https://cloud.githubusercontent.com/assets/16361207/25880878/7ca4c638-356c-11e7-98b7-2490501561c5.jpg)
![3](https://cloud.githubuserco

[2017-05-10 13:14] hpinkos commented on #5302
Hello @moonvoid, can you please post a minimal [Sandcastle Example](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html) that reproduces this problem?

[2017-05-10 16:02] lilleyse commented on #4549
The memory situation should have been improved now that [skipping lods](https://github.com/AnalyticalGraphicsInc/cesium/pull/5128) and [unloading based on memory usage](https://github.com/AnalyticalGraphicsInc/cesium/pull/5245) are in.

I'm going to close for now, but feel free to comment if there are still issues.

[2017-05-10 16:02] #4549 closed

[2017-05-10 16:04] lilleyse commented on #3453
@SunBlack if you have a chance can you retry this tileset on the latest `3d-tiles`?

[2017-05-10 16:47] YousefED opened #5303 "billboard height with sizeInMeters and VerticalOrigin.BOTTOM"
Steps to reproduce:
1. http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Billboards.html&label=Showcases
2. add `verticalOrigin: Cesium.VerticalOrigin.BOTTOM` to the `sizeInMeters` example
3. Zoom in / out

Observed behaviour: when zooming out, the billboard seems to change it's height-position relative to the surface.

Expected behaviour: the bottom of the billboard stays "clamped" to the

[2017-05-10 17:01] hpinkos commented on #5303
Thanks for reporting this @YousefED!  You can see the billboard is creeping upwards as I zoom out:

![billboard-meters](https://cloud.githubusercontent.com/assets/3451886/25911133/b7e7fbd4-3580-11e7-8ccf-070922471dce.gif)

[code]

[2017-05-10 17:36] YousefED commented on #5303
Thanks for adding. Offtopic: What tool do you use for your video snippets?

[2017-05-10 17:50] #5137 closed

[2017-05-10 17:50] hpinkos commented on #5303
We use [LICEcap](https://licecap.en.softonic.com/) to capture animated GIFs.  Definitely comes in handy

[2017-05-10 19:49] bagnell commented on #4714
@billwritescode I've been looking at your latest code example. I think there is multiple issues.

I still stand by my first comment. To get the correct distance for the 'TOO FAR' value you need to take the bounding sphere into account. The distance should be `distance(cameraPos, pickedPos) - radius` to get the distance to the bounding volume.

If I simplify your second example, everything starts t

[2017-05-10 20:30] bagnell commented on #5286
`pickedLabel.id` should be an array of the entities in the cluster.

[2017-05-10 20:32] lilleyse opened #5307 "Transparent objects flicker when using scene.pick"
When moving the mouse around in an app that uses scene.pick, translucent objects flicker. The gif capture is not best, the flickering is much faster.

![flickery](https://cloud.githubusercontent.com/assets/915398/25919671/5f8dec7e-359d-11e7-833d-033419285a50.gif)

Sample code:

http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/Apps/Sandcastle/?src=Hello%20World.html&label=Showcase

[2017-05-10 20:32] rahwang commented on #5286
Mentioned on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/APtarX9ga64

[2017-05-10 21:14] lilleyse opened #5309 "Fix unaligned glTF accessor"
More details here: https://github.com/AnalyticalGraphicsInc/gltf-pipeline/pull/279

[code]
An accessor's byte offset relative to the overall buffer may be properly aligned, but it's byte offset relative to its buffer view may not be. Since Cesium creates a typed array for the buffer view, the accessor's byte offset is misaligned with its typed array, producing garbage indices.

[2017-05-11 09:14] benjaminmur commented on #5294
Sorry for the late update.

I've done some more work.

I've figure out that if i remove the display distance condition properties, all works fine.

I'll try to put this property back on some entities, to see on what "graphics" of the entity the conditiion break the display.

Does that help?

I'm sorry for the lack of sandcastle exemple, i've try to reproduce the same behavior but couldn't.
I think

[2017-05-11 12:35] hpinkos opened #5310 "Clarify difference between GoogleEarthImageryProvider and GoogleEarthEnterpriseImageryProvider"
From @thw0rted in #5189

[2017-05-11 12:59] mramato commented on #5310
Thanks for the reminder, I meant to mention this in the original PR.  I think a rename of the original class to mention `Maps` (i.e. `GoogleEarthEnterpriseMapsProvider`) and `@link` in the jsDoc for both that clearly explain the differences should be a good, low-impact way of handling this.

[2017-05-11 13:51] cfairchi opened #5311 "Render Error Switching from Columbus View to 3D view"
Cesium 1.33, open sandcastle hello world (Chrome 51.0.2704.84), go to Columbus view, then go back to 3D view and I get a rendering error.
TypeError: Cannot read property 'clone' of undefined

[2017-05-11 13:54] hpinkos commented on #5311
Thanks for reporting this @cfairchi!  I was able to reproduce this first try.

@bagnell can you look into this?

[2017-05-11 13:58] lilleyse commented on #5309
Alignment has become more strict with glTF 2.0, so this issue will no longer be relevant.

[2017-05-11 13:58] #5309 closed

[2017-05-11 16:40] pjcozzi commented on #5294
Hmm, this might mean that this issue is not related, so let's keep this open.

If you do end up coming up with a Sandcastle example, it will be much appreciated.

[2017-05-11 17:37] emackey commented on #5307
This brings back bad memories of #2790.  That bug was caused by a stray scissor test preventing the frame from being cleared at the start, causing OIT to blend with the previous animation frame.  It was fixed, and I don't know if this new problem is some way related, but the symptom looks suspiciously similar.

[2017-05-11 20:35] rahwang commented on #5082
Mentioned on the forum: https://groups.google.com/d/msg/cesium-dev/7h2H0aoVQYs/0sAKt7_kCAAJ

[2017-05-11 21:20] pjcozzi commented on #5307
Could someone track down what version/commit this was added?  It could be a fix we want soon.  I'm surprised it hasn't come up on the forum and in other issues.

[2017-05-11 21:30] denverpierce opened #5313 "Should CompositeEntityCollection maintain the entity.values order of it's collections?"
Psuedo:
[code]

Is it intended to reverse the order of the entities in the collection (as compared to `EntityCollection`), or should it just not be considered to be in the same order as the source collections?

[2017-05-11 21:34] pjcozzi opened #5314 "Particle system roadmap"
* [ ] Time-dynamic billboards, https://github.com/AnalyticalGraphicsInc/cesium/pull/5212#discussion_r112818097

Initial implementation: #5212

[2017-05-11 21:35] shunter commented on #5313
I suspect it's a quirk of the implementation.  In general, I think we usually consider entity collections as being unordered, with intended access being through id lookups (`getById`).

[2017-05-11 22:09] pjcozzi opened #5315 "Remove Safari 9 WebGL constants workaround"
The fix for #2989 is no longer needed: https://twitter.com/pjcozzi/status/638390320619761664

Perhaps in a few years we can remove it when Safari 9 is no longer used.

[2017-05-12 10:02] SunBlack commented on #3453
Cesium isn't crashing anymore, but still requires 1,3GB RAM for this 80MB tileset.

[2017-05-12 20:10] HowardWolosky opened #5319 "basePath doesn't seem to work when loading glTF content"
`new Cesium.Model` lets you specify `basePath` to indicate the base path that any relative paths in the glTF JSON are referring to.  Unfortunately, it doesn't seem to work.

I attempted to use the [glTF 1.0 boxTextured sample model](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/1.0/BoxTextured/glTF).  I copied the files to `c:\sample\` and did something like this:
`
var gltfConten

[2017-05-12 20:13] HowardWolosky opened #5320 "Add basePath option to Cesium.Model.fromGltf"
Right now, there are two ways of loading glTF content:

`Cesium.Model.fromGltf` and `new Cesium.Model`.  When using `new Cesium.Model`, you can specify a `basePath` (although it doesn't currently work (see Issue #5319)).  Unfortunately, you can't specify a `basePath` when using `Cesium.Model.fromGltf`.  This means it's not possible to use that API to load local files that leverage relative paths f

[2017-05-13 15:57] pjcozzi opened #5322 "Consider defaulting to the Fetch API, instead of XmlHttpRequest, when available"
Not sure what the timing of this should be or if it is worth it.

https://css-tricks.com/using-fetch/

[2017-05-15 07:58] xtassin commented on #3411
After moving to 1.32 I noticed that the way I calculate terrain normal (sampling elevation for three points at 1m distance) sometimes returns wrong values around tiles boundaries. (my humble physics engine did not like that)

I reverted back to 1.31 which still returns the "undefined" value that, by now, I managed to work around.

1.32 never returns "undefined" but will, every now and then, return

[2017-05-15 13:36] emackey commented on #5319
I presume you were trying this within the context of `gltf-vscode` where there is a need to load these files off the local filesystem.  Cesium is of course designed and tested for loading the files from a remote server, and I'm sure `basePath` is meant to be a URL, not a filesystem path.

I plan to investigate this issue as part of the review of AnalyticalGraphicsInc/gltf-vscode#6.

[2017-05-15 15:15] HowardWolosky commented on #5319
Precisely.  I found a workaround, but I think it makes sense to support local rootpaths as well since you might want to implement an app/game that can run off Cesium locally.

[2017-05-15 16:47] mramato commented on #5319
This is most likely to `loadWithXhr` usage under Node and related to #5138, @emackey if you are interested in finishing that up, I'd be happy to help point you in the right direction (should actually be pretty straightforward if you read that PR.).

[2017-05-15 18:16] emackey commented on #5319
@mramato This is kind of the opposite problem.  In this particular case, Cesium is executing inside an HTML preview sandbox with relaxed security that allows reading arbitrary files off the local filesystem.

Actually I wonder if just slapping `file:///` on the front of the value passed to `basePath` would fix this.  `basePath` is handed off to `new Uri(...)`, so I would expect that putting the `f

[2017-05-15 18:48] mramato commented on #5319
Ahh, that makes perfect sense, and I expect making sure you use a `file://` uri should make things work as expected.

[2017-05-15 19:11] tfili opened #5323 "Cesium Inspector sandcastle example crashes"
[code]

[2017-05-15 19:16] hpinkos commented on #5323
I must have updated this in the `3d-tiles` branch but forgot to push it to master.  Thanks @tfili!

[2017-05-15 19:29] #5323 closed

[2017-05-15 19:59] HowardWolosky commented on #5319
Great catch.  That does indeed fix it.  I missed this because Babylon _doesn't_ want the file://`.  I'll need to have that as logic handling when switching between the two renderers.  Feel free to close this.  I'd recommend just updating the documentation to reflect the need for the `file://` protocol when referencing local files.

[2017-05-15 20:02] emackey commented on #5319
Great, thanks!

[2017-05-15 20:02] #5319 closed

[2017-05-15 22:29] bgradin opened #5326 "Cesium doesn't work over the file:// protocol"
[code]

In the above minimal example, based on the [KML example page](http://analyticalgraphicsinc.github.io/cesium-google-earth-examples/examples/kmlFetchGood.html), several coordinates, loaded as KML, are plotted with labels on the globe.

Everything works great when the example is loaded through the `http://` or `https://` protocols. However, if you try to view the example locally by opening th

[2017-05-16 05:31] ateshuseyin commented on #5326
Its about cross origin resource sharing. You can disable security in your browser. And you are right. It is not graceful but most of libraries do same thing. file:// protocol is out of scope for web projects.

[2017-05-16 08:25] matankastel commented on #4983
I don't know if it helps or not but I've came across this problem.
What happens (at least in my case) I had a polyline added to the screen, its potions where calculated using callpack property while mouse moved and on left clicked I remove the polyline.

Seems that the callback tries to set the polylines position but it has already been removed.

Hope it helps.

[2017-05-16 12:57] hpinkos commented on #4983
Thanks for the info @matankastel!

[2017-05-16 14:31] mramato commented on #5291
@lyssdod, thanks for reporting your issue, but in the future please use the forum for questions like this.  It will be seen by more people and get a faster response: https://groups.google.com/forum/?fromgroups#!forum/cesium-dev

To answer your question, the `glsl` files are not needed at all when using a Cesium release, they are compiled into JavaScript at build time.  You should just configure yo

[2017-05-16 14:31] #5291 closed

[2017-05-16 20:13] mramato opened #5330 "3D Tiles scaling does not scale geometric error"
When setting a scale transform on the root tile in order to scale a 3D Tileset, bad things happen.  The tileset may draw, but at the wrong resolution and it may also disappear completely when it should take up the whole screen.  @likangning93 thinks the problem is that Cesium is not taking the scale transform into account when computing the final client geometric error, leading to incorrect tile s

[2017-05-16 22:05] denverpierce commented on #5313
Ok, it was a little confusing when using it in a loop that needed to maintain the processed order, but it's an understandable behavior.

[2017-05-16 22:05] #5313 closed

[2017-05-16 22:21] denverpierce opened #5331 "Labels/Billboards behind the camera appear in the wrong position when minimumDisableDepthTestDistance is Infinity"
[Gist](https://gist.github.com/denverpierce/2e501f3090cb830efb1bee5c89e70288)

This happens when `scene.minimumDisableDepthTestDistance` is set to `Number.POSITIVE_INFINITY`, when viewing Labels/Billboard/Points at angles low to the Horizon and reasonably close to the entities.

Entities behind the camera will render in the wrong position.
![s](https://cloud.githubusercontent.com/assets/5432027/26

[2017-05-17 11:03] thw0rted commented on #5291
FWIW I added

        { test: /\.glsl$/, use: 'file-loader' },

to my `module.rules` and it got rid of the warning.  Maybe webpack integration docs need an update since there have been a lot of changes since [the last one](http://cesiumjs.org/2016/01/26/Cesium-and-Webpack/)?  I've had a tough time getting things running, but I'm a webpack newbie...

[2017-05-17 13:48] lilleyse commented on #5330
If we decide to address this in Cesium, we should also update the spec:

From `tile.schema.json`

[2017-05-17 14:03] hpinkos opened #5332 "Cesium3DTilesInspector: tiles don't un-select on mouse out"
![3dtiles-inspector](https://cloud.githubusercontent.com/assets/3451886/26157651/c3380b3e-3ae7-11e7-8037-9b46d8fd89fe.gif)

http://localhost:8080/Apps/Sandcastle/index.html?src=3D%20Tiles.html&label=Showcases

The `Cesium3DTilesInspector` no longer returns feature that have been hovered over to their original color

There's also really bad flickering on mouse move for the tilesets that have been h

[2017-05-17 14:10] lilleyse commented on #5332
Fixed in https://github.com/AnalyticalGraphicsInc/cesium/pull/5321

[2017-05-17 14:10] lilleyse commented on #5332
Flickering is related to https://github.com/AnalyticalGraphicsInc/cesium/issues/5307

[2017-05-17 14:21] #5332 closed

[2017-05-17 14:29] pjcozzi commented on #5320
This should be a small tweak.

@rahwang do you want to make this change?  @lilleyse can advise.  Just be careful that this probably needs to be part of the key for the cache.

[2017-05-17 14:51] hpinkos opened #5333 "depthFailMaterial for dynamic polylines"
The new `depthFailMaterial` property currently only works for static polyline entities.  This is because the `PolylineGeometryUpdater` uses a `PolylineGeometry` for static polylines and a `PolylineCollection` for dynamic ones.  We'll need to add depth fail material support to the `PolylineCollection`

[code]

[2017-05-17 15:31] hpinkos opened #5334 "BoundingSphere.fromOrientedBoundingBox is incorrect"
![image](https://cloud.githubusercontent.com/assets/3451886/26162316/623418fc-3af4-11e7-9181-609aaf192805.png)

[code]

[2017-05-17 18:44] #5334 closed

[2017-05-17 23:53] jhwohlgemuth commented on #3309
@mramato I am down to 12 lint issues that appear to be legit (or at least not intuitively obvious to a casual observer):

[code]
I will address these issues and ensure I do not break any tests 😉. After that, I will move on to the last step of "removing all hints of jshint" and make a PR.

[2017-05-17 23:58] mramato commented on #3309
Awesome work @jhwohlgemuth, I agree those all look like legitimate issues.  Looking forward to your pull request.

[2017-05-18 00:18] lyssdod commented on #5291
Thank you guys!

[2017-05-18 01:21] mramato opened #5338 "LabelCollection incorrectly caches clamped position when re-using"
The below code:

1. Creates a label, `abc`, with a position clamped to ground.
2. When you press `Step 1`, it removes the label
3. When you press `Step 2`, it adds a new label, `abcd`, without a position.

The bug is that the second label should not be displayed (because it has no position), but the first 3 letters shows up at the first removed label's position because the glyphs still have a valu

[2017-05-18 01:56] mramato commented on #5338
Definitely a billboard bug, here's a simpler reproduction:

[code]

[2017-05-18 05:51] ailmee opened #5340 "BingMap"
Thanks for contributing to the Cesium Community!

If you have a question, please search the forum:

http://cesiumjs.org/forum.html

and start a new forum thread, if needed, instead of creating this issue.

Otherwise, we look forward to your bug report or feature request in this issue.

---

Delete this message before clicking Submit.

[2017-05-18 05:51] ailmee commented on #5340
Why can't BingMap load it out?

[2017-05-18 14:47] hpinkos opened #5341 "Camera inertia activates even though ScreenSpaceCameraController is disabled"
I would expect the following code to make the globe stay put since `screenSpaceCameraController` is disabled between pressing on the mouse button and releasing it.  However, while the globe doesn't drag normally, if you flick it the camera inertia causes the globe to move at the end.

![flick](https://cloud.githubusercontent.com/assets/3451886/26208091/3fd791c6-3bb7-11e7-982f-3c6c0cbb6452.gif)

[c

[2017-05-18 14:52] SunBlack opened #5342 "Add scaleByDistance to Geometry"
Currently only scaleByDistance is present for billboards. For geometry it is currently missing (in both variants: entities & primitives). Nevertheless there exists some use cases where you want to have geometry with a fixed pixel size.

[2017-05-18 15:11] denverpierce commented on #5326
You can load other offline resources such as in https://github.com/AnalyticalGraphicsInc/cesium/pull/4773

[2017-05-18 15:13] SunBlack opened #5343 "Animation support in Cesium3DTileStyle"
Currently you can implement animations in Cesium3DTileStyle only by modifying style in each frame, which causes a recompilation of shader. To prevent this we need a uniform containing the current time.

I see two possible implementation strategies we could use:
* Add a variable ${TIME} which is a core variable like ${POSITION}.
* Add interface to Cesium3DTileStyle to user defined uniforms.

Option

[2017-05-18 15:40] lilleyse commented on #5343
Option 1 already exists actually: https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/master/Styling#tiles3d_tileset_time. It starts when the tileset is loaded, so different tiles should be synchronized.

Option 2: that could be an interesting idea. Would the "uniform" be written with the regular style syntax? If so, this could build on top of [multiple expressions](https://github.com/Analytica

[2017-05-18 16:01] SunBlack commented on #5343
Ah good to know that there exists already a timing function. Nevertheless I don't believe it is possible to synchronize animation between different tilesets or objects with it.

Option 2: No, it has not really do to with multiple expressions. Multiple expressions are just glsl optimizations to reduce redundant calculations. With uniforms you could instead introduce dynamic values from JS side.

E.

[2017-05-18 16:10] lilleyse commented on #5343
Ok I see. That would be nice to have if you are interested in implementing it.

[2017-05-18 18:30] emackey commented on #5326
Issue #4773 is about loading Cesium over HTTP on a disconnected network (for example, giving a presentation at a conference where the WiFi is down).  You still need to run [`server.js`](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/server.js) in Cesium's root folder to get a local server for Cesium, even if there is no network connection.

Cesium does not support operating over the `

[2017-05-18 18:30] #5326 closed

[2017-05-18 18:38] mramato commented on #5326
Just to clarify, Cesium absolutely works with `file://` protocols, just not inside of a default sandboxed browser environment for the security reasons you stated.  If you use inside Electron, WebView, or any other platform that allows for file access, everything works perfectly fine.

[2017-05-18 18:45] #5338 closed

[2017-05-18 19:52] #5311 closed

[2017-05-18 19:53] pjcozzi commented on #5311
@cfairchi this was fixed in #5312.  It will be in Cesium 1.34 in June.

[2017-05-18 19:56] pjcozzi commented on #5340
Perhaps the Bing key expired?  Check the console:

In the future, please post questions to the [Cesium forum](http://cesiumjs.org/forum.html).  You'll get a faster response; the GitHub issues are only used for bugs and features.

[2017-05-18 19:56] #5340 closed

[2017-05-18 19:57] pjcozzi commented on #5291
@mramato are there any docs we should update with https://github.com/AnalyticalGraphicsInc/cesium/issues/5291#issuecomment-302057468?

[2017-05-18 20:03] pjcozzi commented on #5330
I probably wrote that part of the spec, but it is not going to work.  Two options:

* Explicitly disallow scale as part of the spec.  It will make the client a bit easier to implement if they actually follow the spec.  Cesium could still expose its own scale/transform.
* Allow scale in the spec - including the GE - and fix Cesium, which I do not think will be hard unless I am missing something.

I

[2017-05-18 20:05] pjcozzi commented on #5331
Thanks for the report, @denverpierce!

@bagnell is this an easy fix?  Perhaps you could guide @rahwang?

[2017-05-18 20:10] mramato commented on #5291
I don't think so, we don't really have any "how to use Cesium with webpack" doc and we also never added specific doc for our modules other than the fact they are AMD.

[2017-05-18 20:19] pjcozzi commented on #3453
@SunBlack can you share your tileset with us for testing?

[2017-05-18 21:26] pjcozzi commented on #5343
For option 2, in the early days of styling when the language was very limited, we actually had the ability to change the operand in an expression at runtime without recompiling.  We would like to have this again, but I don't know if it will be as simple as exposing these "uniforms" (think about this in the general sense, not just from a GLSL implementation perspective).  It would be great if it is

[2017-05-18 23:43] jhwohlgemuth commented on #3309
@mramato Would you like me to tackle transitioning the Sandcastle app from JSHint to ESLint in the same PR for replacing JSHint with ESLint in the Cesium source?

At this point, I am unsure of the work required to make the switch for the Sandcastle app...

[2017-05-18 23:55] mramato commented on #3309
Let's handle Sandcastle separately to keep the PRs smaller and focused.

Sandcastle is an integral part of our development, so a separate project or repository is unlikely.  The only way I ever see that happening is if Sandcastle were maintained as an example application shell (with no Cesium dependency) and then Cesium just depended on it as a third party module, but honestly we have no where nea

[2017-05-19 00:05] jhwohlgemuth commented on #3309
That all makes sense. Thanks for the reply.

My intention at this point is to integrate ESLint and remove all traces of JSHint (excluding the parts that are essential for Sandcastle).

I will leave the [JSHint source](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/ThirdParty/jshint-2.1.10) and probably just move the old JSHint rules into the JSHint configs used by Sandcastle ([this](h

[2017-05-19 00:12] mramato commented on #3309
That all makes sense, but obviously I'll have a better understanding of the big picture once the PR is open.  Feel free to open the PR sooner rather than later so people can start looking at it.  No need to wait until it's "done" done just to open the PR, just leave a comment indicating what's left to do.

[2017-05-19 01:16] jhwohlgemuth commented on #3309
@mramato Good point. And [here it is](https://github.com/AnalyticalGraphicsInc/cesium/pull/5344)

To para-phrase [Mike Tyson](https://www.brainyquote.com/quotes/quotes/m/miketyson382439.html)

[2017-05-19 07:01] thw0rted commented on #5291
Of course you're right, the "docs" I linked to are a guest blog post -- hardly canonical.  Still, the experience of using Cesium via Webpack could be simpler.  If I want to use jQuery, I just 1) `npm install --save jquery`, then 2) `import $ from 'jquery'`; there is no step 3.  Even if you fix #4876, I'm still stuck copying a bunch of assets to be served directly (or in the case of Webpack, using

[2017-05-19 14:13] SunBlack opened #5345 "Crash in PolylineGraphics"
I have following code:

[code]

At the moment I picked 5. point Cesium is crashing. I'm getting following error:
[code]
It works if I remove `lineStrip` each time before adding new `lineStrip`. So it looks like Cesium isn't handling changes in position array correctly (I have no idea why it crashes at 5 points, but not already at 3).

My expectation was an error message that altering position afte

[2017-05-19 16:01] pjcozzi commented on #5222
What's the suggestion here?  Just close this?

[2017-05-19 17:23] emackey commented on #5222
Not sure.  If someone hands you a minified combined `Cesium.js` file, it's hard to know the version without actually loading the JS so you can evaluate `.VERSION`.  Looks like most of the 3rd party deps that are bundled in Cesium include their own version number as part of the copyright banner at the top, that survives the minification process.  It seems odd that all of these bundled packages all

[2017-05-19 17:50] douglasbodkin commented on #3171
I am also experiencing this issue on a 2015 MacBook Pro (AMD Radeon R9 M370X 2GB; OS X El Capitan 10.11.5) and a 2016 MacBook Pro (AMD Radeon Pro 455 2GB; macOS Sierra 10.12.4). The first screenshot shows the polygon while zoomed out and the second displays the issue while zoomed in:

![screen shot 2017-05-19 at 1 48 08 pm](https://cloud.githubusercontent.com/assets/1946810/26260075/e2cf41ca-3c99-

[2017-05-19 19:19] pjcozzi commented on #3171
@douglasbodkin when you visit http://webglreport.com/, does it report "EXT_frag_depth" at the bottom?

[2017-05-19 19:41] Dylan-Brown commented on #5153
An idea Jane gave me for this:
Currently, the way the regular expression was found in her PR was to iterate over a list of known tokens - takes _k*n_ time, for _k_ known tokens and input of length _n_. As the number of possible tokens increases (ie. more than things like "temperature"), it would be more efficient to find all tokens and handling them that way as opposed to iteration over what is kn

[2017-05-19 20:29] douglasbodkin commented on #3171
@pjcozzi Yes, it lists "EXT_frag_depth" at the bottom. Here is the full report:

![screen shot 2017-05-19 at 4 28 44 pm](https://cloud.githubusercontent.com/assets/1946810/26265746/51cdc75c-3cb0-11e7-86aa-188b7cf83a17.png)

[2017-05-20 19:49] pjcozzi commented on #5222
@emackey all good points, sounds like a nice beginner issues.  Perhaps for @klingerj?

[2017-05-20 19:53] pjcozzi opened #5346 "Improved precision orthonormal basis?"
@bagnell would the camera code or anywhere else benefit from this new paper on coming an orthonormal basis with better precision as `z` approaches `-1`?

http://jcgt.org/published/0006/01/01/

If not, just close this.

[2017-05-20 20:04] pjcozzi commented on #3171
Thanks @douglasbodkin, I was afraid that would be the answer! 😄

[2017-05-20 20:37] pjcozzi commented on #4381
Perhaps still an issue? https://groups.google.com/forum/#!topic/cesium-dev/hYrDHkXQeGk

[2017-05-22 18:07] lilleyse commented on #5153
Thanks @Jane-Of-Art and @Dylan-Brown for those notes, I'll keep that in mind for #5232

[2017-05-22 18:14] lilleyse commented on #4865
Finished. Thanks @Jane-Of-Art and @glee2244 for the work here!

[2017-05-22 18:14] #4865 closed

[2017-05-22 18:23] pjcozzi opened #5348 "Improve GEE test coverage"
These files have some of the lowest coverage in Cesium:

![image](https://cloud.githubusercontent.com/assets/782098/26322699/1cb02690-3efa-11e7-84e5-6344be5383f5.png)

Perhaps it is possible to create stubs to cover more of the code.

[2017-05-22 18:24] pjcozzi commented on #5348
And these:

![image](https://cloud.githubusercontent.com/assets/782098/26322767/6a79969a-3efa-11e7-8e9d-a603d9f37069.png)

[2017-05-22 18:26] mramato commented on #5348
Part of the issue is that there is a large amount of generated code from the protocol buffer stuff, it would make sense to add whatever special comments we need to instruct coverage to ignore those junks of code.

[2017-05-22 18:27] pjcozzi commented on #5348
Sounds good.  Related: if it is not a huge amount of work, I am also into looking at other coverage tools that we can run as part of CI.

[2017-05-22 18:35] mramato commented on #5348
Switching to `istanbul` has been the plan for a while and is what we use in all of our other projects..  The problem is `karma` is lagging behind istanbul versions and we need the newer versions to actually be able to test Cesium (because of it's size).  It might be easy to just use istanbul directly, but I need to look more into it.

[2017-05-22 18:57] lilleyse commented on #5153
In order to make this easier to use for all styles, not just condition styles, the `expressions` probably belong outside of everything, like:

[code]

I'll work on adding that to #5232

[2017-05-22 19:28] emackey commented on #5264
The intermediate API has the first parameter as `headingOrHeadingPitchRoll`, but after the deprecated API is removed, presumably the name of the first parameter will then change to just `headingPitchRoll`.

Question, should the jsDoc parameter name match what's there right now, or match what the public API will become once the deprecated stuff is removed?  I would think the latter, otherwise the d

[2017-05-22 20:51] pjcozzi commented on #5264
Sounds good.

[2017-05-22 21:29] emackey commented on #5264
@klingerj use `headingPitchRoll` as a single parameter in place of the first three (heading, pitch, roll) and leave the existing `[result]` parameter doc untouched.  Thanks!

[2017-05-23 05:16] gaojunxiaowwww8888 commented on #648
Hello sir, I would like to ask you about the cesium+three.js how to load the.Gltf model, and let the three.js camera with cesium camera rotation, there is no good examples of reference, thank you.

[2017-05-23 12:13] pjcozzi commented on #797
* Use native uint32 to avoid the pick texture for 3D Tiles, see `createPickTexture` in Cesium3DTileBatchTable.js

[2017-05-23 13:01] SunBlack commented on #5345
I have done some research on this issue. It crashed randomly at 5th element element because `PolylineGeometry.unpack` read a `Cartesian3` value instead of packed size of color array - so it is a out of memory exception.

If I add following code to the end of `PolylineGeometry.pack`
[code]
It throws an error in case someone modified position or color after constructor of `PolylineGeometry` was call

[2017-05-23 15:25] #5264 closed

[2017-05-23 15:44] hpinkos commented on #3947
@pjcozzi this one is non-trivial, I removed the beginner label

[2017-05-23 20:49] pjcozzi commented on #648
@gaojunxiaowwww8888 you might want to ask the three.js community or try the Cesium forum: http://cesiumjs.org/forum.html.  Just a heads up that the Cesium team doesn't yet have any three.js experience.

[2017-05-24 11:04] gaojunxiaowwww8888 commented on #648
Hello sir, I want to ask is whether in the development of cesium+three by three cesium light to improve the illumination effect, three light can affect cesium light; or what is the way to change the cesium in the light effect?

[2017-05-24 11:50] SunBlack opened #5353 "Crash in Cesium3DTilesetTraversal"
On current dev I'm getting a exception in `Cesium3DTilesetTraversal`, introduced with #5254. If I ook at point cloud without zooming in all is okay. But If I zoom in it crashes - maybe if I see last level of tree.

Error message:
[code]
`tile._requestHeap` is still `undefined` at crashing line.

[2017-05-24 13:41] SunBlack commented on #5353
I took a deeper look at it: It is caused by an exception during creating Cesium3DTile, which will be not displaed. Maybe we should add a error handling there. To reproduce it just create a child with following data:
[code]

[2017-05-24 13:47] lilleyse commented on #5158
Example case where this would help: https://github.com/AnalyticalGraphicsInc/cesium/issues/5158

[2017-05-24 14:00] mramato commented on #5158
I think a `tileFailed` event makes a lot of sense, do terrain and imagery already do something similar?  We should make sure we have a holistic approach so that the architecture/API makes sense from the outside.

[2017-05-24 14:06] lilleyse commented on #5353
Thanks for tracking it down. Something should check for degenerate regions before it gets to the normalization exception. I added this as an example to #5158.

[2017-05-24 14:08] lilleyse commented on #5158
I think so, `TileProviderError.handleError` does something like this.

[2017-05-24 14:54] pjcozzi commented on #5279
Currently, if you have the **WebGL Insight** Chrome extension installed, it needs to be disabled for Spector to work.

[2017-05-24 18:15] mramato opened #5357 "Depth fail does not work in Edge"
In Edge, navigate to http://cesiumjs.org/Cesium/Apps/Sandcastle/gallery/Ground%20Clamping.html and selec the last demo in the combo box.  The shared will fail to link.

@bagnell believes this is a bug in Edge where `GL_EXT_frag_depth` is declared in the fragment shader but then not made automatically available in the vertex shader.

[2017-05-24 18:58] #4949 closed

[2017-05-24 19:57] #5357 closed

[2017-05-24 21:50] lilleyse opened #5363 "Remove 3D Tiles deprecation warnings"
[Batched3DModel3DTileContent](https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Source/Scene/Batched3DModel3DTileContent.js) has special handling for legacy b3dm headers. This should be removed once we're pretty sure most tilesets have upgraded.

[2017-05-24 21:57] pjcozzi commented on #5363
Labeled with the new `category - 3d tiles` label.  Please use this moving forward on all 3D Tiles issues.  I haven't yet went back through them.

[2017-05-25 01:10] gaojunxiaowwww8888 commented on #648
@m-schuetz Hello sir, I want to ask is whether in the development of cesium+three by three cesium light to improve the illumination effect, three light can affect cesium light; or what is the way to change the cesium in the light effect?

[2017-05-25 05:59] gaojunxiaowwww8888 commented on #648
Hello, sir. I don't know how to improve the lighting effect of cesium. Is there a good example for reference?

[2017-05-25 11:30] pjcozzi commented on #648
@gaojunxiaowwww8888 please do not post the same question over and over again in this issue.  As explained in [CONTRIBUTING.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#submitting-an-issue), the [Cesium forum](http://cesiumjs.org/forum.html) is the preferred place to ask question; we use GitHub issues for bugs and feature requests.

[2017-05-25 12:28] ateshuseyin opened #5364 "Polyline material with texture failure"
We want to develop a material which have texture uniform for a polyline. But cesium crush with an error message "TypeError: cyclic object value createMaterialId@........". Texture objects have cyclic value and createMaterialId function in `PolylineCollection` computes id as below;

[code]

If createMaterialId will be updated as:

[code]

problem can be fixed

[2017-05-25 14:14] mramato commented on #5265
@emackey any chance you can open a PR for the bare minimum change needed to work in Edge.  Having it completely broken is embarrassing.  If you don't have the time, can you provide some more detail regarding what has to happen.  Do we really need to add a third tab?

[2017-05-25 15:18] #5260 closed

[2017-05-25 20:39] #2487 closed

[2017-05-25 21:31] pjcozzi commented on #3309
OK to close this?

Does anything need a new issue?  Like:

[2017-05-25 21:40] #2645 closed

[2017-05-25 21:40] mramato commented on #3309
I'm writing up some new issue now.  I'll close this with links.

[2017-05-25 21:48] mramato opened #5368 "Use eslint instead of jshint in Sandcastle"
The Sandcastle editor uses a separate set of jshint rules than the eslint rules now being used by Cesium.  We should switch Sandcastle over to running eslint in the browser so we can get rid of jsHint completely.

It looks like ESLint currently doesn't work in the browser out of the box, but it appears easily fixable.  See this issue for details: https://github.com/eslint/eslint/issues/8348

[2017-05-25 21:51] mramato opened #5369 "Add eslint rules for formatting"
When we switched over to eslint, we mostly maintained our jshint rules and whatever esline provided by default.  eslint has style rules as well as syntax rules, we should take advantage of these to provide uniform formatting to our code base.  Some of these are very simple, such as disallowing trailing whitespace, double blank lines, etc... Others can be custom and complicated (for example ensurin

[2017-05-25 21:52] mramato opened #5370 "Investigate eslint auto-fix"
eslint has the ability to automatically fix problems.  At the very least we should add a manual gulp task for fixing problems.  If it's foolproof and fast, we can even consider it happening automatically at commit time.

[2017-05-25 21:53] mramato commented on #3309
Fixes in #5344

Also see #5368, #5369, and #5370

[2017-05-25 21:53] #3309 closed

[2017-05-26 13:13] rahwang opened #5371 "Polyline color not updated when hidden"
Reported in the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Z0vcp_Fxs9o

When a polyline's color is modified while it is hidden, the color update is not applied. When the polyline is shown again, the color is the same as it was originally.

Here's a minimal Sandcastle example:
https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=65b

[2017-05-26 13:32] mramato commented on #5371
Thanks @rahwang! When writing up issues please include a full description of the bug and the exact steps to reproduce it as part of the description.  The links  provide more context, but everything a we need to reproduce should be in the issue itself.

[2017-05-26 14:08] rahwang commented on #5371
Gotcha @mramato ! Updated

[2017-05-26 17:48] mramato commented on #5307
This does not happen in 1.32, so it was introduces recently.  It's really annoying so I marked this for next release, someone needs to at least triage this.

[2017-05-26 17:49] mramato commented on #5307
I'm also running into cases where picking randomly stops working until the canvas is resized, but that could be an unrelated issue.  Unfortunately it's hard to reproduce.

[2017-05-26 18:18] pjcozzi commented on #5307
@emackey do you want to help @klingerj track this down?

[2017-05-26 18:33] klingerj commented on #5307
Git bisect says that the first bad commit is: a9a275f8e6286ae509633d00cc622d195ad4e29b

[2017-05-26 19:26] bagnell commented on #5307
Thanks for finding the commit @klingerj. I have a fix for this. I'll open a PR soon.

[2017-05-26 19:46] #5303 closed

[2017-05-26 21:41] #5307 closed

[2017-05-28 21:21] KermMartian opened #5375 "Breaking Change Log for 3D-Tiles Format Spec"
A log of breaking changes to the b3dm/i3dm/cmpt/etc version 1 format as those specs are developed, or breaking changes to their implementation in 3d-tiles, would be greatly appreciated. For example, AnalyticalGraphicsInc/3d-tiles@e6caa00 and its implementation in 2175467. Unfortunately, by the time we upgraded to a commit beyond that one, the deprecation warning for the 24-byte b3dm header seems t

[2017-05-29 20:14] ateshuseyin commented on #5370
I am playing with pre-commit now. It is very irritating to wait a while for each commit for me. We can consider push time. If I will have time I will evaluate [pre-push](https://www.npmjs.com/package/pre-push).

There is a risk to use `eslint --fix` for es5 project. If one of es6 specific rule is active (eg. [prefer-spread](http://eslint.org/docs/rules/prefer-spread)), eslint change your code with

[2017-05-30 10:10] SunBlack opened #5378 "Missing notification of changed 3d Tile Style"
Example:
[code]

Expected: Color of displayed changes from red to green.
Got: Only new loaded data are displayed green.

Current workaround:
[code]

How this can be fixed: In case a value is changed there should be triggered an event to make style dirty. On this way all shader will be recompiled. In some cases, e.g. `pointSize` it is not necessary to recompile shader, because the size of points ar

[2017-05-30 12:54] mramato commented on #5322
There are undeniably benefits to `fetch`, but none of them apply to Cesium as it is today, for a few reasons:

* IE11 will never have `fetch` support, so we need a fallback path anyway.
* `XMLHttpRequest`isn't going anywhere and there's no immediate benefit to simply using `fetch` instead.
* As far as I can tell, none of the new features, such as response streaming, really apply to our use cases.

[2017-05-30 13:33] mramato commented on #4400
@lilleyse I'm seeing problems with 3D tilesets claiming to be complete when they are not.  I assume the traversal changes may have something to do with it but I'm not sure.  All I know is that `numberOfPendingRequests` is 0, and `numberProcessing` is 0, but the scene is not complete.

[2017-05-30 13:43] lilleyse commented on #5378
Another workaround is to call `tileset.makeStyleDirty()`.

[2017-05-30 13:48] lilleyse commented on #4400
Is the problem with the `allTilesLoaded` event or the `tilesetLoaded` property, or both? It is possible something has changes due to the traversal. Is `numberOfAttemptedRequests` also 0?

[2017-05-30 14:04] mramato commented on #4400
I'll debug further and let you know.  Right now I'm not using the events because I just need to know "is everything done for the previously rendered frame", so I'm just checking `numberOfPendingRequests` and `numberProcessing` directly.

[2017-05-30 14:18] lilleyse commented on #4794
@WilliamKHo @moneimne @omh1280 Let's work on these to start. Open a separate pull request for each file to start.

@rahwang would you like to do the first round of reviews for these?

All these files are in the `Core` directory. For any checks that involve arrays, just use `Check.defined` as there is not a `Check.typeOf.array`. Some checks may also require using `Check.typeOf.number.lessThan` and

[2017-05-30 14:21] mramato commented on #4400
Looks like `numberOfAttemptedRequests` is 0 as well, but I'm starting to think this is a false alarm and it could be a problem with the tileset I'm using.  The pop-in I'm seeing could be a bad boundingsphere or something.

While I have you here, what exactly is `numberOfAttemptedRequests`?

Is there a reason we are using an `allTilesLoaded` event instead of just setting a boolean flag?  For every

[2017-05-30 14:26] mramato commented on #4400
Spoke offline with @lilleyse we think it's bad geometric error with the tileset I'm using.

We'll keep the `allTilesLoaded` event for now, but what we really need is a interface level property for all Primitives that indicate if they are complete or not.  This would be the first stepping stone to being able to avoid rendering every frame if there's no work to be done.

I'm going to close this for

[2017-05-30 14:26] #4400 closed

[2017-05-30 14:31] lilleyse commented on #4400
By the way, `tilesLoaded` is a boolean flag you can use.

[2017-05-30 14:33] mramato commented on #4400
Awesome, I must have missed when that got added.

[2017-05-30 14:52] rahwang commented on #4794
I'd be happy to @lilleyse !

@WilliamKHo @moneimne @omh1280

When you open a pull request for any of these, please tag. Ping if you need help!

[2017-05-30 15:09] lilleyse commented on #5375
The deprecation warning for both legacy b3dm headers should still be logged here https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Source/Scene/Batched3DModel3DTileContent.js#L261-L285, if it isn't could you send over a sample .b3dm?

The good news is we don't expect the headers to change any more before version 1, and afterwards any breaking changes will be documented.

[2017-05-30 15:25] rahwang opened #5379 "Image not cleared when polygon entity is removed from dataSource"
Reported in the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/JgzuftedXi0

When more than one polygon with an image material is added with a non-zero height, removing one of the polygons from the entity collection does not clear the image from the screen.

Here's a Sandcastle example:
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gis

[2017-05-30 15:44] esparano commented on #2442
I seem to have a similar problem to lloyda06.  In my case, I was accidentally drillpicking outside of the Cesium canvas (not sure if that's relevant), and drillPick would go into an infinite loop in the same way that lloyda06 described.  I was using a typical Cylinder entity and trying to select a point primitive in a point primitive collection underneath several cylinders.  DrillPick selected the

[2017-05-30 16:11] pjcozzi commented on #5322
Let's close.  If anyone has additional feedback, please comment.

[2017-05-30 16:11] #5322 closed

[2017-05-30 17:57] pjcozzi opened #5381 "Sun atmosphere artifact"
@emackey as discussed offline.  Perhaps a render order / framebuffer / scissor issue.

![ok2](https://cloud.githubusercontent.com/assets/782098/26597395/d561eea8-453f-11e7-95c2-c7d30dd55ab4.gif)

[2017-05-30 21:04] mramato commented on #5370
We don't have any es6 rules active, so I don't think `eslint --fix` will be a problem, plus if we have a rule active, we would want it to change the code everywhere.

Can you experiment with enabling [caching](http://eslint.org/docs/user-guide/command-line-interface) to see how much that speeds up the pre-commit hook (I imagine it would be a big help).  I agree that pre-commit might be a little ag

[2017-05-31 01:17] mramato commented on #5379
Note to whomever fixes this (though I'll probably do it when I have more time).  This looks like a race condition involved with `StaticGeometryPerMaterialBatch.update` vs `StaticGeometryPerMaterialBatch.remove` caused by changing an entity property immediately after removing it (but before the remove has been processed by the visualizers).  Because the item has changed, it's still getting put in a

[2017-05-31 07:47] xiangjg opened #5396 "2D select feature"
When you load WMS, click get the WMS layer information and cannot get it

[2017-05-31 07:49] xiangjg opened #5397 "label offset"
When the terrain is loaded, the label is shifted;

[2017-05-31 07:53] xiangjg commented on #5396
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Web%20Map%20Service%20(WMS).html&label=Beginner

[2017-05-31 08:09] #5397 closed

[2017-05-31 08:13] #5302 closed

[2017-05-31 10:57] pjcozzi commented on #5378
Calling `tileset.makeStyleDirty()` is not a workaround; it is the right way to do this.

Otherwise, styling would be too slow since each feature would have to evaluate the style each frame.

[2017-05-31 10:57] #5378 closed

[2017-05-31 10:57] pjcozzi commented on #5378
@lilleyse consider adding this to a Sandcastle example in #5308.  I had it at one point but looks like it was removed.

[2017-05-31 11:01] SunBlack commented on #5378
I was thinking about a signal which `Cesium3DTileStyle` send to all `Cesium3DTileset` which are using this style. On this way `Cesium3DTileset` don't need to check if a style has been changed.

[2017-05-31 11:04] pjcozzi commented on #5378
@SunBlack feel free to explore and open a PR for discussion.  It's been awhile since I designed this but I might have also ruled that out for complexity or performance, but it could be worth reevaluating.

[2017-05-31 13:25] mramato commented on #5396
Whoops, I just realized you mentioned this was for 2D only, that is actually a known issue.  See #2480

Sorry for the confusion.

[2017-05-31 13:26] mramato commented on #2480
Mentioned again in the above linked issue.  This comes up all of the time so I marked it priority.

[2017-05-31 17:59] hpinkos commented on #4397
Related #5042

[2017-05-31 18:07] hpinkos commented on #4397
Actually, this is definitely a the same problem as #5042
Closing as a duplicate

[2017-05-31 18:07] #4397 closed

[2017-05-31 18:21] hpinkos commented on #5042
The problem has something to do with billboards with `HeightReference.CLAMP_TO_GROUND`.  (Point entities use a billboard behind the scenes when the height reference option is used)
The bounding sphere in 2D/CV is way wrong.

Without `CLAMP_TO_GROUND` :
![image](https://cloud.githubusercontent.com/assets/3451886/26647117/401c6a3a-460c-11e7-8683-3c5004aa8941.png)

With `CLAMP_TO_GROUND`:
![image](ht

[2017-05-31 20:02] lilleyse commented on #5247
Some notes after trying this earlier but realizing it wasn't worth the effort right now:

* One problem is that setting `tile.color` will override any changes to `feature.color` once the tile's update is reached.
* The real solution here would be to have the inspector set colors on a feature-by-feature level, and set a different color for the picked feature. This would require storing an array of

[2017-05-31 20:30] hpinkos commented on #5286
Pretty sure this is what we want to do:
- [ ] Add an id to the default entity cluster label in [`EntityCluster`](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/DataSources/EntityCluster.js#L141)
- [ ] Add an id to the custom style billboard in the Sandcastle example

[2017-05-31 21:15] WilliamKHo opened #5400 "Remove deprecated GoogleEarthImageryProvider"
See #5399. In Cesium 1.34, `GoogleEarthImageryProvider` became just a thin wrapper for the renamed `GoogleEarthEnterpriseMapsProvider`. `GoogleEarthImageryProvider` should be removed in Cesium 1.37

[2017-05-31 21:52] KermMartian commented on #5375
The relevant bytes that those lines check are the empty JSON array 7b 7d 20 20 ("  {}"), ie, 0x20207d7b, which is less than 0x22000000 as noted in the source. /After/ those bytes come the glTF magic ("glTF"). I'm not sure why we have spaces before the empty JSON array, but that seems to be perfectly valid JSON regardless. This is probably such a corner case as to not be worth investigating on your

[2017-06-01 01:29] xiangjg commented on #5396
Thanks very much

[2017-06-01 01:54] xiangjg commented on #2480
What can I use instead of this pickImageryLayerFeatures function in the 2D state?

[2017-06-01 02:38] #3575 closed

[2017-06-01 13:58] jdfwarrior opened #5402 "Entity Picking Bug"
A coworker was working on something and came across a weird issue when attempting to pick entities in Cesium. I've put together a little example [here](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=714cdba64c65b7cf0779cdc88f957d77)

I attempted to post this in the forums but they weren't showing up.

The basic idea is, we are using the mouse_move event to

[2017-06-01 14:06] hpinkos commented on #5402
Thanks for the detailed explanation and the code example @jdfwarrior!  We have seen some picking issues lately, but I wasn't able to reproduce the one you reported.  Could you copy/paste a screenshot of what the camera angle looks like when picking stops working?
Also, what browser, OS and graphics card are you using? Thanks!

[2017-06-01 14:44] jdfwarrior commented on #5402
Ok I just tried it again was able to replicate it a little easier this time. From the same link, double click on the ISS to track it. Click the globe to hide the info box then rotate under and back around to the top of the entity. At that point, the tooltip doesn't work. I know the tooltip isn't of your concern but the tooltip doesn't show when it found nothing to pick which seems to be the issue.

[2017-06-01 14:55] hpinkos commented on #5402
Ah, thanks.  I was able to reproduce this in IE.  Most of us use Chrome for development so that's maybe why we haven't seen this.

This is what my view looked like when picking stopped working.  I would pop in occasionally, but hovering over most of the line returned nothing

![image](https://cloud.githubusercontent.com/assets/3451886/26685603/953487b2-46b8-11e7-8164-2eda3056f7fe.png)

[2017-06-01 15:08] ChangeDotOrg commented on #5402
Hey, I found this for @jdfwarrior.
I have noticed that if you resize the window it does start working again.
When it breaks sometimes the tooltip does show up in random places near the path. It seems like the calculation for pick is inaccurate.

We did this in a browser using IE to test the issue, but our typical environment is electron using chrome as the rendering engine where we originally enco

[2017-06-01 15:16] hpinkos commented on #5402
Thanks for the extra info @ChangeDotOrg!

[2017-06-01 18:40] mramato opened #5408 "CZML and KML need the ability to pass query parameters"
`CzmlDataSource` and `KmlDataSource` have no way to specify additional parameters that need to be included in url requests.  The most common use for this is query-based access tokens.

Both classes' `load` function (and in CZML's case the `process` function) should take an additional `query` object, off of the options object.  It would be a dictionary of strings that get converted to a query strin

[2017-06-01 19:21] #5030 closed

[2017-06-01 19:23] hpinkos commented on #5029
Fixed in #5188

[2017-06-01 19:27] #5029 closed

[2017-06-01 19:27] hpinkos commented on #5016
Fixed in #5017

[2017-06-01 19:27] #5016 closed

[2017-06-01 19:31] hpinkos commented on #4921
Would it make sense to add this type of validation to `Check`?  We should remember to put pragmas around calls to `Check` functions

[2017-06-01 19:39] hpinkos commented on #5139
@pjcozzi how about if no tileset is selected, you select the first tileset you hover over?

Is there a reason to have a flag for this?  I feel like it would always be helpful to auto-select the first tileset you come into contact with.

[2017-06-01 19:57] denverpierce commented on #5408
I'd add geojson to this as well.  A good use case is ArcGIS server, which can serve up conformant Geojson, but the API calls to build the queries are unwieldy in raw string form.

[2017-06-01 19:58] hpinkos commented on #5408
Thanks @denverpierce!  Good idea

[2017-06-01 19:59] mramato commented on #5408
I didn't think GeoJSON would be necessary since there's only one url involved, which the developer specifies.  You can use `objectToQuery` to easily do what you want in that case.  In CZML/KML, they retrieve additional resources depending on the content of the file, and that's something we can't currently do.

I'm not against adding it for GeoJSON for completeness, it will be trivial.

[2017-06-01 20:11] hpinkos commented on #4744
Started in https://github.com/omh1280/cesium/tree/czml_distance

[2017-06-01 20:12] mramato commented on #5402
I've actually ran into this a few times as well, but since I was on the 3D Tiles branch every time, I assumed it was specific to there.  "good" to know it's in master.  @bagnell can you take a look at this?

[2017-06-01 20:26] xuezhaokun opened #5410 "support gzipped data file on 3d-tiles branch?"
Hi,
I just noticed you are now supporting to serve gzipped data file on the 3d-tiles-samples server, and I tried it out and found it is a really cool fix. I am wondering if it is an easy fix for your 3d-tile branch here to support gzipped data file as well. Thanks!

[2017-06-01 21:50] pjcozzi commented on #5139
Sounds good.

Maybe not.  I suppose if the inspector's tileset is `undefined`, then take the tileset on hover.

[2017-06-02 13:34] mramato opened #5411 ""Any" type in JSDoc"
There are places in the code where we use  `{Object}` to indicate "This can be anything" when in reality the correct type is `{*}`.  We should do a review of the doc and fix these.

[2017-06-02 15:09] #5381 closed

[2017-06-02 15:09] #5286 closed

[2017-06-02 18:41] pjcozzi commented on #5320
Thanks again for the input, @HowardWolosky.

Added in #5403 by @moneimne

[2017-06-02 18:41] #5320 closed

[2017-06-02 21:41] denverpierce commented on #5408
Now that I understand the use case, I see what you're saying.  They are closely related, but geojson doesn't have a burning need for that functionality, it'd just be a quality of life change.

[2017-06-02 22:05] kladess opened #5416 "glTF 3d model texture is not showing in mobile chrome browser"
https://geoint.iptime.org:8442/rabbit/

Hi, my 3d model was made  by 3d scanner s/w and converted to glTF format by obj2gltf.

this model was showing collectly with texture in desktop browsers but mobile browser was not them.

[2017-06-02 23:51] lilleyse commented on #5416
The texture on this model is pretty large, 8192 x 4096 pixels. On http://webglreport.com/ check for `Max Texture Size`. It's possible the mobile device has a limit of 4096 or smaller. To fix this try scaling down the texture.

[2017-06-02 23:51] #5416 closed

[2017-06-05 10:33] EvaldasVasiliauskas commented on #5278
After updating to 1.34 I get kind of similar error (probably somewhere else than before):
Cesium missing ThirdParty/pako_inflate

[2017-06-05 10:36] EvaldasVasiliauskas opened #5417 "missing ThirdParty/pako_inflate"
After updating to 1.34 I get kind of similar error to #5278 (probably somewhere else than before):

`Cesium missing ThirdParty/pako_inflate`

when using unminified version, full error:
[code]

I'm using angular + webpack.

[2017-06-05 13:28] mramato commented on #5278
@EvaldasVasiliauskas can you provide a complete example that demonstrates the problem? We are unable to reproduce this on our end.

[2017-06-05 14:28] lilleyse commented on #5146
Fixed in https://github.com/AnalyticalGraphicsInc/cesium/pull/5413

[2017-06-05 14:28] #5146 closed

[2017-06-05 14:29] lilleyse commented on #5310
Fixed in #5399

[2017-06-05 14:29] #5310 closed

[2017-06-05 15:44] denverpierce commented on #5322
`fetch `with JSON parsing has lower performance in Chrome 58 than `XMLHttpRequest`, and higher perf in Firefox 53 per [performance tests](https://github.com/arendjr/fetch-vs-xhr-perf).

Heavy JSON parsing doesn't map well to Cesium xhr load, but it does show that there are performance considerations for switching.

[2017-06-05 16:02] lilleyse commented on #5233
Fixed in #5414

[2017-06-05 16:02] #5233 closed

[2017-06-05 16:18] lilleyse opened #5423 "PBR roadmap"
* [x] Proof-of-concept - Load glTF 1.0 models with hard-coded materials and shaders from https://github.com/khronosGroup/gltf-webgl-pbr. Use the sun as the sole light source.
* [x] Finish up glTF 2.0 support
  * [x] https://github.com/AnalyticalGraphicsInc/cesium/pull/4808
  * [x] https://github.com/AnalyticalGraphicsInc/gltf-pipeline/pull/272
  * [x] https://github.com/AnalyticalGraphicsInc/gltf-

[2017-06-05 16:31] je-an commented on #932
Regarding to http://cesiumjs.org/2017/05/24/Upcoming-Summer-Code-Sprint/
This would be my choice :)

[2017-06-05 16:32] je-an commented on #5082
Regarding to http://cesiumjs.org/2017/05/24/Upcoming-Summer-Code-Sprint/
This would be my choice :)

[2017-06-05 18:38] pjcozzi commented on #5082
Thanks for the input, @je-an!

[2017-06-05 18:39] pjcozzi commented on #932
Thanks for the input, @je-an!  This scope is too big for the sprint. :disappointed:

[2017-06-05 18:40] pjcozzi commented on #5423
CC #4009

[2017-06-05 18:44] pjcozzi commented on #5423
Before exploring **Lighting ideas** and **spec-gloss extension**, please do the least amount reasonable to get a full glTF 2.0 implementation working - including morph targets - and merged into master.

[2017-06-05 19:29] #5224 closed

[2017-06-05 21:20] rezn8d commented on #2938
Any updates on this? I am running 1,30 on [climateviewer.org](http://climateviewer.org/)  and the default settings give a framerate hit on iPad 2 that is tremendous.  I'll try viewer.resolutionScale = 1.0 / devicePixelRatio; until something is resolved in the repo.

[2017-06-05 21:25] rezn8d commented on #2938
Jumping topics to Patrick's response here: [Re: cesium-dev Re: Performance of geometries on iOS](https://groups.google.com/d/msg/cesium-dev/4R0_Axdbicw/tfFa_R5pioMJ)

[2017-06-05 21:27] mramato commented on #2938
Is this the original iPad 2 running at 1024x768?  What version of iOS is it running?  If it's the original iPad 2, the device is simply underpowered.

The workaround I posted above may or may not still be valid.  I'm actually surprised to still see this issue open.  The primary source of the slowdown was definitely fxaa, if you want, you can set `viewer.scene.fxaa = false` to get a boost in framer

[2017-06-05 21:27] #2938 closed

[2017-06-06 00:31] pjcozzi commented on #797
* [WebGL 2.0 Masterclass](https://spaxe.github.io/webgl2-masterclass/) from Web3D 2017

[2017-06-06 05:05] je-an commented on #932
Hey Patrick, thanks for your response. Could you tell me, if the team have plans to implement this feature in the near future, respectively if it is on the near future roadmap ?! Thank you :)

[2017-06-06 08:22] LiuYP208 opened #5429 "Whether I can load a tile map based on a custom resolution"
In the project, I have a product layer, which is based on  a resolution like [0.625, 0.3125, 0.15625, 0.078125, 0.0390625, 0.01953125, 0.009765625, 0.0048828125, 0.00244140625]，not the default resolution（[0.70312500000000,...]）。I want to load it in the 3D mode.
I tried to  load it by createTileMapServiceImageryProvider  and change the “units-per-pixel” Property in the  file:“ tilemapresource.xml，b

[2017-06-06 14:16] lilleyse commented on #5153
Fixed in #5232 but will rename `expressions` to `defines`.

[2017-06-06 14:16] #5153 closed

[2017-06-06 14:30] lilleyse commented on #5152
Sorry @glee2244, I missed this comment. @AnimatedRNG will finish this up now.

1. Having both allows us to check if the value has changed since the last frame. It is basically the same as having a dirty flag, but slightly less code. `normalShading` will act similarly.
2. I updated the link in the top post. Everything in that `hasNormals` block applies the shading. The new code should be just `hasN

[2017-06-06 14:35] hpinkos commented on #5429
Hello @LiuYP208,  Please ask questions like this on [our forum](https://groups.google.com/forum/?hl=en#!forum/cesium-dev).  We use GitHub exclusively for bug tracking and planning new features.  The forum reaches many more people, so it is more likely that someone will see your question and be able to help.   Thanks!

[2017-06-06 14:35] #5429 closed

[2017-06-06 14:50] mramato opened #5430 "Cesium tests broken in Chrome"
Chrome  59 deleted `initDeviceOrientationEvent` because they are non standard and have newer equivalents.  We need to update `DomEventSimulator` to account for this.

See https://developers.google.com/web/updates/2017/04/chrome-59-deprecations for full details.

[2017-06-06 15:04] lilleyse commented on #5410
I should have started the conversation here instead of `3d-tiles-samples`. See @mramato's comment: https://github.com/AnalyticalGraphicsInc/3d-tiles-samples/pull/11

[2017-06-06 15:04] #5410 closed

[2017-06-06 15:29] markerikson commented on #2094
Would love to see this worked on during the summer 2017 code sprint!  (Also linking for reference: #2319 )

[2017-06-06 15:32] thw0rted commented on #4346
Hey all, it looks like this has been around for a while.  My issue is, I need to know the lat/lon bounding box of where the viewer is looking so I can dynamically load in entities.  `computeViewRectangle` seemed like the obvious way to do this, but if it's not going to work in 2D view, I'm going to need another solution.  Is this issue being worked, so I just have to stall until another release or

[2017-06-06 15:47] emackey commented on #5408
Random question, does the fix here only involve query parameters?  Should we support systems that transmit authentication via added headers instead of query parameters?

[2017-06-06 15:57] omh1280 commented on #5408
This is only for query parameters, yes.

[2017-06-06 16:01] mramato commented on #5408
Headers are not generally a good solution for authentication that involves browser-retrieved resources.  For example, Cesium uses the HTML image element for retrieving markers, image tiles, textures, etc.. but you can't assign headers when setting `image.src`, your only choice is a query parameter.  So even if we added header support, it would not help in 99% of Cesium's use cases.

Of course if w

[2017-06-06 16:40] denverpierce commented on #5408
Isn't there limited support for reusing existing header auth via `TrustedServers`?

[2017-06-06 16:46] burn123 commented on #873
When will there be support for infoboxes using KML documents? Currently, I can only get the infobox to show up for my KML file if I wrap the `<Document>` in a `<Folder>`

[2017-06-06 19:11] alberto-acevedo commented on #2094
+ 1 to get this finally fixed.

[2017-06-06 19:42] mramato commented on #5408
Good point in that the Authorization header, cookies, and certs would already be added in the case of the server being in the `TrustedServers` list, but general header support is impossible because of the reason I listed above.  I think `TrustedServers` is the better mechanism to enable what @emackey originally described (and already works today)

[2017-06-06 20:10] pjcozzi commented on #932
We don't have short-term plans for this; we have our hands full with 3D Tiles right now.

[2017-06-06 20:16] pjcozzi commented on #5430
Any takers for the code sprint next week?

[2017-06-06 20:20] pjcozzi commented on #2094
Thanks for the input!  We'll see if someone is interested at the sprint.

[2017-06-06 20:24] pjcozzi commented on #5291
@thw0rted sorry for the slow response.  Yes, we want to have super simple integration with webpack in the future.

In the short-term, would you like to write a short guest post on the Cesium blog with the latest info on using Cesium and webpack together with the latest info?

[2017-06-06 20:25] emackey commented on #5408
Thanks.  Was mostly asking a hypothetical.  I think we have an internal project here that normally uses headers, but can optionally use query parameters if I'm not mistaken.

Feel free to close this if you're done with the implementation.  Thanks again.

[2017-06-06 20:27] omh1280 commented on #5408
@emackey KML is in progress and very close to done.

[2017-06-06 21:27] moneimne commented on #5423
Idea for applying PBR to geospatial: Altering the metallic and roughness of a model at runtime to achieve certain results, For example, one can add highlights or rim lights to a model to represent selection by manipulating the metallic and roughness parameters.

[2017-06-06 21:55] zbennett10 commented on #4346
I'm wondering about this issue as well!

[2017-06-07 01:35] LiuYP208 commented on #5429
SORRY THAT BECAUSE OF INTERNET REASON ,IT'S VERY HARD FOR ME  TO CONNECT  TO THE GOOGLE NET......

[2017-06-07 07:48] thw0rted commented on #4346
The more I play with it, I'd really like a polygon (arbitrary number of sides) representing the visible surface, in world coordinates.  The subject function more or less works in 3D but gives some strange results when you have the camera at low/oblique angles, or rotated at off-cardinal headings.  I think in 2D I might be able to work this out -- assuming `pickEllipsoid` works, I could grab the la

[2017-06-07 12:04] thw0rted commented on #5291
I will keep it in mind -- I have a deadline next week so I'm unlikely to have the time to blog before then, but maybe after?  That said, I'm not convinced I'm using this properly.  My current Webpack config "works" but takes a relatively long time (20+ seconds) to build and results in one 10+MB JS file.

I think I have some reading to do!

[2017-06-07 12:27] mramato commented on #873
@burn123 I'm not sure what you mean.  Infoboxes are already supported for KML.  If you have a KML file or snippet that you feel should work, but doesn't, please share it and we'll take a look.

[2017-06-07 12:30] mramato commented on #5322
Thanks for the link @denverpierce, I don't think it changes the current plan but it's something we definitely need to consider when we eventually do move to fetch.

[2017-06-07 12:55] thw0rted commented on #5417
I've been successfully using Webpack by including `Source/Cesium.js` instead of `Build/Cesium/Cesium.js` (or `Build/CesiumUnminified/Cesium.js`).  I'm still a Webpack newbie; ideally I'd like to just use the pre-built Cesium and not have Webpack bother trying to modularize it, but at least this way it works at all.

[2017-06-07 13:10] hpinkos commented on #4346
Hi @thw0rted.  I'm not sure if this is something we're going to get a chance to look into in the next few months, but it is labeled `priority` because a number of other users have run into this issue.
As a workaround, you can try calling `camera.pickEllipsoid` for coordinates at the corners of the screen and use that to create a `Rectangle`.

However, for dynamically loading entities, I think usin

[2017-06-07 13:19] burn123 commented on #873
In my app, the infobox won't appear if I don't have the Document wrapped by a Folder element. So for example, in this snippet I can't get the Placemark description to show up in the infobox, because the infobox never appears

    <?xml version='1.0' encoding='UTF-8'?>
    <kml xmlns="http://www.opengis.net/kml/2.2" xmlns:gx="http://www.google.com/kml/ext/2.2" xmlns:kml="http://www.opengis.net/kml/

[2017-06-07 15:56] zbennett10 commented on #3857
I'm in the same boat, - is anything being done about this?

[2017-06-07 16:16] mramato commented on #3857
As @jsalankey the static use case has improved a lot since this issue was written.  There will be further improvements when `3d-tiles` comes into master this month, thanks to tile prioritization, throttling, and cancellation.

@NaderCHASER we are adding direct support for time-dynamic imagery tiles in the next release or two, so that should help your use case tremendously.

Even with the above imp

[2017-06-07 17:36] lilleyse opened #5435 "Point Cloud Shadows"
@AnimatedRNG this might be good to work on until there is a simple post-processing framework in place for point cloud rendering.

I just tested that shadows work with point clouds, they just aren't hooked up yet in the code.

<img width="160" alt="point-cloud-shadows" src="https://user-images.githubusercontent.com/915398/26891878-8c17ccb8-4b84-11e7-80db-42af5a5db2ec.png">

`Cesium3DTileset` has a

[2017-06-07 18:50] burn123 opened #5436 "Have better errors for issues with KML files"
I think there needs to be more helpful errors when a KML file fails to load. For example, I spent a long time trying to debug this error when adding a KML file to Cesium

    Error processing drag and drop DemoKML.kml:RuntimeError: Invalid XMLHttpRequest response type.
    Error
        at new t (http://localhost:3000/lib/Cesium.js:517:29185)
        at XMLHttpRequest.f.onload (http://localhost:30

[2017-06-07 18:56] #4713 closed

[2017-06-07 20:06] tfili opened #5437 "Camera.flyTo with Rectangle destination and an orientation doesn't behave as expected"
You would expect to still be looking at the center of the rectangle but from an angle.

However the current behavior has the camera positioned directly above the rectangles center with its view direction changed using the `orientation` parameter. You end up not looking at the rectangle at all.

[2017-06-07 20:47] #5408 closed

[2017-06-07 20:53] rahwang opened #5439 "Plane not normalized bug"
This simple follow-camera example worked in previous releases, but is now broken. The problem seems to be that CullingVolume is passed unnormalized planes at some point. @mramato

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=1c5e7894a4da621935504540bb8aef40

[2017-06-07 21:10] mramato commented on #5439
This exception is because of #5304.  The code in the Sandcastle example is most likely not the culprit, it looks like `CullingVolume.prototype.computeVisibility` is using an unnormalized plane, but I need to trace exactly where it's coming from.

[2017-06-07 21:16] mramato commented on #5439
Talked to @bagnell, we figured out the problem.  I'll have a PR open later tonight.

[2017-06-07 23:50] #5439 closed

[2017-06-08 10:24] thw0rted opened #5442 "GeocoderService incompatibility between when.js Promise and browser native Promise"
I have made two examples in Sandcastle, [one with browser-native Promise](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=52ce4f0cb053317229ef805b6c7be1bd) and [one with when.js calls](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=cb7391b40c2d494f1ad5e377a57ae14e).  Please load each example, search for anything, then

[2017-06-08 11:23] thw0rted commented on #5442
Note that both examples do show suggestions, so it "partially" works -- you can even click a suggestion, but for some reason enter-to-search breaks things.  Weird!

[2017-06-08 13:56] lilleyse commented on #5435
Fixed in #5438

[2017-06-08 13:56] #5435 closed

[2017-06-08 15:07] moneimne opened #5443 "modelMaterialsCommon crashes when glTF contains quantized attributes extension"
There is a crash when trying to load a model that uses both the modelMaterialsCommon and quantized attributes extensions. The model files are attached.

[Coin.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/1061438/Coin.zip)

[2017-06-08 17:19] waldanbridger opened #5444 "3D Tiles - Trailing spaces after featureTableJSON in .pnts file"
A point cloud is displayed only if there are some spaces after closing bracket of featureTableJSON string.
Tested on the 'cube' point cloud from the 3d-tiles-samples/TilesetWithExpiration repo. It works only if there are exactly 3 spaces after JSON.

[2017-06-08 17:33] lilleyse commented on #5444
The spaces there are added for padding purposes. More details here: https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/master/TileFormats/FeatureTable#implementation-notes

We also plan on clarifying this better in the spec.

[2017-06-08 17:33] #5444 closed

[2017-06-08 18:50] #5430 closed

[2017-06-08 21:05] rahwang commented on #5437
@bagnell since we'll be talking about camera things at the code sprint, perhaps we could fix this as well?

[2017-06-08 21:34] #4898 closed

[2017-06-09 13:35] mramato opened #5446 "Add "disableSecurity" option to InfoBox"
See this thread: https://groups.google.com/d/msg/cesium-dev/Ktn8aPQmOsQ/_Dbd7igkCQAJ

While we expose the ability to disable iframe sandboxing, some use cases need the title text to be HTML as well, which is currently using the knockout `text` binding instead of HTML.  This will also help with the fact that most people aren't familiar with iframe sandboxing and we can provide them a single top-lev

[2017-06-09 14:32] rahwang opened #5447 "add FlyTo path functionality"
We don't currrently support flyTo entity paths, but it's come up on the forum a few times. We should consider adding it as an option if there's not a strong reason against it.

https://groups.google.com/forum/?hl=en#!searchin/cesium-dev/path%7Csort:date/cesium-dev/A01euOdSy3A/ZoZZviNxCwAJ

[2017-06-09 14:38] pjcozzi opened #5448 "Evaluate GRLAA for polyline AA"
@bagnell what do you think of this: https://www.imgtec.com/blog/grlaa-for-anti-aliasing-in-nav-applications/

I also did something like this in the virtual globe book.

[2017-06-09 14:48] mramato opened #5449 "More eslint improvements"
@omh1280 here's some low hanging fruit after you are done with #5431

* Enable --cache argument for all eslint usage: http://eslint.org/blog/2015/09/eslint-v1.4.0-released
* Remove `/*global define*/` from all Cesium source files, as it will no longer be needed.
* Make `defineSuite` a global in Cesium tests and remove `/*global defineSuite*/` from all specs.
* Expand coding guide to discuss `eslin

[2017-06-09 15:27] omh1280 commented on #5449
- [ ] remove `.jshintrc` files, and other associated jshint functions (in `gulpfile.js` for example)

[2017-06-09 15:52] emackey opened #5450 "Polyline dashes don't play nice with CallbackProperty"
When using `CallbackProperty`, the polyline dashes are always shown horizontally, even if the line is mostly vertical in screen space.

Here's a [demo](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=5f1f68fe618ae46774a52c02b7819833).  Try moving the camera around to see how the dashes behave at different orientations.  The light blue line behaves the usual

[2017-06-09 16:18] mramato commented on #4791
I think #5301 covers this well enough.

[2017-06-09 16:18] #4791 closed

[2017-06-09 17:57] bagnell commented on #5448
We do something similar with the line outline material. We antialias the edge of the line and the outline, but not the the outside edge of any polyline.

[2017-06-09 17:57] lilleyse commented on #5363
Also at the same time remove support for the non-underscored `BATCHID` semantic.

[2017-06-09 18:03] klingerj commented on #3491
Came across the issue that @mramato described by chance today, @emackey thought it was worth uploading a screenshot demonstrating the issue:
![polylinebug](https://user-images.githubusercontent.com/16977116/26988183-4fe2623c-4d1c-11e7-9dae-4758d3038283.png)

[2017-06-09 18:14] omh1280 commented on #5449
https://github.com/adametry/gulp-eslint/issues/132

[2017-06-09 18:33] mramato commented on #5449
@omh1280 I know we talked a little bit about that link offline, but always provide some contents to posts like that so other developers (or ourselves in the future) have the required context for it.  Cesium is developed out in the open.

Also, I think the easy solution in this case is to run eslint via a child process instead of through gulp, then we can use the cache argument.  Look at `generateD

[2017-06-09 18:46] emackey commented on #5446
Using an `html` binding for the name in the title bar seems a particularly odd choice.  Window title bars generally don't have clickable links in their titles, that sort of thing belongs in the body of the window.  Do we have more than one user who wants this?

[2017-06-09 18:56] mramato commented on #5446
It's actually a not uncommon thing with KML documents, but we've only had one user ask for it so far (and they were fine with a workaround).

We get the "how to allow JavaScript" question all of the time on the forum, so I think a top-level property makes sense either way, simply for the improved API exposure.

[2017-06-09 19:02] emackey commented on #5446
Oh. OK then.

[2017-06-09 19:48] burn123 opened #5451 "Zoom limits not respected by custom geocoder"

[2017-06-09 19:51] pjcozzi commented on #5291
Sounds good, @thw0rted, keep us posted!

[2017-06-10 16:39] pjcozzi opened #5452 "Evaluate SharedArrayBuffer for shared memory with web workers"
Still being standardized, but there are experimental implementations in at least Chrome and Firefox.

https://hacks.mozilla.org/2016/05/a-taste-of-javascripts-new-parallel-primitives/

Enable in Firefox:

javascript.options.shared_memory

Enable in Chrome:

shared-array-buffer

The above demo does not run in Chrome; I did not investigate.

[2017-06-10 20:02] DemonicHawk opened #5453 "Height reference is not supported without a scene."
Setting the height reference for a billboard inside a billboard collection gives the following `error:`
[code]

Manually assigning the scene with the following code snippet seems to resolve the issue:
[code]

Sample code:
[code]

I've tested versions on Sandcastle dating all the way back to 1.10 when the feature was first introduced, but they all seem to have the same error..  I should also mentio

[2017-06-11 03:08] omeric4c opened #5454 "error on install cesium"
D:\Cesium-1.34>npm install cesium
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\
node_modules\\npm\\bin\\npm-cli.js" "install" "cesium"
npm ERR! node v6.11.0
npm ERR! npm  v3.10.10
npm ERR! code ENOSELF

npm ERR! Refusing to install cesium as a dependency of itself
npm ERR!
npm ERR! If you need help, you may report this error at:
npm E

[2017-06-11 03:11] omeric4c commented on #5454
D:\Cesium-1.34>npm install
module.js:96
    throw e;
    ^

SyntaxError: Error parsing C:\Program Files\nodejs\node_modules\npm\node_modules
\inherits\package.json: Unexpected token < in JSON at position 0
    at Object.parse (native)
    at readPackage (module.js:92:52)
    at tryPackage (module.js:102:13)
    at Function.Module._findPath (module.js:186:20)
    at Function.Module._resolveFilename

[2017-06-11 14:48] zzcyrus commented on #5417
I got the same problem so I use 1.31 version.

[2017-06-11 20:58] jeremywilliams commented on #3945
Hi cesium team,

I am still experiencing this issue. Whenever I click on a polygon shape the screen flickers. I was wondering if anyone has a workaround or knows of a fix in the works?

[2017-06-12 10:00] gaojunxiaowwww8888 commented on #648
For the cesium+three.js development process, the three model jitter problem is solved? Now encountered this problem, I hope you can help, thank you

[2017-06-12 12:56] pjcozzi commented on #648
@gaojunxiaowwww8888 please do not post the same question to the Cesium forum and this repo.  Your question was answered in https://groups.google.com/forum/#!topic/cesium-dev/gCWi3BpT47U.

For jitter in three.js, your best bet is to ask the three.js community as I mentioned to you above.

[2017-06-12 13:18] mramato commented on #5454
@omeric4c It looks like you are using a downloaded zip release of Cesium and then trying to run `npm install cesium` in that directory.  That definitely won't work as the error message indicates.  You should be running `npm install` only.

The second error looks like there may have been an issue with Node on your end.  Try running `npm cache clean` and then starting with a freshly unpacked zip bef

[2017-06-12 13:18] #5454 closed

[2017-06-12 13:31] mramato commented on #5453
As per the documentation (http://cesiumjs.org/Cesium/Build/Documentation/BillboardCollection.html?#BillboardCollection) you need to pass the scene as a constructor option into billboard collection if you want to use height reference (the error message could probably be a little better):

[code]

If you are using the minified Cesium.js, you will not see the error because that is the release version

[2017-06-12 13:31] #5453 closed

[2017-06-12 13:40] mramato commented on #5442
This is an area Cesium needs to do a lot better.  Cesium was written long before Promises were standardized and so it relies on some non-standard functions in the old version of when we are using `otherwise` in this case.

The solution in this case if to make sure that we wrap any user-created promises in a `when.resolve` (in this case, the Geocoder should be wrapping the return result from `geoco

[2017-06-12 13:46] mramato commented on #5429
@LiuYP208 I totally understand that parts of the world do not have access to Google services.  To answer your question, what you are describing is actually a custom tiling scheme and very non-standard.  If you would like to view your map data in Cesium, you would have to implement your own `TilingScheme` class (see https://cesiumjs.org/Cesium/Build/Documentation/TilingScheme.html) and then pass yo

[2017-06-12 14:50] hpinkos commented on #3945
Hello @jeremywilliams.  Can you please post a short [Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html) example that reproduces the issue you're seeing?  Thanks!

[2017-06-12 15:03] thw0rted commented on #4346
I ended up playing with this and `camera.pickEllipsoid` definitely helped me make a Polygon (Rectangle would only work in 2D).  It's not perfect, because if the horizon is visible then the top corners can't be computed (you're trying to `pick` a pixel in space :D) but it's a start.

[2017-06-12 15:58] mramato commented on #5369
http://eslint.org/docs/rules/#stylistic-issues has a good list to start with.

[2017-06-12 16:08] mramato opened #5456 "Proposed eslint rule additions"
I did a pass on all available rules on http://eslint.org/docs/rules/ and picked out ones that we probably want in Cesium.  We'll want to test these out one by one to make sure the rule isn't already handled by some of the other rules we are already using.  We can turn a bunch of these on at once, assuming they don't require a bunch of code changes.  Rules that do require a bunch of code changes sh

[2017-06-12 16:09] mramato commented on #5456
If anyone has any thoughts on the above rules, or recommend additional rules that we should look into, please speak up.  I'm hoping to have these rules added sometime over the next few weeks otherwise.

[2017-06-13 03:00] lybc opened #5462 "can not release memory"
I used cesium in the angular2 to create an earth component. like this
![image](https://user-images.githubusercontent.com/9601872/27063748-21fe05ee-5026-11e7-8bb2-9d9465cc6e8b.png)

When this component is logged off I have manually destroyed the viewer objectand when I destory this component

[code]

In my program, this component is in a state of rotation that is constantly created and destroyed.

[2017-06-13 03:31] LiuYP208 commented on #5429
Thank you very  much for both understand and Technical support!! I will try  to write code according to the documentation you provided!

[2017-06-13 11:38] pjcozzi opened #5463 "CylinderGraphics.slices default is incorrect"
https://cesiumjs.org/Cesium/Build/Documentation/CylinderGraphics.html#slices

Reports 16, should be 128: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/CylinderGeometry.js#L53

The `CylinderGraphics` constructor function is correct; just the property needs to be updated.

[2017-06-13 12:26] chenp1204 opened #5464 "Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"
When compiling with webpack, the following is error message.

WARNING in ./~/_cesium@1.34.0@cesium/index.js
11:35-42 Critical dependency: require function is used in a way in which dependencies cannot be statically extracted

ERROR in ./~/_requirejs@2.3.3@requirejs/bin/r.js
Module parse failed: E:\iview-project-2.0\node_modules\_requirejs@2.3.3@requirejs\bin\r.js Unexpected character '#' (1:0)
You

[2017-06-13 13:30] burn123 opened #5465 "Scene Transition doesn't respect zoom limits"
Related to #2647, when you morph to a different view, at least using the Scene Mode Picker, the zoom limits are not respected.

[2017-06-13 14:05] mramato commented on #5464
Thanks @chenp1204, this is an issue with webpack, not with Cesium.  The good news is it's fixable, you just need to set some additional configuration options. See https://github.com/AnalyticalGraphicsInc/cesium/issues/4876 for more info but if you still need support please create a post [on the forum](https://groups.google.com/forum/?fromgroups#!forum/cesium-dev) (none of the Cesium team uses Webp

[2017-06-13 14:05] #5464 closed

[2017-06-13 14:17] mramato commented on #5462
@lybc thanks for the report.  I'm not sure if this is a memory leak or the browser just being greedy about holding onto memory but we should definitely look into it to be sure.  I wrote a reduced test case for Sandcastle that shows the problem you're describing.

[code]

Basically this code runs and memory goes up fairly quickly but at some point Chrome starts to do it's "Too many active WebGL con

[2017-06-13 18:45] pjcozzi opened #5468 "Update feature demos and demos in README.md to match cesiumjs.org demos"
Update

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/README.md#featured-demos

to match

http://cesiumjs.org/demos.html

CC @slchow

[2017-06-13 18:48] hpinkos commented on #5465
Thanks for reporting this @burn123!

[2017-06-13 19:04] thedoctordiaz commented on #5402
I just wanted to confirm that there is a picking bug even with the simple sandcastle demo on cesiumjs.org that picks a single cesium billboard entity. If you zoom out the earth ball and spin it around a few times and then zoom back in, picking stops working correctly and the part of the screen that causes the billboard to highlight is no where near the icon visually. Likewise as was mentioned if y

[2017-06-13 19:24] #4322 closed

[2017-06-13 19:29] hpinkos commented on #5402
Thanks for including the screenshot @thedoctordiaz!  That should make it easier for us to reproduce what you are seeing.  We're going to try to look into this soon.

[2017-06-13 19:34] omh1280 commented on #5456
@mramato can I get started on adding some of these to Cesium?

[2017-06-13 20:10] pjcozzi commented on #5462
This is likely the browser, but we'll look when we can.

[2017-06-13 20:53] pjcozzi commented on #5456
👍

👍, except

Does this apply to Cesium yet since it doesn't use `class` anywhere?

Generally, I would say yes, but I'm not sure we should commit to it since this allows for some nice graphics code like http://www.realtimerendering.com/blog/looping-through-polygon-edges/

Perhaps just enable it and see how many exceptions the current code base needs.  If it is only a few, just stay with it.

👎 Thi

[2017-06-14 01:00] omh1280 commented on #5456
I've just been playing around to see how breaking these would be. [no-use-before-define](http://eslint.org/docs/rules/no-use-before-define) is the biggest I've tested with >900 errors.

[2017-06-14 02:41] chenp1204 commented on #5464
Thank you very much !

[2017-06-14 15:18] mramato opened #5474 "Rectangle.fromCartesianArray does not have correct defaults"
Rectangle.fromCartesianArray documents that `ellipsoid` defaults to WGS84, but if `ellipsoid` isn't specified, the default is never set, leading to a crash.  Add a `defaultValue` call to make sure ellipsoid defaults to Ellipsoid.WGS84.

[2017-06-14 15:36] pjcozzi commented on #351
Close as duplicate with ES6 modules in #2524?

[2017-06-14 15:42] pjcozzi commented on #652
@mramato OK to close this as duplicate with the ESLint, etc. work @omh1280 is doing this summer?

[2017-06-14 15:45] pjcozzi commented on #773
OBE since this hasn't come up in four years?

[2017-06-14 15:52] hpinkos commented on #773
This hasn't been very high priority, but it would be good to address whenever we get a chance to revamp the timeline

[2017-06-14 15:52] mramato commented on #773
It has come up and it actually a giant PIA when working with time dynamic data to not have this.

[2017-06-14 15:52] mramato commented on #773
The main problem is the entire Timeline really needs to be rewritten.

[2017-06-14 15:58] pjcozzi commented on #1185
Insufficient priority.

[2017-06-14 15:58] #1185 closed

[2017-06-14 16:01] pjcozzi commented on #1254
From three years ago:

Closing for now.

[2017-06-14 16:01] #1254 closed

[2017-06-14 16:07] pjcozzi commented on #1494
Close as duplicate with #2524?

[2017-06-14 16:09] pjcozzi commented on #1532
Closing, no update in 3 years and potentially OBE by the recent GEE provider.

[2017-06-14 16:09] #1532 closed

[2017-06-14 16:13] pjcozzi commented on #1640
@moneimne can you please fix this as part of your PBR work?  I actually noticed this in some of your PBR demos.

Easy fix is https://github.com/AnalyticalGraphicsInc/cesium/issues/1640#issuecomment-131245051

Complete fix is to skip `DrawCommand`s until they are ready or change the blending state to alpha blend while the texture is being loaded.

CC @lilleyse

[2017-06-14 18:44] pjcozzi commented on #1802
In three years, this hasn't seemed to bother anyone except me so closing.

[2017-06-14 18:44] #1802 closed

[2017-06-14 18:50] pjcozzi commented on #832
Upgrading to the latest JSDoc should fix this, https://github.com/AnalyticalGraphicsInc/cesium/issues/1859#issuecomment-285692183

For a test case, check http://cesiumjs.org/releases/1.34/Build/Documentation/Model.html?classFilter=Model#boundingSphere

[2017-06-14 18:53] pjcozzi commented on #1998
I would be fine closing this.  Also see @mramato's comment: https://github.com/AnalyticalGraphicsInc/cesium/issues/1998#issuecomment-163677671

[2017-06-14 18:55] pjcozzi commented on #3877
EPSG:3395 was requested in #2084

[2017-06-14 18:55] pjcozzi commented on #2084
Thanks again @ezze @zhhwdev.  To keep our GitHub issues manageable, I made a note of this in #3877.

[2017-06-14 18:55] #2084 closed

[2017-06-14 18:59] #1998 closed

[2017-06-14 19:19] pjcozzi commented on #2285
I can't reproduce this any more either.

[2017-06-14 19:19] #2285 closed

[2017-06-14 19:20] pjcozzi commented on #2310
OK to close as duplicate?

[2017-06-14 19:41] pjcozzi commented on #2597
Closing since there is no update in 1.5 years.  Please reopen with more details if this is still of interest.

[2017-06-14 19:41] #2597 closed

[2017-06-14 19:43] pjcozzi commented on #2677
@mramato is this still of interest?  Are Chrome packaged apps commonly used?

[2017-06-14 19:48] pjcozzi commented on #2750
@mramato what do you suggest here?  Close as OBE given future conversion to 3D Tiles and maybe CZML in some cases.

[2017-06-14 19:56] mramato commented on #2750
I think shapefiles will map nicely to what we have planned for vector tiles, so we're much better off spending our time there rather than trying to have direct shapefile support via entities.

[2017-06-14 19:56] #2750 closed

[2017-06-14 20:00] pjcozzi commented on #2942
Updated code example:

[code]

I can't reproduce this in Firefox 53 or Chrome 59 on Mac.

[2017-06-14 20:00] #2942 closed

[2017-06-14 20:02] pjcozzi commented on #3026
This will be OBE with glTF 2.0 PBR (CC #5423), but will still be an issue with glTF 1.0 and 2.0 with the GLSL extension.

[2017-06-14 20:11] pjcozzi commented on #3103
Progress in gltf-pipeline here: https://github.com/AnalyticalGraphicsInc/gltf-pipeline/pull/272

[2017-06-14 20:22] pjcozzi commented on #3448
@lilleyse reminder to label this once 3D Tiles is merged.

[2017-06-14 20:26] pjcozzi commented on #3571
OK to close this as duplicate with @omh1280's summer work?

[2017-06-14 20:32] pjcozzi commented on #3804
@bmckilligan any update on if this is still an issue for you?  Thanks!

[2017-06-14 20:33] pjcozzi commented on #3877
OSGB36 was requested in #3824

[2017-06-14 20:33] pjcozzi commented on #3824
Thanks again @kalifa17!  To keep our GitHub issues manageable, I made a note of this in #3877.

[2017-06-14 20:33] #3824 closed

[2017-06-14 20:41] pjcozzi commented on #3940
Most likely a driver bug.  Hopefully it is just something subtle in the post-processing part of the shaders.

[2017-06-14 20:44] pjcozzi commented on #3961
Could be duplicate with #2317.

[2017-06-14 20:45] pjcozzi commented on #3967
@mramato would we upgrade to Bluebird or use ES6 promises?  Could we wait that long for ES6 to be widely used?

[2017-06-14 20:47] pjcozzi commented on #4871
Same problem with this Sandcastle example: #3995

[2017-06-14 20:48] pjcozzi commented on #3995
Thanks for the code example, @dwhipps!

The latest triangulation library does not fix this.  I'm pretty sure it is due to the polygon being projected to a tangent plan that distorts a polygon of this size.

I've consolidated this issue with #4871.

In the meantime, a workaround is to break this up into two polygons.

[2017-06-14 20:48] #3995 closed

[2017-06-14 20:53] pjcozzi commented on #4015
Thanks again for the issue, @rominavarela!  Would you like to make the update to Cesium?  For info on contributing, see [CONTRIBUTING.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request).  Thanks!

[2017-06-14 20:55] pjcozzi commented on #4030
CC #2594

[2017-06-14 20:57] mramato commented on #3967
Native ES6 Promises are fairly limited and it still makes a lot of sense for us to use Bluebird in Cesium. (For example, there is no `finally` function, no map, each, etc..)

[2017-06-14 21:23] pjcozzi commented on #4363
@mramato can you retest?

[2017-06-14 21:30] pjcozzi commented on #4446
Thanks for the input here, but given the size of the community, we will stick with google groups in the short- to mid-term.

[2017-06-14 21:30] #4446 closed

[2017-06-14 21:34] pjcozzi commented on #4603
@lilleyse is the above tasklist up-to-date?  Can we close this?

[2017-06-14 21:45] pjcozzi commented on #4645
CC #3125

[2017-06-14 21:49] pjcozzi commented on #4694
@lilleyse OK to close this?

[2017-06-14 22:01] pjcozzi commented on #4752
CC #4560

[2017-06-14 22:05] pjcozzi commented on #4803
Fixed in #4809

[2017-06-14 22:05] #4803 closed

[2017-06-14 22:15] pjcozzi commented on #4933
@PratyushTalreja did you open a pull request for this?  Perhaps I missed it?

[2017-06-14 22:20] pjcozzi commented on #5015
Thanks for the idea @denverpierce.  @mmcgarity any luck with this?

Perhaps it would be best to discuss on the [Cesium forum](http://cesiumjs.org/forum.html) first, and then submit an issue if there is a specific feature request or bug.

[2017-06-14 22:20] #5015 closed

[2017-06-14 22:37] pjcozzi commented on #5115
Agree with @mramato.

What doc in particular would be useful?  Is there something very concise we could put on the downloads page?

[2017-06-14 22:41] pjcozzi commented on #5152
Fixed in #5433.

[2017-06-14 22:50] pjcozzi commented on #5219
@swhkyo could you please post a question to the [Cesium forum](http://cesiumjs.org/forum.html)?  You'll get a better response there; we use this GitHub repo for feature requests and bugs.

[2017-06-14 22:50] #5219 closed

[2017-06-14 22:51] pjcozzi commented on #5226
Already fixed in #5308?

[2017-06-14 23:25] pjcozzi commented on #5239
Fixed in #5405

[2017-06-14 23:25] #5239 closed

[2017-06-14 23:29] pjcozzi commented on #5279
Tutorial: http://www.realtimerendering.com/blog/debugging-webgl-with-spectorjs/

[2017-06-14 23:32] mramato commented on #5226
Yes

[2017-06-14 23:32] #5226 closed

[2017-06-14 23:33] lilleyse opened #5475 "Remove ability to pass a promise as the url argument for loadWithXhr and other load functions"
The ability to provide a Promise for the `options.url` parameter of `loadWithXhr` and for the `url` parameter of `loadArrayBuffer`, `loadBlob`, `loadImageViaBlob`, `loadText`, `loadJson`, `loadXML`, `loadImage`, `loadCRN`, `loadKTX`, and `loadCubeMap` will be removed in 1.37, instead `url` must be a string.

Removing this also requires some reorganization in `loadWidthXhr` and `loadImage`, the `ma

[2017-06-14 23:36] pjcozzi commented on #5375
Closing as no action here.

@KermMartian please keep an eye on the [3d-tiles repo](https://github.com/AnalyticalGraphicsInc/3d-tiles) as we are about to put the finishing polish on the spec and would value your input.

[2017-06-14 23:36] #5375 closed

[2017-06-14 23:36] lilleyse commented on #4603
Checked all the boxes, just forgot to close.

[2017-06-14 23:36] #4603 closed

[2017-06-14 23:36] #4694 closed

[2017-06-14 23:37] mramato commented on #4363
2 is fixed ( changed this to a task list) 1 and 3 still happen.  I also agree that the zoomfactor for pinching is also too slow, you have to pinch way too much to zoom anywhere near the ground from space.

[2017-06-14 23:41] mramato commented on #3961
@likangning93 can you still reproduce this?  I fixed a camera issue in #5440 that led to NaNs which may have accidentally fixed this.

[2017-06-14 23:43] mramato commented on #3571
Sure.

[2017-06-14 23:43] #3571 closed

[2017-06-14 23:46] mramato commented on #2677
It hasn't come up in a long time and I doubt it will.

[2017-06-14 23:46] #2677 closed

[2017-06-15 04:20] likangning93 commented on #3961
It's been a while, so I'm not sure if I followed my own instructions exactly, but it seems like I can't reproduce this anymore.

[2017-06-15 04:20] #3961 closed

[2017-06-15 12:43] mramato commented on #5048
See #5418 for additional discussion on this, but here's my take

[2017-06-15 12:57] thw0rted commented on #5442
Thanks for the response.  I'm not actually sure where in the callback chain this falls apart; my Promise debugging skills are middling at best, so I lose track of the resolution somewhere between my code and Cesium's.  Sorry!  For the time being, I'm going to try to be careful to only give `when` promises to Cesium.

[2017-06-15 15:44] emackey commented on #5015
This may be a dup of #2310.

[2017-06-15 18:08] NaderCHASER commented on #3857
@mramato The request scheduler over H2 has improved tile loading performance for my use case.

However, as you mentioned, I'm really looking forward to the time-dynamic imagery. I noticed it was being implemented for WMTS, but I imagine the underlying code (Imagery / ImageryProvider) could be adapted to integrate into UrlTemplateImageryProvider? My main concern is not having tiles load for imagery

[2017-06-15 18:32] jbo023 opened #5477 "3D Tiles loading to many tiles"
Hi,

i just checked the current state of the 3D-Tiles Branch and found a problem with one of our datasets.
If i start the view zoomed and only some buildings are shown cesium loads up to 254 b3dm files from this dataset in the background. This sandcastle Code should demonstrate the problem.
[code]

if i just change the view a bit and zoom out. The dataset loads fine and only 12 B3DM are loaded.

[

[2017-06-15 20:35] burn123 commented on #1456
@mramato The sandcastle link doesn't have the .999 in there anymore, and if you do try to add it, you get a lot of intersecting parts of the polygons. Is there another way to fix this?

[2017-06-15 21:22] emackey opened #5478 "Picking and drill-picking don't work after rotating the globe"
If you spin the globe to the opposite side (Australia, for example) and then come back to the US, picking and drill-picking stop working correctly.

Picking:

![pickingproblem](https://user-images.githubusercontent.com/1235080/27202271-ee5f96f6-51ee-11e7-88fe-25041568d0b1.gif)

And also, drill-picking:

![drillpickproblem](https://user-images.githubusercontent.com/1235080/27202280-f91b2312-51ee-11

[2017-06-15 21:23] emackey commented on #5478
At least one team internally considers this high-priority.

[2017-06-15 22:24] ateshuseyin commented on #5370
My pre-push idea is failed. `eslint --fix` causes some unstaged changes which blocks push. I added a new gulp task (eslint-fix) but I will replace it with eslint cli according to #5449 .

I am still unsettled about pre-commit. After evaluting eslint cli with --cache I will decide.

[2017-06-15 22:36] mramato commented on #5478
This probably has the same root cause as #5402

[2017-06-15 23:41] kring commented on #3857
Re: "My main concern is not having tiles load for imagery that's not
currently visible (alpha = 0)."

That's actually a feature, allowing you to preload layers that aren't
visible yet but will be soon.  If you don't want it loading, set show=false
too.

Kevin

On Jun 16, 2017 4:08 AM, "Ryan Hickman" <notifications@github.com> wrote:

@mramato <https://github.com/mramato> The request scheduler over

[2017-06-16 00:04] cfickler commented on #4863
Hi Guys, this is a little off topic, but same error. Looks like if you have a polygon covering the poles that has a fill a DeveloperError: normalized result is not a number error is thrown.

The following code gives an example.

    var viewer = new Cesium.Viewer('cesiumContainer');

    var hierarchy = [ -180,90,-180,50,180,50,180,90];

    viewer.entities.add({
        polygon: {
            hie

[2017-06-16 01:25] omh1280 commented on #5456
Many PR's open, which include these rules:
- `guard-for-in`
-  `no-caller`
-  `no-floating-decimal`
- `no-new`
-     `no-undef-init`
-     `default-case`
-    `no-alert`
-     `no-loop-func`
- `no-implicit-globals`
-  `no-use-before-define`

[2017-06-16 01:34] omh1280 commented on #5456
[`consistent-return`](http://eslint.org/docs/rules/consistent-return) is proving difficult to implement. https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Globe.js#L384, and many other functions rely on returning either a value or `undefined`.

Should I enable the rule and silence the errors inline?

[2017-06-16 02:15] pjcozzi opened #5487 "Evaluate new GitHub code of conduct tool"
https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/

[2017-06-16 02:38] bmckilligan commented on #3804
Sorry, I missed the message in January, All looks good on Chrome 64-bit

On 14 June 2017 at 13:32, Patrick Cozzi <notifications@github.com> wrote:

[2017-06-16 07:23] #3804 closed

[2017-06-16 11:53] pjcozzi commented on #5477
@jbo023 is this a new issue or did this always happen in the `3d-tiles` branch?

Have you checked each tile's geometric error and the tileset's screen-space error to ensure that this isn't expected behavior?  Perhaps the geometric errors are too high.

There's also several optimizations that can be set when calling the `Cesium3DTileset` constructor function.

[2017-06-16 12:15] pjcozzi commented on #5456
Probably, unless there are dozens of these cases.  We may come up with ideas to clean things up in the pull request.

[2017-06-16 12:42] jbo023 commented on #5477
@pjcozzi I just checked, before this pull request the dataset worked as expected.
https://github.com/AnalyticalGraphicsInc/cesium/pull/5254

I will also check the tileset structur maybe we have some kind of error in our structur which didn't matter befor that PR.

[2017-06-16 12:57] pjcozzi commented on #5477
I was afraid it would be that pull request! 😢

Let us know what you find about your tileset structure.

[2017-06-16 13:37] pjcozzi opened #5488 "Update a Contributor's Guide on best practices for GitHub issue labels"
We recently updated our [issue labels](https://github.com/AnalyticalGraphicsInc/cesium/labels).  Let's document best practices for them once we know what they are based on some experience.  I think it will be:

* Try to apply one (or conservatively up to a few) `category` label (e.g., 3d-tiles, billboard, etc.) to each issue and PR so we know what areas of the code need work and are being worked o

[2017-06-16 13:44] pjcozzi opened #5489 "Automate applying labels to issues and pull requests"
To reduce manual paperwork, it would be cool to apply some simple "machine learning" to assign labels to GitHub issues and pull requests just like GitHub suggests reviewers for pull requests.

Pull requests should be easy to get mostly right based on the directory/files with the major changes.

Issues will be harder but could rely on keywords or even identifiers in example code.

For both pull req

[2017-06-16 14:29] omh1280 opened #5491 "Multliple `for` loops and block scoping"
I am in the process of enabling proposed ESLint rules (#5456). [`block-scoped-var`](http://eslint.org/docs/rules/block-scoped-var) has 160 errors, the large majority of which look like:

[code]

These come from functions like https://github.com/omh1280/cesium/blob/master/Source/Core/Tipsify.js#L125, which contain multiple `for` loops and re-use the variable `i` or `j`.

Which of these solutions ma

[2017-06-16 14:43] pjcozzi commented on #5491
Either is OK with me, but separate variables is probably more textbook as it reduces the "span" of a variable, at least in block-scoped languages.

[2017-06-16 16:09] emackey commented on #5478
`git bisect` says the first bad commit is a9a275f8e6286ae509633d00cc622d195ad4e29b.

[2017-06-16 16:57] NaderCHASER commented on #3857
I have 80 layers (time series for a single meteorological dataset) that are hidden. There is no way of knowing which layers are "layers that aren't visible yet but will be soon." The point here is to be able to animate meteorological datasets that span multiple days. When animating, I don't need "out of view" tiles loaded and I really don't need a zoom/pan leading to 80 layers fetching new tiles.

[2017-06-16 18:10] emackey commented on #5478
Turns out there was nothing magical about Australia that would cause Cesium to freak out just by looking at it.  I was debugging this problem in the summer, in the US, during the daytime, so, viewing Australia caused the Sun to become visible in the frame behind the Earth.  The picking framebuffer got reassigned to the sun bloom post-process effect when this happened, and picking broke.

[2017-06-16 18:24] emackey commented on #5402
Turns out this is caused by the Sun coming into view alongside the Earth.  A fix is under review now, linked above,

[2017-06-16 19:23] alberto-acevedo commented on #4000
+1

[2017-06-19 13:20] rahwang opened #5500 "Unexpected camera rotation with lookAt in 2D mode."
The camera rolls 180 degrees after calling lookAt in 2D mode. Is this expected?

Here's a sandcastle example: http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=ce7747d6784fe914c5d8b249a20ed282

[2017-06-19 14:11] rahwang opened #5501 "disableDepthTestDistance bug when globe is tilted"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/gn56Qo60i4s

When disableDepthTestDistance is set to a small number, it works as expected until the globe is rotates, then entities regardless of distance seem to ignore the depth test.

Here's a sandcastle example:
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=49ebc4

[2017-06-19 14:18] hpinkos commented on #4863
Thanks @cfickler!  We have an issue written up for that as well in #4801

[2017-06-19 14:19] hpinkos commented on #5500
Nope, that looks like a bug.  Thanks @rahwang!

[2017-06-19 14:20] #5463 closed

[2017-06-19 14:26] hpinkos commented on #1456
Hello @burn123,  you can disable order independent translucency by passing that option into the viewer:
[code]

That should make the polygons layer the way you want.

In the future, you should ask question like this on [the forum](https://groups.google.com/forum/#!forum/cesium-dev).
We use GitHub for tracking bugs and planning new features.  And since this issue is closed, I almost didn't see your

[2017-06-19 14:56] arthurakay opened #5503 "Working offline: NaturalEarthII and missing assets"
Hello all,

I recently downloaded `cesium` via `npm` and have integrated into my project for evaluation. I need to use offline mode per my project requirements, so I followed [this guide](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Offline-Guide).

I have been able to successfully render a Cesium "hello world" using the following code:

            this.viewer = new Cesium.Viewer('cesiumC

[2017-06-19 15:16] emackey commented on #5501
Also, if you zoom into the Earth in the above demo, and look up at the sky, you'll see dots from the other side of the globe mirrored into the sky.

[2017-06-19 15:19] lilleyse opened #5504 "3D Tiles - Update sample tilesets"
* [ ] Update to 3D Tiles version 1.0
* [ ] Update to glTF 2.0

[2017-06-19 15:25] emackey commented on #5501
This is zoom-in only, no globe rotation.  Note the "second batch" of dots show up in the earlier part of this anim, I think the depth code gets disabled or something there.  Then a "third batch" starts drifting down from the sky, they seem like they're supposed to be behind the camera or something, certainly not above.

![dotsandmoredots](https://user-images.githubusercontent.com/1235080/27292498-

[2017-06-19 15:26] lilleyse opened #5506 "3D Tiles - Targeted Sancastle demos"
https://github.com/AnalyticalGraphicsInc/cesium/pull/5308#issuecomment-303176700

* [ ] Targeted Sandcastle demos
* [ ] Improve or remove existing dev Sandcastle demos: https://github.com/AnalyticalGraphicsInc/cesium/pull/5308#issuecomment-305783824

[2017-06-19 15:29] lilleyse opened #5507 "3D Tiles - Cleanup traversal code"
Cleanup the traversal code based on comments in #5308. This will include work to make Cesium3DTile and similar files as small as possible.

https://github.com/AnalyticalGraphicsInc/cesium/pull/5308#pullrequestreview-39712440
https://github.com/AnalyticalGraphicsInc/cesium/pull/5308#discussion_r117968456

[2017-06-19 15:32] lilleyse opened #5508 "3D Tiles - Memory tracking for CPU resources"
* [ ] Keep track of CPU memory in the memory stats. One example is the CPU textures in `Cesium3DTileBatchTable`.

[2017-06-19 15:34] lilleyse commented on #5507
As part of this, also improve doc and prototype function checking for private functions and private classes.

[2017-06-19 15:35] lilleyse opened #5509 "3D Tiles - Request scheduling improvements"
Initial work for this is in https://github.com/AnalyticalGraphicsInc/cesium/pull/5317

* [ ] Time slice tiles that are processing
* [ ] Explicitly cancelling requests that go out of view

[2017-06-19 15:38] lilleyse opened #5510 "3D Tiles - Rename expressions to defines"
Also in the spec: https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/226

[2017-06-19 15:42] lilleyse opened #5511 "Make defaultValue check for null as well"
Similar to the PR for `defined`: https://github.com/AnalyticalGraphicsInc/cesium/pull/3522

[2017-06-19 15:47] arthurakay commented on #5503
...actually upon further inspection it turns out I had an incorrect `url` defined. It should have been this:

        url: Cesium.buildModuleUrl('/Assets/Textures/NaturalEarthII')

Not sure why it was then looking for PNG images (rather than the JPGs), but maybe that's an artifact of the [imagery provider](https://cesiumjs.org/Cesium/Build/Documentation/createTileMapServiceImageryProvider.html) de

[2017-06-19 15:47] #5503 closed

[2017-06-19 17:14] mramato commented on #5370
Thanks for looking into this @ateshuseyin.  After some unrelated changes, running with `--fix` is as easy as running `npm run eslint --fix`.  I think running fix automatically is really worth it (since it can't fix everything) and most of the time devs will just manually fix one or two issues.

I think where `--fix` comes in very useful is in adding new rules, which is a rare occurrence.

Long sto

[2017-06-19 17:14] #5370 closed

[2017-06-19 17:27] mramato commented on #5442
It's in two places:

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Widgets/Geocoder/GeocoderViewModel.js#L348

and

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Widgets/Geocoder/GeocoderViewModel.js#L446

I think that should fix the issue.

[2017-06-19 17:28] mramato commented on #2310
As a duplicate with dynamic buffers?  I would say no.  There is a lot of inefficiency in `PathVisualizer` that would still need to be cleaned up even if we had dynamic buffers today.

[2017-06-19 17:29] mramato commented on #1494
Any changes at this point will be majorly breaking, so I agree we can close and it will be automatically revisited when we implement ES6 modules.

[2017-06-19 17:29] #1494 closed

[2017-06-19 17:29] #652 closed

[2017-06-19 17:31] mramato commented on #351
This is more about code splitting the generated `Cesium.js`, than directly related to ES6 modules.  #2524 is a bit too general of an issue, but I will write up an issue specific for ES6 ideas and close this when that happens (probably later this week).

[2017-06-19 17:56] #5474 closed

[2017-06-19 19:53] #5402 closed

[2017-06-19 19:53] #5478 closed

[2017-06-19 20:01] pjcozzi opened #5516 "Forum check when an issue is closed"
Somewhat related to #5489, it would be handy for a bot to check issues when they are closed to scan the comments and extract all the unique links to Cesium forum, and then comment @mentioning the user who closed the issue asking if they remembered to update the forum threads.  The bot could even suggested the text like:

Maybe also do this for PRs, but it would be less commonly useful.

CC @omh128

[2017-06-19 20:53] emackey commented on #5402
This is fixed in master, and will be released with Cesium 1.35 on July 5th.  [demo](http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/dont-pick-sun-bloom/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=714cdba64c65b7cf0779cdc88f957d77)

[2017-06-20 00:14] #5510 closed

[2017-06-20 21:08] omh1280 commented on #5516
Can I expand this to simply check for certain keywords (like "forum")? A quick search shows only ~5 issues in the past year which link to the cesium forum. And issues like #5451 link neither to the cesium forum nor the google group.

[2017-06-20 21:13] hpinkos commented on #5516
I always linked directly to the google group

[2017-06-20 21:13] omh1280 commented on #5516
On second thought, I could just start with searching for the cesium forum and the google group. If that's not enough, we can expand the search.

[2017-06-20 21:34] lilleyse commented on #5363
And drop support for lowercase 'add' and 'refine'.

[2017-06-21 01:27] lilleyse commented on #5506
Also include a city/pickable buildings type demo.

[2017-06-21 08:59] oterral commented on #5331
I'm interested to fix this if someone can give me guidance

[2017-06-21 09:01] oterral commented on #5331
It happens not only with INFINITY value, but whatever the value I put .

[2017-06-21 11:22] hpinkos commented on #5331
Thanks for volunteering @oterral!  @bagnell do you have any suggestions here?

[2017-06-21 12:08] mramato commented on #5506
We could use the NYC data for this, I also think it's important to show off this type of dataset because of styling.

[2017-06-21 15:11] emackey commented on #5501
The "floating down from the sky" bug is actually duplicate with #5331.

But, the "visible on the other side of the globe" aspect shown here is not mentioned there.  It may be a separate but related bug.

[2017-06-21 16:07] Prior99 opened #5519 "WebGL error displaying bounding volumes when using regions"
**Problem:**

I am trying to debug a `tileset.json` I generated. I am using regions instead of spheres or boxes and it works fine, but when I try to enable displaying of bounding boxes I am getting the following error:

[code]

**Example region:**

The `tileset.json` is very big (>10MB), but a n example region looks like this:

[code]
Could this be a bug with cesium or did I do something wrong wit

[2017-06-21 16:07] omh1280 commented on #5516
@pjcozzi [GitHub Webhooks](https://developer.github.com/webhooks/) require a public server to contact when events occur. I have no problem setting up a server in Node, but how should I make it publicly accessible to Github?

(We can use secrets to prevent malicious requests to the server)

[2017-06-21 16:22] lilleyse commented on #5519
With region being [west, south, east, north, minHeight, maxHeight], your south is greater than your north. After flipping the two the region is drawn correctly (though very small).

<img width="362" alt="small-region" src="https://user-images.githubusercontent.com/915398/27395022-4ff86852-567c-11e7-9b6c-b0b78011d0a2.PNG">

[2017-06-21 16:25] Prior99 commented on #5519
Thank you. That fixed it.

[2017-06-21 16:25] #5519 closed

[2017-06-21 18:32] pjcozzi commented on #5516
I dunno.

@mramato?

[2017-06-21 19:45] omh1280 commented on #5516
I've found https://www.heroku.com/, and have successfully implemented GitHub webhooks with a test repo https://github.com/omh1280/forum-reminder/issues/2.

[2017-06-21 19:51] mramato commented on #5516
@omh1280 it's not a question of what or how we would deploy.  It's a question of running and maintaining (and paying) for a server just so we can use git hooks and what that means in the context of any other infrastructure we need to maintain as part of the project.  @pjcozzi let's talk offline when you're back in the office.

[2017-06-21 21:15] pjcozzi commented on #5516
Send me an email to start the conversation so I don't stall you guys.

[2017-06-21 21:44] pjcozzi opened #5521 "Sandcastle doesn't work in Firefox 54?"
Maybe I'm doing something wrong.

Using Firefox 54 with a clear cache on Windows/NVIDIA, and the latest Cesium master or 1.34 release, I get the following:

![image](https://user-images.githubusercontent.com/782098/27408095-1b69542a-56a9-11e7-91f1-56dd4d584aeb.png)

Perhaps a new Firefox issue?

Sandcastle works in Chrome and Cesium Viewer works in Firefox.

[2017-06-21 21:49] mramato commented on #5521
Works fine for me.

[2017-06-21 21:56] GatorScott commented on #5521
I just upgraded and see this in the console:
`An error occurred in "BingMapsImageryProvider": An error occurred while accessing https://dev.virtualearth.net/REST/v1/Imagery/Metadata/Aerial?incl=ImageryProviders&key=AsarFiDvISunWhi137V7l5Bu80baB73npU98oTyjqKOb7NbrkiuBPZfDxgXTrGtQ.`

[2017-06-21 22:03] GatorScott commented on #5521
and this in the Developer console:
![image](https://user-images.githubusercontent.com/4126790/27408708-fc079896-56ab-11e7-8f60-ae27e5acd2e7.png)

[2017-06-21 22:05] GatorScott commented on #5521
On Windows with ANGLE (Intel(R) HD Graphics 530 Direct3D11 vs_5_0 ps_5_0)

[2017-06-21 22:08] GatorScott commented on #5521
And on Windows with ANGLE (NVIDIA Quadro M1000M Direct3D11 vs_5_0 ps_5_0)

[2017-06-22 00:34] bjbrewster commented on #4919
Hello,

I recently upgraded Cesium from v1.26 (3rd Oct 2016) to the current v1.34 and have noticed a similar problem.  Our clustered Site entities (a point and a label) no longer show their label.  If I disable `dataSource.clustering.enabled`, then the labels appear ok. If I disable `dataSource.clustering.clusterLabels`, then the labels appear but they do not disappear when the points are clustere

[2017-06-22 00:51] pjcozzi opened #5522 "Improve particle system memory management performance"
From https://github.com/AnalyticalGraphicsInc/cesium/pull/5212#issuecomment-310212896

![image](https://user-images.githubusercontent.com/782098/27407958-802e2abc-56a8-11e7-89ca-9b3ef1a8a5e1.png)

and https://github.com/AnalyticalGraphicsInc/cesium/pull/5212#issuecomment-310238663

[2017-06-22 00:54] bjbrewster commented on #4525
I believe this last issue of missing labels is related to https://github.com/AnalyticalGraphicsInc/cesium/issues/4919

[2017-06-22 11:07] Prior99 opened #5524 "Tiles disappearing while zooming"
When zooming in and out of pointclouds the tiles seem to be requested in a very
strange manner. Instead of loading them step-by-step, layer-by-layer, at some
points it skips from the huge tiles right down to the detailed view, without
even requesting the intermediate tiles. We have developed a minimal example
with a checkered field, where you can clearly see the described issue. This issue
has alr

[2017-06-22 13:44] lilleyse commented on #5521
I see the same thing as @GatorScott.

[2017-06-22 14:00] lilleyse commented on #5524
I think the problem is that `"refine": "ADD"` is at the top level but should actually be a property of the root tile. By default Cesium will use replacement refinement if it doesn't see a `refine` property in the root tile.

[2017-06-22 14:01] hpinkos commented on #4919
Thanks for the details @bjbrewster! This issue is labeled `priority` so hopefully we'll get a chance to look into the problem soon

[2017-06-22 14:40] lilleyse commented on #5524
Strange...

Yes you can send them to me at slilley@agi.com.

[2017-06-22 15:37] Prior99 commented on #5524
Thanks for your time @lilleyse. I sent them to you via email as a tarball. Please let me know if you need something else.

[2017-06-22 15:47] Prior99 commented on #5524
For some reason your mailserver at microsoft doesn't accept mails from my google account. Please find the archive attached to this issue.

[cloud.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/1095352/cloud.zip)

[2017-06-22 17:04] TJKoury commented on #4876
Check out our webpack-cesium on npm and let me know if that fulfills the requirements.

[2017-06-22 17:15] markerikson commented on #5291
For reference, I did write a blog post that demonstrates configuring Webpack to load Cesium, and also how to use Webpack's "DLL" feature to pre-build a Cesium bundle that doesn't have to be rebuilt whenever the app is edited: [Declaratively Rendering Earth in 3D, Part 1: Building a Cesium + React App with Webpack](http://blog.isquaredsoftware.com/2017/03/declarative-earth-part-1-cesium-webpack/).

[2017-06-22 18:39] lilleyse commented on #5524
This is what I see when running, it looks like the expected behavior. Is your cesium build up-to-date?

![points](https://user-images.githubusercontent.com/915398/27450004-33001196-5758-11e7-9996-589edd0958d2.gif)

[2017-06-22 22:35] mramato opened #5528 "Model textures broken in master"
Notice anything strange about this model 😄

![image](https://user-images.githubusercontent.com/1495196/27458874-3ef00562-5779-11e7-9f24-37fa24fdde5a.png)

If not, look at the propellers.  Most likely caused by unexpected changes from 3d-tiles.

Someone should look at this ASAP.

[2017-06-22 22:44] mramato commented on #5456
I might have assumed it does since `class` is just a keyword, but I removed it from the list anyway after trying it out and seeing no results.

The rule has a special case for for loops (which I agree is a common and often desired use of sequences).  So this rule is exactly what we do in our own code already and will allow for the code you linked to.

[2017-06-22 22:46] mramato commented on #5456
I removed rules we either agreed worry worth it or were not what we ultimately wanted.  I also moved `no-shadow` and `valid-jsdoc` to a different category because both require tons of changes.  If I were starting a brand new code base, I would use them, but the way our code is right now isn't worth it until we have more time and decide we really want it.

[2017-06-22 23:09] wallw-bits commented on #4639
I am attempting a fix for this, but I'm a little stuck.

My attempted solution was to grab the heading, pitch, and roll from the camera at  `Source/Scene/ScreenSpaceCameraController.js:488` and then apply them back via `camera.setView(...)` at the end of the function. This works great and keeps the heading at 0 (or 360), except that if you zoom in far enough, something outside of that function mod

[2017-06-23 00:37] alexd2580 commented on #5524
In your gif, you see that the top left tile has one subtile at the bottom left (marked black), which is visible from afar. When zooming in you also see that there are no more tiles of the same LOD as the black one. Instead, the red ones are loaded. However, the tileset.json contains those three `missing` black tiles (13,14,15,16, with one of them being the one that is loaded).
![screenshot_2017-06

[2017-06-23 03:07] lilleyse commented on #5524
I finally tracked down what was happening here. The traversal seems to be okay, the problem is that the missing tiles are invalid and are never drawn. Specifically the problem is the batch table binary is not 4-byte aligned. There is an implementation note in the spec that gives some background about this: https://github.com/AnalyticalGraphicsInc/3d-tiles/blob/master/TileFormats/BatchTable/README.

[2017-06-23 03:12] lilleyse commented on #5524
Slight correction, it is the feature table that is misaligned. But the same rules apply.

[2017-06-23 10:40] Prior99 commented on #5524
Thank you. That fixed it.

[2017-06-23 10:46] #5524 closed

[2017-06-23 11:27] pjcozzi commented on #5524
Also note that runtime validation of 3D Tiles will not do a full validation.  There will be a separate offline validator here: https://github.com/AnalyticalGraphicsInc/3d-tiles-tools/tree/master/validator.  Keep an eye on it.

[2017-06-23 11:30] pjcozzi commented on #5456
All sounds good.

[2017-06-23 13:51] #5491 closed

[2017-06-23 15:32] rahwang commented on #5167
Mentioned in the forum again: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/5aAeg9Ahj_E

[2017-06-23 17:40] emackey commented on #5528
3D Tiles maybe not to blame...??

`git bisect` claims the first bad commit is 2981035fedf90f8.

[2017-06-23 17:53] pjcozzi commented on #5528
Thanks for tracking this down @emackey!

[2017-06-23 18:09] #5528 closed

[2017-06-23 18:38] omh1280 commented on #5456
@mramato Pretty sure it's ready to be bumped to 2.0!

[2017-06-23 21:19] wallw-bits commented on #4639
My employer is working on a corporate CLA. Should be good to go on Monday and I'll open the PR.

[2017-06-26 12:09] nsorin commented on #2597
I second this, a CallbackPositionProperty would be a useful addition, and I don't understand why it doesn't exist already.
I am using a polyline with a PolylineDashMaterialProperty as material to link 2 entities whose position is determined by a non constant CallbackProperty. To reference the 2 entities' positions in the polyline, I have to use a PropertyArray instead of a PositionPropertyArray (b

[2017-06-26 12:14] nsorin opened #5534 "CallbackPositionProperty"
Hello Cesium community,

As mentionned in #2597 :

A CallbackPositionProperty with a `referenceFrame` would be a useful addition to cesium, not sure why it doesn't exist already. Since the position of an entity can be defined by a callback, it seems logical to have the possibility to combine the advantages of both classes.

I am using a polyline with a `PolylineDashMaterialProperty` as material to

[2017-06-26 12:21] nsorin opened #5535 "Wrong billboard rotation depending on client ratio"
Hello,

I posted a thread about this issue in the forums a few days ago [here](https://groups.google.com/forum/#!topic/cesium-dev/cT0bjBWGgKU).

Long story short, a billboard's rotation, even if it is defined by a precise angle, seems to be displayed differently depending on the aspect ratio of the viewer. See [this Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20Worl

[2017-06-26 13:27] emackey commented on #5534
Beware that dashes currently don't work with callback properties:  #5450

[2017-06-27 01:57] mramato commented on #5456
Open a PR to enable the 3 node rules, it most likely won't require any Cesium code changes (but update CHANGES.md to mention them), also bump the version.  Once that's done, we'll merge and deploy and then we can update all of the other repositories.

[2017-06-27 12:35] pjcozzi commented on #4639
@wallw-bits thanks for working on the fix, looking forward to it!

[2017-06-27 12:38] pjcozzi commented on #4919
@bjbrewster thanks for all the details, if you have the time, it would be great if you could use `git bisect` to track down the commit that causes this, and perhaps even propose a fix.

[2017-06-27 12:54] rahwang opened #5537 "Canvas blink when adding a label after loading the imagery"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/y4EPthqm_d8

"When setting a tileLoadProgressEvent and adding a label once all the imagery tiles are loaded, the canvas "blinks" (turns black for a moment)"

Code example:
 http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=cf1d71eefb161f3f3546ad4e3d488423

Apparently this began wit

[2017-06-27 13:13] rahwang opened #5538 "PolylineCollection limited to 16384"
Reported on the forum: https://groups.google.com/d/msg/cesium-dev/exLJc20nQpI/6S_Kxs6pBQAJ

When adding large numbers of elements to a polyline collection, only the first 16384 show up.

Here's an example (should make a full circle):
http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=758939a9dea1f6f5bf4d14617d55fe6a

[2017-06-27 13:17] mramato commented on #5537
We should at least figure out what's causing this.  I think @bagnell looked into it and said he thought it was a driver bug, but if it only started with 1.33, it's probably not.

[2017-06-27 14:44] omh1280 commented on #5456
Ok! See #5540

[2017-06-27 14:59] emackey commented on #5537
This didn't start with 1.33.  On my machine I can reproduce as far back as Cesium 1.15 (I stopped there only because I didn't want to get ant builds going again).

Maybe this wasn't noticed before, or possibly it was introduced by a driver or browser upgrade.

[2017-06-27 15:00] mramato commented on #5537
That certainly lends credence to the idea that this is a driver bug (it happens in multiple browsers so I don't think that's it).

[2017-06-27 15:01] mramato commented on #5456
2.0.0 has been published.  Thanks @omh1280!

[2017-06-27 15:01] #5456 closed

[2017-06-27 15:04] emackey commented on #5537
Yeah.  I haven't manually updated my drivers in quite a while.  Maybe an auto-update pushed something there.

[2017-06-27 17:55] dannytanCS opened #5544 "Primitives grayed out when panning over the Pacific in 2D"
## Description
Primitives grayed out when panning over the Pacific in 2D.

## Images of error
![error2](https://user-images.githubusercontent.com/17170105/27602075-92bd7f0c-5b3f-11e7-9b37-914fd8ef1c0a.PNG)
![error1](https://user-images.githubusercontent.com/17170105/27602076-92bd92b2-5b3f-11e7-8c3c-d6f747621e0f.png)

## Code
[code]

[2017-06-27 18:16] pjcozzi commented on #5537
Removed `priority - next release` label; there's not enough bandwidth to look at this for the 1.35 release and it does not seem prominent enough.

[2017-06-27 18:43] pjcozzi commented on #5506
The current "3D Tiles Batch Table Hierarchy" Sandcastle example reports:

[2017-06-27 18:56] pjcozzi commented on #5506
Same comment for other 3D Tiles Sandcastle examples.

[2017-06-27 19:16] pjcozzi commented on #4659
In the shorter-term, should we update this Sandcastle example so it doesn't generate the console warning?

[2017-06-27 19:17] hpinkos commented on #4659
I think we already updated all of the examples so they don't have a console warning

[2017-06-27 19:22] pjcozzi opened #5545 "Replace atan in polyline dash vertex shader with fast approximation"
This line in the polyline vertex shader:

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Shaders/PolylineCommon.glsl#L64

may get a nice performance benefit from the fast atan approximation @AnimatedRNG is working on for #5455

[2017-06-27 19:32] pjcozzi commented on #5537
Also happens with "Sample Evert Terrain at Level 9" in the [Terrain Sandcastle example](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Terrain.html&label=Showcases).

I get this on Windows/NVIDIA and Mac/Intel - and Chrome and IE.  Other than Cesium, I don't know what the common thread would be, it is not the driver, browser, ANGLE, etc.  But we would have noticed this since Cesium 1.15

[2017-06-27 19:38] pjcozzi commented on #4659
I just tested the Polygon Sandcastle example in master and received the above console warning.

[2017-06-27 19:50] emackey commented on #5537
I messed this one up.  I had clicked the link and was loading Sandcastle off cesiumjs.org, not my local build.  Ouch.  Running a new bisect now...

[2017-06-27 19:56] emackey commented on #5537
OK.  Now that I'm actually testing the code I'm building, it's easier to track down.  Amazing.

So, git bisect reports to me a commit that seems very familiar.  It's the same scissor test change that caused two other bugs recently.  a9a275f8e6286a

[2017-06-27 19:58] pjcozzi commented on #5506
Also at least some of the 3D Tiles Sandcastle examples should be labeled "Showcases" so they show up in the default tab.

[2017-06-27 20:12] pjcozzi commented on #5537
@emackey nice detective work.

@bagnell perhaps this is low-hanging fruit with inconsistent render state / framebuffer for a frame?

[2017-06-27 20:26] pjcozzi commented on #5544
Thanks for the report and code example, @dannytanCS!  I suspect this is related to #1825.

[2017-06-27 20:45] jburr-nc commented on #2694
@pjcozzi @bagnell We would **love** to see this one get addressed.  Do you have a time estimate on it? As we begin to integrate 3D models into our application, this issue is causing some unintended side effects.

[2017-06-27 20:55] pjcozzi commented on #2694
@jburr-nc no time frame for this exact fix, but check out [Label.disableDepthTestDistance](https://cesiumjs.org/Cesium/Build/Documentation/Label.html?classFilter=label#disableDepthTestDistance), which can be used to fix this.

[2017-06-27 21:00] jburr-nc commented on #2694
@pjcozzi Thanks for the tip!  We'll play around with that.

[2017-06-27 21:57] dannytanCS commented on #5544
@pjcozzi  I am not sure if it is lighting at the Pacific Ocean. The problem only occurs when I panned to the Pacific or the primitive is drawn on the Pacific. The primitive has no error in 3D or Columbus View. Do you have an idea on when this issue might get fixed?

[2017-06-28 00:05] lilleyse opened #5550 "tiles3d_tileset_time not working for most styles"
`tiles3d_tileset_time` works for point cloud shader backend, but not for the regular JS styling engine.

The fix is to force a style that uses this variable to become dirty every frame.

[2017-06-28 00:37] mramato commented on #5501
I'm running into this on a regular basis now as well.

[2017-06-28 01:13] pjcozzi commented on #5544
If it's not lighting, this could be related to the translucency.  Have you tried making the circles opaque or disable OIT when constructing `Cesium.Viewer` by setting `orderIndependentTranslucency` to `false`?

As for timing, the team is committed to other things right now but we would welcome your help narrowing this down or contributing a fix.  See [CONTRIBUTING.md](https://github.com/Analytical

[2017-06-28 01:15] pjcozzi commented on #5501
This could be the depth plane.  Have you tried with terrain and depth writes enabled?

[2017-06-28 01:37] pjcozzi commented on #2524
For a bit more on [ES 6 modules](http://leafletjs.com/2017/06/27/leaflet-1.1.0.html), Leaflet 1.1.0 now uses ES 6 modules and Rollup.

[2017-06-28 03:54] bjbrewster commented on #4919
@pjcozzi I can do.  Can I confirm the expected behavior that when you have an entity with both label and point/billboard then all the parts should disappear and not be clustered separately? It's a bit ambiguous how the clusterBillboards/Points/Labels options affect the behavior.  Does setting `EntityCluster.clusterLabels` leave the label part unclustered and visible on the screen and only the Poin

[2017-06-28 10:42] thw0rted commented on #873
Is there anything on the roadmap for how to support large KML data sets?  I've seen some discussion about plans for `Region` support, eventually, and that's good if you have control over the source, but I'd also like to allow my users to bring their own KML and handle that as gracefully as possible.

Right now, when you load a large data set (just Googling around I found [this 15MB example](http:/

[2017-06-28 13:36] hpinkos commented on #873
Hello @thw0rted!  Our strategy for handling large KML datasets will be to process them into 3D tiles server-side.  This is one of the processing tools we plan to make available on [cesium.com](https://www.cesium.com/).  We do want to improve loading and error handling to prevent large datasets from freezing and crashing, but I don't think there's much we have planned to improve rendering support c

[2017-06-28 13:53] omh1280 commented on #4794
@rms13
- [] PolygonPipeline
@Rudraksha20
- [] TileAvailability

[2017-06-28 14:19] omh1280 commented on #4933
@rms13  Try to see what is failing in the tests. I'd recommend looking at #4971, making the same changes to master that @PratyushTalreja did, and fixing the tests.

[2017-06-28 14:30] omh1280 opened #5554 "Create `Check.typeOf.number.equals`"
As we move away from throwing `DeveloperError`s in favor of `Check` (#4794), there are cases where two numbers are compared for equality: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/CatmullRomSpline.js#L161, https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/LinearSpline.js#L65

Please add a function, `Check.typeOf.number.equals`, which takes two na

[2017-06-28 14:41] dannytanCS commented on #5544
@pjcozzi Thanks. By setting `orderIndependentTranslucency` to `false` , the issue was solved. However, I can still see the lighting as an issue; the circle becomes darker as I move away from it.

[2017-06-28 15:29] pjcozzi commented on #5544
Thanks @dannytanCS, I'm going to re-open this as a potential OIT issue (or maybe driver).

[2017-06-28 15:35] pjcozzi commented on #4919
@bjbrewster I didn't work on this but that sounds reasonable.  @bagnell?

[2017-06-28 18:23] rahwang commented on #3018
Issue reported here again: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/bK6AfhrLwFA

[2017-06-28 19:06] hpinkos commented on #5554
Added in #5555

[2017-06-28 19:06] #5554 closed

[2017-06-28 20:53] omh1280 commented on #5449
@mramato Is it time to remove `/*global define*/`s and `/*global defineSuite*/`s?

[2017-06-28 21:02] mramato commented on #5449
Go for it.  Now that 3d-tiles is in master, it shouldn't conflict with other branches

[2017-06-29 13:20] pjcozzi opened #5566 "Terrain loading cracking artifacts on a slow Internet connection"
Run an app like flightradar24.com with a slow connection or throttle down to 3G, and you'll notice black waves of cracks as the terrain tiles load.

It's hard to get a screenshot of, but just rotate around a plane in flightradar24.com, and it is easy to reproduce.

[2017-06-29 15:10] #4933 closed

[2017-06-29 16:45] wallw-bits commented on #4000
While users may expect lat/lon boxes to be interpolated as rhumb lines, that is probably not true of other shapes. An option in the API would be nice, but the shortest distance between two points is always the geodesic. The 2D map library used by geojson.io is simply rendering a straight line in cartesian space between the 5 points in each box, which is taking advantage of the fact that a Mercator

[2017-06-30 13:37] burn123 opened #5572 "Event for when a tile has loaded"
Would like an event listener for when a slippy tile has loaded. I'm trying to keep track of our calls to a map tile server, since that API doesn't provide a counter for how many requests we've done. I've almost gotten something hacked together using the `_requestImagery` function of `ImageryLayer`, but it is hard to do without modifying the source code, especially since `_requestImagery` doesn't r

[2017-06-30 15:13] burn123 opened #5573 "viewer.flyTo on billboards breaks zoom limits"
I feel like this may have been mentioned before, but the `flyTo` method doesn't respect the zoom limits. For my case particularly it is zooming in way closer than the desired max zoom for billboards, but I'm guessing it isn't limited to that.

In addition, if you fly to a billboard, it seems to break the max zoom, because after that, you can zoom to any zoom level in both 2D and 3D, and it won't r

[2017-06-30 16:30] lilleyse commented on #5363
And turn the geometric error check back into a `RuntimeError` : https://github.com/AnalyticalGraphicsInc/cesium/pull/5574

[2017-06-30 21:47] pjcozzi opened #5576 "Include Cesium drone model in this repo and the glTF sample models repo"
@emackey what is the plan here?  Are we waiting for glTF 2.0 support?

#4009 / #5423

[2017-07-02 13:40] micromiss opened #5577 "DeveloperError When remove a primitive from PrimitiveCollection"
I have wrote a function that will caused specific primitive removed from a PrimitiveCollection when the camera moved. But It will cause a strange error  sometimes(seems this error always happens when I zoom in or zoom out the camera...).

This is how a use the remove function of PrimitiveCollection:
[code]
And I've tried to ignore the error by "try ... catch ..." but it doesn't work. And I also tr

[2017-07-02 17:31] #5511 closed

[2017-07-04 09:09] oterral opened #5580 "A corridor clamped to ground with same coordinate triggers a Developer error"
Trying to display this KML file a developer error appears:

KML:
[code]

Error:
[code]

Problem comes from the 2nd coordinate which is the same coordinates as the first but we a different z .
If I set the altitudeMode to absolute it works. But when set to clamp to ground.

Same positions are supposed to be removed [here](https://github.com/AnalyticalGraphicsInc/cesium/blob/7213d4d25e02deab08544825

[2017-07-04 20:56] pjcozzi commented on #3516
The latest version should be fixed now, https://github.com/richtr/NoSleep.js/pull/13

[2017-07-05 11:08] kalmykov commented on #5566
Could it be somehow related to terrain format? In flightradar24 we use heightmap format. And I never seen cracking artifacts when using quantized-mesh format.

I also noticed that those artifacts appear not only with slow connection, but also when device performance is low (e.g. using native devicePixelRation on retina MacBook with integrated GPU)

![cracks](https://user-images.githubusercontent.c

[2017-07-05 12:21] pjcozzi commented on #5176
More on the Firefox test failure in #4942.

[2017-07-05 16:06] hpinkos commented on #5577
Hello @micromiss, can you please provide a more complete code sample that reproduces the crash in [Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html)?  Thanks

[2017-07-05 16:08] hpinkos commented on #5580
Thanks for reporting this @oterral

[2017-07-05 16:21] lilleyse opened #5583 "Particle System demo burst looks weird"
![burst](https://user-images.githubusercontent.com/915398/27874104-60d72f36-617c-11e7-94cf-cb780a994e04.gif)

Does the texture need tweaking?

[2017-07-05 18:22] #5506 closed

[2017-07-05 19:22] slozier opened #5586 "OrthographicFrustum missing from documentation"
OrthographicFrustum is missing from the documentation. I see that `@alias OrthographicFrustum` got changed (#5021) to `@alias OrthographicOffCenterFrustum` so the documentation got merged with OrthographicOffCenterFrustum. Was this on purpose? This creates duplicate near/far entries in the [OrthographicOffCenterFrustum documentation](https://cesiumjs.org/Cesium/Build/Documentation/OrthographicOffC

[2017-07-05 19:39] mramato commented on #5586
Thanks for the report, this is definitely a doc bug.  We're happy to take a PR to fix this.

[2017-07-05 19:52] pjcozzi opened #5587 "Fix eslint errors in cesiumjs.org branch"
@omh1280 could you please look at this?

https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/250480165

[2017-07-05 20:25] mramato opened #5588 "Node 1.35 package broken"
I'm not sure what happened, but the Node package for 1.35 is broken, it looks like it's missing some files and has extra files that shouldn't be included.

It's possible something in our build steps changed and this is my fault, but we should fix it either way.  I'll get on it and we'll publish a 1.35.1

[2017-07-05 20:32] pjcozzi commented on #5588
Good eye, thanks!

[2017-07-05 20:35] mramato commented on #5588
Well, not so much my eye as much as all of our other projects starting to fail on travis 😉

I __think__ what happened is that `npm publish` was ran from the unpacked zip file and not the git source tree.  Since the unpacked zipfile does not have the `.npmignore` or `index.js` files, this means the wrong fileset was published.

In reality, we should probably make it so that we can run npm publish f

[2017-07-05 20:35] mramato commented on #5588
I unpublished `1.35.0` and published an npm-only 1.35.1 release.  I'll open a separate PR to make the change I describe above, but we're good to go for now.

[2017-07-05 20:35] #5588 closed

[2017-07-05 20:39] pjcozzi commented on #5588
Yes, it's possible I ran `npm publish` from the unzipped directory.

[2017-07-05 21:46] pjcozzi commented on #5566
Yes, that could be the issue.

[2017-07-05 21:48] pjcozzi commented on #5573
Thanks for the report, @burn123.  Do you have a minimal code example to reproduce this?

[2017-07-06 09:05] kalmykov commented on #5566
Actually, I just saw cracks in STK quantized-mesh terrain when testing particle system demo.
![cracks2](https://user-images.githubusercontent.com/888486/27903779-d9013fc4-623a-11e7-8eee-6c9e95462e6c.png)

[2017-07-06 10:11] YvesE opened #5590 "Dynamic changing of volume extruded height does not work anymore"
Changing volume extruded height was working on CesiumJS version 1.22.1 and no more with version 1.34 nor 1.35.

[code]

[2017-07-06 11:39] pjcozzi commented on #5566
I'm not sure if that is the same issue; it could be, but it looks more like a full missing tile than a crack.  Both could be load ordering related.

[2017-07-06 12:23] hpinkos commented on #5590
Hello @YvesE, this example still works for me.  Did you try clearing your cache/cookies? Sometimes that causes weird side effects when switching between versions of Cesium.  Otherwise, what browser and OS are you using?

[2017-07-06 12:37] YvesE commented on #5590
Hi, I try cleaning cache and cookies but same results.
I am running Windows 7 Enterprise and Firefox ESR 45.7.0. Unfortunately, I cannot upgrade it because it is the company settings.
Regards

De : Hannah [mailto:notifications@github.com]
Envoyé : jeudi 6 juillet 2017 14:23
À : AnalyticalGraphicsInc/cesium
Cc : ERNOTTE Yves; Mention
Objet : Re: [AnalyticalGraphicsInc/cesium] Dynamic changing of vo

[2017-07-06 13:09] hpinkos commented on #5590
Thanks @YvesE, I just re-ran the example on Windows 7 in Firefox and it worked the same in 1.35 as it does in 1.22.  Here's a link to the example I was testing with: http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=cde1b3afdad8a86a80c0ad82bc7a37c2

What happens when you click the 'Toggle volume' button?

[2017-07-06 13:47] YvesE commented on #5590
Thanks Hannah. Your example is also running on my side. But when I add the Sandcastle.reset function as in my example, it does not work. Sandcastle.reset function without viewer.dataSources.removeAll(); works.

In fact, I was trying to show a problem in a more complex code not using Sandcastle. You have demonstrate that Cesium works as expected, so I shall investigate more on my side.
Thanks again

[2017-07-06 13:52] hpinkos commented on #5590
No problem!  If you need help, feel free to ask questions on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev

[2017-07-06 13:52] #5590 closed

[2017-07-06 14:12] rahwang opened #5591 "Corridor artifacts on the ipad"
Reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/x02lygB7hYc

Seen with Chrome 59.0.3071.102. iOS version: 10.3.2. Perhaps a driver issue?

![img_0067](https://user-images.githubusercontent.com/1758825/27915169-75e7d058-6233-11e7-8a5e-4d88a2428720.PNG)

[2017-07-06 15:26] burn123 commented on #5573
[Here is a basic example. ](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=ed3234a33a2205870d2de08d3ef6403b)
In our app, it was on a marker/billboard, so it allowed us to then be able to zoom to any zoom level. In the example, it seems that it then changes how zoomed in you can be to wherever it flew

[2017-07-06 16:29] pjcozzi commented on #5573
Thanks for the prompt response!

[2017-07-06 16:31] pjcozzi commented on #5591
Likely the same as #3171

[2017-07-06 16:40] lucastheisen opened #5593 "jsep is not defined when using webpack and cesium 1.35"
I have created a simple example webpack application inspired by [your blog post](https://cesiumjs.org/2016/01/26/Cesium-and-Webpack/) in my [gitlab account](https://gitlab.com/pastdev/cesium-webpack).  This works as expected with version 1.31, but when I [switch the version to 1.35.1](https://gitlab.com/pastdev/cesium-webpack/tree/cesium-1.35-issue), it fails with:
[code]
At this line:
[code]

[2017-07-06 19:15] slozier opened #5594 "Duplicate debug properties in Cesium3DTileset"
The debug properties appear to be duplicated in Cesium3DTileset.js. I would have submitted a PR however the comments for the properties are slightly different so I'm not sure which version is the latest one.

[2017-07-06 19:18] lilleyse commented on #5594
I just noticed this earlier today and fixed it here: https://github.com/AnalyticalGraphicsInc/cesium/pull/5592

[2017-07-06 19:20] mmerickel commented on #5593
This works fine for me with 1.34 and fails with 1.35.1. I'm able to upgrade/downgrade to reproduce it but I'm unclear what the fix is.

[2017-07-06 21:06] pjcozzi commented on #5593
jsep is a new dependency in 1.35.

@ggetz do you want to look at this?  I think there's been other webpack dependency issues if you search here.

[2017-07-07 13:30] SunBlack opened #5597 "Compression detection does not work always"
Before v1.35 we had compression always enabled for all tileset formats and it worked fine. Today I updated to 1.35 and because there is a automatic detection of compression (#5512) I removed our code and used this detection. On my local machine it works fine - but not on our production server. The server is still delivering all files, but without correct header.

If I catch the error
[code]
I get

[2017-07-07 15:05] sir-chaos opened #5598 "Fix for Point Cloud show style"
In PointCloud3DTileContent.js, in line executing when a "show" style parameter is defined to hide points with show == false, there might be incorrect nullification of gl_Position, which in fact does not remove the point. I suggest it was meant to nullify gl_PointSize instead (which effectively hides the point).
Link to the line in code (just change the variable):
https://github.com/AnalyticalGraph

[2017-07-07 15:33] micromiss commented on #5577
Thanks for your reply !
Um... I'm not quite sure that you can reproduce the crash in Sandcastle since that there is a complicated logic to control the creation and destroy of the primitives in my project. Um... So I'm try to show some important part here.
This function will be executed when users move their cameras. It will remove any primitives (from .gltf)  which are too far away from the camera

[2017-07-07 15:33] lilleyse commented on #5598
Setting `gl_Position *= 0.0` should discard the point properly. The resulting NDC position will be outside the [1, 1, 1] to [-1, -1, -1] NDC-space cube and the GPU will cull the point. Whether its bad for the NDC position to be [infinity, infinity, infinity] is a different question, but we use this trick throughout the code base, though I suppose it's less relevant for points.

For clarity sake I

[2017-07-07 15:53] sir-chaos commented on #5598
Thank you for your response!
I will revisit this issue with a PR shortly, but anyway I must point out that for some reason in my case the present code leads to a single ugly point in the center of the screen instead of discard (obviously at [0,0,x]). I think this is subject to some investigation and would appreciate if someone could verify that.

[2017-07-07 16:07] lilleyse commented on #5598
Ok that's interesting, I don't see that but it is worth the fix.

Do you also see a stray point when show is false for non point-cloud tilesets? Like for this example: http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=e79e2d6547c4c5a017372e8a91776769

[2017-07-07 17:03] sir-chaos commented on #5598
Non point-cloud tilesets seem OK. For sand castle the issue reproduced, try inserting
`    tileset.style = new Cesium.Cesium3DTileStyle({show: "${POSITION}.x > 10.0"})`
line somewhere (The point might be tricky to see but it is definitely there)

[2017-07-07 17:12] lilleyse commented on #5598
I've tried a similar setup here and don't see a point: http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=2fdd2a88b3bce29db2f51515c08a5d79

This inconsistency is probably explained by hardware or driver differences.

[2017-07-07 18:13] sir-chaos commented on #5598
In the last example the point is very distinct for me.
Created pull request https://github.com/AnalyticalGraphicsInc/cesium/pull/5599

[2017-07-07 18:42] rahwang opened #5600 "Support different heightReferences per entity in KmlDataSource"
Came up in the forum today: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/8RrBo6eVaSg

Would be nice to support ground clamping for some but not all entities in a KML data source. Currently it seems to be all or nothing.

It seems misleading that we just set polygon.height to 0 when ground clamping option is false for the data source: https://github.com/rahwang/cesium/blob/master/Source

[2017-07-08 12:16] pjcozzi commented on #5597
@SunBlack are you using Cesium's server.js in production?  We generally don't suggest that.  Or do you have your own server?

If this isn't Cesium specific, you may be better off asking on the [Cesium forum](http://cesiumjs.org/forum.html) or elsewhere; this repo is for core Cesium.

[2017-07-08 21:31] SunBlack commented on #5597
The server.js is our base with some additions - and this part is of settings header is nearly untouched (we only set gzip now always - after ´checkGzipAndNext` didn`t worked on server). So I believe it is not a specific problem of our script.

Maybe I will try on monday to reproduce this in a VM.

[2017-07-09 20:53] burn123 commented on #5446
@mramato For this, were you thinking have a top level property on the InfoBox or on the Cesium Viewer? Because I know I never directly call the InfoBox constructor, so it might be more useful to put the property on the viewer.

[2017-07-10 11:53] florentdu commented on #526
Hello,

I'm very insterested in providing altitudes in MSL reference instead of WGS84 reference.

Could you confirm the item "Many terrain sources, possibly including VR-TheWorld, provide heights relative to mean sea level (MSL) instead of relative to the WGS84 ellipsoid. Cesium should apply the correction on the client." will address this issue ?

Have you got any idea when this functionnality wi

[2017-07-10 13:49] hpinkos commented on #526
Hello @florentdu, Cesium has support for both the heightmap and quantized mesh terrain formats.  Your terrain must be processed into one of these open formats. AGI (the company that employs most of the Cesium team) offers a commercial product called the [STK Terrain Server](https://p.widencdn.net/v5hgro/Terrain-Server-Product-Specsheet) to process your raw terrain data into the quantized mesh form

[2017-07-10 14:00] florentdu commented on #526
Hello @hpinkos and thank you for your answer. I'm sorry if I was not clear but my question was not related to terrain. I have flight data with mean sea level (MSL) altitudes whereas cesium use altitude above ellipsoid. My question was : do you plan to implement MSL altitude <-> ellipsoid altitudes conversion in a near future.

[Some guys](https://cesiumjs.org/2015/10/26/CloudAhoy-Migration-to-Cesi

[2017-07-10 16:20] mramato commented on #5600
I'm not sure what's being asked.  KML specifies on a per-feature basis whether the item is clamped to ground or not.  If `clampToGround: true` is specified when loading the KML, we only clamp items that should actually be clamped (not everything).  There are some items Cesium can't clamp do to lack of Cesium features (GroundOverlays with textures for example), these will automatically get clamping

[2017-07-10 20:00] mramato opened #5604 "Documentation generation broken"
1. Blow away node_modules and run npm install
2. Run `npm run generateDocumentation`
3. See a litany of errors.

It looks like the latest jsDoc update has breaking changes (or our customizations to it are now leading to breaking changes.

This causes ALL branches to fail, so we should look into fixing this ASAP

[2017-07-10 20:10] pjcozzi commented on #5604
@ggetz can you please look at this?

@mramato when exactly did this happen?

[2017-07-10 20:11] emackey commented on #5576
The current drone model (in the game repo) is just a glTF 1.0 model, with hard-coded PBR-like shaders based on @moneimne's earlier work (minus the env map of course).  It should work in Cesium master now.  I haven't made a glTF 2.0 version of the model yet.  Shouldn't be hard, just a matter of priorities.

[2017-07-10 20:13] mramato commented on #5604
Already fixed with #5605 (@ggetz please test and review).

Within the last 24 hours, they release both 3.5.0 and 3.5.1 in that span.

[2017-07-10 20:14] #5593 closed

[2017-07-10 20:33] pjcozzi commented on #5604
Gotcha, thanks!

[2017-07-10 23:40] kring commented on #526
Hi,

We have a class in TerriaJS to compute geoid heights.  Feel free to use it.

https://github.com/TerriaJS/terriajs/blob/master/lib/Map/EarthGravityModel1996.js

Kevin

On Jul 11, 2017 12:01 AM, "florentdu" <notifications@github.com> wrote:

[2017-07-11 00:31] pjcozzi opened #5606 "Try out GitHub "code owners""
I don't like the name, but the feature should be useful to get better - but perhaps not perfect - automatic reviewer assigned to PRs.

https://github.com/blog/2392-introducing-code-owners

[2017-07-11 01:05] Kelien opened #5607 "Cannot read property 'setColor' of undefined"
When I use  `this._viewer.scene.primitives.add(cesium3DTileset)` , at the time of the mouse on the tileset, using `this._viewer.scene.primitives.remove(cesium3DTileset),`  there will be an error

I use the  `viewer.extend(Cesium.viewerCesium3DTilesInspectorMixin);` in the main function

`Uncaught TypeError:
    Cannot read property 'setColor' of undefined

    at Cesium3DTileFeature.set (Cesium3DT

[2017-07-11 02:31] vu23h commented on #2360
@pjcozzi Hi Patrick, my name is Huong and I'm a current MCIT student at Penn. I was introduced by Dylan to work on this issue and was wondering if you could help me get started since I am very new to open source projects. Thank you very much!

[2017-07-11 12:23] pjcozzi commented on #2360
@vu23h welcome!!!  Please read through the materials linked from the [Getting Started Contributing](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#getting-started-contributing) section.  Then, I suggest finding a few really simple issues labeled [beginner](https://github.com/AnalyticalGraphicsInc/cesium/labels/beginner) before starting on this one.  Once you complete t

[2017-07-11 12:35] thw0rted opened #5608 "Viewer toolbar buttons should be display:none when hidden"
Please see [this example](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=9a000735ebddff50b4668998a6dea784) -- mouse over the red area and you should see a crosshair.  Note that when the mouse moves under the scene mode selector, there are two small areas where the crosshair turns back to a normal pointer.  This is because the scene mode buttons for 2D and C

[2017-07-11 13:06] #5586 closed

[2017-07-11 13:13] hpinkos commented on #5607
Thanks for reporting this @Kelien!  I'm having a little trouble reproducing it though.  Could you please put together a short [Sandcastle example](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20Inspector.html&label=3D%20Tiles) to reproduce the error?

[2017-07-11 13:31] hpinkos commented on #5608
Thanks @thw0rted!  I'm not sure what the best solution is here either.  Maybe we can play around with `pointer-event: none` when the dropdown is transitioning/hidden.  Using `display` is a little tricky because there isn't a way to delay it until after the animation finishes using CSS.  We would need to use a `setTimeout` in the Javascript, and I don't think that's something we want to do.

[2017-07-11 14:20] thw0rted commented on #5608
I just tried adding `pointer-events: none` for `.cesium-sceneModePicker-hidden`, and it still prevents clicks on stuff under it.  The `cursor` property is important too, and wouldn't be effected. I initially discovered this because I'm injecting some form fields into the InfoBox, and sometimes clicks wouldn't register in the topmost input.  It's the same bug.

I figured out a more relevant-to-me e

[2017-07-11 14:31] hpinkos commented on #5608
Thanks for the ideas!  Using max-height might do the trick.  @emackey might have some suggestions too.

For using pointer-events, the current structure of the buttons is
[code]

I think if we changed it to
[code]
and put `pointer-events: none` on the div wrapping the drop down buttons that would work.

I probably won't have a chance to look at this in the next few weeks, but I'd be happy to review

[2017-07-11 16:23] hpinkos opened #5609 "Bug setting label position and heightReference"
In the following example, the `Change Position` button stops working after you click the `Unclamp` button.  It resumes working if you hit the `Clamp` button to reset `heightReference: Cesium.HeightReference.CLAMP_TO_GROUND;`

[code]

[2017-07-11 17:34] hpinkos opened #5610 "Test Failure: Scene/Cesium3DTileset sets colorBlendMode for textured tileset"
This test always fails for me.  Windows 7, Chrome, NVIDIA graphics card

[code]

[2017-07-11 19:22] rahwang commented on #5331
Does anyone have any ideas about what this might be? I'd really like to get this fixed soon, since it pops up in my workshop app. @bagnell , any clue? I'd be happy to work on this.

[2017-07-11 20:52] ggetz commented on #2922
@hpinkos Would non-uniform scale override or be multiplied by the scale?

[2017-07-11 21:03] hpinkos commented on #2922
We want to replace it.  I think the best way to do this is to change `scale` so it is stored as a `Cartesian3`.  For backwards compatibility, if the user passes in `scale: 5` we create `new Cartesian3(5, 5, 5)`.  Otherwise, they can pass in a `Cartesian3` to scale it in the X, Y, and Z directions.

[2017-07-11 21:05] ggetz commented on #2922
Got it, thanks!

[2017-07-11 23:53] pjcozzi commented on #5331
@rahwang do you want to experiment with the shader?  See this part: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Shaders/BillboardCollectionVS.glsl#L259-L276

[2017-07-12 00:00] pjcozzi commented on #5600
Agreed.

@rahwang please update the forum.

[2017-07-12 00:00] #5600 closed

[2017-07-12 04:03] burn123 commented on #5610
I get a similar result on Windows 10 build 16237, running the Jasmine test on Chrome, 980M Nvidia GPU, though there were more of them, all following a similar format, and the numbers seem to be random.

#### Scene/Cesium3DTileset sets colorBlendMode

    Expected 50 to be less than 10.
    Error: Expected 50 to be less than 10.
        at stack (http://localhost:8080/ThirdParty/jasmine-2.2.0/jasmi

[2017-07-12 07:11] kesai opened #5619 "there is an error when gulp build the source code,though it doesn't matter"
![1](https://user-images.githubusercontent.com/5986940/28105837-e62593f2-6713-11e7-978e-9702831a19c4.jpg)

[2017-07-12 10:20] thw0rted commented on #3018
I don't have hard numbers but I think suspending events before making bulk changes to an EntityCollection does help with performance.  See [my minor change](https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=a1dc649cb576f6b6f3842891f875366d) to the linked example -- suspend, then add/remove, then resume.  With the original version, `removeAll()` would crash my

[2017-07-12 11:27] SunBlack opened #5621 "Useless/Wrong GLSL code in depth test"
#5166 introduced depth test for billboards, points and labels. But the GLSL code makes no sense:

[code]
This code I found in `BillboardCollectionVS.glsl` and `PointPrimitiveCollectionVS.glsl` (didn't found depth test code for labels now).

Case 1 (gl_Position.z < gl_Position.w):
[code]

Case 2 (gl_Position.z > gl_Position.w):
[code]

Case 3 (gl_Position.z == gl_Position.w):
[code]

So `clipped` w

[2017-07-12 13:47] lilleyse commented on #5610
The errors don't happen for me, but I'll try to look into this soon.

[2017-07-12 13:51] hpinkos commented on #5619
Hello @kesai, I believe we fixed this a few days ago in this pull request: #5605
Feel free to re-open this if you are still experiencing a problem after you pull down master.  Thanks!

[2017-07-12 13:51] #5619 closed

[2017-07-12 13:52] pjcozzi commented on #4802
CC #3111

[2017-07-12 13:52] pjcozzi commented on #4802
Sketchfab just added a similar feature: https://blog.sketchfab.com/introducing-camera-constraints/

[2017-07-12 15:09] hpinkos opened #5622 "drillPick doesn't play well with pickPosition on 3D tilesets"
In the following code example, I keep getting negative heights when picking tileset features.  It doesn't happen all of the time, but if you move the camera around a little bit it happens within a few clicks.  This does not seem to happen when i use `scene.pick` instead of `pickPosition`.   Also, when the camera is more tilted showing the horizon, sometimes picking stops working entirely.

[code]

[2017-07-12 15:10] hpinkos commented on #5622
@lilleyse or @bagnell, do you have any time to look at this?

[2017-07-12 17:28] emackey commented on #5621
This sounds like it could be the cause of #5501 and/or #5331.

/cc @rahwang

[2017-07-12 19:39] lilleyse commented on #5622
This might be the same issue as https://github.com/AnalyticalGraphicsInc/cesium/issues/4368. Is it definitely just tilesets having this problem?

[2017-07-12 19:41] hpinkos commented on #5622
Not 100% sure, but I've only been able to reproduce it with tilesets

[2017-07-12 19:55] #5139 closed

[2017-07-13 00:30] lilleyse opened #5624 "pointSize styling doesn't work for pnts using BATCH_ID"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/GRlIIOh1vMs

[2017-07-13 17:06] lucas-gedak commented on #2909
This is still an issue for polygons that have an extrusion. Tested with 1.35.

[code]

[2017-07-13 17:27] hpinkos commented on #2909
Thanks for the update @lucas-gedak !

[2017-07-13 18:20] jbo023 commented on #5477
Hi,
@pjcozzi I created a small tileset to make bug fixing easier.
[code]
The problem seems to be that the traversal code loads all children of tiles in the following line of code even if they are not visible.
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Cesium3DTilesetTraversal.js#L316

If I add a visibility check to the loadTile function at: https://github.com/Analytic

[2017-07-13 21:22] jbo023 commented on #4368
@lilleyse
After some hours of debugging i found a possible solution for this.

The problem is that scene.pickPosition sometimes returns a negative height value if used in combination with scene.pick.

I noticed that the number of frustums in the pickPosition rendering pass differs from the number of frustums in the normal rendering update, when pickPosition delivers a corrupt result.

After some d

[2017-07-13 21:45] pjcozzi opened #5626 "One-liner-ish to zoom to a 3D Tileset"
To reduce the amount of redudent code in Sandcastle examples like the [BIM example](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20BIM.html&label=Showcases):

[code]

[2017-07-13 22:25] lilleyse commented on #4368
This helps a lot @jbo023.

So why does it matter that the pick pass renders lesser frustums if it is still writing out depth correctly? Is the pick depth-copy broken? Just questions I'm thinking about right now...

[2017-07-13 23:27] lilleyse opened #5627 "tileLoad event in Cesium3DTileset"
We have `tileUnload` and `tileVisible`, a `tileLoad` will come in handy too.

[2017-07-14 01:20] Kelien commented on #5607
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20Inspector.html&label=3D%20Tiles

JS
var btn = document.getElementById("removeTiles");
btn.onclick=function(){
   viewer.scene.primitives.remove(tileset);
};

html
<button id="removeTiles" style="position:absolute;z-index:1000;top:30px;left:40px;">remove tiles</button>

![qq 20170714091914](https://user-images.githubusercontent.

[2017-07-14 12:46] pjcozzi opened #5629 "Pilot GitHub releases for Cesium 1.36"
For the 1.36 release, let's pilot using the GitHub release feature by uploading the zip and including the CHANGES.md section here:

https://github.com/AnalyticalGraphicsInc/cesium/releases/new

The Cesium website download page could then link to this zip and we will be able to get GitHub release download stats from http://www.somsubhra.com/github-release-stats, which we currently can't get with ju

[2017-07-14 13:03] hpinkos commented on #5607
Thanks @Kelien, I submitted a fix for this here: #5630

[2017-07-14 14:34] jason-crow commented on #5417
Hi guys, I'm experiencing a similar issue with webpacking Cesium due to issues with loading pako_inflate/decodeGoogleEarthEnterprisePacket. I circumvent the issue by building/combining the Cesium source after deleting those 2 files to remove their dependencies, but I'm unsure what the ramifications of that might be. Is there possibly a solution to this issue? Oh and thanks for fixing the jsep issu

[2017-07-14 14:38] hpinkos commented on #5417
@jason-crow you're having that issue with Cesium 1.35?  @ggetz do you want to look at this?

[2017-07-14 14:44] jason-crow commented on #5417
@hpinkos , Yes, technically i'm using the 3d-tiles-vector branch, but it appears to be up to date with master. , the version is 1.35.2

[2017-07-14 15:55] ggetz commented on #5417
Sure @hpinkos, I will take a look at this soon.

[2017-07-14 16:06] #5607 closed

[2017-07-14 17:18] ggetz opened #5631 "Help should default to touch if mobile is detected"
The navigation help panel 'Touch' tab should be active initially if the browser detects user is using a mobile device.

[2017-07-14 17:46] hpinkos commented on #5631
We discussed this when I added touch instructions to the navigation help widget.  Unfortunately, there's no standard way to determine whether the browser is on a mobile device.  We can't just rely on whether the browser has touch events because there are computers with touch screens that have both touch and mouse controls, in which case I think we would want to show the mouse instructions by defau

[2017-07-14 19:07] pjcozzi commented on #5631
non-100% would be OK.

It may be overkill to include a third-party until we need this check more widely, but I believe a lot of people use this: https://hgoebl.github.io/mobile-detect.js/

[2017-07-14 20:34] ggetz commented on #5417
@EvaldasVasiliauskas or @jason-crow could you post your webpack configuration and directory structure to help me reproduce this?

[2017-07-17 03:45] KillDragon opened #5636 "cross color"
Render building  by floor in  version 1.35  causes cross color. How it can be fixed.
Thanks in advance.

![d](https://user-images.githubusercontent.com/15921876/28254795-c86e9fa2-6ae2-11e7-8f34-13f66a3c6488.jpg)

[2017-07-17 13:16] hpinkos commented on #5636
Hello @KillDragon,  There currently isn't a way to avoid this kind of z-fighting.  You can try offsetting the surfaces so they're not occupying the same space, or making them slightly transparent.  See the discussion in #4878.  In the future, please ask questions like this on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
Thanks!

[2017-07-17 13:16] #5636 closed

[2017-07-17 13:18] #5604 closed

[2017-07-17 13:20] mramato commented on #5636
Adding very slight translucency (0.99) may also fix your issue.

[2017-07-17 15:31] esparano opened #5637 "Occluded Region of Sensors is Broken"
At certain angles, the occluded region of conical sensors looks mostly fine:
![7-17-2017 11-16-18 am](https://user-images.githubusercontent.com/3947139/28275836-ac2022cc-6b04-11e7-8142-bc4270d7ee85.jpg)

However, when viewing the occluded region from the side, the front face of the red occluded region only seems to render where there is another piece of the sensor behind it.
![7-17-2017 11-16-44 a

[2017-07-17 16:11] hpinkos commented on #5637
Thanks @esparano!  Since sensors are not part of open source Cesium, I opened an issue in our Cesium Pro repository for someone to look into this.

[2017-07-17 16:11] #5637 closed

[2017-07-17 18:17] mramato opened #5638 "Models broken when Globe is disabled"
The below code snippet fails because globe is false, removing the line fixes the example.  This is a regression but I'm not sure which version is stopped working in.  (Note you have to remove the line, not set it to true because of the way Viewer options work.)

[code]

Here's the callstack

[code]

This is probably multiple trivial bugs.  Scene should not access the globe unless it's defined and

[2017-07-17 18:17] mramato commented on #5638
@ggetz this is probably a quickie if you have some time.

[2017-07-17 18:23] jdurrie commented on #4274
I followed a link here from the Cesium in 2017 google doc. I want to find the issue that's tracking local bathymetry. Is there a better issue I'm not seeing?

[2017-07-17 19:56] ggetz commented on #4274
@jdurrie You may want to take a look at the forum to find what you are looking for: https://groups.google.com/forum/#!searchin/cesium-dev/bathymetry%7Csort:relevance

[2017-07-17 21:41] bagnell opened #5639 "Remove deprecated frustum classes"
* Remove `Scene/PerspectiveFrustum`
* Remove `Scene/PerspectiveOffCenterFrustum`
* Remove `Scene/OrthographicFrustum`
* Remove `Scene/OrthographicOffCenterFrustum`
* Remove `Scene/CullingVolume`
* Remove code from `gulp.js`: https://github.com/AnalyticalGraphicsInc/cesium/blob/11877bc393abe6c001dabdc8b21b7fc2a93dd2ad/gulpfile.js#L1043

[2017-07-17 23:24] pjcozzi commented on #5637
@esparano can you please send me your email so we can keep you posted on progress here: email me at pcozzi@agi.com

[2017-07-17 23:37] #5537 closed

[2017-07-18 01:09] tfili commented on #5629
It's pretty self explanatory. From what I remember it was pretty simple.

[2017-07-18 06:48] KillDragon commented on #5636
Thanks for your reply

[2017-07-18 13:34] thw0rted commented on #5076
I came to report that 2D picking isn't working for WMS (GetFeatureInfo), and I'm wondering if it's a subset of this issue.  Demo: go to [the WMS Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Web%20Map%20Service%20(WMS).html&label=Showcases), select a point, watch the info load.
 Now, switch to 2D, and click again.  You can't select anything.  This is because [this call to G

[2017-07-18 13:38] hpinkos commented on #2480
Also reported by @thw0rted in #5076

[2017-07-18 13:38] hpinkos commented on #5076
Hey @thw0rted, that bug you're seeing is related to this issue:#2480
I've made a comment that you ran into this problem too

[2017-07-18 13:58] thw0rted commented on #2480
Hey @pjcozzi , could you please add `category - picking`?  I missed this because it's not tagged.

[2017-07-18 13:59] thw0rted commented on #5076
Thanks, @hpinkos !  I didn't see any workarounds mentioned on the other ticket -- do I just need to tell customers that WMS picking won't work in 2D for now?

[2017-07-18 14:00] hpinkos commented on #2480
Got it, thanks @thw0rted!

[2017-07-18 14:04] hpinkos commented on #5076
Yeah, unfortunately I can't think of a good workaround.  It's labeled high priority, but I'm not sure when we'll get a chance to look at it.  If you'd like to take a stab at a solution, comment in that issue and someone from the team can give you some tips on where to get started.

[2017-07-18 14:06] thw0rted commented on #5076
Unfortunately the "hard math" bits are my biggest weakness -- I can usually track what everything is doing but once the vectors start normalizing I have to "step over" in the debugger :D

[2017-07-18 14:11] SunBlack opened #5642 "Polygon entities are missing outlines"
See [Sandcastle demo](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Polygon.html) - the blue polygon has outline enabled, but no outline is visible, even if you increase `outlineWidth`.

[2017-07-18 14:15] hpinkos commented on #5642
Thanks @SunBlack!  We just had a small typo in the word 'height'
I submitted a fix here: #5643

[2017-07-18 14:24] #5609 closed

[2017-07-18 14:48] #5642 closed

[2017-07-18 15:56] ggetz commented on #5629
+1 This would free up some space in the website repo and speed up the deploy process

[2017-07-18 15:59] SunBlack opened #5644 "Missing option loop in PolylineGraphics & PolylineGeometry"
`Polyline` has a option `loop`. This option would be also nice for `PolylineGraphics` & `PolylineGeometry`.

[2017-07-18 16:01] hpinkos commented on #5644
Good suggestion @SunBlack, thanks!

[2017-07-18 19:00] pjcozzi opened #5646 "Evaluate Sphinx-js doc generation"
JavaScript version of widely used doc tool that sounds better suited to large projects than JSDoc.

"Consumes standard JSDoc comments and tags."

https://hacks.mozilla.org/2017/07/introducing-sphinx-js-a-better-way-to-document-large-javascript-projects/

Could be a nice upgrade when we have cycles.

Maybe even start with a smaller project like gltf-pipeline.

[2017-07-18 19:11] hpinkos opened #5647 "New label appears at position of old label"
1. Click the `Destroy` button to remove the first label
1. Click the `Label 2` button to add a new label
1.  Zoom in towards the middle of the globe.  Eventually the new label will appear around the spot the old label was, even though the new label has no position

This is specific to labels, it does not happen with billboards.  It also only happens when using the `CLAMP_TO_GROUND` height referenc

[2017-07-18 19:17] mramato commented on #5647
This sounds similar to a billboard bug I fixed in #5339.  My guess is that label caching isn't clearing the clamped state.

[2017-07-19 01:02] pjcozzi opened #5650 "Rename PerspectiveFrustum.fov to PerspectiveFrustum.fieldOfView"
See https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/PerspectiveFrustum.js#L42

Also search to see if `fov` is used anywhere else in the public Cesium API.  The abbreviation is fine in the private interfaces and implementations.

[2017-07-19 01:05] pjcozzi opened #5651 "Add frustum geometry/outline to Entity API"
It is pretty low level, but could be popular for photogrammetry apps and video on terrain.  If we get requests, let's add it to the Entity API...and CZML.

See #5649

[2017-07-19 02:52] AbdullahIngramMicro commented on #2066
Hi, my name is Abdullah and I am a beginner. I was asked to change the timezone in the cesium sandcastle.
Can you perhaps show me a simple example of how to change the timezone using AnimationViewModel.dateFormatter
AnimationViewModel.timeFormatter
Timeline.makeLabel ??
My code is shown below...
Javascript code
var viewer = new Cesium.Viewer('cesiumContainer');
HTML and CSS code
<style>
    @impor

[2017-07-19 12:39] hpinkos commented on #2066
Hello @AbdullahIngramMicro,  please see this conversation on the forum: https://groups.google.com/forum/#!msg/cesium-dev/gi9_LC6m7jU/5ypdeMELntEJ

Please ask questions like this on the forum instead of posting on GitHub.  There are many more users who see the forum so there's a greater chance someone will see your question and have a suggestion.  Thanks!

[2017-07-19 16:17] burn123 opened #5653 "Add setter for GeoJsonDataSource.name"
It would be nice to be able to set the name for a DataSource, as currently, an error isn't even thrown, but the code following a call to `data.name` is completely ignored.

Consider this code

    let data_promise = Cesium.GeoJsonDataSource.load(url);
    data_promise.then(data => {
        viewer.dataSources.add(data);
        console.log(1);
        data.name = "Test";
        console.log(2);

[2017-07-19 16:25] mramato commented on #5653
While I have no objections to adding setters to DataSource names (not sure why prevented it in the first place), you are incorrect in that this is a silent failure.  It will generate an exception which results in a rejected promise.  If you aren't handling promise rejection, then you are ignoring a myriad of possible errors.

Here's a Sandcastle example showing the error being raised and handled:

[2017-07-19 16:25] hpinkos commented on #5653
Hello @burn123.  This does currently throw an error because `name` only has a getter, but the error is being lost because it's happening inside the promise.  That's why 2 is never printed.  You can get the error by adding an `otherwise`:

[code]

Why would you like to set the name?  Right now name only has a getter, but we can consider adding a setter if that would be useful.  I'm honestly not rea

[2017-07-19 17:15] burn123 commented on #5653
I put my fail function as the second argument of `then`, but apparently that isn't running, which is why I thought that errors were being passed silently.
@hpinkos I'm using it as part of an app I'm developing, built on top of Cesium, and in the case of files like GeoJson, there isn't a name property that can be put inside the file like there can be with KML, so that's why I would like it, so I co

[2017-07-19 17:44] hpinkos commented on #5653
Thanks @burn123!  I opened a pull request here: #5656

[2017-07-19 17:56] burn123 commented on #5653
You guys are so fast! Thanks @hpinkos!

[2017-07-19 18:31] #4716 closed

[2017-07-19 18:31] #5647 closed

[2017-07-19 18:34] hpinkos commented on #4716
@jeffwhitty I think I finally figured out what the problem was here, and the fix will be included in the Cesium 1.36 release available on August 1.  Please re-open this issue if you're still experiencing the problem after updating.  Thanks!

[2017-07-19 20:21] ggetz commented on #5636
Hi @KillDragon, you can asks questions in the [Cesium Forum](http://cesiumjs.org/forum.html) to get a response. We use GitHub just for issue tracking.

[2017-07-19 21:04] pjcozzi opened #5659 "Make ClassificationPrimitive highlight translucent geometry"
From https://github.com/AnalyticalGraphicsInc/cesium/pull/5625#issuecomment-316515271

At first the main use case is photogrammetry models, but I can see this being used for BIM and other models with translucent geometry so let's see how much interest there is.

[2017-07-20 02:19] Kelien commented on #5607
the same problem to Cesium3DTileFeature @hpinkos
[code]

[2017-07-20 08:21] HeavenlyHost opened #5662 "Memory leak when updating from geojson at 15Hz in 3d mode"
Firstly please accept my apologies as this is references a problem raised against another project, but the devs on this have suggested that I make you aware of a memory leak within Cesium under my particular scenario.

So our project makes use of Openlayers and ol-cesium, the project updates 2000 points from a geojson object at 15Hz. This data is supplied over a websocket.

Everytime the vector da

[2017-07-20 09:55] keikland opened #5663 "Widget date/time internationalization/localization"
While the Cesium animation widget allows user-programmable localization of date/time formats, the timeline widget does not formally expose this functionality.  There is also a focus on showing microsecond resolution, which can clutter the display when the natural timescale is higher-level.  Interestingly, the widgets unnecessarily also maintain separate static arrays for standard three-letter mont

[2017-07-20 13:27] hpinkos commented on #5607
Thanks @Kelien, that should be fixed as well.  Feel free to re-open this issue if you're still seeing problem after the next release comes out.

[2017-07-20 13:32] hpinkos commented on #5662
Thanks @HeavenlyHost!  We've had a few other users report memory issues.  Would you be able to put together a [Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html) demo that reproduces the issue?  That will make it a lot easier for us to track down what's going on.  Thanks!

[2017-07-20 13:39] hpinkos commented on #5663
Thanks for the info @keikland!  That sounds like it could be useful to a number of people.  Would you be interested in opening a pull request?  See our [Contributing Documentation](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request) for how to get started

[2017-07-20 14:01] mramato commented on #5662
@HeavenlyHost for the blinking you mention in the linked issue, we fixed that with #5632 and it will be out with Cesium 1.36 on August 1st.

I would be surprised if the memory leak you describe is a Cesium issue, it sounds like it could be specific to `ol-cesium`.  As @hpinkos alluded too, please provide a reduced test case that reproduces the issue and we'll be happy to take a look, otherwise the

[2017-07-20 14:25] #5653 closed

[2017-07-20 17:25] Vineg opened #5664 "Picking problems in Firefox"
If you open an example http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20Adjust%20Height.html&label=3D%20Tiles in Firefox and try to pick top of the 3d models and tilt, you notice that picked point is actually ground behind it. Also If you open globe depth in CesiumInspector in FF, it is always black.

This causes issues like one mentioned here https://groups.google.com/forum/