[2015-06-03 20:50] emackey commented on #2716
A reasonable workaround was merged into 1.10.  Closing.

[2015-06-03 20:50] #2716 closed

[2015-06-03 20:58] mramato commented on #2785
I can't reproduce that.  If I change `pic` to `foo` everywhere, the behavior is the same.  If I change `img.pic` to just `pic`, it works as expected.  Maybe a selector issue?

[2015-06-03 20:59] mramato commented on #2785
Nevermind, just `pic` still has the problem, I forgot the `.`

[2015-06-04 01:20] #2678 closed

[2015-06-04 20:39] #2784 closed

[2015-06-04 23:39] pjcozzi commented on #2271
CC #2415

[2015-06-05 00:53] mramato opened #2788 "Large polygon triangulation produces incorrect results"
Via [the forum](https://groups.google.com/d/msg/cesium-dev/2QcY4BtF4zo/1eyk1KkWsEEJ)

The two polygons below render fine.  But if you create a single polygon where the second one is a hole in the first, you get totally incorrect results.  Note, the 179.9999 is a workaround for the fact that we still fill large polygons, which I believe we have a bug on still.

[code]

[2015-06-05 20:02] emackey opened #2790 "Picking causes a double-render"
Try pasting the following code in Sandcastle:

[code]

In the above demo in master, left-clicking the globe will cause a single-frame "flash" of both the Sun and the portion of the blue ellipsoid that is not in front of the Earth.

For added fun, you can cause a pick to happen on mouse move, which will cause the Sun and the blue ellipsoid to leave streaks as they move:

[code]

[2015-06-05 20:05] mramato commented on #2790
Possibly the same bug as [this](https://groups.google.com/d/msg/cesium-dev/kxeLDbsuKyE/3fMv2qtxcywJ)?

[2015-06-05 20:08] emackey commented on #2790
Could be.

[2015-06-05 21:16] pjcozzi opened #2791 "minimumZoomDistance requires call to setView?"
This has no effect:
[code]
But this does:
[code]
See https://groups.google.com/forum/#!topic/cesium-dev/7x8pHXBHxvk

[2015-06-06 00:03] bmckilligan opened #2792 "heightReference for Labels and Billboards"
Billboard._updateClamping  is throwing an error for billboards and labels  created in a label or billboard collection when trying to set a heightReference  value other than NONE

a work around is to set the '_scene' value for the collections

 billboards = scene.primitives.add(new Cesium.BillboardCollection());
 labels = scene.primitives.add(new Cesium.LabelCollection());

//<workaroundCode>
billb

[2015-06-06 00:07] mramato commented on #2792
This is not a bug.  As per the documentation, you need to pass an options object to the constructor functions in order to enable heightReference functionality.

[code]

[2015-06-06 00:07] #2792 closed

[2015-06-06 01:29] bmckilligan commented on #2792
thanks, sorry I totally missed it, clear as day in the docs:
 http://cesiumjs.org/Cesium/Build/Documentation/BillboardCollection.html

'Must be passed in for billboards that use the height reference property or will be depth tested against the globe.'

[2015-06-08 01:07] chriswingler opened #2793 "cesium viewer not loading in latest dev"
latest dev:
![screenshot 2](https://cloud.githubusercontent.com/assets/2586623/8026897/67233c2c-0d50-11e5-8c74-4c8068b159b6.png)

cesium 1.10:
![screenshot 1](https://cloud.githubusercontent.com/assets/2586623/8026898/678c0428-0d50-11e5-8809-9c80226a82bc.png)

errors caught by chrome during page load:

Failed to load resource: the server responded with a status of 404 (Not Found)
Uncaught Error: S

[2015-06-08 08:45] chriswingler commented on #1998
Has there been any progress on this I could implement?  I just ran into problems when inserting code from Sandcastle into a modification of the Hello World example in /Apps.

[2015-06-08 13:00] emackey commented on #1998
I think the plan is to tackle this as part of the Sandcastle refresh going on this summer with Google Summer of Code.  But you can post the details of the problem you're having on [the forum](https://groups.google.com/forum/#!forum/cesium-dev) or [Stack Overflow](http://stackoverflow.com/questions/tagged/cesium) and usually get a quick answer.

[2015-06-08 13:32] pjcozzi commented on #1998
For more info on the Sandcastle refresh, see: http://cesiumjs.org/2015/06/01/GSoC-Sandcastle-Overview/

[2015-06-08 14:06] mramato commented on #2780
@rtemplin15 it depends on the type of visualization.  See the [Visualizing Spatial Data](http://cesiumjs.org/2015/02/02/Visualizing-Spatial-Data/) tutorial for a good overview of the Entity API.

In the future, please ask questions on [the forum](https://groups.google.com/forum/?fromgroups#!forum/cesium-dev), rather than opening an issue.  More people will see your question and you'll get a faster

[2015-06-08 14:06] #2780 closed

[2015-06-08 14:53] mramato commented on #2793
I just verified that Cesium is working fine at head of master.  This looks like you forgot to run the ant build step.  See the [Contributor's Guide](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Contributor%27s-Guide) for full instructions on on building Cesium.

[2015-06-08 14:53] #2793 closed

[2015-06-08 18:01] nmschulte-aviture commented on #1683
@pjcozzi, in looking to spin up on changes since the late beta days (b28 / 30 or so), I turned to the developers wiki, and noticed the out of date comment and this issue:

Should I be ignoring the whole page, or just taking it all with the understanding that some bits have shifted concerns, etc.?  What's the status of the new page? Thanks!

[2015-06-08 18:21] pjcozzi commented on #1683
A lot has changed since the beta.  The wiki is still out of date.  See http://cesiumjs.org/tutorials.html

Also, see the [blog post for each release](http://cesiumjs.org/downloads.html) for the highlights. See [CHANGES.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CHANGES.md) for all the details.

[2015-06-08 18:36] mramato commented on #2619
@alexander-entin, is this still happening in 1.10?

[2015-06-08 18:59] mramato commented on #2619
I downloaded the boat and chp bgltfs from your link and loaded them in a Sandcastle demo.  I'm unable to get the problem to happen in 1.10.  Since you're using bgltf, I assume your demo is also using 1.10?  I noticed in your demo that the logo doesn't actually completely disappear, it seems to just disappear into the sail, which looks like a potential z-fighting issue within the model.

Can you ge

[2015-06-09 10:05] alexander-entin commented on #2619
It is fixed in 1.10.
So, now I can switch `depthTestAgainstTerrain` on again.
Thank you!

[2015-06-09 10:44] alexander-entin commented on #2619
As for disappearing logo. Add `scale: 100` and you'll see it.

[2015-06-09 12:37] pjcozzi commented on #2701
Here's another perhaps insightful screenshot of this from the Model Sandcastle example (note the time in the bottom left to reproduce):

![image](https://cloud.githubusercontent.com/assets/782098/8057828/c4e3676e-0e82-11e5-9cb1-87faeb95fe0d.png)

[2015-06-09 13:26] emackey opened #2796 "DeveloperError in CesiumViewer App, radians is required"
Fling the camera and then switch away from 3D mode.  The `saveCamera` function accesses an undefined `camera.heading` during the morph.  I have a fix ready.

[2015-06-09 13:30] emackey opened #2798 "CesiumViewer app should save more parameters"
In particular, it should save `sceneMode`, because camera views saved from 2D mode are not particularly appealing when reloaded in the default 3D view.

Also, it should save `lookAt` when `viewer._trackedEntity` changes, and make sure the camera gets restored to tracking and looking correctly on reload.

[2015-06-09 13:32] emackey commented on #2798
Since we're peeking down a rabbit hole here, I'll add this:  Maybe we should save `clock.currentTime` as well, as restoring a camera view from a different time does not return you to the view you once had.

[2015-06-09 14:06] pjcozzi commented on #2798
Good ideas here.

We could also turn this off in 2D/CV.

I suggest keeping this a minimal as possible since I imagine we would introduce a JSON format for scene configuration like the current time, widget layout, terrain, etc.

[2015-06-09 14:20] #2796 closed

[2015-06-09 14:50] kainino0x opened #2799 "`Matrix4.multiplyByScale` documentation unclear - requires affine matrix"
EDIT: The documentation says that the transformation matrix has a bottom row of [0, 0, 0, 1], but isn't clear that this is assumed and required. Proposed edit:

[code]

[Matrix4.js:1750](https://github.com/AnalyticalGraphicsInc/cesium/blob/6dc467a717598a24cf6aa77821975a39e35bd74d/Source/Core/Matrix4.js#L1750)

[Matrix4Spec.js:638](https://github.com/AnalyticalGraphicsInc/cesium/blob/6dc467a717598a

[2015-06-09 15:09] kainino0x commented on #2799
Actually, it does specify, but unclearly - updated description

[2015-06-09 15:41] pjcozzi commented on #2799
Do you plan to open a PR with a new description?

[2015-06-09 15:42] kainino0x commented on #2799
I initially opened an issue since I wasn't clear whether the behavior or the documentation should change. But since I determined it makes more sense to change the documentation, I'll do that.

[2015-06-09 16:43] nmschulte-aviture commented on #1683
The *Graphics Tech in Cesium* blog posts have been very helpful; thank you!

http://cesiumjs.org/2015/05/26/Graphics-Tech-in-Cesium-Stack/
http://cesiumjs.org/2015/05/15/Graphics-Tech-in-Cesium-Architecture/
http://cesiumjs.org/2015/05/14/Graphics-Tech-in-Cesium/

[2015-06-09 17:07] mramato commented on #2798
This is the kind of rabbit hole I was concerned about when we started to add these features.  The important thing to keep in mind is that the Cesium Viewer is a demo app with no guaranteed backwards compatibility.  That being said, the right thing to do here is to not actually put the raw data in the url but instead have some JSON object that cibtaubs viewer state that we simply and encode into a

[2015-06-09 18:08] mramato opened #2800 "Visual regression starting in 1.8"
See [this forum thread](https://groups.google.com/d/msg/cesium-dev/93SDTWMOPFQ/STP40u-WIcEJ) for the full details but there appears to be a regression in polylines with them being jaggier in 1.8/9/10 compared to 1.7.1.

Paste this code into [Current Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases) and compare it to the same code pasted into

[2015-06-09 18:54] kainino0x commented on #2799
Closing in favor of PR #2801.

[2015-06-09 18:54] #2799 closed

[2015-06-10 17:31] emackey opened #2803 "Tracking objects in 2D seems problematic"
[code]

Load the above.  There's a delay while the camera attempts to fly to the dataSource.  When that's done, switch to 2D mode.  The whole screen goes black for me.  If you pan around in the blackness for a while, `scene` will throw `Invalid array length`.

[2015-06-10 17:47] mramato commented on #2803
This (thankfully) doesn't happen in 1.10, so it's probably related to one of the recent camera changes.

[2015-06-10 17:50] pjcozzi commented on #2803
@bagnell can you please have a look?

[2015-06-10 18:03] emackey commented on #2803
Correction, the error thrown happens on zoom, not pan.

[2015-06-11 13:27] mramato commented on #2635
Recently came up again [on the forum](https://groups.google.com/d/msg/cesium-dev/OzfwqMLOr60/SNW0D0_HP5MJ)

[2015-06-11 13:39] mramato commented on #2790
Multiple users are reporting issues at my above forum link.  It would be nice to look at this for 1.11.

[2015-06-11 13:54] emackey commented on #2790
Git bisect shows this went bad in 42e4b8d12f, which was the first commit to a long-running branch that merged to master in #2506.

[2015-06-11 14:03] mramato commented on #2790
Given several users have hit this bug, and it was a regression introduced with 1.10, I marked this as a showstopper.

[2015-06-11 15:44] kainino0x opened #2806 "Remove ObjectOrientedBoundingBox in Cesium 1.12"
Deprecated in 1.11, PR #2782.

[2015-06-11 15:46] kainino0x opened #2807 "Remove bounding volumes' `.intersect` in Cesium 1.13"
* `AxisAlignedBoundingBox.intersect`
* `AxisAlignedBoundingBox.prototype.intersect`
* `BoundingSphere.intersect`
* `BoundingSphere.prototype.intersect`

Deprecated in 1.11, PR #2782.

[2015-06-11 19:46] bmckilligan opened #2808 "Chrome 44.0.2403.39 beta-m Win32bit rendering problems with Sandcastle examples"
![image](https://cloud.githubusercontent.com/assets/8988054/8116478/40fc495a-1037-11e5-8571-9dbe4b7749ac.png)

I'm using the chrome beta build and I noticed some problems with sandcastle examples

I havn't gone through all the examples, the two I notices with problems:

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Geometry%20and%20Appearances.html&label=Showcases

http://cesiumjs.org/

[2015-06-11 22:59] pjcozzi commented on #2655
* Starting at 25:00 - https://www.youtube.com/watch?v=QVvHtWePQdA

[2015-06-12 09:48] alexander-entin opened #2809 "Don't mutate objects returned by CallbackProperty"
In some cases setting entity's position like this
`position: new C.CallbackProperty(function() { return that.labelPosition }, false)`
ends with misplaced entity (some other entity position is used).

To overcome, one needs to clone the position before returning:
`position: new C.CallbackProperty(function() { return that.labelPosition.clone() }, false)`

While the workaround is rather simple, it is

[2015-06-12 18:54] #2803 closed

[2015-06-12 19:04] shunter commented on #2808
I see the same thing in Chrome beta 44.0.2403.39

`RuntimeError: Program failed to link.  Link log: Too many vertex attributes.`

shader source below:

[code]

[code]

[2015-06-12 21:16] pjcozzi commented on #2271
It's easy to reproduce this, by zooming to the "Dead Sea" and then zooming in a bit more.

[2015-06-12 23:39] pjcozzi commented on #2808
Forum discussion: https://groups.google.com/forum/#!topic/cesium-dev/6kuYaAoMzZk

[2015-06-13 01:16] mramato commented on #2808
This happens in Canary as well and looks like an ANGLE regression, WebGL Report shows no differences between stable/canary on my machine but they are using difference ANGLE versions.  The exception does not happen with ANGLE disabled.  I'll look into filing a bug report (unless someone else has already started the process).

[2015-06-13 01:43] mramato commented on #2808
After some digging, it looks like this bug is only triggered when using Polyline geometry and only if you have more than one attribute.  Here's the simplest way to reproduce the crash with a Primitive (you can do it with 3 lines of Entity code, but this should be easier to debug).  If you remove the show attribute, everything runs fine, add it back and it crashes.

[code]

I'm going to see if I ca

[2015-06-13 02:08] mramato commented on #2808
For the record, here  are the translated good shaders.  It's the pick vertex shader for the Primitive columbus view shader.

__Vertex Shader__
[code]

__Fragment Shader__
[code]

[2015-06-13 02:39] mramato commented on #2808
Chromium issue [500116](https://code.google.com/p/chromium/issues/detail?id=500116) submitted:

[2015-06-13 10:16] dotansimha commented on #2790
Same problem here, drawing polygons and then do "drillPick" on mouse move... any chance to release a fix version for this one ASAP?

Thanks

[2015-06-15 13:51] pjcozzi commented on #2319
Related forum discussion: https://groups.google.com/forum/#!topic/cesium-dev/JzpfPUvBdEA

[2015-06-15 18:53] mike-mcgann opened #2811 "Image trails in the sky when using 1.10"
This problem can demonstrated in this application here:

http://nasa-gibs.github.io/data-curtains/index-1.10.html

Click on the red or blue ring around the Earth to bring up a profile image. Spinning the globe around should leave a ghost trail in the sky regions. This does not occur with version 1.9 which can be found here:

http://nasa-gibs.github.io/data-curtains/index-1.9.html

This occurs in F

[2015-06-15 19:20] mramato commented on #2811
I have seen this randomly with 1.10 as well.  It might be related to #2790, in either case it's a pretty bad regression so I'm marking this as a showstopper.

[2015-06-15 21:00] pjcozzi commented on #2811
Thanks for writing this up @mike-mcgann.

@kainino0x let's look at this when we finish #2782 or by next Monday, the 22nd, whichever comes first.

[2015-06-15 22:04] emackey commented on #2811
This is a dup of #2790, because there is picking on every frame.

[2015-06-16 00:46] mramato opened #2812 "Better viewer.zoomTo/flyTo for data sources"
Right now, zooming to an entire data source uses the currently computed bounding sphere of all entities inside of the data source.  For temporal data this can produce very poor results.  We should probably add an optional `DataSource.extent` property that returns the overall extent of the data and then zoom/fly to that instead.

[Forum discussion](https://groups.google.com/d/msg/cesium-dev/eZ9Uu3r

[2015-06-16 01:06] mramato commented on #2687
I'm sorry this went unnoticed for so long, it somehow slipped through the cracks.  I can confirm this is a bug.  Thanks for the explanation and sample code.

[2015-06-16 02:24] emackey commented on #2790
Here are some new findings after a long debug session.

1. When the app calls `Scene.pick`, one of the commands in `Scene.executeTranslucentCommandsSorted` ends up calling `Context.applyRenderState` with some interesting parameters.  In these parameters, the `renderState` itself calls for the scissor test to be disabled, but the `passState` calls for that to be enabled, for picking a small 3x3 reg

[2015-06-16 20:12] hpinkos opened #2813 "Calling scene.drillPick breaks scene.pickPosition"
In the picking sandcastle example, replace line 143 (`scene.pick(....)`) with
[code]

The position returned by `scene.pickPosition` is incorrect. (For this demo, the height is negative).
I'm pretty sure it's picking the ellipsoid instead of the model.

[2015-06-16 20:39] pjcozzi commented on #2813
@hpinkos is this holding you up?  If so, we can look at it after #2810.

You could also take a quick look at `pickPosition` and `pick`; it might not be too hard to figure out.

[2015-06-16 20:46] hpinkos commented on #2813
@pjcozzi I skimmed through and I couldn't find anything obvious that `drillPick` was doing weird.   I might look into it further tomorrow.

It's not holding me up, but the functionality of what I'm working on will be better once this is fixed.

[2015-06-16 20:50] pjcozzi opened #2814 "Update imagery providers to use UrlTemplateImageryProvider"

[2015-06-16 21:02] pjcozzi opened #2815 "Exception in ImageryLayer._createTileImagerySkeletons"
This is in Cesium 1.10 and perhaps many prior versions.

Run this [Sandcastle example](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Imagery%20Layers%20Manipulation.html&label=Showcases).  Uncheck all imagery sources, then check `TileMapServer Image`.

![image](https://cloud.githubusercontent.com/assets/782098/8194359/2f6771a4-1449-11e5-877f-7fa921ffc2bf.png)

[2015-06-16 23:47] emackey commented on #2813
I haven't looked deeply yet, but it's possible this is related to #2790.

[2015-06-17 10:53] pjcozzi commented on #302
This was added in #2810.  It will be in Cesium 1.11 on July 1.

[2015-06-17 10:53] #302 closed

[2015-06-17 10:56] pjcozzi opened #2816 "Continuous camera zoom"
#2810 changed camera zoom to zoom to the point under the mouse cursor.

If the cursor is toward the bottom of the screen, this can still require several right click and drags before zooming all the way in.  The zoom should continue as long as the right button is down even if the mouse is not moving, almost like the inertia for rotation.

We may want to make this an option (default `true`?), but le

[2015-06-17 12:36] #2815 closed

[2015-06-17 18:38] abhishekvp opened #2818 "Image flips when the geometry coordinate longitude crosses -180/180"
The image flips when the geometry coordinates cross -180/180. I have narrowed it down in a Sandcastle Example, displaying 2 wall geometries with numbered images so it is easier to make out the flipping.

I tried hosting the example on Github, forking the Cesium repository and creating a gh-pages branch, but couldn't. So here's the source code of the example: https://github.com/abhishekvp/cesium/bl

[2015-06-17 18:45] hpinkos commented on #2818
Order matters for your positions.

For the flipped ones, swap the longitude coordinates

[code]

[2015-06-17 18:45] #2818 closed

[2015-06-18 11:48] pjcozzi commented on #2818
Ah, good eye, thanks @hpinkos.

@abhishekvp thanks for narrowing this down.

[Forum discussion](https://groups.google.com/forum/#!topic/cesium-dev/Dp_asXZbZ4E)

[2015-06-18 11:53] pjcozzi commented on #2745
@bagnell any idea how hard this is?  Should we look at it before 1.11?  I can't reproduce this on any other machine.

[2015-06-18 12:28] vinita90 opened #2820 "what is fromDegrees?"
whatb is fromDegrees in

 position : Cesium.Cartesian3.fromDegrees(-75.59777, 40.03883),

i want to put that obstacle at my lat long

[2015-06-18 13:12] mramato commented on #2820
fromDegrees creates a Cartesian3 instance from the specified longitude and longitude in degrees (as opposed to radians). I would recommend you check out the tutorials, especially the [Visualizing Spatial Data](http://cesiumjs.org/2015/02/02/Visualizing-Spatial-Data/) tutorial.

In the future, please use [the forum](https://groups.google.com/forum/#!forum/cesium-dev) for general Cesium questions an

[2015-06-18 13:12] #2820 closed

[2015-06-18 13:28] mramato commented on #2808
The Chromium team has fixed the issue and it's already been rolled into Canary.  It's targeted for M44 and will be in the next stable release.  Can someone please confirm that it's fixed in beta (after the next update obviously) and close this.

[2015-06-18 15:13] shunter commented on #2808
beta 44.0.2403.52 shipped yesterday but the fix had not yet been merged to M44.

[2015-06-18 15:21] mramato commented on #2808
Thanks, I expect it to be in the next one, it wasn't merged into Canary until late yesterday.

[2015-06-18 15:45] simonthum commented on #2594
We are interested in shadows in cesium and the approach outlined looks like it fits the bill. If I may ask, is there any current development, and is the state of affairs presented here up to date?

[2015-06-18 16:44] devguy22 commented on #2737
Any updates on this?

[2015-06-18 20:07] mramato opened #2821 "Entity canvas materials don't behave as expected"
In the below code, both polygons end up yellow, rather than one yell and one red.

[code]

[2015-06-18 20:07] mramato commented on #2821
Forgot to link to [the forum post](https://groups.google.com/d/msg/cesium-dev/fdYrSKNAgL0/vGFvc40_Vn8J) where this was reported.

[2015-06-18 23:46] pjcozzi commented on #2594
This is current.  See https://github.com/fstoner/cesium/tree/depth-map

[2015-06-18 23:47] pjcozzi commented on #2737
No update.  We've been focused on Cesium 1.11.

[2015-06-19 06:46] simonthum commented on #2594
Thanks a lot!

[2015-06-19 18:28] nmschulte-aviture opened #2822 "ArcGisMapServerImageryProvider jsDoc fixes"
The constructor for `ArcGisMapServerImageryProvider` is incorrect.  Here is a patch to fix this issue:

[code]

[2015-06-19 19:31] pjcozzi opened #2823 "RectangleOutlineGeometry doesn't extrude some heights"
With `height = 4.8095555532180825 ` and `extrudedHeight = 4.9999999992399875`, the outline doesn't extrude.  Try the following code in Sandcastle and zoom in close to AGI HQ.

![image](https://cloud.githubusercontent.com/assets/782098/8261381/2c1e7244-1698-11e5-8043-1bbebd366f07.png)

[code]

[2015-06-19 19:37] hpinkos commented on #2823
I bet the same behavior happens in `RectangleGeometry` also.  I think they both check to see if the difference between `height` and `extrudedHeight` is greater than some epsilon before deciding to draw the extrusion.  That just needs to be changed.

[2015-06-19 22:46] emackey commented on #2635
Are there updated steps to reproduce this?  The code sample from #1825 doesn't produce the results shown in the screenshot for me.

[2015-06-20 15:43] pjcozzi commented on #2132
* State of the Map 2015 - Vector Rendering Panel - [video](https://www.youtube.com/watch?v=0RA5k7J5Sw0), [transcript](https://s3.amazonaws.com/assets-staging.mapzen.com/images/state-of-the-map-2015-wrapup/sotmus2015_Mapzen_transcripts.html#matt)

[2015-06-21 11:42] pjcozzi commented on #2594
Looks like a nice resource: http://learnopengl.com/#!Advanced-Lighting/Shadows/Shadow-Mapping

[2015-06-21 17:32] #2790 closed

[2015-06-21 17:32] #2811 closed

[2015-06-21 18:53] pjcozzi commented on #2268
I'm going to replace `RequestsByServer` with a more general, Cesium-wide, scheduler for throttling requests that ensures different parts of Cesium can't starve each other.

[2015-06-21 18:53] #2268 closed

[2015-06-21 19:02] pjcozzi commented on #2762
@bagnell can you do this soon for 1.11?

[2015-06-21 19:02] pjcozzi commented on #2763
@bagnell can you do this soon for 1.11?

[2015-06-22 13:11] mramato commented on #2635
@emackey just run the GeoJSON Sandcastle example linked to in the description and switch to 2D.

![image](https://cloud.githubusercontent.com/assets/1495196/8282425/ace3c898-18be-11e5-926e-9fe8135b959d.png)

[2015-06-22 14:51] kainino0x commented on #526
Under "OBB improvements from #2782":

This can be checked off; it was added to the PR.

[2015-06-22 19:37] bagnell commented on #802
Updated code sample:
[code]
Zoom out when loaded, then click the `Fly` button.

[2015-06-22 19:47] bagnell commented on #804
Updated code example:
[code]

[2015-06-22 19:57] bagnell commented on #2093
This works in 3D. What is the expected behavior in 2D/CV? View the whole map?

[2015-06-22 20:16] shunter commented on #2093
which branch are you testing in?  master is fixed in 3D but in 2D the destination is inverted.

e.g. this is supposed to be flyTo the green rect:

![image](https://cloud.githubusercontent.com/assets/32828/8291864/1648beca-18fa-11e5-9284-c566430b7bf8.png)

[2015-06-22 20:23] shunter commented on #2093
I guess what you are asking is which green rect to flyTo, since there are two rects after the IDL split.  I think your suggestion of showing the whole map is reasonable.

[2015-06-22 21:57] pjcozzi commented on #2132
http://osgeo-org.1560.x6.nabble.com/Asking-for-new-vector-tiles-community-module-tt5211994.html

[2015-06-22 23:43] bagnell opened #2826 "Remove Deprecated Splines"
* Remove `HermiteSpline`
* Remove `CatmullRomSpline`

[2015-06-23 00:37] chris-cooper opened #2828 "Points rendering issue on Linux Chrome"
This issue shows up in Chrome on Ubuntu 14.04 running Intel onboard graphics on a Dell XPS 14 laptop.  The below screenshot shows Chrome and Firefox both rendering [the points development example](http://localhost:8080/Apps/Sandcastle/index.html?src=development/PointPrimitives.html&label=Development).

![points](https://cloud.githubusercontent.com/assets/484870/8296328/a39fc6a4-1992-11e5-9f22-ad3b

[2015-06-23 20:24] shunter commented on #2812
I've also found that the default flyTo in CesiumViewer produces catastrophic results upon loading certain CZML.  In this case, it's a CZML file containing data from http://apps.agi.com/SatelliteViewer/, so essentially 15k points in orbit.

Due to the size of the file (11MB) I can't upload here, but it's available on the AGI network for reference.  Contact me for the file path.

[2015-06-23 23:30] pjcozzi commented on #2093
Updated code:
[code]

[2015-06-24 02:38] 543802360 commented on #519
good job!

[2015-06-24 13:58] mramato opened #2833 "Remove redirect for //cesiumjs.org/stk-terrain/world"
Deprecated in 1.11, see #2832 for details.

[2015-06-24 14:57] rutsky opened #2834 "Zooming out with mouse wheel zooms from scene center, not mouse position"
In master branch with done #302 mouse now zooms in into mouse position, but zooms out still from scene center, not mouse position.

[2015-06-24 22:24] mramato commented on #2808
Looks like another beta was just released, it should have the fix.  Can someone please confirm.

[2015-06-24 22:47] mramato opened #2836 "Remove smallterrain usage"
The smallterrain dataset is no longer available after cesiumjs.org and assets.agi.com were split into 2 different servers.  Our tests depend on it in 2 places, see #2835, which fixes the tests temporarily until they can be migrated to use different terrain.

[2015-06-25 00:14] bmckilligan commented on #2808
appears to be working now with Chrome  44.0.2403.61 beta-m, tried it out on sandbox examples that would work, and the http://divvy.vision example

[2015-06-25 01:00] keattang opened #2837 "Using the STK terrain tiles from a https site fails"
It seems the redirect no longer handles the protocol correctly and causes a mixed content error

[2015-06-25 01:03] kring commented on #2837
Guys, can you pretty please not take down the terrain server or redirecting server to fix this in the next hour or so? :)

[2015-06-25 02:41] #2808 closed

[2015-06-25 03:42] denverpierce commented on #2808
Seems fine now on 44.0.2403.61 beta-m (64-bit).

[2015-06-25 12:47] mramato commented on #2837
Sorry for the delay, this is now fixed.  If you're still having problems, let us know.

[2015-06-25 12:47] #2837 closed

[2015-06-25 12:49] mramato commented on #2837
I forgot to add that the correct url for the terrain is `assets.agi.com/stk-terrain/world`, if you are using the older `cesiumjs.org/stk-terrain/world` url, you should update your code. The redirect that is in place will cause slower overall performance.  It was the redirect that was broken in this case, https over assets.agi.com was unaffected.

[2015-06-25 13:04] mramato opened #2838 "Camera positionCartographic not always updated in 2D?"
Run this code.  In 2D mode, zooming in doesn't trigger the console message, you have to move the camera after zooming to get it to happen.

[code]

[2015-06-25 13:06] mramato opened #2839 "Camera inertia takes way too long to finish"
I noticed both in the camera move events example and via #2838 that the camera inertia takes several seconds to finish after the user lets go of the mouse.  It seems it continues to move a minuscule amount < 1 meter for several seconds.  This greatly decreases the usefulness of the move events because it creates what is perceived as lag.  We should shorten the inertia or have a cut off that once t

[2015-06-25 13:30] mramato commented on #2834
I agree with @rutsky.  whether it's mouse-wheel or righ-click based, the zoom-in/zoom-out behavior should be reversible.  Right now zooming out and in in the same motion creates very awkward behavior. Conceptually, this seems like it should be easy to implement @bagnell any thoughts here?

[2015-06-25 13:58] mramato commented on #2631
I think there may be a chance we can use PEP in Cesium without polluting the global scope.  Someone should definitely look into that.  It would allow us to code only against PointerEvents and remove all other handling.

[2015-06-25 15:30] mramato commented on #2834
Try this: `Home view -> right-button on California -> zoom out a bunch -> zoom back in (all in one motion)`   You end up in the middle of the Pacific instead of California.

[2015-06-26 11:40] pjcozzi commented on #2836
What exactly needs to be done here?

[2015-06-26 12:18] pjcozzi commented on #2834
Fixed in #2840, right?

[2015-06-26 12:18] #2834 closed

[2015-06-26 13:10] maikuru opened #2841 "Tile rendering error when switching 2D/3D with Terrain"
When using STK Terrain and starting in 2D mode there are issues rendering tiles when you switch to 3D mode.
https://groups.google.com/forum/#!topic/cesium-dev/ewfM4857CkU

![l3gx0e0](https://cloud.githubusercontent.com/assets/1457734/8377848/d385a88c-1be2-11e5-8cf6-77bcff73ca6c.png)

[2015-06-26 13:14] mramato commented on #2841
This is a duplicate of #2474

[2015-06-26 13:14] #2841 closed

[2015-06-29 15:31] vinita90 opened #2842 "need to change the image present in czml.html, how can i do it?"

[2015-06-29 15:38] mramato commented on #2842
@vinita90 please use [the official forum](https://groups.google.com/forum/#!forum/cesium-dev) for general questions and support.  It's also not clear to me what you are asking.  I would recommend you check out the [tutorials](http://cesiumjs.org/tutorials.html) first and then post to the forum if still have questions.

[2015-06-29 15:38] #2842 closed

[2015-06-29 16:02] mramato commented on #2834
Yes

[2015-06-29 16:03] mramato commented on #2836
As discussed in the linked issue, we're just going to move the smallterrain set so it can still be used for testing, I'll open a separate PR with the final urls once everything is migrated to its new home.

[2015-06-29 18:53] bagnell commented on #2826
They are no longer deprecated. We will revisit it in the future.

[2015-06-29 18:53] #2826 closed

[2015-06-29 19:11] #2762 closed

[2015-06-29 19:25] pjcozzi commented on #2745
@bagnell thoughts?

[2015-06-29 19:26] pjcozzi commented on #2635
@bagnell thoughts on this? Is this an easy fix for 1.11?

[2015-06-29 19:36] mramato opened #2846 "computeTemeToPseudoFixedMatrix may have problems near leap seconds."
The three tests below all fail if you change date from `June 29, 2015 12:00:00 UTC` to `June 30, 2015 12:00:00 UTC` (which is near a leap second).  The problem is that either these tests simply don't work if crossing a leap second (and hardcoding the dates as done in #2845 is the actual solution), or there is a bug somewhere that needs to be fixed.  We should determine the exact cause of the failu

[2015-06-30 01:16] mramato commented on #2631
I've confirmed that we can't use PEP in Cesium proper without modifying external state.  That being said, I think we should still consider using it anyway and changing Cesium to only work against the PointerEvent API.  Our lack of good unified support for touch/pointer/other input is becoming a more common problem on the forum every day.

I still think we should remove `ScreenSpaceEventHandler` fr

[2015-06-30 11:46] pjcozzi commented on #1825
[Another forum post](https://groups.google.com/forum/#!msg/cesium-dev/OzfwqMLOr60/SNW0D0_HP5MJ)

[2015-06-30 11:54] #802 closed

[2015-06-30 11:55] #804 closed

[2015-06-30 11:57] #1158 closed

[2015-06-30 11:58] #1400 closed

[2015-06-30 11:59] #2093 closed

[2015-06-30 12:00] #2468 closed

[2015-06-30 12:05] pjcozzi commented on #1880
Another way to reproduce this from #2825:

[2015-06-30 12:13] pjcozzi commented on #2073
This is fixed in master (Cesium 1.11) and perhaps [older versions](https://github.com/AnalyticalGraphicsInc/cesium/pull/2825#issuecomment-116793851).

[2015-06-30 12:13] #2073 closed

[2015-06-30 12:19] pjcozzi commented on #2631
Not that I would know, but this all sounds OK to me - can we submit a new issue or rename this one?

[2015-06-30 13:29] #2635 closed

[2015-06-30 13:31] #2763 closed

[2015-06-30 13:52] pjcozzi opened #2849 "viewer.zoomTo creates strange camera conditions"
@bagnell can you look at this for 1.11?

For example, run http://localhost:8080/Apps/Sandcastle/index.html?src=Spheres%20and%20Ellipsoids.html&label=All

* Zooming out over rotates.
* Middle mouse drag seems to be locked around the center (same in 1.10, but are we sure we want this?)

[2015-06-30 14:00] pjcozzi commented on #2849
I'm not sure that this is tied to `viewTo`.  For example, run http://localhost:8080/Apps/Sandcastle/index.html?src=development/PointPrimitives.html&label=Development

Right click at the top of the points and zoom out, then the globe flips over itself.

[2015-06-30 19:33] nmschulte-aviture opened #2852 "Contributor License Agreement links broken"
The links to the individual and corporate CLAs (currently hosted on the AGI/agi.com website) are broken (in CONTRIBUTING.md).

[2015-06-30 19:34] bagnell commented on #2745
I haven't been able to reproduce the failure.

[2015-06-30 19:41] mramato commented on #2852
Thanks, I'm looking into this.

[2015-06-30 19:48] mramato commented on #2788
Another/better example from [the forum](https://groups.google.com/d/msg/cesium-dev/-eeUa9V_JjE/tshCKz7vtqYJ)

[code]

[2015-06-30 21:22] icholy opened #2853 "RangeError: Invalid array buffer length"
I'm getting the following errors sporadically.

[code]

[code]

[2015-06-30 21:26] pjcozzi commented on #2745
OK, not critical for 1.11.

[2015-06-30 21:39] nmschulte-aviture commented on #2828
Where's the issue?  I assume the left rendering is Chrome, and it should look like the right rendering (Firefox)?

Running the example on my machine in Chromium (v43.0.2357.130) on Debian Sid via the integrated Intel HD Graphics 4600 adapter (using the mesa/i915 driver), I see a rendering that looks like the one on the left.

[2015-06-30 21:49] pjcozzi commented on #620
Duplicate with #2788

[2015-06-30 21:49] #620 closed

[2015-06-30 21:50] pjcozzi commented on #2788
Related: "Large filled circles fill the opposite side." #998

[2015-06-30 21:53] pjcozzi commented on #640
Temporarily removed the Material texture cache: #2850

[2015-06-30 21:56] #2821 closed

[2015-06-30 23:50] pjcozzi commented on #2836
Is this still a `show stopper` for 1.11?

[2015-07-01 02:07] chris-cooper commented on #2828
Yes, in Chrome (left) it looks like the points are rendering as a single pixel rather than a small quad that's being shaded to look like a ball in Firefox (right).  Also, it looks like a vertex shader issue as I did a test making the fragment shader red and the points remained small.

[2015-07-01 03:21] mramato commented on #2836
It's a test only change, but it should go into 1.11.  I just opened #2855 for it.  I was previously waiting for the transfer I kicked off yesterday to finish.

[2015-07-01 03:39] mramato commented on #2828
I can reproduce this as well (Intel 4000 under Linux Mint 17)   Works fine in Firefox, breaks in Chrome.  @emackey is unavailable until July 6th, but I'm sure he'll want to look at this (since he wrote the new primitive).  I agree that it looks like the points are stuck at size 1.  WebGL is reporting a max point size of 5, so maybe there's an issue with our clamping (or there could be a bug in Chr

[2015-07-01 03:42] mramato commented on #2853
This issue usually indicates a bug in user code.  It's almost always caused by a `NaN` or `undefined` value being passed into Cesium.  I recommend you develop against the unminified Cesium.js, which has enhanced error checking and is more likely to catch bad data.  Only use the minified Ceisum.js for deployment.

In the future, please use [the forum](https://groups.google.com/forum/?fromgroups#!fo

[2015-07-01 03:42] #2853 closed

[2015-07-01 10:35] gberaudo opened #2857 "Uint32Array undefined error in ie9"
Older versions of Cesium used to load the Cesium script without error.

Starting with version 1.10, an error occurs due to the use of the undefined Uint32Array in Scene/Model.js: `var sizeOfUint32 = Uint32Array.BYTES_PER_ELEMENT;`.

Having a code like `Uint32Array = Uint32Array || {};` in application code workarounds the issue.

[2015-07-01 12:16] pjcozzi commented on #2857
Thanks for the report and workaround, we'll try to get a fix into 1.12.

[2015-07-01 12:19] pjcozzi commented on #2849
@bagnell any update?  We'll leave this marked `show stopper` for 1.12.

[2015-07-01 12:26] #2836 closed

[2015-07-01 12:31] pjcozzi commented on #2852
@nmschulte-aviture you are already covered by the Aviture corporate CLA unless you are contributing this as an individual in which case you would want to fill out the individual CLA.

If you need the CLA before the links are fixed, email me (pjcozzi@siggraph) and I can send it to you.

[2015-07-01 12:53] nmschulte-aviture commented on #2852
@pjcozzi, that's my understanding as well (thanks for confirming!).  I made the issue for the reason that it's broken and making it easy for others to contribute is probably a goal.

[2015-07-01 13:08] mramato commented on #2852
Thanks again for reporting this.  The issue has been fixed.

[2015-07-01 13:08] #2852 closed

[2015-07-01 14:37] mramato opened #2860 "Test failures in IE 11"
After #2859, there are still 5 test failures in IE 11 that we should investigate

`Renderer/CubeMap draws with a cube map with premultiplied alpha`
`Renderer/Texture renders with premultiplied alpha`
`Scene/Pick drill picks multiple objects`
`Scene/Pick does not drill pick when show is false`
`Scene/Primitive can disable picking when asynchronous`

[2015-07-01 16:02] pjcozzi commented on #2857
Thanks again @gberaudo.  Fixed in #2858.

[2015-07-01 16:02] #2857 closed

[2015-07-01 17:46] pjcozzi opened #2861 "Culling / OBB optimizations"
Ideas for later.

* [ ] Use OBB for determining what frustums a command belongs in.  This should result in fewer commands overlapping more than one frustum.  It will have additional overhead, but perhaps we can exploit temporal coherence to reduce the number of distance checks?
* [ ] Instead of culling terrain/buildings/etc with the tile's OBB, use the union of the children's OBBs.  It will be mor

[2015-07-01 18:30] mramato commented on #1668
I can no longer reproduce this and haven't seen this failure in forever.  I assume it was a bug in Firefox that has been fixed.  Tested with 38.0.5

[2015-07-01 18:30] #1668 closed

[2015-07-01 18:34] mramato commented on #1946
I can no longer reproduce this.  Firefox 38.0.5 and Cesium 1.11.

[2015-07-01 18:34] #1946 closed

[2015-07-01 18:38] mramato commented on #2771
I'm actually getting 6 failures in Chrome with validation on (and several failures in Firefox as well).  They almost all have the same error `RuntimeError: WebGL Error:  INVALID_OPERATION: drawElements(4, 6, 5123, 0);`

[2015-07-01 18:39] #2813 closed

[2015-07-01 18:42] pjcozzi commented on #2771
I did not get these when doing the 1.11 release today.

[2015-07-01 19:27] bagnell commented on #2771
In the console I also see these errors:
`WebGL: INVALID_OPERATION: drawElements: no ELEMENT_ARRAY_BUFFER bound`
`GL ERROR :GL_INVALID_VALUE : glDrawElements: out of memory`

[2015-07-01 19:48] bagnell commented on #2771
All of the tests pass for me if the `debugShowGlobeDepth` test doesn't run.

[2015-07-02 17:37] mramato opened #2866 "Transparent background regression in 1.10 and new"
Here's a simple Sandcastle example that uses the scene.backgroundColor property to make a transparent background (with the underlying yellow div showing through).  It works in 1.9 but not in 1.10 or 1.11.  Multiple users have ran into this problem: [forum post](https://groups.google.com/forum/?fromgroups#!forum/cesium-dev).

**JS**

``` javascript```
var viewer = new Cesium.Viewer('cesiumContainer

[2015-07-02 18:28] GatorScott opened #2867 "EOP data file example should include all required columns"
The example is missing "modifiedJulianDateUtc" which is a required column (see onDataReady()).

[2015-07-05 00:20] pjcozzi opened #2868 "Add maximumHeight option to viewer.flyTo"
@bagnell was this an oversight for 1.11?  If so, let's do it for 1.12.  Or is there something preventing this?

[Forum post](https://groups.google.com/forum/#!topic/cesium-dev/90utjnigscg)

[2015-07-05 17:20] garymazz commented on #1245
Some of us who would like to use CesiumJS are obligated to have a formal credit and copyright pages in the app. The current mechanism prevents us from easily achieving this requirement.  Maybe an air of professionalism and trust in your user base is a good reason to better manage the credits.

[2015-07-06 15:36] mramato opened #2869 "Scene.mode"
According to the `Scene` [documentation](https://cesiumjs.org/Cesium/Build/Documentation/Scene.html), the `Scene.mode` property is settable and changes the mode.  However, attempting to do so seems to result in a freeze/crash.  My preferred solution is to fix the `Scene.mode` property so that it instantly switches modes, but if that's not feasible, we should make the property readonly and add docu

[2015-07-07 02:04] mramato opened #2871 "Entity API can't control material translucency"
For example, all image materials are translucent and there's no way to specify you want a solid image.

via [the forum](https://groups.google.com/d/msg/cesium-dev/FiF_xXJShLE/SOk5bUpRzkMJ)

[2015-07-07 14:02] mramato commented on #2828
I just stumbled on this Chrome bug: https://code.google.com/p/chromium/issues/detail?id=503608 which makes this look like a general Chrome issue (that may already be fixed in the next version).  I would recommend people chime in on that issue with your own experiences since that's probably the best bet to ensure this is fixed.  We'll keep this open until the problem is gone either way.

[2015-07-07 15:26] kainino0x commented on #2743
KhronosGroup/glTF#395

[2015-07-07 15:47] hpinkos opened #2872 "WallGeometry has incorrect texture coordinates"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/lUUFr2-LvGc

[code]

[2015-07-07 16:55] pjcozzi commented on #2743
Closing.  The PR in the glTF repo replaces this.

[2015-07-07 16:55] #2743 closed

[2015-07-07 18:25] #2872 closed

[2015-07-08 13:40] #2838 closed

[2015-07-08 15:25] emackey commented on #2631
We should still remove RIGHT_DOUBLE_CLICK, regardless of making this private etc.

I'm fine with private APIs and PEP and whatever else.  Here's my main concern:  Cesium's default use of input events is almost overwhelming.  We use all three buttons for drag, we use the primary click, we use modifier keys, and touch, tap, and three forms of two-finger touch, all by default.  I feel we *have* to th

[2015-07-08 19:04] #2868 closed

[2015-07-09 00:49] chris-cooper commented on #2828
Good find!  This is now fixed for me in chrome beta.

[2015-07-09 00:54] mramato commented on #2828
Awesome.

[2015-07-09 00:54] #2828 closed

[2015-07-09 19:56] hpinkos opened #2877 "Middle mouse drag after home button click tilts globe up instead of down"
The first middle mouse drag after clicking the home button tilts the globe up instead of down.
It seems like it might be dependent on the screen aspect ratio somehow?

It happens every time in a window like this (width > height):
![image](https://cloud.githubusercontent.com/assets/3451886/8605344/b57d63a0-2652-11e5-9e8c-dc997845b47b.png)

But none of the time in a window like this:
![image](https:

[2015-07-12 22:53] mramato opened #2880 "Rendering issues during resize"
Resizing Cesium in 1.10 or later causes different rendering problems in both Chrome and Firefox.  This is easy to see in the Box example.  We should try and fix this for 1.12.

1.9 : http://cesiumjs.org/releases/1.9/Apps/Sandcastle/gallery/Box.html
1.11: http://cesiumjs.org/releases/1.11/Apps/Sandcastle/gallery/Box.html

[2015-07-13 00:04] pjcozzi commented on #2880
@bagnell can you look at this?  Do you think @kainino0x and I introduced this with the sun/stars fix?

[2015-07-13 19:46] bagnell opened #2882 "Wall texture coordinates are wrong"
Can be seen here:
http://localhost:8080/Apps/Sandcastle/index.html?src=development/Material.html&label=Development

Probably introduced in #2872.

[2015-07-13 23:42] #2882 closed

[2015-07-14 01:53] mramato commented on #2877
I just started to run into this too, I swear we fixed it at some point, maybe it's a regression with the new zoom behavior?  CC @bagnell

[2015-07-14 15:45] mramato opened #2885 "Points not appearing at certain angles"
As reported [on the forum](https://groups.google.com/d/msg/cesium-dev/oqa-64XkLW8/3-a75fEr3VMJ), the below code creates a view where the line of points are not visible until move the view to a different angle (middle-mouse move does it).  Even if you add an altitude to `fromDegrees` to raise the points off the ground, the problem still occurs.  I'm not sure what is going on but it happens in all b

[2015-07-14 16:01] mramato commented on #2885
@emackey thinks this may be a similar problem to #2130

[2015-07-14 16:07] emackey commented on #2885
Correct.  The points have a thin "transparent" outline due to anti-aliasing built into the fragment shader.  In the screenshot below I've made the points bigger and turned off `scene.fxaa`, and here the points appear to have a black outline.  But the outline isn't black, it's transparent, and it's showing through to the black background because the render order for the points is backwards from thi

[2015-07-15 02:29] kring opened #2888 "Loading KMZ files is unreliable after the first time"
Try this example in Sandcastle:

[code]

On my system, at least, this prints "loaded" every time, but often (almost every time) doesn't print "loaded2".

Any attempt to step through significant bits of the load code in the debugger causes loaded2 to be printed every time.

Using console.logs, I've traced this to the `entry.getData` call in `loadXmlFromZip` never calling its callback, but I don't k

[2015-07-15 02:37] kring commented on #2888
So this happens very consistently on my Ubuntu machine, but not at all on my Windows machine.  It's timing related, I'm sure.

[2015-07-15 02:47] kring commented on #2888
After restarting Chrome it doesn't happen on my Ubuntu system either.  But the more complicated pile of code that originally had me investigating this still fails (on both systems).  So I feel pretty confident there's a timing-related problem, but this isn't very likely to help you reproduce it, sadly.

[2015-07-15 02:50] kring commented on #2888
Closing so you don't waste your time on this.

[2015-07-15 02:50] #2888 closed

[2015-07-15 13:13] #2880 closed

[2015-07-15 14:30] mramato opened #2891 "GeoJsonDataSource loading bug"
The below Sandcastle example doesn't work as expected.  Whichever button you hit first causes the second button to not load it's data correctly.  This is due to the way entity event caching works and the fact that both objects have the same identifier.  Reported on [stack overflow](http://stackoverflow.com/questions/31426796/loading-updated-data-with-geojsondatasource-in-cesium-js).

[code]

[2015-07-16 00:51] jimmyangel opened #2892 "drillPick makes Safari and Chrome crash on iOS"
Hi All:

First, thank you very much for making Cesium available... It is really cool.

I am having some trouble with Cesium on iOS though. The drillPick functionality will make both Chrome and Safari freeze and or crash almost every time I get more than a few features returned by the function. It happens on both an iPhone 6 and an iPad 2 running iOS 8.4.

Here is a reproducer: http://rikitraki.com

[2015-07-16 06:45] kring opened #2893 "Doc of pitch passed to Camera.lookAt is wrong"
It says:

As far as I can tell, this is backwards.  Positive angles put the camera below the XY plane.  For example, this Sandcastle example with a negative pitch puts the camera above the surface looking at a downward angle toward the target.  With a positive pitch, the camera ends up below the surface.

[code]

I'm pretty sure that "above the plane" means the camera should be above the plane, no

[2015-07-16 14:26] temesgen71 commented on #2885
Can you guys think of any temporary workaround for this? I am showing tracks of a ship's position and there are a lots of areas where the points can make closely packed lines similar to the data above.  If there is a patch I can make to get around this even at cost of some performance it will good enough for me.   Thanks!
- Tim

[2015-07-16 14:54] emackey commented on #2885
You can trade this problem for other problem(s), and see if the other ones are more subtle or more acceptable than this.  Try turning off "depth masking" and see if it helps, by adding the following code to the above demo.  This may introduce a different problem where points fail to obscure background objects of certain types.

[code]

[2015-07-16 18:52] temesgen71 commented on #2885
Thanks! That seems to work fine for me. I don't see any performance hit either.  I am only showing points with a label on mouse over.  I see that the label is showing on top of the points which is what I want anyways.  I think this is a good work around for us for now. Thanks!!

[2015-07-17 01:08] pjcozzi commented on #2892
Thanks for the report and upcoming Cesium website showcase, @jimmyangel.

If you know something is a bug, please submit an issue like this; if you're not sure, start a thread on the forum, but don't worry about doing both.

When Cesium does a drill pick, it renders the scene once for each object under the mouse cursor.  In this case, there can be a lot of objects so I _think_ it is just taking a l

[2015-07-17 16:10] nmschulte-aviture commented on #2822
This was fixed with some of the `ArcGisMapServerImageryProvider` updates; closing.

[2015-07-17 16:10] #2822 closed

[2015-07-17 19:20] hpinkos opened #2894 "Incorrect billboard bounding sphere"
![image](https://cloud.githubusercontent.com/assets/3451886/8755042/f986f8c4-2c95-11e5-929a-1bd56663ce39.png)

This is why we can only pick a pin by clicking the bottom of it.

The bounding sphere needs to be altered if `verticalOrigin` is `TOP` or `BOTTOM`.  When `horizontalOrigin` is defined the sphere changes, but it needs to for `verticalOrigin` as well.

[2015-07-17 20:39] pjcozzi commented on #2894
Also see #2225.  There could be more than one problem.  @hpinkos a fix is welcomed if you have time.

[2015-07-20 14:21] hpinkos opened #2895 "Only show Infobox for certain entities"
Several users in the forum have been looking for the ability to only show the InfoBox for certain types of entities.  For example, it would be useful to show the InfoBox for pins but not polylines.

One solution could involve this: #1592 (Picking Priority)

https://groups.google.com/forum/?hl=en#!topic/cesium-dev/H_-hJyY_KuA
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/agtOrHYEhUo

[2015-07-20 14:24] rtemplin15 commented on #1841
has their been any updates to Cesium to fix this problem?

[2015-07-20 18:41] pjcozzi commented on #652
This could be of interest, for example, to check the GitHub username against a database of users who signed the CLA: https://developer.github.com/v3/repos/statuses/

[2015-07-20 21:45] pjcozzi commented on #2132
* From Esri: http://blogs.esri.com/esri/arcgis/2015/07/20/vector-tiles-preview/

[2015-07-22 12:39] dragon112 commented on #2208
I've created an ImageryProvider (HeatmapImageryProvider) and added it to the repository (https://github.com/dragon112/CesiumHeatmap).

It's almost perfect, the only issue I see so far is that the underlying map data doesn't update, does anyone have an idea how to fix this?

[2015-07-22 12:40] GatorScott commented on #2132
Demo of vector tiles at Esri UC is last video on page

http://www10.giscafe.com/blogs/gissanjay/2015/07/20/keynote-from-jack-dangermond-at-the-2015-esri-user-conference/

From: Patrick Cozzi [mailto:notifications@github.com]
Sent: Monday, July 20, 2015 5:45 PM
To: AnalyticalGraphicsInc/cesium
Subject: Re: [cesium] Vector Tiles (#2132)

  *   From Esri: http://blogs.esri.com/esri/arcgis/2015/07/20/

[2015-07-22 15:31] pjcozzi commented on #1841
No update, but perhaps the workaround above will be reasonable for you.

[2015-07-22 16:18] tomermoshe opened #2896 "Incorrect canvas pixel position when using two maps"
When im using two maps (in two different divs that are in the same hirarchy in the DOM) I get incorrect canvas position (pixel position) using the following code:
[code]
In the first map, `movement.endPosition` is relative to the screen position of the second map's canvas (it can be negative if the cursor is left to the second map's canvas).

[2015-07-22 23:05] bmckilligan opened #2897 "Small Wall or Verticle Polygon not rendering properly"
-using PolygonGeomety, if the shape is too short in the vertical height, it renders as a triangle
 -using WallGeometry, if the shape is  too short in the horizontal direction, it won't render

sandcastle example:

------------
var viewer = new Cesium.Viewer('cesiumContainer');
var scene = viewer.scene;

var instances = [],
    dLong = -0.00001,
    dLat = 0.00000001 ,
    longitude =-122.95287197,

[2015-07-22 23:19] mramato commented on #2896
@bagnell any thoughts here?  Sounds like a similar bug we had where we weren't taking offset within the body into account.

[2015-07-22 23:26] hpinkos commented on #2897
@bmckilligan I don't think a vertical polygon is officially supported.  Our PolygonGeometry is really meant for drawing polygons on the ellipsoid surface.  @bagnell?
For the wall geometry, I believe we just have to change a threshold value somewhere.  I'll take a look at it.
Thanks for reporting this!

[2015-07-23 14:05] mramato commented on #2115
This recently came up [on the forum](https://groups.google.com/d/msg/cesium-dev/8o52AWvOh-o/E9q6J0l9T38J)

[2015-07-23 16:18] hpinkos commented on #2225
@pjcozzi this looks fine in master now.  It must have been fixed somewhere along the way.
![image](https://cloud.githubusercontent.com/assets/3451886/8855723/bf60d950-3134-11e5-8a00-b027ba697462.png)

[2015-07-23 16:18] #2225 closed

[2015-07-24 01:40] kring commented on #2115
I'm happy to look at this if it's specific to imagery layers, but it seems pretty clear it's a general `globe.pick` doesn't work in 2D, as described in #2480, right?

[2015-07-24 02:16] hpinkos commented on #2115
@kring yeah, I was looking at this a tiny bit earlier today, and `globe.pick` is definitely the problem.  It returns `undefined`.

[2015-07-24 13:27] adivalerio80 commented on #1097
I am having an issue in facilities.kml where the labels are cluttered.  I have looked ant your suggestions above. I resized the labels and the text but it doesn't solve the whole issue.  I am currently trying to make the labels a fixed size in the kml so that when you zoom in they labels naturally get bigger.  Do you have any suggestions?

[2015-07-24 19:06] bagnell commented on #2897
@hpinkos is right. Cesium only supports polygons that conform to the surface of an ellipsoid. For a vertical polygon you would need to create a custom geometry. The issue with the walls has been fixed and will be in the 1.12 release.

[2015-07-24 19:06] #2897 closed

[2015-07-24 19:49] #2894 closed

[2015-07-25 01:28] bmckilligan commented on #2897
I have had pretty good results with polygons defined in the vertical plane so far.

Complex geometries with several thousand points have had some some issues , the attached image is a visualization of soil/mud data in a pond with depth %Solids and %water on the left, and some other material properties measured on the right

![capture](https://cloud.githubusercontent.com/assets/8988054/8887292/b86b

[2015-07-27 21:48] hpinkos commented on #2823
updated example:

[code]

[2015-07-27 22:10] hpinkos commented on #2896
@tomermoshe I can't reproduce this.  Do you only have the `ScreenSpaceEventHandler` on the second map's canvas or do you have a handler for both?  How are your maps oriented? left and right or top and bottom?
thanks!

[2015-07-27 22:27] pjcozzi opened #2906 "Add failIfMajorPerformanceCaveat query parameter for tests"
So the SwiftShader folks can test with our unit tests.

Note that `failIfMajorPerformanceCaveat` can be passed as part of the `webgl` options to Viewer similar to [here](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Specs/Widgets/Viewer/ViewerSpec.js#L348).

[2015-07-28 13:09] emackey commented on #2906
Is there ever a reason to run unit tests with `failIfMajorPerformanceCaveat = true` ?

[2015-07-28 13:15] mramato commented on #2906
Is defaulting to true even a good idea?  When people encounter this problem they simply override it back to false anyway so I'm not really sure we're helping anyone.

[2015-07-28 13:24] emackey commented on #2906
Good point, maybe using the watchdog timer message thing to warn users of bad performance is better than having it fail like this.

[2015-07-28 17:56] hpinkos commented on #2448
This crashes in Chrome and Firefox now.  `Show Frustums` gives the error message @kainino0x reported in ##2747.

This was also reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/EH5YNRdhqOQ

@pjcozzi @bagnell

[2015-07-28 18:31] #2823 closed

[2015-07-28 18:45] bmckilligan opened #2907 "Multiple SVG icons rendering into each other with billboards"
In the following sandle castle example, Using Chrome 32-bit on Windows, latest stable v44,  billboards are created with SVG images.  The images have some fill opacity

The first billboard image renderes properly, the second renders with the first layered under the third with all three combined.

Clicking on the billbord and viewing the description will show what the billboard icon should be.

thin

[2015-07-28 19:01] hpinkos commented on #2907
Thanks @bmckilligan!  This is definitely unusual behavior.

[2015-07-28 19:04] nmschulte-aviture commented on #628
It appears this bug still exists.  This is from the *Materials* Sandcastle example.

The distance to the line matters, as does the angle:
![cap](https://cloud.githubusercontent.com/assets/5199745/8940624/839bce48-3530-11e5-9481-e9edc92265de.gif)

And, I was able to get it to render more than two arrow heads at extreme angles:
![cap](https://cloud.githubusercontent.com/assets/5199745/8940743/190cce

[2015-07-28 19:18] hpinkos commented on #628
[code]

@bagnell

[2015-07-29 21:21] pjcozzi commented on #2241
@nickdesaulniers is looking at this for gl-matrix, https://github.com/toji/gl-matrix/pull/172

[2015-07-30 08:37] dhonaker opened #2909 "show/hide Entity causes material update problem"
After you hide and then show an entity, the first time you try to update the entity's color it doesn't work.  If you try a second time it works.  I've attached some code below to demonstrate the issue.  First, click the "Hide / Show Polygon" button to hide and then show the polygon.  Then click the "Set polygon to blue" button, the first time will not work, the second time will.

[code]

[2015-07-30 14:24] mramato commented on #2907
This is a bug in Chrome, not Cesium.  Cesium does not do anything special in treatment of SVGs and simply loads the image using browser functionality.  We have no control over the behavior you are seeing.  I would recommend you file the above code as a [Chrome bug](https://code.google.com/p/chromium/issues/list).  If you do, please add the link to this issue.

Your code sample had a bug preventing

[2015-07-30 14:24] #2907 closed

[2015-07-30 15:40] bmckilligan commented on #2907
quickly looking through the chrome bugs I cam across this

https://code.google.com/p/chromium/issues/detail?id=500180

[2015-07-30 16:08] mramato commented on #2907
@bmckilligan thanks!  That definitely looks like the culprit.  It's disappointing that SVG is still inconsistent from browser to browser.

[2015-07-30 22:56] pjcozzi commented on #2208
@dragon112 do you mean the globe doesn't update when a user changes the imagery provider's min/max/data?  If so, I suspect this is because the terrain engine expects that the "images" are static.  So you would have to remove and re-add the imagery profile.  Otherwise, perhaps you could create an image material from the heat map and apply it to an entity's rectangle.

[2015-07-31 10:13] pjcozzi opened #2911 "glTF uris should allow absolute or relative paths"
Currently, they only support relative paths.  E.g., we need to check `new Uri(uri).isAbsolute()`.

[Forum discussion](https://groups.google.com/forum/#!topic/cesium-dev/YKRI5CJGVsM)

[2015-08-01 02:17] shunter commented on #2911
I tested it out and it seems to be correctly loading images and buffers specified with absolute URLs in the glTF file.  Were you able to reproduce or are you just going off the info from the forum discussion?

To test, I edited the model in Box-Textured-Separate and changed the URLs to point to the hosted copies on cesiumjs.org.  (since we have CORS headers)

[2015-08-01 03:14] chriswingler opened #2914 "Culling Volumes?"
Hey folks, I've been learning Javascript and Cesium the past month or so and it's great!  I can come up with a ton of questions, but I'll stick to one and ask how culling volumes work.

What I'm trying to do is create a first person view, where if you're moving fast (like riding a dirkbike through national park trails), the terrain and imagery immediately in front of you loads first and doesn't cu

[2015-08-01 12:36] pjcozzi commented on #2911
I didn't test; just going from the info on the forum.  The other external resource to check is shaders.

Are you saying this code is OK

  https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Model.js#L1077

Since `_baseUri` is ignored when `shader.uri` is absolute, this is probably a CORS issue?

[2015-08-03 01:17] mramato commented on #2892
As mentioned in the forum post, `limit` seemed to fix the problem.

[2015-08-03 01:17] #2892 closed

[2015-08-03 01:38] chris-cooper opened #2915 "PolylineGeometry removing duplicates will impact other per-vertex data"
Compacting the positions array using PolylinePipeline.removeDuplicates() here...
https://github.com/AnalyticalGraphicsInc/cesium/blob/1.11/Source/Core/PolylineGeometry.js#L306
Will have an offsetting effect on other per-vertex data (such as color) since those arrays aren't being compacted in the same way.

[2015-08-03 07:29] dragon112 commented on #2208
@pjcozzi No, I'm talking about the map layer that's positioned under the heatmap layer (so the OSM layer in my case). As long as the heatmap layer is visible (layer.show = true) the other layers won't update when I zoom in or out.

[2015-08-03 13:39] hpinkos commented on #2915
Thanks @chris-cooper. I wrote this issue a while ago about a few other polyline functions that don't maintain parallel arrays correctly.  #1894

[2015-08-03 14:25] #2806 closed

[2015-08-04 22:04] hpinkos opened #2917 "Add {reverseZ} to UrlTemplateImageryProvider"
Requested in the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/L3VPz8guGbI

[2015-08-05 05:41] kaktus40 commented on #2917
Hello,
I made a pull request : https://github.com/AnalyticalGraphicsInc/cesium/pull/2919

[2015-08-06 15:17] hpinkos opened #2922 "Add non-uniform scale for model entity"
requested in the forum
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/oOHgrUJwnrQ

[2015-08-06 16:34] hpinkos opened #2924 "Improve extrusion PolygonGeometry with perPositionHeight"
`PolygonGeometry` assumes the points with `perPositionHeight` are on the top, so when the `extrudedHeight` is greater than the position heights, the shape is inside out.

[code]

Found in #2923

[2015-08-06 19:59] slozier opened #2926 "BaseLayerPicker example"
The example in the reference documentation for BaseLayerPicker appears to use an older API. I'm not quite sure how to fix it up to use the current API...

[2015-08-06 20:12] GatorScott opened #2927 "CZML Point.pixelSize doesn't honor ISO 8601 times"
Relative times work with epoch.

[code]

[2015-08-06 20:55] #2926 closed

[2015-08-07 13:40] santilland commented on #2866
Hi! Seeing there was not much activity here and i wanted to use a bit newer versions then 1.9 on our services i have been looking for the change that removed this functionality. After quite some looking around i found it! :smile:
It seems it got in in around the commit 6413fbe1a578f2ae0bb3f378a1f3068de8f5a88e in the file Source/Scene/Scene.js this was changed:
this.fxaa = true; (line 482 in releas

[2015-08-07 15:34] slozier opened #2930 "TileDiscardPolicy.shouldDiscardImage documentation"
The `TileDiscardPolicy.shouldDiscardImage` documentation says that it should accept an `Image|Promise<Image>` and return a `Promise<Boolean>`. This does not appear to be true in the implementations of this interface:

`NeverTileDiscardPolicy.shouldDiscardImage` has the same documentation but the code actually returns a `Boolean`.

`DiscardMissingTileImagePolicy.shouldDiscardImage` accepts an `Imag

[2015-08-07 15:36] emackey commented on #2866
@santilland There's no need to hack Cesium.js for a workaround so simple, just set the value after you construct the widget.

[code]

(Also, if you were to hack the minified file, `!1` is the correct minified version of false, not the number zero.)

[2015-08-07 21:04] pjcozzi commented on #2914
@chriswingler please post questions like this on the [Cesium forum](http://cesiumjs.org/forum.html).  It will get a lot more attention since we use GitHub just for issue tracking.

This topic has been discussed a few times before so you might find some info searching on the forum.

[2015-08-07 21:04] #2914 closed

[2015-08-10 08:18] santilland commented on #2866
Hi! Well that happens for over thinking :D that is a far easier approach of course, thanks for that.

[2015-08-11 05:19] Zuzon opened #2931 "Cesium rendering stopped when using tileMapService imagery provider with small bounding box"
Hello,
When I use tile map service imagery provider and set small bounding box and zoom my view to level 10 or higher, cesium throws an error "Rendering stopped,  D is undefined"
currently my bounding box rectangle is:
[code]

[2015-08-11 12:47] 13kenney commented on #873
There appears to be no support for NetworkLink/Link/viewRefreshMode, viewRefreshTime and viewFormat.  Those would be very helpful.  We use:

<viewRefreshMode>onStop</viewRefreshMode>    <viewRefreshTime>0</viewRefreshTime>    <viewFormat>BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]</viewFormat>

to have the network link update when the user stops moving, and to limit the view to the bounding

[2015-08-11 13:25] emackey commented on #2734
I'm re-opening this since it was discussed [on the forum](https://groups.google.com/forum/#!msg/cesium-dev/MYEVSSZtYrg/eIROiLDqAAAJ).

We should consider implementing @mramato's suggestion above.

[2015-08-12 13:17] pjcozzi opened #2934 "Add compressVertices to Model"
As discussed with @kainino0x:

Just like [Primitive.compressVertices](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Primitive.js#L93) for normals and texture coordinates.

This can also be done offline; however, not when the new Open3DGC mesh compression is used.

This will give us the best of both words: network bandwidth savings with Open3DGC, and then GPU memory bandw

[2015-08-12 15:09] simonthum opened #2935 "Entities' orientation ignored until after addition"
I have

[code]

[2015-08-12 15:19] mramato commented on #2935
I can't reproduce this.  Below is the Sandcastle example I used to test.  I get a new orientation every time I hit run.  If you can tweak it so that it shows the problem you are seeing, I can look into it.

[code]

[2015-08-12 15:43] kainino0x opened #2936 "3d-tiles branch: trackedEntity doesn't work?"
I've only compared `3d-tiles` with `mesh_compression_open3dgc`, but when I use `trackedEntity` in `3d-tiles` it just centers the camera at the center of the Earth, as if without `trackedEntity`.

I can provide more details later after SIGGRAPH if needed.

[code]

[2015-08-12 15:49] simonthum commented on #2935
Hi,

I can't reproduce either - neither in the sandcastle nor at home. I did the latter before reporting, twice - sometimes it's simply disgusting.

SFTN

[2015-08-12 15:49] #2935 closed

[2015-08-12 15:55] pjcozzi commented on #2936
Most likely, this is the problem: https://github.com/AnalyticalGraphicsInc/cesium/compare/3d-tiles#diff-b63bb2797bd8e2bc3fc273f1d6b1bca0R120

We don't plan to keep the display condition change so feel free to delete all the changes in that file.

[2015-08-12 16:04] kainino0x commented on #2936
Changing that to `false` fixes it. I really only need this right now for debugging and demo.

[2015-08-12 16:30] jbo023 opened #2937 "3d-tiles branch: get BatchId from property Value"
Hi Cesium Team,

we started to investigate the 3d-tiles spec and the cesium 3d-tiles branch and we are really happy with the first internal results.

To manipulate the model, we would like to have a function to retrieve the batchID based on a property-value.
Do you plan to add a function like this, or did i overlook another existing solution?

[code]

I can also create a pull request if requested.

[2015-08-12 16:39] adamish commented on #1640
Any news on this, alternative workarounds? I'm hitting this issue too...

[2015-08-13 13:33] jasonbeverage opened #2938 "Poor mobile performance introduced between 1.9 and 1.10"
I updated our EarthViewer application from Cesium 1.6 to Cesium 1.12 yesterday and noticed that performance on mobile devices took a giant hit.  I tested on a Nexus 7, and Galaxy S Tab and two iPads and noticed the same thing.   I don't notice a difference on my desktop so I'm not sure if it's a mobile only thing or if my desktop is so fast that the difference is negligible.

The performance hit t

[2015-08-13 15:39] pjcozzi commented on #2937
@jbo023 thanks for the interest, the team is at SIGGRAPH this week.  I'll get back to you about this next week.

[2015-08-14 00:29] pjcozzi commented on #2938
@bagnell is this because of a fullscreen pass we added?

[2015-08-14 16:06] mramato commented on #2938
While this certainly sounds like a regression, I'll add that it's compounded by the fact that Cesium specifically ignores the `devicePixelRatio` setting suggested by the browser in order to provide native resolution rendering on all platforms (which is usually what people desire).  This can cause performance issues on some mobile devices since we have a fad of high-resolution screens without the G

[2015-08-14 17:01] mramato commented on #2866
@bagnell since we know it's the fxaa pass, could the problem be that we are not checking if the webGL context was created with `alpha:true` and creating the framebuffer with the correct options to match?  I took a quick look at the code, but it's an area I'm not familiar with so nothing jumped out at me.

[2015-08-14 17:17] jasonbeverage commented on #2938
Thanks for the tip Mathew, setting the resolutionScale to 1.0 /
devicePixelRatio effectively doubles my frame rate in both 1.9 and 1.10!

There is a definite regression though since 1.9 still runs at double the
frame rate of 1.10.  With the resolutionScale set I'm getting 60fps with
1.9 and 30fps with 1.10.

On Fri, Aug 14, 2015 at 12:06 PM Matthew Amato <notifications@github.com>
wrote:

[2015-08-14 18:52] andre-nunes commented on #2751
PR with initial support here: https://github.com/AnalyticalGraphicsInc/cesium/pull/2939

[2015-08-14 21:44] pjcozzi commented on #1640
I haven't tested this, but try changing [this line](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Renderer/Context.js#L870) to
[code]
This should work in cases when alpha blending is enabled (which may not be all cases).

[2015-08-14 22:13] ezze opened #2940 "CZML billboard and path with alpha-channel and enabled OIT in 2D"
Hi, guys!

We are testing satellite CZML with semi-transparent white orbit path and facing the following issue: satellite's billboard doesn't overlay the path in 2D scene mode, and the path is blacked there (though everything is fine in 3D scene mode):

![aqua-billboard-path](https://cloud.githubusercontent.com/assets/665479/9284821/f37eedac-42e7-11e5-8c20-caea1238faa1.png)

Turning off the OIT so

[2015-08-16 17:35] Zuzon commented on #2931
added fix in my fork

[2015-08-16 17:35] #2931 closed

[2015-08-17 17:33] mramato commented on #873
@13kenney Yes, this is explicitly marked not-support in the above roadmap.  We will be implementing sometime over the next few months (but don't have an exact ETA).

[2015-08-17 18:32] mramato opened #2942 "Picking bug"
From [the forum](https://groups.google.com/d/msg/cesium-dev/NU9I0fPTCCE/ZvZJPfCVNycJ)

Using Firefox, run the below code in Sandcastle and switch to the Console tab to see output.  Mouse over the center of the plane and make small circular motions (staying over the plane).  As long as you stay on the plane object, nothing should appear in the console, however, occasionally the pick fails even thou

[2015-08-17 18:47] 13kenney commented on #873
Thanks, great to hear it is coming!

Mark

[2015-08-17 19:18] mramato opened #2943 "setView does not work in all scene modes"
Via [the forum](https://groups.google.com/d/msg/cesium-dev/WlYGJm6zsXQ/f9jg0P1EMAAJ)

__Two bugs__
1. I expect the below code to orient the camera looking straight down and oriented North in all scene modes.  However. it only works in 3D mode.
2. The `Cesium.Cartesian3.clone` should not be necessary, but is because of an unrelated camera bug.  setView should probably clone it's input position.

[c

[2015-08-17 21:08] mramato commented on #2896
I'm also unable to reproduce this using the below Sandcastle code.  I'm going to close this for now since we haven't heard anything in a while, but @tomermoshe, if you are still having problems and can provide some runnable code to show the issue we can reopen it.  Thanks.

[code]

[code]

[2015-08-17 21:08] #2896 closed

[2015-08-17 23:57] mramato commented on #2940
I don't think OIT is the problem here, but @bagnell can look at this to confirm.  I think this is just a draw order issue where in some cases the polyline gets drawn on top of the bilboard and other times the billobard gets drawn on top of the polyline.  That being said, there's not a good solution that works in all cases at this time.  If disabling OIT works for you, then I would stick with that

[2015-08-18 00:05] pjcozzi commented on #2807
@kainino0x can you remove this soon for the upcoming 1.13 release?

[2015-08-18 00:06] pjcozzi commented on #2739
Moving this from `remove in 1.13` to `remove in 1.15` since these have actually come in handy, and I want to keep them until we stabilize the draft spec.

[2015-08-18 00:07] pjcozzi commented on #2724
Can someone remove this for the upcoming 1.13 release?

[2015-08-18 00:18] mramato opened #2946 "Polygons disappear at close zoom levels"
Use the below code and keep zooming in, eventually you'll hit the ground or near the ground and the polygon will disappear.  You can even tilt the camera and view the horizon and the polygon doesn't reappear.  Is this is tessellation issue?  Or some sort of frustum bug?  CC @bagnell

[code]

[2015-08-18 00:23] pjcozzi commented on #2946
Did you check `debugShowBoundingVolume`?

[2015-08-18 00:33] mramato commented on #2946
Yep, the bounding volume is fine.  Here it is in action.

![bug](https://cloud.githubusercontent.com/assets/1495196/9319697/2f539222-451f-11e5-965d-eaf351ba4b07.gif)

[2015-08-18 00:46] pjcozzi commented on #2946
Looks like a multifrustum issue.  Could be opaque vs. transparent since the frustum overlap is different.

[2015-08-18 05:19] ezze commented on #2940
Does it mean that currently I can't affect the order of rendering at all? At the moment, I see that z-ordering in 2D and 3D are different.

[2015-08-18 07:40] WilsonMuktar commented on #1578
not fixed ?

[2015-08-18 08:07] WilsonMuktar commented on #1578
i'm using cesium to generate colored map, look like below :
![120006000](https://cloud.githubusercontent.com/assets/13670967/9325198/0ac32c16-45c3-11e5-9ad5-efcf0115085d.png)

can anyone help me to be fix it ?
the color didn't fully the same, some of them become more darker.

[2015-08-18 14:27] mramato commented on #1578
There is no simple solution to this problem at this time (which is why this issue is still open).  We have a longer term roadmap to refactor the lighting system but no ETA as to when it will happen.

[2015-08-18 14:49] mramato commented on #2940
There isn't a way to specify z-order in Cesium yet, but for now you might be able to use the [Billboard.eyeOffset](http://cesiumjs.org/Cesium/Build/Documentation/Billboard.html#eyeOffset) to make your billboard render above the path.  Setting it with a negative Z value will render it closer the camera, making it always render above the path.

[2015-08-18 21:50] pjcozzi commented on #405
Fixed in #2949

[2015-08-18 21:50] #405 closed

[2015-08-18 22:53] pjcozzi commented on #2911
@shunter what do you think?

[2015-08-18 22:55] pjcozzi commented on #2906
For now, we'll set `failIfMajorPerformanceCaveat : false` for the tests.

[2015-08-18 23:04] pjcozzi commented on #244
This is fixed AFAIK.

[2015-08-18 23:04] #244 closed

[2015-08-18 23:12] pjcozzi commented on #1119
This is best handled outside of Cesium.

[2015-08-18 23:12] #1119 closed

[2015-08-18 23:15] pjcozzi commented on #1378
Is this still an issue given the new `UrlTemplateImageryProvider`?

[2015-08-18 23:17] pjcozzi commented on #1811
This is in-progress with 3D Tiles.  Check out NYC: http://cesiumjs.org/NewYork/

Some [notes](https://github.com/AnalyticalGraphicsInc/3d-tiles/blob/master/TileFormats/OpenStreetMap/README.md).

Closing since this is being tracked in the `3d-tiles` repo.

[2015-08-18 23:17] #1811 closed

[2015-08-19 13:37] mramato commented on #1825
Just an FYI, something is severely wrong with lighting in master for the sample code in the original post.  Hopefully this points to an obvious bug.

3D
![image](https://cloud.githubusercontent.com/assets/1495196/9357449/038a3d94-4655-11e5-9e88-06f275346156.png)

2D
![image](https://cloud.githubusercontent.com/assets/1495196/9357455/0dca36ce-4655-11e5-9199-c6408af0c12c.png)

I also think this bug

[2015-08-19 13:37] mramato commented on #1825
It's also been brought up on the forum twice recently: [post1](https://groups.google.com/d/msg/cesium-dev/CXzgkC8DY7s/kYrWLREXGwAJ) [post2](https://groups.google.com/d/msg/cesium-dev/zzyDTQvPaBo/Zu2zxB-5GAAJ)

[2015-08-19 13:50] m-schuetz commented on #648
Hi,

I've done a first test with cesium + three.js here:
http://potree.org/demo/experimental/2015.08.19_cesium_test/examples/cesium_test.html

The basic idea is this:
- Copy "cesium.camera.viewMatrix" and "cesium.camera.inverseViewMatrix" to "three.camera.matrixWorldInverse" and "three.camera.matrixWorld"
- The potree point cloud is given in EPSG:21781(swiss). This is first transformed to WGS84(de

[2015-08-19 14:09] pjcozzi commented on #648
Yes, see the link I sent on twitter: http://blogs.agi.com/insight3d/index.php/2008/09/03/precisions-precisions/

There will also be depth buffer compositing and perhaps precision issues with this approach.

[2015-08-19 14:26] m-schuetz commented on #648
Thanks, I'll take a look at it!

[2015-08-19 16:07] ZacBrownBand opened #2950 "The moveEnd event raised by the camera delayed."
When a user drags and lets go of the 3d globe, there is a moveStart event when the camera begins to move. If the user stops moving the mouse before releasing, the translation inertia is not used and moveEnd event is fired as expected. If the user lets go of the mouse while the camera is moving, the inertia keeps the camera's position moving. The moveEnd event is not fired for a delayed time as the

[2015-08-19 16:11] pjcozzi commented on #2950
Thanks for the report @ZacBrownBand.  I believe this is a duplicate of #2839.  Do you agree?

[2015-08-19 16:21] ZacBrownBand commented on #2950
@pjcozzi Yes, that is the same issue. I was unable to find that one while looking for open issues. Feel free to close this one.

[2015-08-19 16:27] pjcozzi commented on #2950
OK, thanks!

[2015-08-19 16:27] #2950 closed

[2015-08-19 21:51] shunter commented on #2911
Yes, the logic for resolving URLs relative to the baseUri is correct.  An absolute shader.uri (etc) will not be modified by the call to resolve.

[2015-08-19 22:06] #2911 closed

[2015-08-20 01:06] mramato opened #2951 "Billboards no longer show up in 2D if terrain is enabled"
[via the forum](https://groups.google.com/d/msg/cesium-dev/LNRMg40XpR8/y7czsP2wDQAJ)

As of 1.12, Billboards no longer show up above the terrain (even satellites) in 2D.  Run the [1.12 CZML example](http://cesiumjs.org/releases/1.12/Apps/Sandcastle/index.html?src=CZML.html&label=DataSources) and switch to 2D and turn on terrain.  This doesn't happen in 1.11.

[2015-08-20 15:54] ezze commented on #2940
Unfortunately setting `z` of `eyeOffset` for the billboard doesn't work for me. It tried both negative and positive values - the path is still above the billboard.

[2015-08-20 19:57] mramato commented on #2951
FYI, Points have the same problem.

[2015-08-20 21:52] #2807 closed

[2015-08-21 12:51] pjcozzi commented on #640
@lilleyse, let's do a pull request for each bullet:

* `createRenderbuffer` / `createFramebuffer`
* `createVertexArray` / `createVertexArrayFromGeometry`
* `createRenderState`
* `createTexture2D` / `createTexture2DFromFramebuffer` / `createCubeMap`
* `createShaderProgram` / `replaceShaderProgram`
* `createSampler`
* `createVertexBuffer` / `createIndexBuffer`

[2015-08-21 17:59] bagnell commented on #2172
- [ ] Add dynamic minimum height. (Needs changes to supported geometries)
- [ ] Query terrain for tighter maximum height.
- [ ] Add option to geometries for creating different bounding volumes.
- [ ] Batch by color?
- [ ] Tighter OBB? Maybe compute from [triangles](http://gamma.cs.unc.edu/users/gottschalk/main.pdf)

[2015-08-23 00:11] kring commented on #1378
Yes, this is still an issue, because `UrlTemplateImageryProvider` doesn't (yet) support Bing Maps style quadkey tile numbering.

[2015-08-23 20:45] #2724 closed

[2015-08-24 13:37] pjcozzi commented on #640
@lilleyse here's a few ideas for `createRenderState`:

* Remove `context.createRenderState`, of course.
* Change the `RenderState` constructor function to take `options`, which will have two properties: `context` and `renderState`.  However, users will not call this directly, instead...
* Add `RenderState.fromCache` (which is a static function, not on the prototype), which takes the same `options`

[2015-08-24 13:40] pjcozzi commented on #640
@lilleyse `createCubeMap` should be straightforward, do it before 2D textures.  Just move the implementation into the `CubeMap` constructor function, and then update everything.  There will only be a few places; cube maps are just used for stars and in the tests.

[2015-08-24 13:42] pjcozzi commented on #640
@lilleyse `createTexture2D` / `createTexture2DFromFramebuffer` will also be pretty straightforward.  The only thing of note is to move `createTexture2DFromFramebuffer` to a static function, `Texture.fromFramebuffer`.

[2015-08-24 14:14] pjcozzi commented on #640
@lilleyse for `createShaderProgram` / `replaceShaderProgram`, replace them with new `ShaderProgram.fromCache` and `ShaderProgram.replaceCache` static functions.

We'll talk in person about `createSampler`, `createVertexBuffer`, and `createIndexBuffer`.  Basically, we'll create a new `Sampler` class, and then we need to think about buffers in context with WebGL 2 uniform buffers and transform feedb

[2015-08-24 14:51] #2906 closed

[2015-08-24 18:04] pjcozzi commented on #2917
Thanks @kaktus40

[2015-08-24 18:04] #2917 closed

[2015-08-24 18:23] lilleyse commented on #640
It seems safe to move the cache to RenderState since RenderState doesn't seem to store any GL resources. Are there any examples with multiple contexts that I could test with?

[2015-08-24 18:28] pjcozzi commented on #640
Here's a good start (which clearly works so we are probably OK and I'm sure I thought about this at some point): http://analyticalgraphicsinc.github.io/cesium-google-earth-examples/demos/multiple/

Code: https://github.com/AnalyticalGraphicsInc/cesium-google-earth-examples/tree/master/demos/multiple

[2015-08-24 18:39] lilleyse commented on #640
After looking closer, it does initialize its viewport width and height with the context drawing buffer's width and height. This may be a problem in some cases.

[2015-08-24 23:12] pjcozzi commented on #2056
Re-open if this becomes a priority for closed networks or to make the tests more reliable.

[2015-08-24 23:12] #2056 closed

[2015-08-25 12:43] pjcozzi commented on #2951
Fixed in #2957.

[2015-08-25 12:43] #2951 closed

[2015-08-25 13:16] King-JXN opened #2966 "How to use eclipse build the cesium?"
Is there anyone knows how to build the cesium by eclipse? Please help me! Thanks!

[2015-08-25 13:28] mramato commented on #2966
I just [answered your question](https://groups.google.com/d/msg/cesium-dev/zf7ECePycZg/wyT_W28VBwAJ) on the forum, please do not double post to GitHub.

[2015-08-25 13:28] #2966 closed

[2015-08-25 13:31] pjcozzi commented on #2936
Fixed in 741c1adbceb193ae7d78b1e998a8012020c392d0.

[2015-08-25 13:31] #2936 closed

[2015-08-25 14:28] pjcozzi commented on #640
@lilleyse open future pull requests into the [renderer-refactor](https://github.com/AnalyticalGraphicsInc/cesium/tree/renderer-refactor) branch.

[2015-08-25 19:12] rutsky opened #2968 "Zoom to mouse position significantly inprecise"
In most situations zooming to mouse position is done not in mouse position, but in area near mouse position.
Consider zooming to and from point in Iceland here: http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases

![test2_compressed](https://cloud.githubusercontent.com/assets/46573/9476555/f9acdd24-4b75-11e5-876a-90a1e574b8f9.gif)

IMO, mouse zooming must h

[2015-08-25 23:27] pjcozzi commented on #640
@lilleyse for buffers, also check out the code from our book:

* https://github.com/virtualglobebook/OpenGlobe/tree/master/Source/Renderer/GL3x/Buffers
* https://github.com/virtualglobebook/OpenGlobe/tree/master/Source/Renderer/Buffers

I'm not at all advocating for the same approach, but taking a brief look should help identify strengths and weaknesses.

[2015-08-26 14:29] lilleyse opened #2973 "Triangulation broken in 1.13"
![image](https://cloud.githubusercontent.com/assets/915398/9496161/05c6124e-4bdd-11e5-9bb6-e1e927858b36.png)

Running the [GeoJSON Sandcastle example](http://localhost:8080/Apps/Sandcastle/index.html?src=GeoJSON%20and%20TopoJSON.html&label=Showcases). Looks fine in 1.12.

@bagnell / @hpinkos ?

[2015-08-26 14:34] lilleyse commented on #2973
Could have been my recent changes, looking into it.

[2015-08-26 14:49] lilleyse commented on #2973
Pinpointed it to 870e68a

[2015-08-26 15:56] lilleyse commented on #2973
@bagnell Can you look at this?

[2015-08-26 17:06] pjcozzi commented on #817
WEBGL_debug_shader_precision was rejected as an extension.

[2015-08-26 17:18] mramato commented on #2655
For non-immediate tasks in Cesium, [requestIdleCallback](https://w3c.github.io/requestidlecallback/) looks like it could be really useful. It [just got added](https://plus.google.com/+IlyaGrigorik/posts/bPNjgMwcMKs) to Chrome Canary.  Not sure how much traction it has for other browsers.

[2015-08-26 19:40] #2973 closed

[2015-08-26 21:45] pjcozzi commented on #817
@lilleyse I looked more at this.  I _think_ the right general-purpose approach is check if `highp` is supported in fragment shaders in the `ShaderProgram` constructor function.  If it is, we are good.

If not, extract the uniforms from `vertexShaderText` and `fragmentShaderText`.  If there are any duplicate uniforms, rename the uniform in the fragment shader ([for example](https://github.com/Analy

[2015-08-26 21:59] pjcozzi commented on #1259
@lilleyse after #817, we'll start chipping away at this (not all at once, we'll split it into several pull requests).  To see the files that need to be updated, search in all files for `Specs/render`.  An easy file to start with is _probably_ ViewportQuadSpec.js.  Look at DebugModelMatrixPrimitiveSpec.js for a simple example.

[2015-08-27 12:13] pjcozzi commented on #2739
These are proving to be way too useful for debugging and reference to remove.

[2015-08-27 12:13] #2739 closed

[2015-08-27 14:34] mramato commented on #2655
Here's a much [better write up](https://developers.google.com/web/updates/2015/08/27/using-requestidlecallback) on requestIdleCallback.

[2015-08-27 18:25] #640 closed

[2015-08-27 19:21] mmacaula opened #2981 "Make Cesiumjs Webpack and Browserify Friendly and publish on NPM"
See: [forum post](http://cesiumjs.org/forum.html#!msg/cesium-dev/fH3oiHZnHgE/31MiuygDCHoJ)

The source code changes are minimal, just remove package.json files in Source/* directories and could be done in a quick PR.

To become more friendly, it would be nice to publish the compiled workers and source code on npm so that people could npm install it without having to do a special build step.  Ideal

[2015-08-29 13:19] pjcozzi commented on #2968
Thanks for the report, are you using the mouse wheel or right click zoom?

[2015-08-29 13:45] lilleyse commented on #817
What is the best way to mock high precision not being supported?

[2015-08-29 15:08] rutsky commented on #2968
I'm using mouse wheel.
In the gif each map scale change (mostly) corresponds to one wheel event.

[2015-08-30 12:22] pjcozzi commented on #2968
@bagnell what do you think? Is there anything else we can do given the mouse wheel?

[2015-08-30 12:31] pjcozzi commented on #817
To test for `highp`, see: https://github.com/AnalyticalGraphicsInc/webglreport/blob/master/webglreport.js#L120

For mocking it, you could add a function to `Context`, and use ` spyOn(...).and.returnValue(..);` (see [here](http://jasmine.github.io/2.0/introduction.html)).  However, it might just be easier to add the value to `ContextLimits`, and then explicitly set it in the test and then restore i

[2015-08-31 10:59] pjcozzi commented on #1259
@lilleyse let's start with `ViewportQuadSpec` and `GroundPrimitiveSpec` today.

* [ ] DebugAppearanceSpec
* [ ] EllipsoidPrimitiveSpec
* [ ] EllipsoidSurfaceAppearanceSpec
* [ ] GeometryRenderingSpec
* [ ] GlobeSpec
* [ ] GlobeSurfaceTileProviderSpec
* [ ] GroundPrimitiveSpec `// Just remove the reference; it is not used`
* [ ] MaterialAppearanceSpec
* [ ] MaterialSpec
* [ ] PerInstanceColorAppear

[2015-08-31 11:43] pjcozzi opened #2985 "Exception in ImageryLayer"
- Run viewer.
- Switch to 2D.
- Switch to Mapbox Streets.
- Use the geocoder to zoom into "Downingtown, PA"
- Switch to Columbus view, and get the following exception:

![image](https://cloud.githubusercontent.com/assets/782098/9577906/71f3dca6-4fb3-11e5-801d-70f939c64b11.png)

The line is:

[code]

Also in Cesium 1.12.

[2015-08-31 12:15] pjcozzi commented on #751
@lilleyse for this, review the notes on the compute pass in [Rendering a Frame](http://cesiumjs.org/2015/05/14/Graphics-Tech-in-Cesium/), and our two current use cases:
* `Sun` - [Line 218](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Sun.js#L218)
* `ImageryLayer` - [Line 962](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/ImageryLayer.js#L962)

[2015-08-31 15:14] lilleyse commented on #817
@kring Do you have a `mediump` only device that we can use to test this? The changes are on this branch: https://github.com/lilleyse/cesium/tree/uniform-mediump.

[2015-08-31 15:58] kring commented on #817
No I don't, sorry.  The device mentioned in the original description belonged to AGI.  It's entirely possible a software update since then has made the problem go away, though.

[2015-08-31 20:36] lilleyse commented on #1259
Should all these pull requests go into their own branch, like renderer-refactor in #640 ?

[2015-08-31 20:58] pjcozzi commented on #1259
Yes, one branch per pull request.  The branch may have one or more refactored specs.

[2015-08-31 21:01] lilleyse commented on #1259
I mean should the master repo have a branch called spec-refactor, like how I made my renderer pull requests go into renderer-refactor?

[2015-08-31 21:03] pjcozzi commented on #1259
Ah, sorry.  No, it is fine to open the pull request directly into master.

[2015-08-31 21:40] mramato opened #2988 "Middle mouse look does not stop inertia"
1. Fling the earth in any direction with the left mouse.
2. While the inertia is still going, hold down the middle mouse to rotate.

The inertia should stop the moment the middle mouse is down (or down and moves) but instead the inertia keeps going while I'm looking around.

[2015-09-01 11:52] pjcozzi opened #2989 "Workaround Safari 9 WebGL bug"
Not for 1.13 today.

Discussion: https://twitter.com/pjcozzi/status/638390320619761664

If we need to workaround this, replace all uses of `WebGLRenderingContext` with the actual constant, e.g.,
[code]
becomes
[code]

@lilleyse let's discuss.

[2015-09-01 15:11] mramato commented on #2771
I'm still getting these failures as of the 1.13 release.

[2015-09-01 15:54] mramato commented on #1518
Hitting the home button and then toggling modes can also cause issues.

[2015-09-01 16:11] mramato opened #2991 "Zooming issue in 2D when tracking"
1. Load simple.czml
2. Track Geoeye
3. Switch to 2D.
4. Try to zoom in on the tracked object.

Location based zooming is taking over instead of zooming directly to the tracked object.  This doesn't happen in 3D or Columbus View.

I'm not marking this a showstopper because it also happens in 1.12.

[2015-09-01 18:00] td-edge commented on #754
+1

A standalone application would be ideal...

[2015-09-02 13:25] mramato opened #2994 "drillPick bug with targetFrameRate set"
1. Bring up the Sandcastle picking example. (Bring up the debugger too because Chrome will hang otherwise).
2. Add `viewer.targetFrameRate = 6` to the  example and run it.
3. Start the drill-down picking example and move the mouse over the geometries that appear.
4. Chrome will quickly freeze, hit `break` in the debugger manually (failure to do so will cause Chrome to become completely unresponsiv

[2015-09-02 14:01] emackey commented on #2988
This is true of any two different types of motions.  For example, you can zoom while pan inertia is going and vice versa.  Sometimes the effect is visually cool, I kind of like it.

[2015-09-02 14:30] mramato commented on #2981
We're definitely interested in supporting Webpack and Browserify out of the box.  I was just talking to @kring and @shunter about this last week.  Hopefully one of them can chime in with some additional thoughts since I personally haven't used either yet. (If only there were more hours in the day).

As for publishing things on NPM.  It's definitely in our long-term roadmap but I think there's defi

[2015-09-02 14:38] mmacaula commented on #2981
@mramato I'd be happy to help with the npm publishing, or at least dive into it to make sure I understand what needs to be done.  Am I correct in assuming that most of the current process is in the build.xml file?

[2015-09-02 14:46] mramato commented on #2981
Yes, and related js files they reference.  In truth we would love to move Cesium to an all node/gulp based build process and remove the need for ant/java completely, but no one has had the time to do it (and there's quite a build involved given both the complex nature of Cesium and things like shaders and web workers).

We also want to make it easy to use Cesium as an NPM module on the server.  On

[2015-09-02 15:39] jasonbeverage opened #2995 "Crash on Nexus 7 when modifying Entity"
I'm experiencing a crash on my Nexus 7 when attempting to modify an Entity's show property.  The same issue occurs when I try to change the position.

I've uploaded a test to demonstate the crash at  https://s3.amazonaws.com/jason.beverage.uploads/cesium-entity-crash/entity.html

That example will toggle an entity's show property every 10 frames.  On every device I've tested it appears to work, bu

[2015-09-02 17:49] pjcozzi commented on #2989
Should be fixed in https://bugs.webkit.org/show_bug.cgi?id=148449 but doesn't work yet in WebKit r189243 (02 September 2015).

[2015-09-02 20:15] bmckilligan opened #2997 "Labels using primitives in chrome 45 with font under 24px"
the following example in chrome 45 will not display labels properly, the first character, or "1" characters are not shown, bumping the font from 16px to 24px resolves the issue

var viewer = new Cesium.Viewer('cesiumContainer');
var  scene = viewer.scene;

var labels =  scene.primitives.add(new Cesium.LabelCollection({ scene: scene }));

var cesiumLabel = labels.add({
                    show:  tr

[2015-09-02 20:20] mramato commented on #2997
Thanks, this definitely looks like a bug.  Do you know if this happened in Chrome 44?

[2015-09-02 20:23] bmckilligan commented on #2997
forgot to add, things work fine in firefox, worked fine in chrome 44

playing around with different strings, it appears that whatever the first character is, all instances of that character are removed from the string

"PPPP Philadephia 1234 ABC" will render "      hiladephia 1234 ABC"

[2015-09-02 20:27] mramato commented on #2997
Thanks, knowing it worked in 44 should make this easy to isolate.

[2015-09-03 03:08] #2991 closed

[2015-09-03 14:28] denverpierce commented on #2997
Can confirm this in chrome 45. It will also label the first lowercase letter, but not uppercase.

[2015-09-03 15:21] jbo023 opened #2999 "3d-tiles branch: tile unloading"
We created a b3dm dataset for Berlin with 500000 textured buildings. Unfortunately cesium crashes after some time viewing the dataset. After some debugging we found out that cesium never unloads b3dm tiles from the GPU memory. On my machine it crashes after the chrome taskmanager shows 3.6gb GPU memory used. I also couldn’t find any code for unloading tiles. Do you have any internal development fo

[2015-09-03 16:23] pjcozzi commented on #2999
We haven't developed this yet, but, of course, we plan to.  We want to get a bit deeper into the load pipeline and refinement strategies before we do cache management because we need to look at cases like, for example, if we will allow child to be loaded without their parent.

[2015-09-03 18:27] bmckilligan commented on #2997
using the labe "abc Philadephia 1234" at 28px renders  " bc Phil  dephi  1234" at 30px its fine.

what a weird bug

[2015-09-03 18:29] lilleyse commented on #1259
GlobeSpec was updated in 8f20940.

[2015-09-03 21:41] bagnell commented on #2994
I tracked this to setting the scissor test. The correct scissor rectangle is not getting cleared causing the same object to be picked. If you follow Matt's instructions and break [here](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Renderer/RenderState.js#L686), the `scissorTest.rectangle` will be different than what is set (which you can query with `gl.getParameter(WebGLRende

[2015-09-04 12:08] pjcozzi commented on #2994
Probably fine.  I doubt the overhead is significant compared to everything else.

[2015-09-04 13:47] m-schuetz commented on #648
Found out how to render into the same canvas with the same context:

First, create a three.js renderer and pass the canvas as argument. The canvas/context was already initialized by cesium. Three.js will call getContext() for the same canvas and therefore, according to the spec, receive the same context as cesium.
[code]

In the render loop, cesium has to be rendered first.

During the rendering w

[2015-09-08 13:57] lilleyse opened #3001 "Renderer roadmap"
- [ ] Refactor command execution. For example use `computeEngine.execute(command)` directly.
- [ ] Pass just `frameState` to update functions. Place `context` and `commandList` inside `frameState`.
- [ ] Separate command lists to avoid sorting based on pass type later.

[2015-09-08 17:36] mramato commented on #2989
Still broken in r189485 (September 8th).  If iOS 9 does get released tomorrow, I'm assuming Cesium will be broken.

[2015-09-08 17:51] pjcozzi opened #3002 "Support for the binary_glTF extension"
There are a few tweaks compared to CESIUM_binary_glTF.  See https://github.com/KhronosGroup/glTF/pull/400

[2015-09-08 21:40] #751 closed

[2015-09-08 21:42] pjcozzi opened #3004 "Test failures in master (Chrome 45)"
In Chrome 45 on Mac.  I did not test other platforms.

[code]

[2015-09-08 23:23] mramato commented on #3004
These are on Windows as well and I believe are regressions with Chrome 45 (which also introduced some other bugs as well).

[2015-09-09 03:04] mramato commented on #2997
I did an initial triage on this and the `canvas` elements are being created properly for each letter, so the problem is definitely on the WebGL side.  It manifests in older releases of Cesium too (I tried 1.12), which points to it most likely being a Chrome bug.  Next step is to try it without ANGLE and see if that's the problem.

[2015-09-09 03:17] mramato commented on #2997
Okay, it's not ANGLE and happens under OpenGL as well.  I postulate the problem is actually related to adding tiny billboards to `BillboardCollection` when the first billboard is tiny, it is no longer showing up.  (for those of you that don't know, labels are just implemented in terms of billboards where each billboard is a letter)

@pjcozzi @lilleyse or @bagnell can one of you take a look at this

[2015-09-09 11:46] pjcozzi commented on #2997
@bagnell can you please look at this?

[2015-09-09 12:56] pjcozzi opened #3005 "Update README.md screenshots"
Update [README.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/README.md) screenshots to include all the new [showcases](http://cesiumjs.org/demos.html).

I'll take care of this soon.

[2015-09-09 13:10] pjcozzi commented on #3001
Looks OK for us to have `context.executeDrawCommand`, `context.executeClearCommand`, and `ComputeEngine.execute`.

[2015-09-09 13:14] pjcozzi commented on #3001
I think we need to do (2) before doing (1), right?  Perhaps just hold on these for now.

[2015-09-09 13:31] pjcozzi commented on #2814
@kring could you make a list of imagery providers that could be implemented using `UrlTemplateImageryProvider` in order of difficulty?  We may have some help for this.

[2015-09-09 13:33] pjcozzi commented on #2738
We'll move this to Core unless there are any objections.

[2015-09-09 13:35] pjcozzi commented on #2695
CC #2267

[2015-09-09 13:51] pjcozzi commented on #2930
Agreed, good catch.

[2015-09-09 14:29] pjcozzi commented on #648
Thanks for the info.

I expect most apps will want this, e.g., depth testing points vs. Cesium's terrain.  I expect this can be done by setting Three.js' camera near and far planes and explicitly rendering the Three.js scene for each frustum in Cesium.  See [executeCommands](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Scene.js#L1524) in Scene.js.

The jittering issue i

[2015-09-09 15:17] pjcozzi commented on #2937
@jbo023 sorry for the delay, I agree this is useful.

Please send in a [CLA](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md) and open a pull request.

Instead of returning batch IDs, return `BatchedModel` instances like [getModel](https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Source/Scene/Batched3DModel3DTileContentProvider.js#L404).  Perhaps name this

[2015-09-09 15:42] mramato opened #3006 "Map builder tweaks"
Whoops, wrong repot.

[2015-09-09 15:58] #3006 closed

[2015-09-09 16:00] pjcozzi opened #3007 "Add WebStorm setup to the Contributor's Guide"
@lilleyse has a list of recommended settings and there is the [webstorm](https://github.com/AnalyticalGraphicsInc/cesium/compare/webstorm) branch.

[2015-09-09 16:04] mramato commented on #3007
The branch has a configuration that mostly matches Eclipse auto-formatting that we already use.  Since ant build targets aren't supported in webstorm, there's no way to run tasks currently.  We could probably build a gulp task that call through to the ant tasks (and in the long run, just switch over to npm/gulp tasks as we port the ant ones.

[2015-09-09 17:35] rutsky opened #3008 "Fabric wiki page has broken link on image"
On [this](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Fabric) page there is an image with source https://github.com/AnalyticalGraphicsInc/cesium/wiki/materials/Grid.PNG which doesn't exists, but https://github.com/AnalyticalGraphicsInc/cesium/wiki/materials/Grid.png (extension in lowercase) exists.

[2015-09-09 17:53] pjcozzi opened #3009 "Ability to pass credit string to MapboxImageryProvider"
Also, is this called often?  If so, can we avoid the allocation?
[code]

[2015-09-09 17:58] mramato commented on #3009
Yes, I believe it's called for every tile, but it's a good idea to pull it out either way.

[2015-09-09 19:04] mramato commented on #2989
iOS 9 will be released on September 16

[2015-09-09 20:57] #2994 closed

[2015-09-09 21:01] pjcozzi commented on #2942
#3010 does not fix this.

[2015-09-09 21:25] pjcozzi commented on #2997
@bmckilligan @denverpierce if you need a fix _now_, use the branch in #3011, but it is still being tweaked.

[2015-09-09 22:16] rutsky commented on #2981
@mmacaula, you mentioned in the mailing list that you managed to build pure Cesium with minimal changes (removing package.json) with webpack.
How did you handle building `.glsl` into `.js` files?
Did you handle debug macroses, like following?

[code]

[2015-09-10 01:52] mmacaula commented on #2981
@rutsky.  I did not handle the debug macros.  I believe the .glsl files are all part of web workers (if I'm not mistaken) and because of that, as long as we use the built versions of those web workers then we do not need to worry about it unless you want webpack to also build those webworkers.  I of course could be mistaken on this and just not exercised the code enough.

I'm not an expert at webp

[2015-09-10 10:02] adamish opened #3012 "Camera moveEnd not triggered when globe spun"
in Cesium 1.13 if you move the globe (any Cesium.Viewer instance) using a "flick" gesture, i.e. the mouse is still moving at the point the mouse button is released then viewer.camera.moveEnd is NOT triggered.

The moveEnd event appears to work correctly when moving the globe normally, e.g. a simple mouse down, move, mouse up.

Example

    var viewer = new Cesium.Viewer('cesiumContainer');
    vie

[2015-09-10 12:08] pjcozzi commented on #2271
@bagnell can you look at this and #2415 in time for 1.14?

[2015-09-10 12:37] pjcozzi opened #3013 "Credits take up too much canvas real estate"
For example, here is the default Cesium Viewer at 350x350:

![image](https://cloud.githubusercontent.com/assets/782098/9787990/03905d40-5795-11e5-9bb6-5db3b0915160.png)

The credits take up too much space.  Here is the same view with terrain enabled at 350x350:

![image](https://cloud.githubusercontent.com/assets/782098/9788007/2558b8e6-5795-11e5-9da9-79c663b6eaa8.png)

We have discussed only show

[2015-09-10 12:53] rutsky opened #3014 "PerInstanceColorAppearance documentation has incorrect example"
[PerInstanceColorAppearance documentation](http://cesiumjs.org/Cesium/Build/Documentation/PerInstanceColorAppearance.html) has following example:

[code]

Notice that `color` is passed directly to `GeometryInstance` options, but should go, as I see in [GeometryInstance documentation](http://cesiumjs.org/Cesium/Build/Documentation/GeometryInstance.html), to `attributes` field, like this:

[code]

[2015-09-10 13:10] mramato commented on #3012
I can't reproduce what you are seeing.  It takes way too long, but the camera event always fires.  Are you sure you simply aren't running into #2839? (We should fix this sooner rather than later either way).

[2015-09-10 13:14] mramato commented on #2981
It has nothing to do with the workers.  The glsl files are never used directly, they are transformed into JavaScript files during the `ant build` process.  If you use a released version of Cesium modules or the combined Cesium.js, then the glsl files are never touched.

While it certainly doesn't have to be in the initial solution, handling debug macros should definitely be a long term goal, since

[2015-09-10 13:27] pjcozzi commented on #3014
Good catch, thanks @rutsky

[2015-09-10 13:37] rutsky opened #3015 "Fabric wiki page has invalid interlinks in Contents"
E.g. FabricSchema section in Contents links to
[code]
but works
[code]
(notice lowercase and minus as word separator).

Looks like this issue is due to GitHub links validator, that normalizes links.

[2015-09-10 14:57] hpinkos commented on #3012
Also related: #2715

[2015-09-10 15:05] #3014 closed

[2015-09-10 16:13] hpinkos opened #3018 "Significant lag in PointPrimitiveCollection.removeAll"
With a large number of points, PointPrimitiveCollection.removeAll can take a few seconds to hide the points from the scene.

[code]

[2015-09-10 17:48] #3009 closed

[2015-09-11 00:03] danwild commented on #871
Any movement on this feature? The ol3-cesium project surely must be doing something similar under the hood for this.. http://openlayers.org/ol3-cesium/examples/sidebyside.html

[2015-09-11 02:29] mmacaula commented on #2981
I see, thanks @mramato, I must have been mistaken on it only needing the workers built.  I think I misspoke in the forum and used the downloaded version of cesium, which includes all the js files from the .glsl files.

@mramato, stepping back a bit, can you explain the reasons behind the package.json files in the source directory?  If they are not used, then getting rid of them would allow us to p

[2015-09-11 02:59] hpinkos opened #3020 "Fix sandcastle development links in reference documentation"
There are a bunch links in the reference documentation to sandcastle demos that got moved to the development folder.  This includes all of the outline geometry types, material/appearance examples and some primitive examples.

For example,

`* @demo {@link http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Box%20Outline.html|Cesium Sandcastle Box Outline Demo}`

needs to be changed to

`* @d

[2015-09-11 12:10] pjcozzi commented on #2989
@lilleyse can you do this soon?  Unfortunately, we're going to need this workaround.  I think the best approach is to introduce a new static class like `ContextLimits` with _all _ the constants from the spec (perhaps called `ContextConstants` or `WebGLConstants`).

[2015-09-11 14:49] mramato commented on #2989
@pjcozzi should we make an announcement on the mailing list ahead of time?  No need to be too negative on Safari, but just mention that it will break existing Cesium apps and people shouldn't upgrade iOS or Safari if they need Cesium until we release a workaround (or Apple releases a fix).

[2015-09-11 15:34] lilleyse commented on #2989
Yes I can start working on this today.

[2015-09-11 15:49] #2930 closed

[2015-09-11 17:38] #2039 closed

[2015-09-11 18:34] lilleyse commented on #2989
There are many areas that already hard code constants, like https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Renderer/BufferUsage.js#L11-L14

Should I modify all of these to use the new constants class as well?

[2015-09-12 01:01] pjcozzi opened #3025 "WebGL warning in 2D on some setups"
See the [forum post](https://groups.google.com/forum/#!topic/cesium-dev/Pc5fHGblIsQ).

This is most likely due to 3D positions being stored in attribute 0 and 2D in attribute 1.  In practice, I don't know if this actually impacts performance on any drivers.

[2015-09-12 01:06] pjcozzi commented on #871
@danwild no update, we are focused on 3D Tiles right now.  In the meantime, perhaps @gberaudo can point you to the code in ol3-cesium.

[2015-09-12 01:26] pjcozzi commented on #3008
Thanks @rutsky.  This is fixed now.

[2015-09-12 01:26] #3008 closed

[2015-09-12 01:54] pjcozzi commented on #2989
Yes, those are very old...before I even knew of `WebGLRenderingContext`.

Yes, go ahead.

[2015-09-12 20:06] pjcozzi opened #3026 "glTF fragment shaders have highp"
So the shaders do not compile on systems without `highp` (same problem as #817).

![image](https://cloud.githubusercontent.com/assets/782098/9833540/2094f0f2-5968-11e5-9e0d-37ac6e8cae16.png)

We could generate them with `mediump` or have Cesium fallback to `mediump`.

[2015-09-13 03:51] kring commented on #2985
I followed the instructions above, but I can't reproduce this in this instance of Cesium Viewer:
http://cesiumjs.org/Cesium/Apps/CesiumViewer/index.html

Is it still broken for you?

[2015-09-13 04:40] kring commented on #2814
It should be possible to implement all of them in terms of `UrlTemplateImageryProvider`.

These are already done:
* `WebMapServiceImageryProvider`
* `MapboxImageryProvider`

These should be really easy:
* `TileMapServiceImageryProvider`
* `OpenStreetMapImageryProvider`

These may be more complicated:
* `GoogleEarthImageryProvider`
* `ArcGisMapServerImageryProvider`
* `WebMapTileServiceImageryProvi

[2015-09-13 04:43] kring commented on #3013
FWIW Bing Maps does allow attribution on a separate page on mobile devices, at least:
http://www.microsoft.com/maps/mob-brand-guid.aspx
(see the Data Provider Attribution section)

If STK World Terrain allowed the same, that would solve a lot of the problem.

[2015-09-13 15:13] pjcozzi commented on #2814
Thanks @kring.

@tiffanylu @adamdavidcole this could be a nice project after the KML examples depending on your interests.  It would only be a few weeks, not the rest of the semester.

[2015-09-13 16:27] pjcozzi opened #3027 "CZML Sandcastle examples"
@tiffanylu @adamdavidcole let's use this issue to plan and track the CZML examples you will add to Sandcastle.

To get you started, I created a new [czml-examples branch](https://github.com/AnalyticalGraphicsInc/cesium/compare/master...tiffanylu:czml-examples) in your fork.  It has one new Sandcastle example: [Apps/Sandcastle/gallery/CZML Billboard and Label.html](http://localhost:8080/Apps/Sandca

[2015-09-14 05:27] danwild commented on #871
Thanks @pjcozzi, might just have a bit more of a poke around ol3-cesium

[2015-09-14 10:48] adamish commented on #3012
Yes this is a duplicate of 2715, the event is triggered, it just happens 10+ seconds later... Sorry I was being impatient...

[2015-09-14 11:18] pjcozzi commented on #3012
Thanks @adamish

[2015-09-14 11:18] #3012 closed

[2015-09-14 11:41] #2989 closed

[2015-09-14 13:11] rutsky opened #3028 "PolygonGeometry documentation links on the Sandcastle demo with Entities, not Primitives"
Here:
https://github.com/AnalyticalGraphicsInc/cesium/blob/1.13/Source/Core/PolygonGeometry.js#L380

Looks like demo with Primitives API was rewritten using Entites API.

Is there is no Primitives API demo anymore?

[2015-09-14 17:15] emackey commented on #3020
Note the development demos are not hosted on cesiumjs.org, so just changing the path of the link won't work.  You have to point to localhost, or remove the link.

[2015-09-14 17:41] hpinkos commented on #3020
@emackey The tab isn't there to click to get to the link, but the demos are still hosted and still work.  Maybe that's a mistake, but go to http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=development/Box%20Outline.html&label=undefined to see

[2015-09-14 17:56] emackey commented on #3020
Is there good reasoning to display this tab locally and hide it from the main website?  I know we prefer folks to use Entity API where possible, but the graphics primitives are still public API.

[2015-09-14 17:57] mramato commented on #3020
We should just get rid of the links.  Most of those examples will be changing and going away.  They do not ship with the zip file.  The only reason the website direct link works is because we host the entire source tree.

[2015-09-14 22:00] tiffanylu commented on #3027
@pjcozzi I just registered a new domain name, which is apparently still propagating... should be up within a day or two

[2015-09-15 02:38] adamdavidcole commented on #3027
Our first step will be to port the geometry examples found in sandcastle to CZML examples. Once we have a better grasp at the development process we will brainstorm more CZML examples including examples with animation and public data usage.

[2015-09-15 12:17] pjcozzi commented on #3028
The Primitive API examples are here: https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Apps/Sandcastle/gallery/development

Also see: #3020

[2015-09-15 12:54] rutsky commented on #3028
Thanks, @pjcozzi!
I opened PR with fix for this issue according to solution proposed in #3020.

[2015-09-15 13:07] rutsky commented on #1683
Regarding Coding Conventions:

1. Coding conventions for GLSL shaders are missing. Currently used style is not consistent with used JS style (e.g. curly brace in JS always on the same line as preceding expression, but in GLSL opening curly brace after `main()` usually on separate line, and after `if ()` from time to time on same line, or on next line).

2. Coding convention says nothing about trai

[2015-09-15 14:22] rutsky opened #3031 "Invalid example in PolygonOutlineGeometry documentation"
[Here](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.13/Source/Core/PolygonOutlineGeometry.js#L280):

[code]

`extrudedHeight` should go to root options, not `polygonHierarchy`.

[2015-09-15 14:38] pjcozzi commented on #1865
Another forum thread: https://groups.google.com/forum/#!topic/cesium-dev/X32mc77CTic

[2015-09-15 15:04] pjcozzi commented on #3004
After the fixes in #3011, Chrome 45 is down to two test failures:
[code]

[2015-09-15 21:59] pjcozzi opened #3034 "Support glTF 1.0"
glTF 1.0 and the `KHR_binary_glTF` extension require a few minor changes from 0.8 and `CESIUM_binary_glTF`, respectively.  Cesium will also be backwards compatible for a bit to let all tools catch up.

@tfili is working this.

* [ ] 0.8 to 1.0 notes, https://github.com/KhronosGroup/glTF/issues/406
* [ ] Quantized attributes extension? https://github.com/KhronosGroup/glTF/pull/414

CC #927

[2015-09-16 02:22] mramato opened #3035 "Bad visualization with small geometry"
This might be multiple bugs, or it could be one issue manifesting in multiple places.

The below code snippet as reported [on the forum](https://groups.google.com/d/msg/cesium-dev/hoObR5ChpHQ/K3rrDe8lAQAJ) is not giving the intended visualization.  I actually think this code is bad to begin with because the width is way to big for the proximity of the data, something like 0.1 is more realistic, bu

[2015-09-16 13:42] mramato opened #3036 "Polyline quality regression in 1.10"
Compare the 1.9 CZML example with the 1.13 one.

[1.9 CZML Example](http://cesiumjs.org/releases/1.9/Apps/Sandcastle/index.html?src=CZML.html&label=Showcases)
[1.13 CZML Example](http://cesiumjs.org/releases/1.13/Apps/Sandcastle/index.html?src=CZML.html&label=Showcases)

In 1.9, the lines are nice and smooth
![image](https://cloud.githubusercontent.com/assets/1495196/9906163/e7637b7c-5c56-11e5-844

[2015-09-16 13:43] mramato commented on #2130
I think #3011 fixes the border issue, but I need to test it out on more machines.

[2015-09-16 14:34] bartvde commented on #2981
Running into this issue as well with browserify, would be great if this could be handled properly out of the box.

[2015-09-16 19:00] pjcozzi commented on #2997
Thanks again for the info, @bmckilligan and @denverpierce.

The fix is in master and will ship in Cesium 1.14 on October 1.

[2015-09-16 19:00] #2997 closed

[2015-09-16 20:50] pjcozzi commented on #2415
@alexander-entin thanks for the report.  This is fixed in master, and will be in Cesium 1.14 on October 1.

[2015-09-16 20:50] #2415 closed

[2015-09-16 21:29] pjcozzi commented on #2271
@bagnell can you please reply to the Cesium forum threads in this issue, and let them know that this fix will be in Cesium 1.14 on October 1?

[2015-09-16 21:29] #2271 closed

[2015-09-17 01:11] denverpierce commented on #3036
This isn't really noticeable on Chrome 46 Beta, win7, and a nvidia quadro card.

1.9
![image](https://cloud.githubusercontent.com/assets/5432027/9922393/8bfd2146-5cad-11e5-81ed-931c1e110b9a.png)

1.13
![image](https://cloud.githubusercontent.com/assets/5432027/9922481/b235dd52-5cae-11e5-8ec1-8f925b04b873.png)

I do notice it on a another desktop though (Win10, Chrome 45, Radeon R9 270x).

[2015-09-17 01:20] mramato commented on #3036
I see it in both 45 and 47 on my Win 10 laptop (5200M Quadro) and my Win 7 desktop (650ti) both with the latest drivers.  I could depend on the capabilities of the card and which render passes we are taking.

[2015-09-17 13:34] mramato commented on #2943
Fixed in #2996

[2015-09-17 13:34] #2943 closed

[2015-09-17 13:41] mramato commented on #2474
I can no longer reproduce this, perhaps it was fixed by the other recent render state work.  Can someone confirm and close?

[2015-09-17 14:53] slozier commented on #3035
`PolylineGeometry.createGeometry` calls `PolylinePipeline.removeDuplicates` to decide which points are duplicates by calling `Cartesian3.equalsEpsilon` on consecutive points with an epsilon of `1e-7` which return true if each coordinates are equal using `CesiumMath.equalsEpsilon` and the same epsilon.

In my opinion `Cartesian3.equalsEpsilon` isn't a very good test for deciding if points are dupli

[2015-09-17 17:21] hpinkos opened #3037 "Poor scroll wheel behavior when close to ground"
Reported in the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/wJOMrgxK5tk

In this example, scrolling to zoom in is uncontrollable.  It moves the camera way past where the view is set.

[code]

[2015-09-17 20:23] pjcozzi commented on #2474
I agree, it appears fixed.

[2015-09-17 20:23] #2474 closed

[2015-09-17 20:26] pjcozzi commented on #3028
Closing as duplicate with #3020.

[2015-09-17 20:26] #3028 closed

[2015-09-17 21:08] pjcozzi commented on #1259
@lilleyse can you also update the new tests in PrimitiveSpec.js in the `3d-tiles` branch?
[code]

[2015-09-18 00:27] denverpierce commented on #3035
Possibly related to this?

https://groups.google.com/forum/#!searchin/cesium-dev/Disabling$20vertex$20compression$20on$20a$20datasource/cesium-dev/pwl1UbCynwo/vq-3sA9oAgAJ

There's some more sample data in the forum post.

[2015-09-18 11:07] rutsky commented on #3020
@mramato, will demos of using Primitive API will be removed?

Removing working examples of Primitive API will make using low-level interfaces of Cesium one step harder.

I understand that for most end users Entity API should be enough and more desirable than low-level Primitive API, but some users still need to be able to do low-level stuff, like writing custom shaders.

Recently I needed to [show

[2015-09-18 12:23] pjcozzi commented on #3020
No, we use them for testing during Cesium development.  They are not visible in the released Sandcastle  because we want to encourage use of the Entity API.

If the low-level API is public, it should already be documented, but there may be some gaps as you noted with the GLSL.

If it is not public, like today's Renderer, it will not be documented since it may change from release to release.  For e

[2015-09-18 13:20] rutsky commented on #3020
Should GLSL `czm_*` uniforms/functions be documented or they are considered as part of Cesium internals?

If currently public API should be enough to write custom vertex/fragment shader it would be nice to have working example for it (at least simple, like how to change color/size through uniform controlled from JavaScript).

[2015-09-20 21:34] tiffanylu commented on #3027
* [x] Polygon
* [x] Polyline
* [x] Spheres and Ellipsoids
* [x] Rectangle
* [o] Polygon with shape change and movement over time (in progress)
* [] Point (either plotting satellites or something like cities)
* [] Model
* [] Path using GPS flight data
* [] Satellite path visualization (trailTime)

[2015-09-20 21:52] pjcozzi commented on #3027
Here's a few more ideas to consider for your list:
* Reference properties: https://cesiumjs.org/2014/07/01/Cesium-version-b30-released/
* Different coordinate systems, e.g., `cartographicDegrees`, `cartesian`
* Different time dynamic approaches, e.g., intervals, sampled
* Wall
* Materials
* Minimal vs. complete examples vs. both

Also, for this set of examples, don't worry about the properties sta

[2015-09-22 00:46] adamdavidcole commented on #3027
Added a couple more examples:
Ellipses
Points (still looking for a good source of public data to expand this example)

[2015-09-22 17:13] lilleyse opened #3042 "Remove divisor state tracking after ANGLE fix"
Remove attribute divisor state tracking once the divisor become part of VAO state in ANGLE.

#3023
KhronosGroup/WebGL#1228.

[2015-09-22 19:26] temesgen71 commented on #2885
Looks like scene.context.createRenderState is not longer available in 1.13 version. Is there any other work around I can use for this issue?

Thanks,
Tim

[2015-09-22 19:39] emackey commented on #2885
The code has [changed a bit](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.13/Source/Scene/PointPrimitiveCollection.js#L825-L829) for this.  Try this:

[code]

[2015-09-22 20:09] hpinkos opened #3044 "Triangulation error for polygons with holes"
I couldn't find an open issue for this, but it was reported in the forum by a user using GeoJSON files:

![image](https://cloud.githubusercontent.com/assets/3451886/10030148/2fabb95c-6144-11e5-812d-637ecc4acee1.png)

https://groups.google.com/forum/?hl=en#!topic/cesium-dev/HfwbCQPi7CI

He says the errors are very common with these types of polygons.

[2015-09-22 20:19] temesgen71 commented on #2885
That worked. Thanks!

[2015-09-24 16:52] hpinkos opened #3045 "Hole in animated ellipsoid entity"
An ellipsoid using a `SampledProperty` doesn't render correctly at the north pole.
Reported in the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/4ylMB9ou7YA

This example uses a `SampledProperty` for the radius, but the issue also occurs when using a `SampledPositionProperty` for the position.
[code]

[2015-09-24 17:58] mramato commented on #3045
This is a weird bug but I tracked it down `primitive.modelMatrix`.  Basically, if you set `GeometryInstance.modelMatrix` and leave `Primitive.modelMatrix` alone, it shows up correctly.  But if you don't set `GeometryInstance.modelMatrix` and instead set `Primitive.modelMatrix`, the problem occurs.  The EllipsoidVisualizer does it this way to provide a fast path specifically for ellipsoid animation

[2015-09-26 19:12] pjcozzi commented on #2594
_Could_ be related: [Practical Shading of Height Fields and Meshes using Spherical Harmonic Exponentiation](http://www.iro.umontreal.ca/~derek/publication.html?id=51)

[2015-09-29 14:08] emackey commented on #3018
I found a workaround for this.  It completely solves the lag on my Win7/Chrome machine, but I'm not sure if there are ramifications for memory use or other side-effects.  Take a look in [Context.js at `PickId.prototype.destroy`](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.13/Source/Renderer/Context.js#L1030).  Try replacing this line:

[code]

with this line:

[code]

For me, this runs

[2015-09-29 14:22] shunter commented on #3018
removeAll iterates through each primitive and removes it, which removes the pick IDs from the cache, one at a time.

Deleting the pick ID changes the shape of the _pickObjects cache object, which I would expect to be a slow operation, but I expected this object to already be in "dictionary" mode, and expected dictionary-like performance.

The new ES6 Map object may work better, or it might still b

[2015-09-29 14:27] emackey commented on #3018
Do we need to change the shape of the _pickObjects cache object 100k times?  Is there a downside to having a 100k extra "undefined" keys hanging around in there, or can there be some kind of post-process to clean them up en mass?

[2015-09-29 14:29] emackey commented on #3018
Maybe set 100k keys to `undefined` and then call a helper function to clone the remaining non-undefined keys into a fresh cache object?

[2015-09-29 14:41] shunter commented on #3018
Currently there is no way to distinguish removing one primitive from 100k primitives.  Each primitive destroys the pick IDs that it owns, one by one.  If you set the value to undefined in the cache, then the data structure will grow unbounded as new pick IDs are allocated.  You could track the free slots and periodically compact, of course, but then you're slowly approaching writing your own hasht

[2015-09-29 14:41] mramato commented on #3018
We definitely need to delete them because having an object with that many properties (even undefined) has an adverse affect on performance and memory, but I agree that doing it one at a time for a large number of objects is probably a bad idea.  As you mentioned in your second post, some sort of mark and compact/copying would probably work well.

[2015-09-29 14:42] mramato commented on #3018
This is the heart of one of the main memory/performance bottlenecks in Cesium.  If we could get rid of this kind of tracking and use ES6 Maps, we would be in much better shape.  The problem there is that it's a breaking change to do correctly so we may have to split it up across a few releases.

[2015-09-29 15:13] emackey commented on #3018
So, at Scott's suggestion, I tried temporarily replacing Context.js internal use of `_pickObjects = {}` with `= new Map()` and changed all references to set/get/delete function calls.  Findings:

* Performance is way better than a typical JS object's `delete`, taking about 0.25 seconds to call Map.delete 100k times, compared to ~4s to do the same with deleting from an object.

* Performance is sti

[2015-09-29 15:41] pjcozzi commented on #3027
I just realized that we also have this CZML example that _may_ be useful for you: http://cesiumjs.org/Cesium/Build/Apps/CesiumViewer/index.html?source=/Gallery/BAMS_C4ISR.czml&lookAt=Aircraft/GlobalHawk_1a

[2015-09-29 15:41] pjcozzi commented on #3027
@adamdavidcole can you update your task list: https://github.com/AnalyticalGraphicsInc/cesium/issues/3027#issuecomment-142148226

[2015-09-29 18:02] pjcozzi commented on #1941
Do we want to close this given the upcoming CZML examples in #3027?

[2015-09-29 18:02] pjcozzi commented on #2833
Just a reminder that this is labeled for 1.14 on Thursday.

[2015-09-29 18:32] #287 closed

[2015-09-29 22:44] tiffanylu commented on #2814
@pjcozzi when you say KML examples, did you mean CZML or did you want us to do additional work with KML support?

[2015-09-29 23:09] pjcozzi commented on #2814
Just CZML.  That is a typo.

[2015-09-30 18:58] mmacaula commented on #2981
@mramato, as far as strategy getting this done, would you approve with an approach of a PR that would remove the package.json files from the source directories first, followed by work on updating the build?   I'm still not 100% what purpose those package.json files serve...

[2015-10-01 13:04] pjcozzi commented on #2833
The release is today.  What is the plan?

[2015-10-01 13:45] mramato commented on #2833
It's a 1 line change in the web.config, I just assumed it would be part of the release PR into the website, I'll open a separate PR if you want.

[2015-10-01 13:45] #2833 closed

[2015-10-01 13:46] pjcozzi commented on #2833
One PR is fine.  Up to you.

[2015-10-05 17:27] cffk opened #3057 "EllipsoidGeodesic bugs"
EllipsoidGeodesic has some problems:

* a prolate ellipsoid with axes (100, 100, 101) is treated as an oblate
  one with axes (101, 101, 100).

* computing the distance between nearly antipodal points triggers an
  error 'geodesic position is not unique' (which in most cases it not
  even true).

I will be submitting a pull request where EllipsoidGeodesic uses the
geographiclib package to do geode

[2015-10-06 14:10] tiffanylu commented on #3027
Replied to line note on CZML dynamic polygon - intervals, availability.html
Aside from the flicker issue (which I'm unsure how to resolve), everything else on my end is ready!

[2015-10-06 14:14] mmacaula commented on #2981
So I was thinking a [tutorial](http://cesiumjs.org/tutorials.html) might be a good next step for those wanting to use cesium in webpack or browserify right away.  Thoughts?  I don't see a defined process for writing one.  How is it done exactly?

[2015-10-06 14:16] pjcozzi commented on #2981
A tutorial would be awesome.  Email me, pcozzi@agi.com, and I will connect you with our editor.

[2015-10-07 08:06] tiffanylu commented on #3027
@pjcozzi I've merged in master, but the merge conflict warning is still there on the pull request. Is there something else I should also be doing?
And when you get a chance, let me know if you can repro the issue on CZML Polygon - Intervals, Availability.html. Thanks!

[2015-10-07 12:17] pjcozzi commented on #3027
Perhaps you merged in master from your own repo?  We want to merge master from the main Cesium repo.  I did it in 3468b5dc27174d6b4d0bb245b054a308227ea547.

See https://github.com/AnalyticalGraphicsInc/cesium/pull/3050#discussion_r41382073

[2015-10-07 12:25] pjcozzi commented on #3027
Here's a TODO list for closing this issue:

* [ ] Address remaining feedback in #3050 and merge it.
* [ ] Create a new pull request with a new CZML example showing a 3D model using CZML.  A few 3D models are [here](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Apps/SampleData/models).  @mramato do you have an example CZML file referencing a 3D model?
* [ ] Create a pull request for a

[2015-10-07 19:18] tiffanylu commented on #3027
@pjcozzi oops my bad, thank you for that!
As a side note, it looks like none of the Bing Maps imagery (Aerial, Aerial w/ Labels, Roads) is working for me as of this morning. Ditto for my friend's computer as well. Since that's the default imagery provider, this is what navigating to Sandcastle looks like for me:
![image](https://cloud.githubusercontent.com/assets/6036502/10348295/3be017cc-6d06-11e

[2015-10-07 19:46] hpinkos commented on #3027
The bing maps imagery is working for me right now, but I have seen it go in and out as well.  Someone in the forum reported it too.

[2015-10-07 20:11] nmschulte opened #3060 "Add a 'ConstantColorMaterialProperty' that exposes `ConstantProperty`'s `setValue` setter"
I was going to title this issue _Support `setValue` method for `ColorMaterialProperty`_, but then I realized that `ColorMaterialProperty` isn't meant to be constant, though its most common (exemplified) use is.  (On that note, the `ColorMaterialProperty` currently depends on the `ConstantProperty` module but never uses it.)

The `ColorMaterialProperty` doesn't specialize(optimize) for "constant co

[2015-10-07 20:40] pjcozzi commented on #3027
@tiffanylu don't worry about Bing - it is not related to our work here.

[2015-10-07 22:33] nmschulte opened #3061 "Changing a polygon-Entity's material and show members crashes StaticGeometryColorBatch under certain conditions"
(Found in v1.12, exists in v1.14.)

While working on a project that integrates Cesium and Angular, I ran across this interesting issue that was causing Cesium to crash.  I've created a use-case that reproduces the error, though as the issue appears to be a race condition internally to Cesium I am uncertain exactly the conditions.

Regardless, the error is reproducible 100% in my private use-case,

[2015-10-07 22:53] nmschulte commented on #3061
More information: when `StaticGeometryColorBatch` crashes, the `_hashes` property of the `geometry` member has `undefined` for the entity that is causing problems (and the `_array`'s length is one less than it should be).

This is a textual copy of the error:
[code]

[2015-10-07 23:55] nmschulte commented on #3060
To this end, it seems a bit strange that `ConstantProperty` has "set semantics," but `Property` does not.  Shouldn't this be defined by `Property` and overridden to e.g. throw a `DeveloperException` in `ConstantProperty`?

Perhaps my question indicates a misunderstanding/confusion on my part: `ConstantProperty` is for a property that is constant with respect to the simulation time; does this mean

[2015-10-07 23:59] pjcozzi commented on #1138
Closing given that most of us are moving to WebStorm.  Let us know if anyone checks this out.

[2015-10-07 23:59] #1138 closed

[2015-10-08 00:01] pjcozzi commented on #1649
Closing as duplicate with #3027

[2015-10-08 00:01] #1649 closed

[2015-10-08 00:03] pjcozzi commented on #1941
Closing as duplicate with #3027.  Once the examples ship with Cesium 1.15, we will add a link to them from the CZML Guide.

[2015-10-08 00:03] #1941 closed

[2015-10-08 00:37] pjcozzi commented on #1506
@bagnell is this still an issue with the ground primitive?  If not, close this.

[2015-10-08 00:54] pjcozzi commented on #3002
Closing as duplicate with #3034.

[2015-10-08 00:54] #3002 closed

[2015-10-08 00:58] pjcozzi commented on #2343
@mramato is this worth @ggetz looking at during the code sprint?

[2015-10-08 00:59] pjcozzi commented on #652
@mramato is there any low-ish hanging fruit here that @ggetz could look at for the code sprint?

[2015-10-08 01:03] mramato commented on #2343
Sure, should be a good first issue.

[2015-10-08 18:29] #1506 closed

[2015-10-08 18:45] prisanto commented on #2584
Is there any improvements in this matter? If no one is working on it I would like to give it a try. Can you give some tips about where to start it?

[2015-10-08 18:55] pjcozzi commented on #2584
@prisanto there's no update here yet.  A good place to start is the paper, "Shader-Based Antialiased, Dashed, Stroked Polylines", linked above.  Let me know what you think about this approach.

[2015-10-09 13:12] pjcozzi commented on #3027
@tiffanylu @adamdavidcole the only thing left before we can close this is the 3D model example in the task list [above]().  We are working on getting you a starter example.

In the meantime, please start on #2814.

[2015-10-09 13:46] emackey commented on #2343
I suspect a browser bug here.  Note my reduced example above is just DOM elements & style in front of the Hello World globe.  There is no JS or KO interacting with the offending checkbox elements.  Yet, the canvas and the CSS transforms are still required.  Would be good to reduce-away the Cesium globe and leave just a canvas element (with or without a running WebGL context?), and see if a Chromiu

[2015-10-09 13:49] emackey commented on #2343
Er, actually I'm not able to reproduce this at all in Chrome 45.  Maybe it's fixed.

[2015-10-09 13:56] mramato opened #3062 "Add PolylineVolume to CZML"
We're missing support for both polyline volumes via CZML

[2015-10-09 14:14] mramato opened #3063 "CZML Example improvements"
Since I missed the boat on #3050, here's some feedback I have.

__General__

- [ ] Most `var viewer` and `viewer.dataSources.add` lines are unecessarily indented and should just start at column 1.

- [ ] I'm guessing 99% of use cases want cartographicDegrees, so we should use that in all examples.  I love the `CZML Position Definitions` example, and I think that's the only place we need to have di

[2015-10-09 14:24] mramato commented on #3027
Whoops, just noticed this issue.  See my comments in #3063

[2015-10-09 15:28] pjcozzi commented on #3027
@tiffanylu @adamdavidcole in addition to the 3D model example, let's address the comments in #3063 in one or more pull requests.  If you have questions on any of them, please comment in that issue.  Most of them are trivial.

We can push back starting on #3063 a few days.

[2015-10-09 22:17] mramato commented on #1424
So I was going to look into doing this at our code sprint next week, but I'm concerned it might bite us in the future when we move to ES6 module syntax (because ES6 doesn't seem to have a way to import text/data like other module systems can).  Perhaps it's possible but I just don't know about it.

@shunter or @kring any thoughts?

[2015-10-09 22:23] mramato commented on #1872
FYI, this is fixed in Edge.  I think IE 11 is just on life support at this point, but I don't know for sure.  At some point we'll have to decide if when to just close IE 11 issues.

[2015-10-09 22:42] pjcozzi commented on #1872
I am OK with closing this.

[2015-10-09 22:43] mramato commented on #2590
I played with this some a while ago and our doc didn't actually have any errors that link checkers would ever be able to fix.  Since Sandcastle uses query parameters, bad Sandcastle links would never be found (which was the reason for this issue to begin with.).  I'm just going to close this out since it's probably not something we'll ever do (or really need).

[2015-10-09 22:43] #2590 closed

[2015-10-09 22:45] mramato commented on #2636
Dupe of #3062

[2015-10-09 22:45] #2636 closed

[2015-10-12 15:54] nmschulte opened #3064 "Circle/Ellipse Entity/Primitive inconsistency"
The crux: is a Circle an Ellipse?  Can an Ellipse have equal length semi-major and semi-minor axes?

The primitive API has ellipse and circle concepts, though it seems like the circle concept might be defunct.  It looks like the ellipse concept supports drawing circles (and the circle concept just delegates to it).  The entity API's ellipse concept uses the ellipse concept from the primitive API,

[2015-10-12 18:07] mramato opened #3065 "Remove remnants of Chrome Frame"
Chrome Frame has been dead for quite a while, but our examples still have `,chrome=1` in their meta tags.  We should do a simple find and replace to get rid of them all.

[2015-10-12 18:09] mramato opened #3066 "iOS crashes in portrait without a viewport tag."
As reported in [this forum thread](https://groups.google.com/d/msg/cesium-dev/hr0OOe5lFxs/Wmy6-fmhBwAJ), not having a viewport meta tag seems to cause Cesium to crash on iOS devices.  At first glance it appears that we are attempting to render with a canvas width of 0 (which has bit us in the past) but I need to look further into it to figure out why.

[2015-10-12 18:30] mramato commented on #1518
Also reported [on the forum](https://groups.google.com/d/msg/cesium-dev/9FRjTyt1JwE/DGDWyIuyCQAJ)

Firefox crashes with the dreaded invalid array length.  Chrome doesn't seem to crash, but the tab may hang for 10-20 seconds before finishing the morph.

[2015-10-12 18:31] mramato commented on #1518
This may be a good code sprint bug since the code change it probably small but hard to track down.

[2015-10-13 00:47] mramato opened #3067 "KML file runs out of memory during load"
The below file causes Chrome to run out of memory and fails to load, it looks like it may be caused by the batching code or polygon triangulation, but more debugging it needed.  There are a huge number of points in some of the polygons.

[abc.kml.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/12113/abc.kml.txt)

Originally reported [on the forum](https://groups.google.com/d/msg/cesium-

[2015-10-13 02:11] kring commented on #1424
Well, you're not going to send actual ES6 modules to the browser (at least not for awhile), so you're going to have a build process of some sort.  Presumably whatever build process you go with can deal with importing text, right?  Worst case you can hack something up to turn HTML files into JS files containing the HTML as a string, and then import those string modules in the normal way.  You'll ne

[2015-10-13 02:22] mramato commented on #1424
Me and @shunter were talking about this offline today and the idea was floated to have the dev server convert glsl/html to js ES6 modules on the fly. We could then switch over to SystemJS, which I believe can load ES6 modules.  This would give us "build free" development.

For release, we would create something like a `Build\Modules` directory with transpiled UMD modules that can be used with almo

[2015-10-13 02:40] kring commented on #1424
Sort of.  The dev server would be "building" the GLSL and HTML the fly.  Also, SystemJS, if I understand how it works, is going to do horrific things like parse your JavaScript at load time in order to figure out what ES6 modules you're trying to use so it can go load them.  In some sense, that just means you're running your build process in the browser.  Maybe it'll be super fast and that'll be f

[2015-10-13 06:40] RameshThangamuthu commented on #873
Hi,

Anybody working on ScreenOverlay feature? Any ticket in place or plan for it?

Regards,
Ramesh

[2015-10-13 14:11] pjcozzi commented on #3034
Just a heads up that I think we want Cesium's `Quaternion` default constructor to default to (0, 0, 0, 1), not (0, 0, 0, 0).

[2015-10-13 15:38] mramato opened #3068 "Geometry shows up all white in Firefox"
Load the attached kmz file into Cesium.  In Chrome everything works as expected, but in Firefox, the geometry is completely white.  I verified that it is not an ANGLE issue and it happens in older versions of Cesium as well so my assumption is that we are encountering a Firefox bug, but either way we should figure out the problem and workaround it (and report a bug to Mozilla if necessary).

[Vora

[2015-10-13 15:42] mramato commented on #3068
Forgot to mention this was found and reported on the forum: [thread](https://groups.google.com/d/msg/cesium-dev/bt68_WXcQIs/IvOKSuddCgAJ)

[2015-10-13 16:11] mramato commented on #873
No one is actively working on it, but it's definitely on the roadmap.  We are hoping to do another round of KML improvements early next year, but I don't have any kind of ETA for you.

[2015-10-13 18:45] tiffanylu commented on #3063
**Completed Task List**
*[x] CZML Billboard and Label
*[x] CZML Circles and Ellipses
*[x] CZML Model
*[x] CZML Path
*[ ] CZML Point
*[ ] CZML Point - Time Dynamic
*[x] CZML Polygon
*[x] CZML Polygon - Interpolating References
*[x] CZML Polygon - Intervals, Availability
*[x] CZML Polyline
*[ ] CZML Position Definitions
*[x] CZML Rectangle
*[x] CZML Spheres and Ellipsoids
*[ ] CZML Wall
*[ ] CZML Co

[2015-10-13 20:50] #3031 closed

[2015-10-13 20:54] nmschulte commented on #3025
I can reproduce this warning on my machine as well, and it is only in 2D mode:

[code]

Please let me know if there is anything I can do to support this, even if that means confirming that there is no real performance issue and fixing whatever in the stack is broken.

I am using very recent versions of software (and hardware).  Mainly, the Intel Mesa drivers are very recent (probably more so than

[2015-10-13 22:05] nmschulte commented on #3064
The same concern exists in `EllipseOutlineGeometry`.

As well, there is an issue with that code too:
https://github.com/AnalyticalGraphicsInc/cesium/blob/1.14/Source/Core/EllipseOutlineGeometry.js#L190

[code]

[2015-10-13 23:01] pjcozzi commented on #3027
Closing this since we are tracking CZML updates in #3063.

[2015-10-13 23:01] #3027 closed

[2015-10-13 23:16] pjcozzi commented on #3063
Work is being done in the [czml-examples-tweaks](https://github.com/AnalyticalGraphicsInc/cesium/compare/master...tiffanylu:czml-examples-tweaks) branch.

We discussed offline:
* Reference property example showing a billboard and label at the same position (and with a pixel offset for the label).
* Will open pull request ASAP
* Will start on #3063 once pull request is open.

[2015-10-14 00:06] adamdavidcole commented on #3063
@mramato @pjcozzi  I believe there is a bug in the processing of the minimumHeights and maximumHeights array in the CZML update function. The error comes from line 463 in https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/DataSources/CzmlDataSource.js#L443 where I get a TypeError: Cannot read property 'length' of undefined since the 'unwrappedInterval' variable is undefined going i

[2015-10-14 00:08] #3065 closed

[2015-10-14 00:11] mramato commented on #3063
Thanks @adamdavidcole, you might be right about there being a bug here.  Do you have the CZML that triggered it handy?  I'll debug it and take a look.

[2015-10-14 00:17] mramato commented on #2942
I can no longer reproduce this.  Maybe we accidentally fixed it.  Can someone confirm this and close if it's fixed.  Thanks.

[2015-10-14 00:35] pjcozzi commented on #2942
I can still reproduce this in Firefox 41 on Mac in master.

[2015-10-14 00:38] mramato commented on #2942
Okay, maybe it's not all machines, I'll have to check my desktop (which is where I originally encountered the problem).  Thanks.

[2015-10-14 01:02] #2869 closed

[2015-10-14 01:26] pjcozzi commented on #3025
@nmschulte how many fps do you get (see the top right) if you browse to http://cesiumjs.org/Cesium/Build/Apps/CesiumViewer/index.html?stats=true

[2015-10-14 01:41] nmschulte commented on #3025
60 FPS (3D and 2D).  I can turn off VSYNC if you like.

[2015-10-14 01:46] pjcozzi commented on #3025
Thanks, no need to turn off VSYNC.  I would not worry about the warning on your setup unless you run into performance problems that you don't experience elsewhere.

[2015-10-14 01:49] nmschulte commented on #3025
It's going to be pretty easy to hit 60 FPS on that demo w/ this hardware doing software rendering.  I doubt the bit of indirection that this is indicating is going to impact the framerate at such low load.  Do you think that test is definitive?  I was thinking that by disabling VSync we could apply some load, but the event-loop nature of JS (that is: "WebGL") might mean it's not applicable.

[2015-10-14 01:52] pjcozzi commented on #3025
You could turn on terrain and then zoom into the Grand Canyon.

[2015-10-14 02:01] nmschulte commented on #3025
It didn't seem to have any effect (on FPS, but also visually (screenshots identical minus attribute text)) but in 3D, and only then while the data loads.  Does Cesium actually realize the terrain data in 2D?  I suppose it would be neat for applying time-of-day effects (read: realizing the light from the sun/moon: shadow casting, etc.).

[2015-10-14 02:17] nmschulte commented on #3025
I suspect you're right that Chromium is being overly concerned w/ this message, and in my case (or possibly most w/ recent desktop hardware/software cases) it's superfluous.  But, for the sake of the bug report, how hard is it to change the shaders to always use v-a 0, and is there a reason they're currently not?  Doing so would increase performance on those older implementations, and it probably

[2015-10-14 07:49] nmschulte-aviture opened #3078 "EllipseGeometryLibrary's computeEllipsePositions misses critical points"
Because the logic for computing the positions about the ellipse works by computing the "north" half of the ellipse (by computing the "west" half and then its reflection) and then its reflection, with low granularities, say a granularity of `PI_OVER_TWO` (to retrieve the four critical points, 0, pi/2, pi, 3pi/4), all of the resolution is focused around the west/east points, and none about the north

[2015-10-14 11:42] jbo023 commented on #2999
If someone has the same problem, we started with a rudimentary unloading strategy, which basically just unloads b3dm tiles if they are not visible anymore. The Code is not great but makes it possible to visualize 500k textured buildings without filling up memory.

You can find the code in our Cesium Fork.
https://github.com/virtualcitySYSTEMS/cesium/tree/3d-tiles

[2015-10-14 13:30] mramato opened #3082 "KML geometry incorrect compared to Google Earth"
As reported [on the forum](https://groups.google.com/d/msg/cesium-dev/bt68_WXcQIs/KhFCDBCiCgAJ), load the attached KMZ file into Cesium and you'll notice small gaps between the walls and roof.  These gaps do not exist if you load the same file into Google Earth.

[test_geometry.kmz.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/13233/test_geometry.kmz.txt)

[2015-10-14 14:21] hpinkos commented on #1303
@pjcozzi I couldn't reproduce this with his example.  The blue polyline always stays on top as you zoom.  Here's updated code from his forum post:

[code]

[2015-10-14 14:26] hpinkos commented on #1297
[code]

[2015-10-14 14:38] #3063 closed

[2015-10-14 14:46] hpinkos commented on #1596
Instead of the globe disappearing, a developer error is thrown if you try to fly during a morph:

`Uncaught DeveloperError: lookAtTransform is not supported while morphing.`

Can we close this?

[2015-10-14 14:48] pjcozzi commented on #1303
I can't reproduce this either now.

[2015-10-14 14:48] #1303 closed

[2015-10-14 14:49] pjcozzi commented on #1596
Can we fix the Sandcastle example to disable the flight while morphing?

[2015-10-14 14:50] mramato opened #3083 "Proposal to deprecate EllipsoidPrimitive, RectanglePrimitive, and Polygon"
I propose we deprecate (and remove in 3 releases) `EllipsoidPrimitive`, `RectanglePrimitive`, and `PolygonPrimitive`.  These objects have outlived their usefulness and cause confusion for many users (adding yet a 3rd option in the API).

To jog everyone's memory,

`EllipsoidPrimitive` is the raycasted ellipsoid which only works in 3D and as far as I know no one uses.  The `EllipsoidGeometry` and `

[2015-10-14 14:52] hpinkos commented on #1569
No longer a problem.  Here's the updated code:

[code]

[2015-10-14 14:52] #1569 closed

[2015-10-14 15:02] billyweisberg commented on #3082
Matt, I have 153K Kml file that loads fine in Google Earth. In Cesium, one hemisphere loads fine, and the other hemisphere contains a few lines which should be an entire grid, but it appears the processing stops. Strangely, i can't upload the file here, it errors. I can get you the file somehow if you are interested in using it to debug. I wish I had more js skills, I would debug it for you. Thank

[2015-10-14 15:03] mramato commented on #3082
Thanks, that is very weird.  You can email me the file directly to
matt.amato@gmail.com

Thanks for the bug report.

On Wed, Oct 14, 2015 at 11:02 AM, billyweisberg <notifications@github.com>
wrote:

[2015-10-14 15:06] pjcozzi commented on #3083
Let's mark this private since the moon uses it.

OK.

[2015-10-14 15:14] hpinkos commented on #1966
cannot reproduce

[2015-10-14 15:14] #1966 closed

[2015-10-14 15:19] pjcozzi commented on #1966
I can't reproduce this either.

[2015-10-14 15:24] hpinkos commented on #1880
Cannot reproduce.  Also, this looks like a duplicate of #1596

[2015-10-14 15:24] #1880 closed

[2015-10-14 15:38] #3064 closed

[2015-10-14 15:43] hpinkos commented on #1596
Just kidding, this is actually still an issue.
In the camera example remove line 258
`viewer.camera.lookAtTransform(Cesium.Matrix4.IDENTITY);`

That's what was causing the crash.

[2015-10-14 15:50] GatorScott opened #3084 "Sandcastle CZML Example Tweaks #2"
Sorry I'm late to the party but I have a few comments.  There are a couple of comments about the CZML Content wiki page, while not explicitly a part of the original task, should be cleaned up as well.

* **General**
- [ ] Use a JS pretty printer to produce code that matches the indentation style of the Sandcastle editor.  The examples are currently using 2 space indentation which gets hard to read

[2015-10-14 16:00] hpinkos commented on #1825
This is because the sample code doesn't supply the right vertex format to the rectangle
`vertexFormat : Cesium.PerInstanceColorAppearance.VERTEX_FORMAT`

But why the default vertexFormat (position/normal/st instead of just position/normal) makes it that weird is beyond me.

[2015-10-14 16:17] mramato commented on #1825
Thanks @hpinkos can you please update the original post with the correct code.

[2015-10-14 16:32] mramato opened #3086 "Remove RectanglePrimitive and Polygon"
They were deprecated in 1.14.

[2015-10-14 18:05] pjcozzi commented on #3086
Deprecated in #3085.

[2015-10-14 18:06] #3083 closed

[2015-10-14 18:19] mramato commented on #453
I think it would be pretty hard to change default mouse controls at this point given that Cesium has been around a while so I would recommend closing this.  We will continue to improve the ability to customize controls in Cesium, but I don't see a reason to change the defaults.

If anyone feels otherwise, we can keep this open, but I would recommend tagging it for Cesium 2.0.

[2015-10-14 18:20] mramato commented on #245
Given #3085, should we just close this?  No plans to have the moon in Columbus View mode anytime soon I imagine.

[2015-10-14 18:27] mramato commented on #653
This issue is no longer relevant given the plan to move to ES6 modules

[2015-10-14 18:27] #653 closed

[2015-10-14 18:46] mramato commented on #676
@shunter and @kring, I just verified that JSDoc supports this syntax by changing `Cartesian3` and building the doc, everything worked as expected.  We can definitely close this issue, but the main question is whether we want to update all existing source files to use it?

[2015-10-14 18:47] hpinkos opened #3088 "Consistent parameters for camera flyTo/setView"
For setting the camera view, it would be nice if `camera.flyTo` and `camera.setView` used the same parameters.

I like that `flyTo` can take either a position or a rectangle as a destination, it would be nice if setView had the same behavior. Maybe `camera.viewRectangle` can be consolidated into `setView`.

Or, we could possibly consolidate it all into 1 function where `duration = 0` would use the

[2015-10-14 18:53] hpinkos commented on #2041
No longer relevant because `Polygon` was deprecated in #3085

[2015-10-14 18:53] #2041 closed

[2015-10-14 18:56] #2260 closed

[2015-10-14 18:59] hpinkos commented on #2343
I can't reproduce this either.  I'm going to close the issue.

[2015-10-14 18:59] #2343 closed

[2015-10-14 19:02] hpinkos commented on #2317
@pjcozzi I can't reproduce this

[2015-10-14 19:05] mramato commented on #2317
Someone else recently reported this on the forum, so it's definitely still happening.  Here's [the link](https://groups.google.com/d/msg/cesium-dev/xjaZc8xV4kA/t91pjoXBCAAJ).  They are on a Mac as well, so this could be platform specific.

[2015-10-14 19:12] hpinkos commented on #2285
@pjcozzi I tried a few times but I couldn't reproduce this.  But I keep running into #1518 so it's hard to test.

[2015-10-14 19:15] hpinkos commented on #2233
I'm closing this because it's been almost a year and this issue has no information in it.
@tfili @bagnell please open a new issue if you know what this was about.

[2015-10-14 19:15] #2233 closed

[2015-10-14 19:16] pjcozzi commented on #245
Agreed

[2015-10-14 19:16] #245 closed

[2015-10-14 19:19] mramato commented on #676
I'm going to close this and I'll just open a PR for the sweeping change if we decide we want to do it (it's a simple regex find and replace)

[2015-10-14 19:19] #676 closed

[2015-10-14 19:19] pjcozzi commented on #453
Agreed

[2015-10-14 19:19] #453 closed

[2015-10-14 19:20] hpinkos commented on #2176
@mramato I can't reproduce this.  Can you check if it's still a problem on linux?

[2015-10-14 19:22] pjcozzi commented on #2176
I can't reproduce this now in Chrome or Firefox on Mac.

[2015-10-14 19:22] #2176 closed

[2015-10-14 19:26] mramato commented on #681
I recommend we just close this. It's really low priority and (as far as I know) has had zero affect on our development..

[2015-10-14 19:28] pjcozzi commented on #681
Agreed, the tests still fail, but this hasn't caused a problem in practice in years.

[2015-10-14 19:28] #681 closed

[2015-10-14 19:28] mramato commented on #735
I'm going to close this since we have no plans to move to a different framework any time soon.  The landscape is constantly changing so if we do decide to replace it, it's unlikely any information in this issue will be of much help.  Jasmine is still really popular and personally I think it's a solid choice (though our use of it could possibly be improved).

[2015-10-14 19:28] #735 closed

[2015-10-14 19:29] mramato commented on #758
Should we just close this since it will be superseded by the 3D Tiles work?

[2015-10-14 19:30] pjcozzi commented on #3084
@tiffanylu @adamdavidcole there is some low-hanging fruit here that would add values to the CZML examples (like the contrast in colors).  Let's evaluate these once we finish the imagery provider update.

[2015-10-14 19:31] mramato commented on #821
I'm closing this as OBE.  The Camera object gives user total control over the transform and the high-level Entity API now uses LVLH, NED, or @emackey's magic Geo view depending on the speed and altitude.

[2015-10-14 19:31] #821 closed

[2015-10-14 19:34] pjcozzi commented on #758
3D Tiles works for the massive dataset use case.  This is for the individual primitive/entity.  Won't we need it for KML?

[2015-10-14 19:35] #2079 closed

[2015-10-14 19:35] mramato commented on #965
Is this still relevant?  Was it taken care of a part of #2277?

[2015-10-14 19:38] pjcozzi commented on #965
Yes, this is still relevant.  See how the south argument is broken into `low` and `high` bits.  This is low-ish hanging fruit.

[2015-10-14 19:42] ggetz opened #3090 "Remove BoxGeometry minimumCorner and maximumCorner properties"
Remove `minimumCorner` and `maximumCorner` properties from `BoxGeometry` and `BoxOutlineGeometry` in 1.17

[2015-10-14 19:44] pjcozzi commented on #3090
Deprecated in #3073.

[2015-10-14 19:45] mramato commented on #857
I vote we close this.  Since this issue was written over 2 years ago, overall test time has not increased (despite a large increase in code).  At some point we did a bunch of work on this, but given tests run in ~45 seconds on my 2 year old laptop I'm not sure it's worth keeping this issue open.

[2015-10-14 19:51] hpinkos commented on #2483
Thank you for the recommendations! I tweaked the wording in the up-and-running page slightly, but I think the wording in the tutorial makes sense the way it is.

[2015-10-14 19:51] #2483 closed

[2015-10-14 19:51] biomassives commented on #2483
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (105/100 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2015-10-14 19:51] biomassives commented on #2483
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (106/100 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2015-10-14 19:52] mramato commented on #758
Good point, we can leave it open.

[2015-10-14 19:52] biomassives commented on #758
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (107/100 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2015-10-14 19:56] hpinkos commented on #2471
I think this is outside of the scope of what we want to do for Cesium.
@pjcozzi do you think we can close this?

[2015-10-14 19:56] biomassives commented on #2471
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (115/100 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2015-10-14 19:59] mramato commented on #1148
Whatever I thought I saw 20 months ago doesn't appear to be there now, and toggling the animation widget on or off has no affect on the fps.

[2015-10-14 19:59] #1148 closed

[2015-10-14 19:59] biomassives commented on #1148
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (122/100 (122%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2015-10-14 19:59] biomassives commented on #1148
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (121/100 (121%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2015-10-14 19:59] hpinkos commented on #2461
@mramato was this fixed when we fixed the billboard bounding sphere?  It seems to work okay for me now.

[2015-10-14 20:04] hpinkos commented on #2455
@mramato I couldn't reproduce this.

update code:

[code]

[2015-10-14 20:04] mramato commented on #2461
Yes, and what a glorious day it was!

[2015-10-14 20:04] #2461 closed

[2015-10-14 20:06] mramato commented on #1225
Do we ever plan on finishing the tutorial?  Since it's a year old, it will probably need a bunch of updates beyond what's listed here.

[2015-10-14 20:08] mramato commented on #2455
I can't reproduce this anymore either.

[2015-10-14 20:08] #2455 closed

[2015-10-14 20:13] mramato commented on #1165
Given our recent Bing map keys woes, we should probably create a much more "in-your-face" message for when the API key is set to the default, perhaps by overlaying an HTML element or ViewportQuad in the top center of the screen?

[2015-10-14 20:26] mramato commented on #1218
@emackey, here's a quick 2 minute example I whipped up using the Entity API.  In 3D the near/far plane kicks in so you don't see them, but they do work in 2D.

[code]

[2015-10-14 20:26] #1218 closed

[2015-10-14 20:26] hpinkos commented on #2399
@pjcozzi I can't reproduce this.  I was using this example:

[code]

Regardless, if you're using `perPositionHeights` and your polygon is not planar, there is no guarantee that it will triangulate the way you would expect it to, and that may lead to some weird issues.  There isn't a problem with the normals. @bagnell  and I confirmed that when he was trying to implement roof types.

[2015-10-14 20:28] mramato commented on #1200
Since we closed #453, I'm closing this as well.  We can revisit the issue if it ever becomes a problem.

[2015-10-14 20:28] #1200 closed

[2015-10-14 20:38] hpinkos commented on #2599
related: #1798

[2015-10-14 20:39] mramato commented on #1593
I believe the problem here is that the `PathVisualizer` switches inertially visualized paths to fixed paths the moment SceneMode is anything by Scene3D. The correct way to address this would be to interpolate between the inertially computed path and the fixed computed path when morphing.  Since we can't interpolate the transform matrix, this would involve generating both fixed and inertial paths a

[2015-10-14 20:48] hpinkos commented on #2619
@alexander-entin i'm going to close this issue because the polygon error has been fixed.
If you are still having an error with the logo on your boat model, can you please post it to [the forum](https://groups.google.com/forum/?hl=en#!forum/cesium-dev)? The model demo you posted in this issue seems to be out of date.  Thanks!

[2015-10-14 20:48] #2619 closed

[2015-10-14 20:57] pjcozzi commented on #857
I agree there is diminishing returns here.

[2015-10-14 20:57] #857 closed

[2015-10-14 20:58] mramato commented on #1401
I took a quick look at this and while the bug manifests differently, the end result is that bounce inertia will end up interfering with camera flights.  I'm not sure there's an easy to fix this because the `SceenSpaceCameraController`is what knows about inertia while the `Camera` itself and the flights know nothing.  We should probably take a hard look at camera architecture for Cesium 2.0

[2015-10-14 20:58] pjcozzi commented on #2471
I agree we can close this.  The plugin is welcomed, of course.

[2015-10-14 20:58] #2471 closed

[2015-10-14 21:03] pjcozzi commented on #1225
Yes, let's leave these notes.

[2015-10-14 21:04] hpinkos commented on #2733
For the texture rotation issue: see #2737

The flickering is happening because your primitive was being drawn asynchronously.  Use a `CallbackProperty` for a value that is changing frequently.

I'm closing this issue because it is a duplicate.

[2015-10-14 21:04] #2733 closed

[2015-10-14 21:06] pjcozzi commented on #2285
I reproduced it first try.

[2015-10-14 21:09] hpinkos commented on #1064
![image](https://cloud.githubusercontent.com/assets/3451886/10497844/2aa1eba8-7296-11e5-8a2b-08d117731096.png)
Side note: The moon currently obstructs the atmosphere

[2015-10-14 21:13] pjcozzi commented on #2399
@hpinkos your example looks good, but if you drag and drop the CZML in the first comment, there is still an issue:
![ok](https://cloud.githubusercontent.com/assets/782098/10497958/d5c52e8c-7296-11e5-932b-df816693e06d.gif)

[2015-10-14 21:15] hpinkos commented on #2871
duplicate of #2484

[2015-10-14 21:15] #2871 closed

[2015-10-14 21:16] hpinkos commented on #2866
Once this issue is resolved, check to see if #1921 is fixed.

[2015-10-14 21:18] hpinkos commented on #2839
related: #2715

[2015-10-14 21:22] mramato commented on #1072
I updated the referenced code to work with the current Viewer (pasted below) but I'm probably going to take a different approach and avoid modifying the shuttle ticks out from under the user, PR incoming.

[code]

[2015-10-14 21:32] ggetz opened #3092 "Remove getPixelSize function in version 1.17"
Remove `getPixelSize` function from `OrthographicFrustum`, `PerspectiveFrustum`, and `PerspectiveOffCenterFrustum` in version 1.17

Deprecated in #3091.

[2015-10-14 21:42] #1072 closed

[2015-10-14 21:48] mramato commented on #1327
@kring is this issue still valid given the `subdomains` options that was recently added?

[2015-10-14 21:50] mramato commented on #1317
Since this is a longstanding Firefox issue, do we just want to close this?  There's noting we can do about it on our end and if anyone searches for the issue in our repository they'll still find it even if it's closed.

[2015-10-14 21:51] pjcozzi commented on #1317
Sounds good.

[2015-10-14 21:51] #1317 closed

[2015-10-14 21:51] mramato commented on #1851
@emackey do you think this is just a dupe of #2122?  Should we close this one?

[2015-10-14 22:01] mramato commented on #1845
This is still an issue as of 10/14/2015.  Possibly the same root problem as #1518.

I also noticed that normally this results in a hang, but removing all imagery causes it to result in a crash.

[2015-10-14 22:03] mramato commented on #1518
While possibly a red herring, I noticed that removing all imagery layers made this issue much harder to reproduce.

I also ended up hanging in Firefox and inside of what looked like an infinite loop in ImageryLayer.js around line 532, the loop starting with `for ( var j = northwestTileCoordinates.y; j <= southeastTileCoordinates.y; j++) {` another indication that imagery might be playing a role he

[2015-10-14 22:12] pjcozzi commented on #1851
Up to you guys, but I am OK closing this.

[2015-10-14 22:14] mramato commented on #2075
@utillity, I'm sorry that no one ever got back to you on this.  We recommend these types of questions be asked on [our forum](https://groups.google.com/forum/#!forum/cesium-dev) since they will reach a larger audience and are much more likely to get a response.

To answer your question, we are in the process of adding support for `heightReference` to CZML, which will allow you to specify position

[2015-10-14 22:14] #2075 closed

[2015-10-14 22:16] mramato commented on #2058
@kring do you think this is something we'll ever do, or should we just close this?

[2015-10-14 22:17] mramato commented on #2023
@GatorScott can you still reproduce this problem?

[2015-10-14 22:21] mramato commented on #2033
@emackey are you okay with just closing this?  While cartesianToCartographic can return undefined, everywhere in our code where we use it should crash if Cartesian3.ZERO is passed in.  If we checked for undefined, we would still end up throwing a DeveloperError or RuntimeErrror.

If you want to keep this open, that's okay with me, but we should decide on what the correct course of action for fixin

[2015-10-14 22:22] pjcozzi commented on #1165
Yes, we might also even ask that they get a key before downloading Cesium like [Leaflet](http://leafletjs.com/examples/quick-start.html) (or default to something low-res that we host).

Let's hold for now until we think more deeply.

[2015-10-14 22:33] mramato commented on #2203
I'm fairly certain both of these problems were fixed a while ago and using the sample code I was unable to cause a crash or unexpected behavior.  Can someone please confirm everything works for them as well and close this issue.  Thanks.

[2015-10-14 22:38] mramato commented on #2115
Closing since this is a dupe of #2480

[2015-10-14 22:38] #2115 closed

[2015-10-14 22:42] pjcozzi commented on #797
**Cesium Implementation Status** (after #3094)

* `OES_standard_derivatives` is disabled. `dFdx`, `dFdy` and `fwidth` are not recognized when compiling the shader.
   * There should be one test failure for materials because the `PolylineArrowMaterial` uses standard derivatives.
* `EXT_frag_depth` is disabled. `gl_FragDepth` is not recognized when compiling the shader (neither is `gl_FragDepthEXT`)

[2015-10-14 22:43] mramato commented on #2459
@kaktus40 I don't think it was a bad idea, it just turned out that indexdb isn't good for these kind of things.  In most cases, the browser cache should take care of this anyway and alleviate network load (this depends on the providers being used, since some services prevent caching.  Thanks for the effort!

[2015-10-14 22:43] #2459 closed

[2015-10-14 22:45] #2369 closed

[2015-10-14 22:47] mramato commented on #2612
This is actually already implemented via the ImageryLayer.minimumTerrainLevel/maximumTerrainLevel options

[2015-10-14 22:47] #2612 closed

[2015-10-14 22:50] mramato commented on #2501
Technically, `flyToBoundingSphere` can do this, but you can't specify roll.  One day we'll do a big pass and unify a lot of camera functions.

[2015-10-14 22:52] mramato commented on #2694
Was this addressed by the `heightReference` stuff?  Or is this still an issue?

[2015-10-14 22:54] bagnell commented on #2203
I can confirm everything works.

[2015-10-14 22:54] #2203 closed

[2015-10-14 22:56] mramato commented on #2800
Superseded by #3036

[2015-10-14 22:56] #2800 closed

[2015-10-14 22:58] mramato commented on #2988
No one has really complained about this and while I thought it was weird, it hasn't been a usability problem yet, so I'll just close.

[2015-10-14 22:58] #2988 closed

[2015-10-14 23:20] GatorScott commented on #2023
I can no longer reproduce this.  Closing.

[2015-10-14 23:20] #2023 closed

[2015-10-14 23:24] kring commented on #2058
Well I've worked with a fair number of ArcGIS servers at this point, and have never seen one that requires `exportImage`.  Maybe it's an old version of ArcGIS or something?  In any case, these days you can just use `UrlTemplateImageryProvider` to access tiles using whatever URL you need, so I'll close this.

[2015-10-14 23:24] #2058 closed

[2015-10-14 23:37] #2267 closed

[2015-10-15 12:05] RameshThangamuthu commented on #873
Thanks for the quick response. (Until then, we will parse the KML document and use HTML/JS features to overlay the image on Cesium maps.)

[2015-10-15 13:15] emackey commented on #1851
I don't have a Dell Venue 8 to test on.  You could show it to me when you get back, or just close it, I'm fine either way.

[2015-10-15 13:19] mramato commented on #1851
@emackey I guess you'll just have to drive up to the Poconos today for the sprint, since it's sitting next to me :wink:

If not, I'll stop by next week to confirm it's the same thing and we'll close this.  Thanks,

[2015-10-15 13:19] emackey commented on #2033
I've forgotten what I was doing when I ran into this.  I'll reopen if it comes up again.

[2015-10-15 13:19] #2033 closed

[2015-10-15 13:52] ggetz opened #3097 "Remove Scene/HeadingPitchRange in 1.17"
Remove `Scene/HeadingPitchRange` in version 1.17.

Deprecated in #3096

[2015-10-15 14:34] #2738 closed

[2015-10-15 15:48] ggetz opened #3099 "Remove jsonp in 1.17"
Remove `jsonp` in version 1.17.

Deprecated in #3098.

[2015-10-15 18:46] pjcozzi commented on #3034
@tfili we also need to add support for uniforms that are arrays of textures: https://github.com/KhronosGroup/glTF/issues/435

It should not be hard.

[2015-10-15 23:16] #2579 closed

[2015-10-16 00:01] hpinkos opened #3101 "Remove deprecated Camera.setView options and Camera.viewRectangle"

[2015-10-16 00:02] pjcozzi commented on #3101
Deprecated in #3100.

[2015-10-16 12:24] utillity commented on #2075
ok, thanks! that would be great!

[2015-10-16 14:22] pjcozzi opened #3102 "Remove support for CESIUM_binary_glTF"
It will be replaced with KHR_binary_glTF.

CESIUM_binary_glTF was deprecated in #3039.

[2015-10-16 14:27] ggetz commented on #965
@pjcozzi Should I also combine the low and high arguments and deprecate the old function?

[2015-10-16 14:35] pjcozzi commented on #3034
Let's not bother with this for now since this is covered in gltfDefaults.

[2015-10-16 14:36] pjcozzi commented on #3034
Closing this as duplicate of #3039.

[2015-10-16 14:36] #3034 closed

[2015-10-16 14:38] pjcozzi opened #3103 "Move general glTF helpers to their own libraries"
- `gltfDefaults`
- `ModelCommonMaterials`

And publish them on npm so we can use them in gltf-statistics, OBJ2GLTF, etc.

[2015-10-16 14:39] pjcozzi commented on #965
Yes, combine the low and high arguments.

Since this is all internal to Cesium (there's no public-facing API), it doesn't need to be deprecated; it is not a breaking change to our users.

[2015-10-16 14:41] ggetz commented on #965
Ok, thanks.

[2015-10-16 15:49] gbeatty opened #3105 "Coerced EXT_texture_filter_anisotropic object causes WebGL error in Texture.js"
Changes in SHA: 7c75a1227c23775224a33f234ce65f37728e1ae7 added a !! coersion to the EXT_texture_filter_anisotropic object in `Context`. This causes `gl.texParameteri(target, this._textureFilterAnisotropic.TEXTURE_MAX_ANISOTROPY_EXT, sampler.maximumAnisotropy);` in  `Texture/defineProperties` to return undefined. Sending undefined into `gl.texParameteri()` generates a WebGL: INVALID_ENUM: texParame

[2015-10-16 15:55] pjcozzi commented on #3105
Good eye, thanks @gbeatty.

@bagnell @lilleyse can one of you look at this?

[2015-10-16 17:38] #965 closed

[2015-10-16 18:10] pjcozzi commented on #3102
Also remove "glTF 0.8 with CESIUM_binary_glTF" from the online model converter.

[2015-10-18 08:03] kring commented on #1327
`WebMapServiceImageryProvider` now supports subdomains so I think that addresses the original problem.  It still could be a useful addition to make the proxy support subdomains, too.  I'm going to close this, and if someone would like to request that feature (subdomains for the proxy) please write a separate issue.

[2015-10-18 08:03] #1327 closed

[2015-10-19 16:25] pjcozzi commented on #2816
@hpinkos was this part of #3100?

[2015-10-19 16:26] pjcozzi commented on #2816
Whoops, wrong issue.

[2015-10-19 16:26] pjcozzi commented on #2501
@hpinkos was this part of #3100?

[2015-10-19 16:28] pjcozzi commented on #2695
@ggetz can we close this or make any additional tweaks required to close this?

CC #3091

[2015-10-19 17:32] ggetz commented on #2695
@pjcozzi The documentation currently makes sense for the structure of the parameters. If it is OK that the example uses `canvas.clientWidth` and `canvas.clientHeight`, then we can close it.

[2015-10-19 17:35] pjcozzi commented on #2695
Can you open a small pull request to use `scene.drawingBufferWidth` and `scene.drawingBufferHeight` instead?

[2015-10-19 17:36] ggetz commented on #2695
Sure.

[2015-10-19 17:52] #2695 closed

[2015-10-20 08:51] fredj opened #3111 "Add an option to limit the camera pitch"
By adding a new option to `ScreenSpaceCameraController`?

Something like `ScreenSpaceCameraController.minimumPitch` and `ScreenSpaceCameraController.maximumPitch`

[2015-10-20 13:37] mramato commented on #3105
I assume this bug in the Picking example is also because of this?  `master` seems to be in pretty bad shape right now.

![image](https://cloud.githubusercontent.com/assets/1495196/10608682/181e8b18-770e-11e5-8f21-7ac71647d271.png)

[2015-10-20 21:19] #3105 closed

[2015-10-20 21:19] pjcozzi commented on #3105
Good eye, thanks again @gbeatty.

[2015-10-21 17:58] bagnell commented on #2501
This is not part of #3100.

[2015-10-21 18:12] bagnell commented on #2791
This is no longer an issue.

[2015-10-21 18:13] #2791 closed

[2015-10-21 18:14] pjcozzi commented on #2791
Cool, can you respond to the forum post: https://groups.google.com/forum/#!topic/cesium-dev/7x8pHXBHxvk

[2015-10-21 20:42] #2839 closed

[2015-10-21 20:44] #2715 closed

[2015-10-21 22:48] mramato opened #3116 "Test failures in master"
`master` is still not happy and I have 10 failures on my machine (Intel HD 4000)

[code]

[2015-10-21 22:50] mramato commented on #3116
Same failures on nvidia.

[2015-10-22 00:31] hpinkos opened #3117 "Better error handling for billboard if image cannot be loaded"
Currently, if a billboard can't load an image (like if the URL returns a 404 error) it prints an error to the console.  The application has no way of knowing if and when the image was loaded.  It would be better if there was a promise or something that was publicly accessible.

[2015-10-22 04:22] indexgeo opened #3118 "point.pixelSize limit due to WebGL limit on some hardware"
I explained an issue that we encountered when using point.pixelSize to portray time-series data by growing the pixelSize over time. It reached a limit at 60 pixels on this machine.

See https://github.com/TerriaJS/terriajs/issues/991

@kring found that it is due to "Rasterizer, Aliased Point Size Range" being too small on some systems. He explained there a potential workaround to implement in Cesi

[2015-10-23 14:47] pjcozzi commented on #3116
@bagnell @lilleyse can one of you look at this?

[2015-10-23 18:53] mramato commented on #1851
Me and @emackey looked at this and think it's a dupe of #2122 that happens on all touch devices.  It may also be related to framerate issues and the speed to which we can respond to events on lower-powered devices, either way I'm closing this and we can address it in the linked bug.

[2015-10-23 18:53] #1851 closed

[2015-10-24 01:52] #3088 closed

[2015-10-24 01:52] hpinkos commented on #3088
resolved in #3100

[2015-10-24 12:28] pjcozzi opened #3125 "Lots of models leads to high GC usage"
As discussed here: https://github.com/AnalyticalGraphicsInc/cesium/pull/3059#issuecomment-150645643

This could be true for all primitives (meaning the issue is in `Scene.render`, not `Model.update`).  @lilleyse is looking into it.

[2015-10-26 02:06] danwild commented on #871
Thanks @gberaudo, we ended up using a similar approach with canvas size and `Camera.pickEllipsoid` to get each of the corners. Just a side note/comment for anybody else taking this approach - make sure you take pixel ratio of the canvas.width/height into account (for retina screens etc.), that me tripped me up in testing ;)

[2015-10-26 12:46] #3116 closed

[2015-10-26 18:09] mramato opened #3127 "Should we still be shipping the built Cesium Viewer?"
We currently ship with a built copy of the `Cesium Viewer` and even mention it as "ready for deployment" on our website's download page.  This is misleading since the Cesium Viewer contains the default Bing key and can't be deployed as-is without violating usage policy.

I'm not even sure how many people actually ever use the built version either (or why you would use it other than for development

[2015-10-26 18:23] pjcozzi commented on #3127
Removing it is OK with me.

[2015-10-26 18:28] emackey commented on #3127
Sounds good.

[2015-10-26 21:02] pjcozzi commented on #3125
@lilleyse any update here?

[2015-10-26 21:34] #1753 closed

[2015-10-26 21:39] lilleyse commented on #3125
Not yet, I'll be able to look into it soon.

[2015-10-27 18:46] fantasticole commented on #3005
Hi Patrick! I just submitted a PR for this issue. Please let me know if I did anything incorrectly, as this is my first PR!

[2015-10-27 19:10] fantasticole commented on #3005
Hi Patrick! I just submitted a PR for this issue. Please let me know if I did anything incorrectly, as this is my first PR!

[2015-10-27 20:54] pjcozzi commented on #2655
There is some work-in-progress in the `3d-tiles` branch: [JobScheduler](https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Source/Scene/JobScheduler.js).

[2015-10-27 20:58] pjcozzi commented on #2655
This will also expand into scheduling work across workers, e.g., for geometric decompression.  Users may just schedule a task, and it might have to execute time sliced in the main thread or it may be scheduled on a worker.

CC #1487

[2015-10-27 21:06] pjcozzi commented on #2655
There is not a ton of information on this web apps so we will need to look at desktop/console engines.  Keep in mind that web workers are much more limited.

* [Frostbite](http://www.frostbite.com/wp-content/uploads/2013/05/ParallelFutures_Public.ppt)
* [id Tech 5](http://s09.idav.ucdavis.edu/talks/05-JP_id_Tech_5_Challenges.pdf)
* [C4 Engine](http://www.terathon.com/docs/System/JobMgr.html)

[2015-10-27 21:16] mramato commented on #2655
There are also time-sliced tasks that we don't currently do in core Cesium that we'll want to be able to take advantage of this, such as incremental CZML/KML parsing to avoid locking up the browser for large documents.

[2015-10-27 21:24] #3005 closed

[2015-10-28 11:53] pjcozzi commented on #3125
@bagnell may have fixed this (similar to https://github.com/AnalyticalGraphicsInc/cesium/pull/3131#issuecomment-151571177).

@lilleyse please verify.

[2015-10-28 12:16] pjcozzi opened #3136 "3D Tiles Sandcastle example is broken"
@lilleyse can you please look at this ASAP so we can merge #3131?

Functions such as `hasProperty` and `getPropertyNames` were moved in https://github.com/AnalyticalGraphicsInc/cesium/commit/bab0ba9874efd03aed641d874337d05d19a6dbf7#diff-406122f3413b001f1cbf74187c314641.  However, the [Sandcastle example](https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Apps/Sandcastle/gallery/Cities.h

[2015-10-28 13:38] lilleyse commented on #3125
I didn't see a difference. However, I've noticed that `updateCommands` is the cause of the problems when instancing is disabled. https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Source/Scene/ModelInstanceCollection.js#L703-L735.

As far as I can tell, there are no allocations. Maybe someone else can verify that?

[2015-10-28 13:47] pjcozzi commented on #3125
Nothing jumps out at me.  Did you step through the function and all the functions it calls?  Are the array indices sane?

[2015-10-28 16:07] mramato opened #3138 "Cesium3DTileSet should expose overall bounding volume"
I wanted to fly the camera to a `3DTileSet`, but there doesn't seem a way to get it's bounding volume.  I ended up with the below code (not sure if it's correct).  A properly like `tileset.boundingVolume` would probably be ideal.

[code]

[2015-10-28 16:19] hpinkos commented on #1064
Also, the atmosphere doesn't render on some mobile devices.  Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/Z3KJnMCkSSc

[2015-10-29 02:28] mramato opened #3141 "1.14 broke the sun on some mobile devices"
The Sun looks fine on my phone (Android 5.1, latest Chrome) using `1.13`, but `1.14` shows a white block.  I also tried master and get the same thing.  Since this is a regression, I marked it as a showstopper.

![image](https://cloud.githubusercontent.com/assets/1495196/10808501/a16c68bc-7dc2-11e5-8e7a-15be5fe40582.png)

[2015-10-29 02:31] mramato commented on #3141
Here's the webglreport from my phone, if that helps.  Note atmosphere doesn't work here either, but I doubt it's related.

![image](https://cloud.githubusercontent.com/assets/1495196/10808588/944d5f00-7dc3-11e5-9a28-515ea1fa1262.png)

[2015-10-29 02:32] mramato commented on #1064
#3141 has weblreport for my phone (which doesn't show atmosphere).  My Nexus 9 tablet shows the atmosphere fine.

[2015-10-29 17:06] gberaudo opened #3142 "Regression layer.json with absolute URLs due to #3133"
The layer.json of my Cesium terrain server defines an array of absolute URL
templates in order to allow parallel queries to subdomains.

Before #3133, the URLs were used as-is. Now, they are scrumbled:
- URL to layer.json: https://3d.geo.admin.ch/prefix/layer.json
- URL in layer.json: //terrain3.geo.admin.ch/prefix/{z}/{x}/{y}.terrain?v={version}
- generated terrain URL: https://3d.geo.admin.ch/pr

[2015-10-29 21:16] pjcozzi opened #3143 "Warning in Sandcastle example"
@ggetz  can you update this before 1.15?  Or is there nothing we can do about this one?

http://localhost:8080/Apps/Sandcastle/index.html?src=Interpolation.html&label=All

[2015-10-29 21:25] pjcozzi opened #3144 "Camera warning in Sandcastle example"
@hpinkos can you update this before 1.15 on Monday?

http://localhost:8080/Apps/Sandcastle/index.html?src=Web%20Map%20Service%20(WMS).html&label=All

[2015-10-29 21:34] pjcozzi commented on #3143
Same issue for this example: http://localhost:8080/Apps/Sandcastle/index.html?src=development/Ground%20Primitive.html&label=Development

[2015-10-29 21:55] mramato commented on #3143
This is a problem with the Combined Cesium file because the deprecated one overwrites the new one. It's a single fix for all cases at the build level. I'll look at putting a fix in the build process tonight.

[2015-10-29 22:07] #3144 closed

[2015-10-29 22:25] kring commented on #3142
This is a pretty serious regression, so I'm marking it showstopper.  I will try to work on it today.

[2015-10-29 23:23] mramato commented on #3097
Code from #3147 also needs to be removed when this is.

[2015-10-29 23:26] mramato commented on #3142
Thanks @kring

[2015-10-29 23:40] mramato commented on #3136
Can this be closed?

[2015-10-29 23:41] pjcozzi commented on #3136
Yes, thanks!

[2015-10-29 23:41] #3136 closed

[2015-10-30 08:13] gberaudo commented on #3142
Thank you @kring. Let me know if I can do something to help.

[2015-10-30 11:15] pjcozzi commented on #3141
@lilleyse can you take a quick look at this before the 1.15 release to see if it is anything obvious with the renderer refactoring or `WebGLConstants`?

[2015-10-30 12:04] #3127 closed

[2015-10-30 12:38] #3142 closed

[2015-10-30 13:02] lilleyse commented on #3141
Yeah I can take a look at this. It works on my phone, so I may need a device to test with.

[2015-10-30 13:07] mramato commented on #3141
My phone is available whenever you want to have a look.

[2015-10-30 16:02] #3143 closed

[2015-10-30 18:33] emackey opened #3153 "Web Mercator Weirdness"
I tried enabling WebMercator mode like this:

[code]

But the world went awash in wacky weirdness:

![badmercator_v2](https://cloud.githubusercontent.com/assets/1235080/10854547/c5127544-7f12-11e5-894d-f0bae6ff9ddc.gif)

Is this a bug or am I just doing it wrong?  If it's not a bug then we might need clearer docs on how to do this.

/cc @kring @abwood

[2015-10-30 18:34] pjcozzi commented on #3153
Can you reproduce this in 1.14?

[2015-10-30 18:36] emackey commented on #3153
This is master 595bb4e9f426 from Oct 26.

[2015-10-30 18:36] emackey commented on #3153
I'll check 1.14

[2015-10-30 18:39] emackey commented on #3153
Yeah, this behavior goes way back, I can reproduce in 1.1 and 1.14

[2015-11-02 01:46] kring commented on #3153
@emackey I remember seeing these kinds of artifacts ages ago, and I thought at the time that it was a result of projecting Bing tiles from Web Mercator to Geographic and then back to Web Mercator; we're losing information.  There's a roadmap item to fix this (https://github.com/AnalyticalGraphicsInc/cesium/issues/526 search for mercator), but doing so probably requires us to keep the original Web

[2015-11-02 12:28] pjcozzi commented on #3141
I'm OK shipping 1.15 without this.  We'll leave it labeled next release.  @lilleyse please look at this soon.

[2015-11-02 13:12] pjcozzi commented on #2745
@hpinkos do you still get this test failure?

[2015-11-02 13:12] pjcozzi commented on #2771
Still the same in 1.15.

[2015-11-02 13:14] pjcozzi commented on #3004
I no longer see these on Mac or Windows in Chrome 46.

[2015-11-02 13:14] #3004 closed

[2015-11-02 13:17] pjcozzi commented on #2771
All tests pass on Mac with WebGL validation so this is Windows/ANGLE related.

[2015-11-02 13:31] mramato commented on #2771
I can confirm that disabling ANGLE on windows makes the errors go away, we should write up an issue for them when we get a chance (after confirming our tests aren't doing anything odd themselves).

[2015-11-02 14:10] ZacBrownBand opened #3156 "COLLADA to bGLTF converter not working on files it worked on before."
I have been using the COLLADA to bGLTF converter for a few weeks as I have been adding to a ever growing library of 3d models.

I attempted to convert some more models today and received an error. I tried an older file that worked a week ago and received the same error.

Since its minified the error was not very helpful but here it is:

TypeError: Cannot read property 'target' of undefined
TypeErr

[2015-11-02 14:35] pjcozzi commented on #3156
Have you seen https://groups.google.com/forum/#!topic/cesium-dev/8kxfbamMcQ4

What COLLADA to Binary glTF converter are you using?  If you are using colladaToBglTFConverter, I asked them to upgrade: https://groups.google.com/forum/#!searchin/cesium-dev/%22gltf$201.0%22/cesium-dev/Hy7iQ0IK7Ik/FMShsdg3DAAJ

Cesium will have backwards compatibility with CESIUM_binary_glTF until 1.18; however, we need

[2015-11-02 14:44] ZacBrownBand commented on #3156
I had not seen that, thanks for directing me there, thats very helpful.
I am using the colladaToBglTFConverter and using the check box to create the binary.
So KHR_binary_glTF is replacing bgltf? What is the best resource to convert DAE files into KHR_binary_glTF?

[2015-11-02 14:51] pjcozzi commented on #3156
Yes

We are updating the online model converter as part of the Cesium 1.15 release today: http://cesiumjs.org/convertmodel.html

I also suggest asking the colladaToBglTFConverter developers to update their tool.

I also expect more tools to emerge, they will be listed here: https://github.com/KhronosGroup/glTF/blob/master/README.md

[2015-11-02 14:53] ZacBrownBand commented on #3156
Okay, thank you so much! I will close this issue as it will likely get resolved by the release.

[2015-11-02 14:53] #3156 closed

[2015-11-02 21:29] mramato commented on #3153
Could #3104 have cause this to be more noticeable?

[2015-11-02 21:48] emackey commented on #3153
It's possible that WebMercator just isn't used much.  I had to go back to b28 to find a Sandcastle example of it, and it appeared to exhibit this bug there too.  My main concern isn't blurriness, it's the noticable "pop" where the top half of Greenland  moves several degrees North or South as you cross a tile/zoom boundary.  I don't think the re-projection back from Geographic to Mercator is worki

[2015-11-02 21:56] emackey commented on #3153
You can just barely see in the wireframe version, but the Northern coast of Greenland shifts a noticable amount here.  The same is happening in the other direction near the South Pole.  I'm suspicious that the polar "caps" are playing a role here too.

![badmercator_wireframe](https://cloud.githubusercontent.com/assets/1235080/10895480/77c57b3e-8182-11e5-91a2-1236650d602f.gif)

[2015-11-03 00:26] kring opened #3160 "jsonp is broken in 1.15"
It does not return a promise:

[code]

Should be

[code]

The workaround is to switch to `loadJsonp`, of course, but this shouldn't have been broken like this without a deprecation period.

[2015-11-03 00:36] #3160 closed

[2015-11-03 00:44] mramato commented on #2130
Recently brought up again on the mailing list: https://groups.google.com/d/msg/cesium-dev/LAeE70CWecs/Y_BtC_u4DwAJ

[2015-11-03 03:25] #3141 closed

[2015-11-03 03:33] mramato commented on #3111
I don't think `ScreenSpaceCameraController` is the best place to handle this.  Ideally we would create a separate object, something like `CameraConstraints` or `CameraLimits` that would expose a variety of settings to constrain the camera.  It would process all constraints in a single pass as part of (or immediately after) the preRender step (after everyone else is done manipulating the camera),

[2015-11-03 05:55] RacingTadpole opened #3162 "Support for custom CZML properties"
We want to add custom properties to CZML files. Currently we are doing this with a workaround, by wedging some json into the `description` field. @kring and I spent some time today discussing alternatives, and would like to get your feedback on the scheme we came up with. If you are ok with it, one of us can then submit a pull request.

A few explanatory points -
- We decided against adding custom