[2018-10-07 16:41] killroy42 commented on #1515
Hmm, has this been resolved? I still get terrible performance. I am visualising around 110 entities. I can easily show a complex 3d model with each without any performance issues, but showing an ellipses with granularity = 1, just a few triangles, really tanks fps to be unusable. Should I load a model of a circle in? What am I doing wrong?

[2018-10-08 06:35] hieeyh opened #7120 "sampleHeight bug"
code:
let cartographicPosition = new Cesium.Cartographic()
cartographicPosition.longitude = mapUtil.angleToRadian(113.939499)
cartographicPosition.latitude = mapUtil.angleToRadian(22.5262237)
let takeOffheight = scene.sampleHeight(cartographicPosition)

result:
TypeError: Cannot read property 'x' of undefined
    at n (Cesium.js:445)
    at Function.s.fromCartesian (Cesium.js:445)
    at we.sample

[2018-10-08 07:11] kring opened #7121 "Models with distanceDisplayCondition and CLAMP_TO_GROUND misbehave"
I've modified the CZML Path Sandcastle example to:
1) Add a model, clamped to the ground under the path.
2) Clamp the billboard to the ground.

This demonstrates a couple problems with models that are both clamped to the ground and that have a distance display condition:

1) The bounding sphere of an entity is computed from the model's `_clampedModelMatrix` when the entity has a model. But the `_c

[2018-10-08 07:13] kring commented on #4744
This was done in #5986.

[2018-10-08 07:13] #4744 closed

[2018-10-08 07:13] cesium-concierge commented on #4744
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/X7Htr1bP2Tw

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/

[2018-10-08 13:18] lilleyse commented on #7120
Hi @hieeyh

What happens when you click "Sample height" and "Sample height supported" in this demo?

[Demo](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=lZJPT8JAEMW/yqYXSmK2ofgnxIJGLh40GDGeehm3Q7th2SW70xo0fnd3WyEgxMTeZub93sy+tAHLGonvaNmYaXxnU3SyXvHXthf3RFtOjSaQGm2vf53rxjNOoEaPdCxvSz/K9Rx0IcCRQg5F8WKMegN7VxMZHffmsForZBXKsqLeGVvUWpD0kz77zDXzX/AWYMmUFtaVFE/GyaA4vG66p4jDSQE9hXFldCmpLsKtP/AjUMX

[2018-10-08 13:33] hpinkos commented on #1515
@killroy42 If your ellipses are dynamic, they are recomputed and redrawn every frame and this can have a negative impact on performance.  However, I wouldn't expect poor performance if your ellipses are drawn once and you're not changing the position or other properties.  Depending on your use case, I would probably recommend using a point instead.

[2018-10-08 13:40] hpinkos commented on #7118
No clue

[2018-10-09 08:50] hieeyh commented on #7120
If theris a 2D billboard, it will report this error. But if exclude this 2D billboard, sometimes success, sometimes fail.

[2018-10-09 14:53] andreddosantos commented on #4863
@hpinkos just downloaded the 1.5 Cesium version and this error is still happening.

![img_0638](https://user-images.githubusercontent.com/4041944/46677930-6a824a00-cbdb-11e8-81ce-20d0bf6e06b4.jpg)

p

[2018-10-09 14:59] OmarShehata opened #7124 "Ground atmosphere breaks imagery on non-earth ellipsoid"
[Sandcastle example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=bVLva9swEP1XjL/YgSA1+0HBc8NGGd2gY4WM9YuhnO2LrU2WhCTbZCX/+2TLbuK0+iL07t27p7vrQAfIOVNGsjK4CQT2wS0a1jbk6wzHm+v31x+urtYX9+pTJjqX34B60PIPFpZJsdS4Q1lpUDUrToz4pd4sUHGZ40XiAC2ZlI48YmrZ32nZivKLbaRRNeoheQ/coKN5SamsceBzJgJ3Fg6T5XPtKaN24q8JysHgPRxQP7DiL+rEl8jEcbLdMexRL33/HrE4KsbnrRQWmEAdrUdHqxd/rIEK9WGUH4x6LbKAHXnxJlCW3z3g7HesdIXOSj9i/g

[2018-10-09 15:09] hpinkos commented on #4863
@andreddosantos can you please paste a code example to reproduce the issue?

[2018-10-09 15:15] andreddosantos commented on #4863
Yup! So i'm loading a tile from a local nodejs server running in iOS from the ionic framework.

    const viewer = new Cesium.Viewer(this.el.nativeElement, {
      scene3DOnly: true,
      selectionIndicator: false,
      animation: true,
      timeline: false,

      baseLayerPicker: false,
      fullscreenButton: false,
      vrButton: false
    });

    const tileset = viewer.scene.primitives.a

[2018-10-09 15:44] TimvanScherpenzeel commented on #7051
[Filament](https://github.com/google/filament) has a tool called [cmgen](https://github.com/google/filament/tree/master/tools/cmgen) that is able to create environment maps and generate the precomputed spherical harmonics. It [recently](https://github.com/google/filament/pull/319) also added the ability for octahedral projected maps.

I've also been looking into Bash wrapping this tool in order to

[2018-10-09 15:57] OmarShehata commented on #7051
Oh, this is great @TimvanScherpenzeel ! Thanks for pointing that out. It'll be pretty useful to compare my implementation to theirs. I know I had some issues with artifacts from linear sampling and had to add a 2 pixel border to get around that, so I'm curious if they had to do the same thing.

Additionally, this might be useful to mention in the glTF lights extension (https://github.com/KhronosGr

[2018-10-09 15:57] OmarShehata commented on #5333
More need for depthFailMaterial on dynamic polylines [on the forum](https://groups.google.com/d/msg/cesium-dev/7dDrg0hhru0/d79guaASAgAJ).

[2018-10-09 18:13] bbehling-trimble opened #7125 "Detailed Terrain Disappears from Foreground"
When zooming in, shadows or detailed terrain (not sure which one it is) disappears from foreground when showing Bing roads, OSM, or a layer that is not imagery.

These screen shots are from the Terrain Sandcastle example.
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Terrain.html&label=All

 Image showing the detailed terrain.

![screen shot 2018-10-09 at 12 01 34 pm](https://user-images.

[2018-10-09 18:20] hpinkos commented on #7125
Hello @bbehling-trimble, I believe what you are seeing are changes in the level of detail of imagery tiles loaded in.  If you look at the Bing Maps Roads imagery using the `EllipsoidTerrainProvider` it has some mountainy looking shading:

![image](https://user-images.githubusercontent.com/3451886/46689673-6e5b9f80-cbce-11e8-8882-265bce95497d.png)

I could not reproduce this with the Natrual Earth

[2018-10-09 18:20] #7125 closed

[2018-10-09 18:50] bbehling-trimble commented on #7125
@hpinkos I don't believe this should be closed.

I used the bing road view and osm map tiles with various terrain providers and can reproduce the issue.

What should be happening is the detail should disappear from the tiles in the background, not the foreground. Current behavior seems backwards.

[2018-10-09 19:35] mramato commented on #7125
@bbehling-trimble To further elaborate on what @hpinkos was saying, the problem is that Bing Roads has built-in shading for lower levels of detail, but does not have any shading at the higher levels.  When there is no shading, you have to have lighting enabled in order to see any definition.

Lighting disabled, terrain disabled, around Everest, slightly zoomed out:

![image](https://user-images.gi

[2018-10-09 19:51] andreddosantos commented on #4863
Complete error stack:

[code]

[2018-10-09 20:14] andreddosantos opened #7127 "iOS - Local nodejs-cordova - memory leak"
Hello guys,

I'm using a nodejs-cordova plugin "https://github.com/janeasystems/nodejs-mobile-cordova" to load the tilesets on cesium when offline, the code for my server.js is this one "https://github.com/AnalyticalGraphicsInc/3d-tiles-samples/blob/master/server.js".

My tileset has about 300mb and it is loaded with the example also provided in "AnalyticalGraphicsInc/3d-tiles-samples"
[code]

Aft

[2018-10-09 20:14] shunter opened #7128 "Bing Maps imagerySets AerialWithLabels and Road are deprecated"
Making a note of this since I happened to stumble across this.

https://msdn.microsoft.com/en-us/library/ff701716.aspx

I quickly tested locally and simply changing the `imagerySet` string (which is taken from the values of the `BingMapsStyle` enum) works correctly.  I have not done any side-by-side comparisons.

[2018-10-09 20:43] bbehling-trimble commented on #7125
@mramato Thanks for reply, but really doesn't explain why an area in the foreground has the shading, while another area in the background, or even next to it at the same zoom level, does not have shading.

Like this screen shot. These areas are right next to other.

![screen shot 2018-10-09 at 12 01 50 pm](https://user-images.githubusercontent.com/43279306/46697252-70732d80-cbd1-11e8-8e5c-18037417

[2018-10-09 21:05] mramato commented on #7125
@bbehling-trimble Your arrows are pointing to two different tiles.  The "Shading" one is a zoom level 12 tile, while the "No Shading" one is a zoom level 13 tile (the level at which Bing stops shading).  Because Cesium is a 3D engine, zoom level is not constant across a view and areas further away from the camera use lower zoom levels.

I tried to recreate your view and added `TileCoordinatesImage

[2018-10-09 21:58] lilleyse commented on #7127
3D Tiles uses a pretty large tile cache by default. You may want to set [maximumMemoryUsage](https://cesiumjs.org/Cesium/Build/Documentation/Cesium3DTileset.html?classFilter=cesium3dtileset#maximumMemoryUsage) to something lower, like 128.

Also increasing [maximumScreenSpaceError](https://cesiumjs.org/Cesium/Build/Documentation/Cesium3DTileset.html?classFilter=cesium3dtileset#maximumScreenSpaceEr

[2018-10-10 01:31] andreddosantos commented on #7127
This definitely solved my memory issue!

"DeveloperError" - with less frequency but sill shows up.

Thank you very much

[2018-10-10 01:57] andreddosantos commented on #4863
DEBUG :

[code]

Result:

[code]

[2018-10-10 02:27] gtzaniboni commented on #4863
I dont know if its works, reply by the email....
André,

a função normalize não espera nunca um vetor nulo. Todavia, o próprio
canvas, quando movimentamos, pode ocasionar isso.
Já tentei falar, mas não aceitaram.

Faz assim, se a magnitude == 0 retorna o proprio vetor... isso resolve esse
bug.

ABraço,

Em ter, 9 de out de 2018 às 22:58, André dos Santos <
notifications@github.com> escreveu:

[2018-10-10 07:25] hieeyh opened #7130 "pickPosition bug"
I load a 3D tileset in the scene, but when I use pickposition to get the screen point position, the result is unstable.
code:
let ellipsoid = viewer.scene.globe.ellipsoid
let cartesian = viewer.scene.pickPosition(movement.endPosition)
var cartographic = ellipsoid.cartesianToCartographic(cartesian)
the cartographic's height is sometimets about 30, sometimes hundrends.
In addition to using my own mo

[2018-10-10 08:56] andreddosantos commented on #4863
@gtzaniboni thank you for answer, i''ve done a similar local fix myself ahah, and its kind of working, at least the app doesn't crash and i get to see the full tiles. But it would be great if someone from cesium with more context of the code, could solve it.

[2018-10-10 09:31] #7130 closed

[2018-10-10 09:47] herewaitting opened #7131 "The default axis of gltf for the 1.50 version of Cesium"
In the previous version, the trolley and four tyres were loaded normally, and the 1.50 version appeared as shown.
![car1](https://user-images.githubusercontent.com/22114883/46727752-cddfab00-ccb3-11e8-9087-f77d56240ccb.png)
![car2](https://user-images.githubusercontent.com/22114883/46727758-d59f4f80-ccb3-11e8-856f-a68879ce267c.png)

As you can see, I have 5 gltf models for a car, namely the frame

[2018-10-10 10:03] pjaustin opened #7132 "Updating a hidden polygon with defined height causes other hidden polygons with defined height to be shown"
Updating a hidden polygon can cause other hidden polygons to be shown. It appears this only affects polygons that have a defined height (either zero or non-zero).

Sandcastle example:

[code]

• Click Hide button to hide all the polygons
• Click Update green polygon button
• The blue polygon (which has a defined height) is incorrectly shown. The red polygon (which does not have a defined height) i

[2018-10-10 13:21] mramato commented on #7125
I'm not sure what you mean by tighter calculation, it's based on the amount of geometric error so we fetch the ideal tiles for a given view.  The crux of the problem here is that Bing Roads provides radically different tiles between levels 12 and 13.  If their data was consistent, you wouldn't notice the difference in shading.  I would suggest either turning on lighting in Cesium to mitigate the i

[2018-10-10 14:16] #7127 closed

[2018-10-10 14:18] hpinkos commented on #4863
@andreddosantos does this only happen on iOS?  Does the crash happen when there is no tileset loaded?  Can you paste the callstack from the unminified version of Cesium?

[2018-10-10 14:50] OmarShehata opened #7133 "Clamp Path to Ground"
This was [requested on the forum](https://groups.google.com/d/msg/cesium-dev/8R-SkHsbP78/eTVwYj1vBAAJ), to be able to clamp a `Path` to the ground, so clamping the path here for example:

https://www.google.com/url?q=https%3A%2F%2Fcesiumjs.org%2FCesium%2FBuild%2FApps%2FSandcastle%2F%3Fsrc%3DCZML%2520Path.html%26label%3DCZML&sa=D&sntz=1&usg=AFQjCNEhAeamcuv0Pp1wAn0qHzPQmQLkkQ

[2018-10-10 15:00] mramato commented on #7133
There are actually 3 different line types in Cesium: Polyline, GroundPolyline, and PolylineCollection.  Only PolylineCollection has suitable performance for dynamic polylines and that's what path uses under the hood.  In theory we could re-create a GroundPolyline every frame for the path, but it would be unacceptably slow.

[2018-10-10 15:36] bbehling-trimble commented on #7125
@mramato I guess this discussion isn't so much a discussion about map services anymore, but about calculating zoom levels for tiles that appear to be directly next to other.

I compared behaviors between OSM and Map Box. OSM does not have shading. Mapbox has shading, but this issue doesn't happen.

So now, looking at the screen grab above, I think it's quite clear that there are tiles that appear

[2018-10-10 16:43] lilleyse commented on #7125
@bbehling-trimble I think cases like this are just inevitable since distance from tile is used as part of the metric from converting geometric error to screen space error. The unshaded area seems to be close enough that it is a different zoom level than its neighbors. These are the relevant areas in the code:

Screen space error calculation: https://github.com/AnalyticalGraphicsInc/cesium/blob/mas

[2018-10-10 21:16] gtzaniboni commented on #4863
Hannah, it does not happens with me in a strict way... in other words, some
combination from pinch, rotate and other transformations done directly on
the canvas put the system in some situations that one ZERO vector was
passed to the normalize function.
We can reproduce it in a strict way forcing the normalize of a ZERO vector,
which is worng, but is the way to reproduce the error. But, the error

[2018-10-11 01:10] herewaitting commented on #7131
Hey, here's my model file. There are actually four tires. I'm positioning them through the matrix. The problem with the 1.50 version will be in the last email, and it will be wrong to delete them and re-render them.
From the error I found that the file was normal_hou_ss_l.gltf. I didn't understand why the first rendering didn't report an error the second time, as if the text in the gltf file had b

[2018-10-11 06:02] bmckilligan opened #7136 "static URL containing parameters re encoded"
When  providing a  string URL  for an image resource, for an entitiy material or a SingleTileImageryProvider , where the url  includes query parameters ,the URL that is fetched  has parameters extracted , url encoded, and the recombined to form a new url.

a url defined as
<code>https://someurl.com/imageApi?location=-123,46 </code>
has the endpoint fetched
<code>https://someurl.com/imageApi?locati

[2018-10-11 08:25] GoodLuckIce opened #7138 "If depth detection is turned on, (viewer.scene.globe.depthTestAgainstTerrain = true). Then (classificationType = Cesium.ClassificationType.CESIUM_3D_TILE) is invalid, is there a way to solve it?"
If depth detection is turned on, (viewer.scene.globe.depthTestAgainstTerrain = true). Then (classificationType = Cesium.ClassificationType.CESIUM_3D_TILE) is invalid, is there a way to solve it?
![image](https://user-images.githubusercontent.com/9364696/46790720-2a090480-cd72-11e8-9b0b-93e10fa77f08.png)

[2018-10-11 13:39] lilleyse commented on #7138
Thanks for the report @GoodLuckIce. This is a duplicate of https://github.com/AnalyticalGraphicsInc/cesium/issues/6568 which we hope to fix as part of the effort to enable terrain by default.

[2018-10-11 13:39] #7138 closed

[2018-10-11 14:54] ggetz opened #7139 "Clamp 3D Tileset Relative to Ground at Runtime"
Add option to clamp 3D Tileset features relative to ground at runtime, similar to https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html?src=Geometry%20Height%20Reference.html

[2018-10-11 15:17] OmarShehata commented on #2132
OSM has global vector data, it would be cool to support that in Cesium and eventually serve it from ion:

https://openmaptiles.com/downloads/dataset/osm/#0.23/0/-26

[2018-10-11 15:38] OmarShehata commented on #6149
@ggetz it looks like the extension was renamed from `KHR_technique_webgl` to `KHR_techniques_webgl` at some point, (it doesn't have the `s` [in 1.49](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.49/Source/Scene/ModelUtility.js#L145)) but I don't see a breaking change announcement for it in changes.md.

This is breaking some people's tilesets (see [forum thread](https://groups.google.com/

[2018-10-11 16:11] ggetz commented on #6149
The extension name itself changed after he initial draft. They should update their tilesets since it's no longer valid. I think checking ad throwing a `oneTimeWarning` which we eventually remove would work. @lilleyse sound good?

[2018-10-11 17:04] OmarShehata commented on #6149
I just spoke with @lilleyse offline, and it sounds like even though it was in 1.49, it was never officially supported, and that it's not just a naming change, that the old tilesets wouldn't really work out of the box, so it shouldn't be something we can support.

Perhaps the best course of action here is to update those old tilesets with [obj2gltf](https://github.com/AnalyticalGraphicsInc/obj2gltf

[2018-10-11 19:25] mramato opened #7141 "Remove Resource._Implementations.loadXXX"
As mentioned in #7140 `Resource._Implementations.loadAndExecuteScript` could be simplified to not take a `deferred`.  It also currently takes a `functionName` parameter that isn't used.

While this is an easy change to make, the problem is that the tests really abuse `Resource._Implementations.loadXXX` spies for mocking and cleaning up the code means the tests all have to be updated, which may not

[2018-10-12 12:13] SunBlack opened #7143 "BingMapsGeocoderService crashes since Cesium 1.49"
Since Cesium 1.45 BingMapsGeocoderService is no longer the default geocoding service. In changelog following changes are recommend in case you want still use it

[code]

This works fine until Cesium 1.48. But with 1.49 & 1.50 you got following error with this if you search for a city:

RangeError: Invalid array length
RangeError: Invalid array length
    at E (http://localhost:8080/resources/Cesiu

[2018-10-12 15:14] shehzan10 opened #7144 "Ground Polyline Primitive has gaps around IDL and Prime Meridian"
Sandcastle example: [Drawing on Terrain](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html#c=tVdtb9s2EP4rRL5YBjzZaZe9NG6w1PEaY3ZjxG6DrSkSRjpbRGlSICk73pD/vqMoyaLtOg2G+Usi3gvvnnvuSC6pIksGK1DkLRGwIj3QLFuEn/K1oBHlnz0pDGUCVKNFyD+3guBPA4fIMCkGImYRNVKRN2RGuYaWU2BiJt/Jx61VA0qhq7GSSxaDtSl2jBRQAzdS8XjqdILmrXhqnt4KF2AIjwZEHBT6btF9DIROMRipRuyRCWtSGbkEblg8BxNq3ATEJKUR9JcgzCUVMUclBQu5hIFIM3Oe51RuMtky

[2018-10-12 17:49] OmarShehata commented on #7143
I can confirm this crash. Looks like you don't even need to change anything, it even happens in the Hello World.html. All you have to be doing is using the `Build/Cesium.js`. It doesn't happen in the Unminified version.

So far I've narrowed it to down `updateFrustums` in `View.js`. It seems that `near`, `far`, and `numFrustums` are passed in a `NaN`. I'm not sure why yet this would only be the ca

[2018-10-15 07:20] RemoteSensingFrank opened #7146 "Can the Cesium add the DEM service published by arcgis?"
I want add the DEM service published by arcgis. I want to know the method to add DEM layer. I tried all the API about
![image](https://user-images.githubusercontent.com/25923674/46935371-8bd8af80-d08d-11e8-9b21-a6eb3ee65f32.png)but did not work. My code is like:
var viewer = new Cesium.Viewer('cesiumContainer', {
    imageryProvider : new Cesium.ArcGisMapServerImageryProvider({
        url : 'http

[2018-10-15 07:35] addriumruss opened #7147 "Help! How to change direction of a gtlf model dynamically with js?"
Hi,
can anyone help guiding me how to change the direction dynamically in js?
here is my code and it doesn't wok:

/******   this is the drone definition, run once  **********/
// Load a drone flight path from a CZML file
    var dronePromise = Cesium.CzmlDataSource.load('./SampleData/sampleFlight_nj.czml');
    // Save a new drone model entity
    dronePromise.then(function(dataSource) {

[2018-10-15 10:12] thw0rted commented on #4346
Be aware, you can wind up with a corner that's off the ellipsoid (i.e. out in space) -- your code would throw because I think in that case `pickEllipsoid` returns `undefined`.

[2018-10-15 13:51] lilleyse commented on #7131
@herewaitting I'm not sure if the model file went through. You should be able to upload it as part of a github comment.

As for the crash, it sounds like a caching issue. @ggetz could you investigate once we have the model?

[2018-10-15 14:40] herewaitting commented on #7131
Later,
I use version 1.50 alone, without any other code, just add these models, and then remove and reload will not report errors, I do not know what else I can provide to help you find the cause of the error, if you think, I hope to contact you in time.
Thanks!

------------------ 原始邮件 ------------------
发件人: "Sean Lilley"<notifications@github.com>;
发送时间: 2018年10月15日(星期一) 晚上9:51
收件人: "AnalyticalG

[2018-10-15 14:47] lilleyse commented on #7131
@herewaitting Since you are replying by email the attachments aren't getting uploaded to github. If you drag the files onto a new github comment they should get uploaded. Or you can email them to one of us directly - my email is sean@cesium.com.

[2018-10-15 15:05] mramato commented on #7133
PolylineCollection is a fundamentally different beast than GroundPolyline.  While it's true that interpolation happens every frame and new positions get generated, the methods that takes those positions and renders them are vastly different.  This is also why PolylineCollection doesn't support features like per-vertex colors.

We definitely want to improve the area of Cesium, but there's no ETA as

[2018-10-15 15:08] herewaitting commented on #7131
The appendix just mentioned refers to the file with cache error? If so, I remember uploading the previous email. If not, I'd like to tell me which files to upload and I'll upload them to the company tomorrow.

------------------ 原始邮件 ------------------
发件人: "Sean Lilley"<notifications@github.com>;
发送时间: 2018年10月15日(星期一) 晚上10:48
收件人: "AnalyticalGraphicsInc/cesium"<cesium@noreply.github.com>;
抄送: "s

[2018-10-15 15:14] lilleyse commented on #7131
If you could upload all 5 models again that would be helpful. That should include the car and each of the tires. We'll look out for them tomorrow, thanks @herewaitting!

[2018-10-15 16:56] hpinkos commented on #7147
Hello @addriumruss,  these Sandcastle examples may help:
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Interpolation.html&label=All
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Models.html&label=All

If you are still having trouble, please ask your question on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev

We use GitHub exclusively for tracking bugs an

[2018-10-15 16:56] #7147 closed

[2018-10-15 17:05] hpinkos commented on #7146
Hello @RemoteSensingFrank,  the `CesiumTerrainProvider` is only compatible with heightmap and quantized mesh terrain tiles (see https://cesiumjs.org/data-and-assets/terrain/formats/)

CesiumJS does not have an ArcGis compatible terrain provider because ArcGis Image Server does not output terrain tiles in a web friendly format.  This is something we might look into soon, but in the meantime you can

[2018-10-15 17:05] #7146 closed

[2018-10-15 17:11] hpinkos commented on #7144
CC @likangning93

[2018-10-15 17:12] hpinkos commented on #7143
@lilleyse @bagnell there seems to be an influx of camera related `NaN` crashes.  Did something change in the last two releases?

[2018-10-15 17:47] hpinkos commented on #7136
Hi @bmckilligan,  I'm sorry I don't entirely understand the problem here.  What is making your second query parameter invalid?

[2018-10-15 17:49] hpinkos commented on #4863
Thanks for the update @gtzaniboni.  I noted in https://github.com/AnalyticalGraphicsInc/cesium/issues/7143#issuecomment-429937133 that there seems to be an influx of camera related crashes and I'm hoping our graphics team will be able to look into it soon.

[2018-10-15 19:40] lilleyse commented on #7120
The example I posted should now work in #7115.

[Example on offscreen-picking branch](http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/offscreen-picking/Apps/Sandcastle/index.html#c=fVNtb9owEP4rHl8IEjPhna0UTaOdioSgKlGnSpEm4xhizbEj24HRqf99F5vQtJXGB+Tn7p57ee5yIBodODsyja6RZEc0Z4YXGX50tqBJHZwraQmXTDdbV7E8AMdQJhlQPBc7CK5Y8h0KPjmIDclywe4Y36d2U+S50pYlLfQ3lgh+VEmjBMNC7YNmlHKDtlodDTSSKGaQVBYZT0L

[2018-10-15 19:47] #7111 closed

[2018-10-15 20:03] OmarShehata opened #7148 "Expose globe._surface._tilesToRender"
The use case is getting the loaded `level` of the tiles, which was recently [rediscovered on the forum](https://groups.google.com/d/msg/cesium-dev/CmTu8CICUmo/ADerwio3BQAJ) and originally [posted here](https://groups.google.com/d/msg/cesium-dev/cIHbsAKnRa8/kg8x5PDPEAAJ).

If this is already possible to do with the public API please let me know and feel free to close.

[2018-10-15 20:06] hpinkos commented on #7148
@OmarShehata can you explain the use case for this please?

[2018-10-15 20:09] OmarShehata commented on #7148
@hpinkos it's described in more detail in the first linked thread, but basically if you want to hide a datasource when a certain level of imagery loads (because you're using a GeoJSON as a base map and there's no way to put entities under imagery).

The other thread seems to just be requesting additional information from their server based on what's in view.

[2018-10-15 20:11] OmarShehata commented on #6330
Reported again on the forum: https://groups.google.com/d/msg/cesium-dev/2rbQUz8AjDA/qBDd6fl2BQAJ

[2018-10-15 20:38] hpinkos commented on #7143
@mramato do you think this could be related to your geocoder fly to changes?

[2018-10-15 20:58] mramato commented on #7143
Yes, this has nothing directly to do with Bing, it's just getting triggered by their results.  I'll open a PR as soon as I get a chance.

[2018-10-15 21:18] shunter commented on #7072
I'm seeing the same thing with CZML, so it's not related to callback:

https://cesiumjs.org/Cesium/Build/Apps/CesiumViewer/?source=https%3A%2F%2Fgist.githubusercontent.com%2Fshunter%2Fab554c40f21e4f6873b0e07725ea0302%2Fraw%2Fe89b5663f6ec59a38357dcf42e31497f06f67e5d%2Fout.czml

(turn off terrain and zoom to AGI HQ)

![capture](https://user-images.githubusercontent.com/32828/46978974-42449080-d09e-1

[2018-10-15 21:20] shunter commented on #7072
Visually it looks like the polyline is rendered behind the globe at low altitudes.

![capture](https://user-images.githubusercontent.com/32828/46979060-8afc4980-d09e-11e8-9b4f-c7ac7c6f2d08.gif)

[2018-10-15 21:21] mramato commented on #7143
Also added `next release` flag so I don't forget.

[2018-10-15 21:24] OmarShehata opened #7149 "Style Photogrammetry Models with Styling Language"
This came out of [this forum discussion](https://groups.google.com/d/msg/cesium-dev/bpBtoVUQgwA/Yw327kv8BAAJ). If you try this [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=rVVdb9s2FP0rhPcgaZUpJ022wXGDpR/ACqxpkXh78gslXUtcKFIgKSfukP++S0qUpXTbyyY7Mcn7cQ4vz6UOTJMDh0fQ5A2R8EjegeFdQ3/3a3FU+Ok7JS3jEnSUkj93kuBjalaqR0PWxOoOdvI5udrJnexzUVOABFoJlQMtobX1Foy9qTCHsVvQGgeI5yL7qIHFJ1WCQMOAUQO

[2018-10-16 03:58] GoodLuckIce opened #7150 "I want to use: (shape file, GeoJSON) as a pipeline import (as shown below), is there any way to achieve it?"
I want to use: (shape file, GeoJSON) as a pipeline import (as shown below), is there any way to achieve it?

![vqp87 4l2j xghh 5ded v](https://user-images.githubusercontent.com/9364696/46991705-9d779100-d139-11e8-89c7-77d74a7c0f75.png)
![image](https://user-images.githubusercontent.com/9364696/46992246-b5e8ab00-d13b-11e8-834a-1158e49d2461.png)

[2018-10-16 04:57] herewaitting commented on #7131
[Cesium.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/2481485/Cesium.zip)

[2018-10-16 09:37] herewaitting opened #7151 "Doesn't seem to support gl_VertexID."
:exclamation: Please use the [forum](https://groups.google.com/forum/#!forum/cesium-dev) for asking questions about how to use Cesium and best practices. The core Cesium team actively monitors the forum and we love seeing what people are working on! :exclamation:

If my shader is used in gl_VertexID, the program will report it wrong, say it undeclared identifier

[2018-10-16 13:14] lilleyse commented on #7131
Thanks, we'll start looking into this now.

[2018-10-16 14:18] njrivera opened #7153 "'instanceIndex is out of range' Error"
I'm periodically (consistently with a particular action) getting the `instanceIndex is out of range` described in this issue: https://github.com/AnalyticalGraphicsInc/cesium/issues/4983

After a bunch of debugging I've been able to reproduce the error in the 2 sandcastle examples given below. These are almost identical to the code in this comment on the 4983 issue -> https://github.com/AnalyticalG

[2018-10-16 14:43] hpinkos commented on #7150
Hello @GoodLuckIce.  Cesium has GeoJSON support, see this example: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=GeoJSON%20and%20TopoJSON.html&label=DataSources
I would recommend converting your shapefiles to GeoJSON.

Please ask questions like this on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning new features.

[2018-10-16 14:43] #7150 closed

[2018-10-16 14:44] hpinkos commented on #7151
@herewaitting in the future, please ask questions like this on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning new features.  Thanks!

[2018-10-16 14:44] #7151 closed

[2018-10-16 15:07] hpinkos commented on #7153
Wow, thank you so much for the detailed issue write up and code example @njrivera!  This is incredibly helpful for us for fixing the issue.

I opened this PR, which has a similar fix to the one you proposed #7155
We should be able to get this merged in time for the next release . Thanks again!

[2018-10-16 15:19] #7143 closed

[2018-10-16 15:19] cesium-concierge commented on #7143
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/y5tWLNuf--8/PcuJd-cPAgAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-10-16 15:20] hpinkos commented on #7143
Thanks for the bug report @SunBlack!  This has been fixed and will be included in the 1.51 release available November 1st.

[2018-10-16 16:52] cherukumilli commented on #7109
@mramato
I see you guys posted some more questions to google about the chromium bug.
Looks like Chrome 70 will land today or tomorrow as per https://techcrunch.com/2018/10/08/chrome-hundreds-of-sites-to-break/

is there a work around other than disabling the terrain provider for now?

[2018-10-16 17:04] mramato commented on #7109
@cherukumilli Thank for the heads up, the issue I linked to is marked as `ReleaseBlock-Stable`, so Chrome 70 can't go out until it's addressed one way or another.

That being said, we have a separate change that is being deployed to production later today, so that will mitigate the issue whether they decide to do anything about it on their end.  I'll bump/close this issue once that is in place.

[2018-10-16 19:34] mramato commented on #7109
While Chrome 70 stable did indeed come out today, it does not have the regression which was causing terrain not to load.

At the same time, the change I mentioned above is now live on our servers anyway, so everything is working as expected in Canary, even with the change.

@cherukumilli I'm going to close this, but please let me know if you are still having issues.  Thanks.

[2018-10-16 19:34] #7109 closed

[2018-10-16 19:47] cherukumilli commented on #7109
@mramato
Chrome 70 started rolling out today. I just checked my browser version and I got upgraded to chrome 70. Everything is working fine though. Looks like your production push fixed the problem on my side. :)

[2018-10-16 21:04] pkuwwt opened #7158 "Geocoder relies on pragma error"
The Geocoder.flyToDestionation accept either a coordinate or a rect region.

However, it distinguishes between them by a DevelopError from the pragma in Cartesian3.normalize.

So if you remove all the pragma block in code, then there will be a problem. Geocoder will use the wrongly normalized coordinate other than another option: rect.

I noticed that the official build just removes the pragma com

[2018-10-16 21:06] hpinkos commented on #7158
Hi @pkuwwt, I believe we just fixed this today: https://github.com/AnalyticalGraphicsInc/cesium/pull/7154

The fix will be included in the 1.51 release available on November 1st.  If this is a different issue, let me know and I can reopen this issue.  Thanks!

[2018-10-16 21:06] #7158 closed

[2018-10-17 02:41] GoodLuckIce commented on #7150
Ok, understand, I will remember, thank you very much.

[2018-10-17 06:52] YuHuang89 commented on #7133
Thank you very much, Mramato!

[2018-10-17 06:58] defineconst opened #7159 "defaultAccessToken"
Cesium.js:445 GET https://api.cesium.com/v1/assets/2/endpoint?access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4MDQxYTFiOC0wOThjLTQ0YTItYWIwZC1iYTFmNjQ1MmM5YmYiLCJpZCI6MzgxNywic2NvcGVzIjpbImFzciIsImdjIl0sImlhdCI6MTUzODk4MjM2N30.uh3IqH3dD5TEUyIjSYLQqYvmdRRJ4rQihHjNYQCqdd8 net::ERR_CONNECTION_ABORTED

I don't use Cesium's terrain service. The earth scene is still black. How do I solve it

[2018-10-17 12:03] emloxe opened #7160 "If there are multiple entities walls using different kinds of ImageMaterialProperty, then the entities cannot be removed."
Sandcastle example:

[code]

Browser: Google Chrome  69.0.3497.100

Operating System: win 10

[2018-10-17 12:50] RemoteSensingFrank commented on #7146
Ok，thanks a lot

[2018-10-17 13:04] RemoteSensingFrank opened #7161 "The Pointcloud data cannot display"
Hello，in my work I want to publish the data by IIS and using cesium to display the data and I published two types of data which are pointCloudBatched.pnts and pointClassify/content.geom in sample data. The former can be displayed and the latter cannot and here is my code:
// An example showing a point cloud tileset classified by a Geometry tileset.
var viewer = new Cesium.Viewer('cesiumContainer')

[2018-10-17 13:27] lilleyse commented on #7161
Did you mean to use the geometry tileset url instead of the PointCloudBatched url? Only geometry tiles and vector tiles can be used to classify other tilesets.

If you have more questions, please start a discussion on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev. If there is a bug we can reopen this issue later. Thanks!

[2018-10-17 13:27] #7161 closed

[2018-10-17 14:32] mramato commented on #7159
See my reply here: https://groups.google.com/d/msg/cesium-dev/dclHaPSP3Og/xAP5pG_KAwAJ

[2018-10-17 14:32] #7159 closed

[2018-10-17 14:32] cesium-concierge commented on #7159
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/dclHaPSP3Og/xAP5pG_KAwAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-10-17 14:52] hpinkos commented on #7160
Thanks for including the code example @emloxe!  I'll try to figure out the problem soon.

This is the code example I was testing with:

[code]

[2018-10-17 14:58] OmarShehata commented on #5231
Came up [on the forum](https://groups.google.com/d/msg/cesium-dev/n0_H0cobX40/3TnwRGNfBgAJ). They provided [this Sandcastle](https://www.google.com/url?q=https%3A%2F%2Fcesiumjs.org%2FCesium%2FBuild%2FApps%2FSandcastle%2F%23c%3DfVLfa9swEP5XhF%2FigJGTmqZz44ayFMogY4OWPazugypdEzFZMpLskIz877tEThOvpXry3ffjrE%2FXMkv4tlLkhjz9LTXBU0ZSlBG5xg9heFOB9mWUHDHNKujQ%2Be%2FvC3IPpgJvJbhr8tOojZIazugtWCeN7hRjOiqjUu8S8

[2018-10-17 15:23] veolata opened #7162 "3dtiles loaded then exit"
Why loading my 3dtile, still get an error. It is loaded, but it seems reverse and after loading, it disappear. Tile is here: http://120.26.46.56/pro.zip

and test code is here
[code]

[2018-10-17 17:54] bbehling-trimble commented on #873
Has terrain support been added? When I add a KML and a terrain provider, the KML moves around when I pan the globe. When I turn off terrain, its fine. Also tried setting clampToGroup: true and still an issue.

[2018-10-17 18:02] hpinkos commented on #873
@bbehling-trimble yes, some terrain support has been added.  In addition to passing in the `clampToGround: true` flag to the `KmlDataSource`, you need to make sure your KML has the correct altitude mode set for placemarks. ie `<altitudeMode>clampToGround</altitudeMode>`.  Note that altitude modes like `clampToSeaFloor` are not supported, and `relativeToGround` has support for some placemark types

[2018-10-17 18:59] lilleyse commented on #7162
Thanks for the download link, however the download is slow (about 10Kbps) and often gets paused. Would you be able to host the tileset on a faster site?

In the meantime could you upload `Production_2.json` directly to github and maybe include a screenshot or gif of the problem? Also what version of Cesium are you using?

[2018-10-17 21:06] mramato commented on #873
Thanks for the example file.  At first glance, this looks like a bug.  I'll take a closer look and let you know.

[2018-10-17 21:31] hpinkos commented on #7076
This is failing most of my branches 😖

[2018-10-18 10:18] binfenshijie opened #7166 ""3dtile model adjust angle for tileset" how to do it"
var m = tileset_test.modelMatrix;
    var m1 = Cesium.Matrix3.fromRotationY(Cesium.Math.toRadians(RotateY));
    Cesium.Matrix4.multiplyByMatrix3(m,m1,m);
    tileset_test.modelMatrix = m;
example:
http://cesium.xin/wordpress/archives/106
but now it do not work for 1.4 or heigher
now how to do it
thanks

[2018-10-18 13:48] lilleyse opened #7167 "Crash after adding clipping plane to empty clipping plane collection"
Cesium crashes when adding a clipping plane to an empty clipping plane collection. It does not crash if the collection already has at least one plane in it. Seems to affect all the different types of objects that clipping planes can be applied to.

[Model Example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=fVRRb9owEP4rES8EKXPCoO1GaTVGJ+1hU1lB6wvSZOKDWHPsyHbo2NT/vrOdQGDSIgT23Xff3X13YU91tO

[2018-10-18 13:50] lilleyse commented on #7167
@OmarShehata could you investigate this?

[2018-10-18 14:29] OmarShehata commented on #7167
I'm taking a look now.

[2018-10-18 15:22] ggetz commented on #7131
Hi @herewaitting, I'm having trouble duplicating the error. Can you share some sample code using [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases) that reproduces the crash?

[2018-10-18 16:00] hpinkos commented on #7166
Hello @binfenshijie, yes you should be able to set the tileset modelMatrix to place the tileset

[code]

We have a tileset position tool for positioning tilesets tiled on Cesium ion.  Find out more at https://www.cesium.com
Alternatively we have the same tool available for purchase as part of the Cesium ion SDK.  Send an email to tim@cesium.com for details.

[2018-10-18 16:00] #7166 closed

[2018-10-18 17:36] lilleyse commented on #7166
Given that this sounds like a regression, this might be related to https://github.com/AnalyticalGraphicsInc/cesium/pull/6755#issuecomment-425454485 and
https://github.com/AnalyticalGraphicsInc/cesium/issues/7036.

[2018-10-18 21:44] mlptownsend commented on #3062
Is anyone working on adding polylineVolume to CZML? At first glance it doesn't appear to be more any more difficult to add in than the referenced commit that added corridors. Maybe needing a Cartesian2 analog of processPositions for the shapes property.

[2018-10-18 21:55] hpinkos commented on #3062
@mlptownsend this hasn't been a priority for us so I don't think we'll be adding it any time soon.  However, if you would like to open a pull request adding support, we're happy to review it!  Thanks

[2018-10-19 01:36] binfenshijie commented on #7166
yes, same question....

but i really can not understand the English better....
and i want to know how to change my code for example ：
------
    var m = tileset_test.modelMatrix;
    var m1 = Cesium.Matrix3.fromRotationX(Cesium.Math.toRadians(RotateX));
    Cesium.Matrix4.multiplyByMatrix3(m,m1,m);
     tileset_test.modelMatrix = m;
-------
you can give some code for me????

[2018-10-19 12:07] xtassin opened #7169 "GroundPolygons not visible on iOS when too small"
Polygons entities are not visible on iOS (iPad2 + Safari) when smaller than a certain threshold (around 1 deg of lat/lon)

[code]

[2018-10-19 12:19] likangning93 commented on #7169
Hi @xtassin, this is the same problem as https://github.com/AnalyticalGraphicsInc/cesium/issues/6739, so I'm going to close this as duplicate. Thanks for the heads up though, more reasons to take another look at this soon.

The gist is that floating point textures on iOS devices behave differently than on desktop, although behavior also varies between Nvidia and Intel. In the worst case we can det

[2018-10-19 12:19] #7169 closed

[2018-10-19 16:16] OmarShehata opened #7171 "Camera picking doesn't work when globe is off"
The context for this is trying to view a model with the globe turned off. See [this thread](https://groups.google.com/d/msg/cesium-dev/fbDaRU9xIPI/FFTJQynCDAAJ) for more background.

The problem starts with the fact that this particular model is not on the surface of the earth. But this is actually not a problem when the globe is turned on.

To see what I mean, go to this [Sandcastle](https://cesi

[2018-10-19 17:13] #7153 closed

[2018-10-19 19:12] pjcozzi commented on #5963
Duplicate with #6624.

[2018-10-19 19:12] #5963 closed

[2018-10-19 19:13] pjcozzi commented on #6624
Resources from #5963

* https://github.com/mrdoob/three.js/pull/12456
* https://twitter.com/donrmccurdy/status/925800420101931008
* https://twitter.com/superhoge/status/1052609244824887296

[2018-10-19 20:59] #4195 closed

[2018-10-19 20:59] cesium-concierge commented on #4195
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/usloCw9TvAM/UjLQtE5EBQAJ
https://groups.google.com/d/msg/cesium-dev/OErvYg3v_mY/n0cnLWrYCQAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configu

[2018-10-20 21:01] veolata commented on #7162
The newest cesium -->1.5
I built another but much smaller tileset(30M) to reproduce the scenario.

Download link.
http://120.26.46.56:9999/s.zip
Many thanks~

[2018-10-22 09:32] riematrix opened #7176 "black stripes on texture when shadow enabled on mobile devices"
Shadows not working as expected on andriod/ios browsers.
on Android there are black stripes when zoom in;
on ios the shadow is not displaying correctly.

Sandcastle example: 3D Tiles Photogrammetry.html

var viewer = new Cesium.Viewer('cesiumContainer', {
    terrainProvider: Cesium.createWorldTerrain(),
    shadows:true
});

var tileset = new Cesium.Cesium3DTileset({
    url: Cesium.IonResource.f

[2018-10-22 13:19] hpinkos commented on #7171
@OmarShehata for this case, the user will probably want to implement their own camera controls. See this tutorial: https://cesiumjs.org/tutorials/Camera-Tutorial/

[2018-10-22 13:20] mramato commented on #873
@bbehling-trimble KML requires `<tessellate>1</tessellate>` be set on line strings in order for them to conform to terrain.  None of the strings in the file you posted have this set.  I updated the file and now it loads as expected in Cesium.

[Dimensions2018OffsiteScans2.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/2501430/Dimensions2018OffsiteScans2.zip)

That being said, I'm not s

[2018-10-22 13:53] hpinkos commented on #7176
@riematrix can you paste a screenshot of what you're seeing please?

[2018-10-22 14:02] hpinkos commented on #7160
Thanks again for reporting this @emloxe!  This was fixed in #7163 and will be included in the 1.51 release available on November 1st.

[2018-10-22 14:03] hpinkos commented on #7153
Thanks again for reporting this @njrivera!  I had seen this crash pop up occasionally but I could never figure out a way to reproduce it.  Your test case helped a lot.  A fix for this has been merged and will be included in the 1.51 release available on November 1st

[2018-10-22 15:14] riematrix commented on #7176
here is a screenshot of one android device:

![_20181022225754](https://user-images.githubusercontent.com/1978248/47300915-39306200-d650-11e8-82a0-915620ef14b6.jpg)

on ios the result of shadow can not be recorgnized.

[2018-10-22 15:14] bbehling-trimble commented on #873
@mramato Thanks!

[2018-10-22 15:38] hpinkos commented on #7176
Thanks @riematrix!  @lilleyse any ideas?

[2018-10-22 16:59] #7132 closed

[2018-10-22 17:05] njrivera commented on #7153
Awesome Thanks!

On Mon, Oct 22, 2018 at 10:03 AM Hannah <notifications@github.com> wrote:

--
[image: www.novetta.com]

Natanael Rivera

*Software Developer*

600 South Magnolia Avenue

Tampa, FL 33606

Email  nrivera@novetta.com

Mobile 813-334-6142

[2018-10-22 17:06] hpinkos commented on #7132
Thanks again for reporting this @pjaustin!  The fix in #7156 has been merged into master and will be included in the 1.51 release available November 1st.

[2018-10-23 02:05] a0026 opened #7178 "Full of stripes when I open the shadow feature on mobile devices"
When I use the shadow feature on mobile devices, I found that there are many shadows on surface of the model. I think there may be some bugs.

[2018-10-23 07:24] addriumruss opened #7179 "can anyone show how to load a .dem file with cesium?"
thanks:)

[2018-10-23 13:28] lilleyse commented on #7176
We've noticed some aliasing in iOS, likely due to less depth buffer precision https://github.com/AnalyticalGraphicsInc/cesium/issues/4752. Some Android devices might be having the same problem.

There's also a separate issue for poor shadows on photogrammetry, or really any models that don't have normals. https://github.com/AnalyticalGraphicsInc/cesium/issues/5723 has some details. But on desktop

[2018-10-23 13:30] lilleyse commented on #7178
Hi @a0026, we actually had a very similar issue opened yesterday: https://github.com/AnalyticalGraphicsInc/cesium/issues/7176

I'm going to close this and link to it from that issue.

[2018-10-23 13:30] #7178 closed

[2018-10-23 13:30] lilleyse commented on #7176
Also brought up in https://github.com/AnalyticalGraphicsInc/cesium/issues/7178.

[2018-10-23 13:33] lilleyse commented on #5697
This might have started working again since this issue was opened.

This demo works for me in IE:
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/gallery/Shadows.html

[2018-10-23 15:20] OmarShehata commented on #7179
Hey @addriumruss ! For general questions like this, please [use the forum](https://groups.google.com/forum/#!forum/cesium-dev). If you search there often times you'll find it's already answered before. Here's a thread about how to work with .dem files in CesiumJS:

https://groups.google.com/d/msg/cesium-dev/bjXTc6p1h_M/rs5uq4ZMBgAJ

[2018-10-23 15:20] #7179 closed

[2018-10-23 15:20] cesium-concierge commented on #7179
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/bjXTc6p1h_M/rs5uq4ZMBgAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-10-23 15:34] OmarShehata opened #7180 "Entity position doesn't apply to polygons"
This seems like such a fundamental thing that it must be an intended behavior, but I'm bringing it up here because I feel like it's confusing and I haven't found any issues discussing it.

Let's say you have a polygon entity:

[code]

Looks great. Let's say you wanted to move it just slightly, so you define a position offset:

[code]

This has no effect. This is confusing because the docs imply th

[2018-10-23 15:58] hpinkos commented on #7180
@OmarShehata `position` applies to certain entity types like labels, billboards, models, ellipses, pretty much any entity type that has a singular position.  It does not apply to geometry types with multiple positions like polygons, polylines and walls.  I think we should just clarify the documentation, I don't think this is a change we would want to make in the near future.  Applying a `modelMatr

[2018-10-23 16:05] hpinkos commented on #5697
Yep, looks good

[2018-10-23 16:05] #5697 closed

[2018-10-23 20:13] #7120 closed

[2018-10-23 20:18] #6640 closed

[2018-10-24 09:14] riematrix commented on #7176
@lilleyse I tried the official demo which using the single plane model. The shadow looks ok during rotation on  ios. Maybe it's a problem of shadow on 3d tilesets?

[2018-10-24 14:10] lilleyse commented on #7176
@riematrix thanks for checking that out. Then it is likely https://github.com/AnalyticalGraphicsInc/cesium/issues/5723 that is responsible for a lot of the aliasing.

[2018-10-24 15:42] drmoose commented on #4368
For others who find this bug because `pickPosition` is wildly inaccurate and seems to change based on the camera position, on my system (Linux / Firefox / nvidia) the entire problem turned out to be [CanvasBlocker](https://github.com/kkapsner/CanvasBlocker/) intentionally tampering with the WebGL APIs that Cesium uses to query the depth buffer to prevent that from being used for [fingerprinting](h

[2018-10-24 16:06] EdenEdk opened #7184 "Problem with drawing primitives collections of labels, billboards and points, memory leak?"
Hey! so this is the second time i am in this situation, the first time was about half a year ago but mange to handle this but this time i got no idea what is goin on..
I use cesium 1.48
so i am trying to draw complex drawings for alot of elements.. over 40k
each element hold multiply points, billboards and labels but only 1 polyline
so draw into 4 collections:
1 entity
x number of labels
x number

[2018-10-24 16:19] hpinkos commented on #7184
Thanks for bringing this up @EdenEdk!  For labels, one billboard is used per character to visualize the label.  Once the labels are removed, we keep these billboards around to be reused later when you create another label, because reusing a billboard has better performance than always creating new ones. However, I do agree it doesn't make sense to keep around such a large number of these objects a

[2018-10-24 18:36] OmarShehata opened #7185 "perPositionHeight reversed material"
In [this Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=tVNRb9QwDP4r0fGwm1Tau20I1N1OjDFpSJNADCEhilDaem1YGhcnvVuH9t9x096uuwnelofK/mznsz83K0lipWANJE6EgbU4A6uaKvzqsele5t0zNE4qA7QXiD+JEXxsievPYHKgS8T6nAjJilhcS20heEhpdH5qVCUdcMxRA4m53z9OTGJWnjgHPNdQgXFMn2PWdGZYgBvQd+2HfLrnSCrN5NtKDinXck3fe+h9BTaUeT4dOqxRtwWaeNNxd0oFJCkr23gz6Jkkx5Y0h+E1YfUeCgKwp0SyvQBVlM5Ov2/ruzOfz4LDWTCf8QnE09jRv2IH/4

[2018-10-24 18:38] mramato commented on #7185
Perhaps the normals are wrong?  @hpinkos any ideas?

[2018-10-24 18:47] OmarShehata commented on #6783
Came up on the forum [here](https://groups.google.com/d/msg/cesium-dev/ku9822o-t8I/iEqGNEPdBgAJ).

[2018-10-24 19:05] hpinkos commented on #7185
Not sure what's going wrong.  It shows up correctly using the primitive API and backwards using the entity API.  I'll have to take a closer look to see where the difference is.  It also shows up the correct way if you move the polygon to the western hemisphere.

This is the code I was testing with.

[code]

[2018-10-24 21:05] OmarShehata commented on #7185
Shouldn't the winding order of the vertices determine which direction the polygon is facing? That way the user in this case has control over it as opposed to having to deal with that Cesium guesses.

[2018-10-24 21:12] GatorScott commented on #7185
Should treat like any other polygon and use winding order to define "front".  Maybe I want to display something in the sky viewed from near the surface of the planet.

[2018-10-24 21:53] hpinkos commented on #7185
Winding order is likely why the polygon in the eastern hemisphere was backwards but if you negated the longitude values to put it in the western hemisphere it was forwards.  Cesium uses counter-clockwise rotation for polygon positions and the input positions from that sample are clockwise.

However, our `PolygonGeometry` will detect if the positions are CW and reverse them automatically so both wi

[2018-10-24 22:08] hpinkos commented on #7185
Upon taking a closer look at the code, `CoplanarPolygonGeometry` needs to remain winding order indifferent at this time.  Winding order gets complicated because of our support for polygons with holes.  It is certainly something we can revisit in the future, but it's not a common use case and not a priority at this time.

[2018-10-25 00:23] pjcozzi opened #7189 "Hide atmosphere until globe is ready to render"
When Cesium first loads, we often see the white/red/yellow artifacts that are part of the sky atmosphere that are "under/behind" the globe while the globe loads.  It doesn't bother us, but I think it looks like a bug/artifact to a lot of users.  Let's not render it until the globe is "loaded."  This will couple things slightly more but should be easily implemented just in the `Scene` render loop.

[2018-10-25 06:10] EdenEdk commented on #7184
ok i got you!
so in th mean while, you got any suggestions for me?
what should i change?

[2018-10-25 06:33] riematrix commented on #7176
@lilleyse Thank you for the issue reference. I recalculated vertices for each tile and it looks correct on ios.
The black stripes still exist on both ios and android when zoom close.

[2018-10-25 08:06] binfenshijie commented on #7166
any one can help????@lilleyse

[2018-10-25 15:06] OmarShehata commented on #7189
Yes! I think there's a lot of small things like this we can do to improve perceived visual quality. It's almost a taboo to see anything loading in a game engine.

I'll give this a shot.

[2018-10-25 16:07] mramato commented on #7076
FYI, I emailed travis support to see if they have any ideas.

[2018-10-25 16:08] mramato commented on #7076
@hpinkos do you have any more recent links to logs showing this happening?

[2018-10-25 17:42] hpinkos commented on #7076
Yeah I just saw this again yesterday.  I'll try to find which branch, I don't remember off the top of my head

[2018-10-25 17:44] hpinkos commented on #7076
https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/446199002

[2018-10-25 17:51] OmarShehata commented on #7189
Looks like the skyAtmosphere already waits for the root tile to load before rendering, see [Scene.js#L2675](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Scene.js#L2675). This is only a problem when `viewer.scene.logarithmicDepthBuffer` is true. The root tile does correctly load, but it doesn't cover the surface, because of https://github.com/AnalyticalGraphicsInc/cesium

[2018-10-25 18:08] OmarShehata commented on #2208
Requested again here: https://groups.google.com/d/msg/cesium-dev/8qCubRRaIOo/QZHsOu5aCAAJ

[2018-10-25 18:29] lilleyse commented on #5952
This was fixed in https://github.com/AnalyticalGraphicsInc/cesium/pull/6862.

[2018-10-25 18:29] #5952 closed

[2018-10-25 18:45] lilleyse commented on #6573
This can also happen in the BIM demo. Note how only the floor is getting clipped.

![bim-clipping-2](https://user-images.githubusercontent.com/915398/47522796-7d944b80-d864-11e8-9cb3-24fac66c9af5.gif)

[2018-10-25 18:58] lilleyse opened #7191 "Fix BIM tileset z-fighting"
The tileset used in the 3D Tiles BIM example normally exhibits z-fighting. There is a workaround in the example that hides features that cause this z-fighting, but this should really be fixed in the tileset instead.

<img width="457" alt="zfighting" src="https://user-images.githubusercontent.com/915398/47523594-69514e00-d866-11e8-9044-f18a902b0ce7.PNG">

[Without z-fighting](https://cesiumjs.org/C

[2018-10-25 19:39] lilleyse commented on #7166
@binfenshijie sorry we don't have a fix for this yet. The only workaround at the moment involves modifying the Cesium source code. The code change is described here: https://github.com/AnalyticalGraphicsInc/cesium/pull/6755#issuecomment-425454485.

[2018-10-26 01:28] #5722 closed

[2018-10-26 02:40] lilleyse commented on #6221
I haven't seen this test fail since #6390. It should be fine to close this now.

[2018-10-26 02:40] #6221 closed

[2018-10-26 02:46] lilleyse opened #7193 "Travis CI failure - tests fail to start"
Seems to be a recent failure.

https://api.travis-ci.org/v3/job/446471076/log.txt

[code]

I've also seen it fail for HeadlessFirefox.

[2018-10-26 03:37] binfenshijie commented on #7166
get it

[2018-10-26 13:49] likangning93 commented on #7193
I'm seeing this very consistently in https://github.com/AnalyticalGraphicsInc/cesium/pull/7168 as well.

[2018-10-26 13:52] hpinkos commented on #7193
Ditto.  I started to see this yesterday

[2018-10-26 15:01] hpinkos commented on #7193
I just saw this same problem in one of our other projects too.
@mramato Could this have to do with Jasmine releasing a new version 21 hours ago? https://github.com/jasmine/jasmine/releases

[2018-10-26 15:11] #7167 closed

[2018-10-26 15:14] hpinkos commented on #7193
Yep.  It's likely https://github.com/jasmine/jasmine/issues/1617

[2018-10-26 15:44] #7193 closed

[2018-10-26 15:46] hpinkos opened #7195 "Upgrade jasmine once karma-jasmine bug is fixed"
https://github.com/jasmine/jasmine/issues/1617

I reverted to jasmine 3.2.0 in https://github.com/AnalyticalGraphicsInc/cesium/pull/7194
Once the above issue is fixed we should go back to using the latest version of jasmine with the caret in package.json

[2018-10-26 20:01] #7185 closed

[2018-10-26 20:01] cesium-concierge commented on #7185
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/CSQeUtcSj_4/_ridnkKxCAAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-10-26 20:53] hpinkos commented on #7076
@mramato https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/446758609

[2018-10-26 21:15] hpinkos commented on #7103
@likangning93 this seems to have broken with your Materials on Ground Primitives PR

[2018-10-29 02:17] a0026 commented on #7176
Hello， my issue(#7178) has been closed， I wonder when it can be fixed, 3ks.

[2018-10-29 05:59] githubhanjunjun opened #7198 "Bug that causes browser crash"
cesium 1.47
windows 10
Chrome
![image](https://user-images.githubusercontent.com/27795864/47631868-c0b32f00-db82-11e8-833a-945f1e0ae3a5.png)

[2018-10-29 06:40] addriumruss opened #7199 "An error occurred in "w": An error occurred while accessing http://****/tilesets/nj40/layer.json"
always got this error.

[2018-10-29 11:30] herewaitting opened #7200 "Viewer.scene.clampToHeight return value problem"
When I want to get the height of the model attached to the tilted photographic model with the following code, only the height returned by the first model is correct, and the rest is - 9000.

for(var i=0;i<len;i++){
		Luce_obj[items[i].Id] = {};
		var pos = [items[i].Longitude,items[i].Latitude,lidi_height+10-(luce_varH[items[i].Id]||0.1)];
		var position = Cesium.Cartesian3.fromDegrees(pos[0],pos[

[2018-10-29 15:38] hpinkos commented on #7198
@githubhanjunjun can you create a reproducible code example in [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/)?

[2018-10-29 15:39] hpinkos commented on #7199
@addriumruss can you create a reproducible code example in [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/)?

[2018-10-29 15:41] hpinkos commented on #7200
@herewaitting please see this code example: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Clamp%20to%203D%20Tiles.html&label=New%20in%201.50

If you have any follow up questions, please make a post in the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
The forum is monitored by the Cesium team and is also more visible to members of the community so it is more likely that s

[2018-10-29 15:41] #7200 closed

[2018-10-29 17:47] OmarShehata opened #7201 "debugColorizeTiles tests randomly fail"
In `Cesium3dTilesetSpec/debugColorizeTiles for b3dm with batch table`, it tests that `debugColorizeTiles` works by checking that the color changes once that is switched on. Since this randomly sets a color, sometimes this will fail if the new color is the same as the original color.

To make this test more robust, @likangning93 mentioned it might be worth setting a random seed with `CesiumMath.set

[2018-10-29 17:53] mramato commented on #7076
Thanks, I replied to Travis support with the new info.

[2018-10-30 12:04] GatorScott opened #7202 "Polyline option to make loop"
Because PolygonGraphics' outlineWidth doesn't work for values other than 1, it would be nice if PolylineGraphics could have the option of changing the line strip into a line loop with a nice mitered corner.  Mentioned on the [forum](https://groups.google.com/forum/#!msg/cesium-dev/wECK0_q6ZPA/VfYj79LkAQAJ).

[2018-10-30 14:06] hpinkos commented on #7202
First we'd need to add `loop` support to `PolylineGeometry`.  Both `PoylineCollection` and `GroundPolylineGeometry` have support so that's the one that needs to be updated

[2018-10-30 14:10] mramato commented on #7202
We also plan on removing the outlineWidth limitation as part of our terrain efforts (but allowing geometry outlines to use the material system).  Not sure if that changes anything.

[2018-10-30 14:21] OmarShehata opened #7203 "Expose a way to set blend modes with public API"
Currently, I don't think there's a way to set a blend mode without knowing something about the private API.

[BlendingState](https://cesiumjs.org/Cesium/Build/Documentation/BlendingState.html) says it's a helper for custom render states, but [renderState](https://cesiumjs.org/Cesium/Build/Documentation/Appearance.html#renderState) is private.

It's come up on the forum [here](https://groups.google

[2018-10-30 14:36] GatorScott commented on #7202
I don't think removing the outlineWidth limitation helps because the higher level concept is a line not a polygon.  The polygon was just a potential workaround.

[2018-10-30 14:38] OmarShehata commented on #7203
I'm not sure how that helps? For example, the last poster before me in the second thread is trying to creating an alpha blending mode to overwrite alpha instead of add, so that in this example, the ten overlapped blue polygons would still have an alpha of 0.1 instead of the alpha growing like it does:

[Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZVLbitswEP2VwS9rs0FOoH1JnNAlC2

[2018-10-30 14:44] hpinkos commented on #7203
Oh okay, thanks for the extra explanation

[2018-10-30 15:48] loshjawrence commented on #5509
Time slicing and/or sorting of recieved tiles ended up not being something worth even investigating since there wasn't really anything to time slice or sort. If you monitor the processing queue it never really fills up since it drains very quickly. On a rare occasion it would get up to 10 things to process but again those would drain quickly. I threw some sorting and time slicing in there anyway a

[2018-10-30 15:58] loshjawrence commented on #5509
![morecolors15](https://user-images.githubusercontent.com/13598291/47731744-1d722080-dc3b-11e8-8efd-6f5ab9bc91c6.jpg)

[2018-10-30 16:11] OmarShehata opened #7205 "KHR_materials_common test failure in master"
This test is failing in master:

[code]

I haven't investigated if it's just a matter of adding an epsilon or if this is something that has broken.

[2018-10-30 19:30] mramato commented on #5688
With #7207, we might be able to get rid of dropdowns.

However, travis has enhanced GitHub integration now as well, so I think if we enable that it will tell us exactly which stepped failed within github without looking at the logs. I want to look into this as part of other CI improvements: https://blog.travis-ci.com/2018-05-07-announcing-support-for-github-checks-api-on-travis-ci-com

[2018-10-30 19:45] andreddosantos commented on #7127
Hello @lilleyse,

Everything was perfect until i've loaded on the ios a 7gb tileset file. Now it just crashes again.

It seems like memory issues again. I've been playing around with the variables above but nothing solves it.

[2018-10-30 20:01] lilleyse commented on #7127
You could try adding the 3D Tiles Inspector to see how much memory the tileset is using. It shows up at the bottom of Logging->Statistics. [Example code here.](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Tiles%20Inspector.html&label=All)

What values are you using for `maximumMemoryUsage` and `maximumScreenSpaceError`?

[2018-10-30 20:32] OmarShehata opened #7208 "Set Classification Type on GeoJSON Entities"
Currently, there's no way to set the `classificationType` on entities created from GeoJSONs. The reason you'd want this is if you're using GeoJSONs to classify your 3D Tiles.

For example, this example uses the experimental 3D Tiles Vector format:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Tiles%20Terrain%20Classification.html&label=All

But since no tools exist that can output t

[2018-10-31 06:20] Joyzen opened #7210 "when Removing a PostProcessStage from PostProcessStageCollection,it reports an error."
![image](https://user-images.githubusercontent.com/18508793/47769762-fdfcf580-dd17-11e8-8042-8c77b8197b2e.png)

[2018-10-31 07:08] FlorianFehring opened #7211 "DebugModelMatrixPrimitive does not show correctly when placed on earth center"
For debugging of placeing entities i want to see the three axis from globe. But when placeing the DebugModelMatrixPrimitive on earth's center only one axis is shown up.

Code:

[code]

[Sandcastle demo](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html#c=bVLBTuMwEP0VK5ekUuRkBSut0lAhsQscQIsWBBLKxY2HxtqJJ7KdtAXx7zgpgZQyp/HMe2/m2e6EYZ2CNRh2wjSs2RlY1db8fqhFYTkcz0g7oTSYcDYvdOc5DVnlFGnPeik087HJ0niX

[2018-10-31 14:28] lilleyse commented on #7210
Thanks for the bug report @Joyzen. It's really easy to trigger this bug - [Example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=hZBNS8NAEIb/ypJLEigbPJsWseApYLHiKZfpZtoubnbLzCQliv/dTWJF68E9LMw787zz0QOp3uIZSS2Vx7NaI9uu1S+TlqVmCtfBC1iPlOa3ta99HymHnh8cEEZwdtBs0KM+BZYNhUjyVuCArKFpsi/fzVWysjsCGrQhBMHq4jnlsnzutgXfGGBxODo9h+B2QPedSPBZ+oRt6DFdqH3njdgo5eq99iq+f6aiicy+9xibfYxfskhKlsHhava5s+0pkKiOXKZ

[2018-10-31 14:55] lilleyse commented on #5265
@mramato @hpinkos @emackey Is there any chance that a fix can make it in by tomorrow? If not this is going to get pushed again.

[2018-10-31 15:15] hpinkos commented on #7211
@FlorianFehring This isn't working because the transform you're passing in isn't valid.  Heading/Pitch/Roll can't be used at the center of the earth because the concept of north and east doesn't exist at the origin.

Instead, your `modelMatrix` should be `Cesium.Matrix4.IDENTITY`

[2018-10-31 15:15] #7211 closed

[2018-10-31 15:18] mramato commented on #5265
Since we don't even have a PR open yet, I think this has to get pushed.

[2018-10-31 15:21] hpinkos commented on #7208
@OmarShehata I don't think this is something we would add to the `GeoJsonDataSource`.  Instead, the user can set the `classificationType` attribute on the entities after they are created, similarly to the `Custom Styling` part of this sandcastle example: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=GeoJSON%20and%20TopoJSON.html&label=DataSources

You would just need to set `entity.polygo

[2018-10-31 15:21] #7208 closed

[2018-10-31 15:34] hpinkos commented on #5265
Yeah, @emackey spend some time looking into it last month but there wasn't a good easy fix.

[2018-10-31 15:47] lilleyse commented on #7103
Looking into this closer, this seems to happen when

1. Depth textures aren't supported
2. Ground primitives are batched

When ground primitives are batched they derive texture coordinates from reading `czm_globeDepthTexture` which is not defined if depth textures aren't supported.

Either the ground primitives shouldn't be trying to draw themselves at all. Or they shouldn't be batched.

@likangni

[2018-10-31 15:49] OmarShehata commented on #7208
I can see that it's possible that way. I think it's just easier for the user to have this abstraction, since I can imagine it'd be a common use case to use vector data to mark tilesets like this.

For example, if my GeoJSON contains more than just polygons, would I have to figure out what the type of each entity is, so I can say `entity.polygon.classificationType` vs `entity.rectangle.classificati

[2018-10-31 15:52] mramato commented on #7208
I understand what you are going for, but I don't think extending the GeoJsonDataSource to handle Cesium specific features are the way to go, as @hpinkos mentioned, that's what the Entity API is for.

GeoJson only has points/lines/polygons, and (unless I'm wrong) points and polylines aren't eligible for classification, so having a rectangle is impossible.

[2018-10-31 15:59] hpinkos commented on #7208
yep, @mramato is right.  `GeoJsonDataSource` will only make `entity.billboard`, `entity.polyline` and `entity.polygon`.

[2018-10-31 16:11] OmarShehata commented on #7208
That's fine then! That means there's only one type to worry about (polygons). I think I saw some confusion on the forum about the difference between datasources and entities (the users weren't aware that a datasource created entities) but it sounds like I can fix that by explaining in the doc/tutorials. That Sandcastle is definitely a good resource.

[2018-10-31 17:02] likangning93 commented on #7103
I'll take a look

[2018-10-31 17:10] likangning93 commented on #7103
@hpinkos sorry must have slipped my inbox somehow...

[2018-10-31 17:50] loshjawrence commented on #5509
before and after of load time heat map (again, it's reversed: black/blue=first load, red/white=last load) colorized by time since new scene load.
![loadtimeallphotogram](https://user-images.githubusercontent.com/13598291/47807987-cd1ac180-dd13-11e8-86b9-7a787ed00517.jpg)

[2018-10-31 19:35] lilleyse commented on #5509
@loshjawrence just a reminder to also post the gif compare.

[2018-10-31 19:41] #7103 closed

[2018-10-31 20:16] OmarShehata opened #7214 "Polyline spanning half the ellipsoid crashes"
Brought up [on the forum](https://groups.google.com/d/msg/cesium-dev/Y-NPOSmP4UE/LUSYX5WgBgAJ).

[code]

[2018-10-31 20:23] hpinkos commented on #7214
It shouldn't crash when it's set to 180.  That's a different issue though.

There are two possible geodesic lines that could connect the two points.  Cesium always chooses the shorter one because if you're drawing a line between two points, chances are you don't want it to wrap the long way around the globe.  The user can tell the line to wrap the other way by adding a point halfway ( (90, 0) for

[2018-10-31 20:30] OmarShehata commented on #6636
Just came up again [on the forum](https://groups.google.com/d/msg/cesium-dev/HsC4mRtcm8E/O717hmi1BgAJ) as a way to label parts of 3D Tiles.

[2018-10-31 20:33] OmarShehata commented on #7214
That does make sense @hpinkos . So if someone really wanted a line to cover 270 degrees of the globe, is the best way to do that right now to create 2 lines?

[2018-10-31 20:36] hpinkos commented on #7214
@OmarShehata they don't have to create 2 lines, but they have to define more positions in the polyline.

Like this:

[code]

[2018-10-31 21:03] lilleyse commented on #6741
I mentioned this in #7209 as well - I'm still seeing some flickering in https://github.com/AnalyticalGraphicsInc/cesium/issues/6741#issue-336373649 even with the changes in #7209. I think it may be due to driver differences. I only noticed flickering with AMD and not Nvidia, and both work in older versions of Cesium (I tested 1.34).

[2018-10-31 21:05] #7210 closed

[2018-11-01 04:02] addriumruss commented on #7199
@hpinkos Thanks for response~ Sorry I cann't use sandcastle because of no good network, cann't access sandcastle free as will.
finally it turns out that my .terrain data files are not that right.
I got a ctb-tile tools on windowss and reproduced the terrain files, these files have twice more size than those on linux.  and they worked.
I still don't know why.

[2018-11-01 04:02] #7199 closed

[2018-11-01 14:17] lilleyse commented on #2860
From the 1.51 release:

* Renderer/freezeRenderState works as expected
* Scene/Expression constructs regex
* Widgets/CesiumWidget/CesiumWidget resizing triggers a render in requestRender mode
* Scene/BillboardCollection picks a billboard using scaleByDistance
* Scene/BillboardCollection picks a billboard using translucencyByDistance
* Scene/ClassificationPrimitive renders with invert classificatio

[2018-11-01 15:15] lilleyse opened #7215 "All mouse click events treated as left click, right click, and middle click"
[Local example](http://localhost:8080/Apps/Sandcastle/index.html#c=rZLRS8MwEMb/ldCXdTBSfLYbSjddsSK44VNBsvS2hV0vJUkzpvi/G1tFnQgKy1Pu8v2+7+DihWFewR4MGzOCPcvAqrbmD10vHsiuzDQ5oQjMYHheUkk+UFtBFR5jC2kAaNEICTMP5Oa9KO4juBQBtb3HO88tuJya1l1KpzTF65b6S6091MFiyJ5LYuFITVYjcNSbeICwdkyikrtupJfRbxMsDw3wYna1fMyKPLs5RbZRm+0/wu/z6/kJ02tVBfrv8bf5dFrMPvOjUZRad0CY9OYXqm60caw1GHOeOKgbFA5ssmrlDhyXtltYmnxAaaU8U9W4jI4+RxmFq

[2018-11-01 15:43] mramato commented on #7215
It might be easier to revert the change in the short term (since it's fairly isolated).

[2018-11-01 18:29] #7215 closed

[2018-11-01 18:35] hpinkos opened #7219 "Camera gets stuck in tilt mode"
Reported by @moodragon46 in #7137

This is a fix for a bug that can be replicated using the following steps:

1. Use the middle mouse button to tilt
2. While holding the middle mouse button down, click the left mouse button
3. Release the middle mouse button.

The camera will be stuck in tilt mode until the middle mouse button is pressed and released again. The expected behaviour is that the camer

[2018-11-01 18:35] hpinkos commented on #7219
Opened this issue to keep track of this bug.  @moodragon46 submitted a fix in #7137 but we had to revert it before the 1.51 release because it introduce this bug: #7215

[2018-11-01 19:05] #7205 closed

[2018-11-01 19:08] mramato opened #7222 "Move to GitHub Apps for travis and enable enhanced Checks integration"
See https://blog.travis-ci.com/2018-05-07-announcing-support-for-github-checks-api-on-travis-ci-com

[2018-11-01 19:08] lilleyse opened #7223 "Flickery polygon on mouse over"
There's a bit of flickering when hovering over an entity and changing its color. It's much easier to see when running the demo, the gif only does an ok job.

Git bisect leads to https://github.com/AnalyticalGraphicsInc/cesium/commit/8ba647bf8bf850c3c72ebe1afedf4c4e601a38db / https://github.com/AnalyticalGraphicsInc/cesium/pull/7163. @hpinkos could you check this out?

[Local example](http://localh

[2018-11-01 19:42] hpinkos commented on #7223
This turned out to be a bug in the sample code, not in Cesium.  However, there is a change in behavior for people who had this bug in their code because Cesium was doing something incorrect before that was fixed in #7163.

The reason for the flickering is that the box is being re-created every time you set the material.  This was the case before #7163 as well, but we made the mistake of not removi

[2018-11-01 19:42] #7223 closed

[2018-11-01 20:08] hpinkos commented on #7219
Thanks @moodragon46 !

[2018-11-01 20:46] lilleyse opened #7225 "CZML Z Index example not ordering correctly in IE"
IE
<img width="369" alt="wrong" src="https://user-images.githubusercontent.com/915398/47878847-9ae19080-ddf5-11e8-9c85-cb0e37090f14.PNG">

Chrome
<img width="303" alt="right" src="https://user-images.githubusercontent.com/915398/47878848-9ae19080-ddf5-11e8-8a04-ce0450f6211e.PNG">

[2018-11-01 20:50] hpinkos commented on #7225
This is because IE doesn't support ground primitive materials.  There's not a bug report for this because IE will never support depth textures so it's not something we're going to fix.

[2018-11-01 20:50] #7225 closed

[2018-11-01 20:53] lilleyse opened #7226 "Error when exiting VR mode in IE"
Press the VR button on the bottom right and then hit Esc instead of clicking the VR button to go back. The console prints:

`WrongDocumentError (on line 54 of http://localhost:8080/Source/Widgets/VRButton/VRButtonViewModel.js)`

[2018-11-01 21:11] loshjawrence commented on #5509
Compare gif before -> after. Scene takes about 20 sec on a 20Mbps bandwidth. Takes about 7sec for the right to resolve its foreground(blue part), master takes whole time.

[2018-11-01 21:42] mramato commented on #7225
Do we have a one-time-warning for this at least?  Sounds like we should.

[2018-11-02 06:20] Joyzen opened #7229 "PolylineGraphics's depthFailMaterial property dosen't effect when I set positions with CallbackProperty"

[2018-11-02 08:19] zapzqc commented on #5080
Anyone has solved it?

[2018-11-02 12:52] OmarShehata commented on #5080
@zapzqc looks like a workaround is to use two canvasas to swap between, more on that here: https://groups.google.com/d/msg/cesium-dev/7Bda_BkaJMU/mfAM7WraBAAJ

[2018-11-02 14:21] hpinkos commented on #7229
@Joyzen unfortunately `depthFailMaterial` isn't supported for dynamic polylines at this time.  See #5333

[2018-11-02 14:21] #7229 closed

[2018-11-02 14:21] hpinkos commented on #5333
Also reported by @Joyzen in #7229

[2018-11-02 14:49] #5688 closed

[2018-11-02 19:08] OmarShehata commented on #2895
I think this would solve the issue in this new forum thread: https://groups.google.com/d/msg/cesium-dev/B7QYbtyRPFo/vC2OT9UnBwAJ

They're using a KML data source and would like only the pins to be selected.

[2018-11-02 19:32] OmarShehata commented on #2581
https://github.com/AnalyticalGraphicsInc/cesium/pull/6348 added support for this so I think we can close this @hpinkos

[2018-11-02 19:45] OmarShehata commented on #4207
This already works for glTF 2. Should we close @pjcozzi ?

[2018-11-02 19:59] OmarShehata commented on #7208
I just realized this was already suggested by @lilleyse , in this issue which is still open: https://github.com/AnalyticalGraphicsInc/cesium/issues/6634

[2018-11-02 20:47] hpinkos commented on #6634
For classification type, see https://github.com/AnalyticalGraphicsInc/cesium/issues/7208#issuecomment-434729146

[2018-11-02 20:47] #6634 closed

[2018-11-02 20:47] cesium-concierge commented on #6634
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/fprg3RN5EPk

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-11-02 20:49] hpinkos commented on #1884
Yeah, I don't think this is one we'll go forward with.  Thanks @OmarShehata

[2018-11-02 20:49] #1884 closed

[2018-11-02 20:49] hpinkos commented on #2581
Yes, thanks @OmarShehata

[2018-11-02 20:49] #2581 closed

[2018-11-02 20:54] pjcozzi commented on #4207
Up to @lilleyse

[2018-11-02 21:10] lilleyse commented on #4207
Yeah fine to close.

[2018-11-02 21:10] #4207 closed

[2018-11-02 21:31] loshjawrence commented on #5509
Just adding a note about google earth. protocol is "http/2+quic/43" ours is "http2 spdy".Typical request size is in the 10's of KB (Ours are in the 100's). Most of it is [x-protobuf](http://docs.servicestack.net/protobuf-format) which sounds like some google specialized specialized fast thing. Doesn't seem like they do any fancy feature detection for placing their vertices in the most important sp

[2018-11-04 14:29] pjcozzi commented on #7189
@OmarShehata @bagnell what is the plan here?

[2018-11-04 17:42] OmarShehata commented on #7189
I believe @bagnell is working on the underlying log depth issue.

[2018-11-05 09:05] kobbe commented on #6477
To help others with the same problem. I was using a stylefunction that did not cache the image but created a new ol.style.Icon each time. This resulted in the error 'Error loading image for billboard: DeveloperError: Width must be less than or equal to the maximum texture size (4096).  Check maximumTextureSize.'. The solution for me was to reuse the same ol.style.Icon.

[2018-11-05 12:00] kesemdavid commented on #7184
@hpinkos
Hello, I'm EdenEdk's collegue.

In order to resolve this issue, if we wanted to get dirty and clear the caching arrays as you suggested, we would have had to clear multiple arrays, such as `_spareBillboards` , `_backgroundBillboards` , etc..

We've successfuly done that, and the memory got cleared, but again, did not want to get our code involved with `cesium`'s code.

Our application is

[2018-11-05 14:59] hpinkos commented on #7184
@kesemdavid I'm not sure why `PrimitiveCollection.remove` would be taking so long, but it could potentially be related to #3018.  `BillboardCollection` works very similarly to `PointPrimitiveCollection` and I imagine it could have the same problem with destroying the `pickId`

[2018-11-05 15:00] abhimonk opened #7230 "PrimitiveCollection.Remove() takes longer on Linux than on Windows"
I create a primitive that is composed of tens of thousands of Geometry Instances. Removing this primitive using the "remove()" function seems to take significantly longer on Linux compared to Windows.

On Windows, using Chrome browser: ~12 ms
On Linux, using Chromium browser: ~4500 ms

[Here is a sandcastle example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=zVntb9s2E/9XCAND5caR4rjbh7wUc

[2018-11-05 15:07] hpinkos commented on #7230
@abhimonk yes, I believe this is the same root problem as #3018 because both `PrimitiveCollection` and `PointPrimitiveCollection` use pickIds in a similar way.  There is a workaround proposed here: https://github.com/AnalyticalGraphicsInc/cesium/issues/3018#issuecomment-144071807

I'm going to close this as a duplicate but will add a comment to #3018 that you are experiencing the same problem.  Th

[2018-11-05 15:07] #7230 closed

[2018-11-05 15:08] hpinkos commented on #3018
This also seems to be a problem with `BillboardCollection` and `PrimitiveCollection` when removing a large number of billboards/primitives.

See an example with `PrimitiveCollection`, Reported by @abhimonk in #7230

And @kesemdavid reported seeing this with `BillboardCollection` in #7184

[2018-11-05 15:18] kesemdavid commented on #7184
@hpinkos
Thanks for the fast reply!
I should clear out I'm not talking specifically about `BillboardCollection`, we've implemented the multiple-collection-management generically for all of the application collections.

That mean, for each 'data-batch' there'll be a labelCollection, a billboardCollection, and a pointCollection, and those three will be removed one after another when that `data-batch

[2018-11-05 15:21] hpinkos commented on #7184
Oh gotcha.  But yeah it seems like all of our collections have a similar problem because they all use pickIds in a similar way, and removing those seems to be the cause of the lag.  See the workaround proposed in https://github.com/AnalyticalGraphicsInc/cesium/issues/3018#issuecomment-144071807 to see if that fixes the problem you're seeing

[2018-11-05 16:06] emackey commented on #3018
Compatibility for `Map` has likely improved since 2015.  It could be a viable option now.

[2018-11-05 21:59] bmr74 opened #7232 "Map control switches from spinning to moving up and down when you drag to horizon"
When looking a shallow pitch, with the horizon in view, at zoom level ~12, drag the mouse upward to spin the globe, the navigation switches from spinning the globe to pivoting around some point on the horizon.  The expected behavior is to keep spinning the globe.

Sandcastle: Hello World (or presumably any)
Browser: Chrome version 70.0.3538.67
Operating System: Windows 7

Commenting out the code b

[2018-11-06 08:44] EdenEdk commented on #3018
@emackey
So can we do it?
Some 1 wanna open a pr?
I can do it myself, this week.

[2018-11-06 09:45] ezriYerushalmi commented on #7180
@hpinkos your suggestion to move with dynamic property not working well.

background:
In my project, I work with angular js,
I want to move a polygon on a map by locations objects that change by indexes.

I tried to move a polygon by accesses to  `poly.polygon.hierarchy` / `poly["polygon"]["hierarchy"]`  but a wired thing happened.
when i change the index automaticlly the polygon not move at all.

[2018-11-06 14:54] hpinkos commented on #7232
@bmr74 I'm pretty sure the behavior you're seeing is intentional.  When you click and drag on the sky, we change the camera behavior to allow the user to look up and down.  This is helpful for adjusting the camera to view terrain features or features of 3D Tilesets when the camera is in a horizon view.

If you think what you are seeing is different than what I'm describing, feel free to reopen thi

[2018-11-06 14:54] #7232 closed

[2018-11-06 14:57] OmarShehata commented on #7180
@ezriYerushalmi this is a common issue. CesiumJS assumes most properties are static for performance. I think if you use a Callback property to mark it as dynamic it should work. See this example:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Callback%20Property.html

[2018-11-06 14:59] hpinkos commented on #7180
@ezriYerushalmi here's an example of using a `CallbackProperty` for retrieving the polygon hierarchy

[code]

[2018-11-06 15:33] ezriYerushalmi commented on #7180
Works great thank you all!
@OmarShehata @hpinkos

[2018-11-06 16:56] lilleyse commented on #5700
Both the Sandcastle demo and tests in IE seem to have been fixed.

[2018-11-06 16:56] #5700 closed

[2018-11-06 17:01] lilleyse commented on #4944
This test has since been removed since all the sample tilesets have been updated to use glTF 2.

[2018-11-06 17:01] #4944 closed

[2018-11-06 19:00] hpinkos commented on #6583
This seems to be fixed

[2018-11-06 19:00] #6583 closed

[2018-11-06 19:10] #7105 closed

[2018-11-06 19:13] #7201 closed

[2018-11-06 19:15] #7106 closed

[2018-11-06 21:01] #6230 closed

[2018-11-06 21:02] #7076 closed

[2018-11-06 21:02] #6224 closed

[2018-11-06 21:52] mramato opened #7241 "Make unit tests on Appveyor pass undere IE11"
You can view our appveyor builds here: https://ci.appveyor.com/project/AnalyticalGraphics/cesium

IE 11 currently has ~15 failing tests, but that may change by the time we look more into this.

Once all tests are passing, we should add back `--failTaskOnError` to the test CLI command in appveyor.yml so we don't break it in the future.  Currently IE11 failures do not fail the build

[2018-11-07 05:21] tropicalpb opened #7242 "autonomous driving demo"
Hi, the demo at https://cesium.com/blog/2018/04/03/cesium-for-autonomous-driving-simulation/ looks great.  We have a similar need, it would be great if someone can point me to the steps on how to create a similar demo using Cesium.

Thanks

[2018-11-07 14:54] hpinkos commented on #7242
Hi @tropicalpb, the features seen in that demo are available for purchase as part of the Cesium ion SDK.  Please send an email to tim@cesium.com if you are interested in purchasing that package.

Thanks!

[2018-11-07 14:54] #7242 closed

[2018-11-07 19:12] bmr74 commented on #5837
I think the adjustment for terrain would be better if it were invoked by the ScreenSpaceCameraController instead of the camera itself.   When programmatically controlling the camera, you don't want the camera doing things you didn't tell it explicitly to do.  So the responsibility is ill-placed, it should be with the user control of the camera.

Meanwhile this can fixed like so:

var viewer = new

[2018-11-07 19:18] OmarShehata opened #7244 "Use local test video in VideoSynchronizerSpec"
Currently, VideoSynchronizerSpec uses an externally hosted video in the tests, causes its time to vary a lot, and thus cause intermittent build failures. See https://github.com/AnalyticalGraphicsInc/cesium/issues/7249

An easy way to get around that is just to run the tests against a local video.

[2018-11-07 19:51] bmr74 commented on #7232
Thanks for the prompt reply!  To clarify: when you click the sky, the pivot point appears to be the camera.  But in this case the pivot point is the horizon(?).  Maybe it's intentional, but if it is, it would be nice to have a feature to turn it off.  I can't seem to attach a video, so I attempt to email it.

[2018-11-07 19:51] bmr74 commented on #7232
Brandon Reynolds
IEWTPT Software Task Lead
General Dynamics Mission Systems
12001 Research Parkway, Suite 500 ● Orlando, FL  32826
Desk: (407) 281-5618
Email: brandon.reynolds@gd-ms.com<mailto:brandon.reynolds@gd-ms.com>

This message and/or attachments may include information subject to GD Corporate Policies 07-103 and 07-105 and is intended to be accessed only by authorized recipients.  Use, sto

[2018-11-07 19:56] hpinkos commented on #7232
Ohhh, I see what you're talking about @bmr74.  No need to send a video.

Yes, that behavior is intentional as well.  Otherwise if you clicked too far into the distance and started to drag it would zoom the camera really fast and far away from your current position.  We found people did this more often by accident than on purpose.  We actually have a PR open to make that panning camera movement eve

[2018-11-07 19:56] hpinkos commented on #7232
I'm not sure if we have a way to configure that though if you wanted to disable it. @bagnell?

[2018-11-07 20:50] lilleyse opened #7246 "3D Tiles - clean up underscored variables"
3D Tiles files often use underscored private variables of other 3D Tiles files. One example is `Cesium3DTilesetTraversal` accessing `tileset._selectedTiles` and `tileset._requestedTiles`. Instead these should either be non-underscored private properties, functions, or part of a separate shared class.

[2018-11-07 21:14] lilleyse opened #7247 "Move picking code into its own file"
A majority of the code in `Scene.js` is now just for handling picking, made worse by https://github.com/AnalyticalGraphicsInc/cesium/pull/6934 and https://github.com/AnalyticalGraphicsInc/cesium/pull/7115. Picking code should be in its own file but still tightly integrated with `Scene` like `View` or `SceneTransforms`.

[2018-11-07 22:48] OmarShehata commented on #7051
Sample model we can use when implementing the glTF loading part:

https://github.com/KhronosGroup/glTF-Sample-Models/pull/201

[2018-11-07 22:54] lilleyse opened #7248 "Make sampleHeight work for point clouds"
`sampleHeight`, `sampleHeightMostDetailed`, and others will usually pick through a point cloud despite requesting the high detail tiles. [localhost:8080 Example](http://localhost:8080/Apps/Sandcastle/index.html#c=xVZbb9s2FP4rXF4iowqtmy05cYN5TooGTZCgNjYM8zAo0rFNlBYFknLgDvnvI3WzZMtphj1MD5ZMfufC71x4tiFHWwIvwNFHlMALmoIg2Qb/mq8Z51H+d8oSGZIE+HnvapEUeCwiSACvKHsGHEMq13MQcrJSOCHnwLn6UDolz0DJKCllSRIKAmTbVPF

[2018-11-07 23:44] mramato commented on #6898
I'm running into similar problems with 3D model loading.

[2018-11-08 14:14] mramato opened #7249 "Erratic test failure in master"
The last master build failed with the below error.  If I had to guss, this test is using an external server.  We should probably bring whatever data its using in-house to make sure CI doesn't randomly fail.

CC @likangning93 @OmarShehata

[code]

[2018-11-08 14:45] mramato commented on #6898
Here's a trivial way to reproduce this with Sandcastle [direct link](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=dVNNc9owEP0rGi6IjiNDaC6UME3JpD2UNgO0J1+EvWANsuRKMgnt5L93LWFqPqrxwdLue/v2a8cN2Ql4AUPuiYIXMgUrqoL99G+0m/rrVCvHhQLTjcifRBE8Bn5VYN0cVAZmpjMYEWcqSNRb70OiErVD4gKfJfIeOGsvydZGF5+lW9MDUWXkiHQZi4/fQ1naeMGLUsIjdzz2NDYOLDMht0tTpdvz+822SNlGrrpR4LUpKBQVkmP+drB4vhl3RryOGm1Lw5Vda1NYBty6b9q4/E

[2018-11-08 20:57] hpinkos commented on #7198
@githubhanjunjun I'm going to close this issue since we haven't heard from you.  I would recommend asking questions on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
The forum is visible to many more people so it is more likely that someone will be able to help.  Our team also monitors the forum.

Otherwise, feel free to comment on this issue if you have a code example that re

[2018-11-08 20:57] #7198 closed

[2018-11-09 19:13] lilleyse opened #7252 "Add support for EXT_lights_image_based"
[EXT_lights_image_based](https://github.com/KhronosGroup/glTF/blob/master/extensions/2.0/Vendor/EXT_lights_image_based/README.md) lets a glTF provide its own environment map and irradiance coefficients which can build right on top of our existing IBL work https://github.com/AnalyticalGraphicsInc/cesium/pull/7172

[2018-11-09 19:42] loshjawrence commented on #5509
Prefetching before->after
Flight: linear zoom 6s
Bandwidth: 30Mbps
![prefetch30mbps](https://user-images.githubusercontent.com/13598291/48284560-ba983a80-e42d-11e8-91ce-b5fe17d623a8.gif)

[2018-11-09 20:57] loshjawrence commented on #5509
Foveated SSE Max Interp val: 128
![comparefoveated128](https://user-images.githubusercontent.com/13598291/48287796-1798ee00-e438-11e8-8de2-5865a2223ef9.jpg)

[2018-11-09 22:04] bmr74 opened #7253 "Billboards sometimes appear even though show flag is false"
The billboard.show flag does not appear to be implemented correctly.  Transitioning from 3D to 2D causes some billboards to appear even though the show flag is false.

Suggest adding a check somewhere in BillboardCollection.prototype.update for show being false.

NOTE: the show flag is checked for the collection, but doesn't seem to be quite right for individual Billboards.

[2018-11-09 22:08] hpinkos commented on #7253
@bmr74 Could you put together a quick [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/) example that reproduces the problem?  That would help us track this down.  Thanks!

[2018-11-10 18:31] FLYPoPo7 opened #7254 "Browser hangs when drill-picking particle system"
**Sandcastle example:**
[Sandcastle example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=xRprc9s28q/gch9MtTIl+ZE2spM5x3Xa3Ni1z3LSJnWnA5GQhIYkOCSoWM34v98uQJAARcuyI7cZRyIB7AO7i31Bc5qROWefWUZekoR9Jscs50Xsv1dj3lagXo9FIilPWLbVObhOrpM5QM1oEkZNsFGQMZaMUhqwkzlL5E96kadJ+HnAEuYHFBDkiKnE4edMvk3SQh4FkovEmxSJfojFnMWApkO+XCcE/vV6ZMokoQmhWUYXREwIjSKSZjzmks9ZTqgkcsZILIqckVTkHBFpYOQ65cEnFp6P/2SBzIF3zVGY8S

[2018-11-11 13:13] emackey commented on #7254
Yikes.  The whole browser tab becomes un-responsive.

[2018-11-12 14:15] mramato commented on #7254
We've seen this problem before (for other primitives).  If I had to guess, the problem is that drillPick isn't hiding the particle system after it's picked and so it just goes into an infinite loop of repicking the same thing over and over again.

[2018-11-12 15:05] hpinkos commented on #7118
Thanks for looking into that @bmr74!  @bagnell what's the best fix here?

[2018-11-12 16:13] loshjawrence opened #7256 "FreezeFrame of viewerCesium3DTilesInspectorMixin occasionally causes crash"
@loshjawrence
Failure message:
[code]
Example Sandcastle:
anything with a pickable 3dtileset

[2018-11-12 19:32] jbo023 opened #7257 "pickPosition picks groundPrimitive BoundingVolume on pickTranslucentDepth"
Hi,

we have some problems with pickTranslucentDepth and GroundPrimitives. If we call pickPosition and set pickTranslucentDepth to true, pickPosition will pick the BoundingVolume of the GroundPrimitive.

In the Sandcastle, you can reproduce this by left clicking on the polygon and the area around. The logged height should return a value around 100m, but if the boundingvolume of the polygon is hit,

[2018-11-12 19:48] likangning93 commented on #2860
I'm seeing `Scene/GroundPrimitive renders with invert classification and an opaque color` in 1.51 as well, but that might be associated with `Scene/ClassificationPrimitive renders with invert classification and an opaque color`.

[2018-11-12 19:54] mramato commented on #2860
Just a reminder that we ow run IE11 tests as part of CI, so all non-webgl should be passing but aren't (15 failures): https://ci.appveyor.com/project/AnalyticalGraphics/cesium/

I'm not sure how useful this GitHub issue is anymore, unless we made a concerted effort to clean up WebGL IE11 failures.

[2018-11-13 10:54] thw0rted commented on #2524
Has the team thought about moving to semver once this all gets worked out?  I saw #2422, and 4 years ago, Cesium was in the "move fast and break things" phase, so I understand the hesitation *at that time* to increase the major version for every breaking change.  The arguments against semver presented in that issue made sense when they were presented, but I would argue that they do not anymore.  I

[2018-11-13 11:41] thw0rted commented on #7003
You might want to follow https://bugzilla.mozilla.org/show_bug.cgi?id=1463354 which I filed, oh wow, half a year ago 😞 , with no updates for 2 months now 😭

[2018-11-13 11:49] pjcozzi commented on #2524
@thw0rted we're on board with semver; we'll just need to confirm with major customers supporting the project that they will still have an upgrade path with a worse cast, I imagine, of a niche wrapper project with different versioning.

[2018-11-13 12:05] thw0rted commented on #2524
Great to hear.  I saw a brief mention of Typescript upthread (and I think there's a related issue) -- has there been any further discussion on that front? I've basically moved all my code to TS and I'm really happy with the result.  The best part is that with the right transpiler options, your emitted code is basically the exact ES2015 (ES6?) module code you would have written in the first place.

[2018-11-13 12:55] OmarShehata commented on #7252
For sample models, see https://github.com/KhronosGroup/glTF-Sample-Models/pull/201

[2018-11-13 13:46] mramato commented on #7003
Thanks for adding the link @thw0rted.  That's definitely the issue I keep track of.  Glad to see it looks like there's been some progress at least.

[2018-11-13 14:57] OmarShehata opened #7259 "Inconsistent clustering with terrain on"
This might be related to https://github.com/AnalyticalGraphicsInc/cesium/issues/5883. It came up [on the forum](https://groups.google.com/d/msg/cesium-dev/hmcbz1m3clA/69baWj0JCQAJ) that these two entities weren't clustering at all. Here's a reduced Sandcastle example. I only got it to cluster after adding more than 2 entities, but even then, the behavior is strange.

[Sandcastle example](https://c

[2018-11-13 16:48] jbo023 commented on #7257
I think, i found a possible solution for this problem.

if picking and renderTranslucentDepthForPick are true, we don't need to render classification passes.
At least I think it is not necessary, because the result for position picks don't change if we left out the classification passes. As they should not change the geometry.

For the above sandcastle, the following change fixes the problem, but

[2018-11-13 16:49] TJKoury commented on #2524
I’m not a fan of Typescript, but I get why it is popular.  A project as well documented as Cesium could certainly be converted with a little effort.

[2018-11-13 17:26] thw0rted commented on #2524
I don't want to derail the thread, but I think that a 2.0 rewrite (because that's what it would be, if you're going from AMD to proper modern modules) would be the last hope to change over, because you'd be reconsidering the public APIs.

One of the biggest problems I foresee if Cesium went to TS is [the getter/setter typing issue](https://github.com/Microsoft/TypeScript/issues/2521).  Short versi

[2018-11-13 18:20] OmarShehata commented on #6087
I think this is the same issue described in this forum thread:

https://groups.google.com/forum/#!topic/cesium-dev/urW44wpGJZk

[2018-11-13 18:45] OmarShehata commented on #5265
The fix was deployed by now right?

I'm still seeing the white widget sometimes (in Chrome) as of today online...

[2018-11-13 18:52] hpinkos commented on #5265
@OmarShehata no, this probably won't be deployed until the next release at the beginning of December

[2018-11-13 18:55] OmarShehata commented on #5265
Oh, perfect! I thought it went out with the last release and was quite dismayed.

[2018-11-13 19:46] OmarShehata commented on #3857
For anyone following, this is the PR mentioned in the comment above:

https://github.com/AnalyticalGraphicsInc/cesium/pull/7061

[2018-11-13 20:41] OmarShehata opened #7261 "Change scene.pickPosition to globe.pick on Sandcastle"
It came up on the [forum](https://groups.google.com/d/msg/cesium-dev/LL98c7vA1Ck/iTkGBvkOBwAJ) that setting `baseLayerPicker: false` makes `scene.pickPosition` report an incorrect position.

I was about to open a bug for this since I don't think turning off the widget should change this behavior (right?) when I tried @hpinkos 's [suggestion here](https://github.com/AnalyticalGraphicsInc/cesium/iss

[2018-11-13 20:48] hpinkos commented on #7261
For turning off the widget, see #6991
BaseLayerPicker secretly sets `globe.depthTestAgainstTerrain = true`.  `pickPosition` only works decently well when it's set to `true`, so when the widget isn't included `depthTestAgainstTerrain` is false and `pickPosition` stops working.

I agree that the example would be better using `globe.pick` instead for picking terrain.  I would only recommend using `pi

[2018-11-13 22:31] lilleyse commented on #5550
Also fix this for tiles not containing features. See https://github.com/AnalyticalGraphicsInc/cesium/pull/7255#issuecomment-438449047

[2018-11-14 03:01] miniergouzi commented on #5837
@bmr74    在您的代码中进行鼠标操作时的险地问题得到解决，但是鼠标使用缩进功能的时候还是会出现类似问题。

[2018-11-14 03:03] miniergouzi commented on #5837
@bmr74

This problem occurs when the mouse pulley is indented.

![64b0euqw67k nrt d alm 9](https://user-images.githubusercontent.com/40375251/48457224-d8ceb380-e7fc-11e8-897d-8805985d711e.png)

[2018-11-14 14:05] bmr74 commented on #5837
@miniergouzi  my fix should help, but is not complete solution.  You can still go under the terrain, it just recovers much faster.  One thing I did was to also limit the pitch, which is fine for my particular application.  You could also add a min zoom distance, if that is acceptable in your application.

I can't see the full stack trace and I have not seen that problem.  What browser/version are

[2018-11-14 16:19] vaclavblazek opened #7263 "`Cesium3DTileset` loads tileset recursively on empty content URL"
While writing 3D Tiles generator I've found out that an empty URL in the Tile's content (i.e. `"content": { "url": "" }`) causes cycle in the tile tree structure in the Cesuim API.

The core cause is because content's full URL is then the original tileset's URL and fetched JSON is treated as an external tileset. If there is more than one tile with an empty URL it is an equivalent of a fork bomb: t

[2018-11-14 23:44] erezy commented on #6569
Hi @hpinkos ,
do you have news on this issue? are you still working on it?

[2018-11-15 12:02] JiaoJianing opened #7264 "integration"
:exclamation: Please use the [forum](https://groups.google.com/forum/#!forum/cesium-dev) for asking questions about how to use Cesium and best practices. The core Cesium team actively monitors the forum and we love seeing what people are working on! :exclamation:

[2018-11-15 12:03] #7264 closed

[2018-11-15 12:59] avetisyanIncorporation opened #7265 "polygon outlineWidth doesn't work"
Sandcastle example:
[code]

Browser: Google Chrome version 70.0.3538.102

Operating System: windows 10

![image](https://user-images.githubusercontent.com/29467133/48554428-6a1e5280-e8ef-11e8-9a86-93e1a0505344.png)

[2018-11-15 13:33] ohadmanor commented on #5837
That's work great! it fix the problem.

[2018-11-15 14:51] OmarShehata opened #7266 "Add "backFaceCulling" option to Globe"
This came up on Stackoverflow:

https://stackoverflow.com/questions/53277048/how-do-i-clip-an-entity-or-geometry-against-underside-of-terrain

It seems to be a common scenario to isolate a piece of terrain like that (common enough that we have a [Sandcastle for it](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Terrain%20Clipping%20Planes.html)). But one issue is that since backfaces are c

[2018-11-15 15:38] hpinkos commented on #6569
@erezy no sorry, we haven't had a chance to look into this.  I'm guessing the regression came with this PR: https://github.com/AnalyticalGraphicsInc/cesium/pull/4886

[2018-11-15 16:13] hpinkos commented on #7265
Hello @avetisyanIncorporation,

See this post: http://stackoverflow.com/a/25405483/3191039  This is a limitation of the WebGL implementations on Windows (but is completely in spec).  It works on standard OpenGL implementations (which means phones, Linux, Mac, and etc.)

The maximum value on the current system is documented and exposed via `scene.maximumAliasedLineWidth` and this limitations is als

[2018-11-15 16:13] #7265 closed

[2018-11-15 18:40] mramato commented on #7195
Looks like they released karma-jasmine 2.0 which should fix this.

[2018-11-16 00:29] #7195 closed

[2018-11-16 11:36] JiaoJianing opened #7268 "ground primitive error when integrate our engine to cesium"
Hello.
I,m now working on integrating our webgl engine to cesium.
In Scene.executeCommands,I add my render pass after rendering Globe.I store webgl state before my pass and recover it later.and before my render I clear the depth buffer to 1.0 so my model will cover the Globe.My render is work on cesium' active fbo.
Everything is well but the ground primitive(for example polygon),my model now cover

[2018-11-16 20:48] loshjawrence commented on #5509
non-skip lod alpha blending

![noskipfaderequestsmelbsmall](https://user-images.githubusercontent.com/13598291/48646514-0eb79780-e9b7-11e8-9bfb-d8addcd020cc.gif)

[2018-11-16 20:49] loshjawrence commented on #5509
non-skip lod alpha blending, instant zoo
![noskipfaderequestsmelbsmall2](https://user-images.githubusercontent.com/13598291/48646546-30b11a00-e9b7-11e8-9e65-c2f632436f88.gif)
m

[2018-11-16 20:51] loshjawrence commented on #5509
non-skipLOD alpha blending, manual zoom
![noskipfaderequestsmelbmanualzoomsmall](https://user-images.githubusercontent.com/13598291/48646637-6ce47a80-e9b7-11e8-9317-8bbdde88dd2f.gif)

[2018-11-19 14:28] niuzhendong opened #7271 "Too many combined image uniforms, shader storage buffers and fragment outputs"
Sandcastle example:
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=rVhtT+M4EP4rFlqpqVTyniZlWe5YurpF2jdBdafVdj+4iUmtdezKdlp6iP9+4yQNKRSusORDSZyZeR57nnHGOA46RRkpBBJXiHJNJE41XRIUjNGEMqKQ0mtGeT7ljoMu63vEMM9LnBM0FmlZEK6xpoIfobnWC3XkODnV83Jmp6JwTjlma01TzP6SeDGnqTrnqRNkh9pEd7QkxCmwAmBHLUhKr8DUBHMuO7jvS8oyA5xhjVEqSqmJWhvKX76foa8LwsfmxUJIjVlNA1isVivP5uvUzsXSUVQTJxNUa4dyqik2s1SGyKwJbi9gRlO+xBItKVkRid4

[2018-11-19 16:00] OmarShehata opened #7272 "Fix proxy WMS Doc Example"
The doc example on [WebMapServiceImageryProvider](https://cesiumjs.org/Cesium/Build/Documentation/WebMapServiceImageryProvider.html?classFilter=WebMapServiceImageryProvider) tells you to pass the proxy as an option:

[code]

But `proxy` is not an option on this class! The right way to pass this proxy would be:

[code]

I'm opening this issue instead of just a PR because I'm running into another pr

[2018-11-19 17:02] OmarShehata opened #7273 "KML clampToGround disappears on mobile"
Here's a [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html#c=jVVtUyI5EP4rU3xx2OLCgICKrHUesjqciAorq0XVVZhpmEhI2CQD4pb/fZN5YQbFug1UQbqffnu6k5TL1qXATFltkCRcdAcW9jyQ0lLc2vBQWIQzC0sJSo5ZjEEuZ8iHKQ6pOo/AQz4HZn21DmDTDSaXHumTrvv91a3cEFe67L7utd2GO1/+eGh3T5AG/fQv5xrkvjyOOvX+RRA8DSq093pXux7ek96zpx6fbxaPA6fyuLiZ90a9+s3wfv707JLrdnf5pJ31ho+b3mZN8Oib4z7zl5uhW++99qq957vN9A5NflTcB/JfH67okRi

[2018-11-19 17:47] mramato commented on #7273
Are ground polylines/polygons on terrain supported on those devices?  My assumption is that they aren't and we have a missing check somewhere that's trying to use them anyway

[2018-11-19 18:14] OmarShehata commented on #7273
Ok, this is interesting. I just tried https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Clamp%20to%20Terrain.html on the ipad and all the drop down options work except:

* Draw polygon
* Draw textured polygon
* Draw corridor

Both `Cesium.Entity.supportsMaterialsforEntitiesOnTerrain` and `Cesium.Entity.supportsPolylinesOnTerrain` return true.

[2018-11-19 20:30] #7149 closed

[2018-11-19 20:30] cesium-concierge commented on #7149
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/bpBtoVUQgwA/Yw327kv8BAAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-11-19 21:30] mramato commented on #7272
This is the correct behavior, url parameters must be encoded.  Your "expected" version is incorrect.  All that's needed here is the doc update (proxy used to be directly on the options object but changed at the beginning of the year when we added Resource)

[2018-11-20 05:16] niuzhendong commented on #7271
![image](https://user-images.githubusercontent.com/16876679/48752881-6a8b6480-ecc6-11e8-973c-563e251c93d1.png)
![image](https://user-images.githubusercontent.com/16876679/48752895-7f67f800-ecc6-11e8-8eb4-bf90f7d7d810.png)

[2018-11-20 05:20] niuzhendong commented on #7271
Hello, I am very glad to receive a reply. This question has troubled me for a long time. Thank you for your attention.

[2018-11-20 07:26] Joyzen opened #7274 "Set transform for 3DTileset's single feature."
Set TileFeature's color can modify color.is there a way to set feature's transform or matrix to modify feature's position,rientation and scale? Our team want to perform a animation on 3DTileset.
we hava tried to set node's modelMatrix of a tile's _model,but it's not the way we want control features.It's node dvided by tile's BoundingVolume.

[2018-11-20 09:11] #7268 closed

[2018-11-20 13:41] WilCodeBoer commented on #7273
Original form poster here.

The devices we tested on also had both Cesium.Entity.supportsMaterialsforEntitiesOnTerrain and Cesium.Entity.supportsPolylinesOnTerrain return true.

[2018-11-20 13:58] OmarShehata commented on #7273
Thanks for the info @WilCodeBoer . Are you also getting the same results I am on https://github.com/AnalyticalGraphicsInc/cesium/issues/7273#issuecomment-439989992 ?

I think @likangning93 mentioned somewhere that it was likely because materials on ground primitives are not actually supported, even though it reports that they are, and that using the fallback method should make this work. So either

[2018-11-20 14:09] likangning93 commented on #7273
Related: https://github.com/AnalyticalGraphicsInc/cesium/issues/6739

[2018-11-20 14:14] WilCodeBoer commented on #7273
@OmarShehata I've tested your sandcastle example and I am getting the same results as you are with one exception

Rectangle also doesn't work on my Huawei Mate 10 Lite and my colleague's Huawei P20.

[2018-11-20 14:49] hpinkos commented on #7274
Hello @Joyzen.  Each tile has a `transform` property you can set, but it doesn't look like there's a way to set a model matrix on a individual feature.  @lilleyse do we have plans to support something like this in the future?

[2018-11-20 14:50] hpinkos commented on #7271
Thanks @niuzhendong.  I didn't see anything obvious that would be causing the issue.  @lilleyse @mramato any ideas?

[2018-11-20 14:51] lilleyse commented on #7274
It's something we'd like to do but don't have plans for yet. Another use case would be clamping buildings to terrain at runtime as described in https://github.com/AnalyticalGraphicsInc/cesium/issues/7139.

[2018-11-20 15:32] mramato commented on #7271
`Max Texture Image Units` and `Max Vertex Texture Image Units` are only 16, `Max Combined Texture Image Units` is also only 96.  I think these values are lower than many other cards.  I have 32 and 192 on my Intel for example.

Even if it's a hardware limitation it's still probably something we should better handle on the Cesium side.

That's probably the extent of my usefulness, so I'll let @lill

[2018-11-20 15:38] hpinkos commented on #7271
I have `Max Vertex Texture Image Units: 16` and `Max Combined Texture Image Units: 32` on my computer and the example works fine.  I'm have NVIDIA on Windows though, and @niuzhendong reported AMD on Linux.  The only other big difference I saw was that @niuzhendong doesn't have ANGLE

[2018-11-20 15:43] mramato commented on #7271
There's no ANGLE on Linux (and the example works fine for me on Linux).

So this definitely sounds like a possible AMD-only issue.

[2018-11-20 20:34] OmarShehata opened #7275 "Inconsistent Granularity for Polylines in Entity API"
Discovered in https://github.com/AnalyticalGraphicsInc/cesium/pull/7269#discussion_r234778523.

The granularity option on `PolylineGraphics` is in radians. This makes sense because `PolylineGeometry.js` also has a granularity option in radians. The granularity in `GroundPolylineGeometry` however, is in meters. This isn't an issue if you construct these primitives yourself, but since they are the s

[2018-11-21 02:11] lilleyse opened #7277 "Sharp lighting transition in 2D"
Git bisect points to https://github.com/AnalyticalGraphicsInc/cesium/commit/85b08e56fde4991ab0524d9b4f85c6418d55915f when lighting fade changes were made. @bagnell do you know what might be causing this?

[localhost Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=ZVDLbsIwEPwVKxdSCTlqjyQgpJQb0Eqp4OKLk2yDxcamayeUVv33OqQIQn3beezMupXEjoawfAMiqTSbshSsampeEEgH2xsu/Baa+Ufw0YB1W0/TStr9hDlqY

[2018-11-21 02:14] lilleyse commented on #7277
There are also some light tracers that might be related:

![tracers](https://user-images.githubusercontent.com/915398/48814542-1fdf0c00-ed09-11e8-990f-ae586b6ada51.gif)

[2018-11-21 19:13] lilleyse opened #7279 "PolylineGeometry angled strangely when crossing the IDL"
A PolylineGeometry with two positions and `followSurface` set to false gets angled strangely when it cross the IDL. This goes back at least as far as 1.33.

[Demo](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=fVNrb9owFP0rEV8aJGbAsfNoKRpitKoEoypVt2mZJpOYYtWxke3A2MR/nwOEBDrNn+7rHN9zr70mylkzuqHKuXUE3ThDqlmegZd9zL1K9u5QCkOYoOqqeROLWKwtaiU1M0wKbYHfY+HYU8MPiTLWIsJzYRR1fYwA9COEMApwy/kAMYx8GADkdWH

[2018-11-22 09:01] dminor112 opened #7281 "poliline sometimes is blocked by the cloud points"
I draw a poline on the cloud points tileset. All of the points of the polyline is higher than the cloud points. Sometimes the polyline was hidden by the cloudpoints at the angle that is not expected.
Nromal:
![image](https://user-images.githubusercontent.com/7435641/48892653-85520a80-ee79-11e8-978f-20df073be27c.png)

Was Hidden:
![image](https://user-images.githubusercontent.com/7435641/48892877-f

[2018-11-22 09:21] Tonynovtop commented on #7208
I tried,but it didn't work @hpinkos, can you help me check it.the code is here:
var tileset = new Cesium.Cesium3DTileset({
        url: '../../../data/20181102/tileset.json',
        maximumScreenSpaceError: 2,
        maximumNumberOfLoadedTiles: 1000
    });
    viewer.scene.primitives.add(tileset);
var buildingsPromise = Cesium.GeoJsonDataSource.load('../../../data/test.json');
        buildings

[2018-11-22 10:39] dwastberg commented on #7054
Just a quick update that this has been verified as a Firefox bug (Bug 1493080) and has been reported fixed in Firefox 64.

[2018-11-22 10:58] Koesters commented on #7272
Indeed the example does not work:
Access to image at 'http://nrt.cmems-du.eu/thredds/wms/CORIOLIS-GLOBAL-NRTOA-OBS_TIME_SERIE?service=WMS&version=1.1.1&request=GetMap&styles=&format=image%2Fjpeg&layers=PSAL&bbox=-5.273437499999995%2C55.810546875%2C-5.185546875000011%2C55.8984375&width=256&height=256&srs=EPSG%3A4326' from origin 'http://localhost:4200' has been blocked by CORS policy: No 'Access-Co

[2018-11-23 10:11] thw0rted opened #7282 "TimeIntervalCollection is a poor fit for very granular time ranges"
This isn't exactly a bug, but I discovered some rough edges trying to work with the recently added time-dynamic WMS support. I brought it up in #6348 and Hannah asked me to open a new issue, so here it is.

I found [this sample data](http://mesonet.agron.iastate.edu/cgi-bin/wms/nexrad/n0q-t.cgi/) in a related ticket, I think. I'm working on a simple parser for the Capabilities document, so that I

[2018-11-24 00:34] pjcozzi commented on #2524
@thw0rted @TJKoury there is certainty interest in supporting TypeScript well even if that just means officially maintained definition files, but nothing has been deeply explored or decided at this point.  Please add more thoughts and resources to this issue and we will review when we have bandwidth to kick off this effort.

[2018-11-24 15:53] laonon opened #7284 "polygon above a 3DTile model in 2d view"
In 2d mode, I added a 3DTile model and then added a polygon entity. However, this polygon is under the model. I want to implement this polygon above the model.

// the code

[code]

[2018-11-25 00:17] jimmyangel commented on #7133
Hi @mramato, do you have an estimated time frame for when this (clamped path) will be implemented?

Thank you

[2018-11-25 05:00] supercamel commented on #7031
Hi,

I have also encountered this issue on my linux machine using Electron.
Version string from Electron is . .
`{ http_parser: '2.8.0',
  node: '10.2.0',
  v8: '6.6.346.32',
  uv: '1.20.3',
  zlib: '1.2.11',
  ares: '1.14.0',
  modules: '64',
  nghttp2: '1.29.0',
  napi: '3',
  openssl: '1.1.0h',
  electron: '3.0.0-beta.3',
  chrome: '66.0.3359.181' }
`
Cheers

[2018-11-26 12:43] GatorScott commented on #7281
There are no intermediate points shown along that particular line segment.  This would result in a straight line that could pass through the canopy if there is a slight hill between those two points.  Can you make a Sandcastle example that duplicates the problem?

Scott

[2018-11-26 13:48] mramato commented on #7054
Awesome, thanks for the update @dwastberg!

[2018-11-26 15:10] hpinkos commented on #7281
@dminor112 you can try using a `depthFailMaterial` so the line doesn't look like it's going behind the point cloud

[code]

In the future, please ask questions like this on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning new features. Thanks!

[2018-11-26 15:10] #7281 closed

[2018-11-26 15:11] hpinkos commented on #7031
Thanks @supercamel!  I'm not sure how soon we're going to be able to look into this, but we'll give you and update when we can

[2018-11-26 15:12] hpinkos commented on #7133
@jimmyangel no sorry, this isn't a priority for us right now so I don't think we'll be able to add this feature very soon.  Pull requests are always welcome though!

[2018-11-26 15:18] hpinkos commented on #7284
@laonon you'll need to set the height of the polygon to be above the tileset.  Or you can set `height: undefined` and try setting the [classifictiaonType](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Classification%20Types.html&label=3D%20Tiles) so the polygon colors the tileset.

Please ask any follow up questions on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We

[2018-11-26 15:18] #7284 closed

[2018-11-26 22:22] lilleyse commented on #7248
This can actually be fixed in a much simpler way by making the ray's frustum width larger.

Centimeter frustum:
![centimeter](https://user-images.githubusercontent.com/915398/49045655-9d8a9800-f19f-11e8-9eae-76ca7b14b2f1.PNG)

Meter frustum:
![meter](https://user-images.githubusercontent.com/915398/49045646-995e7a80-f19f-11e8-8e83-db298518d5c1.PNG)

Five meter frustum:
![five-meter](https://user-i

[2018-11-27 07:08] laonon commented on #7284
@hpinkos  Thanks for your reply, but the part of polygon beyond tileset cannot be colored, I guess only two polygons can be drawn overlapping

[2018-11-27 18:04] zbennett10 commented on #7090
Just did a clean fork and build and couldn't reproduce this.

[2018-11-27 18:08] hpinkos commented on #7090
Hmm, thanks @zbennett10!  The build still succeeds even when this error prints out so it doesn't effect anything.  I just think it's a little confusing to see that in the console.  I'll have to double check to see if it still happens for me.

[2018-11-27 20:50] OmarShehata opened #7288 "Post Processing Selected only works for models?"
For the post processing example:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Per-Feature%20Post%20Processing.html

If you replace the model:

[code]

with:

[code]

The color-on-mouse-over no longer works. The docs are a bit vague on what it applies to, since it only says that this allows you to select the "features", which at first made me think of 3D Tiles features.

Is this expected

[2018-11-28 03:33] spencerparkin commented on #3411
Normals can be turned on for lighting the terrain in the terrain provider.  Can I get access to that information just as I can get access to the height being used in the rendered terrain?  I don't want to have to calculate the normals myself if I don't have to.

[2018-11-28 13:56] pjcozzi opened #7290 "Use KHR_parallel_shader_compile when available"
This enables (multiple) shaders to be compiled on a separate thread.  To fully take advantage of this, Cesium's renderer would need to be restructured a bit so it doesn't block right away waiting for the results of shader compile/link.

https://www.khronos.org/registry/webgl/extensions/KHR_parallel_shader_compile/

https://www.khronos.org/webgl/public-mailing-list/public_webgl/1811/msg00008.php

[2018-11-28 16:32] nmccready opened #7291 "event-stream npm/node disaster fallout"
This is to bring attention to any possible developers that could be building AGI cesium library locally.

As `event-stream@^3.3.4` is a direct `developerDependency` for everything except latest on master. I am bringing this up as there has yet to be an announcement regarding this security breach for this repo.

This is regards to [event-stream malware (npm link)](https://blog.npmjs.org/post/180565

[2018-11-28 16:49] hpinkos commented on #7291
Thanks for bringing this to our attention @nmccready.  We were made aware of this issue yesterday, but since we've already updated the dependency to the latest version of `event-stream` in master, I'm not sure if there's any further action we need to take here.  Do you have any recommendations?

[2018-11-28 17:00] nmccready commented on #7291
I am not really sure how to proceed as this library is extremely unique in that many are encouraged to either use the raw build or compile the existing source (webpack, rollup etc).

The latter (compiling source) is where I am worried where a developer is just trying to get the library to work and this puts the said malware on their machine.

A notice to clear out your cache and artifactory repos

[2018-11-28 17:02] hpinkos commented on #7291
@pjcozzi thoughts?

[2018-11-28 17:05] hpinkos commented on #7133
@jimmyangel sorry, I don't have a good solution other than trying to subsample the line on the server and generate CZML.  But like you said, performance might not be great for this.  We unfortunately can't change `path` to use a different polyline type at the moment because the way we draw ground polylines won't be fast enough when the line is constantly changing.

[2018-11-28 23:50] mramato commented on #7291
@nmccready thanks for bringing this up.

Just to clear up any possible confusion for everyone:

* While `event-stream` is a developer dependency used in our build tasks, it is not part of the actual Cesium code base; i.e. building and distributing a Cesium application will not include event-stream's code or dependencies.

* Because it is a devDependency, depending on the `cesium` module in npm wou

[2018-11-28 23:50] #7291 closed

[2018-11-29 18:04] sids4ru opened #7292 "IonImageryProvider not working with puppeteer + headless chrome"
**Issue:**
If we are running puppeteer with headed chrome, everything is fine.
However for headless I am not able to render with IonImageryProvider
I tried alternate providers like MapboxImageryProvider and it works perfectly well

I am trying to render a scene to a video
Using Cesium 50

**Sample Code**
`const puppeteer = require('puppeteer');
var page;
var browser;
var blob;

async function run(

[2018-11-29 18:11] shunter commented on #7292
This appears to be a bug in puppeteer:

https://github.com/GoogleChrome/puppeteer/issues/3463

[2018-11-29 20:50] emackey commented on #7090
I think a new clean fork includes new tags.  This problem likely affects forks only after they get old enough to be missing a couple release tags.

[2018-11-30 07:30] dminor112 opened #7293 "scene.sampleHeight get wrong result when frequently call multi times."
Browser: electron
I try to get some points,s height on the b3dm model.
My code:
[code]
got results(only first six got correct height):
![image](https://user-images.githubusercontent.com/7435641/49274760-514b9a80-f4b4-11e8-9ac7-07cefacd7e1e.png)

Then I change the loop j to for(let j = 6; j < 10; j++), got result:
![image](https://user-images.githubusercontent.com/7435641/49274727-3e38ca80-f4b4-11e

[2018-11-30 08:56] thw0rted opened #7294 "Time-dynamic imagery providers should have better support for manual timeline scrubbing"
The current implementation of time-dynamic imagery is heavily biased towards the use case of animating the clock. It includes code to look ahead to "approaching" time intervals and preload imagery before it arrives.  This is a good idea, but falls short when the user is manually scrubbing the timeline.  Because imagery isn't retained beyond its initial display, a new server round-trip is required

[2018-11-30 14:38] hpinkos commented on #7292
Thanks @shunter!  @sids4ru i'm going to close this issue since it seems to be a bug in puppeteer.  I would recommend giving a 👍 or posting a comment in the issue @shunter linked to above.

[2018-11-30 14:38] #7292 closed

[2018-11-30 14:42] hpinkos commented on #7293
@lilleyse any ideas?

[2018-11-30 14:42] hpinkos commented on #7294
@tfili what are your thoughts on this?

[2018-11-30 15:16] OmarShehata commented on #7292
As a workaround, you can disable CesiumJS from using blob URLs. It's a bit of hack since `IonImageryProvider` doesn't expose that as an option, see:

https://groups.google.com/d/msg/cesium-dev/nKlceXLF-Js/4YiR_bAnAAAJ

[2018-11-30 16:53] pjcozzi opened #7295 "Sandcastle example for model with spinning wheels"
Example showing a moving glTF vehicle model where the wheels are spinning at a realistic rate given the vehicle's velocity.

CC @chris-cooper @impactblue573

[2018-11-30 20:07] lilleyse commented on #7293
@dminor112 this might be a long shot but can you try this branch https://github.com/AnalyticalGraphicsInc/cesium/pull/7289?

[2018-11-30 21:16] OmarShehata commented on #7295
I think this Sandcastle is a good start:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Multi-part%20CZML.html

It already has a vehicle with wheels spinning, depending on the simulation time. I think it shouldn't be too hard to figure out the correct rate to play the animation.

[2018-11-30 21:34] pjcozzi commented on #7295
Yes, perfect!

[2018-11-30 21:51] lilleyse commented on #5152
The option exists at the `PointCloud.js` level, which is private, but not the tileset level. So reopened this.

[2018-11-30 22:34] OmarShehata commented on #7295
@lilleyse I've managed to correctly compute the correct rotation speed given the wheel's circumference and the vehicle's speed, however it doesn't look like there's a way to set the rotation speed of an animation from the Entity API, correct me if I'm wrong.

I think this will be a good opportunity to expose that, to make manipulations like this possible.

[2018-12-02 15:16] ohadmanor opened #7355 "different behavior in develop and production."
Hi,

I'm using cesium 1.51 with the latest chrome.

when I'm running with VS everything work fine but when I'm publish and running it on the same machine I get the following error:

An error occurred while rendering. Rendering has stopped.
RuntimeError: Fragment shader failed to compile.  Compile log:
Error
    at new t (http://localhost:5100/lib/Cesium-1.51/Build/Cesium/Cesium.js:444:24436)
    a

[2018-12-02 15:48] ohadmanor commented on #7355
I found the problem . . . .

Sorry

[2018-12-02 15:48] #7355 closed

[2018-12-03 13:08] xxbld opened #7357 "when an Entity has billboard and point an set CLAMP_TO_GROUND OR RELATIVE_TO_GROUND billboard will be disappear;"
when an Entity has billboard and point an set  CLAMP_TO_GROUND OR RELATIVE_TO_GROUND billboard will be disappear;

![image](https://user-images.githubusercontent.com/13309211/49375508-76a00900-f73f-11e8-8285-25eafb142851.png)

    viewer.entities.add({
        position : Cesium.Cartesian3.fromDegrees(-75.59777, 40.03883),
        point:{
            heightReference:Cesium.HeightReference.CLAMP_TO_

[2018-12-03 13:18] filipdns commented on #5326
Hello, I'm using WebView with Qt and file:// protocols is not accepted... How can I use it?
WebEngineView in Qt has localContentCanAccessFileUrls :true in default, when I don't know how solve my problem...

[2018-12-03 14:33] laurensdijkstra commented on #6847
We really want to use both these post processing effects together. Any progress on this?

[2018-12-03 15:19] #6741 closed

[2018-12-03 15:19] cesium-concierge commented on #6741
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/NZwZnQnmC2U

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-12-03 16:21] lilleyse opened #7360 "Polyline flickering artifacts depending on platform"
Broken out from https://github.com/AnalyticalGraphicsInc/cesium/issues/6741

https://github.com/AnalyticalGraphicsInc/cesium/pull/6955 mostly fixed poyline flickering but I still see it on my AMD machine, not Nvidia.

[Sandcastle demo](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZVFdT8IwFP0rzV42EuwYxI/gJCIagzHxYcQH05fSXaSha0k/IMP4371jiKhNH3o/zuk59264JRsJW7DkhmjYkgk4GSr6us8lsdiHE6M9lxps3CU

[2018-12-03 16:23] lilleyse commented on #6741
Opened https://github.com/AnalyticalGraphicsInc/cesium/issues/7360 to address https://github.com/AnalyticalGraphicsInc/cesium/issues/6741#issuecomment-434846690.

[2018-12-03 16:37] lilleyse commented on #7072
Also https://groups.google.com/forum/#!topic/cesium-dev/NZwZnQnmC2U

[2018-12-03 16:38] lilleyse commented on #6741
Moved the forum issue https://groups.google.com/forum/#!topic/cesium-dev/NZwZnQnmC2U over to https://github.com/AnalyticalGraphicsInc/cesium/issues/7072.

[2018-12-03 16:46] hpinkos commented on #7357
Thanks for reporting this and including the code example @xxbld!  This might be related to #6087, but I'm not 100% sure.

I'm not sure how soon we'll be able to look into fixing this, but we'd be happy to review a pull request if you find a fix!  For now, I would recommended adding the billboard as a separate entity as a workaround.

[2018-12-03 16:48] hpinkos commented on #6847
Hello @laurensdijkstra.  I'm sorry, we haven't be able to make this a priority yet.  @bagnell might be able to help if you would like to look into submitting a pull request with a fix =)

[2018-12-03 17:31] mramato opened #7362 "Failing: Scene/GlobeSurfaceTileProvider can render more imagery layers than the available texture units"
`Scene/GlobeSurfaceTileProvider can render more imagery layers than the available texture units` is failing in Firefox: http://localhost:8080/Specs/SpecRunner.html?spec=Scene%2FGlobeSurfaceTileProvider%20can%20render%20more%20imagery%20layers%20than%20the%20available%20texture%20units

[2018-12-03 17:32] mramato commented on #7362
WebGL Report
✓ This browser supports WebGL 1

Platform:	Linux x86_64
Browser User Agent:	Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.110 Safari/537.36
Context Name:	webgl
GL Version:	WebGL 1.0 (OpenGL ES 2.0 Chromium)
Shading Language Version:	WebGL GLSL ES 1.0 (OpenGL ES GLSL ES 1.0 Chromium)
Vendor:	WebKit
Renderer:	WebKit WebGL
Unmasked Vendor:	Intel

[2018-12-03 17:45] mramato commented on #7362
Looked at this briefly with @bagnell and he thinks it's a Firefox bug.  Basically `Max Combined Texture Image Units` is incorrectly reported by the context as 192, but if you try and use more than 16, the shader will fail to compile (because of an internal Mesa limit).  Firefox should be reporting 16 and everything would work.

[2018-12-03 18:26] mramato opened #7363 "HDR breaks billboard translucency by distance"
Run the fade by distance example in the Billboards Sandcastle: http://localhost:8080/Apps/Sandcastle/index.html?src=Billboards.html

It doesn't work unless you also set `viewer.scene.highDynamicRange = false;`.  The billboard maintains a constant alpha.

@bagnell looking into it.  I marked it as next release because this is a regression not in 1.51

[2018-12-03 18:34] JosiahAllen commented on #7065
Thanks for the height tip @dakotalraymond

For 3D mode I tried to see how much globe I could cover with an ellipse before undesirable effects started to occur.

This is what I got to:

var viewer = new Cesium.Viewer('cesiumContainer');

var redEllipse = viewer.entities.add({
position: Cesium.Cartesian3.fromDegrees(3.0, 50.0),
name : 'Red ellipse on surface',
ellipse : {
semiMinorAxis : 9100000.0,

[2018-12-03 18:35] mramato opened #7364 "Translucent geometry not rendering as well as it used to?"
Somewhere between 1.50 and 1.51 translucent geometry started rendering differently

1.50
https://cesiumjs.org/releases/1.50/Apps/Sandcastle/?src=CZML%20Custom%20Properties.html

![image](https://user-images.githubusercontent.com/1495196/49393760-2c4b6780-f700-11e8-8e4f-4138662cd727.png)

1.51 and 1.52
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=CZML%20Custom%20Properties.html&label=All

[2018-12-03 18:35] mramato commented on #7364
@hpinkos @bagnell @lilleyse any ideas here?  I haven't bisected yet...

[2018-12-03 18:40] mramato commented on #7364
This might be specific to this example.  For example: http://localhost:8080/Apps/Sandcastle/index.html?src=CZML%20Rectangle.html&label=All seems to work (look at PA)

[2018-12-03 18:50] mramato opened #7365 "Sample line positions and draw with depth test disabled broken"
Run http://localhost:8080/Apps/Sandcastle/index.html?src=Clamp%20to%20Terrain.html&label=All and select `Sample line positions and draw with depth test`  It will crash with `normalized result is not a number`

[2018-12-03 18:52] mramato commented on #7365
Works in 1.51: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Clamp%20to%20Terrain.html&label=All

So this is a regression we should fix ASAP.

[2018-12-03 19:09] mramato opened #7366 "Lens flare doesn't work on Linux?"
http://localhost:8080/Apps/Sandcastle/index.html?src=LensFlare.html&label=All

Looks cool, but clearly incorrect:

![image](https://user-images.githubusercontent.com/1495196/49395607-feb4ed00-f704-11e8-945b-30a93f2f4f94.png)

Works fine on Windows.

[2018-12-03 19:10] mramato commented on #7366
Doesn't work in older versions either, not a regression.

[2018-12-03 19:17] mramato opened #7367 "Post processing examples broken."
Works in 1.51 so this is a show stopper.  CC @bagnell @lilleyse

Select Mouse-over Silhouette
http://localhost:8080/Apps/Sandcastle/index.html?src=Per-Feature%20Post%20Processing.html&label=All

Doesn't work in Chrome/Firefox in Windows or Linux.

Chrome:

[code]

Firefox
[code]

[2018-12-03 19:19] mramato commented on #7367
Post processing example too: http://localhost:8080/Apps/Sandcastle/index.html?src=Post%20Processing.html&label=All

[2018-12-03 19:20] hpinkos commented on #7364
Got it, one sec

[2018-12-03 19:21] mramato opened #7368 "Sample Height from 3D Tiles broken"
CC @lilleyse

http://localhost:8080/Apps/Sandcastle/index.html?src=Sample%20Height%20from%203D%20Tiles.html&label=All

Maybe be the same root cause as #7365?

[2018-12-03 19:26] mramato opened #7370 "Disable SceneMode picker in Terrain Clipping Planes demo"
Since clipping planes don't work in 2D and CV, we should disable the mode picker in the demo: http://localhost:8080/Apps/Sandcastle/index.html?src=Terrain%20Clipping%20Planes.html&label=All

[2018-12-03 19:34] OmarShehata opened #7372 "CZML Exporter"
I was surprised to see there wasn't a way to export a CesiumJS scene using CZML! I think this would be pretty useful, in this [particular case on the forum](https://groups.google.com/d/msg/cesium-dev/KT2brToFGR8/sI8giElZAAAJ) they're trying to save the entities they're drawing in their app. This could be something like how a `JSON.stringify()` will take an object and serialize it. We can have a `v

[2018-12-03 19:37] lilleyse commented on #7368
I think it is the same cause because it fails when constructing the polyline from the sampled points.

[2018-12-03 19:40] mramato commented on #7362
Maybe.  The problem is that if someone has a lot of imagery layers, Cesium will crash, but I'm not completely sure that once the Firefox bug is fixed that still wouldn't happen.  Either way I need to report this to Mozilla first, I'll post a link to the issue once that happens.

[2018-12-03 19:41] mramato commented on #7368
@lilleyse so who do you think should be looking into this?  @hpinkos probably knows most about the geometry stuff.

[2018-12-03 19:44] mramato commented on #7368
The positions all end up NaN in the geometry, so something is seriously getting screwy.

[2018-12-03 19:47] #7367 closed

[2018-12-03 19:48] #7364 closed

[2018-12-03 19:59] #7365 closed

[2018-12-03 19:59] #7368 closed

[2018-12-03 20:00] mramato commented on #7363
@bagnell this is the last issue stopping us from release, please let me know when we have a fix.

[2018-12-03 20:04] lilleyse opened #7374 "Blinking polyline artifact"
Extracted @slizer2000's issue from https://github.com/AnalyticalGraphicsInc/cesium/issues/6741

`followSurface=false`
![cesium_bug](https://user-images.githubusercontent.com/32084549/42676495-9456487c-86b7-11e8-82e2-fc97d3ef4954.gif)

`followSurface=true`
![cesium_bug1](https://user-images.githubusercontent.com/32084549/42676558-ca4215d8-86b7-11e8-9083-1b9ddb5d4dd2.gif)

[code]

[2018-12-03 20:06] lilleyse commented on #6741
Opened https://github.com/AnalyticalGraphicsInc/cesium/issues/7374 because we had to revert https://github.com/AnalyticalGraphicsInc/cesium/pull/6955 in https://github.com/AnalyticalGraphicsInc/cesium/pull/7373.

[2018-12-03 21:00] #7363 closed

[2018-12-03 22:06] lilleyse opened #7376 "Label letters misaligned when zooming in"
![letters](https://user-images.githubusercontent.com/915398/49404436-74c54e00-f71d-11e8-8bad-edfbd9a48a89.gif)

[Demo](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=rVTbcuI4EP0VFy+QKiJwhkwys0xqwSYZEWOTcNukqEoJuw0KsuSVZG5b8+8jB8g4l8d1+cHqPueo1epjBxTNEoQFRxHEJGO6FYag1FAsgVs/rDJsu4vZTUgD2sWjHbZ9ihXm9+ehg7/iZfrP2Ol+Qwb0b3SzzEE0cP2k93y387d24t/ghje8O3scYh1McN0f1LeP7mjX2/W2/qS38Xd31HO66aMRCwZrSibX

[2018-12-03 23:56] GatorScott commented on #7376
What is the yellow and green thing that is moving with the "C a p d o r u d"?

[2018-12-04 01:01] lilleyse commented on #7376
Looks like a point object. I copied the code from the [Clamp to Terrain](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Clamp%20to%20Terrain.html) demo.

[2018-12-04 03:04] Spec1alFx opened #7377 "GroundPolylineGeometry glitches on mobile (and others clamp to ground geometries doesn't display at all)"
[Original forum post with screenshot here](https://cesiumjs.org/forum/#!msg/cesium-dev/7IMNjtSxKIU/bWZR54R0AAAJ).

I encountered graphical glitches with GroundPolylineGeometry on mobile when camera is quite near / far of this kind of polyline;
the problem it's consistent on every modern smartphone I tried on (Galaxy Note 9, Huawei P9 Lite, Wikio UFeel; iPhone 6), meanwhile on a Note 3 polyline is

[2018-12-04 03:11] Spec1alFx commented on #7273
Hi!
I just have opened a issue on polyline clamped to ground because there are some rendering glitches when camera is too near / far (https://github.com/AnalyticalGraphicsInc/cesium/issues/7377);
I tried some demo and with the one linked by Omar I encountered his same problem;
so I tried with three different devices, I don't know if it useful but I paste here the results.

Please consider my new i

[2018-12-04 08:10] bivald opened #7378 "Expose Model through the entity API"
In a way this is related to #4727, but I wanted to ask anyway. First of all, super big thank you for Cesium - it's truly an awesome tool!

It would be great if the underlying model was exposed through the entity API. I describe the reasons in https://groups.google.com/forum/#!topic/cesium-dev/4wVIah9ZAuk, but in short they are:

- I'm looking to handle built-in animations on a fine grained level (

[2018-12-04 08:59] xxbld opened #7379 "why ArcGisMapServerImageryProvider option proxy removed？"
is correct before 1.43.
https://github.com/AnalyticalGraphicsInc/cesium/blob/422566315604b1dc5c9df552f44b2dc59f934aee/Source/Scene/ArcGisMapServerImageryProvider.js#L123

Version 1.50:
const agsProvider=new ArcGisMapServerImageryProvider()
agsProvider._resource.proxy = new DefaultProxy('http://localhost/DotNet/proxy.ashx');

Log:
An error occurred in "ArcGisMapServerImageryProvider": Failed to obt

[2018-12-04 09:13] WangXiaoLun commented on #7364
but it's still abnormal in version1.52

[2018-12-04 11:55] vtxf opened #7380 "Scene.highDynamicRange gets something wrong..."
**Scene.highDynamicRange** gets something wrong...
@bagnell @lilleyse

run [local example](http://localhost:8080/Apps/Sandcastle/index.html#c=tVNba9swFP4rml9sQya73fqSumFdEvqwsYFb9mQoinxii8qSkWSHdPS/99jObQ6UMjYZjKzvcnS+g1tmSCtgA4bcEAUbMgcrmor+6s8Cn/efc60cEwqMH15nqns2QuV6Qw/SYdODLVoWBkDNtxJZJzAF5YQTYCnL8+B3pgguxSogU+LfdRLC95qNcCVZScafiG4cHoI/GQS1tmii1XR/1zkzDndMfaJro6sFdNVt8PEijmk8IZ/792XcLRqHO5dDoS

[2018-12-04 13:19] UniquePanda opened #7381 "Removal of point entities broken"
Removal of point entities from the viewer is broken ~~after calling viewer.flyTo() or viewer.zoomTo()~~:
[Sandcastle Example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=tVLBTuMwEP2VUS5NpaxTKGyhGyog9LSVkACBkHIxyYRa63gi20kpiH/HToq2FC5Iuz55xvPezHvjlmtoBa5QwwkoXEGKRjQVu+1y4SDvwpSU5UKhHgx/ZSpTrUPVDtAjGSorrEDDeFGEL5kCd2oyLkcKpu+UKdfW3bgas1JTdYGPGtGEPyY/2eHxZDKJ4GDERuOjo/Ewck1sTULZKbz4u4vEE8pr8

[2018-12-04 13:41] UniquePanda commented on #7381
I just found out that my first impression was wrong. It is not the flyTo/zoomTo method that's causing the problem (will edit the title).

The example i gave above can also reproduce the error without using the flyTo method, but it's harder to achieve. You have to zoom in to where the point were and then zoom out again. Gif (without using viewer.flyTo()):
![entities_removal](https://user-images.git

[2018-12-04 13:45] UniquePanda commented on #7381
And with knowing the right problem I found the already existing issue for this: #7031
Closing this issue then ;)

[2018-12-04 13:45] #7381 closed

[2018-12-04 14:34] mramato commented on #7380
Thanks @vtxf this looks like a clear cut bug when toggling the setting on/off.  @bagnell?

[2018-12-04 14:34] hpinkos commented on #7378
Hello @bivald! Thanks for opening this issue, but this isn't something we're going to be able to do with the current version of the Entity API.  The Entity API is meant to provide a level of abstraction away from the underlying primitives. Depending on whether you're using certain dynamic properties, the primitive might actually be destroyed and swapped out with a new one, so exposing the primitiv

[2018-12-04 14:34] #7378 closed

[2018-12-04 14:34] cesium-concierge commented on #7378
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/4wVIah9ZAuk

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-12-04 14:35] #4727 closed

[2018-12-04 14:35] cesium-concierge commented on #4727
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/25XIuI25F7A

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-12-04 14:38] hpinkos commented on #7364
@WangXiaoLun can you post what you're seeing?  It looks correct to me:

![image](https://user-images.githubusercontent.com/3451886/49449119-32951e80-f7a8-11e8-8706-d3e4be901f5b.png)

Note that we recently made some changes that might make it look slightly different than before, but you can still see the changes in lighting for the different faces of the geometry.

[2018-12-04 14:40] bivald commented on #7378
Thank you @hpinkos, good points. I would be more then happy to use my own primitives, but have found it hard to enable the Entity API features, such as trackedEntity and position/orientation.

[2018-12-04 14:42] ulrichson opened #7382 "Contrast / saturation adjustments causes render issues on Linux since Cesium 1.52"
Since Cesium 1.52 tweaking the contrast adjustment (any value != 1) will cause rendering issues on Linux:

![cesium-1 52-linux](https://user-images.githubusercontent.com/449600/49448714-c0d5c880-f7d9-11e8-835d-a9a891f15b9c.png)

Parts appear black, similar result when saturation is adjusted to a higher value. The previous Cesium version with adjusted contrast / saturation worked fine on my machine

[2018-12-04 14:50] mramato commented on #7382
Thanks for writing up an issue @ulrichson.

This has actually been a problem on the Windows side for a long time.  I'm under the impression that it was an Nvidia driver bug.  On my Linux machine (Ubuntu 18.04.1 LTS) the issue only appears when running under my GTX 1050 and does not happen when using the Intel GPU.  It's definitely possible that it's an issue in an nvidia-only share path in our cod

[2018-12-04 14:52] UniquePanda commented on #7031
As I stumbled over the same problem, just some system info from me, too:
Using Ubuntu 18.04 with Chrome 70.0 and latest available graphics drivers from Nvidia (415.18) with a GeForce GTX 660 Ti.

I can provide some vague additional information:
We use point entities with some functionality attached, so we check with pick/drillPick methods if a point entity is clicked. The "phantom points" seem to

[2018-12-04 14:52] hpinkos commented on #7378
@bivald Here is some sample code.  It shows how to convert position/orientation to a modelMatrix, and how to use `camera.lookAt` so the camera is focused on the primitive (note that if the model is moving you'll need to update `camera.lookAt` when it updates)

But yes, the mailing list is the best place to ask for help if you encounter any other issues.  Our team also monitors the mailing list so

[2018-12-04 14:54] mramato commented on #5265
Bad news, this appears to still be a problem, though I think it might be a similar manifestation of the same issue:

![image](https://user-images.githubusercontent.com/1495196/49450190-8143b800-f7aa-11e8-83c1-2a5f4670df83.png)

[2018-12-04 15:03] hpinkos commented on #5265
This issue was actually two separate problems.  I think @OmarShehata fixed the problem where the CSS wasn't being applied, but the other issue is that `viewer.resize` is being called before the elements are ready and it doesn't know where to put the toolbar.  Viewer either needs to wait for the container to be ready, or we need to call `viewer.forceResize` somewhere.

[2018-12-04 15:50] OmarShehata commented on #7378
I understand why we can't expose the primitive, but it still feels like the Entity API is awfully limited with regards to controlling animation. Like it currently allows me to set `clampAnimations`, which is a very specific thing (how to handle when there are two channels of animation that aren't the same length playing together), but doesn't for example allow me to control how the animation shoul

[2018-12-04 15:53] hpinkos commented on #7378
@OmarShehata we can certainly consider piping more things through.  It's just that no one's asked for it yet.

[2018-12-04 16:14] tfili commented on #7294
Your suggestions seem to be good starting points. The challenge here is that there are so many ways people can move around in time. We need to walk the line of making it easily configurable, not caching too much and limiting fetches that end up being thrown away. We'll never account for someone just scrubbing wildly on the timeline, but we can probably account for someone scrubbing an interval ahe

[2018-12-04 16:25] thw0rted commented on #7294
I understand about the tradeoffs of pre-caching -- my point about "wild scrubbing" was that if the user does that, you wind up with a patchwork of random tiles from before and after the scrub, until everything finishes loading and replaces the old data.  There should at least be the *option* of wiping the slate clean before you start loading after a big seek like that, and I'd argue that it makes

[2018-12-04 17:20] lilleyse opened #7383 "Model fails to load if some primitives are Draco encoded and others are not"
I can't share the data publicly, but I have a glTF that contains two primitives, one with triangles and the other with lines, and only the triangles are Draco encoded. The code assumes that if the extension is present then all primitives are Draco encoded, which causes a failure when processing the lines.

[2018-12-04 20:55] mramato commented on #7378
Yes, instead of just exposing underlying primitives, what we should be doing is expanding the Entity API to handle our users use cases.

[2018-12-04 21:25] adridavid opened #7384 "Camera pitch is different from offset pitch provided in flyToBoundingSphere method"
As discussed on [this thread on the forum](https://groups.google.com/forum/#!topic/cesium-dev/W-4b23WgSSY), it seems that there is an issue with the camera flyToBoundingSphere method.
After flying to a bounding sphere with a given offset, the camera pitch is slightly different from the offset pitch that was provided as an argument.
This does not happen with the cameraFlyTo method.

[Here is a sand

[2018-12-04 21:39] hpinkos commented on #7384
Thanks @adridavid. However, I think this is just a misunderstanding.  For `flyTo`, `pitch` is setting the actual camera pitch relative to the globe and so each time you call the function the value of `camera.pitch` does not change.  For `flyToBoundingSphere`, the `pitch` is relative to the location of the bounding sphere.  `camera.pitch` is not equivalent to the `pitch` you're passing into the fun

[2018-12-04 21:39] #7384 closed

[2018-12-04 21:39] cesium-concierge commented on #7384
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/W-4b23WgSSY

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-12-05 09:53] thw0rted opened #7386 "WMTS constructor throws when given bounding rectangle outside of tiling scheme"
I'm parsing a WMTS Capabilities document to automatically create WMTS Imagery Providers. This generally works pretty well but I ran into a problem with [this one](https://basemap.nationalmap.gov/arcgis/rest/services/USGSHydroCached/MapServer/WMTS/1.0.0/WMTSCapabilities.xml).  They specify a bounding box that I'm converting to a Rectangle for the constructor's `rectangle` parameter.

[code]

When y

[2018-12-05 10:33] Spec1alFx commented on #7377
Thank to you, Hannah.

I have attached screenshot for both WebGL 1 / WebGL 2;
sorry but with plain text copy / paste the result is terrible.

Browsers: Chrome on Android smartphones, Safari on iPhone. I'm a traditionalist. :)

![screenshot_20181205-112545_chrome](https://user-images.githubusercontent.com/16166464/49507609-1ca75c80-f881-11e8-81a8-ab3f871529e7.jpg)
![screenshot_20181205-112556_chrom

[2018-12-05 12:15] UniquePanda commented on #7031
As I started to dig around a bit, I'll just leave my two cents here. Maybe it can at least give some tips if someone else wants to work on it (as I don't have the time right now unfortunately) ;)

1. Point entites _without_ a height reference are handled as PointPrimitives, while point entities _with_ a height reference are handled as Billboards. This is very likely the reason for the different be

[2018-12-05 14:26] tkazik opened #7387 "[gltf] Missing last frame during animation?"
Hi folks

I recently discovered an unexpected behavior. The following lines of code don't seem to play the animation till the last frame (stop at the second-last maybe?):
[code]
Please verify that with the following model (one cube still, the other rotates by 90 degrees). Note, that there is no gap at the beginning between the cube. Once the animation has finished in Cesium, there is a slight angl

[2018-12-05 14:35] likangning93 commented on #7377
Related: https://github.com/AnalyticalGraphicsInc/cesium/issues/6739 and #6735

[2018-12-05 14:41] likangning93 commented on #6739
A lot of users have been running into this and #6735 lately, because Cesium currently uses materials for GroundPrimitives to batch corridors when it detects the required extensions and many users consider corridors to be a legacy "fallback" for polylines on terrain.

For now we should disable both polylines on terrain and materials-on-GroundPrimitives on mobile, this way any legacy fallbacks will

[2018-12-05 15:23] emackey commented on #7387
This is an interesting one!  If you play the Cesium timeline very, very slowly, the cubes will align perfectly.

But, if you play the timeline at 1x or faster, Cesium will "skip over" a tiny window of time where the animation comes to completion, and end up in the dead space after the animation has finished.

Basically Cesium is not "clamping" the animation to its final value.  It properly assigns

[2018-12-05 17:49] tkazik commented on #7387
Thanks for the quick analysis and insight!
I also tested different values of 'speedup' and noticed that the error becomes quite excessive for higher values (becomes noticeable for values greater than 0.1). This screenshot shows the error at the end of the animation with a 'speedup' of 50:

![speedup_50](https://user-images.githubusercontent.com/15689124/49532847-bdb40880-f8bd-11e8-8eae-0de1cfd8415

[2018-12-05 19:01] emackey commented on #7387
I didn't look at the code, but from the observed behavior only, I believe the fix would be to check if the current animation time is past the end of the model animation, and apply the final keyframe value from the model animation as if it were current.

[2018-12-05 20:39] likangning93 commented on #7273
@Spec1alFx thanks for checking on so many devices! Adding to the list, it looks like the Google Pixel (Adreno 530) can handle the above cases as well as desktop. I'd expect similar results on the iPad 4 (A6X/PowerVR SGX554MP4) based on similar tests in #6735, but the gen 1 iPad Pro (A9X) has similar problems with glitches and polygons on terrain not working.

What this problem boils down to is tha

[2018-12-05 20:45] shunter opened #7388 "Test failures in Chrome 71"
Tests are failing on Chrome 71 which just went stable in the last day or so.  I re-ran the build for the head of master which was passing before on 70 and now failing.

https://travis-ci.org/AnalyticalGraphicsInc/cesium/jobs/463025106

 Core/Resource
    fetchImage
      ✗ Calls loadWithXhr with blob response type if headers is set
	Error: Failed: promise rejected: [object Event]
	    at <Jasmine>

[2018-12-05 20:46] mramato commented on #7388
There were some CORS changes that might be affecting things here.  Might be obvious looking at the network tab in the debugger.

[2018-12-05 20:54] shunter commented on #7388
It only happens in headless.  Eventually I remembered this: #7292

Basically Blobs are broken in headless 71.  No recent activity in the Chrome issue.  https://crbug.com/902918

Not sure what you want to do.  Lock tests to 70 until something happens?

[2018-12-05 21:46] mramato commented on #7388
Travis makes that easy to do, so it might be our best option in the short term if there's not an easy workaround.

[2018-12-05 21:50] mramato commented on #7388
Actually, travis has no way to lock Chrome versions, you can either pick `stable` or `beta`, unless we do use a Docker image or something, we don't have a lot of options.

[2018-12-05 21:50] hpinkos commented on #7031
Thank you for this detailed write up @UniquePanda!  That should help our graphics developers narrow in on the problem.

[2018-12-05 21:53] mramato commented on #7388
We could also just go all Firefox until it's fixed.  Almost all of us run Chrome on the desktop so it's unlikely a Chrome-only bug will slip in anytime soon.

[2018-12-05 21:56] pjcozzi opened #7389 "Sandcastle example for HDR"
HDR was merged in #7017 and shipped in Cesium 1.52 but does not have a Sandcastle example.  (@bagnell @lilleyse please don't merge features like this without at least discussing if there should be a Sandcastle example).

Let's add one.  Perhaps there is a good night time example showing the contrast?  @ggetz any ideas?

[2018-12-06 08:44] qqnzhyxxx opened #7390 "[.WebGL-000002170E547790]GL ERROR :GL_INVALID_OPERATION"
When using lensFlare in project, the Browser （ Chrome 70.0）will report this Error:
[.WebGL-000002170E547790]GL ERROR :GL_INVALID_OPERATION : glDrawElements: Source and destination textures of the draw are the same.

[2018-12-06 14:02] Alakeel opened #7391 "Double click fire back on single touch click (touch monitor)"
Sample Demo: [videoDemo.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/2653272/video_bugDoubleClickFiredOnSingleClick.zip)

A bug on cesium viewer on touch monitors. Which double click being fired by each single touch click on the viewer.

As shown in the video, I attached a simple listener to the document to print ( hello dblclick ) if a double clicks triggered.

At time (0:27+) I dou

[2018-12-06 14:44] ggetz commented on #7389
https://user-images.githubusercontent.com/915398/42740436-70bad4ae-8875-11e8-90a8-033847208e58.jpg

[2018-12-06 15:01] hpinkos commented on #7391
Hmm, very interesting.  Thanks for including the video @Alakeel!  I'm not sure if this is a Cesium bug, or a browser bug.  We'll have to look into it further.  Could you try a different browser and let me know if you see the same thing?  Thanks!

[2018-12-06 15:41] hpinkos commented on #7386
@tfili @kring any thoughts on this?

[2018-12-06 16:10] mramato commented on #7388
Offending tests were ignored in #7392, we can re-enable them once the linked crbug is fixed.

[2018-12-06 19:37] tfili commented on #7386
The error could probably be handled better but the coordinates are invalid for Web Mercator. Anything outside of 85.06/-85.06 is invalid.

What should be done with the tiles? Do we cut off the parts outside the range and use the tiles like normal? Do we expand the range covered by each tile? Or maybe just the top/bottom rows? There are multiple ways to handle it and who knows if any will be correc

[2018-12-06 19:39] lilleyse commented on #7383
This happened with another model that had both lines and triangles.

[2018-12-07 00:58] OmarShehata opened #7394 "Remove deprecation warning for speedup"
Speedup was renamed with a deprecation warning, see:

https://github.com/AnalyticalGraphicsInc/cesium/pull/7393#issuecomment-445067188

This is scheduled to be removed in 1.54. Do we have a label for this?

[2018-12-07 01:57] mramato commented on #7090
We should fix this, or at least print a more useful informational messege so users don't think it's an error.

[2018-12-07 04:47] Spec1alFx commented on #7377
D'oh! Sorry for opening a issue clone;
I made some searches but I miss them.

[2018-12-07 04:56] Spec1alFx commented on #6739
I'm one of this users;
just one detail: I found that clamped to ground polygons (corridors, rectangles and so on) are not displayed on modern devices BUT are working on my old Galaxy Note 3.

Question: polylines on terrain are a very useful (and wanted) feature and are working on mobile (although with some graphical glitches when camera is too near or too far). For my use cases it would be better

[2018-12-07 06:02] hoEc commented on #5675
Is cesium now having this similar api?

[2018-12-07 11:03] yaozhihang opened #7396 "Missing arraySlice operation for Polygon minimumHeights and maximumHeights"
Hi, I think the following code
[code]
should be added above the code line https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Vector3DTilePolygons.js#L288

[2018-12-07 15:06] #7090 closed

[2018-12-07 15:09] hpinkos commented on #7377
@Spec1alFx no worries!  We have a hard time finding the right open issue sometimes too =)

I'm going to close this as a duplicate of #6735

[2018-12-07 15:09] #7377 closed

[2018-12-07 15:10] hpinkos commented on #6735
Also reported by @Spec1alFx in #7377

[2018-12-07 15:11] hpinkos commented on #5675
@hoEc see this example: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Multiple%20Synced%20Views.html

[2018-12-07 15:12] hpinkos commented on #7396
@yaozhihang is there a bug that making this change fixes?

[2018-12-07 21:47] lilleyse opened #7397 "Preserve geometry when transforming CZML entities"
CZML entities like boxes can be optimized so that they don't recreate their geometry during translation/rotation/scale animations. This would help speed up czmls containing a large number these entities.

[Example CZML](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=tVVdT9swFP0rUV/opOLaiVM7UNBQQRpaWRntJg2CkJsY8HDiynHKx8R/n5OmJWm7TTwsD3bic++51+f6OnOmneglkc6BcxWmjvOrGBwnbIk4bO3ZOVZRnvDUhK3OEpp

[2018-12-09 10:55] Alakeel commented on #7391
@hpinkos I have tested this on ( Internet Explorer , Firefox ) and I don't see the same thing. This issue happens only on Chrome when using touch monitors.

I'm not very sure if it's Cesium or Chrome Browser bug. I tried to make a demo page with an empty canvas element and I don't see this issue happens in Chrome. The issue exists somewhere on cesiumContainer, it needs to be investigated.

[2018-12-10 10:06] Vineg opened #7398 "Matrix4.getRotation returns rotation with scale"
It seems to be misleading, since there is at least one place in codebase where Matrix4.getRotation is used as rotation-only. For example it leads to dim lighting of scaled point clouds, since normals are scaled as well. I think this place requires carefull review of existing usages and maybe change the name or normalize result by scale.

[code]
![image](https://user-images.githubusercontent.com/17

[2018-12-10 10:19] Vineg commented on #7398
this is what expected
![image](https://user-images.githubusercontent.com/1757455/49725990-054fe100-fc7e-11e8-9625-694f9f719c30.png)

[2018-12-10 10:46] laurensdijkstra commented on #5808
Now that rendering is (at least partially) implemented, is it possible to use floating point textures in the post processing stage?

[2018-12-10 14:46] hpinkos commented on #7397
Ellipsoid already does something like this.  We should be able to apply the same logic to boxes and cylinders.

[2018-12-10 14:47] hpinkos commented on #7391
Great, thanks for the extra info @Alakeel!  We probably won't have time to look into this very soon, but if you figure something out we'd be more than happy to review a pull request =)

[2018-12-10 14:56] hpinkos commented on #7398
Thanks for opening up the issue @Vineg!  This seems like a clear cut bug.

@lilleyse can you look into this?

[2018-12-10 15:45] lilleyse commented on #7398
I've been confused by this in the past too. It seems like `Matrix4.getRotation` has always just returned the upper left 3x3 matrix, which may include scale.

Should `Matrix4.getRotation` be deprecated in favor of `Matrix4.getMatrix3` or `Matrix3.fromMatrix4`?

[2018-12-10 16:05] yaozhihang commented on #7396
Please find attached the test 3DTiles dataset. The polygon object cannot be rendered without the two additional code lines.
[Test3DTilesVectorPolygon.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/2663858/Test3DTilesVectorPolygon.zip)

[2018-12-10 16:39] mramato commented on #7397
Yep, I mentioned this to @lilleyse offline.  It won't even be that hard to do, you can just use the DynamicGeometryUpdater in EllipsoidGeometryUpdater as a template.

[2018-12-10 17:00] hpinkos commented on #7396
@lilleyse @bagnell thoughts?

[2018-12-10 17:04] Vineg commented on #7398
`Matrix4.getMatrix3` seems nice

[2018-12-10 17:19] jbo023 commented on #7257
Do you have any thoughts no this problem, should i open a merge request

[2018-12-10 19:06] hpinkos commented on #7257
Whoops, sorry we missed this issue @jbo023.  @lilleyse @bagnell thoughts on this?

[2018-12-10 20:57] loshjawrence opened #7400 "CPU Perf Issues (photogrammetry)"
Just documenting current CPU perf issues in cesium (photogrammetry).

Biggest and most consistent bottleneck: gl.texImage2D -> imageDecode. Ex:
![photogram_teximage2dimagedecode](https://user-images.githubusercontent.com/13598291/49759276-35ec4680-fc8f-11e8-918c-7095ad99d6fa.png)

![photo_batchedmodelupdate](https://user-images.githubusercontent.com/13598291/49759507-f2460c80-fc8f-11e8-8f9a-5bcd04

[2018-12-10 21:16] mramato commented on #7400
Is this using combined Cesium or modules? Are these numbers with debug code removed?  (i.e. `combineRelease`)?  If not, they could be off because of parameter validation overhead.

We should always profile with `combineRelease` and include any additional details about the profiling method in issues like this.

[2018-12-10 21:18] loshjawrence commented on #7400
I'll re-check with combineRelease

[2018-12-10 22:31] loshjawrence commented on #7400
Same relative bottlenecks issues and existing images are still representative (and colored, combine release's aren't) so I'll keep them as is.

f12->perf tab. Then ctrl+e and immediately click 0 button in sandcastle to load site 0. ctrl+e again when finished.
example sandcastle.
http://localhost:8080/Build/Apps/Sandcastle/index.html#c=zVh/U9s8Ev4qHv54Y6ZUkSXLPyj0DkjoG46EAmkLvOl0jK0Qg2OntkyadPjut5L

[2018-12-10 22:37] loshjawrence opened #7401 "CPU Perf Issues (pointclouds)"
Just documenting current CPU perf issues in cesium (pointclouds).

Built with combine combineRelease.

Biggest and most consistent bottleneck: loading the whole payload when it comes back:
![pointclouds_xhronload](https://user-images.githubusercontent.com/13598291/49761627-a4cc9e00-fc95-11e8-8920-59fe14b6e45e.png)

Thinner call stacks are the normal render, wider call stacks are the payload loadin

[2018-12-11 00:01] bbehling-trimble opened #7402 "Error Creating Cesium 3D Tile Asset"
Hello.

I'm trying to create a Cesium ION asset using the FME Cesium ION Connector. When I go to my assets, this error is displayed:

"We're having trouble with your data. To help fix it, please open an issue in our Github repository.

If you don't have a GitHub account, email Sean at sean.lilley@cesium.com with the asset ID: 12136."

Any idea what the issue is?

[2018-12-11 01:12] bbehling-trimble commented on #7402
I've also created a GML file and tried to create 3D tiles directly from the ION Asset page. Same error:

"We're having trouble with your data. To help fix it, please open an issue in our Github repository.

If you don't have a GitHub account, email Sean at sean.lilley@cesium.com with the asset ID: 12138."

The GML can be viewed in QGIS. Its attached. (rename to .gml)
[land_xml.txt](https://github.

[2018-12-11 02:58] mramato commented on #7383
@lilleyse @ggetz Any guess on how easy this will be to fix?  Seems like it's starting to pop up more often.

[2018-12-11 09:47] alx696 commented on #6622
@lilleyse Same b3dm model:

Ubuntu Chrome 71:
![PC](https://github.com/alx696/share/raw/master/image/3DTiles%E5%9C%A8%E7%94%B5%E8%84%91%E4%B8%8A%E6%95%88%E6%9E%9C.png)

Samsung S8 Chrome 70:
![Android](https://github.com/alx696/share/raw/master/image/3DTiles%E5%9C%A8Android%E4%B8%8A%E6%95%88%E6%9E%9C.jpg)

I have disable shadows: `new Cesium.Cesium3DTileset({ shadows: Cesium.ShadowMode.DISABLED })

[2018-12-11 14:03] lilleyse commented on #7402
Hi @bbehling-trimble, I think it may be lack of `LineStringSegment` support. If you don't mind I moved this to the [cesium-ion-community](https://github.com/AnalyticalGraphicsInc/cesium-ion-community/issues) repo.

https://github.com/AnalyticalGraphicsInc/cesium-ion-community/issues/70

[2018-12-11 14:03] #7402 closed

[2018-12-11 15:01] likangning93 commented on #6622
Hi @alx696, I realized that the Galaxy S8 can have one of two different chipsets with different GPUs, do you know if your unit is Qualcomm or Exynos?

We might also be able to figure this out if you post the output from visiting http://webglreport.com/ on your device.

[2018-12-11 15:52] alx696 opened #7403 "glTF 2.0 model lose light on Andoird"
* Ubuntu 18.04 Chrome 71.0.3578.80
* Android 8.0 Chrome 70.0.3538.80 Samsung S8
* Cesium 1.52

Problem:
1. Aplha lost;
2. **Model dark** on Android;
3. Below is whiter than above;
4. White Color yellowing(1.43 right, 1.45 little yellowing, 1.52 much yellowing).

Blender file:
https://github.com/alx696/share/raw/master/gltf/box.zip

glTF2.0 file:
https://github.com/alx696/share/raw/master/gltf/box.

[2018-12-11 16:02] alx696 commented on #6622
@likangning93 Mode: `SM-9500`

* CPU: Qualcomm Snapdragon 835 MSM8998 (10nm)
* GPU: Qualcomm Adreno 540

I have made a simple model, But same problem. See #7403

[2018-12-11 16:13] alx696 commented on #6622
@likangning93 WebGL Report:

![a](https://github.com/alx696/share/raw/master/image/%E4%B8%89%E6%98%9FSM-9500%E7%9A%84WebGL%E6%8A%A5%E5%91%8A1.jpg)
![b](https://github.com/alx696/share/raw/master/image/%E4%B8%89%E6%98%9FSM-9500%E7%9A%84WebGL%E6%8A%A5%E5%91%8A2.jpg)
![c](https://github.com/alx696/share/raw/master/image/%E4%B8%89%E6%98%9FSM-9500%E7%9A%84WebGL%E6%8A%A5%E5%91%8A3.jpg)
![d](https://gith

[2018-12-11 16:21] loshjawrence opened #7404 "CPU Perf Issues (Terrain and Imagery)"
Just documenting current CPU perf issues in cesium (terrain and imagery).

Built with combineRelease.

Read pixels can take a while, not sure if that can be helped:
![terrainimagery_readpixels](https://user-images.githubusercontent.com/13598291/49813526-9cc43b00-fd35-11e8-8814-d0579a9d7b70.png)

Compiling the shader ahead of time might help or at least compiling it before it's needed (unless of co

[2018-12-11 16:33] alx696 commented on #7403
Other phone same problem:

https://github.com/alx696/share/raw/master/image/gltf-box%E6%89%8B%E6%9C%BA%E4%B8%8A%E6%95%88%E6%9E%9C-%E5%B0%8F%E7%B1%B3.png

[2018-12-11 16:52] loshjawrence commented on #7401
While not cpu perf, @OmarShehata pointed this out to me which might be useful for pointcloud fps since it is quite low (< 20) at times.
https://charto.net/blog/drawing-points-properly-in-webgl/

While I'm mentioning pointcloud fps, overdraw is an issue.  (bright red would be around 200 frags or more)
![overdraw](https://user-images.githubusercontent.com/13598291/49815987-f3804380-fd3a-11e8-9f72-c2

[2018-12-11 18:05] hpinkos opened #7405 "Can't run tests in Chrome 71"
![image](https://user-images.githubusercontent.com/3451886/49820231-537be780-fd45-11e8-8d42-b3bf1283053b.png)

Windows 10
Version 71.0.3578.80 (Official Build) (64-bit)

Marking this `next release` because we need to be able to run all tests in the browser in order to do the release.

[2018-12-11 18:07] #6768 closed

[2018-12-11 19:00] OmarShehata commented on #7405
I just noticed this by running the Materials Sandcastle example:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Materials.html&label=All

Which crashes after 1-2 seconds.

[2018-12-11 19:02] hpinkos commented on #7405
@OmarShehata can you open a new issue for that?  It's probably related, but maybe not.

[2018-12-11 19:05] OmarShehata opened #7406 "splitLongitude produces NaN texture coordinates"
[code]

I've discovered that the texture coordinates attribute has NaN's in it. If I put the following check in `Source/Core/AttributeCompression.js` everything works fine:

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/AttributeCompression.js#L308-L316

[code]

[2018-12-11 19:08] mramato commented on #7405
1. I can run the tests to completion on Linux (Intel chipset)
2. The materials example does indeed crash for me in Sandcastle.

@hpinkos can you hardcode the HDR default to false and try again?  That would tell us really quick if HDR is the culprit.

[2018-12-11 19:10] mramato commented on #7406
May not be the same problem.  I can run the tests, but the Materials demo crashes.

[2018-12-11 19:18] likangning93 commented on #7406
Looks like under linux it just kind of freezes after a few frames.

[2018-12-11 20:56] bagnell commented on #5808
@laurensdijkstra Yes. You can pass `pixelDatatype: PixelDatatype.FLOAT` as an option to `PostProcessStage`, but you must also check that `Context.floatingPointTexture` and `Context.colorBufferFloat` are supported.

[2018-12-11 21:08] likangning93 commented on #7403
I'm actually able to get the same effect on Adreno 308:

![screenshot_20181211-160617](https://user-images.githubusercontent.com/5395255/49830313-cd6c9a80-fd5e-11e8-8db3-47d58fcf22fb.png)

@alx696  thanks for the model, for anyone else testing here's the scene on [cesiumjs](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZZBNT8MwDIb/StTLOqkk+xKC0U1IgxsSSJM49eK2XheRjylJuw60/467bmKAT/FrP/YbN+BY

[2018-12-12 02:50] alx696 commented on #7403
Cesium 1.43 looks better, But still dark on no sun area:

![1](https://github.com/alx696/share/raw/master/image/glTF%E5%A4%AA%E9%98%B3%E5%85%89%E9%98%B4%E5%BD%B13-%E6%89%8B%E6%9C%BA.jpg)

PC:
https://github.com/alx696/share/blob/master/image/glTF%E5%A4%AA%E9%98%B3%E5%85%89%E9%98%B4%E5%BD%B11-%E7%94%B5%E8%84%91.png

Android:
https://github.com/alx696/share/blob/master/image/glTF%E5%A4%AA%E9%98%B3%E

[2018-12-12 04:02] alx696 commented on #7406
Ubuntu 18.04 Chrome71 crash after the Globe show.

[2018-12-12 13:22] Pheater commented on #2866
I can't get a transparent background with 1.52. Even fix FXAA disabled. There has to be another effect that forces alpha drawing.

`	//Create the Cesium viewer
	var viewer = new Cesium.Viewer('cesiumContainer', {

    skyBox : false,
    skyAtmosphere : false,
    baseLayerPicker : false,
    homeButton: false,
    sceneModePicker: false,
    navigationHelpButton: false,
    animation: false,

[2018-12-12 14:12] lilleyse commented on #797
See https://github.com/AnalyticalGraphicsInc/cesium/pull/6314 which enabled WebGL 2 by default but hasn't been tested enough yet and had gone stale.

[2018-12-12 14:13] lilleyse commented on #797
Possible terrain loading bug in WebGL 2: https://github.com/AnalyticalGraphicsInc/cesium/issues/6756

[2018-12-12 14:22] mramato commented on #7406
@lilleyse @bagnell this is a huge issue that we need to address ASAP.  Who would be the best person to look at this?

[2018-12-12 14:31] lilleyse opened #7407 "Make point cloud attenuation tests less fragile"
See @likangning93's comment in https://github.com/AnalyticalGraphicsInc/cesium/pull/7235:

[2018-12-12 14:35] mramato commented on #2866
@Pheater thanks for brining this up.  I took a quick look at the good news is FXAA is no longer the culprit (plus the way to disable it changed a while ago).  Now it's HDR that needs to be disabled.  Here's a minimum snippet to get things working:

[code]

And here's a working example with a yellow background: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZVHLbsIwEPyVVS5QidrqlQZUCpV6qKAC1FM

[2018-12-12 14:38] Pheater commented on #2866
Fantastic. Works great.

[2018-12-12 14:40] mramato commented on #7405
Is anyone else having problems with the tests CC @lilleyse @bagnell @likangning93 we need to get to the bottom of this ASAP

[2018-12-12 14:40] #7070 closed

[2018-12-12 15:14] hpinkos commented on #7405
Hmm, I just ran all the tests again both with and without hdr enabled and they both passed.  I guess I'll close this for now?

[2018-12-12 15:14] #7405 closed

[2018-12-12 15:41] mramato commented on #7405
Sounds good.  Materials issue is still a real problem but hopefully that's an easy fix.

[2018-12-12 15:48] hpinkos commented on #7405
Yeah, I see that crash too

[2018-12-12 16:04] lilleyse commented on #7406
@OmarShehata is going to look into this a bit today. It should be easy to identify which geometry or material is causing the problem in this demo.

[2018-12-12 16:21] esparano commented on #6783
I've been seeing this problem for about 2 years now, actually. I can reproduce it pretty reliably. Here's the updated line numbers for developers:

![image](https://user-images.githubusercontent.com/3947139/49883164-19bbe700-fe00-11e8-8567-75f89ad572ed.png)

[2018-12-12 17:04] lilleyse opened #7408 "Use scene.pick to get per-point properties"
Per-point properties (intensity, etc) can be used for styling but cannot be fetched back. A use case is being able to pick a point on the screen and get its properties.

One approach I could see here:

1. Render each point's index in the pick pass.
2. Use that index to fetch the value in the property's vertex buffer.

For (1) we would need to add a per-point ID vertex attribute. In WebGL 2 we can

[2018-12-12 17:34] loshjawrence commented on #7400
albeit broken, non-bitmap vs createbitmapimage
![nyc_nonbitmap_vs_bitmappng](https://user-images.githubusercontent.com/13598291/49887384-2e04e180-fe0a-11e8-8944-92547303b07d.png)

[2018-12-12 17:37] OmarShehata commented on #7406
Preliminary results: I'm not sure why yet, but it seems to be having trouble with `worldRectangle`.

[code]

If I change the line:

[code]

To

[code]

It works fine.

[2018-12-12 18:32] hpinkos commented on #7282
It does seem like a problem that we're creating so many `JulianDate` as soon as the imagery provider is created.  @tfili do you have thoughts on this?

[2018-12-12 19:03] OmarShehata commented on #7406
The other way to fix it is to comment out the appearance, so the following works:

[code]

I've discovered that the texture coordinates attribute has NaN's in it. If I put the following check in `Source/Core/AttributeCompression.js` everything works fine:

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/AttributeCompression.js#L308-L316

[code]

For some reason, this `st` a

[2018-12-12 19:20] OmarShehata commented on #7406
The issue seems specifically to be in the `compressVertices` step. Another way to make this Sandcastle work is simply to pass `compressVertices : false` to the `worldPrimitive`.

[2018-12-12 19:32] hpinkos commented on #7406
Cool, texture coordinate NaNs is a very fixable problem.  I guess this is something previous versions of Chrome tolerated but this latest release does not.

[2018-12-12 19:36] OmarShehata commented on #7406
Yup! That's the good news. I was worried it was some very specific obscure Chrome 71 WebGL issue, but you can see the NaNs are present in Firefox as well, and it just doesn't crash there.

[2018-12-12 19:38] hpinkos commented on #7406
I can probably take a look at this next week if no one else gets to it first.  The texture coordinate calculation happens here: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/RectangleGeometryLibrary.js#L56-L68

[2018-12-12 19:40] OmarShehata commented on #7406
I was wrong about compressVertices. It gets NaN's before that, it's just that it only crashes during that step.

@hpinkos I just checked RectangleGeometryLibrary and the produces coordinates there are clean.

The NaNs are introduced in `GeometryPipeline.splitLongitude(instances[i]);` Commenting out this line (or just running [the Sandcastle with scene3DOnly](https://cesiumjs.org/Cesium/Build/Apps/

[2018-12-12 19:42] OmarShehata commented on #7406
@hpinkos if you're more familiar with that class, I can stop there and let you take it from here.

[2018-12-12 19:54] hpinkos commented on #7406
We have so many problems caused by that `splitLongitude` function.  @OmarShehata keep poking around at it and let me know if you get stuck.  My guess would be something's going weird in this function: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/GeometryPipeline.js#L1919

[2018-12-12 21:03] tfili commented on #7282
The `fromISO8601*` functions are just for convenience because date parsing can be a pain. All the functions will eventually call `fromJulianDateArray`.

You can however just call `addInterval` at anytime to add the interval. If you are animating via a clock, you can listen to the `clock.onTick` event to make sure you interval is there in time for us to use it.

[2018-12-12 22:58] spencerparkin opened #7409 "Supply both slope and aspect to shader in radians"
The **czm_materialInput.slope** parameter should be in radians.  To fix this, simply return the arc-cosine of the currently computed slope.  Also, there should be a **czm_materialInput.aspect** parameter supplied to the shader that is also in degrees.  Zero radians should mean _East_, pi/2 radians should mean _North_, pi radians should mean _West_, and 3pi/2 radians should mean _South_.

I have fo

[2018-12-12 23:39] spencerparkin commented on #7409
Here is my feature branch:

https://github.com/spencerparkin/cesium/tree/slope-and-aspect

I really think that it would be useful to add aspect information.

[2018-12-13 13:08] thw0rted commented on #7282
Just to give you an idea of what I'm thinking, [this class](https://gist.github.com/thw0rted/bcea45d0652a7f45f40390cb5cc25c8e) (in TypeScript, but easy enough to transpile, I think) is what I worked out after posting the initial issue.  I know it isn't perfect and there are probably some cases where it would not be a drop-in replacement for other uses of TimeIntervalCollection.  But for my specifi

[2018-12-13 13:33] mramato commented on #7406
They released a new minor version update for Chrome last night and it no longer crashes on my system.  Maybe it was a regression on their end?  Can others confirm?

I still maintain that Chrome 71 was garbage, this and #7388 seem to confirm that.

[2018-12-13 13:36] apopiak commented on #6490
I would be interested in using extensions. As extras seem to be equally powerful that would be my fallback, but not optimal for building something well-defined.
Use-case: including (just bare-bones) images in 3D-tiles data that are loaded based on the HLOD.

[2018-12-13 13:54] OmarShehata commented on #7406
@mramato it's still true that `splitLongitude` is spitting out `NaN`'s that are being sent to the GPU in the texture coordinate attribute buffer. If it doesn't crash anymore it might not be as big of a priority but probably still something we should fix.

I'm guessing the crash was not intentionally on Chrome's side because the debug log says something like "Application tried to access memory and

[2018-12-13 14:02] lilleyse commented on #6490
@apopiak you can start using them now. The extras/extensions API looks like:

[tile.extras](https://cesiumjs.org/Cesium/Build/Documentation/Cesium3DTile.html?classFilter=cesium3dtile#extras)
[tileset.extras](https://cesiumjs.org/Cesium/Build/Documentation/Cesium3DTileset.html?classFilter=cesium3dtileset#extras)
[tileset.hasExtension](https://cesiumjs.org/Cesium/Build/Documentation/Cesium3DTileset.

[2018-12-13 14:41] hpinkos commented on #7406
Re-targeted this issue to fix the texture coordinate computation in `splitLongitude`.  You can see from the gif I posted in the first comment that it's doing something completely crazy.  The numbers its generating aren't within the [0, 1] range.

[2018-12-13 14:55] hpinkos commented on #7406
Only seems to be a problem with `GroundPrimitive`.  They didn't show up at all prior to 1.49.  We fixed it for 1.49 with #6951 so they display but the texture coordinates are wrong.

[2018-12-13 14:58] hpinkos commented on #7406
Just kidding, the `GroundPrimitive` texture thing is unrelated to `splitLongitude`.  I'm going to open a separate issue.  We'll keep this one for fixing the NaN thing.

[2018-12-13 15:01] lilleyse commented on #7257
@jbo023 that fix works. You should go ahead and open a PR.

Though we should also look at the underlying issue. Because of the required `render` call before `pickPosition` the commands that are used in the `renderTranslucentDepth` pass don't have `pickOnly` set and depth commands are rendered instead. If we can, we should try to remove the requirement of calling `render` before `pickPosition`. I m

[2018-12-13 15:01] hpinkos opened #7410 "GroundPrimitive texture coordinates incorrect across IDL"
![texturecoords](https://user-images.githubusercontent.com/3451886/49945529-1df90a80-febb-11e8-842f-006bf10dd500.gif)

This only happens with ground primitives with materials that cross the IDL.

[code]

cc @likangning93

[2018-12-13 15:13] hpinkos commented on #7409
This sounds great @spencerparkin!  Looking forward to your pull request =)

Good catch with the slope fix.  Can you open a separate pull request for that?  That way we can get that fix in without having to wait for aspect.

For reference, @jasonbeverage added slope in #5919

[2018-12-13 16:02] jasonbeverage commented on #7409
Hi @spencerparkin!

I'm not sure if changing the slope to be in radians instead of normalized between 0 to 1 really buys you anything since it's currently just used for a texture lookup which maps nicely to 0 to 1.  With your change it's going to be adding an additional acos computation for each vert in the vertex shader only then to convert it back to a value between 0 and 1 here:  https://github

[2018-12-13 16:08] apopiak commented on #6490
Ok, cool, thanks for the info!
Will use extras then.

On Thu, Dec 13, 2018 at 3:02 PM Sean Lilley <notifications@github.com>
wrote:

[2018-12-13 17:20] spencerparkin commented on #7409
Okay, here is my latest commit that gives you an idea of the proposed modifications to the GlobeVS.glsl file.

https://github.com/spencerparkin/cesium/commit/8452c23535c63735646cf8c45f5d138bcaf70eb6

Thanks for any time you spend looking at it.

It has occurred to me that if all the uniform and other globals are available to me in my fabric, then maybe I don't need to try to get a new feature into

[2018-12-13 21:31] OmarShehata commented on #5265
The real solution for this to simply compile all our CSS into one file. This was easy to test in the Standalone mode https://github.com/AnalyticalGraphicsInc/cesium/pull/7250 where it happens consistently locally. The problem is specifically that the `@import` tags are async. Another experiment to prove this is to put a dummy HTML element and style it, then poll every frame to see if that style is

[2018-12-13 22:15] kayleighbray opened #7413 "Multiple ground polygons results in disappearing on camera change"
Sandcastle example: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html#c=lVbbbts4EP0VIS91UC8tUaIoOW6w3SQFFnCTog5SFPViQUtjW1iZdEnK3jTwv+/o4voSeZPqwZKGc85cOIfWSmhnrXSe3oPWIpPOO+cKTFYsSKJBWPiyt9Z5GksHLw3fCzD2AbSFf2+VXojc9B2rCxjLzfnFWI7lCmlXGaxBI6GE9Zb0obJ13iTV65WSFnlBv+k6DbdJQIJ/fSfzx5qy29jnIlVrDDPFYFtjk8hnkCnojyqFA4its/6k1SrD9f5BnT8zxVyrnEgVmcxyNQECUkxyGGazuc3kDEuool4c+U7VrPFMT7nUdCks7fweM

[2018-12-14 02:48] spencerparkin commented on #7409
@jasonbeverage, no I don't think it's like curvature.  It's simply the direction (e.g. north-east) a ski slope is facing, for example.

Once I get to a point where I can test and verify my changes, I'll open a pull request.  One of the sand-castle demos will do nicely, and I have already added a test-case to it.

One argument for keeping the arc-cosine in the vertex shader is to prevent a need for

[2018-12-14 08:06] ulrichson commented on #7382
@mramato thanks for the update!

I found out that the issue appears when `Scene.highDynamicRange = true` (as it was introduced in 1.52). When I disable it the adjustments work as in < 1.52.

[2018-12-14 14:19] hpinkos opened #7414 "Pass in interpolation functions to ParticleSystem"
Currently, particles will always linearly interpolate between `startColor` and `endColor`, and `startScale` and `endScale`.  I want the ability to pass in a function for each to compute the interpolation.  The default value would still be `CesiumMath.lerp`.

[2018-12-14 14:39] hpinkos commented on #7413
Thanks for including the code example @kayleighbray, that made this really easy to reproduce.

@likangning93 this only happens with ground polygons.  Could you take a look into this?

[2018-12-14 22:07] AtofStryker opened #7417 "Cesium color Change between 1.51 and 1.52"
Hey Cesium Team,

Does anyone know why the background shade on the globe has changed between these two versions? I am using openstreetmaps as my imagery provider.

here is a picture of the content. cesium 1.52 on the left and 1.51 on the right
![image](https://user-images.githubusercontent.com/3980464/50030669-85e64880-ffc2-11e8-82cd-f364d33027bf.png)

 I can provide more code if needed.

[2018-12-14 22:10] hpinkos commented on #7417
Hello @AtofStryker!  Yes, we added HDR support in 1.52 which is probably why the map looks like it's colored differently.

You should be able to get the old behavior by adding the line `viewer.scene.highDynamicRange = false;`

I'm going to close this issue, but if that doesn't work for you, let me know!

[2018-12-14 22:21] ggetz commented on #7383
We check each primitive for the extension before attempting to decode: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/DracoLoader.js#L180

Then throughout we check if there's decoded data associated with the primitive, and use that: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Model.js#L2549

This would be a matter of making sure the resources

[2018-12-14 22:50] AtofStryker commented on #7417
@hpinkos Thanks! Ill give it a try and will let you know if I have issues.

[2018-12-15 19:47] mramato commented on #7417
This definitely looks like a bug, @hpinkos.  All billboards shouln't suddenly be the same color.

[2018-12-15 19:48] mramato commented on #7417
@AtofStryker were you explicitly asking about the background share or the billboards in the foreground as well?  I might have misread it and @hpinkos might have been right to close this.

[2018-12-16 02:41] qandeelabbassi commented on #4059
is this possible now? Enforcing titles with same zoom level

[2018-12-17 14:10] laurensdijkstra commented on #5808
I have not been able to get the initial HDR rendered image of the Scene. Is it possible to obtain the HDR rendered Scene texture in a PostProcessingStage, or use that as the start of the post processing chain?

[2018-12-17 14:19] wallw-bits commented on #4059
Not to my knowledge.

[2018-12-17 14:34] AtofStryker commented on #7417
@mramato the question only pertains to the color hue. I changed the color of the billboards. No worries! @hpinkos was right to close the issue

[2018-12-17 15:48] #7417 closed

[2018-12-17 15:48] mramato commented on #7417
Thanks (and sorry for the confusion on my part)

[2018-12-17 16:18] OmarShehata opened #7419 "Re-support glTF 1.0 premultipliedAlpha"
Cesium used to support the glTF 1.0 `premultipliedAlpha` property. This was removed in 1.50 when we we updated the glTF pipeline:

https://github.com/AnalyticalGraphicsInc/cesium/pull/6805#discussion_r203855494

This would only work when OIT is disabled. See forum thread:

https://groups.google.com/d/msg/cesium-dev/6dCttPKnJWw/vxCNm2jEBAAJ

This breaking change was not mentioned in `CHANGES.md`, w

[2018-12-17 17:04] OmarShehata commented on #7139
I was trying to find this earlier, so I'm posting here to keep it as a reference, here's a Sandcastle Gabby had on the forum to clamp individual tiles to the ground:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html#c=fVZtTxs5EP4re3xho0YOkOv1jgC6ElIuiAQKKaWQqnJ2nayL187Z3qCk4r/f+GXf8nKWot3YzzOeGT8z6wWWQRdLTRTFvB2cBl14y1JUznXGfMxbreBSYq798tV9gKOIKBVoESxFJgMqeICVIlqNuTfRFxzFZIozpj9a8Ei8EA

[2018-12-18 16:04] thw0rted commented on #2866
Thanks for pointing this out.  Do you think the docs where `alpha` is explained (I think at the top of `Scene`) could be updated to mention this?  Alternately (and/or?), maybe a brief mention in the release notes -- helpful to know why my transparent background suddenly wasn't.

Another thought: it wouldn't hurt if `viewer.scene.backgroundColor = Cesium.Color.TRANSPARENT` automatically turned off

[2018-12-18 16:12] OmarShehata opened #7423 "zIndex doesn't work for polyline not clamped to ground"
To reproduce, go to this [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=rVRdb9owFP0rFi8EiRoCQkgbRVuh2iZRteravix7MPFtYs2xI9uBhYr/vpsPRELXaRNLHmLfe87xzT22N8yQjYAtGHJJFGzJAqzIEvpUxrxuWE4XWjkmFJhu732gineDPAN8hUEkVgoUlBNOgKWMc+8lUAQfxRIg70j3HjjhzMb4kUjq9qt0qmVezBFSE6qoRSGtLIbrghbMOBwxNabPRidLiAyA/WgMyz+DiGJnvW8X00mfjP0+GfaPWv/6XPijg8r3XkNnK7iLsZ5JIxZKlqQP+pPRmeKYcyaDRnr3RXH4ifFmPQlzY

[2018-12-18 16:18] hpinkos commented on #7423
`zIndex` is only supported for polylines that are clamped to ground.  All other polylines are ordered spatially, ie a polyline with a greater height will draw on top of a polyline with a lower height.

[2018-12-18 16:18] #7423 closed

[2018-12-18 16:18] cesium-concierge commented on #7423
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/abe2tbjnI2A/458fcSQ5BwAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-12-18 16:25] OmarShehata commented on #7423
@hpinkos I just saw that in the docs now. My bad. I still think it would be nice to add a warning when it's ignored, the same way we have a warning for:

[2018-12-18 16:35] hpinkos commented on #7423
Gotcha, I thought we had a warning.  I'll add one.

[2018-12-18 20:30] mramato commented on #7382
Thanks for the extra info @ulrichson.

@bagnell any idea where the problem might be?

[2018-12-18 21:30] OmarShehata opened #7426 "Property to hide individual 3D Tile"
This feature would add a `show` property on `Cesium3DTile` so you can show/hide individual tiles. The use case is here on the forum:

https://groups.google.com/d/msg/cesium-dev/FwURIcrErv4/nQkCiM_XCAAJ

There doesn't seem to be a way to hide an individual tile with the styling language. I suggested a workaround of just splitting it into multiple 3D tilesets (each could be selectively hidden) but t

[2018-12-18 21:34] hpinkos commented on #7426
@OmarShehata can you find out more information about the use case for this?  I would suggest using styling to hide features.  I'm not sure hiding a tile is helpful in most cases because it's not meaningful as far as the data is concerned.  Any number of features can be in a tile, and the tile children may be drastically different from the tile depending on the type of refinement used.

[2018-12-18 21:49] mramato commented on #7426
While there's no way to hide a tile with the styling language, I believe the Cesium API itself allows this if that's what they really need.  I'm with @hpinkos though, this use case sounds weird and not something we would support through styling. (but we'll see what the user says).

[2018-12-18 21:50] OmarShehata commented on #7426
How would you hide a tile with the CesiumJS API right now?

[2018-12-18 21:56] mramato commented on #7426
I may be mistaken.  I thought you could listen to the `tileLoad` event on `Cesium3DTileset` and then set visible to false on `Cesium3DTile`, but that doesn't look public.  You might actually be able to cheat and do the same thing but set `Cesium3DTiles.color` to Color.TRANSPARENT

[2018-12-18 21:59] mramato commented on #7426
Yep, that worked:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=bVTRbts6DP0VIi9zgVS2Y6d2sqy4WTNgBbq2aIN7MSAvqsXEQhUpkGhn3bB/n2S7Xbtdv8iUDsXDQ1JxDEtwcn9QCAL3BswWshWspUIHW+TUWISDrB6l3sFRUg21adEC1wIcKqwIHrDmrTR2o+MYPjZSiYAVnDhUprGE7incev31Am4OqFfh4GAscTWHmugwj+Pj8Zgy/VSxnWljJwljYSRRLLUkyUm26OJMnD4Ml7MD3+FGt9xCK/Ho6XwAjUe4QCebPfu324veVZ15YTRxqdG+G8OPjQb/EVrrt26taaVAO392rKxPGP8zVol1D4lONvrnyfuN

[2018-12-18 22:11] hpinkos commented on #7426
@OmarShehata We need to understand why they want to hide a tile instead of hiding features using styling.  I think there's a better way to accomplish whatever they're trying to do.

[2018-12-18 22:16] OmarShehata commented on #7426
I agree with you @hpinkos .

[2018-12-18 22:54] #7382 closed

[2018-12-19 03:19] lilleyse opened #7427 "Transparent background not working if HDR is enabled"
@bagnell could you look into this? It seems like it would be a quick fix.

Borrowing the Sandcastle example from @mramato in https://github.com/AnalyticalGraphicsInc/cesium/issues/2866#issuecomment-446608717

[code]

[2018-12-19 03:20] lilleyse commented on #2866
I opened an issue for the recent regression: https://github.com/AnalyticalGraphicsInc/cesium/issues/7427.