[2018-07-24 21:08] hpinkos opened #6840 "disableDepthTestDistance causes weird mouse interaction"
`disableDepthTestDistance` pushes the billboards to the near plane, which messes up the collision detection when you try to zoom in.

See discussion in https://github.com/AnalyticalGraphicsInc/cesium/pull/6802#issuecomment-405415474

[code]

[2018-07-24 21:40] lilleyse commented on #6817
Slightly modified version of @bkuster's Sandcastle that I used for testing: [localhost:8080 link](http://localhost:8080/Apps/Sandcastle/index.html#c=dVRRb5swEP4rVl5KpNRpp2ma0jQaa+lWaVGiJIv2EKly4CBWjY1sQ5ZN+e87zCBANx4M57vv7jv7OwqmScHhCJrcEwlH8gCG5ynduj3vKnTmg5KWcQn6ani3kztZIEpDaJlMBLidOJeh5UqSUAOzsNQ85ZYXYDwTgoQh+b2TBJ8GheWch2ZNKGVR5LU4NEm8v+DySUClYPXpWRpMhPTIpM37S8/dhrbhXdSqZlXD+7Au9ckbHI21Sh8h0YA

[2018-07-24 22:52] #6817 closed

[2018-07-25 03:13] #6826 closed

[2018-07-25 03:19] #2909 closed

[2018-07-25 03:19] #4714 closed

[2018-07-25 03:19] #6830 closed

[2018-07-25 03:19] cesium-concierge commented on #4714
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/N7vPMwXtiGg
https://groups.google.com/forum/#!topic/cesium-dev/zSXhiqaPt8k
https://groups.google.com/forum/#!topic/cesium-dev/zkekUUpM0u8

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps

[2018-07-25 13:14] #6839 closed

[2018-07-25 13:15] hpinkos commented on #2909
@cguldner @cmcleese this issue has been fixed and will be included in the Cesium 1.48 release available August 1st.  Thanks!

[2018-07-25 13:16] hpinkos commented on #4714
@billwritescode I believe I fixed this in #6835.  The fix will be included in the Cesium 1.48 release available on August 1st.  If you still see this problem in 1.48 feel free to reopen this issue.  Thanks!

[2018-07-25 14:43] hpinkos opened #6843 "Remove PostProcessStageLibrary.createLensFlarStage"

[2018-07-25 15:05] hpinkos commented on #6817
Thanks again for the bug report @bkuster!  This was fixed in #6837 and will be included in the Cesium 1.48 release available August 1st.

[2018-07-25 15:06] hpinkos commented on #6826
Thanks @SurajitChowbey!  This was fixed and will be included in the Cesium 1.48 release available August 1st

[2018-07-25 15:07] hpinkos commented on #6823
That fix was merged and will be included in the Cesium 1.48 release available on August 1st.  Thanks again @thw0rted!

[2018-07-25 22:23] keikland opened #6845 "Getting a bitmap from the current WebGL canvas - solved/"
I needed to obtain a bitmap from arbitrary locations on the Cesium map, and managed to do this by i.a. enabling preserveDrawingBuffer and stealing access to the internal webgl context.  (I saw some references to extracting a bitmap in earlier posts, but found no solutions or hints there.) I use requestRenderMode: true, so the approach appears safe.

It would be great to see bitmap extraction as an

[2018-07-25 22:57] keikland commented on #6845
I needed to obtain a bitmap from arbitrary locations on the Cesium map, and managed to do this by i.a. enabling preserveDrawingBuffer and stealing access to the internal webgl context.  (I saw some references to extracting a bitmap in earlier posts, but found no solutions or hints there.) I use requestRenderMode: true, so the approach appears safe.

It would be great to see bitmap extraction as an

[2018-07-25 23:49] #6793 closed

[2018-07-25 23:49] cesium-concierge commented on #6793
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/XlaPQFwjozA

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-07-26 11:33] smlawrence opened #6846 "BillboardGraphics - DistanceDisplayCondition: camera gets pulled "inside" entity"
# BillboardGraphics - DistanceDisplayCondition

Works fine: [Sandcastle - working](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=dVNRT+MwDP4rVl/opCltt5WN3pgOjRck0CHg7qkSShOzmUuTKUmHBtp/J6VDt8HOL439+bMd90uS3BrSHubKNBKqDdxa88TgFj1auFAKdR/mRjV1RRx+a1qjdeQ3cGcq40k4uOYVg3vBtSa9aAtcKHzmWloDD9YIYRRBcOGGeySYkxHcKkJW6jW3sCZ8CY3OQeMLzNFRU7M/H7H4RHy4c6M9J432pPej1B3Lk0KH/pDWfYaXDx0Yv0FjVfGJXhl9h840ViB7

[2018-07-26 12:31] laurensdijkstra opened #6847 "Enabling both bloom and ambient occlusion gives incorrect rendering"
ambient occlusion and bloom

[2018-07-26 15:04] mramato commented on #5942
After some offline conversations, and given the awesome work the community has done over the last few months, the time has come at last to enable terrain by default. The plan is to do this for Cesium Oct 1st release (1.50).  While some of the checkboxes in this issue are still valid, the scope for terrain on by default is actually fairly small so let's try to keep the discussion geared towards wha

[2018-07-26 15:07] mramato commented on #4686
I think we might have addressed all of these issues at one time or another and with @hpinkos' work in this are might make this entire issue OBE.

@hpinkos any thoughts here?

[2018-07-26 15:23] hpinkos commented on #4686
@mramato 2, 3, and 4 are all things we still potentially need to address.  2 in particular seems wrong to me but I'm not sure what the right thing to do is.  @bagnell can you take a look at this?

1 is probably something we're not going to address.  We made a decision to clamp to the highest resolution LOD and not reclamp if lower resolution tiles are loaded in when you zoom out from an area.

5 i

[2018-07-26 15:40] mramato commented on #4686
Thanks, I tagged this as high priority since we'll want to address this as part of our terrain by default work.

[2018-07-26 16:31] hpinkos commented on #6845
Hi @keikland!  This sounds like an interesting feature.  I don't think it's something that would be a priority for our team to add, but we're always happy to review a pull request if you wanted to implement this kind of functionality

[2018-07-26 18:29] mramato commented on #6845
@keikland I agree that a helper function (per perhaps just a sandcastle example) would be a good contribution to Cesium and eliminate confusion our users occasionally have.  That being said, there's no reason to mess with the webGL context or `preserveDrawingBuffer`, you just need to capture the thumbnail in the `postRender` callback:

[code]

As simple as the above is, there's obviously a lot of

[2018-07-26 18:50] lilleyse commented on #6741
Another polyline artifact but only when log depth is off. I wasn't able to git bisect due to unrelated shader errors but it seems to have been introduced with the log depth changes.

[Sandcastle link](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=lVLLbpwwFP0Vi01AogYGhkdCRk2nyz5GShWpKl14wAxWjY1sA5pE+feaxySEdtGyse49j3uuTYcE6AjusQC3gOEe7LEkbQ0fxp55lY/lnjOFCMPiyrrJWKc1MscMa8mkhWOpofGElJ+QIKqqSf

[2018-07-26 18:54] keikland commented on #6845
Hi @mramato.  Amazing, that seems to be exactly what I was looking for, and which you seem to have tried already :-).  Obviously agree that what I did is unoptimal, but the road to discovery can be long.

The only question I have is if the canvas in the eventlistener supports getting a ctx=canvas.getContext('2d' or ctx=getContext(getContext('webgl').

If it is '2d', I can use ctx.getImageData(), w

[2018-07-26 19:58] MattPetry opened #6848 "Cesium render loop crashes when double clicking access line on a zoomed-to object"
The attached czml document demonstrates this behavior. Steps to reproduce:

1. Load the czml
2. Double click ISS to zoom to it
3. Double click the access line between ISS and the ground station
4. Cesium shows an error message

I've seen this in versions 1.44 and 1.47

[accessLine.czml.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/2233375/accessLine.czml.txt)

[2018-07-26 20:01] bagnell commented on #6845
You can't have two different contexts on the same canvas. You can read the pixels with `scene.context.readPixels`.

The other option is to create a new canvas and draw the image to it.
[code]

[2018-07-26 20:04] mramato commented on #6848
Thanks @MattPetry!

This looks like a clear cut bug to me on line 2022 of Viewer.js
[code]
`viewer._zoomOptions` should just be the locally scoped `zoomOptions` (which is always defined, while the former is not).

If someone wants to confirm this and open a PR, that would be great.  Thanks.

[2018-07-26 22:13] keikland commented on #6845
Refactored my relevant logic into a single function call inside the postRender code approach by @mramato (replacing the canvas variable with scene.canvas (since I have a scene global variable, but not canvas). Maintained the preserveDrawingBuffer: true for now.

The result was Ok for scene.canvas.getContext('webgl') and readPixels(), but not '2d' with getImageData(), confirming the indirect hint b

[2018-07-27 00:55] lilleyse opened #6850 "Tile debug bounding volumes clipped when EDL is enabled"
The failing commit is https://github.com/AnalyticalGraphicsInc/cesium/commit/97074e5c968de24a6a1cce57ef010c2188d34af4 part of the EDL updates in https://github.com/AnalyticalGraphicsInc/cesium/pull/6801.

Not critical for the release but it would be good to fix since it's a regression since 1.47.

`1.47`

![before](https://user-images.githubusercontent.com/915398/43295882-f9519728-9115-11e8-9cb6-8

[2018-07-27 02:10] iamgithubym opened #6851 "Module not found: Can't resolve '../ThirdParty/pako_inflate' in 'E:\react\react-cesium-demo\node_modules\cesium\Build\CesiumUnminified\Workers'"
![image](https://user-images.githubusercontent.com/16376755/43297613-fae352c4-9184-11e8-898e-ab6d08e46dc4.png)
![image](https://user-images.githubusercontent.com/16376755/43297632-0d2383dc-9185-11e8-9d8b-59b91c2b42a2.png)
please what can i do?

[2018-07-27 05:56] ProjectBarks opened #6852 "The ZigZag Encoder?"
So I was recently trying implement `Vector3DTileContent` into one of my applications when it came to my attention cesium uses _ZigZag Encoding_.

### What is Zig Zag Encoding?
ZigZag encoding has two basic principals. Mapping signed integers to unsigned integers, and then packing that integer into a variable amount of bits. The motivation behind removing the sign is reducing computational overhead

[2018-07-27 06:10] kring commented on #6852
Hi Brandon,

I would argue that "zig-zag encoding" only covers the process of mapping
signed to unsigned integers in such a way that small positive and negative
values are both encoded as small integers. From some of your links, it
looks like Protocol Buffers have a thing they call zig-zag encoding which
also represents smaller numbers with fewer bits, but I would describe that
as a separate techn

[2018-07-27 08:01] ProjectBarks commented on #6852
@kring So I hear what you are saying but I would argue you are not really benefiting from the zig-zag component of the encoder. What cesium encodes is the delta between the currently element and the previous element. Which in turn reduces the amount of bits used, assuming that distance between the points is somewhat constant, ie:  `10, 20, 30, 40, 50`. Since gzip is a slightly modified version of

[2018-07-27 12:22] kring commented on #6852
You may very well be right! Our approach to mesh compression was heavily influenced by the approach used for Google Body and described in Chapter 30 of OpenGL Insights (https://books.google.com.au/books?id=0bTMBQAAQBAJ&pg=PA446&lpg=PA446&dq=google+body+zig+zag+encoding&source=bl&ots=byAw0TZeQB&sig=vJ2ku0R8AtDwbEoi-4vVO0bk774&hl=en&sa=X&ved=2ahUKEwi0z777nL_cAhUCjLwKHZmsAycQ6AEwCXoECAQQAQ#v=onepage&

[2018-07-27 14:23] hpinkos commented on #6850
@lilleyse I disagree. If we broke something between releases we should absolutely fix it before the next release goes out.  It's possible this broke other things too.  For example, this is probably all outlines, not just the debug boxes.

[2018-07-27 14:29] hpinkos commented on #6850
Yep, marking this `next release`

![image](https://user-images.githubusercontent.com/3451886/43326907-ff577698-9187-11e8-811a-6f49242c2b28.png)

[2018-07-27 14:30] hpinkos commented on #6850
@likangning93 make sure you take a look at this

[2018-07-27 14:34] hpinkos commented on #6851
@iamgithubym Our team doesn't officially support the react-cesium-demo.  If you make a comment in https://github.com/markerikson/cesium-react-webpack-demo @markerikson should be able to help you.  Thanks!

[2018-07-27 14:34] #6851 closed

[2018-07-27 14:46] #6848 closed

[2018-07-27 17:47] mramato opened #6854 "Geocoder slams into terrain"
The flights created by the geocoder are not terrain aware, so flights into mountainous areas try to fly under the terrain and then get put on top (but way too close).

We can address this by doing a terrain query before generating the flight.  I've done this in some one-off apps and it worked well.

[2018-07-27 18:01] #6850 closed

[2018-07-27 19:17] ProjectBarks commented on #6852
@kring I agree with your assessment, although I would note that having the current zig-zag encoding only adds un-needed ambiguity to the data which in turn is harder to debug for someone interested in implementing the format.

I will take a look into adding variable length encoding to some of the formats and the added benefits of this encoding type.

[2018-07-27 19:38] wrinkledcheese commented on #6307
I have this issue in code I've written.  I'm not doing any markers, but I am interested in any updates for this issue, as it may shed some light into my own issue.

[2018-07-29 01:36] qandeelabbassi commented on #5241
@ggetz I would love to contribute to this feature and if you can provide me the starter code then it would be helpful.

[2018-07-30 02:53] JacksonBates opened #6855 "Some vertical polygons rendering incorrectly"
Continuing from https://github.com/AnalyticalGraphicsInc/cesium/issues/6662 after the 1.47 update.

The vertical pentagon mentioned in the previous issue by @silky still does not render correctly after the PR and update, but many similar vertical pentagons do (the important relevant cases are the **pink** and **orange** polygons):

<img width="349" alt="screen shot 2018-07-30 at 12 33 06 pm" src="

[2018-07-30 10:38] miniergouzi opened #6856 "The problem of escaping from the angle of view"
![q hl_dr bltv o8ab1oamh9](https://user-images.githubusercontent.com/40375251/43392843-7a2bd106-9427-11e8-9f05-a7b8ce02856f.png)

[2018-07-30 13:16] mramato commented on #6697
Just a reminder that the release is this Wednesday.  We should really try and get all showstopper issues addressed by the end of today.

[2018-07-30 13:16] mramato commented on #6814
Just a reminder that the release is this Wednesday.  We should really try and get all showstopper issues addressed by the end of today.

[2018-07-30 13:16] mramato commented on #6812
Just a reminder that the release is this Wednesday.  We should really try and get all showstopper issues addressed by the end of today.

[2018-07-30 13:16] mramato commented on #6741
Just a reminder that the release is this Wednesday.  We should really try and get all showstopper issues addressed by the end of today.

[2018-07-30 13:31] #6812 closed

[2018-07-30 13:31] cesium-concierge commented on #6812
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/cHR1qyjMKeo

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-07-30 14:20] knackjason commented on #6812
Thanks, @lukesanantonio and everyone else for the fix! I'm looking forward to getting it on Wednesday.

[2018-07-30 14:33] hpinkos commented on #6855
Thanks @JacksonBates!  I'll look into this today.  The positions of the polygon must be listed in order, so the red one not working is expected and isn't something we'll fix.  But the issue with orange polygon seems to be a bug.

[2018-07-30 14:36] hpinkos commented on #6855
Actually, nevermind.  It looks like you were using Cesium 1.47.  Vertical polygon support is in master but hasn't been included in a release yet.  It will be included in the 1.48 release available on August 1st.   Here's  preview:

![image](https://user-images.githubusercontent.com/3451886/43403979-6d11f614-93e4-11e8-9a9e-362b56e4e8f4.png)

[2018-07-30 14:36] #6855 closed

[2018-07-30 17:08] #6765 closed

[2018-07-30 17:08] #6772 closed

[2018-07-30 17:39] hpinkos opened #6858 "Intermittent clamp to ground failure"
![image](https://user-images.githubusercontent.com/3451886/43412940-ae74b46c-93fc-11e8-9687-36dfa4c1c3fb.png)

This only happens the first time you run the example.  As @mramato said in #6818, this is probably a race condition because the terrain isn't cached.  I can reproduce it pretty reliably if I disable cache in the debugger.

[Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=tV

[2018-07-30 20:25] JacksonBates commented on #6855
This is great, thanks @hpinkos!

[2018-07-31 01:03] lilleyse commented on #6814
This might be a situation where we have to pick which bug is most tolerable:

* Don't render the depth plane before 3D Tiles: tileset may show on opposite side of globe like [this](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZVJda9wwEPwri1/ig6vsayiExjka0kIDhYb06JMh6OS1vVTWGkm2uYT898p2fL1L9aCvnZndHSlJ4Lb0aMHXCE6hQdAsCwcN9whKNmgleAZuW3bkA4YKBC6h0rxHAbtAa5mMdzCQ1uBqHoKW5a6qRW56aaEnHEKCGzA4wB

[2018-07-31 01:33] miniergouzi commented on #6856
![image](https://user-images.githubusercontent.com/40375251/43432274-9006d714-94a4-11e8-88e7-af69389a2e25.png)

var viewer = new Cesium.Viewer('cesiumContainer');
var scene = viewer.scene;
var canvas = viewer.canvas; // 获取画布
canvas.setAttribute('tabindex', '0'); // needed to put focus on the canvas
canvas.onclick = function() {
    canvas.focus();
};
var ellipsoid = viewer.scene.globe.ellipsoid; /

[2018-07-31 02:56] miniergouzi commented on #6856
漫游动作中：镜头垂直向下或者视角向下倾斜时镜头陷入地面，当视角陷入一定程度镜头自动弹出地表弹出高度与陷入地面高度应该相同或者陷入地面之后不进行任何操作镜头也会弹出地表。有没有什么解决方案使镜头在地表运动从而限制镜头陷地。

[2018-07-31 14:51] hpinkos commented on #6814
@lilleyse I don't understand why we have to choose one or the other if both worked in 1.36

[2018-07-31 14:58] hpinkos commented on #6856
@miniergouzi I believe this is a duplicate of this bug: #5837
I'm going to close this issue.  I'll make a comment in #5837 so we can notify you when it's fixed. Thanks!

[2018-07-31 14:58] #6856 closed

[2018-07-31 14:59] hpinkos commented on #5837
Also reported by @miniergouzi in #6856

[2018-07-31 15:14] lilleyse commented on #6814
1.36 was right before classification primitives were added. Going back to the 1.36 behavior results in the artifact above.

[2018-07-31 15:15] tfili commented on #6832
@lilleyse Is this still going to be fixed by tomorrow?

[2018-07-31 15:25] tfili commented on #6697
Is this going to make it in for tomorrow?

[2018-07-31 15:31] ggetz commented on #6697
See https://github.com/AnalyticalGraphicsInc/cesium/pull/6862 and https://github.com/AnalyticalGraphicsInc/cesium/pull/6861#issuecomment-409052452

I think that covers all sandcastle tilesets.

[2018-07-31 15:51] lilleyse commented on #6814
In that situation the depth plane is rendered after 3D Tiles to get around those 2 other bugs, but still before the opaque/translucent pass that all other primitives use.

[2018-07-31 17:00] hpinkos commented on #3845
`directionWC` (and I'm assuming `rightWC`/`upWC` but I haven't checked) also seem incorrect in CV

[2018-07-31 18:18] OmarShehata commented on #5241
Hey @qandeelabbassi, that's awesome that you want to work on this! I put together a gist showing the example we had for this:

https://gist.github.com/OmarShehata/eeaa2fae407739f27a5cc27cdb6679ab

[CameraTracking.js](https://gist.github.com/OmarShehata/eeaa2fae407739f27a5cc27cdb6679ab#file-cameratracking-js) was the actual class, and I've included the other file as an example of how it was used. T

[2018-07-31 19:30] bagnell commented on #6741
I'm looking at it.

[2018-07-31 20:10] hpinkos opened #6864 "Helper function for retrieving camera position and orientation in 3D coordinates"
Replaces #3845

Something like the example below only works in 3D because `camera.setView` and `camera.flyTo` expect the `destination` to be a `Cartesian3` in the 3D coordinate system.  `positionWC` is in world coordinates, which needs to be unprojeted if you are in 2D or CV.

[code]

[2018-07-31 20:13] mramato commented on #6864
What are you proposing here?  I feel like any high level camera functions should always operate in WGS84 regardless of the scene mode.  It sounds like that's not he case.

[2018-07-31 20:14] hpinkos commented on #3845
`positionWC` is working as expected after all.  "World coordinates" means using the world coordinate system, which is different between 3D, 2D and CV.  For example, in 3D Z is north and Y is east.  In CV, X is up.  I opened #6864 to add a helper function for users who want to get the camera position and orientation in the 3D coordinate system regardless of the current scene mode.

[2018-07-31 20:14] #3845 closed

[2018-07-31 20:14] cesium-concierge commented on #3845
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/Qc2Vvu26lBI
https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/9WG9SEAgT0s
https://groups.google.com/d/msg/cesium-dev/Q9-C5tmImIc/YXY2lSFmBQAJ
https://groups.google.com/forum/#!topic/cesium-dev/hBNRZ69Tx20

If this issue affects any

[2018-07-31 20:16] hpinkos opened #6865 "Zoom bug in orthographic 3D mode"
Brought up on the forum: https://groups.google.com/forum/#!topic/cesium-dev/hBNRZ69Tx20

Using the scroll wheel to zoom moves the camera the wrong way at first

[code]

[2018-07-31 20:18] hpinkos commented on #6865
Zooming also causes the terrain to disappear at the bottom of the screen:

![image](https://user-images.githubusercontent.com/3451886/43484773-4dbcfdf0-94dd-11e8-9117-1bba531bf459.png)

[2018-07-31 20:48] #5504 closed

[2018-07-31 20:48] #6832 closed

[2018-07-31 20:50] tfili commented on #6697
What about the extra tasks under later? Do you want to write a new issue or just remove the `Next Release` tag on this one?

[2018-07-31 20:51] mramato commented on #6697
We really should be writing small issues, no roadmaps.  Roadmaps make everything super opaque and hard to fine.

[2018-07-31 21:12] lilleyse opened #6867 "3D Tiles show through the globe"
If a tile's geometric error is sufficiently large to be visible at global scale, it will show through the opposite side of the globe.

This happens due to rendering the depth plane after 3D Tiles, which was done to fix a separate set of bugs - the classification and picking bugs below. It only happens when `globe.depthTestAgainstTerrain` is false so once terrain is on by default none of these prob

[2018-07-31 21:14] #6814 closed

[2018-07-31 22:05] lilleyse opened #6868 "Remove tile uri backslash workaround"
Revert the changes in https://github.com/AnalyticalGraphicsInc/cesium/pull/6125, which added a workaround for tiles with incorrect backslashes before their uri.

[2018-07-31 22:07] lilleyse commented on #5363
Closing - we're keeping most workarounds for backwards compatibility so no action needed here.

[2018-07-31 22:07] #5363 closed

[2018-07-31 22:09] lilleyse commented on #6697
Ok this is good to close now.

* `extras` API - #6490 is still open
* Update 3D Tiles links - part of https://github.com/AnalyticalGraphicsInc/3d-tiles/pull/327
* Deprecation messages https://github.com/AnalyticalGraphicsInc/cesium/issues/5363 - closed

[2018-07-31 22:09] #6697 closed

[2018-07-31 22:09] cesium-concierge commented on #6697
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/8zJhev5Vh5w

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-07-31 22:20] lilleyse opened #6869 "Update San Miguel tileset to glTF 2.0 with PBR"
The San Miguel tileset that we host on ion is glTF 1.0 still.

@likangning93 has a prototype glTF 2.0 version but the PBR materials still need some tweaking.

Not urgent, just worth updating eventually.

[2018-08-01 02:38] SurajitChowbey commented on #6826
Welcome

[2018-08-01 15:34] mramato opened #6870 "Geocoder summary documentation is incorrect"
It currently says:

Since this was written, the geocoding type is has been made configurable and it also no longer defaults to Bing (it uses Cesium ion instead).

We could probably expand on the documentation summary a bit and just remove the last sentence.

[2018-08-01 16:03] ggetz opened #6871 "Support Clipping Planes in 2D/CV"
Add support for clipping planes in 2D and CV.

CC https://github.com/AnalyticalGraphicsInc/cesium/issues/5765#issuecomment-335950848
See discussion in https://github.com/AnalyticalGraphicsInc/cesium/pull/5913#issuecomment-341107599

(@hpinkos)

[2018-08-01 17:15] bagnell commented on #6864
I think the idea when this was written was that all coordinates for the camera are in the camera reference frame.

In 3D, `positionWC` is always in WGS84. `position` is in WGS84 when `transform` is the identity; otherwise, `position` is in the reference frame by `transform`, for example, east-north-up.

In 2D/CV, the map is in the yz-plane where `z` is north and `y` is east. `x` is pointing out of

[2018-08-02 02:00] chris-cooper commented on #6735
Thanks for the extra info @likangning93

[2018-08-02 04:15] lb999255 opened #6873 "only one shadow map enabled with fromLightSource=false caused error"
I usually want to use shadow map to do some postprocessing effects, and i use only one shadow map enabled which set fromLightSource to false.

so ShadowMap.createDerivedCommands will create nothing about the receive commands.
But in OIT.js, it shows below:

for (j = 0; j < length; ++j) {
            command = commands[j];
            command = defined(command.derivedCommands.logDepth) ? command.de

[2018-08-02 14:24] OmarShehata opened #6874 "Expression 'evaluate' functions should not pass frameState paramter"
In the [Cesium.StyleExpression](https://cesiumjs.org/Cesium/Build/Documentation/StyleExpression.html) page, the `frameState` description isn't very descriptive. Clicking on it to find out more goes to:

https://cesiumjs.org/Cesium/Build/Documentation/FrameState.html

Which is a 404.

[2018-08-02 14:28] hpinkos commented on #5333
Hi @dminor112, we haven't had a chance to add this yet.  Our team has a deadline we're trying to meet by the end of September, so I'm not sure if we'll have a chance to look at it before then.

If you have time to submit a pull request we'd be happy to review it though!  You'll want to make chances to [DynamicPolylineGeometryUpdater](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Sour

[2018-08-02 14:35] mramato commented on #6874
`FrameState` is a private class, so it's not supposed to be documented or mentioned in the docs for that matter.  So the problem here is in `StyleExpression`, not FrameState

[2018-08-02 18:08] ggetz commented on #5665
Requested on the forum: https://groups.google.com/forum/?place=forum%2Fcesium-dev&showsearch=true&hideforumtitle=true&fragments=true&parenturl=https%3A%2F%2Fcesiumjs.org%2Fforum%2F&theme=default#!topic/cesium-dev/z_jJgEHgJqY

[2018-08-02 18:25] mramato commented on #628
Log depth reduces the likelyhood of multiple frustums, which makes the bug less command, but there will always be cases with multiple frustums (especially when log depth off) so the root cause of the issue is still there.

[2018-08-03 00:46] qandeelabbassi commented on #5241
Hello @OmarShehata , thanks for the gist 👍 , I will see what i can do with it :) . I will open a thread in the forum too after writing some basic code. Btw, what's wrong with the code you have already written for the arcade game? Can't we integrate it with cesium as it is? Just want to know if there are any problems.

[2018-08-03 03:54] dminor112 commented on #6080
Hi, Will this feature be publishing at next release 1.49? We are very looking forward to it. Thank you!

[2018-08-03 14:30] hpinkos opened #6878 "Model with clipping plane doesn't update when edge width changes"
[code]

[2018-08-03 14:39] hpinkos commented on #6878
Oh no wait, i just had a typo

[2018-08-03 14:39] #6878 closed

[2018-08-03 15:19] lilleyse commented on #6080
@dminor112 thanks for your interest! That is the plan.

[2018-08-03 17:22] hpinkos opened #6879 "Clipping plane not correctly applied to child tiles"
![clipping](https://user-images.githubusercontent.com/3451886/43656362-3017ece8-9720-11e8-975c-e97ada863c49.gif)

[code]

cc @ggetz

[2018-08-03 17:29] likangning93 commented on #6879
Be sure to check bounding volumes for this model, I think there was something like the smoke stacks being double layered, but one of them having a bounding volume that isn't as tall as it should be?

[2018-08-03 19:48] #6854 closed

[2018-08-03 20:27] bmckilligan commented on #6818
For what its worth

I have been experiencing a lot of issues with terrain and clamp to ground, much of it is hardware related.

I am working on an older Thinkpad T520 running Windows 10 64-bit which has an Intel HD Graphics 3000 and an NVIDIA Quadro NVS 4200M

The Geometry Height Reference example doesn't work in Chrome or FireFox by default, using the Intel GPU

The polygons in the example initia

[2018-08-03 20:27] OmarShehata commented on #5241
@qandeelabbassi I think it's mostly just that the code needs to be cleaned up, tested, and have test cases written for it etc.

[2018-08-03 21:23] hpinkos commented on #5265
^^^^
This is becoming a real problem in Chrome

[2018-08-03 21:47] hpinkos commented on #6818
@bmckilligan the logic that updates billboard clamp to ground and geometry clamp to ground is the same, so it makes sense that you see problems with both.  Also, based on the notion that I'm pretty sure this is a race condition, it also makes sense that you run into this frequently on your older less-perfomant computer.

Thanks for the extra input!  I hope to get this figured out for the September

[2018-08-05 05:12] miniergouzi opened #6884 "On the cutting function of Cesium 3dtiles"
The respected Cesium team:

I haven't found a suitable solution to whether Cesium technology supports the cutting function of the 3D tiles model. I look up the case of the official network and do not find valuable examples. The 3D tiles Clipping Planes instance is included.

[2018-08-06 08:15] safa833 opened #6885 "Can somebody give an example pertaining to QuantizedMeshTerrainData on Sandcastle ?"
Can somebody give an example pertaining to  QuantizedMeshTerrainData use on Sandcastle ?

    minimumHeight : -100,
    maximumHeight : 2101,
    quantizedVertices : new Uint16Array([// order is SW NW SE NE
                                         // longitude
                                         0, 0, 32767, 32767,
                                         // latitude

[2018-08-06 09:12] SunBlack opened #6886 "[npm] Deliver new Build for websites with HTTP/2"
If you currently install Cesium via `npm install cesium` you got two directories in Build directory:
* Cesium: Containing combined and minified Cesium sources (3MB Cesium file)
* CesiumUnminified: Containing combined but not minified Cesium sources (10MB Cesium file)

What I currently miss:
* CesiumHTTP2 (or something like this): Not combined but minifed Cesium sources (=> Source directory but min

[2018-08-06 14:41] hpinkos commented on #6884
Hi @miniergouzi, I'm not really sure what functionality you're looking for if it's not clipping planes.  A clipping plane will draw the 3D tileset on one side of the plane and not on the other, which results in cutting the tileset.  https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Tiles%20Clipping%20Planes.html

If you're able to, please ask your question on our forum: https://groups.go

[2018-08-06 14:41] #6884 closed

[2018-08-06 14:44] hpinkos commented on #6885
@safa833 `QuantizedMeshTerrainData` is a class used to render terrain that is in the Quantized Mesh format.  You shouldn't need to use this class directly.  Instead, you can use a [`CesiumTerrainProvider`](https://cesiumjs.org/Cesium/Build/Documentation/CesiumTerrainProvider.html) to add your quantized mesh terrain to the globe.

You can learn more about the quantized mesh format here: https://ces

[2018-08-06 14:44] #6885 closed

[2018-08-06 15:28] nmccready commented on #6319
The documentation for Cesium and Webpack appears to be broken around 1.47, 1.48 . Whenever the iframe implementation was enforced as the dom container for the map.

[2018-08-06 15:29] hpinkos commented on #6319
@ggetz can you look into this?

[2018-08-06 16:18] nmccready commented on #6319
Heads up I figured it out.

`CESIUM_BASE_URL : JSON.stringify('')`
now needs to be
`CESIUM_BASE_URL : JSON.stringify('../')`

[2018-08-06 18:52] srtrotter opened #6889 "Navigation help icons do not display"
The navigation help icons (svg) do not display when hosting a webserver on a different machine than the browser. A broken-link icon is displayed instead. If the server is running on the same machine as the browser, they are displayed correctly.

To get around this, I replaced the <img> node with an <object> node, as discussed [here](https://stackoverflow.com/questions/33215668/svg-images-not-loadi

[2018-08-07 00:03] emackey commented on #6889
Your web server likely needs to be configured to serve `*.svg` with the correct MIME types.  See [web.config](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/web.config) for IIS, or [server.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/server.js) for NodeJS, or consult the documentation on MIME types for your server.

Using the object tag is deprecated and not recomme

[2018-08-07 08:33] safa833 commented on #6885
@hpinkos I know I don't need to use it directly but I should use it for a specific issue so, Can you give an example on Sandcastle ?

[2018-08-07 14:21] likangning93 opened #6891 "Cesium no longer adds a default material for gltf 2.0 as needed"
See attached. This is a gltf 2.0 containing a `primitive` that doesn't have an assigned material.
Cesium 1.47 handled this [according to spec](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#default-material) and assigned a default material, but 1.48 crashes instead.

[CUBE.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/2266741/CUBE.zip)

[2018-08-07 14:31] hpinkos commented on #6319
Thanks for the info @nmccready!  I created this issue so we can update the example and tutorial: https://github.com/AnalyticalGraphicsInc/cesium-webpack-example/issues/11

[2018-08-07 14:34] likangning93 commented on #6891
Git bisect points to 7e122685048b2c562322517627d2680b46c90165

[2018-08-07 14:34] mramato commented on #6885
@safa833, what are you actually trying to do with Cesium?

[2018-08-07 14:41] lilleyse commented on #6891
Yeah this is my fault...

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/ThirdParty/GltfPipeline/addDefaults.js#L512-L515

I added that to stop it from generating 1.0 shaders for glTF 2.0 models but forgot that 2.0 primitives need default materials too. I'll open a fix.

[2018-08-07 19:53] hpinkos opened #6894 "Watermask rendering artifacts at the equator"
This happens both at (0, 0) and (180, 0):

![image](https://user-images.githubusercontent.com/3451886/43798867-da6ff230-9a59-11e8-8936-910092cbbd79.png)
[code]

[2018-08-07 20:43] mramato commented on #6894
I can't reproduce this in master.  Maybe video card specific?

[2018-08-07 21:02] hpinkos commented on #6894
NVIDIA on Windows 10.  I can try updating my drivers to see if it's still a problem after that

[2018-08-07 21:02] ggetz commented on #4122
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/-eSNYd_9xQk

[2018-08-07 21:56] bagnell commented on #6894
I can reproduce this. I'm also using NVIDIA on Windows 10. Drivers are up to date.

[2018-08-08 13:43] pjcozzi commented on #3422
Resources via @TrevorDev
* Babylon WIP: https://github.com/TrevorDev/Babylon.js/commit/10e379c26a4588df1e5c821ab2259e5968e1c9f5
* Guide: https://codelabs.developers.google.com/codelabs/ar-with-webxr/#0

[2018-08-08 14:16] mramato commented on #4279
I'm closing this since it's not clear to me that there is a bug or anything actionable still here.  I play with Cesium on my iPad all of the time and haven't had any issues and we've definitely made improvements to how we do things.  If there is still an issue here, please re-open with details.

[2018-08-08 14:16] #4279 closed

[2018-08-08 14:21] mramato opened #6896 "WebGL in workers via OffscreenCanvas"
WebGL in Workers is happening soon (via OffscreenCanvas).  Chrome is adding support and talks about it here (see Canvas section)  https://blog.chromium.org/2018/08/chrome-69-beta-av1-video-decoder-css.html

I couldn't find any issue, but I know this is something we've talked about in the past.  Please post any thoughts/ideas about how you think we may be able to leverage this (and if anyone has ti

[2018-08-08 14:40] mramato commented on #4327
To fix this, I think we just need to update `BillboardVisualizer.getBoundingSphere` to sample terrain (if available) rather than relying on `_clampedPosition` (which is only using the highest level loaded instead of the highest available).  I think we can get the terrainProvider from the EntityCluster, but haven't looked that closely.

[2018-08-08 14:40] mramato commented on #4327
Will also need to update other visualizers with clamping behavior.

[2018-08-08 14:42] ollazarev opened #6897 "Clustered labels do not reappear after clustering"
Look, please, at this example: https://codepen.io/ollazarev/pen/rrQaee

After clustering, only the points appear again, but the labels after the clustering disappear forever.

After camera zoom, in addition to the points, the following cities should appear: Philadelphia, Canada, New York, Toronto.

A piece of code from this example:
[code]

[2018-08-08 15:05] keikland commented on #6845
Ok to close the issue @mramato, and thanks again.  The image capture solution via the webgl context is running reliably thus far, and importantly with preserveDrawingBuffer: false.  No problem with incomplete scenes since the image grabbing is user-controlled (marking a target area with the mouse), with no animation going.

I think I can make a simple Sandcastle demo for the base logic, if it is o

[2018-08-08 16:40] hpinkos commented on #6897
Thanks @ollazarev, I was able to reproduce the bug

[2018-08-08 17:12] hpinkos commented on #6897
Actually @ollazarev, it looks like this is a duplicate issue of #6087.  I'm going to close this one, but I'll add a link in that issue to this one so we can notify you when the bug is fixed.  Thanks again for including the code example!  That made this really easy to reproduce

[2018-08-08 17:12] #6897 closed

[2018-08-08 17:17] hpinkos commented on #6087
Also reported by @ollazarev in #6897  (see #6897 for a great minimal code example)

`EntityCluster` might need a sizable overhaul to get this to work.  The main problem is that it's working too much at the primitive level and incorrectly assumes that each entity has either a label, a billboard, or a point (not a label and a point).

[2018-08-08 19:30] mramato opened #6898 "Request render mode doesn't always work with 3D Tiles or Models"
If I fly from home view to a tileset in request render mode (and the tileset isn't cached), the flight happens but nothing ever gets rendered until I manually force one.

Does Cesium automatically trigger a render on flight complete?  Shouldn't it?

CC @ggetz

[2018-08-08 19:31] #6873 closed

[2018-08-08 19:32] mramato commented on #6898
I can make this happen all of the time in ion because the preview window has nothing else going on (no world imagery or terrain) so a tileset is the only thing that needs to load and Cesium is missing an internal render request somewhere.

[2018-08-08 19:43] mramato commented on #6898
As a workaround, I ended up adding a setTimeout in the flyTo `complete` callback I was using, (just a straight up requestRender didn't work, it had to be on several hundred ms delay)

[2018-08-08 19:56] ggetz commented on #6898
@mramato It doesn't trigger one by default. It could.

I believe nothing is rendered because the tileset is not selected by rendering, therefore nothing begins loading. So there may a more direct way to make sure the tileset begins loading in request render mode than the flyTo completing. I'll take a look soon.

[2018-08-08 19:59] mramato commented on #6898
Do we already trigger a render every time a ajax request completes?  If not, could this be something where it's fetching content but doesn't render the content once it's fetched?

Otherwise, I'll leave it to your expertise.  Thanks.

[2018-08-08 21:15] #2480 closed

[2018-08-08 21:15] cesium-concierge commented on #2480
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/PnM8vOhALfY/-OCjHEU7DgAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-08-08 21:17] hpinkos commented on #2480
Happy to say that this bug is finally fixed! https://github.com/AnalyticalGraphicsInc/cesium/pull/6859
The fix will be included in the Cesium 1.49 release available September 3rd.

@krheinwald @thw0rted @xiangjg @WarpDrive

[2018-08-08 21:47] #4122 closed

[2018-08-08 21:47] cesium-concierge commented on #4122
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/vD3SiO5V6U8/-mMOU-bgCgAJ
https://groups.google.com/forum/#!topic/cesium-dev/-eSNYd_9xQk

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuratio

[2018-08-08 21:48] hpinkos commented on #4122
@sspeaks610 @cfairchi @jeffwhitty This was just fixed and will be included in the Cesium 1.49 release available September 3rd.  Thanks!

[2018-08-09 06:57] gooin commented on #2694
Hello there:
Any  news with this issue？
I'm trying to add billboards on terrain, when I set camera at a certain angle, it's completely invisible.
![billboards on terrain](https://user-images.githubusercontent.com/13775365/43882790-94ab0e70-9be3-11e8-9f31-ac8ce7cfd994.gif)
my code:
[code]

[2018-08-09 07:01] thw0rted commented on #2694
Your billboard is not clamped to the ground.  Add `heightReference: Cesium.HeightReference.CLAMP_TO_GROUND` and see if it behaves the way you want.

[2018-08-09 07:08] gooin commented on #2694
@thw0rted Awesome！Thank you.

[2018-08-09 14:33] ollazarev opened #6904 "Reflections of points in sky atmosphere"
Look please at this example: [editor view](https://codepen.io/ollazarev/pen/xJQvoP) / [full page view](https://codepen.io/ollazarev/full/xJQvoP/)

In the example, four cities Entity are added to the map. All entities include Label and Point. When viewed from a certain angle, a reflection of points in the sky appears.

It has been experimentally verified that the more points on the map, the more po

[2018-08-09 14:59] hpinkos commented on #6904
Thanks for reporting this @ollazarev, and thanks for including the code example!  If possible, it would be a little bit easier for us if you could use our Sandcastle application for sample code instead of codepen: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/
There's a 'share' button at the top to get a link.  Either way is fine though =)

As a workaround you can set `viewer.scene.logarithmic

[2018-08-09 15:31] likangning93 commented on #6573
Related, with `depthTestAgainstTerrain`:
https://groups.google.com/forum/#!topic/cesium-dev/NZwZnQnmC2U

[2018-08-09 15:39] robmilton commented on #5094
Just wondering if there has been any progress on this?  We would love the ability to change the texture applied to models during run time.  Unfortunately I could never get the approach/hack above to work.  But this is something that would be a big deal for us.  In our case we want to be able to load various aircraft models and then apply the appropriate airline paint job (texture) instead of havin

[2018-08-09 15:50] hpinkos commented on #6741
Also: https://groups.google.com/forum/#!topic/cesium-dev/NZwZnQnmC2U

[2018-08-09 15:52] hpinkos commented on #6573
@likangning93 that's an issue with polylines, not geometry, so I added a comment to https://github.com/AnalyticalGraphicsInc/cesium/issues/6741

[2018-08-09 15:54] hpinkos commented on #5094
@robmilton sorry, we haven't been able to spend any time on this yet, and I don't think we'll get to it in the near future.  @lilleyse might be able to provide some suggestions for a path forward.  And we're always happy to review a pull request if you have time to implement this!  Thanks =)

[2018-08-09 16:47] lilleyse commented on #5094
A few things have changed since I posted the original workaround, which no longer works. Try out this instead:

[Sandcastle demo](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=zVZtb9s2EP4rRL5EDhzKcdx2i9NgqYNsAdrNiLN92FwEtHS2iVKkSlJ+2ZD/vuOLIslJsX2sYAgmeS/P3XN31IZpsuGwBU3eEwlbMgHDq4L+4feS48wvJ0paxiXo4954LjeoYzKQgCpBl/olHoVDXrAVTJldo8Axpenz77osTTpjRSnghlmWFioHYdLg85rrdPAY/j/igpZydRzdeUG0lmlgF

[2018-08-09 17:56] ggetz commented on #6573
Same for vector tiles.

Brought up on the forum here: https://groups.google.com/forum/#!topic/cesium-dev/WhCZhIUaJIQ

Specifically how you can see this in https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D Tiles Terrain Classification.html when zoomed in.

[2018-08-09 18:21] mrgloom opened #6905 "Alternatives to cesium-terrain-builder?"
As I can see Integer overflow problem is still preserves in `cesium-terrain-builder` https://github.com/geo-data/cesium-terrain-builder/issues/28  for large projects and  `cesium-terrain-builder` is not actively supported, so my question is what other alternatives exist that are compatible with `cesium`?

[2018-08-09 18:25] robmilton commented on #5094
Thanks, Sean, I'll definitely take a look and give it a try!

[2018-08-09 18:35] hpinkos commented on #6905
Hello @mrgloom,

Yes, we have a terrain processor as part of Cesium ion!  We support many different types of terrain data formats such as .dem, .asc and .tif.

You can sign up for a free account at https://cesium.com/

We have a getting started tutorial here which walks you through how to upload terrain and imagery and use them in CesiumJS applications: https://cesium.com/docs/tutorials/getting-st

[2018-08-09 18:35] #6905 closed

[2018-08-09 18:36] emackey commented on #6904
This is a regression of #5501.  The [sandcastle demo](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=49ebc4d710383cfd2fec9d1fc4ed650b) there is reproducible once again.

[code]

[2018-08-09 18:47] hpinkos commented on #6904
I forgot about that one, thanks @emackey
Apparently you opened the PR fixing that one year ago today: #5735
I found that amusing =P

[2018-08-10 08:13] EKoetsjarjan commented on #5127
Hi I'm new at cesium.

I'm using the ConstantProperty  to update the value is set value is used.
how to do it using definitionChanged?

My updating works like this:

var trailwall =
            {
                wall : {
                    positions: [],
                    material : Cesium.Color.RED.withAlpha(0.5),
                }
            }
var trail = datasource.entities.add(trailwall);

[2018-08-10 14:19] mrgloom commented on #6905
It looks like some external cloud based service, is there any alternatives to work offline?

[2018-08-10 15:54] hpinkos commented on #5127
@EKoetsjarjan I'm sorry, I don't understand your question.  Please ask this question on the forum instead: https://groups.google.com/forum/?hl=en#!forum/cesium-dev

We use GitHub exclusively for tracking bugs and planning new features.  A lot more people are on the forum, and your post might help someone else who has the same question.  Members of our team also monitor the forum to make sure all q

[2018-08-10 16:36] EKoetsjarjan commented on #5127
ok thank you

[2018-08-10 20:24] ggetz commented on #2319
@mramato Do you have your gif implementation still? It was requested on the forum: https://groups.google.com/forum/#!topic/cesium-dev/Qd_LRhmlb50

[2018-08-10 20:46] ggetz opened #6907 "Browser hangs when picking GroundPolylineGeometry is picked with drill pick"
Submitted on the forum: https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html#c=dVRrT9swFP0rVr8slYqTNqUPVtAqYIwNUbSy7QNFk5vcpgbHjmynVTbx33edkL4Gqaok9jnn+txHfJ+cg+F5SqvbLx4nYAk3xPCUC6aJVTXiJ4c16BaZ53Ymfd+BrOZpCjGJ1VpSQq5L5lNuLGFkXUktFGosgYQXJBFqDh8rrkUOGCIVUmQk8hhKFJM8ZZYr2SL4kIAuiAEBUblUMpmMiUKofg1gWiiiKzWnChk4hCzl7JLr+Chj2hYl+ZtU0bPKLRF8rpku6EyuWK1ETomE9Vv58D5E5du5kpZxCfpDE21U3ARUClYX19JYJiPYV7k

[2018-08-10 21:34] lilleyse opened #6908 "Geocoding not working in 3D Tiles Terrain Classification demo"
The 3D Tiles Terrain Classification demo uses the geocoder to set the initial view, but no longer works after https://github.com/AnalyticalGraphicsInc/cesium/pull/6876.

Is there anything that looks wrong about the code below?

[code]

@mramato would you have a chance to look into this?

[2018-08-10 22:25] mramato commented on #6908
Good catch.  This is an easy one to fix.  Basically you are calling the geocoder before terrain is ready and we weren't correctly waiting on the ready promise in the new code I added.  This would (almost) never happen in normal usage because terrain initializes faster than the user performing a geocode.

I'll open a PR to fix it.

[2018-08-10 22:48] mramato commented on #2319
it's the `animated-billboards` branch, but it's really just one new file in a helper class called `BillboardAnimator` that you can see here: https://github.com/AnalyticalGraphicsInc/cesium/compare/animated-billboards

It's been a while, but I think you use it like this:

[code]

As you can tell, I never finished it so the usability is a little quirky, but it works really well.  Here's a live demo

[2018-08-12 08:12] fuweichin opened #6910 "Mixed EOL characters in Cesium.js"
There are Mixed EOL characters(CRLF and LF) in Cesium.js , both minified and unminified, which may cause potential issues, for example: in some text editor Cesium.js is rendered incorrectly before editing.

So Cesium developers can avoid the problem by keeping line-endings the same between files.

[2018-08-13 12:29] heinerlamprecht opened #6911 "Cesium fragment shader error for displaying billoards"
I'm using billoards for my entities. On MacOS, they are properly displayed, but on Linux, webgl crashes. Sometimes it is enough to just kill the browser, sometime I have to kill X completely.

Sample code:

[code]

I do get the following stack trace:

[code]

Cesium version: 1.48.0

The error was introduced in Cesium 1.45. Version 1.44 works properly, 1.45 crashes.

[2018-08-13 15:08] hpinkos opened #6912 "Cannot set show: false for ground polyline entity"
Setting `polyline.show = false` results in a crash.

[code]

@likangning93

[2018-08-13 15:15] hpinkos commented on #6911
@heinerlamprecht can you please post the stack trace from the unminified version of Cesium?
Also, can you paste the results from http://webglreport.com/?
Finally, try setting `viewer.scene.logarithmicDepthBuffer = false` and let me know if that fixes the crash.  Thanks!

[2018-08-13 16:02] robmilton commented on #2750
Just wondering where Cesium stands with support for shapefiles?

[2018-08-13 16:07] hpinkos commented on #2750
Hi @robmilton, we don't have plans to support shapefiles directly in CesiumJS at this time.  Instead, we're planning to offer shapefile to 3D tiles converter.  Alternatively, there are a number of shapefile tp geojson converters out there you can use.  Cesium support GeoJSON.

[2018-08-13 21:54] hpinkos opened #6916 "Crash when picking and switching terrain provider"
Can be a pain to reproduce because it only happens sometimes, but here are the steps:
- wait for globe to load ellipsoid terrain
- click `Enable Terrain` button and immediately move the mouse
- `scene.pick` causes a crash.  We're executing some kind of command that is already destroyed.

[code]

[code]

[2018-08-13 21:54] hpinkos commented on #6916
@bagnell any ideas here?

[2018-08-14 08:09] heinerlamprecht commented on #6911
@hpinkos, I tried to reproduce the crash with the unminified version.  However, even after several attempts, I wasn't able to get a stack trace.  I always had to forcibly kill the X server, so I had no access to any stack trace afterwards.

Setting `viewer.scene.logarithmicDepthBuffer = false` fixes the issue.  Unfortunately, that wouldn't be a solution.  I'm using Cesium in an Angular/Typescript

[2018-08-14 13:41] onderaltintas opened #6917 "Issue on Billboards and Labels on Terrain Improvements"
Hello,

I liek cesium so much. Right now I have an issue about billboards and labels' partial visibility (some parts are visible some are not)

Version: 1.48 using npm package.
Browser: chrome

As it was mentioned in blog post I was expecting labels and billboards will be totally visible if any part of them are visible on the terrain. Related blog post:
https://cesium.com/blog/2018/07/30/billboard

[2018-08-14 14:39] hpinkos commented on #6917
Hello @onderaltintas, this is by design.  We do the better depth test against terrain check only when the camera is within some distance of the billboard, otherwise there could be a slight impact to performance if there were a large number of billboards all over the globe.  However, the distance at which this happens is configurable using the `disableDepthTestDistance` property.  It's set at 5000

[2018-08-14 14:39] #6917 closed

[2018-08-14 18:36] hpinkos commented on #6911
Thanks for the info @heinerlamprecht!  Regarding setting `scene.logarithmicDepthBuffer`, our team doesn't generate an official TypeScript definition file so it's possible that whatever you're using is outdated needs to be updated to include this property.

@bagnell it looks like this is related to log depth too.  Any ideas what might be causing the issue?

[2018-08-14 20:35] lilleyse opened #6919 "Option to render Geometry Tiles as solid objects"
Geometry Tiles are always rendered as classification primitives. We should provide the option to render them as solid shapes as well.

From [Geometry Tiles](https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/3d-tiles-next/TileFormats/Geometry). Basically we only do the classification part.

Requested here: https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/247#issuecomment-413001906

[2018-08-15 02:12] lilleyse opened #6921 "Support glTF spec gloss extension"
Support the [KHR_materials_pbrSpecularGlossiness]( https://github.com/KhronosGroup/glTF/blob/master/extensions/2.0/Khronos/KHR_materials_pbrSpecularGlossiness/README.md) extension.

https://github.com/AnalyticalGraphicsInc/gltf-pipeline/issues/331 has a lot of good notes.

[2018-08-15 12:41] hailengc commented on #5333
I was also trapped by this. Finally worked around by using primitive with **depthTest** (sub attribute of renderState) set to **false**. Example:
[code]
Then the update process is a remove-if-exists-else-add process:
[code]
If you want to update this primitive immediately (which happens to be my case), you should also set  **[asynchronous](https://cesiumjs.org/Cesium/Build/Documentation/Primitive.

[2018-08-15 20:23] OmarShehata opened #6923 "Broken link in CesiumTerrainProvider doc"
1. Go to https://cesiumjs.org/Cesium/Build/Documentation/CesiumTerrainProvider.html
2. Read "The format is described on the [Cesium wiki](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Cesium-Terrain-Server)."
3. Be curious and click on the link in the sentence.
4. Behold the redirect to https://github.com/AnalyticalGraphicsInc/cesium/wiki

[2018-08-15 20:25] bagnell commented on #6911
Also, are your drivers up to date? Since the browser hangs and the only way to exit is to restart X means there's most likely a browser/driver issue.

[2018-08-15 20:28] hpinkos commented on #6923
Probably should be updated for https://cesiumjs.org/data-and-assets/terrain/formats/

[2018-08-16 03:31] impactblue573 opened #6925 "CallbackProperty callback not firing on clamped polylines using ColorMaterialProperty"
Clamped to ground Polylines which use a ColorMaterialProperty based material do not update each frame.

[Sandcastle Example](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html#c=xVZrT9swFP0rVr80lYoLDDapDzRUqoG0qmgt8GGdJpPcUg/HjhynKEz977tOnDZpKXuwsUitEvvc4+Nzrx8LpsmCwwNo0iMSHkgfYp6E9Dpr8+p+9tlX0jAuQdcbnalcYMxcLUAPpOEmxZapnCXSN1xJErJ76Cuh9KVWEWiTepChGuT7VBJ8NJhEy/JYfSbELfPvVxEFmWd4CE2MiBNhVgT24T

[2018-08-16 14:50] #6907 closed

[2018-08-16 14:52] hpinkos commented on #6907
@OmarShehata @ggetz can you find the forum post this was reported in?  Can you tell them it's been fixed please?

[2018-08-16 15:00] stephenHartzell opened #6926 "requestRenderMode Does not Function in Cesium version 1.47"
I am trying to use the `requestRenderMode : true` feature as described in https://cesium.com/blog/2018/01/24/cesium-scene-rendering-performance/ . However, setting this option does not seem to change the viewer at least in version 1.47. In the profiler, I still see `requestAnimationFrame` called at 60Hz even when nothing is changing in the viewer. In the example straight from the blog post or some

[2018-08-16 15:11] hpinkos commented on #6925
Thanks for reporting this @impactblue573!  And thanks for the great code example =)

I've opened a pull request to fix the issue here: #6927
This should be merged in time for the September 1.49 release

[2018-08-16 15:18] hpinkos commented on #6926
@stephenHartzell I couldn't reproduce this.  This is the sample code I used:

[code]

What OS and browser are you using?

[2018-08-16 16:15] stephenHartzell commented on #6926
I am using Windows 10 and Chrome 68.0.3440.106. I tried the code you provided and put it in the Hello World example. The debugShowFramesPerSecond shows zero, but that's not what I see in the chrome profiler.

![cesiumfps](https://user-images.githubusercontent.com/8050752/44220958-0d739600-a14e-11e8-9002-ec3601cf6653.png)

[2018-08-16 17:02] ggetz commented on #6907
Whoops, sorry forgot the forum link. I'll let him know.

[2018-08-16 17:17] ggetz commented on #6926
The FPS says N/A because the viewer is not actually rendering any new frames. The simulation time is continuing to advance though, and the viewer is performing some checks to see if the scene has been updated and requires a new frame to be rendered. Are you seeing poor performance at all?

[2018-08-16 17:18] mksquires opened #6928 "ModelAnimationCache Memory use bug with DataURIs"
The ModelAnimationCache currently uses model.cacheKey and uriKey in tandem as part of the key for models in the cache. When embedding a reasonably sized model in czml this results in the model's data being used as the cache key. In doing this memory can become rapidly exhausted. Please see the czml file in the following gist: https://gist.github.com/mksquires/0662e8cd7475c98fe63175ffd047a8ee for a

[2018-08-16 17:33] hpinkos commented on #6926
@stephenHartzell yes, the render loop in `CesiumWidget` is still running, but when it calls `scene.render` the scene will only render a new frame if there are changes to the globe that require a new frame to be rendered (for example, if the user has zoomed in).  If the render loop completely stopped, we'd have no way of detecting new input or changes to the scene.

[2018-08-16 17:33] #6926 closed

[2018-08-16 17:36] hpinkos commented on #6928
Thanks for reporting this @mksquires!  Do you have time to open a pull request to address this bug?  If not, we'll try to look into it soon

[2018-08-16 17:41] mksquires commented on #6928
Hey Hannah,

Yeah I can probably get a pull request to you guys in the next week or so if that works. Let me know!

Cheers,

Michael

On Aug 16, 2018, at 1:36 PM, Hannah <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for reporting this @mksquires<https://github.com/mksquires>! Do you have time to open a pull request to address this bug? If not, we'll try to look into it

[2018-08-16 17:48] hpinkos commented on #6928
Perfect, thanks!  Let us know if you have any questions =)

[2018-08-16 17:58] mramato opened #6929 "Crash switching scene modes"
Run http://localhost:8080/Apps/Sandcastle/index.html?src=Labels.html and continually switch between 2D/3D mode (no need to do anything else), you will randomly crash:

[code]

@bagnell any ideas?

[2018-08-16 18:03] mramato commented on #6929
We're always in the middle of a morph when the crash happens and the camera position looks like it's at least partially NaN

[2018-08-17 05:13] impactblue573 commented on #6925
@hpinkos Thanks for getting the fix in so swiftly, much appreciated!!

[2018-08-17 11:09] heinerlamprecht commented on #6911
I can check with our IT guys (still waiting for the browser update).  But Firefox on the same maschine works.

[2018-08-17 13:11] SFraissTU commented on #6313
I get the same problem, exactly as ggetz describes it.

[2018-08-17 19:58] #6858 closed

[2018-08-18 15:03] pjcozzi opened #6935 "Evaluate webP for smaller images"
Useful for 3D Tiles, imagery providers, and other heavy textures?  How fast is decode?  How will it fit with Khronos CTTF (compressed textures)?

https://developers.google.com/speed/webp/

[2018-08-20 10:59] pjaustin opened #6936 "Camera setView / flyTo rectangle doesn't work as expected in 2D when rectangle overlaps antimeridian"
When in 2D mode, calling camera.setView({ destination: rectangle }); or camera.flyTo({ destination: rectangle }); results in a view of the whole world when the rectangle overlaps the antimeridian, rather than a view containing only the rectangle.
Note these both work fine in 3D. In CV they also result in a view of the whole world, which seems reasonable because the globe is not wrapped in CV. Howe

[2018-08-20 12:59] hpinkos commented on #6936
Thanks for reporting this @pjaustin!  Changes will need to be made to this function: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Camera.js#L2330

I think we can check if `east < west` and change what we're subtracting to get width/height it will fix the problem.  We just need to also check that `camera._scene.mapMode2D === MapMode2D.INFINITE_SCROLL` because we don't wa

[2018-08-20 14:22] pjaustin opened #6937 "Camera setView / flyTo produces inconsistent results with an orthographic camera"
When in 2D mode, calling camera.setView({ destination: rectangle }); or camera.flyTo({ destination: rectangle }); displays a larger area than expected when the map viewer is narrow / portrait.

Typically, the above functions result in a view where the rectangle fills the screen (i.e. the camera is centred of over the rectangle and zoomed in as far as possible such the view still contains the whole

[2018-08-20 14:28] hpinkos commented on #6937
Related #2473

[2018-08-20 14:29] pjaustin commented on #6936
@hpinkos thanks for confirming this. At the moment this (and #6937) are relatively low priority for us, but as and when they become higher priority I'd be happy to take a look and submit a pull request if they're still open.

[2018-08-20 14:36] hpinkos commented on #6936
Sounds good, thanks @pjaustin!

[2018-08-20 19:43] #6925 closed

[2018-08-20 20:04] hpinkos commented on #6923
Fixed in #6938

[2018-08-20 20:04] #6923 closed

[2018-08-20 20:54] bidolah opened #6940 "An error occurred while rendering. Rendering has stopped"
Hi Team!

I get next error when I try to display my gltf model in https://www.virtualgis.io/gltfviewer/

TypeError: Cannot read property 'type' of undefined
TypeError: Cannot read property 'type' of undefined
    at d (https://www.virtualgis.io/gltfviewer/node_modules/cesium/Build/Cesium/Cesium.js:526:10900)
    at https://www.virtualgis.io/gltfviewer/node_modules/cesium/Build/Cesium/Cesium.js:526

[2018-08-20 21:08] lilleyse commented on #6891
Reopened until https://github.com/AnalyticalGraphicsInc/cesium/pull/6805 is merged

[2018-08-20 21:28] ggetz commented on #6940
This model load in the branch from #6805

![image](https://user-images.githubusercontent.com/4439461/44367631-5903a800-a49e-11e8-89a1-babe2c9d9926.png)

[2018-08-20 21:34] bidolah commented on #6940
Thanks for quick response. I would be glad to see the fix in the next release.

Have a nice day! @lilleyse  @ggetz

[2018-08-20 21:37] ggetz commented on #6741
(@bagnell?)

This issue is marked for next release, so we should try to get in a fix for next week. Thanks!

[2018-08-20 21:39] ggetz commented on #6904
This issue is marked for next release, so we should try to get in a fix for next week. Who is best to look at this, @hpinkos do you know?

[2018-08-20 21:40] ggetz commented on #6929
This issue is marked for next release, so we should try to get in a fix for next week. Who would be best to look at this? @bagnell?

[2018-08-20 21:41] mramato commented on #6929
Yes, @bagnell

[2018-08-20 21:47] mramato opened #6941 "Built CesiumViewer broken"
Not sure when, but worked as of last release.  It seems relative path related (maybe something in buildModuleUri?) did anything change here recently?

CC @ggetz

[2018-08-20 21:49] lydart opened #6942 "StrokeWidth doesn't work for GeoJsonDataSource"
Step to reproduce:
1. go to https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=GeoJSON%20and%20TopoJSON.html&label=DataSources
2. For Basic styling, edit strokeWidth to 30
4. Run

Expected - Line width should be wider
Actual - Line width didn't change

[2018-08-20 21:51] ggetz commented on #6941
Built Viewer is working as of the last commit: http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/Build/Apps/CesiumViewer/index.html

[2018-08-20 21:55] mramato commented on #6942
@lydart this is a limitation of Windows browsers (it works on Linux, Android, iOS, and Mac), see https://stackoverflow.com/a/25405483/3191039 for full details.  Basically the maximum limit is whatever `viewer.scene.maximumAliasedLineWidth` reports.

The good news is that we have an alternate implementation that would allow this, but no exact ETA on when it will be in.  Keep your eye on #6694.

[2018-08-20 21:55] #6942 closed

[2018-08-20 21:56] mramato commented on #6694
@bagnell @likangning93 I think we'll need to think about making this switch for our Oct 1 release as part of our efforts to have terrain on by default.  Since you both seem to have ideas for making this switch, maybe an early PR just to get the discussion going for real?

[2018-08-20 21:58] mramato commented on #6941
Weird, I thought I saw the problem on multiple branches, but maybe it's only broken in one branch.  I'm checking master locally now. Could also be something changed in an npm dependency.

[2018-08-20 22:02] mramato commented on #6941
OK, I'm just a moron and didn't run `buildApps` first, a long time ago that wasn't always required but I guess it is now.  Sorry for the noise.

[2018-08-20 22:02] #6941 closed

[2018-08-21 02:18] mramato opened #6945 "Ability to select terrain in georeferncing tool"
Right now it always defaults to world terrain, but once #3462 is in we should probably allow terrain to be selected and whatever terrain is selected is automatically associated with that asset for preview (or future georeference tweaks).

[2018-08-21 11:36] GatorScott commented on #6945
Two things.  First, can someone with permission fix the spelling of "georeferencing"?  Second, what georeferencing tool?  I could not find an open issue mentioning georeferencing or georeference.

[2018-08-21 11:38] mramato commented on #6945
Whoops, wrong repository.

[2018-08-21 11:38] #6945 closed

[2018-08-21 17:03] emackey opened #6948 "Add support for glTF's normalTextureInfo.scale"
via @cx20: https://twitter.com/cx20/status/1031940313772748801

Reference shader [scales the normals here](https://github.com/KhronosGroup/glTF-WebGL-PBR/blob/88eda8c5358efe03128b72b6c5f5f6e5b6d023e1/shaders/pbr-frag.glsl#L133).  Cesium [does not](https://github.com/AnalyticalGraphicsInc/cesium/blob/6063c95885cae8b639d0cfb44e65532296c2f4d2/Source/ThirdParty/GltfPipeline/processPbrMetallicRoughness

[2018-08-21 20:41] BigDog6432 commented on #5840
Hanna,  I tried the Rectangle approach you mentioned and I am not seeing the image spanning the dateline.  Here is a link to my cesium example.  https://cesiumjs.org/Cesium/Apps/Sandcastle/#c=rVTRTtswFP0Vqy9NteCkA8QELRorFUNjbMoQT5GQSW4TD8eubKesTPz7buImDS2MTVseWtn3nOt7jk+yYJosONyDJmMi4Z5MwPCyoNf1ntdP6uVEScu4BN0fHMUylgtkaUgjSCyTmQDkuiYUpOWWg6EsTb2fsST4SFYAOST9CFJiNZNGlAnisMOK3vcdsN1A9IpbPYlSOuWSWTBY

[2018-08-22 07:54] heinerlamprecht commented on #6911
Meanwhile the Chromium browser was updated to version 67.0.3396.79.  Although this does not fix the issue, I managed to get a more useful stacktrace.  The error appeared after I killed the GPU-process of chromium.

Again, setting logarithmicDepthBuffer to false works as workaround.

![chromium_cesium_error](https://user-images.githubusercontent.com/42345124/44450468-4f3e8980-a5f1-11e8-97f5-742b74a

[2018-08-22 13:42] mramato commented on #6896
Here's more info and some tutorial/demo code: https://developers.google.com/web/updates/2018/08/offscreen-canvas

[2018-08-22 20:28] #6777 closed

[2018-08-22 20:32] hpinkos commented on #6911
Thanks for the extra details @heinerlamprecht
@bagnell is working on fixes for a few other logdepth related issues, so we'll add this to the list too

[2018-08-22 20:39] gadew64 commented on #5076
Any luck with this?  Has it been solved after 1.46?

[2018-08-22 21:08] bagnell commented on #6741
I wasn't able to find the cause for the last release. I'm still looking into it.

[2018-08-23 13:02] hpinkos opened #6951 "Rectangle no longer renders across IDL"
This works in 1.45 but not in 1.46

[code]

[2018-08-23 13:02] hpinkos commented on #5840
@BigDog6432 ah sorry, it looks like this was a recent regression.  I've opened up an issue so we can fix the rectangle here: #6951

[2018-08-23 13:16] hpinkos commented on #6951
@likangning93 it looks like this was broken with your materials for ground primitives changes.  Can you look into this soon?

[2018-08-23 13:27] mramato commented on #6951
It would be good to update one of our Sandcastle examples (rectangle entities?) so that the geometry just happens to span the IDL.  This way when someone does release testing they should at least notice it.

[2018-08-23 13:31] hpinkos commented on #6951
I also thought we had a render test for this but maybe not

[2018-08-23 13:34] #6904 closed

[2018-08-23 13:34] hpinkos commented on #6904
Thanks again for reporting this @ollazarev!  This has been fixed and will be included in the 1.49 release available September 3rd.

[2018-08-23 20:38] OmarShehata opened #6952 "Access model.readyPromise through Entity API"
Came up on the forum https://groups.google.com/forum/#!topic/cesium-dev/25XIuI25F7A

Using the primitive API as in this tutorial (https://cesiumjs.org/tutorials/3D-Models-Tutorial/) you can get a `readyPromise` that will tell you once the model has loaded. But there's no way to do that with the Entity API.

[2018-08-23 20:40] hpinkos commented on #6952
duplicate #4727

[2018-08-23 20:40] #6952 closed

[2018-08-23 20:40] cesium-concierge commented on #6952
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/25XIuI25F7A

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-08-23 20:40] hpinkos commented on #4727
also repored here: https://groups.google.com/forum/#!topic/cesium-dev/25XIuI25F7A

[2018-08-23 20:54] mramato commented on #4727
The approach described in that forum post is flawed.  3D Tiles are the way to do what they want.

I'm still not convinced we'll ever need this as there is always a better way to do what our users want without this functionality (and having this functionality will lead them down a bad implementation path).  There could be exceptions, but I haven't heard them yet.

[2018-08-23 21:54] mramato commented on #6898
We should really try to fix this for the next release. `requestRender` bugs on our end will make it hard for end users to use the feature and inserting random render calls in user code to work around it kind of negates the point.

[2018-08-24 16:00] robmilton commented on #5094
Hey Sean, that example works for me!  Thank you!  Now I have another issue I'd like to ask for help with that is probably more Javascript related that Cesium-specific.  But depending on how Cesium implements promises it may be somewhere in the middle.

I have a Javascript object we call FlightTrack which contains a bunch of information used to display an aircraft and related graphics.  An instance

[2018-08-24 17:11] OmarShehata commented on #5462
Reported again on the forum: https://groups.google.com/d/msg/cesium-dev/VNWjO3qGrXE/lLUDzBX4DQAJ

I think this is a browser thing, but something we could do is allow users to re-use a WebGL context. I believe [Threejs exposes a context](https://threejs.org/docs/index.html#api/renderers/WebGLRenderer) option for this sort of scenario.

[2018-08-24 17:28] mksquires opened #6954 "Runtime matrix inversion error causes rendering to stop"
In the master branch (currently 9287c3c) there appears to be an issue where transformation matrix inversion causes the rendering system to stop. This issue may be demonstrated via the following CZML file in the gist, https://gist.github.com/mksquires/cff0be46da9525f5fc0179becc430a62.

[2018-08-24 17:43] mramato commented on #6954
Thanks @mksquires  @bagnell said he already had a fix for this so hopefully he'll open a PR soon.

[2018-08-24 18:01] mksquires commented on #6954
Sounds good! If he can't get to it let me know and I can fix it.

[2018-08-27 01:56] lilleyse commented on #5094
Well I'm not sure why the other textures get updated after a failure, but this is probably a more general problem where all aircraft models are using the same cache key and sharing the same renderer resources. The cache key is set the model's url by default but you can get around that by passing your own cache key in.

Here's an example: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=zVZbb9s

[2018-08-27 11:10] beanilsson opened #6959 "Google Maps map not loaded properly"
When I go to maps.google.com I first get the normal map showing a country based on my settings, but after 1 or 2 seconds the map turns completely black. The left side bar seems to be working though as I can search for locations etc and receive information about them.  I run version 61.0.2 (64 bit) Windows 10. All extensions disabled. The same behaviour is present in incognito mode.

I get the foll

[2018-08-27 11:33] #6959 closed

[2018-08-27 16:53] robmilton commented on #5094
Sean, that worked like a charm!  Thank you for the help with this!

[2018-08-27 18:34] alextym opened #6961 "Ion defaultAccessToken warning"
Hi, everyone!
With cesiumjs 1.48 i have a warning when want to use terrainProvider with imageryProvider and geocoder (Bing Maps key):
**This application is using Cesium's default ion access token. Please assign Cesium.Ion.defaultAccessToken with an access token from your ion account before making any Cesium API calls.**

My code is:
`Cesium.Ion.defaultAccessToken = " TOKEN FROM ION HERE";

    var

[2018-08-27 18:40] #6891 closed

[2018-08-27 18:49] mramato commented on #6961
@alextym, sorry to hear you are having a problem.  Unfortunately, your code is working for me locally without any issues. (obviously I replaced the token and key strings with my own values).

How are you including Cesium in your application?  Are you using the version from NPM or the release zip?  Does this happen in all browsers?

[2018-08-27 19:32] hpinkos commented on #6898
I ran into another issue where the tileset doesn't clear from the globe on `scene.primitives.remove`.  calling `scene.requestRender` after `remove` didn't work either, I had to call `scene.forceRender`.

[2018-08-27 19:56] likangning93 commented on #6951
Digging in a bit:
* it's other primitives too
* definitely related to the materials code since it works with other classification types
* works for tiny areas in 3D b/c bounding planes instead of spherical extents
* CV and 2D broken b/c the primitive gets split and the bounds don't apply anymore... so that's pretty annoying :(

[2018-08-27 20:06] alextym commented on #6961
@mramato, i use cesium 1.48 release zip.  I create another ion token and it is valid for my program(warning dissapear). Don't know why previous token was't right (i checked and it was like in cesium ion). Sorry about previous question.
 I have another question.  Warning still appears when i want to change terrainProvider (for example terrainProvider from EllipsoidTerrainProvider  to Cesium World T

[2018-08-27 20:14] bagnell opened #6962 "Wrong camera position in photogrammetry Sandcastle example"
The camera view starts at the photogrammetry and then moves upward after the terrain is loaded. This is a regression in the 1.48 release.

Expected behavior in 1.47:
https://cesiumjs.org/releases/1.47/Apps/Sandcastle/index.html?src=3D%20Tiles%20Photogrammetry.html&label=3D%20Tiles

In 1.48:
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Tiles%20Photogrammetry.html

[2018-08-27 20:19] lilleyse opened #6963 "Depth fail epsilon"
Cesium has a mechanism to draw primitives that fails the depth test with a `depthFailAppearance`, but if a primitive is coplanar with other geometry there may be flickering between the `appearance` and the `depthFailAppearance`. This is a screenshot of a polygon on a point cloud.

<img width="145" alt="flickery2" src="https://user-images.githubusercontent.com/915398/44683092-4b58a000-aa13-11e8-9d3

[2018-08-27 20:27] hpinkos commented on #6962
Did you check out the behavior in master?  @mramato made some improvements to `viewer.flyTo` for the 1.49 release #6895

[2018-08-27 20:31] hpinkos commented on #6734
@ggetz does this mean that geometry created synchronously require a `requestRender` after `scene.primitives.add` but asynchronous geometry does not?  That's an odd choice.

[2018-08-27 20:35] mramato commented on #6962
Still happens in master, but this is definitely terrain related since that's the only difference in the demo between 1.47 and 1.48

[2018-08-27 20:37] bagnell opened #6964 "Wrong initial view for cardboard Sandcastle example"
Open the Cardboard Sandcastle example and this is what you'll see:
![image](https://user-images.githubusercontent.com/1494815/44684582-71803f00-aa17-11e8-9d76-f1de04268401.png)

[2018-08-27 20:40] ggetz commented on #6734
The initial push for requestRender mode was targeted to a small but commonly used subset of the API - Loading a scene with imagery, terrain, and a tileset. Some of the primitive functionality came along with that but not all. There's definitely some work to be done if we want it to be more robust with the lower level parts of the API.

[2018-08-27 20:41] mramato commented on #6962
That being said, I'm not sure why my change wouldn't have fixed this.

[2018-08-27 20:56] bagnell opened #6965 "Cesium logo not showing with multiple viewers"
The data attribution is displayed, but the cesium logo and access token message is not.
![image](https://user-images.githubusercontent.com/1494815/44685754-2f0c3180-aa1a-11e8-8715-5cee89bf404b.png)

[2018-08-27 20:57] bagnell commented on #6965
The image is from the Multiple Synced Views Sandcastle example.

[2018-08-27 21:15] OmarShehata commented on #6868
We're completely removing this right @lilleyse ? No need to keep any warnings or anything?

[2018-08-27 21:29] lilleyse commented on #6868
Yeah go ahead and remove, this workaround was added to fix a very specific set of incorrect tilesets generated by us. Doesn't need to go through the usual deprecation.

[2018-08-27 21:51] #6961 closed

[2018-08-28 01:08] pjcozzi commented on #6332
* [A Handy Introduction to Cloud Optimized GeoTIFFs](https://medium.com/planet-stories/a-handy-introduction-to-cloud-optimized-geotiffs-1f2c9e716ec3)

[2018-08-28 15:17] hpinkos commented on #6962
Your change to `viewer.flyTo` was only for flying to imagery.  I forgot it wasn't for everything

[2018-08-28 15:33] mramato commented on #6962
Good point.  But now I'm not sure why this bugs exists at all, unless the bounding sphere for the tileset is not taking the transform into account?

[2018-08-28 15:40] hpinkos commented on #6962
I'm sure it's whatever code we have that pushes the camera up above terrain when the terrain loads in that's causing the problem

[2018-08-28 15:47] hpinkos commented on #6962
It's not a problem with assets.agi.com terrain

[code]

There might be bad data in some of the lower resolution tiles of ion world terrain in that location that's pushing the camera up.  I feel like I can see it for a split second before the higher resolution tiles come in.

[2018-08-28 17:09] #6964 closed

[2018-08-28 19:05] emackey opened #6970 "Loading fractional times from CZML seems to break the animation widget"
The times shown below were written from STK Components' CZML writer.

[code]

![bustedanimwidget](https://user-images.githubusercontent.com/1235080/44744692-b49fe800-aad3-11e8-8e41-c937b556096c.png)

[2018-08-28 19:10] shunter commented on #6970
Your CZML snippet does not specify `currentTime`.  If not specified, `currentTime` defaults to `ISO8601.MINIMUM_VALUE` which is year zero as you see.

[2018-08-28 19:10] #6970 closed

[2018-08-29 09:37] thw0rted opened #6971 "Hook WebGLContextCreationError to offer more detail when WebGL is not available"
The good news: I found out why my corporate-managed Chrome install wasn't running Cesium (group policy sets the flag `Disable3DAPIs`), and I figured out how to get an error message out of the browser describing what happened.  That's where the bad news comes in, though.  Instead of returning some kind of error object or throwing an exception, `canvas.getContext()` returns null and raises an event

[2018-08-29 14:10] ggetz commented on #6279
@mramato Is the assets.agi.com shutdown still targeted for this release?

[2018-08-29 14:12] mramato commented on #6279
No, we are pushing it to 1.50 but including a slightly different message for Sep 1, expect a PR later today.  I already updated the label.

[2018-08-29 14:14] ggetz commented on #6971
Thanks @thw0rted!

Related to https://github.com/AnalyticalGraphicsInc/cesium/issues/5991 (which is specifically for WebGL context lost), and probably should be tackled at the same time.

[2018-08-29 14:40] likangning93 commented on #4746
![classificationvolumeidl](https://user-images.githubusercontent.com/5395255/44794602-d1412c00-ab76-11e8-8b21-a7dabd7245a8.JPG)

@bagnell thinks this is because the volumes for the underlying classification primitive gets split across the IDL, but the parts aren't closed independently. The artifact goes away when you manually "close" the volumes by spanning with two batched entities instead of jus

[2018-08-29 15:13] #6843 closed

[2018-08-29 18:50] hpinkos commented on #4659
duplicate #6694

[2018-08-29 18:50] #4659 closed

[2018-08-29 19:44] #6868 closed

[2018-08-30 08:14] thw0rted commented on #5991
I recognize this isn't absolutely universal but I suspect most consuming "apps" use a Viewer (or a directly-managed CesiumWidget) as a cornerstone of the page being viewed.  Since the app is likely to be more or less useless with a crashed WebGL, you could show the default error handler with a message along the lines of Ed's suggestions ("Something has gone wrong with your browser's 3D graphics; r

[2018-08-30 14:06] ggetz opened #6976 "Polygon error when setting height reference to clamp when perPositionHeight is true"
When a polygon entity's `heightReference` is set to `CLAMP_TO_GROUND`, it errors is `perPositionHeight` is enabled, but does not error when disabled.

Brought up in this [forum thread](https://groups.google.com/forum/#!searchin/cesium-dev/jessica$20gettings%7Csort:date/cesium-dev/nPBzPKQhqqg/QnKZgvsXAgAJ).

[Sandcastle example](https://www.google.com/url?q=https%3A%2F%2Fcesiumjs.org%2FCesium%2FBui

[2018-08-30 14:35] ggetz commented on #5022
Went to that course at SIGGRAPH and I would give it a :+1:

[2018-08-30 14:36] #6928 closed

[2018-08-30 17:33] lilleyse commented on #6940
Fixed in https://github.com/AnalyticalGraphicsInc/cesium/pull/6906.

[2018-08-30 17:33] #6940 closed

[2018-08-30 19:55] hpinkos commented on #5203
The above looks like a data problem.  I think his position heights are lower than the extrudedHeight.  I'll add a comment to #2924

[2018-08-30 19:55] #5203 closed

[2018-08-30 19:55] cesium-concierge commented on #5203
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!searchin/cesium-dev/paula%7Csort

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/

[2018-08-30 19:55] hpinkos commented on #2924
Also reported here: https://groups.google.com/forum/#!searchin/cesium-dev/paula%7Csort:relevance/cesium-dev/FiF8tbgoPjw/ZXHBhlhABAAJ

[2018-08-30 19:57] hpinkos commented on #6976
`heightReference` is not currently supported with `perPositionHeight`.  I submitted a PR to add warning messages: #6978

I'm going to reword this issue for adding support for this

[2018-08-30 19:57] likangning93 opened #6979 "AWS update breaking `deploy-s3` task on Travis?"
From Travis:
[code]

The line referenced in here seems to call the `aws-sdk`, which was updated very recently.

[2018-08-30 20:03] ggetz commented on #6979
Yep, we promisify that library as part of the deploy. I'll take a look.

[2018-08-30 20:03] mramato commented on #6979
aws has built in promise support, there should be no need to promisify it (just add .promise() to the end of any call)

[2018-08-30 21:09] emackey commented on #6506
Note: Make sure to *not* calculate normals if the `unlit` extension is in use (#6977)

[2018-08-31 13:54] ggetz commented on #6951
@likangning93 Is 2D/Columbus view going to make it into this release? It should be merged today if so.

[2018-08-31 14:19] #6979 closed

[2018-08-31 14:31] hpinkos commented on #6951
@ggetz #6967 fixed 3D.  2D/CV is still broken.  I"m going to leave this issue marked `next-release` but I don't think we'll have a fix for 2D/CV in by today

[2018-08-31 14:40] likangning93 commented on #6951
@ggetz @hpinkos actually, PR for this should be open soon. Sorry for the radio silence!

[2018-08-31 14:41] yaozhihang opened #6983 "precision lost issue when using Float32Array"
It seems that `Float64Array` shall be used in the following code line, instead of `Float32Array`
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Workers/createVectorTilePolylines.js#L33
because `Float32Array` may lead to precision lost, such that the verticies of polylines cannot be placed on the accurate positions on the Cesium map.

[2018-08-31 14:48] mramato commented on #6983
Thanks @yaozhihang.  @bagnell can you take a look at this?  At first glance this looks like we are storing unencoded values so it looks like a bug.

[2018-08-31 15:12] lilleyse opened #6985 "Entity loses orientation when interpolating between redundant positions"
The path has two samples with the same position but different times. When the entity is within that interval it loses its original orientation. Looking at `VelocityOrientationProperty`/`VelocityVectorProperty` this seems to be intentional, but is this the desired behavior? Should the entity continue to use its orientation before it entered the interval?

![redundant-position](https://user-images.g

[2018-08-31 15:15] hpinkos commented on #6985
There is no velocity if both points are the same, so I think we're doing something rational for this case

[2018-08-31 15:32] mramato commented on #6985
Using the previous orientation doesn't really work here either because Cesium allows for random time-access.

The only way VelocityVectorProperty could support this correctly is if the source position data is using a properly set up intervals to indicate points of discontinuity.  Then `VelocityVectorProperty` could see that it's at a point of discontinuity and finite using the preview time instead

[2018-08-31 15:41] mramato commented on #6985
Actually looked at the sample code.

You shouldn't be using a SamplePositionProperty to model data with discontinuities, that's where the problem starts.  Every time the car stops should be a new interval and you should be modeling that with a `CompositePositionProperty` made up of a SamplePositionProperty for each interval (or a ConstantPosition property for intervals where the car has stopped),

[2018-08-31 16:34] DronePhil commented on #6372
@hpinkos any updates here? At DroneDeploy we are starting to see customer complaints about this issue. Though we can fix it by rewriting the camera controls ourselves, we'd prefer not to.

[2018-08-31 16:53] mramato commented on #6372
I believe Firefox has several bugs in the PointerEvents implementation, we've encountered this before in our own unit tests.  I think the best solution here is to disable PointerEvents completely in FireFox until those issues get fixed.

I'll push a branch with this change and if folks can confirm that it fixes the issue, we'll merge for the next release.

[2018-08-31 17:15] mramato commented on #6962
@hpinkos I can reproduce this problem is all kinds of cases, not just the example.  I think the fact that it doesn't happen with assets.agi.com is a red herring do to the difference between terrain data.  For example, I have a tileset in New Zealand that this happens with.

[2018-08-31 17:17] mramato commented on #6962
It only happens the first time you zoom, zooming a second time works fine.  I believe this may be some sort of race condition we recently introduced:

[code]

[2018-08-31 17:18] mramato commented on #6962
I marked this next release because it's started showing up often for me.

[2018-08-31 18:00] hpinkos commented on #6962
Well, the differences in data are at least exposing an existing problem.  It's our `adjustHeightForTerrain` function that's moving the camera, and that code hasn't changed in a long time.  If you comment out this line the problem doesn't happen: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Camera.js#L961

The globe renders with a lower resolution tile that has a greater

[2018-08-31 18:18] hpinkos opened #6988 "Better hook into geocoder search command"
Currently there isn't a great way to execute code after `search` is executed on `GeocoderViewModel`.

- `GeocodeViewModel.search` is a command so we can listen to the `afterExecute` event, but this doesn't wait for the geocode promise to complete
- The `GeocodeViewModel.complete` is raised only after the geocode is successful and the camera flight finishes

What do I do when `search` is executed a

[2018-08-31 18:29] ggetz commented on #6988
CC https://github.com/AnalyticalGraphicsInc/cesium/issues/6313

[2018-08-31 18:48] mramato commented on #6962
Okay, I think we're getting close to the root cause here.  I don't think `adjustHeightForTerrain` should get called unless terrain is actually finished loading. (At least that was the original intent)

[2018-08-31 19:12] mramato commented on #6962
Submitted #6989

[2018-08-31 19:12] mramato commented on #6962
And thanks @hpinkos for doing most of the hard work in narrowing this down.

[2018-08-31 19:32] bagnell commented on #6983
Vector Tile polylines are rendered relative-to-center. All of the positions are offsets from the `RTC_CENTER` or the tile region center. So there is no loss of precision and they are rendered accurately.

For more information about RTC rendering, see:
http://help.agi.com/AGIComponents/html/BlogPrecisionsPrecisions.htm

@yaozhihang, have you seen any precision issues?

[2018-08-31 20:57] #6490 closed

[2018-08-31 21:30] #6962 closed

[2018-08-31 22:00] mlptownsend opened #6990 "Scene pickPosition Result Wrong with Viewer Option baseLayerPicker false"
Cesium version 1.48, Win 10 Professional, Intel HD Graphics 520 driver v23.20.16.5018. Reproduces locally on Chrome 68.0.3440.106, Firefox Quantum 61.0.2, Edge. IE not supported (Picking from the depth buffer is not supported. Check pickPositionSupported.) Also reproduced on a different computer using Firefox 61.0.2.

Cesium 1.47 and 1.44 also appear to be affected.

Problem:
When initializing the

[2018-08-31 22:13] hpinkos commented on #6990
Hello @mlptownsend, thanks for submitting this issue!  The problem is actually that `BaseLayerPickerViewModel` is secretly setting `scene.globe.depthTestAgainstTerrain = true;` if you pass in a terrain provider to `Viewer`.  You can set `viewer.scene.globe.depthTestAgainstTerrain = true;` yourself to fix the problem.

I'm going to open up an issue to discuss whether `BaseLayerPicker` should be set

[2018-08-31 22:13] #6990 closed

[2018-08-31 22:14] hpinkos commented on #4368
See https://github.com/AnalyticalGraphicsInc/cesium/issues/6990 for a great code example.  `pickPosition` works decently well on the ellipsoid when `globe.depthTestAgainstTerrain = true` but doesn't work at all otherwise.

[2018-08-31 22:14] mlptownsend commented on #6990
Thanks for the quick response!

[2018-08-31 22:17] hpinkos opened #6991 "Why does BaseLayerPickerViewModel set depthTestAgainstTerrain ?"
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Widgets/BaseLayerPicker/BaseLayerPickerViewModel.js#L247

This recently led to some confusion in behavior in https://github.com/AnalyticalGraphicsInc/cesium/issues/6990

I don't think BaseLayerPicker should be setting this option.  This seems like a decision the developer should make, not the widget.

We also set `depthTestAgainstT

[2018-08-31 23:02] bagnell commented on #6951
Reopened because there is still an issue in 3D/CV. The volumes need to be closed.

[2018-08-31 23:25] hpinkos commented on #6951
@bagnell is that different than #4746?

[2018-09-01 00:13] mramato commented on #6991
It has always been like this (since the feature was added over 4 years ago #1607 In general, people don't expect data to show through the terrain and not having it turn on automatically leads to a lot of "why is my data wavy/floaty" questions on the forum.

But ultimately it's a moot point because when we enable terrain by default, depthTestAgainstTerrain will also default to true.  At that point,

[2018-09-01 21:24] SunBlack opened #6993 "Set engine in package.json"
Currently nowhere is defined which version of nodejs at minimum is required by cesium. This can be defined in package.json as [engine ](https://docs.npmjs.com/files/package.json#engines).

With node.js 10 you get following following message:
```[DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.f

[2018-09-02 11:58] pjcozzi commented on #2524
Perhaps xeogl's upgrade to ES6 & rollup will have some lessons learned: https://github.com/xeolabs/xeogl/issues/272

[2018-09-02 16:26] OmarShehata opened #6995 "Expose actualClampedPosition for Points"
Here's the scenario [which came up on the forum](https://groups.google.com/d/msg/cesium-dev/YsH-gLKVepo/DZp44sZsAgAJ):

You're trying to draw a polyline from the air to the ground so it looks something like this:

![chrome_2018-09-02_12-01-44](https://user-images.githubusercontent.com/1711126/44958083-ec7aa700-aea8-11e8-9015-e7b684bc77ca.png)

You can't use polylines clamped to ground because one

[2018-09-02 16:54] TJKoury commented on #2524
@pcozzi Looks good!  I have a rollup version working now, just finishing up some rough edges.

[2018-09-03 16:32] schmidtk opened #6997 "Multi-line labels have extra vertical spacing with some characters"
The `measureText` call calculates odd heights/descents for some characters. On macOS/Chrome the letter `M` is measured taller than it should be. From inspection, it looks like the canvas has extra empty space at the top. This results in multi-line labels having unnecessary spacing between lines.

![screen shot 2018-09-03 at 11 47 24 am](https://user-images.githubusercontent.com/5685437/44997954-27

[2018-09-03 21:55] mramato commented on #6372
Since I can't reproduce this, can anyone with this issue try http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/dont-point/ (That has both the Viewer sample app and Sandcastle) and report whether it fixes the issue?

If so, I think we can squeeze this into the next release (tomorrow!) but we need to know if it works ASAP.

[2018-09-04 02:56] sunhongyue4500 commented on #6995
Cool.  I use the first method, just get the actual terrain height and use that as the other point.  And it  also works well if the point on the ground is moving. Actually, my two points are both moving.  Just request the point height all the time. Something like this:
![ray](https://user-images.githubusercontent.com/7975643/45007350-f975d280-b02f-11e8-90a9-cf1bc55ac972.gif)

[2018-09-04 07:36] vaishakha opened #7000 "Get location name using longitude and latitude"
how to get location name using longitude and latitude or by clicking on the global map?

[2018-09-04 11:42] GatorScott commented on #6995
I read the original problem slightly differently, namely that the ground location wasn't known but needed to be determined by performing a ray intersection with the terrain surface.  All of this being slightly complicated by the coordinate system transformations required to go from some local CS for the laser to world coordinates for the direction vector.  A scanning laser vs. a target pointing la

[2018-09-04 12:26] AmitMY opened #7001 "Loading GLTF crushes browser, Loading GLB loads root"
I am trying to load a `gltf` file (around 75MB) to cesium, but when I do:
[code]
The browser tab crushes (stuck for hours, have to manually close) at the moment I am in a position where the model should be visible.

I converted it to GLB using `gltf-pipeline`, and just change the URL to `data/example.glb`.
Now the console reports:

And nothing shows.
Why does it call the root directory of the glb

[2018-09-04 13:15] ggetz commented on #6372
Can't duplicate on my machine, can @likangning93 or someone else with macOS?

[2018-09-04 14:07] floonone opened #7002 "sampleTerrainMostDetailed does not work for EllipsoidTerrainProvider"
Following the recommendation to display polylines at height over terrain, I've been using the function `sampleTerrainMostDetailed` to compute the heights. However, I've found out that calling this function with an `EllipsoidTerrainProvider` fails.

While this bug it can be avoided by calling directly to `sampleTerrain` with a level, it's a bit unconvenient when switching between different terrain

[2018-09-04 14:36] schmidtk commented on #6997
I did look at that a bit, and I believe this is a separate issue with the same library. It happens with native browser fonts and doesn't seem to be related to font loading.

[2018-09-04 14:44] mramato commented on #6372
@ggetz do you mean you can't reproduce this in master either?

[2018-09-04 14:47] ggetz commented on #6372
@mramato Yes, I can't reproduce this in master.

[2018-09-04 14:57] hpinkos commented on #7002
Hello @floonone, I just fixed this issue in #6824.  It will be included in the 1.49 release which will be published later today.  Thanks!

[2018-09-04 15:08] hpinkos commented on #7000
Hello @vaishakha
This type of functionality is not built into CesiumJS.  You will need to write code that queries a geocoder service that supports reverse geocoding.  Below is an example using Bing Maps geocoder.  You will need to get an API key at https://www.bingmapsportal.com in order for this example to work.

Our default geocoder is Pelias and I believe they support reverse geocoding too: htt

[2018-09-04 15:08] #7000 closed

[2018-09-04 15:10] mramato commented on #6372
@andrzejfigula, @DronePhil, @shrichards @jimmyangel Can any of you still reproduce this, either in master at http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/ or on the branch I linked to above (http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/dont-point/)

[2018-09-04 15:11] hpinkos commented on #6995
@OmarShehata the best method for achieving something like this is to `position = viewer.scene.globe.pick(viewer.scene.camera.getPickRay(mousePosition))` to get a rough position while the mouse is moving, then you can call `sampleTerrainMostDetailed` to get the final accurate position once the position is set.

You never want to dig into the private API like that.  There are usually ways to accompl

[2018-09-04 15:11] #6995 closed

[2018-09-04 15:11] cesium-concierge commented on #6995
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/YsH-gLKVepo/DZp44sZsAgAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-09-04 15:18] likangning93 commented on #6372
Just tested on Firefox 61.0.2 x64 on macOS 10.11.6, ctrl + trackpad worked for the `dont-point` branch but not in `master`

[2018-09-04 15:26] mramato commented on #7002
@floonone I believe your code should just check if `terrainProvider.availability` is defined before calling `sampleTerrainMostDetailed` and then you can handle it

[2018-09-04 15:29] hpinkos commented on #7002
Ah yeah, `sampleTerrainMostDetailed` requires the `availability` property or it throws a `DeveloperError`.  Also, if you know that you are using an `EllipsoidTerrainProvider`, the height on the globe will always be zero.

[2018-09-04 15:29] #7002 closed

[2018-09-04 15:34] mramato opened #7003 "Re-enable PointerEvents in Firefox once they fix their implementation"
In #6999 we disabled PointerEvents in Firefox completely because their implementation seems broken.  There is some discussion of this in #6372 (along with reproducible bugs)

Once Firefox improves their implementation, we should re-enable it (and confirm none of the bugs in the linked issue still exists)

[2018-09-04 15:38] #6372 closed

[2018-09-04 15:39] mramato commented on #6372
Wrote up #7003 to revisit this issue once Firefox improves their implementation (or we find out it was something we are doing on our end)

[2018-09-04 15:50] floonone commented on #7002
@mramato that's fair I guess, I had already found a workaround, and you're right, performing the check, and knowing the EllipsoidTerrainProvider will always provide zero height, this problem can be avoided. The intention after this issue was more about having a consistent behaviour with `sampleTerrain`, which doesn't throw an error, and allows for a more transparent integration, since it removes t

[2018-09-04 15:53] mramato commented on #6983
Thanks for the test case @yaozhihang!  @bagnell any ideas?  Could the Float64Array workaround be masking a bug somewhere else?

[2018-09-04 16:26] AmitMY commented on #7001
Unfortunately, no.

[2018-09-04 16:42] hpinkos commented on #7001
Sorry, I'm not sure what all we can do to help.  I think Cesium should be able to load a 75MB model, but it's possible the size is causing your browser to run out of memory.  Our team primarily uses Chrome because it seems to have the best performance, so you can try that if you're not using Chrome already.

It's also possible your GLTF didn't convert correctly and that's what's causing it to now

[2018-09-04 16:42] #7001 closed

[2018-09-04 18:01] ggetz commented on #6687
- [ ] Hide the label if the list is empty

[2018-09-04 19:40] OmarShehata commented on #5959
@hpinkos should this be re-opened? It's pretty unintuitive as it is right now. I also thought it was a bug, and it came up on the forum again here:

https://groups.google.com/d/msg/cesium-dev/EIRyiQR5_fY/WENhsMl5AgAJ

[2018-09-04 19:42] hpinkos commented on #5959
I think double clicking off of the entity would be an intuitive way to unset the tracked entity.  @mramato @emackey what do you think?

[2018-09-04 19:53] bagnell commented on #6951
Nope. Thanks, I'll close this.

[2018-09-04 19:53] #6951 closed

[2018-09-04 19:59] GatorScott commented on #5959
<CTRL> double-click might be better since the user won't have to know what's not clickable, especially for new users of an application.  e.g. Double-clicking the sky box or the globe might give coordinates of the clicked location.

[2018-09-04 20:03] hpinkos commented on #5959
right, and they have to double click the entity right now to track it, so double clicking away from it seems like a natural choice

[2018-09-05 00:16] cherukumilli commented on #6487
@mramato @lilleyse @likangning93
Is there a README explaining how to convert normal 3D tiles to draco encoded 3D tiles?
If not, can you pls provide references of `how to re-tile with draco`?

[2018-09-05 14:15] vaishakha commented on #88
Is there any cesium library for an android native app?

[2018-09-06 03:15] riematrix opened #7007 "Tileset LOD parent and child render at the same time"
Hi,
I followed the tileset example and fall into this problem. No matter how do I set the SSE or bounding volume, the refinement act strangely that either parent node and child node render at the same time or they don't show at all.
My data contains 2 level tiles. A single parent and it's children.

Data ### https://drive.google.com/open?id=1wdHxCpFgjPZMMjngMgLDUSRJoisrutDT

code
[3D Tiles Photogr

[2018-09-06 06:14] vaishakha opened #7008 "Uncaught TypeError: Cesium.loadJson is not a function"
I'm getting an error like this
Uncaught TypeError: Cesium.loadJsonP is not a function

For Cesium.loadJsonP also giving the same error

Need help. Is Cesium.loadJson() deprecated?
I tested this function in [https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/)  but not working

Version: Cesium-1.48

[2018-09-06 09:14] m7567 opened #7009 "load gltf file and select components"
Hi,

I have an Autodesk Revit model with a lot of componets in it. First I convert it to IFC file and then convert to gltf file, then I load this model to Cesium platform. In Cesium, I want to select just one single component and show it's information . Only select the wall but not the whole building. However, in Cesium I can only select the whole model but not just one singe component of the mode

[2018-09-06 13:16] mramato commented on #7008
@vaishakha loadJsonP was deprecated 6 months ago in Ceisum 1.42 and removed 2 months ago in Cesium 1.44.  (See [CHANGES](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CHANGES.md#144---2018-04-02))

Short version, use [Cesium.Resource.fetchJsonp](https://cesiumjs.org/Cesium/Build/Documentation/Resource.html#.fetchJsonp)

[2018-09-06 13:16] #7008 closed

[2018-09-06 13:56] likangning93 commented on #7007
Hi @riematrix, your `tileset.json` file specifies `ADD` in the `refine` field, when it seems like what you want is `REPLACE`. Take a look at the specification here: https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/master/specification#refinement

The spec and `3d-tiiles-tools` projects are also a place to start for converting existing obj tiles to tilesets, but [Cesium ion](https://cesium.co

[2018-09-06 14:31] likangning93 opened #7010 "Terrain produces unexpected results in rotatable 2D"
![rotatable2dterrainbug](https://user-images.githubusercontent.com/5395255/45164007-8b601580-b1bf-11e8-92ea-f0eadbe969fb.jpg)

[code]
[On current Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZY9dT4MwFED/SsPLICEl7tEx4sJ4c84I0Ze+dO2dNpaW3BaWafzvdkOcH327p+c0twNHMig4AJIlMXAgJTjVt/TxzOKZOI+lNZ4rAzhLyTszJBwPiAHdox2UBLyeQoHAPTxZ1LIZlThJx8QJMLCxEsi3XU+I1mV1V83XX2rLuxOdry/qZkL0YdusmoqZj

[2018-09-06 14:31] hpinkos commented on #6487
@cherukumilli Thanks for your interest, but this is something our team will have to update.  You would need access to a tool that can output 3D Tiles with Draco compression.  If this is something you are looking to use for your tiling your own data, we have 3D Tiles processing tools available for purchase.  You can contact tim@cesium.com for more information about this.  Thanks again!

[2018-09-06 14:36] hpinkos commented on #7010
Marking this `priority - high` because we'll need this fixed for our goal of enabling terrain by default

[2018-09-06 14:38] likangning93 commented on #7010
It's fractal-y as you get closer, which smells kind of like a near/far plane problem.

![muirbeach](https://user-images.githubusercontent.com/5395255/45164615-d29ad600-b1c0-11e8-82d1-33025e09ebcc.JPG)

[2018-09-06 14:40] hpinkos commented on #88
@shangtianhao @vaishakha There is not a separate Cesium library specifically for Android applications.  However, there are a few different ways to add Cesium to your Android app.  One option would be to use Cordova.  You can see our blog post about this here: https://cesium.com/blog/2016/05/18/an-introduction-to-cesium-android-apps-with-cordova/

Cesium also works in the web browsers for most (if

[2018-09-06 14:57] OmarShehata opened #7012 "Tracking Entity with Relative Height Reference Jitters"
This [Sandcastle](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html#c=zVh7T9tIEP8qK/7BubpOwutKgOpS4FpOgUQkbXUqFdrYk2TVtdfaXRPoie9+sw87diBVkU66IoTXuzOzM795mjsqyR2DJUhyQjJYklNQrEijT3Yv2I7t66nINGUZyO2Q/HOTEfxh2Uy8E/c9MqNcQUja7TOm6JQDuXAnZMmSOWhHrYBDrJnILrKExVQL+QxjRYTCPZXnXoiCJ/2MpVRDj2hZWD5ynlk+ag+QT91kj62jm+wma7f9GWfzhWbZnEypgoSgbFVk7VTgIheKeS6HQKRiyCCaczGFCCz/oGQ/sbc2ZSeQ6wXRoCyFEkQvcKHIFPCZ4

[2018-09-06 14:57] hpinkos commented on #7009
Hi @m7567,  Cesium doesn't currently have the ability to select individual nodes of glTF models.  We have an issue open here to add this ability: #2387

I'm going to close this issue as a duplicate, but I'll add a comment to #2387 so we can notify you when we have a chance to add support for this.  Thanks!

[2018-09-06 14:57] #7009 closed

[2018-09-06 14:58] hpinkos commented on #2387
Also requested by @m7567 in #7009

[2018-09-06 15:40] mykolaharmash opened #7013 "createWireframeVertexArray() creates indices array of a wrong type"
[createWireframeVertexArray()](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/GlobeSurfaceTileProvider.js#L1004) creates a buffer with hardcoded `indexDatatype: IndexDatatype.UNSIGNED_SHORT` which is effectively UInt16Array.

[code]

[Quantized Mesh](https://github.com/AnalyticalGraphicsInc/quantized-mesh) may also contain UInt32Array of indices depending on the number of

[2018-09-06 15:50] hpinkos commented on #7013
Thanks for bringing this up @nik-garmash!  And thank you for your very detailed write up of the problem.  Yes, I think both of your suggestions are the right thing to do.  Can you open up a pull request with these changes?  You can see our `[Contributing Guide](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request) for more information on this.  Thanks

[2018-09-06 17:11] OmarShehata commented on #6600
So while digging into this I found another test case where it's broken. This one has no transforms. [localhost:8080 link](http://localhost:8080/Apps/Sandcastle/index.html#c=rVbrb9s2EP9XhOyD5cGmnUeBwkmDremKFliTonG3D/M+UNJZ5kKRAkk5cYf87z2+FCqPNh9iJLbuffe741FbqrItg2tQ2ZtMwHV2Bpp1DfnL8fJR6cgzKQxlAtRofLwSK+EtiC5BAKm5LIBU0JrNErT5vUZNbZagFD6gV6M68FYh1idZAUfB/yuR4WcDrN6YRTafeFqu1xosvRK3zi6kdCVkeSU7Q4yi5VX

[2018-09-06 18:29] hpinkos commented on #6763
Globe depth and pick depth broke in 1.45.  Probably related to log depth changes.

The frustum bug is a known issue: #6187

[2018-09-06 18:37] shunter opened #7016 "Points still draw with outline even when outlineWidth = 0"
At the entity level, the default outline color is black.  In this sandcastle, the point should be invisible, but the outline is still visible.  This happens in realistic situations but the bug is obvious to see visually when the fill color is transparent.

Sandcastle:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=hVLBbtswDP0VwZc4QKakyIp0ix2syHII0GVBW3QXXxSLSYjJUkDJ7ryi/7Jv2ZeNtmc0Ww/1SXzke

[2018-09-06 19:16] hpinkos commented on #6763
Hid these options from the UI in #7014

[2018-09-06 19:19] hpinkos commented on #6763
Related #5965

[2018-09-07 08:06] dminor112 commented on #6080
Hi, I have got the version of 1.49. I want to confirm if this feature has be published at this release?

[2018-09-07 12:48] lilleyse commented on #6080
Unfortunately it slipped past 1.49 but we're actively working on it in #6934.

[2018-09-07 16:10] likangning93 opened #7018 "Translucent rectangles very slow when switching to 2D"
Rendering several stacked translucent rectangles seems to severely decrease scene performance, but only when switching to 2D from other scene modes - starting the scene in 2D doesn't seem to have the same performance drop.

I'm not seeing the same performance drop in `1.49` as in `master` (42 -> 30 FPS vs. 42 -> 14 FPS), so this seems like a recent regression as opposed to a bug we never found bef

[2018-09-07 17:16] hpinkos commented on #7018
Related? #5026

[2018-09-07 17:17] lilleyse commented on #7018
git bisect points to https://github.com/AnalyticalGraphicsInc/cesium/pull/6957/commits/4633ea6b10132066e222a73a1e6a3fd639c8071e. I'll look into this.

[2018-09-08 03:12] dminor112 commented on #6080
Will this feature be released in version 1.50? Our project depends on it.
Thanks.

[2018-09-08 14:03] dminor112 commented on #6080
Our problem is that, we have a latlng position and need to get the altitude of the position at the 3D tileset. What should I do, is there any solution?

[2018-09-09 18:52] pjcozzi commented on #6080
@dminor112 this will almost certainty ship in 1.50 and it is the exact query you are looking for.  You could try it out now by testing the branch in #6934.

[2018-09-09 20:01] pjcozzi commented on #5214
Partial support added in #6958.

[2018-09-10 03:39] veolata opened #7020 "ContextCapture 3dtiles failed to display"
I have a tileset generate from context capture (2G in size). Using the apps from bentley, the tileset can be displayed. But when I try to use the tilest as an datasource to code something, it seems not work.

I check the js code Bentley written, it's compressed. It seems did some transform and other modification of the model. But It is not clear, any resource to directly show how to display my til

[2018-09-10 14:49] hpinkos commented on #7020
Hello @veolata,  Context Capture should export 3D Tiles tilesets that are compatible with CesiumJS.  However, you wouldn't use a datasource to load them.  Here is an example of how to add a tileset:

[code]

If it is not in the correct location on the globe you may need to set `tileset.modelMatrix`.

Although Bentley supports CesiumJS development, the Cesium team does not work on Context Capture.

[2018-09-10 14:49] #7020 closed

[2018-09-10 14:55] likangning93 commented on #7020
Hi @veolata,

If you have Cesium running on localhost, you should be able to load 3D Tilesets off disk.
Here's a snippet of Sandcastle code for loading one of the sample tilesets that we ship with Cesium:
[code]

Just make sure you know where the `tileset.json` file is for the whole tileset - I'm not sure, but Context Capture may produce several `tileset.json` files for various parts of the tilese

[2018-09-10 18:28] hpinkos opened #7021 "Replace xss.js with DOMpurify"
I think xss.js is overly aggressive with what it removes, and it's difficult to configure.  I vote we switch to DOMpurify instead.

https://github.com/cure53/DOMPurify

(This is the library Kevin Ring recommended)

[2018-09-10 19:31] veolata commented on #7020
@hpinkos, Thanks for reply! I am not try to solve the height issue. I did reset the model matrix. But seems only the b3dm files were not downloaded. Other json files in tree are downloaded.  Really cant figure it, please help~

[2018-09-10 19:56] OmarShehata opened #7022 "outlineWidth has no visible effect"
[Reported on the forum](https://groups.google.com/d/msg/cesium-dev/o2Lopjekf3Y/P095OR0uBwAJ). Here's a [Sandcastle example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=zZRda8IwFIb/SuiNFTT1Y4WpVebc7oRd7Oti3UVsjzYsTeQkVerwvy+1DqpeCYXtXJTkPed9SpqXbhiSDYctIBkTCVsyA82zlL4dNLcRHbYzJQ3jErDRHIUylKWDgjTccNCUxbH7HUpia61EvlKSDMlRKCrhgAyjJD+Vy3ltGUpq2zq+e8bQ2BWTfbpElT7ACgH0FJHl7kd7MKCdFul37POUdG21b/1

[2018-09-10 20:13] mramato commented on #7022
See https://github.com/AnalyticalGraphicsInc/cesium/issues/4223#issuecomment-241462146

[2018-09-10 20:13] #7022 closed

[2018-09-10 20:13] cesium-concierge commented on #7022
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/o2Lopjekf3Y/P095OR0uBwAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-09-10 21:17] lilleyse opened #7024 "Entity show not getting applied immediately"
Setting `entity.show` does not seem to get applied immediately.

![pickbug](https://user-images.githubusercontent.com/915398/45324847-520c0a80-b51d-11e8-92c8-e04082a2c2d0.gif)

[code]

[Sandcastle demo](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=tVTRbtowFP0VixeCxBxY+9QCWsvoioY0qbA9IU3GuYBVx45sJxWd+Pddx4RAaKVq0vyQxNf3nOt7fJyCGVIIeAFDhkTBCxmDFXlKf5WxqM3L6Vgrx4QC0+7cLlWBGMtBAUIClpZTXAqLK5nD

[2018-09-10 21:45] lilleyse commented on #7024
[Primitive API demo](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=dVRRT9swEP4rUV9wpM6FwVMpaKVLN7QyEBS0h0jITa6tNceObCdQJv77LnYMaQt5aH2++z7fd2dfzXRUc3gCHZ1FEp6iCRheFfTB7ZGDzJkTJS3jEvRBfJrKGjEmAwkI8VjqTHR5p2Y559t8E6Ytrpg8Jl8Pm48e9qP31XG7CvSlMtxyJa9lIgQvjeI58u1x0aVWxXdYaQBDvhx5rpMOT6FyEFfMav78jvf2CS0qYXkpNhebuWbSCNacSFIZ4deGOsdS6cJQYMb+Vtqu78u5mvJnyKeaFUA+SDXue5KP9bsk3Y+rE32J+93INjsSpzKogED8A1

[2018-09-10 22:08] hpinkos commented on #7024
For performance, the entity primitives don't get updated until the next clock tick.  I don't think this is something we'll change.  In your demo, if you add the line `viewer._dataSourceDisplay.update(viewer.clock.currentTime);` after `entity.show = false` it won't pick the entity.

@mramato can chime in, but I think we should close this issue as a `won't fix`.

[2018-09-11 00:04] #7018 closed

[2018-09-11 00:33] mramato commented on #7024
I mostly agree with @hpinkos here, there are plenty of things things in Cesium that don't get updated until a full frame is rendered and you can fall into a lot of issues if you call pick immediately after changing things.  I would recommend scheduling a postRender callback to actually perform the pick.

That being said, drillPick works fine with entities because it just iterates all primitives an

[2018-09-11 01:05] lilleyse commented on #7024
Ok, as long as this is expected behavior I'm fine with a workaround. Using a callback won't work with the current design but drill pick should, I was thinking about using it internally in some way.

For a little more background `sampleHeight` accepts a list of objects that will be excluded from picking, the usual case being to exclude the object that you are trying to position, otherwise it sample

[2018-09-11 03:05] kring commented on #7021
Should drop right in:
https://github.com/TerriaJS/cesium/blob/terriajs/Source/Core/Credit.js#L97

[2018-09-11 09:12] a0026 commented on #7007
The same problem !

[2018-09-11 09:18] a0026 opened #7026 "Cannot replace the parent level tiles with the children level tiles"
When I use the multi-level tiles . I found that the parent and the children disappear and appear at the same time. ps:  I have the "REPLACE" on the root's refine field.

[2018-09-11 12:30] mramato commented on #7007
@riematrix and @a0026 does setting `tileset.skipLevelOfDetails = false` make the problem go away?

@likangning93 @lilleyse could this be related to #7011 (or perhaps another bug introduced in the recent traversal changes?)

[2018-09-11 13:26] WHUWWX opened #7027 "想要读取mongodb数据库存储的terrain数据"
很感谢这个js库，功能很强大，我自己写了一个MongoTerrainProvider，想要读取后台tomcat服务器提供的terrain数据服务，但是调用的时候只读取0/1/0层数据，服务器返回成功，能调用createHightmapdata函数，想问问是什么原因造成的，我的MogoTerrainProvider中没有获取promise，使用的是xmlhttprequest发送的请求

[2018-09-11 13:36] ggetz commented on #7026
Hi @a0026, would it be possible to provide your tileset, or an example tileset which duplicates this issue?

[2018-09-11 13:39] likangning93 opened #7028 "3D Tiles Inspector looks funny in master"
![3d-tiles-inspector-bug](https://user-images.githubusercontent.com/5395255/45363781-60eacf80-b5a6-11e8-86ba-2b4696a08bd0.JPG)

Seems to have happened after the 1.49 release.

[2018-09-11 13:39] ggetz commented on #7027
Hi @WHUWWX,

It looks like your asking about creating your own terrain provider. Please ask questions over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev).  There are members of the community and developers from the team who answer these kinds of questions there.

Additionally, Cesium's a big project, so we use GitHub for feature requests and bug tracking exclusively. Tha

[2018-09-11 13:39] #7027 closed

[2018-09-11 14:06] hpinkos commented on #7028
It's from #6996
The tileset inspector must be using the same css class names as the cesium inspector.  I'll fix this in a sec

[2018-09-11 14:43] likangning93 commented on #7007
@riematrix sorry for closing prematurely! I took a deeper look, and I noticed that the tileset provided isn't spec compliant. According to the current 3D Tiles specification, when a tile points to an external tileset it cannot have children. See here: https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/master/specification#external-tilesets

You may have to refactor your tileset transforms a bi

[2018-09-11 14:44] likangning93 commented on #7007
@lilleyse since it seems like this might be something that users encounter frequently, should Cesium check and throw some kind of exception for this case?

[2018-09-11 15:56] lilleyse commented on #7007
@likangning93 Yeah it seems like that is the problem. The root tile is refining to both the level 5 tile and the level 6 tiles simultaneously. The problem occurs in previous version of Cesium too (tried 1.48 and 1.45).

[Debugging demo I've been using for testing](http://localhost:8080/Apps/Sandcastle/index.html#c=XVHJasMwEP0V4YtdCJJDoBTXCaVpb4UeHHLSRZEntlotRovTpPTfK8cOTaqLmHmL5o16ZlEv4AAWLZGGA1qD

[2018-09-11 15:57] lilleyse commented on #7007
Hard to say, I haven't seen this problem until now. We try not to do too much validation and prefer to offload that to the 3D Tiles validator, well once it's ready.

[2018-09-11 16:02] mramato commented on #7007
I would strongly suggest that anything that is simple to check for, is a fairly common mistake, and does not affect performance is something we spit out a console warning for. (unless unrecoverable, then a RuntimeError).

Not everyone is going to run the validator and not everyone is even in control of generating the tileset.  It will create a lot of noise in our issue tracker and the forum if we

[2018-09-11 16:26] floonone opened #7031 "Removing point entity with HeightReference.NONE causes a phantom entity to appear"
Removing a point entity with the height reference property set to NONE causes a phantom entity to appear in the middle of the screen. This entity has no id and doesn't show up in the collection, so it can't be removed, unless a new point entity is added to the collection, which makes it go away.

Depending on the camera position, the entity disappears and reappears. Setting heightReference to CLAM

[2018-09-11 16:57] hpinkos commented on #7031
Hi @floonone, thanks for including the Sandcastle example!  However, everything seemed to work as expected for me.  Can you paste a screen shot of what you're seeing?

[2018-09-11 17:06] OmarShehata opened #7032 "Make Scene.pick work for translucent polygons"
@bagnell I know picking translucent geometry was added in https://github.com/AnalyticalGraphicsInc/cesium/pull/4979 but there doesn't appear to be a way to pick translucent polygons.

[Here's a Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=7ZdhTxoxGMe/SscbjgQLSIyJohkiOiNRg2xvxrKUu+e4br321vZwaPjue8pxcKAzErfEFzaEcO3z//fp0x+0TJgmEw53oMkRkXBHOmB4GtMv8z6v7M8fO0paxiXocuVwKIcyU1DjgwSac

[2018-09-11 18:05] #7024 closed

[2018-09-11 22:34] mksquires commented on #6954
To add some information regarding this issue:
- the render failure occurs only when animations are active
- the render failure is due to the animation system creating transformation matrices for certain nodes with scale factors near zero. The matrix inversion code determines that this matrix is singular and throws.
I do have code to fix this issue and will open a PR soon.

[2018-09-12 01:38] lilleyse opened #7036 "Model matrix not getting applied to tileset correctly"
This bug goes back to at least 1.42.

The `modelMatrix` property seems to have some weird interaction with the ContextCapture tileset posted [here](https://groups.google.com/forum/#!msg/cesium-dev/DBbw-uHNY2k/jmZn9cl-BwAJ). The tileset uses the `CESIUM_RTC` extension but is in local coordinates.

Default view at center of the Earth:
![modelmatrix-right](https://user-images.githubusercontent.com/91

[2018-09-12 03:35] veolata commented on #7020
Hi @likangning93

Thanks for your reply, I post the issue in Google Group. Sean checks the tileset and has post two issues #7035 and #7036 to report bugs.
Really good works on cesium, wish you guys all the best

--

祝好

达理
13813873798

At 2018-09-10 22:55:59, "likangning93" <notifications@github.com> wrote:

Hi @veolata,

If you have Cesium running on localhost, you should be able to load 3D Tiles

[2018-09-12 12:51] OmarShehata commented on #3877
There seems to be a lot of interest in different projections/ellipsoids lately.

* GRS80 Ellipsoid and EPSG 2180 [on the forum](https://groups.google.com/d/msg/cesium-dev/DsIBdDJSVog/U-N-ruNQBwAJ).
* ETRS89 [on the forum](https://groups.google.com/d/msg/cesium-dev/O0SiKOJR2-8/RCxOPlt3BwAJ).
* EPSG:4490 [on the forum](https://groups.google.com/d/msg/cesium-dev/Klk4-WrtOmU/GKlRo8WzBQAJ).

[2018-09-12 13:50] mramato commented on #5265
Yep, this is what I see most of the time these days.

![image](https://user-images.githubusercontent.com/1495196/45429304-09fdfc80-b671-11e8-913a-d139e57ebd94.png)

@emackey what's the most trivial way to fix this, would it be easy to add a third css tab in a backwards compatible way?  Or perhaps we can programmetically extract the style block from the HTML panel and programmetically inject it pro

[2018-09-12 13:50] mramato commented on #5265
Either way, I'm marking this next release, it's embarrassing.

[2018-09-12 13:56] #6965 closed

[2018-09-12 18:48] hpinkos commented on #6954
Thanks @mksquires!  Sorry for the delay on this.  Opening a PR is usually the best way to get a fix through quickly if you have a solution ready to go.

[2018-09-12 18:52] hpinkos commented on #7031
Hmm.  Yeah, I'm running Windows and couldn't reproduce this.  If your drivers are out of date, that's one thing that could cause an issue.

@mramato can you see if you can reproduce this on your linux machine?

[2018-09-12 19:07] mksquires commented on #6954
Thanks @hpinkos!

[2018-09-12 19:11] #7028 closed

[2018-09-12 19:57] OmarShehata commented on #7026
Should this be closed as a duplicate of https://github.com/AnalyticalGraphicsInc/cesium/issues/7007 @ggetz ?

[2018-09-13 03:12] a0026 commented on #7007
Hello. I do have the same problem in #7026, and I will try as you mentioned before. Thanks!

[2018-09-13 03:13] a0026 commented on #7026
The same as #7007, thanks.

[2018-09-13 07:47] floonone commented on #7031
No console output. I'm using a Nvidia GeForce GT 730, using Nvidia binary driver version 384.130.

Here it is:

| Info                      |                                                                                                          |
| ------------------------- | -------------------------------------------------------------------------------------------------------- |
| Platform:

[2018-09-13 13:51] ggetz commented on #7026
Thanks! Closing as a duplicate of https://github.com/AnalyticalGraphicsInc/cesium/issues/7007

[2018-09-13 13:51] #7026 closed

[2018-09-13 18:54] killroy42 commented on #4108
Is there a workaround currently for at least drawing polylines below billboards? I'm implementing my own z-ordering where I can, but I don't know how to interact with the render pipeline for the parts of a single entity.

[2018-09-14 11:58] mramato commented on #6557
It was pointed out on the forum that we could significantly decrease the size of this file by rounding the numbers, which should have negligible impact because it's an approximation anyway.

@tfili given the large terrain updates lately, we should probably do this soon, do  you remember where the script to generate this file is?

[2018-09-14 12:04] mramato commented on #6557
Related forum post https://groups.google.com/d/msg/cesium-dev/poDx_yv49cQ/tSFKjWPZBwAJ

[2018-09-14 12:28] mramato opened #7040 "Possible new issue template improvements"
@emackey brought up VS Code's way of doing it and it's pretty nice, especially since it will help direct people to the forum:

https://github.com/Microsoft/vscode/issues/new/choose

Implementation here:

https://github.com/Microsoft/vscode/tree/master/.github/ISSUE_TEMPLATE

[2018-09-14 12:46] tfili commented on #6557
It’s in a node-terrain branch
https://github.com/AnalyticalGraphicsInc/agi-node-terrain/tree/generateMinMax/bin

[2018-09-14 18:09] pjcozzi commented on #3422
Latest from Mozilla:

* [New API to Bring Augmented Reality to the Web](https://hacks.mozilla.org/2018/09/webxr/)

* [WebXR Device API Explained](https://github.com/immersive-web/webxr/blob/master/explainer.md)
* [webxr example repos](https://github.com/immersive-web/)

[2018-09-14 18:11] hpinkos commented on #4108
@killroy42 can you provide a short code example to reproduce the problem you're seeing?

[2018-09-14 18:22] bbehling-trimble opened #7042 "Cesium Loads Too Many Tiles"
When in 3D mode, Cesium requests > 300 tiles per aoi, where as in 2D mode, the same aoi requests 6 tiles.

Our concern is that this will get quite costly for ALK and Digital Globe tile requests. Sean said this may have been a bug introduced in a pull request.

[2018-09-14 19:04] killroy42 commented on #4108
Well, just create an entity with a billboard image and a path.
The project I'm working on: http://rolexmiddlesearace.com/trackerpt/

If you tilt the camera back and forth you see that the path switches places with the billboard icons.

[2018-09-14 19:15] hpinkos commented on #4108
@killroy42 I see what you're talking about.  It's tricky to order billboards in 3D because you generally want them to order spatially (ie a billboard that is closer to the camera will draw on top of a polyline that is drawn in the distance).  This is part of the reason why we have not added a z-index property to billboards.

You can try setting a negative z value to eyeOffset:  `billboard.eyeOffse

[2018-09-14 20:01] bbehling-trimble commented on #7042
@hpinkos yes

[2018-09-14 20:02] lilleyse commented on #7042
This is the PR I was referring to: https://github.com/AnalyticalGraphicsInc/cesium/pull/4969.

It would be interesting to get the before and after numbers. It will also be helpful to measure how many tiles are loaded vs. how many are used for rendering at some point to see if any are loaded unnecessarily.

@kring has also been working on adding LOD skipping to the globe loading code. This has the

[2018-09-14 21:04] hpinkos commented on #7042
@lilleyse I'm not sure, but I don't think that would effect imagery requests.  It was more for terrain.

[2018-09-14 22:01] killroy42 commented on #4108
Thanks, I'll try that. Is there an easy method to have an icon align horizontally with the ground, rather then vertically with the plane of the camera? As you can see, I really would like flat icons on the ground, than standing upright in the air.

[2018-09-15 18:55] pjcozzi commented on #7042
@bbehling-trimble thanks for the report and the concrete numbers.  Could you please try this before and after #4969 as @lilleyse suggested?  I _think_ that will image the number of imagery tiles loaded.

It is still very much a work-in-progress, but you could try the LOD skipping that @lilleyse mentioned in this branch to get some early numbers: https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-09-15 18:59] pjcozzi commented on #7040
Oh that is awesome.

[2018-09-15 19:00] pjcozzi commented on #7040
@OmarShehata perhaps a good one for you once the glTF extensions and clipping planes converge?

[2018-09-15 21:09] OmarShehata commented on #7040
That's really cool! @pjcozzi  Yeah I can propose something and see what people think.

[2018-09-17 05:07] hungdn580 commented on #4126
sorry , http://c1200610-00.stk.com/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=38dcfe80a26c8995d9f4290da10f441d is no longer active, can you please post it again?

[2018-09-17 05:08] hungdn580 commented on #4126
@emackey ema

[2018-09-17 09:25] timoto opened #7043 ""scene3DOnly: true" causes Polyline to cull"
`scene3DOnly: true` causes GroundPolylinePrimitive to be culled from the scene when zooming, tilting, rotating the polyline into certain positions.

First discussed here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Kbxc_UXRyww

Open [this Sandcastle example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=7Zjdb9s2EMD/FSEvTYGE4fdHmxRr02Eb0KFFV2wPyx4Um0mEyJInycm8of/77o6S0zi267ZJ14f

[2018-09-17 13:56] emackey commented on #4126
Apologies for the broken link.  Try this:  https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=38dcfe80a26c8995d9f4290da10f441d

CSS is here:

[code]

HTML:
[code]

JS:
[code]

[2018-09-17 14:47] lilleyse opened #7044 "Add clamping functionality directly in CZML and Entity API"
The Clamp to 3D Tiles demo in https://github.com/AnalyticalGraphicsInc/cesium/pull/6934 manually clamps the entity's position to a tileset based on a `scene.clampToHeight` call. It would be convenient to offer this functionality from CZML and the entity API.

[2018-09-17 14:59] mramato commented on #7044
I imagine the most straightforward way to do this would be to extend the HeighReference enum to cover 3D Tiles (probably always terrain and 3d tiles at the same time)

[2018-09-17 17:11] bbehling-trimble commented on #7042
Just to make sure we are on the same page, the extra tile requests I'm referring to are imagery tiles, not terrain tiles.

[2018-09-17 20:13] cpt-chewieeee opened #7045 "Clustering renders additional pointprimitives (unset) to the screen."
[Cluster Example](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Clustering.html
)

In the above example, when you zoom-in the globe, a white PointPrimitive would appear in the center of the screen. This would only happen when the "Enabled" checkbox is set. When you zoom-out far enough, eventually the PointPrimitive would disappear on the globe.
![cesium-bug](https://user-images.github

[2018-09-17 23:16] #7032 closed

[2018-09-17 23:16] cesium-concierge commented on #7032
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!msg/cesium-dev/OjXbgPv1wkM/SlEclUkxBwAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/

[2018-09-17 23:18] bagnell commented on #7032
This was fixed but I just want to note that `pickTranslucentDepth` only applies when using `pickPosition`. By default the depth of translucent geometry is not returned; however, `pick` should always pick translucent geometry.

[2018-09-18 03:18] hungdn580 commented on #4126
Thanks @emackey
But can I ask you one more question relative to mouse event in cesium.

In function setInputAction I have code something like this

[code]
code above can run ok but when I get getProperty from pickedFeature

[code]
I always get errors "Uncaught TypeError: pickedFeature.getProperty is not a function"!
Can you please guide me this issues, Thank you very much!

[2018-09-18 03:29] xuetao72 commented on #6807
Thankes @hpinkos ！ I succeeded，after trying your above example.

[2018-09-18 13:41] likangning93 commented on #7043
Thanks for the report and the easily-reproducible Sandcastle @timoto! We'll try to get to this soon.

[2018-09-18 14:01] juanfkt93 commented on #3857
Hi everyone!
Could you find a solution to this problem?
In my application, you select a geographic starting point, like a city, and fly to it with a high zoom level, like 13.
I'm using Cesium v1.49, and still see every tile being loaded, from zoom level 0 to zoom level 13.
Thanks!

[2018-09-18 14:12] mramato commented on #3857
@juanfkt93 this is actually a non-trivial problem to solve.  The good news is that it is being actively worked on and we expect the solution to be in Cesium within the next few months (though we don't have an exact timeframe yet).

Work is being done in the https://github.com/AnalyticalGraphicsInc/cesium/tree/fill-tiles branch but I don't think that branch is ready to be played with yet.  We'll up

[2018-09-18 14:42] hpinkos commented on #4108
@killroy42 no sorry, billboards aren't really designed to work that way.  You could try replacing the billboards with a rectangle using an image for the material.  This might have slightly poorer performance though depending on how many you have in the scene at a time.

[2018-09-18 14:45] OmarShehata opened #7048 "Entity flickers when using availability"
Open [this Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=nVb/b9o4FP9XIn4hSCEEOqY2pdUh2t31xASi3U27UZ3cxAFvxo5sB8qd+r/fs52vlLbbAkTEfl8/7/Oes0XC2RK8w8K5cBjeORMsSbbx/zJrbjsyjxPOFCIMi7bn/LdkDlxyzTMajxnZIIWd0FEiw0v21DlfMmvPj9AGC+RLrLQxN9eLsVSEIUU4CwtnEyQU/EPsxE8E31zhlcBYukNv6L0LzNXxrDYXBEMoVju3qK81RjFhq9AJvGoxJSpal04+IrX2FV+AIGLS7Z6VRvUlOKWgbRee8kQgFYBHKgjvSmd5Udj6M6NgRK+ZgG8kP30f9N32

[2018-09-18 15:02] OmarShehata commented on #5837
Reported [in this forum thread](https://groups.google.com/d/msg/cesium-dev/Mq4i8gC6eAE/-jeRGSn6CAAJ) with a video and how to recreate.

[2018-09-18 15:10] hpinkos commented on #7048
@OmarShehata the use of `setInterval` in this sandcastle example doesn't make sense.  It's adding a new polyline each second the example is running.  I'm pretty sure the problem is with the end user code, not with Cesium.  I couldn't reproduce the problem using a for loop to add lines.

[2018-09-18 15:10] cesium-concierge commented on #7048
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/wtcrYum0dTA

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-09-18 15:30] OmarShehata commented on #7048
@hpinkos why does using `setInterval` not make sense? The scenario this is simulating is data that comes from a server, so it wouldn't all be available from the beginning. Why does it matter when the entities are created? I feel like the fact that adding new entities causes other entities with availability whose end time has passed to be visible again is a bug.

I think [this is the expected behav

[2018-09-18 15:47] hpinkos commented on #7048
@OmarShehata I'm sorry, you're right.  I was thrown off by how the example was written.  I've created a minimal version to reproduce the problem here: [Example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=nVVdT9swFP0rVl+aSsFNYaBSClpX0MRUREXRHrbyYBK39XDsyHbadVP/+67tfLWAkGagovfj5NzjY2dNFFozuqEKXSJBN2hMNctT/N3Fgnbsvo6lMIQJqtoh+jsXCJZeyZwnI8FSYigaIKNyOhe7zsVceDwck5QqgjU1Fiwo+hKqDRPEMCkG5cPGRB

[2018-09-18 15:52] mramato commented on #7048
@hpinkos did you fix a similar bug that had to do with outdated `show` properties being used when the primitives are re-created?  This could be a similar issue where show isn't updated until after the first render instead of using the current value at creation time.

[2018-09-18 16:09] hpinkos commented on #7045
@cpt-chewieeee sorry, I could not reproduce the problem you are seeing.  What browser and OS are you using?  Can you try the sandcastle example reported in #7031 to see if it's the same problem?

[2018-09-18 19:37] cpt-chewieeee commented on #7045
Im using:
- OS: Linux x86_64/Ubuntu 18.04.1 LTS
- Processor: Intel Xeon
- GPU: quadro m4000
- Browser: Chrome v69.0.3497.92, Firefox Quantum v62.0
- Cesium versions: v1.42.1 and v1.49.0
*This issue does not appear on window10 and iOS
----
I do also see the phantom pointPrimitive in #7031. These two issues seems related. The only major difference is that I encounter the phantom pointPrimitive only

[2018-09-18 19:46] hpinkos commented on #7045
Thanks for the extra info @cpt-chewieeee!  This seems to be a linux only problem.  We've looked into it a little bit and haven't been able to track it down yet, but will make it a higher priority since it's been reported by a few different users.

I'm going to close this issue as a duplicate of #7031, but I'll make a comment there with your example so we can make sure both cases are fixed and noti

[2018-09-18 19:46] #7045 closed

[2018-09-18 19:47] hpinkos commented on #7031
Also reported by @cpt-chewieeee in #7045.  See #7045 for an example using clustering.

@cpt-chewieeee was also seeing this issue on a linux machine, see https://github.com/AnalyticalGraphicsInc/cesium/issues/7045#issuecomment-422521911 for more details

[2018-09-18 19:49] hpinkos commented on #7031
@bagnell do you have a linux machine you can try to reproduce this on?

[2018-09-18 19:51] cpt-chewieeee commented on #7045
I just tested on another computer with ubuntu 16.04.5 LTS (Chrome v69.0.3497.92) , and the phantom PointPrimitive does not appear.

[2018-09-18 19:51] mramato commented on #7045
I wouldn't say this is Linux only, since plenty of Linux machines work.  It's more likely something graphics driver specific.

@cpt-chewieeee Can you visit http://webglreport.com/ on Chrome 69 on the offending machine and paste the results of the WebGL 1 report (just select all/copy and GitHub will make a pretty table when you paste it).

[2018-09-18 19:53] cpt-chewieeee commented on #7045
Platform: | Linux x86_64
-- | --
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.92 Safari/537.36
webgl
WebGL 1.0 (OpenGL ES 2.0 Chromium)
WebGL GLSL ES 1.0 (OpenGL ES GLSL ES 1.0 Chromium)
WebKit
WebKit WebGL
NVIDIA Corporation
Quadro M4000/PCIe/SSE2
Available
No
No
Vertex ShaderMax Vertex Attributes:16Max Vertex Uniform Vectors:1024Max Vertex Texture Image

[2018-09-19 10:42] BYicon opened #7049 "After packing webpack, pinBuilder added by viewer.entities.add can not be displayed。"
please.

[2018-09-19 13:05] samuel-girard commented on #3758
Hello @topwood
Any chance that you found a solution for this?
I encounter the exact same problem, and I couldn't see a way to make it work in Cesium.

Thanks.

[2018-09-19 15:47] dwastberg commented on #4935
I just stumbled across this particular bug in my own code.  As of 1.49 I can confirm that transparent video textures work fine in Firefox, but this bug is still there in Chrome (Windows in both cases).  Any further ideas on if it is fixable on the Cesium side of things or is it a Chrome bug?  Otherwise I can take another look at texImage2D vs  texSubImage2D as mentioned above.

[2018-09-19 18:05] #5776 closed

[2018-09-19 23:04] bagnell opened #7051 "Image-Based Lighting"
Roadmap for implementing IBL:
* [ ] Decide on format: RGBE, LogLUV, RGBM
* [ ] Decide on format container: KTX2, KTX, DDS
* [ ] Collaborate with glTF community on storage, e.g., https://github.com/KhronosGroup/glTF/pull/1377
* [x] Load diffuse and specular environment maps plus convoluted mip maps
* [x] Prototype with WebGL2 (requires textureLod in fragment shader)
* [x] Pack specular environment

[2018-09-19 23:05] bagnell commented on #7051
For RGBM and octahedral projection, see: http://webglinsights.github.io/downloads/WebGL-Insights-Chapter-16.pdf

For spherical harmonics, see: http://graphics.stanford.edu/papers/envmap/envmap.pdf

[2018-09-19 23:08] bagnell commented on #7051
For creating the environment maps: https://github.com/derkreature/IBLBaker

[2018-09-20 05:18] cleroux commented on #7048
I'm the original poster on the forums.

This PR fixes a regression caused by #6835 which resolved issues #2909, #4714, #6830, and #5371.
I confirmed each of these issues and they are all fixed with this PR.

I was reluctant to create a pull request that removes this code because there must be a reason why it exists.  I still can't figure that out.  But I've run every test I can and everything seem

[2018-09-20 10:23] dwastberg opened #7054 "Memory leak in Firefox when using transparent video textures"
I've been investigating #4935 and seem to have found a memory leak in Firefox (62.0), so far only tested on Windows 7. After just letting the test case from that issue[0] run for 5-10 minutes, Firefox is using over 8 GB of Memory.  This does not happen in Chrome or in the standard Video showcase in Sandcastle.  I'm not sure if this is a pure Firefox bug or if there is something that can be done on

[2018-09-20 14:22] thw0rted opened #7055 "Additional debugging information when a DrawCommand fails"
Some background: I have a big, complex application built on Cesium.  One of the systems we load data from recently had a major upgrade and now our application is crashing, and I can't for the life of me figure out why.  I'm trying to reproduce a test case, but I think if I knew how to reproduce it in a simpler context, I could probably figure out how to stop it from happening in the first place.

[2018-09-20 14:44] #7043 closed

[2018-09-20 14:44] cesium-concierge commented on #7043
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/Kbxc_UXRyww

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/

[2018-09-20 14:45] hpinkos commented on #7043
Thanks for the bug report @timoto!  This has been fixed and will be included in the 1.50 release available on October 1st

[2018-09-20 14:57] hpinkos commented on #7054
@mramato @lilleyse any ideas on this one?

[2018-09-20 15:09] mramato commented on #7054
At first glance, this looks like a straight-up Firefox memory leak and should probably be reported to their issue tracker.  Chrome had a similar issue that was fixed a while ago: https://bugs.chromium.org/p/chromium/issues/detail?id=634012

[2018-09-20 16:09] hpinkos commented on #7055
Hi @thw0rted,  sorry you're run into this problem, these kinds of issues can be a pain to debug.  Was this happening in other version of Cesium, or is it more likely it's related to changes in data from your server?

I'm not sure how we could improve the debugging information here.  It sounds like somewhere along the way, `VertexArray.destroy` is being called, but it's being passed to a `DrawComma

[2018-09-20 17:33] NaderCHASER commented on #7042
At zoom-level 6 with the same viewport location and size, we see 16 requests instead of 46. This is a huge improvement for us given our tiles are generated on-demand from massive meteorological datasets.

![dnejcvcu8aat3vv](https://user-images.githubusercontent.com/913068/45835830-59bf7200-bcc8-11e8-8c93-d8cf8d317414.jpg)

[2018-09-20 17:35] hpinkos commented on #7042
@NaderCHASER this is with the change from #4969?

[2018-09-20 17:39] NaderCHASER commented on #7042
@hpinkos I meant to clarify that this is from the fill-tiles branch. My apologies.

[2018-09-20 18:05] bbehling-trimble commented on #7042
@NaderCHASER Have you tested that fork in 3D mode and looked at Bing tile imagery requests?

[2018-09-20 18:07] NaderCHASER commented on #7042
@bbehling-trimble My screenshot is from 3D mode, albeit zoomed in quite a bit (zoom-level 6). I do not use Bing at all, so I can't test that. Otherwise, my imagery tile requests should be pretty similar on this branch. However, this branch breaks on zoom / pan (fatal error), so this isn't ready for use outside of development.

[2018-09-20 19:53] likangning93 commented on #6531
Mentioned this in the PR above and maybe other less accessible places, but here's what I'm currently trying for pixel-perfect reprojection of individual images:
* maintain a CPU side copy of the imagery texture on a web worker - note that this is only remotely practical for mosaics in Chrome 69, Firefox doesn't support Canvas 2D on workers yet
* on load, have the worker create a 1024 x 1024 placeh

[2018-09-20 20:39] dwastberg commented on #7054
So far I've only been able to trigger this on my windows 7 machine at work, but not my windows 10 laptop at home.  However, at the same time, the video isn't transparent in Firefox on my Windows 10 laptop, like it is on my Windows 7 machine (same version of FF).  Perhaps a driver issue?   I'll try to isolate the problem a bit further and report it to the Firefox developers

[2018-09-20 20:44] hpinkos commented on #7054
@dwastberg Thanks for the update!  I'm going to close this issue since it seems like it's a firefox issue.  Feel free to reopen if it turns out to be something on our end.

[2018-09-20 20:44] #7054 closed

[2018-09-21 00:44] timoto commented on #7043
@hpinkos Thanks for the fast turn around. Will certainly test on release.

[2018-09-21 03:51] vipcxj opened #7058 "demo flash on chrome version higher than 69 on macOS"
[Demo](https://cesiumjs.org) flash with chrome version higher than 69 on macOS
Safari no problem.
Chrome which version is 68.0.3440.106 (64 bit) on windows no problem.
Chrome which version is 69.0.3497.100 (64 bit) on windows no problem
Just happened with chrome which version is 69.0.3497.100 (64 bit) on macOS

[2018-09-21 07:30] kring commented on #7042
@bbehling-trimble you can try the `fill-tiles` branch yourself here:
http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/fill-tiles/

The problem @NaderCHASER mentioned where it crashed when panning should be fixed (I believed it only occurred when using heightmap terrain or the ellipsoid instead of a quantized mesh terrain source). 2D and Columbus View won't work at all, and there are lik

[2018-09-21 12:38] thw0rted commented on #7055
Update: I added the `debugger;` statement in both BillboardCollection and PointPrimitiveCollection, which uses the same logic around L1013, as well as a check for `isDestroyed` just before the `_bind` call I mentioned in the OP.  I also added a console.log statement in each place because sometimes Firefox was a bit flaky about actually respecting `debugger;`.  Every time I can cause the crash, the

[2018-09-21 12:49] OmarShehata commented on #7058
Are you seeing the same behavior described here?

https://groups.google.com/d/msg/cesium-dev/DJIM7QX8k8E/tHR1cHOkBQAJ

If so, I think the conclusion there was it's a Chrome bug:

https://bugs.chromium.org/p/chromium/issues/detail?id=784030&q=webgl%20flickering&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified

[2018-09-21 13:29] hpinkos commented on #7058
@vipcxj I'm going to close this since it sounds like the Chrome bug @OmarShehata linked to above.  If it turns out to be a different problem, let us know and we'll reopen your issue.  Thanks!

[2018-09-21 13:29] #7058 closed

[2018-09-21 13:29] cesium-concierge commented on #7058
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/DJIM7QX8k8E/tHR1cHOkBQAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium

[2018-09-21 14:06] NaderCHASER commented on #7042
@kring It locks up with CesiumEllipsoidTerrainProvider. Cesium World Terrain appears to work fine.

![screen shot 2018-09-21 at 8 04 44 am](https://user-images.githubusercontent.com/913068/45885988-1e2eb180-bd75-11e8-9876-7dab9042975b.jpg)

[2018-09-21 14:10] #7048 closed

[2018-09-21 14:10] cesium-concierge commented on #7048
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/wtcrYum0dTA

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-09-21 14:11] hpinkos commented on #7055
Thanks for the update @thw0rted!  It sounds like you're starting to narrow it down.
Sorry, I don't have any other suggestions.  Maybe @bagnell has an idea?

[2018-09-21 14:17] thw0rted commented on #7055
Another update: I finally got it bulletproof, but at a cost.  If I totally remove all billboards, labels, and points (basically anything 2D) from the entities I make, it never crashes.  Just to really be sure, I turned the Billboard into a BoxGraphics with an ImageMaterial using the same texture -- works great, except of course that I can't size it dynamically relative to the viewport.

The absolu

[2018-09-21 14:18] shunter commented on #7055
You could change `destroyObject` to capture the current stack trace at the time of destruction.  That would help track down who is unexpected destroying your object.

[2018-09-21 15:40] bbehling-trimble commented on #7042
@pjcozzi ALK is one of the a map providers we get our imagery and road layers from

[2018-09-21 15:40] hpinkos commented on #5265
@emackey do you have time to look at this for the release on Oct 1st?

[2018-09-21 17:28] emackey commented on #5265
I've seen this happen on the main website, but I can't seem to reproduce it locally.

We theorized above about the desire for CSS in a separate tab, but I don't think we know for certain that's the root cause.  There could be some kind of caching or network race condition involved.

I'll spend some time investigating this afternoon, but I can't commit a ton of time to this.

[2018-09-21 17:42] #6600 closed

[2018-09-21 17:42] cesium-concierge commented on #6600
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/V3HMRAqToeU

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-09-21 17:50] OmarShehata commented on #2319
Requested again: https://groups.google.com/d/msg/cesium-dev/XQoDWp02Ysk/JAM5fABtCQAJ

[2018-09-21 18:28] emackey commented on #5265
I'm starting to wonder if we're being haunted by a very old problem here...  👻

Looks like, when the widget is white, the CSS is indeed still being loaded.  What's broken appears to be SVG internal references, which are needed for the gradients on the animation widget.  It may finally be time to ditch the SVG gradients and go with a solid color theme on that widget.

[2018-09-21 19:09] hpinkos commented on #5265
@emackey clicking that button did fix the white widgets.

There's a separate problem with how viewer positions all of the widgets which results in the timeline widget going missing.  Calling `viewer.forceResize` will fix this:
![image](https://user-images.githubusercontent.com/3451886/45901160-06c0ea00-bdb0-11e8-846b-e3db3ef03577.png)

[2018-09-21 19:15] bbehling-trimble commented on #7042
@pjcozzi experimenting with the maximumScreenSpaceError, I really don't see a difference in the amount of tiles loaded until a setting of about 8. At that point, the tiles are start to get quite blurry and 100-200 requests are made, which are still very many requests. Thats looking at a mountains area. Flat areas seem to make ~50 requests.

[2018-09-21 19:21] mramato commented on #5265
So this sounds like a Sandcastle specific race condition that happens because we are loading the CDD in the body and not waiting for it to finish before injecting the JavaScript?

If I got that correct, Couldn't this be fixed by waiting for the HTML to load in the iFrame in `activateBucketScripts` before injecting the JavaScript?

[2018-09-21 19:27] bbehling-trimble commented on #7042
Using the fill-tiles branch, navigating around a mountainous area such as Vail at an oblique angle, the max tiles loaded are ~150. Average tile requests seem to be 60 - 120. Nadir view 10-20 requests.

[2018-09-21 19:32] mramato commented on #5265
@hpinkos as a test, change line 628 to `setTimeout(loadScript, 2000);`  This obviously adds a 2 second delay, but I think it proves my above theory.

[2018-09-21 19:38] hpinkos commented on #5265
@mramato what was changing that line supposed to do?

[2018-09-21 19:39] mramato commented on #5265
Fix the problem.  I guess it didn't?

[2018-09-21 19:39] OmarShehata commented on #6507
I think we can close this now @lilleyse !

[2018-09-21 19:39] OmarShehata commented on #6921
We can also close this @lilleyse.

[2018-09-21 19:40] hpinkos commented on #5265
It's hard to say because like @emackey, I can't reproduce this issue locally.  I'm going to see if running the built version or throttling the network makes this reproducible locally

[2018-09-21 19:40] #6507 closed

[2018-09-21 19:40] #6921 closed

[2018-09-21 21:57] pjcozzi opened #7059 "Add short descriptions for each GitHub lab"
For here and all our repos, e.g.,

![image](https://user-images.githubusercontent.com/782098/45907860-b190d280-bdc7-11e8-96b6-aca2d3b713b7.png)

![image](https://user-images.githubusercontent.com/782098/45907853-a8a00100-bdc7-11e8-8a25-c00d27c9c464.png)

[2018-09-21 22:06] pjcozzi commented on #1064
CC ground atmosphere, #6877

[2018-09-21 22:15] pjcozzi commented on #5507
@lilleyse have recent refactors fixed this?

[2018-09-22 00:08] JkGemma opened #7060 "Core/Credit missing ThirdParty/xss"
Hi, is there a way to fix that (title)? I'm using Nuxt.js and I want to use CesiumJs in it. Can't find anything about this error so If someone here could help me, thanks !

[code]

[2018-09-22 01:54] kring commented on #7042
@NaderCHASER that was a bug early yesterday, but I thought I had fixed it. I certainly can't reproduce it now. Are you sure you're in sync with the latest in the `fill-tiles` branch? Are you doing anything in particular when it happens?

[2018-09-22 09:43] #7060 closed

[2018-09-22 13:58] NaderCHASER commented on #7042
@kring I re-based and everything seems to be working fine now. Thanks and please accept my apologies for the false alarm!

[2018-09-24 09:34] thw0rted commented on #7055
Great idea @shunter , I've tried this and it turns out the stack dump is approximately

* [BillboardCollection#update](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/BillboardCollection.js#L1488)
* [EntityCluster#update](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/DataSources/EntityCluster.js#L767)
* [PrimitiveCollection#update](https://github.com/A

[2018-09-24 10:00] thw0rted commented on #7055
Small update: just checking for `_vaf.isDestroyed()` in BillboardCollection didn't get rid of all the crashes, but adding `if (va.isDestroyed()) { return; }` at [the beginning of continueDraw](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Renderer/Context.js#L1008) appears to have stopped all crashes.  Again, I need some time to test and make sure it's totally stable, but same

[2018-09-24 12:49] lilleyse commented on #5507
For the most part they have. `Cesium3DTile` still has a lot of properties but there isn't really any action to take now.

[2018-09-24 12:49] #5507 closed

[2018-09-24 13:25] OmarShehata opened #7062 "Expose an interface to ModelInstanceCollection"
The best way to have hundreds of instances that all share the same model is to use the `ModelInstanceCollection` class. It's currently used internally when loading 3D Tiles but there's no public interface to it.

I think it would be a good idea to allow users to create this directly.

[Forum discussion](https://groups.google.com/d/msg/cesium-dev/IfXK7gh6pwI/05O5mWCZCQAJ).

[2018-09-24 13:41] mramato commented on #7062
I think a better approach (at least in the short term) would be to have entities take advantage of ModelInstanceCollection so that it gets used automatically if lots of models are specified (and this would help all users "for free" without having them manually manage them at the primitive layer).

[2018-09-24 15:47] lilleyse commented on #5837
Came up again in the context of navigating around a point cloud and ending up underground accidentally. I'm curious if anyone knows of any workarounds for this.

[2018-09-24 15:51] bbehling-trimble opened #7063 "Point Cloud Sandcastle Example Loads Point Clouds Under the Terrain"
Using this example

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Tiles%20Point%20Cloud.html

If a terrain is added, the 3D Tile Point cloud is not clamped to the terrain.

Is there a setting we need to configure to clamp point clouds to terrain models, or is this a known issue?

Note, using the NYC 3D building models (b3dm) with terrain works fine.

[2018-09-24 16:03] mramato commented on #5837
@lilleyse the problem is pretty nuanced, You can modify the end of Camera.update to always set `_suspendTerrainAdjustment` to false and always call `_adjustHeightForTerrain` and that would prevent the camera from ever going under terrain, however functions like zoomTo/FlyTo will not work as expected near the ground because they will "bump into" lower res terrain and end up at a higher altitude tha

[2018-09-24 16:04] mramato commented on #5837
We also tweaked this behavior in master to be better, so I would try that out if you aren't already.

[2018-09-24 16:09] hpinkos commented on #7063
Hello @bbehling-trimble,  3D Tiles is not terrain aware, so setting the height to match terrain either has to be baked in to the tileset during processing, or can be adjusted using the `modelMatrix` at runtime.

You can see this example for adjusting the tileset height using a `modelMatrix`: https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Tiles%20Adjust%20Height.html&label=3D%20Tiles

[2018-09-24 16:09] #7063 closed

[2018-09-24 17:11] bbehling-trimble commented on #7063
Hi @hpinkos

I tried the example you sent. I tried loading the church 3D TileSet with terrain

var tileset = new Cesium.Cesium3DTileset({ url: Cesium.IonResource.fromAssetId(5714) });

Trying different height values, including 5000, the 3d Tileset is still rendered below the terrain.

Do you why this is still happening when setting the Tile Set's Model Matrix property?

[2018-09-24 17:19] hpinkos commented on #7063
Hi @bbehling-trimble,

Sorry, I forgot that particular sample church tileset was generated before we made some updates to our point cloud tiling pipeline and cannot be positioned using the model matrix method.  However, this method will work for all point cloud tilesets generated with the current version of our ion point cloud tiler.  I'll make a note to update our sample point cloud model.

[2018-09-24 19:14] hpinkos commented on #7063
@bbehling-trimble I'm sorry, I was mistaken.  I had written my sample code incorrectly.  You can see an example of how to change the church point cloud height using a `modelMatrix` in [this Sandcastle example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=rVVNb9s4EP0rhPdgeSHTTupgC8cNtu0WaIFtWiTunnyhpLFMhCKFIenYXeS/71ASbckteloBQTRfbx7fDOW9QLaX8AzI3jANz+w9WOkr/k/jS8Z5Y7432gmpAceT243e6LaC2xw08

[2018-09-24 19:35] bbehling-trimble commented on #7063
@hpinkos What was changed from the previous example? Other loading a new tile set, it looks to be the same code.

[2018-09-24 19:44] hpinkos commented on #7063
@bbehling-trimble yes, it is using the same method to reposition the tileset as the first Sandcastle demo I linked you too

[2018-09-24 19:48] bbehling-trimble commented on #7063
@hpinkos Do you re-run the church tileset through the new CLI?

[2018-09-24 19:53] hpinkos commented on #7063
@bbehling-trimble no, that is using the same church tileset.

Here's an example for positioning it direction on terrain without using the slider.  The height of the terrain at that location is approximately 413 meters.

[code]

[2018-09-24 22:58] dakotalraymond opened #7065 "Errors with large ellipses"
When drawing very large ellipses, there are visual errors, particularly in 2d mode. Some areas are missing and others get drawn twice. You can see this by visiting the Circles and Ellipses sandcastle and setting a semiMinorAxis and semiMajorAxis to 5000000 or greater. It seems to make it worse if they are very far north. (see screenshots). You can fix the 3d by adding a little height to it, but it

[2018-09-25 15:42] hpinkos commented on #7065
@dakotalraymond can you please paste some sample code to reproduce this?  Thanks!

[2018-09-26 10:41] 9lovingly opened #7067 "How to locate the 3Dtileset node"
Is there any method to support to loacte the 3Dtileset node by its ID?Thanks !

Thanks for contributing to the Cesium Community!

If you have a question, please search the forum:

http://cesiumjs.org/forum.html

and start a new forum thread, if needed, instead of creating this issue.

Otherwise, we look forward to your bug report or feature request in this issue.

---

Delete this message before c

[2018-09-26 13:16] mramato opened #7068 "Unit tests take an unacceptable amount of time"
For years, Cesium unit tests took about ~45 seconds to run.  Within the last 2 months, they have gotten much slower and additionally some testing modes (like WebGL Invalidation) are now basically useless.

I just tried to run the unit tests locally under Chrome and they took 229.713 seconds (and that's using the webGL stub which is the fastest way to test).

So what's changed and how can we fix th

[2018-09-26 13:18] hpinkos commented on #7067
@9lovingly no, I don't believe we have a function for selecting a tile by ID.  You would need to traverse the tile hierarchy.

If you're able to, please ask questions like this on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning new features.

[2018-09-26 13:18] #7067 closed

[2018-09-26 13:56] mramato commented on #6339
@hpinkos this is OBE, right?  I think we tracked this down as a conflict with other servers running on the same machine.

[2018-09-26 14:01] mramato opened #7070 "Point Cloud Attenuation test failures"
I'm seeing the following test failures when running the unit tests.  May be Linux only.  Happens in both Chrome and Firefox.

CC @lilleyse

[code]

### WebGL Report

Platform:	Linux x86_64
Browser User Agent:	Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36
Context Name:	webgl
GL Version:	WebGL 1.0 (OpenGL ES 2.0 Chromium)
Shading Language V

[2018-09-26 14:04] mramato commented on #7068
It appears that GroundPrimitive tests, especially texture-related ground primitives may be the main culprit here.  @likangning93 do you know off hand if these are known slow tests?

[2018-09-26 14:20] hpinkos commented on #7070
I see the same model test failure on my machine (Windows 10).  Who can look at this before the release?  @likangning93? @ggetz?

[2018-09-26 14:27] mramato opened #7072 "Improperly clipped polyline"
Using the callback property sandcastle: http://localhost:8080/Apps/Sandcastle/index.html?src=Callback%20Property.html

I'm seeing the line get clipped improperly:

![polylinebug](https://user-images.githubusercontent.com/1495196/46086692-a1d20f00-c176-11e8-867a-c5c38e2eecfe.gif)

[2018-09-26 14:30] mramato commented on #6279
Actually, thinking about this some more it makes more sense to do this in 1.51.  This way if anyone attempts to use assets.agi.com in the next release, they still see the deprecation message even though the server itself is gone.

[2018-09-26 14:30] pjcozzi commented on #6149
@ggetz OK to close this?

[2018-09-26 14:30] hpinkos commented on #6339
Yeah, I don't remember what this ended up being about but it's fine now

[2018-09-26 14:30] #6339 closed

[2018-09-26 14:32] pjcozzi commented on #4009
@ggetz could you please update the tasklists above?  Perhaps we can close this and submit/update other issues.

[2018-09-26 14:34] hpinkos commented on #6279
Okay, I'll just double check the text of the warning to make sure it still makes sense.  Since this will likely impact a bunch of people I think you're right that it makes sense to leave the warning to hopefully avoid getting a ton of 'why is my globe invisible' questions.  I think we should leave it through the end of the year.

[2018-09-26 14:38] hpinkos commented on #7070
I'm going to open a separate issue for the model test failure since I'm seeing it too and mark in 'next-release'

[2018-09-26 14:39] hpinkos opened #7073 "glTF 2.0 Model Test Failure"
Both @mramato and I are seeing this test failure.  Can someone please look at this before the release on Monday? @lilleyse @likangning93 @ggetz @OmarShehata

[code]

[2018-09-26 14:41] mramato commented on #7072
May be the same issue as https://github.com/AnalyticalGraphicsInc/cesium/issues/6741#issuecomment-406717425

I'm marking this next release, but I mean Nov 1st since it's unlikely we'll be able to fix this for Oct 1st.

[2018-09-26 14:42] mramato opened #7074 "Polyline artifact with log depth off"
This is a copy of https://github.com/AnalyticalGraphicsInc/cesium/issues/6741#issuecomment-408198164 since that issue has multiple bugs reported in it.

From @lilleyse

Another polyline artifact but only when log depth is off. I wasn't able to git bisect due to unrelated shader errors but it seems to have been introduced with the log depth changes.

[Sandcastle link](https://cesiumjs.org/Cesium/Bu

[2018-09-26 14:43] pjcozzi commented on #7073
@OmarShehata could you please take a first look?  Potentially a trivial change to adjust the test if we deem nothing broke.

[2018-09-26 14:43] mramato commented on #6741
Since there are multiple issue sin this bug, I wrote up two new issues to keep things separate.  We'll close this issue with #6955 is merged, since that fixes the original reported issue by @shunter

[2018-09-26 14:44] likangning93 commented on #7073
Wonder if this is related to https://github.com/AnalyticalGraphicsInc/cesium/pull/6877

[2018-09-26 14:44] lilleyse commented on #7073
Yeah I think it's just a matter of the test being too strict, since the rendered color may vary between systems. Usually checking that the color is within some loose range is good enough.

[2018-09-26 14:45] pjcozzi commented on #7070
Perhaps @loshjawrence could look at the point cloud tests to keep folks on the critical path elsewhere focused?

[2018-09-26 15:06] mramato opened #7076 "Travis builds failing but no errors"
It looks like some builds fail but there's no error reported in any of the steps.  This could be a travis issue but has been going on for some time. CC @lilleyse since he noticed it as well.

Example: https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/433554471?utm_source=github_status&utm_medium=notification

I also notice that the log is not properly folding makeZipFile step, which would

[2018-09-26 15:13] hpinkos commented on #7076
Yep, noticed this as well.  Between this and #6230 I feel like travis is failing more often than it's passing

[2018-09-26 15:17] mramato opened #7077 "Automatic detection for missing scene destroy in specs"
It should be straightforward to add the ability for the tests to dump out a message or produce an error if someone creates a scene instance but does not remember to destroy it.  Basically, whenever anyone calls createScene in the specs, we would store it in a global list (and it gets removed when the scene is destroyed).  At the end of the tests, any scenes that still exist would get dumped out wi

[2018-09-26 15:18] mramato commented on #7076
#6230 is probably a bizarre race condition in our build process so at least it's fixable on our end.

[2018-09-26 15:31] hpinkos commented on #7077
I looked into doing this at some point.  I couldn't figure out how to execute something after all the tests have finished running.

[2018-09-26 16:01] hpinkos opened #7079 "Draco Compressed Model doesn't work in Edge."
localhost:8080/Apps/Sandcastle/index.html?src=3D%20Models.html

The Draco Compressed Model doesn't work in Edge.  The model doesn't appear in the scene, and I see this message in the console: `WEBGL11025: INVALID_VALUE: drawElements: Negative count or offset.`

Surprisingly it works in IE.  And also Firefox and Chrome.

This works in 1.49, so this is a recent regression and needs to be fixed befor

[2018-09-26 16:10] hpinkos commented on #7079
The NYC 3D tileset doesn't work in Edge either.  It's the same error in the console so I'm assuming it's the same problem.

[2018-09-26 17:13] hpinkos opened #7081 "Drill picking completely broken"
This happens in master but not in 1.49 so it needs to be fixed before the release on Monday

This drill picking example causes the browser to hang.

http://localhost:8080/Apps/Sandcastle/index.html?src=Picking.html&label=All

@lilleyse @bagnell

[2018-09-26 17:25] hpinkos opened #7082 "VideoSynchronizer broken in Edge"
At least the 'Clock synchronization' button in this example doesn't work anymore:
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Video.html

Probably broken by #6789

[2018-09-26 17:28] mramato commented on #7082
I just tested this in master as part of the preUpdate changes @lilleyse put in.  What browser/OS are you using?

[2018-09-26 17:32] mramato commented on #7082
Just verified with head of master again and it works as expected for me.

[2018-09-26 17:34] lilleyse commented on #7081
This is related to https://github.com/AnalyticalGraphicsInc/cesium/pull/7069. I'm looking into it.

[2018-09-26 17:38] hpinkos commented on #7082
Oh sorry, I thought I had tested this in a few different browsers.  But it looks like it's working in Chrome but not in Edge.  The 1.45 release seems to work in edge but the more recent releases do not

[2018-09-26 17:55] mramato commented on #7081
Spoke with @lilleyse offline, my preference is to revert #7069 and revisit it in the context of #6934 (since it's such a small change anyway).

[2018-09-26 18:11] OmarShehata commented on #7079
I've tracked it down to this commit which removes adding a default value for `byteOffset`:

https://github.com/AnalyticalGraphicsInc/gltf-pipeline/commit/9e228c9d71e2cf652bb5a51f84ee3455cea349b6#diff-0235c130212493cbf91de44aaf8c8906

This is what causes the division in `Model.js:2910` to be `NaN`. @lilleyse is there not supposed to be a default byteOffset in this case? Should Model.js check if `by

[2018-09-26 19:20] #6149 closed

[2018-09-27 10:13] Stuv42 opened #7084 "3d Tile mixed refinement not completing, causing face culling"
I'm trying out the current master, was previously working well on 1.48 and below. With skip lods turned on I'm finding the parent tile is never disabled even once loading completes. This normally has the culling effect only while loading as detailed in https://github.com/AnalyticalGraphicsInc/cesium/issues/6415 since the parent and child tiles are mixed.

This is a view from inside an object after

[2018-09-27 13:27] mramato commented on #7084
Thanks for the report @Stuv42

@lilleyse any ideas here?  Does anyone else know the tile refinement code as well as you that could look at this while you're finishing up the sample PR?  This sounds like a regression that we would need to fix before the next release.  I'll tag it, but feel free to remove the label once triaged.

[2018-09-27 13:30] thw0rted opened #7085 "Resource overrideMimeType not working on Edge"
TL;DR: I found a spec-compliance issue with how Resource does XHRs.

I came here to report an issue I was having with Edge, but to my surprise it isn't Edge's fault.  I have some code that makes a Resource and calls `fetchXML`, treating the response as an XMLDocument.  This failed in Edge, which led me to dig a bit -- I noticed that my server was returning the (definitely valid XML, not HTML) cont

[2018-09-27 13:52] OmarShehata opened #7086 "Create a trackedTileset property?"
This [just came up on the forum](https://groups.google.com/d/msg/cesium-dev/uc1SoWvzBks/gMEGPsScCwAJ). You can currently set the trackedEntity to a tileset, and the camera will zoom to it but won't stay there.

It sounds like it would be a pretty useful thing to have to be able to track tilesets in the same way as entities. I think it would only need a small tweak to `EntityView.js`. The question

[2018-09-27 14:00] thw0rted commented on #7085
Update: WhatWG is [changing their mind](https://github.com/whatwg/xhr/pull/218) about this logic, so maybe the other browsers won't be matching Edge after all.  Still, the fact remains that this breaks on *some* shipping Edge versions and I don't think it hurts to reorder the logic in Resource.

[2018-09-27 14:46] mramato opened #7087 "Leverage improved DataView performance in Cesium"
From : https://twitter.com/v8js/status/1041981091727466496

Blog post: https://v8.dev/blog/dataview

According to @lilleyse this can at least make feature table and batch table reading faster; but is there anywhere else in Cesium that we might be able to update to better leverage the improved performance here?

Potree apparently uses some sort of workaround because of previous DataView performance

[2018-09-27 15:55] lilleyse commented on #7036
The reason for the bad positions in the second image is `CESIUM_RTC` applies its translation after the model matrix. Saw the same problem in here: https://github.com/AnalyticalGraphicsInc/cesium/pull/6755#issuecomment-425143807.

The summary here is `CESIUM_RTC` doesn't work well with model matrices that have rotation. Upgrading the tileset with [3d-tiles-tools](https://github.com/AnalyticalGraphi

[2018-09-27 16:18] lilleyse commented on #7084
There's one commit I'd want to try reverting: https://github.com/AnalyticalGraphicsInc/cesium/pull/6390/commits/4fc6f7e9652a1535cd37ca4ef1e5014da2495bcc

I haven't been able to trigger this problem in other tilesets yet. @Stuv42 is there a chance you could send over the tileset for testing? My email is sean@cesium.com if you don't want to share it publicly.

[2018-09-27 16:28] hpinkos commented on #7086
From an API standpoint, I've been wondering if there is confusion between using `scene.primitives.add` to add 3D tiles and `viewer.entites.add` to add pretty much everything else.  I would if it would make sense to add 3D tiles to the Entity API.  @mramato what are your thoughts on this?

[2018-09-27 16:40] hpinkos commented on #7085
Hmm, I wonder if this is related so some other weirdness we've been seeing in Edge recently.  Thanks for bring this up @thw0rted!

@mramato @tfili what are your thoughts on this?

[2018-09-27 17:55] #7079 closed

[2018-09-27 18:41] #7081 closed

[2018-09-27 18:54] hpinkos opened #7090 ""npm run build" prints error in console for forks of Cesium"
I see this printed out to the console when I run `npm run build` in a fork of Cesium because it doesn't have our tags.  My first immediate reaction was "oh no, why did the build fail?".  Is there anything we can do to avoid having "fatal" printed out to the console?  Can we check if the tag exists before making the diff call?  Otherwise, maybe we should print out a message saying to ignore that fa

[2018-09-27 18:54] #7073 closed

[2018-09-27 19:10] mramato commented on #7085
I'm not sure this was the same thing I was seeing, but couldn't hurt.  Thanks for the write up @thw0rted, I'll open a PR just to cover our bases.

[2018-09-27 19:35] mramato commented on #7085
Thanks @thw0rted!  I was able to replicate this behavior and opened #7091 with the fix.

[2018-09-28 02:51] pjcozzi commented on #7086
Please discuss with me before moving forward with it...and I also would not consider this a priority now.

[2018-09-28 06:41] chris-cooper opened #7092 "Drawing and picking issues on terrain with negative WGS84 elevation"
Hi Cesium team!

There seems to be various issues with rendering and picking at negative WGS84 elevations.  Appologies for the poor capture but hopefully you can still see the issues with the lat/lon display disappearing and the line also disappearing at certain angles.  Note that I think this issue predates the work done on log depth buffers.

![picking](https://user-images.githubusercontent.com/

[2018-09-28 07:44] thw0rted commented on #2694
Can you dump your entity definition and post it here?  Like, `console.log(entity)` then copy/paste or make a screenshot.  Alternately, you could log the values being used in the entity definition separately.  For example, is `entity.properties.Hght` really the value you want for extrudedHeight?

[2018-09-28 09:53] munna commented on #2694
Thanks for reply @thw0rted .
consloe.log is not visible properly as it is big object. Please check this screenshot
![error](https://user-images.githubusercontent.com/369370/46201661-506e7f00-c332-11e8-8ece-60bdcf297345.png)

[2018-09-28 12:56] hpinkos commented on #2694
@munna can you please put together a Sandcastle example to reproduce the issue?  https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/

[2018-09-28 13:20] #7085 closed

[2018-09-28 13:21] hpinkos commented on #7085
Thanks again for reporting this @thw0rted!  We just merged a fix for this into master and it will be included in the 1.50 release on Monday

[2018-09-28 19:27] slozier opened #7094 "Using Camera.lookAt followed by camera.setView breaks mouse controls"
It looks like by doing the following, the camera.position will be set to (0, 0, 0) and then trying to adjust the camera using the mouse will cause a failure:
[code]

Using sandcastle it gives this error:
[code]

[2018-09-28 19:47] hpinkos commented on #7094
Thanks for reporting this @slozier!

[2018-09-28 21:20] #6080 closed

[2018-09-28 21:20] cesium-concierge commented on #6080
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/hMALmIsVn4U

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-09-29 03:14] lb999255 opened #7095 "groundprimitive not supported in IdTexture?"
GroundPrimitive can be picked when mouse move. But in postProcess stage, I cann't get it in IdTexture.

[2018-09-29 05:58] munna commented on #2694
@hpinkos I have created here [Sandcastle URL ](https://goo.gl/be5VnH)  to reproduce but i am not getting same issue. but got another two issue.
1. When I apply `entity.polygon.extrudedHeightReference=Cesium.HeightReference.CLAMP_TO_GROUND;`, 3D building become 2D.
2. when i enable 2-8 line code. geometry goes underground and become invisible.
 `var scene =viewer.scene;
scene.terrainProvider = Cesi

[2018-09-29 08:09] munna opened #7096 "Can we use Vector tiles with Cesium Map?"
I want to use **Vector Tile** with Cesium Map. If not, is there anyway to render 3D on cesium map using GeoServer .

Loading hug amount of json/topojson is crashing cesium map .

[2018-09-30 05:38] 18616594872 commented on #2694
hello, I want to ask if the problem of pickPositionSupported is not supported under IE.

[2018-09-30 15:27] GatorScott commented on #2694
I think you want to set the polygon's height reference to be CLAMP_TO_GROUND and perPositionHeight to false, and set the extrusion's height reference to RELATIVE_TO_GROUND.  Here's your example with those changes.

[code]

[2018-10-01 04:36] munna commented on #2694
@GatorScott , Thank you very much . its working as expected.

[2018-10-01 12:45] mramato commented on #5265
This won't make today's release, but I still want to see us figure it out before Nov 1st so I'm leaving the label.

[2018-10-01 14:14] lilleyse commented on #7084
Thanks for sending over the tileset @Stuv42. I opened a fix here: #7099.

[2018-10-01 14:31] hpinkos commented on #7095
@lb999255 can you please put together a [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/) example to reproduce the error you're seeing?

[2018-10-01 14:34] hpinkos commented on #7096
Hello @munna, Cesium suppports an experimental 3D tiles vector format.  You can find more information about that here: https://github.com/AnalyticalGraphicsInc/3d-tiles/tree/3d-tiles-next/TileFormats/VectorData

If you have follow up questions about this, please ask on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning new f

[2018-10-01 14:34] #7096 closed

[2018-10-01 15:01] #7084 closed

[2018-10-01 15:01] OmarShehata opened #7100 "Distorted Box Entity in iOS"
This [Sandcastle example](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html#c=ZZFda8IwFIb/yqE3VujSug0GWmWz7mrCYBu76k3aHDWYD0nSOh3+96W2otMDCcnJ+z45OampgZrjFg2MQeEWMrS8kuT7mAt75XGbaeUoV2h6/VGuclV7l0E21T/e1doJKscdR0soY+FvrsCHohJhCL0PZFB48Za7FRSClmvQlROe2Ita5UZb79ZqeCogo8b5FVUPZGG0nOHSINrwbpA8kSSCx6SZ/dTvAA1+CN29TTAuUVmPtD5/8bIzOEzIfdSMwQnShKQODacCzqVooQ35eJ1dqLryvciZCm8Pjp5rxHT+kr210kOuDl0v2/btt

[2018-10-01 15:11] mramato commented on #7100
I can confirm this is still an issue in iOS 12.0 on an iPhone 7, but someone should check iPad as well to see if it's software/vs hardware issue.

[2018-10-01 15:46] hpinkos commented on #7096
@munna I don't think there are any tools that are publicly available, but you can send an email to tim@cesium.com to ask about the beta version of our vector tiler.

[2018-10-01 16:31] lb999255 commented on #7095
I checked the code in excuteCommands function, Scene.js and found commands of TERRAIN_CLASSIFICATION or CLASSIFICATION not invoked when renderring to IdTexture.

`var originalFramebuffer = passState.framebuffer;
            passState.framebuffer = scene._sceneFramebuffer.getIdFramebuffer();

            // reset frustum
            frustum.near = index !== 0 ? frustumCommands.near * scene.opaqueFr

[2018-10-01 17:38] mramato opened #7102 "Look into eslint-plugin-compat eslint plug-in"
We might be able to use https://www.npmjs.com/package/eslint-plugin-compat in order to make sure we maintain compatibility with IE11 (and other less often used browsers).  This would catch using modern APIs not supported by our desired target browsers and prevents last minute issues such as #7101.

[2018-10-01 18:01] hpinkos opened #7103 "Polygon Intervals and Availability broken in IE"
http://localhost:8080/Apps/Sandcastle/?src=CZML%20Polygon%20-%20Intervals%2C%20Availability.html&label=CZML

This works in 1.45 but not in 1.46

[code]

Related: A bunch of these tests are failing with the same error message: http://localhost:8080/Specs/SpecRunner.html?spec=DataSources%2FGeometryVisualizer

[2018-10-01 18:11] hpinkos commented on #7103
Marking this `Next Release` because it's a regression.  We really should have caught this before now...

[2018-10-01 18:37] hpinkos commented on #2860
From the 1.50 release:
- A bunch of dynamic DataSources/GeometryVisualizer tests #7103
- Scene/ClassificationPrimitive update throws when an incompatible Appearance is set (likely related to above)
- Scene/ClassificationPrimitive renders with invert classification and an opaque color
- Scene/GroundPrimitive renders with invert classification and an opaque color
- Scene/Model renders textured box w

[2018-10-01 18:46] hpinkos commented on #6539
Closing this issue.  We disabled pointerevents in #6999 and that fixed the tests.  Once we revert that change (#7003)  we can double check to make sure tests are passing as expected.

[2018-10-01 18:46] #6539 closed

[2018-10-01 18:48] hpinkos opened #7105 "Scene/Vector3DTilePoints test failure"
http://localhost:8080/Specs/SpecRunner.html?spec=Scene%2FVector3DTilePoints%20renders%20a%20point

[code]

This test is failing in IE, Edge and Firefox

[2018-10-01 19:06] #6292 closed

[2018-10-01 19:07] hpinkos opened #7106 "Renderer/Framebuffer Test Failures in Edge"
[code]

[code]

[2018-10-01 20:09] hpinkos commented on #7095
Thanks for the extra information @lb999255!

@bagnell is the new post processing feature supposed to work for geometry?

[2018-10-01 20:30] OmarShehata commented on #7051
This is a nice explanation of actually computing the coefficients for spherical harmonics: https://computergraphics.stackexchange.com/a/5001

And an example from Babylon of getting these coefficients from a cubemap: https://github.com/BabylonJS/Babylon.js/blob/master/src/Tools/HDR/babylon.cubemapToSphericalPolynomial.ts#L94

[2018-10-02 00:19] chris-cooper commented on #7092
Hmm the behaviour has changed with Cesium 1.50.  There can be large discrepencies between results from `scene.pickPosition()` and `globe.pick()`.

[Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=rVdbT+M4FP4rXh4mibbrwrDAiJu2lO4wWjpF0GUepqOVSU5TC9eObKdQEP99j5MmkyYp7GgnEqKxz+U7F3/HWTBNFhweQJMTIuGB9MHwdE5vszXfC7PXvpKWcQna65DniST4WNAal660WvAI9GGhGGpgFr4oLaJxLuIHE/kSHE1k7oeaECTQWKg7oBE

[2018-10-02 13:04] cherukumilli opened #7109 "Sandcastle ClampToTerrain sample fails to load CesiumWorldTerrain in Google Chrome Canary"
Steps to recreate the problem:
1. Open Google Chrome Canary
2. Open Chrome Developer tools
3. Browse to the ClampToTerrian Sandcastle sample: https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Clamp%20to%20Terrain.html

You will see that the CesiumWorldTerrain is not loaded.

Also in the developer tools console, you will see the following errors:
`OPTIONS https://assets.cesium.com/1/layer.

[2018-10-02 13:08] cherukumilli commented on #7109
The ClampToTerrain sample loads successfully in Chrome 69 **but not in Chrome Canary (Version 71.0.3568.0)**.
I am encountering the same problem when I load my app in Chrome Canary.

[2018-10-02 13:09] OmarShehata commented on #5749
This exists now!

https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Multiple%20Synced%20Views.html

@pjcozzi do you mind closing?

[2018-10-02 13:29] #5749 closed

[2018-10-02 13:29] cesium-concierge commented on #5749
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/PHdfvmY0reU

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/

[2018-10-02 13:35] mramato commented on #7109
Thanks for the report, this is a known regression in Google Chrome Canary and they have a bug on their end about it here: https://bugs.chromium.org/p/chromium/issues/detail?id=889004

I'll leave this open for now in case others in the community run into the same issue.

[2018-10-02 13:50] #7040 closed

[2018-10-02 17:12] ggetz opened #7111 "scene.clampToHeight breaks pickPosition"
Clamping an entity position breaks `pickPosition`.

@lilleyse Any ideas?

[Sandcastle example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html#c=nVdtc+I2EP4rvnzBtJww73BJrs0Ld8lMcskEN51O6XQUW4AaWfJIMkmuw3/vyrKNbeCuLZMJRrv77K722ZW8xtJZU/JCpHPqcPLiXBBFkwg9pmtuI0h/XgiuMeVENlrO33PuwEcTKWHpXoo1DcH6Q24ZSII1+VVIFvpWx23O+aZ5POdrcKYCwgn4sk5R+jMTBUwEz1tR+hNEVki4pvot04yFopoK4z0mslgOscYzkciAgCCiyv

[2018-10-02 18:37] hpinkos commented on #7111
Related? https://github.com/AnalyticalGraphicsInc/cesium/issues/7092#issuecomment-426105750

[2018-10-02 19:12] lilleyse commented on #7092
For the second gif I'm also seeing discrepancies in 1.49. I wonder though if the problem is the pickPosition is hitting the label object rather than the terrain. I tweaked the pixel offset so the label is above the cursor and the results seemed much better.

[Demo](
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=rVdbT+M4FP4rXh4mibbjcllgxE1bSmcYLUwRdJmH6WhlktPUwrUj2ykUxH/f46TJpEkKO9qJhGjsc/nO

[2018-10-02 21:29] chris-cooper commented on #7092
Ah, my mistake @lilleyse, thanks for looking.  After some further investigation it seems some of the issues we're seeing in our app are specific to having `depthTestAgainstTerrain` disabled and might be `DepthPlane` related.  You might notice geometry disappearing and difficulty navigating (e.g. zooming in) in this example:

[Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=rVdtb9s

[2018-10-03 05:41] chris-cooper commented on #7092
It looks like some of the rendering issues are related to going below the limits specified in `ApproximateTerrainHeights`.  Unfortunately some of our users like to dig big holes in the ground.

[2018-10-03 06:38] chris-cooper commented on #7092
Initial testing shows these workarounds address picking and rendering: https://github.com/PropellerAero/cesium/commit/e25b16313b48f064ba8404d71dda7223eded8c0f

[2018-10-03 14:56] mramato opened #7114 "Should point attenuation and eye dome lighting on by default?"
From offline conversations, I've gotten the impression that almost all users of 3D Tiles point clouds are going to want point attenuation and eye dome lighting turned on, so wouldn't it be a good idea to make them on by default?  I'm no sure new users would think such options even exist if they aren't enabled to begin with.

CC @lilleyse @pjcozzi

[2018-10-03 21:47] dakotalraymond commented on #7065
Sure thing

[2018-10-04 05:40] Stuv42 commented on #7084
Thanks for the update @lilleyse, it seems to have fixed the issue in 99% of cases. I've found it was still occurring in the spot above and taking a closer look its because some json files have no content, but have children. This is happens here due to small floating artifacts in quadrants that don't have a model at medium detail, but still require a json file for that quadrant since zooming furthe

[2018-10-04 11:43] GatorScott commented on #7065
Here's a visually interesting example

[code]

[2018-10-04 13:32] lilleyse commented on #7084
I see why that would be happening. Technically the behavior right now is expected, the external tileset root (empty) meets the screen space error and doesn't traverse to its children, but since it's empty it selects back up. I'll have to recheck what the old traversal did, but to avoid those sorts of issues I'm starting to think empty tiles should always traverse even if they meet screen space err

[2018-10-04 18:02] OmarShehata opened #7116 "Clamped Polygon has Incorrect Bounding Sphere"
The Sandcastle below should zoom in on the polygon, and then tilt. Even though the entity is being tracked, it goes out of view.

[Sandcastle example.](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=tVTbTttAEP0VKy84UrrZ+wUCKlCkPlBR0YtU1X1YnE1s1VlH9iY0Rfx7x3HshFJ461qy7JlzZubszuzaVtE6d/euik4j7+6jS1fnqwX6urXFR+n297L0webeVUfDk8Qnfg2su2LlLspfQGv5yPmQh9zVyE6n8UMSuieKEh/B8nbhouMoGVwAMwJqMhi1nmVZbOa

[2018-10-04 18:56] hpinkos commented on #7065
Thanks @dakotalraymond, @GatorScott

There are a few different problems here

1. `splitLongitude` is causing artifacts across the north pole
2. The shadow volume isn't high enough for the ground primigive, causing the diamondy look
3. If the `semiMajorAxis` is too wide, the end points are incorrect

[2018-10-04 21:28] #6954 closed

[2018-10-05 03:12] mlui00 commented on #4346
I've used this. (Cesium.Rectangle)

var rect = viewer.camera.computeViewRectangle(viewer.scene.globe.ellipsoid, scratchRectangle);

if(rect == undefined)
{
	var cl2 = new Cesium.Cartesian2(0, 0);
	var leftTop = viewer.scene.camera.pickEllipsoid(cl2, ellipsoid);

	var cr2 = new Cesium.Cartesian2(viewer.scene.canvas.width, viewer.scene.canvas.height);
	var rightDown = viewer.scene.camera.pickEllipso

[2018-10-05 19:16] OmarShehata opened #7118 "Billboard Disappears in Columbus View"
Open this [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=lVRbk6o4EP4rlC/HqWOBiJe51wIiIyogoo6WVVMBAkYDcQng5dT57xt0nMueh63NQ0i6+/u+TpNOAVKuQHAPU+6JS+CeUyFFeczPzrbqD/+8VUmSAZTA9EeN+7VKuPdBfZjAEQng/RU2uVp41RpOR8p08jbra/PaBZPBNGU0dkoKFMD0A+WnEGRwTlIcuJeQ6s0q+X3zsEouufFnJT7CxIN8AHfZ2oU0kyMWSbN3CMs/S3PIMB8oH8QwBXyIjy6pvucdMCBKQIZI8qGvgjRjK5BIfJiSuAujFEJalVp8vcZJYjk36uW4ZsUUWN18gjH0S6bv

[2018-10-05 19:59] OmarShehata opened #7119 "Clamped polyline flickers when updating property"
This [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=1Vbbbts4EP0VwS91gCxN3S3XCRZx0kUAtwGaYF/qoqApSiZKiQZJOXWC/vsOdbNct4BR7EtpwwZneIbDM2co7Yhy6EshnCvn06p0YLw2f3asRjxdjWbwn0paFaw0q9Hl0F2SgjULltKw4gfvjinNZdkscBFejRrv93bV62ADQ1TOjAsRjsI+Dc1bqblpA1osJcrIXJHthtNblivGtHV9ApcfoCkOw9CLmzFtIvguSnwcB/2IrB07nyEncK+5EGtJVNrtwAuSt5kgNKlnerJgmlfFl6XM5RcJZxRkj7Zl3uygKRE1wutnN/tbrg0pKevCloyod0Q9g

[2018-10-05 22:14] OmarShehata commented on #5076
Reported again here: https://groups.google.com/d/msg/cesium-dev/k1brfPffEec/GJUOPXywAAAJ

[2018-10-07 00:39] pjcozzi commented on #7114
Just depends on resolution.  Folks with 1mm resolution point clouds don't want these because it actually blurs out the detail.  However, most users probably have something more like 1cm to 25cm resolution so it could be a sensible default.  Not sure what we would do with point attention, which I'm under the impression is only prototype for additive refinement.

[2018-10-07 14:37] OmarShehata commented on #4295
This came up on the [forum](https://groups.google.com/d/msg/cesium-dev/2RIy0dYR1ps/KNlS_1aVAAAJ).