[2015-01-28 18:52] emackey commented on #2430
I'm OK with either one, but I do need InfoBox to have a way to support async descriptions.  Currently I'm using (abusing) the sanitizer to "look up" more info on the selected object, and I have it show the animated-three-bars icon during the lookup.

[2015-01-28 21:53] mramato opened #2431 "Major regression in Firefox 35"
There appears to be a major ANGLE related regression in Firefox 35 (obviously Windows only).  This causes all existing versions of Cesium to render a lot of materials incorrectly.

![image](https://cloud.githubusercontent.com/assets/1495196/5947763/a2fddc4c-a70d-11e4-8fff-29d37d4e53f5.png)

This was on the DX 9 back end, not sure about DX 11. Disabling Angle fixes the problem.  I'll look into fili

[2015-01-28 22:02] mramato commented on #2431
Looks like this is a manifestation of [this issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1124453) which I found via [this issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1124187).

Setting WebGL context alpha to false affects all framebuffers, which causes anything with alpha to go haywire in Cesium. If I force alpha to true in Context.js, everything works (though I'm not sure of the fu

[2015-01-28 22:17] pjcozzi commented on #2431
Chime in on those issues and let them know it affects Cesium.

We could workaround this by setting `alpha` to `true`, but it is a potential performance hit as it can make the browser compositor work harder.

Is this in any version of Chrome?  If not, we could just set `alpha : true` for Firefox as a workaround for a few months.

[2015-01-28 22:18] mramato commented on #2431
That's what I would do, check for Firefox 35 and force it to true.  We have a similar workaround already in place for Firefox 34, because that broke Cesium as well.

[2015-01-28 22:22] pjcozzi commented on #2431
OK with me.

[2015-01-29 03:59] #2077 closed

[2015-01-29 04:12] mramato commented on #1878
Fixed with #2353, the spec seems to indicate holes like the above are not valid and just a fluke of the leaflet implementation.

[2015-01-29 04:12] #1878 closed

[2015-01-29 04:17] mramato commented on #2031
@bagnell can this be closed?

[2015-01-29 04:21] mramato commented on #1964
This seems to be fixed (though I'm not sure what changed).  @emackey can you still reproduce this?

[2015-01-29 05:53] kring opened #2433 "Setting the cameras'"

[2015-01-29 05:59] kring opened #2434 "Setting the camera's heading doesn't work in the southern hemisphere"
Here's a simple Sandcastle example to show the problem:

[code]

Enter 0 in the input box and tab out of it, and the camera doesn't move (north is still up, as expected).  Now pan the camera so that it's located anywhere in the southern hemisphere and do the same thing.  The globe flips upside-down so that south is up.

[2015-01-29 06:25] kring commented on #2434
(I know the `heading` property is deprecated; the behavior is the same with `setView`)

This worked in 1.5 so I'm marking it showstopper.  Also, the heading rotation in master is opposite what it is in 1.5.  pi/2 radians makes "up" point west in 1.5 and east in master.

[2015-01-29 06:29] kring opened #2435 "Cesium prevents sliders from working"
Try this Sandcastle example:
http://localhost:8080/Apps/Sandcastle/index.html?src=Imagery%20Adjustment.html&label=Showcases

The sliders can't be moved by dragging them.  Clicking works.  This is caused by Cesium canceling the document's mousemove event.  Some discussion here:
https://groups.google.com/d/topic/cesium-dev/Emt-CrGYulY/discussion

[2015-01-29 06:30] kring commented on #2435
Marked show stopper because it's a regression that breaks people's apps in mysterious ways.

[2015-01-29 06:33] #2433 closed

[2015-01-29 07:28] kring opened #2437 "HomeButtonViewModel uses deprecated camera functionality"
The `direction` and `up` parameters to `Camera.flyTo` have been deprecated but they're still used in `HomeButtonViewModel`:

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Widgets/HomeButton/HomeButtonViewModel.js#L58

[2015-01-29 09:15] gberaudo commented on #2129
I have the issue reported by @pjcozzi  and @mramato on my machine when OIT is enabled (Cesium 1.5). It disappears when disabling OIT:
[code]
Tested on Ubuntu 14.10:
- Intel Corporation 4th Gen Core Processor Integrated Graphics Controller [8086:0416] (rev 06).
- Mesa DRI Intel(R) Haswell Mobile
- GL_VERSION 3.0 Mesa 10.3.2

What is the consequence of disabling OIT?

[2015-01-29 11:37] pjcozzi commented on #2129
@gberaudo instead of using that workaround, set `orderIndependentTranslucency` to `false` when constructing `Viewer`:  https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Widgets/Viewer/Viewer.js#L217

For the consequence, see: http://cesiumjs.org/2014/03/14/Weighted-Blended-Order-Independent-Transparency/

[2015-01-29 12:21] #2431 closed

[2015-01-29 12:48] gberaudo commented on #2129
Thank you @pjcozzi.
Added a comment to the Chrome bug https://code.google.com/p/chromium/issues/detail?id=414280#c9.

[2015-01-29 13:15] mramato commented on #2437
This is already fixed in the entity-zoom branch. But we can leave this open until its in master.

[2015-01-29 16:30] emackey commented on #2435
git bisect has narrowed this down to #2408, either c5c440c6 or 2315709e.  /cc @bagnell

[2015-01-29 17:37] bagnell commented on #2434
I followed your instructions and I couldn't reproduce it. Entering 0 in the box and tabbing out of it over the southern hemisphere orients it north.

[2015-01-29 19:11] bagnell commented on #2434
I decided to try it again and now I can reproduce it. I'm not sure why it didn't happen the first time.

[2015-01-29 19:56] mramato commented on #2327
Me and @bagnell have discovered discovered this is an issue with the weighting function in `czm_alphaWeight`.  He's going to experiment with the different weighting functions and it should hopefully fix this issue.

[2015-01-29 20:21] emackey commented on #2437
I know we're swamped, but it seems like very bad form to ship a release that prints the deprecation warning for users that click Home.  The average user won't know why they're seeing the message, and it makes many Sandcastle demos appear broken when you look at the console.

[2015-01-29 20:23] mramato commented on #2437
It's not going to ship, entity-zoom (and related branches) will be going into master tomorrow

[2015-01-29 20:56] kring commented on #2437
Ok, thanks guys!

[2015-01-29 21:13] mramato opened #2442 "scene.drillPick does not work with Primitive batching"
`scene.drillPick` currently works by picking, hiding the picked primitive, and then repeating the process until no primitives are picked. This means that when using `Primitive` batching, only one geometry from each primitive gets picked, making `dillPick` basically useless.

This has been a problem since it was first introducedin #978, but as far as I know, no one realized it until now.

[2015-01-29 22:04] pjcozzi commented on #2442
Looks like it is supposed to work, but it requires that per-instance show is used and we need to swap the order of the `if` statements: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Scene.js#L1607

We could probably just always include that in the shader, but we have bigger fish to fry at the moment.  We could keep this Sandcastle example with primitives if needed.

[2015-01-29 22:10] mramato commented on #2442
Looks like you're right.  I was able to fix it with some minor tweaks so that it works as long as there's a `show` attribute (which the Entity geometry always has).  I'll open a PR for it.

[2015-01-29 22:46] mramato commented on #2442
I assume we should keep this open since it still fails if the primitive does not have a show instance attribute.

[2015-01-29 22:51] #2435 closed

[2015-01-29 23:30] SlySnake opened #2446 "Camera Roll calculation"
I've tested the roll calculation in camera.js of the current source (v1.6). It seems to only use the z of the right vector. That works fine with level pitch 0. However as pitch deviates from 0 the more roll is off, because the z of right will then never go all the way to 1 which acos expects. For example: with a pitch of -45 if you roll on your left side roll value is only 45 when it should be 90.

[2015-01-29 23:41] mourner commented on #2074
@pjcozzi FYI I wrote a new JS library for triangulation, this time much more robust while being many times faster. It's pretty awesome. Check it out: https://github.com/mapbox/earcut

[2015-01-29 23:42] mourner commented on #2074
It focuses on triangulation speed over quality though — producing less sliver triangles is something I might look into in future.

[2015-01-29 23:55] pjcozzi commented on #2442
Yes

[2015-01-29 23:57] pjcozzi commented on #2430
I am, err, clueless about this code, but I agree that 2 sounds good.

[2015-01-30 14:51] pjcozzi commented on #2446
Thanks @SlySnake.  @bagnell what do you think?

[2015-01-30 15:43] mramato opened #2447 "Picking does not always work in 2D"
This problem is in 1.5 as well, but it seems like something we should really fix for 1.6.

1. [GeoJSON simplestyle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=GeoJSON%20simplestyle.html&label=Showcases)
2. Switch to 2D
3. Double click on lower right icon to zoom to it.
4. Zoom out a little and try clicking on surrounding icons, only icons close to the icon you are centered on will b

[2015-01-30 16:59] SlySnake commented on #2446
I'm not sure if get roll is used at the moment. Although back in September
https://github.com/AnalyticalGraphicsInc/cesium/commit/41e65419aeb4677f7b5e814f260ce099a2120658 line 773
I did notice that set roll used 'current roll' and 'desired roll' to obtain the 'delta roll' for this.look(this.direction, angle); Without having the proper current roll this wouldn't work properly. Perhaps set roll coul

[2015-01-30 17:17] mramato opened #2448 "Cesium Inspector broken"
Run the [website demo](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Cesium%20Inspector.html&label=Showcases) or the [local demo](http://localhost:8080/Apps/Sandcastle/index.html?src=Cesium%20Inspector.html&label=Showcases).

There are at least two bugs.
1. Click Show Frustums for an insta-crash.
2. With the default view, pick a terrain tile and then hit any of the quadrant buttons, yo

[2015-01-30 17:24] mramato opened #2449 "Extruded polygons with large height do not show up in 2D"
1. Run the [GeoJSON demo](http://localhost:8080/Apps/Sandcastle/index.html?src=GeoJSON%20and%20TopoJSON.html&label=All)
2. On line 54, remove the `/ 50.0` so that population is really big.
3. Hit run and then `Custom Styling`
4. Switch to 2D, the really tall states like Texas, California, and Pennsylvania do not draw.

This problem has been around a while so I'm not marking this as a showstopper,

[2015-01-30 19:52] SlySnake opened #2451 "Camera Heading calculation"
Examing the heading get code in camera.js v1.6:

var heading;
if (Math.abs(direction.z) < Math.abs(right.z))
{heading = Math.atan2(direction.y, direction.x) - CesiumMath.PI_OVER_TWO;}
else {heading = Math.atan2(right.y, right.x);}
this._setTransform(oldTransform);
return CesiumMath.TWO_PI - CesiumMath.zeroToTwoPi(heading);

Using right vector to determine heading will fail if you're pitched and ro

[2015-01-30 20:38] mramato commented on #2401
This appears to be Chrome stable specific (does not happen in Firefox, IE, or in Chrome Canary). Can someone else confirm this?

[2015-01-30 21:30] mramato commented on #1847
I vote to close this issue, @shunter implemented Pointer Events for IE and I just went through and tested everything and checked off the ones that worked, above.  Since double tap doesn't work on any phone/tablet device I've tried it doesn't make much sense to leave this open. (I ran unit tests in Chrome, everything passed.  Did not run IE).

I would consider all Windows tablets capable of running

[2015-01-30 21:30] mramato commented on #1851
This is still an issue, perhaps related to #2122

[2015-01-30 22:27] pjcozzi commented on #1847
+1

[2015-01-30 22:27] #1847 closed

[2015-01-31 15:04] pjcozzi commented on #649
Section A.7 of the [GLSL spec](https://www.khronos.org/registry/gles/specs/2.0/GLSL_ES_Specification_1.0.17.pdf) has some uniform packing tips.

[2015-01-31 23:09] mramato opened #2452 "Deprecated functionality for removing in in 1.9"
1. `PolygonGraphics.positions`
2. `Model.readyToRender`
3. `ColorMaterialProperty.fromColor(color)`
4. `DataSourceDisplay` methods getScene and getDataSources
5. The `Entity` constructor taking a single string value
6. `EntityCollection.entities` and `CompositeEntityCollect.entities`

[2015-02-01 16:08] pjcozzi commented on #2448
1. I can't reproduce with master or 1.5.
2. CC #1665

[2015-02-01 16:17] pjcozzi commented on #2401
I can't reproduce at all now.

[2015-02-01 17:53] pjcozzi commented on #2448
1. I can reproduce it now.  Using the simple CZML link from main index.html, click a satellite then check `Show Frustums` and the shader fails to compile.

I most likely will not be able to look at this for 1.6.

[2015-02-01 20:27] mramato commented on #2448
This looks like it only happens in Chrome (at least on Windows) I get the error in OpenGL mode as well, so I don't think it's ANGLE.  Next time I boot into Linux, I'll try it there as well.

Because it's Chrome only, I'm okay with post 1.6

[2015-02-01 22:55] pjcozzi commented on #1366
@kring any ETA on this?  No rush, I just want to avoid a big merge conflict with #2056 (no action there yet).

[2015-02-01 22:58] kring commented on #1366
I hope to get back to it really soon, especially since the merge gets more painful every day even in the absence of big changes like #2056.

[2015-02-01 23:06] #2403 closed

[2015-02-02 00:54] #2347 closed

[2015-02-02 02:14] #2434 closed

[2015-02-02 03:25] kring opened #2453 "Share panel screenshot is missing the basemap in IE9"
![image](https://cloud.githubusercontent.com/assets/924374/5995440/52cdfe22-aae7-11e4-9220-8075d8057961.png)

[2015-02-02 03:30] kring opened #2454 "IE9:Dragging Now Viewing items by arrows can cause UI artifacts"
Notice  that "Bores" is indented for some reason.

![image](https://cloud.githubusercontent.com/assets/924374/5995464/05fe07e4-aae8-11e4-9c19-f20286fc15a6.png)

[2015-02-02 03:32] kring commented on #2453
Sorry guys, wrong project! :)

[2015-02-02 03:32] #2453 closed

[2015-02-02 03:32] #2454 closed

[2015-02-02 14:00] mramato opened #2455 "Camera flight crashes in spline code"
Paste this into Sandcastle and you'll get a crash in the Spline code because of rounding errors, i.e. at the end of the flight [line 76 of Spline.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/Spline.js#L76) checks if `0.9` is greater than `0.8999999999999999` and throws a `DeveloperError`.

[code]

[2015-02-02 15:47] mramato opened #2456 "pixelOffset uses bottom left origin and is confusing to users"
Paste the below code into Sandcastle.  I'm pretty sure that 99.9% of our users would expect the pixelOffset at the bottom to move the label down 9 pixels, but instead it moves the label up.  I assume because it is using WebGL coordinates of bottom left.  Is this something we should change?  It's a non-code breaking change in behavior, but it would probably make offsets easier to use.  Thoughts?

[

[2015-02-02 15:48] mramato commented on #2456
Never mind.  I guess it was myself that was confusing.  A negative value does make sense here once I thought it through.

[2015-02-02 15:48] #2456 closed

[2015-02-02 16:35] SlySnake commented on #2446
It's good to see the new roll calculation implemented! I see that -right.z is used so that CW is positive, I suppose this was done for consistency as this is how heading works as well.

[2015-02-02 17:06] bagnell commented on #2446
Thanks for trying out the new camera code before it was released and submitting this.

[2015-02-02 17:06] #2446 closed

[2015-02-02 17:14] bagnell commented on #2451
Thanks again for trying out the new camera code and submitting this. The fix is in master. When the pitch is +/- 90, the heading is the angle from north of the camera's up vector and the roll is 0.0.

[2015-02-02 17:14] #2451 closed

[2015-02-02 17:28] bagnell commented on #2410
This change was reverted in #2440. Closing.

[2015-02-02 17:28] #2410 closed

[2015-02-02 19:13] pjcozzi opened #2457 "Support CORS in Cesium's development server"
At least when it is running locally.

After

[code]

add

[code]

[2015-02-02 20:18] kaktus40 opened #2459 "Use of IndexedDB in Cesium"
Hello,
do you think a valid contribution to save tiles in the indexedDB of the navigator?
This should limit network usage. After some research I determine that this functionality should save some images (for imageryProviders), some typedArray or maybe some JSON (for terrainProvider).

I try to make an implementation with one class and I could save the tiles generated by TerrainProvider.requestTile

[2015-02-02 20:37] pjcozzi commented on #2459
Can you share this research with specific scenarios and performance/request/memory numbers?

Right now we just rely on the browser caching.  More explicit caching could help.  However, we would also have to look at the terms of service for each data provider.

[2015-02-02 20:49] kaktus40 commented on #2459
Hello,
I don't have numbers on performance maybe the right word is not cached
but locally saved. The common use case could be access image tiles while
connected to the source (with webmaptileImageryProvider for example).
During the process to display images from a distant server, the
imageryProvider saves these in the local indexedDB. Later, when the
server is offline (or the computer is offline),

[2015-02-02 22:41] #2447 closed

[2015-02-02 22:49] mramato opened #2461 "Picking precision issue"
1. Run the [simple-style example](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=GeoJSON%20simplestyle.html&label=Showcases)
2. Zoom out so that all of the pins are lumped together.  Try and pick the top of the billboard, it fails to select.
3. If you continue to zoom in a little at a time, eventually you get close enough that the selection works.

You can always select the base of the

[2015-02-02 22:59] SlySnake opened #2462 "setView Heading/Pitch/Roll to orientation vectors"
I attempted to transcribe the code of Camera.prototype.setView that converts heading/pitch/roll to orientation vectors. I'm getting strange results, however. Maybe I made a mistake when I transcribed the code? I used scratch vars for the last parameter result since the function returns are always captured.

pitch 0 roll 0 for the following:
head +045.0 -> direction.y = +1
head +067.5 -> direction.

[2015-02-03 00:28] mramato opened #2463 "Problem with Primitive spec"
`Scene/Primitive failed geometry rejects promise and throws on next update.` does not run properly when running all unit tests against combined file with debug code removed.  I believe this is a problem with the test and the weird way it's trying to use an asynchronous web worker (I wrote the code and I was iffy about it at the time).

[2015-02-03 00:45] mramato opened #2464 "Drop down widgets do not go away on lost focus in IE"
This is IE specific.  None of the drop down widgets (imagery selector, mode selector, and help button) go away on their own in IE.  You have to specifically dismiss them.  This is probably related to our mouse handling and pointer events.

[2015-02-03 03:48] SlySnake commented on #2462
Just did some testing on camera.setView since 1.6 just came out a few hours ago and it seems fine so far. Perhaps this is not an issue. Maybe I'm just not reading the data correctly, such as mixing up world coordinates with ENU coordinates.

[2015-02-03 03:48] #2462 closed

[2015-02-03 15:03] pjcozzi commented on #735
Also just came across [mocha](https://github.com/mochajs/mocha) but did not evaluate it.

[2015-02-03 19:33] mramato commented on #2437
Fixed in #2315

[2015-02-03 19:33] #2437 closed

[2015-02-04 00:17] mramato commented on #1964
Never mind.  This still happens but not in Chrome.  It does happen in IE.  Maybe a missing extension in IE?

[2015-02-04 00:28] #2129 closed

[2015-02-04 03:48] mramato opened #2465 "Textures seem incorrect on ellipses"
As seen in the [Visualizing Spatial Data](http://cesiumjs.org/2015/02/02/Visualizing-Spatial-Data/) tutorial, paste the below code into Sandcastle and you get the below image.  I'm not exactly sure how a 4x4 checkerboard is supposed to work with ellipse, but it's definitely not right.  Same thing for every other material I tried with ellipses (more pictures in tutorial).

[code]

![image](https://

[2015-02-04 03:50] mramato commented on #2204
Give the 1.6 changes, this can be closed, correct?

CC @bagnell

[2015-02-04 04:10] mramato commented on #2307
I looked into this and nothing really jumped out at my in terms of use cases where this would help Cesium, since the feature set doesn't include many functions that we use.  It's also optimized for Chrome and doesn't guarantee it won't slow down other browsers, so I think that makes it a non-starter for us. (I'm also not sure if the project is still alive since there have been no commits in the la

[2015-02-04 04:16] mramato opened #2466 "Investigate Mozilla's sweet.js macro library"
Due to language limitations in JavaScript (lack of generics and macros) the DataSource layer has a ton of repetitive code in various places that I've always wanted to replace/generate with some sort of macro.  I found out mozilla has a library called [sweet.js](https://github.com/mozilla/sweet.js) that might make this a possibility.

Here's a [tutorial](http://jlongster.com/Writing-Your-First-Swee

[2015-02-04 13:00] #2307 closed

[2015-02-04 15:34] mramato commented on #2415
There are a couple of things at work here.

1. When in the camera's default mode, the closest you can get to the terrain is specified by the `viewer.scene.screenSpaceCameraController.minimumZoomDistance` property.  I believe it defaults to 20 (mainly because of the sky disappearing issue I think).
2. If you are in a different camera reference frame (i.e. you aren't looking at the center of the ear

[2015-02-04 20:27] mramato opened #2468 "Specifying a flyTo pitch of -90 degrees causes crazy flights"
Run the below example.  With the `2000` range value it goes crazy.  Change it to 0 and everything works nicely.

[code]

Here's a similar issue that is probably the same bug
[code]

[2015-02-04 20:30] mramato opened #2469 "Some camera functions seem broken in 2D"
I was trying to zoom to lla `88, 0, 27e6` in 2D mode and neither of the below calls work (each on their own should accomplish the task.

_Doesn't work_
[code]

_Does the same thing as above (Doesn't work either)_
[code]

[2015-02-04 21:48] #2204 closed

[2015-02-04 21:52] bagnell commented on #1107
This was added in 1.6.

[2015-02-04 21:52] #1107 closed

[2015-02-04 21:52] #2031 closed

[2015-02-04 22:05] #1978 closed

[2015-02-05 00:23] SlySnake commented on #2469
Perhaps range is a typo, should be roll instead? I don't see range anywhere in the setView function. Though pitch and roll in 2D always use defaults looking at the code. However I don't see how having an unused property would cause it not to function at all, or just the orientation is off perhaps?

[2015-02-05 01:51] SlySnake commented on #2468
Slightly offsetting pitch avoids the rolling flips
[code]
[code]
camera.direction doesn't have a horizontal component with vertical pitch, so there isn't really a heading of the direction vector in this case. Although I noticed in the new heading get code that the heading of the up vector is used instead when pitch is vertical.

[2015-02-05 10:45] kaktus40 commented on #2459
Hello,
to help I made a proof of concept (POC) with sandCastle.
[code]
After studying the POC, I have mixing feelings: maybe my approach isn't optimized (use of base64 String instead of blob to save image in indexed Database for example), but I found it slow. Initially my idea was to limit the  network toll in order to access directly a geographic position (for example Mount Everest in my code). I

[2015-02-05 10:53] kaktus40 opened #2471 "LASSO or RUBBERBAND"
Hello,
reading the following discussion, do you think it's a good idea to had a tool to draw entities via mouse in Cesium (new branch) or should it be a plug in?

https://groups.google.com/forum/embed/?place=forum/cesium-dev&showsearch=true&showpopout=true&hideforumtitle=true&parenturl=http%3A%2F%2Fcesiumjs.org%2Fforum.html#!searchin/cesium-dev/lasso/cesium-dev/GDQE5HB9Q8k/KgB-AqDV_kMJ

[2015-02-05 15:07] mramato commented on #2469
Yes, range is a typo (which I've now fixed), but it has no bearing on the actual issue, since roll just defaults to 0 anyway when not specified.

[2015-02-05 18:59] SlySnake commented on #2469
There may be a problem with position. I made a sandcastle example to factor out orientation and z position issues (position.z 0 seems to cause clipping issues.)
[code]
Entering various lon/lat values yields strange results.

[2015-02-05 20:13] pjcozzi opened #2472 "PinBuilder link is broke"
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/PinBuilder.js#L29

[2015-02-05 21:26] SlySnake commented on #2469
It takes time for camera._this mode to change from 3 to 2.
Add these lines to the end of the above sandcastle app
[code]
Here's one where does setView 1 second later, and it functions properly:
[code]

[2015-02-05 23:58] SlySnake commented on #2469
Currently heading won't do anything due to pitch being -90deg. However if you modify this line in camera.js
[code]
to
[code]
Heading will then work. Pitch -90deg should probably have special handling where up vector is initially set north then rotated about the Z vector heading amount of angle. Direction vector set as down, then right vector being the result of the cross product.

[2015-02-06 08:41] kaktus40 commented on #2471
Well, I'm not popular. I'll make a contribution with a drawHelper for entities but I don't know if this contribution should be a plug in or a real part of Cesium. Also I need your vision !

[2015-02-06 13:02] pjcozzi commented on #2471
Perhaps start with a plugin and then we can evaluate if it should go into core Cesium.

Please don't worry about the delayed response; the Cesium team is the most busy we have ever been.

[2015-02-06 18:21] mramato opened #2473 "viewer.flyTo and viewer.zoomTo give different results in 2D and CV"
`flyTo` always orients north, but `zoomTo` applies the specified heading.  The doc seems to indicate this is by design (at least for 2D).  But it also happens for CV.  Why do it at all?  I think `flyTo` should take the heading into account, just like `zoomTo` does.

While the below example uses the `viewer` commands, the actual behavior is defined in the `camera.flyToBoundingSphere` method.

[code

[2015-02-06 18:31] mramato opened #2474 "Starting in 2D mode breaks 3D mode."
1. Run the below example.
2. Switch to 3D.
3. Hit the `zoomTo` button
4. Terrain will be majorly busted (even though this is just using the ellipsoid provider).

To me it looks like tiles are being drawn in the wrong order so tiles in the back are overwriting tiles in the front, causing their skirt to show. Toggling different terrain providers after getting in this state does not fix the issue.

[

[2015-02-06 20:11] bagnell commented on #2474
I thought this might have been a recent commit where we disabled the depth plane in 2D. After a quick look at the order and render states of the tiles, everything looks good. Though if you replace `RenderState.partialApply` with `RenderState.apply`, everything renders correctly.

[2015-02-09 19:43] #2465 closed

[2015-02-09 19:43] #2363 closed

[2015-02-09 21:15] #2394 closed

[2015-02-10 01:48] kring commented on #1804
@mramato can you elaborate on the scoping bug?  I'm seeing some really weird behavior with Cesium's frustums in Safari 8.0.3 and I'm wondering if it might be a symptom of the same problem.  Details here if you're curious:
https://github.com/NICTA/nationalmap/pull/527

[2015-02-10 01:56] mramato opened #2479 "Cesium does not play well with Normalize.css?"
@emackey, hopefully this is an easy fix.

I'm using Cesium is a bootstrap-based page and the InfoBox title looks like the below:

![image](https://cloud.githubusercontent.com/assets/1495196/6119990/fe7669ba-b09d-11e4-9ed4-fbb590f4dc09.png)

Bootstrap uses normalize.css under the hood.  Order or css inclusion seems to have no effect.  Given the enormous popularity of these libraries, we should prob

[2015-02-10 03:19] mramato commented on #1804
The place I've been able to reproduce it is in [createPropertyDescriptor.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/DataSources/createPropertyDescriptor.js#L12), basically `privateName` and `subscriptionName` from line 12 both end up pointing to the same value inside of the `set` method.  Safari seems to get confused or make a bad optimization and all of a sudden two to

[2015-02-10 04:10] kring commented on #1804
Thanks, Matt.  That's a pretty crazy bug.  I'm not sure if I'm seeing the same thing or not.  It's one of those awesome bugs where any attempt at debugging it makes the bug go away.  I'll try out the nightly build of Safari to see if that helps at all.

[2015-02-10 04:57] mramato opened #2480 "Either getPickRay or globe.pick does not work in 2D."
Paste the below into Sandcastle. Clicking on the globe has no effect. Clicking off the globe alerts a failure. In 2D, it fails because `globe.pick` always returns `undefined` even when the map is picked,

[code]

[2015-02-10 14:35] vmora commented on #2172
Last link seems broken, here is the paper http://wscg.zcu.cz/WSCG2007/Papers_2007/journal/B17-full.pdf

And a review here http://vterrain.org/Misc/draping.html

[2015-02-10 14:41] SlySnake commented on #2480
For 2D it seems that ray already contains the clicked position without calling globe.pick
[code]
Though this might depend on HPR being (0,-90,0) while in the 2D mode.

[2015-02-10 15:10] kaktus40 opened #2482 "inconsistence in documentation about PolylineGlowMaterialProperty"
Hello,
in MaterialProperty and even in Visualizing Spatial Data blog, you talk about PolylineGlowMaterialProperty but in Cesium source the real object is [PolylineGlowProperty](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.6/Source/DataSources/PolylineGlowMaterialProperty.js#L32) .

[2015-02-10 15:46] emackey commented on #2479
Bootstrap thinks it's cool to switch the default box-sizing computations for all elements.

[code]

This makes it "easier for everyone to understand" or something like that, but also makes it different from the old default behavior (which is `box-sizing: content-box;`).

The fix is, we should explicitly specify a box-sizing model on any Cesium widgets that depend on `width`, or `height`, or a comb

[2015-02-10 16:19] jawntehrani opened #2483 "2015 OSGeo Code Sprint #1"
On the Cesium Up and Running Page, the following phrasing is a bit confusing...

"While the application is small, it has everything we need to begin a larger one. We’ll break down the four most important lines.

1. The first step is to include Cesium.js in a script tag. This defines the Cesium object, which contains everything we need."

in particular, the "need to begin-include" because it gave m

[2015-02-10 17:03] jawntehrani commented on #2483
In the Visualizing Spatial Data Tutorial:

I recommend flip flopping the following sentences ...

When fill is set to true, the material property determines what that filling looks like. In our next example, let’s create a translucent blue ellipse. By default, fill is true and outline is false, so we only need to specify material.

and styling the last false consistently with the other properties.

[2015-02-10 17:17] jawntehrani commented on #2483
Keeping the content intact, consider making the Visualizing Spatial Data tutorial multiple mini tutorials.

[2015-02-10 18:19] mramato opened #2484 "Ability to adjust image material translucency"
There's currently no way (at least in the Entity API, but it wasn't clear to me on the lower-level material either) to indicate whether an image material is translucent and what the alpha level should be.

[fourm post](https://groups.google.com/d/msg/cesium-dev/ep9gKuIsibg/8P0w59FeUToJ)

[2015-02-10 20:48] tlpinney commented on #1670
I tested this issue using 9f5fa6a2337b854caae08a8b45c9a5045d4b43c2 on OSX Yosemite using the following browsers.

Chrome: Version 40.0.2214.111 (64-bit)
Firefox: 35.0.1

I am not able to reproduce the issue.

[2015-02-11 15:09] mramato commented on #2179
[gx:latLonQuad](https://developers.google.com/kml/documentation/kmlreference#gxlatlonquad) is going to require support for trapezoidal texture projection, not sure where that fits in on the G&A pipeline.

[PhotoOverlay](https://developers.google.com/kml/documentation/photos) requires quite a bit of work and probably warrants further investigation with its own issue and roadmap when the time comes.

[2015-02-11 20:43] tlpinney commented on #2115
This occurs because the pickedPosition is coming back undefined in 2D mode.

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/ImageryLayerCollection.js#L365-L370

It may also be related to the issue #2480

[2015-02-11 20:53] mramato opened #2487 "Billboard rotation accuracy issue"
Paste this into Sandcastle, switch to 2D or CV and then pan/rotate around the map.  The arrow points down by default, so the below should make it always point south.  However, when you pan around the map, the arrow rotates slightly.  It happens in 3D too, but is more noticeable in other modes.  @bagnell thinks it's a precision issue in the shader.

[code]

[2015-02-12 14:35] mramato opened #2488 "Don't throw when working with already created geometry"
When using asynchronous `Primitive`, if you pass it a geometry that is already created, it will through because of lack of `_workerName`.  We should detect already created geometry and handle it accordingly and only throw if the Geometry isn't created.

[forum post](https://groups.google.com/d/msg/cesium-dev/a0DxKEDEsZA/NNC2H4bxV74J)

[2015-02-12 18:58] SlySnake commented on #2480
Just noticed that the SandCastle pick demo uses pickEllipsoid rather than getPickray for all 3 projection modes. (though getPickray is used as a sub-function of pickEllipsoid.)
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Picking.html&label=Showcases
[code]
pickEllipsoid calls the pick function for the current mode. Looking at pickMap2D it only cares about ray.origin from getPickRay a

[2015-02-12 19:57] SlySnake commented on #2480
pickEllipsoid in 3D calls IntersectionTests.rayEllipsoid which picks an ellipsoid with no regard for terrain.  Globe.prototype.pick on the other hand does have regard for terrain, but 2D doesn't seem to have terrain as it's -90deg pitch only with an orthographic projection which wouldn't even notice terrain even if it was enabled.

[2015-02-13 02:20] pjcozzi opened #2489 "How to select Mount Everest in Sandcastle example?"
After #2229, the drop down defaults to "Mount Everest", but to view it, you have to select something else and then jump back.  Can we just zoom to it by default since this is the terrain demo?

@abwood?

[2015-02-13 18:44] tlpinney commented on #2480
@SlySnake
Maybe it needs to check the projection mode and use Globe.prototype.pick for 3D and the pickEllipsoid for 2D?

I added a pull request that illustrates this at https://github.com/AnalyticalGraphicsInc/cesium/pull/2492
It is kind of hacky but I think it solves the issue with 2D and works with terrain in 3D mode.

[2015-02-13 20:10] SlySnake commented on #2480
I posted some more about this on a topic called 'camera.lookAt.range' (as Hyper Sonic.) on Cesium's forum (forum won't create a working link.) Is ImageryLayerCollection.prototype.pickImageryLayerFeatures called by viewer.scene.globe.pick? I believe the 'calling tree' is set up like this:

viewer.scene.globe.pick
-collects a list of tiles whom's sphere got intersected by the ray
-then calls GlobeSu

[2015-02-16 04:54] mantelpiece commented on #2442
This seems to cause an infinite loop if you are not using a ShowGeometryInstanceAttribute on the GeometryInstances and are just showing an entire Primitive using primitive.show.
The `typeof primitive.getGeometryInstanceAttributes === 'function'` condition is always true, but `defined(attributes) && defined(attributes.show)` is always false, leading to nothing being hidden and the loops repeats aga

[2015-02-16 19:18] cesium-user2 opened #2494 "EllipseGeometry documentation is wrong"
the "rotation" field is documented to be an "angle from north **(clockwise)**" . However it's seems to be **counter-clockwise**.

http://cesiumjs.org/Cesium/Build/Documentation/EllipseGeometry.html?classFilter=elli

In the context of rotation - it's also worth to say that the semi-major field is the value on the x-axis and semi-minor is the y-axis.

[2015-02-16 22:05] pjcozzi commented on #649
CC #2490 and #2493

[2015-02-16 22:15] pjcozzi commented on #1463
No update in quite a while here.  Closing.

[2015-02-16 22:15] #1463 closed

[2015-02-16 22:16] pjcozzi commented on #1506
@bagnell do you think polygons on terrain will fix this?

[2015-02-16 22:19] pjcozzi commented on #1682
OK to close this?

[2015-02-16 22:21] pjcozzi commented on #1805
Should this be closed and #1804 be opened?

[2015-02-16 22:22] pjcozzi commented on #1865
Discussion: https://groups.google.com/forum/#!topic/cesium-dev/cGXhVoUacMg

[2015-02-16 22:28] pjcozzi commented on #2132
More discussion: https://groups.google.com/forum/#!topic/cesium-dev/QnOxsA0iwa0

[2015-02-16 22:28] pjcozzi commented on #2139
@bagnell will billboards on terrain help here?

[2015-02-16 22:57] pjcozzi commented on #2172
@bagnell can you evaluate volume decals as an approach for polygons/polylines on terrain?  Think about performance and precision.

   * [Volume roads](http://www.humus.name/index.php?page=3D&ID=84)
   * [Volume decals](http://www.humus.name/index.php?page=3D&ID=83)

I don't know how to make it fast for polygons; it needs either a convex decomposition (not necessarily as fine-grained as triangulati

[2015-02-17 13:29] pjcozzi commented on #1097
Chapter 4 of [Usability Oriented Visualization Techniques for 3D Navigation Map Display](http://mediatum.ub.tum.de/doc/1195222/1195222.pdf) (2014) may also be useful.

[2015-02-17 13:48] pjcozzi commented on #2172
@bagnell here are some notes for the shadow volume approach:

* [ ] Remember not to use the bounding sphere for the polygon itself since the real polygon is where the volume intersects terrain.  The most conservative thing to do is to use the bounding sphere of the volume, but I think we can do better.
* [ ] To save fillrate, instead of using the max altitude to extrude up, we should add a functio

[2015-02-17 14:19] pjcozzi commented on #2172
Notes from our discussion on **billboards/labels**:

* [ ] Depth test origin in vertex shader using terrain depth buffer.  This will require VTF, which is 97% supported ([MAX_VERTEX_TEXTURE_IMAGE_UNITS](http://webglstats.com/)).
* [ ] Query height from terrain provider.  Have callback for when it refines.  Entity layer will update the billboards height.
* [ ] Longer-term, we might need to ability

[2015-02-17 14:31] pjcozzi commented on #2172
Also, I expect screen-space approaches (shadow volume, decal, etc.) to be much better for runtime editing than texture and sub-sampling approaches (sub-sampling may be OK, but I expect re-rasterizing the texture, especially if we made a sparse quadtree out of it, would be painfully slow).

[2015-02-17 14:44] pjcozzi commented on #2172
I'm not sure what the implementation looks like now, but we can do much better than brute force look at each triangle.  We can assume the triangle last used will be used next, and also use adjacency information (pre-compute once on the client I guess, or as a quantized-mesh extension) or a quad-tree arrangement inside the tile to find the right triangle.

This could be done on a web worker, e.g.,

[2015-02-17 15:20] pjcozzi commented on #2172
@bagnell perhaps we do polylines last.  We can evaluate shadow volumes for them using the corridor geometry and sub-sampling using the infrastructure we'll build for billboards/labels.  Chapter 3 of [Usability Oriented Visualization Techniques for 3D Navigation Map Display](http://mediatum.ub.tum.de/doc/1195222/1195222.pdf) is a nice comparison, but their sub-sampling does exact line-segment/trian

[2015-02-17 15:38] mramato commented on #1805
Doesn't really matter to me.  What we do need to decide is at what point do we put actual effort into supporting Safari.

[2015-02-17 15:38] #1682 closed

[2015-02-17 15:42] mramato commented on #2442
Could catch.  We should just shut off the entire primitive if it doesn't have the show attribute.

[2015-02-17 19:22] pjcozzi commented on #1366
Upgraded in #2495

[2015-02-18 04:23] kring commented on #2172
Not sure what you mean here.  Quantized mesh tiles already know the min and max height of any point within the tile.  Is that what you're referring to, or do you need something else?  Actually, heightmap tiles do, too, it's just computed at load time.

[2015-02-18 12:33] pjcozzi commented on #2172
No.  That will do it.  I clearly didn't look at the format.

[2015-02-18 14:36] gberaudo opened #2499 "CircleOutlineGeometry appears as cylinder"
Hello,

The following Sandcastle code used to display a floating circle.
However in 1.6 and master, a cylinder appears.
This issue seems related to the packing changes.

[code]

[2015-02-18 15:03] mramato commented on #2499
Thanks for the report.  That's definitely a bug.  The workaround for now is to add `extrudedHeight : height` as a parameter to the geometry.  We'll definitely get this fixed for 1.7

[2015-02-18 15:34] gberaudo commented on #2499
Thanks @mramato for the workaround.

[2015-02-19 21:36] pjcozzi commented on #758
The `display-condition` branch is now part of the [gfx](https://github.com/AnalyticalGraphicsInc/cesium/compare/gfx) branch, which has a few other odds and ends I am working on.  The display condition is really just d6041573a4966facba23b1eea389358ed3b018e9.

[2015-02-19 22:44] pjcozzi opened #2501 "flyTo using heading/pitch/range"
We can say where to fly to and the heading/pitch/roll to look at, but we can't say that we want to fly to a point looking at it from a specific heading/pitch/range.

[2015-02-20 16:46] mramato commented on #873
Hey @andre-nunes I know we haven't talked much but I just wanted to let you know that we just opened a PR for KML to go into master (link above this post).  There's still a lot of work to do with KML overall, but it's looking really good for a bunch of use cases.  That's again for getting the ball started on this!

[2015-02-20 17:04] andre-nunes commented on #873
Hi @mramato, I'm really glad to see some of my work being finally merged into cesium, let me know if there's something I can help out with in my free time. Oh and I just noticed that you've updated GSoC's ideias for 2015, is Cesium applying this year? I might shoot you an email regarding that ;)

[2015-02-20 17:09] mramato commented on #873
Yes, we're applying. I assumed you graduated already. Definitely let me know if you're interested and what you want to work on.

[2015-02-20 18:01] mmacaula opened #2504 "Cesium should stop rendering when the browser is not active"
Wondering if it might be useful to use the Visibility API to pause rendering of cesium while the page is not visible to save battery life?

http://www.smashingmagazine.com/2015/01/20/creating-sites-with-the-page-visibility-api/

[2015-02-20 18:07] mramato commented on #2504
@mmacaula it's a possibility but the user may not want to stop processing just because it's in the background (for example if you are loading a large data set).  And browsers already stop rendering if you are on a separate tab or minimized.

In either case, we already have #1865 for this issue, so I'm going to close this.  There's also a mailing list discussion about it at https://groups.google.co

[2015-02-20 18:07] #2504 closed

[2015-02-20 18:11] mmacaula commented on #2504
Fair enough, thanks as always for the super fast response @mramato !

[2015-02-20 18:13] mramato commented on #1865
As mentioned in the above issue, using the visibility API might also help out here in some circumstances: http://www.smashingmagazine.com/2015/01/20/creating-sites-with-the-page-visibility-api/

[2015-02-21 18:27] pjcozzi commented on #2172
@bagnell I had more ideas about point-in-volume.

We already discussed:
* If not already in it: `bounding sphere` -> `extruded convex hull` -> `exact test`
* If already in it: `inscribed sphere` -> `inscribed convex hull` -> `exact test` (actually probably check `bounding sphere` and `extruded convex hull` before the `exact test`)
* Later: consider BVH to avoid O(n) over all polygons.

Here's a fe

[2015-02-23 03:16] mramato commented on #2333
Also [reported on the forum](https://groups.google.com/d/msg/cesium-dev/-B_GB5yQX4c/b0cijEBS5ckJ)

[2015-02-23 21:31] cesium-user2 opened #2509 "Add an option to use html5 canvas as a rectangle material"
Canvas has very useful capabilities and it would be great to be able to use it directly as a material.

I thought of Something like this:

[code]

For now one can use code that looks like this:
[code]
but this way is not very efficient...

[2015-02-23 23:09] mramato commented on #2509
I'm surprised this doesn't work already, but I agree we should support it.

[2015-02-24 22:39] bagnell opened #2511 "Incorrect straight CorridorGeometry"
Copy the below code into Sandcastle. The corridor should be straight along the longitude.

[code]

[2015-02-24 23:21] #2114 closed

[2015-02-25 00:08] pjcozzi commented on #1825
[forum post](https://groups.google.com/forum/#!topic/cesium-dev/yZZ7myb4V3w)

[2015-02-25 02:06] SlySnake commented on #2511
This array is straight
            -67.655, 0.0,
            -67.655, 10.0,
            -67.655, 20.0,
This array bends
            -67.655, 0.0,
            -67.655, 15.0,
            -67.655, 20.0,
This array is straight
            -67.655, 0.0,
            -67.655, 20.0,
            -67.655, 40.0,
This array bends
            -67.655, 0.0,
            -67.655, 30.0,
            -67.655, 40.0,

[2015-02-25 18:15] #2479 closed

[2015-02-25 21:54] asimps opened #2514 "Adding entity after delay causes entities to not display"
Entities do not appear if an entity is added after a short delay following viewer creation.  If an entity is added after a delay of 5ms or so, it causes one or all of the other entities to not appear.  With a very large delay (like 5000ms), things seem to work correctly.

In our environment, the delay happens because we make an AJAX request to the server to retrieve additional data points.

Paste

[2015-02-25 22:08] mramato commented on #2514
Thanks for the report.  This is definitely a bug and related to a similar issue I cam across recently that involves updating static data in quick succession.  I'll try and see if I can fix it for the next release (but I can't garuantee anything until I look more into it).  (But I'm leaning towards a simple fix).

In the mean time, if you know when your updates are about to start and finish, then y

[2015-02-25 22:27] andre-nunes commented on #2402
Hey, I'd like to implement this and would like more details.

After a quick look I think I'd need to change ``LabelCollection.js``, but what exactly? Do I add the y-offset calculation to the ``repositionAllGlyphs`` function? What else would need to be changed?

Let me know, thanks.

[2015-02-25 23:03] chris-cooper opened #2516 "PolylineGeometry colorsPerVertex seems broken in 1.6+"
This code shows per-vertex colours in Sandcastle in 1.5 but not in 1.6 or master.  Is there an interface change I missed?

    var viewer = new Cesium.Viewer('cesiumContainer');
    var scene = viewer.scene;

    var instance = new Cesium.GeometryInstance({
      geometry : new Cesium.PolylineGeometry({
          positions: Cesium.Cartesian3.fromDegreesArray([
        0.0, 0.0,
        5.0, 0.0,

[2015-02-25 23:07] mramato commented on #2402
I think that's exactly what you need to do.  There might be more to it than that, but we probably won't know until we try.  It might turn out to be pretty simple.

[2015-02-26 00:45] asimps opened #2517 "Billboards sandcastle not working on Safari"
We are aware that Safari is not officially supported by Cesium.  Nevertheless, our Safari implementation is fully working with the exception of billboards.  The billboards sandcastle does not work in Safari (http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Billboards.html&label=Showcases), even when WebGL is enabled.  Your FAQ indicates that Safari should be supported by early 2015.  Is t

[2015-02-26 01:01] asimps opened #2518 "Possible to determine status of loading imagery?"
We display cockpit-view animation starting at takeoff.  When a user requests the animation, we want to wait until enough of the runway is rendered before moving the camera. Is there a way to tell how much of the terrain and imagery is loaded - something we can poll, or something that returns a callback?

[2015-02-26 01:57] mramato commented on #2517
We are constantly monitoring and re-evaluating Safari in order to determine at what point we can officially support it.  Unfortunately the browser seems to be just plain buggy and has several showstopping issues.  Some of these are fixed in the latest webkit nightly builds, but that doesn't help us until it is in an official Safari release (on both iOS and Desktop).  Even the Nightly still has maj

[2015-02-26 01:57] #2517 closed

[2015-02-26 02:04] mramato commented on #2518
I won't repeat myself from the other issue, but this should be all you need: https://groups.google.com/d/msg/cesium-dev/lz_BvEmWYq0/PTc9-32Oo28J

[2015-02-26 02:04] #2518 closed

[2015-02-26 02:04] mramato commented on #2518
Just to clarify, there's no official support yet, but there's a workaround in that link.

[2015-02-26 11:49] alexander-entin opened #2519 "camera.flyToBoundingSphere doesn't respect range when radius is zero"
https://github.com/AnalyticalGraphicsInc/cesium/blob/1.6/Source/Scene/Camera.js#L2490-L2495
I'd say it should be wrapped with
if (!offset.range) { ... }
to only change the range if it wasn't provided

[2015-02-26 14:06] speigg opened #2520 "Remove samples prior to a certain time (SampledProperty)"
Is there a simple way to prevent sampled data from accumulating indefinitely, such as removing the oldest data?

[2015-02-26 14:35] mramato commented on #2520
There's no official way to do this yet, but we'll add one sometime soon.  In the meantime here is a code snippet you can use.  Keep in mind this is accessing private functions, so you'll want to stop using this as soon as the real version is available.

[code]

The above will work for `SampledProperty`, but not `SampledPositionProperty`, for positions, you can pass in `positionProperty._property`

[2015-02-26 15:21] emackey commented on #1825
I think this was auto-closed prematurely.  #2515 is listed as only a partial fix.

[2015-02-26 15:34] speigg commented on #2520
Thanks!

[2015-02-27 14:40] mramato opened #2521 "Labels do not work for surrogate pairs"
As discussed [on the forum](https://groups.google.com/d/msg/cesium-dev/6EA78tUxGRY/xMr9cfJGS1IJ) JavaScript treats surrogate pairs as two characters, when in reality they are one.

To reproduce:

[code]

The easiest short-term work around for this is to use a Billboard instead (writeTextToCanvas works fine, this problem is specific to LabelCollection).

[2015-02-27 16:06] #2489 closed

[2015-02-27 16:21] #2511 closed

[2015-02-27 16:38] mramato commented on #2521
Using ES6 (and the polyfill available here: http://norbertlindenberg.com/2012/05/ecmascript-supplementary-characters/) it should be possible to fix LabelCollection to detect this and draw surrogate pairs as a single glyph.

[2015-02-27 17:09] mramato commented on #2401
I've re-opened this because it manifests in other ways (as described in #2503, switching modes in the the KML bike ride example.)  It still appears to be Chrome only, I'm just not sure if it's a Chrome bug or on our end.

[2015-02-27 19:14] wallw-bits opened #2522 "Mouse camera controls can get temporarily 'stuck on'"
This is best demonstrated by the following in Sandcastle:

    var viewer = new Cesium.Viewer('cesiumContainer');
    var controller = viewer.scene.screenSpaceCameraController;
    controller.enableLook = false;

To produce the issue, do the following in order:
* Mouse down
* Shift down
* Mouse up
* Shift up

Cesium now rotates the globe with mouse move even though both mouse buttons are up. Click

[2015-02-27 19:17] pjcozzi opened #2523 "Better maximumLevel for WebMapTileServiceImageryProvider"
`maximumLevel` defaults to `18`, which cuts off high-resolution imagery.  We can
* implement `GetCapabilities` (perhaps covered in #2362?), or
* just let requests for tiles that don't exist fail, I imagine.

[2015-02-27 19:26] pjcozzi commented on #2519
Thanks for the report.

[2015-02-27 20:41] emackey commented on #2522
I think this bug is in `CameraEventAggregator`, which does its own button up/down tracking differently from how `ScreenSpaceEventHandler` tracks up/down state.  The former is too particular about tracking multiple buttons at once, and thinks that `shift-mouse-up` is a different button being released than the non-shift button-down.  `ScreenSpaceEventHandler` takes a simpler approach, where any mous

[2015-02-27 22:06] pjcozzi commented on #450
Potential [GSoC 2015 project](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Google-Summer-of-Code-Ideas-2015#navigation).

[2015-02-27 22:12] #1936 closed

[2015-02-27 22:14] pjcozzi commented on #2091
Is this still an issue in the latest version of FF?

[2015-02-27 22:17] pjcozzi commented on #2430
@mramato is there more to do here after the KML branch is merged?

[2015-02-28 00:05] mramato commented on #2430
This can be closed.  There's some odds and ends we might clean up later, but that has more to do with the InfoBox and nothing to do with sanitization.

[2015-02-28 00:05] #2430 closed

[2015-02-28 15:31] SlySnake commented on #2522
Is it intentional that camera look is left out of the Navigation Instructions button on the top right?

Here's another bug just with
var viewer = new Cesium.Viewer('cesiumContainer');

Tilt via ctrl and left drag
left go of ctrl and continue to left drag
then let go of left button
now you can tilt with ctrl drag without using any mouse buttons

Maybe reactToInput should be given up/down status of

[2015-02-28 19:13] pjcozzi commented on #1754
Thanks again @vinjn.  This is a good catch since Cesium was trying to handle this case but was not doing so correctly; it had a separate draw call for each instanced node, but they all used the "last" parent's transform.

I hacked up a partial fix in [gltf-instancing](https://github.com/AnalyticalGraphicsInc/cesium/compare/gltf-instancing) but it is ugly and only works for multiple immediate paren

[2015-02-28 19:18] fabrobinet commented on #1754
I confirm but it's not a big overhead as you can share the same geometry.

[2015-02-28 19:25] pjcozzi opened #2524 "Cesium 2"
There is not official plans for Cesium 2 yet, but @mramato and I have been discussing potential breaking changes and this is the place to track them.

* ES6
* Clamp to ground (terrain) by default throughout.

[2015-02-28 19:38] pjcozzi commented on #1754
Agreed, I'm not concerned about the overhead, just the time I need to update the code :)

[2015-02-28 21:59] pjcozzi commented on #2074
Thanks for the note @mourner.  We'll have a look when we revisit this again.

[2015-03-01 04:16] SlySnake commented on #2522
If you press/hold any mouse button first:
-ctrl and shift presses go unrecorded (drag just moves pointer)
-however if you let go of the mouse button while ctrl or shift is down mouse up will go unrecorded (as you'll notice once you do let go of the modifier key)

Cesium has a recording problem:
-If any mouse button is down it won't record modifier key down.
-If any modifier key is down it won't re

[2015-03-01 09:53] speigg commented on #1804
I'm seeing this bug too, and it seems to happen randomly. This happens on both desktop safari and mobile safari. I suggest modifying the changeProperty function to:

[code]

And simply appending the 'Subscription' string inside the createProperty function...

[2015-03-01 10:44] speigg commented on #1804
So, I tried what I suggested above (moving all string concatenation into createProperty), and somehow Safari still managed to break it. I had to call `name.toString()` in order to make it work reliably:

[code]

[2015-03-01 10:46] speigg commented on #1804
In fact, using `name.toString` alone seems to be enough to make it work:
[code]

[2015-03-01 22:52] #2499 closed

[2015-03-02 04:27] mramato commented on #2516
This was indeed a bug due to a typo. It will be fixed in 1.7.

[2015-03-02 04:41] mramato commented on #2482
Thanks I just opened a PR to fix this.  The actual API has always been `PolylineGlowMaterialProperty` and the var in `PolylineGlowMaterialProperty.js` has been updated to match (as well as the doc).  It's actually the filename that controls how it appears in the public API.

[2015-03-02 04:45] #2472 closed

[2015-03-02 04:46] mramato commented on #2463
This was also discussed in #2495

[2015-03-02 05:05] mramato commented on #2233
Assuming this is still a bug (and any of you remember what the issue is) we should probably put some details here before people forget.  It's already been 4 months.

[2015-03-02 13:08] alexander-entin opened #2532 "Cartesian3.prototype.equalsEpsilon doesn't accept absolute epsilon"
Not a big deal, just inconsistency.

Cartesian3.equalsEpsilon(a, b, 0, 1) // checks against absolute epsilon
a.equalsEpsilon(b, 0, 1) // ignores the last parameter and thus checks for exact equality

[2015-03-02 13:32] pjcozzi commented on #2516
Fixed in #2529

[2015-03-02 13:36] #2516 closed

[2015-03-02 13:40] #2482 closed

[2015-03-02 13:41] pjcozzi commented on #2482
Thanks again for the report, @kaktus40.

[2015-03-02 14:33] mramato commented on #1805
I think #2533 is the best we are going to do for Safari anytime soon.  Tests still bomb because it stops creating contexts halfway through; and overall Safari likes to get crashy after a while; but all of the demos work and I think for normal application usage we're probably in pretty good shape.  With some more testing, I think we might be able to say we support Safari (at least as well as we sup

[2015-03-02 14:52] emackey commented on #1865
I don't think the visibility API is the right answer here, as `requestAnimationFrame` already takes page visibility into account.

Question, what is the best approach to implement this?  Would there be a flag on Scene or RenderState or Context or someplace that gets set "dirty" indicating that one or more of @kring's conditions have been met?

[2015-03-02 16:10] mramato commented on #2532
Thanks for the report.  I just opened a PR to fix this.

[2015-03-02 18:31] #2514 closed

[2015-03-02 18:32] pjcozzi commented on #2514
@asimps thanks again for the report.  The fix will be in Cesium 1.7, which will be released shortly.

[2015-03-02 18:33] asimps commented on #2514
Many thanks to you guys!

[2015-03-02 19:17] #2519 closed

[2015-03-02 22:03] GatorScott commented on #873
Some, because I didn't try them all, of the KML files available from http://activefiremaps.fs.fed.us/googleearth.php result in error.

An error occurred while loading the file: conus_latest_modis.kml
An error occurred while loading the file, which may indicate that it is invalid.  A detailed error report is below:

Request has failed.

[2015-03-02 22:25] kaktus40 commented on #2523
Hello,
for information a [maxLevel](https://github.com/AnalyticalGraphicsInc/cesium/pull/2362/files#diff-172608673893e23925c6daf728914ef5R804) property is defined for WMTS capabilities

[2015-03-02 23:00] pjcozzi commented on #1754
@satishkashyap also reported this bug with a different model: https://github.com/KhronosGroup/glTF/issues/363

[2015-03-02 23:18] GatorScott commented on #873
The file https://www.google.com/maps/d/kml?mid=zp8nK_5H0MFQ.kzTmU5XK-qJQ results in the following:

An error occurred while loading the file: 2015 California Fire Map.kmz
An error occurred while loading the file, which may indicate that it is invalid.  A detailed error report is below:

TypeError: Cannot read property 'length' of undefined
TypeError: Cannot read property 'length' of undefined

[2015-03-03 00:26] mramato commented on #873
Thanks @GatorScott.  The `Request has failed.` is a CORS issue. Just like imagery, any KML files loaded via url to another website or that contain a NetworkLink to another website either needs CORS to be enabled on that server or it has to go through a proxy. I'm writing up a tutorial on using KML in Cesium and I plan on having a section covering this.

That being said, once I used a proxy, I got

[2015-03-03 00:44] mramato commented on #873
#2538 fixes the length problem.

[2015-03-03 00:57] chris-cooper commented on #2516
Great, thanks!

[2015-03-03 02:04] mramato commented on #873
#2539 fixes the rest of the issues.  All of the files @GatorScott linked to should now load and work in Cesium (though loading directly from the URL, or ones that use NetworkLink still require use of a proxy).

[2015-03-03 08:45] SlySnake opened #2540 "Handling of zero magnitude cases in Cartesian3.normalize"
Zero magnitude causes divide by zero which causes NaN in place of what should be a number. Those NaNs often times cause a crash further down the road and the crash report only traces about 8 functions back. Hunting down the cause can waste alot of time.

Perhaps have a quick zero magnitude check: if(cartesian.x==0 && cartesian.y==0 && cartesian.z==0)

Some possible actions if true:
console.log("wa

[2015-03-03 11:27] kring opened #2541 "Smeared imagery on some mobile devices"
Originally reported here:
https://groups.google.com/d/topic/cesium-dev/ouQyJY0LiRs/discussion

The immediate cause is that the `webMercatorT` vertex attribute is receiving incorrect values in the imagery reprojection shader.  The attribute is set with the following code (in `ImageryLayer`):

[code]

I've confirmed that the `webMerctorT` `Float32Array` is correct.  On the problematic mobile devices

[2015-03-03 12:23] pjcozzi commented on #2540
I suggest putting a wrapper around `normalize` in your application as we are unlikely to add a check in the low-level code to keep it lean and performant for the common case.

[2015-03-03 14:16] alexander-entin opened #2542 "PolylineGeometry drops close points"
Hard to explain. Please, run below code and try to zoom in/out.
BTW `SimplePolylineGeometry` works correctly.
[code]

[2015-03-03 14:27] mramato commented on #2542
There's definitely something funky going on here.  @bagnell can you take a look?

[2015-03-03 14:34] SlySnake commented on #2540
I understand about keeping the functions very lean, particularly ones called quite often and shouldn't involve checks for rare cases. Thanks, I'll be sure to instead wrap the check into another function that in turn calls normalize if non-zero.

[2015-03-03 14:34] #2540 closed

[2015-03-03 14:46] #2532 closed

[2015-03-03 14:54] mramato opened #2543 "Labels incorrect for right-to-left languages"
Similar to the problem in #2521, because we render each character individually, we are always rendering left to write, where some languages are right to left.  It should be easy to render in the opposite direction, the question is whether we can automatically detect this or if we have to rely on the user telling us.

[2015-03-03 14:56] mramato commented on #2543
[forum post](https://groups.google.com/d/msg/cesium-dev/VbAwCV2PWTU/PO_7JDBuQ2UJ)

[2015-03-03 15:26] GatorScott commented on #873
The "2015 California Fire Map KML" works now but is displaying the placemark names using a serif font that is pretty illegible.

[2015-03-03 16:06] speigg opened #2544 "JulianDate.fromIso8601 throws error"
[code]

[2015-03-03 16:20] mramato commented on #2544
Thanks, it is an invalid ISO8601 date, but we should throw in `toIso8601` indicating why instead of in `fromIso8601`.

[2015-03-03 16:24] speigg commented on #2544
What makes it and invalid ISO8601 date?

[2015-03-03 16:34] mramato commented on #2544
According to the spec, 0000 and 9999 are the min/max values for the year components, so `0000-01-01T00:00:00Z` is the earliest date possible.

That being said, the spec makes allowances for "expanded representation", which would allow Cesium to support an arbitrary number of digits for the year if the need every arises.

[2015-03-03 18:59] speigg commented on #2544
Okay thanks for explaining. Shouldn't the default JulianDate be `000-01-01T00:00:00Z` if that's the case?

[2015-03-03 19:06] mramato commented on #2544
No, `JulianDate` is different format, [Julian day](http://en.wikipedia.org/wiki/Julian_day).  A Julian day of 0 corresponds to -4713 BC.  There are lots of ways to represent dates and they are not all compatible.  `JulianDate` happens to be the most precise, accurate and performant for Cesium's use cases, so that's what we use internally.  We provide utility functions to go back and forth in diffe

[2015-03-03 19:14] mramato commented on #873
It's using the browser's default san-serif font, but I agree it could be done better.  I also want to allow people to select the font to use for labels as well.  Cesium's label rendering as a whole needs improvements, this problem is not specific to KML.  I'll write up an issue, since I don't think we have one right now.

[2015-03-03 20:03] GatorScott commented on #873
You wrote "san-serif" when it should be "sans-serif" which is French for without serif.

[2015-03-03 20:19] AdamFinley opened #2545 "Error when InfoBox is displayed"
To reproduce:
1. Go to 1.7 sandcastle
2. Open Web Map Service (WMS) example
3. Click in data region

Rendering stops and error is displayed.  Console output:
[code]

Can also trigger error by making a simple entity with a label and description and clicking it to open InfoBox.

[2015-03-03 20:19] mramato commented on #873
Looks like that typo is also in the KML code, so it's not even using `sans-serif` but instead whatever the default browser font is.  Unfortunately, fixing it doesn't fix the overall problem so we still have a bug somewhere in `LabelCollection` or `writeTextToCanvas`.  Thanks for the heads up.

[2015-03-03 20:47] mramato commented on #2545
Thanks, this was definitely a big good on our end.  I'm looking into the possibility of doing a Cesium 1.7.1 now.

[2015-03-03 22:04] GatorScott commented on #873
Could you make that a bold sans-serif by default?  It looks way better.
![image](https://cloud.githubusercontent.com/assets/4126790/6473341/d37235ac-c1c6-11e4-8b42-59c7ce60cf0a.png)

I tried to get a non-bold picture but the California fire file doesn't work from cesiumjs.org.

[2015-03-03 22:51] #2545 closed

[2015-03-04 15:22] ilyes-issaoui opened #2548 "How to use Kml Support"
I downloaded cesium 1.7,
and I want to use the functionality of KML (KmlDataSource)

in the demo "kml.html" the focntion "require.config" is used to integrate the necesary modules.
require.config ({
         baseUrl '../../../Source'
         WaitSeconds: 60
     });
I did not understand how this method works.
Should I integrate the needed files manually?

[2015-03-04 15:37] #2548 closed

[2015-03-04 23:39] kring commented on #1865
Agreed re: the visibility API.  It doesn't help.

I think a dirty flag is a reasonable way to go.  Ideally we would stop the `requestAnimationFrame` completely when nothing is changing.  We currently do this in National Map.  It works ok, but it's pretty hacky doing it outside of Cesium.  For example, I've hooked `loadWithXhr` and `TaskProcessor` to fire the render loop back up when data is loaded

[2015-03-05 00:25] andre-nunes commented on #2402
It seems that @abwood had a working initial implementation. I hope there's no problem in me using this commit https://github.com/abwood/cesium/commit/689a166f6d0fb265a1fcddbeac098a9343734a64 as a starting point, right now it looks like this:

![multiline](https://cloud.githubusercontent.com/assets/3066457/6496233/611fe914-c2c9-11e4-902e-6528202a2938.png)

Should the label be completely above the b

[2015-03-05 00:49] mramato commented on #2402
Awesome, yes, starting with @abwood's code is fine in this case.

Where the text ends up is dependant on the vertical origin setting. Look at the documentation for vertical origin here: http://cesiumjs.org/Cesium/Build/Documentation/Label.html#verticalOrigin there's also a useful picture.

The offset by distance stuff is probably getting in the way here, so I wouldn't use it for your testing. Here

[2015-03-05 11:20] manujain commented on #2287
Hi
I would like to fix this up. Can you guide how to proceed forward? Thanks!!

[2015-03-05 12:38] pjcozzi commented on #2287
Hi @manujain.  Thanks for the interest.  Please read [CONTRIBUTING.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md).  Then check out [Primitive.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Primitive.js).  In the `update` function, you'll want to look at `this.modelMatrix`, `this._modelMatrix`, and `frameState.mode`.

[2015-03-05 13:24] pjcozzi commented on #1262
This was requested on the forum:

* [ ] [Custom queries](https://groups.google.com/forum/#!topic/cesium-dev/Pr2vv87299I)

[2015-03-05 13:55] manujain commented on #2287
@pjcozzi , I think we need to add throw exception statement in "https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Primitive.js#L1214" . Am I right?

[2015-03-05 14:04] pjcozzi commented on #2287
Yes, in that area of the code, but we only throw if (the matrix changed and (the scene mode is in 2D/CV, or the number of instances is greater than one)).  Please include tests.

[2015-03-05 14:04] pjcozzi commented on #2287
And update the reference doc.

[2015-03-05 14:28] manujain commented on #2287
It is "else if" statement of "https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Primitive.js#L1220" -
else if (this._numberOfInstances > 1 || (frameState.mode === SceneMode.COLUMBUS_VIEW || frameState.mode === SceneMode.SCENE2D)) {
        throw new DeveloperError('If the model matrix is changed after creation, it only affects primitives with one instance and only in 3D mode

[2015-03-05 15:00] pjcozzi commented on #2287
Have you set up a development environment (see [here](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Contributor%27s-Guide))?  Give it a try, write some tests, and see where it takes you.

[2015-03-05 19:12] manujain commented on #2287
I am building the environment. Can you assign this issue to me? As soon as I finish building I'll fix this issue. Can you also suggest some other bugs related to the project "Compass / Navigation Widget" og GSoC 2015. Thanks!

[2015-03-05 19:16] pjcozzi commented on #2287
Consider it assigned.

@kring is the best person to help here.

[2015-03-05 19:48] mramato commented on #873
I opened #2549 which majorly improves font issues (but is going to probably be partially held up by #2130).  We could go with a bold in the meantime, I also recommended a monospace font in a comment in that PR which looks good without bolding.

[2015-03-05 20:06] mramato opened #2550 "Support custom geometry with web workers"
The `_workerName` property on our geometry is currently undocumented, this prevents users from using our worker-based pipeline for their own geometries.  We should expose this property and also allow users to specify a name that is not relative to the Workers directory.

[forum discussion](https://groups.google.com/d/msg/cesium-dev/Grq4v94G4E4/9KyL0hdEhJAJ)

[2015-03-05 20:08] mramato commented on #2550
@shunter also made some recommendations in #2495 that might address this.

[2015-03-05 20:14] emackey opened #2551 "Console error in the "built" CesiumViewer App"
The built version does not deploy `InfoBoxDescription.css`, which is needed independently of the other minified files.

[2015-03-05 20:16] mramato commented on #2551
Good catch, I'll look at this ASAP.

[2015-03-06 00:41] dical99 commented on #302
Just wanted to add my vote in for this feature as well - our users have also been requesting it.

[2015-03-06 00:48] mramato commented on #302
There's a discussion about this (and some links to various implementations) in [this forum thread](https://groups.google.com/d/msg/cesium-dev/XOZia9zx3LE/vt0whQYOk98J).  We're happy to take pull requests for this into core Cesium.

[2015-03-06 01:02] scothis commented on #302
We implemented a basic zoom to mouse feature in user land. Happy to wrap it into a PR if people like.

https://gist.github.com/scothis/c9f2695f03380ca5dd96

[2015-03-06 06:02] manujain commented on #2287
@pjcozzi , can you tell how to write tests and update reference doc?

[2015-03-06 07:40] netanelgilad commented on #302
@scothis This seems like exactly what we need. Would love to see you PR it and have it integrated into cesium.
Thanks.

[2015-03-06 08:39] gberaudo commented on #302
@scothis, maybe you could take the terrain into account and instead of using the height of the camera, use the distance from the camera to the intersection of the `directionToZoom` ray with the terrain.

[2015-03-06 10:11] 111CR0103 commented on #1898
I have attended this issue and created a 'New' Button in the cesium viewer app which when clicked redirects the user to 'Hello World' example. With the help of this code, I can even add this functionality to Sandcastle. Below image and code shows its implementation.

[code]
![pageview](https://cloud.githubusercontent.com/assets/2352166/6523565/11d8c822-c417-11e4-87d6-f3ba4be19bfb.png)

[2015-03-06 14:10] pjcozzi opened #2553 "Test failures in master"
Perhaps Mac only?

[code]

[2015-03-06 15:04] mramato commented on #2553
Mac only, but genuine (since browsers are terrible).  This is another manifestation of #2545.  Apparently you can't call `getComputedStyle` on a non-element on mac (but it works on other systems.  Fix is incoming.  Good thing we caught this before 1.7.1.

[2015-03-06 15:54] #2553 closed

[2015-03-06 15:54] pjcozzi commented on #2545
Thanks again for the report.  This was fixed in #2554.

[2015-03-06 15:58] AdamFinley commented on #2545
Very impressed with the fast response and resolution of this issue!  Thank you!

[2015-03-06 15:59] #2551 closed

[2015-03-06 16:58] AnandDhoot commented on #1185
Hi,
I would like to take up this issue. I have just downloaded and built the codebase on my machine.
Request your guidance on how to proceed on my first bug fix!
Thank you

[2015-03-06 22:29] pjcozzi commented on #1185
Thanks for the interest, @AnandDhoot.  This issue is not very high priority right now.  May I suggest you consider #1670?

[2015-03-06 22:31] pjcozzi commented on #1898
Thanks for the initial work, @111CR0103.  Our plan here is to put this in Sandcastle using the same style as the rest of the Sandcastle buttons.

[2015-03-06 22:33] pjcozzi commented on #2287
For example tests, see [PrimitiveSpec.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Specs/Scene/PrimitiveSpec.js).  This is also the file you would add tests to.

The reference doc should be added to [Primitive.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Primitive.js) where you made the code change.  For example, see [Line 707](https://github.com/

[2015-03-06 22:50] pjcozzi commented on #2541
Try storing the vertex buffer in a separate variable for accessing it, which is commonly done through the primitives.

Perhaps there is a bug in `VertexArray` where `_attributes` is mis-ordered when VAOs are present.

Perhaps there is a state issue since that test didn't fail...I wouldn't think so though.

[2015-03-07 01:29] rap2363 commented on #302
@gberaudo  I agree that the distance being scaled by the distance to the projected point-to-zoom is a stronger metric, but what if you're in a 2.5D view and try zooming directly into space?

[2015-03-07 03:34] AnandDhoot commented on #1185
Sure! Thanks for your reply.

[2015-03-07 03:51] AnandDhoot commented on #1670
I tested this bug on Linux Ubuntu as well as Windows 8.1 on the following browsers -

Ubuntu -
Chrome: Version 41.0.2272.76 (64-bit)
Firefox: 35.0.1

Windows -
Chrome: Version 41.0.2272.76 (64-bit)
Firefox: 35.0.1
Internet Explorer: 11.0.9600.17631

I am unable to reproduce the issue. Am I missing something?

[2015-03-07 04:19] SlySnake commented on #302
If the mouse ray (=camera origin & goes through pointer) doesn't intersect Earth it could instead scale using the camera's nadir vector intersect distance (nadir vector always intersects the Earth.) I've found zooming into open space to be quite useful (toward and away.)

Zooming along the mouse ray is very easy to implement, however it introduces a non-zero roll in the local ENU frame. Without a

[2015-03-07 13:30] pjcozzi commented on #1670
Did you include this step?

The UI is in the upper-right corner of Cesium Viewer.

[2015-03-07 14:33] adi2412 commented on #1898
Mind if I work on this one?(Apologies if someone might be already working on this)

I'm guessing the button needs to be in the top toolbar, like so(New on the top left):

![screen shot 2015-03-07 at 8 01 45 pm](https://cloud.githubusercontent.com/assets/2319795/6541671/d12258ea-c504-11e4-9e91-06c9fcafb124.png)

[2015-03-07 14:55] mramato commented on #1898
@adi2412 Yes, that is correct.  Feel free to open a pull request when you are ready.  @111CR0103 I know you were looking at this too but we'll take whomever opens a good pull request with the change first.

If one of you want to work on #2178 too, that would be cool.

In either case, when you open a PR, make sure you also sign and email us a Contributor License Agreement. The details for this are

[2015-03-07 14:55] 111CR0103 commented on #1898
Adding a button on the top left is easy. Just add the following piece of code inside the `div` with id `#toolbar` and attached the above mentioned Javascript.
[code]
adding the `.cesium-button` and `.cesium-toolbar-button` classes to the button achieves what I have done already and what you are saying. But I think adding it to the top-right toolbar with other buttons will be more appealing. I sugg

[2015-03-07 15:50] AnandDhoot commented on #1670
Yeah. I have set `Terrain` to `STK World Terrain meshes`

[2015-03-07 15:50] adi2412 commented on #2178
I can work on this. Can anybody give me some pointers to start off?

[2015-03-07 16:40] pjcozzi commented on #1670
I agree this does not seem to be a problem any more, most likely because Bing is now returning a larger rectangle so the camera is zoomed out more.  I suspect if we zoom to a specific address with a high altitude, we could reproduce this problem, but my tests did not prove this.

I still think we should "fix" this by sampling our terrain - at least to provide a minimal view distance, but given tha

[2015-03-07 17:00] AnandDhoot commented on #1670
Okay. Request you to guide me with some other bug I can take up..

[2015-03-07 17:04] pjcozzi commented on #1670
@AnandDhoot what project are you interested in from our Ideas List?  For most projects, it will be a more valuable experience for you to go through the Cesium [tutorials](http://cesiumjs.org/tutorials.html) and write a small demo than to fix a bug.

[2015-03-07 17:27] speigg commented on #1045
How far are we from:
- Support for positions whose reference frame is another entity.
- Support for orientations whose reference frame another entity or INERTIAL.

?

[2015-03-08 03:24] SlySnake commented on #302
Until an algorithm is discovered to determine a one time rotation around mouse ray, perhaps for the mean time a brute force method could be used.

The higher the dot product between the mouse ray and camera.direction the more roll action it will yield to the point of being 100% roll action (=camera.dirction.) At first rotate (0 minus current roll) and see how close that gets to 0 roll. Lets say yo

[2015-03-08 04:56] speigg commented on #1319
:+1:

[2015-03-08 16:39] adi2412 commented on #1378
The main differences would exist in the URL format, the credits/image logo. The quadkey function should remain the same. I just went through the BingMapsImageryProvider file right now and I'm guessing that MapCruncher would need a similar object. Would the MapCruncher images be on the same server as the application or should there be a configuration to provide the REST API to fetch the MapCruncher

[2015-03-08 17:25] GatorScott opened #2561 "Entity rectangle with image doesn't show image"
The following Sandcastle example attempts to draw a rectangle to display the Cesium logo.  No errors are reported, but the rectangle is white.  I'm using master as of 2015-03-08T17:19Z.

[code]

[2015-03-08 19:04] adi2412 commented on #1230
We can add a separate target for building a new app and passing the directory as a command line argument to the task. Just need to rewrite some of the hardcoded values in `cesiumViewerDirectory` to the argument values. However, this would require the app to be following the same conventions as `CesiumViewer`(like the name of the css, js and config files).

It's a very simple task and I could send

[2015-03-08 19:15] manujain commented on #2287
@pjcozzi , two tests are not passing -
updates model matrix for more than one instance in 3D with equal model matrices in 3D only scene
does not transform to world coordinates

[2015-03-08 20:02] pjcozzi commented on #1230
Thanks for the interest.  @mramato is the best person to advise here.

[2015-03-08 20:03] pjcozzi commented on #2287
Do you know how to use the debugger?  Check out https://developer.chrome.com/devtools

[2015-03-08 20:39] speigg opened #2562 "Properties added via Entity.prototype.addProperty don't raise definitionChanged events"

[2015-03-08 23:05] kring commented on #1378
That sounds right to me.  Yes, you'll want to create a separate `ImageryProvider`.  It may then be trivial to implement the BingMapsImageryProvider in terms of your new one.  You should not assume that the MapCruncher tiles are on the same server, but instead allow the URL to be specified.

[2015-03-09 11:55] kring commented on #2541
I'm still a long way from an answer, but here are some interesting new facts:
* Creating a new vertex array for every reprojection fixes the problem.
* Saving off the vertex buffer immediately after creating that array and using that in later frames doesn't have any effect (still broken).
* Combining the two vertex buffers into a single vertex buffer, so the one and only vertex buffer is updated o

[2015-03-09 12:10] pjcozzi commented on #2541
The vertex buffers are being created with `BufferUsage.STATIC_DRAW`, which is just a hint to the driver, but it is wrong in this case.  We want `BufferUsage.STREAM_DRAW` since we rewrite the buffer each draw call (like streaming video).

In my experience, some drivers ignore this hint; on others, it has a significant performance impact.  I have ran into cases where I said something was `STATIC`, a

[2015-03-09 12:19] kring commented on #2541
No, there are two vertex buffers, one for positions and one for the texture coordinates.  The positions never change and are created STATIC_DRAW.  The texture coordinate are updated every time and are created STREAM_DRAW.
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/ImageryLayer.js#L835

Chrome and Firefox both fail.  I haven't tried beta versions, but I will next time

[2015-03-09 12:23] pjcozzi commented on #2541
Ah, I was only looking at the example above.  Maybe try changing them both to `STREAM` or `DYNAMIC` and also updating the positions each frame.  It is possible the driver has a coalescing bug.

Are you running the latest OS?  How prominent is this bug?  It would be a shame to have to put a hacky workaround in.

[2015-03-09 12:27] kring commented on #2541
It's the latest OS available on this phone currently (though apparently it's supposed to get an update to 5.0 tomorrow).  I might hold off on updating, though, for fear of losing the ability to reproduce the problem.  Even if 5.0 fixes it, very few devices have Lollipop yet.  Someone on the forum reported a whole long list of devices it happens on, and when it happens Cesium is totally unusable.

[2015-03-09 13:56] adi2412 commented on #1378
So I dug deeper to implement the `MapCruncherImageryProvider` and I've got some questions. BingMaps provides metadata(like tile width and height, maximum zoom) as part of its REST API. In the case of  MapCruncher, a MapCruncherMetadata.xml file is generated containing this data. Should I assume that this file would exist in the same directory as the URL that would be specified by the user or does

[2015-03-09 17:16] pjcozzi commented on #1591
I know this is closed, but folks interested in this issue, but also like http://www.gearthblog.com/blog/archives/2015/03/google-maps-earth-view-fov.html

[2015-03-09 18:37] ayk115 commented on #2178
I have solved this using onbeforeunload javascript event. Pull request on the way. Screenshots attached.

![1](https://cloud.githubusercontent.com/assets/4329000/6561654/f2418fa4-c6b8-11e4-84a9-34c91d9f3ce4.png)
![2](https://cloud.githubusercontent.com/assets/4329000/6561655/f269c5a0-c6b8-11e4-98e1-3f39a434dff2.png)

[2015-03-09 18:41] bagnell commented on #2561
I see a 404 error in the dev tools console when I run this example. Try `'../images/Cesium_Logo_Color.jpg'`.

[2015-03-09 18:52] GatorScott commented on #2561
Is there some way to push this information to the Sandcastle console?  As a novice Cesium developer, I'm not automatically tuned in to checking the dev console yet.

[2015-03-09 22:04] manujain commented on #2287
@pjcozzi , the above two tests are now passing.
Now all the tests are passing. I want to ask that the tests -
https://github.com/manujain/cesium/blob/master/Specs/Scene/PrimitiveSpec.js#L514
https://github.com/manujain/cesium/blob/master/Specs/Scene/PrimitiveSpec.js#L537
https://github.com/manujain/cesium/blob/master/Specs/Scene/PrimitiveSpec.js#L563
 are passing means that update cannot be done i

[2015-03-09 22:07] pjcozzi commented on #2561
This is really not Cesium's responsibility.  If we were to accept #2564, we would have to do things like that throughout the API.

[2015-03-09 22:07] #2561 closed

[2015-03-09 22:13] #2423 closed

[2015-03-09 22:13] #2424 closed

[2015-03-09 22:13] #2425 closed

[2015-03-10 13:21] JayBlanchard-FugroSDES opened #2566 "pick() not returning position in 3D"
In local tests as well as the sandbox pick() does not return a position. To repeat use the following code:

    var width = viewer.scene.canvas.clientWidth;
    var height = viewer.scene.canvas.clientHeight;

    var left = viewer.scene.camera.getPickRay(new Cesium.Cartesian3((width / 2) | 0, height - 1));
    var right = viewer.scene.camera.getPickRay(new Cesium.Cartesian3(1 + (width / 2) | 0, he

[2015-03-10 14:06] mramato commented on #2566
@JayBlanchard-FugroSDES I can't reproduce this.  Your code is picking the bottom center of the screen.  The code works fine when the Earth is actually occupying a pixel at that location and `pick` correctly returns `undefined` when it is not.

It also looks like you are passing a `Cartesian3` to `getPickRay` instead of a `Cartesian2`, that will work (since both have `x` and `y` properties), but it

[2015-03-10 14:21] JayBlanchard-FugroSDES commented on #2566
Changed to picking pixels in the center of the screen which solves the issue. Also changed to Cartesian2.

[2015-03-10 14:21] #2566 closed

[2015-03-10 15:26] alexander-entin opened #2568 "PolygonGraphics doesn't play well with depthTestAgainstTerrain"
run below code and zoom in/out
[code]

[2015-03-10 16:02] ayk115 commented on #2178
While researching for this bug, I went through the documentation of codeMirror. I came to know that codeMirror has been upgraded to version 5.0 and Sandcastle is still using version 4.6. So, should we upgrade? I don't know how much they've changed in the latest version, but it might be helpful to have it.

[2015-03-10 16:42] speigg commented on #2520
FYI, I had to add a tilde to make this work:

function removeBeforeDate(property, time) {
    var times = property._times;
    var index = ~Cesium.binarySearch(times, time, Cesium.JulianDate.compare);
    if(index > 0){
        times.splice(0, index);
        property._values.splice(0, index * property._innerType.packedLength);
        property._updateTableLength = true;
        property._definiti

[2015-03-10 16:45] speigg commented on #2520
Also, it would be nice to have an option for a fixed capacity (any time new samples are added, old ones are removed or overwritten if the capacity is reached)

[2015-03-10 17:47] pjcozzi commented on #2568
This is a duplicate of #2172 (which perhaps should be called "vector data on ground").  We are working on this in the [ground-primitive](https://github.com/AnalyticalGraphicsInc/cesium/tree/ground-primitive) branch.  In the meantime, you could apply a small height to your polygon.

[2015-03-10 17:47] #2568 closed

[2015-03-10 17:50] pjcozzi commented on #2178
I'm not very familiar with CodeMirror, but I think it is worth trying to upgrade (using a new branch off of master).  Please check to see if their license was updated at all to see if our [LICENSE.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/LICENSE.md) needs to be updated.

[2015-03-10 18:57] AnneWoepse opened #2570 "ICRF not working"
if you go to sandcastle and click the camera example, and change the camera setting to ICRF, it is currently showing a fixed view.  In an inertial view, the globe would be spinning.

[2015-03-10 19:02] pjcozzi commented on #2570
Thanks for the report, @AnneWoepse.  This is most likely a regression.  @bagnell can you have a look?

[2015-03-10 20:01] pjcozzi opened #2572 "Model translucency issue in 1.7"
@bagnell I will send you the model.  Can you look at this?  Perhaps this is an OIT change?  However, setting `orderIndependentTranslucency` to `false` did not help.  I tried to briefly tweak the model alpha values, but it also did not help.

1.6:

![image](https://cloud.githubusercontent.com/assets/782098/6583646/ac083604-c722-11e4-854e-aa0db443dc00.png)

1.7:

![image](https://cloud.githubusercon

[2015-03-10 21:23] #2570 closed

[2015-03-10 21:24] pjcozzi commented on #2570
This was fixed in #2571 and will be in Cesium 1.8.  Thanks again for the report, @AnneWoepse.

[2015-03-10 21:47] bagnell commented on #2572
@pjcozzi Does the model create separate commands for back/front faces when blending is enabled? The commands being submitted were only those culling the back faces. If you turn OIT off, this model still doesn't look right.

[2015-03-10 22:35] andre-nunes commented on #2402
It seems to be working pretty well:
![working](https://cloud.githubusercontent.com/assets/3066457/6586866/464cfbb2-c775-11e4-9475-11168bf69df2.png)

Should I write some unit tests? Can you give me an example on how to test this one?

Thanks

[2015-03-11 00:18] mramato commented on #2402
Awesome.  You can probably reach into the `LabelCollection` and verify that it generated the billboards with the expected pixelOffsets.  Feel free to open the PR for review whenever you like and mention that you still need to add tests.

[2015-03-11 00:27] adius opened #2574 "Visualizing Spatial Data tutorial seems to be broken"
I try to rebuild the http://cesiumjs.org/2015/02/02/Visualizing-Spatial-Data tutorial, but I get a `Uncaught TypeError: Cannot read property 'add' of undefined` error!
Any ideas?

[2015-03-11 08:17] mramato commented on #2574
@adius Can you please post the exact code you are trying to execute?

Also, for next time, we encourage people to post problems like this [on our forum](https://groups.google.com/forum/?fromgroups#!forum/cesium-dev) first.

[2015-03-11 09:56] adius commented on #2574
I use exactly the code from the tutorial:

[code]

Why exactly should I use the forum? Seems to be clearly an issue to me. Either in the documentation or in the program.

[2015-03-11 13:00] manujain commented on #2287
@pjcozzi , issue solved, can you take a look at it?

[2015-03-11 15:34] pjcozzi commented on #2287
Thanks!  We will take a look soon; we are at a conference this week.

[2015-03-11 15:39] mramato commented on #2574
If I paste the below code (exactly the same as yours and the doc) into our official Sandcastle app, everything works as expected.

[code]

If I take your entire HTML file and use it with the 1.7.1 release (I dropped an index.html into the Build folder so that I didn't have to update the relative paths), everything also works as expected.  So something is wrong on your end.  Are there any errors in

[2015-03-11 15:49] #2572 closed

[2015-03-11 15:52] pjcozzi commented on #2572
No.  We could do this, but I think I would want to do it server-side so that the Cesium client truly renders what the model describes, not what we think it should describe.

[2015-03-11 21:19] manujain commented on #1493
@kring , can I work on this bug? If yes, can you tell how to go forward?

[2015-03-12 01:46] pjcozzi opened #2577 "Model does not render"
Reported on the [forum](https://groups.google.com/forum/#!topic/cesium-dev/pi20u3DWPTc).

`Geometry1` and `Geometry2` only have `POSITION` attributes (which is legal).  We can this warning:

Not sure if this is a Cesium or converter issue yet.

[2015-03-13 00:21] #2574 closed

[2015-03-13 05:25] speigg commented on #2524
Have you guys considered immutable data-structures for Entity objects / properties? ( see https://github.com/facebook/immutable-js )

[2015-03-13 09:29] manujain commented on #2287
@pjcozzi , can you suggest me some more beginner issues to work on? Thanks!

[2015-03-13 14:06] emackey commented on #2574
You mentioned `Cannot read property 'add' of undefined` and there is only one `.add` in your sample code, on `viewer.entities` which is relatively new and would be `undefined` in older versions of Cesium.  Make sure your code is really pulling in version 1.7.1 for this example, not anything older.  As @mramato said this does appear to be a config problem on your side.

[2015-03-13 14:12] adius commented on #2574
Sorry for being such a douche. It was of course my mistake. Had the new repo but old build files. (Don't ask =P) Thanks for your help!
However, I'm still not a fan of your Google groups forum. You should consider to use discourse, which is really great!

[2015-03-13 14:47] emackey commented on #2574
Yeah, old build, I've been there.  BTW, we also have a [Cesium tag on Stack Overflow](http://stackoverflow.com/questions/tagged/cesium).

[2015-03-13 20:20] pjcozzi opened #2579 "Rename jsonp to loadJsonp?"
Or is there a reason it is just `jsonp`?

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/jsonp.js

Compare to

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/loadJson.js

[2015-03-14 22:45] manujain commented on #2579
@pjcozzi , if it requires renaming then I would like to take this up. Thanks!!

[2015-03-14 22:57] mcenirm opened #2581 "WMS-T (time) support in WebMapServiceImageryProvider"
Does WebMapServiceImageryProvider currently support WMS-T (time) functionality, in conjunction with the Timeline widget?

If so, then where is it documented?

If not, then what is a rough outline of the steps to connect WebMapServiceImageryProvider and Timeline?

[2015-03-14 23:02] mcenirm commented on #2581
An example WMS-T endpoint is `http://mesonet.agron.iastate.edu/cgi-bin/wms/nexrad/n0q-t.cgi?` (Historical CONUS NEXRAD Base Reflectivity) from [Iowa Environmental Mesonet](https://mesonet.agron.iastate.edu/ogc/).

[code]

[2015-03-15 01:21] pjcozzi commented on #2579
Thanks @manujain.  @shunter what do you think?

[2015-03-15 10:25] kring commented on #1493
@manujain sorry, this issue was fixed long ago by the pull request mentioned above.  It seems I just didn't get the "Fixes #whatever" syntax right so it wasn't closed automatically.  Closing it now.

[2015-03-15 10:25] #1493 closed

[2015-03-15 10:46] kring commented on #1378
Hi @adi2412, I suggest you actually generate a MapCruncher tileset and use that as a reference.  If MapCruncher creates the XML file in the same directory as the tiles, it's reasonable to look for it there.  Alternatively, if the XML specifies the location of the tiles, you could have the user specify the XML file only and then the ImageryProvider could infer the tile location from the XML file.

[2015-03-16 00:21] mramato opened #2582 "Chrome reporting console error on Infobox use"
See this [forum post](https://groups.google.com/d/msg/cesium-dev/1v33B3zMnfs/rZ3AxF_du6wJ).  I think the solution is to replace about:blank with  a manually created empty page.

[2015-03-16 00:31] WarpDrive commented on #302
How to figure out how much to rotate around mouse ray

Local up is camera.up in terms of the ENU reference frame. When you rotate camera around an arbitrary mouse ray, local up goes around circle A in 3D space. Local up.z is highest at roll 0 (if tilt it positive.) So the key is to figure out a way to determine the highest point of circle A in 3D space. That point is where up needs to point to and

[2015-03-16 01:30] mramato commented on #2520
Thanks for the suggestion.  Doing it automatically might be possible, but it could negatively affect performance because of memory churn.  We'll have to experiment with various strategies and see what works.

[2015-03-16 02:14] mramato commented on #1045
It's not a high priority right now because of everything else that needs to be done. That branch has some prototyping, but I'm not sure how far it will get you.

The overall use case involved being able to get any position in any reference frame, but if all you need to do is offset one entity from another, that's actually pretty easy to do this with existing functionality by using `CallbackPropert

[2015-03-16 02:23] mramato commented on #2562
Thanks, I've been meaning to also add the ability to set a value during the add call, so I'll take care of both at the same time.

[2015-03-16 02:28] mramato commented on #1230
I'm not really sure what the goal is here and judging from the age of this bug, I don't think it's any more relevant. User apps shouldn't be using our build system to build their app and the only app we build ourselves is Cesium Viewer (and that's unlikely to change any time soon).  I also don't want to add more complexity to our build system unless we need it because we plan on moving away from j

[2015-03-16 02:30] mramato commented on #1670
@pjcozzi I actually think the terrain intersection detection that @bagnell added to the camera ends up fixing this.  So I'm not sure if we need to do anything more.  @bagnell can you chime in here and close this if you agree?

[2015-03-16 11:53] pjcozzi commented on #1230
Let's just close this.

[2015-03-16 11:53] #1230 closed

[2015-03-16 15:33] mramato commented on #2550
This will also allow us to fix the `createBadGeometry` spec.  Here's the relevant part from the above PR.

[2015-03-16 15:42] bagnell commented on #1670
The camera does get pushed above the terrain if the destination is below it. Closing.

[2015-03-16 15:42] #1670 closed

[2015-03-16 17:17] manujain commented on #1661
@mramato , if this issue is free, can I work on it? Please guide me to the docs which need changes. Thanks.

[2015-03-16 17:41] #1366 closed

[2015-03-16 18:07] mramato commented on #1661
You are more than welcome to work on this.  I would suggest updating a few files at a time to start, then open a PR to get feedback.  This will be easier than trying to update them all in one pass.  We also just merged a big pull request into master, so I would make sure you are up to date before you start.  Thanks!

[2015-03-16 18:59] manujain commented on #1661
@mramato , can you give the links of docs which need changes? Thanks!

[2015-03-16 19:23] mramato commented on #1661
There's no set list, you would need to basically start at the first file and work your way through all of them.  For each documented property, determine if it's readonly or not and update the description accordingly.  Also, for readonly items that don't have it, you would want to add the `@readonly` tag.

[2015-03-16 20:24] bagnell commented on #2484
You can create a custom material (modified `ImageMaterial`):
[code]
You can change the alpha with `primitive.material.uniforms.alpha` and make sure to set `primitive.material.translucent` to `false` if the alpha is ever set to `1.0`.

[2015-03-17 01:01] pjcozzi commented on #1075
For signed distance fields, this is a useful read: http://www.essentialmath.com/blog/?p=111

[2015-03-17 08:17] adi2412 commented on #1378
@kring Sure, I'll do that. There isn't a version for OSX which is why I was wondering if someone else would be having the XML file. I'll get a Windows machine to get this done though.

[2015-03-17 14:01] mramato opened #2584 "Support stippled lines"
I thought we had an issue for this, but I couldn't find one.

We get requests for dashed/dotted lines on the forum all the time, most recently in [this thread](https://groups.google.com/d/msg/cesium-dev/Zkgq8E80v8c/mKR9MH2j4-gJ).  Google Earth also has this ability (though not KML).  I don't know how difficult it would be to create a material that does this, but it's definitely worth doing when we

[2015-03-17 15:13] Deepak-Kumar-D commented on #2584
Even i don't find an issue with this one. But yeah we can enhance.

[2015-03-17 15:38] emackey commented on #2069
More discussion: https://groups.google.com/forum/#!msg/cesium-dev/_ScHuVx7Zio/cQ3BZccAjMsJ

[2015-03-17 16:38] pjcozzi commented on #2584
Reading:
* [Shader-Based Antialiased, Dashed, Stroked Polylines](http://jcgt.org/published/0002/02/08/)
* [Drawing Lines is Hard](http://mattdesl.svbtle.com/drawing-lines-is-hard) - entertaining but not specifically about styling.

[2015-03-17 17:40] mramato commented on #2484
@bagnell Is there a reason we shouldn't just include this as part of the default image material?

[2015-03-17 19:20] WarpDrive commented on #2069
Here's another https://groups.google.com/d/msg/cesium-dev/YkbYA5z2nj4/PZislAkrncgJ
Perhaps instead of (or in addition to) 3 pre-packaged combo buttons, users could select each aspect independently, subsequently letting them have any combination at their disposal.
-shape: ellipsoid or flat
-frustum: perspective or orthographic
-terrain: on or off

[2015-03-17 19:34] emackey commented on #2069
I really like the idea of disconnecting the ellipsoid-vs-flat selection from the ortho-vs-perspective choice.  The deeper levels of Cesium have this welded together pretty firmly, so it's not an easy fix.

[2015-03-17 20:19] mramato commented on #2132
Looks like ESRI is adopting Mapbox vector tiles: https://www.mapbox.com/blog/vector-tile-adoption/

[2015-03-17 21:24] WarpDrive commented on #2069
Ya I didn't see any easy way to change these aspects around back when I tried adding terrain to 2D mode, but I think it would be a neat feature to have.

So the typical user (not familiar with the jargon) can relate here are some ideas for labeling:
Eye - point eye or flat eye (perspective or orthographic)
Shape - ball or rectangle (ellipsoid or rectangle)
Surface - flat or hilly (terrain off or o

[2015-03-17 22:14] pjcozzi commented on #2577
Potential converter issue: https://github.com/KhronosGroup/glTF/issues/369

[2015-03-18 14:43] emackey commented on #1865
Ken Russell touched on this topic in [a recent WebGL-dev post](https://groups.google.com/d/msg/webgl-dev-list/wfzFOmNYqf0/dYoqbmrt3WYJ).  The first part of his message covers something we already do (aggregate events before rendering), but the next part talks about a flag that indicates whether requestAnimationFrame has yet been called for the very next frame.

It's a little trickier in Cesium's c

[2015-03-18 14:51] emackey commented on #1865
Or we could encapsulate the event callback in Scene itself.  There should only ever be one callback running at a time, so Scene could just be given a reference to it.

[code]

This can't go down into `Context` because that's private.  Can everything that needs to call `Scene.requestNextFrame` get access to the scene object?

[2015-03-18 14:56] emackey commented on #1865
@kring this would badly mess up your target framerate watchdog stuff I think.

[2015-03-18 23:49] kring commented on #1865
Hey @emackey, you'd pretty much described how it works in National Map.  The main difference is we use the actual `useDefaultRenderLoop` flag instead of introducing a new one plus an event, since we're not concerned with maintaining the semantics of that flag.

You're right that it messes up the framerate watchdog stuff.  Our (fairly lame, but effective enough) approach is to ignore the watchdog i

[2015-03-18 23:50] kring commented on #1865
I'm not sure.  But if not, `Scene` can hold an animation trigger object that is passed down to anyone that might need it.

[2015-03-19 11:53] pjcozzi commented on #2132
Info from [FOSS4G NA 2015](http://geothought.blogspot.com/2015/03/review-of-foss4g-na-2015.html).

[2015-03-19 14:14] abhishekvp commented on #2579
@pjcozzi Can I try this?

[2015-03-19 14:42] abhishekvp commented on #2260
Hi @pjcozzi,

I would like to work on this. Could you please explain me, what needs to be done?

Thanks.

[2015-03-19 14:47] pjcozzi commented on #2260
Thanks for the interest.  This is not priority for us right now.  I suggest building a simple demo app on Cesium.

[2015-03-19 15:54] abhishekvp commented on #2494
Also the link to Cesium Sandcastle Ellipse Demo gives "RequestError: Unable to load gallery/Ellipse.html status: 404" in the Console. It should be changed from "http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Ellipse.html" to "http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Circles%20and%20Ellipses.html&label=Geometries"

[2015-03-19 20:40] emackey commented on #2464
Fixed.

[2015-03-19 20:40] #2464 closed

[2015-03-19 23:38] pjcozzi opened #2588 "License for data like 3D models"
Apache 2.0 is for code so it does not cover our 3D models, for example.  The license should allow unlimited use in Cesium-based apps.

[2015-03-19 23:45] pjcozzi opened #2589 "Explicit license for doc"
Apache 2.0 is for doc, not doc.

I believe [CC Attribute 4](http://creativecommons.org/licenses/by/4.0/) is common.  Will look into it.

[2015-03-19 23:57] pjcozzi commented on #244
@bagnell does #2506 fix this?

[2015-03-20 00:12] shunter commented on #2588
Out of curiousity, what makes you think Apache is for only for code?  It is perfectly reasonable for content & documentation as well.

[2015-03-20 00:13] pjcozzi commented on #1754
Fixing this _might_ also fix #2387.

[2015-03-20 11:54] pjcozzi commented on #2588
I always see separate licenses for data and doc - and our tutorials don't have anything explicit.

What do you suggest?  Do nothing?

[2015-03-20 12:44] emackey commented on #2588
Perhaps we could explicitly state that the terms of Apache 2.0 apply to our code, assets, doc, and test suite.

[2015-03-20 12:46] emackey commented on #2588
/cc #2589.

[2015-03-20 14:29] mramato commented on #2588
I'm with @shunter here, I'm not sure I see a need for a separate license for data or doc and I wouldn't worry about changing anything until we have an actual reason to do so.  Even more so for #2589, since the reference doc is embedded in and generated from our code, so it would be really confusing to have a separate license there. I did some quick research and lots of projects ([including Android

[2015-03-20 15:36] mramato opened #2590 "Pro-active dead link checking"
We should look into adding a build target to use a tool that checks the documentation for bad links.  We can run this on the generated documentation rather than the source.  Here's an example of one such project: https://github.com/wummel/linkchecker but I'm sure there are others that might better suit our current toolsets.

[2015-03-20 16:27] mramato opened #2591 "Invalid Entity Geometry doesn't update properly"
From [the forum](https://groups.google.com/d/msg/cesium-dev/WeIFNMZTybk/sCsJgceHmnoJ).  If a single static Entity geometry is valid and then becomes invalid, we never remove the valid geometry.

[2015-03-21 11:58] pjcozzi opened #2593 "Mention smallterrain replacement in CHANGES.md"
https://groups.google.com/forum/#!topic/cesium-dev/aPwBi5lRwWk

Even though this isn't a Cesium code change, users are accustomed to looking in CHANGES.md for deprecated features.

CC @abwood

[2015-03-21 11:59] pjcozzi commented on #2588
I'm OK with doing nothing right now.

[2015-03-21 11:59] #2588 closed

[2015-03-21 11:59] #2589 closed

[2015-03-21 16:32] emackey commented on #1898
This issue should be considered "on hold" until after #2178 is resolved.

[2015-03-21 17:09] pjcozzi opened #2594 "Shadows"
* [ ] Globe depth debug view
* [ ] Experimental shadow pass for one light like `Scene.pick` with a debug view
* [ ] Production shadow pass
   * One `updatePrimitives` call
   * If the light and its area of influence are outside of the view frustum, skip its shadow pass
* [ ] Experimental shadows on terrain
* [ ] Architecture for adding shadow-casting lights, and flagging shadow-casting and shadow-

[2015-03-21 22:09] FREEZX opened #2595 "Modifying polyline entities"
Hello,
I'm experimenting with Cesium, trying to create and animate polylines.
In order to animate the polylines i need to change it's positions.
I tried several methods, including changing the `polyline` property on the entity as well as changing the `polyline.positions` property, but in both cases the line disappears, even though the internal values look the same.

Check these gists for Sandcastl

[2015-03-22 15:25] #2591 closed

[2015-03-22 15:33] pjcozzi commented on #2579
@manujain @abhishekvp one of you is welcome to this (please follow the [deprecation guide](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Deprecation-Guide)), but this is not high priority so I would suggest a Cesium demo over this.

[2015-03-22 22:26] speigg opened #2596 "SampledProperty.prototype.getValue returns invalid Cartesian3"
Using a HOLD `backwardExtrapolationType` in an empty sampledProperty causes `getValue` to return an invalid Cartesian3.

[code]

I would expect the result to be `undefined`.
Instead, the result is a `Cartesian3` with `{x: undefined, y: undefined, z: undefined}`

When using the default `backwardExtrapolationType` (NONE), the result is `undefined`, as expected.

[2015-03-23 00:33] speigg opened #2597 "CallbackPositionProperty"
A CallbackPositionProperty with `referenceFrame` and `getValueInReferenceFrame` would be useful.

[2015-03-23 15:25] goergeBerg opened #2598 "KML styling issues"
Hi,
I'm using kml in cesium and I have some problems:

1. when I'm using external file as the styling source the kml is not loaded.
For example I have 2 files:
## example.kml
[code]

and

## style.kml
[code]

The `example.kml` is not loaded in cesium.
When I add the style tag  into example.kml and change the href attribute- the file is loaded properly.

It would be great if cesium will support thi

[2015-03-23 16:02] mramato commented on #2598
Cesium supports styleUrl already, but according to the KML reference, your usage is invalid.  It should be `style.kml#0` not `style.kml/#0`.  See [this link](https://developers.google.com/kml/documentation/kmlreference#styleurl) for details.  That being said, if Google Earth accepts this syntax as well, then we will fix Cesium to match it.  Even with that fixed, it's also possible that there is an

[2015-03-23 21:58] JayBlanchard-FugroSDES commented on #302
@scothis We're finding that this doesn't work on either 3D or 2D maps and throws no errors.

[2015-03-24 02:50] mramato opened #2599 "Ability to set home offset"
We currently expose `Camera.DEFAULT_VIEW_RECTANGLE` and `Camera.DEFAULT_VIEW_FACTOR` but we don't expose anything like `Camera.DEFAULT_OFFSET`, which I imagine would be an HPR.  We should expose such a value and use it in the `HomeButton` widget.

[2015-03-24 08:56] goergeBerg commented on #2543
Maybe this could help:
https://github.com/twitter/twitter-cldr-js#handling-bidirectional-text

It's important to notice that there can be complex sentences with both rtl and ltr languages and numbers that are ltr. It's seems that the libary in the link above handle it.

[2015-03-24 09:35] goergeBerg commented on #2598
Thank you very much for your reply.
However I have not managed to get it works from external style file, despite i removed the stylemap and the slash.

my updated files:

## example.kml

[code]

## style.kml

[code]

however when example.kml contains the style, it's works.

## example.kml

[code]
I also removed no.  2.

[2015-03-24 23:55] sabrick commented on #873
Is there a way to control z-level for polygons loads through KMLs?

I have placemarks loaded into my viewer:
![image](https://cloud.githubusercontent.com/assets/11263423/6815340/8a57dd9a-d256-11e4-8652-4d6dde89c1bc.png)

But when I load a polygon over the are the placemarks are buried behind it, barely visable:
![image](https://cloud.githubusercontent.com/assets/11263423/6815345/a1dff308-d256-11e4

[2015-03-25 11:53] pjcozzi commented on #2593
@abwood can you do this for 1.8?

[2015-03-25 11:53] pjcozzi commented on #2582
@mramato are you doing this for 1.8?

[2015-03-25 14:35] mramato commented on #2582
This error is harmless, so I'm taking off the showstopper, but I still might get to it for 1.8.

[2015-03-26 00:06] mramato commented on #873
I swear I answered this yesterday, but I guess I never submitted the comment.  I just [posted an answer](https://groups.google.com/d/msg/cesium-dev/_nw-F8armtQ/NMiXNRaqmIQJ) to the same question on the mailing list.  I assume that was you too?

[2015-03-26 00:29] mramato commented on #2596
Thanks, nice catch.  I just opened #2605 to address this.  It was a problem with all sampled properties, not just position, thankfully it was an easy fix.

[2015-03-26 01:03] mramato commented on #2543
Thanks for the link.  The size of the library makes it unlikely that we will be able to use it directly (it does way more stuff than we need), but it definitely might help point us in the right direction.

[2015-03-26 01:07] mramato commented on #2543
Actually, it looks like that library still requires you to tell it what direction the text is, it doesn't detect it automatically (which is part of the problem), it still may be useful for RTL support overall.

[2015-03-26 01:15] mramato commented on #2595
See [this forum post](https://groups.google.com/d/msg/cesium-dev/cgxVE1fBq7M/kPSlpFYqJ48J) for help with animating lines.

In the future, please use the [forum](https://groups.google.com/forum/?fromgroups#!forum/cesium-dev) for support instead of creating new issues on Github, you'll likely get an answer faster that way.

[2015-03-26 01:15] #2595 closed

[2015-03-26 11:46] #2596 closed

[2015-03-26 12:58] highcode commented on #2579
hello everyone, i am new to cesium, but going through their Idea list for GSOC 2015 i found a project(Refactor Cesium Sandcastle) which i am sure i can work on because i am proficient in the required skills.but the point is i don't know where to start from. I will appreciate any help you can render concerning my request, the application closes tomorrow and i am yet to complete my proposal.
Thanks

[2015-03-26 13:00] pjcozzi commented on #2579
@highcode Try starting with a small Cesium demo.  Start here: http://cesiumjs.org/2013/04/12/Cesium-up-and-running/

[2015-03-26 19:27] kaktus40 opened #2607 "strange camera behaviour"
Hello,
in a sandCastle when you use the  line:
[code]
the mouse buttons follow this behaviour:
* middle button tilts the globe
* right button zooms the globe
* left button turns the globe

With the next lines:
[code]
the mouse buttons follow this behaviour:
* the left button tilts the globe
* the middle button does nothing
* the right button zooms the globe

[2015-03-26 19:58] WarpDrive commented on #2607
When you perform lookAt, camera.transform changes
-instead of left drag spinning around the Earth's transform it spins around the lookAt transform
-instead of right drag zooming in on Earth's transform it zooms on the lookAt transform
-middle mouse button drag basically creates a temporary lookAt, but you already have a lookAt target so it does nothing

[2015-03-26 20:37] mramato commented on #2582
This appears to be caused by AdBlock.  It's a harmless error but one they have to fix on their end.  They are injecting scripts into sandboxed iFrames, which report the attempt to do so to the console (hence the error).

[2015-03-26 20:37] #2582 closed

[2015-03-27 07:42] kaktus40 commented on #2607
Hello,
I agree with you for the transform, I saw it in the source. In fact my questions are:
* Is it a bug or a feature? :-)
* How can I return to the first behaviour with a lookAt?

[2015-03-27 14:06] WarpDrive commented on #2607
I believe it's a feature, allowing one to adjust to various angles/ranges to a specified target. You can set it back to Earth transform using camera._setTransform(Cesium.Matrix4.IDENTITY); Or camera.lookAtTransform(Cesium.Matrix4.IDENTITY); if you don't want to use a private method.

[2015-03-27 20:17] ianwalberg commented on #2541
Any update or a workaround for this issue?

Thanks, Ian

[2015-03-29 11:59] kring commented on #2541
No, update, but I mentioned a workaround in my original comments in this issue:

By `Context` I meant `Source/Renderer/Context.js`.  The [Contributor's Guide](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Contributor%27s-Guide) has information on building your own version of Cesium including this change (it's not too hard).

[2015-03-30 03:54] ianwalberg commented on #2541
Kevin,

Thanks we will try the work around this week.

Regards

Ian

From: Kevin Ring [mailto:notifications@github.com]
Sent: Sunday, March 29, 2015 4:59 AM
To: AnalyticalGraphicsInc/cesium
Cc: Ian Walberg
Subject: Re: [cesium] Smeared imagery on some mobile devices (#2541)

No, update, but I mentioned a workaround in my original comments in this issue:

Comment out this._vertexArrayObject = getEx

[2015-03-30 09:19] kaktus40 commented on #2607
Thanks, it works.

[2015-03-30 09:19] #2607 closed

[2015-03-30 16:01] emackey commented on #2178
Fixed by @ayk115.  @mramato can you add him to Contributors.md?

[2015-03-30 16:01] #2178 closed

[2015-03-31 15:34] mramato opened #2612 "Ability to show/hide layers based on zoom level"
This is something that has come up several times, most recently in [this post](https://groups.google.com/d/msg/cesium-dev/BP9FaQNFALw/rgDdf_XOYoYJ) on the form.

@kring any reason we can't simply add a somthing like a  `minimumDisplayLevel`/`maximumDisplayLevel` to the `ImageryProvider` interface?  My naive understanding of our imagery code tells me this should be simple.

[2015-03-31 17:12] mramato opened #2614 "createTangentSpaceDebugPrimitive broken"
This is not a bug in `createTangentSpaceDebugPrimitive` itself, but a bug in Primitive asynchronous geometry creation when no _workerName is present.  We could work around this by having `createTangentSpaceDebugPrimitive` set asynchronous to false, but it might be just as easy to fix Primitive.

Also, `createTangentSpaceDebugPrimitive` is not marked as private, but it's not showing up in the doc.

[2015-03-31 17:12] mramato commented on #2614
Forgot to include the [forum post](https://groups.google.com/d/msg/cesium-dev/Hr1HP78LgEY/WNaEIWSTHhcJ)

[2015-03-31 17:55] mramato commented on #2614
Fixing async primitives with pre-created geometries was harder than I expected, so simply setting async to false is the way to go.

[2015-03-31 19:10] #2614 closed

[2015-03-31 19:11] pjcozzi commented on #2593
Updated in #2603

[2015-03-31 19:11] #2593 closed

[2015-03-31 23:14] kring commented on #2612
I agree, should be straightforward.  Switching between layers at different scales is a really common thing to do, but I've mostly seen people do it on the server side.

[2015-04-01 02:46] ayk115 commented on #2369
@mramato I did some work on this issue. Please checkout the pull request.
The issue I face is how do I identify whether the text pasted is CZML or GEOJSON or KML? Once this can be detected, corresponding load functions can be called.

[2015-04-01 13:05] GatorScott commented on #2369
You need to look at the specifications for each format to determine how to identify them.  KML for instance is an XML document whose root node must be "Document".  Evaluating an XPath expression for the Document node is one way to test for KML.  This concept can be applied to CZML and GeoJSON as well.

[2015-04-02 18:03] alexander-entin opened #2619 "buggy rendering in Chrome"
Run below code.
It will display a ripped polygon briefly.
Rotate the camera to see the bug again.
It is less visible w/o `depthTestAgainstTerrain` but still there.
Polylines are affected too.
In a "real" application it never goes to normal for some reason.

Introduced in 1.8.
Tested in Chrome 41.0.2272.118
Windows 8.1
[code]

[2015-04-02 18:20] mramato commented on #2619
Thanks for the report and sample code (always makes things so much easier).  Both of these problems have actually been around forever, so I'm not sure what might have changed to cause them to crop up in your particular use case.  The good news is they will be fixed as part of the polygons on terrain feature that will be part of 1.9 (this particular bug is already fixed in the `globe-depth` branch

[2015-04-02 18:30] alexander-entin commented on #2619
Just FUI.
This particular example works correctly in 1.7.1 in all three major browsers (height helps).
Only Chrome is affected in 1.8.

[2015-04-02 19:42] #2287 closed

[2015-04-03 06:40] ayk115 commented on #2369
@GatorScott I created validator functions for CZML, KML and GEOJSON according to their specifications as you suggested. Please have a look at #2617, and suggest what more is required.

[2015-04-07 00:12] emackey opened #2622 "Sandcastle 'Are you sure' prompt doesn't work inside window history popstate"
So if you visit a few Sandcastle demos by clicking icons in the gallery, Sandcastle uses `history.pushState` to create a "fake" history without leaving the page.  You can use the browser's back button (or forward button, or hold down back/forward and pick a page from the list) to move around within this history.  So long as you navigate within this special "faked" range of history, the browser won

[2015-04-07 01:12] trusktr opened #2623 "How do map tiles work?"
What's the concept behind putting the map tiles onto the globe based on zoom level?

[2015-04-07 01:14] kring commented on #2623
Cesium's terrain/imagery rendering is described here:
http://cesiumjs.org/presentations/Rendering%20the%20Whole%20Wide%20World%20on%20the%20World%20Wide%20Web.pdf

Please post questions like this to the [forum](http://cesiumjs.org/forum.html) instead of creating GitHub issues.

[2015-04-07 01:14] #2623 closed

[2015-04-07 17:23] mramato opened #2624 "Rectangle issue"
The below code (from KmlDataSource.js) fails because both west and east ends up being `-Math.PI` It works without `convertLongitudeRange`, but I'm using it in this case because I'm reading the data externally and values may extend beyond 180 degrees.  Am I doing something wrong or is there a bug in `convertLongitudeRange` when values are +-PI?

[code]

It's possible that I need to special case som

[2015-04-07 17:46] tonpo commented on #2543
Hi,
One of my customers has need for RTL support in kmls (Arabic and Hebrew).

As a quick and dirty hack I used the TwitterCldr linked by @goergeBerg in this issue.

I'm writing it here because I think it could help you with the final solution...

I downloaded the npm package from
https://github.com/twitter/twitter-cldr-npm
then got the ar.js from 'full' directory and converted it to require.js mo

[2015-04-07 20:04] mramato commented on #2543
Thanks for the write up @tonpo. I believe #2521 is the cause of "disconnected" characters.

The problem is performance and memory.  If all of your text is static and you don't have a lot of it, then you can get away with rendering whole words, I actually posted a small example of how to do that [here](https://groups.google.com/d/msg/cesium-dev/6EA78tUxGRY/iEmkET1kYQ0J).  But if your text is dynami

[2015-04-07 22:52] WarpDrive commented on #2624
I threw that function into a sandcastle app to play with it. This may not be a factor here, but the floor of -0.5 is -1, though one could easily think that it would be 0. Maybe it should be absolute value then floored?
[code]
If you change >= to > then -180 is wrong instead of 180 being wrong. When I get time I could figure out a fix, unless someone beats me to it.

[2015-04-08 00:14] WarpDrive commented on #2624
This works fine, all I did was change -180 to -179.999. Seems like Cesium doesn't like it when corners are shared.
[code]

[2015-04-08 13:46] tonpo commented on #2543
Thanks @mramato for the reply, and for Cesium. It's really great library.

After some reading in the links you gave in the forum post, I am not sure #2521 is the cause for the disconnected letters here, because it seems that the range of the relevant arabic letters is not in the astral code point range.

Maybe there is an additional arbitrary space/padding/border between the rendered letters that

[2015-04-08 17:50] WarpDrive commented on #2624
Re-reading what you've wrote, I see what you mean, why does this work and not with the convert function. I should read more carefully!
[code]
It fails if east and west signs are the same, or if east is negative and west is positive, but works if west is negative and east positive.

[2015-04-08 18:54] WarpDrive commented on #2624
Here's a re-write of convertLongitudeRange that retains the sign of Math.PI inputs.
[code]

[2015-04-08 19:05] lioneldelmo opened #2627 "Camera.transform deprecated in Cesium 1.6 equivalent in Cesium 1.8 is Camera.lookAtTransform()"
I've been using Camera.transform property in Cesium 1.6 and it's working perfectly for me. It allows the camera to follow the model while it's moving and at the same time keeping the camera's state (orientation etc.) while the user is changing the camera on the fly (while the model is moving) such as zooming in/out, rotation, etc. Now in Cesium 1.8 the equivalent is to use Camera.lookAtTransform()

[2015-04-08 19:52] mramato opened #2628 "Entity.viewFrom is broken"
The big entity refactor in 1.6 broke the `Entity.viewFrom` functionality, which is due for an overhaul anyway.  We need to fix `viewFrom` as well as support KML `lookAt` and unify both features with the current zoom to boundingsphere strategy for entities.

[2015-04-08 19:54] mramato commented on #2628
[forum post](https://groups.google.com/d/msg/cesium-dev/HHOfGfWiZC0/4WOr1ZLFoxsJ)

[2015-04-09 15:49] ivanprice commented on #1592
yep us too.. we're making a measuring tool and it doesn't make any sense that the vertex markers or line are clickable.

[2015-04-09 16:27] lioneldelmo commented on #2423
I'm getting a different behavior of 1.6 Camera.transform vs 1.8 Camera.lookAtTransform.
Is there a way to simulate the old behavior of Camera.transform? Basically, I have a model Airplane following a flight path. So I'm changing the position of the model Airplane inside the Ontick event. It was working beautifully using the Camera.transform because it allows me to reorient the camera, zoom in/out,

[2015-04-10 17:24] WarpDrive opened #2629 "Globe pickTriangle"
This is in response to this thread https://groups.google.com/d/msg/cesium-dev/Cy0iRA7jG0w/fX04Kc6SwBcJ

I've written a working implementation here https://github.com/WarpDrive/cesium/commit/a4b881fb65d9e48bd1ea23568f80989c267dcc3c

I've tested it locally using this SandCastle example

[code]

It does tack on properties onto the intersection Cartesian3 object, but that doesn't interfere with using

[2015-04-11 01:13] WarpDrive commented on #2627
Looking at https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Camera.js#L1581

If offset is not defined it simply sets the camera's offset then returns. Maybe instead it should check how many arguments are passed, if for some strange reason offset is defined but not passed? Try calling camera._setTransform(transform) instead camera.lookAtTransform and see if you get the same

[2015-04-11 01:36] WarpDrive commented on #2629
Some other possible forms on intersection:
Kevin's original form: one large composite object consisting of 4 Cartesian3 objects followed by tile
[code]
Or perhaps an array, consisting of an array of component objects
[code]
tile isn't a Cartesian3, but having the same data type isn't a prerequisite for arrays in JavaScript.

[2015-04-11 14:11] speigg commented on #1045
Is there anything that can be done to help implement these features? I have what was in the referefenceFrame branch working, but it's missing some things, like being able to process referenceFrames from czml (would probably require adding a ReferenceEntity class, similar to ReferenceProperty, and modifying CzmlDataSource to use it). Also, adding a referenceFrame property to orientation properties

[2015-04-11 22:57] tonpo commented on #2521
I'm not sure the case in the example is surrogate pairs issue.
Actually it seems that it's another problem which ES6 will not solve.

According to the link you gave in the forum post:

But it seems that each character in the in the example string can be represented as 3 hexadecimal digits.
I think the problem here is that some characters should be placed in the same position of other letters, not

[2015-04-13 00:12] kring commented on #2629
@WarpDrive thanks for the work on this.

Please feel free to open a pull request.  We won't merge it until you've signed the CLA, but it's much easier to review and comment on a pull request.  Any problem signing the CLA?  You can just email it in.

I don't think it's a good idea to add extra properties to `Cartesian3`, because tacking on extra properties is likely to break optimizations that brow

[2015-04-13 11:48] pjcozzi commented on #2629
Thanks for submitting the CLA, @WarpDrive.

[2015-04-13 14:01] mramato opened #2631 "ScreenSpaceEventType.RIGHT_DOUBLE_CLICK does not work"
As noted in [this forum post](https://groups.google.com/d/msg/cesium-dev/0f_KD1InXyE/pbMuKz2dxxAJ).  We should either fix this or do as we've talked about in the past and deprecate `ScreenSpaceEventHandler` since it adds nothing to the public API (and recommend users just use standard mouse events).

[2015-04-13 14:52] emackey commented on #2631
I mostly agree, but I should clarify there is one thing that `ScreenSpaceEventHandler` does offer users:  It combines the separate mouse, touch, and pointer events that browsers currently use.  Perhaps this problem will take care of itself when browsers standardize someday, but for now `touch` will continue to be the only solution on iOS, and pointer events on IE, etc.  Using our event API is perh

[2015-04-13 15:08] mramato commented on #2631
@emackey while your point is valid, I would argue that unifying input functionality is outside of the scope of Cesium.  Anyone writing an app should just use [PEP](https://github.com/jquery/PEP) or one of the other polyfills to unify input interaction (though PEP seems to have quickly become the de factor one).  The only reason we can't use a polyfill in Cesium is because we don't want to do anyth

[2015-04-14 01:26] WarpDrive commented on #2629
You're welcome. I'm surprised it was processed so quickly, I look forward to being able to contribute! Before re-coding and making a pull request, I was hoping to get some feedback on the following:

Perhaps a triangle3D object could be created, similar to these object
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/Plane.js
https://github.com/AnalyticalGraphicsInc/cesium/b

[2015-04-14 17:57] lioneldelmo commented on #2627
It is exactly what I did after looking at the code by calling the "private method" camera._setTransform(transform) instead of the camera.lookAtTransform() unfortunately it's the same behavior. The good news is, I was able to mimic the 1.6 behavior (camera.transform = transform) in 1.8 by literally copying the old logic which is camera._transform = transform; camera._transformChanged = true;

[2015-04-14 23:24] #1898 closed

[2015-04-14 23:43] mramato commented on #2577
Can this be closed?  It looks like the issue you created above has been closed.

[2015-04-14 23:50] mramato commented on #2542
This was fixed with #2609.  @alexander-entin, if you are still having an issue with the latest release, let us know.

[2015-04-14 23:50] #2542 closed

[2015-04-14 23:56] mramato commented on #1805
I vote we close this.  Our users are already using Cesium on desktop and iOS devices and Safari support is as good as it's going to get until Apple starts taking WebGL more seriously.  Cesium works, but our unit tests barf because of bugs in Safari.  It can't even make it through the real WebGL conformance tests without crashing (and has tons of failures before doing so).  I'm fairly certain there

[2015-04-14 23:56] WarpDrive commented on #2627
in the updatemembers function:
camera._transformChanged == true invokes the if statement here
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Camera.js#L418
then camera._transform is used in that if statement

in the _setTransform function
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Camera.js#L781
it does set those vars then calls updatemembers

[2015-04-14 23:57] #2091 closed

[2015-04-15 00:10] #2494 closed

[2015-04-15 00:10] #2577 closed

[2015-04-15 00:12] pjcozzi commented on #1805
Agreed.

[2015-04-15 00:12] #1805 closed

[2015-04-15 00:24] mramato opened #2635 "Lighting regression"
532aa53c6711e25cd513b21c0aff43b858f6a771 brings back the 2D/CV lighting issue that was fixed in #2515.  The commit before it, f507210c3af52a9a3ca17597e0731c4916964591, does not have the issue.  You can see this easily enough in the [GeoJSON Sandcastle example](http://localhost:8080/Apps/Sandcastle/gallery/GeoJSON%20and%20TopoJSON.html).

I'm marking this a showstopper so that we at least look at i

[2015-04-15 01:13] kring commented on #2629
Sounds ok to me.  Probably just call it `Triangle`.

No, the mesh (optionally) has a normal at each vertex, which is better for lighting than a normal per triangle.

Even though I used one in my hacked up version in the `nm` branch, we try to avoid type-less objects in Cesium.  Well-defined types give us a good place to put documentation and potentially aid the browser's ability to generate fast c

[2015-04-15 15:04] mramato opened #2636 "CZML support for polyline volume"
I thought we had this, but we don't.  Recently requested [on the forum](https://groups.google.com/d/msg/cesium-dev/eE925_Dz3sg/GuJ2uzpCRnAJ)

[2015-04-15 15:46] bagnell commented on #2195
This is broken again. `Rectangle.intersection` does not handle intersection with `Rectangle.MAX_VALUE` properly. Also `ImageryLayer._createTileImagerySkeletons` needs to not assume that `west` is strictly less than `east` for all rectangles.

[2015-04-15 16:07] mramato commented on #2195
Could the MAX_VALUE issue be related to #2624?

[2015-04-15 18:24] WarpDrive commented on #2629
Thanks for all of the information and advice. I'll limit the scope by not adding things like triangle area, barycenter, and get plane from triangle. I was thinking of either adding properties to the current Ray object, or introducing a RaySegment object.

RaySegment object (like a Ray, but not of infinite length)

	//properties
	origin
	direction
	range
	destination

	partial data where the rest c

[2015-04-15 21:50] bagnell commented on #2627
The reason transform was remove is because there weren't many use cases for it and it was confusing to have so many ways to set the same property. Many of our code examples that set the camera reference frame also were followed by a lookAt. So, I combined the two. There were only a very few cases where I needed the old behavior, but it is still possible:

`camera.setTransform(transform, Cartesian3

[2015-04-15 21:50] #2627 closed

[2015-04-15 23:36] bagnell commented on #2624
Why not use `Cesium.Math.negativePiToPi` for both east and west? Even though it's the same angle it will preserve the sign.

[2015-04-15 23:40] bagnell commented on #2195
I don't think so. I believe that issue is with `Cesium.Math.convertLongitudeRange` and this one is definitely with `Rectangle.intersection`.

[2015-04-15 23:49] kring commented on #2629
As a general rule, the result of a method that computes something does not need to indicate the input parameters that went into computing it.  For example, `IntersectionTests.rayTriangle` just returns the intersection point as a `Cartesian3`.  The result does not indicate the ray and triangle that were intersected, nor should it.

Similarly, I don't think the new `RayTriangleIntersection` type nee

[2015-04-15 23:49] mramato commented on #2624
Most likely because I have no idea what I'm doing and `convertLongitudeRange` just sounded like the right function :)  So what is the use case for `convertLongitudeRange`?

[2015-04-16 01:00] WarpDrive commented on #2624
Ya, that function works well, I'm not sure why one would use convertLongitudeRange rather than negativePiToP now that Bagnell mentioned it. Both functions go back to 2012 though.
[code]
I noticed that https://github.com/AnalyticalGraphicsInc/cesium/commit/ced9b3159ac8e799543b004db08a93f5922a9e60 also uses negativePitoPi though latitude only spans -Pi/2 to +Pi/2 , but I doubt anyone would plug in a

[2015-04-16 04:44] WarpDrive commented on #2627
I'm a bit confused by camera.setTransform(transform, Cartesian3.clone(camera.position));
The non-underscore version was deprecated. Also I don't see where either version uses a second argument. I'm guessing that's a typo, and you meant lookAtTranform, which makes sense considering the ICRF example.

[2015-04-16 12:33] #2624 closed

[2015-04-16 15:46] pjcozzi opened #2641 "Add credit outside of the render loop"
`Credit` and `CreditDisplay` were designed for adding attribution based on visibility, e.g., terrain tiles, during the render loop.

We also want apps to be able to add their own persistent credits directly without having to tap into the render loop and private `frameState`

From the Seattle demo.

[2015-04-16 15:54] shunter commented on #2641
This is what `addDefaultCredit` is for.

[2015-04-16 16:59] bagnell commented on #2624
@mramato I don't know. I looked at the history and it was added when Cesium was first submitted to GitHub. It's not used anywhere though.

[2015-04-16 17:42] bagnell commented on #2627
@WarpDrive Yes, sorry, I meant `lookAtTransform`.

[2015-04-16 17:45] pjcozzi commented on #2641
Ah, yes.  Thanks!

[2015-04-16 17:45] #2641 closed

[2015-04-16 19:30] emackey opened #2642 "Cesium.ViewportQuad flickers"
We have an apparently disused class, `Source/Scene/ViewportQuad`, that flickers a lot on my machine when you place a translucent one.

Several places in the code we do make use of a different function, `context.createViewportQuadCommand`, and indeed `Cesium.ViewportQuad` makes use of this context method to create its own draw command.  At one point in the past we were using `Cesium.ViewportQuad` f

[2015-04-16 21:00] WarpDrive commented on #2627
Thanks for the clarification. I see that will retain the position, but not orientation, which snaps to looking at the new origin. Though it would be weird if it didn't snap to looking at the new transform origin.

[2015-04-16 21:32] WarpDrive commented on #2629
I understand not returning what was inputted. So RayMeshIntersection will only include the triangle, the point of intersection, and possibly range.

Range is what is determined by rayTriangle. There may be cases where all the app wants is range. In that case rayTriangle calculates range, then IntersectionTests.rayTriangle calculates intersection point (not used) and throws away range (is used), th

[2015-04-17 03:43] kring commented on #2629
You'll have to refactor `IntersectionsTests` to make the raw range accessible - and be sure to maintain backward compatibility -  but I have no problem with that if you're up for it.

For your proposed `Globe` methods, I'd suggest something more like:

[code]

Thanks again for working on this!

[2015-04-17 13:45] mramato opened #2645 "Expose SceneTransforms.wgs84ToWindowCoordinates on Scene"
Getting screen coordinates from world coordinates is a common question on the mailing list.  While `SceneTransforms.wgs84ToWindowCoordinates` can do this, no one ever stumbles on it via our documentation.  We should expose it on the scene prototype instead.

We should also add a Sandcastle example that shows creating an HTML overlay via world coordinates.

[2015-04-17 15:00] mramato opened #2647 "SceneTransition should retain camera location"
An extremely common request on the forum is to retain the current camera view when switching Scene modes.  There are also requests for having an easy way to instantly change scenes.  I, personally, have wanted this functionality forever too.  We should consider adding it soon.

[2015-04-19 19:58] WarpDrive commented on #2647
Instant change is already here viewer.sceneModePicker.viewModel.duration=0; The button animation isn't instant though, perhaps that should be instant as well?

When transferring between 3D and CV if you just transfer lon/lat/alt and hea/pit/roll and fov of the camera the view can be different due to the fact that the shape of the Earth is different (accentuated at higher altitudes.) Transferring t

[2015-04-20 14:25] #2452 closed

[2015-04-20 15:11] #2642 closed

[2015-04-20 15:23] emackey commented on #2647
@WarpDrive try adding this CSS:

[code]

[2015-04-20 17:01] mramato commented on #2628
Fixed in #2648, the lookAt stuff will be handled as part of the KML roadmap.

[2015-04-20 17:01] #2628 closed

[2015-04-20 17:40] ckoster22 opened #2649 "KML - Double click point and left click functionality breaks"
https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=KML.html&label=Showcases

The KML showcase in the Cesium Sandcastle shows 3 sample KML files. Allow it to load the default selected KML, KML - Global Science Facilities, and double click one of the points displayed on the map.

After you are zoomed into that point (is this an intended feature?) you can no longer left click and drag to pan

[2015-04-20 17:56] mramato commented on #2649
Yes, that is the intended behavior.  Cesium has first class support for time dynamic and moving objects, so when you are double click on something, the default behavior is to go into tracking mode.  You can disable the default double click handling and add your own.  Here's an example that zooms to the entity rather than tracking it.

[code]

In the future, please start a [forum discussion](https:

[2015-04-20 17:56] #2649 closed

[2015-04-20 18:07] mramato opened #2650 "Undefined values for Entity boolean properties can crash Cesium"
From [the forum](https://groups.google.com/d/msg/cesium-dev/wUL8pqy5jf0/0LQg4hRLTfIJ), the below snippet will crash Cesium when jumping to a time outside of the show interval because we internally return `undefined` which then has boolean logic applied to it, which simply propagated the undefined.  Eventually, we try and create a `ShowGeometryInstanceAttribute` with a value of undefined, which thr

[2015-04-20 18:09] mramato commented on #754
Some discussion on the [fourm](https://groups.google.com/d/msg/cesium-dev/AMvvGRwCo_k/TBCPZHrh1YgJ)

[2015-04-20 20:24] bagnell commented on #2130
The `billboard-transparency` branch has a hacked in fix for this. If we decide to go with two passes, I could clean it up.

[2015-04-20 21:46] theOgrable opened #2651 "Test Failures report"
Hi everybody,

Here is a unit test failure report following a discussion initiated on the Google group forum that you can find [here](https://groups.google.com/forum/#!topic/cesium-dev/00uetXoqtTA)

So I checked your recommandation :

1. Browsers are up-to-date
2. I was sure that my graphic cards were up-to-date trusting that I would have had some notifications if not, but I still double checked,

[2015-04-21 03:57] mramato commented on #2651
I would actually recommend you update your Intel driver, but that's up to you.  I have dual set up as well and I always update both drivers.  Assuming your laptop is using nvidia optimus, your browser will use the Intel card for WebGL rendering unless you explicitly configure your browsers to use the Nvidia card (which can be tricky to do).  So updating the driver may make some of these pass (but

[2015-04-21 11:14] theOgrable commented on #2651
Well, I tried to update my graphic card following [these instructions](http://www.intel.com/support/graphics/sb/CS-033915.htm), but in the end, it tells me that my driver are up-to-date and do nothing.
I suppose it's in some way due to manufacturer specific driver. I will try Acer support, to see if they can provide any help.

That being said, I noticed something else when running my Cesium IIS in

[2015-04-21 13:59] mramato commented on #2651
I haven't had much experience with Acer in recent years, but one of the traditional problems with brands like them is that they lock you into specific drivers and stop updating them a long time before the machine has outlived it's usefulness.  Unfortunately, the drivers end up having bugs that never get fixed.

The terrain MIME type is not octet-stream, it's application/vnd.quantized-mesh, see the

[2015-04-21 14:44] #2651 closed

[2015-04-21 14:54] emackey commented on #2651
We added the MIME type, but ultimately the tests aren't going to pass unless you run them against `node server.js` (from the Cesium root folder), as there is some proxying logic there needed by the tests.

[2015-04-21 15:00] mramato commented on #2651
@emackey I could be wrong but I don't think that's true.  We never actually use the proxy in the tests, we check that `DefaultProxy` generates specific URLs but that's about it.  I ran the tests in IIS last night and they all passed once I added the MIME type.

[2015-04-21 15:11] emackey commented on #2651
@mramato oops!  Apparently I didn't `git pull`.  But indeed, I see the tests passing under IIS now.

[2015-04-21 15:14] WarpDrive commented on #754
Thanks Matt. There's also an issue with mousewheel: when you can scroll the page Cesium is on, you can't mousewheel the timeline because the page scrolling moves the timeline away from the pointer, and the pointer needs to be hovering over the element to register mousewheel (for keyboard events only focus is needed, not hover over.) So when the timeline is hovered over page scrolling should be dis

[2015-04-21 16:51] alexander-entin commented on #2619
I believe this is related.

Open this [link](http://raceqs.com/test/gltf/_/test.htm#J22,1,boat,1,CHP,0,). Rotate the model. Leave it alone for a few seconds. You'll see "J/22" logo appear on the sail. Rotate again. Logo disappears. And reappears after some time standing still. The same in all Chrome, FF and IE.

What is common with the above? While there is something changing, something to compute

[2015-04-21 17:00] alexander-entin commented on #2619
Just an observation: In the above example the logo reappears at the same time as "Image courtesy of NASA" disappears from  credits.

[2015-04-21 23:31] pjcozzi opened #2655 "Unified time slicing tasks"
To throttle work on the main thread like:

* Quadtree tile updates
* Billboard/label terrain clamping
* Model texture/buffer creation.  WebGL resource creation in general.

Right now, each has their own system, which does not provide real control over avoiding dropping frames.

[2015-04-22 05:35] chocstarfish opened #2656 "Cannot remove entity with a path"
In the Interpolation demo (http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Interpolation.html&label=Showcases)

I tried to remove the entity by adding following codes:
[code]
or
[code]
I got an error from the console as following and the deletion failed:

[2015-04-22 12:38] pjcozzi opened #2657 "Primitive exception for empty rectangle"
Run the following in Sandcastle:
[code]
Note that the rectangle's `west === east` and `south === north`.
![image](https://cloud.githubusercontent.com/assets/782098/7274429/a73cc7ce-e8ca-11e4-81dc-9fb1833be4d8.png)
This is not an exceptional case.  We should just render nothing.  I suspect there is a similar issue in `RectangleGeometry` and probably most geometries.

@bagnell can you have a look af

[2015-04-22 14:03] mramato commented on #2656
Thanks for the bug report.  This doesn't happen in Cesium master and after some digging I found it was already fixed (by accident) in #2620.  The fix will be officially available with Cesium 1.9 on May 1st.

The two line change to `Source/DataSources/DataSourceDisplay.js` in that PR is what fixed it, just in case you want to make a temporary change to your local copy.

[2015-04-22 14:03] #2656 closed

[2015-04-23 15:48] mramato opened #2658 "Geocoder styling bug in Safari"
As reported on the [forum](https://groups.google.com/d/msg/cesium-dev/-t0Htvlrgn0/_L4YRNmsJHYJ). It looks like the form or input styling isn't being applied in Safari (when expanded it's an ugly white text field).  @emackey any ideas?

![image](https://cloud.githubusercontent.com/assets/1495196/7301060/2f161b58-e9ae-11e4-8e6b-8d3d3a0a1bc6.png)

[2015-04-24 15:41] #2658 closed

[2015-04-24 19:22] emackey opened #2662 "Array length invalid due to hidden canvas"
Here's a familiar old error, with a brand new root cause.

[code]

Steps to reproduce the new way:

1. Launch [Cesium Viewer](http://cesiumjs.org/Cesium/Build/Apps/CesiumViewer/index.html)
2. Open DevTools.
3. Find & select the DOM element with `id="cesiumContainer"`.
4. Put a temporary element-specific style rule: `width: 0`.  The globe will disappear, that's OK.
5. Un-check your new temporary ru

[2015-04-24 19:26] emackey commented on #2662
Take a look at [CesiumWidget.js#L647-L651](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.8/Source/Widgets/CesiumWidget/CesiumWidget.js#L647-L651), where `initializeFrame` continues to be called while `render` is skipped.  Should we just skip both when `_canRender` is false?

[2015-04-24 23:21] jbo023 opened #2664 "Missing startposition for ScreenSpaceEventType.PINCH_START event"
On touch devices(android, ios tablet) I observed some sluggish and unpredictable results during zoom/tilt/rotate with a two finger pinch gesture on this page: https://cesiumjs.org/Cesium/Build/Apps/CesiumViewer/index.html.

This only happens if the camera is near the ground.

After some digging in the code I found the following bug in the pinch event handling methods.

In the File Scene/CameraEven

[2015-04-25 15:42] pjcozzi commented on #2172
Recent paper:

* [Practical line rasterization for multi-resolution textures](http://www.crs4.it/vic/data/papers/stag2014-line_rasterization.pdf), 2014

[2015-04-27 00:18] WarpDrive commented on #2664
Does this also effect the same line at https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/CameraEventAggregator.js#L176

I don't know if this is related or not, but if you press/hold left mouse then press/hold ctrl then let go of left mouse then let go of ctrl it acts as if left mouse is still pressed. Order of pressing is important: it works OK if ctrl was pressed before lef

[2015-04-27 00:43] alberto-acevedo commented on #2509
I would like to know the status of supporting canvas with rectangle geometries. The use of canvas. in materials instead of toDataURL() will greatly improve the performance of my Cesium application.

Thanks,

Alberto

[2015-04-27 07:01] jbo023 commented on #2664
Hi,

this shouldn't effect the line 176: Only two finger touch events do have two positions in the event, see

https://github.com/AnalyticalGraphicsInc/cesium/blob/fd4112e344bb822eb34aec4eb8643ff95f22f593/Source/Core/ScreenSpaceEventHandler.js#L380-L383
so the CRTL bug should have another cause

[2015-04-27 15:04] emackey commented on #2664
@WarpDrive that's a separate issue, #2522.

[2015-04-27 15:20] emackey commented on #2522
@WarpDrive what's happening is that Cesium tracks buttons individually [by both button and modifier](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.8/Source/Scene/CameraEventAggregator.js#L26-L32), so it thinks that "LEFT" is a separate button from "SHIFT+LEFT", which is a separate button from "CTRL+LEFT".  So, a mouse-down on LEFT, followed by a mouse-up on SHIFT-LEFT, releases a "differe

[2015-04-27 19:25] mramato commented on #2509
@alberto-acevedo thanks for the reminder.  You caught me on a good day so I was able to open up #2667 which adds this capability.

[2015-04-28 06:40] trusktr commented on #2623
@kring That's amazing. Thank you!

[2015-04-28 13:18] mramato commented on #2662
In the short term, this is probably the best option.  Longer term, may need better checks inside functions that require a non-zero canvas to work.  Because fixing the default render loop does nothing if a user calls into some camera function while the canvas is hidden.  Adding checks all over the place may affect performance, so more research would be needed.  Since it's such an edge case, I'm not

[2015-04-28 17:10] emackey commented on #2662
I'm not too concerned for users who manually call render on a zero-size canvas.  PR looks good.

[2015-04-28 17:10] #2662 closed

[2015-04-28 19:08] #2664 closed

[2015-04-28 22:41] #2509 closed

[2015-04-29 11:55] espacedev opened #2670 "How to get the name of the folder (KML) with Cesium"
I need to recover all the name of the parent folder and name of the folder child in KML

[2015-04-29 13:49] mramato commented on #2670
In the future, please use [the forum](http://cesiumjs.org/forum.html) for any questions and comments you might have.  More people will see your post and you will usually get more/better help. We try to only use GitHub issues for actual bugs and features.

That being said, the answer to your question is that you need to get the list of entities after the KML loads and iterate through them looking a

[2015-04-29 13:49] #2670 closed

[2015-04-29 15:42] pjcozzi commented on #1259
Billboards/Labels were updated in #2669

[2015-04-29 20:20] emackey opened #2672 "Sandcastle "open in new window" broken for Development demos"
None of the demos in the new "Development" subfolder work with the "Open in New Window" Sandcastle toolbar button, due to path problems.

[2015-04-30 14:09] mramato opened #2673 "Create getAbsoluteURL helper function"
There are a few places in the code where we create absolute urls from relative paths.  The code generally looks something like the below.  We should probably create a private helper function and replace all usage of `resolve` with it.  I know it's at least used in `CzmlDataSource` and `KmlDataSource` and once #2659 comes in, `Model` as well.  May be a few other places as well.

[code]

[2015-04-30 20:27] mramato opened #2677 "Ability to use Cesium in Chrome packaged apps"
From [the forum](https://groups.google.com/d/msg/cesium-dev/DlUgwLL_Xj8/fw0yk-t23MEJ). Currently the Viewer widget can't be used in a Chrome packaged app because Knockout is not CSP compliant.  There are some workaround out there and it might be possible to use them to enable this functionality.  There's also a chance that the type of binding we do with knockout makes this basically impossible.  M

[2015-04-30 20:32] emackey commented on #2672
This fix should get merged before the 1.9 release, so I'm flagging it.

[2015-04-30 20:39] mramato commented on #2672
Don't worry, I'll merge this later tonight.  But it's not a show stopper because we don't actually ship any of the Development examples.

[2015-05-01 02:12] #2672 closed

[2015-05-01 13:20] mramato commented on #2635
Unfortunately this isn't going to make 1.9, but I'm leaving it as a showstopper so that we don't let it languish and try and fix it for 1.10.

[2015-05-01 14:32] mramato opened #2678 "Exception when canceling morph while flight in progress."
1. Run the [Camera example](http://localhost:8080/Apps/Sandcastle/index.html?src=Camera.html&label=All).
2. Selected `Fly to Location with heading, pitch, and roll`
3. While in flight, switch to 2D or CV mode
4.  Immediately click the canvas to complete the morph.

You'll get the following stack trace:
[code]

[2015-05-01 14:34] mramato commented on #2678
Turns out this is bug is specific to the camera Sandcastle example, but might be exposing a race condition with the `morphComplete` event in Cesium itself.

[2015-05-01 14:38] mramato opened #2679 "Cesium Inspector does not work in IE"
Neither the "Pick a Primitive" or "Pick a Tile" functions work in the Cesium Inspector in IE. Apparently this has been broken for a while (assuming it ever worked at all).

[2015-05-01 14:44] mramato opened #2680 "Race condition in viewer.zoomTo"
1. Run one of the [Geometry examples](http://localhost:8080/Apps/Sandcastle/index.html?src=Circles and Ellipses.html&label=All)
2. Add `viewer.scene.morphTo2D();` to the bottom.

When you run the app, you'll get a crash because `viewer.zoomTo` ends up calling `viewBoundingSphere` during the morph.  We need to detect that the morph is in process and wait for it to complete before zooming.

Here's t

[2015-05-01 14:51] mramato commented on #2635
Turns out this is OIT only now, since disabling fixes the issue.  It also works on IE (I'm not sure if IE has extensions needed for OIT or not)

[2015-05-01 15:21] mramato opened #2681 "Rim Lighting material does not work as expected in 2D/CV"
Title says it all.  Run the Sandcastle [Materials](http://localhost:8080/Apps/Sandcastle/index.html?src=Materials.html&label=All) example, switch to 2D and choose Rim Lighting.  You'll get something like the below and the red position changes as the camera moves

![image](https://cloud.githubusercontent.com/assets/1495196/7432222/31258676-eff4-11e4-90bd-4dc062ebc746.png)

[2015-05-01 15:24] mramato opened #2682 "Odd Polyline breaks when zoomed out"
Zoomed in
![image](https://cloud.githubusercontent.com/assets/1495196/7432248/77b68d42-eff4-11e4-9aff-6f28c49f3189.png)

Zoomed out
![image](https://cloud.githubusercontent.com/assets/1495196/7432257/82fcd8c8-eff4-11e4-8218-21cd790a33ab.png)

Happens in all scene modes and materials, it's more obvious with the outline material, but I'm lazy and din't resnap.

[2015-05-01 15:26] mramato commented on #2682
Here's a more obvious shot, notice the outline cuts through the center of the polyline at the inside corners:

![image](https://cloud.githubusercontent.com/assets/1495196/7432291/de63465c-eff4-11e4-8b5c-528c772922e1.png)

[2015-05-02 09:18] WarpDrive commented on #2522
It would be nice if browsers would provide a list of pushed keys and buttons (like GamePad API does), in addition to providing changes to key/button states. If you hold a key/button down then the document loses focus (like clicking on the URL bar), then you let go of the key/button then go back to the document how the heck is the document going to know that the key/button was let go? When losing f

[2015-05-04 14:51] emackey opened #2683 "Can't switch to CV in Camera Demo"
Load the [Sandcastle Camera](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Camera.html&label=Showcases) demo, and switch to Columbus View.  This error appears at the end of the morph.

[code]

[2015-05-04 14:53] emackey commented on #2683
Oops, didn't notice #2678.  Still these reproduction steps are even shorter than those.

[2015-05-04 14:55] #2683 closed

[2015-05-04 14:55] mramato commented on #2678
CC #2683

[2015-05-04 14:56] emackey commented on #2678
Load the [Sandcastle Camera](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Camera.html&label=Showcases) demo, and switch to Columbus View.  This error appears at the end of the morph.

[code]

[2015-05-04 17:05] markerikson commented on #2268
Would be nice if Cesium exposed the ability for the application to manipulate the throttling behavior (say, by changing the current max requests allowed).  Would be useful for bandwidth-sensitive situations.

[2015-05-04 19:26] alberto-acevedo commented on #2509
I just tried the new tml5 canvas as a rectangle material capability but there seems to be a problem when rendering more than one canvas. The first time I render a canvas it works fine. But when I tried to render a different canvas,  what is rendered is the first canvas. Is it something I'm doing wrong or is this a bug? My code is below:

var multiPointRectangle =  new Cesium.RectangleGraphics();
v

[2015-05-04 19:34] mramato commented on #2509
You might be running into the issue described in #2633.  I'll see if I can reproduce and confirm.

[2015-05-04 21:50] pjcozzi opened #2685 "Billboard and labels roadmap"
* [ ] Optimize ray/terrain intersection when getting height.  At least add a 2x2 or 4x4 grid, if not an octree/quadtree that is a few levels deep.  That will probably take a day and produce a 10x gain.  Also consider temporal coherence, adjacency info, and simplifying the math for the case when the ray is along (well opposite) the ellipsoid normal.
* [ ] Billboard ground shadows to give a better s

[2015-05-05 09:14] alexander-entin commented on #2619
Still there in Cesium 1.9 and Chrome 42-44

[2015-05-05 11:50] kring commented on #2268
I made a small change in the `nm` branch awhile back to allow this:
https://github.com/AnalyticalGraphicsInc/cesium/commit/e9b0bae375d9db1570e8bc9624707b7aac0a5d30

[2015-05-05 13:35] mramato opened #2686 "Adding new entity may break entity.show"
Add reported on [the forum](https://groups.google.com/d/msg/cesium-dev/H51WamJOOXY/NWurd8-RRGoJ), hiding all entities and then adding a new one can cause some entities to reappear.  Here's a Sandcastle example that shows the problem (hit Hide and then Add Entity).

[code]

[2015-05-05 16:00] ChristinaElaine opened #2687 "KMLDataSource PolyStyle outline tag causes failure to render polygon"
When I add a KMLDataSource of a polygon that has a PolyStyle with an outline tag, it fails to render. Removing the tag allows it to render (although not with the correct line width, but I think that might be a separate known issue). I tested with the Cesium Viewer demo (https://cesiumjs.org/Cesium/Build/Apps/CesiumViewer/index.html).

Here is the KML file that does not render:

[code]

And here it

[2015-05-05 19:07] markerikson opened #2688 "KML GroundOverlay should apply alpha transparency value from color property"
Google Earth supports a `<color>` value on a `<GroundOverlay>`.  The RGB values are ignored, and the alpha value is applied to the image  (see http://dagik.org/kml_intro/E/image.html for an example).  It would be nice if Cesium supported that as well.

[2015-05-05 19:09] mramato commented on #2688
Thanks, unsurprisingly I don't think the spec mentions this.  If this is trivial, I'll get it into 1.10.

[2015-05-05 19:34] GatorScott commented on #2688
If I change the color to 550000FF I see a red tinted image.  The choice of white is probably giving the impression that it is being ignored since the center of the image is white anyway and blending a transparent white would serve to soften the color even further.

[2015-05-06 08:06] dragon112 commented on #2208
I'm very interested in this feature/plugin, is it being developed or should I not wait for this?

[2015-05-06 12:06] mramato commented on #2208
No one is actively working on heatmap.js integration, but it should actually be pretty straightforward to do at this point.  All you have to do is generate the heatmap and then assign the canvas to a polygon material.  For dynamic heatmaps, you should be able to use a CallbackProperty to return a different one each animation time.  Ideally, it would be able to take any EntityCollection and render

[2015-05-07 14:38] maburiza commented on #873
Hi, How can I get the coordinates from Kml file using JavaScript

[2015-05-07 16:41] pjcozzi opened #2691 "Billboard/label on terrain flickering"
As described [here](https://github.com/AnalyticalGraphicsInc/cesium/pull/2653#issuecomment-99255110) and [here](https://github.com/AnalyticalGraphicsInc/cesium/pull/2653#issuecomment-99262447).  @bagnell is right about the root cause.

[2015-05-07 18:53] pjcozzi opened #2693 "Models clamped to terrain"
Using a similar technique to billboards (#2172)

[2015-05-07 18:56] pjcozzi opened #2694 "Labels/billboards on terrain and depthTestAgainstTerrain"
When labels/billboards are clamped to terrain, they require `depthTestAgainstTerrain` to be `false` so they do not sink into terrain.  However, this allows 3D models and extruded geometries, for example, to come through terrain.

@bagnell and I have brainstormed a few ideas like using an extra depth buffer or stenciling.  We're hoping for something simpler though.

[2015-05-08 01:21] WarpDrive commented on #2271
Only relatively flat tiles disappear. https://groups.google.com/d/msg/cesium-dev/OON3DghJS-4/csZA-Q6pF5gJ

[2015-05-08 22:14] Hoverbear commented on #873
Hi folks, is there anyone working on `lookAt` right now? If not, could someone point me at where I might want to look to add this or at least access the data in the KML? Thanks.

[2015-05-09 15:04] mramato commented on #873
@maburiza and @Hoverbear in the future, please use [the forum](https://groups.google.com/forum/?fromgroups#!forum/cesium-dev) for general questions and discussions.  More people will see it and you're likely to get a faster answer.

@maburiza We don't have a way to directly get the extent of an entire file (since it changes over time), but you can iterate the loaded entities and discover any infor

[2015-05-09 18:20] GatorScott opened #2695 "Doc for getPixelSize contains errors"
The help for PerspectiveFrustum.getPixelSize is confusing.  While it does correctly identify the first parameter as being a Cartesian2, the examples indicate a different structure ({integer width, integer height}).

[2015-05-09 19:08] markerikson commented on #2688
For what it's worth, GE Desktop exposes a "Transparency" slider in the Properties dialog for a GroundOverlay.  I suppose there might be a use case somewhere for actually applying the other color values as well, but alpha is certainly the most obviously useful (and admittedly the only one I care about myself).

[2015-05-11 15:37] emackey commented on #2695
The examples also show use of `canvas.clientWidth` and `canvas.clientHeight`, but actual internal use always references the undocumented `context.drawingBufferWidth` and `context.drawingBufferHeight`.  The buffer width & height are available to the user through other means, should we steer users towards that instead?  (Naturally the heights differ when browser zoom is in effect, and on high-DPI mo

[2015-05-12 04:36] speigg opened #2699 "entity.definitionChanged callback has incorrect `oldValue` for new properties"
When a new property is assigned to an Entity, the `entity.definitionChanged` event reports `newValue` and `oldValue` as the same property instance, even though `oldValue` should be undefined.

Edit: nevermind, I misunderstood what was happening (i.e, the event is triggered whenever a property's values change)

[2015-05-12 04:49] #2699 closed

[2015-05-12 15:18] #2679 closed

[2015-05-12 21:20] pjcozzi commented on #2132
From Mapzen: [Look Upon Our Squares of Math in Three Dimensions](https://mapzen.com/blog/look-upon-our-squares-of-math-in-three-dimensions)

[2015-05-13 13:07] pjcozzi commented on #1964
I think this is because moon is updated in `updatePrimitives` as a generic primitive, instead of in `executeCommands` like the special case stars, atmosphere, and sun so it is rendered after the atmosphere.  The downside of moving it is that we would lose its depth, but I don't think that is a problem for our current use cases.

@bagnell what do you think?

[2015-05-13 14:55] pjcozzi opened #2701 "Sun bloom rectangle"
For horizon views when the sun is just rising or setting, it looks like bloom saturates and the scissor rectangle becomes prominent:

![image](https://cloud.githubusercontent.com/assets/782098/7613391/66b07fbc-f95e-11e4-922c-6dd7f7840197.png)

Please close if duplicate.

[2015-05-13 19:23] pjcozzi commented on #751
We should be able to use the post-processing framework to drive this (at the start of the frame) since our compute passes are viweport-aligned quads.

[2015-05-13 21:00] hpinkos commented on #1262
"It is not recommended to use the geocoding service to power an auto complete function" [forum post](https://social.msdn.microsoft.com/Forums/en-US/f570ddc1-2d5f-40c6-ba66-7a5ccc8f4138/bing-maps-location-api-for-autocomplete-addresses-no-apartments?forum=bingmapsservices)

The bing maps "locations" REST API doesn't have any way of asking for the top results that start with whatever you are typing,

[2015-05-13 22:05] jdkatz opened #2707 "Folders and Expansion of KML"
Is there any development plans to support parent folders and expansion in KML?

[2015-05-13 22:59] pjcozzi commented on #244
@bagnell I believe #2506 fixes this, do you agree?

[2015-05-13 23:03] pjcozzi commented on #1218
No one has asked for this except me and this can be done at the app level so I am OK with closing this.  Anyone feel otherwise?

[2015-05-13 23:42] emackey commented on #1218
Can we post a sample of app code that does this?

[2015-05-14 13:01] mramato commented on #2707
Unless you are talking about an interactive user interface, we already support it.  While Cesium's `EntityCollection` is a flat array, each entity has a `parent` property which can be used to visually construct the KML hierarchy.  Toggling the `show` property on an entity also toggles the visibility of child objects, just like KML.  If you are talking about a UI like Google Earth has, it's not on

[2015-05-14 13:01] #2707 closed

[2015-05-14 19:05] #2366 closed

[2015-05-14 19:43] hpinkos opened #2715 "Inertia causes camera events to be fired multiple times"
Open the Camera Sandcastle example, select Move events from the dropdown and fling the globe.

You'll see the `View Changed` div flash on and off several times before it disappears because the camera is raising the `moveStart` and `moveEnd` events multiple times as it slows to a halt.

@bagnell

[2015-05-14 21:36] emackey opened #2716 "Entities with bounding spheres do not make use of EntityView.defaultOffset3D."
For example, load the CZML demo in Sandcastle, and try double-clicking some objects to track them with the camera.  The initial view when tracking a new object should have the horizon or the limb of the Earth visible in the default view.  The Molniya in particular should not be shown floating in space with no trace of the Earth anywhere.  It would be great if a unit test would check for Earth visi

[2015-05-14 22:07] mramato commented on #2716
This is by design and is a stop gap until EntityView is rewritten or deprecated for a new class that better handles bounding spheres and tracking them.  It's going to have to happen soon because of the vector data on terrain changes.

I took a quick look and we can make it respect defaultOffset3D, but it should be the same default that the Camera uses for `adjustBoundingSphereOffset`, in Camera.js

[2015-05-18 12:22] kring opened #2724 "Remove getFeatureInfoAsGeoJson and getFeatureInfoAsXml from WebMapServiceImageryProvider in Cesium 1.13"
They were deprecated in 1.10.

[2015-05-18 12:26] pjcozzi commented on #2724
Deprecated in #2723.

[2015-05-18 20:59] pjcozzi opened #2725 "Sandcastle flyTo query parameter"
This would be really useful for debugging and profiling.  It was added to Viewer in #2500.

@emackey add [some ideas](https://github.com/AnalyticalGraphicsInc/cesium/pull/2706#issuecomment-102171223) about this.

CC @maikuru, @adi2412

[2015-05-19 15:50] icholy opened #2728 "Cartesian type"
I'm a little confused about the `Cartesian` type that gets used.

* [TilingScheme#positionToTileXY](https://github.com/AnalyticalGraphicsInc/cesium/blob/0af79be33aca5a6c004050d20ba1f2be3cd95357/Source/Core/TilingScheme.js#L124) (GeographicTilingScheme, WebMercatorTilingScheme)
* [IntersectionTests#grazingAltitudeLocation](https://github.com/AnalyticalGraphicsInc/cesium/blob/0af79be33aca5a6c004050d

[2015-05-19 15:57] shunter commented on #2728
These are errors in the documentation.  positionToTileXY should be a `Cartesian2`, grazingAltitudeLocation should be a `Cartesian3`.  The doc should be fixed, but in the meantime, check the source code to see what the correct type is.

[2015-05-19 15:57] hpinkos commented on #2728
and `Projection` should be `MapProjection`

[2015-05-19 16:20] icholy commented on #2728
Should [this](https://github.com/AnalyticalGraphicsInc/cesium/blob/0af79be33aca5a6c004050d20ba1f2be3cd95357/Source/Scene/Camera.js#L134) be `PerspectiveFrustum`?

[2015-05-19 16:59] pjcozzi commented on #2728
I think it could also be `OrthographicFrustum`.  @bagnell can you confirm?

[2015-05-19 17:16] #2728 closed

[2015-05-19 18:12] icholy opened #2730 "Promise type annotations"
I want to update the annotations with Promises to take a type parameter (like you're doing with Array).
### Example:

https://github.com/AnalyticalGraphicsInc/cesium/blob/d880e17464355679f7ca39dde0fc0c8b80f5338f/Source/Core/TerrainData.js#L73

[code]

Would be:

[code]

Would this be accepted?

**EDIT**: [I need this for the TS definition files I'm writing](https://gist.github.com/icholy/540e0e4c3

[2015-05-19 20:24] hpinkos commented on #2730
As long as the documentation still builds, I don't see a problem with this change

[2015-05-19 20:59] devguy22 opened #2733 "Image Rotate Causing Strange Zooming In and Out"
So, I have tried creating something in Cesium in two different ways with the goal to be having a canvas displayed on the map, and rotate.  I've tried using an Entity via a RectangleGraphics with a material pointing at a canvas (displaying an image), as well as building my own WebGL shader and using a texture to house the raw image data from a canvas context.  Both result in odd zooming in and out

[2015-05-19 21:08] mramato commented on #2730
TS definition file looks cool, are you generating that from the jsDoc or writing it by hand?  I unfortunately haven't had a lot of time to explore typescript, but I'm sure something like that would definitely be useful for many people.

[2015-05-19 21:27] wushengcq opened #2734 "knockout tracking the 'viewer.selectedEntity' return null"
Hello ~
After I update my Cesium from v1.4 to v1.9,  the entity selected event tracking function can't working anymore. When I subscribe the tracking function at the Cesium's startup as below :

[code]

browser console throw a exception :
_Uncaught TypeError: Cannot read property 'subscribe' of null_

[2015-05-19 21:39] hpinkos commented on #2734
It should work if you change it to ` Cesium.knockout.getObservable(viewer, '_selectedEntity')`

In the future, please use [the forum](https://groups.google.com/forum/?fromgroups#!forum/cesium-dev) to ask questions and get support.  Your questions will be seen by more people and you'll hear from other users who have solved similar problems.  We try and only open GitHub issues for confirmed bugs or

[2015-05-19 21:49] wushengcq commented on #2734
It's works !!
Thank you very much for your code and reference to the forum.

[2015-05-20 02:00] emackey commented on #2734
Are we sure this isn't a bug?  `_selectedEntity` is private, and I don't know of a public way to subscribe to this observable since we rolled the entityMixin into core Viewer.

[2015-05-20 02:01] emackey commented on #2734
I suspect this maybe was unplanned API breakage.

[2015-05-20 02:36] hpinkos commented on #2734
Yeah, this is an unfortunate side effect of using the knockout-es5 plugin.  You have to know the real variable name of the observable to get it back.

[2015-05-20 02:44] mramato commented on #2734
We could fix this by using `knockout.defineProperty` to define the `selectedEntity` instead of using `definedProperties`, we actually do this a bunch of other places already.

That being said, longer term I think the knockout subscription approach is a bit obtuse.  I'd rather users never have to know that `knockout` is used under the hood (even though I used to think otherwise).  My vote would be

[2015-05-20 13:15] pjcozzi commented on #2701
I'm pretty confident that the bloom is over saturating but beware of #1316, which indicates that the scissor rectangle could also be wrong.

[2015-05-20 13:21] pjcozzi commented on #2461
@bagnell perhaps this is a culling issue with the billboard's bounding sphere that becomes evident because of the pick frustum.

[2015-05-20 13:42] icholy commented on #2730
@mramato I wrote a (very ugly) node.js script that generates it from the JSON output of `jsdoc -X`. Once I'm able to generate it without the compiler yelling at me (almost there) I want to run it against your tests. After that I'll add it to https://github.com/borisyankov/DefinitelyTyped

[2015-05-20 18:00] speigg opened #2736 "Cesium.Cartesian3.fromDegrees(0,0) gives wrong value"
Cesium.Cartesian3.fromDegrees(0,0)

Cesium.Cartesian3.fromDegrees(1,1)

[2015-05-20 18:22] mramato commented on #2736
These values are definitely correct.  I assume you you expected the X value to have been unchanged, but the surface of the earth is an ellipsoid, not a sphere, so it will grown and shrink as you move from semiMajor to semiMinor axes.  If you think the bug is something else, please explain what that it.

[2015-05-20 18:22] #2736 closed

[2015-05-20 18:26] speigg commented on #2736
Look at the X value, not the X value. The first example `fromDegrees(0,0)` is incorrect, the second example `fromDegrees(1,1)` is correct

[2015-05-20 18:28] mramato commented on #2736
`Cartesian3 {x: 6378137, y: 0, z: 0}` is correct, what do you expect it to be?

[2015-05-20 18:31] speigg commented on #2736
Oh sorry, I was thinking z = up, as in ENU, but that doesn't make sense. Sorry for the bother!

[2015-05-20 20:05] maikuru opened #2737 "Texture rotation incorrect"
When rotating a rectangle the texture is zooming in and out, even when using the default cesium materials.

I've attached some sample html to quickly reproduce.

[code]

[2015-05-20 20:50] speigg commented on #2736
Okay, so the problem I'm seeing isn't with `Cesium.Cartesian3.fromDegrees` like I thought it was, but with `Cesium.Transforms.headingPitchRollQuaternion` and `Cesium.Transforms.eastNorthUpToFixedFrame` returning an invalid quaternion/matrix when Cesium.Cartesian3.ZERO is used.

This time I know what happened:
[code]

[2015-05-20 20:54] speigg commented on #2736
The problem is caused by `CesiumMath.sign` being used instead of `CesiumMath.signNotZero` in `Cesium.Transforms.eastNorthUpToFixedFrame`

[2015-05-20 20:57] pjcozzi commented on #2737
Was this posted on the forum?  If so can you include a link to the post so we can follow up later?

[2015-05-20 20:57] hpinkos commented on #2736
`Cartesian3.ZERO` is not the same as `Cartesian3.fromDegrees(0,0)`.  `Cartesian3.ZERO` is the position at the center of the earth.  `Cartesian3.fromDegrees(0,0)` returns the position where latitude and longitude are equal to 0 on the earth surface.

[2015-05-20 20:59] speigg commented on #2736
Thanks @hpinkos, I understand that, and putting aside how silly it may seem to be passing in Cartesian3.ZERO, it should either fail with an error, or at least return a valid matrix/quaternion :)

[2015-05-20 21:54] pjcozzi opened #2738 "HeadingPitchRange in Scene?"
Are we sure [HeadingPitchRange](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/HeadingPitchRange.js) should be in Scene?  Not Core?

[2015-05-21 12:56] pjcozzi opened #2739 "Remove .gltf sample models"
In #2659, Cesium started including .bgltf versions of the [sample models](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Apps/SampleData/models).  Cesium is still including the .gltf versions for users already using them.  They'll be removed in 1.13.

[2015-05-21 18:08] emackey commented on #2730
@icholy this seems cool.  Do you think this could / should eventually be added to Cesium's build/combine script, so that TypeScript definitions always keep up with new features?  I haven't played with TypeScript yet, I keep meaning to find time to look into it.

[2015-05-21 20:56] #1964 closed

[2015-05-21 21:08] devguy22 commented on #2737
It was my thread on the forum: https://groups.google.com/forum/#!topic/cesium-dev/UF9wQugwRf0

[2015-05-21 21:22] pjcozzi commented on #2737
Thanks @devguy22!

[2015-05-21 21:30] pjcozzi opened #2742 "Clamp eye offset z to near/far plane"
For billboards/labels so they don't disappear like in #2700.

This could be an option or I suspect we could just do it all the time - it is cheap and I bet all users will want it unless they are using it as a hack to hide a billboard/label.

![image](https://cloud.githubusercontent.com/assets/782098/7759371/d59b775c-ffde-11e4-9641-72dbf8d434ea.png)

[2015-05-22 12:00] pjcozzi opened #2743 "Binary glTF size/speed tests"
To show the benefit of [Binary glTF](https://github.com/KhronosGroup/glTF/blob/new-extensions/extensions/CESIUM_binary_glTF/README.md), let's show the size/speed results for a few types of models:
* Simple node hierarchy, lots of geometry, no textures
* Simple node hierarchy, simple geometry, one big textures
* Simple node hierarchy, simple geometry, lots of simple textures
* A lot of animations,

[2015-05-22 12:04] pjcozzi opened #2744 "Add submitting issues section to CONTRIBUTING.md"
Given the increase in the number of questions we are getting in GitHub issues, perhaps adding a short section on submitting issues to the top of CONTRIBUTING.md that points users to the forum for questions would help.

@mramato please close if this is a duplicate, I know you suggested this at one point, but I couldn't find where.

[2015-05-22 14:32] maikuru commented on #873
There are some sample KML files for regions in this forum thread
https://groups.google.com/forum/#!topic/cesium-dev/7BTA9RCCdIc

[2015-05-22 15:29] pjcozzi opened #2745 "Test failure in master"
Passes when ran alone, fails when ran with other tests:

http://localhost:8080/Specs/SpecRunner.html?spec=Scene%2FScene

![image](https://cloud.githubusercontent.com/assets/782098/7773973/d54154ce-0075-11e5-90f3-c3182cd9f09f.png)

[2015-05-22 16:09] mramato commented on #2745
I'm not seeing this on any browser under Win7 x64.  Is this Windows 8?

[2015-05-22 16:10] pjcozzi commented on #2745
Windows 7.  Perhaps AMD only?

[2015-05-22 16:13] hpinkos commented on #2745
I see this too, Windows 7 Intel CPU

[2015-05-22 16:16] mramato commented on #2745
Weird.  I wouldn't expect the GPU to be a factor in such a simple test.  I do notice the test itself looks a little odd, there are 2 `scene.render` calls back to back (perhaps waiting for camera inertia?) It could be a timing issue that just happens not to trigger on my machine.  @bagnell are the double render calls intentional?

[2015-05-22 17:57] pjcozzi commented on #2701
Potentially related to this (and #1316) is that the sun is too aggressively culled.  In the following view, a slight rotation will make the sun disappear too sun:

![image](https://cloud.githubusercontent.com/assets/782098/7776650/742b4590-008a-11e5-8b9f-e2d89e2728d0.png)

[2015-05-22 19:54] samy100 commented on #1210
+1

Right now I pull from bower using the repo URL directly and building it myself. Would be nice that cesium has its own --> maintained <-- repository

[2015-05-22 20:10] kainino0x opened #2747 "Inspector 'Show Frustums' breaks with OIT"
It seems that OIT uses `gl_FragData`, but Show Frustums uses `gl_FragColor`.

[code]

[2015-05-22 20:53] mramato commented on #2747
This is actually a dupe of #2448, so I'm going to close it, but thanks for the additional info.

[2015-05-22 20:53] #2747 closed

[2015-05-22 20:54] mramato commented on #2448
See #2747 for some additional details on 1

[2015-05-24 19:25] tonpo commented on #873
another resources for regions. I find them more clear for me than the KML reference:

1. the standard:
http://www.opengeospatial.org/standards/kml

2. this tutorial:
http://www.google.com/earth/outreach/tutorials/region.html

[2015-05-25 00:27] icholy commented on #2730
@emackey I wouldn't be against it (once it's fully automated). It could even be used as a way to enforce correct type annotations in the comments (to some extent at least).

[2015-05-26 21:22] pjcozzi commented on #419
Good info here too: _Using Vertex Shaders for Geometry Compression_, http://www.coretechniques.info/index_2007.html

[2015-05-27 00:46] andre-nunes opened #2750 "Shapefile Roadmap"
### Shapefile
#### References

[ESRI Shapefile whitepaper](http://www.esri.com/library/whitepapers/pdfs/shapefile.pdf)

[Wikipedia page](http://en.wikipedia.org/wiki/Shapefile)

[Shapefiles on OpenStreetMapWiki](http://wiki.openstreetmap.org/wiki/Shapefiles)
#### Somewhat related javascript Implementations

https://github.com/wavded/js-shapefile-to-geojson
https://github.com/RandomEtc/shapefile-js

[2015-05-27 00:47] andre-nunes opened #2751 "GPX Roadmap"
### GPX

#### References

[Schema Documentation](http://www.topografix.com/gpx/1/1/)

[GPX on OpenStreetMap's Wiki](http://wiki.openstreetmap.org/wiki/GPX)

[GPX on Wikipedia](http://en.wikipedia.org/wiki/GPS_Exchange_Format)

[Good overview of the format](http://www.rigacci.org/wiki/doku.php/tecnica/gps_cartografia_gis/gpx)

#### Somewhat related javascript Implementations
https://github.com/mpet

[2015-05-27 18:24] emackey commented on #1829
This is fixed in both 3D and CV.  Thanks @kainino0x!

[2015-05-27 18:24] #1829 closed

[2015-05-27 18:53] bagnell opened #2752 "Blurry Text Rendering"
Glyphs are rendered to a canvas which already has AA. When we render to a framebuffer, we apply FXAA which makes the text blurry.

We can change the pipeline so that text is rendered after FXAA or use multisampled textures when WebGL 2 is supported.

[2015-05-27 18:53] bagnell commented on #2752
See this forum post: https://groups.google.com/forum/#!msg/cesium-dev/lBAPrC7IaDw/9dcT9FV4d4kJ

[2015-05-28 13:48] GatorScott commented on #2750
There's a convention, established by Esri's Tracking Analyst, which defines support for temporal data within a shapefile.  More information can be found [here](http://resources.arcgis.com/en/help/main/10.1/index.html#/Simple_and_complex_temporal_events/006300000008000000/).

[2015-05-28 13:55] mramato commented on #2750
Thanks @GatorScott, I somehow never heard of that capability before.  We'll definitely want to support it.

[2015-05-28 15:24] emackey opened #2757 "Static property documentation broke"
At some point since 1.9 (and there's been npm package upgrades since then), the links to static properties broke in the docs, in particular `Camera.DEFAULT_VIEW_RECTANGLE`.  In master, these links now get a leading period, which breaks old bookmarked URL hashes, and also breaks the Sandcastle hookup.

For example, in tag 1.9 running locally, this works:

[code]

But in master, the link is broken,

[2015-05-28 15:26] mramato commented on #2757
We should definitely fix this.  I would start by actually upgrading NPM again to the latest jsdoc, just in case this was a beta issue that got fixed in the initial release (which is now out).  We can also try downgrading to whatever version we were suing in 1.8 and see if that fixes it, just to confirm that's the problem.

[2015-05-28 16:03] emackey commented on #2757
Turns out this is an intentional change on JSDoc's part, see [their issue 539](https://github.com/jsdoc3/jsdoc/issues/539) for info.  I will need to fix Sandcastle's doc system to accept the change.

[2015-05-28 16:06] mramato commented on #2757
I guess this will affect bookmarked doc links on the website as well, right?  Though since it's just the fragment that has changed, it's probably not a big deal, since they'll still get to the correct page.

[2015-05-28 17:24] emackey commented on #2757
Correct, existing links will get to the right page, but not scroll to the particular static entry.  I temporarily put a `++` in my fix and counted that this issue changes 1065 links.  In the past couple years I've posted several of these links to the forum and Stack Overflow and other places; I know you have too.  There's no URL rewrite rule to help, because the hash stays client side.  Still, imp

[2015-05-28 18:50] #2686 closed

[2015-05-28 19:09] #2757 closed

[2015-05-28 20:40] pjcozzi commented on #2172
Feedback on polygons on terrain (in progress) is in #2618.

[2015-05-28 21:01] pjcozzi opened #2761 "DeveloperError in new Picking example"
@bagnell can you look at this for 1.10?

From this horizon view:
- Grabbing the model to zoom towards it moves the camera too quickly like it picked through the model.  Did this break recently?
- Grabbing the model (or sky) can result in a `DeveloperError`:

![image](https://cloud.githubusercontent.com/assets/782098/7871024/345c238c-055b-11e5-9a00-44953ce383d5.png)

[2015-05-28 21:03] pjcozzi commented on #2761
This is with the left mouse button, not the right, which is probably what I was testing before.  Models should work just like grabbing the globe.

[2015-05-28 21:07] pjcozzi opened #2762 "Remove Scene.fxaaOrderIndependentTranslucency"
It was deprecated in 1.10.

[2015-05-28 21:08] pjcozzi opened #2763 "Remove Camera.clone"
It was removed in 1.10.

[2015-05-28 22:01] mramato commented on #2130
On my laptop, I'm seeing odd borders behind label billboards, do you think it's related to this?  Or perhaps another bug?  In the below shot, the G is obviously this bug, but the odd border on the 1 seems like something different.

![image](https://cloud.githubusercontent.com/assets/1495196/7872102/4c8b4c14-0563-11e5-8f3f-2544dba78b56.png)

[2015-05-29 15:51] emackey opened #2765 "Default view should look forward and include at least part of the Earth"
Back in Cesium 1.5, the default view for Molniyas, GEOs, and HEOs always showed the Earth behind the spacecraft.  Here's the default starting view for the Molniya in simple.czml:

![molniya_1 5](https://cloud.githubusercontent.com/assets/1235080/7886431/0ce53a3a-05f8-11e5-8b0e-e25343952668.png)

The yellow line is the future path, so we're looking where we're going, and the Earth remains in view f

[2015-05-29 15:58] mramato commented on #2765
I think these are just incidental to the default zoom bounding sphere.  I'm not convinced it's a bug.  I'm sure there are plenty of satellite orbits that looked bad in 1.5 and good in 1.6 as well.  Unless there was some special case code for default satellite views that I'm not aware of?

[2015-05-29 17:12] emackey commented on #2765
No, these views are more generic than you think, because the camera is sitting in a frame that's based on the vehicle velocity.  So in the older version, the camera looked in the direction of travel of all kinds of moving vehicles, and in the new version it gives a bad starting view for them all.  GEOs/HEOs/Molniyas are particularly egregious as the starting view is pointed up near Polaris.

I do

[2015-05-29 18:23] mramato commented on #2765
The current default view places the camera so that it's oriented north and looking down on the object at 45 degrees angle.  This is the best possible view for non-moving entities close to the earth (which is a majority of what our users are using).

I agree that it is a sub-optimal view for satellites, and probably not great for moving object, but that's why we let entities specify their own defau

[2015-05-31 11:48] ron212 commented on #1210
+1

[2015-06-01 14:46] #2765 closed

[2015-06-01 17:53] bagnell commented on #2745
The two calls are intentional. One should fire the camera move started event and the other the camera move end event.

[2015-06-01 18:04] bagnell commented on #2474
This will happen if you start in 3D mode and switch to Columbus view with the changes in #2768. The change should be fine so the globe is probably setting the wrong render state.

[2015-06-01 18:23] bagnell commented on #2761
When you look up at the model like that and move towards it, the camera would go under the terrain. The collision detection prevents that so it appears to move faster.

The developer error occurs because for one frame the depth read back for each frustum is 0. I'm not sure why that happens, but I can add a check for `undefined`.

[2015-06-01 18:40] pjcozzi commented on #2745
Will look at post 1.10.

[2015-06-01 18:40] pjcozzi commented on #2635
Will look at post 1.10.

[2015-06-01 18:49] pjcozzi commented on #2761
#2769 fixes this:

Leaving this issue open for:

which is a priority post 1.10

[2015-06-01 20:00] maikuru opened #2770 "KML LineStyle not being applied"
KML line style is not showing up in Cesium (GE KML support shows it's supported already)
The forum has a link to the example KML file.
https://groups.google.com/forum/#!topic/cesium-dev/X2l6vw7ET0g

![screen shot 2015-06-01 at 3 57 17 pm](https://cloud.githubusercontent.com/assets/1457734/7921942/01f2b324-0877-11e5-898b-70bcd912bc79.png)
![screen shot 2015-06-01 at 3 57 51 pm](https://cloud.github

[2015-06-01 20:02] bagnell opened #2771 "Scene test failure in Chrome with WebGL validation (ANGLE)"
![image](https://cloud.githubusercontent.com/assets/1494815/7922034/969ce760-0877-11e5-9f0e-6058ca8c4791.png)

[2015-06-01 20:55] maikuru opened #2772 "Two Line Element (TLE) Datasource"
New feature

Datasource takes a TLE string and processes against SGP4/SDP4 algorithm or better, if someone has one that can be open sourced.

Possible options:
* Model to assign to the entity created
* expire date to stop using the TLE

[2015-06-01 21:06] mramato commented on #2772
This is outside the scope of Cesium proper.  If someone wants to provide this capability as a plug-in, we would be happy to list it on the plug-ins page.  See https://github.com/AnalyticalGraphicsInc/cesium-plugins-list for details.

[2015-06-01 21:06] #2772 closed

[2015-06-02 00:04] zoiclabs commented on #2678
+1. The steps provided in #2683 are more accurate. Just switching breaks the app.

[2015-06-02 00:59] mramato commented on #2770
The provided KML is using `StyleMap`, which only has partial support right now.  We have an item on the roadmap to finish implementing it.  I'll try to get to this for 1.11.

CC #2598 #873

[2015-06-02 11:31] dragon112 commented on #2208
I've created something that's far from ideal, but it works pretty well for the smaller area's: https://github.com/dragon112/CesiumHeatmap. When the area gets bigger the heatmap starts looking wrong towards the center of the y axis. If you have a better way or improvements, please do improve.

[2015-06-02 14:35] pjcozzi opened #2773 "RIGHT_DOUBLE_CLICK does not fire callback"
For example, the following Sandcastle example never outputs "right."
[code]
`LEFT_DOUBLE_CLICK` and `MIDDLE_DOUBLE_CLICK` work.

[2015-06-02 14:49] mramato commented on #2773
This is dupe of #2631 Long story short, don't use `ScreenSpaceEventHandler` see that issue for details.

[2015-06-02 14:49] #2773 closed

[2015-06-02 17:58] kainino0x commented on #2241
I thought of this because I've been working with some matrix math, and found this issue. Apparently Chrome and Microsoft intend to join Firefox in implementing SIMD.js:

https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/2PIOEJG_aYY

[2015-06-02 18:38] pjcozzi commented on #2208
@dragon112 sounds cool, do you have a live demo?

[2015-06-02 19:29] #2680 closed

[2015-06-02 21:10] mramato commented on #2208
Thanks @dragon112.  Instead of an imagery layer, try using an `Entity.rectangle` and set the `material` property to `this._heatmap` each time you update it.  That should be way faster.  I doubt I have the time, but at some point I'd love to play with this.

[2015-06-03 08:39] dragon112 commented on #2208
@pjcozzi I do have it implemented in a project, but it's behind a login because of sensitive information.

@mramato I'll take a look at this, the performance has been a bit of a problem when you have multiple (4+) heatmaps.

[2015-06-03 13:31] emackey commented on #2631
We may be straying off topic, but I have to offer a counterpoint here.  Cesium needs *something* internally to be able to offer support for mouse, touch, and pointer events for its own purposes.  If we force Cesium client apps to use anything other than what Cesium itself is using, that is going to lead to inconsistent app behaviors and generally bad UX.  I think we should encourage apps to use th

[2015-06-03 14:35] emackey opened #2777 "CesiumViewer won't load"
as of #2774.

[2015-06-03 14:47] pjcozzi commented on #2777
Shame on me for only running the tests before merging.

[2015-06-03 15:19] mramato commented on #2777
Already fixed in #2778.  The tests actually all passed (amazingly).

[2015-06-03 15:25] #2777 closed

[2015-06-03 15:37] rtemplin15 opened #2780 "Changing the color of an entity"
Is there a way in cesium to dynamically change the color of an entity or part of an entity? Or dynamically changing the color of a mesh or node of the entity?

[2015-06-03 19:34] emackey opened #2784 "Can't pan while tracking entity"
Back in 1.5, Cesium had the ability to track an entity with the camera, and allow the user to pan the camera away from that entity using `SHIFT+LEFT_DRAG`.  The entity could be placed at will in the frame and would remain at that screen position during animation.  Photographers routinely place subjects off-center in the frame, sometimes using the "rule of thirds" or other guidelines, to keep image

[2015-06-03 20:27] maikuru opened #2785 "SVG images are inheriting external css styles"
If you have an svg loaded on the external DOM and used within Cesium it appears the css property is overriding the Cesium property.

https://groups.google.com/forum/#!msg/cesium-dev/GEvwmTwXhz4/-YaBo7zQV7kJ

[2015-06-03 20:43] mramato commented on #2785
This doesn't happen in Firefox and Cesium is not do anything special other than to ask the browser to load the SVG image.  So it's either a bug in Firefox (for not properly taking the class into account) or a bug in Chrome (for styling all svgs when one of them has an assigned class).  Looking at the markup, I think the bug is in Chrome.  In either case, I don't believe this is a bug in Cesium.

@

[2015-06-03 20:44] maikuru commented on #2785
It's happening for me in Chrome.

[2015-06-03 20:46] emackey commented on #2785
Yeah this does look like a Chrome bug.  Changing the class name on the `img` tag changes the behavior in Cesium, which is crazy.

[2015-06-03 20:47] emackey commented on #2785
Making a reduced test case could take some effort, I would imagine...

[2015-06-03 20:47] mramato commented on #2785
@maikuru, that's exactly what I said.  It only happens in Chrome.