[2016-08-05 20:15] #4094 closed

[2016-08-08 03:14] Senseme opened #4181 "wrong tutorial in cesiumjs.org"
http://cesiumjs.org/tutorials/Geometry-and-Appearances/
RectanglePrimitive has been deprecated,but the tutorial is not updated.

[2016-08-08 15:15] hpinkos commented on #4181
I submitted a fix, it should be updated shortly.  Thanks @Senseme!

[2016-08-08 15:15] #4181 closed

[2016-08-08 18:17] pjcozzi commented on #4170
@gbeatty did you try disabling OIT to confirm: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Scene.js#L186

Also, I don't know that it will help, but @bagnell is thinking about implementing http://graphics.cs.williams.edu/papers/TransparencyI3D16/ at the next code sprint

[2016-08-08 20:32] gbeatty commented on #4170
@pjcozzi
Looks like this might not be related directly to OIT. With OIT explicitly disabled I now get this:
![oit_disabled1](https://cloud.githubusercontent.com/assets/1686028/17495086/a3a5e786-5d85-11e6-9c9f-2a714033b83b.JPG)
![oit_disabled2](https://cloud.githubusercontent.com/assets/1686028/17495094/a67da660-5d85-11e6-9b55-392542e07359.JPG)

They're definitely rendering in the wrong order.

[2016-08-08 20:51] gbeatty commented on #4170
Manually reversed the order the entities are added.
Re-enabled OIT.
Alpha = 0.99

This fixes the ordering issue in the OIT disabled case. But, with OIT enabled the blending is still not correct. The top rectangle correctly obscures the atmosphere and globe, but when blended with other translucent objects, you can see pretty deep into the stack of entities. With all entities being nearly opaque, yo

[2016-08-08 21:02] pjcozzi commented on #4170
@bagnell is there a bug where the sorting code is not being called?

[2016-08-09 14:18] emackey commented on #4177
Interesting.  Not sure if this is the same issue but I can get a similar crash with un-panned mouse-zoom starting from the upper-left corner (0,0) as mentioned in your gist.  Here are my reproduce steps:

1. (Re-)load the Cesium Viewer page (possibly from any valid view, the default view works if your screen is 1080 pixels tall, closer views will reproduce more quickly).  DO NOT pan after loading.

[2016-08-10 12:10] pjcozzi commented on #4166
Even in Chrome, compare these:
* 1.24: http://cesiumjs.org/releases/1.24/Apps/Sandcastle/index.html?src=Terrain.html&label=Showcases
* request-scheduler-master: http://localhost:8080/Apps/Sandcastle/index.html?src=Terrain.html&label=Showcases

If you, for example, quick and dirty select the "Half Dome" view, it is clear that it loads faster in 1.24.  Perhaps this is as simple as default parameters

[2016-08-10 14:25] lilleyse commented on #4166
Maybe it's just my computer, but I'm running both branches locally and the results are about equal on Chrome and IE. Do you notice it working better when `RequestScheduler.prioritize` is false?

[2016-08-10 14:26] lilleyse commented on #4166
Either way I will look more into this.

[2016-08-10 14:35] mramato commented on #4166
I would definitely make sure you start with a clean cache while working on this; it will exaggerate the problem since latency of requests is probably a big factor here.

[2016-08-10 14:41] pjcozzi commented on #4166
Clean cache or just use dev tools to throttle the speed.

The cache was warm and still noticeable for me.

[2016-08-10 19:35] hpinkos opened #4190 "KmlDataSource unsupportedNode event not raised for all unsupported features"
`KmlDataSource` has an event called `unsupportedNodeEvent` that is supposed to be raised whenever the data source finds an unsupported type.  However, from what I can tell from the code, it is currently only raised when the `PhotoOverlay`, `ScreenOverlay` and `Tour` tags are used.  There are `console.log`s all over the place for other unsupported features, but the event is not raised in those othe

[2016-08-10 20:14] lilleyse commented on #4107
This seems to only affect my machine. The problematic commit is https://github.com/AnalyticalGraphicsInc/cesium/commit/2ea7698860fc5ce42824798a570b44f2abc326db.

[2016-08-10 20:46] lilleyse commented on #4107
Actually this was just when entities could be turned into ground primitives. Even going back as far as 1.18 I get the same issues with Chrome. It works fine in Firefox.

[2016-08-11 05:35] peng8437 commented on #4179
....

[2016-08-11 22:32] lilleyse commented on #3453
Some early results for this...

If the tileset.json is completely empty it works fine. My tileset.json that is 62 MB with 349525 empty tiles, basically it's just an 9-level quadtree. It takes about 10 seconds to load for me but afterwards runs fine. The chrome process is hovering around 1328 MB.

With the same tiling scheme but with content in each tile (around 6K per b3dm), it crashes for me.

![

[2016-08-12 08:57] laurensdijkstra opened #4195 "Make fog color correspond to atmosphere color"
So instead of this:
![image](https://cloud.githubusercontent.com/assets/881510/17617233/4348f95e-6079-11e6-82e4-4e5c8e5acf61.png)

We could have something like this:
![capture copy](https://cloud.githubusercontent.com/assets/881510/17617295/9d1ec918-6079-11e6-9644-45f9d648e2f0.png)

This is just a simple PhotoShop so not at all physically correct. Perhaps that can be improved by the shader computa

[2016-08-12 10:39] laurensdijkstra opened #4196 "Make Models be affected by Fog"
glTF Models are currently not affected by Fog. This creates a highly unrealistic image. It would be desirable to have Models be affected by Fog just like the Terrain Primitives are.

[2016-08-12 10:46] laurensdijkstra opened #4197 "Use some sort of LOD for glTF Models"
When spawning lots of glTF Models, performance is affected badly. This will be probably alleviated by the Model instancing features that are planned. But it might be desirable use some sort LOD method for glTF Models. I do not have enough insight in the LOD methods the glTF format provides, but I have read that glTF does support some sort of LODing.

Maybe users should just switch Models manually

[2016-08-12 11:36] CMCDragonkai opened #4198 "The intro https://cesiumjs.org/tutorials/cesium-up-and-running/ does seem to show the outline"
Following the intro https://cesiumjs.org/tutorials/cesium-up-and-running/ doesn't appear to show the outline of the polygon? I downloaded the zip file, extacted it, ran `npm install` then `node server.js`, and navigated to the hello world example. But no outline at all? What's happening here?

[2016-08-12 13:01] likangning93 commented on #4197
You might be interested in 3D Tiles: https://github.com/AnalyticalGraphicsInc/3d-tiles

A single 3D tile can be a model with a bounding box and an "error" value indicating how different the tile's model is from a more detailed version. Nesting a bunch of tiles with different LODs of the same model can get you something very much like a hierarchical LOD, and Cesium will automatically render differe

[2016-08-12 14:21] hpinkos commented on #4198
Hello @CMCDragonkai
Please use our forum to ask questions like this: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub for tracking bugs and new features.

Sorry, I'm not sure what you're asking. There aren't any polygons in that tutorial.
However, if you are trying to draw a polygon with an outline, set the property `height: 0`.  Polygons default to draw on terrain, and we do

[2016-08-12 14:21] #4198 closed

[2016-08-12 14:24] hpinkos commented on #4197
@laurensdijkstra I'm going to close this issue since it is something we are already working on in the 3D Tiles branch.

If you have any questions about 3D tiles or want to know more information, check out this forum post: https://groups.google.com/d/msg/cesium-dev/tCCooBxpZFU/7hxT_E4pGgAJ

Thanks!

[2016-08-12 14:24] #4197 closed

[2016-08-12 15:03] lilleyse commented on #3453
It seems like the problem is related to bogging down the promise system.

I turned off the `Cesium3DTileset` update loop. The app doesn't crash if I comment out `addContentReadyPromise` from the constructor. Maybe `when` is not well suited for waiting for 349525 promises.

Just for reference:
[code]

[2016-08-12 15:16] lilleyse commented on #3453
With some tweaks I can load the tileset. I'll try to open a PR soon.
![detail](https://cloud.githubusercontent.com/assets/915398/17627154/40d07864-607e-11e6-91be-6f02447a5543.JPG)

[2016-08-12 15:18] mramato commented on #3453
* I'm sure this isn't the problem, but `when(tile._content.readyPromise)` is unneeded if readyPromise is always a promise.  Just use `readyPromise.then`.
* While I have a branch that starts moving us from `when` to `bluebird` (which might use less memory), I'm not sure having 349525 asynchronous operations in flight at any one time is ever a good idea no matter what library you are using.
* Howeve

[2016-08-12 15:22] lilleyse commented on #3453
In the case with tiles that have content, none of the ready promises are ever resolved because I turned off the update loop so no requests are made. The empty tiles have always worked fine since they resolve immediately.

[2016-08-13 13:31] pjcozzi commented on #3453
@SunBlack can you test if the fix in #4201 works for you?

[2016-08-13 13:42] pjcozzi commented on #4197
@laurensdijkstra for an example of the LOD approach you suggested with 3D Tiles, see https://github.com/AnalyticalGraphicsInc/3d-tiles-samples/tree/master/tilesets/TilesetWithDiscreteLOD

[2016-08-13 13:50] pjcozzi commented on #3960
Points have the same issue; see #4179.

[2016-08-15 01:34] philipjmurphy commented on #1064
@jmgomezpoveda et al you can see this issue, where the moon appears in front of the atmosphere, but behind the earth, more pronounced when the size of the moon is increased with the following code snippet:

    var radius = Cesium.Math.LUNAR_RADIUS * 10;
    viewer.scene.moon = new Cesium.Moon({
        ellipsoid : new Cesium.Ellipsoid(radius, radius, radius)
    });

![image](https://cloud.github

[2016-08-15 08:07] yqrashawn opened #4203 "billboard and label still scale by distance after set scaleByDistance to undefined"
[code]
And the img billboard still scale when I scroll the camera far and become bigger than the CesiumMilkTruck. So is this a bug or it's not suppose to be like that?

[2016-08-15 08:52] laurensdijkstra commented on #4197
@likangning93  @hpinkos @pjcozzi Thanks for the suggestion!

[2016-08-15 13:28] dwhipps opened #4204 "Cesium render error on valid KML."
I have validated the KML (http://tinyurl.com/gvvjlab) and opened it in Google Earth and it seems to be well formed (I think), but Cesium complains about a rectangle crossing the pole:

"_DeveloperError: Rotated rectangle is invalid.  It crosses over either the north or south pole._"

**SANDCASTLE**:
http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=ecd9c570338

[2016-08-15 13:30] laurensdijkstra opened #4205 "Make Camera up align with ellipsoid::geodeticSurfaceNormal below defined height (or Fixed Frame to East North Up Frame)"
When moving the Camera close to the surface of the Globe it becomes apparent that the camera controls are applied in the Fixed Frame. In our use case it would be desirable to have the camera controls behave more in the East North Up Frame. Perhaps a fixedFrameToEastNorthUpControlsAltitude property could be set on the Camera that immediately or gradually changed between the two modes.

Or is it sim

[2016-08-15 14:03] hpinkos commented on #4203
Thanks @yqrashawn!  Can you please update your code example so it runs in [Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html)?  That'll make it easier for us to reproduce the issue.

[2016-08-15 14:07] hpinkos commented on #4204
Hi @dwhipps
What version of Cesium are you using?  I added your KMZ file to our current master and it had no problem

[2016-08-15 14:47] SunBlack commented on #3453
Had now time to test it: No Chrome is still crashing.

And just an general question: At the time Cesium is loading this big tileset.json it stopping rendering. So that Cesium works asynchronous means only order of execution is not fixed, but it is still single threaded and uses no web worker, or?

[2016-08-15 15:35] dwhipps commented on #4204
Locally I'm using the latest release (1.24?), but if you click that Sandcastle link above, you'll see the bug there too, so whatever version is running on Sandcastle exhibits the issue.

[2016-08-15 16:01] hpinkos commented on #4204
Ah, thanks @dwhipps!  I didn't see the problem when I added the KML to another application, but I did when I added it to Sandcastle.  It seems there was a floating point error that happened intermittently when rotation was explicitly set to `0`.

I submitted a fix in this PR #4206

[2016-08-15 16:04] dwhipps commented on #4204
Great. Thanks!

[2016-08-15 16:04] #4204 closed

[2016-08-15 19:03] pjcozzi commented on #3453
@SunBlack can you share your tileset with us for testing?

As of now, web workers are used for processing vector data, but we plan to extend this usage.

[2016-08-15 20:21] pjcozzi opened #4207 "Use Cesium sun as lightsource for material"
From https://github.com/AnalyticalGraphicsInc/collada2gltf-web-service/issues/2 by @laurensdijkstra:

[2016-08-16 01:05] yqrashawn commented on #4203
![1](https://i.imgur.com/mKTSQfd.png)  ![2](https://i.imgur.com/bF8Ei5t.png) It still scale, bigger than earth in the end. I just want it to be the same like models.

[2016-08-16 13:02] hpinkos commented on #4203
I think you're misunderstanding what the scaleByDistance property is used for.  When it is defined it makes the billboard a bit smaller when you zoom out and a bit bigger when you zoom in.

I think you are looking for the [sizeInMeters](http://cesiumjs.org/Cesium/Build/Documentation/Billboard.html) property.  This will keep the billboard a fixed size.

In the future, please use our [forum](https:/

[2016-08-16 13:02] #4203 closed

[2016-08-16 13:15] yqrashawn commented on #4203
@hpinkos Really thanks!

[2016-08-16 20:03] pierotofy commented on #1592
+1

[2016-08-17 16:36] dwhipps opened #4212 "Not displaying GroundOverlay in KML file."
This is likely a two-part ticket, but for starters, the KML file I have here:

https://earthdata.layeredearth.com/Layers/Earth/Climate%20Change/Other/Malaria%20in%20Africa%20Projections.kmz
... does not display anything in Cesium, seen in SANDCASTLE here:

http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=a2c8d3fa055a3a341114040331265ac7

I suspect this has to

[2016-08-17 17:09] hpinkos commented on #4212
Thanks @dwhipps!
I think the issue might be related to a bug we've seen with timespans: #4041

For visibility, from looking at the code it looks like that is being processed correctly.  When is sees visibility of zero, it sets show to false.  I think we still want to process it in case a user wants to set show to true later on.

[2016-08-17 21:39] dwhipps commented on #4212
It's not clear on whether this has a decent chance of getting fixed. It's a bit of a show-stopper, as nothing at all renders.

[2016-08-17 21:57] hpinkos commented on #4212
Sorry, I can't promise that we'll be able to get to it immediately.
We are planning to spend a few days in October tackling frequently requested bug fixes.  This seems like it might be a good issue for us to look into then since it is effecting multiple users.

[2016-08-18 12:55] dwhipps commented on #4041
If you have any clues as to where this might be going wrong in the code, I'm happy to spend an hour or two to look into it. Guess it's all in KmlDataDource.js. Any other details to go on?

[2016-08-18 14:11] mramato commented on #4212
@dwhipps thanks for the report.  If you're up for it, there's no need to "wait for us" to do something, Cesium is a community with lots of contributors and we are more than happy to take a pull request for this or any other issue.  This sounds like something that would be isolated to code in `KmlDataSource.js`

[2016-08-18 14:28] hpinkos commented on #4041
Thanks @dwhipps!  We always appreciate contributions

@mramato @tfili do you have any suggestions for where to start?

[2016-08-18 18:11] hpinkos opened #4215 "Axis align for labels"
Related to this forum post:  https://groups.google.com/forum/?hl=en#!searchin/cesium-dev/label%7Csort:date/cesium-dev/gYpqscGnyNY/7ii1rLbPBwAJ

It would be nice to have axis align for labels. For example, this could be used to make them line up with roads or polylines

[2016-08-19 00:43] pjcozzi commented on #2524
Perhaps useful reading: [The cost of small modules](https://nolanlawson.com/2016/08/15/the-cost-of-small-modules/)

[2016-08-19 13:18] dwhipps commented on #4212
After further investigation, this appears to be a case of Google Earth (and WolrdWind) being more lenient than Cesium. There were multiple GroundOverlay nodes with the same node "id" (these should be unique), so when `getOrCreateEntity` is called inside `processFeature`, the existing entities were being found with that id, no new entity was created, and entity.show was being set to false (because

[2016-08-19 13:18] #4212 closed

[2016-08-19 18:34] pjcozzi opened #4219 "Add git squash instructions to guide"
Since it has come up a few times, it would be useful to add instructions like https://github.com/AnalyticalGraphicsInc/cesium/pull/4101#issuecomment-241094990 to perhaps the [Code Review Guide](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/CodeReviewGuide).

[2016-08-22 02:18] lp249839965 opened #4221 "1.24 can not add break point"
use chrome,1.24 unminfied cesium.js
when i add break point at any line in the file of cesium.js,it will directly jump to the end line of earcut.js。
![image](https://cloud.githubusercontent.com/assets/16017103/17842082/aee6a528-6851-11e6-875a-613ef36099cd.png)

[2016-08-22 13:58] hpinkos commented on #4221
Hello,
I think this issue has been fixed in this PR: #4097
It will be available in the next release.  If you're still seeing problems then, feel free to re-open the issue.

Thanks!

[2016-08-22 13:58] #4221 closed

[2016-08-22 14:14] hpinkos opened #4222 "CallbackProperty causes crash for polygon entity on terrain"
For the below code example, the polygon only works if you set height: 0
Otherwise it crashes [here](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/DataSources/PolygonGeometryUpdater.js#L602) because `groundPrimitives` is `undefined`

[code]

[2016-08-22 15:13] pierotofy opened #4223 "Polygon outlineWidth property is ignored"
While running this code:

[code]

Note the outlineWidth set to 50, which should draw a fairly thick outline.

But the outline is fairly thin, and doesn't change if you modify the value to something else, say 1, or 200.

![image](https://cloud.githubusercontent.com/assets/1951843/17859860/e8aa7f1a-6850-11e6-912d-da4612d73916.png)

[2016-08-22 15:26] hpinkos commented on #4223
Hello @pierotofy,
Sorry, but line width is something that is dependent on the browser's WebGL implementation, so it's a little beyond our control.
I believe a wider line is currently only supported on Safari?  I'm not quite sure.

[2016-08-22 15:26] #4223 closed

[2016-08-22 15:47] pierotofy commented on #4223
Should this be mentioned somewhere in the docs?

[2016-08-22 16:04] mramato commented on #4223
See this post: http://stackoverflow.com/a/25405483/3191039  It's a limitation of the WebGL implementations on Windows (but is completely in spec).  It works on standard OpenGL implementations (which means phones, Linux, Mac, and etc.)

The maximum value on the current system is documented and exposed via `scene.maximumAliasedLineWidth` and this limitations is also mentioned in our [Visualizing Spa

[2016-08-22 16:09] pierotofy commented on #4223
Ok! Thanks to both for the info!

[2016-08-22 16:17] mramato opened #4224 "Large Polyline width causes crazy behavior and artifacts"
Just run the below code and rotate the camera to look down the line along the horizon.

[code]

The artifacts are even visible at 10, but incredibly obvious at 50 and flat out wrong at 200.

Here's a snap with alpha

![image](https://cloud.githubusercontent.com/assets/1495196/17862221/4e241caa-6862-11e6-9736-d95a7740f9b1.png)

[2016-08-22 22:20] speigg opened #4225 "CompositeEntityCollection does not remove properties"
CompositeEntityCollection does not remove properties that have been removed from the same entity in all child collections (i.e, if the position property is set to undefined in a child collection, the composite collection retains the previous position property value in it's own composite entity).

[2016-08-23 15:51] fasiha commented on #1031
This checklist makes me think there’s a tech blog post about this topic? I’m looking for some background on the topics mentioned in https://github.com/AnalyticalGraphicsInc/cesium/wiki/Screen-Space-Rendering-Details i.e., `czm_getFilter` etc.

[2016-08-23 17:43] pjcozzi commented on #1031
There's not a blog post about this, but general Cesium graphics blog posts are here: http://cesiumjs.org/blog.html#webgl

[2016-08-23 19:07] fasiha commented on #1031
Ah ok. Just to make sure: magic like this https://github.com/AnalyticalGraphicsInc/cesium/wiki/Screen-Space-Rendering-Details#example-filter-chain-scripts is just hypothetical right? This kind of post-rendering doesn’t exist right now?

[2016-08-23 21:54] hpinkos opened #4227 "Add 'scaleByDistance' to labels"
This is a convenient property to use for `Billboards`.  It would be nice to have for labels as well.

[2016-08-24 12:15] pjcozzi commented on #1031
@fasiha that is a roadmap; it is not implemented, except for an incomplete prototype from a few years ago: https://github.com/AnalyticalGraphicsInc/cesium/compare/postprocess-hook

[2016-08-24 13:57] hpinkos opened #4231 "GroundPrimitive polygon disappears when zooming out"
Reported on the forum https://groups.google.com/forum/?hl=en#!topic/cesium-dev/-QMn8KdVEhw

[code]

[2016-08-24 15:59] bagnell commented on #4231
This is either a duplicate of or related to #4161.

[2016-08-24 16:02] hpinkos commented on #4231
Good call @bagnell, looks like the same problem

[2016-08-24 16:02] #4231 closed

[2016-08-24 17:47] dwhipps commented on #3726
I agree with this. Could really use it right now...

[2016-08-25 14:25] hpinkos opened #4234 "Ellipse with a height incorrect across IDL in 2D and CV"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/H7dMIe1_k2Y

The ellipse is correct at height: 0.  Anything higher than that causes the ellipse to triangulate incorrectly.  The larger the height, the more noticeable the error is.

![image](https://cloud.githubusercontent.com/assets/3451886/17972838/3602cfe2-6aae-11e6-8a27-ec7240b3a242.png)

[code]

[2016-08-25 15:53] hpinkos opened #4235 "Poor billboard quality"
Reported on the forum: https://groups.google.com/d/msg/cesium-dev/OLbOuzNRM7U/MHgo_4N6CwAJ

The icon to the left is a billboard, the icon to the right is the original image

![image](https://cloud.githubusercontent.com/assets/3451886/17976183/5d50383a-6aba-11e6-8203-d3608cb913e5.png)

[2016-08-25 19:44] emackey commented on #4235
I believe this happens because billboards are not aligned to the nearest pixel.  When a billboard has a non-integer screen location, it becomes blurred by the fullscreen AA process.

There's a [suggested fix on Stack Overflow](http://stackoverflow.com/questions/33784256/cesium-label-blurred/33786151#33786151) that involves making a one-line change to [BillboardCollectionVS.glsl#L245](https://githu

[2016-08-25 19:48] lilleyse commented on #4235
Ah cool, can you post a screenshot of the difference?

[2016-08-25 19:49] emackey commented on #4235
The Stack Overflow answer has a good screenshot:

http://stackoverflow.com/questions/33784256/cesium-label-blurred/33786151#33786151

[2016-08-25 19:58] shunter commented on #4235
If this feels like deja-vu, you're right.  Here's where clamp-to-pixel functionality was added: #188  Here's where it was removed again: #565.

[2016-08-25 20:08] emackey commented on #4235
Good memory @shunter.  In experimenting with this code, it looks like the clamp-to-pixel is not what's actually improving this guy's screenshots.  He's also turning off `scene.fxaa` at the same time, and that appears to be what actually cleans up the label.

[2016-08-25 20:28] mramato commented on #4235
Yeah, fxaa is probably the real culprit here.  Clamping to pixel actually does not do what we would hope it would do (Especially with text).  It also causes all kinds of problem when during motion (either because the item is moving or the camera is moving).  Not clamping really is the "correct" option.

I asked Dan about possibly not running fxaa on labels and billboards and he things it might be

[2016-08-25 23:16] #2027 closed

[2016-08-26 11:58] ezze commented on #3857
Any news or plans on this, guys?

[2016-08-26 12:55] konashredbiker opened #4237 "Multiple meshes - No indices"
Storing multiple meshes in one glTF without indices and loading it in Cesium results in an error. Only the first mesh shows up. While debugging Cesium, I can see that multiple meshes are loaded and this error message occurs while rendering:

[.CommandBufferContext]GL ERROR :GL_INVALID_OPERATION : glDrawArrays: attempt to access out of range vertices in attribute 1

When debugging Cesium in Context

[2016-08-26 13:42] emackey commented on #4235
I asked @bagnell offline how our fxaa is actually implemented.  He suggested this was based on an older approximation where high-contrast edges are intentionally blurred, which is fast enough for realtime, but is a very different implementation from true anti-aliasing.  There was talk of this possibly being upgraded to a different algorithm when WebGL 2 becomes more widely available.

So it sounds

[2016-08-26 14:20] jsalankey commented on #3857
I'm gonna second that. It continues to be a problem for us and is very noticeable for users of our tool.

[2016-08-26 15:07] mramato commented on #4166
Turns out this is also a problem in `master` too and is directly related to fog being disabled and has nothing to do with 3D Tiles.

I guess the bigger question is by is disabling fog producing such poor performance for a straight down close up view?

[2016-08-26 15:08] mramato commented on #4166
Add `viewer.scene.fog.enabled = false;` to my "working" example in the original post and you can see htis for yourself.

[2016-08-26 15:13] pjcozzi commented on #4166
@bagnell can you please look at this when you have time?  Ideally before 1.25 next Thursday.

[2016-08-26 21:15] bagnell commented on #3730
This was fixed in #3823.

[2016-08-26 21:15] #3730 closed

[2016-08-27 15:29] TJKoury opened #4241 "xhr-withCredentials branch...?"
@tfili did some great work there solving the issue, will it be integrated soon?

[2016-08-27 18:11] pjcozzi commented on #4235
I don't think it is out of the question to render to one framebuffer that would get FXAA, and another for labels/billboards/points that would not, and then composite them.  This would also work well with the need to render labels on top of polygons since the low level-renderer now would have explicit-ish knowledge of labels/billboards/points.

This will be a non-trivial amount of time though so we

[2016-08-28 11:53] pjcozzi commented on #3857
There are a few branches with terrain improvements by @kring:

* Requests: https://github.com/AnalyticalGraphicsInc/cesium/compare/3d-tiles...terrain2
* Reprojection: https://github.com/AnalyticalGraphicsInc/cesium/compare/terrain3

The precise timeline is TBA.

[2016-08-29 12:38] pjcozzi commented on #4237
Thanks for the detailed report, @konashredbiker.

@lasalvavida can you please look at this _after_ the glTF 1.0.1 updates?

[2016-08-29 12:45] pjcozzi commented on #4224
Example animation:

![ok](https://cloud.githubusercontent.com/assets/782098/18051844/f5aaa9be-6dc4-11e6-82f7-c3da33438b17.gif)

[2016-08-29 14:18] lilleyse commented on #2860
**Failures in 1.25**

From before:

`Renderer/CubeMap draws with a cube map with premultiplied alpha`
`Renderer/Texture renders with premultiplied alpha`
`Scene/GroundPrimitive creating a synchronous primitive throws if initializeTerrainHeights wasn't called`

New ones:
`DataSources/KmlDataSource when a LineString is clamped to ground and tesselated, entity has a corridor geometry and ColorPropert

[2016-08-29 14:19] lilleyse opened #4242 "Remove castShadows and receiveShadows in favor of ShadowMode enum"
This will be deprecated in 1.25 and removed in 1.26.

~~@mramato` I can handle this before the 1.26 release.~~
@dbagnell` I can handle this before the 1.26 release.

[2016-08-29 14:32] hpinkos commented on #4235
Here is a png and svg version of the icon from the user.  He says the png looks better than the svg

![icon-sourdough-library 2x](https://cloud.githubusercontent.com/assets/3451886/18054877/b102db4c-6dd3-11e6-883d-009682d032b0.png)
[icon-library.svg.txt](https://github.com/AnalyticalGraphicsInc/agi-cesium-cloud/files/442601/icon-library.svg.txt)

[2016-08-29 14:35] mramato commented on #4235
This is exactly what I assumed a large part of the problem was.  Browsers do not all do an equally good job of rasterizing/resizing SVGs, so the fact that it's an SVG is one of the reasons it looked so blurry.

[2016-08-29 14:46] emackey commented on #4235
True, but we still have big problem with fxaa intentionally blurring our billboards and labels.  I think @pjcozzi's comment is the path to persue, when time permits.

[2016-08-29 14:48] #4104 closed

[2016-08-29 15:02] lasalvavida commented on #4009
Copying from #605 to track progress in Cesium.

* [ ] asset is now required
* [ ] accessor.min and accessor.max are now required, #593, and clarified that the JSON value and binary data must be the same
* [ ] Added accessor.normalized
* [ ] buffer.byteLength and bufferView.byteLength are now required
* [ ] buffer.type can no longer be "text", which was not used
* [ ] skin.inverseBindMatrices is no

[2016-08-29 15:09] hpinkos opened #4244 "Map projection broken with non-earth ellipsoid"
![mapprojection](https://cloud.githubusercontent.com/assets/3451886/18056170/cfde3bec-6dd8-11e6-9d6b-ef71483fb9f0.gif)

It looks like the globe and atmosphere is the correct size, but the imagery is at WGS84

[code]

Setting just the globe ellipsoid and letting the map projection use the default has better results...
[code]

[2016-08-29 15:13] mramato commented on #4235
I think everyone agrees @emackey I just wanted to point out that SVGs can compound the issue.

[2016-08-29 15:19] hpinkos opened #4245 "Easy API to select a non-earth ellipsoid"
Users on the forum want to use non-earth ellipsoids but it is unclear how they have to set it.

[2016-08-29 15:29] hpinkos opened #4246 "Camera.setView moves the camera further out than supported in 2D"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/87kyE-NhFVU

This moves the camera further away from the map than is supposed to be allowed in 2D

[code]

[2016-08-29 16:19] lasalvavida commented on #4009
@pjcozzi Do we want to completely pull support from `SCISSOR_TEST` throughout, or just when loading from a model?

[2016-08-29 16:22] pjcozzi commented on #4009
Remove it completely from glTF since it was never used, but do not remove it from the lower-level Cesium renderer.

[2016-08-29 17:05] donnaaboise commented on #4041
I was the original poster of this bug report, and we are wondering am happy to see interest in fixing this problem.   Is there anything more we can supply on this end?

[2016-08-29 17:20] donnaaboise commented on #4041
In looking at the post linked above, I wonder if our problem is also related to the GroundOverlay id?  I don't give any of our GroundOverlays ids, but could easily do so.  Here is the code from the attached file (Chile_2010.kmz renamed as Chile_2010.zip so it would attach)

     <GroundOverlay>
      <name>frame0000fig1.png</name>
      <Icon>
        <href>frame0000fig1.png</href>
      </Icon>

[2016-08-29 17:28] hpinkos commented on #4041
Thanks for attaching the file @donnaaboise!  Sorry we haven't had a chance to look into it yet.
We're planning to focus some attention on bug fixes for a few days in October, and I think this issue would be a good candidate for that.

If anyone else has some time to look into the problem before then, we would love the help!

[2016-08-29 19:51] bagnell opened #4250 "Check matrix multiplication in shaders"
Prevent possible precision errors when transforming vertices be multiple matrices.

Go through all of the shaders and change things like:

[code]

to
`vec4 positionMC = czm_inverseModelView * positionEC;`

The only exception here is the projection matrix where we would want to do the opposite. Change
`gl_Position = czm_modelViewProjection * position;`
to

[code]

For the first change see [Creating

[2016-08-29 21:37] #4082 closed

[2016-08-29 21:48] #3782 closed

[2016-08-29 22:04] emackey commented on #4245
Oh, if only choosing an ellipsoid were so easy.  Unfortunately not so!  You must tell the `imageryProvider` and the `mapProjection` about your choice of ellipsoid.  The `CesiumWidget.globe` will automatically grab it from `scene.mapProjection` if it needs it.

In this demo, the hover text is Cartesian3 in meters, so you can see it's the Moon's radius and not the Earth.

[code]

I vote to close thi

[2016-08-29 22:14] hpinkos commented on #4245
Thanks @emackey!  I updated this issue and labeled it `doc`

[2016-08-30 00:40] mramato commented on #4245
I think we could do a lot better codewise here.  My official recommendation for updating the ellipsoid is actually a hack'; simply set Ellipsoid.WGS84 to whatever ellipsoid values you want at the start of your app and then Cesium is guaranteed to use it everywhere.  For single-ellipsoid apps, this is by far the easiest way to do it.  Because of this, I think it might be worth introducing `Ellipsoi

[2016-08-30 00:40] mramato commented on #4245
Of course there could be a flaw in my plan, but I'm not sure what it could be.

[2016-08-30 01:37] emackey commented on #4245
I find this hack tempting, but there are potential issues.  Cesium is already very reliant on the concept of a default ellipsoid, and uses WGS84 to initialize several scratch variables hidden in closures around the codebase (for example: [GeographicProjection](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.24/Source/Core/GeographicProjection.js#L34) is constructed and saved as scratch in [

[2016-08-30 01:39] emackey commented on #4244
Is this a dupe of #4245?  The examples here are using Bing imagery constructed on the WGS84 ellipsoid, so they are not going to work correctly.

[2016-08-30 01:44] #4244 closed

[2016-08-30 03:54] lilleyse commented on #4160
The demo is still broken in master.

[2016-08-30 03:57] lilleyse opened #4252 "ArcGIS MapServer demo not loading layer"
http://localhost:8080/Apps/Sandcastle/index.html?src=ArcGIS%20MapServer.html&label=Beginner

I'm getting 404's.

![captur2e](https://cloud.githubusercontent.com/assets/915398/18075605/4bb1ec12-6e44-11e6-88e4-13c767acdbce.PNG)

[2016-08-30 04:00] lilleyse commented on #4107
Closing because it's only a problem on my laptop, with the really old bootcamp drivers.

[2016-08-30 04:00] #4107 closed

[2016-08-30 13:28] pjcozzi commented on #4252
@kring is this temporary or should we update the URL?

[2016-08-30 13:47] pjcozzi commented on #3948
@lilleyse up to you if you want to investigate or push past 1.25.

[2016-08-30 13:47] pjcozzi commented on #4252
Nice to have for 1.25, but not required.

[2016-08-30 14:25] hpinkos opened #4254 "Pinch zoom broken for iPhone and iPad"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/5VarapsvvdA

Load the code then pinch to zoom.  This will cause a crash

[code]

[2016-08-30 15:53] mramato commented on #4254
Is this a dupe of #4177?

[2016-08-30 16:02] donnaaboise commented on #4041
I've attached a simplified set of KML files that will make it easier to debug the timespan issue I am having.

To recap, the issue is that while Cesium is recognizing the timespan elements (the time slider at the bottom of the Cesium viewer moves and the dates are correct) the GroundOverlays all show up at once, not in their designated time span interval.

Here is the code I am using :

    import

[2016-08-30 16:06] hpinkos commented on #4254
"If I move the scene first and then zoom everything works fine."

Yes, this does look like a dupe of #4177

[2016-08-30 16:06] #4254 closed

[2016-08-30 16:13] mramato commented on #4160
Should be fixed in linked PR.

[2016-08-30 16:19] mramato commented on #4079
This appears to be a problem with the data itself and has been there for at least a year (I tried 1.10 and it had the same issue).  I have a different version of the tiled imagery and it works fine. So this is a problem with sample data on the website and not Cesium itself.

The sample Black Marble is out of date for other reasons as well, we will probably take care of this as part of a larger dat

[2016-08-30 16:21] mramato commented on #4062
I can't reproduce this in master.  @pjcozzi can you confirm and close?

[2016-08-30 17:24] #4083 closed

[2016-08-30 18:02] #4222 closed

[2016-08-30 18:04] #4160 closed

[2016-08-30 18:06] #4172 closed

[2016-08-30 20:26] turban opened #4261 ""Floating" CorridorGeometry on mobile"
I'm trying to clamp CorridorGeometry to the terrain. It works fine on desktop, but the CorridorGeometry "floats" on mobile (tested on Android/Chrome and iPhone/Safari). Is this a known issue with touch devices?

![corridor](https://cloud.githubusercontent.com/assets/548708/18105628/63325f9a-6f00-11e6-9274-4c8d768bb9a9.gif)

Desktop:
![screen shot 2016-08-30 at 22 29 05](https://cloud.githubusercon

[2016-08-30 20:43] hpinkos commented on #4261
Hello @turban.  Thanks for including the GIF!

It looks like the corridor is rendering under the terrain.  My guess is device doesn't have support for ground primitives.

From CHANGES.md:

I'm going to close this issue for now.
If you can see in WebGL report that `EXT_frag_depth` is supported on your device, let us know and we'll look into it further.  If it's not supported, there's unfortunately

[2016-08-30 20:43] #4261 closed

[2016-08-30 20:46] hpinkos commented on #4261
Oh also, for development purposes, you can check the
[GroundPrimitive.isSupported](http://cesiumjs.org/Cesium/Build/Documentation/GroundPrimitive.html#.isSupported) to see if ground primitives are supported.  If not, you could turn off terrain to avoid having the geometry render under the terrain.

[2016-08-31 08:31] turban commented on #4261
Thanks @hpinkos, GroundPrimitive.isSupported was useful to target those devices.

[2016-08-31 15:07] #4252 closed

[2016-08-31 15:48] denverpierce commented on #4235
Related to #2752 and #3279 .  If you're considering separate frame buffers, being able to selectively apply it to imagery tiles as well would be helpful.  An AA pass on tiles, especially those with labels, reduces quality.

[2016-08-31 20:07] pjcozzi commented on #4062
I just tried in master and believe I still see the issue:

![image](https://cloud.githubusercontent.com/assets/782098/18144523/0f3736a0-6f95-11e6-80b3-ef3d0a42d5e9.png)

[2016-08-31 20:36] hpinkos opened #4268 "Highlight geocoder text on click"
It would be nice to select the text previously entered into the geocoder so I can begin typing in a new location right away when I click the text box

[2016-09-01 13:54] mramato opened #4270 "3D Tiles: Polygons flashing on top of other buildings"
I have a simple 3D Tiles set with a polygon Primitive (not GroundPrimitive) drawn underneath them on the ellipsoid.  When the camera moves, the polygon flashes over top of the 3D Tiles.

![flashing](https://cloud.githubusercontent.com/assets/1495196/18169743/8b4595fe-7029-11e6-90e5-b4c590649e85.gif)

[2016-09-01 14:38] lilleyse opened #4272 "HeightmapTerrainData test failures in built release"
These tests fail when running all tests in built release mode. However they work when run individually. I'm seeing this in all browsers.

![captur3e](https://cloud.githubusercontent.com/assets/915398/18171441/01316ed6-7030-11e6-8816-a861ca93c498.JPG)

[2016-09-01 15:27] lilleyse commented on #2860
Now the only failures that happen consistently are:

`Renderer/CubeMap draws with a cube map with premultiplied alpha`
`Renderer/Texture renders with premultiplied alpha`

Other test fails when run with all, but pass when run individually.

[2016-09-01 15:59] #4162 closed

[2016-09-01 18:07] bmckilligan opened #4274 "Wall geometries with all negative heights do not render"
I need to represent wall geometries close to the ground surface with terrain turned on.

due to the geoid offset at particular locations the elevation for the top of the wall will be a negative value for the wall geometries since cesium is using ellipsoid elevations rather than orthometric.

a working example with two walls, the top of the red wall just above 0

https://sandcastle.cesium.com/#c=3Z

[2016-09-02 12:02] borisgontar commented on #4190
Any chance to get this fixed sooner than later?  Getting FeatureData is very important for us...

Thanks, Boris.

[2016-09-02 13:18] mramato commented on #4190
Hi @borisgontar, we'd be happy to take a pull request here.  The changes should be straightforward and all of the code is isolated to just `KmlDataSource.js` so we should be able to merge it pretty quickly.  You'll need to fill out a CLA as mentioned in https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md

Otherwise, I'm sure we'll get to this within a few months, once some

[2016-09-02 13:57] pjcozzi commented on #4147
@lilleyse can you please evaluate this?

[2016-09-03 16:54] lilleyse commented on #4147
After some thorough testing our cache system seems to be working properly. The only discrepancy was the `numberReady` statistic included empty tiles which made it seem like tiles were not being unloaded properly. This is fixed in https://github.com/AnalyticalGraphicsInc/cesium/pull/4278.

[2016-09-03 16:54] #4147 closed

[2016-09-03 17:07] drewpotter opened #4279 "iOS Safari cesium main demo crashes"
Hello everyone,

Cesium rocks. I bought the book on virtual globes and now I'm going to use cesium in a web app I am making.

However I noticed that on the iPad Pro 9.7 inch the cesium main demo actually crashes out in Safari.

I haven't tried using chrome on my my iPad yet. However I just thought I'd inform you about this issue in case it can be fixed somehow. Perhaps I should rather file this bu

[2016-09-04 13:54] pjcozzi opened #4281 "Run WebGL tests in CI"
As discussed with @mramato offline:
- Replace all read pixels expectations with a function that can have a no-op expectation when the tests are ran with a "no WebGL" flag, e.g.,

[code]

becomes

[code]
- Replace the object returned by `getContext` with a mock object with GL functions that are no-ops, `function() {}`, except for `getExtension`, which should return mocked objects for the extensions

[2016-09-04 13:59] pjcozzi commented on #3657
With #4281, the "WebGL" tests will also be candidates for running under node.

[2016-09-05 01:24] shengzheng1981 opened #4283 "how to render a flooding scenario with cesium"
Hi,everyone
I'm working to render a flooding scenario with cesium.I have the scenario’s flooding result about flooding area and the depth grid(10m*10m) . how to render?any suggestion will be appreciated!

[2016-09-06 20:31] denverpierce opened #4285 "Terrain 'pokes through' large corridors"
Seen on the [CZML corridor sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=CZML%20Corridor.html&label=CZML) with terrain on.

Terrain clips through the red corridor for tall mountains in the Rockies.

[2016-09-06 21:01] hpinkos commented on #4285
Thanks @denverpierce, I can reproduce this

![image](https://cloud.githubusercontent.com/assets/3451886/18290908/5b7d872c-7453-11e6-951f-fff53074c64c.png)

@bagnell do you think this is related to #4161?

[2016-09-06 21:02] hpinkos commented on #4283
Hello @shengzheng1981

Please ask questions like this on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for bug tracking and new features planning

Thanks!

[2016-09-06 21:02] #4283 closed

[2016-09-06 21:03] bagnell commented on #4285
No. This is more likely a problem with getting the min and max heights of the terrain a long the corridor.

[2016-09-06 21:04] hpinkos commented on #4279
Thanks @drewpotter! What version of Safari is on your iPad?
Which demo was crashing, the one on the [Cesiumjs.org](http://cesiumjs.org/) home page?
Where there any error messages that popped up on screen?

Thanks!

[2016-09-06 21:08] hpinkos commented on #4274
Thanks for including the code example @bmckilligan!

[2016-09-07 01:00] bmckilligan commented on #4274
the detail is, terrain needs to be turned on and the geographic location has a geoid offset height that is negative creating geometries that will be above ground, yet have negative  maximumHeights

the particular location has a geoid height of around -20m

[2016-09-07 09:43] keikland opened #4290 "scene.pick(): Polyline on the other side of the globe "shines through""
In my app I identify the element at the current cursor position as it moves by the standard:

var pickedObject = scene.pick(movement.endPosition);
if(pickedObject && Cesium.defined(pickedObject) && pickedObject.id)
  var element = pickedObject.id;

If the element has name I show this next to the cursor.  Elements are loaded via KML and are points and simple line segments.  The problem is that Cesi

[2016-09-07 13:08] emackey commented on #4120
Looks like @dwhipps tracked down the source of this, it was introduced in 7ce1facd111.

[2016-09-07 13:08] hpinkos commented on #4290
Hello @keikland,
I wasn't able to reproduce this.  Could you put together a [Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html) example that reproduces the problem?
Thanks!

[2016-09-07 13:11] emackey commented on #4120
Also this is a dup of #3979.

[2016-09-07 13:42] wussup opened #4291 "Other map projections (spatial references)"
Hello, how I can use Cesium with other than EPSG:3857 and EPSG:4326 projections?

[2016-09-07 15:37] keikland commented on #4290
Hello Hannah,
I have put together some Sandcastle code that runs, but cannot load the test KML file, probably security.  Do you have a Sandcastle-friendly upload site?

Kjell

From: Hannah [mailto:notifications@github.com]
Sent: Wednesday, 7 September, 2016 15:09
To: AnalyticalGraphicsInc/cesium <cesium@noreply.github.com>
Cc: keikland <kjell.eikland@online.no>; Mention <mention@noreply.github.com

[2016-09-07 16:02] hpinkos commented on #4290
Hi @keikland,

Please make a post on our [forum](https://groups.google.com/forum/?hl=en#!forum/cesium-dev) that includes the sandcastle code and attach the KML file.  Thanks!

[2016-09-07 18:34] drewpotter commented on #4279
Hi,

Sorry for taking so long to write back! My iPad is running Safari 9 on iOS 9.3.5.

The demo that crashes is when you click on the link "Tap to interact" the main demo in the middle of the page.

I get the message: A problem occurred with this web page, so it was reloaded. Safari does not elaborate on what the issue was.

Also, when I run the same demo on Safari on my MacBook Pro using El Capi

[2016-09-07 18:55] hpinkos commented on #4279
Thanks @drewpotter!  We'll see if we can reproduce the problem

[2016-09-07 19:53] #3979 closed

[2016-09-07 19:55] emackey commented on #4120
Thanks @dwhipps and @bagnell.  This fix will be in the October release, Cesium 1.26.

[2016-09-07 19:55] #4120 closed

[2016-09-07 21:23] pjcozzi commented on #3979
@hpinkos can you please update the above forum thread?

[2016-09-07 21:28] pjcozzi commented on #4279
@drewpotter we have been testing other Cesium apps successfully with the 12.9 inch iPad Pro.  @lilleyse can you take a quick look to see if the cesiumjs.org demo crashes it?

[2016-09-08 09:27] wussup opened #4295 "Bad rectangle (extent)"
Hello, why all providers have rectangle defined like entire Earth and do not use e.g. Full Extent from ArcGIS Server or Bounding Box from WMS/WMTS servers?

[2016-09-08 12:21] wussup opened #4296 "WMTS problem"
Hello, I have a problem with adding Poland Topographic Map WMTS (http://mapy.geoportal.gov.pl/wss/service/WMTS/guest/wmts/TOPO):

`new Cesium.WebMapTileServiceImageryProvider({
url : 'http://mapy.geoportal.gov.pl/wss/service/WMTS/guest/wmts/TOPO',
layer : 'MAPA TOPOGRAFICZNA',
style : 'default',
tilingScheme : new Cesium.GeographicTilingScheme(),
tileMatrixSetID : 'EPSG:4326',
proxy : new Cesium.D

[2016-09-08 15:01] hpinkos commented on #4290
Updated example

[code]
![image](https://cloud.githubusercontent.com/assets/3451886/18354448/9e025332-75b3-11e6-8751-b5153be60315.png)

[TEST_small.KML.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/461935/TEST_small.KML.txt)

[2016-09-08 16:48] drewpotter commented on #4279
Thanks @pjcozzi for that info. I can't imagine why it only affects the 9.7 inch iPad Pro.

Maybe something is different?

[2016-09-08 17:13] shunter commented on #4279
I tested a bit on my iPad Air 2 and I was able to get the homepage demo to crash the tab reliably after zooming and panning a bit.  Unfortunately the error "A problem occurred with this web page, so it was reloaded." indicates an internal programming error inside Safari itself and not really anything we can debug from Cesium.  We generally push WebGL to its limits, and very commonly we run into ba

[2016-09-08 17:13] mramato commented on #4279
Just an FYI, all browsers on iOS (even Chrome) are actually really Safari in the background with a custom user interface on top of it.  So if something is broken on Safari it will certainly almost always be broken in Chrome.  Unfortunately Safari just isn't a very good browser when it comes to WebGL and complex JavaScript apps.  That being said, we definitely want to make Safari work as well for C

[2016-09-08 17:17] mramato commented on #4279
@shunter I think that problem can also occur if we run out of video (or system) memory.  It's possible that the large retina display causes issues because we don't honor the DPI settings (because Safari doesn't support `'image-rendering: pixelated;'`  We can confirm this by forcing Cesium to honor the DPI settings and see if it still crashes.  I'm really hoping Safari 10 on iOS adds improved suppo

[2016-09-08 17:23] lilleyse commented on #4279
I've been testing a custom demo (no globe) on the iPad Pro 12.9" that runs fine, at least if the GPU memory doesn't hit 1GB or more. I can also run the main demo page ok.

[2016-09-08 18:53] dwhipps commented on #2737
I'm also running into this. In the special case where the rotation is multiples of 90 degrees, it looks fine, but anything else and the texture is wrong.

See my [SANDCASTLE here.](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=815cb7cdfb3d237b38d3f25c9ead8ef)

[2016-09-08 19:40] hpinkos opened #4300 "Cesium crashes when changing label height reference"
[code]

[2016-09-09 12:29] dwhipps commented on #2737
@pjcozzi One thing I noticed while trying to debug this, is the comment on line 787 of RectangleGeometry.js. It says:

... but stRotation is defined as ccw, and the function it's used in immediately below:

`Matrix2.fromRotation(-stRotation, textureMatrix)`

says that the "angle" parameter is:

That strikes me a "double negative." When I tried removing the minus sign it didn't completely solve thi

[2016-09-09 15:16] duvifn opened #4304 "GoogleEarthImageryProvider - blurred, whitish image problem"
Hi,
When I'm using GoogleEarthImageryProvider the imagery appears blurred and whitish compared to the image viewed in google default page.

After some investigation it seems that the tileScheme definition is wrong and the tiles which the provider returns are not in the correct level.

The whitish image is because the default gamma value is 1.9, instead of 1.0 (probably a typo).

I have fixed the m

[2016-09-09 15:37] hpinkos commented on #4304
Hello @duvifn,

Thanks for looking into this!  We would gladly accept a pull request to fix this issue.
Take a look at our contributing documentation for instructions on the steps to take for submitting a pull request: [CONTRIBUTING.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request)

[2016-09-09 19:34] hpinkos commented on #1810
Closing this issue since we haven't seen this problem and the forum user hasn't responded

[2016-09-09 19:34] #1810 closed

[2016-09-09 19:38] hpinkos commented on #1640
Updated code example
[code]

[2016-09-09 20:02] hpinkos commented on #2694
@pjcozzi @bagnell is this still a problem?

[2016-09-09 20:08] hpinkos commented on #3036
@mramato is this still a problem?

[2016-09-09 20:13] hpinkos commented on #3166
Appears to be fixed

[2016-09-09 20:13] #3166 closed

[2016-09-09 20:17] hpinkos commented on #3452
This appears to be fixed

[2016-09-09 20:17] #3452 closed

[2016-09-09 20:23] hpinkos commented on #3598
Hi @drakej
This issue appears to be fixed, so I'm going to close this issue.  If you can still reproduce it, let me know.
Thanks!

[2016-09-09 20:23] #3598 closed

[2016-09-09 20:23] mramato commented on #3452
Yes, this was part of #4090

[2016-09-09 20:25] bagnell commented on #2694
Yes, it's still a problem. For example, if you have a label on the side of a mountain. Its possible to rotate so the part of the label fails the depth test with the mountain.

[2016-09-09 20:31] hpinkos commented on #3832
@denverpierce are you able to still reproduce this one?  I think we may have actually fixed it this time.  I let it run for like 2 or 3 minutes and it didn't crash for me.  In 1.21 it crashed in like 20 seconds

[2016-09-09 20:32] mramato commented on #2694
Here's exactly what @bagnell is talking about.  Hopefully something we can address sooner rather than later. (along with other label/depth improvements).

![labels](https://cloud.githubusercontent.com/assets/1495196/18401898/cf6434b6-76aa-11e6-8efa-a9140cc69c3f.gif)

[2016-09-09 20:36] mramato commented on #3832
@hpinkos that's caused I fixed this in #4258 :smile: Didn't realize this bug existed since it is a dupe of #4083

[2016-09-09 20:36] #3832 closed

[2016-09-09 20:36] mramato commented on #3832
Of @denverpierce if you are still having an issue, please re-open this.

[2016-09-09 20:48] hpinkos commented on #4227
duplicate #1075

[2016-09-09 20:48] #4227 closed

[2016-09-09 22:52] denverpierce commented on #3832
Yeah I haven't checked it, but fairly certain its the same as #4083

[2016-09-10 00:49] mramato commented on #4062
Pretty sure I just forgot to turn terrain on when I tested this. whoops.  The problem is actually pretty bad and happens by jumping to most billboards.  Some end up above the ground, some under the ground.

I've also had some problems with disappearing labels (I think they are improperly being placed under ground like the billboards:

![image](https://cloud.githubusercontent.com/assets/1495196/184

[2016-09-10 01:45] pjcozzi opened #4311 "Breaking WebVR changes"
@bagnell can you please review to see if we need to make any updates: http://blog.tojicode.com/2016/09/update-on-webvr-spec-chrome-and-https.html

If not, please close.

[2016-09-10 13:38] drewpotter commented on #4279
Thanks everyone for the feedback. I have submitted the bug to Apple directly. They have requested the actual log files from the iPad which I have submitted to them.

[2016-09-10 18:20] pjcozzi commented on #2737
@dwhipps we would definitely welcome pull requests with incremental fixes even if it doesn't fix this issue completely.  Thanks for looking into this!

[2016-09-10 18:49] pjcozzi commented on #3648
Duplicate with #4311.

[2016-09-10 18:49] #3648 closed

[2016-09-11 09:50] zwzhlj100000 opened #4312 "Cesium 1.25 Build Bug"
Cesium 1.25 Build Bug:

Win 10,X64,
i run command npm run release,and get the follow error:

npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\Program Files (x86)\\nodejs\\node.exe" "C:\\Program Files (x86)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "run" "release"
npm ERR! node v6.2.0
npm ERR! npm  v3.8.9
npm ERR! code ELIFECYCLE
npm ERR! cesium@1.25.0 release: `gulp release`
npm ERR! Exit stat

[2016-09-12 15:23] hpinkos commented on #4066
duplicate #3263

[2016-09-12 15:23] #4066 closed

[2016-09-12 15:30] hpinkos commented on #4312
Hello @zwzhlj100000

Make sure you run `npm install`.  See instructions in the [Getting Started Tutorial](http://cesiumjs.org/tutorials/cesium-up-and-running/)

In the future, if you have any questions please post on the Ceisum Forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev

[2016-09-12 15:30] #4312 closed

[2016-09-12 16:25] mramato opened #4313 "3DTiles spamming console.log with thousands of messages."
#4228 added a message about using the old 3DTiles b3dm format, but it's using `console.log` and spamming the output with thousands of messages when working with most existing 3DTiles sets.  It should use `oneTimeWarning` or `depracationWarning` instead.

[2016-09-12 16:35] pjcozzi commented on #4313
Agreed, this is commented out in the `3d-tiles-temp` branch, but do not use that branch right now as it is experimental.

[2016-09-12 20:33] schmidtk commented on #378
I encountered an infinite loop in Cesium caused by measureText when a label had a character comprised of two 16-bit character codes. You can reproduce by dropping the following into Sandcastle:
[code]
Hit run, browser hangs. Recommend using Chrome so you can kill the tab easily.

[2016-09-13 15:56] chriseyhorn commented on #4279
@drewpotter Can you post the top part of the crash report?  We are also currently experiencing the same issue and want to see if it is the same exception.

[2016-09-13 16:53] pierotofy opened #4317 "XSS on defaultDescribe GeoJsonDataSource"
A XSS vulnerability could be exploited by users who have access to modify a GeoJson data source.

https://github.com/AnalyticalGraphicsInc/cesium/blob/523544fcc5dea01cf75e080f57711a31a9d0ecea/Source/DataSources/GeoJsonDataSource.js#L104

and

https://github.com/AnalyticalGraphicsInc/cesium/blob/523544fcc5dea01cf75e080f57711a31a9d0ecea/Source/DataSources/GeoJsonDataSource.js#L106

`html += '<tr><th

[2016-09-13 17:04] hpinkos commented on #4317
Thanks @pierotofy

For the infobox, the description is displayed in an iframe with scripts disabled so it shouldn't be an issue there

[2016-09-13 17:06] mramato commented on #4317
@pierotofy What browser and version are you using?

As @hpinkos pointed out, iframe sandboxing makes this impossible without you specifically disabling security in your own application.  If you are seeing this in any of the major browsers out of the box with Cesium, then that points to major browser bug, not a bug in Cesium.

Please confirm that you are disabling sandboxing in your application and

[2016-09-13 17:10] pierotofy commented on #4317
@mramato ahh, yes, I have a custom InfoBox in my application which does not use iframes. Never mind then, you can close this.

[2016-09-13 17:14] #4317 closed

[2016-09-14 04:49] alfski opened #4318 "Cesium 1.18 introduced scaling artefacts for Win7 users who use a non-100% system font"
Hi, realise this is an edge case. Just noticed if Windows 7 user changes the font size on their system  Cesium renders with scaling artefacts.  This is likely a browser devicePixel thing, problem occurs with Firefox and Chrome.

eg. Windows 7 with system font size set at "Medium 125%" using Control Panel > Display > Custom DPI setting > 125%.  Looks like this, note the scaling artefacts in the atm

[2016-09-14 13:22] mramato commented on #4318
This is actually by (browser vendor) design and is just one aspect of "how browsers work".  Essentially the browser is setting the `window.devicePixelRatio` property which is telling Cesium that all rendering needs to take place at a different resolution. This is important for devices with insane resolutions but lacking the power to render 3D content at those resolutions, this includes a lot of co

[2016-09-14 13:22] #4318 closed

[2016-09-14 19:11] drewpotter commented on #4279
Hi sorry for the late response. I have been overwhelmed with work.

@chriseyhorn I will post the top part of the crash report which I think is the correct one, I hope this is correct. Only the iPad only crashed on the cesium demo on the same day and there weren't any other crashes.

GitHub won't allow me to attach the file, so here is the pasted text; If you like I can email you the log file; exce

[2016-09-15 14:21] schmidtk commented on #378
@pjcozzi @shunter This is a pretty old issue so I'm not sure it will get visibility. This can easily reproduce an infinite loop when displaying unicode strings in labels. I encountered it loading a KML with non-English characters.

[2016-09-15 14:21] pjcozzi opened #4322 "Show license at top of repo"
For the Cesium repo and all AGI repos, e.g., like this:

![image](https://cloud.githubusercontent.com/assets/782098/18553340/14f999ee-7b2e-11e6-9176-24f89a366c17.png)

https://github.com/Kupoman/BlenderRealtimeEngineAddon

I have not looked into if this is a admin checkbox, LICENSE.md parsing, etc.

[2016-09-15 14:27] shunter commented on #4322
https://help.github.com/articles/adding-a-license-to-a-repository/

LICENSE.md doesn't exactly match the standard Apache license, so it doesn't get detected.

[2016-09-15 14:42] hpinkos commented on #378
Thanks for reporting this @schmidtk.  I can easily reproduce it with the code example you posted.
It looks like it's getting stuck in this loop https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/ThirdParty/measureText.js#L173-L175

@shunter is this problem related to this issue or should I open a new issue to look into this?

[2016-09-15 15:00] schmidtk commented on #378
I'm starting to wonder if the KML incorrectly parsed the character as `\xc4\x81` instead of `\uc481`. The latter would have treated it as a single character and probably wouldn't trigger the infinite loop. Unfortunately I'm out of the office until Monday so I don't have the KML available. I added a temporary workaround in my application to strip non-printable characters from labels, so it's not a

[2016-09-15 15:04] shunter commented on #378
Unrelated to the original issue.  The loop in the code seems clearly wrong when the glyph renders blank, which is supposed to be checked by the whitespace regex at the top.

@schmidtk  What character are you expecting to be using here?

`String.fromCharCode(196, 129)` is Ä but that's only from 196 (0xC4).  129 (0x81) is not defined.  Is the character supposed to be `\uC481` which is 쒁?

Fixing la

[2016-09-15 19:18] schmidtk commented on #378
I'll have to take a look at the KML again when I get back to the office on Monday. I didn't have the time to thoroughly debug and used the workaround to strip blank characters from the text instead. It may be expecting an Arabic font (the label was for Baghdad), which is why I thought it may be semi-related to this issue.

[2016-09-15 21:55] kaktus40 opened #4323 "issues with datasources example in sandcastle"
Hello, I have some inconsistent issue with some datasource sandcastle examples (sometimes it works and sometimes no).
I work with Linux Mint 18 'Sarah' and Firefox 48.0. For others functions, it seems OK.
For illustrations, you should check the images in attachment
[geojson and topojson](https://cloud.githubusercontent.com/assets/6098556/18568869/a0963018-7b9f-11e6-80d9-6ebe8bae7225.png)
[custom d

[2016-09-15 21:58] kaktus40 commented on #4323
I also worked with [this version of Cesium](https://github.com/AnalyticalGraphicsInc/cesium/commit/3e530c76653f55286d857e5ea86ab8dd7ea4f890)

[2016-09-16 01:25] cuizx commented on #3999
now, it's correct.

[2016-09-16 14:20] hpinkos opened #4326 "KML linestring clamp to ground fails"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/9wvnNNQcLTA
This KML renders fine when `clampToGround: false` but doesn't render anything when `clampToGround: true`.  Zooming to it then causes a crash in `Scene updateFrustums` because NaNs populate the frustum values.
[track.kml.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/477029/track.kml.txt)

[code]

[2016-09-16 14:28] hpinkos opened #4327 "KML viewer.flyTo placemark goes underground"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/E27D7WJHWZ8
Using viewer.flyTo for a pin created by this KML file results in the camera going under ground.
[code]

Interestingly enough, the same thing does not happen when you create a pin at the same location with the entities API
[code]

[2016-09-16 14:30] hpinkos commented on #4327
"The difference between the two examples appears to be the initial bounding sphere computed for the entity.  For the second example, the center of the bounding sphere is identical to the entity's position.  Not so with the KML example -- the z-component in particular is much smaller.  After the second button click, the bounding sphere gets recalculated and the center becomes roughly the same. "

[2016-09-17 04:34] kaktus40 commented on #4323
I made some little tests (different GPU and different internet navigator on same OS and same laptop). It seems that Firefox is the root of the issue. I don't know why nevertheless.

[2016-09-17 11:15] YousefED commented on #4032
Fyi, I',m seeing this bug for more locations, e.g.:

I'm open to looking into this, but have little experience with the internal 3d engine, so I'm not sure where to start

[code]

[2016-09-18 10:28] daniel-hilton opened #4333 "3D tiles - tiles invisible and cut"
I've tried to convert the gltf model of the old city Girona, Spain [from here](betaserver.icgc.cat/cesium/Girona3D.html) and recreated it as b3dm (by adding rtc_center, data as binary, batchId and b3dm header). The tileset that contains all these files has a root tile and 42 children that uses "replace" refine

There are 2 problems in the tile loading and view (both has video below)
1. Sometimes t

[2016-09-18 17:02] lilleyse commented on #4333
Thanks for the letting us know about these issues. Would you be able to send over the tileset so that we can debug them?

[2016-09-18 17:54] daniel-hilton commented on #4333
i'm not sure I can publish it because it's ICGC model. but I cat share it with you in private via email dropbox etc.

[2016-09-18 18:09] lilleyse commented on #4333
Ok, you can send a dropbox link to slilley@agi.com

[2016-09-18 18:38] daniel-hilton commented on #4333
shared! If anyone else want this model write your mail here and ill send it ASAP

[2016-09-18 18:49] daniel-hilton commented on #4333
BTW, this model is generated by acute and was converted from dae to glTF using the COLLADA2GLTF and from glTF to b3dm by [this](https://github.com/daniel-hilton/gltf-b3dm-convertor)

[2016-09-18 19:41] mramato commented on #1165
Now that we are rotated keys, should we just close this?

[2016-09-18 19:59] shunter commented on #4322
Thinking about this more, Cesium is not exactly licensed under Apache.  Given the included third-party code, the combined work is Apache plus MIT plus BSD plus whatever else.  I suggest closing this.  The auto-detect is for simple projects, which Cesium is far from.

[2016-09-18 20:06] mramato commented on #4322
@shunter I'm pretty sure your reasoning would eliminate 90% of GitHub projects, since most depend on other libraries with various compatible licenses; but I'll let @pjcozzi and our legal counsel sort this out.

[2016-09-18 23:53] mramato opened #4335 "JSDoc footer is enormous"
While testing #4302, I discovered that (even in master) the JSDoc footer on each object's page is almost 2000 pixels tall.  This means that every page can scroll way past its content and there's just a tone of blank space.  Obviously not a deal breaker and low priority, but it would be nice to fix.

[2016-09-19 09:14] HeercoGrond opened #4340 "3D Tiles - ModelInstanceCollection has no ShadowMode option to conserve performance."
Hi,

Currently I'm using openstreetmaps to load forestdata to use for rendering trees in cesium using the ModelInstanceCollection of the 3D Tiles branch. The problem is that the ModelInstanceCollection has no options for setting the ShadowMode of the models contained within. Some of the objects in our scene require the shadows, and the trees are more there for cosmetic value so disabling shadows i

[2016-09-19 14:26] emackey commented on #4335
This is done deliberately so that anchor links near the bottom of the page can be scrolled to.  I'd like to keep this.

[2016-09-19 14:28] lilleyse commented on #4340
Thanks for submitting this, adding a `shadows` property to `ModelInstanceCollection` and the 3D Tiles Contents would be very useful. This will be a good starter issue for @JudyWeng or @sumitshyamsukha.

[2016-09-19 14:31] mramato commented on #4335
OK, that makes sense I guess.  Didn't realize it was intentional.

[2016-09-19 14:31] #4335 closed

[2016-09-19 14:35] mramato commented on #4335
Thanks, I had inspected the element, but obviously the comment gets removed during the build.

[2016-09-19 14:41] HeercoGrond commented on #4340
The implementation for this looks to be very easy, mostly adding another parameter called shadows, adding this._shadows below the variables that get passed onto the model and adding it to the createModel function's parameters for the model. This seems to do the trick.

[2016-09-19 15:11] mramato commented on #1165
We already have an issue for that in #1262

[2016-09-19 15:12] #1165 closed, assigned to kring

[2016-09-19 15:21] hpinkos opened #4342 "Real-time terrain exaggeration changes"
Requested on the forum:
https://groups.google.com/forum/#!msg/cesium-dev/WT-0NM4bxC4/ZcErFJSiCQAJ
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/2iqod4f4UIY

It would be nice to change the terrain exaggeration after the scene is constructed

[2016-09-19 18:08] pjcozzi commented on #4342
Not endorsing this as a current priority, but here's a related commit from #3200: https://github.com/AnalyticalGraphicsInc/cesium/pull/3200/commits/ab24a58246ab9762dae369a3ca8e054ef5d4dd53

[2016-09-19 18:40] pjcozzi commented on #3999
@cuizx did you mean to re-open this?

[2016-09-19 18:45] pjcozzi commented on #4032
The culling volume may not be properly synced with the camera view.

@YousefED you are welcome to look into this, but it might not be easy first issue to track down (instead check out [these](https://github.com/AnalyticalGraphicsInc/cesium/issues?q=is%3Aissue+is%3Aopen+label%3Abeginner)).

Also, are you using Cesium for TweetBeam?  Do you have a demo?

[2016-09-19 18:46] mramato commented on #4032
I swear we have a very similar bug opened for this already that involved flying the geocoder to specific locations, but now I can't find it.

[2016-09-19 18:48] mramato commented on #4032
Nevermind, I was thinking of #3676, which is already fixed.  Sorry for the noise.

[2016-09-19 18:52] YousefED commented on #4032
@pjcozzi Nope, for Relive.cc - I think you've already seen it on Twitter, and we're in touch with your team re. a showcase :)

[2016-09-19 19:11] lilleyse commented on #4333
Quick update: I noticed that the bounding spheres generated for the underlying model are not aligned properly, which causes the view frustum near plane to be incorrect (causing problem 1) and is probably related to problem 2.

Would you also be able to also send over one of the original dae models through Dropbox?

![bounding](https://cloud.githubusercontent.com/assets/915398/18645285/8ac837e4-7e7

[2016-09-19 19:52] dwhipps opened #4343 "KML parsing missing <kml> tag contents?"
I have a valid KML file that opens fine in both GoogleEarth as well in WorldWind, but fails in Cesium with the error:

[Broken KML - Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=4f955b53afbacb115b7ecda4173c1030)

The file is hosted here: [https://earthdata.layeredearth.com/Layers/Earth/Climate%20Change/Global%20Warming/Scenario%20A2%20-%20glob

[2016-09-19 20:20] chriseyhorn commented on #4279
It turns out our crash was related to adding a model to the map that has an image as a texture.  Once the model gets added the browser crashes on iOS.  If you add the same model without the image texture then no crash.

[2016-09-19 20:34] dwhipps commented on #4343
Looks like the problem occurs in KmlDataSource.js:loadXmlFromZip when parser.parseFromString() is called.

DOMParser seems to be failing to properly parse the passed string (which itself looks like valid XML).

One thing to consider might be passing an error handler parameter to the DOMParser() constructor near line 193 of KmlDataSource.js

[2016-09-19 20:37] lilleyse opened #4344 "Add shadows property to Cesium3DTileset"
For #3241

Similar to https://github.com/AnalyticalGraphicsInc/cesium/pull/4341, we should support a shadows property inside `Cesium3DTileset`, `Batched3DModel3DTileContent`, and `Instanced3DModel3DTileContent`. `PointCloud3DTileContent` is more involved so that should be held off for now.

@sumitshyamsukha Let's work on this one tomorrow.

[2016-09-19 20:40] lilleyse opened #4345 "Add incrementallyLoadTextures to Cesium3DTileset and ModelInstanceCollection"
For #3241

Add an `incrementallyLoadTextures` flag to `Cesium3DTileset` and `ModelInstanceCollection` to override the default setting for `Model`, which is to render a white model before the texture is loaded. This sometimes has a jarring effect for tilesets that use replacement refinement.

@JudyWeng This will be a good one to work on tomorrow.

[2016-09-20 00:32] pjcozzi commented on #4344
This is for per-feature shadows, right?  Although I was the one who suggested this, I would hold off until we have enough interest since this comes with a high memory overhead.  I would not use this as a beginner 3D Tiles issue.  Please check the roadmap for others and let me know if you need input.

[2016-09-20 00:35] pjcozzi commented on #4345
Add this to `ModelInstanceCollection`.

However, I would not add this to `Cesium3DTileset` since it has such limited use cases, basically just additive refinement, which is rarely appropriate for textured tilesets.  Instead, just set this to `false` when creating `Model` and `ModelInstanceCollection` objects.

[2016-09-20 00:54] lilleyse commented on #4344
No this is for the entire tileset.

[2016-09-20 00:55] lilleyse commented on #4345
Yeah that sounds good to me.

[2016-09-20 01:08] pjcozzi commented on #4344
Ah, +1 from me.

[2016-09-20 14:03] hpinkos opened #4346 "Camera.computeViewRectangle doesn't work in 2D or CV"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Ildibeod608

[code]

[2016-09-20 15:21] lilleyse commented on #4340
Fixed in #4341

[2016-09-20 15:21] #4340 closed

[2016-09-20 16:33] daniel-hilton commented on #4333
I don't have the dae, only the glTF files, I'll send you them shortly.

As part of the b3dm convert process I have gone threw every vertex (in the POSITION accessor) and multiplied it by the transition matrix. because before the multiplication the model was  directed by the Cartesian plane and not the cartographic. This might have been the problem.

1. doesn't the bounding sphere calculated from t

[2016-09-20 17:19] drewpotter commented on #4279
@chriseyhorn thanks for those details. Hopefully Apple will fix this bug. I am waiting for them to get back to me on that bug report.

[2016-09-20 17:29] daniel-hilton commented on #4333
I've added the the gltf files to the shared dropbox

[2016-09-20 17:43] lilleyse commented on #4333
Thanks I'll check them out soon.

The bounding spheres are calculated from the min/max of the position accessor, so if those aren't updated as well that could be a problem. Since you are transforming the positions, you may also need to transform the min and max.

So you tried using a `transform` on the root tile already? That seems like a good alternative to this situation. You can check out an ex

[2016-09-20 17:52] mramato opened #4349 "Lots of missing pragmas for DeveloperError"
1. Edit `gulpfile.js` and change the `combine` step so that `removePragmas` is true.
2. Run the combine step and then search the resulting `Build/CesiumUnminified/Cesium.js` file for `new DeveloperError`.

There will be a ton of occurrences in the code when there should be none.  This also affects performance due to additional if checks in hot code.  Any place it appears means that it's missing th

[2016-09-20 18:44] #3471 closed

[2016-09-20 19:46] daniel-hilton commented on #4333
Seems that the min-max values was the issue. thanks for your help.

Continue to do the great things you do!

[2016-09-20 19:46] #4333 closed

[2016-09-20 20:12] lloyda06 commented on #2442
I found that its possible for Scene.drillPick to get into an infinite loop.  The sandcastle link below uses a KML feed that causes it to occur fairly consistently, but it seems like it can happen anytime there is feature data on the globe.  If this is a different bug, i can create a new issue.

The issue can be worked around by providing a limit to drillPick (the 2nd argument) as it will break fro

[2016-09-20 20:44] lilleyse commented on #4344
@sumitshyamsukha https://github.com/AnalyticalGraphicsInc/cesium/pull/4348 is merged so you should be able to finish your PR when you pull the latest `3d-tiles` changes. One more thing to address is being able to set the shadows dynamically rather than just at creation time. To do that, in `Batched3DModel3DTileContent.update` you can set the model's shadows to equal the tileset's shadows. In `Inst

[2016-09-20 21:20] willemvdg commented on #4177
+1

[2016-09-20 21:26] willemvdg commented on #3111
+1

[2016-09-20 21:31] willemvdg commented on #1865
+1

[2016-09-20 21:32] lilleyse commented on #4333
Nice! I'm glad it works now.

[2016-09-20 21:37] willemvdg commented on #2501
+1
A more google-earth type of flight would be very useful. Currently, both the start- and end-point get out of view sometimes, which is a little confusing. It would be nice if the camera could look in the direction of the end-point during the flight.

[2016-09-20 21:41] wallw-bits commented on #1865
@chris-cooper We have been extending [ol3-cesium's AutoRenderLoop](https://github.com/openlayers/ol3-cesium/blob/master/src/autorenderloop.js). It still isn't perfect, but it is much better than before.

[2016-09-20 21:43] hpinkos commented on #4323
Thanks for the information @kaktus40!
What GPU do you have?  We'll try to reproduce this next time we get a chance to debug some things for Linux

[2016-09-21 03:56] cfickler opened #4352 "outlineWidth"
Guys, it looks like outlineWidth has no affect. I especially need this on a polygonGraphic. Can you please investigate?

var outlineOnly = viewer.entities.add({
    name : 'Yellow box outline',
    position: Cesium.Cartesian3.fromDegrees(-100.0, 40.0, 300000.0),
    box : {
        dimensions : new Cesium.Cartesian3(400000.0, 300000.0, 500000.0),
        fill : false,
        outline : true,

[2016-09-21 05:07] kaktus40 commented on #4323
Hello,
I have two GPU on my laptop :
- 4th Gen Core Processor Integrated Graphics Controller from Intel Corporation version 6. It's a 64 bits GPU with a clock of 33MHz.
- GM204M [GeForce GTX 965M]  from NVIDIA Corporation. It's also a 64 bits GPU with a clock of 33MHz.

I tried on these two GPU and two internet navigators (firefox 48 and chromium 54.0.2840.27). My tests pinpoint that the issue see

[2016-09-21 14:24] hpinkos commented on #4352
outlineWidth isn't supported on all platforms.  See the answer to this forum post for more information: https://groups.google.com/forum/?hl=en#!searchin/cesium-dev/outlineWidth%7Csort:relevance/cesium-dev/guxo6vcVkhc/5tHeE5Va2DwJ

In the future, please use the forum for asking questions like this.  We use GitHub issues for bug and feature tracking.  Thanks!

[2016-09-21 14:24] #4352 closed

[2016-09-21 15:02] lilleyse commented on #3892
@sumitshyamsukha Let's work on this after https://github.com/AnalyticalGraphicsInc/cesium/issues/4344.

In `Batched3DModel3DTileContent` and `Instanced3DModel3DTileContent` the `basePath` should not be the url of the tile, but instead the directory of the tile. You can use [getBaseUri](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/getBaseUri.js) for this.

For testing tha

[2016-09-21 16:05] lilleyse commented on #4313
@JudyWeng let's do this one next. Use a `deprecationWarning`, for example like https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Model.js#L883

For testing you can follow the same steps as here: https://github.com/AnalyticalGraphicsInc/cesium/issues/3892#issuecomment-248639720

[2016-09-22 08:51] jnachtigall opened #4356 "[tutorial] Outline not shown in 1st example of Visualizing Spatial Data Tutorial"
Following the Tutorial at https://cesiumjs.org/tutorials/Visualizing-Spatial-Data/ with

[code]

Other than in the screenshot at https://cesiumjs.org/images/2015/02-02/OurFirstEntity.jpg there is no outline. Also in the console I see the message:

At first, I thought I did something wrong. But I guess there's been some internal Cesium change. I suggest updating the tutorial.

[2016-09-22 08:55] YousefED commented on #4032
@pjcozzi Sorry to "bug" you about this, normally wouldn't bring it up again; but the bug seems to affect one of our users on a ride with Richard Branson 😅  If a quick look from your side could help assess whether a quick fix could be possible (and where I should look), or whether it affects a large part of the render engine (in this case I probably can't help) - that would be extremely helpful.

[2016-09-22 11:35] jnachtigall opened #4358 "[tutorial] Broken link in https://cesiumjs.org/tutorials/Imagery-Layers-Tutorial/"
Hope this is the right repo for this issue, but there's now github source mentioned for the tutorial pages.

https://cesiumjs.org/tutorials/Imagery-Layers-Tutorial/

links to https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Tools/proxy which is 404

[2016-09-22 15:19] hpinkos opened #4359 "Performance issue for different camera views"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/D_ma3ioftI8

User reports that performance is worse for a top down view than a 45 degree angle camera view.  See the forum post for a code sample

[2016-09-22 15:21] hpinkos commented on #4356
Thanks @jnachtigall!  Yes, it looks like we forgot to update the code example

[2016-09-22 19:31] sumitshyamsukha commented on #3892
@lilleyse I was trying to host the sample tileset provided, but after running the `3d-tiles-samples` repo, I get an error on connecting to `http://localhost:8003` that says:

I imagine it's most likely something to do with an Express route -- any suggestions on how to fix?

[2016-09-22 22:04] lilleyse commented on #3892
You don't need to access 8003 directly, you just need to get the url of the tileset hosted there. Run Sandcastle normally from localhost:8080 and in the 3D Tiles demo change the url of one of the tilesets to `http://localhost:8003/localTilesets/NameOfTileset/`

[2016-09-23 00:31] mramato opened #4363 "Touch controls have regressed"
We made a ton of camera improvements to Cesium within the past year, but I've recently being playing with Cesium a lot on touch devices and things seem to have regressed there.

1. There's a weird waggle when using two-finger swipe to change the pitch.
2. When using single finger camera translation, moving from the land to the sky changes input to be as if you started on the sky (and vice versa).

[2016-09-23 00:39] lilleyse commented on #4359
I wonder if it's related to this: https://github.com/AnalyticalGraphicsInc/cesium/issues/4166#issuecomment-242761849, even though that is apparently fog related.

[2016-09-23 07:39] HeercoGrond opened #4365 "[3D Tiles] ModelInstanceCollection has no scaling parameters."
While using ModelInstanceCollection, I came upon the issue that ModelInstanceCollection has no option to insert the desired scale into the model pre-creation as an uniform scale for all the models. For my usecase, we're having trees that are currently towering above our primitive buildings, so we need to be able to adjust them. I've made a fix based purely on the scale property of the model, not y

[2016-09-23 07:41] HeercoGrond commented on #4365
Pull request is made: #4366. Tested it locally, works fine (even without defining the property of scale in the creation of the modelinstancecollection.)

[2016-09-23 23:17] lilleyse commented on #4365
I'm not sure if this property is needed since the scale can be part of the modelMatrix of each instance. I also think maximumScale and minimumPixelSize are probably too specific to be needed by most people using ModelInstanceCollection.

[2016-09-24 20:12] pjcozzi commented on #4365
I generally would agree here, but `scale` is part of `Model` for end-user simplicity.

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Model.js#L311

However, given that `ModelInstanceCollection` is an internal API, we don't have to overbuild it.

[2016-09-24 20:14] #4242 closed

[2016-09-24 20:16] #4345 closed

[2016-09-24 20:28] pjcozzi commented on #4032
@YousefED sorry, I am fully committed for quite a while to come; however, I labeled this as "bug bash" so perhaps someone will take a look then: http://cesiumjs.org/2016/09/19/Cesium-Bug-Bash/

[2016-09-24 20:37] pjcozzi commented on #4322
The Cesium code that we develop is Apache 2.0.  Third-parties are as licensed by their developers (and, of course, compatible with Apache 2.0).  I don't see this "Apache 2.0" icon as any different than what we advertise on the Cesium website, in talks, etc.

[2016-09-26 07:27] HeercoGrond commented on #4365
Yeah, adding the scale to the ModelMatrix manually is also a solution. I might look into making a calculation that rather than add a scale onto the createmodel method, adds a scale directly to the modelmatrix for end-user simplicity.

[2016-09-26 16:53] hpinkos opened #4368 "scene.pickPosition returns incorrect position"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/0E-aKBTLESk

The user created this sandcastle example to demonstrate the problem: http://hosting.virtualcitysystems.de/demos/temp/pickProblem/Apps/Sandcastle/?src=3D%20Tiles.html&label=undefined

The demo is using the latest `3d-tiles` branch

`pickPosition` works fine if you run the example inside sandcastle, but if y

[2016-09-26 17:53] dwhipps commented on #4343
Note that the file linked in the example above has since been modified and now DOMParser works. The error lay in (valid, I think) attributes within the <Document> tag itself:

`<Document id="All Scenario" xsi:schemaLocation="http://www.opengis.net/kml/2.2 http://schemas.opengis.net/kml/2.2.0/ogckml22.xsd http://www.google.com/kml/ext/2.2 http://code.google.com/apis/kml/schema/kml22gx.xsd">
`

Afte

[2016-09-26 19:00] pjcozzi commented on #4365
I'm not sure if I was clear, but `ModelInstanceCollection` end users are really just other parts of the Cesium API (since it is not part of the public API) so I would not add features to it that are not used by other parts of Cesium.  If `ModelInstanceCollection` becomes part of the public API, we may add things like this.

[2016-09-27 09:49] lucasvw commented on #4368
Here is the tileset which is used in the sandcastle demo: http://hosting.virtualcitysystems.de/demos/temp/b3dm

Here is a video which shows the behavior:  https://youtu.be/9twwwMHbjKU
And here is another that shows that it has something to do with the size of the screen: https://youtu.be/IbDNwqKVOik

And zooming : https://youtu.be/nJpHGOdTssY

[2016-09-27 11:04] lucasvw commented on #4368
3D tileset zipped: http://hosting.virtualcitysystems.de/demos/temp/b3dm/3dTiles.zip

[2016-09-27 14:30] hpinkos commented on #4368
Thanks @lucasvw!

[2016-09-27 14:39] hpinkos opened #4372 "Raise WMTS imagery provider tile count threshold"
Related to this forum post: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/wMdmusP1Fu4

The user has encountered [this developer error](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/WebMapTileServiceImageryProvider.js#L143) which is thrown when the tile count is more than 4 at the minimum level.  Our other imagery providers don't seem to have this restriction.

[2016-09-27 14:51] hpinkos commented on #4195
Also requested here: https://groups.google.com/d/msg/cesium-dev/usloCw9TvAM/UjLQtE5EBQAJ

[2016-09-27 15:02] lilleyse commented on #4368
I'll take a look at this soon.

[2016-09-27 19:12] pierotofy opened #4373 "Should a multiple feature selection widget be included in Cesium?"
Problem: When multiple data sources or layers are added to a map, clicking on the map will only display information about the topmost entity.

From this example:
[code]

Clicking on a U.S. state will display the InfoBox only for the second data source. In general, there's no way to select multiple entities that might be overlapping.

For example, when multiple features are selected from imageryLay

[2016-09-28 06:14] chris-cooper opened #4375 "Patchy GroundPrimitive support"
GroundPrimitives have varying levels of support on different devices.  We find on some devices it renders fine, on others with artefacts, on others not at all.  From [the docs](https://cesiumjs.org/Cesium/Build/Documentation/GroundPrimitive.html)...

[code]

It would be great to have a fallback for lesser devices, particularly given the usefulness for KML etc.

[2016-09-28 15:26] hpinkos opened #4377 "ImageryLayer crash when using imagery provider rectangle option"
Reported on the forum: https://groups.google.com/d/msg/cesium-dev/wMdmusP1Fu4/Jl_Uk7uABQAJ

It looks like `ImageryLayers` is trying to get an imagery tile that's outside the bounds of the imagery provider rectangle

[code]

[2016-09-28 18:35] bagnell opened #4378 "Models crash in 2D"
Open the 3D models Sandcastle example and switch to 2D.

[2016-09-29 00:23] mramato opened #4380 "Ground clamping broken in 2D and CV"
As discussed in #4240

1. Load the KML demo.
2. Switch to 2D
3. Billboards are broken (Similar problems in Columbus View)

![image](https://cloud.githubusercontent.com/assets/1495196/18913610/a6c8a072-8556-11e6-8e01-95814afd215a.png)

May be the same root cause as #4300 and #4062.

We should really fix this before the next release.

[2016-09-29 13:01] pjcozzi commented on #4378
Also crashes in 1.25.  @bagnell are you looking at this?

[2016-09-29 13:05] pjcozzi commented on #3198
@bagnell please close this if #4379 fixed it.

[2016-09-29 13:07] pjcozzi commented on #4380
+1

[2016-09-29 13:34] lilleyse commented on #4378
I'm looking into it, it seems to be related to OIT + shadows.

[2016-09-29 13:35] chriseyhorn commented on #4363
I would also add that pinch zooming takes a lot of pinching to zoom out/in.

[2016-09-29 14:14] hpinkos commented on #4326
Here's another example from https://groups.google.com/forum/?hl=en#!topic/cesium-dev/7h3W_ICb4wM

[test3.kml.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/500864/test3.kml.txt)

[2016-09-29 14:24] mramato opened #4381 "3D Tiles: Possible frustum artifact?"
I know we've seen this before, but I couldn't find an issue anywhere.  I have a 3D Tileset on terrain (so depth testing against terrain is on) and I get the following bug:

![frustum](https://cloud.githubusercontent.com/assets/1495196/18957886/bba48cc6-862e-11e6-95e4-c0544f2bc6e3.gif)

Feel free to close if this is a dupe.

[2016-09-29 14:36] lilleyse commented on #4381
I added this to the roadmap.

[2016-09-29 17:13] #3198 closed

[2016-09-29 17:55] bagnell opened #4383 "Morphing from 2D while tracking a model entity is broken"
Found by @mramato in #4309:
1. Run the 3D Models Sandcastle example.
2. Switch to 2D
3. Double click the model to track it.
4. Switch to 3D. (The morph is all screwy)

This can only be seen after the crash is fixed in #4382.

[2016-09-29 18:26] bagnell opened #4385 "Remove deprecated visualizer scene constructor parameter"
Remove `BillboardVisualizer`, `LabelVisualizer` and `PointVisualizer` `scene` constructor argument.

[2016-09-29 20:52] pjcozzi commented on #4385
Labeled `remove in 1.2.7`; I don't think this will impact many users.

[2016-09-29 21:06] lilleyse opened #4387 "Oriented Bounding Box frustum check is too loose"
The current OBB vs plane algorithm is an approximation that works best with more evenly-sized dimensions. As a result we sometimes see results like below, which cause tiles to be selected that aren't actually visible.

![image](https://cloud.githubusercontent.com/assets/915398/18972341/c24cbd04-8666-11e6-9523-defc858b1342.png)

[2016-09-29 22:13] #4378 closed

[2016-09-30 18:18] bagnell commented on #2860
Test failures in 1.26

`Scene/LabelCollection can render after adding a label`
`Scene/GroundPrimitive renders with distance display condition per instance attribute`

These tests pass when run individually:
`Scene/GeometryRendering PolygonGeometry pick`
`Scene/GeometryRendering Extruded PolygonGeometry pick`

[2016-09-30 18:46] thinkpadder1 opened #4393 "How to make a polyline gradient entity? Currently doing it with primitives."
I would like to make a gradient, but in an entity form (PolylineGraphics?). I currently destroy and recreate the primitive each time the positions update (code below).

Will I basically have to copy PolylineGraphics? Or would it be better to extend it instead?

I have async off because this line connects two objects that are moving, so it is constantly updating. Having async on makes the line disa

[2016-09-30 19:33] bagnell commented on #3888
For the 1.26 release I'm seeing 11 failures:

`Scene/WebMapServiceImageryProvider pickFeatures works with GeoJSON responses`
`Scene/LabelCollection can render after adding a label`
`Scene/Scene debugShowGlobeDepth`
`Scene/Scene opaque/translucent render order (1)`
`Scene/Scene opaque/translucent render order (2)`
`Scene/Scene renders fast path with no translucent primitives`
`Scene/Scene renders w

[2016-09-30 20:54] bagnell opened #4396 "Tracking in the GeoJSON simplestyle Sandcastle example is broken"
Load the GeoJSON simplestyle Sandcastle example and double click one of the pins.

[2016-09-30 20:58] bagnell opened #4397 "Wrong camera position in the Ground Clamping example."
Open the Ground Clamping Sandcastle example. Switch to 2D or Columbus view and select either the point or billboard from the drop down. The camera reference frame is wrong.

[2016-10-02 18:08] rammy4real commented on #4358
hello jnachtigall . good day. hope you are doing great sir. i would love to contribute to this. just to let you that i am a starterwith the following knowledge level
     html: intermediate
     css:intermediate
     javascript: basic/beginner
     java: basic/beginner
 really do love to be part of your team. I promise to give my best and my all .
thank you sir.
rammy4real@gmail.com

[2016-10-02 18:10] rammy4real commented on #4344
hello lilleyse . good day. hope you are doing great sir. i would love to contribute to this. just to let you that i am a starterwith the following knowledge level
html: intermediate
css:intermediate
javascript: basic/beginner
java: basic/beginner
really do love to be part of your team. I promise to give my best and my all .
thank you sir.
rammy4real@gmail.com

[2016-10-03 14:11] #4365 closed

[2016-10-03 16:23] eborovenskiy commented on #3857
This issue also heavy affects us!

[2016-10-04 13:14] meenalpatil-2007 commented on #1456
![temp](https://cloud.githubusercontent.com/assets/4018123/19075309/fe382264-8a61-11e6-9737-65b27bac7338.png)

I am facing this issue when a click event listener is bound with the yellow polygon. And when tried with solution by @mramato, yellow polygon is completely immersed into blue polygon and no click event is triggered.

Can this issue be solved by adding a attribute like z-index?
Looking for

[2016-10-04 14:16] mramato opened #4400 "3D Tiles: loadProgress event incorrect"
We have sample code that looks like the following.

[code]

The problem is, Cesium3DTileset doesn't take pending requests into account, i.e. it schedules something with the RequestScheduler, but the request hasn't happened yet.  This means the above code ends up printing "Stopped loading" while tiles are actually still being loaded.

[2016-10-04 22:06] lilleyse commented on #4368
Just to update this issue, it looks like this is related to inconsistencies with depth picking with multifrustum rendering, so it's a bug in the core engine. I still need to investigate more.

[2016-10-05 06:46] wulfgarpro opened #4404 "Add support for NetworkLinkControl updates"
I'm porting an application from GE to Cesium; it relies on [NetworkLinkControl](https://developers.google.com/kml/documentation/kmlreference#networklinkcontrol) updates heavily, and I think this would be a useful feature for most people.  Is there any roadmap for such a feature?

[2016-10-05 18:56] donnaaboise commented on #4041
Has anyone had the chance to look at this problem?  Thanks again for any help!  We are eager to use Cesium, but do need the ability to load time span data.

[2016-10-05 19:39] hpinkos commented on #4041
Thanks for checking in @donnaaboise!  I've marked this for us to look at during our upcoming Bug Bash, which is October 19-21.  We plan on looking into it then

[2016-10-05 19:45] hpinkos commented on #4404
Hello @wulfgarpro,  we do have a note to add this in our KML roadmap issue.  I'm not sure when we'll be able to get to it though.
I'm going to close this issue and make a comment on #873 so we can keep track of how many people have asked for this.  Thanks!

[2016-10-05 19:45] #4404 closed

[2016-10-05 19:45] hpinkos commented on #873
NetworkLinkControl support requested in #4404

[2016-10-05 19:51] hpinkos commented on #4393
Hello @thinkpadder1
For adding support for per position color to polyline entities, I think you'll need to make changes to `PolylineGraphics` and `PoylineGeometryUpdater`.  @mramato is there anything I'm missing?

If you get a chance to implement this, we would appreciate the contribution back!  I think a lot of people would like to see this feature.  Thanks!

[2016-10-05 20:03] bagnell commented on #4393
This feature would need more significant changes. Polyline entities can use either `PolylineGeomrty` or a `PolylineCollection` to render the line depending on whether it is static or dynamic and `PolylineCollection` does not yet support per-vertex colors.

[2016-10-05 20:04] hpinkos commented on #2694
Reported in this post: https://groups.google.com/d/msg/cesium-dev/mm2Xipqbp-g/AoSvaHcUAQAJ

[2016-10-05 20:05] hpinkos commented on #4393
Oh, I didn't realize that.  Thanks @bagnell!

[2016-10-06 12:35] lucasvw opened #4407 "Invalid array length error"
Hi all,

Just found a quite nasty bug. reproducable with the following sandcastle code:

[code]

If this code is run on a mobile device and the very first move is a zoom pinch, then Cesium crashes because of an invalid array length. I debugged a little and saw it has something to do with invalid (NaN) values in directionWC and positionWC of the camera.

Interestingly enough this only happens when

[2016-10-06 12:42] hpinkos commented on #4407
Thanks @lucasvw, I think you're running into #4177
We're going to try to look into it during our bug bash in two weeks.
I'm going to close this issue since it's a duplicate

[2016-10-06 12:42] #4407 closed

[2016-10-06 12:53] lucasvw commented on #4177
+1

[2016-10-06 13:07] hpinkos opened #4408 "Label/Billboard show/hide bug"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/u75ie_3xwy0

1. Load the example and zoom in to see the labels
2. Hit hide - This works correctly
3. Hit show - Only the labels come back, the billboards don't
4. Now neither the show or hide button have any effect

[code]

[2016-10-06 13:27] mramato commented on #4177
@emackey the issue for your use case is that `_zoomWorldPosition` in ScreenSpaceEventHandler ends up being 0 and then gets normalized which results in the NaN.  You can see this yourself by adding the below check to `Cartesian3.normalize` just before the return.

[code]

I think this points to your issue and the original issue being the same thing, but I'm not sure what the fix is.  Perhaps @bagne

[2016-10-06 13:28] hpinkos commented on #4408
Creating the entities from the Entity API causes the same problem:

[code]

[2016-10-06 13:49] dwhipps commented on #4041
All, while I'd love to help out, I think my issue with this has been resolved (I had multiple nodes with the same ID.) Cesium was doing the right thing, per the KML spec. Sorry!

[2016-10-06 14:19] dwhipps commented on #1592
I'm going to work on this right now. Should have a PR by tomorrow.

[2016-10-06 14:23] hpinkos commented on #1592
Thanks @dwhipps!  This has been a frequently requested feature, I think a lot of people will be happy to see this added

[2016-10-06 15:22] donnaaboise commented on #4041
Thanks @dwhipps.  Can you tell me how to fix the IDs?  I am not sure where to put them.

[2016-10-06 15:25] dwhipps commented on #4041
Donna,

The bug, in my case, wasn't that is was missing IDs, but that there were duplicate IDs. I simply renamed the IDs in the KML files themselves, and the problems resolved. Not however that my problem wasn't necessarily the same as yours. Certain KML nodes were not being created in my case, because of the duplicate IDs.

Good luck,

Dave

[2016-10-06 15:37] hpinkos opened #4409 "Unable to re-add datasource"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Yo_dyrt43B8

1. Click `add` to add the datasource
2. Click `remove` to remove it
3. Click `add` to add it again.  The app crashes with `cannot set property 'id' of undefined`

`DatasourceCollection.remove` has `destroy=false` by default, so I couldn't find any reason why you shouldn't be able to do this

[code]

[2016-10-07 13:40] konashredbiker commented on #4237
Could this be labeled as "bug bash" so someone can take a look at this issue?

[2016-10-07 14:48] hpinkos commented on #1640
requested here: https://groups.google.com/d/msg/cesium-dev/PCwrvL8Efvw/rUgmh5mpAQAJ

[2016-10-07 14:52] hpinkos commented on #4237
Hi @konashredbiker,  we've labeled this issue for the bug bash.  It might be a little larger scope than we can get to during the event, but this will at least put it on our radar to look into it soon if we can't get to it then.  Thanks!

[2016-10-07 14:58] hpinkos opened #4413 "Support for dynamic billboards"
Currently, when you change the `billboard.image` property, it adds a new image to the texture atlas.  However, this can cause problems if you have a billboard that changes frequently because the texture atlas runs out of space and causes errors.  It would be nice to have the ability to overwrite part of the texture atlas for a billboard that you know is going to be changing frequently.

I couldn't

[2016-10-07 15:00] hpinkos commented on #4413
Related: #2319

[2016-10-07 15:10] hpinkos opened #4414 "KML clustering crash"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/p1Mv6vpvvnY

If you use this kml file in the Sandcastle clustering example, it crashes.  The KML has two placemarks in it

[placenames_capital.kml.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/516479/placenames_capital.kml.txt)

[2016-10-07 17:53] hpinkos opened #4415 "KML sandcastle demo really slow in IE"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/ko8w1DEhjgU

This is especially slow in loading the second GDP example.  The user says when toggling between the first and second example he expeienced an out of memory error after a few times.

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=KML.html&label=DataSources

[2016-10-07 18:00] mramato commented on #4415
IE11 has known memory leaks that Microsoft has officially closed as "won't fix" since IE is in the barest of support mode.

Same issues with performance, while the KML demo overall could use performance improvements, IE will always be significantly slower than other browsers.  Our official recommendation is don't use IE11 unless you absolutely have to.

That all being said, we can do a pass here t

[2016-10-07 18:01] mramato commented on #4413
This is exactly the same as the issue you linked to.  I recommend closing this and just adding the form links to #2319.

[2016-10-07 18:10] hpinkos commented on #2319
Support for dynamic billboards has been requested on the forum a number of times:

https://groups.google.com/d/msg/cesium-dev/jFsmh7LOiTs/MCJfLJlEZZgJ
https://groups.google.com/d/msg/cesium-dev/cF9Vt28Wk-4/nJ68p3YONKcJ
https://groups.google.com/d/msg/cesium-dev/tuQyixSKJuA/3-jsFmIABwAJ
https://groups.google.com/d/msg/cesium-dev/Sd4x1YmneCs/nfMsP3eaAwAJ
https://groups.google.com/d/msg/cesium-dev/Jz

[2016-10-07 18:10] #4413 closed

[2016-10-08 11:21] kring commented on #4373
If Cesium wants this, consider stealing some code from [TerriaJS](https://github.com/TerriaJS/terriajs), which has a sophisticated feature info panel with this and many other features.  The start of the relevant code is here:
https://github.com/TerriaJS/terriajs/blob/master/lib/ReactViews/FeatureInfo/FeatureInfoPanel.jsx

There's also an older Knockout-based version with many (but not all) of the

[2016-10-09 01:22] OnkelTem opened #4417 "Does it work with browserify/CommonJS?"
I know it should work but for some reason it doesn't for my setup.  Steps to reproduce:

1) install yeoman and yeogurt generator:
[code]
2) start new project:
[code]
3) install cesium:
[code]
4) add `var Cesium = require('cesium');` to the `src/_scripts/main.js`
5) run `gulp build`:
[code]

Ideas?

[2016-10-09 13:55] OnkelTem commented on #4417
After some research the task can be rephrased to: "No support for CommonJS?".

[2016-10-09 21:34] Swapnull commented on #4358
I think the link just needs changing to https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/DefaultProxy.js , but that site is not in this repo.

[2016-10-09 23:33] pvskarthikeya commented on #4349
Hey! Is this still open. Can I work on it?

[2016-10-10 13:55] mramato commented on #4349
Of course!  In order for us to review and accept a pull request, you'll need to email us a CLA as described here: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md

That document also contains links to other relevant information you'll need (such as the Coding Guide) in order to make your PR a successful one.

Thanks in advance.

[2016-10-10 13:58] mramato commented on #4358
Thanks guys, we'll definitely clean this up as part of our bug bash next week.

[2016-10-10 14:28] hpinkos commented on #4417
See this issue for some info: #2981

In the future, if you have questions like this please ask them on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev

[2016-10-10 14:28] #4417 closed

[2016-10-10 14:46] pjcozzi commented on #4344
@lilleyse OK to close this given #4386?

@rammy4real thanks for your interest in contributing to Cesium.  A great place to start is the [Contributor's Guide](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md).

[2016-10-10 14:48] pjcozzi commented on #3892
Fixed in #4376 thanks to @sumitshyamsukha!

Thanks for the report, @konashredbiker!

[2016-10-10 14:48] #3892 closed

[2016-10-10 15:16] lilleyse commented on #4344
Yup, closed.

[2016-10-10 15:16] #4344 closed

[2016-10-10 15:36] OnkelTem commented on #4417
@hpinkos so you've referenced a closed issue, huh? Nice work. How it is supposed to resolved it now?

[2016-10-10 23:39] chris-cooper opened #4418 "kdbush causes webpack warning"
As [previously reported with earcut](https://github.com/AnalyticalGraphicsInc/cesium/pull/4097), kdbush is producing the following warning with webpack.

[code]
I haven't noticed any runtime issues yet, but it would be good to have a better strategy for these third party dependencies such as pulling in the un-built source via an npm dependency.

[2016-10-11 15:10] hpinkos commented on #2737
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/N7MXm_0OwsE

[2016-10-11 21:28] bagnell opened #4420 "Filter clustering by primitive type"
For example, turn off labels but keep points when clustering gets too tight.

[2016-10-11 21:32] OnkelTem commented on #4417
@hpinkos hello?

[2016-10-11 21:44] hpinkos commented on #4417
Hi @OnkelTem,

Sorry, I'm not very familiar with Browserify/CommonJS, but I believe the discussion in #2981 will help you solve the problems you are having.

If you don't find that helpful, I would suggested posting a question in the [forum](https://groups.google.com/forum/?hl=en#!forum/cesium-dev).  Many more users follow the forum, so there is a much better chance someone with experience using b

[2016-10-11 23:51] mramato commented on #4417
@OnkelTem to use Cesium's AMD modules with browserify, you can use the [deamdify](https://www.npmjs.com/package/deamdify) plugin.  While I haven't used it personally, I know there are some people on the forum using deamdify, so if you run into problems, posting there as @hpinkos suggested

The issue @hpinkos linked to was originally about browserify and webpack support and was closed once the webp

[2016-10-12 04:02] wulfgarpro opened #4421 "Race condition in rendering engine when using KML NetworkLink"
_Ubuntu 16.04.1 LTS (Xenial Xerus)
Google Chrome Version 53.0.2785.143 (64-bit)
Cesium v1.26_

I've been contending with a issue rendering KML in Cesium using NetworkLink refresh intervals of 0.5 seconds.

Here is the stack trace:
_An error occurred while rendering.  Rendering has stopped.
undefined
DeveloperError: point is required.
Error
    at new DeveloperError (http://localhost:8080/cesium/Bu

[2016-10-12 09:31] OnkelTem commented on #4417
@mramato

Thank you very much I'll try.

So that's the reason - the issue referenced has been closed not resolving  the _browserify part_ and so I've created this issue. (Also, there is no any mentions of deamdify in that discussion).

As for the webpack guide - yeah, I've reviewed it and while I'm not very familiar with webpack, the guide looks pretty complicated. Seems like some Cesium distribut

[2016-10-12 10:55] lucasvw commented on #2737
See also:
https://github.com/AnalyticalGraphicsInc/cesium/issues/3172 and https://github.com/AnalyticalGraphicsInc/cesium/issues/3173.

[2016-10-12 11:16] OnkelTem commented on #4417
@hpinkos
Using Google Groups is indeed a sort of sophisticated torture, a way to exhibit "love" to users.
But ok, if you are so special, I'll post there.

[2016-10-12 14:00] hpinkos opened #4422 "Scene ready event"
This is something frequently requested on the forum.  Users would like an event that is fired when the scene is fully loaded.

https://groups.google.com/forum/?hl=en#!topic/cesium-dev/FTHsjxL8rS4

[2016-10-12 14:26] hpinkos commented on #4408
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/L5-UMH051RY

I labeled this for next release since it's effecting a number of users

[2016-10-12 15:11] lilleyse commented on #4422
We have a bit of a start for this but its just for 3D Tiles at the moment: https://github.com/AnalyticalGraphicsInc/cesium/pull/4405.

[2016-10-12 21:12] hpinkos commented on #3672
I think this is a duplicate of #3037.  If not, feel free to comment with more information so we can look into this.  Thanks!

[2016-10-12 21:12] #3672 closed

[2016-10-13 17:07] hpinkos commented on #2541
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/4b1COszHwCE

![image](https://cloud.githubusercontent.com/assets/3451886/19358945/0106e76a-9146-11e6-99de-5275f492e8d4.png)

[2016-10-13 19:43] nikakhov opened #4425 "Bug when zooming timeline too fast"
Steps to reproduce:

1.  Load https://cesiumjs.org/Cesium/Apps/HelloWorld.html
2.  Put cursor over timeline and give it one fast scroll (two fingers on touchpad)
3.  Try zooming a few more times and it should not zoom anymore

I think the bug is in the code below.  It goes away if you make `timelineWheelDelta ` constnat, but this decouples zooming speed from scrolling speed.

[code]

[2016-10-13 20:43] kring commented on #2541
I don't have a device I can test this on anymore, but it's very likely that #4339 will fix it.

[2016-10-13 21:16] hpinkos opened #4427 "Billboard outline"
Requested on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/EhTMZVX8SEI

Add the ability to draw an outline around images used for billboards

[2016-10-13 21:38] hpinkos commented on #4425
Thanks @nikakhov, I was able to reproduce this

If you don't have a touchpad, keep scrolling out until the timeline goes from like year 100 - 1000.  Eventually the scroll will stop working.  Additionally, if you scrub to the beginning of the timeline, you get an invalid ISO8601 date  ( would be these two things are related)

[2016-10-13 21:46] nikakhov commented on #4425
I think the problem is that after you scroll too fast, timelineWheelDelta will be equal to 1 indefinitely.

[2016-10-13 21:47] hpinkos commented on #4425
Hmm okay, that might be a different issue than I saw.  Thanks for clarifying!  We'll look into solving both problems.

[2016-10-13 21:49] hpinkos commented on #4425
Actually @nikakhov, if you think you have a good fix for the issue you saw, would you be interested in submitting a pull request?  Check out our contributing guide for information about steps to take to submit a PR: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md

[2016-10-13 21:51] kring commented on #2541
Actually sorry #4339 won't fix it completely, because it still does reprojection for images in terrain tiles that cross 85 degrees latitude.  But it should make the rest of the globe work at least.

[2016-10-13 21:53] nikakhov commented on #4425
If I eventually come up with a solution, then I would be happy to contribute.  At this point, I only have ideas on what the cause might be.

[2016-10-13 21:54] hpinkos commented on #4425
Okay thanks!  If you have any questions let me know, I'd be happy to help

[2016-10-13 22:26] bmckilligan opened #4428 "Unexpected error message in cesium 1.26 anfter adding cylinder entity"
This is occurring  after adding an entity with a cylinder geometry.

this was introduced in cesium 1.26

I have tested it with version 1.23, 1.24, 1.25 without issue.

I am trying to recreate the error in a Sandcastle example, but have been unsuccessful so far

Cesium.js:175233 An error occurred while rendering.  Rendering has stopped.
undefined
TypeError: Cannot read property 'longitude' of undef

[2016-10-14 08:49] vrittis opened #4429 "viewer.flyTo doesn't fly to multigeometry entities from Kml file"
Loading a multigeometry entity from a kml, if I pass it to viewer.flyTo the camera doesn't change. However if I pass the children of the entity to viewer.flyTo it works correctly.
Please find the kml file and a sandcastle example attached (gist # d8f16d92c44ae214f9c2382f0de156e8 for quick loading)

[flyToMultigeometry.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/529032/flyToMultigeom

[2016-10-14 09:33] lucasvw commented on #4368
Is this going to be part of the bug-bash next week? +1 for yes ;)

[2016-10-14 14:26] vrittis opened #4431 "Kml file loading regression: works in 1.25, not 1.26 "Cannot read property 'center' of undefined""
The attached kml file loads correctly in 1.25, but fails with the following error message in 1.26:

I wasn't able to determine if it was a problem with the quantity of geometries in the file or the mix between polygon and multigeometries. I stripped down the kml file for the issue, the polygons are much more complex usually. However the error happens even with four points polygons. There are 3423

[2016-10-14 15:07] #4237 closed

[2016-10-14 20:23] thinkpadder1 opened #4433 "Drastic performance decrease when animating colors of polygons via SampledProperty + Polygon losing transparency"
Please [see this gist/sandcastle for a code example.](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=8faa5262fc15a96cdcbc641e4ee5548d)

**Instructions**:

- Play it back manually with your mouse (the full length of the timeline bar) back and forth a few times (5x each way).
- Notice how the polygon has lost its transparency.
- Zoom in so that the polygon fu

[2016-10-14 22:27] mramato commented on #4368
@lucasvw  I marked us to at least look at it as part of the bash, but depending on how involved the fix is, I can't promise it will be resolved.  We'll try our best!

[2016-10-14 22:36] mramato commented on #4428
If it crashes in your app but not in Sandcastle then the cylinder may not be the real problem.  Have you tried running your app in incognito mode?  Does it happen in all browsers?  Unfortunately there's not much we can do without a reproducible test case.

[2016-10-14 22:42] bmckilligan commented on #4428
totally understandable, for the moment I rolled back to 1.25 until I can isolate the problem,

cesium stops rendering and displays the message until I run code to remove the entity , after this it snaps back to life

[2016-10-14 23:42] thinkpadder1 opened #4434 "Let's slowly move to Typescript. (instructions inside)"
I set up Typescript pretty easily with Cesium (with minimal friction as well).

1. Install Typescript:
[code]
2. Create a file in the root directory **tsconfig.json**:
[code]

3. Rename all js files in the pattern below (except the ones with "!") to .ts (taken from gulpfile.js):
[code]
    I just went in the directories (not the "!" ones) and ran the command:
[code]

4. Use the Typescript watcher

[2016-10-15 01:40] lilleyse commented on #4408
And here: https://groups.google.com/forum/#!topic/cesium-dev/FAXHuSIBJv4

[2016-10-15 07:42] bhoske commented on #4279
Dear all, I am also face same issue with IOS 10. When I am trying to load WebGL link on Safari of iOS 10 iPad Air 2, it is crashing. I think canvas is getting resized when trying to load texture image.
Any one have any work around to do these.

[2016-10-15 15:37] pjcozzi commented on #4434
@thinkpadder1 thanks for the notes on Typescript.  In the future, we would prefer that you start a discussion on the forum for something like this.  Given its incredible impact, it will require significant discussion.  For now, we'll have to table the discussion as we are heads down on 3D Tiles, but I have labeled this `2.0` so it can be considered when we make bigger module changes.

In the meant

[2016-10-15 15:40] pjcozzi commented on #4431
@bagnell can you look at this at the bug bash?

[2016-10-15 15:46] pjcozzi commented on #4427
CC #4314.  Could also be done with post-processing, #3001, or when generating the billboard.

[2016-10-15 16:16] pjcozzi commented on #4414
@bagnell can you please look at this for 1.27 perhaps even at the bug bash?

[2016-10-15 16:20] pjcozzi commented on #1456
@meenalpatil-2007 have you tried posting your question on the [Cesium forum](http://cesiumjs.org/forum.html)?  It will get more attention there, especially since this issue is closed.  Also, include an animation if possible to help diagnose.  A workaround may be to make the yellow mesh slightly smaller.

[2016-10-16 12:49] meenalpatil-2007 commented on #1456
@pjcozzi, I have already posted a question in [cesium forum](https://groups.google.com/forum/embed/?place=forum/cesium-dev&showsearch=true&showpopout=true&hideforumtitle=true&fragments=true&parenturl=http%3A%2F%2Fcesiumjs.org%2Fforum.html#!searchin/cesium-dev/overlapping/cesium-dev/y1kPEhPUJ78/Ud-0yX1-BQAJ)
But no satisfying answer I got there. Could you please post answer there as you say this is

[2016-10-17 01:01] esonica opened #4438 ""crs is null" runtime error when handling a valid empty GeoServer response"
When querying a geoserver that returns an empty collection, the following valid JSON is returned:

{"type":"FeatureCollection","totalFeatures":0,"features":[],"crs":null}

As per the GeoJSON Spec, the CRS value can be a JSON null as valid response :
http://geojson.org/geojson-spec.html#coordinate-reference-system-objects

Currently the Cesium.GeoJsonDataSource.load() function does not handle a nul

[2016-10-17 14:52] hpinkos commented on #4429
Thanks @vrittis
It looks like there is a failure to compute the bounding sphere to zoom to this entity

[2016-10-17 15:45] tomeof opened #4439 "Create glTF at runtime"
Hello,

Could you please provide an example of loading glTF files in the viewer at runtime? I have a glTF file in memory as string. Should i convert it to JSON object?

Greetings

[2016-10-17 15:50] hpinkos commented on #4439
Hello,  Please see this forum post:  https://groups.google.com/forum/?hl=en#!topic/cesium-dev/qnuG2pAjVCQ

In the future, please use the forum for asking questions like this.  We use GitHub for bug and new feature tracking.  Thanks!

[2016-10-17 15:50] #4439 closed

[2016-10-17 15:56] hpinkos opened #4440 "MacOS when scrollwheel zooming while hovering on billboard"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/QJz-ipNQpYU

The use reports seeing an `Invalid array length` error when using the mouse scroll wheel to zoom while the mouse is hovering over a billboard.

[2016-10-17 15:57] hpinkos commented on #4440
Can someone with a mac see if they can reproduce this?  I couldn't on my windows machine

[2016-10-17 16:07] tomeof commented on #4439
Sure, thanks.

[2016-10-18 07:33] smills2929 commented on #4440
Can confirm that I get the same error on Firefox 48.0.2.

RangeError: invalid array length updateFrustums@http://cesiumjs.org/Cesium/Source/Scene/Scene.js:1183:9 createPotentiallyVisibleSet@http://cesiumjs.org/Cesium/Source/Scene/Scene.js:1408:13 executeCommandsInViewport@http://cesiumjs.org/Cesium/Source/Scene/Scene.js:2101:9 updateAndExecuteCommands@http://cesiumjs.org/Cesium/Source/Scene/Scene.

[2016-10-18 07:52] smills2929 commented on #4440
A bit more information. I just had another go of re-creating the crash with a different Windows machine and had no luck.

I tried a few other OS X machines (Sierra and El Capitan) and they all appeared to have the issue.

To reliably recreate the issue:

1. Load http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases
2. Place the mouse in the Cesium window arou

[2016-10-18 14:53] hpinkos commented on #4440
Great, thanks for all of the information @smills2929!  That will be really helpful when we go to look into this

[2016-10-18 15:41] adventurist commented on #3061
Greetings! Did anyone ever follow up on this? I don't have the exact same use case, but I am triggering this error in an app where hovering over items in a legend triggers the setting of a material property on a large number of entities.

[2016-10-18 15:43] hpinkos opened #4441 "Artifact in rectangle"
Reported on the forum https://groups.google.com/forum/?hl=en#!topic/cesium-dev/V6TF-vnPoBk

When you tilt the globe a certain amount, there's a visible seam in the rectangle

![rect-seam](https://cloud.githubusercontent.com/assets/3451886/19485097/fe4a9ee6-9527-11e6-8d5f-4cb9fbfdcbd7.gif)

[code]

[2016-10-18 15:52] mramato commented on #3061
@nmschulte I can not reproduce this bug with the sampled code provided in the latest version of Cesium, I'm going to close this because we have definitely fixed a similar issue since 1.14 we released.  If you are still having problems, please reopen this with some additional details on reproducing.

@adventurist I'm not sure your problem is the same as @nmschulte.  If you have a reproducible test

[2016-10-18 16:06] hpinkos opened #4442 "Cesium failing to render on latest version of chrome"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/OASbgZGgw8E
@shunter and @dwhipps both reported cesium crashes with the latest chrome update, Version 54.0.2840.59
This seems like it might be a chrome bug, but I figured we should have an issue to track it as well

Info from @dwhipps:

1) I incorrectly reported that I was on macOS Sierra 10.11. I AM on Sierra, but it

[2016-10-18 16:28] nmschulte commented on #3061
@mramato I'm unable to reproduce the issue with my given test case (I no longer have access to the private use-case).

However, I did notice some funky behavior when using the "focus"/"inspect" tool; I managed to get things into a state such that, if the code above hid the object, Cesium would render some other fixed representation (like, it had cached one of the states and would always show that)

[2016-10-18 18:15] bagnell commented on #2737
Updated code example that can be pasted in the Sandcastle:
[code]

[2016-10-18 18:27] bagnell commented on #3851
I couldn't reproduce this in 1.26.

[2016-10-18 18:34] hpinkos commented on #3851
Yep, this appears to be fixed.

This is what it looked like in 1.20
![image](https://cloud.githubusercontent.com/assets/3451886/19491127/c837d0d6-953f-11e6-891f-3d139338c1b0.png)
And this is what it looks like now:

![image](https://cloud.githubusercontent.com/assets/3451886/19491140/d9012afc-953f-11e6-999e-bcffeff55515.png)

[2016-10-18 18:34] #3851 closed

[2016-10-18 18:36] pjcozzi opened #4443 "Issue template to point users to the forum"
Although we did not move forward with #3637, I encourage us to create a one- or two-sentence [issue template](https://help.github.com/articles/creating-an-issue-template-for-your-repository/) to let users know to use the forum for questions and GitHub issues for bugs/features as we have had to point several users to the forum recently.

See [Submitting an Issue](https://github.com/AnalyticalGraphi

[2016-10-18 18:41] bagnell commented on #2737
This was fixed in #4430.

[2016-10-18 18:42] hpinkos commented on #2737
Great work @jorpiell, thanks for looking into this!  This was a frequently reported issue, lots of people will be happy to know it's been fixed.

[2016-10-18 20:34] bmckilligan commented on #4428
I have isolated the bug,

it occurs when the viewer is initiated with scene3DOnly: true

http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=de5672557b9ff6ee9f5bfa9a3564e49b

[2016-10-18 20:38] hpinkos commented on #4428
Thanks for looking into this @bmckilligan!  I've labeled this for the bug bash, hopefully it's an easy fix and we can get it resolved soon

[2016-10-18 21:09] mramato commented on #3061
If it's easily reproducible and clearly incorrect, then yes, a new issue would be great.  Thanks.

[2016-10-18 21:28] mramato commented on #4434
Thanks for the list of resources and getting started details @thinkpadder1.  I would love to move to something like TypeScript and I know @kring is a bing proponent as well.  It will be a non-trivial effort and I agree with @pjcozzi isn't not something that can happen until the 3D Tiles work is done (given the amount of new code that that branch will introduce and the amount of time to get the tea

[2016-10-18 21:35] mramato commented on #4438
We could probably special-case an empty feature collection and ignore a crs value of null in this case.  But empty data is the only possible use case where a crs of null "makes sense" (though why you would include it at all, I have no idea.).  Do you have any other suggestions on how null crs should be handled?

Just an FYI, the official GeoJSON spec is now https://tools.ietf.org/html/rfc7946 and

[2016-10-18 21:43] twpayne commented on #4062
...

Is this #2694?

[2016-10-18 21:49] mramato commented on #4433
Thanks @thinkpadder1 the loss of transparency is definitely a bug in the ground primitive geometry batching and I've marked this for the bug bash so we fix it.

The performance decrease is actually a result of how ground primitives work and is GPU fill-rate limited, i.e. the more pixels of a ground polygon are on the screen, the more graphics card resources get used per frame.  If you aren't using

[2016-10-18 21:51] mramato commented on #4062
No, they are two different issues.  This issue is a nasty race condition in terrain clamping which is causing each letter to be placed in the geographically incorrect position instead of on the terrain itself.  #2694 is a draw order issue and requires us treat labels as special so they always get drawn above terrain if their origin is visible (or something similar).

[2016-10-18 22:02] pjcozzi commented on #797
WebGL 2 Samples
* https://github.com/WebGLSamples/WebGL2Samples
* https://floooh.github.io/oryol-webgl2/

[2016-10-19 01:40] smills2929 commented on #4440
I can confirm that it does not require a billboard to be in the scene or to be the subject of the zoom. It also appears to be the exact same issue as this:
https://github.com/AnalyticalGraphicsInc/cesium/issues/4177

It has the same error, and occurs only if you zoom while the viewer is still finishing initialising without panning.

[2016-10-19 01:41] smills2929 commented on #4177
Seems to be the same as this: https://github.com/AnalyticalGraphicsInc/cesium/issues/4440

[2016-10-19 06:27] bensleveritt commented on #2132
Is this still being considered by Cesium? It would be an impressive feature to tout.

[2016-10-19 06:47] vrittis opened #4444 "Rendering crashes with a 0 width LineRing clamped to ground: "Invalid array length""
I'm working with entities that must clamp to the terrain, and I found out that if I'm trying to render a 0 width linering clamped to the ground, I get a "Invalid array length" error

Attached is the kml file I was using when replicating the problem

[Composantes.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/538129/Composantes.zip)

[2016-10-19 09:37] kring commented on #4434
I spent a bunch of time looking at using TypeScript for [TerriaJS](https://github.com/TerriaJS/terriajs).  The main problem with it was the ecosystem.  You can't use jsdoc or eslint, for example.  Similar tools for TypeScript are far less mature.  In many cases, tools that initially looked promising were expecting older versions of TypeScript and hadn't been updated in many months.  I even tried u

[2016-10-19 12:24] pjcozzi commented on #2132
Yes, but our current focus is on [3D Tiles](https://github.com/AnalyticalGraphicsInc/3d-tiles).

[2016-10-19 12:30] #4383 closed

[2016-10-19 12:33] dwhipps commented on #2737
I'm not sure this is fixed. In the above example, why is the texture "changing size" inside the rectangle?

[2016-10-19 12:37] hpinkos commented on #2737
@dwhipps did you pull down master?  This is what I see after the change was merged:

![rect-spin](https://cloud.githubusercontent.com/assets/3451886/19518857/44fb4ade-95d7-11e6-9cec-7130859864bb.gif)

The texture was changing size before this fix was made.

[2016-10-19 12:40] dwhipps commented on #2737
Sorry, I misunderstood. I thought the example could be pasted into the current (web) Sandbox. I didn’t realize that it wasn’t up to date with master.

Looks good now.

Thanks,

Dave

[2016-10-19 13:30] twpayne commented on #4056
I'm looking at this one now.

[2016-10-19 13:41] mramato commented on #4434
Thanks @kring those were exactly the types of problems I was worried about.  Even if things have improved, it shows that this is actually a major change for our code and definitely will require lots of thought and planning.

As an aside, since you went with 2015 and Babel, are you using modules?  How does testing and coverage get handled with transcompilation?

[2016-10-19 13:47] nmschulte opened #4445 "Strange behavior from entity focus/inspect tool/window"
From #3061:

I'm not entirely sure the intended behavior of this tool, but whatever is going on here definite seems wrong.  It always happens when I run this code.  The strange select behavior seems to be because of the added code (that changes the material and visibility); I tried wrapping it in a `setTimeout`, but it doesn't look like that worked for the video capture.

[focus.bug.hevc.mkv.zip](

[2016-10-19 14:00] hpinkos opened #4446 "Investigate other options for the forum"
From the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/OLO57b6JpqY

Have google groups fallen out of favor?  This is the first feedback like this I've seen, but if the community is dissatisfied with the google group forum maybe we should investigate migrating to something more user friendly.

[2016-10-19 14:03] bagnell opened #4447 "Reduce terrain memory usage"
#4339 increased the amount of memory needed for a terrain tile. Here are some ideas from @kring to reduce this:

* Include the vertical geographic and/or web mercator texture coordinate, but not both unless we actually have two different imagery layers with two different projections. Aside from the complexity of managing optional vertex attributes like this, we also need to worry about other thing

[2016-10-19 14:06] pjcozzi commented on #4446
It could be our default settings or the user's settings.  Google groups are very widely used; I also use them for several conferences, classes, tech groups, etc.  Given the archive, I would be hesitant to migrate until there are issues affecting seriously affecting many users.

Perhaps this is a discussion better suited for the forum, not to be too meta about it.

[2016-10-19 14:08] hpinkos commented on #2737
No problem =)  Yeah, Sandcastle on the website is always using the latest Cesium release

[2016-10-19 14:09] mramato commented on #4446
I don't think the problem is google groups itself.  The problem is that embedding google groups on the website like we do has quirks that google seems to have no interest in fixing.  If we just sent everyone directly to the groups page (https://groups.google.com/forum/#!forum/cesium-dev) and didn't try and embed it on cesiumjs.org, I think that would minimize a lot of the problems.

[2016-10-19 14:12] pjcozzi commented on #4446
Double check the analytics to see how many users go from the forum page to another page, but if it is small-ish, +1 from me for the change.

[2016-10-19 14:16] pjcozzi commented on #4440
@hpinkos close as duplicate with #4177?

[2016-10-19 14:24] hpinkos commented on #4177
Yes, it does seem like it's likely the same issue.  We were never able to reproduce it with a mouse before so it seemed to be touch specific.  Thanks for providing us with all the details @smills2929!

When we fix this, we'll just double check to make sure #4440 is fixed as well.

[2016-10-19 14:24] #4440 closed

[2016-10-19 14:41] twpayne commented on #4060
Looking at this now.

[2016-10-19 15:15] tfili commented on #4408
@bagnell It looks like this is caused by clustering. I can only reproduce this with the KML example. Another thing I noticed is that when it worked before clustering turning on the entities was pretty quick, now its really slow (even when clustering isn't enabled).

[2016-10-19 15:16] #4060 closed

[2016-10-19 15:16] #4065 closed

[2016-10-19 16:03] #4358 closed

[2016-10-19 16:10] emackey commented on #4358
This will be fixed with the next deploy.

[2016-10-19 16:25] twpayne opened #4454 "Sandcastle "All" gallery does not have tooltips"
In Sandcastle:
- Select the "Gallery / Showcases" tab at the bottom
- Hover over any thumbnail
- Observe that a tooltip is displayed
- Select the "Gallery / All" tab
- Hover over any thumbnail
- Observe that no tooltip is displayed

Tooltips should be shown in the "All" gallery.

[2016-10-19 16:28] dwhipps commented on #2737
@hpinkos Could you try the above example with these coordinates, and tell me if it looks right?

`coordinates: Cesium.Rectangle.fromDegrees(-66.69777, 50.03883, -56.69777, 52.03883),`

Not sure if I'm going crazy or what, but it still seems broken to me.

[2016-10-19 17:29] hpinkos commented on #2737
Thanks @dwhipps, you're right.  I think we'll have to take a closer look at how we're computing texture coordinates.

![rect-spin2](https://cloud.githubusercontent.com/assets/3451886/19529845/8cf0bf9a-95ff-11e6-8f55-4a0fb642d23e.gif)

[2016-10-19 18:09] mramato commented on #4438
I fixed this with #4456 and it will go out with the next release of Cesium on November 1st.

[2016-10-19 18:17] #3941 closed

[2016-10-19 18:34] tfili commented on #4431
@bagnell The document for #4041 is also showing this issue.

[2016-10-19 18:53] thinkpadder1 commented on #4434
@kring For linting, see [TSLint](https://palantir.github.io/tslint/).
If you really need ESLint, the ESLint team is working on it (experimental): [typescript-eslint-parser](https://github.com/eslint/typescript-eslint-parser).

 Typescript supports JSDoc style comments and works great in [Visual Studio Code](https://code.visualstudio.com/). Even if you don't use Typescript, it's a great editor with

[2016-10-19 19:12] twpayne commented on #1286
I'm looking at this now.

[2016-10-19 19:21] #4438 closed

[2016-10-19 19:35] #4056 closed

[2016-10-19 19:45] mramato commented on #4433
Turns out this bug was nastier than I thought and did affect performance.  The reason it was turning opaque is because we were adding a new primitive every time without removing the old one.  I just submitted #4457 with the fix.

[2016-10-19 19:56] #4433 closed

[2016-10-19 20:01] mramato commented on #4415
Looking into this the core of the problem is that the clampToGround code basically takes forever.  This is partially because IE is incredibly slow and partially because our code has some inefficiencies and bugs which are covered by other issues and will get addressed this wee at the bash.

However, clampToGrond shouldn't even be happening for this demo because it defaults to false.  It turns out t

[2016-10-19 20:33] twpayne commented on #4343
`xsi:schemaLocation` can be used as a [hint by some XML parsers to validate the document](http://stackoverflow.com/questions/5875021/what-is-the-use-of-xsischemalocation). In this particular case, the KML schema specifies that (for example) latitudes must be in the range -90..90 but your document uses latitudes -108 to 108 (and also longitudes from -216 to 216). Therefore your document is not vali

[2016-10-19 20:35] twpayne commented on #4268
I'm looking at this now.

[2016-10-19 20:54] bagnell commented on #4408
@tfili I tracked down the `show` problem, but the performance problem has to do with height referenced billboards and labels.

[2016-10-19 20:59] hpinkos commented on #4343
Yeah,we probably don't want to pull in a third-party XML parser.  I agree with @twpayne, I think what Cesium is doing is acceptable.  The KML file has out of bounds coordinates to make up for the fact that there's a bit of transparent padding baked into the images

![image](https://cloud.githubusercontent.com/assets/3451886/19537062/9d88927a-961c-11e6-9f76-d228597bcafe.png)

Since GE and WW do sup

[2016-10-19 21:01] mramato commented on #4408
KML is defaulting to terrain clamping for billboards even though it shouldn't, which is why performance there is slow there, #4459 should fix the default behavior, but it will still be slow when clamping is on.

[2016-10-19 21:04] hpinkos opened #4463 "KML - Support for rectangles that are bigger than the globe"
Discussed here: #4343

In this KMZ file, the rectangle goes from (216, 108) to (-216, -108) to make the image wrap around the globe since the PNG has transparent padding

![image](https://cloud.githubusercontent.com/assets/3451886/19537453/f98b7712-961d-11e6-8436-5f069333381e.png)

Google Earth and World Wind support this case, so we might want to consider adding support as well

[Scenario A2 - gl

[2016-10-19 21:06] hpinkos commented on #4343
I changed my mind.  I created #4463 to cover the issue so I could summarize the problem in the title/initial comment.

Thanks @dwhipps, @twpayne!

[2016-10-19 21:06] #4343 closed

[2016-10-19 21:08] mramato commented on #4343
I'm not 100% against third-party XML parsers if they are better than the browser and have a small footprint, but I don't know of any that fit that bill.  If switching to a third-party parser also cleaned up the code base, that would be useful too.  I'd be happy to look at a pull request for that if someone wanted to work on it, but you should propose which library to use first, so that it can be e

[2016-10-19 21:11] #4408 closed

[2016-10-19 21:24] mramato commented on #4326
This is a corridor geometry bug but only happens when clamping to ground (remove height in the below to break it).

[code]

[2016-10-19 21:34] mramato commented on #4396
This is really weird, it only seems to happen in this example and only because that example is in 2D.  It seems to have been introduced in 1.23.  Perhaps clamping related?

[2016-10-19 21:42] mramato commented on #4396
OK, I tracked it down.  There are 2 problems.

1. GeoJsonDataSource is not honoring clampToGround for billbaords, so they are being clamped by default.
2. `BillboardVisualizer.getBoundingSphere` is using `billboard._clampedPosition` for the boundingSphere location and that appears to be incorrect, either because of bugs in our clamping or perhaps it doesn't mean the same thing in 2D that we think

[2016-10-19 23:13] kring commented on #4434
@thinkpadder1 yeah I had previously discovered TSLint, as well as typescript-eslint-parser.  It looks like both have made some progress since I've looked, but still aren't nearly mature as ESLint with Babel.

re: doc, those things are all nice, but they don't help us generate the documentation on cesiumjs.org: http://cesiumjs.org/refdoc.html

[2016-10-20 03:20] Calvinv99 opened #4466 "AGI CesiumSensor plugin not working well with Cesium 1.26"
Hi
The CesiumSensor plugin does not work well with Cesium 1.26. It displayed a blue screen with an error log 'cannot read property 'entities' of undefined' at the console.  Cesium 1.25 has no error with it.

Regards
Calvin Chua

[2016-10-20 13:26] mramato commented on #4466
@Calvinv99, the Cesium sensors plugin was discontinued a couple of years ago and has not worked with Cesium for some time.  Some users in the community have forked the project to continue to update it, but I'm not sure of the details.  If you search our forum, or start a new topic, I'm sure you'll get a fairly quick response from them: https://groups.google.com/forum/#!forum/cesium-dev

[2016-10-20 13:26] #4466 closed

[2016-10-20 13:38] pjcozzi commented on #4177
Is someone able to look at this today at the bug bash?

[2016-10-20 13:50] emackey commented on #4177
I'm looking at touch/pointer events in general today.

[2016-10-20 13:53] twpayne commented on #4409
I'm looking at this now.

[2016-10-20 14:08] #4268 closed

[2016-10-20 14:34] pjcozzi opened #4468 "Change Transforms.headingPitchRollToFixedFrame to use new HeadingPitchRoll"
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/Transforms.js#L475-L481

Deprecation policy is here: https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/CodingGuide#deprecation-and-breaking-changes

@twpayne low-hanging fruit for the bug bash if you are interested.

CC #4047

[2016-10-20 15:05] bagnell commented on #4081
It disappears because the line doesn't follow the ellipsoid exactly. The default granularity when subdividing the line to follow the ellipsoid is one degree. If you add `"granularity" : Cesium.Math.toRadians(0.5)` to the polyline, it will subdivide it more and you can zoom closer before it disappears. Setting the granularity to 0.1 degrees will subdivide further and it will never disappear.

[2016-10-20 15:11] #4081 closed

[2016-10-20 15:17] hpinkos opened #4472 "Update Sandcastle examples to match most common use cases"
From discussion related to #4081

It would be helpful to our users if our sandcastle examples more closely resembled scenarios for which they would be using Cesium.  This is particularly true for geometry examples.  Users will likely not make polygons that are huge and take up most of the united states.  We should try to make the demos mimic real-world use cases.

[2016-10-20 15:26] #4415 closed

[2016-10-20 15:37] mramato commented on #4421
Thanks for the report @wulfgarpro.  I think your workaround is probably masking a larger issue.  There are some other race-condition oriented crashes in KML billboards that have been introduced in the last couple of versions that we plan on tackling this week.  Once those fixes are in, I'll let you know so you can try them out and report back.  Thanks.

[2016-10-20 17:20] bagnell commented on #628
The problem is clipping the line segments to the near planes of the multifrustum. For example, if the near plane of the multifrustum intersects a line segment and vertices of the line segment have the x texture coordinates 0.0 and 1.0, the vertex with x texture coordinate is 1.0 could be clipped to the near plane. This would draw the arrow head at the near plane in one frustum and again in the clo

[2016-10-20 17:22] #4443 closed

[2016-10-20 17:29] tfili opened #4477 "Kmz files don't look in the Kmz for network links"
If you load the [Chile_2010.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/442990/Chile_2010.zip) (rename it to .kmz) from bug #4041. This has network links that refer to other KML files in the KMZ archive. Right now we always try to access them relative to the KMZ path, but we should check in the KMZ first.

[2016-10-20 17:39] #4041 closed

[2016-10-20 17:43] hpinkos commented on #4041
Hi @donnaaboise,

The KML timespan issue was just fixed and will be included in Cesium 1.27.  However, when we were working on this we found a few more bugs that keep your Chile_2010 KMZ file from working properly (#4431 and #4477)

We're going to try to fix those before the next release as well.  Thanks!

[2016-10-20 18:05] lilleyse opened #4479 "Terrain Shadows Broken"
Terrain shadows are broken after #4339 was merged. It can receive shadows from models fine, but not from itself. I'm investigating.
![darkness](https://cloud.githubusercontent.com/assets/915398/19571947/26559286-96ce-11e6-9c2a-21b25783d908.PNG)

[2016-10-20 18:11] #3942 closed

[2016-10-20 18:23] hpinkos commented on #3306
I haven't seen anyone in the forum mention this in a really long time, so I'm going to close this issue

[2016-10-20 18:23] #3306 closed

[2016-10-20 18:29] mramato commented on #4396
You now need to specify `clampToGround:true` when loading the GeoJSON to reproduce this (since we no longer clamp bu default).

[2016-10-20 18:37] lilleyse opened #4480 "Fix typo "funciton" in EllipsoidGeodesic"
@leesafini

Let's start off simple just to get you familiar with the pull request workflow.

In https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/EllipsoidGeodesic.js  the word `funciton` is misspelled twice.

@sumitshyamsukha and @JudyWeng can help out if you have questions opening a PR.

[2016-10-20 18:40] lilleyse opened #4481 "Fix typo in Build Guide"
@Dylan-Brown

In the [Build Guide](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/BuildGuide) change `to take affect` to `to take effect`.

@sumitshyamsukha and @JudyWeng can help with opening a pull request.

[2016-10-20 18:41] #3613 closed

[2016-10-20 19:30] Dylan-Brown commented on #4481
So, I made the relevant change in the documentation. However, I can't commit to the project. Should I fork and make a pull request?

[2016-10-20 19:34] lilleyse commented on #4481
Yes you'll need to make a fork.

[2016-10-20 19:51] hpinkos opened #4483 "GroundPrimitive bounding volume doesn't take curvature of the earth into consideration"
For example, the bounding box for this rectangle is too short:

![image](https://cloud.githubusercontent.com/assets/3451886/19575543/015ff958-96dd-11e6-96bb-5ac7ed58bfbe.png)

[code]

[2016-10-20 19:53] donnaaboise commented on #4041
Great news!  Thanks,  @hpinkos !

When is the next release expected?

[2016-10-20 19:55] hpinkos commented on #4041
@donnaaboise we the first weekday of every month, so 1.27 will be available November 1st

[2016-10-20 20:16] Dylan-Brown commented on #4481
Pull request here: https://github.com/AnalyticalGraphicsInc/cesium/pull/4486

[2016-10-20 20:26] hpinkos commented on #4327
This was fixed sometime between 1.26 and 1.27, but I'm not exactly sure by what

[2016-10-20 20:50] mramato commented on #4327
The only reason this appeared fix was because the `clampToGround` setting in KmlDataSource is now properly added,  I updated the original code sample to properly trigger the bug again.

[2016-10-20 20:51] hpinkos commented on #4327
[code]

[2016-10-20 20:52] thinkpadder1 commented on #4446
Just wanted to drop some opinions on [Discourse](discourse.org).

- It's heavy both on the front end (very JavaScript intensive) and the back end (Ruby on Rails).
- Loads posts on the fly as you scroll down... quite annoying.
- Hijacks the CTRL + F browser function if the thread has more than 20 (default) posts. You can override it by hitting CTRL + F again... but since the data has not been serve

[2016-10-21 11:58] jorpiell commented on #2737
It seems that the texture is correctly rotated when the angle is multiple of Math.PI/4 and it fails in other cases

[2016-10-21 13:45] mramato commented on #4380
I'm about to open a pull request which fixes several clampiing issues, but it turns out that this particular issue is fundamentally a performance problem.  If you just sit there and wait forever it eventually finishes and fixes itself.   You can also see this by disabling the time slicing (which also makes it go a bit faster).  In addition to simply profiling  and improving the hot spots, we might

[2016-10-21 13:45] mramato commented on #4380
Also, we disabled billboard clamping by default for KML because of this, so in order to reproduce this you need to set `clampToGround` to true in the Sandcastle example

[2016-10-21 14:03] twpayne opened #4494 "Animation should handle pointer events"
From #4458, `Animation` currently does not handle `pointer*` events. It should do so.

[2016-10-21 14:03] twpayne opened #4495 "Timeline should handle pointer events"
From #4458, `Timeline` currently does not handle `pointer` events. It should do so.

[2016-10-21 14:04] #4479 closed

[2016-10-21 14:04] twpayne commented on #4468
I'm looking at this now.

[2016-10-21 14:48] twpayne commented on #4468
AFAICT we already have [`aircraftHeadingPitchRollToFixedFrame`](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/Transforms.js#L504) which implements `headingPitchRollToFixedFrame` but taking a `HeadingPitchRoll` object instead of separate heading, pitch, and roll values.

Which of the following options would you prefer?

* Mark `headingPitchRollToFixedFrame` as `@deprecated

[2016-10-21 15:19] pjcozzi commented on #4468
The semantics of "aircraft" are a bit awkward to use internally; I would rather deprecate both of these (if the aircraft version has already shipped) and replace with a new more generically named function.

[2016-10-21 15:21] ggetz commented on #3878
Taking a look at this now.

[2016-10-21 15:55] mramato commented on #4431
@bagnell it looks like loading this file in master causes lots of undefined bounding spheres, while everything works as expected in 1.25.  I'm assuming this is batch-table related.

[2016-10-21 15:55] twpayne commented on #4468
As naming things is one of the [two hard things in computer science](http://martinfowler.com/bliki/TwoHardThings.htm), any suggestions for the new more generically named function?

* `headingPitchRollToFixedFrame` (the existing function name) seems to me to be the most apt, but this will require the `arguments` munging above to maintain backward compatibility.
* `hprToFixedFrame` includes a rarely

[2016-10-21 15:57] ceyyarbrough commented on #4480
Committed change to master branch for typo fix.

[2016-10-21 16:05] pjcozzi commented on #4468
We haven't done this before, but perhaps we could just "deprecate the arguments" instead of the function.  Since this is not a widely used function, I think we should give this a shot and then deprecate over 3 releases since this approach is new to us.

[2016-10-21 16:11] twpayne commented on #3935
I think the problem here that `file://` URLs can only use absolute paths. See [the Wikipedia article on the file URI scheme](https://en.wikipedia.org/wiki/File_URI_scheme) for more information, but the tl;dr is that `file://users/tpedbereznak/Cesium-Editor/node_modules/`... URI does not work because it interprets `users` as a hostname and `/tpedbereznak/Cesium-Editor/node_modules/`... as an absolu

[2016-10-21 17:07] #1286 closed

[2016-10-21 18:26] mramato opened #4499 "EntityCluster shouldn't glob properties onto Entity"
For performance reasons, we shouldn't glob `_pointIndex`, `_billboardIndex`, and `labelIndex` onto `Entity` instances, it's bad for the optimizer and something we specifically cleaned up a while ago that came back with clustering.

Instead, we should have the cluster create an `AssociativeArray` whose key is the entity ID and store an object with the above 3 properties instead.

[2016-10-21 18:50] ukitake opened #4502 "(1.26.0 RangeError: invalid array length) when bringing in large GeoJSON datasources"
Cesium Version: 1.26.0

When bringing in the attached GeoJSON as a GeoJSONDataSource to the Cesium Viewer I get RangeError: invalid array length.  The same geojson works fine when we bring it into version 1.25.0.  It also seems to be a Chrome specific problem as it worked fine on Firefox.  I only tried with Chrome Version 53.0.2785.143 (64-bit) and Firefox version 49.0.1.

[geojson-bug-1.26.txt](h

[2016-10-21 19:06] pjcozzi commented on #1596
@hpinkos should we keep this open after #4496?

[2016-10-21 19:09] hpinkos commented on #4502
Hello @ukitake,

The attached geoJson file worked fine for me in the current master.  Try clearing your cache/cookies.  That can sometime cause weird side effects when switching between version of Cesium.
I'm going to close this issue for now.  It's possible that we fixed some error between 1.26 and now, so feel free to re-open this issue if it's still not working when the 1.27 release comes out o

[2016-10-21 19:09] #4502 closed

[2016-10-21 19:29] hpinkos commented on #1596
@pjcozzi #4496 made it so the sandcastle example won't crash, but I feel like we should probably make changes to `Camera.flyTo` should wait until the scene morph finishes before creating the `CameraFlightPath`.  So I think this should stay open

[2016-10-21 19:31] pjcozzi commented on #4428
@bmckilligan thanks again for the report.  This was fixed in #4461 and will be in Cesium 1.27 on Nov 1.

@mramato @hpinkos will test #3523 now.

[2016-10-21 19:31] #4428 closed

[2016-10-21 19:32] hpinkos commented on #3523
Hi @anne-gropler,  This was fixed with #4461 and will be available in the 1.27 release coming out on November 1st.  Let me know if you are still experiencing this problem, thanks!

[2016-10-21 19:32] #3523 closed

[2016-10-21 19:36] leesafini commented on #4480
Done! See pull request #4504

[2016-10-21 19:45] pjcozzi commented on #4322
This would be cool, but passing for now as mentioned in https://github.com/AnalyticalGraphicsInc/cesium/pull/4330#issuecomment-255449370

[2016-10-21 20:00] mramato commented on #4414
The fix here appears to be to add `defined(entityCluster._labelCollection) && ` to line 148 of EntityCluster.js, doing so appears to make everything work as expected.  I tried (and failed) to create a unit test for this, so perhaps @bagnell can do it when he gets back on Monday.

[2016-10-21 20:00] mramato commented on #4380
I'm removing the "next release" tag since this is no longer the default behavior.

[2016-10-21 20:01] #4300 closed

[2016-10-21 20:04] #4468 closed

[2016-10-21 20:06] twpayne opened #4506 "Remove separate heading, pitch, roll value support in 1.30"
Consequent to #4498, support for separate heading, pitch, and roll values in `Transforms.headingPitchRollToFixedFrame` and `Transforms.headingPitchRollQuaternion` should be removed in version 1.30.

[2016-10-21 20:07] twpayne commented on #4506
Please can someone with commit access to this repo add a "remove in 1.30" label to this bug.

[2016-10-21 20:08] pjcozzi commented on #4396
Fixed in #4493

[2016-10-21 20:10] pjcozzi commented on #4506
Will label now.

[2016-10-21 20:11] hpinkos commented on #4506
@twpayne @pjcozzi done

[2016-10-21 20:24] hpinkos opened #4508 "Model bounding sphere should scale with model scale"
From #4038

The model bounding sphere needs to scale with the model scale in the function noted in #4038 as well as other functions in `Model`

(Be sure that the scale doesn't get applied more than once)

[2016-10-21 20:26] mramato opened #4509 "Setting globe TerrainProvider doesn't set underlying surface property?"
@kring or @bagnell you are probably best qualified to answer this.

I was investigating why changing the terrain provider doesn't seem to update terrain clamping.  I noticed in https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Globe.js#L94, we construct the default `QuadtreePrimitive` using the default `terrainProvider` instance.  However, in the set method for `terrainProvd

[2016-10-21 20:37] mramato opened #4510 "billboard being incorrectly culled"
1. Run the below code.
2. Gecoder to `Matagorda Island` and double click on the only placemark in the upper right (also `Matagorda Island`)
3. Rotate the camera up and down and the billboard will blink on and off.

[code]

![bug](https://cloud.githubusercontent.com/assets/1495196/19610827/7de2d2aa-97ac-11e6-9258-cad20c3d2fd1.gif)

[2016-10-22 15:35] pjcozzi opened #4511 "Depth pick translucent primitives"
To avoid an extra render pass, `scene. pickPosition` uses the previous frame's depth buffer, which does not include translucent objects.  Sometimes it is useful to pick translucent objects for camera control, e.g., when inside a building, the users wants to drag a window, not the terrain outside the window.

Perhaps we can add an option to render the translucent objects for depth picking.

[2016-10-22 15:35] pjcozzi commented on #4511
CC @pmconne

[2016-10-23 22:59] mramato commented on #4444
Thnks @vrittis, this sounds like an obvious bug in `CorridorGeometry` (which is what's used by KML when line clamping is enabled.  `CorridorGeometry` should gracefully handle invalid geometry (0 width line) and simply not draw.

[2016-10-23 23:01] mramato commented on #4429
The problem is that a multi-geometry itself doesn't have a bounding sphere because there is no geometry associated with it.  When a KML multi-geometry is loaded, each feature is a child of the parent entity, however zooming to an entity does not iterate and zoom to it's children so instead it just fails.

I'm not sure of the best way to fix this other than iterating all children of an entity when

[2016-10-23 23:09] mramato commented on #4375
Artifacts should definitely be fixed.  Can you please provide some specific video card/OS/browser combinations that have problems?

It's not possible to have a fallback for devices missing the required webgl-extensions (which is unfortunately iOS, IE 11, and some Android developers)  This is a problem that will go away over time as browsers catch up (or in IE 11's case die off).

[2016-10-23 23:11] #4313 closed

[2016-10-23 23:24] mramato commented on #4296
Hi @wussup, first I'm sorry you never received a reply for this.  We try to handle all support on our forum: https://groups.google.com/forum/#!forum/cesium-dev so you will always have better luck (and much faster responses)

If you still haven't solved this, it looks like you need to pass the `rectangle` option to the WMTS provider in order to limit the data to the proper location, but it's hard t

[2016-10-23 23:24] #4296 closed

[2016-10-23 23:27] mramato commented on #4241
Fixed with #4298

[2016-10-23 23:27] #4241 closed

[2016-10-23 23:45] mramato commented on #3638
Is this addressed by #4298?  If not, it may be easy to add using the same registry introduced there.

[2016-10-24 12:29] fredj commented on #4010
See also #4001

[2016-10-24 13:07] dwhipps commented on #2737
@jorpiell Agreed. But where do we look next? Is someone on this issue? It's a big one for me.

[2016-10-24 13:09] dwhipps commented on #4442
This seems to affect Safari as well, but not FireFox.

[2016-10-24 13:31] dwhipps commented on #2737
A bit more on this...

You can easily see the effect by changing just the value of the "north" boundary in the rectangle in the @bagnell example above. (That is, my counter-example used a different centre. That has no effect, only the aspect ratio seem to matter.) Simply lower it to "32" and you'll see the bug. I.e.

`coordinates: Cesium.Rectangle.fromDegrees(-86.69777, 30.03883, -76.69777, 32.038

[2016-10-24 14:14] hpinkos commented on #2737
@dwhipps this is a little overly complicated because we allow the texture and the geometry to rotate separately.  I think creating a specific trapezoid geometry (like the KML LatLonQuad) is probably what users are looking for.  We have an issue written up to create this here: #4164
I was planning to try to take a stab at that during our next code sprint (which will probably be early December) but

[2016-10-24 14:17] dwhipps commented on #2737
December is way to far away for me. (I thought this one was part of this "bug bash?") I'm having a look right now, but it's pretty dense stuff, and almost no comments in code.

[2016-10-24 14:29] dwhipps commented on #2737
Ok. After all that complaining, I think I got it. See my PR.

[2016-10-24 14:33] erikmaarten commented on #4349
@mramato There's a destroyObject function that replaces an object's methods with a throwOnDestroyed method that simply throws a DeveloperError when invoked. What should the behavior of this be in production code? Not sure if this DeveloperError should be handled like all the other ones.

[2016-10-24 14:38] jorpiell commented on #2737
@dwhipps, you fixed the bug. I've tested it just removing the "* options.lonScalar" and the "* options.latScalar" in RectangleGeometryLibrary.js . Well done!

[2016-10-24 14:53] erikmaarten commented on #4349
Also, what about "interface specifications", like in `Source/Core/TilingScheme.js`, which should not be used at all, are they actually included in the output bundle when building for production?

[2016-10-24 15:11] hpinkos commented on #4326
This is happening because the bounding box/shadow volume minimum isn't quite low enough.  For small shapes it's equal with the level of the tile and results in z-fighting.

See #4485 for discussion

[2016-10-24 15:17] mramato commented on #4349
@pjcozzi or @shunter can second this, but perhaps it should either be a `RuntimeError` instead or a no-op (don't replace the functions at all).  I think I would prefer either of those to leaving an un-pragma'd `DeveloperError`

Same opinion here as above, these make more sense as `RuntimeError` or being pragma'd out.

Let's go with pragma-ing both cases for now and if anyone has any objections, it

[2016-10-24 19:28] #4177 closed

[2016-10-24 20:01] hpinkos opened #4519 "PointPrimitive flickering and disappearing in Safari"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/kfr5KohKPvQ

Can someone with a mac/ipad/iphone test this out? https://storm.pps.eosdis.nasa.gov/storm/cesium/EVMini.html

The user reports all of the point primitives flicker then disappear in safari running on iPhone 6

[2016-10-24 20:44] #4396 closed

[2016-10-25 07:01] vrittis commented on #4429
No problem. At the moment, as I have been hacking features in client-side (eg the clamping which I did manually before 1.23), I'm manually checking for children and zooming to them instead of the parent. I just wanted to make sure it was tracked somewhere

[2016-10-25 13:14] dwhipps commented on #2737
@hpinkos This should be good to go now.

[2016-10-25 14:30] hpinkos commented on #2737
Simplified example

[code]

[2016-10-25 15:42] pjcozzi commented on #4349
+1

[2016-10-25 15:54] pjcozzi commented on #3874
Fixed in #4507.

[2016-10-25 15:54] #3874 closed

[2016-10-25 15:58] pjcozzi commented on #4510
Looks like a multifrustum issue.  I think there is a duplicate issue, but I couldn't find it now.

[2016-10-25 17:45] hpinkos opened #4524 "Firefox GroundPrimitive bug"
Reported in the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/p4BBdG6yu2Q

The user said this was a Windows 10 machine using Firefox 49.0.2 and Chrome 53.0.2785.143

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=cba8726e99322257d7dc7e203df84842

![image](https://cloud.githubusercontent.com/assets/3451886/19697329/f2790364-9ab8-1

[2016-10-25 17:49] mramato commented on #4524
Please have them share the result of going to `chrome://gpu` in the browser.  This is not a browser specific bug but probably something more specific to the video card or Firefox's version of ANGLE.  Unless we can reproduce this locally, there's no reason to keep this bug open and we need to know the GPU to do that.

[2016-10-25 17:56] #4418 closed

[2016-10-25 18:07] hpinkos commented on #4524
see this post for chrome://gpu output: https://groups.google.com/d/msg/cesium-dev/p4BBdG6yu2Q/PkBxFb6GBwAJ

[2016-10-25 18:09] mramato commented on #4524
Looks like they aren't actually using the nvidia card they think they are using and instead it's an Intel HD4000.  I assume they have an optimus laptop and don't realize it.

[2016-10-25 18:21] wulfgarpro commented on #4421
Thanks Matt, understood.  I'd rather not implement larger architectural
fixes; undoubtedly my inexperience with the project would introduce more
harm than good.

Looking forward to hearing back.

On 21 Oct 2016 2:37 am, "Matthew Amato" <notifications@github.com> wrote:

[2016-10-25 19:03] rutsky opened #4525 "Outline around label's characters and billboards in clustering demo"
I often (but not always) see gray border around characters and billboards in [clustering demo](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Clustering.html&label=Showcases):

![2016-10-25_21 55 37_1](https://cloud.githubusercontent.com/assets/46573/19699974/751484a4-9b06-11e6-9841-43f94b3b2908.png)

![2016-10-25_22 01 01_1](https://cloud.githubusercontent.com/assets/46573/19700111/07e

[2016-10-25 19:08] rutsky commented on #4525
Same issue on [labels demo](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Labels.html&label=Showcases):

![2016-10-25_22 07 40_1](https://cloud.githubusercontent.com/assets/46573/19700326/e48bf1fe-9b07-11e6-9878-db0c34c83699.png)

![2016-10-25_22 07 29_1](https://cloud.githubusercontent.com/assets/46573/19700329/e8cb2f3c-9b07-11e6-9cbb-47fba9fbe884.png)

![2016-10-25_22 07 21_1](https:

[2016-10-25 19:23] bagnell commented on #4062
The problem seems to be picking upsampled terrain. A quick check by disabling upsampling looks like it fixes the problem, but requires more testing.

[2016-10-25 21:03] pjcozzi commented on #4519
It works OK on Safari 9, OS X El Captain, Intel.

[2016-10-25 21:10] lilleyse commented on #4519
Confirmed that it flickers and disappears in iOS 10 on an iPad Pro.

[2016-10-26 01:42] mramato commented on #4524
I can't reproduce this and posted some suggestions in the forum thread for camila to try.  I'm pretty certain this is not a Cesium bug and recommend closing it.

[2016-10-26 03:37] EladIsraeli opened #4526 "Low fps using cesium"
When using the Hello World example , i feel like the fps are about 20 , i understand that cesium uses WebGL so i wonder why is it ? I want the map to be simple as possible to works fast and smooth as it cans .
The reason for this is because i want to add dynamiclly like 1million points to the map , so i need the map to be free of useless features that may be influence the smoothness of the app.

[2016-10-26 05:02] kaktus40 opened #4527 "about PR 4498"
Hello,
for @twpayne , @pjcozzi  , @hpinkos : about  ``aircraftHeadingPitchRoll*``, I just need an explanation why it was removed. Is it a forbidden area like determining polygon area or is it a feature for cesium pro only?!? I just need explanation to adjust my next PR.
Thanks

[2016-10-26 09:00] taozhi8833998 commented on #3422
the code just works for Oculus Rift, while not for htc vive ??

[2016-10-26 13:02] mramato commented on #4431
@bagnell let's discuss this and #4414 when you get in today.  This one in particular is a geometry-wide regression and not just KML.

[2016-10-26 14:49] mramato opened #4530 "Run WebStorm JSDoc inspection and fix all errors"
Webstorm has an inspection titled `JSDoc comment matches function signature` which actually shows a lot of incorrect documentation throughout our codebase (115 warnings, though I'm sure some our false positives).  We should run this inspection and bring the result down to 0 (or some reasonable number if false positives are high).

To execute this, select `Code -> Run Inspection by Name` and then t

[2016-10-26 15:02] dwhipps commented on #2737
So, it looks like this bug isn't yet fixed. @jorpiell, can you have a look at this PR? I'm at a loss. The code now only works when the rectangle rotation and the texture rotation angles are the same.

[2016-10-26 15:37] erikmaarten commented on #4444
@vrittis What are the steps to reproduce the problem? Which version and build are you using? I don't seem to be able to reproduce the crash using your KML file.

[2016-10-26 15:39] erikmaarten commented on #4385
Pull request merged, I think this can be closed.

[2016-10-26 15:40] mramato commented on #4409
Copied from the closed PR.

I think the issue here is that the destroy method on BillboardVisualizer, LabelVisualizer, and PointVisualizer needs to iterate over the entityCollection.values array and call removeLabel/removePoint/removeBillboard for each depending on the visualizer.

[2016-10-26 15:40] #4385 closed

[2016-10-26 15:41] mramato commented on #4385
Thanks.  As an FYI, if you put "Fixes #XXXX" in your PR descriptions, then issues will automatically close when they get merged.

[2016-10-26 16:03] rutsky commented on #4525
This is not reproduced when I use integrated graphics from Intel on the same Linux machine.

[2016-10-26 16:37] rutsky commented on #4525
Might be related: #2130

[2016-10-26 17:21] mmccartn commented on #4510
I can reproduce this in the latest release 1.26

[2016-10-26 18:16] erikmaarten commented on #4385
@mramato Thanks Matt, I had a vague feeling I was missing something that could make it automatic... That's exactly what I need :smile:

[2016-10-26 18:35] #4431 closed

[2016-10-26 19:17] twpayne commented on #4527
*Please not that I'm not a representative of Cesium*

I suggest we continue the discussion in #4498 rather than opening a new issue that duplicates the discussion in an existing one.

[2016-10-26 19:56] mramato opened #4534 "Clustering does not take scaleByDistance into account"
Entity clustering of billboards and points does not take into account the `scaleByDistance` property or value, causing items to become clustered when they are visually still quite separated.

[2016-10-26 19:58] #4414 closed

[2016-10-27 08:37] #4527 closed

[2016-10-27 10:50] rutsky commented on #4525
@mramato since you've seen similar issue as you noted in [this](https://github.com/AnalyticalGraphicsInc/cesium/issues/2130#issuecomment-106612931) comment, maybe you can give some hints what is the reasons of this bug and how can it be resolved?

[2016-10-27 10:50] kring commented on #4509
@mramato the terrain provider is passed through to the `GlobeSurfaceTileProvider` on render:
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Globe.js#L494

I don't know of any particular reason for this offhand.  It might just be left over from when we didn't use JavaScript properties.  In any case, I'm pretty sure this isn't a bug, so I'm closing it.

[2016-10-27 10:50] #4509 closed

[2016-10-27 13:32] mramato commented on #4525
@bagnell believes this may be related to texture coordinates being slightly off for billboards. The odd part is that it only happens on some systems, so we could have a case of undefined behavior somewhere or a rounding issue.  Billboard collection (particular the shaders) would be the first place I look to try and debug this.

[2016-10-27 14:20] erikmaarten commented on #4349
@mramato Can you close this? (I didn't use the "Fixes #..." reference in the PR before it was merged...)

[2016-10-27 14:42] #4349 closed

[2016-10-27 14:45] #4481 closed

[2016-10-27 15:01] rutsky opened #4536 "Billboards in custom data source are not initially clustered"
Custom data source with set of billboards and with enabled clustering is not clustered initially.

Take a look at the [following example in Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=a642c4188c4cbf8b019478ab53d768ab):

[code]

Here is how it looks like after running:

![2016-10-27_17 57 08_1](https://cloud.githubusercontent.com/assets/46573/

[2016-10-27 15:22] hpinkos commented on #4526
Please ask questions like this on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub issues exclusively for bug tracking and new feature planning

The low fps may be due to your computer specs.  Start with making sure your video card drivers are up to date.
Just to confirm the slowness, you can see FPS onscreen with `viewer.scene.debugShowFramesPerSecond = true;`.

[2016-10-27 15:22] #4526 closed

[2016-10-27 19:25] tfili opened #4537 "Zooming with the mouse wheel is jumpy"
When you use the right mouse button to zoom it is very smooth, but when you use the wheel it is very jumpy. For the sake of consistency we should have the wheel move smoothly as well.

[2016-10-27 19:48] #4499 closed

[2016-10-27 19:48] #4409 closed

[2016-10-27 19:53] mramato opened #4538 "Clustering doesn't work well in 2D and CV"
When in 2D or Columbus View, the left side of the screen does not show any billboards if clustering is enabled.  Here's a sample from a large CZML file of air traffic.  With clustering disabled, everything is fine.  Once it's enabled, lots of stuff on the left side disappears. (Even stuff that's clearly not part of a cluster).

![clustering](https://cloud.githubusercontent.com/assets/1495196/19782

[2016-10-27 20:19] mramato commented on #4536
Thanks for the bug report and isolated test case @rutsky.  I can confirm this problem and it definitely only happens with billboards.  Hopefully @bagnell will have time to look into it soon.

[2016-10-27 23:01] BGR360 commented on #2922
+1 on this

[2016-10-28 02:45] jeffwhitty commented on #4538
I noticed a similar behaviour, my entities are all loaded manually from a web service (20,000 calls to getOrCreateEntity()) and with clustering on the numbers are nowhere near the right total for all of my entities and the left side was largely blank or very thinned out.

No CZML or dynamic time happening, just a bunch of entities (some billboards, some points).

[2016-10-28 03:05] jeffwhitty opened #4540 "entity.show error"
I just upgraded my project from the august release to the October release (we want clustering!), and had a few breaks, two of which I can't fix (I'll seperate them into two issues)

I have custom filtering on my entities. There's 20,000 entities, approximately half are billboard and half are just point. They represent one of about 20 'type' of underlying object. I have a list of all the types on m

[2016-10-28 03:26] jeffwhitty opened #4541 "PolylineGraphics material colour withAlpha broken in latest version"
I have just upgraded my project from the August release to the October release and in my integration testing I hit something that has broken.

I have a function that draws a half dozen polylines between various points. The points are all represented by their own entity as well, but I don't think that's relevant. This function broke and started throwing an error

 (which I later tracked down to act

[2016-10-28 12:42] vrittis commented on #4444
@erikmaarten here is what I did on Cesium 1.26 package downloaded on cesiumjs.org. I set up the sandcastle app, and copied the attached file in the Apps\SampleData\kml directory.

Then I modified the kml exemple to read
[code]

I'm tryign to recreate the exact steps of the situation where I discovered the bug which was a little different; I'm hiding all entities and only displaying them when the u

[2016-10-28 13:21] erikmaarten commented on #4377
Looked through the `ImageryLayer.js` code, and (like @hpinkos said above) the problem appears when no intersection is found between imagery provider rectangle and imagery rectangle.  `Rectangle.simpleIntersection` returns undefined if no intersection was found. Since there is no check for this case, I'm _guessing_ it's not supposed to be a valid scenario.
@mramato Is this something you can comment

[2016-10-28 13:28] lilleyse commented on #4540
This is fixed in https://github.com/AnalyticalGraphicsInc/cesium/pull/4460 and will be in the next release. In the meantime you can use master to confirm.

[2016-10-28 13:28] #4540 closed

[2016-10-28 16:10] pjcozzi commented on #4538
@bagnell what is the level of effort here?  If it's reasonable, seems like we should fix this soon or disable in 2D/CV until we have time to fix this.

[2016-10-28 16:26] erikmaarten opened #4544 "Timeline date handling chokes on early Julian dates"
When zooming out on the timeline so the start date is changed to an negative/invalid ISO8601 date, the `JulianDate.fromIso8601` function throws.

The following code in `Timeline.js` is where the error occurs:

[code]

Perhaps when zooming, we could check whether the from date is smaller than some minimum date and in that case simply set the timeline from date to the minimum value?

Which year rang

[2016-10-28 17:16] hpinkos commented on #4541
Hello @jeffwhitty
I believe this issue was fixed in this PR #4532

The fix will be included in the 1.27 release coming out on November 1st.  If you are still seeing this problem with the new release, feel free to reopen this issue.  Thanks!

[2016-10-28 17:16] #4541 closed

[2016-10-28 17:17] mramato commented on #4544
`ISO 8601` min/max values are defined in constants at https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/Iso8601.js#L28, so you could probably use those to check.

[2016-10-28 17:20] mramato commented on #4377
@shunter or @kring would know for sure, but I'm guessing that we should check for undefined and simply `continue` the loop in that case (which should cover both usages in `ImageryLayer.js`).

[2016-10-28 17:22] hpinkos commented on #4444
@vrittis I was able to reproduce the crash in master with the KML file you attached.
@erikmaarten let me know if you are still unable to

[2016-10-28 17:30] rutsky commented on #4538
This issue also reproducible in [Clustering demo](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Clustering.html&label=Showcases), almost no features are inside Atlantic ocean:

![2016-10-28_20 28 49_1](https://cloud.githubusercontent.com/assets/46573/19815808/a0c8145c-9d55-11e6-8c65-6c982a870413.png)

however if I switch to 2D lots of feature will appear there:

![2016-10-28_20 29 24_1

[2016-10-28 17:31] mramato commented on #4538
I previously thought this was 2D/CV only, but @rutsky's screen shots above make it looks like a general problem.

[2016-10-28 17:34] rutsky commented on #4538
@mramato my comment was about issue in 2D/CV only: there are no features in Atlantic ocean (which is correct), but they appear if I switch to 2D/CV. So I *don't* assert that clustering is not working in 3D.

[2016-10-28 18:08] mramato commented on #4538
Ahh, okay.  Is that in master?  You might be running into a separate issue if it's 1.26.

[2016-10-28 18:14] rutsky commented on #4538
@macoda I'm observing appearing items not on their place when clustering in 2D in 1.26 release.
So my issue should be fixed in master and this bug report is about different issue?

[2016-10-28 18:51] erikmaarten commented on #4377
@mramato I did try that and ended up with a globe with a small rectangle of imagery looking OK, the rest of the globe had the pixels from the edges of that rectangle smeared out in each direction. Is that to be expected when providing a rectangle option to the `Cesium.WebMapServiceImageryProvider` constructor?

[2016-10-28 19:01] mramato commented on #4377
If it is the base layer, than yes.  We always stretch the outer pixels of the base layer to take up the whole screen.  If you don't make it the base layer, then it should only take up the specified rectangle.

[2016-10-30 18:01] KermMartian opened #4549 "Scene Render Crashes with Large 3D Tiles"
I'm trying to debug an unusual Cesium crash with 3D Tiles. A hierarchy of Composite-packed models is being loaded (although the same issue occurred with un-composited b3dm models). The top-level tile and model loads fine; after zooming, Cesium starts to load the child models. After a predictable amount of time, which appears from the Network debugging tab in Chrome to correspond to all child Compo

[2016-10-31 07:47] fredj opened #4550 "SceneTransitioner instantiated twice in Scene"
in `Scene` constructor:
 * https://github.com/AnalyticalGraphicsInc/cesium/blob/1.26/Source/Scene/Scene.js#L292
 * https://github.com/AnalyticalGraphicsInc/cesium/blob/1.26/Source/Scene/Scene.js#L392

Moreover, `ellipsoid` param is not used in `SceneTransitioner`

[2016-10-31 09:05] erikmaarten commented on #4444
@hpinkos I think I'm now able to reproduce it, though the error I see is `width must be greater than or equal to one`.
[code]
Simply removing the throwing `DeveloperError` will make the KML file load fine, but is that the behavior we want? We could probably avoid creating a Polyline at all if the width is 0, but performance-wise it shouldn't make a big difference unless we're expecting 0-width lin

[2016-10-31 09:36] erikmaarten commented on #4377
Thanks @mramato. I'll submit a PR for this. Just to make sure, when stretching the base layer, is it supposed to look like this? The rectangle itself looks fine, but there seem to be gaps in the stretched base layer. It looks the pixels are stretched to the north pole, and to the west but only to (what looks like) the anti-meridian. The rectangle is around Sydney.
![globe](https://cloud.githubuser

[2016-10-31 10:53] erikmaarten commented on #4544
Might also fix for #4425.

[2016-10-31 10:56] fredj commented on #4480
fixed with #4504 , this issue can be closed

[2016-10-31 11:17] fredj opened #4554 "isArray not used in UrlTemplateImageryProvider"
`Array.isArray` is [used](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.26/Source/Scene/UrlTemplateImageryProvider.js#L551) instead of the [isArray](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.26/Source/Core/isArray.js) module.

[2016-10-31 11:18] fredj commented on #4554
`Array.isArray` is also used in `WebMapTileServiceImageryProvider`

[2016-10-31 11:22] fredj commented on #4554
The native `Array.isArray` function is [widely supported](http://kangax.github.io/compat-table/es5/#test-Array_methods_Array.isArray), would you consider dropping `isArray`and always use the native function?

[2016-10-31 13:53] #4550 closed

[2016-10-31 14:12] lilleyse opened #4555 "Add cos to styling language"
For https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/2

@Dylan-Brown like the [abs](https://github.com/AnalyticalGraphicsInc/cesium/pull/4545) function write a `cos` function for the styling language. Like `Math.cos` and glsl's `cos` it takes radians.

As part of the PR
* [ ] Update `Expression.js` - Javascript and GLSL interpreters.
* [ ] Add tests to `ExpressionSpec.js`
* [ ] Add a style

[2016-10-31 14:14] lilleyse opened #4556 "Add sqrt to styling language"
For https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/2

@leesafini  like the [abs](https://github.com/AnalyticalGraphicsInc/cesium/pull/4545) function write a `sqrt` function for the styling language.

As part of the PR
* [ ] Update `Expression.js` - Javascript and GLSL interpreters.
* [ ] Add tests to `ExpressionSpec.js`
* [ ] Add a style to `3D Tiles Point Cloud Styling.html` that uses t

[2016-10-31 14:15] mramato commented on #4377
Normally I think it stretches in all directions, so that does look a little weird, but if there is a problem it's probably unrelated to the layer and instead to the stretching.  As long as it looks correct when it's not the base layer, I think we're okay (but I'll let someone who knows more about this area of the code review the PR).  Thanks.

[2016-10-31 14:28] #4480 closed

[2016-10-31 14:35] mramato commented on #4444
Thanks for the additional debugging @erikmaarten.  `master` has changed since this issue was written, so you are seeing a different manifestation of the same root cause.  add `clampToGround:true` to the KML options when loading and you should see the corridor version.

Input validation like this is a tough one.  In general, the rule in Cesium is "fail early", that is don't hide problems and throw

[2016-10-31 14:50] lilleyse commented on #4549
How large is the tileset? This sounds like an out of memory issue.

[2016-10-31 14:57] mramato commented on #4554
The main reason we still have the `isArray` helper is to allow Cesium to still be included on sites that need to support older browsers (mainly IE8).  Obviously Cesium won't work on these browsers, but trying to use a method like `isArray` would cause JS parsing itself to fail in certain cases, breaking the entire page.  This would make it impossible for apps built with Cesium to gracefully degrad

[2016-10-31 14:59] hpinkos commented on #3279
Also mentioned here: https://groups.google.com/d/msg/cesium-dev/6iH8YLXLEgQ/XvWuxTdFCQAJ

[2016-10-31 15:01] fredj commented on #4554
@mramato thanks for the answer; I will change `UrlTemplateImageryProvider` and `WebMapTileServiceImageryProvider` to use `isArray` instead of `Array.isArray`

[2016-10-31 15:14] pjcozzi commented on #4555
CC #3241

[2016-10-31 15:14] pjcozzi commented on #4556
CC #3241

[2016-10-31 15:30] #4554 closed

[2016-10-31 19:42] lilleyse opened #4560 "Shadow aliasing in Chrome"
The polygon offset setting for `ShadowMap` has very little effect in Chrome. Like IE it falls back to pushing depth values linearly with camera distance, which is prone to light leaking.

I first noticed this with the transition from Chrome 49 to Chrome 50. Polygon offset works fine when ANGLE is disabled.

More details here: https://groups.google.com/forum/#!topic/webgl-dev-list/E1dAG65QBhg

[2016-10-31 20:26] KermMartian commented on #4549
The top-level tile is a ~50MB cmpt, and the children sum to about ~200MB, so that could definitely be the case; I'll reduce the detail in the tiles and try again. To keep this as a potentially useful issue, is there possibly a cleaner way to handle this, for example to provide a callback to allow the application to catch when loading a tile is going to cause this to occur, or is there no good way

[2016-11-01 10:15] erikmaarten commented on #4444
Thanks for the detailed explanation @mramato.  I agree that it's more sensible to have the geometries treat 0 or less widths as empty geometries. Looking at the code, it seems to be done already for `CorridorGeometry` though (see https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/CorridorGeometry.js#L944). I specified clamping like below, but no error. Is there anything else I

[2016-11-01 12:17] wkoeter opened #4563 "Android: FLOATING POINT TEXTURE EXTENSION IS REQUIRED BUT NOT SUPPORTED."
It appears that loading data gives the following error:

RUNTIMEERROR: THE FLOATING POINT TEXTURE EXTENSION IS REQUIRED BUT NOT SUPPORTED.

I have a Samsung Galaxy S7. I've tried multiple browsers aswell but it keeps failing. The same javascript has no errors on pc browser.

[2016-11-01 13:19] mramato commented on #4377
I also just realized the sample code in the original post is a little odd, it adds the provider twice.  Here's one that adds it as a non-base layer:

[code]

[2016-11-01 13:36] #4377 closed

[2016-11-01 13:38] mramato commented on #4560
@lilleyse can you submit an actual chrome bug to https://bugs.chromium.org/p/chromium/issues/list and mark it as an ANGLE issue there (it should be one of the choices).  If it's easy to have a reduced test case, definitely include one.  After that we can reach out to some of the ANGLE/Chrome team and ask them to have a look.

[2016-11-01 14:00] hpinkos commented on #4444
You know what?  I actually think I mostly fixed this during the bug bash the other week by adding this line: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/CorridorGeometry.js#L683

However, instead of `length === 0` it should be `length < 2`

For polylines the widths are in pixels, so I would think any value less than one pixel would be empty.

[2016-11-01 14:03] hpinkos commented on #4563
Hello @wkoeter,
It looks like your phone might not have support for one of the WebGL extneions we use.  Go to http://webglreport.com/ and see if `OES_texture_float` is in the list of supported extensions.

[2016-11-01 14:17] wkoeter commented on #4563
Thanks for the fast reply. Indeed my Galaxy S7 seems to not support that extension. Is there a work around you might recommend? Or is it a dead end regarding my phone? Thanks in advance.

[2016-11-01 14:19] mramato commented on #4563
Currently, it's a dead end, but this was a recent change in Cesium and it's extremely unfortunate that the S7 does not support this extension.  I think we need to revisit this requirement since the S7 is such a popular phone.

I assume you tried Chrome?

CC @bagnell @pjcozzi

[2016-11-01 14:30] erikmaarten commented on #4444
@hpinkos Oh, then we're almost done :smile:
I fixed the `length === 0` line, and set the `length` variable to actually be the length, and not `length - 1` as it was previously (updated rest of the function accordingly). b1f2a63

Also corrected the pixel width check. 690061b

(PR here: #4562)

[2016-11-01 14:44] mramato opened #4565 "Camera test failures in Edge"
Most of the `CameraEventAggregator` and `ScreenSpaceCameraController` tests fail in Microsoft Edge.  We should investigate why (most likely bad tests) and get them to pass.

[2016-11-01 14:47] mramato commented on #3948
During today's release testing, I still get `Scene/Primitive updates model matrix for one instance in 3D` in all browsers when running against the combined file with debug code removed.

[2016-11-01 14:48] wkoeter commented on #4563
@mramato

Okey that is unfortunate indeed.
Yes i've tried Chrome, Chrome Beta, Opera and Firefox.

[2016-11-01 14:55] mramato opened #4566 "Scene/LabelCollection computes bounding sphere in Columbus view"
`Scene/LabelCollection computes bounding sphere in Columbus view` occasionally fails for me in Chrome (and possible other browsers)

[code]

[2016-11-01 14:57] mramato commented on #3888
I'm still getting similar failures to @bagnell for 1.27

[2016-11-01 15:12] mramato opened #4567 "Models in 2D have artifacts"
The black spots on the below image are not part of the model.  They only appear in 2D at certain points in the walking animation. (for example around 17:14:24 in the 3D Models Sandcastle example).

![image](https://cloud.githubusercontent.com/assets/1495196/19894525/b778c590-a023-11e6-8b24-ffd49decce15.png)

[2016-11-01 15:14] mramato opened #4568 "Disable scene mode picker in Atmosphere demo"
Since there's no atmosphere in 2D and Columbus View, we should disable the scene mode picker in the atmosphere demo

http://localhost:8080/Apps/Sandcastle/index.html?src=Atmosphere Color.html&label=All

[2016-11-01 15:16] mramato opened #4569 "Camera rotates wrong way from home view"
1. Hit home view
2.  Hold the middle mouse button down over Canada and move the mouse up.
3. Instead of rotating down to see the horizon, the camera rotates up, which is the wrong way.  After moving the mouse around a bit, it fixes itself.

[2016-11-01 15:18] hpinkos commented on #4569
Duplicate #2877

[2016-11-01 15:18] #4569 closed

[2016-11-01 15:22] emackey commented on #4537
@bagnell could this be done by having the wheel impart zoom-inertia, rather than simply change the position?

[2016-11-01 15:28] gberaudo commented on #4081
@bagnell, thank you for the explanations.

[2016-11-01 16:06] mramato opened #4570 "Crash when switching scene modes during flight"
Found during release testing, but confirmed to happen as far back as 1.25 so I don't think it needs to hold it up.  We should fix it for 1.28 however.

1. Run Cesium Viewer and switch to 2D
2. Zoom in anywhere.
3. Press the home button and switch to 3D during the flight.
4.  Click anywhere to immediately finish the morph.
5. Crash

[code]

[2016-11-01 16:11] hpinkos commented on #4570
Duplicate #1596?

[2016-11-01 16:21] mramato commented on #4570
I don't think so.  They may be related but this is a crash, not just stuff disappearing during the morph.

[2016-11-01 16:22] mramato opened #4571 "Odd Grid material artifact in 2D"
I know the grid adds some sort of shimmer effect for 3d, but it doesn't work at all in 2D and you end up with the below artifacts.

![grid](https://cloud.githubusercontent.com/assets/1495196/19897256/bd7ee44c-a02d-11e6-9a26-7d32eef38792.gif)

CC @emackey

[2016-11-01 16:27] mramato opened #4572 "Multiple problems with Pick position demo in Sandcastle"
The `Pick position` part of the overall picking example (http://localhost:8080/Apps/Sandcastle/index.html?src=Picking.html&label=All) has several problems.

1. Switching to 2D just causes a bunch of errors to the console because 2D isn't supported.  We should probably more gracefully handle this case in the demo.
2. CV silently fails.  Is pick position supposed to be supported for CV?

[2016-11-01 16:30] mramato opened #4573 "Shadows demo cleanup"
The `Toggle` buttons in the Shadows demo should be checkboxes, same for the `Soft Shadows` button.  Right now it's not clear what is enabled/disabled at any given time.

[2016-11-01 16:33] mramato opened #4574 "Inconsistent translucency in 2D"
1. Run http://localhost:8080/Apps/Sandcastle/index.html?src=Show or Hide Entities.html&label=All
2. Switch to 2D.
3. Zoom in and out to the geometry and you will see z-figting and changes in ordering.

![2d](https://cloud.githubusercontent.com/assets/1495196/19897675/5a39da52-a02f-11e6-9fa4-826beabf5ffe.gif)

[2016-11-01 17:09] mramato opened #4575 "Sandcastle terrain example clean up"
1. `Toggle lighting` should be a checkbox, not a button.
2. `Sample Everest Terrain` should update the camera to Everest as well.  Right now it appears to do nothing if you aren't already looking at Everest.

[2016-11-01 17:54] pjcozzi commented on #4563
IIRC this is a very widely supported extension (not sure why the S7 would not have it) and there were no good alternatives to not using it.  We could consider a sub-optimal fallback if there's enough users expected to not have support for this for quite some time to come.

[2016-11-01 17:58] pjcozzi commented on #4567
This is probably z-fighting.  It very noticeable on the model in 2D during development, then @bagnell improved it.  Not sure how much better it can get.  @bagnell do you know?

[2016-11-01 18:07] bagnell commented on #4567
I remember this being a problem with moving the near plane when adjusting the multifrustum. I'll take a look.

[2016-11-01 18:09] bagnell commented on #4537
Yes. The wheel used to have inertia. @hpinkos tracked it all the way back to b24 when it was removed.

[2016-11-01 20:33] corygehr commented on #4538
Just wanted to toss another vote in here for this issue - I'm seeing the exact same thing in the 2D view. My pins disappear until I zoom in to certain points. When I'm zoomed in super close it seems to be fine.

[2016-11-01 20:42] hpinkos commented on #4326
We should really try to fix this soon.  Look how bad this example looks:

![circle-z](https://cloud.githubusercontent.com/assets/3451886/19906684/2318574c-a052-11e6-8236-f4b37667b9cd.gif)

[code]

[2016-11-02 00:29] mramato commented on #4563
According to https://community.arm.com/thread/9251, no Mali gpus support `OES_texture_float`, considering how popular Malu chipset is, I'm not sure we can claim it's widely supported enough to allow Cesium to be broken on it.  The Samsung Galaxy line alone (all of which are Mali I believe) is about 20% of the mobile market.  What's particularly bad is that this was a breaking change in a recent ve

[2016-11-02 07:22] donnaaboise commented on #4041
Just saw that the Cesium 1.27 is available for download.  Does this include the Python API as well?  The version available at https://pypi.python.org/pypi/cesium was last uploaded on 10/7/2016.  Will this be updated as well?

I am eager to test the latest fixes!

[2016-11-02 13:09] sdgrimm opened #4581 "3D Tiles - TileOrientedBoundingBox debug volume should be 2x2x2"
I am using OrientedBoundingBox to create 3D Tiles point cloud tilesets with oriented bounding box volumes.  It works perfectly.  However, when Cesium3DTileset#debugShowBoundingVolume is enabled, the BoxOutlineGeometry is incorrect.  The cube being created is 1x1x1, but I believe it should be 2x2x2 to match OrientedBoundingBox.  See (https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Sou

[2016-11-02 14:09] hpinkos commented on #4041
Hi @donnaaboise,  we don't publish the Python API so I can't tell you when that will be updated

[2016-11-02 14:26] GatorScott commented on #4041
I'll point out that is unrelated to CesiumJS (WebGL Virtual Globe and Map Engine) versus Cesium (Machine learning platform for time-series).

[2016-11-02 14:46] pjcozzi commented on #4581
Thanks for the report, @sdgrimm.  I added this issue to the roadmap, #3241.

A pull request into the `3d-tiles` branch with a fix is also very welcome.  See [Getting Started Contributing](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#getting-started-contributing) if you have time to investigate.

[2016-11-02 14:49] #4125 closed

[2016-11-02 15:09] hpinkos opened #4582 "Update Cesium logo"
We've been using a new logo with a border around the Cesium icon which can be found on our logos page: https://github.com/AnalyticalGraphicsInc/cesium/wiki/Cesium-Logos

We should update the Cesium credit in the footer and the favicon to use this new logo

[2016-11-02 19:53] malaretv commented on #4563
We've been looking into building on top of Cesium's VR capabilities (which is already limited to android devices) and this issue is really biting us since we invested in Samsung Galaxy + [Gear](http://www.samsung.com/global/galaxy/gear-vr/) setup for testing purposes

[2016-11-02 19:59] emackey commented on #4582
The thought of a `beginner` submitting something for this was enough to scare me into doing it myself.

[2016-11-02 20:03] mramato commented on #4563
What makes you say this?  We've had Cesium running on Occulus devices in the past and there's no reason it can't work with other set ups as well (Vive, iphone, etc..).  I'll admit that it might need some work to update to the latest WebVR spec and definitely needs more testing, but the landscape isn't as bleak as you're painting it.  We would be happy to look at pull requests to improve Cesium's c

[2016-11-02 20:16] malaretv commented on #4563
@mramato should've kept it at +1 for Galaxy support :+1: My misspoken bleakness comes from ignorance as i'm just getting my feet wet with VR support. Will be in touch in the forums