[2022-06-08 11:17] danny-wang opened #10436 "Resource retryCallback parameter error not has valid status code"
Resource retryCallback parameter error not has valid status code

Sandcastle example:

Browser: chrome

Operating System: mac os

`
function refreshTokenRetryCallback(resource, error) {
    console.log('error.statusCode:', error.statusCode);
   console.log('error:', error);
  if (error.statusCode === 403) {
    // 403 status code means a new token should be generated
    return getNewAccessToken()

[2022-06-08 11:41] CodeBoySun opened #10437 "when move cesium map,rendering has stopped."
Sandcastle example:
when move map there will report a message
![image](https://user-images.githubusercontent.com/37098354/172606506-a9eb9518-5bd2-4e28-94d1-9182fe42f85e.png)

I debuuger it and find
"edgeVertices" is undefined ,and I find "eastIndicesNorthToSouth" or "eastIndicesNorthToSouth"is undefined cause it.
![image](https://user-images.githubusercontent.com/37098354/172607108-93ca1210-f0d5-4

[2022-06-08 12:59] ggetz commented on #10435
Hi @danny-wang. Could you structure your code such that a new resource is created with the new  `access_token`, or the resource's `access_token` query parameter?

The `Resource` does not perform any special handling for access tokens. Instead they are treated just like any query parameter value. To me, special handling for access token is out of scope of `Resource`.

[2022-06-08 13:08] ggetz commented on #10436
We return the status code when a valid response is received. On an error event, it appears we do not specify a status code. Perhaps the CORS error you see is the reason why no status code is logged.

Would you be able to provide a [Sandcastle code example](https://sandcastle.cesium.com/) which duplicates the error?

[2022-06-08 15:33] CodeBoySun commented on #10437
Could you give me some advice which will cause some value undefined?

[2022-06-08 20:42] j9liu opened #10441 "`PointCloudDraco` tileset causes crash for `ModelExperimental`"
When `ModelExperimental` is enabled for the 3D Tiles Formats sandcastle, the `PointCloudDraco` tileset crashes with the following error:

![image](https://user-images.githubusercontent.com/32226860/172713312-272b62b3-a935-4069-93cc-a4512f036175.png)

[Sandcastle](https://sandcastle.cesium.com/#c=zVhtUxs3EP4rqocJ54k5AwmT1naYFkMbWghM7Ek/YKaR7xasIktXSWdwGP/3rnRvOsdJeHFn6g8+nW732WdXq9XeRVJoQ2YMbkGRt0T

[2022-06-08 21:13] j9liu commented on #9886
@ptrgags what's left to do on this issue, now that `ModelExperimental` and `ResourceCache` both have statistics?

[2022-06-08 22:17] gilmotta opened #10442 "CesiumJS does not work on Android/Chrome"
Hi,

I am testing CesiumJS to use it in my mapping project. CesiumJS works well on my desktop it seems but on my Android Galaxy S21 with Chrome version 102.0.5005 I can't see the globe. I only see a black ball. The same with Firefox version 101.1. on the same device.

I don't know if this is a good comparison but WebGL Earth demo works fine.

Thanks,
Gil

[2022-06-09 05:21] na9da opened #10443 "Wrong translucency value for point clouds when using an expression in the alpha part of `rgba()`"
Hi team,

Just reporting a subtle bug that I came across when trying to use an expression to compute alpha value for point cloud features.

I have 2 sandcastle examples below, first one using a constant alpha value of `1.0` and second using a trivial expression `0.0 + 1.0`. In the second case, although we expect the features to be opaque, they appear translucent with some unknown value.

Sandcastl

[2022-06-09 11:13] CodeBoySun commented on #10437
hello,I see Terrain Provider is cesium default provider,we not set it.
![image](https://user-images.githubusercontent.com/37098354/172834008-7749a133-8d6b-4415-a309-f37c9d7f0fc8.png)

[2022-06-09 11:15] CodeBoySun commented on #10437
Hello, I see Terrain Provider is cesium default provider,I not set it
![image](https://user-images.githubusercontent.com/37098354/172834084-5037cabe-a275-4fc7-a78f-3770361e4943.png)

[2022-06-09 12:55] #9886 closed, assigned to nobody

[2022-06-09 14:55] ggetz commented on #10362
Hi @luqiudi, I'm closing this issue due to inactivity. If you get some time to provide updates, please feel free to reopen this. Thanks!

[2022-06-09 14:55] #10362 closed

[2022-06-09 15:17] ggetz commented on #10437
Thanks @CodeBoySun, I'm unable to reproduce. Can you provide a [Sandcastel code example](https://sandcastle.cesium.com/) which reproduces your issue?

[2022-06-09 15:18] #10381 closed

[2022-06-09 15:19] lilleyse commented on #10443
This is a known limitation in the GLSL transcoder. It's a bit tricky to fix since the style expression is converted to GLSL and not actually evaluated in JavaScript. It gets even trickier when the expression references a `${property}` since that data isn't even available on the CPU.

[2022-06-09 15:24] lilleyse commented on #6898
https://github.com/CesiumGS/cesium/issues/6898#issuecomment-991353207 describes why it's happening. We haven't done anything to fix it yet.

[2022-06-09 15:25] ggetz commented on #9738
@ClaraSchumann I'm closing this issue due to inactivity. If you believe this is still an issue, please feel free to re-open. Thanks!

[2022-06-10 00:58] na9da commented on #10443
Thank you for the responses.

Our original intent was to write an expression that lets us control the transparency using user input. For the simple case of point clouds this seems to work:

[code]

But in our case we want it to work for  point clouds as well as other tilesets which do not have a `${COLOR}` property. So we have to do a component wise calculation like below which fails:

[code]

For

[2022-06-10 11:46] UniquePanda opened #10444 "Wrong color output from custom shaders"
Hi all,

while experimenting with custom shaders on 3DTiles, I got the feeling that the final color (in which the 3DTile is rendered) is often a bit too bright.
I've now tried it in the sandcastle and indeed, when I just apply a fragment shader that sets the diffuse color to `vec3(0.5, 0.5, 0.5)` the final rgb color in the rendered image is `186, 186, 186`. I would have expected a value around `12

[2022-06-10 13:23] UniquePanda commented on #10444
We investigate some more and found out that the "problem" is the `lightingStage` which calls `czm_linearToSrgb` when `HDR` is not defined.
I can see how this can make sense. However, it feels like this shouldn't be "enforced" here. Especially because it seems that using the styling language does result in colors that are converted to sRGB?
Currently this is a bit confusing for me :D

[2022-06-10 15:13] ggetz opened #10445 "Wrong documented default for Scene.highDynamicRange"
The documented [default value for `Scene.highDynamicRange`](
https://github.com/CesiumGS/cesium/blob/main/Source/Scene/Scene.js#L1553) is incorrect. It actually defaults to `false`.

[2022-06-10 16:01] ptrgags commented on #10444
Hi @UniquePanda,

Indeed, `czm_modelMaterial` always assumes that colors are in linear space, and if HDR is off, this is converted back to sRGB.

I agree that this is not obvious, so I opened #10446 to add documentation for Custom Shader.

As for styling, colors seem to be specified in `sRGB` space based on the shader code.

[2022-06-10 16:43] UniquePanda commented on #10444
Thanks @ptrgags!
This should make it more clear and as I now know what happens why, it should be easier to make this work for us 🙂

P.S.: I see you fixed the wrong URL in the shader guide, too. So an additional 👍 for this! 😁

[2022-06-10 16:43] #10444 closed

[2022-06-10 17:06] AndresPozo commented on #10442
Hi,
I have the same problem in a Samsung Galaxy Tab S7 with Android 12 and an old LG G6 with Android 8.
When the viewer is zoomed out to show the full globe it only draws a blue outline and black globe. If the viewer is zoomed in to show a country or smaller areas the visualization is correct. This happens for all the examples in Sandcastle, including the "Hello World" example.

The results of  ht

[2022-06-10 18:45] j9liu commented on #9992
@ptrgags and I found that gltf-pipeline creates a default material, but we should make sure that for other things loaded as `ModelExperimental` that a default is created, and that the shader defaults are as expected.

[2022-06-10 20:31] ptrgags commented on #9992
I confirmed that `GeoJsonLoader` and `PntsLoader`.

However, I think `defaultModelMaterial()` in `ModelExperimentalFS.glsl` isn't quite matching the spec.

According to the spec, default material should have:

* metallic: 1
* roughness: 1
* baseColor: `[1, 1, 1, 1]`

In other words it should be a metallic but rough material, whereas the shader currently defaults to a smooth non-metal.

[2022-06-10 21:08] mlptownsend opened #10449 "UrlTemplateImageryProvider and CORS Errors"
I reproduced this using a random MapProxy instance I found published out in the wild. Ignore the fact that Cesium won't actually place the tiles properly without some sort of zoomOffset parameter (it needs -1). But if you run the below Sandcastle example, you'll be flooded with CORS errors in the console and network request tabs.

Access to XMLHttpRequest at 'https://go-tiles1.gistda.or.th/mapprox

[2022-06-10 21:16] j9liu commented on #9992
@ptrgags From a glance it doesn't seem like the material struct for `ModelExperimental` has a metallic factor, and that the other fields (`f0`, `diffuseColor`, `roughness`) are derived from the metallic factor in `czm_pbrMetallicRoughnessMaterial`. Should this be invoked with the default metallic roughness values in `defaultModelMaterial()` ?

[2022-06-10 21:24] ptrgags commented on #9992
I agree, hardcode the computed values. I think they'll all turn out to be straightforward constants like `vec3(1.0)` but better safe to check

[2022-06-10 22:20] lilleyse commented on #9992
Technically we can use whatever default we want in `ModelExperimental` but it's good to be consistent. I get these values:

[code]

[2022-06-11 10:02] AndresPozo commented on #10442
Hi again,
I have another clue: I think this problem is related to the GroundAtmosphere effect. After disabling it with "viewer.scene.globe.showGroundAtmosphere = false" the globe gets rendered right.
This can also be tested with the example Atmosphere in Sandcastle.

[2022-06-13 03:53] emperorOfBug opened #10451 "disableDepthTestDistance: Number.POSITIVE_INFINITY give rise to disappear when drag to some place"
when i use "disableDepthTestDistance: Number.POSITIVE_INFINITY" in a new entity just like this

[2022-06-13 04:18] emperorOfBug commented on #10451
You can move earth and find a position when the billboard twinkled, then try to move it to the very special place.

[2022-06-13 05:38] mrjunn commented on #10420
man which these additional files are?

[2022-06-13 05:43] Yaozefen commented on #10420
首先找到node_modules/cesium/ThirdParty目录
找到draco_decoder.wasm文件。
在项目根目录下的public目录下新建ThirdParty，将draco_decoder.wasm复制进去，

[2022-06-13 05:51] mrjunn commented on #10420
成功了！多谢

[2022-06-13 05:52] mrjunn commented on #10420
成功了！多谢

[2022-06-13 10:34] chenxx08 opened #10452 "Gltf with CESIUM_primitive_outline extension render error"
Sandcastle example:
[test example](https://sandcastle.cesium.com/#c=jVRtc9o4EP4rGj507BkiYsgLaUjmKHkpuQCZxMkApdMR9oIVbImTZALc5L/fyjaENm3mvtiSdp9Hu89qt1Ih14oJQ1qgeZrcPBAWBKA1MZKsZKoIl4IwrcHokch9aFsKGsKEpbFpZs6+nIEgZ2RUgtVNNL4OeI/ftB/Xba/L27ot7g+DVvuoPZv3n1o3JxSd/gmvZ9YpGfrDWffi6XnY8pLhRcRv/fto+Dw1g+fLqj0b+DOv5zcPB9XOsud3+G3rZj5Esu76ct3xO7qdxFGI+44/WHf9y3XvovPS7e9T//DrsH9ZO4D+pN+9B7X/wxvv1afHX/+WV3eP

[2022-06-13 11:31] danny-wang commented on #10435
@ggetz

[2022-06-13 13:35] j9liu commented on #10452
Hi @chenxx08,

Thanks for reporting this bug! We're working on adding support for the `CESIUM_primitive_outline` extension to `ModelExperimental` in #10338, so hopefully we can fix this in one go. We'll keep you updated.

[2022-06-13 15:02] j9liu commented on #10338
Making a note: when we add support for `CESIUM_primitive_outline` can we test that if the bug in #10452 comes up?

[2022-06-13 15:32] ggetz commented on #10449
Hi @mlptownsend, usually CORS errors like this occurs because of how the server (go-tiles1.gistda.or.th in this case)  is configured. There's some good discussion on this topic in https://community.cesium.com/t/cors-error-adding-urltemplateimageryprovider-layer/16734. Ultimately, I would check with the provider what the CORS policy is.

I'm closing this as I don't think it is a bug with Cesium, bu

[2022-06-13 15:32] #10449 closed

[2022-06-13 16:29] AndresPozo commented on #10442
It doesn't change anything
![Screenshot_20220613-182641_Chrome](https://user-images.githubusercontent.com/13603017/173400960-86e099cc-ef51-42a8-834d-b884e2bb7332.jpg)

[2022-06-13 16:46] ggetz opened #10454 "Better View Angle for Custom Shaders 3D Tiles Sandcastle Example"
The [Custom Shaders 3D Tiles](https://sandcastle.cesium.com/?src=Custom%20Shaders%203D%20Tiles.html) sandcastle example does not have an optimal initial view. This makes it harder to see what's going on a first glance, and harder to test when testing for a release.

Maybe we should default to the view used in the [feature picking example](https://sandcastle.cesium.com/?src=3D%20Tiles%20Feature%20P

[2022-06-13 19:48] ggetz opened #10455 "Update or remove tsd-jsdoc"
As part of the build process, [CesiumJS generates TypeScript definitions based off our jsdoc comments](https://github.com/CesiumGS/cesium/pull/8878).

While we're generally pretty meticulous about having accurate documentation, there are a few instances of invalid jsdoc that have slipped through. The `build-ts` scripts, which converts our jsdoc to TypeScript definitions, has recently been spitting

[2022-06-15 15:04] #7478 closed

[2022-06-15 17:53] #10454 closed

[2022-06-16 02:10] xradiance opened #10461 "Label background is broken when use inputAction (unwanted gradient)"
Hi all,
Can I get help with this problem, Is this a bug?
As far as I know, it still happens 1.9 ~ later

You can see it in action in the attached sandcastle and in this screenshot:
![bug_label_background](https://user-images.githubusercontent.com/35837823/173976088-947cb71a-be48-415a-af29-29a9931fa901.png)

Sandcastle example:
https://sandcastle.cesium.com/#c=fZTdbuIwEIVfxZurILGm3b1LKdpumgq0EVSQbW

[2022-06-16 11:42] nikitakogan commented on #7645
![2151m](https://user-images.githubusercontent.com/99587893/174062421-4bb927f6-bcb1-456f-9659-1d9e15b48af8.png)
![13m](https://user-images.githubusercontent.com/99587893/174062426-b0fd0a1e-df4e-4b56-af18-23d01fa3fff3.png)
hi there .
is there any update regarding this issue?

[2022-06-16 13:32] ggetz commented on #5222
Fixed in https://github.com/CesiumGS/cesium/pull/10460

[2022-06-16 13:32] #5222 closed

[2022-06-16 15:48] ggetz commented on #10461
Thanks for reporting this @xradiance. I think this is a bug. We addressed a similar issue in https://github.com/CesiumGS/cesium/pull/10343, but it looks like this can still occur when a new label is added. We'll take a look at this shortly since its a regression.

[2022-06-16 15:51] #7263 closed

[2022-06-16 20:00] zoran995 commented on #9363
You can use this URL https://gs-stable.geo-solutions.it/geoserver/unesco/wms, instead of the one in a sandcastle. Hopefully, folks from Geosolutions won't be mad for the link, I found it on google.

updated [sandcastle ](https://sandcastle.cesium.com/#c=jVZtb9s2EP4rnL9EQlxqQbpl9UuwwG3RYMlW1Nn6YR4KmjpLRChSICkbXpH/vqNo2pKSAPtikcfn7p574dFbZshWwA4MmRMFO7IAK5qK/tXKktWIt/uFVo4JBWY1SqcrtVJZRm7ynDDy9X5JRM

[2022-06-17 08:10] qiangwai opened #10465 "appearance of gltf model material problem"
my gltf model display in three:
![image](https://user-images.githubusercontent.com/41463375/174255811-1c2eda2b-cadc-4f3c-95cb-b10b397bc62e.png)
display in  cesium :
![image](https://user-images.githubusercontent.com/41463375/174255890-b866e846-fe51-4595-ac8d-b561f26e3f84.png)
How to show better texture effect？

[2022-06-17 12:14] lilleyse commented on #10465
I think this is related to https://github.com/CesiumGS/cesium/issues/6506. CesiumJS doesn't generate normals for glTF models when they are missing which leads to this unlit appearance. I'm going to close this issue but mention it in https://github.com/CesiumGS/cesium/issues/6506.

[2022-06-17 12:14] #10465 closed

[2022-06-17 12:15] lilleyse commented on #6506
Related issue: https://github.com/CesiumGS/cesium/issues/10465

[2022-06-17 18:38] b4l8ter opened #10466 "JulianDate object missing methods"
Getting  "TypeError: start.getSecondsDifference is not a function",  using the following copy/pasted example code from the API documentation for JulianDate:
[code]
Using npm version 1.94.3.

[2022-06-18 13:16] mylove10086 opened #10467 "c++ version of cesium"
When I implemented cesium's code in C++, I ran into a problem in the process.
When I add an entity polygon, a triangular face has a problem and cannot be displayed as a normal triangle. The
triangle gradually becomes a square as you move the map. I'm sure both the data and the Uniform are the same as in cesium. I've been debugging for two weeks and I still can't find the reason. Do you have any co

[2022-06-19 03:26] engine5d opened #10468 "3DTILES_multiple_contents no supports more than 6 contents"
3DTILES_multiple_contents no supports more than 6 contents, except change the cesium static setting: `Cesium.RequestScheduler.maximumRequestsPerServer = 8;`

, or the tile cannot load. But this extension schema [link ](https://github.com/CesiumGS/3d-tiles/blob/main/extensions/3DTILES_multiple_contents/schema/tile.3DTILES_multiple_contents.schema.json)no contains this limitaiton.

`"3DTILES_multipl

[2022-06-19 05:43] Lemonjay commented on #7511
![image](https://user-images.githubusercontent.com/9245295/174467541-7a5278b1-c8cf-4548-aac2-4028b7e5127e.png)

BUG: the texture shows in Scene2D
How to solve this bug ?

[2022-06-19 19:49] Harjot4698 commented on #10349
hie @malitherl,
If you are seeing this message , please reply

[2022-06-20 04:20] Boooil opened #10469 "How to modify a ReferenceProperty when creating a cylinder"
I created a airPlane model and a cylinder, and I used ReferenceProperty on cylinder's position in order to make it move with the airPlane together.
But I don't want the position of the cylinder to be the same as the airPlane, I want the cylinder to be half the altitude of the airPlane.
I don't know how to get that.
If I use the "getValue" method to change the altitude, it do can change the positio

[2022-06-20 07:38] crazybluelibo commented on #10014
@ggetz  Is this Bug still not fixed?

[2022-06-20 10:09] guishilike opened #10470 "Can not render the model"
When loading oblique photography data, it can request the 3D tiles data and locate the area, but can not render the model
![fbcc747f6c5ca21f58fc4edbaeaa779](https://user-images.githubusercontent.com/51023060/174578631-8ef5198d-32fd-4c9e-a37c-4da02ab829ec.png)

[2022-06-20 14:24] lilleyse commented on #10468
@engine5d thanks for the bug report. This is a CesiumJS limitation, not a 3D Tiles spec limitation.

@ptrgags you might be able to provide more details here. I remember this being a known limitation with the multiple contents implementation. Was this documented in the code or in a github issue?

[2022-06-20 19:41] icarter09 commented on #873
Couple of questions on this ticket...

1. What's the status of "StyleMap"->"Highlight" ?
2. If "Highlight" is still a WIP, I would like to help out. What do I need to know about or where should I begin to look for getting Stylemap Highlight implemented?

Thanks.

[2022-06-20 22:51] Jeetpal1 commented on #6182
Hey @strech345 strech345

Could you tell me what imagery provider did you use to load the tile from the backend?

I got the backend running, which serves any requested tile (zoom, x, y), but I am getting the following error.
![image](https://user-images.githubusercontent.com/70360391/174685849-01c624f5-845f-40e9-82c6-82a6b1dff249.png)
![image](https://user-images.githubusercontent.com/70360391/174

[2022-06-21 13:06] ggetz commented on #873
Hi @icarter09,

1. I believe StyleMap -> Highlight is still yet to be implemented.
2. It would be great if you could contribute this! I'll look into getting you some more information, but in the meantime [this comment](https://github.com/CesiumGS/cesium/issues/2770#issuecomment-155528406) mentions the areas of the code to look.

[2022-06-21 14:35] #10467 closed

[2022-06-21 14:41] #10469 closed

[2022-06-21 14:52] ggetz commented on #10451
Hi @emperorOfBug, I'm having trouble reproducing this. Would you be able to provide your system hardware specs?

[2022-06-21 15:06] ggetz commented on #10014
@crazybluelibo We haven't yet been able to take a look at this. We'll update this issue when we do.

Let us know if you have any interest in contributing a fix, and we'd be happy to provide guidance and review a pull request.

Thanks for your patience.

[2022-06-21 15:06] ggetz commented on #10470
Hi @guishilike, would you be able to provide the tileset so we can take a look?

[2022-06-21 15:12] jjhembd commented on #9363
Thanks @zoran995!

I'm afraid the problem is several layers deep:

1. The [WebMapServiceImageryProvider](https://cesium.com/learn/cesiumjs/ref-doc/WebMapServiceImageryProvider.html) constructor inputs an Array of [GetFeatureInfoFormat][]s.
2. The [GetFeatureInfoFormat][] constructor inputs a callback function to convert the WMS response to [ImageryLayerFeatureInfo](https://cesium.com/learn/cesiumj

[2022-06-21 15:16] lilleyse commented on #9887
@ptrgags could you post a new summary of the changes required here? Some things have changed in the spec and implementation since - notably `defaultValue` was added back to the spec and property textures and property attributes were added to custom shaders (which means we can actually start implementing this).

Afterwards we can get `noData` working for voxels: https://github.com/CesiumGS/cesium/p

[2022-06-21 17:27] jjhembd commented on #10466
Hi @b4l8ter, I'm not seeing a `getMinutesDifference` method in the current [documentation](https://cesium.com/learn/cesiumjs/ref-doc/JulianDate.html). Can you point me to where you're seeing that code example?

If you want to compute a time difference in v1.94.3, you might want to look at [Cesium.JulianDate.secondsDifference](https://cesium.com/learn/cesiumjs/ref-doc/JulianDate.html#.secondsDiffer

[2022-06-21 21:20] techmavengeospatial opened #10472 "Load LERC Elevation-Terrain Tiles from tile server (XYZ) not just from ImageServer - ArcGISTiledElevationTerrainProvider"
If ESRI has their data available like this
http://elevation3d.arcgis.com/arcgis/rest/services/WorldElevation3D/Terrain3D/ImageServer/tile/{z}/{y}/{x}.lerc2
why can't I serve data to Cesium like this?
http://someip:port/folder/tile/{z}/{y}/{x}.lerc2

https://github.com/CesiumGS/cesium/blob/3601fc73247ab3526c4f18be38ccc8c1860a541b/Source/Core/ArcGISTiledElevationTerrainProvider.js#L63

https://cesiu

[2022-06-21 21:21] techmavengeospatial commented on #10472
Reference also Terriajs we use Terriajs in other projects https://github.com/TerriaJS/terriajs/discussions/4890

[2022-06-22 04:48] trusktr commented on #9212
Adding `"./Source/Widgets/widgets.css": "./Source/Widgets/widgets.css"` to `cesium`'s `package.json` in node_modules does the trick.

I used the [`patch-package`](https://www.npmjs.com/package/patch-package) to record and commit the patch locally.

The TLDR is that `cesium` needs to update to modern ESM standards.

[2022-06-22 06:05] JiaoJianing opened #10474 "Will Cesium sort transparent objects by distance when turn off orderIndependentTranslucency"
Hello~I want to know when I turn off orderIndependentTranslucency when constructing Cesium.Viewer. When rendering, will Cesium sort transparent objects from back to front?
Looking forward to your reply! Thank you!

[2022-06-22 07:50] guishilike commented on #10470
There is no problem with tile data, we have experimented.
The cause of the problem may be the use of relative paths.
So we deployed js, css and tile data as services, now the problem is solved, thanks.

[2022-06-22 07:50] #10470 closed

[2022-06-22 12:49] javagl opened #10475 "Cesium Looks Good To Me"
The page https://lgtm.com/ (Looks Good To Me) performs code analysis on various open source projects.

The good news: Cesium is one of the projects with the highest code quality:

![Cesium LGTM](https://user-images.githubusercontent.com/5597569/175029615-e36d8049-ca4b-441d-8c40-20b5e2c31919.png)

<sup>This grade refers to _JavaScript_ projects, and for now, let's skip the discussion about what tha

[2022-06-22 13:03] ggetz commented on #8179
This came up on the forum as well: https://community.cesium.com/t/scene-pick-returning-point-inside-the-globe/18940

[2022-06-22 13:19] ggetz commented on #10472
Hi @techmavengeospatial,

From those threads you linked, there seems to be a problem when Cesium requests the first tile at level=0, Y=0, X=0 and that tile is not available on the server, so the request fails. Due to the failure, Cesium stops requesting tiles. Here's a [sandcastle showing this behavior](https://sandcastle.cesium.com/#c=bVBLSwMxEP4rw55aKAkevLTbohSRgi/YopeFkmbH7WA2WSbZ1Cr976ZblKo9Te

[2022-06-22 13:38] ggetz commented on #10474
@JiaoJianing Next time, please ask questions on the [Cesium Forum](https://community.cesium.com/), where there are members of the community and developers from the team who can help. Cesium is a big project, so we use GitHub for feature requests and bug tracking exclusively. Thanks!

[2022-06-22 13:45] javagl commented on #9914
I actually stumbled over this when creating the sample sandcastles (and the fact that [`// It's all just metadata, eventually`](https://github.com/javagl/3d-tiles-samples/blob/a546b82299ae5700525ba825564f857130a4e25f/EXT_mesh_features/CommonTestingSandcastleCode.txt#L75) wasn't resolved by the fact that I used an obscure approach to obtain what I then called "property keys", once being IDs and onc

[2022-06-22 15:25] lilleyse commented on #9887
Might depend on the compiler and complexity of the expressions. `czm_branchFreeTernary` could be used instead.

[2022-06-22 16:24] lilleyse commented on #9887
Hm this brings up bigger questions about the custom shaders API. We also need to consider min, max, and statistics.

What about sub-structs for these special properties? Only problem is it could collide with actual property names.

[code]

Related areas of the spec:
* [class.property.schema.json](https://github.com/CesiumGS/3d-tiles/blob/draft-1.1/specification/schema/Schema/class.property.schema.

[2022-06-22 16:44] lilleyse commented on #9887
It seems like this issue could be split into two PRs:

* Add `noData`, `default`, `min`, `max`, `statistics` to the custom shader API
* Handle `noData` and `default` internally when accessing property values

[2022-06-22 18:28] jjhembd commented on #9992
Hi @ptrgags, I'm looking at this and have a couple questions.

Is there anywhere else I need to check to make sure we always get a default material?

Also, in [PntsLoader](https://github.com/CesiumGS/cesium/blob/main/Source/Scene/ModelExperimental/PntsLoader.js#:~:text=const%20metallicRoughness%20%3D%20new,metallicRoughness%20%3D%20metallicRoughness%3B), I see this:
[code]
Based on the spec, do we

[2022-06-22 19:19] ptrgags commented on #9992
Hi @jjhembd,

At this point I think it's really just `ModelExperimentalFS.glsl` that needs to be updated since that's hard-coding defaults in the shader.

As far as the `ModelComponents.Material()` goes, I think we covered all the main cases in the above discussion, but I guess it doesn't hurt to do a search through the code for `ModelComponents.Material` `ModelComponents.MetallicRoughness` and `M

[2022-06-22 19:30] ptrgags commented on #9992
Oh @jjhembd here's [A modified Sandcastle example](https://sandcastle.cesium.com/#c=3RsLU9s4+q9oubmp0waTBNqyoXSOhsf2hmwZoO3MlQ6r2EqiotheyYZkb/jv93162HJiKH3s7aOzG2JZ+t76XlIGTPFiFh7MMyb5jCU5FYeM5oVkKmQJHQk2TGMm/Pdkl+SyYDsXSZQmKifXnN0wCaMJuyEDA++dHgsu1iL9PEhhIU+YvFhrk/9eJISkMmbydRKzjMFHkp9LmihRRCyJFn0ypkKx9kVy2wIsF4nBEEYija7CqJASFwA1gNPi+3chOE32ac7CsUxnr1W6/azTDRDTxVqv0+uud7vrnR/Pe51+73l/83nY6T7rPNva

[2022-06-23 07:37] indeexx commented on #4989
When will it be released?🤔️
I'm... looking... forward....to...it.....😄

[2022-06-23 15:07] #9992 closed

[2022-06-23 17:08] #9914 closed

[2022-06-23 17:58] jjhembd opened #10477 "Remove deprecated getPropertyNames methods in CesiumJS 1.98"
The classes [Cesium3DTileFeature](https://cesium.com/learn/cesiumjs/ref-doc/Cesium3DTileFeature.html), [Cesium3DTilePointFeature](https://cesium.com/learn/cesiumjs/ref-doc/Cesium3DTilePointFeature.html), and [ModelFeature](https://cesium.com/learn/cesiumjs/ref-doc/ModelFeature.html) have metadata methods named `getPropertyNames`. These were deprecated in CesiumJS 1.95, and replaced with `getProper

[2022-06-24 06:42] edeles-navagis commented on #9058
We got this "out of memory" error when loading geojson layer.
Checking some primitives, we found out that polygons consumes a lot of time.
What we did to resolve it is just set the Arctype for entity.polygon.arcType to ArcType.GEODESIC.
Maybe the default is ArcType.RHUMB.

[2022-06-24 18:00] GatorScott commented on #9058
An alternative to hosting and drawing large collections of static geometry would be to host the data in a WMS/WMTS server like [GeoServer](https://geoserver.org/) which could serve the data as a transparent overlay to the basemap.  Not sure if this would fit your needs or not.

[2022-06-24 18:59] ptrgags opened #10480 "3D Tiles Next Metadata Compatibility Matrix"
There are several different metadata capabilities in 3D Tiles Next and several possible methods
of accessing the metadata (mainly custom shaders, picking, and styling). It's admittedly confusing what is supported where, so we thought it would be helpful to make a table.

Key:
:green_circle: - currently implemented (sometimes with limitations)
:red_circle: - not yet implemented.

| | Custom Shader

[2022-06-24 19:34] ptrgags commented on #10468
I found some comments in `Multiple3DTileContent.js`:

https://github.com/CesiumGS/cesium/blob/main/Source/Scene/Multiple3DTileContent.js#L345

Essentially due to race conditions with request scheduling, apparently it was possible to leak typed arrays somehow (I'm rusty on the details, it was over a year ago), so it tries to schedule all the requests at once with `RequestScheduler`. Since `RequestS

[2022-06-25 02:20] jjhembd commented on #10231
Hi @j9liu, I started a [draft PR](https://github.com/CesiumGS/cesium/pull/10482) addressing most of this issue. It follows your proposed strategy, with a few slight changes:
- `getImageFromTypedArray` directly uses the [ImageData constructor](https://developer.mozilla.org/en-US/docs/Web/API/ImageData/ImageData), rather than the context's [createImageData](https://developer.mozilla.org/en-US/docs/W

[2022-06-25 02:58] JiaoJianing opened #10483 "Strange transparent and Anti-Aliasing effect"
I brought the problem from cesium community, I don't konw whether this is a bug.

https://community.cesium.com/t/strange-transparent-and-anti-aliasing-effect/19246

[2022-06-25 06:34] kimarneboska commented on #9939
Hi,
Any updates on this topic? We would also  appreciate DTM1.

Cheers

[2022-06-27 03:58] zhangchn opened #10484 "Infinite scroll: buggy culling of primitive to the west of the IDL"
In infinite scroll mode of 2D scene, primitives would be culled to the west of the International Date Line (180° longitude).

Sandcastle example:
https://sandcastle.cesium.com/#c=bVJfS8MwEP8qR586GKnToTC74ZiggqIg+GJ9yNJbF0yTckk3quy7m66L1DlIyOV+f+5yrTDaOthI3CLBFDRuYYFW1iV72+fiLBL7+8Jox6VGyqIhfGcaoOTVk8nx/HYCo0zvBteZzrTY+xXSe/XN7tCU6Kh58CjXAuO9A0BxyE/65BejmsLooAlcgKoD7iUSJ7E+qfoF46CCwFhwcj7i+oKtyJS3W

[2022-06-27 04:04] zhangchn commented on #10484
As camera moves, the culling area in question would changed.

[2022-06-27 06:55] emperorOfBug commented on #10451
Microsoft Edge version: 103.0.1264.37

[2022-06-27 07:12] emperorOfBug commented on #10451
Thanks for response. I've tested on three different devices.
It is really difficult to reproduce when the number is 1;
Please append more entities(more than 100), and use "disableDepthTestDistance: Number.POSITIVE_INFINITY", some of them will twinkle frequently.

[2022-06-27 14:20] sanjeetsuhag commented on #10483
Hi @JiaoJianing. Thanks for bringing these issues to our attention. From the community post, it seems like there's two separate issues here. Would you mind creating a new issue for the transparency one and adding some more description here? Thanks!

[2022-06-27 14:24] sanjeetsuhag commented on #10484
Thanks for the bug report and the Sandcastle, @zhangchn. This does seem like it's broken for all types of primitives.

[2022-06-27 19:37] ptrgags opened #10486 "ES6 Modernization: when to update old usage patterns?"
As CesiumJS relaxes ES5-only syntax (see https://github.com/CesiumGS/cesium/pull/10396) and eventually allows more modern features, the question is what to do about the existing code, when does it make sense to update old patterns to use newer features?

To take a concrete example, consider the `AssociativeArray` class. This is a class that's designed to store key-value pairs and allow iteration.

[2022-06-28 02:03] JiaoJianing commented on #10483
OK. This is the [live demo](https://sandcastle.cesium.com/#c=bVPJbtswEP0VwpfYgEst1GbHCYokPRQokAI2WqDQhaJGMluKVEnKiVvk30tRShq00YHSzLw3erOQKWksOnF4AI2ukIQHdAuGDx3+4n3LcsG8faukpVyCLhdr9LuUCDHngUd731vukmwnJ0Iafg5g7FeoWhFvkdUDjIGn9Xh2htI97XoBjpB4l9I16I+yhh7cIe1BU2nEwECy8zP9aXVZSualGhcAp3SSjL3pgrPZK2M/a+Ukm72lLRjcPFKKQdJKQO1oYz4Hf85muVMC1gV8Itxr3nHLT45I63o56nvVkulF7g4TazlXPGixRRdHa3uzDQLGOzZUgFuhaiUxU11

[2022-06-28 02:05] JiaoJianing opened #10487 "Strange Transparent Effect"
This is the [live demo](https://sandcastle.cesium.com/#c=bVPJbtswEP0VwpfYgEst1GbHCYokPRQokAI2WqDQhaJGMluKVEnKiVvk30tRShq00YHSzLw3erOQKWksOnF4AI2ukIQHdAuGDx3+4n3LcsG8faukpVyCLhdr9LuUCDHngUd731vukmwnJ0Iafg5g7FeoWhFvkdUDjIGn9Xh2htI97XoBjpB4l9I16I+yhh7cIe1BU2nEwECy8zP9aXVZSualGhcAp3SSjL3pgrPZK2M/a+Ukm72lLRjcPFKKQdJKQO1oYz4Hf85muVMC1gV8Itxr3nHLT45I63o56nvVkulF7g4TazlXPGixRRdHa3uzDQLGOzZUgFuhaiUxU11QNYE

[2022-06-28 05:35] JiaoJianing commented on #10487
Maybe it's the correct transparent effect when disabling OIT?

[2022-06-28 09:05] yonzmeer commented on #10185
Hi.
I am the author of the similar issue you mentioned.
As I wrote in my issue, the pr that broke the behavior was [https://github.com/CesiumGS/cesium/pull/8662(this one)

[2022-06-28 18:20] #10231 closed

[2022-06-28 20:57] ptrgags commented on #10338
Today I discovered that the problem isn't a constant normal (Cesium OSM buildings do have normals!) but that the material is rendering as too shiny, that's just the IBL reflecting the sky. It is more noticeable compared to the old Model, not sure why.

And I'm currently working on `CESIUM_primitive_outline` support in `ModelExperimental`. (not quite ready for a PR yet, but I can at least render ou

[2022-06-28 20:59] ptrgags commented on #10452
Just to give an update on this, I'm currently working on `CESIUM_primitive_outline` in `ModelExperimental` this week. I can reproduce the problem in `ModelExperimental` now, so later this week I'll look into what's going wrong with the index generation.

![image](https://user-images.githubusercontent.com/8422414/176286566-c0df289f-9cf8-4368-a5d2-5c870eaaf95b.png)

[2022-06-29 18:24] ptrgags opened #10493 "Test failure with resizing textures in `TextureManager`"
On the latest `main` using Chrome or Firefox on Linux, I'm seeing the following 2 test failures:

![image](https://user-images.githubusercontent.com/8422414/176508581-f9584903-7af2-4c37-8c93-9984b7578655.png).

Might be related to #10482 which was recently merged.

@j9liu was not able to reproduce this on Windows, so it might be an OS difference.

CC @jjhembd

[2022-06-29 20:58] #10493 closed

[2022-06-30 03:08] GuoBinyong opened #10498 "Event类的 raiseEvent 方法的类型声明错误"
原来的类型声明是
[code]
这会导致必须要参数必须要放到数组里，如下：
[code]
这是原码中的逻辑不一样，而且因为要多加个中括号，这也使得使用体验也不好

正确的类型声明应该如下：

[code]

[2022-06-30 03:13] kring commented on #10338
Yeah Cesium for Unreal renders the buildings as crazy shiny, too. I think the problem is that I chose the material parameters in Cesium OSM Buildings based on the old Model code, and that didn't fully capture the shine I was putting on it.
![image](https://user-images.githubusercontent.com/924374/176584825-9ea8b633-2105-43c6-8057-e542c46d116c.png)

[2022-06-30 13:10] Saumya-NebCodes opened #10499 "Cesium Assets are not laoded."
I am using **Ionic(Angular) 5** with **Electron** to build my **Linux OS Application**. Everything is running fine but whenever I load my Cesium component for the very first time it throws these errors.

**This error only occurs once after that it works perfectly(after hard refresh it works perfectly fine)**

`Failed to load resource: the server responded with a status of 504 (Gateway Timeout) fil

[2022-06-30 15:06] ggetz commented on #10451
@emperorOfBug I'm still having difficulty reproducing the issue. Here is [my example](https://sandcastle.cesium.com/#c=dVFha8IwEP0rRz/V2aV1TnRaZaAbFDYdKMKgIGl71rA0KUmqOPG/L7UMxuby4bi7vPfuXpJKoQ3sGR5QwRgEHmCKmlUFWV96buykl3oqhaFMoIqd1igWsdhKBS5HAwzGwcjGEO6COmm3W3CqEY0qQWGYYagJzTL3BKXUtpRi+D1oSpWxGRVdslWymGGuELV72++R3kO/34c2vFKzI4qKTBZuC27sMB86QeDBfUCC7mDQ/R/T8iBhnCeSqmwIJ2AFzXEIsUOIf8m13+yxeZG53Mg9K

[2022-06-30 15:13] ggetz commented on #9939
Hi @kimarneboska, no updates yet but this site is on the radar for our data team.

I'm actually going to close this issue since we have an internal data ticket written up, and this is outside of the scope of the CesiumJS library itself.

Keep an eye on the [blog](https://cesium.com/blog) and [forum](https://community.cesium.com) as we'd make an announcement to highlight terrain data updates. Thank

[2022-06-30 15:27] ggetz commented on #10185
Thanks for the interest in contributing @yonzmeer. That should be fine so long as the default behavior remains the same when this option is not provided.

[2022-06-30 15:29] ggetz commented on #4989
Hi @indeexx, we don't have any immediate plans to start work on this. We'll likely update this issue when we do. Let us know if you have any thoughts or questions regarding the implementation in the meantime. Thanks!

[2022-06-30 18:56] j9liu commented on #10346
Going through the glTF 2.0 sample models, leaving notes where I see differences:

**Attenuation Test**

The cubes are colored blue in glTF-Sample-Viewer, but not for `ModelExperimental`.

| glTF-Sample-Viewer | `ModelExperimental` |
| ---------------------- | ----------------------- |
| ![image](https://user-images.githubusercontent.com/32226860/176755735-14839e79-0860-4c8e-a747-9ecad94a0e0d.png)

[2022-07-01 02:01] emperorOfBug commented on #10451
@ggetz Your Example is great.
Microsoft Edge  Version: 103.0.1264.37 (x64)
NVIDIA GeForce GTX 1050 Ti  Version: 31.0.15.1640
Windows10 Version: 19044.1566
![1](https://user-images.githubusercontent.com/59389280/176808544-aa75df74-a194-448f-844f-28c2b06d2a87.jpg)

![企业微信截图_16566397419828](https://user-images.githubusercontent.com/59389280/176807008-11f49c11-f4de-487b-93b2-0c8808a80cd5.png)

[2022-07-01 02:13] emperorOfBug commented on #10451
@ggetz Please try moving with the middle mouse button

[2022-07-01 06:54] jiangheng90 opened #10502 "Enable SharedArrayBuffer in Cesium TaskProcessorWorker Evironment"
In Cesium TaskProcessorWorker Evironment，```SharedArrayBuffer``` is undefined in ```DedicatedWorkerGlobalScope```. but it works fine in original web worker. so how can I use it in TaskProcessor's Worker?
My Cesium version is 1.92 I checked cesiumWorkerBootstrapper,and did not find a way to use  ```SharedArrayBuffer```

[2022-07-01 07:33] zhangiser opened #10503 "What are the rules of the metadata extension in terrain"
Hi there! I'm new to cesium,and i'm using Cesium World Terrain provided by ion,of cause it's contains water mask and metadata,and there has a function createQuantizedMeshTerrainData in CesiumTerrainProvider.js.When QuantizedMeshExtensionIds is 4,it means metadata,so create a Quadtree.So what's the rules of the metadata extension in terrain?

I only know some that:
terrain is tms standard service.

[2022-07-01 10:19] Sugarlust commented on #10349
I've made the necessary changes but I need some help with the test case as I'm new to this.

[2022-07-01 13:02] ggetz commented on #10503
Hi @zhangiser, Cesium World Terrain is [quantized mesh format](https://github.com/CesiumGS/quantized-mesh). That link contains an explanation of the format and how metadata works.

Cesium is a big project, so we use GitHub for feature requests and bug tracking exclusively. If you have any further questions, I would ask that you take this to the [Cesium Forum](https://community.cesium.com/) where t

[2022-07-01 13:02] #10503 closed

[2022-07-01 13:26] ggetz commented on #10502
HI @jiangheng90, there are [some additional security requirements](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/SharedArrayBuffer#security_requirements) that need to be met in order to use shared memory. Could you provide some additional context around what you're running using the TaskPorcessorWorker? Maybe a code example?

Also, Cesium is a big project, so we

[2022-07-01 13:39] ggetz commented on #10499
Hi @Saumya-NebCodes, that [504 error](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/504) usually indicates something is going wrong on the server. Perhaps something is going wrong when serving any static files on a repeated request?

This doesn't appear to be Cesium specific, so I'll close this issue.

[2022-07-01 13:39] #10499 closed

[2022-07-01 21:03] ptrgags commented on #10452
Update:

1. My past comment was incorrect, I had forgotten to set the `enableModelExperimental` flag in my local Sandcastle :sweat_smile:. The good news is it renders correctly! [Local Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=jVZtUyI5EP4rKa5qa6jCwIAvLKvWueju4i1o6Wgpy5YXZnogkpnMJRkErvzv15kXQN217oND0t1PvzzpdKzXyVfFYkO6oHkanV8T5vugNTGSLGWqCJcxYVqD0aM4t6E9GdMAQpYKc5IZe3IGMTkiowos

[2022-07-02 02:37] zhangiser commented on #10503
Thanks, i saw this page many times but cannot got anything useful else.

[2022-07-02 21:37] jdfwarrior commented on #10308
1. Something like monaco editor for writing code in the sandcastle
2. Better layout for looking through demos. Smaller image, with descriptions and tags/keywords for searching them?
3. Search/filter for demos

[2022-07-04 00:29] jiangheng90 commented on #10502
@ggetz  thanks！I found I have igonred set to cross-origin isolate in my  context. When I finish this I will make a code sample in sandcastle to share it to Cesium Forum

[2022-07-04 02:41] bbbbx opened #10508 "[Suggestion]"
https://github.com/CesiumGS/cesium/pull/10130 introduces some new functions,  but `OrientedBoundingBox.fromTransformation` confuses me, I think without half scale is better.

Sandcastle example:

Browser:

Operating System:

[2022-07-05 03:20] JiaoJianing opened #10509 "Incorrect Rectangle Outline Rendering"
Sandcastle example: [live demo](https://sandcastle.cesium.com/#c=1VjNbhs3EH4VQr2sEIFa2bEdy4pb1zbaAKldKIpz8BoBvcuViFKkwuXKlgO9QJ+ml576PAX6GB1yl6v9k5UiaIH6spohv+FwZvgN6VCKRKMlow9UoddI0Ad0ThOWzvGN1XlBJ7TyuRSaMEFV0Omhz4HQVCmQf1ZyySKqhmVo9plUZ3gAQihVfIiCzkzrRTLs9yOiCZ4TlUxZgkPRz60GnUCsu71AhLAqfdTXC83A0SGyNvp9RT+lNNEf6P2U7w2RVikFgBkzf+vuSSCcEKciNGBEomhMQ+3JhU66xlBot65Adyk006vq9jNd5rQgczp0AxGNScr1DeEptca

[2022-07-05 08:45] cmcleese opened #10510 "Big performance drop from v1.93 onward"
Sandcastle example:
[CodeSandbox Cesium v1.92](https://codesandbox.io/s/test-quasar-vue3-cesium-v1-92-0-e786s4?file=/src/pages/Index.vue)
[CodeSandbox Cesium v.193](https://codesandbox.io/s/test-quasar-vue3-cesium-v1-93-0-40p6zp?file=/src/pages/Index.vue)

Browser: Chrome 103.0.5060.66

Operating System: Win10

**Important:** Open codeSanbox link and select the `open in new window` button in the t

[2022-07-05 09:07] cmcleese commented on #10510
My initial observations is pointing to with the changes/additions in v1.93 of Improved rendering of ground and sky atmosphere. https://github.com/CesiumGS/cesium/pull/10063

[2022-07-05 13:08] #10502 closed

[2022-07-05 16:48] ggetz commented on #10498
@thw0rted Is it possible this a result of changes in https://github.com/CesiumGS/cesium/pull/10292/files#diff-a9a8f45d6459765c5f8afd93ee5a0674bab202cb0d5111d23b18adb13de351d3R123?

[2022-07-05 17:44] ptrgags commented on #9887
@jjhembd I feel a bit undecided here, but leaning towards the second option since it keeps the basic value access simple (`vsInput.metadata.propertyName`) rather than nesting it deeper in `.value`. Though it perhaps is a bit weird to keep one value separate from the rest of the struct.

Side note, overall this input struct feels like it is getting cumbersome to work with given how long the names b

[2022-07-05 18:24] sanjeetsuhag opened #10512 "Remove TileProviderError.handleError and TileProviderError.handleSuccess"
https://github.com/CesiumGS/cesium/pull/10496#discussion_r914076148 deprecates `TileProviderError.handleError` and `TileProviderError.handleSuccess` in favor of  `TileProviderError.reportError` and `TileProviderError.reportSucess`. These should be removed in 1.97.

[2022-07-05 18:50] cmcleese commented on #10510
https://webglreport.com/ results:

![image](https://user-images.githubusercontent.com/2061466/177395349-3a4c01b8-61f0-4063-a3c8-b6bdaadded2b.png)
![image](https://user-images.githubusercontent.com/2061466/177395554-7c49b471-acfc-42ae-bf81-4cb2226834a2.png)

[2022-07-05 18:53] sanjeetsuhag opened #10513 "PolygonPipeline eliminate holes specs fail"
On testing `main` from https://github.com/CesiumGS/cesium/commit/e6b37c16dcb6d73539b0a65052d9537e77025c2b on Chrome and Firefox on macOS and Windows, the following specs are failing:

- [`Core/PolygonPipeline/eliminates holes`](http://localhost:8080/Specs/SpecRunner.html?category=none&spec=Core%2FPolygonPipeline%20triangulate%20eliminates%20holes)
- [`Core/PolygonPipeline/eliminates multiple holes

[2022-07-05 22:34] jjhembd commented on #10486
Here's another pattern that appears frequently in our code:
[code]
This pattern loops unnecessarily over inherited properties.

We could now use the ES8 method [Object.values](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_objects/Object/values), which only returns 'own' properties), and skip the call to `.hasOwnProperty()`:
[code]
If the property names are also needed, w

[2022-07-06 00:25] jiangheng90 commented on #10502
@ggetz there are little changes in Cesium Source when I put cesium to cross-origin isolate environment，Do I need to make a pull request to show you？

[2022-07-06 07:13] lanvada opened #10516 "The model compressed with draco cannot be displayed in cesium without any error message"
I use **[gltf-pipeline](https://github.com/CesiumGS/gltf-pipeline)** to compress the model. however, the compressed model cannot be displayed in cesium.
this is the input parameter :
`gltf-pipeline -i {input} -o {output} -d --draco.compressionLevel=7 --draco.quantizePositionBits=20`
I also tested the model in [gltf-viewer](https://gltf-viewer.donmccurdy.com/) and it loads correctly in the gltf-vie

[2022-07-06 10:10] zouyaoji opened #10517 "viewer.zoomTo rectangle failed"
Sandcastle example:

https://sandcastle.cesium.com/#c=bVJNbxoxEP0ro73EKxFv0ooeEkBVSG+VWpUoh3aryNjDYsXYyB6DSMV/rxfY7C7Bpxm/efP1psxiQAjktaQyuy8tnF5RzIRVUgQy+PKAlbYtJp0NBBuNW/QwBotbmGLQccWfD3+szOTBnzpLQlv0ZZbfn/OVIBFc9BL7OaYxkFs9JnR2QNkVYaCrvOUfK3P1HhK4UIq1CXNOS7RMBRhP4F9LBFCBoyVN+sTpgQAeJQlbGbyDM6Tu2nmlrUjd3PX6FcbMhXz96d0aPe0Yyz+UbbJT9Lbh/Wpq8YVP82LlEQO7/nLDhwP4/GkA18PaGObnifYDWAgT8AzYd919B+zaPVm/Wd

[2022-07-06 16:49] ptrgags commented on #10113
I did some digging today and found that the model _is_ rendering correctly based on PBR works.

If the specular value is high, then the reflections tend to overwhelm the diffuse color. By default, the glTF spec requires `baseColor`, `metallic`, and `roughness` to all be 1.0 (which corresponds to `diffuse = 0.0, specular = vec3(1.0), roughness = 1.0`. Since the Sandcastle in the description only ch

[2022-07-06 16:49] #10113 closed

[2022-07-06 17:53] ptrgags commented on #9887
Just jotting down one note from a conversation with @jjhembd, instead of nesting the statistics inside the `MetadataClassInfo` struct, maybe there could be a separate `MetadataStatistics` struct so it would be `fsInput.metadataStatistics.propertyName.min`? this would save a level of nesting.

Less nesting is better not just for ergonomics for the user, but also makes the GLSL code generation easie

[2022-07-06 19:54] ggetz commented on #10516
@lilleyse Would you be able to take a look at this, or recommend someone else to look into what may be causing this?

If this is strictly an issue with gltf-pipeline or the draco module, we sure ensure the issue is in the right place.

[2022-07-06 19:56] lilleyse commented on #10516
@ptrgags or @j9liu could you check if this is fixed in ModelExperimental?

[2022-07-06 20:02] j9liu commented on #10516
@lilleyse No, this isn't fixed in `ModelExperimental`. The raw model shows up, but not the draco-compressed one.

[2022-07-06 20:06] lilleyse commented on #10516
I'm going to close since this is a duplicate of https://github.com/CesiumGS/cesium/issues/7471.

[2022-07-06 20:06] #10516 closed, assigned to nobody

[2022-07-06 20:14] yonzmeer commented on #10185
Opened one. Would love some help with it, especially with my naming.

[2022-07-07 16:45] sanjeetsuhag commented on #10510
I just tested on a device with a similar GPU and there is a performance hit: 54 FPS to 46 FPS average on a 1080p globe

![image](https://user-images.githubusercontent.com/5172619/177826854-b1871545-e45c-4870-85a0-b581781aa2be.png)

[2022-07-07 16:47] sanjeetsuhag commented on #10510
There is more computation involved in the new atmosphere shader since it's a more physically accurate version. One option may be to expose the ray sampling numbers in the public API, allowing users to reduce the number, if needed, to help performance.

[2022-07-07 17:50] ptrgags commented on #6506
The implementation for this will be quite similar to what I did for outlines in #10506. This can be done by:

* Create a class (perhaps `FlatNormalGenerator`) that takes typed arrays for indices/attributes and generates the flat normal attribute. Vertices will need to be duplicated in most cases since the normal is different for each adjacent face. See `PrimitiveOutlineGenerator` for an example of

[2022-07-07 20:20] #10452 closed

[2022-07-07 20:24] j9liu commented on #10452
Hi @chenxx08,

We just merged #10506 into main, so this bug shouldn't appear while using outlines in `ModelExperimental`. Let us know if any other rendering errors come up!

[2022-07-07 20:31] ptrgags commented on #10338
Now that #10506 is merged, I'm closing this too. Here's a screenshot from the current `main`:

![image](https://user-images.githubusercontent.com/8422414/177865959-ff88db29-5ea1-4408-b320-057786bc78c2.png)

[2022-07-07 20:31] #10338 closed

[2022-07-08 11:35] AndresPozo opened #10522 "Billboard.scaleByDistance does not scale linearly"
Using the property Billboard.scaleByDistance I have seen a strange behaviour: the size of the billboard should change linearly with the distance to the camera between the near and far distances, but the size change does not seem to be linear.

This is implemented in the function czm_nearFarScalar at Shaders\Builtin\Functions\nearFarScalar.glsl. In this function the returned value is calculated as

[2022-07-08 11:48] AndresPozo commented on #10522
For testing the current state you can use this code in Sandcastle:
[code]
The near value is set to 16 at 100m and the far value is set to 0.5 at 100km. I would expect that the size of the billboard would smoothly change from x0.5 to x16 when zooming from a distance of 100km to 100m. However the size change is not linear and it seems to be mostly done in the middle of the distance range. When zoomi

[2022-07-08 18:01] ggetz commented on #9134
Fixed in https://github.com/CesiumGS/cesium/pull/10518

[2022-07-08 19:31] #10441 closed

[2022-07-08 20:05] j9liu opened #10527 "Cesium Inspector breaks if you load in a different tileset"
Sandcastle: [development/Many Clipping Planes](http://localhost:8080/Apps/Sandcastle/index.html?src=development%2FMany%20Clipping%20Planes.html&label=Development)

1. Load in either the `b3dm` or `i3dm` tileset first. Should be able to toggle options under "Display" (e.g. "Colorize" and "Wireframe) without any problem for that tileset
2. Load in the other of the two tilesets. Now the inspector opt

[2022-07-08 20:26] ptrgags opened #10529 "debug wireframe index overflow in `ModelExperimental`"
in [This Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=dVLBbtswDP0VwicHcOWk7VY0dYOh6W4rMmzFevFFkeiYmCwZlOwsG/rvle216Nb0JpLvPT6SUs76AD3hHhmuweIe1uipa8SPMZeWiRrjtbNBkkUukwz+lBYgIHPMfGXXk0ZePhMVowz44Njo+wmSzrLSPs6uSlvaqZXwCi2KlqmhQD16IbVO/xHY+OamI6PJ7nw6NkQrtwZvcdvtHoixYtngEgJ3mA1l/V5h4t05jebzrxZjT4yzmFcIX7v9pgsmzreEShqPg98jhlVUZikqc7h3kymNPpCVgZx92cBacogvac9Exa65xR0j+vTk4lzMF5cZnM/F

[2022-07-11 13:41] ggetz opened #10531 "Use https for local development"
There are certain newer browser features that will not work using http and require https instead. Moving to https/2 may also give us a performance benefit when developing locally.

[2022-07-11 18:55] lilleyse opened #10533 "Alpha mask + translucent feature not working"
This is a `ModelExperimental` bug

Background: When a feature in a primitive become translucent we generate an opaque command and a translucent command. `CPUStylingPipelineStage` is responsible for rendering only opaque features in the opaque command and only translucent features in the translucent command.

The problem is that `renderResources.alphaOptions.alphaMode` is set to `AlphaMode.BLEND` a

[2022-07-11 19:04] ptrgags opened #10534 "Transcode .pnts batch table as property attributes, not a property table"
Right now, `PntsLoader` uses the same `parseBatchTable()` function that `B3dmLoader` and `I3dmLoader` use, which parses the metadata as a `PropertyTable`. Given our current picking/styling infrastructure, this doesn't scale well enough for large point clouds (see also #10025).

The old point cloud implementation only handled metadata on the GPU as attributes. We could do the same by using the conc

[2022-07-11 19:44] j9liu opened #10535 "Handle `skipLevelOfDetail` and backface commands in `ModelFeatureTable`"
`Cesium3DTileBatchTable` has code for handling `tileset._skipLevelOfDetail`, which determines whether backface commands are generated for tiles in the tileset. The equivalent class in `ModelExperimental` `ModelFeatureTable`, does not handle this yet.

When done, this should be tested by the "create duplicate backface commands" test in `Cesium3DTilesetSpec`

[2022-07-11 20:03] ptrgags commented on #10531
Just a note, if we do something like this, it might be a good idea to document some tips for serving static files locally over HTTPS, since the browser complains when you mix HTTPS and HTTP.

Why? I find it useful to host my local tilesets/glTF models from a separate static server (to avoid accidentally committing large files, and because I have multiple clones of `cesium` for my work + reviewing

[2022-07-11 20:55] j9liu opened #10536 "Refactor `ModelExperimentalStatistics`"
In #10530 two unit tests in `Cesium3DTilesetSpec` broke after using `ModelExperimental` to load tilesets:

- "verify memory usage statistics"
- "verify memory usage statistics for shared resources"

The first one happens because `PrimitiveStatisticsPipelineStage` counts the bytelength of the feature tables before the `batchTextures` are done loading. The pipeline is never rerun after they load in,

[2022-07-12 01:03] zouyaoji commented on #10517
@ggetz
Is there any follow-up?

[2022-07-12 13:01] ggetz commented on #10517
@zouyaoji I'm planning to take a look this week and will let you know what I find.

[2022-07-12 19:07] #10222 closed

[2022-07-13 05:05] edeles-navagis opened #10542 "GridMaterial for 2D Ellipsoid has weird line rendered"
Sandcastle example:  https://sandcastle.cesium.com/#c=dVLBbtswDP0VwicH8OS4LXZw3aCJGwzDUqxAup18UWymESqLhiQnSIf8+yQ3qZvW5UEQyfceSYklKWNhK3CHGm5A4Q5yNKKt2d8uFhZB2fk5KcuFQl0Eo+tCFarsmCvZ4lxK0RgSlRN4VWKorLACDeNVFf4rFIDiNaZQBDNHADwxiiDyyYaMg5NKT8Vzrq27cXXJ1prqO3zSiCb8liRXbBzB1difl2NvbDzqNN40U+gKAmheCZG+n6mXDS+O5Aj627kgQM0tasHlmcYPLar7Y+JBU4Pa7sNjxXMrSZLuR/Iemy3+zKNBsOt/KpsNT8F1ME4GQdJ9QE6tssNTXYTJ9wiS0Z

[2022-07-13 10:43] jiangheng90 opened #10543 "Trim subtree of 3dtiles"
When I load large scale of 3dtiles, the memory used by tileset will be bigger and bigger, cesium will release content, but cannot release the tree node. When I load tileset which have about 70Gb size and about 2 million tile will finally cause chrome out of memory and shut down.
Do I have a proper way to trim tileset?

[2022-07-13 11:37] CodeBoySun opened #10544 "why cesium load gltf so slowly?"
I use api load about 40 gltf files in cesium and three.js ,cesium use about 30s,but three.js just 5s.Now we use cesium for our product,This problem  influence our product, Could someone help me find some way resolve it?

[2022-07-13 13:13] ggetz commented on #10543
Hi @jiangheng90, how was your tileset generated? And would you be able to provide a link to it for testing?

[2022-07-13 13:37] CodeBoySun commented on #10544
Hi @ggetz Thanks for your reply.  The code is like following ,just use entity to create gltf model
resp.forEach((item)=>{
      viewer.entities.add({
        orientation: Cesium.Transforms.headingPitchRollQuaternion(Cesium.Cartesian3.fromDegrees(Number(LONLAT.longitude), Number(LONLAT.latitude), 0), headingPitchRoll),
        position: window.$DK.Cesium.Cartesian3.fromDegrees(
          LONLAT.lon

[2022-07-13 13:53] sanjeetsuhag opened #10546 "Remove usage of defer from Resource.js"
See https://github.com/CesiumGS/cesium/issues/10178 for previous discussion.

`Resource.js` is a monolith that use the defer pattern quite a lot and it should be refactored out with proper promise chaining.

[2022-07-13 13:54] sanjeetsuhag commented on #10178
@ggetz 3 areas remain:

- `Resource.js` and everything related to that.
- `TaskProcessor.js` - being addressed here: https://github.com/CesiumGS/cesium/pull/10545#pullrequestreview-1037388266
- `DeferredLoading` in `KmlDataSource` - not sure if worth doing right now, that entire system could probably be reworked. I'll open a separate issue for that too.

[2022-07-13 13:54] #10178 closed, assigned to sanjeetsuhag

[2022-07-13 13:54] sanjeetsuhag opened #10547 "Remove usage of defer from KmlDataSource.js"
See https://github.com/CesiumGS/cesium/issues/10178 for previous discussion.

The `DeferredLoading` classes in `KmlDataSource` should be refactored to remove usage of defer.

[2022-07-13 14:10] j9liu commented on #10544
@CodeBoySun have you tried using `Model.fromGltf` (or `ModelExperimental.fromGltf`, which is a rewrite of `Model` that we plan to put into production by August) ? The Entity API has more indirection than the `Model` class, so perhaps using the class directly will perform better.

[2022-07-13 14:14] CodeBoySun commented on #10544
@j9liu Hi,Thanks for your advice.But I had used `Model.fromGltf` for gltf model.The drawing speed is the same。and we using cesium 1.72 .Not have 'ModelExperimental.fromGltf'

[2022-07-13 19:58] j9liu opened #10550 "Refactor `ModelExperimentalDrawCommand` to keep track of `ShaderBuilder`"
Currently `ModelExperimentalDrawCommand` is a wrapper for the `DrawCommand`(s) that draw the primitives of the model. In `buildDrawCommand`:
1. The shader programs are built by the shader builder
2. The initial `DrawCommand` is made from the various render settings
3. The `DrawCommand` is passed into a `ModelExperimentalDrawCommand` constructor; any derived commands are created / managed by that c

[2022-07-13 21:47] j9liu opened #10551 ""renders implicit tileset with multiple contents" fails for `ModelExperimental`"
In `Cesium3DTileset`, the "renders implicit tileset with multiple contents" test and its legacy counterpart fail when using `ModelExperimental`. Tis is because the tileset is considered loaded / ready even though all of the contents have not finished loading -- that is, some of the models have `ready = false` when the unit test executes.

[2022-07-14 10:39] jiangheng90 commented on #10543
@ggetz I have seen assets of Photogrammetry in ION, the number of tiles are very small. memory usage of tileset is not big.So I think optimize data decrease tiles rather than trim tile in frontend may be a good idea .

[2022-07-14 10:39] #10543 closed

[2022-07-14 12:06] CodeBoySun commented on #10544
@ggetz  @j9liu I update version from 1.72 to 1.95.and Use ModelExperimental.fromGltf to load gltf.I find this api drawing is more slowly!

[2022-07-14 12:55] ggetz commented on #10544
@CodeBoySun Do you find this happens with _any_ glTF model, or just specifically your data? And how many are you typically trying to load?

[2022-07-14 12:56] ggetz commented on #10542
Thanks for the sandcastle example @edeles-navagis. I can replicate this in both 2D and Columbus view.

[2022-07-14 13:43] CodeBoySun commented on #10544
Yes,when model is little complex，like building ，I test about 40 gltfs.Cesium drawing model is very slow.but the same gltf model is in three.js is fast,This will cause users to want to completely change the platform. Because we don't have any reason for it,You can test it in cesium and three.js drawing gltf model.You will find different

[2022-07-14 13:53] j9liu commented on #10544
@CodeBoySun Is there any other information about your glTF that we should know? Does it have metadata, or a lot of nodes / primitives?

If you aren't able to share your data over Github, is there a model in [glTF Sample Models repo](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0) that is similar to your model, that we can use to compare performance? Or are your models more comp

[2022-07-14 14:40] CodeBoySun commented on #10544
Hi @j9liu  I find and test when single gltf model load is not obvious,But when load many gltfs,It will slow. I think if Rendering mechanism is not same as three.js.If cesium draw gltf is one by one and not async.I find three.js when drawing lots of gltf models are liking coming out at the same time.This will make people feel that the models come out one by one rather than at the same time and draw

[2022-07-14 17:58] ptrgags commented on #10551
#10540 disabled all the tests that use those same tilesets while we look into it.

[2022-07-14 22:49] jjhembd commented on #10486
A few more old polyfills that could be replaced:
- [requestAnimationFrame](https://cesium.com/learn/cesiumjs/ref-doc/global.html#requestAnimationFrame): replace with the [Web API method](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame)
- [cancelAnimationFrame](https://cesium.com/learn/cesiumjs/ref-doc/global.html#cancelAnimationFrame): replace with the [Web API method

[2022-07-15 13:48] angrycat9000 opened #10555 "camera.flyTo goes underground"
`camera.flyTo` ends up underground in a location where the globe does not have a height.

The expected result is that that camera flys to 100 meters above the ground at the given location and the vehicle is visible on the surface of the ground.

[Sandcastle example](https://sandcastle.cesium.com/#c=hVNdb9owFP0rVrSHIDFnDKoNGtAmkLqHrlQt614stca+BGuOjWyHilX89zk2MMKYeIl8zz33w8cnTCvr0FrAKxg0RApe0RisqEr8

[2022-07-15 14:00] mramato commented on #10555
Regarding:

[code]

It's correct behavior that `terrainHeight` is undefined here because `globe.getHeight` only works with terrain tiles that are actually loaded and only suitable for querying data as-is on-screen.  You need to use the async `sampleTerrainMostDetailed` to get the true height of terrain at a location, which will definitely return a height.

I still think there is a bug here because

[2022-07-15 14:22] j9liu commented on #10551
#10557 -- same issue with tilesets using implicit multiple contents, with metadata

[2022-07-15 14:33] sanjeetsuhag opened #10559 "Fix tests with no expectations"
As of `https://github.com/CesiumGS/cesium/commit/9df6a6b914d240a9497ba276ccce63b173e2f867`, the tests in the `main` branch are broken down as follows:

[code]

There are 102 tests with no expectations. These should be looked into and then either updated or removed.

[2022-07-15 15:57] ggetz commented on #9685
That static entity is using `CLAMP_TO_GROUND`, which now has a more specific issue - https://github.com/CesiumGS/cesium/issues/10555

[2022-07-15 17:37] ptrgags commented on #10551
Update: @j9liu, @lilleyse and I have been looking into this a bit this morning and at least found a few leads:

* The failure seems easier to reproduce in Firefox than in Chrome.
* when the test fails, at least one of the `Multiple3DTileContents` is unable to immediately schedule requests due to throttling by `RequestScheduler` (limit is currently 6, and there are 9 contents in the tileset).
* in

[2022-07-15 17:55] ptrgags commented on #10551
Results from testing the `defer()` changes. I enabled ModelExperimental for `Cesium3DTileset` specs and put a breakpoint where the failure would happen. (all of this in Firefox)

Commit before the merge:
- I ran the tests 10 times (given that this error is sometimes hard to reproduce). I was not able to reproduce the error
Commit after the merge:
- On the first try, I was able to reproduce the err

[2022-07-15 20:59] ptrgags commented on #10551
Update: still struggling with this one. I see that my idea of using `initialize()` isn't necessarily a good idea (it would essentially be the same defer anti-pattern).

I do notice that there's a race condition between `tileset.allTilesLoaded` and when the tile state is set to READY, often the `allTilesLoaded` event triggers first, regardless of Model vs ModelExperimental, defer or no defer. Not s

[2022-07-17 13:53] javagl commented on #10555
<sup>I'm occasionally thinking "Well, athough I'm not familar with CesiumJS, I'll have a look at this bug - it cannot be so hard..." (and I'm  regularly proven wrong...). But even at the risk of distracting others from the _actual_ cause here, two observations:</sup>

When enabling
`Cesium.ExperimentalFeatures.enableModelExperimental = true;`
in the last sandcastle, then clicking the "FlyTo Model"

[2022-07-18 02:04] gisergit opened #10561 "How to clear entity containing the extrudedlight: new Cesium.CallbackProperty attribute"
I use entity's _extrudedheight: new Cesium.CallbackProperty_ attribute to simulate the flooding effect, but after implementing entity's removal method, the flooded part still exists on the map.

Please give me some suggestions on how to remove it.
Thanks.

`
let entity =  this._drawLayer.entities.add({

    polygon : {
    	hierarchy : new Cesium.PolygonHierarchy(Cesium.Cartesian3.fromDegreesArray

[2022-07-18 12:52] lilleyse commented on #10555
@javagl are you on a commit pre-https://github.com/CesiumGS/cesium/pull/10395? @j9liu might have more background here.

[2022-07-18 13:29] ggetz commented on #10561
I'm not sure how you are removing the entity. Would you be able to provide a [sandcastle example](https://sandcastle.cesium.com/) which shows the problem?

[2022-07-18 14:13] j9liu commented on #10555
I'll look into this later today. It's strange that `ModelExperimental` doesn't seem to be accounting for `heightReference` at all; the model stays underground the entire time.

[2022-07-18 15:11] jjhembd opened #10562 "Document context options for Scene and Viewer"
The [Cesium.Scene](https://cesium.com/learn/cesiumjs/ref-doc/Scene.html) constructor inputs an options object which includes a `contextOptions` property. This property points to an object with many nested properties, a few of which are hand-documented in the main docstring for `Scene`. Some options such as `options.contextOptions.requestWebgl2` are not documented at all.

It would be better to doc

[2022-07-18 15:51] mramato commented on #10555
I labeled this next release, since ModelExperimental seems to add an additional regression on top of the existing problem.

[2022-07-18 17:49] adamdva commented on #7758
Up vote this, since there doesn't appear to be any news.

I'm using cesium/resium in react with multiple CzmlDataSource, and it crashes when I go to another page of my app, the app crashes.

[2022-07-18 21:07] j9liu commented on #10555
I confirmed that `heightReference` works when directly passed into `ModelExperimental` via #10448 (local Sandcastle for proof). It works for the ["Clamp to Terrain" sandcastle](https://sandcastle.cesium.com/#c=7Vrrc9q6Ev9XdPPJTKnwE5s07VyS0J7MIZAhnHY6pdMxWIBujcVIImnayf9+V36AX+TRXs49H9rpBCztSqvV7m8f5owIulnh3rc14XRFIumHb4kvN5wITCJ/GpJLFpAwP49eI8k35NUkmrFISHRDyS3hMBqRW3SWrPc+HtMmR7P4+YwBI40Inxw10Y9JhJ

[2022-07-18 21:57] j9liu opened #10563 "`Cesium3DTileset` won't apply style if `show = false`"
Found this while writing unit tests for #10560. `Cesium3DTilesTester.expectRender` and `expectRenderBlank` set `tileset.show = false` first to confirm  the tileset won't render, then does `tileset.show = true` to proceed with the test. The problem is, if`tileset.style` is set while `tileset.show` is false, the style will never actually get applied to the tileset's content. (I put a breakpoint in t

[2022-07-19 00:55] gisergit commented on #10561
Thank you. It's my problem. After testing, it was solved.

[2022-07-19 00:55] #10561 closed

[2022-07-19 03:54] sanjeetsuhag commented on #10173
Not 100% sure but it seems like the relevant issue in the package repo is https://github.com/protobufjs/protobuf.js/issues/1332

[2022-07-19 06:57] mylove10086 opened #10565 "Running index.html in the app, net::ERR_ABORTED 404 (Not Found)"
After I npm run release, the browser prompts an error http://localhost:63342/cesium/Source/ThirdParty/when.js net::ERR_ABORTED 404 (Not Found) when I open app/CesiumViewer/index.html. cesium does not start. Is it a problem with the new version getting when.js?

[2022-07-19 07:08] #10565 closed

[2022-07-19 12:47] onsummer commented on #10544
你可以设断点看看触发执行 executeCommands 函数时，frameState 对象上有多少个 DrawCommand，CesiumJS 的 DrawCommand 和 ThreeJS 设计优化专注点是不太一样的。DC 的数量和 glTF 的总 Primitive 对象是高度关联的，你可以检查一下你的数据

[2022-07-19 14:31] #10534 closed

[2022-07-19 15:06] ptrgags commented on #10551
Trying it more, I can reproduce the problem just by running a single failing test, but it doesn't happen every single time

(and even when running all three failing tests together, sometimes only one or two of them fail).

So clearly the throttling is causing some sort of race condition. And from my testing the other day, it seems like the removal of `defer()` is relevant (either it caused the rac

[2022-07-19 16:16] ggetz commented on #10555
@lilleyse Does it make sense to address both the model experimental "regression" and the underlying problem at the same time, or are these two distinct problems?

[2022-07-19 18:05] ptrgags commented on #10551
Update: logging select rendering statistics to the console, I'm definitely noticing that sometimes the 3 variables that affect `tilesLoaded` (numberOfPendingRequests, numberOfTilesProcessing, numberOfAttemptedRequest) hit 0 before all the contents are ready.

At least one case I saw the number of pending requests increase after the `tilesLoaded` event happened, even though the number of attempted

[2022-07-19 18:11] lilleyse commented on #10555
@j9liu is going to open a PR with the fix mentioned above so that `ModelExperimental` behaves like `Model`, but there's still a separate underlying issue.

[2022-07-19 18:13] jjhembd opened #10566 "Add async constructor for Materials with image textures"
A [Material](https://cesium.com/learn/cesiumjs/ref-doc/Material.html) instance currently gives no indication of whether its textures are loaded or not. This makes unit testing difficult.

For example, the following test will fail since the image is not loaded before the scene renders:
[code]

Some [current tests](https://github.com/CesiumGS/cesium/blob/dc28421ff2f52871629299d00f310ee796f63833/Spec

[2022-07-19 18:58] #10373 closed

[2022-07-19 18:58] #10400 closed

[2022-07-19 18:58] #6464 closed

[2022-07-19 18:58] #6993 closed

[2022-07-19 18:58] #7669 closed

[2022-07-19 18:58] #8245 closed

[2022-07-19 18:58] #9388 closed

[2022-07-19 18:58] #9906 closed

[2022-07-19 20:05] ggetz opened #10568 "Refactor "Source/ThirdParty" imports"
Modules which are simply imported and exported in [`Source/ThirdParty`](https://github.com/CesiumGS/cesium/tree/main/Source/ThirdParty) are not strictly needed now that we no longer need to package them ahead of time for development, and most likely should not be exported from `Cesium.js`.

They should be removed, and anywhere in the code which relies on these files should instead require the node

[2022-07-19 21:09] j9liu commented on #10555
I opened #10571 -- the camera is still bugged, but at least it behaves the same with `ModelExperimental` and `Model` now.

[2022-07-20 05:22] CodeBoySun commented on #10544
你好，谢谢你的回答,我想问下如果专注点不一样的话，cesium能否像three.js一样渲染提升，或者有什么好的api可供参考。现在感觉渲染模型这块的速度有点慢

[2022-07-20 06:59] onsummer commented on #10544
@CodeBoySun 唯一的办法是检查数据，以及运行时相关的 DC 数量。CesiumJS 与 ThreeJS 出发点不同是根本原因，毕竟 CesiumJS 要处理的情况复杂度远超 ThreeJS，性能提升只能从它的 Renderer 设计出发，而不是向 ThreeJS 趋同，趋同要花费的代价可能远超直接写 ThreeJS

[2022-07-20 15:36] #10551 closed

[2022-07-20 15:38] ptrgags opened #10572 "`CameraEventAggregator` tests failing in FireFox"
When I run unit tests locally in Firefox on Linux, a few tests seem to be failing. The computed position seems off by a fraction of a pixel:

![image](https://user-images.githubusercontent.com/8422414/180023541-4a134b49-7c71-462b-86ae-24c18e4084e9.png)

I don't have a screenshot, but I've also seen it fail a different way where positions were close, but with much less precision than the `1e-15` ep

[2022-07-20 20:51] #10536 closed

[2022-07-20 21:21] j9liu commented on #10285
I went through all of the sandcastles involving these changes. They all appear to work after #10530 was merged + subsequent PRs were merged to fix the bugs. I'm closing this issue now.

[2022-07-20 21:21] #10285 closed

[2022-07-20 22:29] TJPovey opened #10576 "Viewer.destroy not checking if ScreenSpaceEventHandler is defined"
Sandcastle example:
https://sandcastle.cesium.com/#c=hVA9a8MwEP0rhztYhiDTuY4ppIUOgQ6BTl4U6ZqKyJIrnRzc0v9eOUogoYFqu/dx7+mks4Fg1HhAD0uweIAVBh17/nbEWFfI47xyloS26LuieuhsZ7OHB+kR7WYQEp9HtPQirDIJVxjIu4llsXIy9onlnxH9tEGDkpxn5d1JlsPKiguljmvWOhCmNFZKo+W+XACrYNnCd2cBZCrtDHLjduyfGjo85QRUrJq7wOmzVwV/cstiUTSBJoPtrJvfo+4H5wmiN4zzmrAfjCAM9TbKPRKXIeSlAE19aW2UHkGr5Y3zgTQihMS8R2M2+gu7om3qpP9jNU4obXevI3ojpln2cd+uM8g

[2022-07-21 00:15] GAURAV1-ui commented on #9393
Hey @masterkai89 can I work on this issue?

[2022-07-21 12:54] ggetz commented on #10576
@TJPovey  Thanks for the report! Though I think there was an underlying assumption that the screenSpaceEventHandler wouldn't be destroyed separately, I don't see why a simple verification in the destroy method would hurt.

[2022-07-21 13:54] ptrgags commented on #10085
Had a (very rough) idea overnight after seeing some of the details in #10520 and #10569. Styling makes use of a `variableSubstitutionMap` that takes property names from the styles and translates them to some shader variable.

I wonder if it's possible for custom shaders to just use a flat list of properties in the `Metadata` struct (instead of nested structs) with unique names (generated automatic

[2022-07-21 15:50] #10533 closed

[2022-07-21 20:52] j9liu commented on #10046
@ptrgags can I close this now that #10560 is merged?

[2022-07-22 05:29] chris-cooper opened #10585 "tighter dependency versions or package lockfile?"
The loose versioning in `package.json` combined with a lack of lockfile can cause tricky to track down issues.  We recently had some specs start to fail in CI due to `zip.js` updating itself causing a failure due to the inclusion of `TransformStream`.

Have you considered either tightening the versions of dependencies or including a lockfile?

Our workaround: https://github.com/PropellerAero/cesiu

[2022-07-22 14:09] j9liu commented on #10280
Hi @Fivedogs,

I downloaded your data and tried to load the tileset with `enableModelExperimental: true`, and it seems to load now. Can you verify that it works for you?

[2022-07-22 14:09] #10563 closed

[2022-07-22 15:29] sanjeetsuhag commented on #10442
Source: https://deviceatlas.com/blog/most-used-smartphone-gpu

![image](https://user-images.githubusercontent.com/5172619/180472472-3c599af7-fb0b-4877-8715-973019de4fe6.jpeg)

From my limited testing so far, this issue affects devices with Adreno GPUs. PowerVR GPUs show up more often, in lower end devices.

[2022-07-22 18:46] jjhembd opened #10590 "Remove deprecated requestAnimationFrame polyfills in CesiumJS 1.99"
The old polyfills `requestAnimationFrame` and `cancelAnimationFrame` are no longer needed, as all browsers now implement these methods.

The polyfills were deprecated in CesiumJS 1.96, and all internal references were replaced by the native methods. See the following PR:
- https://github.com/CesiumGS/cesium/pull/10579

These polyfills should be removed in 1.99.

[2022-07-22 18:52] #10313 closed

[2022-07-23 00:25] jjhembd commented on #9887
#10520 brought properties from the metadata [Class Property](https://github.com/CesiumGS/3d-tiles/blob/draft-1.1/specification/schema/Schema/class.property.schema.json#L121-L141) into the shader.

The next step is to bring in [Property Statistics](https://github.com/CesiumGS/3d-tiles/blob/draft-1.1/specification/schema/Statistics/statistics.class.property.schema.json). In some ways, this is concep

[2022-07-23 00:29] jjhembd commented on #9887
@ptrgags, can you point me to where I can find answers to these 2 questions?

1. Where can I retrieve values for Property Statistics?
2. What does this phrase mean, in the spec for `occurrences`?
[code]
Do we have enums with array values?

[2022-07-23 08:09] Lighfer commented on #2310
Are there any solution ideas? I am experiencing a particularly low performance problem in the 2000 paths, and the performance problem is also caused by the PathVisualizer.
I'm not familiar with the cesium source code yet, but if there are any ideas, I am willing to implement it to see if I can solve the problem.

[2022-07-23 12:35] Lighfer commented on #2310
Are there any solution ideas? I am experiencing a particularly low performance problem in the 2000 paths, and the performance problem is also caused by the PathVisualizer.
I'm not familiar with the cesium source code yet, but if there are any ideas, I am willing to implement it to see if I can solve the problem.

[2022-07-23 20:52] javagl commented on #10544
因此，让我们来试试 google translate 处理这个问题的能力：

有许多自由度可能会影响加载时间。我刚刚在 https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/ToyCar 上使用模型进行了尝试。该型号有 5.8MB。我已经从本地服务器加载了这个模型的 40 个实例。加载它们只需要 3.6 秒。 5秒后它们出现在屏幕上。

您的 GLB 文件有多大？
它们是否包含大纹理或大量几何图形？ （有多少个三角形或顶点？）

[2022-07-25 09:13] CodeBoySun commented on #10544
你好！这个小车可能模型复杂度不高，你可以测试一下管道模型，就是有很多个面组成的，cesium加载管道的时候，加载速度也比较慢并且浏览器会崩溃

[2022-07-25 10:57] engineerhe opened #10592 "when i use cesium customshader in tileset,the tileset can not show all"
when i use cesium customshader in tileset,the tileset can not show all.
The normal situation as shown below,
![image](https://user-images.githubusercontent.com/39166385/180760648-e1f0e332-03a7-4537-ab87-58b198e6fe1f.png)
but when i  enable ModelExperimental ,the result become that shown bellow,
![image](https://user-images.githubusercontent.com/39166385/180761351-ba7f6af8-570e-412e-a603-40405140e1

[2022-07-25 13:53] j9liu commented on #10592
Hi @engineerhe,

I tried your Custom Shader on one of our tilesets and [it seems to work fine](https://sandcastle.cesium.com/#c=bVRrb9owFP0rFvuSSmDyogmMVpvaTkNa16pFkyZFWk1yoVYdO7IdSlvx33eTkDYUkMD2fZ3rc4+5AMPLnF5tCtA8B2mZ+AHMlhoMBckWAq5VBqLrJ2fE6hK+JjKRqZLGkjWHZ9Bol/BMLpqKf2qbk/TS+nyhMJVL0EnvpJNpuQADdj+1WYLLeeN03hJJSKnFpA2YKXkHRpU6BbrUKv9uMGyWOdEoCIOTfhWelsaq/P6RZaAne8U7jqYyIUvNVtXdGuscNnZCHhoXIWvF

[2022-07-25 14:42] StevenPG commented on #7735
This is now an issue again, I believe because there was a switch to Promises. The code included the issue no longer works.

[2022-07-25 16:09] ptrgags commented on #9887
1. Note that statistics only exist in `3DTILES_metadata` (the 3D Tiles extension), not the glTF extension. You can access it through `tileset.metadataExtension.statistics`, that just gives you an object that matches the [statistics schema](https://github.com/CesiumGS/3d-tiles/blob/main/extensions/3DTILES_metadata/schema/statistics.schema.json)
2. This is the number of occurrences for enum values,

[2022-07-25 16:56] lilleyse commented on #9887
Statistics also exist for 3D Tiles 1.1. @ptrgags is the API the same for both?

[2022-07-25 17:02] ptrgags commented on #9887
Ah yes, sorry for the confusion. Yes, `metadataExtension` has the same API for both `3DTILES_metadata` and 3D Tiles 1.1 (both are parsed in `processMetadataExtension()` in `Cesium3DTileset`

[2022-07-25 21:00] #10046 closed

[2022-07-25 21:24] javagl commented on #10544
不知道你指的是哪个型号。 （翻译为 “pipeline”）

这个模型有多大？它是否包含大纹理，或许多顶点和三角形？

[2022-07-25 22:53] jjhembd commented on #9887
Thanks @ptrgags! So if I understand you correctly, the glTF files we are currently using in `MetadataPipelineStage` spec will not have statistics. I will need to:
1. Add a test loading a tileset in `MetadataPipelineStageSpec`
2. Make `metadataStatistics` struct construction contingent on the presence of statistics in the input

[2022-07-25 23:06] jjhembd commented on #9887
I'm still trying to trace back the link between `renderResources.model` in `MetadataPipelineStage` and the `tileset.metadataExtension`.

[2022-07-26 02:23] CodeBoySun commented on #10544
就是那些所有的管道或者水管。

是的，管道的面比较多，包含很多面和三角形

[2022-07-26 02:37] engineerhe commented on #10592
@j9liu thanks !
the tileset' url is "http://202.96.98.106:9627/ygkj/tileset.json"

[2022-07-26 05:42] blueRaining opened #10596 "czm_selected bug in ModelExperimental"
when i use  Model.fromGltf and i use  PostProcessStageComposite‘s selected to select model,the czm_selected is right,but when i use
ModelExperimental.fromGltf the result of czm_selected  is not right

[2022-07-26 13:26] ptrgags commented on #9887
@jjhembd There are some parent pointers that you can use to locate the tileset:

* `renderResources.model` is like a parent pointer that points upwards a few levels of abstraction to the `ModelExperimental` to which this primitive belongs
* `model.content` gives you a pointer to the `ModelExperimental3DTileContent`, but this is only defined for 3D Tiles (if this was an individual model loaded from

[2022-07-26 13:32] ptrgags commented on #9887
Also one thing to consider when implementing statistics (and this goes for anything else that comes from tileset/tile/content metadata as well), is that this information is coarser-grained, so as far as the `ModelExperimental` is concerned, this information is constant. So it could be passed in as either a uniform, or even hard-coded when generating the shader code. It might make sense to do the h

[2022-07-26 14:10] j9liu commented on #10596
Hi @blueRaining,

We want to look into this bug. Could you provide a [Sandcastle](https://sandcastle.cesium.com/) with the code that reproduces the error?

[2022-07-26 14:51] javagl commented on #10544
当你说它有“很多”顶点时，我不知道那是什么意思。

它有100000个顶点吗？还是100万？

我刚刚创建了一个包含大约 1000000 个顶点的球体的简单 GLB 文件。我创建了一个沙堡，它只加载了这个球体的 100 个副本。所以有100000000个顶点。而这只用了 7 或 8 秒。

![Cesium glTF Loading](https://user-images.githubusercontent.com/5597569/181038402-74bef4c1-e774-4e3f-a064-0122edbffc5b.gif)

如果没有关于 glTF 资产的更多信息，就无法说明为什么加载它们需要很长时间。

[2022-07-26 15:00] javagl commented on #10222
This still seems to happen in 1.95 - OK to reopen this?

[2022-07-26 15:02] #10513 closed

[2022-07-26 15:07] ggetz commented on #10222
@javagl Sure, if you're testing from the latest `main`. We thought the was fixed in https://github.com/CesiumGS/cesium/pull/10523.

[2022-07-26 15:10] Saumya-NebCodes opened #10597 "Memory Leaks"
When creating new Cesium Viewer in an Angular app, JS heap doesn't get cleared on page change. when navigating   between the pages the bug seems to appears(refreshing the page clears the heap memory). Below is the sample app attached **cesium_angular.zip**.

### Application Installation steps:

`npm install`
 `ng serve`

[cesium_angular.zip](https://github.com/CesiumGS/cesium/files/9190917/cesium_

[2022-07-26 15:11] CodeBoySun commented on #10544
Hi,你可以看到当顶点数100万个时候，浏览器就有点卡顿了，并且需要7到8秒才能出来，你可以把这个放到three.js试试。

[2022-07-26 15:12] ptrgags commented on #10592
@engineerhe Thank you for providing the tileset, I tried this locally and I think I see the problem. The good news is this is already fixed on the `main` branch (to be released next week in the 1.96 release)!

We had a bug in `ModelExperimental` where `.cmpt` tiles were not cached correctly. The first inner content will load correctly (which I think is what's happening in your second screenshot),

[2022-07-26 15:12] #10592 closed

[2022-07-26 16:10] CodeBoySun commented on #10544
@javagl 我提这个问题的目的是希望cesium在渲染gltf这块的速度和性能上能提升，因为目前我已经用了很多复杂的gltf测试在不同平台上，cesium在渲染gltf的速度上不占优势，容易导致用户如果想用复杂的gltf或者glb来展示的时候有所顾虑，即使cesium确实很强大，但是如果渲染gltf速度上不占优势的话,也会考虑其他方案的。虽然有3dtiles这个方案，确实速度上有所提升，但是模型的精细度上感觉没有gltf或者glb好，所以用户还是会考虑用gltf的。

[2022-07-27 01:02] engineerhe commented on #10592
@ptrgags It's wonderful.Thanks for your help

[2022-07-27 13:14] javagl commented on #10544
我理解你的担忧。 Cesium 一直致力于以多种方式改进 CesiumJS。性能是一个重要的话题。

但是很难客观地比较不同解决方案的性能。 Cesium 提供的不仅仅是“渲染 glTF 模型”。如果你只想渲染一个 glTF 模型，three.js 可能是一个更轻量级的解决方案。如果您想开发地理空间应用程序，Cesium 提供了许多重要的功能。

其中一种解决方案是 3D Tiles。当您的模型包含 1000000000 个顶点时，将其存储为单个 glTF 是没有意义的。它应该被分成更小的部分，可以转移给客户端。 （使用 LOD - 细节级别）。

我在这里附上“球体”模型进行第一次测试。 （我不知道如何在 three.js 中渲染这个模型的40个实例。所以我无法比较它）。

该模型包含许多顶点。但它仍然很简单：它没有纹理。它只使用一个网 (mesh) 格。而且它不使用扩展。但它可以用于第

[2022-07-27 13:24] ggetz commented on #10585
Hi @chris-cooper, thanks for bringing this up.

We [moved to looser versioning](https://github.com/CesiumGS/cesium/issues/4697) a few years ago in order to prevent conflicts. However, given that we've just changed our strategy around third party modules and have moved several `devDependencies` to `dependencies`, it may be time to consider a lockfile to ensure consistency.

[2022-07-27 13:44] CodeBoySun commented on #10544
主要我们的产品是用cesium开发的，而且基本上包含cesium很多高级功能，是一个很庞大的地理空间系统，之前一直用的是3dtiles,但是发现3dtiles的模型的精细度不高，并且是局部加载，然后还用了gltf,因为整个模型很复杂，用了很多压缩技术，但是发现cesium加载的速度并不理想，但是用three.js加载很快就能出来，所以比较烦恼。因为整个项目如果用three.js至少也要花1年时间去替换。所以想着有没有好的办法改进加载速度。
这个sphere0的模型很简单不复杂，用cesium加载也很快，你是否有那种整一片地区包含管道，建筑物等复杂的gltf可以试试，加载起来就很慢了

[2022-07-27 13:54] javagl commented on #10222
I might have got the release cycles wrong. It happens in 1.95, but no longer in main. Sorry for the noise.

[2022-07-27 14:19] javagl commented on #10544
当您需要地理空间功能时，这是 Cesium 的有力论据。

3D Tiles 和 glTF 有不同的用途。

模型大小总是有限制的。如果您有一个具有 1000000000 个顶点的模型，那么这将是一个 3000MB 的 glTF 文件。用户将不得不等待很长时间才能下载它。当你想显示10个这样的模型时，显卡上的内存就不够了。

使用 3D Tiles，您可以拥有层次结构 (LOD)。您可以快速加载一个顶点少、细节少的小型 glTF 模型。当用户放大时，会加载更高的细节。

但再说一遍：在这里提供真正的帮助是非常困难的。目前还不清楚为什么加载 glTF 模型很慢。 glTF 使用哪种压缩方式？它使用Draco 吗？

[2022-07-27 20:03] javagl commented on #4793
Seems to be resolved 👴

![Cesium NoScene](https://user-images.githubusercontent.com/5597569/181361874-b760fbad-62c1-40dd-8d63-0d7bab48f41d.jpg)

[2022-07-27 20:03] #4793 closed

[2022-07-27 21:47] jjhembd commented on #9887
As discussed with @ptrgags: we need to load a 3DTileset in `MetadataPipelineStageSpec` to test statistics. This took me a little while to understand and get working. Some key steps included:

1. Set `scene.camera` to look at the tileset data
2. Load the tileset using `Cesium3DTilesTester`, with ModelExperimental enabled:
[code]

3. Retrieve `model` from `tileset.root.content._model`, and use it to

[2022-07-27 21:48] jjhembd commented on #9887
One upcoming challenge for `MetadataPipelineStage`: the types as listed in the `tileset.json` are not always what we need in the shader. For example, a property with `"componentType":  "UINT16"` and `"normalize": true` will actually be loaded as a `float` or `vecN` type. Two possible ways to handle this:
- Implement something like `PropertyTextureProperty.getGlslType` for `MetadataStatistics` fiel

[2022-07-27 22:21] lilleyse commented on #9887
Can we mock the tileset like in [`PickingPipelineStageSpec`](https://github.com/CesiumGS/cesium/blob/a8c27a25fc4d810788a8c30f3e8ea8ba0b773fc7/Specs/Scene/ModelExperimental/PickingPipelineStageSpec.js#L130-L134)? Generally I'm not a fan of mocking objects but it might drastically simplify the test.

Or we should step back and think about whether statistics should be passed along to the model so tha

[2022-07-27 22:24] lilleyse commented on #9887
This option seems cleaner to me. It can leverage some of the existing code.

[2022-07-28 08:58] kurdupovk opened #10602 "Inaccurate milliseconds value in JulianDate.toGregorianDate"
Hello!
First, I would like to thank you for such a great library and service!

**The issue**

I found that converting some ISO date strings into JulianDate and back to ISO string or Javascript Date causes different value of milliseconds, actually the difference is 1 millisecond.
Digging deeper I found that the problem is in **JulianDate.toGregorianDate** function which converts seconds with fracti

[2022-07-28 09:29] Makabaka-goodnight opened #10603 "How to load multiple models for planing and control them independently？"
In this sandcastle demo，https://sandcastle.cesium.com/?src=3D%20Tiles%20Clipping%20Planes.html  ， I load multiple 3dtiles models in a scene and add a plane entity to each model，When I move one of the plane entities, the others will move up and down，The parameter printed in the callback function of callbackproperty is always the plane of the last model，How can I control it separately？

[2022-07-28 12:52] ggetz commented on #10603
Hi @Makabaka-goodnight, you will likely need to maintain separate `targetY` values for each plane.

Cesium is a big project, so we use GitHub for feature requests and bug tracking exclusively. I would ask that you take this to the [Cesium Forum](https://community.cesium.com/), where there are members of the community and developers from the team who can help, to continue troubleshooting if needed.

[2022-07-28 12:52] #10603 closed

[2022-07-28 13:00] ggetz commented on #10602
Thanks for the report @kurdupovk! Calculating milliseconds in a sperate operation should work. Would you be willing to open a pull request with this fix?

[2022-07-28 13:05] ptrgags opened #10604 "Custom Shader - detect `material.alpha` instead of `isTranslucent` flag?"
Right now, when using a `CustomShader` with `ModelExperimental`, `material.alpha` only affects the translucency when `CustomShader.isTranslucent` is set `true` in the constructor.

This seems to be non-obvious. Another way this could be addressed is to check for the presence of `material.alpha` in the shader text (this should already be parsed in `customShader.usedVariablesFragment.materialSet` an

[2022-07-28 13:08] ggetz commented on #10517
Hi @zouyaoji, this is actually a duplicate of https://github.com/CesiumGS/cesium/issues/5164. I'll close this so that conversation can continue in that original issue. This happens since the callback property makes the geometry dynamic instead of static.

[2022-07-28 13:08] ggetz commented on #5164
Reported in https://github.com/CesiumGS/cesium/issues/10517

[2022-07-28 13:22] ptrgags opened #10605 "CustomShader - remove comments before parsing shader variables"
CustomShader does regex parsing of the shader text to identify variables used in the shader since this information is needed to dynamically generate parts of the shader in `CustomShaderPipelineStage`.

However, the regex search doesn't account for comments, so if you had a comment like this in the shader:

[code]

ModelExperimental would still detect a variable `propertyThatDoesNotExist` which cou

[2022-07-28 13:26] j9liu commented on #10604
Tangentially related (though if this should be its own issue that's fine too), when #10549 fixed the improper handling of translucency in `ModelExperimental`, it exposed that custom shaders wouldn't work if they resulted in both opaque and translucent colors. We might need to mimic how styling works and use one opaque command and one translucent, with some extra work to avoid drawing opaque / tran

[2022-07-28 13:34] ptrgags commented on #10604
The one tricky thing about opaque and translucent for custom shader is it's harder to tell when to apply each, since the final color is the result of user-defined GLSL code (whereas CPU styling can expect a feature color to determine the translucency)

Certainly possible to do the pass filtering with the result, though whether that's a good idea (GPU divergence-wise) probably depends on the user's

[2022-07-28 13:49] ptrgags opened #10606 "CustomShader - how to distinguish primitive types?"
When using `CustomShader` on a glTF model or tileset with multiple primitive types (e.g. mesh and point cloud), there's currently no way to distinguish the primitive type in the shader.

Here's some ideas, though all of them have their caveats:

* Maybe the tileset or CustomShader could take multiple shaders, one per primitive type? (though if we start adding multiple shaders for this, are there o

[2022-07-28 13:52] javagl commented on #10602
I might have misunderstood something here, but I wonder how the proposed fix could be applied. I tried changing the line for computing the `millisecond` as suggested, and compared the result to the 'old' implementation, and the result was the same.

In fact, I think that the problem is that of trying to compute the milliseconds from the seconds in the first place. Even though the value for `second

[2022-07-28 14:10] j9liu commented on #10604
That's a fair caveat; if we ever support both opaque and translucent rendering in the same `CustomShader` we should definitely warn the user about the performance implications.

[2022-07-28 14:51] zouyaoji commented on #10517
@ggetz

But in some 1.8x versions, there is no such bug.

[2022-07-28 14:59] zouyaoji commented on #10517
There is no such problem in version 1.89

[2022-07-28 15:19] zouyaoji commented on #10517
@ggetz
Please see this example, in version 1.89, the behavior is normal.

https://codepen.io/zouyaoji/pen/abYVmqE?editors=1111

[2022-07-28 16:48] ggetz commented on #10517
Thanks for your explanation @zouyaoji. I was able to identify the issue and I believe I have a fix in https://github.com/CesiumGS/cesium/pull/10607.

[2022-07-28 16:53] j9liu opened #10608 "Better hints to set `enableDebugWireframe` in tileset constructor"
As of Cesium 1.97, the `enableDebugWireframe` flag will be required for `debugWireframe` to work, for both `Model` and `Cesium3DTileset`. Otherwise, nothing happens when `debugWireframe` is toggled. We should more clearly convey to the user that `enableDebugWireframe` needs to be set true for `debugWireframe` to work.

Some suggestions:
- `oneTimeWarning` if a user is setting `debugWireframe: true

[2022-07-28 17:15] thw0rted commented on #9212
Hey y'all, I just spent my whole day on what turned out to be an `exports` issue so I thought I'd share some findings that might help others (or me!) in the future.  The short version is that my tests broke when I did some recent dependency updates, including (among others) major updates to Cesium and Angular.  I went down a bunch of blind alleys -- thought it was due to the `esbuild` overhaul tha

[2022-07-28 17:15] #10517 closed

[2022-07-28 18:04] ggetz commented on #7254
Reported on the forum - https://community.cesium.com/t/drillpickfromray-will-crash-the-browser/19603/2.

[2022-07-28 18:17] ggetz commented on #7511
Reported on the forum: https://community.cesium.com/t/particle-system-on-flat-projection/19454/2

[2022-07-28 22:00] amock78 opened #10609 "ExportKml doesn't export ellipse graphics."
I'm trying to export ellipse graphics from cesium to either a KML or KMZ file if it uses an image. I've stepped through the code to see where it's supposed to be adding the entities to the KML document, but it looks like you don't have any support for ellipse when it goes into the recurseEntities() function. Is there any work being done for that currently?

I also would like to request some better

[2022-07-29 01:17] zouyaoji commented on #10517
@ggetz
thank you very much for your help.

[2022-07-29 06:10] kurdupovk commented on #10602
I am sorry, but I would leave it to people who is better familiar with the ecosystem and how to do it.

@javagl

I agree. The original floating-point value in memory is different than it s value printed in console. But still JS prints some numbers with long fractional part and other with short.
I experimented a little and found that at least in Google Chrome 103, JS prints number with long fractio

[2022-07-29 07:05] UniquePanda commented on #10461
Hi, as I've also experienced this again, I can share an even simpler sandcastle, just in case this helps :)
It seems to be enough to just hide the label and show it again to trigger the bug.

https://sandcastle.cesium.com/#c=bVLJTsMwEP2VUU6JFJwuUESbVtCABKISBxBccnGTaWvVsSvbaVnUf8d2E9b6EM28ecvESSGFNrBluEMFYxC4gww1qyvy7LEwDwrfZ1IYygSqPIhGuchF4ZWczpFb4cGBoDDMMNSElmX4kQuAjdQWkWLY+mZUGVtR0ScLJatrXCpEHZ6

[2022-07-29 16:11] aldenpoole commented on #4108
Is there still no good fix for this? Even setting an eyeOffset z value is a subpar solution. I am having such trouble getting my label entities to appear over my arcs. The arcs vary in height, and some of them get very high.

Can there not be a flag to treat these label entities as such so that they are just rendered above everything else, regardless of height?

[2022-07-30 18:32] javagl commented on #10602
After looking more closely at the test and the source code, and doing further tests, I'm no longer sure about the actual problem here. Looking at your original sandcastle, the last line is
[code]
This shows that the original value of `919` is preserved as `9189999...`, which is as accurate as this number can be represented via the `secondsOfDay` variable. In doubt, you could change the last line t

[2022-08-01 03:04] kurdupovk commented on #10602
Somehow I overlooked the **presiion** parameter of **JulianDate.toIso8601** function.
After testing my cases I concluded that this is sufficient for my project. So I am closing the issue.

I believe it is because usually it is recommended to use fractional part as an integer number.

Anyway, thank you for your help and researching.

[2022-08-01 03:04] #10602 closed

[2022-08-01 14:39] sanjeetsuhag opened #10611 "Unable to run `npm start` inside release ZIP file"
Due to the following missing files in the release ZIP, the `npm start` command fails to run:
- `build.cjs`
- `Apps/Sandcastle/.jshintrc`

I could be wrong but I think we should not have to run any build step and simply serve up the pre-built files.

[2022-08-01 15:19] lilleyse opened #10613 "Basic upgrade path for glTF 1.0"
Instead of outright dropping glTF 1.0 support we could try to do a best effort upgrade from glTF 1.0 to 2.0.

It's not possible to upgrade glTF 1.0 shaders to 2.0 PBR materials in a generic way, but we can look for certain parameter names that are commonly found in glTF 1.0 assets and create PBR materials out of those. This would only work for materials, anything custom in the shader would be igno

[2022-08-01 15:25] j9liu commented on #10535
This came up on the forum: https://community.cesium.com/t/modelexperimental-rendering-3dtileset-failed/19759/3

[2022-08-01 15:25] j9liu commented on #10608
Link to the forum post that brought this up: https://community.cesium.com/t/debugwireframe-not-working-with-3dtiles-content-gltf/19741/4

[2022-08-01 19:42] ggetz commented on #10611
We can consider a completely static server on `start` for the release zip, but we'll need to configure a sperate task (or sperate options) for release vs local development.

[2022-08-01 20:28] lilleyse commented on #10535
I started to address that here: https://github.com/CesiumGS/cesium/tree/skip-lods-experimental

The `ModelExperimentalDrawCommand` refactor was pretty far along and I was about to change how commands are pushed to the command lists to avoid array allocations. If someone else would like to pick that up go ahead!

[2022-08-01 21:25] ggetz opened #10614 "3D Tiles Model Outlines not working on MacOS"
Model outlines are not showing up in the following example in any browser.

[Sandcastle example](http://localhost:8080/Apps/Sandcastle/index.html#c=dVRtb9s2EP4rB39SAIdymm5FXTdY67RYgAUeZnfBMA0rTZ0kohQpkCenbpH/vqNkOXLSfRHFu+cePvdCKmcDwU7jPXp4CxbvYYlBt7X4s7Ml2UR1+6WzJLVFn02m8D2zAITes+V373Y6Rz8fApVHSXjnvMk3PSQ5m8YAXcsS/X4IiAfcuhxNmMPf0Q/j45+hku89hlGyxjlkkzXxj4WN61UNbq2c/eRNRKRr13qF6Z3OS6SQ3kQFh+VRSEhD

[2022-08-01 21:31] ptrgags commented on #10614
I haven't been able to reproduce on Linux, and @lilleyse tried on two different Macs, haven't been able to reproduce so far.

@ggetz Could you try [this Sandcastle](https://sandcastle.cesium.com/#c=dVHdT9swEP9XTnlKpeC0jA1BSzWt4w3EBAhe8uLaV3qaY0fnS1g38b/jJBTto3uw5Pv593F3NsFHgY7wGRkuwOMzrDBSW6uHAcurzAz1KnjR5JGrrIBflQcQZE7INw4dWeTzvdAwasHHwM7ej5R8UlT+ZTKvfOXHKBUNelQNU01CHUalrc3/MLiJ9ZeWnCX/FPMhEL1eO7

[2022-08-01 21:33] ggetz commented on #10614
Sure @ptrgags, that example seems to work on my machine.

![image](https://user-images.githubusercontent.com/4439461/182250249-2df36dd3-d7ca-4328-bf9a-4f9fb2a22c4b.png)

[2022-08-02 02:37] Lighfer commented on #3748
The problem arises again：[sandcastle](https://sandcastle.cesium.com/index.html#c=bZBfa8IwFMW/yqVPFeqtDsb+WGWj+uYmTHAM8hLTq4aliSSp4obffbG1MjYfknBO7vndyxVGOw87SXuyMARNe8jJyarERe3FLBK1zo32XGqyLErgm2kAJ0jTiynosY3MWwfn+eR1cjNm+tgZMM100wBJe+klOeRFEdcQS8JzvVYBUmsAYYwtpOae3AX81lbhyppyTGtL5OJu/66HvQS69/VzVg/h7iQNqwwUK7m6gHKjjMWPyXQ6e8e99Jtntd3wuIe3TeSY1CNHScSiwcloD0Dm/EHRqBEAT7LcGuuhsipGTD2VW3WaOV1W4pM8Cuc

[2022-08-02 03:04] Lighfer commented on #3748
Based on testing, this issue was reintroduced from 1.80

[2022-08-02 09:05] Lighfer commented on #3748
I found that the problem was solved by modifying file `ShadowVolumeAppearanceFS` like this

[code]

@pjcozzi pjcozzi Is this a correct solution?

[2022-08-02 09:31] JiaoJianing commented on #10487
@sanjeetsuhag sorry I can't find an available 3dtiles loader in BabylonJS or ThreeJS. But I seem to find a bug?
When create renderState in [Model.js](https://github.com/CesiumGS/cesium/blob/main/Source/Scene/Model.js#LC3392) it uses WebGLConstants.ONE as functionSourceRgb(Maybe it's OIT algorithm's requirement). But when construct Viewer using orderIndependentTranslucency:false, should it use WebG

[2022-08-02 09:57] turansky opened #10617 "CDN. Version `1.96`. Workers don't work"
### Related discussion
https://community.cesium.com/t/import-from-cdn-cesium-1-96-an-error/19799

### Error
[code]

[2022-08-02 11:46] mioxs opened #10618 "tween.js warn"
npm WARN deprecated tween.js@16.6.0: This package has moved to @tweenjs/tween.js. Please update your dependencies.

[2022-08-02 13:16] ggetz commented on #10617
Thanks for the report @turansky!

@sanjeetsuhag The deployment process grabs the release zip from the [github release](https://github.com/CesiumGS/cesium/releases), and uploads the contents. It looks like the uploaded version is missing some files in `Build/Cesium/Workers`.

However, if I run `make-zip` locally, those missing files are the resulting zip file. Do you know if any of the contents of

[2022-08-02 14:16] ggetz opened #10619 "Inline Static Assets in Builds"
The current CesiumJS distribution consists of a single, bundled JS entry point, `Cesium.js`, which inlines all library JS code. It also ships with several other static files, including standalone `Worker` JS files, third party `wasm` files, JSON data, images/textures, and CSS files. Depending on what features of the library is being used, some or all of these static files are required to be loaded

[2022-08-02 14:17] ggetz commented on #10619
Tangential to this discussion, for those that are using CesiumJS from `Source`, we'll also want to ensure [the proper files are exported via `package.json`](https://github.com/CesiumGS/cesium/issues/9212).

[2022-08-02 14:19] ggetz commented on #10619
@TJKoury You have some experience with doing this, via rollup I believe, in https://github.com/DigitalArsenal/c137.js. Are there any gotchas that you may have experienced in the process?

[2022-08-02 14:36] sanjeetsuhag commented on #10617
@ggetz I'm not sure how those files would have been deleted. But upon running a diff, I do see a difference in the uploaded version versus a local run on `make-zip` from the `1.96` tag.

[2022-08-02 14:41] ggetz commented on #10617
Ok, at least we are seeing the same results now. Please update the github release with the correct zip, and then let me know and I can re-run the website deployment.

[2022-08-02 14:50] sanjeetsuhag commented on #10617
@ggetz Uploaded new release zip.

[2022-08-02 15:14] ggetz commented on #10617
Thanks @Samulus! The uploaded release version is now working as expected. I also confirmed the version uploaded to NPM had the Worker files, so there should be no need to republish there.

I'll close this, but I'm looking further into the build script to see if there may have been anything to cause the missing files in the first place.

[2022-08-02 15:14] #10617 closed

[2022-08-02 15:37] TJKoury commented on #10619
Plenty gotchas!  I'll start with the big one (for me): WebWorkers.

My approach was to import [all the webworkers](https://github.com/DigitalArsenal/c137.js/blob/main/src/workerPrep.ts) into a single file.  The packager can walk the dependency tree and pull everything into a single worker that can be called whenever you need a worker.

That is then injected as a string [here](https://github.com/Di

[2022-08-02 15:57] zouyaoji opened #10620 "Incorrect PolylineGeometry drawing results"
When sceneMode is SceneMode.SCENE2D and mapMode2D is MapMode2D.ROTATE, the line added by PolylineGeometry will inexplicably have an extra line pointing to the origin (this description may not be accurate).

Sandcastle example:

https://sandcastle.cesium.com/#c=3VVda9swFP0rIi9NwFVs2ZY/moaNjI3BygIte5n3oNhKIypLRlaSpiX/ffJXnbTpNih9WSDm6uqec690j69TKUoNNoxuqQKXQNAtmNGSrXP4o/YNk0Far2dSaMIEVcnAAo+JAKBMqaB

[2022-08-02 17:10] lilleyse opened #10621 "Skinning broken for glTF 1.0 models with ModelExperimental"
Several glTF 1.0 models aren't skinning or animating correctly in ModelExperimental. Interestingly the 2.0 versions of those models don't have any issues. It's possible lingering issues were fixed when they were converted to glTF 2.0.

Ignore the missing materials - that will be addressed separately in https://github.com/CesiumGS/cesium/issues/10613.

From https://github.com/KhronosGroup/glTF-Samp

[2022-08-02 17:40] Samulus commented on #10617
@sanjeetsuhag * I don't work here anymore 😂

[2022-08-02 19:42] #10618 closed

[2022-08-02 21:02] j9liu opened #10625 "Setting style of `Model` before it's ready causes an error"
Setting `model.style` before the `readyPromise` is resolved leads to this error:
![image](https://user-images.githubusercontent.com/32226860/182472580-b5b837b2-824c-4eb0-bdf5-0d8d52e7d6ec.png)

This is because the `style` setter doesn't check if the model has loaded or not, so it's trying to work with `undefined` components. It'd be nice if this were consistent with `Cesium3DTileset`, which correc

[2022-08-02 22:06] lilleyse opened #10626 "Bounding sphere not updated right away after model matrix changes"
This a small regression in `ModelExperimental`

If `modelMatrix` is changed it takes an update loop before `boundingSphere` is updated, unlike `Model` and `Cesium3DTileset` which update the `boundingSphere` on demand when the getter is called.

The difference between `Model` and `ModelExperimental` is shown in this sandcastle: [Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=bZJvb9M

[2022-08-02 23:04] lilleyse opened #10627 "Bounding sphere doesn't take `RTC_CENTER` into account"
[`computeModelMatrix`](https://github.com/CesiumGS/cesium/blob/bd40c3179ac515cf6d2215a31d50fc88affcd200/Source/Scene/ModelExperimental/ModelExperimentalSceneGraph.js#L309-L330) takes `components.transform` into account but [`updateBoundingSphereAndScale`](https://github.com/CesiumGS/cesium/blob/bd40c3179ac515cf6d2215a31d50fc88affcd200/Source/Scene/ModelExperimental/ModelExperimental.js#L1851-L1871

[2022-08-03 02:37] jjhembd commented on #10256
This is what https://github.com/CesiumGS/cesium/pull/10629 does.

I think this behavior was originally intended in `createAndLinkProgram`, but it wasn't working because the shader was deleted before calling [`debugShaders.getTranslatedShaderSource`](https://developer.mozilla.org/en-US/docs/Web/API/WEBGL_debug_shaders/getTranslatedShaderSource).

Note: the `console.error` output is the _translated_

[2022-08-03 13:04] ggetz commented on #10596
Hi @blueRaining, I'm closing this issue due to inactivity. If you believe this is still an issue, please feel free to re-open. Thanks!

[2022-08-03 13:04] #10596 closed

[2022-08-03 14:44] sanjeetsuhag commented on #10555
Here's some of my notes on this issue so far.

<details>
  <summary>How does <tt>HeightReference</tt> work with <tt>ModelGraphics</tt>?</summary>
  <ol>
<li>When the <code>Entity</code> is created, the <code>ModelGraphics</code> object can be assigned a <code>HeightReference</code>.</li>
<li>Per-tick, the  <code>DataSourceDisplay</code> calls the update function of each <code>Visualizer</code>, in

[2022-08-03 19:52] ptrgags opened #10632 "Support point cloud back face culling in `ModelExperimental`"
the old `PointCloud` supported back face culling when `pointCloudShading.backFaceCulling = true` and the point cloud had per-point normals. `ModelExperimental` should be updated to include this feature. this involves:

1. Adding some shader code to the fragment shader to discard points that are back facing (using (`normalEC`)
2. Since the `PointCloudStylingStage` handles the `PointCloudShading` ob

[2022-08-03 22:18] lilleyse commented on #10621
Haha, I remember the `WalkingLady` model being one of the more problematic ones when adding support for glTF 2.0. 😄

[2022-08-04 11:04] waekeek commented on #8751
Hello,Can I ask how to modify this to apply it in 3DTiles? I apply it in terrain and it success, but it doesn't work in 3DTiles.

[2022-08-04 15:19] ggetz opened #10636 "Publish smaller packages"
CesiumJS is an extensive library with a lot of functionality that, depending on the app or use case, goes unused. Installing the `cesium` npm package also syncs third party libraries which may go unused. All features are tied to the monthly Cesium versioning, whether or not anything has changed.

Many users should continue to use the "traditional" CesiumJS releases, but there are also many use cas

[2022-08-05 17:33] sanjeetsuhag opened #10641 "Running coverage locally shows empty coverage report"
As tested on 9b986ab79a00d9a0119985142362f45e4eb8e27c on the `main` branch, in a clean repository, ran the following commands:

[code]
The terminal log showed that all the tests ran and that that `coverage` task completed in 2 minutes, however, the report opened up as empty:
![image](https://user-images.githubusercontent.com/5172619/183129115-68c938e0-5dd5-4e9c-a996-34a9d424671a.png)

This does no

[2022-08-05 17:34] sanjeetsuhag commented on #10641
@ggetz Are you able to reproduce?

[2022-08-05 17:53] sanjeetsuhag commented on #10641
Works fine on Linux (Ubuntu 22.04)

[2022-08-05 18:15] ggetz commented on #10641
No, everything is working for me on Mac. Do you see any errors or warnings in the console? Anything thrown in `afterAll` maybe?

[2022-08-05 18:50] j9liu commented on #10641
I'm running into the same issue on Windows.

[2022-08-05 19:48] ptrgags opened #10645 "Sun light source doesn't work in development/Shadows Sandcastle"
In the [development/Shadows](http://localhost:8080/Apps/Sandcastle/index.html?src=development%2FShadows.html&label=All) Sandcastle, when you select `Sun` in the `Light Source` drop down, the sandcastle crashes due to undefined `scene._sunCamera`.

[2022-08-05 21:55] #10346 closed

[2022-08-05 21:55] #9303 closed

[2022-08-05 21:55] #10379 closed

[2022-08-05 21:55] #10416 closed

[2022-08-05 21:55] #2387 closed

[2022-08-05 21:55] #6299 closed

[2022-08-05 21:55] #7062 closed

[2022-08-06 16:12] 123poorchinwe commented on #8950
Hello,I have encountered the same problem as you.Have you solved it?:)

[2022-08-07 07:55] CyberLayer-ai commented on #6589
Any chance we could get some sample data going? I would really like to be able to view GEE in cesium but am unsure how without a working example.

[2022-08-07 11:42] maxizrinUX opened #10649 "writeTextToCanvas treats "-" hyphen/minus, or "_" underscore, characters as space in some cases."
writeTextToCanvas doesn't show anything for only hyphens or underscores, and also cuts off sometimes, but that seems to be another issue.
(Running Cesium JS in Electron, there's no cutoff, but all hyphen or underscore text still does not render.)

Text with mixed hyphens and underscores renders only hyphens.

Checking the return value, it seems canvas height is set to 0, when the string contains o

[2022-08-07 15:42] meschg opened #10650 "cesium 1.96.0 breaks (at least vite | vite-plugin-cesium) build chains due to export from mersenne-twister.js"
Dear cesium-team,

looks like cesium 1.96.0 might breaks some build chains - at least my vite-build is not working anymore. I got the following issue on my dev system. I did not test it yet on another system but I can reproduce the issue by updating from 1.95.0 to 1.96.0 in my update-test project and also in my main project (not public available). I added the error below:

**Issue**
`export { defa

[2022-08-07 23:42] chris-cooper opened #10651 "Extra package.jsons in npm pack"
There are some extra `package.json` files that are being published to NPM now (1.96) from the Workers directory.  Is this intentional?
[code]
vs
[code]

[2022-08-08 09:19] srcejon opened #10652 "Program failed to link. Qt 5.15.3 / Ubuntu 22.04"
I get the error:

    RuntimeError: Program failed to link.  Link log: error: Too many combined image uniforms, shader storage  buffers and fragment outputs

    Error
        at new RuntimeError (https://sandcastle.cesium.com/CesiumUnminified/Cesium.js:15446:13)
        at createAndLinkProgram (https://sandcastle.cesium.com/CesiumUnminified/Cesium.js:69612:13)
        at reinitialize (https://san

[2022-08-08 14:11] sanjeetsuhag opened #10654 "Large and wide corridor wraps around"
As reported in [this community post](), this [Sandcastle]() shows that a large and wide corridor wraps around. This seems like a bug in the corridor geometry generation code.

- Width: `128000.0` ❌
  ![image](https://user-images.githubusercontent.com/5172619/183437670-fc180a10-108e-4723-84e3-c378fb62dd02.png)

- Width: `12800.0` ❌
  ![image](https://user-images.githubusercontent.com/5172619/183437

[2022-08-08 14:43] ggetz commented on #6589
Hi @CyberLayer-ai, I believe this is more than just sample data, and that'd there would need to be a running server we could point to.

Do you happen to have any sample data to get the process started?

[2022-08-08 14:48] ggetz commented on #10652
Thanks for the WebGL report screenshots, @srcejon!

I'm not very familiar with running Cesium on Chrome embedded in Qt. Maybe an addition to this issue, it reach out on the [forum](https://community.cesium.com) to see if any members of the community have any insights?

[2022-08-08 14:55] ggetz commented on #10649
Thanks for the report @maxizrinUX. I can't seem to reproduce this on Chrome or Firefox. We do use some standard web APIs to implement `writeTextToCanvas`. Any chance this an underlying bug or difference of implementation in Vivaldi?

[2022-08-08 15:06] ggetz commented on #10650
Hi @meschg, we did recently update our internal build process. However now we are using esbuild, which I believe is what vite uses under the hood, so it still should be possible to build Cesium with vite.

We don't maintain `vite-plugin-cesium`, but would suggest the configuration be updated as needed based on [these recommendations](https://cesium.com/blog/2022/07/19/build-tooling-updates-coming-

[2022-08-08 19:12] nshen commented on #10650
Hi @ggetz, I made a pr https://github.com/CesiumGS/cesium/pull/10655, please check.

And BTW I hope cesium team can help my [vite-plugin-cesium](https://github.com/nshen/vite-plugin-cesium)  and [create-cesium](https://github.com/nshen/create-cesium) projects. I think they were the best and the fastest way to develop cesium-based projects before 1.96.0, and hundreds of projects are based on it.

!

[2022-08-08 20:41] sanjeetsuhag commented on #10651
@chris-cooper I believe this is intentional because we want the workers to be considered CommonJS rather than ES modules.

@ggetz Could you confirm?

[2022-08-08 20:42] paherbst opened #10656 "3D Object Color Bug -- all objects get same color"
when creating 2 entities for the same Model, but each a different color, the 1st object gets the color assigned to the 2nd one.

proof of example with 1.96

https://sandcastle.cesium.com/#c=1ZPfT9swEMf/FSu8FAkcpy0w2lKByo+XSUyrtCdLyE2O7jTHrmynUCb+dy5O0lWFTXvYyyJFuV/fO9/HSm6ND2yN8ASOXTADT2wGHquSf4uxnkzy6M+sCQoNOJkcjqWRRkNgK+sxoDVfoSBxK5wpF8hSZsAfnS2vYekAfE8aRs9x1h9wcTYcnmbnR01oOOTiRAzOxGkXEJmorfdz7q

[2022-08-08 21:12] maxizrinUX commented on #10649
Everything renders correctly in the Sandcastle?
The same issues persist for Vivaldi Android, that's 3 platforms now.
Screenshot attached.

Ignoring the text being cut off, that seems to be another issue.

There are 2 lines not rendering, one of all underscores, and another all hyphens, and lines with a mix of both don't render the underscores.

There's also a potentially undesired behavior, where

[2022-08-09 06:42] kurdupovk opened #10657 "Polygon with a hole as the whole polygon"
Hello everyone!

I have a polygon with hole points the same as the polygon points.
I expected that I would get an empty polygon or only outlined polygon if outline is provided.

But I get a polygon with only a half hole.
Here is the code:
[code]

Is it a bug or I don't provide a hole correctly?

**Original issue:**
I was trying to get an extruded polygon without **the top side** with some tricks.

[2022-08-09 07:11] engineerhe opened #10658 "Can cesium get the intervals between adjacent frames?Just like czm_frameNumber"
When I  do uv animation, sometimes go fast and sometimes  go slowly

[2022-08-09 09:07] Error806 opened #10659 "Lighting issues when rendering glb models with EXT_mesh_gpu_instancing extension"
I'm having trouble replacing an i3dm file with a glb file that uses the EXT_mesh_gpu_instancing extension, the lighting of the model rendered in Cesium doesn't seem to be correct. Every instance seems to have the same lighting and shadows, regardless of rotation. Am I setting some properties wrong or is there another reason?
The following example has two instances, one of which is rotated by 90°.

[2022-08-09 13:31] GatorScott commented on #10657
I don't think what you've described is a bug since it is essentially a degenerate polygon.

[PolygonGraphics ](https://cesium.com/learn/cesiumjs/ref-doc/PolygonGraphics.html) has the property ```closeTop``` which could do what you want, though I could be missing something.

[code]
![image](https://user-images.githubusercontent.com/4126790/183658435-e86c0248-0986-4561-a860-ecffcb36c61a.png)

[2022-08-09 19:11] sanjeetsuhag commented on #10656
Hi @paherbst,

Running this on the `main` branch as of https://github.com/CesiumGS/cesium/commit/633af0dfcee59c8bf65252f4b764946d31d9457f, it seems like this has been fixed.

![image](https://user-images.githubusercontent.com/5172619/183741978-077d1cfc-28a7-45cc-a404-9c904a8151f1.png)

[2022-08-09 19:11] #10656 closed

[2022-08-09 23:54] #10555 closed

[2022-08-10 01:10] cavencj opened #10661 "the imagery show uncorrect using the SingleTileImageryProvider"
when  I add the one pic by the `SingleTileImageryProvider` , and set the rectangle param, the imagey  show uncorrect , blow link is the code demo

https://sandcastle.cesium.com/#c=bVLfb4IwEP5XGh4UE1KG+5FFxc24PZiYzajZEy+lnNqstKQtOLf4v68gTLZ5SaF39313X6+lUmiDCgZ7UChEAvZoCprlKX6rYm7k0MqfSmEIE6Aix/uKBCotJhrm5ABqweg7qAHaEK7Bq7PWWEq2oA4LJQuW/ACqvP0ce8NI2P+pO9YUBOCY0PetkrlIppLLUlOtp3Lxejl5WS0my+eX9YncsOtW

[2022-08-10 03:12] kurdupovk commented on #10657
Thank you! My case is resolved!

[2022-08-10 03:12] #10657 closed

[2022-08-10 05:03] SunnyBily opened #10662 "How to load a model with both KHR_draco_mesh_compression and CESIUM_primitive_outline extensions?"
Hi,

I'm trying to use Cesium to load a 3dTiles model with outlines, and the geometry of this model is compressed by draco.

I stored the compressed geometry as a bufferView, and the outlines data as a separate bufferView (outline indices are not compressed). The primitives extension part in the mesh includes both two fields: KHR_draco_mesh_compression and CESIUM_primitive_outline, like this:
![im

[2022-08-10 16:24] xtassin opened #10664 ""Could not pack varying" exception on low end GPUs when atmosphere is enabled"
Some of my users have reported that the application crashes with the "Could not pack varying" exception.

This seems to happen:
- when atmosphere is enabled
- on GPU running WebGL 1 with less than 16 "Max Varying Vectors" (reported from https://webglreport.com)

The exception was also confirmed on Sandcastle examples.

Xavier
GeoFS

[2022-08-11 00:37] SunnyBily commented on #10662
This issue is migrated to community forum: https://community.cesium.com/t/how-to-load-a-model-with-both-khr-draco-mesh-compression-and-cesium-primitive-outline-extensions/19918

[2022-08-11 15:08] ggetz commented on #10664
Thanks for the report @xtassin. @sanjeetsuhag Would you be able to triage this?

[2022-08-11 15:10] ggetz commented on #10661
Hi @cavencj, what is expected to show up? Perhaps you could get help troubleshooting the issue on the [Cesium Forum](https://community.cesium.com/) where there are members of the community and developers from the team who can help.

[2022-08-11 15:59] sanjeetsuhag commented on #10664
@xtassin Would you be able to share the make/model of the device(s) where this is occurring? Or maybe a full WebGL report? Thanks!

[2022-08-11 17:04] xtassin commented on #10664
Here is a WebGL report and a screenshot of the exception encountered on the Cesium Sandcastle (Terrain demo)

![webglreport1](https://user-images.githubusercontent.com/296572/184191398-bf6afab4-fd5f-4179-8015-e7a2e30951f1.png)
![sandcastle](https://user-images.githubusercontent.com/296572/184191395-f38ca540-0216-474d-ac75-9c94e8c2818b.png)

[2022-08-11 21:33] DallasHoff commented on #1592
+1

[2022-08-12 07:47] an501920078 commented on #10650
![D77745FD-62D3-4574-9238-E706EFAA6E7B](https://user-images.githubusercontent.com/45625953/184308698-ee1e6331-51c1-4d3e-9833-b22d5727dbd4.png)
Many people use it, including me!

[2022-08-12 14:44] sanjeetsuhag commented on #1683
Revisiting this now, I parsed through the existing wiki and here's my recommendations for what to keep/move/remove:

### Check into repository

- [ ] Offline Guide
- [ ] Fabric
- [ ] Geometry and Appearances (possibly transition to website)
- [ ] heightmap 1.0 spec (move to somewhere - not sure where)
- [ ] heightmap 1.0 terrain spec (move to somewhere - not sure where)
- [ ] Mobile Details (needs

[2022-08-12 15:00] jjhembd commented on #10455
I captured the warnings in a file to evaluate. There are 1234 warnings, and 1230 of them are "Failed to find parent of doclet...". I think this is a [known issue with the tsd-jsdoc plugin](https://github.com/englercj/tsd-jsdoc/issues/133).

The plugin repo seems to be dead. I think we might be better off switching to typescript itself to generate the type definitions. Typescript [added this functi

[2022-08-12 16:11] mramato opened #10684 "Cesium no longer works under Node.js when using ESM modules"
1. Create a file called `test.mjs` with contents `import { Cartographic } from "./Source/Cesium.js";`
2. Run node `test.mjs`
3. It fails with the below callstack

[code]

I did a little digging and it appears `zip.js` module released a new version in the past month that caused this. Pinning to an older version fixes the issue (need to experiment to find out the exact version). May be worth opening

[2022-08-12 16:32] matthew-viglione commented on #9584
Adding link to community post for others who land here with the same question: https://community.cesium.com/t/how-to-change-the-anchor-point-of-billboard-rotation/13923

[2022-08-12 17:12] matthew-viglione opened #10685 "Billboard rotation does not use `verticalOrigin` and `horizontalOrigin`"
When an origin point on a billboard is set with `verticalOrigin` and `horizontalOrigin` and a rotation is applied, the rotation is always based on the billboard center, not the specified origin point. It makes intuitive sense that `verticalOrigin` and `horizontalOrigin` should control this, and rotation around any point but the center is currently not possible.

For example:

[code]
![screenshot][

[2022-08-13 03:38] nshen commented on #10650
Thanks @an501920078 , I hope it will work after [Refactor "Source/ThirdParty" imports].(https://github.com/CesiumGS/cesium/issues/10568)

[2022-08-13 16:11] #10627 closed

[2022-08-13 20:00] lilleyse commented on #10662
@SunnyBily looks like this is a bug in CesiumJS. I opened a PR to fix it: https://github.com/CesiumGS/cesium/pull/10686

[2022-08-15 18:02] j9liu commented on #10659
Hi @Error806,

Thank you for the bug report! I opened #10690 to fix this issue.

[2022-08-15 18:29] #10613 closed

[2022-08-15 21:28] javagl commented on #10649
When trying out the given sandcastle (in a [version with red backgrounds](https://sandcastle.cesium.com/#c=zZVta9tADMe/ivCbOmCf03aD0aXZWLp3g8EW9soQzracHD2fwp2czCv57jvb9VbajrQQw+QHLFl/nfXjsHbSwk7hHi1cg8E9LNCpuhI/uliYBnnnL8iwVAZtGkzepyY1vUagYcUKnZBFEd6lBmBLzkfIXA2VFtKyf5LmUpSWqhtcW0QXTiOYTqJWkSmtM5K2uIKuAkCSwHKjHLgN7V0EWc3gPbaqqrAAMrqBthTwBkFjyR96markGv+su7eKcYk/eUkLaXbShX0WQBrAI2PaxjH829IgGsR3kMn8d

[2022-08-16 01:57] SunnyBily commented on #10662
@lilleyse , I modified my local code according to your submission, and the problem was solved, Thanks a lot!

[2022-08-16 07:21] zxj5470 opened #10692 "useWebVR only shows left eye, the right view is black"
Sandcastle example:
https://sandcastle.cesium.com/#c=bY5Na8MwDIb/ivClLQSbXpcPynod9DDYyRfXUVdTxS62nJCN/felzQYjnUCH9+MRssEnht7hgBFq8DjAHpPLnXy7e+uVvct98Gycx7gq4FN7mKaPz5k5+CfgmFH7r00pCqFFeYt/F6BKPBI2swDYue4aIkOOtJZSMXZXMoxJHbO9IEub0qb8IdVftGpdD66ttVh8pAVYMilNySkTvboP1KKp1NR/QCmY1vn3Q4+RzHirnbfNy2xKKSs1yf9JDoGOJi4ufwM
Browser:
Edge Chrome 102/ Firefox103
Operating System: Windows 10
Current Cesium Ve

[2022-08-16 12:57] ggetz commented on #10692
Hi @zxj5470, thanks for the report! The VR feature has not had much focus lately as we've been instead investing in this feature in the Cesium for Unreal project and other game engine integrations. We feel our current implementation is really a stop gap solution for VR and would rather proper XR support. If you have any interest in the implantation or have further thoughts, please let us know here

[2022-08-16 12:57] #10692 closed

[2022-08-16 13:32] ggetz commented on #1683
Thanks @sanjeetsuhag! The [Feature Checklist is import](https://producingoss.com/en/producingoss.html#features-and-requirements) for potential customers evaluating CesiumJS and should definitely continue to live somewhere. At one point this was on the website, but could make sense in the Documentation directory.

Setting aside the outdated roadmaps, there is a good deal of information here. Would

[2022-08-16 14:17] sanjeetsuhag commented on #10641
Here's the output:

[code]

I added a VSCode task to run the Gulp task and I tried to see if there were any exceptions thrown that would be caught by the debugger, and had no luck there.

[2022-08-16 14:51] sanjeetsuhag commented on #10664
I have a device with a similar GPU that I am running with D3D9 set as the ANGLE backend and it doesn't seem to be replicating the issue. I think I can combine a few of the varyings used in the shaders, however, I'm still digging into figuring out how many devices report < 16 varying vectors and if it is a D3D9 issue or not.

[2022-08-16 15:27] sanjeetsuhag commented on #1683
@ggetz The existing architecture wiki page tackles the broader engine architecture and we could potentially write a blog about that - or check it into the repo and have it serve as a good on-ramping doc for new devs.

[2022-08-16 15:41] j9liu commented on #6506
This came up on the forum: https://community.cesium.com/t/lightning-or-normals-problem-with-3d-tiles/19985

[2022-08-16 16:43] #10626 closed

[2022-08-16 16:51] sanjeetsuhag commented on #10636
Another benefit this may have is that it would allow us to upgrade our testing tools. We could take advantage of something like Jest, which could run tests in parallel. For stuff that needs to be run in a browser, we could use Playwright or Puppeteer and run tests in all browsers - potentially allowing us to do screenshot testing for things like Sandcastle.

[2022-08-16 17:21] ggetz commented on #1683
Just to be clear here-- Feel free to leave ideas, but let's plan on holding off on deleting anything for now and only focus on what can be moved into the repo itself.

[2022-08-16 19:37] ptrgags opened #10693 "Compute inverse transpose matrix for instanced models"
Both the old `ModelInstanceCollection` and the new `InstancingPipelineStage` handle instancing, but for normals they re-use the model view matrix without computing the inverse transpose. If the model matrix contains any scaling/shearing, then this is not accurate.

That said, since instancing transforms come from an attribute, it's a bit trickier than usual. Since attribute locations are limited,

[2022-08-16 20:04] #10659 closed

[2022-08-16 20:11] ggetz commented on #10684
Thanks for the report @mramato! I opened a fix for this in https://github.com/CesiumGS/cesium/pull/10694/. Looks like [the zip.js maintainer addressed this and suggests](https://github.com/gildas-lormeau/zip.js/issues/340#issuecomment-1177329994) either locking to `2.4.x` or adding a polyfill for `TransformStream`. I've locked it in the above PR.

[2022-08-16 20:12] ggetz commented on #10585
Looking into this a bit more, while they work well for application development, [lockfiles are not a recommended best practice for libraries](https://www.twilio.com/blog/lockfiles-nodejs). So we're unlikely to go with a full lockfile approach. However, there was [another issue related to the zip library](https://github.com/CesiumGS/cesium/issues/10684) which we fixed by pinning a specific version.

[2022-08-16 20:12] #10585 closed

[2022-08-16 22:26] lilleyse commented on #10662
@SunnyBily great to hear!

[2022-08-16 22:26] lilleyse commented on #10662
I'll just keep this open until the PR is merged.

[2022-08-17 16:30] ggetz commented on #10544
@CodeBoySun I'm closing this issue due to inactivity. It seems like you and @javagl have had a good conversation about 3D Tiles vs glTF. Perhaps if you need to discuss further, the [community forum](https://community.cesium.com/) would be the place to do so. Thanks!

[2022-08-17 16:30] #10544 closed

[2022-08-17 16:32] ggetz commented on #10609
Hi there @amock78. This looks like a duplicate of https://github.com/CesiumGS/cesium/issues/9344. If you have any further thoughts, please continue the conversation there. Thanks!

[2022-08-17 16:32] #10609 closed

[2022-08-17 16:32] ggetz commented on #9344
Also requested in https://github.com/CesiumGS/cesium/issues/10609.

[2022-08-17 16:49] jougisljs commented on #7788
let entity = viewer.entities.add({
        position:features['02fcf87d7e0a9c73d5cb511f8bae4ba4'].tileset.boundingSphere.center,
        billboard: {
            image:'./location.png',
            horizontalOrigin:Cesium.HorizontalOrigin.CENTER,
            verticalOrigin:Cesium.VerticalOrigin.BOTTOM
        }
    })
    features['02fcf87d7e0a9c73d5cb511f8bae4ba4'].color = Cesium.Color.RED;
    vi

[2022-08-17 17:30] ggetz commented on #10620
Thanks for the report @zouyaoji! Is this what you're seeing?

<img width="804" alt="image" src="https://user-images.githubusercontent.com/4439461/185203923-6b85f32a-ad5d-4b70-a825-640f319f59d2.png">

[2022-08-17 17:31] ggetz commented on #10661
Hi @cavencj I'm closing this issue due to inactivity. If you believe this is still an issue, please feel free to re-open. Thanks!

[2022-08-17 17:31] #10661 closed

[2022-08-17 17:33] ggetz commented on #10658
@engineerhe I think we'll need a bit more detail. Can you provide more information about how to reproduce the fast and slow animation? Maybe including a [Sandcastle example](https://sandcastle.cesium.com/) which duplicates it?

[2022-08-17 17:53] ggetz commented on #10651
Yes, this uses the [`type`](https://nodejs.org/api/packages.html#type) field (only used by NodeJS, not npm) to specify how the worker files are loaded. Specifically, this is needed due to the inclusion of `requireJS` in `cesiumWorkerBootstrapper`. Once workers can be overhauled and requireJS is no longer needed (waiting on https://bugzilla.mozilla.org/show_bug.cgi?id=1247687), then we should be ab

[2022-08-17 17:53] #10651 closed

[2022-08-17 18:00] ggetz commented on #10685
Thanks for the detailed write-up @matthew-viglione!

[2022-08-17 18:15] ggetz commented on #10649
For context, looks like the function was rewritten in https://github.com/CesiumGS/cesium/pull/9765.

(While it was "inspired by" the original third party implementation, it is not a direct in-lining. Though I would think we should have `measureText` mentioned in `LICENCE.md` by that logic.)

@maxizrinUX Would you be able to test before that PR and see if you're getting the same artifacts?

[2022-08-17 20:14] #10535 closed

[2022-08-17 20:15] ggetz commented on #9212
Reviewing this in light of recent updates (which actually made the requirements around environments bit stricter), here are some thoughts.

For those bundling an app through tools such as Webpack or rollup, `Widget` CSS files could be imported from either the `Source` folder, or the `Build` folder. This depends on whether there is a CSS bundler in place. If so, importing from `Source` will give th

[2022-08-17 20:28] javagl opened #10699 "Precision errors when passing integer metadata values to fragment shader"
When metadata values that use integral types are supposed to be used in a custom shader, their values may not match the values that they have in the input data.

The effect was noticed while [creating a `3d-tiles-samples` model](https://github.com/CesiumGS/3d-tiles-samples/pull/55) that contains point clouds with property attributes, where each point has a `classification` value that can either be

[2022-08-18 01:58] zouyaoji commented on #10620
Yes, I don't know how the line in the red box came from. It only appears when sceneMode is 2 and mapMode2D is 0.

![image](https://user-images.githubusercontent.com/24430116/185275387-a22d1375-7e1c-4f0a-8b83-97f42c470bf4.png)

[2022-08-18 07:29] maxizrinUX commented on #10649
I won't have the time in the foreseeable future.
We have deadlines approaching, so I made a workaround method, and forged on.
Sorry.

[2022-08-18 09:40] thw0rted commented on #9212
First, I like the idea of user-conditions to get rid of index.cjs, but while we're at it, why have the unminified option in the first place? Does anybody consuming this lack support for sourcemaps?  Would it be possible / desirable to just have one Build directory that includes minified JS plus a sourcemap for everything?  Probably an issue for another ticket.

Also under User Conditions, it says

[2022-08-18 11:31] Futhark commented on #6361
this should be closed since these changes are already implemented

[2022-08-18 13:02] JaylanChen opened #10700 "Cesium.d.ts did not export EllipsoidalOccluder"
Cesium.d.ts did not export EllipsoidalOccluder.

![image](https://user-images.githubusercontent.com/7055008/185401015-734b9530-fdcb-4f76-89fa-24529774f010.png)

![image](https://user-images.githubusercontent.com/7055008/185400871-c7b7c3ec-2582-450a-a782-313961a9c5aa.png)

Sandcastle example:  none

Browser: Edge 103

Operating System: win 10

[2022-08-18 13:05] javagl commented on #10649
The state at https://github.com/CesiumGS/cesium/tree/22f7db308755cceaaddf33ea660d3b722baeb0ad (shortly before the linked PR was merged) creates this:

![Cesium writeTextToCanvas old](https://user-images.githubusercontent.com/5597569/185401457-431567aa-2a11-459b-aa72-ff8c30867a97.png)

It also omits the leading spaces in the first line, but the underscores are still there.

The state at https://git

[2022-08-18 14:43] ggetz commented on #10700
Hi @JaylanChen, this is because `EllipsoidalOccluder` is marked as `private`, and is not part of the public Cesium API. So there are no typing for this class by design.

[2022-08-18 14:43] #10700 closed

[2022-08-18 15:33] sanjeetsuhag commented on #7249
As of https://github.com/CesiumGS/cesium/commit/fd66f69dc1bccc808385874590cb7b483a11bd4e, there's a bunch of test failures in the `Vector3DTileContent` suite that I can reproduce locally:

![image](https://user-images.githubusercontent.com/5172619/185434219-5afbd502-9221-434b-9c7c-7e27f982c3a2.png)

[CI seems to have passed though](https://app.travis-ci.com/github/CesiumGS/cesium/builds/254566661)

[2022-08-18 16:56] ggetz commented on #7249
Do you see the same when running with `--webgl-stub` locally?

This sounds like the best approach to me. Specs should only test one thing, and re-writing the specs seems to be the consensus in thread anyway.

[2022-08-18 17:11] sanjeetsuhag opened #10702 "VCTR points are not rendered without picking"
### Background

While trying to fix the test failures in `Vector3DTileContentSpec.js`  mentioned in https://github.com/CesiumGS/cesium/issues/7249#issuecomment-546347729, I discovered that I'm unable to get a simple spec to work that simply checks if a tileset with points can render. The previous test suite is also facing the same issue.

### Summary

The points are not rendered until picking happ

[2022-08-18 17:14] ggetz commented on #10568
Finished out thanks to @nshen!

[2022-08-18 17:14] #10568 closed

[2022-08-18 17:14] ggetz commented on #10650
@nshen After the fixes from https://github.com/CesiumGS/cesium/issues/10568, have you had any luck with `vite-plugin-cesium`?

[2022-08-18 19:04] sanjeetsuhag commented on #10702
In this [Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=1Vdtb9s2EP4rhD/JgEa7GPphthN0SYytQLIGjteimPeBls4WN5o0SCpuWuS/7/giWX5pIiBGigGGZN7xnnvujjxSmZLGknsOG9DkjEjYkEswvFzRj16WzDqZH18qaRmXoGed7nAmZzLzlhlbgWZoGSBoGA8rtclAwlbrh7VyKdTcKb2U+lGtAyH42iieo95raC3x3iMgfLEg8yRSDsIw+PlqygWY99KsIbNK3/AvXHZrfF7JXZg3KgfRiOEogEf3Mz0BAZZYNwGsH+N7GoaYMkp74XeHtqZ3xSzr7dDqffSY8eVEt4pLaz5xW1wwmxVTNhfQiw7o

[2022-08-18 19:16] ggetz commented on #9212
Thanks for pointing that out @thw0rted. To side step the `types` issue, we could restrict the exports to just CSS files for now since that seems to be the core of this issue.

[2022-08-18 19:50] nshen commented on #10650
I replaced cesium 1.95.0  with the one I build, seems don't work, I don't know why. @ggetz

<img width="769" alt="image" src="https://user-images.githubusercontent.com/181506/185481437-4333c881-73ee-4cba-b48e-17119214cf9f.png">

<img width="896" alt="image" src="https://user-images.githubusercontent.com/181506/185481534-fda49209-70d1-43f1-a66d-e2edcfd5877b.png">

---

code

https://github.com/nshe

[2022-08-19 00:27] angrycat9000 opened #10704 "flyTo with up and direction throws DeveloperError"
Calling `camera.flyTo` with up and direction throws a `DeveloperError`:

Error
    at new DeveloperError (https://sandcastle.cesium.com/CesiumUnminified/Cesium.js:12548:13)
    at CesiumMath.equalsEpsilon (https://sandcastle.cesium.com/CesiumUnminified/Cesium.js:12833:13)
    at Cartesian3.equalsEpsilon (https://sandcastle.cesium.com/CesiumUnminified/Cesium.js:13345:94)
    at Object.resultat [as

[2022-08-19 11:24] thw0rted commented on #9212
I guess as a first pass that makes sense, but I thought part of the point of repackaging all the source in ESM was that people can import directly from `cesium/Source/Foo.js`, and thus benefit from tree-shaking?  If you don't expose your ESM source files via `exports` , that won't be possible (with modern tooling).

This goes back to some old posts upthread -- what kind of public API does Cesium r

[2022-08-19 13:46] ggetz commented on #10704
Thanks @angrycat9000. The error was not from error checking specific for `flyTo`, but was occurring due to an error further down the stack. Fix is in https://github.com/CesiumGS/cesium/pull/10705.

[2022-08-19 14:14] ggetz commented on #10650
@nshen I'm actually having trouble reproducing the error with 1.96 myself.

1. Clone `vite-plugin-cesium`
2. Edit `package.json` to use `cesium@1.96`
3. `yarn install`
4.  `cd demo`
5.  Edit `package.json` to use `cesium@1.96`
6. `yarn install`
7. `yarn serve`

<img width="1283" alt="image" src="https://user-images.githubusercontent.com/4439461/185637682-56d891c1-d74d-47a6-8ff9-eeefa177818f.png">

[2022-08-19 14:56] j9liu commented on #8004
I'm closing this issue, since it will no longer be relevant to the implementation of `Model` / `ModelUtility` by the 1.97 release.

[2022-08-19 14:56] #8004 closed

[2022-08-19 14:57] j9liu commented on #7801
@lilleyse can this issue be closed now that `ModelExperimental` has replaced `Model` ?

[2022-08-19 14:59] j9liu commented on #10280
@Fivedogs I'm closing this issue, since I believe it has been solved with the latest `Model` changes. Feel free to reopen if you're still experiencing issues.

[2022-08-19 14:59] #10280 closed

[2022-08-19 15:00] #7801 closed

[2022-08-19 15:06] j9liu commented on #8396
I'm closing this issue since `Model` no longer supports techniques as of the 1.97 release.

[2022-08-19 15:06] #8396 closed

[2022-08-19 15:08] j9liu commented on #7419
I'm closing this issue, since as of 1.97 we're only providing limited support for glTF 1.0.

[2022-08-19 15:08] #7419 closed

[2022-08-19 15:10] j9liu commented on #1841
This issue will no longer be relevant as of the 1.97 release since `ModelMaterial` will have been removed.

[2022-08-19 15:10] #1841 closed

[2022-08-19 15:40] ggetz commented on #9212
Since all it does is export other modules, you can get the benefit of tree shaking by using `Source/Cesium.js` (the default) as is as long as you are importing the individual modules, like:

[code]

Webpack specifically looks for the `sideEffects` field in `package.json`. So for this specific case, we could potentially add

[code]

but I think that is out of scope for this particular issue.

At th

[2022-08-19 16:56] nshen commented on #10650
@ggetz Thanks for trying, the error will only show when you run `yarn dev` with 1.96

[2022-08-19 18:28] ggetz commented on #10650
Thanks @nshen. Based on [the vite docs for `optimizeDeps.exclude`](https://vitejs.dev/config/dep-optimization-options.html#optimizedeps-exclude), I was able to get everything working with the following tweak in `src/index.ts`:

[code]

[2022-08-19 18:52] #10704 closed

[2022-08-19 19:21] ptrgags opened #10706 "Use `Model` for `.vctr` and `.geom` contents"
Right now, vctr and geom contents still use custom classes (`Vector3DTileContent` and `Geometry3DTileContent`).

This would involve:

1. Making `VctrLoader` to parse `.vctr` files and transcode to a `ModelComponents` instance, much like `B3dmLoader` does for `.b3dm` file
2. Similarly, make a `GeomLoader` for `.geom` files.
3. Add pipeline stages to `Model` as needed to implement any unique functio

[2022-08-19 19:26] j9liu commented on #10216
`ModelExperimental` has replaced `Model` as of the 1.97 release, so the old `Model` specs have been deleted. This issue is no longer relevant.

[2022-08-19 19:26] #10216 closed

[2022-08-19 20:02] #10662 closed

[2022-08-19 20:12] ptrgags commented on #10662
@SunnyBily I merged the PR to fix the outline loading crash. That said, I noticed that the glTF file (inside the `.i3dm` inside the tileset) seems to be missing some details which makes it not render correctly, even with the fix. The accessors do not reference any buffer views, so most of the data in the model is ignored (including the outline indices)

[code]

This is because of the following lin

[2022-08-19 20:22] lilleyse commented on #10662
It's ok that the draco compressed attributes are missing buffer views since the data comes from the draco blob.

The problem might be that `CESIUM_primitive_outline` references the same index buffer as `indices` which doesn't have a buffer view.

[2022-08-19 21:06] #10632 closed

[2022-08-19 21:07] nshen commented on #10650
Oh thanks, @ggetz, I just have to remove `exclude: ['cesium']` then everything gets working!

But I remembered why I exclude cesium was because while we don't exclude cesium, vite will [pre bunding](https://vitejs.dev/guide/dep-pre-bundling.html) cesium library for page load performance.

when cesium is being bundled, it makes chrome's breakpoint jumping inside cesium very slow. because the bundle

[2022-08-20 05:29] nshen commented on #10650
I just make it work first, maybe it's not a big problem,  now vite-plugin-cesium 1.2.21 can works with cesium 1.96.0.

@meschg

[code]

[2022-08-20 11:05] meschg commented on #10650
Hi @ggetz and @nshen,

thanks for your effort investigating and fixing this. I can confirm that both my vite projects work now with cesium@1.96.0 and vite-plugin-cesium@1.2.21.

Kind regards,
meschg

[2022-08-21 09:06] maxizrinUX commented on #8944
There is a simple workaround for this:
[code]

[2022-08-22 02:00] amock78 commented on #9689
I struggled with this a while back and here's what I came up with that seems to get the job done. It forces the camera to maintain the last camera position before the pitch value went below whatever was set in the code. In this case -15 degrees, since default camera pitch from top down viewing is -90 degrees. You can obviously go to 0 if you wanted, but I found this produces a nice overall feel.

[2022-08-22 03:18] Criska9527 opened #10709 "I use cesium3dtileset and add it to the primitivecollection to load the model of bd3m. When loading multiple models, rendering is not possible. It can correctly locate the model, but only one of them will be rendered"
Sandcastle example:
![image](https://user-images.githubusercontent.com/37037014/185831989-d052471f-70dd-4b67-81c7-05981cb5dc8e.png)

Browser:
microsoft edge

Operating System:
win10

I use cesium3dtileset to load multiple bd3m models, but I can locate the models normally, but I can only render one

![image](https://user-images.githubusercontent.com/37037014/185832178-4925d2e1-2bc3-4aab-8568-93b769

[2022-08-22 06:30] Criska9527 commented on #10709
I found the reason because of this parameter setting of mine

[code]

[2022-08-22 09:01] thw0rted commented on #8944
If you're going to anycast to get around the type restrictions, you might as well just do `new Entity({billboard: img, position: new CallbackProperty(() => ...) as any})`.

Eventually, I agree with Matt from the OP, there should be a `CallbackPositionProperty` which just implements both interfaces.

[2022-08-22 10:36] #10709 closed

[2022-08-22 12:53] lilleyse commented on #10709
@Criska9527 could you try this out in `main`? The new model implementation was merged earlier this month and we want to make sure you don't see the same issue.

[2022-08-22 13:50] ggetz commented on #10650
@nshen I'm glad this is at least working for the time being!

Ah, good point. We've seen this before on some of our internal projects that use CesiumJS. What we've tended to do is [blackbox the script](https://umaar.com/dev-tips/128-blackboxing/) when debugging. That way, developers have some flexibility if they want to step through CesiumJS or not. If that works for your use cases, perhaps you ca

[2022-08-22 13:52] ggetz commented on #10650
We can continue the discussion here, but I'm going to close the issue since no additional changes are needed in CesiumJS itself. Thanks!

[2022-08-22 13:52] #10650 closed

[2022-08-22 15:45] #10684 closed

[2022-08-22 15:49] GatorScott commented on #10649
It seems that this function needs requirements clarification.  Is it truly useful to clamp the canvas to the drawn text, which is effectively causing leading spaces to be ignored?  Why isn't clamping occurring on the right side of text?  What is the implementor supposed to do with the string parameter "baseline" (bottom of what)?  Should this even be public or should it be made private?

[2022-08-22 15:54] mramato commented on #10684
Thanks @ggetz!

Should we write up another issue to undo the pinned npm version once the zip.js maintainer has a better fix on their end?

[2022-08-22 16:23] javagl commented on #10649
The function will require some work, indeed. And as they say: "Pull requests are welcome". But displaying text is _tremendously_ difficult.

(If somebody doesn't believe that: ꧁ خمن أي لغة هذه. ꧂ - and nowadays, some people even consider emojis as 'text' 😱 )

Some short notes:

Clamping the canvas to the text _does_ make sense and _is_ useful. Otherwise, the question is: How large should the canva

[2022-08-22 18:34] GatorScott commented on #10649
@javagl thanks for the info.  I should have been more specific as I was predominantly looking at measureText() rather than writeTextToCanvas().  Since I started looking at this last week I saw the actual... properties and was wondering what problem measureText() was trying to solve that built-in function wasn't providing.

[2022-08-22 18:37] ggetz opened #10712 "Remove pinned "zip.js" version in `package.json`"
https://github.com/CesiumGS/cesium/pull/10694/ pinned zip.js to `2.4` in order to fix https://github.com/CesiumGS/cesium/issues/10684 based on [this recommendation by the zip.js maintainer](https://github.com/gildas-lormeau/zip.js/issues/340#issuecomment-1177329994). Once the package no longer uses `TransformStream`, this workaround should be removed.

[2022-08-22 18:38] ggetz commented on #10684
Opened https://github.com/CesiumGS/cesium/issues/10712

[2022-08-22 19:58] javagl commented on #10649
OK, that clarifies ist. But `measureText` already is private (insofar that it is only a local helper function). What it does, exactly, is ... indeed obscure. Checking pixels to determine the bounding box looks dangerous, and I'd have to look more closely at the code (and maybe dump out the generated image as a PNG file to inspect it) to see what is going on there. But maybe it can just be removed

[2022-08-23 05:41] chris-cooper commented on #9417
We also see jagged/jumpy polylines on M1 devices (MacBook/iPad/iPhone) as shown in this [sandcastle example](https://sandcastle.cesium.com/#c=rZ1bbxvHFYD/CqEnB5DXM+fMOTNTX1DAAfpSoAES9CXyA00xCVGKNEjKhl34v3eGMleqbe6noiGQCBaX++ncz1x2uNhu9ofZ4tPNevZy9uvVZtZe/7770V9XF6vrq4u/tJ/X28XtzXJzuLq4fPj2Zn6zvLvg9W67389+Xi4Oq+3mq6veL3f742/7hXEIVxd3736+nCAu+g2f7u9u+PR6b5I9LIN/de932/XH9Wpz/Cse3Of05n7VP77/zrt3Vyzmu8

[2022-08-23 13:35] happyfeet1996 opened #10717 "Need get all features when click in 3d tiles compare"
When i use 3d tiles compare,i found a necessary function:
![image](https://user-images.githubusercontent.com/40989006/186171017-d0fdf7ce-ec63-4af1-8313-908eac6fce65.png)
![image](https://user-images.githubusercontent.com/40989006/186171190-2eb5f744-1026-41de-b2df-d03e33942790.png)
when i click left model, can we get the right model's feature attributes. click left model as same as right model,this

[2022-08-23 17:21] j9liu commented on #10421
Seems like most of this has been covered in previous PRs. It might be worth looking into the management of typed arrays for instancing, but that's the only thing left on this issue,

[2022-08-23 17:24] j9liu commented on #10296
When I last investigated this issue, I went through all of the sample models and posted the rendering differences in #10346. It seems like image-based lighting is the main culprit for rendering differences; with IBL turned off, the models otherwise appear identical.

[2022-08-23 17:46] ptrgags opened #10718 "Support reusing textures in multiple `CustomShader`s"
In [this post on the forum](https://community.cesium.com/t/re-using-resource-of-a-textureuniform/20080), a user noticed that if you try to use the same `Resource` multiple times in `setUniform()`, it will fail with an error because the resource gets fetched twice.

[Sandcastle from the forum post](https://sandcastle.cesium.com/#c=7Vfdb9s2EP9XCO+hUuHQjuO2mfOBZfnagAYL6qR7qIqUls4WEYoUSMqOO/h/34miZClO

[2022-08-24 09:00] 627496967 opened #10721 "Scene.PickPosition And Scene.SampleHeight get incorrect coordinates"
I recently upgraded the Cesium version of my project, use Scene.pickPosition And Scene.sampleHeight functions do not accurately get the position of the 3Dtiles layer And the Model surface.
When I pick a position on the 3DTiles layer and call this method with the screen coordinates obtained from the event, the resulting world coordinates appear to go directly through the 3DTiles layer.   The elevat

[2022-08-24 10:05] 627496967 commented on #10721
I found the same problem in Sandcastle. Incorrect height collected when right - click pick.
https://sandcastle.cesium.com/?src=3D%20Tiles%20Interactivity.html

[2022-08-24 10:14] 627496967 opened #10722 "The color properties of multiple ModelGraphics become consistent"
Use Viewer.entities.add () to add multiple ModelGraphics and set different color properties. The last added model color affects the previously created model color.

Cesium Version: 1.96.0
browser: Google Chrome 104.0.5112.102

[2022-08-24 13:24] j9liu commented on #10722
Hi @627496967,

Is this the same bug as #10656? We have a fix for that coming in the CesiumJS 1.97 release, so I'm closing this issue to keep things tidy. Please feel free to reopen this issue if I've misunderstood your report. Thanks!

[2022-08-24 13:24] #10722 closed

[2022-08-24 13:27] j9liu commented on #10717
Hi @happyfeet1996,

To make sure I understand: are you asking for help in implementing this feature yourself, or are you asking that it be added as a feature to CesiumJS as a whole?

[2022-08-24 13:33] happyfeet1996 commented on #10717
I think add it to CesiumJS as a whole is necessary.

[2022-08-24 13:45] j9liu commented on #10717
Hi @happyfeet1996,

I see what you mean, though I have to break down the problem to understand what we'd need to implement:

In CesiumJS, tilesets / models need to be visible to be picked. And in the 3D Tiles Compare sandcastle, a splitter is used. The split direction tells us on which side of the screen to discard the model's visible pixels. So essentially, the tileset with features doesn't exist

[2022-08-24 15:13] j9liu commented on #10355
@ggetz it seems like this issue is still open even though 1.96 was released?

[2022-08-24 15:15] j9liu commented on #5576
A 2.0 version of the Cesium Drone model is already in `Apps/SampleData/models/CesiumDrone`, so I'm going to close this issue.

[2022-08-24 15:15] #5576 closed

[2022-08-24 15:21] j9liu commented on #7586
This crash shouldn't happen with the new `Model` implementation because it checks if the model has normals, but do we still want to log a `oneTimeWarning` to let the user know?

[2022-08-24 15:58] emackey commented on #5576
Yes, sorry, this was added in #9215.

[2022-08-25 10:18] piotr-galla opened #10725 "Cesium.d.ts file is missing declarations of enums source files paths."
Possible solution to add missing enums source files paths is to change enum to const enum in regex below.
https://github.com/CesiumGS/cesium/blob/79fcbd1e64cf3d550021fa05354f379c4fde9a56/gulpfile.cjs#L1231

[2022-08-25 18:16] #10625 closed

[2022-08-26 03:42] ZenDay opened #10727 "switchToOrthographicFrustum will cause globe render uncorrectly"
Sandcastle example: https://sandcastle.cesium.com/#c=bY49a8NADIb/irjJhnKmsx1TCHQqZGjJdMvlrMZH78NIOpvk19eNWyhtBg3Pq/cRcjmxwOxxQYIdJFxgj+xL1MdbVhnlbrzPSaxPSEbVrUmboZ2NSFbz4sWNb/lAMuYz2Wn07pkKS4lV3aoHZdTqAPwMQMdyCdhvAPDk45RJoFCotG4E4xSsIDen4j5QtGOu22+z+a12g5/BD7s7b4ILlnndvJcQXv0Vjeq7Zu3/U0O2g0/nw4wU7OWrNj72L1uote6aFe+bknM4Wfpz+RM

Browser:  Chrome 104.0.5112.101

Operating System: macOS 12.5.1

Cesiu

[2022-08-26 07:51] kk1625846601 commented on #8751
Hello, for this fifth shortcoming, I need to load a long curved underground pipeline, and then after using your multiClippingPlanes, it can be loaded, but the page is really stuck.
Later, I considered loading the pipeline dynamically, that is, when the camera is at a certain position, only the screen space coordinates of all pipeline points are loaded in the current screen, and these points are co

[2022-08-26 10:28] anne-gropler opened #10728 "picking cache is not invalidated when camera.setView was used"
Behaviour I'd expect: When changing the camera, the picking cache is invalidated so that the new depth values are used.

Behaviour I currently see: It seems that even after calling `setView` on the camera, the `pickPosition` is still getting old depth values.

How to use the Sandcastle:

The blue/green canvas lines mark the center of the screen.

After loading, use Double Click on a point cloud po

[2022-08-26 14:39] pikvic opened #10730 "Last model color applies to all models"
[Sandcastle example](https://sandcastle.cesium.com/#c=tVdZjyI3EP4rDk+NRMwxsLshzCgcm2yUjLIZyCpSiFamu6CtcdvIds8wWc1/T9nuhuaIIkLgyS7b9R1dPoiVNJY8cXgGTW6JhGcyBsPzjH7ysWhei31/rKRlXIKe1xrky1wSwuVSjdSmT5ZMGGi4kAEBseVK/igTHjOr9N5oyhL1bPrE6ryMqFwkQ8kzZmEbf61/O5dzucylz0ViDTh8rxIQUa5Fg6TAV6mtBxqBOwVpueVgqIZMPcFQiCikIST2GtfKcJ/utlQ4Ztpii8kbutQqm8BKA5jILSHk63bnhrbedrtv2t80Qqjbpa1e6+Zt600RCDxc20EdAnUuReq++0ekHV

[2022-08-26 14:41] j9liu commented on #10730
Hi @pikvic,

This is the same bug as #10656 and #10722. We have a fix for that coming in the CesiumJS 1.97 release, so I'm closing this issue to keep things tidy. Thanks!

[2022-08-26 14:41] #10730 closed

[2022-08-27 02:18] zhwy commented on #8751
Hello @kk1625846601 , can you upload screenshot or a gif ? I don't understand _**"there is a layer of ground above, and I can't see the pipeline below from above the ground"**_. Do you mean the ground is still visible after being clipped?

[2022-08-27 14:56] KingStream opened #10732 "ModelInstanceCollection-batchTable.getFragmentShaderCallback is not a function"
When I use the batchtable of modelinstancecollection, the error message is as follows: batchtable Getfragmentshadercallback is not a function. There is no getfragmentshadercallback method in batchtable

[2022-08-28 17:59] matusa96 opened #10733 "PolylineVolume : 2D shape not always extruding along strip line on sharp turns"
When using PolylineVolume with a strip line that has sharp turns (<90°), the strip line goes outside the wrapping 2D shape (see attachment) at the turning points, whereas the expected behavior is that the strip line always remain inside the wrapping 2D shape, even (and especially) at the turning points.

The bug is best highlighted when superposing the PolylineVolume and a Polyline geometry having

[2022-08-29 01:34] #10732 closed

[2022-08-29 01:43] kk1625846601 commented on #8751
Thanks for your reply, here is a relevant gif, please check it out.

![1661737157391](https://user-images.githubusercontent.com/26573620/187106392-f93ab55a-6e89-456b-aee2-7941f7ce999e.gif)

[2022-08-29 01:46] kk1625846601 commented on #8751
![image](https://user-images.githubusercontent.com/26573620/187106789-902d401e-13ee-4756-be8d-b740b1c4b60f.png)

[2022-08-29 01:47] kk1625846601 commented on #8751
![1661737157391](https://user-images.githubusercontent.com/26573620/187106891-2e286feb-1a00-4d71-8e6d-7226b25b2c05.gif)

[2022-08-29 01:49] kk1625846601 commented on #8751
Sorry, I want to upload a gif, but it doesn't seem to work.

[2022-08-29 02:05] kk1625846601 commented on #8751
The red line at the beginning is the pipeline loaded through multiClippingPlanes, to make it obvious I used the red image. When the camera is away from the earth, you can see a very long red line, and indeed the page will be very stuck.
When I brought the camera close to the ground room again, the red pipe disappeared. It never appears again. Only when the camera is pulled close to the ground, the

[2022-08-29 02:55] kk1625846601 commented on #8751
您好，我通过相机发生变化来动态更新获取屏幕内的点。通过点的编号变化确实能看到每次相机变化，我都拿到了新的点数据。现在不确定的是通过这些点挖的坑，有没有发生变化。但是在浏览器中确实能监听到all数组发生了改变。
![1661740842422](https://user-images.githubusercontent.com/26573620/187113408-905d9b31-3e4b-45ae-8fe6-579a8dd093e7.gif)
viewer.scene.globe.multiClippingPlanes = new Cesium.MultiClippingPlaneCollection({
        collections: all,
        edgeWidth: 0,
        edgeColor: Cesium.Color.WHITE.withAl

[2022-08-29 02:59] kk1625846601 commented on #8751
Hello, I get the points inside the screen by dynamically updating the camera changes. By changing the number of points I can really see that every time the camera changes,
I get new point data. What is uncertain now is whether the holes dug through these points have changed. But in the browser you can indeed listen to the change of the all array.

viewer.scene.globe.multiClippingPlanes = new Cesiu

[2022-08-29 13:15] ggetz commented on #10728
Thanks for the detailed write-up @anne-gropler!

@lilleyse Can you confirm this behavior is unexpected? And is it related to any other recently reported `pickPosition` issues, such as  https://github.com/CesiumGS/cesium/issues/9846?

[2022-08-29 13:29] #10733 closed

[2022-08-29 13:36] ggetz commented on #10725
@piotr-galla Unless I'm mistaken, this is already the regex that currently appears in `gulpfile.cjs`. Can you describe what has changed?

For context, [here is how we initially handled enums](https://github.com/CesiumGS/cesium/pull/8878) for generating the TypeScript definition file.

[2022-08-29 13:52] anne-gropler commented on #10728
I forgot to mention that we use Cesium 1.92, I hope this helps tracking down the bug, in case you confirm that this is unexpected behaviour.

[2022-08-29 14:45] j9liu commented on #7505
The model still looks incorrect in the new `Model` implementation 😬
![image](https://user-images.githubusercontent.com/32226860/187227867-0482dc3c-cf3e-4c7c-b622-44086c3488b9.png)

 It also seems like the bounding sphere is inaccurate, because it zooms in far below the model. I wonder if this has to do with quantization?

[2022-08-29 15:15] jjhembd commented on #10733
Hi @matusa96, are you looking for behavior more similar to `stroke-linejoin="round"` in SVG? See this [picture on MDN](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-linejoin#round). Our `ROUNDED` cornerType behaves a little differently, as you noticed.

Let us know if `MITERED` cornerType will work for your case.

[2022-08-29 17:02] ptrgags commented on #10641
Interesting, I had this problem too on Linux (Ubuntu 22.04), but then later it worked fine:

Setup that didn't work:

* I had built `cesium` implicitly via the `Launch Server` task in VSCode. The server was still running because I was using it earlier for `SpecRunner`
* Then running `npm run coverage` ran, but encountered errors and the report was empty

Setup that worked:

* Shut down the server

[2022-08-29 19:03] ggetz commented on #10636
For the first iteration of this, we'll focus on creating a separate non-widget, engine-only package and a widgets package dependent on the former. This will allow us to set up the repo to support publishing multiple modules while focusing on one set. Separating out `Widgets` isolates the `knockout` and `nosleep` dependencies, as well as minimize and simplify build configuration for those not inter

[2022-08-29 19:15] #7249 closed

[2022-08-29 19:15] sanjeetsuhag commented on #10702
Fixed in https://github.com/CesiumGS/cesium/pull/10707

[2022-08-29 19:16] #10702 closed

[2022-08-29 20:11] ptrgags opened #10737 "Camera not tracking model with `KHR_mesh_quantization` correctly"
We tried rendering the following glTF models in [this Sandcastle that uses entities](http://localhost:8080/Apps/Sandcastle/index.html#c=zVZbT9swFP4rVp9SKTgphcGygsZg0iYNjQHay7oH45w2Fr5ktlMKqP99x7nQtGMPk5BGXhqfy/ed7xzbKTfaebIQcAeWHBENd+QUnKgU/V7boumA1+tToz0TGux0EJPHqSZE6Jn5YJYZmTHpIA4mBxK4F0Z/1rngzBu74S1Ybu5cRrytOoupZH6ihWIenuyr4bupnupZpWsswi2g+9zkIKPKypgUIOaFHzZlNLVT0F54AY5aUGYBJ1JGDQwhvNZYGidquKNO

[2022-08-30 03:20] kk1625846601 commented on #8751
Hello @zhwy  , I tried again yesterday. I figured out how to remove the multiclippingplanes, clear the data, and then recreate and add the multiclippingplanes. The final result was that multiclippingplanes were indeed removed, but could not be added again. Why is this? Thank you very much.

[2022-08-30 06:59] kk1625846601 commented on #8751
Hello @zhwy , Just now, I tried again and found that there was no problem in cutting the ground for the first time. After a few seconds, I cut the ground for the second time. At this time, the pit for the first time will be covered by the pit for the second time, but there is a problem with the pit for the second time: the display is incomplete

[2022-08-30 10:54] Futhark commented on #7950
This issue is still with us

[2022-08-30 14:09] #10421 closed

[2022-08-30 14:33] ptrgags commented on #10737
This definitely has to do with the model's bounding volume. Compare these:

Duck (the only one that was working):
![image](https://user-images.githubusercontent.com/8422414/187464633-b30c2c46-b0de-400d-b39b-c122f28ad24a.png)

Decimated (cm resolution) -- this one has a ridiculously large bounding volume
![image](https://user-images.githubusercontent.com/8422414/187464738-e756d875-f0e5-4b72-b609-81

[2022-08-30 15:13] lilleyse commented on #10728
This is expected behavior, at least with how `pickPosition` currently works.

`pickPosition` gets the position from the depth buffer of the last rendered frame, so you'd need to manually render the scene if you want to get a new value.

[code]

The danger of doing this with 3D Tiles is that not all the tiles will be loaded during the second render and you'll get different results depending on wher

[2022-08-30 15:40] ptrgags commented on #10737
One thing about these particular models is that the position accessors have `normalize: true`. My current hunch is that `min/max` are not updated correctly in such a case

[2022-08-30 17:58] matusa96 commented on #10733
Hi @jjhembd,
unfortunately the MITERED cornerType will not work for my case as i am requested to display a 3D geobuffer around a polyline that behaves like the stroke-linejoin="round" you pointed out (actually the same kind of buffer operators with rounded corners that are produced by spatial analysis librairies like ESRI or Turf.js, but....i need it in 3D....:)

Thanks for you answer anyway, now

[2022-08-31 07:54] kk1625846601 commented on #8751
Hello, I have re studied the whole process and found that the problem lies in the method of generating pits. In the camera change event, the cutting plane can be dynamically updated. There are no problems with your multiclippingplanes.Thanks very much.

[2022-08-31 08:16] Lemonjay opened #10739 "requestWebgl2 CloudCollection bug"
![image](https://user-images.githubusercontent.com/9245295/187627343-e4bc09dc-e7c6-47ab-b0ea-5597b6e84d80.png)

[2022-08-31 13:27] ptrgags opened #10740 "sporadic test failure in `BingMapsImageryProviderSpec`"
I keep seeing this error, sometimes in Travis, but at least once when running the specs in `Scene` locally in SpecRunner. However, it only happens once and a while.

SpecRunner (Ubuntu 22.04, Chrome launched from VSCode):

![image](https://user-images.githubusercontent.com/8422414/187688420-86e1c43b-680c-4bbe-9688-31ef0d1cd8fd.png)

Travis:

![image](https://user-images.githubusercontent.com/84224

[2022-08-31 14:58] zhwy commented on #8751
Sorry @kk1625846601 , I didn't read comments until now. Glad to know you have solved the problem. BTW, it's brilliant to update clipping planes dynamically to avoid the performance issue!👍

[2022-08-31 16:59] #9212 closed

[2022-08-31 17:25] #10737 closed

[2022-08-31 20:58] ptrgags opened #10743 "Ideas for improving shader performance"
Though I recently made some improvements to `ShaderCache` (see #10726), along the way I noticed a variety of things in `ShaderProgram` and other classes that could be improved, albeit some are more easy to change than others

* `ShaderSource` has a function to remove comments with a regex substitution. Aside from preventing `czm_.*` in a comment from accidentally importing things, is this necessar

[2022-09-01 07:25] kk1625846601 commented on #8751
Hello @zhwy, thank you very much. I can't dig multiple holes without multiclippingplanes.

[2022-09-01 11:41] onderaltintas opened #10745 "Transparent background affects billboard visibility under it. Even though you give 0.01 opacity for label background."
This problem exists since 2018-2019 or such.
sandcastle:
https://sandcastle.cesium.com/#c=tVLbauMwEP2VQU8OuHJDGtLNpmFbpwtlTVvavbwYimxPbFFZMpKc9EL/fSUncUM2r4tl0Jw5Z3Q0o1xJY2HFcY0aLkDiGmI0vK3p7w4LUpJ3caykZVyiTsngayr9B1sdRWm55WgoK4rg3ScAGmUcpuR0Vy9m2rodkyO61KpeYKkRTXAyGdPxl8lkEsLZKT0dnZ+PBuGmRMaFyBTTxRS2RQF4zUqcQkoojbq9iaTSNRM1a2gjy5RsmB9djQ9v9T+7FCxDsefQ4ov1Bu8rLliBoqk4S0m4Sy/dpWIllP480kf04XrRc1RrhW

[2022-09-01 12:07] onderaltintas commented on #10745
Seems like the problem was there for polygons and such as well. This guy reported the bug for polygons in 2020:
https://github.com/CesiumGS/cesium/issues/9001

[2022-09-01 13:43] #10512 closed

[2022-09-01 14:19] j9liu opened #10748 "CDB San Diego trees render incorrectly with translucent style applied by picking"
While performance testing with this [CDB San Diego Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=jVZtc9o4EP4runwyM1T4DdukSecS8lIzNUkD6UuGmRthC1CRJZ8sk5Cb/PeTZENxLr3pB8Del2d3n12tSDkrJdgQ/IgFOAUMP4IhLkmVwy9GZs2OUvM+5EwiwrCYHXXBPzMGwJLyOT4GC0RLPGMvnfczNmO9Xo0F8ZPELLMasFpYv3gXU0JxGbOywKnkIiFPhGnvXi812ZCdRqeQ8AxTlVkDm74JYfCNZZMEuBaIyaaU0QSgVDmWQHKw5ZUAhDOAyhLLcsaaDGPOYIYXqKLyzBhP+RozFX

[2022-09-01 16:25] #10355 closed

[2022-09-01 16:46] j9liu commented on #9959
I'm able to load this model properly with the new `Model` implementation in the 1.97 release:
![image](https://user-images.githubusercontent.com/32226860/187968533-dbb482ae-89e6-4b35-8d5d-37a60a2a2146.png)

Closing this issue now.

[2022-09-01 16:46] #9959 closed

[2022-09-01 16:52] j9liu commented on #10321
As of the 1.97 release, it looks like the regular `AnimatedMorphCube` model is no longer extremely large. However, the quantized version is still buggy:
| regular | quantized|
|--------| --------- |
| ![image](https://user-images.githubusercontent.com/32226860/187969343-2f2796a8-5d48-4fe7-a802-dcd8523e0dc7.png) | ![image](https://user-images.githubusercontent.com/32226860/187969487-d77ae479-9837-4

[2022-09-01 17:01] j9liu commented on #7539
As of 1.97, I can reproduce this issue with the new `Model` implementation.

[2022-09-02 13:33] ggetz commented on #10745
Thanks for the report @onderaltintas! This appears to be a duplicate of https://github.com/CesiumGS/cesium/issues/9001, so I'll close this to keep the discussion in one place.

This is a good insight, thank you for pointing it out!

[2022-09-02 13:33] #10745 closed

[2022-09-02 13:34] ggetz commented on #9001
Also reported in https://github.com/CesiumGS/cesium/issues/10745

As @onderaltintas added:

[2022-09-02 13:39] ggetz commented on #10739
Thanks for the report @Lemonjay. I'm adding the [`webgl 2` label](https://github.com/CesiumGS/cesium/labels/webgl%202) to track a few needed shader fixes.

[2022-09-02 16:06] ptrgags opened #10755 "Ideas for supporting `KHR_techniques_webgl` in the new `Model`"
The new `Model` architecture is designed to be more modular than before. Already this has been quite helpful in adding new function like 3D Tiles Next Metadata. However, adding backwards compatibility for glTF 1.0/[`KHR_techniques_webgl`](https://github.com/KhronosGroup/glTF/tree/main/extensions/2.0/Archived/KHR_techniques_webgl) poses challenges for the new architecture.

## Background: Architect

[2022-09-02 16:16] ptrgags commented on #10755
As for my opinion:

I think `Option B` shows the most promise in terms of providing backwards compatibility for techniques. It's most aligned with the architecture and design goals of `Model`, and is the one most likely to play nice with other pipeline stages.

That said, it's not the most trivial to implement as it involves post-processing the technique shader code. I'm also concerned about how w

[2022-09-02 16:22] azurre opened #10756 "Request render mode was broken in v1.96"
Cesium ignore the request render mode after adding any entity.

Steps to reproduce:
1. Create a default viewer with request render mode on.
2. Add any entity

Expected behavior:
Idle shouldn't trigger re-rendering

Actual behavior:
After adding any entity re-rendering triggered infinitely

Affected versions: 1.96+

Sandcastle example: [Sandcastle](https://sandcastle.cesium.com/#c=bZHBbtswDIZfhfClD

[2022-09-02 17:23] ptrgags commented on #10755
Just to cross-link the conversation, this discussion started in the forum in [this thread about glTF 1.0 support](https://community.cesium.com/t/dropping-support-for-gltf-1-0/19969)

[2022-09-03 03:35] Spinksy opened #10757 "Cesium ION SDK 1.97 - Service Worker importScripts console errors"
Browser: Chrome Version 104.0.5112.102

Operating System: Windows 11

Hi, I am currently trying to update from Cesium 1.92 to Cesium 1.97.

We are consumers of the Cesium ion SDK, which I currently reference by script tag to a local path where the Cesium ion SDK Build/Cesium artefacts are copied.

[code]
Since v1.96 I am getting the below console errors related to service workers. From what I unde

[2022-09-05 07:04] aibinMr opened #10759 "Cannot create lines with certain Cartesian coordinates"
Sandcastle example:
https://sandcastle.cesium.com/#c=rVRbb9owFP4rFi8NKHJIQZUaKBqFbqrUrZVo+7L0wSQHsObYke3QZRP/fXaIIaRsT3NASc53Lt+5JeaJ4EqjLYV3kOgGcXhHM1C0yPBrJfMukup1JrgmlIO86I7i2ioXimoqeG33mQmir4ZTKUnpfY85MqeP+z5CzSd7b2Bh35wT6K07Cnq9IOZB77+EOUb4EMdGifmWSLQGkYGW5WkJvtRS7/feFdFa0mWhQUWoFtnjCEbnbKfOxmtY2JOILBccuJ4TTXSZQ+RMZ20Ezx9fbh/u/L84UE8gD2EiNGjpbQkrLGNH84juurXqrr5TntLE6tpEXijX4VVdZ9uqN6eeS5oZV1t

[2022-09-05 10:44] happyfeet1996 opened #10760 "shadows does not have FXAA"
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/40989006/188430601-d745c80f-4cad-4fea-97fa-ae97698e4f96.png">
In this picture,the tileset does not have sawtooth,but the FXAA is useless for shadows

[2022-09-05 12:06] EjiHuang commented on #8944
I solved it using a stupid method.

[2022-09-05 12:10] EjiHuang commented on #8944
I used "@ts-ignore" to fix this.
[code]

[2022-09-06 06:25] #10760 closed

[2022-09-06 16:15] ptrgags commented on #10636
@ggetz This is exciting to see! Is my understanding correct on these details?

1. Code from `Scene` or `Renderer` would end up in `cesium/engine`, at least for this first iteration
2. Future iterations might further divide `cesium/engine` into smaller packages, perhaps separating graphics/geospatial math from rendering details

[2022-09-06 17:09] ggetz commented on #10636
Yes. I think it would be cleaner to move source files directly into this directory structure rather than having scripts copy or reference code from `Source`, but let me know if that's a concern.

Yes, and this would be split along architectural boundaries such that units of code which require additional dependencies are separated into packages. To do so, we would increment a major version to denot

[2022-09-06 18:02] ggetz commented on #10756
Thanks for the report @azurre. I can replicate the issue and can confirm its a regression.

[2022-09-06 18:06] ggetz commented on #10759
Hi @aibinMr, this happens when projecting the Cartesian3 point (0, 0, 0) to 2D. [Here is one possible solution](https://github.com/CesiumGS/cesium/issues/8643).

[2022-09-06 18:06] #10759 closed

[2022-09-06 20:57] sanjeetsuhag commented on #10455
While [`@enum` tag is supported by the TypeScript compiler](https://www.typescriptlang.org/docs/handbook/jsdoc-supported-types.html#enum), it doesn't generate a TypeScript enum, instead it generates a `namespace` in the definition file. Another small issue is the way we export the frozen JS object. For example, see the [definitions generated from `ArcType.js` - (TSPlayground link)](https://www.typ

[2022-09-07 03:03] aibinMr commented on #10759
very happy to hear from you，confuse me is some point[
    0.0,      0.0,    0.0,
    10000.0,  0.0,    0.0,
] is ok，and other[
    0.0,      0.0,    0.0,
    0.0, 10000.0,    0.0,
] is not。

[2022-09-07 09:04] progsung opened #10764 "Error LegacyInstanceing without normal"
# Error legacyInstancing i3dm without normal vertex attribute. (in main branch, 1.97)

https://github.com/CesiumGS/cesium/blob/85535fbedc196ef872f989d9a81ef22161f16193/Source/Shaders/Model/LegacyInstancingStageVS.glsl#L7

# My Fix
[code]

[2022-09-07 09:14] progsung commented on #10764
Maybe..., This case also need testing.
* InstancingStageVS  ( _new instancing_ )
https://github.com/CesiumGS/cesium/blob/85535fbedc196ef872f989d9a81ef22161f16193/Source/Shaders/Model/InstancingStageVS.glsl#L1

[2022-09-07 09:55] prasuncct commented on #8728
I think it is related. There is a list of uniforms out of which there is one UniformSampler named "model_clipping_planes" with value as undefined.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/82934147/188849562-2363fa51-5607-4284-93b0-596522a452e4.png)

[2022-09-07 10:05] bampakoa commented on #10636
@ggetz the initial plan looks great 💯

It may be a bit too early for this but maybe it would make sense to publish the new packages under the `@cesium` namespace. However, this would introduce breaking changes so I do not know if it is something that could be done atm.

Regarding the testing/linting process, I think it would be better to have tests alongside the code of each package so that it wil

[2022-09-07 10:55] zhutaiyong commented on #10227
good

[2022-09-07 12:55] lilleyse commented on #8728
@prasuncct or @changqingom could you check if this is fixed for you in the latest release CesiumJS 1.97? We refactored the model loading code and this may have been fixed.

[2022-09-07 17:48] ptrgags commented on #10764
@progsung thanks for catching this! You had the right idea for the fix, there was indeed a missing define, though only in `InstancingStageVS.glsl`. The problematic line in the legacy (i3dm) version was actually dead code, so the fix was to remove the line.

I opened https://github.com/CesiumGS/cesium/pull/10765 to fix this.

[2022-09-07 18:15] sanjeetsuhag commented on #10455
The JSDoc to `.d.ts` pipeline seems to have [several open issues](https://github.com/microsoft/TypeScript/labels/Domain%3A%20Comment%20Emit). I left a [comment](https://github.com/microsoft/TypeScript/issues/46010) providing an example of the issue we're running into.

[2022-09-07 18:41] ptrgags opened #10766 "Feature IDs not working correctly for GPU instance metadata example"
This regression was originally reported in [this forum post](https://community.cesium.com/t/cesium-example-for-gpuinstancesmetadata-not-working/20280).

[The GpuInstancesMetadata example](https://github.com/CesiumGS/3d-tiles-samples/tree/main/glTF/GpuInstancesMetadata) is not working with the latest `main` and the sandcastle provided in the README.

I tried using a CustomShader to visualize the fe

[2022-09-07 19:42] ptrgags commented on #10766
Update: I'm noticing that the `dequantize` flag is true in `GltfVertexBufferLoader` for all instanced attributes, and so anything that isn't a `FLOAT` attribute is deuantized (which is incorrect here).

Something seems odd, not sure why that option is hard-coded in GltfLoader. I'll look at the history of that file to see if something went wrong somewhere.

[2022-09-07 20:35] ptrgags commented on #10766
Looking back at the history, `dequantize` was hard-coded back in this PR: https://github.com/CesiumGS/cesium/pull/9694

Though talking with @lilleyse today, we're thinking that that approach wasn't the best way to handle attributes with `normalize: true`, so now we're thinking:

1. Remove the dequantization from `GltfVertexBufferLoader`, that's too low-level
2. Update `GltfLoader` to not pass in t

[2022-09-08 00:10] Spinksy commented on #10757
Hi @ggetz

I'm referencing the files/folders from the Build directory of the Ion SDK. These are all copied to the /lib/Cesium/1.97 folder as a pre-build step, I don't explicitly set the CESIUM_BASE_URL as everything resolves by the relative paths in this structure.

The only exception at the moment, is I am copying the Build/Workers folder from the standard Cesium JS library as a workaround for th

[2022-09-08 03:50] prasuncct commented on #8728
@lilleyse I am not loading the gltfmodel but the pointcloud (las). It does not seem to be fixed yet.
![cesium_error](https://user-images.githubusercontent.com/82934147/189030127-553bf5ed-baa0-4944-9dcf-d5a4532c2986.jpg)

[2022-09-08 08:54] lzc1718 opened #10767 "On mac m1 chip computer, the display is abnormal"
Use new Cesium.ImageryLayer properties（brightness、contrast、hue、saturation、gamma） to modify the displayed map style. The display is abnormal, on mac m1 chip computer. But the win10 computer shows up fine.

[2022-09-08 09:16] dgjkl opened #10768 "3dtiles gltf1.0 贴图丢失"
:exclamation: Please use the [community forum](https://community.cesium.com/) for asking questions about how to use Cesium and best practices. The core Cesium team actively monitors the forum and we love seeing what people are working on! :exclamation:
最新1.97版本，3dtiles  gltf1.0 贴图丢失。1.91版本没有出现问题。
尝试调试修改：
修改updateVersion.js：
将 const baseColorTextureNames = ["u_tex", "u_diffuse"];  修改为：const baseCol

[2022-09-08 10:35] ilyaly opened #10769 "Scene crash when GLTF has no `nodes` attribute"
When loading Cesium3DTileset tile that has empty nodes list (empty in this case means that no `nodes` attribute exist in corresponding GLTFs), scene crashes with error:

![image](https://user-images.githubusercontent.com/30498863/189100052-1e821375-0204-40eb-8dc6-800fbcc46f0a.png)

This error occurs because `gltf.nodes.length` is accessed without checking if it exists, which leads to scene crash w

[2022-09-08 10:37] ilyaly commented on #10769
Attaching sample tileset.

[SampleTileset_EmptyNodes.zip](https://github.com/CesiumGS/cesium/files/9526091/SampleTileset_EmptyNodes.zip)

[2022-09-08 12:36] lilleyse commented on #8728
Point clouds and glTF models now use the same `Model` class under the hood so the behavior should be similar.

Would you be able to put together a sandcastle that demonstrates the problem?

[2022-09-08 12:53] ggetz commented on #10767
Thanks for the report @lzc1718. Would you be able to add a [Sandcastle example](https://sandcastle.cesium.com/) which shows the issue? And a screenshot of how it appears on M1?

[2022-09-08 13:05] lilleyse commented on #10769
Thanks @ilyaly. That looks like the right fix to me. Would you like to open a PR?

[2022-09-08 13:18] ilyaly commented on #10769
@lilleyse , thanks for the reply, here it is: https://github.com/CesiumGS/cesium/pull/10770

[2022-09-08 13:38] ilyaly commented on #10769
@lilleyse , thanks for reviewing the issue. Here is PR: https://github.com/CesiumGS/cesium/pull/10770

[2022-09-08 15:11] ggetz commented on #10768
Hello @dgjkl.

We [dropped support for glTF 1.0 in Cesium 1.97](https://community.cesium.com/t/dropping-support-for-gltf-1-0/19969). Please use that thread to get help updating your model.

Thanks!

[2022-09-08 15:11] #10768 closed

[2022-09-08 19:14] #10766 closed

[2022-09-08 20:41] #10764 closed

[2022-09-08 20:54] ptrgags opened #10773 "`setProperty()` isn't creating properties if they don't exist"
This was originally reported in [this forum post](https://community.cesium.com/t/cesium3dtilefeature-setproperty-stopped-working-in-1-97/20253)

The post provided [this Sandcastle](https://sandcastle.cesium.com/#c=vVZtb9s2EP4rB+9D5NWmnTbFNtsJtr6hA9K0aLx90hdKOktcJFIgKSdukf++oyjKUuL144A40vFenod3x6NSJY2FvcB71HAJEu/hLRrRVOzvdi2KJ2krv1XSciFRx5MZfI8lgCl4pu7NCqxucBbLx+k6lrH0sZhJUSLLS5Ugy7C2xRaN/SOnEMZuUW

[2022-09-08 21:13] robert-irving-snc opened #10774 "KML with unsupported feature will cause Cesium to not load supported features, run out of memory"
Sandcastle example:

https://github.com/robert-irving-snc/cesium/tree/kml-sectional-chart-issue
Run the KML sample on my cesium fork branch and select the 'KML Samples with Sectional Charts' option from drop down. Or just grab the KmlSamplesWithSectionalCharts.kml file from the branch, and try to load it as a Cesium.KmlDataSource

Browser:
Chrome

Operating System:
Windows

This KML file loads fin

[2022-09-09 16:42] #10773 closed

[2022-09-09 17:21] ptrgags commented on #10182
After seeing some use cases from the forum, I definitely see that the following would be helpful to have:

* the light direction (see the previous comment)
* access to the usual model/view/projection/normal matrices would be helpful. For example, suppose a shader needed an additional reference point (maybe the center of the model, or the position of a specific object in the scene). You could pass

[2022-09-10 05:54] mioruggieroguida opened #10776 "Tileset styling and transparency"
[Community discussion](https://community.cesium.com/t/tileset-styling-and-transparency/20202)

Is it possible to set the rendering of a 3D tileset from this (`Cesium.Color.fromBytes(20, 146, 153, 200)`)

![image](https://user-images.githubusercontent.com/110836551/189471164-1d4000fd-0226-463d-8251-6df68b47ff73.png)

to this (from mapbox)?

![image](https://user-images.githubusercontent.com/1108365

[2022-09-11 07:47] GunOmniscience commented on #5462
Proposal try use ```this.viewer?.canvas.getContext('webgl')?.getExtension('WEBGL_lose_context')?.loseContext();``` will find memory leak recovery normal!!!

[2022-09-11 14:23] yfrans commented on #7758
Same here.
Using resium, drawing Polyline with CallbackProperty as the positions argument of the Polyline.
The app crashes when calling viewer.datasources.remove(data_source) when data_source contains the Polyline with the CallbackProperty.
Using Polyline without CallbackProperty resolve the issue, but we need the CallbackProperty since we update the position of the Polyline multiple times/sec.

[2022-09-11 16:55] libofei2004 opened #10777 "Why Load geojson with Cesium3DTileset in 2d is not same as GeoJsonDataSource?"
I load a geojson with dataSources in 2d like this way:
viewer.dataSources.add(
					  Cesium.GeoJsonDataSource.load(
					  "../../Cesium-1.97/p1.json",
					  {
						stroke: Cesium.Color.HOTPINK,
						fill: Cesium.Color.PINK.withAlpha(0.5),
						strokeWidth: 3
					  }
					)
				);
It  seems like this:
![image](https://user-images.githubusercontent.com/10001548/189539849-5f320935-2418-4bff-8b

[2022-09-11 17:07] libofei2004 commented on #10777
I load a geojson with dataSources in 2d like this way:
viewer.dataSources.add(
					  Cesium.GeoJsonDataSource.load(
					  "../../Cesium-1.97/p1.json",
					  {
						stroke: Cesium.Color.HOTPINK,
						fill: Cesium.Color.PINK.withAlpha(0.5),
						strokeWidth: 3
					  }
					)
				);
It  seems like this:
![image](https://user-images.githubusercontent.com/10001548/189539849-5f320935-2418-4bff-8b

[2022-09-12 01:31] mramato commented on #10636
I agree that switching to a `@cesium` namespace would be a good call as part of this work.

I'm definitely on-board with the overall intent of the plan, but I wonder if we have actually done any small prototypes (either hacked up Cesium or a small POC complete separate from Cesium) of how this might work. I feel like there could be a lot of potential showstoppers (like JSDoc, TS generation) hiding

[2022-09-12 01:32] mramato commented on #10636
One other thing that comes to mind is public vs private APIs. Right now we have some bad practices where there is a lot of private API usage of the Cesium library.  Would moving to modules have the rule that in order for one Cesium module to use the API of another, it has to be public? That seems the only way to dogfood things properly and make a good product.  For example, I think even some low l

[2022-09-12 02:19] kring commented on #10636
I don't have too much to add. Since you're planning to stick with one repo (makes sense to me), there's not a lot of cost to extra libraries, so generally going "too fine" is better than "too coarse" IMO. For example, this long-ish list of libraries in cesium-native:
https://github.com/CesiumGS/cesium-native#card_file_boxlibraries-overview

(and that's even though CesiumJS does a lot that cesium-n

[2022-09-12 14:39] ggetz commented on #10636
Thanks @mramato and @kring!

To publish with the `@cesium` [scope](https://docs.npmjs.com/about-scopes), we would need a new `cesium` [npm organization](https://docs.npmjs.com/about-organization-scopes-and-packages), which should be free as long as all packages are public.

@sanjeetsuhag Is currently working on this and we'll update here with results.

Yes, this is only used in the existing VR sup

[2022-09-12 16:21] jobeninc opened #10779 "Non-standard javascript naming convention _commonjsHelpers.js downstream issues"
I upgraded my Cesium from 1.92 to 1.97 and my local development environment worked great but when I deployed the application as a war file, it would not load the Cesium world graphic on all browsers.

Skipping all the backstory, the new file Cesium/Cesium/Workers/_commonjsHelpers-89c9b271.js caused a problem with my build process due to the underscore in front of the filename.

Apparently Grails a

[2022-09-12 21:02] ggetz commented on #10777
So the root of the difference in curvature is likely due to [a difference in the arc type](https://github.com/CesiumGS/cesium/issues/4000) used in either case, which will determine how a 3D line is projected into 2D space. Though its odd that `Cesium3dTileset` and `DataSource` are not consistant. My guess is they both should be using Rhumb lines and result in a "straight line" in 2D.

@lilleyse Ca

[2022-09-12 21:30] sanjeetsuhag commented on #10636
I am currently prototyping on the `workspaces` branch. I initially tested things on a simple npm package I created, now I'm trying to test things on the cesium repo.

At the moment, I have just broken up the `Source` folder out into `engine` and `widgets` packages, and used the existing tooling to build `index.js` and `index.d.ts` for each (although the `widgets` is slightly broken). For the top l

[2022-09-12 23:10] lilleyse commented on #10777
[`GeoJsonLoader`](https://github.com/CesiumGS/cesium/blob/fd5ea748e3b86c95e227985e32a562b5185ac7ba/Source/Scene/Model/GeoJsonLoader.js#L23-L42) (used by 3D Tiles) uses geodesic lines for performance reasons to avoid subsampling the geometry. Generally unless you have a tileset with the `MAXAR_content_geojson` extension you should be using `GeoJsonDataSource` which is a much more complete GeoJson i

[2022-09-13 00:54] Sn00pyW00dst0ck commented on #10608
I can take a look into implementing this if nobody else has started working on it.

[2022-09-13 01:18] libofei2004 commented on #10777
@lilleyse  I use a tileset for drawing geojson is indeed for good performance，drawing by tileset is much more efficient than GeoJsonDataSource.

[2022-09-13 01:18] libofei2004 commented on #10777
@lilleyse  I use a tileset for drawing geojson is indeed for good performance，drawing by tileset is much more efficient than GeoJsonDataSource.

[2022-09-13 08:17] longyi-xw opened #10781 "Unable to load '.../types.txt' 404"
![image](https://user-images.githubusercontent.com/54786937/189848792-0d5f71d5-0b47-44d0-b75b-bbeadbeb15b0.png)
1.npm install
2.npm run build
3.npm start
I can't use sandcastles

system: window11

[2022-09-13 13:05] xtassin commented on #9906
I am still getting a "is not defined" exception when trying to call Cesium.sampleTerrainMostDetailed from a NodeJS Application with a locally built Cesium 1.97.0

I use require to declare Cesium in my application such as:
const Cesium = require("./cesium");

Most other code methods seem to be working fine.

[2022-09-13 13:06] javagl commented on #10636
There hasn't been sooo much feedback on the forum thread. But there's one point that I already mentioned in the forum, and that I wanted to bring up here, in view of the questions about *"public vs private APIs"* and the *"long-ish list of libraries in cesium-native"*:

#### Will there be an attempt to align the package structure between CesiumJS and cesium-native?

It is phrased as a question, bu

[2022-09-13 14:30] #10777 closed

[2022-09-13 14:36] #10769 closed

[2022-09-13 14:59] zenggpzqbx opened #10782 "4490"
您好，您是否有意愿使这个库支持EPSG:4490坐标系呢？

[2022-09-13 15:05] ggetz commented on #10781
Hi @Ordinarys. The `build` step does not build the documentation. You must run `build-docs` to build the documentation.

However, that should not prevent you from running Sandcastle. For instance, this is what I see when I run Sandcastle without having first run `build-docs`:

<img width="957" alt="image" src="https://user-images.githubusercontent.com/4439461/189937403-fbeb4ad0-912c-473e-94a0-a267

[2022-09-13 15:07] ptrgags opened #10783 "Coarse metadata in Custom Shader - How to make it scale better"
Right now, CustomShader only supports fine-grained metadata from property attributes and property textures. However, there are several other granularities (tileset, tile, group, etc) that are essentially constant over a whole glTF.

In https://github.com/CesiumGS/cesium/pull/10683, we added tileset statistics to the shader by hard-coding values in the shader code. This works, but it's bad for shad

[2022-09-13 15:10] Ordinarys commented on #10781
Hi @ggetz. thank you for your reply. But in fact my sandcastle can't be opened, it's like this, it's blank, I don't know what the problem is
![image](https://user-images.githubusercontent.com/54786937/189938714-61dda3fb-b3ab-444f-b4c4-d6e819ca1b46.png)

[2022-09-13 15:38] Ordinarys commented on #10781
Sorry for not providing useful information, I just know
1.npm build & npm start everything is normal.
![image](https://user-images.githubusercontent.com/54786937/189943959-fcec5ea7-8a26-4871-8d27-2702898addde.png)
2.In fact, I can't use the sandcastle from the official website of cesium.com. He once told me this tip "Error, the first part of bucket-requirejs.html must exactly match the first part

[2022-09-13 15:51] libofei2004 opened #10784 "when I drawing rectangles in low level in 2d, there is something wrong."
when I drawing rectangles in low level in 2d, the rectangles show like this:
![微信图片_20220913213341](https://user-images.githubusercontent.com/10001548/189946719-e5929343-e188-4bee-8857-9565cf38aa60.jpg)

It  seems that there are shadows(inluding bright  and dark blocks) from rectangles move to anthor place in the map.
this appearance is not always appears, it may usually appears in chrome when in

[2022-09-13 16:04] ggetz commented on #10781
Ah thank you, I was just looking for more clues! 😀

 If you are also seeing an issue on cesium.com, I would suggest hard clearing your browser cache. Sometimes the cached version mismatches the server version leading to that error. It may also fix your local version as well.

There shouldn't be a need to go back to Windows 10.

[2022-09-13 17:19] ggetz commented on #3877
Another request for EPSG 4490: https://github.com/CesiumGS/cesium/issues/10782

[2022-09-13 18:44] ggetz commented on #10779
Hi @jobeninc, thanks for reporting this. We use rollup to package our workers, and use default options for [code splitting](https://rollupjs.org/guide/en/#code-splitting) to generated `_commonjsHelpers`. I'm surprised that it would be non-standard, as it's the default configuration. If it is a common problem though, we can look into options to prevent the underscore.

[2022-09-13 19:09] ggetz commented on #10774
Hi @robert-irving-snc. While we do ignore a few unsupported features, I think you are also running into a different issue here which is ultimately leading to performance issues. I think the root of that issue is a lot of concurrent network requests. Are you seeing the issue just in Chrome, or in other browsers as well?

There is a PR open to properly handle KML partial updates - https://github.com

[2022-09-13 19:53] shelterit opened #10786 "Version 1.97 breaks my pointclouds"
Hi,

Bit hard to demonstrate with all my data locked behind firewalls, but has the rendering of pointclouds changed? I've tested all versions from 1.87 till 1.96, all fine, but 1.97 breaks them all. Has there been a change in formats, etc that I missed? I can see the "CesiumJS has switched to a new architecture for loading glTF models and tilesets" message, but in what way has this affected pointc

[2022-09-13 20:26] jobeninc commented on #10779
Well I probably shouldn't have used the word "non-standard", since I am no authority on that.  It is just a basic issue that occurs due to decisions made by two independent frameworks.  Anyways, thanks for looking into it.

[2022-09-13 20:32] robert-irving-snc commented on #10774
Hey @ggetz I think you are right that the issue is lots of network requests. I believe if the KML <Region> feature was implemented then the network requests would be limited to the supported area defined in the KML, but since it's not Cesium seems to be trying to request global coverage from these charts.

I'll try it out on that branch.

[2022-09-14 02:19] robert-irving-snc commented on #10774
@ggetz I pulled in the changes from that PR to test. I was still able to get both Chrome and Edge to crash. I also tested with Firefox, which did not crash, or show the flood of error messages, but also didn't fully load all of the KML Samples from the test .kml file.

I read through the KML docs on <Region>'s some more: https://developers.google.com/kml/documentation/regions
And it seems the issu

[2022-09-14 03:00] yuz1 opened #10787 "mipmap will be lost when use KHR_texture_transform in Cesium"
[correct.zip](https://github.com/CesiumGS/cesium/files/9562204/correct.zip) without 'KHR_texture_transform'

three.js
![1_threejs](https://user-images.githubusercontent.com/25155589/190048233-b540edc0-e007-4ce4-a342-0312b790320b.png)
babylon.js
![1_babylon](https://user-images.githubusercontent.com/25155589/190048235-2ac477fb-83f1-419e-888c-84412086d519.png)
cesium
![1_cesium](https://user-images.

[2022-09-14 06:52] Lemonjay opened #10788 "How can I set esbuild properties that I can rewrite some class ?"
![image](https://user-images.githubusercontent.com/9245295/190082031-d5721c5f-be47-44c4-94cb-674aa0e129b9.png)

[2022-09-14 13:08] robert-irving-snc commented on #10774
@ggetz I found that checking for viewRefreshMode==="onRegion" in processNetworkLink and return-ing from that gets the desired behavior, no flood of queries and the other kml placemarks load as expected.

https://github.com/robert-irving-snc/cesium/commit/77ea7a93d2d3410dd59a6f549f2c3fc4345c5e5a

Please let me know if this would be acceptable and I'll submit a PR.