[2016-11-03 08:26] abhishekvp commented on #4575
Hey @mramato , this is my first pull request to Cesium. I have sent the completed CLA to the specified email address. Please let me know if there is anything else to do for fixing this issue.

Thanks.

[2016-11-03 09:17] abhishekvp commented on #4568
Hey @mramato , the commit for this issue seems to have been clubbed with the pull request I sent earlier for #4587 . I am sorry for this mix up. How do I fix this? From next time, I will remember to create a new branch before committing.

[2016-11-03 13:48] lucasvw commented on #4368
@mramato @lilleyse do you perhaps have an idea when you will be able to fix this ?

[2016-11-03 13:53] lilleyse commented on #4368
Sorry about the delay, I will spend some more time looking into this.

[2016-11-03 14:31] hpinkos commented on #4568
@abhishekvp you don't need to modify your pull request, it's okay that it fixes two issues since they're both small fixes to Sandcastle examples

[2016-11-03 15:24] hpinkos opened #4592 "GroundPrimitive does not properly handle empty geometry"
From #4562

Somewhere along the way, a bounding sphere at lat/lon 0,0 is being created for empty geometry using a `GroundPrimitive`.  I'm guessing this is because `computeRectangle` returns `new Rectangle()` instead of `undefined` when there is no geometry.

This examples shows that the camera zooms to a bounding sphere.  If you uncomment `height: 0`, camera does not zoom because `Primitive` corre

[2016-11-03 15:50] jo-chemla commented on #3964
Seems like VR-theWorld terrain provider does not work anymore, am I wrong ? See sandbox here for reference: https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Terrain.html&label=Showcases

[2016-11-03 15:54] hpinkos commented on #3964
Hi @jo-chemla, it's working for me.  Do you see any errors in the console?

[2016-11-03 16:33] jo-chemla commented on #3964
Hi @hpinkos , thanks for the quick reply. I cannot see the terrain when choosing VRTheWorldTerrainProvider in the first input dialog, the error being:

loadWithXhr.js:194 Mixed Content: The page at 'https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Terrain.html&label=Showcases' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://www.vr-theworld.com/vr-theworld

[2016-11-03 16:53] hpinkos opened #4594 "Terrain sandcastle example: VRTheWorldTerrainProvider doesn't load over https"
1. https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Terrain.html&label=Showcases
2. Select the `VRTheWorldTerrainProvider`

The terrain doesn't load because we are on https://cesiumjs.org and www.vr-theworld.com doesn't have an https server

[2016-11-03 16:57] hpinkos commented on #3964
Ah, this is because you're on our https site and www.vr-theworld.com doesn't have an https sever.  The http requests are blocked from https servers for security reasons.  It works fine if you go to this link: http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Terrain.html&label=Showcases

I've written up an issue here for us to update the Sandcastle example: #4594

[2016-11-03 17:00] jo-chemla commented on #3964
Alright, thanks a lot for the hint! All the best,

[2016-11-03 17:06] hpinkos commented on #4519
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/gDODtmR4w5E

Safari 10.0.1 on macOS Sierra

[2016-11-03 17:17] pjcozzi commented on #758
OK to close this?

[2016-11-03 17:18] elFerZur commented on #4525
I have the same problem with billboards, of any type (gif, png, svg). Tested on Windows 10 with Firefox 49 and Intel graphics card.

![billboard_01](https://cloud.githubusercontent.com/assets/23243268/19976757/5d6149d6-a1f1-11e6-9b1d-79fc9563149c.png)
![billboard_02](https://cloud.githubusercontent.com/assets/23243268/19976761/5f63b14c-a1f1-11e6-834f-f6c5e214af16.png)

[2016-11-03 17:21] pjcozzi commented on #955
@bagnell will your vector tile work fix this?  Can we cherry pick those commits before merging all of `3d-tiles` to `master`?

[2016-11-03 17:23] pjcozzi commented on #1097
Initial implementation: #4240

[2016-11-03 17:26] pjcozzi commented on #1685
Example improvements are ongoing.

[2016-11-03 17:26] #1685 closed

[2016-11-03 17:28] pjcozzi commented on #1859
@mramato any update if these are still relevant with the latest version?

*  #832 - @exception for ECMAScript 5 properties.

[2016-11-03 17:29] pjcozzi commented on #2094
CC #172

[2016-11-03 17:33] mramato opened #4597 "Problems with JulianDates in distant past or far future."
We currently don't define minimum or maximum values for `JulianDate`instances.  I'm actually pretty sure that minimum and maximum values don't actually exist and the date itself is always valid (obviously still limited by JavaScript Number bounds).

Where we run into problems is trying to actually format really old or far future dates as gregorian strings.  For example, zooming out really far on t

[2016-11-03 17:34] mramato commented on #1859
I'm pretty sure they are both still relevant, but we should actually try and see.  I'll do that when I get a chance.

[2016-11-03 17:39] #758 closed

[2016-11-03 17:44] #4582 closed

[2016-11-03 18:23] pjcozzi commented on #2174
@bagnell any chance this was part of the batch table changes?

[2016-11-03 18:47] duvifn opened #4598 "Clamping billboards to terrain - inaccurate positioning"
Hi,
Recently I encountered a problem with clamping billborads to terrain.
Clamped billboards are appearing with an offset of few meters (not a fixed offset).

In order to see this problem you can enter the following sandcastle example.
When you click `toggle terrain` button you will see the billboard (on the terrain). Click it again (turn the terrain off) and you will see it with some offset.

###

[2016-11-03 18:56] hpinkos commented on #4598
Wow, thanks @duvifn for digging into this and providing the detailed explanation and the code examples!
I think using a geodetic is the right thing to do here, but I'm not as familiar with this part of the code base.

@bagnell does this solution seem right to you?

[2016-11-03 19:43] bagnell commented on #2174
The batch table fixes this mostly. The only thing that needs to wait for the primitive to be ready is the bounding sphere. If it's OK to return `undefined` for the bounding sphere until it's ready, this would be a simple change.

[2016-11-03 20:23] #4544 closed

[2016-11-03 21:20] pjcozzi commented on #2174
Yeah, I think it will be fine for the bounding sphere property to require the primitive being ready.  Labeled this as `beginner`.

[2016-11-04 09:18] pasu opened #4602 "HeightmapTessellator relativetoCenter issue"
hi, I think  this is a writing mistake here:
in HeightmapTessellator.computeVertices function:
var center = options.relativetoCenter;
relativetoCenter -> relativeToCenter

[2016-11-04 12:20] pjcozzi commented on #3425
Works now in Canary 56.

![image](https://cloud.githubusercontent.com/assets/782098/20005210/42d7b08e-a267-11e6-9e6e-1c086416dbb1.png)

![image](https://cloud.githubusercontent.com/assets/782098/20005248/8b1232c0-a267-11e6-8b7f-a5f5c5ea85a5.png)

Some Cesium features may not work yet, but we'll handle that as part of #797.

[2016-11-04 12:20] #3425 closed

[2016-11-04 12:28] pjcozzi commented on #3909
OK to close this?

[2016-11-04 12:42] pjcozzi commented on #2139
Duplicate with #4510.  Will add Sandcastle example there.

[2016-11-04 12:42] #2139 closed

[2016-11-04 12:43] pjcozzi commented on #4510
From #2139 via @shunter

[2016-11-04 13:33] lilleyse commented on #4555
Completed in #4578

[2016-11-04 13:33] #4555 closed

[2016-11-04 13:41] lilleyse opened #4603 "3D Tiles - trigonometric functions"
For https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/2 and #3241

@Dylan-Brown as with https://github.com/AnalyticalGraphicsInc/cesium/issues/4555 lets finish up the rest of the trigonometric functions.

Add support for:
- [x] radians(x) - convert value to radians
- [x] degrees(x) - convert value to degrees
- [x] sin(x)
- [x] tan(x)
- [x] asin(x)
- [x] acos(x)
- [x] atan(x)

Also add these

[2016-11-04 13:48] lilleyse opened #4604 "3D Tiles - sign, floor, ceil, round, etc for styling language"
For https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/2 and #3241

@leesafini After #4556 is done let's add these functions to the styling language in a single PR:

- [ ] sign(x)
- [ ] floor(x)
- [ ] ceil(x)
- [ ] round(x)
- [ ] exp(x)
- [ ] log(x)
- [ ] exp2(x)
- [ ] log2(x)
- [ ] fract(x) - glsl has a built-in function for this, but JavaScript Math does not - you'll need to come up with a

[2016-11-04 14:12] pjcozzi commented on #4603
@lilleyse for this and #4604, I think you should consider a data-driven approach to avoid the duplication for the simple cases (more complicated functions can just have custom code and not be in the object property).  Can you please evaluate this approach and advise @Dylan-Brown and @leesafini?

[2016-11-04 15:05] #4602 closed

[2016-11-04 15:05] hpinkos commented on #4602
Thanks @pasu! I've fixed the documentation

[2016-11-04 15:30] lilleyse commented on #4602
There's also a typo in the code.
`var center = options.relativetoCenter;`

[2016-11-04 15:34] hpinkos commented on #4602
Good catch @lilleyse!  I just saw that options.relativeToCenter was correct the first time it was called.

I'll fix this

[2016-11-04 16:08] pasu commented on #4602
:)

[2016-11-04 17:21] erikmaarten commented on #4425
@nikakhov Do you still see the same issue if you try it here: http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/timeline/Apps/HelloWorld.html?

[2016-11-04 17:31] bagnell commented on #3909
No, it doesn't render the same for both eyes when you have things close to the viewer, so I want to add options to push that distance out.

[2016-11-04 17:45] emackey commented on #4510
In the above screenshot, I suspect *all* of those yellow points are actually sticking into the globe.  Cesium does a good job keeping things like billboards from "sticking into the globe", but the globe-depth tricks break down across frustum boundaries.  So for the clipped yellow dots above, the yellow fragments are being rendered into a rear frustum, and the globe imagery is being rendered into a

[2016-11-04 18:29] #4573 closed

[2016-11-04 20:47] hpinkos opened #4607 "Some Cesium logos have incorrect colors"
I don't know how I didn't notice this when I was reviewing #4584, but we have two different color logos on https://github.com/AnalyticalGraphicsInc/cesium/wiki/Cesium-Logos

![logo1](https://github.com/AnalyticalGraphicsInc/cesium/wiki/logos/Cesium_Logo_Color.jpg)
![logo2](https://github.com/AnalyticalGraphicsInc/cesium/wiki/logos/Cesium_Logo_Color_1.png)

In case you can't see it:
![image](https:

[2016-11-04 20:49] mramato commented on #4607
Probably related to #3847?

[2016-11-04 20:50] hpinkos commented on #4607
The R value for the blue is wrong there, so I wouldn't say this is directly related.  But both this and #3847 can probably be fixed at the same time

[2016-11-04 21:47] emackey commented on #4607
Great eye @hpinkos.  I just had a long offline chat with Jason Martin about this.  He looked up the official colors for us.

The official blue is `rgb(109, 171, 228)` `#6dabe4`, and the official green is `rgb(122, 156, 73)` `#7a9c49`.  The good news is, this matches exactly what the SVG has on the wiki.  I used this SVG to build all of the new logos in #4584, so those are the correct colors too.

[2016-11-04 21:52] hpinkos commented on #4607
Thanks for looking into this @emackey!  I'll update the wiki

[2016-11-05 02:33] lilleyse opened #4609 "Video sound starts playing when loading Sandcastle in IE and Edge"
If you go to Sandcastle by entering an address (like `http://localhost:8080/Apps/Sandcastle/index.html?src=Hello World.html&label=Showcases`) rather than through the link on `http://localhost:8080/`, the sound from the Video sandcastle starts to play even when its not on that demo.

This only happens in IE and Edge.

[2016-11-05 04:36] pasu opened #4610 "EllipsoidTerrainProvider with WebMercatorTilingScheme"
Hi, I think in some situations, especially when we needn't terrain data and mostly the imageryProvider is WebMercatorTilingScheme mode
, it is better to set EllipsoidTerrainProvider tilingScheme as WebMercatorTilingScheme because of high performance and high texture quality.
So, how about it:
`ImageryLayer.prototype._reprojectTexture = function(frameState, imagery,terrainTilingScheme)`

we add the

[2016-11-06 00:03] duvifn opened #4611 "Cartographic.fromCartesian returns wrong results if the cartesian is not on the ellipsoid surface"
Hi,
I recently used `Cartographic.fromCartesian` method and got wrong results.
In order to see the problem please run the following code.
Currently it's logs 'false' to the console.

[code]

([Sandcastle](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=81660d6075f3c98220794a817ad83a1c))

I have noticed that `Ellipsoid.cartesianToCartographic` produ

[2016-11-06 19:37] lilleyse commented on #4560
Updated bug report here: https://bugs.chromium.org/p/angleproject/issues/detail?id=1608

The only time this bug surfaces in Cesium is when running ANGLE and not supporting the depth texture extension. So the good news is that percentage of users is pretty small, but it includes me...

I'll update Cesium as well since currently polygon offset is turned off for all ANGLE users but it doesn't need to

[2016-11-06 19:53] Dylan-Brown commented on #4603
How would I write an example into the 3D Tiles Point Cloud Styling for the conversion functions (radians, degrees) in a way that makes sense?

[2016-11-07 12:44] pjcozzi commented on #4603
For a simple example, just combine them with a trig function, e.g.,
[code]
Then scale and bias this value to compute the color or create a color ramp.

[2016-11-07 12:46] pjcozzi commented on #4603
Sorry, this is wrong, of course:
[code]
It should be `asin`.

[2016-11-07 12:52] #4611 closed

[2016-11-07 14:59] pasu opened #4618 "package.json : requirejs 2.3.2"
Hi
Since version 1.26, Cesium modifies the requirejs version from 2.2.0 to 2.3.2
Unfortuanately, it seems there is a bug in this new version when optimizes code, for example:
The code in the  CzmlDataSource.js ::function unwrapInterval(type, czmlInterval, sourceUri) :
` return defaultValue(czmlInterval['boolean'], czmlInterval);`
I compared the results between 2.2.0 and 2.3.2:
2.2.0 :
`return u(n[

[2016-11-07 15:02] hpinkos commented on #4618
Thanks for bringing this up @pasu

@mramato what do you think we should do to fix this?

[2016-11-07 15:09] pasu commented on #4610
I hope somebody can give me a response,
Maybe my idea is not suitable or this situation is rare, so I can get it.
thanks @hpinkos  :)

[2016-11-07 15:09] #4444 closed

[2016-11-07 15:10] hpinkos commented on #4610
Sorry I missed this @pasu
This isn't an area of the code I'm very familiar with, @pjcozzi @kring do you have some feedback?

[2016-11-07 15:13] mramato commented on #4618
I'm fairly certain this isn't a bug.  `n.boolean` is a perfectly valid Javascript property access.  The only reason we actually have `n["boolean"]` in the code is because of a long ago issue with the dojo compiler that we used to use.

@pasu do you have a small test case that shows that this actually affects runtime code behavior?

[2016-11-07 15:31] lilleyse commented on #4603
Here's a possible data-driven approach. Most of the `abs` areas can be replaced with code like:

[code]

[code]

[code]

[code]

GLSL section - works as long as the function names are valid GLSL functions, which I believe is true for all the built-ins we are adding.
[code]

[2016-11-07 15:34] hpinkos opened #4619 "Polyline crashes in rotatable 2D"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/VYusO_-raDQ

1. Move the camera around in 3D for a little bit
2. Switch to 2D
3. Rotate the camera around for a while

This crash should happen within 30 or so seconds:

[code]

[2016-11-07 15:35] hpinkos commented on #4619
See https://ppc.paralog.net/3Dview.html and https://ppc.paralog.net/2Dview.html

The polylines occasionally won't draw in 2D as well

[2016-11-07 15:39] pjcozzi commented on #4603
Yes, exactly.  That is beautiful!

[2016-11-07 15:40] hpinkos opened #4620 "Polylines with height don't show up in rotatable 2D mode"
This polyline doesn't show up on the globe.  If you remove the height, or change to regular 2D mode, it shows up fine.

[code]

[2016-11-07 15:40] hpinkos commented on #4620
Found when investigating #4619

[2016-11-07 17:03] hpinkos commented on #4607
Fixed https://github.com/AnalyticalGraphicsInc/cesium/wiki/Cesium-Logos

[2016-11-07 17:03] #4607 closed

[2016-11-07 17:03] hpinkos commented on #3847
Fixed

[2016-11-07 17:03] #3847 closed

[2016-11-07 19:59] duvifn commented on #3411
I had the same problem and it was solved with #4598
The problem is that the ray in `globe.getHeight` has wrong direction so it doesn't hit any tile in this case.

[2016-11-07 20:11] duvifn commented on #4598
As a result, the intersection point from which it extracts the height is different and hence the wrong result.

Probably this is the reason to #3411

[2016-11-07 20:22] hpinkos commented on #4598
Thanks @duvifn!  I talked to @bagnell offline and he agreed that this change sounded correct.  If you wouldn't mind putting together a pull request we would be happy to review it.  You can see our contributing documentation here: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md

Thanks again!

[2016-11-08 01:52] pasu commented on #4618
yes, you are right, I test it. Runtime is no problem.
maybe the issue is about yuicompressor

First gulp minify and get the Cesium.js
Then, using yuicompressor and there are so many errors and I could not get the compressed file,

So, in my situation, I could only use the 2.2.0 version because I have to obfuscate Cesium.js
Thanks:)

[2016-11-08 01:52] #4618 closed

[2016-11-08 09:43] lucasvw commented on #4368
That would be great! Thanks a lot @lilleyse

[2016-11-08 13:51] mramato commented on #4618
@pasu if you are ultimately using the yui compressor, you would probably be better off including the unminified version of Cesium in your project (build/CesiumUnminified), since it will get compressed at the end anyway.

I also encourage everyone to use our AMD modules directly, but obviously that's a bigger move.

[2016-11-08 21:22] emackey commented on #3117
Also, the error printed to the console is pretty bad:

The code is printing out `error` which is an Event.  It looks like the correct thing to print may be `error.path[0].src` at least in Chrome... Need to check if that's standard across browsers.

[2016-11-09 01:57] elfayoumi opened #4627 "Cesium TIFF to PNG Proxy"
Hello
I am trying to consume an esri DEM image service using Cesium, I read that I need a TIFF to PNG proxy, and found the code here under tools, but I am not sure how to use it?
Is there any doc, is it just a jar file, you run as a service?
Would you please explain how to use it?

Regards
Ibrahim

[2016-11-09 11:52] pasu commented on #4618
@mramato , yes, you said it, thanks for your suggestion, my situation is a little complicated,  I will make a full consideration

[2016-11-09 15:51] nikakhov commented on #4425
Yes, if you scroll fast a few times back and forth, it will get stuck.

[2016-11-09 16:29] erikmaarten commented on #4425
@nikakhov Thanks for reporting back. Would you like to submit a pull request with the fix you found? ([Step-by-step guide here](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md), and in case you have any questions we're happy to help.)

[2016-11-09 16:41] hpinkos commented on #4627
Hello Ibrahim,

Cesium don't have support for TIFFs and I don't think we have a proxy for doing this.

Please ask question like this on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub issues for bug tracking and planning new features.  Plus, more people will see your question and hopefully be able to help.

-Hannah

[2016-11-09 16:41] #4627 closed

[2016-11-09 18:20] nikakhov commented on #4425
I'm looking into this.

[2016-11-10 00:26] Dylan-Brown commented on #4603
Relevant changes made

[2016-11-10 20:42] pjcozzi commented on #4610
@kring is the best person to advise here.  There was this recent change: #4339.

[2016-11-11 02:58] pasu commented on #4610
@pjcozzi I got it from the latest version, it is a smart and general solution for this issue. The comparison and analysis are clear.So happy for this improvement:)

[2016-11-11 02:58] #4610 closed

[2016-11-11 12:33] HeercoGrond opened #4634 "Option to hide errors when using sampleTerrain and it throws 404."
Hello there,

For our application we're working on a worldwide scale and use the sampleTerrain functionality quite a lot. Now this works great, however, I've written a method that verifies what the 'highest' LOD for a certain area is and it works pretty well, but throws a massive amount of errors from Cesium itself in low LOD areas. For example, in Mirny Mine the highest LOD for terrain is 9. Sinc

[2016-11-11 12:34] HeercoGrond commented on #4634
`var promise = new Promise(function(resolve, reject){
        testTerrain();

        function testTerrain(){
            Cesium.sampleTerrain(terrainProvider, currentPos, testCarto).then(function(result){
                if(result[0].height !== undefined){;
                    correctZoomLevel = currentPos;
                    resolve(correctZoomLevel);
                } else {

[2016-11-11 15:12] SunBlack opened #4637 "Extend Sytling to allow check for existing of a property"
Currenlty you have to make sure a property exists if you use it in Cesium3DTileStyle. But if you have a generic UI sometimes you don't know if a Tileset as has property, because its depend on conent of each tile.

So following code can cause a crash if MYPORPERTY does not exists:
[code]

So it would be nice if you could write something like this:
[code]

In case this is to complex another suggesti

[2016-11-11 15:39] lilleyse commented on #4637
Yes this is a good point for the point cloud styling engine, which won't work if a style references a non-existent property. We should be smarter about detecting non-existent properties ahead of time.

Adding `defined` may not be needed since `{MYPORPERTY} !== undefined` is valid. It might be a good idea though.

[2016-11-11 16:05] hpinkos commented on #4563
Reported on the forum: https://groups.google.com/d/msg/cesium-dev/Lsj-KsgR__U/3YYz5s4mAQAJ

[2016-11-11 16:09] hpinkos commented on #4634
Hello @HeercoGrond,
Please ask questions like this on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub issues for bug reports and planning new features.  Plus, there's a greater likelihood that someone will see your question and be able to help.
Thanks!

[2016-11-11 16:09] #4634 closed

[2016-11-11 17:02] pjcozzi commented on #4563
@bagnell and I discussed offline about adding an ugly but isolated ubyte RGBA fallback.  I marked this as `next release` since we may be able to get this to this in time.

There should also be a Chrome issue that @mramato may have the link too.

[2016-11-11 17:08] pjcozzi commented on #4637
CC #3241

Also added link from https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/140 where it is suggested that `undefined` may be able to evaluate to `0` or `false` with the GLSL backend.

[2016-11-11 18:54] hpinkos opened #4638 "Transforms.preloadIcrfFixed resolving too soon"
Reported on the forum:https://groups.google.com/forum/?hl=en#!topic/cesium-dev/UeS1IDJRGjc

The function below prints out `FAILURE` the first time it runs and `SUCCESS` subsequent times you press the button.  I was under the impression that if you waited for the `preloadIcrfFixed` promise to resolve, calls to `computeIcrfToFixedMatrix` should

[code]

[2016-11-11 19:57] rutsky opened #4639 "Maintain camera heading on zoom"
By default panning Earth in 3D has nice property that no matter how I pan tiles on Earth surface will always be oriented "vertically":

![earth-panning-optimized](https://cloud.githubusercontent.com/assets/46573/20227963/88f3800a-a868-11e6-9560-1aff07e8d37b.gif)

When zoom to mouse is used (either using mouse wheel, or by holding right mouse button), Earth axis is being tilted (the further away fr

[2016-11-11 21:34] hpinkos commented on #4639
Thanks @rutsky,  this is something that has come up a few times on the forum as well.
Until we address this, you can add a `preRender` event to always keep the camera heading such that north is up.  Here is an example:

[code]

[2016-11-11 22:27] #4575 closed

[2016-11-14 07:34] mertkurkcuoglu commented on #3945
Hi cesium team;
I want to inform you that flickering does not seen in primitive rendering. I tested it for adding several polylines as an entity at first, i encountered flickering problem while moving on any polyline. Then when i switch entity to primitive, flickering problem has been lost.

[2016-11-14 11:57] rutsky commented on #4639
@hpinkos thanks for the workaround!

[2016-11-14 15:47] hpinkos commented on #3945
Thanks for the extra information @mertkurkcuoglu!

[2016-11-14 22:17] lilleyse opened #4643 "3D Tiles - binary functions"
@leesafini Similar to the work that @Dylan-Brown is doing for the unary functions, we want a data-driven approach for the following binary functions to avoid a lot of duplicate code:

* atan2
* pow
* min
* max

https://github.com/AnalyticalGraphicsInc/cesium/issues/4603#issuecomment-258867315

You'll need to make a few modifications so it supports sending in two values instead of one. These are so

[2016-11-15 15:08] lilleyse opened #4645 "Memory leak when removing textured models"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/7jeBHcXC7L4

When many textured glTF models are added to the scene and then removed, the reported CPU memory of the Cesium app stays high.

I still need to investigate properly, but this seems like a big enough issue to mark for next release.

[2016-11-15 17:53] SunBlack opened #4646 "Calling makeStyleDirty has no effect"
I have multiple tilesets in a app with same style. To not store a reference to each tileset but still be able to modify the style, I have stored a reference to this generic style, so I can change properties there and it effects all tilesets. But I'm not apply to see my changes.

A simple demo to demonstrate this issue:
[code]

[2016-11-15 20:56] hpinkos opened #4647 "Weird interaction between CzmlDataSource.process and tracked entity"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/fILh9nJyI1w

The model in this example looks like its flickering.  To me it looks like it might be that the camera isn't tracking it correctly for a split second after the model moves.  This only happens when `czmlDataSource.process` is called.

[code]

[2016-11-16 10:56] PlutoniumHeart opened #4653 "Why use multi-frustum to solve the depth buffer problem when logarithmic depth buffer method works fine?"
Hi,

I am not sure what I am missing, but as far as I know logarithmic depth buffer method is effective with very large view distance (S_min = 3.75m with Far plane = 10000000m, constant C=1, at distance = 1000000000m, change to C can easily get S_min to come down to less than 1 meter), and it only requires modification to the VS (if the depth buffer need to be correctly interpolated also small mod

[2016-11-16 14:20] SunBlack opened #4654 "[Cesium3DTileStyleEngine] Missing support of access to values which are not in batch table, but present"
It is currently not possible to access coordinates from a Cesium3DTileStyle.

An example would be:
[code]

It would be also nice if you have access to BoundingBoxes and other properties of a tileset, so a support of following attributes would be nice:
* x/y/z
* bounding box of current tile
* bounding box of root tileset
* level in tree of current tile, starting from root tileset

[2016-11-16 14:40] hpinkos commented on #4653
Hello @PlutoniumHeart, here is information from a course Patrick did at SIGGRAPH a few years ago: https://cesiumjs.org/massiveworlds/index.html#UsingMultipleFrustumsforMassiveWorlds
The first part of the course is all about using multiple frustums.

If you have follow up questions, please post on our forum: https://groups.google.com/forum/#!forum/cesium-dev
The forum is a better platform for quest

[2016-11-16 14:40] #4653 closed

[2016-11-16 14:43] lilleyse commented on #4654
Thanks for the suggestions, I will add them to the styling roadmap.

For point clouds, accessing the position is already available. The spec hasn't been updated yet, but here is a draft:

There are also a few examples in the Sandcastle demo:
http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/3d-tiles/Apps/Sandcastle/index.html?src=3D%20Tiles%20Point%20Cloud%20Styling.html&label=Showcases

[2016-11-16 14:50] emackey commented on #4653
@pjcozzi @bagnell Have we ever looked into logarithmic depth?  There's a [demo](https://threejs.org/examples/webgl_camera_logarithmicdepthbuffer.html).  The dynamic range looks plenty large enough, but I can't tell at a glance if it supports having the camera at Earth/Moon distances while looking at <1 meter objects.

[2016-11-16 15:16] SunBlack commented on #4654
Well thanks for the hint with ${POSITION}. But without access to any offset it is currently not really usefull with point clouds (or I need to adjust each tile to have same RTC-Center ;-) ).

[2016-11-16 15:18] lilleyse commented on #4654
Yeah pretty much, we've wanted to support bounding volume information in the styling for a while.

[2016-11-16 15:56] hpinkos commented on #1825
Came up again: https://groups.google.com/d/msg/cesium-dev/OzfwqMLOr60/BZUlltAfDgAJ

This lighting problem only happens with `Primitives`, not `GroundPrimitives`

[2016-11-16 16:48] billwritescode opened #4656 "Clustering for Polygons (and polylines, etc) Not Supported"
Looks like clustering is only supported for **billboards, points** and **labels** in 1.27.

http://cesiumjs.org/Cesium/Build/Documentation/DataSource.html#clustering

Attempting to cluster polygons doesn't seem to be doing anything:
http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=5a8bc388758fb201c63b2403b58b81bc

[2016-11-16 18:35] pjcozzi commented on #4653
yes, @emackey, it has lots of issues like requiring depth writes in fragment shaders and still not providing enough depth range.  See the SIGGRAPH course or the chapter in the virtual globe book.

[2016-11-16 18:55] lilleyse opened #4658 "OIT not working correctly in Firefox"
Blending vs. OIT
<img width="274" alt="good" src="https://cloud.githubusercontent.com/assets/915398/20361029/107b5c5c-ac04-11e6-8329-49789afe81a2.PNG">
<img width="254" alt="bad" src="https://cloud.githubusercontent.com/assets/915398/20361028/107570a8-ac04-11e6-9991-42bad7455d32.PNG">

I have only noticed this on Firefox so far, but will check Chrome on a different computer later.

[2016-11-16 21:17] billwritescode opened #4659 "Polygons Don't Have Outline Even When Terrain Server Isn't Present"
When no terrain server is present, polygons still don't have an outline. There is a log in the console saying:

But there is no terrain because there is no terrain server.

When there is no terrain present, the polygon is being clamped to the ellipsoid. In this case, the user experience is confusing because you would expect to see your outlines. I would think the desired behavior for this case is

[2016-11-16 21:32] hpinkos commented on #4659
Thanks @billwritescode,  you're right, from an API perspective this could be improved.

It works this way because of what is going on behind the scenes.  A `GroundPrimitive` is used when height reference is clamp to ground, and a `Primitive` is used when the polygon has a defined height.

[2016-11-16 21:33] tfili opened #4660 "ScreenSpaceCameraController.minimumZoomDistance default is incorrect"
If you look at the code you'll see the actual default and the default in the doc are different. We should make them match.

I'm not sure what the correct value is. I've noticed that the value of `1.0` causes issues when you can zoom through terrain if you are zooming in to a mountain.

[code]

[2016-11-16 22:10] billwritescode opened #4661 "The Case of the Misrendering Polygons"
Polygons sometimes misrender when terrain is on.

I'm not exactly sure what's causing this issue. I made sure to put the polygons over the ocean as an attempt to minimize the disruption caused by terrain data. It would seem strange to have disruptive terrain data over the ocean! I would be very impressed if waves were being taken into account :).

The sandcastle is here:

http://cesiumjs.org/Cesiu

[2016-11-16 22:18] billwritescode commented on #4659
Thanks @hpinkos! I suspect that cesium internally is treating the ellipsoid as the terrain to clamp to in this case.

[2016-11-16 23:03] billwritescode commented on #4536
Changing the pixel range in a timeout seems to help until a fix is in:

`var viewer = new Cesium.Viewer('cesiumContainer');
var image = new Image();
var dataSource = new Cesium.CustomDataSource('points');

dataSource.clustering.pixelRange = 20;
dataSource.clustering.minimumClusterSize = 3;
dataSource.clustering.enabled = true;

viewer.dataSources.add(dataSource);

var forceCluster = function() {

[2016-11-16 23:18] billwritescode commented on #4422
Yes, this would be great!

[2016-11-16 23:37] billwritescode commented on #3507
Thanks for the tip @emackey. Agree that it's useful and with @Parthesh that document content search would be good to have in the refdoc.

[2016-11-17 00:06] PlutoniumHeart commented on #4653
@hpinkos Sorry for posting the question here, but before I did, I already went through the slides, it didn't talk much about why choosing multi-frustum over logarithmic.
@emackey logarithmic depth definitely works for <1 meter objects, while looking at 300000 km meter objects at the same time.
@pjcozzi I am not sure what kind of depth range is enough, but with a 32bit depth buffer, S_min is quite

[2016-11-17 13:36] SunBlack opened #4662 "Lookup table to increase styling performance"
If you want to match a id from batch table to a fixed color you have to write something like this:

[code]

The result of this condition is currently
[code]

I don't believe this has still a good performance in case you have thousands of ids, so it would be nice if cesium does support lookup tables or has a way to integrate something like this without need to touch core of Cesium.

So maybe a synt

[2016-11-17 14:57] billwritescode commented on #4161
@bagnell @pjcozzi Do you have any suggestions for a workaround from an API perspective to keep polygon triangles from disappearing while a fix is still pending?

[2016-11-17 15:36] hpinkos commented on #4661
Thanks @billwritescode, this does look like the same problem as #4161
I'm going to close this issue and add a comment to that one

[2016-11-17 15:36] #4661 closed

[2016-11-17 15:38] hpinkos commented on #4161
This example from @billwritescode is even more noticeable, you don't even have to zoom out that far:

![polygons](https://cloud.githubusercontent.com/assets/3451886/20395726/e0f02cd4-acb1-11e6-9ce0-3d47ce164464.gif)

[code]

[2016-11-17 16:41] lilleyse commented on #4662
It could be that the shader backend is not suitable for this use case. Have you checked out the `PointCloudBatched` tileset? When points are grouped together with `BATCH_ID` the point cloud uses the JavaScript styling engine instead. This makes it possible to get features (in this case groups of points) and style them with the Cesium API via `Cesium3DTileFeature`.

However this also means that all

[2016-11-17 21:34] adunham1962 commented on #4422
Agreed this would be very useful!

[2016-11-18 07:06] pasu opened #4666 "Cesium License"
There is an issue I am confused about. It is about Cesium license(Apache 2.0).

My team is developing a production which is based on Cesium. We add some new features, modify a few source files and obfuscate Cesium.js.
But for some reasons, this production is not an open source project.

In this production package, we contain Cesium's original files including CHANGES,README,LICENSE, and we provide

[2016-11-18 07:15] pasu commented on #4666
I know it is very unsuitable to talk about this issue here.  And I also send an email to <todd@agi.com>

I think I follow the requires of the license, but I am not quiet sure. I need to get your suggestions.
So, I will focus on this issue and clear the inappropriate content as quickly as possible.

Thanks and hope for your help.
@mramato

[2016-11-18 15:12] pjcozzi commented on #4666
Todd is in touch with @pasu.

For everyone's benefit: the Apache 2.0 license does not require tracking or making available modifications to Cesium.  Pull requests are always welcome, of course.  For more on contributing, see [here](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md).

[2016-11-18 15:12] #4666 closed

[2016-11-18 15:17] pjcozzi commented on #4662
@SunBlack you may also want to consider just storing unique per-point colors instead of mapping the id to color at runtime.

Also, when you have suggestions for changing the spec, please submit an issue to the https://github.com/AnalyticalGraphicsInc/3d-tiles repo so we can keep an archive of spec decisions in that repo.  Thanks!

[2016-11-18 15:27] pjcozzi commented on #4161
@billwritescode instead of extruding down based on the SSE in the vertex shader, you could workaround this by tweaking the Cesium code to extrude really far in JavaScript.  @hpinkos had a PR open for this; it is not the right long-term solution for Cesium, but could be a reasonable stopgap for your app.

[2016-11-18 15:32] pjcozzi commented on #4653
@PlutoniumHeart Cesium needs to be able to handle satellites in High-Earth Orbit down to bolts on a car.

Try this demo and switch between the different z-buffer options to see how log-z and reverse 32-bit floating-point break down: https://github.com/virtualglobebook/OpenGlobe/tree/master/Source/Examples/Chapter06/DepthBufferPrecision

You are, of course, encouraged to experiment with different o

[2016-11-18 15:33] pjcozzi commented on #4660
@bagnell do you know which is correct?

[2016-11-18 16:15] pjcozzi commented on #4646
@SunBlack thanks for the report, @lilleyse fixed this in #4655.

[2016-11-18 16:15] #4646 closed

[2016-11-18 18:48] bagnell commented on #4660
`1.0` is correct. It used to be `20.0` to prevent the camera from clipping terrain in certain situations.

[2016-11-18 18:49] mramato commented on #4660
Unfortunately, @tfili found this because the camera is clipping terrain in certain situations 😈

[2016-11-18 23:21] JDepooter opened #4669 "Using KHR_materials_common with B3DM models and CESIUM_RTC"
I'm trying to create 3D Tiles datasets (see [attachment](https://github.com/AnalyticalGraphicsInc/cesium/files/601089/tileset.zip)) which use both the CESIUM_RTC and KHR_materials_common extensions. I'm running into a few problems getting it to render in Cesium.

1. It appears that Cesium cannot use the KHR_materials_common extension when loading a B3DM file. I am getting a shader compiler error d

[2016-11-19 04:01] pasu commented on #4666
OK, I get it, Thanks.
Personally,  It is my honor to make contributions. Actually nowadays, I am writing some articles about Cesium in my blog. I hope more Chinese can feel the beauty of Cesium. And I always recommend others to read your books. Thanks for sharing. @pjcozzi

[2016-11-20 18:07] leesafini commented on #4643
This is mostly done, but I'm struggling with how to come up with a meaningful demo in the Point Cloud Styling. Is there any value that is meaningfully comparable for each point (for min, max)? Completely at a loss for atan2 and pow.

[2016-11-21 14:44] lilleyse commented on #4643
For min and max you can reference the point's position in some way. This could create a gradient effect where the core of the point cloud is solid, the outer edges are solid, but the middle area (between the min and max values) is a gradient.

For atan2 you can add it to one of the styles in https://github.com/AnalyticalGraphicsInc/cesium/pull/4628, once that is in.

For pow something simple like

[2016-11-21 16:13] lilleyse commented on #4669
Yes this seems like an oversight and it would be worthwhile for us to have some test tilesets that use the KHR_materials_common extension.

I took a quick look at your changes and they seem pretty good. Definitely consider opening a PR.

[2016-11-21 21:06] adunham1962 opened #4670 "PolygonGraphics render incorrectly when zoomed out and clamped to terrain"
I'm seeing an issue where chunks of polygons are disappearing as I zoom farther away from them when they are clamped to terrain.

Cesium Sandcastle can be found [here](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=776d1cb43372e7c66099b9b5b8d1d9bf).

Notice that as you zoom out, chunks of the polygon disappear.  I've seen some issues like #4661  and #4161 m

[2016-11-21 21:09] hpinkos commented on #4670
Thanks @adunham1962
This is a duplicate of #4161, see that issue for details

[2016-11-21 21:09] #4670 closed

[2016-11-21 21:22] adunham1962 commented on #4161
@pjcozzi could you elaborate a bit on your first sentence?  I'm not familiar with the acronym "SSE" or where in the Cesium code we could apply the suggested stopgap while a solution for this issue is pending.

[2016-11-21 21:27] hpinkos commented on #4161
@adunham1962 you can see my proposed fix here: #4485
You could try adding that change until we have a better fix

[2016-11-21 21:36] adunham1962 commented on #4161
@hpinkos thanks!

[2016-11-22 03:09] aninggo opened #4672 "about cesium copyright"
[supermap inc](http://www.supermapol.com/earth/)
China's supermap company use your opensource project declare their own intellectual property and does not meet the apache 2.0 license.
![snip20161122_1](https://cloud.githubusercontent.com/assets/112144/20509503/1b390c8a-b0a4-11e6-9160-d39ec19f8159.png)

[2016-11-22 08:59] maming commented on #4672
bad company

[2016-11-22 11:25] erikmaarten commented on #4672
Thanks @aninggo for reporting. A Supermap representative has already contacted us about licensing (#4666) so we're in touch with them about how to handle this.

[2016-11-22 12:00] #4672 closed

[2016-11-22 14:14] lucasvw opened #4673 "Unloading bug in 3d Tiles branch"
Hi everyone,

There seems to be a problem with the unloading of the 3d-tiles branch.

At some camera positions, the same tiles keep on being loaded over and over again (being requested from server).

The following link lands at exactly such a position:

http://demo.virtualcitymap.de/index2.html?startingmap=cesium&lang=en&cameraPosition=13.43017%2C52.57237%2C243.09854&groundPosition=13.43087%2C52.5

[2016-11-22 15:08] lucasvw commented on #4368
@lilleyse I barely dare to ask... but eh.. any updates on this ?

;)

[2016-11-22 15:14] fredj commented on #4568
fixed with #4591

[2016-11-22 15:17] hpinkos commented on #4568
thanks @fredj

[2016-11-22 15:17] #4568 closed

[2016-11-22 15:33] lilleyse commented on #4368
Sorry but not yet. I did find a slight bug with the calculated pick position (https://github.com/AnalyticalGraphicsInc/cesium/pull/4615) but it didn't solve the problem unfortunately.

If I remember correctly the core issue here is that Cesium uses multi-frustum rendering and when the pick position is calculated it looks to see if a depth exists starting from the first frustum. The problem is that

[2016-11-22 15:54] lilleyse commented on #4673
I'm also noticing that in the network tab. Can you create a quick Sandcastle demo for this?

[2016-11-22 20:45] thinkpadder1 commented on #4434
@kring  Have you guys looked at [TypeDoc](http://typedoc.org/)?

Cloudflare uses it: [Generating Documentation for TypeScript Projects
](https://blog.cloudflare.com/generating-documentation-for-typescript-projects/)

[2016-11-23 14:51] pjcozzi opened #4678 "BIM roadmap"
# Priority 1 - Optimizations

Optimizations for large 3D Tiles tilesets
- [ ] Texture compression
- [ ] Aanalyze latest reality model (RM) and design model (DM) tilesets
   - Do RMs have too many levels? Looking into coarser levels for DM tilesets
- [ ] Long list of optimizations in #3241 until things are smooth enough (on iPad in particular)
   - [ ] Better memory management on mobile in general

[2016-11-23 15:17] pjcozzi opened #4679 "Texture compression for 3D Tiles and glTF"
@bagnell @lilleyse please add comments with your latest notes.

@sbtron we will be very happy to collaborate on glTF texture compression (see linked glTF issues below), but probably need a few more weeks of research.

* [x] Quickly pull together a proof-of-concept pipeline that compresses textures, stores them in a glTF `extras` properties, and loads them in Cesium. #4758
* [x] Figure what formats

[2016-11-23 15:52] jbo023 commented on #4673
var viewer = new Cesium.Viewer('cesiumContainer');

var tileset = viewer.scene.primitives.add(new Cesium.Cesium3DTileset({
    url : "http://demo.virtualcitymap.de/datasource-data/berlin",
    maximumNumberOfLoadedTiles:3,
    maximumScreenSpaceError:16
}));

var cameraPosition = new Cesium.Cartesian3(3778492.598335113, 902266.7207133673, 5041956.047869663);
var cam = viewer.scene.camera;
var came

[2016-11-23 16:29] hpinkos opened #4680 "Scroll wheel zoom goes through the earth"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/xeRAg8lObUg

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Geometry%20and%20Appearances.html&label=Showcases

[2016-11-23 16:53] pmconne commented on #4678
Regarding Navigation section:
I've ported our view navigation tools to javascript so the first 3 items in that section can probably be considered complete.
The code is rather specific to our tool/view framework but if you feel some of it could be usefully integrated into Cesium please let us know.

Regarding 'Object selection > Opaque objects of interest':
I reworked the way I manipulate the tiles

[2016-11-23 18:15] pjcozzi commented on #4678
Very nice, updated the above roadmap.

Thanks for the offer.  When you have time, can you send me a demo of the walk mode?  It could be generally useful to Cesium.

[2016-11-23 20:39] emackey commented on #4525
@rutsky @elFerZur Can either of you re-test this with master now that #4675 is merged?  Thanks.

[2016-11-24 07:51] lucasvw commented on #4368
Thanks for the update and the explanation!

[2016-11-24 18:55] duvifn opened #4682 "Ellipsoid.geodeticSurfaceNormal returns wrong result if the cartesian is not on the ellpsoid surface"
I encountered this while working on #4622.

[Sandcastle for this issue](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=05a014303d59afd7bec1e4d0cbce5930)

The following code log `false` to console:

[code]

However,  `Ellipsoid.geodeticSurfaceNormalCartographic` returns accurate result in this case:

[code]

[2016-11-25 13:33] iWun opened #4683 "3D Tiles - memory management"
Hello everybody，
  I have tried to convert some **texture models** into b3dm according to official documentation, and have successfully loaded into Cesium. When I zoom out, some distant models disappear (I guess it was cut off), but why the memory does not change.
  I think since the model has been cut off, the memory should be reduced. is it a [bug](https://github.com/AnalyticalGraphicsInc/cesium

[2016-11-25 14:23] #4131 closed

[2016-11-25 15:38] lilleyse commented on #4683
Tiles that are out of view may still be cached and stay in memory. By default the maximum number of cached tiles is 256. What happens when you construct `Cesium3DTileset` with `maximumNumberOfLoadedTiles : 0` ?

[2016-11-26 02:57] iWun commented on #4683
It works. Thanks a lot.

[2016-11-26 02:57] #4683 closed

[2016-11-26 14:02] YousefED opened #4685 "Mapzen Terrain Tiles (AWS public data set)"
Hi,

I recently noticed Terrain Tiles are hosted on S3, by Mapzen: https://aws.amazon.com/public-datasets/terrain/. I'm trying to add support for this, using the Terrarium format.

I gave it a go at https://github.com/YousefED/cesium/commits/mapzen-tiles-terrarium, but getting stuck with the following result:

![image](https://cloud.githubusercontent.com/assets/368857/20640783/f90d372e-b3e8-11e6-9

[2016-11-27 15:56] duvifn opened #4686 "Billboards on terrain - some problems"
Current implementation of billboard on terrain is well written and I have learned a lot from reading it.
However I found some problems while working on #4622:

- [ ]  I think the billboard height should be computed also if the level of the scene getting lower (`zoom-out`). Currently the height is computed only in one direction. (` if (tile.level > data.level)`  in this [link](https://github.com/An

[2016-11-28 03:37] leesafini commented on #4643
Now having issues in the point cloud demo using atan2:
`RuntimeError: Vertex shader failed to compile.  Compile log: ERROR: 0:8: 'atan2' : no matching overloaded function found`

I understand what it's saying but not why it's saying it. It's doing this no matter what arguments I use. I don't get, if min, max, and pow are all working and set up the same way, why atan2 wouldn't work as well.

[2016-11-28 16:00] lilleyse commented on #4643
In GLSL `atan2` is just called `atan`. I had left a small note here: https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/2.

[2016-11-28 16:07] tfili commented on #2860
New test failures in 1.28

`DataSources/CorridorGeometryUpdater A time-varying color causes ground geometry to be dynamic`
`DataSources/EllipseGeometryUpdater A time-varying color causes ground geometry to be dynamic`
`DataSources/PolygonGeometryUpdater A time-varying color causes ground geometry to be dynamic`
`DataSources/RectangleGeometryUpdater A time-varying color causes ground geometry to be

[2016-11-28 16:27] hpinkos opened #4687 "Alpha not working for certain colors in Firefox 50"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/lmPHhYxMd7c

In the example below, the wall should be transparent gray but shows up solid in Firefox.  `Red.withAlpha(0.5)` works fine.

[code]

The `GREEN.withAlpha(0.5)` in this example is also not working: http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Rectangle.html&label=Geometries

[2016-11-28 16:27] hpinkos commented on #4687
@pjcozzi should this be labeled next release?

[2016-11-28 16:32] leesafini commented on #4643
Aha, okay, that makes sense. I've updated it so that calling atan2 runs Math.atan, but I'm still getting this exception. Should I be doing something differently? I can't change it entirely to atan because of the checks for the number of arguments in ExpressionSpec.

[2016-11-28 16:34] lilleyse commented on #4643
Where it builds the shader you will need to add a special case for `atan2`. Right near this section.

[code]

[2016-11-28 16:37] lilleyse commented on #4687
Also here: https://github.com/AnalyticalGraphicsInc/cesium/issues/4658

[2016-11-28 16:39] hpinkos commented on #4687
@lilleyse Thanks, I missed that issue.  Should we close this as a duplicate or is it a different issue?

[2016-11-28 16:44] lilleyse commented on #4687
It's the same issue, we either one can be closed.

[2016-11-28 16:46] #4687 closed

[2016-11-28 16:46] leesafini commented on #4643
I already have a case for all of the binary functions.

`else if (defined(binaryFunctions[value])) {
                    return value + '(' + left + ', ' + right + ')';`

I should be treating `atan2` differently than even these?

[2016-11-28 16:47] lilleyse commented on #4643
Yup

[2016-11-28 16:49] leesafini commented on #4643
Really confused by this. Should it not be called `atan2` at all, and just be `atan` with two arguments? Meaning it would be treated as a unary function until it sees that it has two arguments? Or would it still be called `atan2`, defined as a binary function, but treated differently once it's encountered?

[2016-11-28 17:36] hpinkos commented on #4682
Thanks @duvifn

[2016-11-28 17:41] lilleyse commented on #4643
Yes the second case. It only is treated differently in the glsl section. Right above the code for checking the binary functions it should check if the name is atan2, and if so build the shader using    atan. Sorry I think I was misleading when I referenced the unaryfunctions area.

[2016-11-28 17:49] leesafini commented on #4643
Got it, thanks!

[2016-11-28 18:00] pjcozzi commented on #4686
Thanks for all the input, @duvifn!

@bagnell can you please review these?

[2016-11-28 18:02] pjcozzi commented on #4658
Is this new in Firefox?  It may be a bug in Firefox or a change in the Firefox WebGL implementation that exposed a bug in OIT.

[2016-11-28 18:05] pjcozzi commented on #4682
For performance, this might just be a doc fix so that `geodeticSurfaceNormal` requires a height of zero.  @duvifn do you have another suggestion?

[2016-11-28 18:07] hpinkos commented on #4682
@pjcozzi if that's the case, shouldn't we throw a `DeveloperError` if the height is greater than zero?

[2016-11-28 18:08] pjcozzi commented on #4682
I am suggesting that the performance for the conversion is not worth it.

[2016-11-28 19:34] hpinkos commented on #4161
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/IumYr5kQT6k

[2016-11-28 19:43] bagnell commented on #2860
Yes, but don't we check if ground primitives are supported and fall back to regular primitives?

[2016-11-28 20:42] lilleyse commented on #4658
Yeah this is new, at most about a month.

[2016-11-29 03:39] mramato opened #4691 "Wide outlines cause incorrect label rendering"
Given this snippet:
[code]

It looks like this:
![image](https://cloud.githubusercontent.com/assets/1495196/20695502/89b92bf2-b5ba-11e6-86f2-1db855cbd761.png)

Expected is something like this (drawn as a single billboard):
![image](https://cloud.githubusercontent.com/assets/1495196/20695473/4570c522-b5ba-11e6-9016-5c281ca39977.png)

This is a tough one.  Our kerning actually looks correct here.  T

[2016-11-29 15:09] erikmaarten commented on #4425
@nikakhov How is this going? Have you stumbled on any problem that we can help with?

[2016-11-29 18:09] rutsky commented on #4525
@emackey I can't reproduce with borders described in this bugreport, thanks!

![2016-11-29_21 08 40_1](https://cloud.githubusercontent.com/assets/46573/20722534/6847a3c4-b680-11e6-8d00-2a943e9e9c10.png)

Not sure is it related, but in master I don't see labels in clustering demo:

![2016-11-29_21 06 08_1](https://cloud.githubusercontent.com/assets/46573/20722462/28ee9a02-b680-11e6-929e-1dae9bdf485

[2016-11-29 20:26] tfili commented on #2860
@bagnell That's exactly whats happening. It's falling back to a regular primitive. The test will get different results depending whether a `Primitive` or `GroundPrimitive` is used. Behavior is correct, the test is just broken for browsers without GroundPrimitive support.

[2016-11-29 20:35] nikakhov commented on #4425
I created a pull request:

https://github.com/AnalyticalGraphicsInc/cesium/pull/4693

When I tested it, under the same conditions, it does not get stuck anymore, but you do get "undefined" in tick labels.

[2016-11-30 05:08] lilleyse opened #4694 "3D Tiles - ternary functions"
@Dylan-Brown

Before getting into vector math, there are two more functions to handle. You'll need to add `TERNARY` to `ExpressionNodeType.js`. Handling three operators will be similar to here: https://github.com/AnalyticalGraphicsInc/cesium/pull/4688 except you'll use `left`, `right`, and `test`. The `x` values below can be passed as the `test` argument for `new Node`.

 clamp(x, minVal, maxVal)

[2016-11-30 13:55] hpinkos opened #4695 "Overlapping image material bug"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/EKRqbL2TJJU

![image](https://cloud.githubusercontent.com/assets/3451886/20754792/996ac670-b6da-11e6-82f7-08cc00ab0edc.png)

This problem doesn't happen in 2D or for polygons with a PerInstanceColorMaterial

[code]

[2016-11-30 14:17] hpinkos opened #4696 "DistanceDisplayCondition bug"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/_LuFSZG0A3k

The corridor with the `DistanceDisplayCondition` will never show up.  (I put a skinner corridor at the same positions so you can see where it's supposed to be)

The `DistanceDisplayCondition` will work with the range (0, 1000)

[code]

[2016-11-30 15:12] pjcozzi opened #4697 "Less greenkeeper noise"
Is it possible to improve the signal-to-noise ratio of this repo's pull requests by configuring greenkeeper to only do pull requests at some interval, perhaps biweekly?  Since the updates are rarely significant, it has created an incredible amount of noise in our pull request history.

[2016-11-30 17:08] pjcozzi commented on #4009
1.1 spec pull request: https://github.com/KhronosGroup/glTF/pull/784

[2016-11-30 18:34] esparano opened #4698 "Tile Seams Don't Load Correctly"
If you zoom in to longitude -110, latitude 45 in Cesium Sandbox v1.27, then rotate the camera near the "seam" between two tiles, one of the tiles will not load at specific angles and you will see the black skybox through the Earth.

[2016-11-30 18:37] hpinkos commented on #4698
Thanks @esparano, but this is an artifact in the Bing Maps imagery, not a problem with Cesium.  Other imagery sources do not have noticeable seams here.

[2016-11-30 18:37] #4698 closed

[2016-11-30 19:49] mramato commented on #4698
I can reproduce the problem with all imagery providers, this is definitely a cracking bug.  However, we already have it documented in #3710.  @bagnell it would be nice to look into the cracking sometime soon.

[2016-11-30 19:50] mramato commented on #3710
Entering `110 45` in the Geocoder also reproduces cracking, as reported in #4698

[2016-11-30 19:50] mramato commented on #4698
Also, thanks @esparano!

[2016-11-30 21:38] pjcozzi commented on #4563
There's a workaround for this in #4700.  We would appreciate if anyone is able to test the branch in that pull request and leave your feedback here.  If all goes well, we plan to ship this in Cesium 1.28 tomorrow.

[2016-11-30 23:04] kring commented on #4697
I don't know of a way to set an interval.  But one way to cut down on the nonsense is to loosen up your package versions.  Cesium requires exact package versions, which means that every single new version of anything you depend on generates a PR in Cesium.  If you used the carat or tilde, you'd get a fraction of the PRs.

The idea with Greenkeeper is that you trust semver (non-major versions won't

[2016-11-30 23:48] mramato commented on #4697
I agree that Cesium using full version numbers for everything kind of goes against the tide of how npm is supposed to work, I've been thinking about going "full caret" for a while.  My only concern (as @kring already pointed out) is things breaking do to a version upgrade.  However, this would be a much rarer event then my concerns warrant and it would only affect Cesium developers, since all of o

[2016-11-30 23:52] kring commented on #4697
Yeah we probably get broken maybe once or twice a year by third party libraries not following semver, and our projects have a lot more dependencies than Cesium.  So hopefully it'll be rare.

Keep in mind that it's not quite true that you can just remove the carat from package.json if something breaks in a release zip.  That will make it install a version that is almost certainly older than whateve

[2016-11-30 23:57] mramato commented on #4697
Why?  By definition the code works with the explicit version in package.json, how would it not?

[2016-11-30 23:58] mramato commented on #4697
I mean, I agree it will be an older version, but it will definitely be a working version.

[2016-12-01 00:10] kring commented on #4697
Yeah, true, it's almost guaranteed to be a working version.  But it'll be a version that no one has tried in ages, so it's possible it no longer works (due to incompatibility with other packages released since, for example).  But yeah, that's getting a bit paranoid.

[2016-12-01 00:51] tfili commented on #4538
@bagnell what's the pan for this?

[2016-12-01 00:53] tfili commented on #4570
@mramato who needs to look at this? Is it @bagnell?

[2016-12-01 00:56] tfili commented on #4645
@lilleyse have you had a chance to look at this?

[2016-12-01 01:47] lilleyse commented on #4645
I had done a quick look a week ago and didn't notice anything glaring, but I need more time. I won't have a chance for this release so pushing back is ok.

[2016-12-01 02:58] tekhaus commented on #4454
Simple 1 line fix in CesiumSandcastle.js, works fine on local build (after updating package.json to use electron@1.4.10 since they pulled 1.4.9). Any other scripts I should run before submitting a PR?

[2016-12-01 07:23] tekhaus commented on #4454
Travis CI failed since it expects electron 1.4.9 (which should be rolled back to 1.4.8 or updated to 1.4.10)

[2016-12-01 13:34] pjcozzi commented on #4538
Pushing to 1.29 to not hold up the release.

[2016-12-01 13:36] pjcozzi commented on #4570
Pushing to 1.29 to not hold up the release.

[2016-12-01 13:41] #4563 closed

[2016-12-01 13:46] pjcozzi commented on #4697
Big +1 from me.

[2016-12-01 19:09] rutsky opened #4704 "Lines with some colors rendered as white in Linux+NVidia+Firefox 50"
When I draw lines with Color.GREY or some other colors lines are being drawn with pure white color.

Take a look at the following example: http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=c92b0fbbf5994d7cf07e049dbf1e799a

Here how it looks to me on Ubuntu 16.04 with NVidia driver 367.57 in Firefox 50.0.2
![2016-12-01_21 53 40_1](https://cloud.github

[2016-12-01 20:28] Dylan-Brown commented on #4694
Sounds good! I'll get working on it.
Also, I noticed in Math.js, where CesiumMath is defined, the grammar in the comment above the definition of clamp is wrong. It says "Constraint a value" where it should be "Constraints a value." Should I fix this in my PR, or should I do it separately in a PR to master, or what?

[2016-12-01 20:45] neutrino84 commented on #4704
I'm noticing this as well, happens with entity rectangle materials w/ a color fill, but everything works fine when rendering an image texture to the rectangle material

[2016-12-01 20:51] Dylan-Brown commented on #4694
Also, here's something else:
[code]
Applying left, right, and test to them using  a data driven approach doesn't make sense, since I'm assuming - for clamp, left=min, right=max,  and test=value
- for lerp, left=p, right=q, test = time
and to use a data driven approach, I would write something like
[code]
and so the definitions of the functions, specifically, the ordering of the arguments, doesn't

[2016-12-01 21:00] hpinkos commented on #4704
Maybe this is related to #4658?

[2016-12-01 21:14] lilleyse commented on #4694
You can do it in this PR

We tend to side with the glsl naming, so go with `mix`.

Yeah true... I'd be ok if the 1st and 2nd params go to left and right while the 3rd goes to test, regardless of the meaning of the parameters.

[2016-12-01 23:32] mramato commented on #4704
I see this in Chrome on my Windows 10 laptop Intel HD 4000, so I don't think #4658 is related.

[2016-12-02 13:09] pjcozzi opened #4711 "Test failures when no WebGL extensions are supported"
In Context.js, change the [getExtension](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Renderer/Context.js#L160) function to just `return undefined;`.  I get 9 new test failures:

[code]

[2016-12-02 14:03] hpinkos opened #4712 "PointPrimitives not rendering in Safari"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/YziA_6iXFeo

This user says that points don't render in Safari and see's this error: drawarrays: attempt to access out of bounds

Can someone with a mac see if they can reproduce this problem?
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Points.html&label=Showcases

[2016-12-02 17:11] hpinkos opened #4713 "Geocoder lon/lat bug"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/pbt7SSTR6CY

[2016-12-02 17:12] hpinkos commented on #4713
@erikmaarten could you look at this when you're making other improvements to the geocoder during the code sprint?

[2016-12-02 17:15] mramato commented on #4713
So we have special code that handles numbers-only entries that uses Cesium lon/lat/alt order to zoom instead of Bind.  I'm guessing 39N 75W ends up using Bing for the geocode while 39, -75 uses Cesium.  This is probably easy to change, but I'm not sure how we really want it to work.  I'm 90% sure we will end up leaving it as-is, since it's imperfect input anyway, but I'm open to ideas.

[2016-12-02 17:16] mramato commented on #4713
It's also possible that Bing didn't handle numbers when we added the Cesium-specific code path, we could probably go Bing-only if it now fits the bill.

[2016-12-02 17:17] hpinkos commented on #4713
yep, i'm sure that's exactly what's happening.  Bing is geocoding it and returning lat/lon and then if you hit enter again it goes into our custom code that does lon/lat

[2016-12-02 20:07] billwritescode opened #4714 "Dynamic Distance Display Condition Not Working"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/N7vPMwXtiGg and https://groups.google.com/forum/#!topic/cesium-dev/zSXhiqaPt8k

Dynamic distance display conditions have a bug where the polygon is displayed even though the distance between it and the camera is greater than the distance display condition.

This is easier to reproduce when the camera is moved so that the ent

[2016-12-02 20:11] billwritescode commented on #4714
Hello Cesium team! It would be super if you all were able to work this for the December 2015 [code sprint!](https://github.com/AnalyticalGraphicsInc/cesium/issues/4714).

Thanks for all your hard work and enjoy the Poconos! I'm throwing this comment in here per the S.O.P. in https://groups.google.com/forum/#!topic/cesium-dev/zkekUUpM0u8.

[2016-12-02 20:14] hpinkos commented on #4714
Thanks for all of the information and screen shots @billwritescode!  I'm not sure if we'll have a chance to look at this at the code sprint, but if not we'll try to put in some time shortly after.  We have a few other open bug reports related to distance display conditions

[2016-12-02 20:22] billwritescode commented on #4714
Thanks for the reply @hpinkos! Looking forward to it.

[2016-12-04 02:27] sliencioGLL commented on #4645
@lilleyse I am sorry to hear that.  But I believe you can find a way to fix it.

[2016-12-04 18:14] YousefED commented on #4685
Seems like HeightMap terrains silently fail when there's too much data.

I've tested this by looking at EllipsoidTerrainProvider.prototype.requestTileGeometry. When I set width / height to 256, I get the same, transparent globe:

[code]

Any further directions on recommended ways to implement S3 terrain data would be welcome!

[2016-12-04 20:04] pjcozzi commented on #4679
Initial numbers for a texture from a reality model via @bagnell:

[code]

[2016-12-05 02:42] smills2929 commented on #4680
I've noticed that the viewer.scene.screenSpaceCameraController.minimumZoomDistance keeps being set to 0, regardless of what I set it to.

From a quick search of the Cesium source it seems that controller.minimumZoomDistance is being set in multiple places around the application every frame. How can I stop this being set to 0?

[2016-12-05 04:06] jeffwhitty opened #4716 "Labels displaying letters in 'random' places"
I have observed this bizarre behaviour intermittently over a long period. I have updated the cesium base twice and running the ~~latest~~ (~~December~~ November '16) release. This was also observed in the August '16 release and once or twice on a version in between but I can't recall which - point being this appears to have been occurring consistently for a long time.

The issue comes when I add a

[2016-12-05 04:12] jeffwhitty opened #4717 "Labels running over the date line are being cropped in 2D view"
When I mouse over a point I write an identification label to the same location with a small pixeloffset to the right. When the point is near the date line (eg 179' E) at any latitude, the text in the label stops at the date line. I have seen the effect happen between letters or in the middle of a letter, as though the base map on the West side of the line is rendered on top.

I'm in 2D mode and th

[2016-12-05 12:18] duvifn commented on #4682
Thanks @pjcozzi  and @hpinkos for reviewing this.

Not really. Maybe additional parameter that explicitly indicates if the input value is on the surface.

Anyway, please consider reviewing of the code that currently uses this function (js and glsl). I saw some places where the input is not necessarily on the ellipsoid surface.

I believe that for most of the needs the bias is not significant,  but

[2016-12-05 13:44] #4697 closed

[2016-12-05 13:53] pjcozzi commented on #4714
CC #4696

[2016-12-05 13:58] pjcozzi commented on #4712
It could be OS X Sierra / Safari 10.  This works OK for me with:

Intel GPU
Safari 9.0.3

I do not think this would be NVIDIA.

[2016-12-05 14:27] emackey commented on #4716
I've seen this once, but don't know how to reproduce.  Were you using `HeightReference` other than `NONE` on the labels?  Can you share any code that created the labels, or their settings?

[2016-12-05 17:39] hpinkos commented on #4716
Hello @jeffwhitty, I believe this issue was fixed in the 1.27 release in November.  Are you able to reproduce this with the latest version of Ceisum?  If so, as @emackey said, please share a code sample to reproduce this.  Thanks!

[2016-12-05 17:44] hpinkos commented on #4717
Thanks @jeffwhitty.  This looks like a duplicate of #3960, so I'm going to close this issue

[2016-12-05 17:44] #4717 closed

[2016-12-05 17:50] hpinkos commented on #4685
@kring do you have any suggestions here?

[2016-12-05 18:05] hpinkos commented on #3710
Also reported here: https://groups.google.com/d/msg/cesium-dev/Iucanef6sBQ/KF3TE91wBAAJ

[2016-12-05 18:10] hpinkos commented on #4326
Also reported here: https://groups.google.com/d/msg/cesium-dev/hEuF6TWyKdQ/32CP1WhEBQAJ

[2016-12-05 18:15] neutrino84 opened #4718 "Cesium.Color has alpha display problems in Firefox 50 Windows/Mac/Linux"
![firefoxcesiumcoloralphaproblem](https://cloud.githubusercontent.com/assets/619688/20896304/2560ca6c-baeb-11e6-8948-4ac4104e5934.jpg)

Latest version of Firefox 50.02 and Latest version of Chrome were used to generate these results. I also tested Firefox 51.0b which has the same problem as 50.02.

Firefox 49.x does not have this problem, **but I haven't noticed any issues in any other WebGL appli

[2016-12-05 19:57] hpinkos commented on #4718
Thanks @neutrino84
This is a duplicate of #4658 so I'm going to close this issue and link that one to the information you posted

[2016-12-05 19:57] #4718 closed

[2016-12-05 19:58] hpinkos commented on #4658
Also reported here: #4718

[2016-12-06 00:05] Geoneer commented on #3710
I thought this might occus in the specific browser because of the handling of the Globe in webgl. But this is not the case. I did test this in all possible browsers: firefox / IE / Chrome.

Strange thing is at a specific project this is not happening. But I can't get on this project now. (it's on a cruiseship out of internet region). So hopefully I can access this server tomorrow so I can see why

[2016-12-06 00:50] jeffwhitty commented on #4716
Hey guys, I have a dozen installations in this environment so there's a chance I'm simply incorrect in which version I saw this in, it certainly happened with the August release. I thought it was my dev server (which is up to November release) that I saw this on most recently but I guess there's a chance I'm mistaken.

Literally just refreshing the page caused the problem and then fixed it again,

[2016-12-06 03:59] jeffwhitty commented on #4446
+1 for changing, I can't use the google groups functionality at all from my work environment. The enterprise security settings block it from the cesiumjs.org website and then I have to jump through hoops to sign in to google on the corporate network. Personally my experience with google groups is terrible.

Also from my experience, make sure you enable the anti-spam features of whatever you change

[2016-12-06 04:42] jeffwhitty commented on #4122
+1, I'm seeing this with the November release. Found this while searching before logging a duplicate.

I noticed if I pan up and down it seems to happen as well as side to side, but I haven't spotted a consistent factor to narrow down the cause.

[2016-12-06 04:55] jeffwhitty opened #4719 "Many billboards, few BillboardCollections enhancement"
My apologies for submitting this as an issue when it really belongs in a discussion forum, but I have no means of posting in the forum at the moment (yay for enterprise security nazis!)

I am displaying about 40,000 positions on my globe. The vast majority are represented by a billboard (specifically a coloured arrow indicating the position type, heading, and rough velocity). Some are simply colou

[2016-12-06 14:57] hpinkos commented on #4719
Hello @jeffwhitty, points are optimized for performance to that's why you're seeing better performance with that than with billboards.
For billboard entities, the billboards share a collection behind the scenes, so there's nothing else you can do to improve performance that I can think of, sorry

[2016-12-06 14:57] #4719 closed

[2016-12-06 18:26] billwritescode opened #4720 "Billboard Put Holes in Polygons"
Billboards seem to put putting holes in polygons. I made sure to show the code in the screenshots in order to easily view what is clamped to ground and what is not. The billboard is putting holes in the polygon in many cases. I would expect that the billboard never puts holes in polygons.

http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=0f4feb87ebd2f9b360608

[2016-12-06 18:53] hpinkos commented on #4720
Thanks @billwritescode.  This is actually a known issue, we have a bug report open here: #2130
I'm going to close this issue since it's a duplicate and link the other issue to this one.

[2016-12-06 18:53] #4720 closed

[2016-12-06 18:53] hpinkos commented on #2130
Also reported here: #4720

[2016-12-06 19:15] billwritescode commented on #2130
Some more appearances:

![point-not-clamped-marker-yes-clamped](https://cloud.githubusercontent.com/assets/10883162/20939794/485e002e-bbbe-11e6-9443-10401810f5c3.gif)
![point-yes-clamped-marker-yes-clamped](https://cloud.githubusercontent.com/assets/10883162/20939795/48a8e88c-bbbe-11e6-9024-51bdb47acce1.gif)
![billboards-putting-holes-in-entities-4](https://cloud.githubusercontent.com/assets/10883

[2016-12-06 19:43] malaretv commented on #4696
Not sure if related but I'm seeing similar issues when setting distanceDisplayCondition on PathGraphics.
The path never shows up with distanceDisplayCondition set.

[sandbox example](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=42f248ce4c23f4fa1c970c540210d2ff)

[2016-12-06 20:02] hpinkos commented on #4454
Fixed in #4702

[2016-12-06 20:02] #4454 closed

[2016-12-06 20:53] pjcozzi opened #4722 "Evaluate why WalkingLady glTF model does not load in Cesium"
Is this an issue in Cesium or the sample model? https://github.com/KhronosGroup/glTF-Sample-Models/pull/12

@lasalvavida can you please look at this after the 1.1 updates?  Or anyone else in the meantime...

[2016-12-07 00:18] pjcozzi commented on #4719
@jeffwhitty this post is for point, but the same ideas apply: try using `scaleByDistance`/`translucencyByDistance` to have fewer total pixels: https://cesiumjs.org/2016/03/02/Performance-Tips-for-Points/

[2016-12-07 02:10] jeffwhitty commented on #4719
Thanks @pjcozzi but we're actually using scale to convey additional information already.

Would I correctly assume that the pointgraphics simply draws a circlegeometry? In which case could I possibly override that to draw a polygon geometry (in my case, define a triangle)? I'm happy to give it a go myself, but I can't see where this happens.

[2016-12-07 05:19] hpinkos commented on #4719
@jeffwhitty `PointGraphics` uses a `PointPrimitiveCollection` to add points to the scene.  It is very different from a `CircleGeometry`, which is a geometry type for drawing an ellipse on the globe surface.
The `PointPrimitiveCollection` was specifically designed to draw many circular points very efficiently so there isn't any way to customize the shape.  You would need to make changes to the shad

[2016-12-07 14:24] emackey commented on #4719
@jeffwhitty @hpinkos actually I've always had dreams of customizing the shape of PointPrimitive to be more flexible than just circles, but it's tricky to figure out what the API would be that would be flexible enough to allow users to supply custom shapes somehow.

The shape itself comes straight from the [fragment shader here](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.28/Source/Shade

[2016-12-07 14:44] hpinkos opened #4727 "Expose model ready through the Entity API"
Users want to know when the model is ready so they can have custom functionality when the model is loading and when the scene is ready

From #3910:

Maybe tie it into the boolean returned from `DataSourceDisplay.update`?  This boolean is supposed to the true when when all data sources are ready to be displayed and false otherwise.

[2016-12-07 15:01] hpinkos commented on #94
Code example:
[code]

[2016-12-07 15:09] #2737 closed

[2016-12-07 15:13] hpinkos commented on #53
duplicate of #4108

[2016-12-07 15:13] #53 closed

[2016-12-07 15:13] hpinkos commented on #4108
This is probably one of the most frequently requested things on the forum.
Also requested in #53

[2016-12-07 15:23] hpinkos commented on #1061
@shunter Can you verify that this test failure still happens?

[2016-12-07 15:27] shunter commented on #1061
I can't.  The Mac Mini is in the Cesium lab now.

[2016-12-07 15:28] hpinkos commented on #1552
Code example:
[code]

[2016-12-07 15:32] hpinkos commented on #1401
@mramato I can't reproduce this.  Can this be closed?

[2016-12-07 15:41] hpinkos commented on #1061
Ah right, thanks.  I'll look at this when we get back in the office

[2016-12-07 15:46] mramato commented on #1401
Looks like we got rid of the inertial bouncing at some point (probably when we added infinite 2D) either way I can no longer reproduce this either.

[2016-12-07 15:46] #1401 closed

[2016-12-07 15:48] #1872 closed

[2016-12-07 15:49] hpinkos commented on #1841
@lilleyse was this fixed with your recent model color changes?

[2016-12-07 15:51] lilleyse commented on #1841
It's close, but this is targeting individual materials whereas the color changes affect the whole model.

[2016-12-07 15:54] hpinkos commented on #1703
@mramato can you see if this is still a problem?

[2016-12-07 15:57] mramato commented on #1703
We can actually just close this.  I know for certain that at one point all tests past on Nexus 7 after this issue was written.

[2016-12-07 15:57] #1703 closed

[2016-12-07 15:58] hpinkos commented on #1665
Duplicate #2448

[2016-12-07 15:58] #1665 closed

[2016-12-07 15:59] #1661 closed

[2016-12-07 16:00] hpinkos commented on #1651
OBE

[2016-12-07 16:00] #1651 closed

[2016-12-07 16:02] hpinkos commented on #2200
This appears to be fixed

[2016-12-07 16:02] #2200 closed

[2016-12-07 16:09] hpinkos commented on #2160
@pjcozzi can we close this?

[2016-12-07 16:12] hpinkos commented on #2106
fixed

[2016-12-07 16:12] #2106 closed

[2016-12-07 16:19] hpinkos commented on #2449
likely related #1552

[2016-12-07 16:21] hpinkos commented on #2401
@mramato can you still reproduce this?  I can't

[2016-12-07 16:29] #2401 closed

[2016-12-07 16:29] mramato commented on #2401
Looks like I can't.

[2016-12-07 16:42] hpinkos commented on #2701
Appears to be fixed
![image](https://cloud.githubusercontent.com/assets/3451886/20976974/2d4b1d08-bc72-11e6-8abc-b59774dcb121.png)

[2016-12-07 16:42] #2701 closed

[2016-12-07 16:45] hpinkos commented on #2687
This appears to be fixed

[2016-12-07 16:45] #2687 closed

[2016-12-07 16:48] hpinkos commented on #2995
@jasonbeverage do you know if this is still a problem?  Thanks!

[2016-12-07 16:50] hpinkos commented on #2985
This appears to be fixed

[2016-12-07 16:50] #2985 closed

[2016-12-07 16:54] #2927 closed

[2016-12-07 16:56] hpinkos commented on #2867
Fixed in #3419

[2016-12-07 16:56] #2867 closed

[2016-12-07 17:00] hpinkos commented on #3173
This is working as designed.   The edges of polygons follow [geodesic](https://en.wikipedia.org/wiki/Geodesic) arcs and Rectangles follow [rhumb lines](https://en.wikipedia.org/wiki/Rhumb_line)

We plan on adding a rhumb line option for polygons.  See #4000

[2016-12-07 17:00] #3173 closed

[2016-12-07 17:02] hpinkos commented on #3172
See my answer in #3173.  Rectangles follow rhumb lines so the edges will look straight in 2D and curved in 3D.
I also just submitted a fix for the rectangle texture rotation in #4725, so that should no longer be a problem.  Thanks!

[2016-12-07 17:02] #3172 closed

[2016-12-07 17:06] hpinkos commented on #3067
This now throws a `'normalized result is not a number'` error from `Cartesian3`.

[2016-12-07 17:06] hpinkos commented on #3066
@lilleyse can you test this on the ipad?

[2016-12-07 17:07] pjcozzi commented on #1061
I can't reproduce this on my MacBook Pro Intel, but there are other failures I will address separately.

Since no one else has mentioned this in over three years, I think this is insufficient priority to even look into.

[2016-12-07 17:07] #1061 closed

[2016-12-07 17:08] hpinkos commented on #3042
@lilleyse the WebGL issue has been fixed, did we fix this issue?

[2016-12-07 17:09] pjcozzi commented on #3042
We should probably wait another year or even two since not all of our users will have upgraded their browsers.

[2016-12-07 17:11] hpinkos commented on #3485
fixed in #4707

[2016-12-07 17:11] #3485 closed

[2016-12-07 17:14] hpinkos commented on #3304
@seneric sorry we never responded to this.  If you're still having problems, please ask them on our [forum](https://groups.google.com/forum/?hl=en#!forum/cesium-dev)
Thanks!

[2016-12-07 17:14] #3304 closed

[2016-12-07 17:16] hpinkos commented on #3263
Looks like we got rid of this sandcastle example

[2016-12-07 17:16] #3263 closed

[2016-12-07 17:23] #3532 closed

[2016-12-07 17:26] hpinkos commented on #3906
@lilleyse can this be closed?

[2016-12-07 17:28] hpinkos commented on #3789
duplicate #4108

[2016-12-07 17:28] #3789 closed

[2016-12-07 17:30] #3999 closed

[2016-12-07 17:32] #3906 closed

[2016-12-07 17:35] hpinkos commented on #3914
@seifer08ms sorry we didn't answer this.  We don't have anything like this currently built into Cesium.
If you have further questions, please ask them on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
thanks!

[2016-12-07 17:35] #3914 closed

[2016-12-07 17:35] hpinkos commented on #3912
@denverpierce is this still a problem?  I was never able to reproduce it on my machine.  Thanks!

[2016-12-07 17:38] hpinkos commented on #4164
I took the very first steps of this in https://github.com/AnalyticalGraphicsInc/cesium/tree/trapezoid but this requires `GroundPrimitive` to support other appearances than just `PerInstanceColorAppearance`

[2016-12-07 17:40] hpinkos commented on #4079
Closing this because iit is an issue with the data, not a problem with Cesium

[2016-12-07 17:40] #4079 closed

[2016-12-07 17:41] pjcozzi commented on #4164
Specifically, this requires texturing ground primitive.  @bagnell has most of the work done in this branch: https://github.com/AnalyticalGraphicsInc/cesium/compare/ground-primitive-tex-coords

[2016-12-07 18:18] duvifn commented on #3423
You can find the reasons for this behavior [here](https://groups.google.com/forum/#!searchin/cesium-dev/Globe.pick$20gives$20wrong$20results$20when$20the$20camera$20is$20tilted$2C$20and$20terrain$20is$20on%7Csort:relevance/cesium-dev/OQwobkTUvYg/vC_LQRp6FAAJ)

[2016-12-07 18:45] bagnell commented on #4714
This happens because the distance for polygons is the distance to it's bounding sphere. The other option was to use the distance to the center of the polygon, but there are different ways to pick a center and the position of the point/label could still be different. I could add an optional position property to a distance display condition so it could be the same as the point/label and fall back to

[2016-12-07 18:52] pjcozzi commented on #4714
@bagnell sounds like a good approach.

[2016-12-07 18:54] pjcozzi commented on #2160
Not yet, I'll labeled this `2.0` so we can review when we aim to have terrain on by default.

[2016-12-07 19:16] billwritescode commented on #4714
@bagnell

It seems like you could test that by dynamically making the distance display condition's far property set to a really low value (say, 1).  That would make the distance display condition (almost) always exclude the polygon, because the camera is *usually* farther out than that. We would expect the polygon not to displayed by either the polygon's center (by whichever method of calculation)

[2016-12-07 20:51] movestill commented on #4712
Just came across this bug, today. On my same system using Chrome, I don't have a problem.

OS X 10.11, El Capitan
AMD Radeon R9 M370X 2048MB / Intel Iris Pro
Safari 10.0.1

[2016-12-07 21:35] YousefED commented on #4685
A proof of concept of S3 tiles is now working at https://github.com/YousefED/cesium/commit/5917d05e63381982315c98b05720c043541f224b

I've hacked around it by resizing the image tile to 64x64. This sometimes results in quirks at the edges of tiles of course:

![image](https://cloud.githubusercontent.com/assets/368857/20987536/5b1f370e-bccd-11e6-8c04-e1600f5bc32b.png)

I could either implement a sma

[2016-12-07 23:30] jasonbeverage commented on #2995
It's been a long time since I've tested this on a Nexus, I'm not sure.  I want to say that an Android update may have fixed it.  It's not a pressing problem for us at the moment so feel free to close this issue if we were the only ones with the issue.

[2016-12-07 23:50] hpinkos commented on #2995
Thanks @jasonbeverage, I know we haven't seen any problems like this lately with our android devices.  If you do discover it's still a problem, feel free to reopen the issue.  Thanks again!

[2016-12-07 23:50] #2995 closed

[2016-12-07 23:58] erikmaarten opened #4730 "Remove deprecated properties in GeocoderViewModel in 1.31"
The `GeocoderViewModel` and related classes have been updated as part of #4723.

Its `url` and `key` properties will be deprecated from 1.30 and removed in 1.31.

[2016-12-08 00:08] jroetman commented on #4658
A temporary workaround in my case was to update the
webgl.disable-extensions = true

Although, I mucked around with other options too, and it seems that certain combinations break everything, so here's my working setup of webgl config properties:

![image](https://cloud.githubusercontent.com/assets/5098704/20992163/429017f2-bc97-11e6-981d-de2eed4e0788.png)

[2016-12-08 00:11] jmgomezpoveda commented on #4658
Setting `webgl.disable-extensions = true` in my browser also fixed the issue. Though it is not really a workaround since we cannot ask users to change it in their browsers.

[2016-12-08 01:23] pjcozzi commented on #4658
As a workaround, try setting `orderIndependentTranslucency : false` when constructing the Cesium `Viewer` widget.

[2016-12-08 02:00] jeffwhitty commented on #4719
Thanks @emackey, I especially like the way you left that hanging for me to investigate myself :)

I'll have a play with it, and if I have any luck I'll drop it this way so someone who knows what they're doing can review it and consider it for inclusion later.

[2016-12-08 08:06] lucasvw commented on #3172
Ow this makes me very happy! more than a year after the bug was submitted but anyway ;)

[2016-12-08 14:18] erikmaarten commented on #4713
I'll change the geocoder service for lat/long take this into account after https://github.com/AnalyticalGraphicsInc/cesium/pull/4723 has been merged.

[2016-12-08 15:07] hpinkos commented on #4538
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/JrZ60d1r_zk

[2016-12-08 19:10] jmgomezpoveda commented on #4658
@pjcozzi that workaround works great on my system.

[2016-12-08 19:36] emackey opened #4736 "Clamped billboards can shake"
Noticed during review of #4715, clamped billboards, label glyphs, and point primitives can have a 1-pixel horizontal shake when rotating the camera.  This can be seen by loading the Ground Clamping Sandcastle demo, especially by setting a dark label background:

![ok](https://cloud.githubusercontent.com/assets/782098/20902925/5de45fae-bb07-11e6-8f26-6bf10e0783f0.gif)

It looks like maybe the horiz

[2016-12-08 20:23] mramato commented on #4736
Maybe the same bug as #4049?

[2016-12-08 20:31] denverpierce commented on #3912
Yeah, but still only on the AMD discrete card.

![image](https://cloud.githubusercontent.com/assets/5432027/21026582/ea744db0-bd52-11e6-9d64-ff062dc1704a.png)

[2016-12-09 01:40] jeffwhitty commented on #4719
Wow, that was a helluva crash course in webGL. So I've had some success in that I can modify the appearance of the point directly, changing its basic geometric appearance based on a formula. As you're aware though it's all or nothing, I can change the appearance for all points the same, so my circles all became squares, or triangles.

I'm not skilled enough in this area to solve the API problem of

[2016-12-09 02:57] emackey commented on #4719
Unfortunately it's not quick or easy, as the parameters have to be passed through "vertex attributes" (possibly compressed vertex attributes) and get passed through (or decompressed by) the vertex shader.  This is because space is quite constrained getting per-vertex data from JavaScript onto the graphics card and down the pipeline to the fragment shader.

Before you start chasing all that, have y

[2016-12-09 04:01] jeffwhitty commented on #4719
I did try the single billboardcollection but that's going to involve refitting a heap of stuff to do the management features which are built in to the Entity layer. It also means when my data changes between being a point and being a Billboard there's checking and so forth, not to mention the messing about for billboards that move over time with the animation...

What if I were to 'clone' the Poin

[2016-12-10 01:22] YousefED opened #4738 "Polyline performance"
After creating lots of polylines, it seems a lot of time is spent each render in PolylineCollection.update -> createCommandLists, even though nothing changes.

Easy to reproduce by running this gist in sandcastle: https://gist.github.com/YousefED/092aa2e48ca8ac4518b5b5c39e1c1682

Wait for everything to load, then open Chrome inspector, and run the profiler:

![image](https://cloud.githubuserconten

[2016-12-11 17:09] movestill opened #4739 "GeometryPipeline.splitLongitudeTriangles() doesn't preserve color attributes"
When using custom geometry with color attributes assigned to vertices, the color attributes aren't copied when splitting triangles that cross the -180|180 longitude degree boundary. Specifically, the GeometryPipeline.computeTriangleAttributes() function doesn't take color as an input parameter.

My use case is drawing heat maps on the globe. For heat maps, I want a specific color assigned to each

[2016-12-11 20:00] hpinkos commented on #4739
Thanks for reporting this @movestill

Related #1894

[2016-12-12 15:38] mramato opened #4740 "ScreenSpaceEventHandler and ScreenSpaceCameraController test broken with Chrome 55"
Chrome 55 added support for PointerEvent, which is awesome; but it looks like it broke a bunch of our tests which were relying on the ability to create `PointerEvent` instances via `document.createEvent`.  I'm pretty sure `new PointerEvent` is the proper syntax, but not positive.

Here's one example of the failing tests (they all have the same root cause):

http://localhost:8080/Specs/SpecRunner.h

[2016-12-12 16:05] hpinkos opened #4742 "Camera.flyTo doesn't work right after mophComplete"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/aalnZv0HAaQ

This camera flight never gets executed.  Adding a short `setTimeout` fixes the problem.
(The user is trying to work around #2647)

[code]

[2016-12-12 16:10] hpinkos opened #4743 "Extruded geometry on terrain"
This is somethign that gets requested on the forum from time to time.  Users would like to have 3D geometry conform to terrain as well.

https://groups.google.com/forum/?hl=en#!topic/cesium-dev/_x76gHKMmMg

[2016-12-12 16:14] mramato commented on #4742
In the provided code example, `morphComplete` will never be called because no morph is happening.  Add `scene.morphTo3D();` to the end and it will morph (and expose the bug).  I'm guessing that we are firing `morphComplete` too early and doing something that clears the flight before the morph is completely finished.

[2016-12-12 16:16] hpinkos commented on #4742
I was morphing to 3D using the scene mode picker.  Forgot to include that instruction, sorry

[2016-12-12 16:17] mramato commented on #4742
Oh, that makes total sense then 😄

[2016-12-12 16:19] hpinkos opened #4744 "Add DistanceDisplayCondition to CZML"
Requested on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/X7Htr1bP2Tw

[2016-12-12 16:32] emackey commented on #4740
Looks like [MDN shows createEvent as obsolete](https://developer.mozilla.org/en-US/docs/Web/API/Document/createEvent).  I'll take a look.

[2016-12-12 19:11] mramato commented on #2247
I can no longer reproduce this on any Mac browser.

[2016-12-12 19:11] #2247 closed

[2016-12-12 19:12] mramato commented on #1700
While there are quite a few Firefox failures on the Mac mini, I can no longer reproduce this one.

[2016-12-12 19:12] #1700 closed

[2016-12-12 22:39] hpinkos opened #4746 "Error related to GroundPrimitives and GeometryPipeline.splitLongitudeTriangles"
![split](https://cloud.githubusercontent.com/assets/3451886/21119583/40c51884-c091-11e6-891b-29c3737f3cc5.gif)

For `GroundPrimitives`, when the geometry is sufficiently large, there's a weird artifact at `longitude = 0` where we split into east and west hemispheres in `GeometryPipeline.splitLongitudeTriangles`.
(The same thing will happen across the IDL if you flip the east and west coordinates i

[2016-12-13 16:40] erikmaarten opened #4748 "Mapbox access token invalid"
It was reported on the forum that the default Mapbox imagery (streets or satellite) doesn't load.

When selecting either of the providers, network requests error out with "{"message":"Not Authorized - Invalid Token"}", so it's probably time to renew the default token included in Cesium.

[2016-12-13 16:41] hpinkos commented on #4748
Thanks @erikmaarten, this was just fixed in #4741
However, people should be setting their own tokens.  They're only allowed to use ours in development, not in production.

[2016-12-13 16:41] #4748 closed

[2016-12-13 17:15] hpinkos commented on #4235
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/NBfMvj80vGI

[2016-12-13 18:21] pjcozzi commented on #797
* http://webgl2fundamentals.org/

[2016-12-13 19:25] #4740 closed

[2016-12-14 00:02] kring commented on #4685
The story here is that WebGL, without using an optional extension, only supports two byte vertex indices.  That means that the maximum number of vertices that can be in a single terrain tile mesh is 65536.  A 256x256 tile is exactly 65536 vertices already, and when we add the skirts at the tile edges we end up over the limit.  If you have more than 65536 vertices, the index values start wrapping w

[2016-12-14 03:10] mramato opened #4752 "Shadows have bad artifacts on iOS"
@bagnell found this today on an iPad Pro and I confirmed it on my iPhone.  Happens with every model I tried, here's a screenshot. (tested on master) that kind of shows the problem.

![image](https://cloud.githubusercontent.com/assets/1495196/21168266/b52b804c-c180-11e6-96f9-dfe6f983461a.png)

[2016-12-14 03:11] Geoneer commented on #2027
https://groups.google.com/forum/#!msg/cesium-dev/hZJUrD8Owxo/WkHCoYgAkj4J

Willem van der Gugten did create a workaround. It works nice as a pause in the flight. It's not a cancel of the flight.

[2016-12-14 11:06] YousefED commented on #4685
Thanks @kring.

1) Might be good to have Cesium report an error when too much vertices are passed internally?
2) I'll proceed with resizing the height tiles to 64x64. Would you agree the following would be a good approach? In order to prevent the "cracks" in between tiles; resize the N/E/S/W 1px of the tile to 64x1 (or 1x64). Then, calculate the inner 62x62 pixels by resizing the 254x254 center of

[2016-12-14 15:31] hpinkos opened #4753 "Camera moveStart and moveEnd events don't work when camera is very close to the ground"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/SwoFMPNm5_g

This is particularly noticeable in 2D

[code]

1. Zoom in all the way (you should see start/end print out to the console)
2. Use the scroll wheel to zoom out one click at a time (start/end don't print out to the console until you're zoomed out a bit)

It looks like we are using a percentage based on the ca

[2016-12-14 15:36] hpinkos commented on #4753
@bagnell is there a reason the `camera.moveStart` and `camera.moveEnd` events are raised in `Scene` and `camera.changed` is raised in `Camera`?  It seems like these should use the same logic

[2016-12-14 16:27] hpinkos opened #4754 "Sector (pie slice) geometry"
Requested on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/gv0yg8vxxUY

This was mentioned in our geometry roadmap (#766), but I wanted to make an issue so we can see how many users are requesting this feature

[2016-12-14 17:02] pjcozzi commented on #4722
Could be the same issue three.js had, https://github.com/mrdoob/three.js/pull/10319.

[2016-12-14 21:56] hpinkos opened #4755 "texture not ready in GlobeSurfaceTileProvider when zooming in really fast"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Q2qkuxWVj4s

The user was running into this DeveloperError: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/GlobeSurfaceTileProvider.js#L1086-L1098

Ubuntu, 16.04, seen on both Chrome and Firefox

Maybe this is a race condition?  I wasn't able to reproduce this on my machine.  Is anyone else ab

[2016-12-14 22:46] pjcozzi opened #4756 "New way to compute normal transform matrix"
Instead of using the transpose of the inverse, use the transpose of the adjoint.  The adjoint will always exist.  @bagnell have you heard of this?

Not critical, but could be a good onramp issue for a graphics dev.

[2016-12-15 15:28] #4643 closed

[2016-12-15 18:14] hpinkos commented on #4658
also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Kd3gJciiCkQ

[2016-12-15 18:56] hpinkos opened #4760 "RectangleGeometry fails at latitude -90"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Zz91b7MEVeY

There's a normal that's going to `NaN` in `GeometryPipeline.splitLongitude`

[code]

[2016-12-15 19:06] mramato commented on #4658
We should probably look into this sooner, rather than later.

[2016-12-15 19:12] mramato commented on #4658
I noticed Firefox is spitting out tons of the below errors (and I believe this is a new development).  Maybe there's a bug in some new code they added.

[code]

[2016-12-15 19:19] mramato commented on #4658
Last update:
1. The above errors occur even when OIT is off
2. The rendering problem still happens even with ANGLE off
3. Possibly related to #3068

[2016-12-15 19:56] pjcozzi commented on #4746
It's possible that the winding order for that wall of the shadow volume is flipped.

[2016-12-18 14:10] pjcozzi commented on #3068
This works on Mac in both master and the `firefox-oit` branch from #4762.  Can someone please test on Windows to see if we can close this?

[2016-12-18 14:11] #4658 closed

[2016-12-18 14:12] pjcozzi commented on #4658
@jroetman @jmgomezpoveda this should be fixed now via #4762.  It will be in Cesium 1.29 on January 2.

[2016-12-18 14:13] pjcozzi commented on #4718
@neutrino84 thanks again for the report, this should be fixed now via #4762. It will be in Cesium 1.29 on January 2.

[2016-12-19 03:36] lilleyse commented on #3068
This is what I see in Firefox on Windows - looks fine.

![capture](https://cloud.githubusercontent.com/assets/915398/21300475/4acbb1e0-c572-11e6-9349-3c32e938662a.PNG)

[2016-12-19 12:44] pjcozzi commented on #3068
OK, appears to be fixed.

[2016-12-19 12:44] #3068 closed

[2016-12-19 15:01] hpinkos commented on #4755
Fixed in #4763

[2016-12-19 15:01] #4755 closed

[2016-12-19 15:44] hpinkos opened #4764 "Different level tiles loaded in 2D"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/1eIeTqEqgsA

![image](https://cloud.githubusercontent.com/assets/3451886/21318553/b0f5eae8-c5d7-11e6-979a-2a0e9cbed0b6.png)

1. http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases
2. Use the base layer picker to select Bing maps roads
3. Switch to 2D
4. Gradually zoom in on Euro

[2016-12-19 15:48] hpinkos commented on #3647
Also reported here with polylines and a RectangleGeometry: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/9vxdleX7pEg

[2016-12-19 15:52] hpinkos commented on #3279
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/QTSlECbZmG8

[2016-12-19 16:22] denverpierce commented on #4722
Looks exactly the same as the three.js bug (stuff of nightmares).

![ss](https://cloud.githubusercontent.com/assets/5432027/21319968/f5dcf492-c5d4-11e6-8e90-832893d31ea0.gif)

[2016-12-19 16:59] pjcozzi commented on #4722
@denverpierce thanks for looking into it.  Any chance you have the bandwidth to try out the same type of fix used in three?

[2016-12-19 17:28] denverpierce commented on #4722
Yeah, if it's a straightforward one liner like three.js I should be able to take a look at it.

[2016-12-19 17:41] pjcozzi commented on #4722
That would be great, thanks!

[2016-12-19 17:55] pjcozzi commented on #4645
Do we still want to look at this for the 1.29 release?  If so, we would need to look at it soon given the holiday.

[2016-12-19 17:57] pjcozzi commented on #4570
Removing `next release` label since this is not as critical as others.  Will relabel when I triage soon.

[2016-12-19 17:58] pjcozzi commented on #4538
@bagnell this is an important one.  What is the level of effort?  Is it reasonable to aim to fix it soon or just disable it?

[2016-12-19 18:00] lilleyse commented on #4645
I'll take a look soon.

[2016-12-19 22:59] keikland opened #4767 "Zooming bug with Cesium and the latest Chromium 55 engine"
After auto-updating my installations of Chrome and Opera to their latest versions, Cesium (latest) has problems both with tiles near the poles and when zooming into a balloon.  (Machine is 64-bit Win10, Dell XPS 8700, i7 Haswell, Sapphire RX480 graphics card)

For example, check the Cesium Camera Sandcastle example (//cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=CZML.html&label=Showcases).

[2016-12-20 01:04] pjcozzi opened #4768 "Window mousedown/mouseup events no longer fire in Chrome"
Window mousedown/mouseup events no longer fire in Chrome 55.  I also tested Canary with the same result.

The events do fire in Firefox.

This is not a new issue in Cesium; I tested Cesium 1.28, 1.25, and 1.20 with the same results.

[code]

@emackey any idea?  Is this a new Chrome bug?  Or a fix to Chrome that revealed a bug in Cesium?  Sandcastle specific (I also tested in a new window).

[2016-12-20 01:04] pjcozzi commented on #4768
Example code added above.

[2016-12-20 01:16] hpinkos commented on #4768
Related #4767?

[2016-12-20 15:17] pjcozzi commented on #4669
Fixed in #4684 thanks to @JDepooter!

[2016-12-20 15:17] #4669 closed

[2016-12-20 15:18] pjcozzi commented on #4662
@SunBlack please see my above comment:

And open a new issue in https://github.com/AnalyticalGraphicsInc/3d-tiles if there is a spec update you want to discuss.

[2016-12-20 15:18] #4662 closed

[2016-12-20 15:20] pjcozzi commented on #4654
CC https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/127

[2016-12-20 15:24] pjcozzi commented on #4620
This is the same or similar issue as the oldest open issue in the repo, #94.

[2016-12-20 15:32] pjcozzi commented on #4556
Added in #4606 thanks to @leesafini!

[2016-12-20 15:32] #4556 closed

[2016-12-20 15:35] pjcozzi commented on #4519
Perhaps now duplicate with #4712?

[2016-12-20 15:39] pjcozzi commented on #4483
@hpinkos is this still the case with #4751?

[2016-12-20 15:41] pjcozzi commented on #4441
CC #4510

[2016-12-20 15:46] pjcozzi commented on #4375
I would be OK with a doc fix here that updates https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/GroundPrimitive.js#L85-L87 to account for the latest iOS/Safari updates.

[2016-12-20 15:55] pjcozzi commented on #4291
For 2D map projects, try implementing the [MapProjection](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/MapProjection.js) interface.  For an example, see [WebMercatorProjection](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/WebMercatorProjection.js).

In the future, please ask general questions on the [Cesium forum](http://cesiumjs.org/forum.html

[2016-12-20 15:55] #4291 closed

[2016-12-20 16:10] pjcozzi commented on #4285
Related to #4751, but that only fixes the bottom cap.

@bagnell perhaps this is because terrain is loaded after the corridor is created?  Or the wrong terrain LOD is used?

[2016-12-20 16:18] pjcozzi commented on #4166
Perhaps now duplicate with #4359.

[2016-12-20 16:21] pjcozzi commented on #4768
Is this related to #4126?

[2016-12-20 16:26] pjcozzi commented on #4084
CC #4572

[2016-12-20 16:31] emackey opened #4771 "Test failure on Scene stencil buffer"
Looks like a simple default value change, breaking tests in [SceneSpec.js#L120](https://github.com/AnalyticalGraphicsInc/cesium/blob/389cb1d3664536c53755b62a297bd96400abaff8/Specs/Scene/SceneSpec.js#L120)

/cc @lilleyse

[2016-12-20 17:03] #4771 closed

[2016-12-21 14:58] Joebh opened #4776 "CLAMP_TO_GROUND for Billboards incorrect positions"
When using a terrain provider that uses a heightmap terrain format, the CLAMP_TO_GROUND property produces incorrect positions for billboards.  It is easier to see when there are more billboards placed.  I can get it to happen every time when there are 10 billboards on the globe.

I've tested with the terrain provider at https://cesiumjs.org/smallTerrain.  This is not an issue when the terrain prov

[2016-12-21 16:41] hpinkos commented on #4776
Thanks @Joebh, I was able to reproduce this.
It doesn't happen every time, but occasionally some of the points doesn't get clamped to the terrain.
Here is a code example:

[code]

[2016-12-21 17:02] hpinkos commented on #4483
@pjcozzi yep, it'll still be a problem after #4751 gets merged

[2016-12-21 18:53] pjcozzi commented on #4776
Is this the same issue as #4598?

[2016-12-21 19:04] pjcozzi commented on #4764
I suspect the SSE computation isn't just taking into account the height in 2D.

[2016-12-21 20:11] hpinkos commented on #4776
I could still reproduce it with the fix in #4622, so I don't think it's the same issue

[2016-12-22 10:43] duvifn commented on #4776
Issue #4598 is a position offset of **clamped** billboards and here the problem is actually that the billboards don't get clamped to the current level of terrain (as @hpinkos wrote).

It's caused by the fact that billboards don't get updated in some conditions (points 2,3,4 in #4686, and maybe additional problems).

It occasionally happens also with STK Terrain. I was able to reproduce this by rem

[2016-12-22 15:22] hpinkos opened #4777 "readyImagery is not actually ready"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Q2qkuxWVj4s

There's a crash in `GlobeSurfaceTileProvider` when you zoom into some of the tiles:

It only happens the first time the tiles are loaded in, not after they are cached.  I can reproduce it by opening a new incognito window and zooming in and out on the top row of numbers near the north pole.

[code]

[code]

[2016-12-22 15:22] hpinkos commented on #4777
@kring this sounds related to your fix in #4763.  Any ideas?

[2016-12-22 15:27] hpinkos commented on #4746
Also seen with this GeoJSON file around the south pole

[ne_10m_admin_0_countries2.json.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/669075/ne_10m_admin_0_countries2.json.txt)

From https://groups.google.com/forum/?hl=en#!topic/cesium-dev/O_LaBx1_1wg

[2016-12-22 15:32] hpinkos commented on #3242
possibly related to #3247?

[2016-12-22 15:32] hpinkos commented on #3242
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/pp-vskchuVY

[2016-12-23 23:03] sabahMotamedi opened #4780 "I'm using the 3d Model code sample in sandcastle but it not run correctly"
Hello,
Please  help me,

I'm using the 3d Model code sample in sandcastle but it not run correctly. I runs but don't search for 3d models.

It run but don't searching  for 3d models.

In this line there is error(line 40):      var hpr = new Cesium.HeadingPitchRoll(heading, pitch, roll);

Error description:

Uncaught TypeError: Cesium.HeadingPitchRoll is not a constructor
    at createModel (3D%20M

[2016-12-24 21:05] #4660 closed

[2016-12-24 22:21] duvifn commented on #4764
The SSE computation for Mercator projection is depended on the latitude, [here](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.28/Source/Scene/ImageryLayer.js#L1068).

You can easily see that this is the reason by temporarily assigning a constant to [`latitudeFactor `](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.28/Source/Scene/ImageryLayer.js#L1068) variable (for example, `1.0`

[2016-12-26 14:52] pjcozzi commented on #4780
@sabahMotamedi someone will answer your [same question on the Cesium forum](https://groups.google.com/forum/#!topic/cesium-dev/WSrlBHNLAjM).

In the future, please use the Cesium forum for questions like this and use GitHub issues to report bugs and fixes requests.  A lot more devs are watching the forum than the issues.  Thanks!

[2016-12-26 14:52] #4780 closed

[2016-12-26 21:35] #4598 closed

[2016-12-26 21:42] pjcozzi commented on #3411
@xtassin @chris-cooper this should be fixed in master (and the Cesium 1.29 release next week) thanks to #4622 by @duvifn.  Let us know if you still have issues.

[2016-12-26 21:48] #4029 closed

[2016-12-26 22:45] KathrinWitzlsperger commented on #2208
@dragon112
@criis
I am using the version of the heatmap.js integration that is based on Cesium.Entity.Rectangle. Setting transparent to true helped me to make the transparent parts look transparent but somehow it's changing the colors (rgba-Values) of my heatmap. Using it with transparent set to false, the heatmap itself looks perfectly fine, in this case the only problem is the black rectangle th

[2016-12-27 13:07] KathrinWitzlsperger commented on #2208
I think there is a compatibility problem:
It arises because HTML Canvas saves the image data with a pre-multiplied integrated alpha channel (values from 0 to 255), but transparent set to true expects a straight alpha value between 0 and 1 and sets every alpha greater than 0.99 to 0.99 (see ImageMaterialPropoerty.js: result.color.alpha = Math.min(0.99, result.color.alpha);). That's the reason why t

[2016-12-27 14:10] duvifn commented on #3411
Hi @pjcozzi,
Thanks a lot for merging this!

I'd like to mention that this PR didn't address @chris-cooper 's issue.
The problem of the edge of the tiles still exists, and I believe it depends on the terrain provider, data type (mesh or heighmap), upsampled or not, and zoom level.
While this PR solves 99% of the `undefined` issue in @xtassin's example, there are still chances to hit the tile's edg

[2016-12-27 14:28] pjcozzi commented on #3411
OK, reopening.

[2016-12-27 15:30] hpinkos opened #4782 "Artifacts when too many polygons overlap"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/XVKUlkEIY2c

![image](https://cloud.githubusercontent.com/assets/3451886/21502660/70525050-cc1f-11e6-8c80-4b3a79a4b876.png)

http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=faa902dddc4493397bc4cee452f67b12

[2016-12-27 16:38] rutsky opened #4783 "Picking near Earth sphere border returns pickIds equal to 255, 65535 which is being misinterpreted as object pick"
Take a look at the [following example](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=961346e4535e7caf3a780acefc2f1e10):

[code]

It displays points in [0, 10]x[0, 10] degrees square and on mouse move tries to pick entity under mouse cursor --- if there is any, outputs mouse coordinates in the log.

Since all points in [0, 10]x[0, 10] degrees squa

[2016-12-27 16:51] rutsky opened #4784 "scene.drillPick() hangs if picking out of more than 254 items"
Take look at the [following example](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=443c1760794685e009ed9ff0959617fb):

[code]

[2016-12-27 16:54] rutsky commented on #4784
This is based on example from #4783.
In #4783 points are being incorrectly selected which caused "false positives" in selection.
If same objects are not being picked, but `drillPick`-ed --- Cesium hangs.

Try to move mouse cursor near Earth sphere edge in the example above --- browser tab will hang.

Tested in CesiumJS 1.28 in Firefox Developer Edition 52.0a2 and Chromium 55.0.2883.87 on Ubuntu 16

[2016-12-27 17:06] hpinkos commented on #4784
Thanks @rutsky, we'll try to take a look at this

[2016-12-27 17:34] pjcozzi opened #4785 "Compute tighter OBBs"
[Gottschalk's algorithm](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/OrientedBoundingBox.js#L85), which we currently use, computes an approximate best fit that is sometimes loose-fitting.

Let's check out "Fast Computation of Tight-Fitting Oriented Bounding Boxes" in Game Engine Gems 2 (includes [sample code](http://gameenginegems.com/geg2.php)).  It computes near optim

[2016-12-27 18:23] pjcozzi opened #4786 "Change intersection tests to use explicit Interval type instead of object literal"
Change all uses of object literals with `start`/`stop` properties in IntersectionTests.js, e.g., [raySphere](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/IntersectionTests.js#L286), to use Cesium's [Interval](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/Interval.js) type.

Also update the reference documentation and unit tests.

[2016-12-27 18:23] rutsky commented on #4783
Setting `skyAtmosphere` to `false` during Viewer construction fixes this issue, so I think it's Sky who handles picking incorrectly.

[2016-12-27 19:03] rutsky commented on #4783
I added debug logging to [Context.getObjectByPickColor](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Renderer/Context.js#L1119) and see that with SkyAtmosphere enabled points near Earth sphere edge returns color 255, closer to center color 65535.
This is being interpreted as selecting object with pickId 255 (or 65535 is case of many objects on scene).

This also explains beha

[2016-12-27 20:06] denverpierce commented on #4722
I crunched on this a bit but couldn't make any progress.  Is the [gltf spec](https://github.com/KhronosGroup/glTF/tree/master/specification/1.0) the best resource to look at for this issue?

[2016-12-27 20:08] pjcozzi commented on #4785
CC #2861

[2016-12-27 20:14] pjcozzi opened #4787 "Fewer plane checks in frustum test"
When the view frustum is symmetric around x/y (which is always the case for Cesium except for picking and VR), the frustum can be divided into eight octants, the octant for the bounding volume can be found, then only three instead of six frustum checks are required.

Catches
* The plane test for spheres is so fast that this was found not to help; we could test for ourselves.  Could also be a nice

[2016-12-27 20:18] pjcozzi commented on #4785
CC #4387.  The frustum/box test still needs to be checked, but tighter OBBs will help.

[2016-12-27 21:01] pjcozzi commented on #4387
To improve this:
* Double check that [OrientedBoundingBox.intersectPlane](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/OrientedBoundingBox.js#L377) is correct.  It probably is, and the screenshot above is probably because the view frustum is huge and this is the classic problem where the bounding volume is outside at the frustum corners but the algorithm still reports "i

[2016-12-28 09:41] gaolizhou opened #4788 "Model disappeared when there is czml packet delay"
Below is copied from https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/CZML-Structure#availability

In addition to the id property, CZML packets have one additional special property: availability.
{
    "id": "PredatorUAV",
    "availability": "2012-04-30T12:00:00Z/14:00:00Z",
    // ...
}
The availability property indicates when data for an object is available. If data for an object is kn

[2016-12-28 10:05] gaolizhou opened #4789 "Multiple Line Label don't work"
[code]

![multi-line-label](https://cloud.githubusercontent.com/assets/2884044/21519457/274f1bfe-cd28-11e6-9eab-81599d08049d.png)

[2016-12-28 15:28] hpinkos commented on #4789
Hello @gaolizhou,  support for this feature was just merged into master recently and will be included in the 1.29 release available on January 2nd.  I checked to see, and your example does work in our latest code.  Thanks!

[2016-12-28 15:28] #4789 closed

[2016-12-28 15:34] pjcozzi commented on #4679
There's a JCGT paper on FasTC: http://jcgt.org/published/0003/04/07/

[2016-12-28 15:41] pjcozzi commented on #4782
Could be related to OIT.  As a workaround, try setting `orderIndependentTranslucency : false` when constructing the Cesium Viewer widget.

[2016-12-28 15:46] pjcozzi commented on #4783
Thanks for narrowing this down, @rutsky!

If you have the time, we would welcome a pull request with the fix (sounds like just don't render the sky atmosphere - and perhaps sky box - during the pick pass in [Scene.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Scene.js)).

[2016-12-28 15:48] pjcozzi commented on #4722
Thanks for investigating, @denverpierce!  I suspect the fix to three.js, https://github.com/mrdoob/three.js/pull/10319, would be the best place to look, perhaps followed by the [reference card](https://github.com/KhronosGroup/glTF#overview), and then the spec.

[2016-12-28 15:56] hpinkos commented on #4788
@gaolizhou from the documentation you posted, it sounds like the "Buffering..." message is a suggestion for how you could handle this case client side.  It is not something that is built into the Cesium `CzmlDataSource`.

In the future, if you have questions like this please ask them on our [forum](https://groups.google.com/forum/?hl=en#!forum/cesium-dev).  It is viewed by a lot more people so the

[2016-12-28 15:56] #4788 closed

[2016-12-28 16:33] javagl commented on #4722
Change `if (defined(` to `if (!defined(` at https://github.com/AnalyticalGraphicsInc/cesium/blob/389cb1d3664536c53755b62a297bd96400abaff8/Source/ThirdParty/gltfDefaults.js#L404

[2016-12-28 17:03] rutsky commented on #4783
@pjcozzi done, please review: #4790

[2016-12-28 20:03] hpinkos opened #4791 "Dynamic geometry sandcastle example"
This is something that comes up on the forum a lot, and I think it would be beneficial to have a sandcastle example to show how to use a `CallbackProperty` to make entity geometry draw synchronously instead of asynchronously.

Here are some forum posts with code examples for ideas:
https://groups.google.com/d/msg/cesium-dev/jjVOcPFx89Q/p-mDuTXnAgAJ
https://groups.google.com/d/msg/cesium-dev/nypZFd

[2016-12-29 01:01] gaolizhou commented on #4789
@hpinkos  cool! thanks for your quick response!!

[2016-12-30 15:30] pjcozzi commented on #797
WebGL 2 articles on the RTR blog:
* [WebGL 2 Basics](http://www.realtimerendering.com/blog/webgl-2-basics/)
* [WebGL 2: New Features](http://www.realtimerendering.com/blog/webgl-2-new-features/)

[2016-12-30 18:58] javagl opened #4793 "The glTF.scene should be optional"
According to the specification, the [glTF.scene](https://github.com/KhronosGroup/glTF/tree/master/specification/1.0#gltfscene) field is optional (i.e "not required").

But there are at least two places where `gltf.scenes[gltf.scene]` seems to be accessed directly:

- https://github.com/AnalyticalGraphicsInc/cesium/blob/43ca55b3693ee1b20fc731813d427a9e8040b758/Source/Scene/Model.js#L3204
- https://

[2016-12-30 19:55] pjcozzi commented on #4785
Reminder to let @erich666 know how this works out.

[2016-12-30 20:05] pjcozzi commented on #4387
Above, note that when adding IQ's tests, all 6 planes in the orignial algorithm do not need to be checked.  Just two corners are "created" and tested.

[2016-12-30 20:05] pjcozzi commented on #4387
Reminder to let @erich666 know our results.

[2016-12-30 20:07] Dylan-Brown commented on #4694
@lilleyse
I believe this is done, unless there's other work for the ternary functions!

[2016-12-30 21:04] #4722 closed

[2016-12-30 21:13] pjcozzi commented on #4722
@cx20 the fix for this will be in Cesium 1.29, which will be released on Monday.  Can you please update [gltf-test](https://github.com/cx20/gltf-test)?

[2016-12-31 03:25] cx20 commented on #4722
I will update it as new version is released :)

[2016-12-31 17:38] pjcozzi commented on #4645
Pushing this to 1.30.  Leaving it labeled `next release` since this would also impact 3D Tiles.

[2016-12-31 17:39] pjcozzi commented on #4538
Pushing this to 1.30.  Leaving it labeled `next release` since there is so much interest.

[2016-12-31 17:50] pjcozzi opened #4794 "Replace explicit checks for DeveloperErrors with calls to the new Check type"
#4726 introduced a new private class, [Check](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/Check.js), with static utility functions to do common parameter validation and throw a `DeveloperError`.  Using `Check` instead of explicit hand-coded conditionals is more concise.  For example:
[code]
becomes
[code]
#4726 also updated `Cartesian3` to use `Check`.

We still want to

[2017-01-02 13:32] emackey opened #4796 "Syntax error in master according to Eclipse"
Eclipse Luna (configured as per the official Cesium Contributor's Guide) shows a red syntax error in master on [Check.js#L91](https://github.com/AnalyticalGraphicsInc/cesium/blob/34f3f11da51b1f2f122dcd1ef19b1171b5bb6f2b/Source/Core/Check.js#L91) saying:

This error is repeated several more times in `CheckSpec.js`.

[2017-01-02 14:35] pjcozzi commented on #4796
This passes JSHint, but I think we should still rename it; I have used `func` [elsewhere](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Renderer/RenderState.js#L126) to avoid this.

@erikmaarten can you please update?

[2017-01-02 14:54] cx20 commented on #4722
I confirmed that WalkingLady glTF model is displayed in Cesium.js 1.29.
https://github.com/cx20/gltf-test

![image](https://cloud.githubusercontent.com/assets/1833979/21591345/8bd4fd92-d146-11e6-82e0-84cba103c400.png)

[2017-01-02 14:57] pjcozzi commented on #4722
Great, thanks for the quick response, @cx20!

[2017-01-02 15:07] cx20 commented on #4009
I tested the display of the tutorial model of glTF 1.1 with Cesium 1.29.
Some glTF 1.1 models can not be displayed, please confirm.
https://github.com/cx20/gltf-test#gltf-11-tutorial-models

[code]

[2017-01-02 15:08] lasalvavida commented on #4009
Thanks @cx20. glTF 1.1 support is not integrated into mainline Cesium yet

[2017-01-02 15:56] pjcozzi commented on #2524
* Consider jspm deployment, #3631

[2017-01-02 16:14] #3878 closed

[2017-01-02 16:27] pjcozzi commented on #450
@Larcius could you open a pull request in the [cesium-plugins-list](https://github.com/AnalyticalGraphicsInc/cesium-plugins-list) repo for cesium-navigation and we'll close this?

[2017-01-02 16:28] pjcozzi commented on #451
Fixed in #4501.

[2017-01-02 16:28] #451 closed

[2017-01-02 16:33] pjcozzi commented on #832
Does anyone know if this is still an issue?

[2017-01-02 16:56] pjcozzi commented on #1170
`CorridorGeometry` should work here unless it is required that the line is aligned to the viewport.

[2017-01-02 17:00] pjcozzi commented on #1424
@mramato is it worth keeping this open?

[2017-01-02 17:02] pjcozzi commented on #1532
@nirko would you be able to open a pull request for this? Here's [instructions](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request).

[2017-01-02 17:08] pjcozzi commented on #1140
Duplicate with #1640

[2017-01-02 17:08] #1140 closed

[2017-01-02 17:11] pjcozzi commented on #1825
Related forum thread from https://github.com/AnalyticalGraphicsInc/cesium/issues/1578#issuecomment-41843903:

https://groups.google.com/forum/#!msg/cesium-dev/SZa3vf3Yk8c/5M_f2-eIW4gJ

[2017-01-02 17:11] pjcozzi commented on #1578
Closing as duplicate with #1825.

[2017-01-02 17:11] #1578 closed

[2017-01-02 17:14] pjcozzi commented on #1886
@kaktus40 would you be able to open a pull request with fixes for these?

[2017-01-02 17:16] pjcozzi commented on #2007
@bagnell is this still relevant?

[2017-01-02 17:38] #2007 closed

[2017-01-02 18:19] pjcozzi commented on #2052
Duplicate with #2174.  @aramk please reopen if there is another issue.

[2017-01-02 18:19] #2052 closed

[2017-01-02 18:20] pjcozzi commented on #2248
Insufficient priority.

[2017-01-02 18:20] #2248 closed

[2017-01-02 18:22] pjcozzi commented on #2327
Is this still an issue?

[2017-01-02 18:24] pjcozzi commented on #2348
@emackey do you know what is expected here?

[2017-01-02 18:27] pjcozzi commented on #2393
Could be cool, but we'll evaluate all options if we ever move from JSDoc.

[2017-01-02 18:27] #2393 closed

[2017-01-02 18:28] pjcozzi commented on #2402
Fixed in #4306.

[2017-01-02 18:28] #2402 closed

[2017-01-02 18:32] pjcozzi commented on #2457
The similar [server.js](https://github.com/AnalyticalGraphicsInc/3d-tiles-samples/blob/master/server.js) in the `3d-tiles-samples` repo already has this.

[2017-01-02 18:36] pjcozzi commented on #1855
Maybe related to #2522

[2017-01-02 18:41] pjcozzi commented on #2629
@WarpDrive please open a pull request if you want to pursue this.

[2017-01-02 18:41] #2629 closed

[2017-01-02 18:45] pjcozzi commented on #2694
CC #2160

[2017-01-02 18:45] emackey commented on #2348
Good question.  For mouse-based interactions, `DOUBLE` click speed is defined by the browser, which typically gets it from the host OS.  Some users with disabilities may only be able to produce slow "double" clicks on their hardware, other users may set their OS to only accept a rapid double-click as being "double."  Cesium just gets the mouse events from the host, and in the land of JavaScript ev

[2017-01-02 18:48] pjcozzi commented on #2785
OK to close this?

[2017-01-02 18:49] pjcozzi commented on #2798
Is this still relevant?

[2017-01-02 18:51] pjcozzi commented on #2814
@kring do you think this is still worth someone pursuing for any of the remaining types?

[2017-01-02 18:55] pjcozzi commented on #2130
This also happens for points.  From #2885:
[code]

Forum post: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/5qv7Q_qudt8

[2017-01-02 18:56] pjcozzi commented on #2885
Closing as duplicate with https://github.com/AnalyticalGraphicsInc/cesium/issues/2130#issuecomment-270008324

[2017-01-02 18:56] #2885 closed

[2017-01-02 18:58] pjcozzi commented on #2934
We'll add once a compression type like Open3DGC is available for glTF.

[2017-01-02 18:58] #2934 closed

[2017-01-02 18:59] kaktus40 commented on #1886
Hello,
with the refactoring of this class using UrlTemplateImageryProvider, the issue is obsolete. :-)

[2017-01-02 18:59] #1886 closed

[2017-01-02 19:00] pjcozzi commented on #1886
Thanks for the update, @kaktus40!

[2017-01-02 19:07] pjcozzi commented on #3036
With my Windows NVIDIA GeForce, there are slightly more artifacts in 1.29 than 1.9 likely due to FXAA.

Compare:

http://cesiumjs.org/releases/1.9/Apps/Sandcastle/index.html?src=CZML.html&label=Showcases

http://cesiumjs.org/releases/1.29/Apps/Sandcastle/index.html?src=CZML.html&label=Showcases

I am OK with closing this.

[2017-01-02 19:08] pjcozzi commented on #3037
Perhaps related to #2968.

[2017-01-02 19:10] pjcozzi commented on #3066
@lilleyse can you test this?

[2017-01-02 19:19] pjcozzi commented on #3256
@kaktus40 can we close this or perhaps does it just need a doc update?

[2017-01-02 19:27] pjcozzi commented on #2348
OK, let's close.

[2017-01-02 19:27] #2348 closed

[2017-01-02 19:31] pjcozzi commented on #3638
Closing. @pierotofy please reopen if there is still an issue.

[2017-01-02 19:31] #3638 closed

[2017-01-02 19:33] pjcozzi commented on #3639
Declarative styling is now implemented for point clouds; it is possible to set the point size.

[2017-01-02 19:33] #3639 closed

[2017-01-02 19:41] pjcozzi commented on #3804
@bmckilligan this may be fixed in [Cesium 1.29](http://cesiumjs.org/downloads.html) as part of the stencil initialization fix.  Can you please retest?

[2017-01-02 19:45] pjcozzi commented on #3877
CC #2084 and #3824

[2017-01-02 19:48] pierotofy commented on #3638
Yes the addition of `TrustedServer` has solved this. Thank you!!

[2017-01-02 19:53] pjcozzi commented on #4001
Duplicate with #4010.

[2017-01-02 19:53] #4001 closed

[2017-01-02 19:56] pjcozzi commented on #4074
@tfili:

[2017-01-02 19:58] pjcozzi commented on #1825
CC #4122

[2017-01-02 20:01] pjcozzi commented on #4149
Can this discuss move to the [Cesium forum](http://cesiumjs.org/forum.html) or is there there a bug?

[2017-01-02 20:05] pjcozzi commented on #4179
Combing with #4179.

[2017-01-02 20:05] #4179 closed

[2017-01-02 20:06] pjcozzi commented on #4215
CC #1247

[2017-01-02 20:09] pjcozzi commented on #4245
CC #4069

[2017-01-02 20:10] pjcozzi commented on #4272
@lilleyse do you still get these test failures?

I do not.

[2017-01-02 20:14] pjcozzi commented on #4304
@duvifn looks like #4334 was closed without being merged.  Are you up for finishing this?

[2017-01-02 20:14] hpinkos commented on #3256
@pjcozzi here's where the confusion is:  If you have `heading = 0`; the model points east.  Then if you apply a pitch, it rotates about the north axis pointing the airplane up, and roll rotates about the east axis tilting the plane from side to side.
I would expect the model to point north at `heading = 0`.  That seems to be the standard in aviation at least.  In this case pitch should rotate abou

[2017-01-02 20:16] pjcozzi commented on #4363
@emackey can we close this since #4488 is merged?

[2017-01-02 20:24] emackey commented on #4069
@abwood correct me if I'm wrong here.

I believe it is not valid to use pre-processed terrain data, such as `https://assets.agi.com/stk-terrain/world`, on any ellipsoid other than the one it was processed for (WGS84 in this case).  The quantized mesh tiles all have precomputed bounding boxes that are only valid for the original ellipsoid.

[2017-01-02 20:25] pjcozzi commented on #4442
Is this still a problem in Chrome 55?

[2017-01-02 20:29] pjcozzi commented on #4712
Forum posts from #4519:

* https://groups.google.com/forum/?hl=en#!topic/cesium-dev/kfr5KohKPvQ
* https://groups.google.com/forum/?hl=en#!topic/cesium-dev/gDODtmR4w5E

[2017-01-02 20:30] pjcozzi commented on #4519
Likely duplicate with #4712.

[2017-01-02 20:30] #4519 closed

[2017-01-02 20:30] #4524 closed

[2017-01-02 20:30] hpinkos commented on #1424
Whenever we get a chance to refactor and clean up our widgets, we should definitely use an HTML file to define the view instead of doing everything programmatically in Javascipt.  It'll be a lot cleaner and will make it easier to debug.  I would keep this issue open.

[2017-01-02 20:33] emackey commented on #4363
@mramato can you retest?

[2017-01-02 20:36] pjcozzi commented on #4537
CC #2968

[2017-01-02 20:37] pjcozzi commented on #1825
CC #4571

[2017-01-02 20:42] pjcozzi commented on #4639
CC #2816

[2017-01-02 20:48] pjcozzi commented on #4680
CC #2968 and #3037

[2017-01-02 20:50] pjcozzi commented on #4691
CC #2521

[2017-01-02 20:52] pjcozzi commented on #4736
Probably.  @emackey do you agree?

[2017-01-02 20:55] pjcozzi commented on #4754
I wrote C for this years ago we could start with.

[2017-01-02 20:57] pjcozzi commented on #4777
Was this fixed in 1.29?

From CHANGES.md:

[2017-01-02 21:04] pjcozzi commented on #4566
Might just need an epsilon/`>=`

[2017-01-02 21:18] hpinkos commented on #4777
@pjcozzi I was able to reproduce this in master after that was merged

[2017-01-02 21:21] svetoslav80 commented on #4777
Yeah I just tested with 1.29 too, it's still not fixed

[2017-01-02 21:30] pjcozzi commented on #4069
@emackey you are correct.  I think they are generating their own terrain so you might want to chime in on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/GefAAXtkiZI

[2017-01-02 21:30] kaktus40 commented on #3256
Hello,
Sorry I didn't have the occasion to work on [this](https://github.com/AnalyticalGraphicsInc/cesium/pull/4498#issuecomment-257159144).
This issue is deeply linked with the default reference frame used in Cesium. When I can turn the idea suggest [here](https://github.com/AnalyticalGraphicsInc/cesium/pull/4498#issuecomment-256647913) into a pull request, this issue should be resolved.

[2017-01-02 21:31] pjcozzi commented on #4108
CC #3647

[2017-01-02 21:32] pjcozzi commented on #2442
CC #4784

[2017-01-02 21:33] shunter commented on #4108
cc AnalyticalGraphicsInc/czml-writer#20

[2017-01-02 21:46] emackey commented on #4736
Could be, but #4049 seems to require animating, and this bug happens while paused.

[2017-01-02 22:31] lyaunzbe commented on #4149
Yep, sorry about that, closing the issue

[2017-01-02 22:31] #4149 closed

[2017-01-03 00:01] szsolt opened #4797 "Model coloring is applied globally to all the models"
While testing the sandcastle model coloring example found a tiny but annoying bug. When there are multiple models and colors are applied to them, all of them will have the same color.

Modified the sandcastle example to demonstrate it:

[code]

The color of the two initial planes should be different, one green and one red, however both are red.
Changing the color from the drop down will change the

[2017-01-03 02:15] kring commented on #2814
Nah, not much to be gained IMO.  I'll close this.

[2017-01-03 09:11] HeercoGrond commented on #4704
Hi. We've also ran into this issue. It's also been reported to Firefox themselves at https://bugzilla.mozilla.org/show_bug.cgi?id=1321768 Firefox 51 and 52 seems to fix these problems but have other problems mainly in performance areas.

[2017-01-03 09:27] HeercoGrond commented on #4565
Is there any update to this? Right now, our functionality in Edge is broken because of it.

[2017-01-03 11:10] Larcius commented on #450
The plugin "Cesium Navigation" is already listed. This plugin refers to @alberto-acevedo repository but all my changes were pulled there.
Meanwhile the wonky zooming as pointed out by @hpinkos was fixed.

[2017-01-03 11:44] pjcozzi commented on #4797
Thanks for the report, @szsolt.  Good catch!

Thanks for the fix too.

Smaller code example:
[code]

[2017-01-03 11:50] pjcozzi commented on #4704
Thanks @HeercoGrond!

@rutsky can you also confirm that this is fixed in the latest Firefox 52 since you saw this issue in  Firefox 52.0a2?

[2017-01-03 11:51] pjcozzi commented on #4565
No update, but we would welcome a pull request if you are able to look into this.  For info on the tests, see the [Testing Guide](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Documentation/Contributors/TestingGuide/README.md).

[2017-01-03 11:52] pjcozzi commented on #450
Sounds good.

[2017-01-03 11:52] #450 closed

[2017-01-03 11:53] pjcozzi commented on #3256
Sounds great, thanks @kaktus40!

[2017-01-03 12:22] HeercoGrond commented on #4704
![image](https://cloud.githubusercontent.com/assets/21168987/21607584/75acc2f4-d1b7-11e6-83dd-f40ac907cd66.png)

Same model ( a pine tree gltf with an alpha ) , white artifacts in Firefox 50.1.0 (64 bit) and showing up correctly in Firefox 52.0a2

[2017-01-03 12:26] HeercoGrond commented on #4565
Sure thing - I'll have a crack at it.

[2017-01-03 12:47] pjcozzi commented on #4679
* Crunch/Emscripten performance numbers (old): http://www-cs-students.stanford.edu/~eparker/files/crunch/decode_test.html
   * When texture compression is not supported, they transcode DXT to 565.  This could be a good option so we don't have an extra set of uncompressed textures to serve. http://www-cs-students.stanford.edu/~eparker/files/crunch/dxt-to-rgb565.js

[2017-01-03 12:48] pjcozzi commented on #4565
Thanks @HeercoGrond!  It is much appreciated.

[2017-01-03 14:49] #4796 closed

[2017-01-03 15:19] lilleyse commented on #3066
It seems to be fine now, at least for a modified Hello World.

[2017-01-03 15:19] #3066 closed

[2017-01-03 15:36] mramato commented on #4166
I doubt it's a duplicate, since shutting off fog is what causes the behavior in this issue and turning it back on fixes it.

[2017-01-03 15:38] emackey opened #4800 "Something is up with the `f`"
Noticed in #4691.

[code]

[code]

[2017-01-03 15:39] HeercoGrond commented on #4565
Looking at the failures and the experiences we're having in Edge so far, it seems something with mouse-input registering goes terrible wrong. In our 'home' screen, for example, we can't click on things when the page is first loaded and only works when reloaded. All the values from ScreenSpaceCameraController for example are mostly the same when a simulated mouse movement is made.

I hope this info

[2017-01-03 15:42] hpinkos commented on #4800
Here's a screenshot for reference:

![image](https://cloud.githubusercontent.com/assets/3451886/21612949/252d80ae-d1a1-11e6-83dc-f164125d9df8.png)

Left is how it should look, right is how the label looks

[2017-01-03 15:51] hpinkos commented on #450
@pjcozzi I don't think we should close this.  At some point we should have a navigation widget included in our library.  I noticed in usability testing that it's the first thing people go for if they're not necessarily familiar with Cesium's mouse controls, and it would be especially useful for tilting since not all mouses have a middle button.

[2017-01-03 15:59] rutsky commented on #4704
@pjcozzi I can confirm that the issue is not reproduced in latest Firefox Developer Edition (52.0a2 (2017-01-03)):

![_002](https://cloud.githubusercontent.com/assets/46573/21613433/ac6456c2-d1ee-11e6-86c0-03c7b6e617f6.png)

@mramato , do you think that in https://github.com/AnalyticalGraphicsInc/cesium/issues/4704#issuecomment-264328648 you saw this issue, or was it different issue (so that this

[2017-01-03 16:08] mramato commented on #2798
I second closing this.  The viewer app is a simple sample application and I don't see a reason to add additional feature to it.

[2017-01-03 16:09] #2798 closed

[2017-01-03 16:14] mramato commented on #2327
This appears to be OBE and was probably fixes a long time ago.

[2017-01-03 16:14] #2327 closed

[2017-01-03 16:17] hpinkos opened #4801 "Geometry.splitLongitude crashing for polygon that crosses the poles"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/O_LaBx1_1wg

[ne_10m_admin_0_countries2.json.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/682638/ne_10m_admin_0_countries2.json.txt)

For some reason this crashes in Sandcastle but not in the CesiumViewer.  It also doesn't crash when `scene3DOnly = true`

[code]

[code]

[2017-01-03 16:19] denverpierce commented on #4722
Thanks to @javagl for the fix!

[2017-01-03 16:21] hpinkos opened #4802 "Camera boundry"
I've seen this requested on the forum a handful of times, most recently here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/z-kWiAZ1Jfg

For some applications, it would be helpful to define a rectangle to restrict the camera to view only a certain span of the map.

[2017-01-03 16:23] mramato commented on #1170
CorridorGeometry will work in most cases, since it does not need to be aligned to the viewport.  However, KML lines specified in meters can still have a different altitude for each point, which corridor does not support.

[2017-01-03 16:25] mramato commented on #3036
Disabling fxaa makes things look even work in my opinion, not better.  But given how long this has been open, I'm okay with closing this.  However when we have time we really need to investigate overall image quality improvements for Cesium.

[2017-01-03 16:32] mramato commented on #2814
It is kind of weird and inconsistent that we use functions for some types classes for others.  I know perfect is the enemy of the good and all that, but it makes our API harder to use.

[2017-01-03 16:38] mramato commented on #4801
That's because we don't need to split the geometry in 3D so this code path never gets calls.

[2017-01-03 16:41] hpinkos commented on #2814
Seconded.  Consistency is key for API usability.  Maybe we could rework `createOpenStreetMapImageryProvider` and `createTileMapServiceImageryProvider` into classes that inherit from `UrlTemplateImageryProvider` instead.

[2017-01-03 16:41] mramato commented on #4802
I've seen other globes (at least WorldWind I think) handle this using a separate class, we could call ours `CameraLimiter` or something similar.  This class would allow you to set min/max values for anything that makes sense  on the Camera.  Then every frame, it's job is to check for out of bounds values and set them to the min/max if they are outside the desired configuration.  This should provid

[2017-01-03 16:41] pjcozzi commented on #450
OK, when ready, open an issue with concrete info; this issue just says "navigation widget."

[2017-01-03 16:43] #3036 closed

[2017-01-03 17:14] mramato commented on #4442
As reported by @shunter in the linked forum post:

So this should be fixed and even if it isn't, is definitely a Chrome bug and not Cesium.

[2017-01-03 17:49] lilleyse commented on #4272
I'm no longer seeing these.

[2017-01-03 17:49] #4272 closed

[2017-01-03 17:53] #4442 closed

[2017-01-03 21:42] mramato opened #4803 "Bad test in `Batched3DModel3DTileContentSpec.js`"
Unless I'm missing something, `logs deprecation warning for use of BATCHID without prefixed underscore` is a bad test.  Here's the full test:

[code]

`expect(deprecationWarningSpy).toHaveBeenCalled();` will always fail because you can't create a spy on a freestanding function like this.  Basically `var deprecationWarningSpy = jasmine.createSpy(deprecationWarning);` is a no-op since `deprecationWa

[2017-01-03 21:42] pjcozzi commented on #2130
Also mentioned here: https://groups.google.com/forum/#!topic/cesium-dev/uoxSFmYmhi8

[2017-01-03 21:55] pjcozzi commented on #4803
@lasalvavida can you look at this?  It should be an easy fix.

[2017-01-04 09:34] Tonyhzw opened #4804 "No maps but webGL supports"
In my environment, I could not found any maps with:
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=CZML%20Model%20-%20Node%20Transformations.html&label=CZML

![default](https://cloud.githubusercontent.com/assets/16284848/21637860/da1a99ea-d2a3-11e6-9939-b51aa356c134.PNG)

while there exit no errors or warnings.

How to solve this problem? If no, how to identify the situation.

[2017-01-04 09:41] Tonyhzw opened #4805 "How to import the Cesium.js using require or import(ES6) after npm install"

[2017-01-04 10:03] #4805 closed

[2017-01-04 13:19] pjcozzi commented on #4483
Even for small ground primitives the bounding volume is not tall enough:

![image](https://cloud.githubusercontent.com/assets/782098/21643442/3e64f02e-d256-11e6-9d03-2b7fa3e948cb.png)

For example, try the red rectangle ground primitive in http://localhost:8080/Apps/Sandcastle/index.html?src=development/Ground%20Primitive.html&label=Development

This is likely more apparent now that `debugShowShad

[2017-01-04 14:41] #4783 closed

[2017-01-04 14:42] pjcozzi commented on #4783
Thanks again for the fix, @rutsky.  I made a small tweak to also not render the sun, moon, and sky box and merged everything in #4806 since I could not commit to your branch (could have been an issue on my end).

[2017-01-04 14:44] #4784 closed

[2017-01-04 15:34] tfili commented on #4074
@pjcozzi It looks like this is fixed for `GroundPrimitive`s, but is still an issue with regular `Primitive`s (with `height:0` in the code).

![image](https://cloud.githubusercontent.com/assets/1652382/21647647/1d14424a-d269-11e6-9627-70d5f76fe9fb.png)

I suspect that the GroundPrimitives were fixed in 203bdf3c6671a4e6fea6b0fd43b77d62605b497b

[2017-01-04 15:39] jmgomezpoveda commented on #4658
Yeah this works fine now in Firefox 50. Thanks!

[2017-01-04 15:48] hpinkos commented on #4797
Also reported here: https://groups.google.com/d/msg/cesium-dev/pLiUh6f7MEI/mbJUyI_oBAAJ

[2017-01-04 16:35] hpinkos commented on #4804
Hello @Tonyhzw,

A lot of the time a completly blank screen is due to a networking problem.  Check the network tab in your debugger to see if there are files your browser was unable to load in.

If you have any follow up questions, please ask on our [forum](https://groups.google.com/forum/?hl=en#!forum/cesium-dev).  More people see those posts so it is more likely that another user might have expe

[2017-01-04 16:35] #4804 closed

[2017-01-04 16:40] hpinkos opened #4807 "Camera.getRectangleCameraCoordinates doesn't account for terrain"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/R7CLnK9PZE8

In this example, the camera zooms to span where the rectangle would be on the WGS84 ellipsoid, which is zoomed in too far for where the rectangle is on the terrain surface.

[code]

[2017-01-04 20:19] lasalvavida commented on #4803
Looking at this now

[2017-01-05 00:00] jdkatz commented on #4767
Same issue mouse here: Chrome latest version (issue appeared around release Dec. 19), AMD Firepro V4900. Logged related rendering issue at https://bugs.chromium.org/p/chromium/issues/detail?id=678407. IE11 works.

[2017-01-05 04:37] kring commented on #2814
Sure, I can see that the inconsistency makes the API harder to use.

So, @mramato and @hpinkos, are you suggesting that we move to an all-function API?  So users never do `new WebMapServiceImageryProvider(...)`, they instead do `createWebMapServiceImageryProvider(...)`?  I'm not sure that's an improvement.  In fact it's inconsistent with how most everything else works in Cesium.  But if we do want

[2017-01-05 09:29] erikmaarten commented on #4730
Updated the release numbers here since the new wasn't merged before 1.29 was released.

[2017-01-05 09:30] erikmaarten commented on #4730
@hpinkos can you change the label?

[2017-01-05 15:55] hpinkos commented on #3256
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/bsPTytXzNqc

[2017-01-05 16:06] hpinkos opened #4812 "Imagery provider API consistency"
From #2814, @mramato:

I think we should change `createOpenStreetMapImageryProvider` and `createTileMapServiceImageryProvider` back into classes so they match the other imagery provider types.  They could inherit from `UrlTemplateImageryProvider` so we don't have to worry about introducing more duplicate code.

[2017-01-05 16:08] hpinkos commented on #4812
From #2814, @kring:

Is there any concern with introducing inheritance?

[2017-01-05 16:09] #2814 closed

[2017-01-05 17:19] pjcozzi commented on #4812
Worth a try since this is a simple case; I don't think inheritance will make it out of control.

The doc will need to be duplicated though, right?

[2017-01-05 18:57] mramato commented on #4812
JSDoc supports doc inheritance via the inherritdoc tag.  http://usejsdoc.org/tags-inheritdoc.html

When we started Cesium we were concerned about inheritance and performance; but I'm not sure those concerns are valid any longer.  We should consider getting more aggressive about inheritance in the future and making out interfaces actual base instances.

[2017-01-05 23:12] #4777 closed

[2017-01-06 01:55] lilleyse opened #4815 "Revert Firefox OIT Fix"
This is a reminder to revert the changes to OIT in https://github.com/AnalyticalGraphicsInc/cesium/pull/4762 once the time is right.

OIT (in its original state before that PR) is working in Firefox nightly but still broken in Firefox 50.

[2017-01-06 14:07] pjcozzi opened #4817 "Reenvision WebGL unit tests"
After #4281 ([webgl-mock-for-tests](https://github.com/AnalyticalGraphicsInc/cesium/compare/webgl-mock-for-tests#files_bucket) branch), CI will be able to run all Cesium unit tests.  Tests that require WebGL use an empty WebGL stub and skip `readPixels` and friends expectations - so all the code is ran, but not all of it is verified.

I want to move away from heavily using `readPixels` tests; thos

[2017-01-06 15:39] emackey commented on #4815
This is a reminder to *not* revert a small change to `FXAA.js` that got merged with #4762, but was tagged during the review as being a fix for an unrelated thing.

[2017-01-06 21:29] pjcozzi commented on #4797
Fixed in #4798

[2017-01-06 21:29] #4797 closed

[2017-01-06 22:41] pjcozzi opened #4820 "Ground primitive artifact on Mac/Intel"
Potentially a precision issue.  Maybe a driver bug.

Select "Draw a Polygon" and zoom in to http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Ground%20Clamping.html&label=Showcases

![ok2](https://cloud.githubusercontent.com/assets/782098/21735347/367b5b9a-d437-11e6-93f0-069b83838bb1.gif)

Only happens in the closest frustum.  Note that it is most noticeable with a top-down view, not a hor

[2017-01-06 22:44] #4161 closed

[2017-01-06 22:53] hpinkos commented on #4326
This one still seems to be a problem, unfortunately

[code]

[2017-01-06 22:58] hpinkos commented on #4326
This one is still broken as well https://github.com/AnalyticalGraphicsInc/cesium/issues/4326#issuecomment-250478217

[2017-01-06 22:59] hpinkos commented on #4161
@billwritescode this issue has been fixed in master and will be included in the Cesium 1.30 release available February 1st

[2017-01-06 23:06] pjcozzi commented on #4326
@hpinkos check out the debug views for these.  Does it matter if they are on terrain or on the ellipsoid?  Does hacking in a large negative direction solve the problem?  Or is this because the width is defined in meters, not pixels, so the volume becomes very thing?

[2017-01-07 15:47] pjcozzi opened #4822 "Throughout rename "binormal" to "bitangent""
It's the more correct term, and will match glTF PBR.

See https://github.com/KhronosGroup/glTF/issues/812#issuecomment-271037920

[2017-01-07 15:52] javagl commented on #4822
Done.

Renaming "binormal" to "bitangent" may be a bit more effort, though ;-)

[2017-01-08 21:37] pjcozzi opened #4823 "CZML and Widgets roadmap"
This was previously part of the [older roadmap on the wiki](https://github.com/AnalyticalGraphicsInc/cesium/wiki/Roadmap).  I moved the items here without changing them.  They are a few years one.

When someone more familiar with these has time, can you please update this and perhaps split into separate CZML and Widgets roadmaps?  Not a high priority.

* CZML
  * [CZML External links](https://gith

[2017-01-09 11:57] duvifn commented on #3411
I looked a bit more into the edge issue.

1.  @chris-cooper's issue almost completely solved with #4622. It was noticeable problem where geocentric normal was used because this normal usually 'get out of the tile' in relatively large distance from the tile's boundary (depends on distance from the ellipsoid surface).
But now it's almost not noticeable because the **actual** gap between tiles is not

[2017-01-09 12:33] duvifn commented on #4304
@pjcozzi,
Yes.
I meanwhile understood that the blurry image is not only GoogleEarthImageryProvider's problem (the `defultGamma` is). So I want to do a generic solution for this.
I will post my new suggestion in #3279 to discuss it there.

[2017-01-09 12:42] duvifn commented on #3279
I encountered this in , #4304 and I later realized it's general problem and not only GoogleEarthImageryProvider's issue (It looks much worse  with Geographic Projection-'flat' in Google terminology- than with Mercator projection).

When I compare the same DB in Cesium and in Google Earth- the GE version looks much better.

In Cesium (with `gamma` fixed to `1.0`):
![cesium_sf_gamma1 0_ratio_1 0_fxa

[2017-01-09 15:44] hpinkos commented on #4326
The corridor now renders correctly when added using the Primitive API, but not the Entity API

[code]

So the problem is unrelated to the shadow volume problem

[2017-01-09 15:53] mramato commented on #4326
If someone wants to look at this, the geometry for the Corridor is created in `CorridorGeometryUpdater.createFillGeometryInstance` and then it's used in `StaticGroundGeometryColorBrach` in the `createPrimitive` block around line 86.  There's probably an unrelated bug specific to CorridorGeometry in the Entity API.

[2017-01-09 15:59] hpinkos commented on #4326
I'm going to open a new issue with more specific details since we fixed the shadow volume problem.

[2017-01-09 15:59] #4326 closed

[2017-01-09 16:03] hpinkos opened #4829 "Corridor renders from Primitive API but not Entity API"
From #4326

This corridor renders:

[code]
But this one doesn't

[code]

[2017-01-09 16:04] hpinkos commented on #4829
Related forum posts:
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/9wvnNNQcLTA
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/7h3W_ICb4wM

Another example:
[code]

[2017-01-09 16:04] hpinkos commented on #4829
From @mramato

[2017-01-09 20:16] pjcozzi commented on #4794
@shehzan10

* [ ] `Matrix2`
* [ ] `Matrix4`
* [ ] `Cartesian4`
* [ ] `Spherical`

@austinEng

* [ ] `Matrix3`
* [ ] `Cartesian2`
* [ ] `Quaternion`
* [ ] `Rectangle`

All of these files are in the `Core` directory.

[2017-01-09 21:00] shehzan10 opened #4833 "Unignored .idea files"
With a clean webstorm install, I am seeing some `.idea` files in unstaged changes.
Here is a sample log:
[code]

Do you want me to change the [.gitignore](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/.gitignore#L25) to ignore the entire `.idea` directory?

[2017-01-09 21:03] mramato commented on #4833
What version of WebStorm are you running?  If you are on the latest, `2016.3.2`, then there shouldn't  be any files checked out.  I just tried this myself and could not reproduce the problem.

[2017-01-09 22:32] shehzan10 commented on #4833
I had version `2016.1.3`. Updated to the latest version and a clean clone. Those files no longer seem to appear.

[2017-01-09 22:32] #4833 closed

[2017-01-09 22:41] pjcozzi commented on #4833
Thanks, I also needed to update.

[2017-01-10 01:31] #4566 closed

[2017-01-10 01:51] pjcozzi commented on #4822
https://github.com/AnalyticalGraphicsInc/gltf-pipeline/issues/207 can be done after this.

[2017-01-10 03:13] chris-cooper opened #4838 "crunch <-> fs"
There's a webpack build issue in our app when running from the latest 3d-tiles branch...
[code]
I notice [this PR](https://github.com/AnalyticalGraphicsInc/cesium/pull/4814) contains ```var nodeFS=require("fs")``` in [crunch.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/73fc5890920b8a752bda7770e0988036457e35dd/Source/ThirdParty/crunch.js) so is a likely cause of the problem.

[2017-01-10 03:29] mramato commented on #4838
Looking at the code, this sounds like a bug in webpack where it is trying to parse and handle those requires even though they are contained inside an if block that does not get executed in the browser.  Assuming webpack does not handle dynamic requires, is there at least a way to have them ignored?

Since crunch.js is output from emscripten and I believe is generated to work both in Node and the b

[2017-01-10 04:05] kring commented on #3279
@duvifn your analysis all sounds correct for me.

One thing I'd suggest is that you use a `maximumScreenSpaceError` of 1.33 instead of 0.5.  That will make between 0.66 and 1.33 imagery texels map to a single pixel on the screen, with a slight tendency toward the smaller value because the estimate of the distance to the tile is conservative.

I'd definitely support adding a separate max SSE value

[2017-01-10 05:39] chris-cooper commented on #4838
One of my colleagues has pointed out that you can add fs as an external in your webpack config to get around this issue...
[code]

[2017-01-10 05:39] #4838 closed

[2017-01-10 16:21] austinEng commented on #4027
I can't seem to replicate this issue
![shadow_volumes](https://cloud.githubusercontent.com/assets/2154796/21814311/dee5b234-d726-11e6-9408-aa34eadcc6ab.png)

[2017-01-10 16:30] pjcozzi commented on #4027
Could be Mac/Intel only.  To confirm, zoom in very close to the corner.  In the case where it works, you should see a volume extruded from the globe.  In the case where it doesn't, I only see a polygon on the globe with no extrusion:

![image](https://cloud.githubusercontent.com/assets/782098/21814686/1afe1d8c-d728-11e6-9d75-50c2dab09646.png)

[2017-01-10 17:06] lilleyse commented on #4767
I'm noticing this as well.

[2017-01-10 17:12] lilleyse commented on #3830
@austinEng for this one it's fine to just draw the wireframe itself, not both the solid and wireframe at the same time.

[2017-01-10 18:49] shehzan10 commented on #4508
Reviewed this with @pjcozzi.
The scale is being correctly applied in the [`boundingSphere` getter function](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Model.js#L778).
The proposed change is applying the scale again and this results in incorrect behavior.

[2017-01-10 19:04] pjcozzi commented on #4508
Agreed, this breaks `minimumPixelSize`.  Thanks for investigating @shehzan10!

[2017-01-10 19:04] #4508 closed

[2017-01-10 21:52] pjcozzi opened #4846 "3D Tiles Inspector"
This will allow us to remove a lot of prototype and duplicate code in Sandcastle examples, and will allow users to embed the inspector in their apps for easily debugging and profiling.

The UI design is open-ended; feel free to make it much better than the collection of buttons in the Sandcastle examples.

Phase one is to just replace the debugging functionality already in the Sandcastle examples;

[2017-01-10 21:58] #4506 closed

[2017-01-10 22:58] pjcozzi commented on #4581
Thanks again for the report, @sdgrimm!  This was fixed in #4845 and is now in the 3D Tiles branch.

[2017-01-10 22:58] #4581 closed

[2017-01-11 12:41] duvifn commented on #3411
When I changed
`var  x = (textureCoordinates.x * 4095.0) | 0;`
`var y = (textureCoordinates.y * 4095.0) | 0;`
 To:
`var x = Math.round(textureCoordinates.x * 4095.0);`
`var y = Math.round(textureCoordinates.y * 4095.0);`

I can reproduce #3710 before this change but not after. So I think this this is the reason to #3710

[2017-01-11 12:41] duvifn commented on #4032
@mramato you probably meant #4698 which is the same bug and they both happen in `lat` 45

[2017-01-11 12:42] duvifn commented on #3710
see [#3411 (comment)](https://github.com/AnalyticalGraphicsInc/cesium/issues/3411#issuecomment-271267461)

[2017-01-11 12:49] duvifn commented on #3279
Thanks @kring!

Great suggestion.` 0.66 - 1.33` is indeed more efficient than `0.5-1.0` while it preserves a reasonable image quality.

OK.

You're right but as you wrote this is a big change and I prefer not to get into it currently.

[2017-01-11 16:27] pjcozzi commented on #4530
If we plan to automate this, that can be a separate issue or part of #652

[2017-01-11 16:27] #4530 closed

[2017-01-11 16:31] mramato commented on #4530
Unfortunately this would be hard to automate (as it relies on webstorm), however when we finally switch to eslint, they have plugins for it.

[2017-01-11 17:14] austinEng commented on #2448
2. Seems to be happening because the child tiles have yet to be loaded so the data for them does not exist yet. I'm not sure if we want to allow forcibly loading tiles as it seems like that determination is done automatically based on screen space error and visibility. Furthermore, even if we did load that selected tile, clicking any quadrant button twice would again fail because upsampling more t

[2017-01-11 18:37] pjcozzi commented on #2448
@austinEng it would be OK if you are just able to fix (1) above.

For (2), does the inspector know what it needs to have those buttons disabled when clicking them would cause a crash?  If not, is it reasonably easy to expose that?  If not, it could be insufficient priority to take the effort to fix it.

[2017-01-11 19:52] austinEng commented on #2448
(1) I was unable to reproduce this crash where you click a satellite and then `Show Frustrums` . It seems to work for me in both Chrome and Firefox.

(2) I believe this should be possible to initially disable the buttons if the data is not immediately available. However, without modification of the GlobeSurfaceTileProvided, the inspector wouldn't be able to know when to re-enable the buttons when

[2017-01-11 20:15] austinEng commented on #4027
Still looks like it extends both below and above the horizon. Can you take a screenshot where the horizon is visible and this is occuring?

![opaque](https://cloud.githubusercontent.com/assets/2154796/21864607/8840d068-d810-11e6-8041-8b800e46b90b.png)

[2017-01-11 21:29] pjcozzi commented on #4027
![image](https://cloud.githubusercontent.com/assets/782098/21867126/cf239650-d81a-11e6-8995-6254f76b70b3.png)

If this is limited to Mac/Intel, we can push this as insufficient priority; it is likely a driver bug.  There are other artifacts on this system like this:

![image](https://cloud.githubusercontent.com/assets/782098/21867180/07b60ca0-d81b-11e6-9ebd-d476ce911588.png)

See #4820

[2017-01-11 21:43] pjcozzi commented on #2448
For (2), I suggest we skip it.  For (1), just click "Show Frustum" as soon as you open the Sandcastle demo, I get:

' : extension directive should occur before any non-preprocessor tokens
ERROR: 0:3: 'gl_FragColor' : cannot use both gl_FragData and gl_FragColor

If you don't get it, it is because you don't have the MRT extension; check http://webglreport.com/.  Could be worth a few minutes googlin

[2017-01-12 11:00] krheinwald opened #4854 "Error in Opera for approximateTerrainHeights.json: net::ERR_RESPONSE_HEADERS_MULTIPLE_CONTENT_LENGTH"
Getting the follwing error in Opera 42:

Cesium.js:425 GET https://cesiumjs.org/releases/1.29/Build/Cesium/Assets/approximateTerrainHeights.json net::ERR_RESPONSE_HEADERS_MULTIPLE_CONTENT_LENGTH

Chrome, FF and IE do not show this error and the model loads fine.

This is not tied to a specific model, opening this URL in the browser produces this error

[2017-01-12 11:01] krheinwald commented on #4854
Suddenly works again!?!

[2017-01-12 11:01] #4854 closed

[2017-01-12 13:14] pjcozzi commented on #4786
Fixed in #4842

[2017-01-12 13:14] #4786 closed

[2017-01-12 13:17] pjcozzi commented on #3830
Fixed in #4844

[2017-01-12 13:17] #3830 closed

[2017-01-12 15:42] hpinkos opened #4855 "Zooming scroll wheel too fast zooms through the globe to other side"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/o5Zt-SpkZK8

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Ground%20Clamping.html&label=Showcases

Video example:  https://www.youtube.com/watch?v=92_hFjYItLc&feature=youtu.be&hd=1

---

Also reported here: #4680

Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/xeRAg8lObUg

http://

[2017-01-12 16:14] hpinkos commented on #4855
A few other users have responded to that forum post saying they've seen this problem, so I marked this issue as 'priority'

[2017-01-12 16:42] lilleyse commented on #4855
I think this may be related to https://github.com/AnalyticalGraphicsInc/cesium/issues/4680 or https://github.com/AnalyticalGraphicsInc/cesium/issues/4767?

[2017-01-12 16:57] denverpierce commented on #4855
I've definitely seen this on machines other than mac, but it's difficult to reproduce.  I've gotten more reports of it on slower machines, which makes me think that sometimes when the frame is delayed there's 'intertia' and the camera tends to clip through terrain or something similar.  I'll see if I can reproduce it on a windows machine.

[2017-01-12 19:58] shehzan10 opened #4859 "Remove deprecated `createBinormalAndTangent` function from GeometryPipeline"
This `GeometryPipeline.createBinormalAndTangent` function was deprecated in 1.30 and should be removed it 1.31 as a part of #4856.

Make sure to remove the spec for this function too.

[2017-01-12 20:55] #4822 closed

[2017-01-12 22:04] #3747 closed

[2017-01-12 22:09] hpinkos commented on #3747
@austinEng since this was fixed, comment on the forum post linked above saying that it will be included in the next release.  Also include an updated code sample for how to show performance.

[2017-01-12 22:12] johnknelson commented on #2109
Looks like it's been a while, but I'm curious, has it since become possible somehow to have a PolylineCollection follow the surface? I'm facing this issue and wanted to double check before I tried reorganizing my efforts into an EntityCollection.

[2017-01-12 22:14] hpinkos commented on #2109
@johnknelson yes, you can use `PolylinePipeline.generateArc`.  See the development Polylines example: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Apps/Sandcastle/gallery/development/Polylines.html#L61-L72

[2017-01-12 22:16] hpinkos commented on #2109
We do generally recommend using entities though, because they do handle a lot of those kind of options for you

[2017-01-12 22:56] kring commented on #4855
I saw this yesterday too, on a very slow machine in a demo room here.  It happened so consistently I couldn't zoom in close at all even with a few tries.  I thought I was losing my mind.

[2017-01-13 13:18] grmc144 opened #4863 "DeveloperError: normalized result is not a number"
![ipmsgclip_r_1484313212_0](https://cloud.githubusercontent.com/assets/22959292/21931294/c7a88370-d9c0-11e6-8376-0b1dac963deb.png)

[2017-01-13 16:06] lilleyse opened #4865 "3D Tiles Styling - add vector support to the built-in functions"
Now that vector types are supported in the styling language (https://github.com/AnalyticalGraphicsInc/cesium/pull/4759) the built-in functions should support the `vec2`, `vec3`, and `vec4` types in addition to supporting numbers as they currently do.

Unary functions can accept either a number, `vec2`, `vec3`, or `vec4`. If the type is a vector, the function should be applied to every component of

[2017-01-13 16:30] hpinkos opened #4866 "Bounding sphere for ellipsoid with dynamic radii broken in 1.27"
From the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/wm3VEHXk1wM

This example works in 1.26 but not in 1.27 and later.  It also works fine if `radii` has a static value.
Likely culprit: #4461

[code]

[2017-01-13 17:13] pjcozzi commented on #4865
Please link to this from #3241 (and link future short-term 3D Tiles issues) so we can track our progress.

[2017-01-13 17:25] hpinkos commented on #4863
@grmc144 I wasn't able to reproduce this.  Could you please provide more information?  Thanks!

[2017-01-13 19:00] lilleyse commented on #4865
Unary functions PR here: https://github.com/AnalyticalGraphicsInc/cesium/pull/4867

[2017-01-16 12:54] pjcozzi commented on #4793
CC https://github.com/KhronosGroup/glTF/issues/815

[2017-01-16 16:37] ketulm opened #4871 "Large polygon rendering/fill issue"
Large polygons spanning >90degrees across the longitude do not get rendered/filled properly.

Here's an example.

http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=fd0acbcf4d5fa84a9d988920bdb870f2

[code]
Note the rendering artifact at the north pole and also note that only the region east of the meridian is filled. It almost seems like it's rendering the oppo

[2017-01-16 23:04] pjcozzi commented on #2448
(1) was fixed in #4864.  (2) is insufficient priority for the amount of work.

[2017-01-16 23:04] #2448 closed

[2017-01-16 23:53] jsalankey commented on #3857
Bit of an update, I'm not sure which work/commits did it, but this is significantly better in version 1.30. I've seen anywhere from up to 80% reductions in number of tiles loaded compared to 1.21 (which we were on before).

[2017-01-16 23:56] jsalankey commented on #4855
Also seen this happen with reasonable repeatability, maybe 1 in every 10 times zooming close to the earth.

[2017-01-17 00:10] hpinkos commented on #4680
Closing as duplicate of #4855

[2017-01-17 00:10] #4680 closed

[2017-01-17 13:28] austinEng commented on #4846
Does this mean to entirely remove console logging or to just show the information in the inspector as well? Logging of the stats is implemented within `Cesium3DTileset` and removing it would involve disabling the debug flags for statistics. We can still pull the statistics from the tileset as you said, but would doing so without debug flags be inconsistent?

[2017-01-17 13:35] pjcozzi commented on #4846
I _think_ we can just remove `debugShowStatistics` and `debugShowPickStatistics`, expose a `@private` getter for `_statistics`, and then basically move the [showStats](https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Source/Scene/Cesium3DTileset.js#L1543) logic to the inspector.

See how it feels.

[2017-01-17 22:16] denverpierce opened #4875 "Allow Polylines to use InterpolationAlgorithm"
The Interpolation algorithms used by `SampledPositionProperty` are very useful for points through time, and would also be great for making curved static polylines.

I've got a hack around this using dummy time values, but it'd be nice to be able to render a curve easily in the entity API.

[enhancement]

[2017-01-17 22:20] hpinkos commented on #4875
Thanks for the suggestion @denverpierce!

[2017-01-18 00:34] pjcozzi commented on #4855
@kring do you have any bandwidth to look at this?

[2017-01-18 03:14] markerikson opened #4876 "Fix remaining issues that require special Webpack configuration settings?"
Per https://cesiumjs.org/2016/01/26/Cesium-and-Webpack/ , Cesium requires two specific Webpack configuration options to be set:
- `output.sourcePrefix : ''` is needed because Cesium has multi-line strings, and Webpack tries to add tabs to them
- `module.unknownContextCritical: false` is needed to avoid warnings from Cesium pulling in some third-party AMD-formatted modules like Knockout.

Unfortuna

[2017-01-18 12:56] kring commented on #4855
Yeah, I'll see if I can get into that demo room tomorrow to debug it.

[2017-01-18 14:02] hpinkos commented on #4084
Also reported here: https://groups.google.com/d/msg/cesium-dev/zkb3kXLOQfQ/6tNIVx5bAwAJ

[2017-01-18 16:04] WebDevJR opened #4877 "Polyline Issue with Star Burst feature in 2D/CV Mode"
Per Sandcastle demo: [Star Burst](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Star%20Burst.html&label=Showcases), polylines do not render correctly when expanding a star burst in 2D or CV modes.
3D Mode (Correct):
![3d star burst](https://cloud.githubusercontent.com/assets/25204148/22071608/accfba90-dd6d-11e6-82d8-af6f6bfc4cb5.png)

2D/CV Mode (Incorrect):
![2d star burst](https://c

[2017-01-18 16:05] hpinkos commented on #4877
Thanks for reporting this @WebDevJR!

[2017-01-18 17:01] ketulm opened #4878 "Two overlapping polygons at the same height causes z-fighting"
Note that if you remove the height attribute, then polygons are rendered fine with no artifacts (note that this used to cause z-fighting in the old version, e.g. 1.11).

Here's a simple sandcastle example:

http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=f4873be79823131e312c1f0b92f3c179

[code]

[2017-01-18 17:07] hpinkos commented on #4108
Related: #4878 #4695

[2017-01-18 17:08] pjcozzi commented on #4817
Also check out https://github.com/evanw/webgl-recorder via @austinEng

[2017-01-18 17:13] hpinkos commented on #4878
Thanks for including the code example @ketulm.  The reason the problem only happens when you specify `height: 0` is because a different type of primitive is used behind the scenes when `height: 0` vs `height: undefined`.

We unfortunately currently don't have great support for z-ordering, but it's a frequently requested feature and is on our roadmap.

[2017-01-18 18:57] ketulm commented on #4878
It appears that I can specify the height in the hierarchy instead as a workaround. However, I do see another related issue where there is z-fighting at the meridian which is seen through the globe when rotating but not seen in the view where the polygon is visible. This artifact goes away if you set `scene3DOnly` to true.

I was able to recreate this on Sandcastle (note that there is only one poly

[2017-01-18 19:01] hpinkos commented on #4878
@ketulm the artifact you're seeing is a known issue #4746

And setting the height in hierarchy isn't actually having an effect on your polygon.  Positions are scaled to the ground by default unless you specify `perPositionHeight: true`.  But I imagine if you do set that you'll see the z-fighting artifact again.

[2017-01-18 19:04] hpinkos commented on #4878
For a workaround, if you need a height for your polygons you could turn order independent translucency off and give your polygons an alpha very close to 1

[code]

If you don't need a height, i would recommend just leaving height undefined.  The polygons will be drawn on the ground in this case.

[2017-01-18 19:35] mramato opened #4882 "Some new Check helpers create obtuse error messages."
All error messages generated by `Check` should contain the name of the parameter they apply to in a clear maner.  Some of the helper functions, like `Check.numeric.maximum`, generate messages similar to:

`Expected 5 to be at most 4`

This doesn't help the developer much at all.  It would be better to generate something like:

`Expected options.north to be less than 4 but its values was 5`

We sho

[2017-01-18 19:46] lilleyse commented on #4882
@erikmaarten would you like to make these changes to `Check`.

@rahwang once a fix is in would you mind combing through the `Check` related PRs opened recently and fix them up?

More discussion here: https://github.com/AnalyticalGraphicsInc/cesium/pull/4881

[2017-01-18 19:57] shehzan10 commented on #4638
There is a object mismatch in the sample code provided. The function `Cesium.Transforms.computeIcrfToFixedMatrix` requires a `Cesium.JulianDate` object rather than a `Date` one.

To use it correctly, use the `Cesium.JulianDate.fromDate` function.
[code]

[2017-01-18 20:02] rahwang commented on #4882
@lilleyse Sure thing! I'll clean up once the fix is done.

[2017-01-18 22:03] duvifn commented on #4855
@pjcozzi, @kring, the problem seems to be related to [this code block](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.29/Source/Scene/ScreenSpaceCameraController.js#L552).

Here is a sandcastle code that for me produces similar behavior, often and consistently.
Just zoom in fast...
[code]

I debugged this a bit and it seems that this behavior happens when the target position, that is used

[2017-01-19 00:14] erikmaarten commented on #4882
That was an oversight on my part.

I've opened #4885 to change these methods in `Check`. I'm not sure what's the easiest way to do the remaining fixes here, but @rahwang if you fork my Cesium fork, branch off from `improve-check-errors` and make a PR with the fixes back into my `erikmaarten:improve-check-errors` that should work. Branching off from my branch and making a new PR into Cesium master,

[2017-01-19 02:33] ketulm commented on #4878
@hpinkos I didn't know about having to specify `perPositionHeight` attribute, thanks for letting me know.  Also, the polygon height is being used to control the display/z-order so its use is not a requirement but will definitely test out the other workaround you mentioned to see if it's sufficient.

[2017-01-19 02:51] ketulm commented on #4878
`perPositionHeight: true` has the same issue, just not as drastic as when specifying the `height` attribute.

[2017-01-19 02:55] ketulm commented on #4863
I also came across this recently but haven't been able to reproduce it on Sandcastle. I was able to get around it by setting `scene3DOnly: true` after seeing that mentioned in the forums.

[2017-01-19 04:19] mramato commented on #4878
z-fighting will always occur for opaque polygons with the same explicit height (the same is true for any opaque geometry occupying the same "physical" space, i.e. overlapping ellipsoids, extruded polygons with shared walls, etc..).  There's no way around it in the general case, it's just the nature of describing the world in 3D.  Using very slightly translucent geometry is probably the best you ca

[2017-01-19 04:44] kring commented on #4855
After further investigation, #4887 isn't the right fix.  The root of the problem appears to be #4368.  `pickPosition` is reporting that the globe surface is only a handful of meters away, when in reality it is hundreds of thousands of meters away.  This is why it's so easy for the camera move past the target point on a slow system: the target point is much closer than it should be.  I'm still tryi

[2017-01-19 04:55] kring commented on #4368
In looking at this while debugging #4855, I saw a case where I had only a single frustum, and yet the position returned by `pickPosition` was wildly wrong.  For example, values in `pickGlobe` in `ScreenSpaceCameraController.js`:

![image](https://cloud.githubusercontent.com/assets/924374/22094173/92c72e60-de5f-11e6-9d00-86e0731b4873.png)

So I don't think it's necessarily multi-frustum related.

[2017-01-19 08:19] tomvantilburg commented on #4863
This seems to happen when your cartesian coordinate is 0,0,0. The resulting magnitude then is also 0 which results in a division by 0 in the normalize function. (see https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/Cartesian3.js#L408)

It happens a lot with us when transforming our data to a custom cartesian tiling grid where the lower left vertex usually falls on 0,0,0.

[2017-01-19 10:54] duvifn commented on #4855
@kring, on my machine, with the above example code (I edited it a bit to make it shorter), `Scene.pickPosition` returns pretty accurate results but the bug still happens.

for example, the point is in
`{x: 3987522.8005546024, y: 1329383.35146225, z: 4949256.648925018}`

and `Scene.pickPosition` returns:
`{x: 3987522.7989004473, y: 1329383.3511964455, z: 4949256.646444711}`

[2017-01-19 14:56] hpinkos commented on #4863
@ketulm @tomvantilburg do either of you have sample code or sample data to reproduce this?  Cesium shouldn't be trying to normalize the zero vector.  This case should be caught further up the pipeline before this error is thrown.

[2017-01-19 17:22] tomvantilburg commented on #4863
This should do the trick: `Cesium.Cartesian3.normalize({x: 0, y: 0, z: 0.0000000001},{x: 0, y: 0, z: 0})`

[2017-01-19 17:27] hpinkos commented on #4863
Thanks @tomvantilburg, but I know that's what is causing the developer error to be thrown.  The error is in place so we can catch bad data coming in from other parts of the code, so it is expected to be thrown when you're trying to normalize the zero vector.
It would be helpful if you could give me an example of a polygon or something higher level that's causing the error to be thrown.

[2017-01-19 22:42] kring commented on #4855
@duvifn that first point is reported by `globe.pick`?  If so, yeah, that's _much_ more reasonable than what I was seeing.

Considering how consistently this particular machine has a problem (every. single. time.) and how wildly wrong the `pickPosition` results are, I wouldn't be surprised if we're looking at a GPU/driver bug on this machine.  It's an AMD FirePro V7900.  It could potentially be a d

[2017-01-19 23:42] pjcozzi commented on #4375
Doc fix in #4888.

[2017-01-19 23:42] #4375 closed

[2017-01-19 23:46] pjcozzi commented on #4878
@ketulm thanks for the detailed writeup and code example.  I am going to close this as a duplicate with #4108.  In the meantime, it sounds like there are some reasonable workarounds in this issue.

[2017-01-19 23:46] #4878 closed

[2017-01-19 23:51] pjcozzi commented on #4638
Given your fix to the sample code, is this still a bug in Cesium?

[2017-01-20 00:02] pjcozzi commented on #3411
@bagnell what do you think of @duvifn's suggested change, https://github.com/AnalyticalGraphicsInc/cesium/issues/3411#issuecomment-271267461?

[2017-01-20 02:10] smills2929 commented on #4855
@kring Just to add some information to possibly help with the investigation of whether or not drivers affect it, the MacBook Pro (Retina, 15-inch, Late 2013) that I was having the issue with has an NVIDIA GeForce GT 750M 2048 MB GPU. Another person at my company has the same issue with a Macbook Pro 13" that has an Intel Core i5-5257U with Intel Iris 6100 integrated graphics.

It seems to affect N

[2017-01-20 03:46] lilleyse commented on #2631
MIDDLE_DOUBLE_CLICK is also not working for me anymore.

[2017-01-20 04:51] kring commented on #4855
@smills2929 that would point to it not being GPU/driver related at all, but I can't explain why I'm unable to reproduce it on my laptop even at a low frame rate, but the demo machine experiences the problem so easily.

To everyone experiencing this issue that has a Cesium dev environment set up, maybe try making the change that I made in #4887 (sorry I deleted the branch, but just copy the one cod

[2017-01-20 06:21] denverpierce commented on #4855
I've definetly seen it on a number of GPUs, but it can be hard to reproduce on faster hardware.

Anecdotally, #4887 sounds like it should work.  Whenever I've had issues, it always seemed to be at high load times (around dataSource.load()s, tilting w/ terrain on a lot of horizon tiles get loaded, etc.) when the hitches seem to happen on better hardware.  Slower machines would have a lot more of th

[2017-01-20 07:40] sekitaka commented on #4015
Hi.
I'm using Cesium.UrlTemplateImageryProvider like following code.

    var MAPBOX_ACCESS_TOKEN = 'YOUR_ACCESS_TOKEN';
    var MAPBOX_STYLE_ID = 'YOUR_STYLE_ID';
    var MAPBOX_USERNAME = 'YOUR_USERNAME';

    var viewer = new Cesium.Viewer('cesiumContainer');
    var layers = viewer.imageryLayers;

    // Mapbox api url
    var url = 'https://api.mapbox.com/styles/v1/' + MAPBOX_USERNAME + '/' +

[2017-01-20 09:04] tomvantilburg commented on #4863
Thanks for looking into this @hpinkos and sorry for being not verbose. Here's the full story:

We are trying to convert a set of obj files to a gltf file with the help of obj2gltf. The error message shows up in obj2gltf but originates from cesium (see stack below). Oddly enough, there are no vector normals in the obj file, so I can't see where this goes wrong along the way. Worth noting: We did tr

[2017-01-20 13:12] likangning93 commented on #4863
It looks like the error is coming from the part of the glTF pipeline that
generates vertex normals, it might be trying to generate normals for a
triangle that has two or more identical positions, hence the divide by zero
error.

I'm not getting any problems with the linked file and the obj2gltf command
line tool, though. You mentioned translating all coordinates to a 0, 0
based grid, any chance th

[2017-01-20 13:22] grmc144 commented on #4863
that error came on angular js error.now its fix

![error](https://cloud.githubusercontent.com/assets/22959292/22150881/72c220e2-df41-11e6-9197-efe9ea089ae4.png)

[2017-01-20 14:02] emackey commented on #2631
"Double" clicking is a relic of the desktop icon era, not modern UX for the age of mobile and touch input.

[2017-01-20 14:22] shehzan10 commented on #4638
Yes, the fix in #4883 is still required.
The code correction I made above is to correct the object that is getting passed. If this is `Date` instead of `JulianDate` then the returned matrix is full of `NaN`s.
If 4883 is not applied, then the result is `undefined`.

[2017-01-20 14:40] duvifn commented on #4855
@kring,
My use case is zooming into objects (models, points, lables, billboards, volumes).
In this use case I get this behavior every time, even if `scene.pickPosition` returns accurate result (as in [my example code above](https://github.com/AnalyticalGraphicsInc/cesium/issues/4855#issuecomment-273616112)).

Additional examples:
1. Zooming vertically (and fast) into the marked volumes in the foll

[2017-01-20 14:49] mramato opened #4891 "Poll filling bug"
Adding a new imagery layer and then deleting the base layer causes the poll filling code to not run on the new base layer.  Here's code to reproduce.  Hit step 1, then hit step 2, notice the poll is now the base blue instead of filled in.

[code]

[2017-01-20 14:56] Zizekftw commented on #3256
@hpinkos Read the google group conversation. Until a PR is submitted and approved for this, is there a workaround for using the VelocityOrientationProperty with sampled positions other than recreating the model to face east? The model we are using points north, but slides around sideways.

[2017-01-20 16:14] denverpierce commented on #4855
Using @duvifn 's examples, I'm able to reproduce the bug fairly consistently in master (though not 100%).

After a great deal of scrolling I wasn't able to reproduce it using #4887, such as on (http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/zoomToNowhere/Apps/Sandcastle/index.html?src=Geometry%20and%20Appearances.html&label=Showcases)

[2017-01-20 16:40] emackey opened #4893 "Entity with time-dynamic ellipsoid doesn't know its position"
This demo shows our typical AGI example entity, with an Ellipsoid attached with time-dynamic radii.  If you follow this entity with any of `trackedEntity`, `selectedEntity`, or `zoomTo`, the camera and/or selector will travel deep into the Solar System, very far from the Earth.

This was not a bug in Cesium 1.25 and 1.26.  It first appears in Cesium 1.27, and is present in 1.29 and in `master` tod

[2017-01-20 16:44] shunter commented on #4893
probably the same as #4866

[2017-01-20 17:06] jbo023 opened #4894 "terrain loading error"
Ho,

we just found a weird bug in the terrain loading code. Sometimes in the front of the screen the terrain is not loaded (see screenshot). Unfortunately this Bug does not occur all the time. If you disable the webbrowser file cache it occurs more often.

I narrowed it down to the following Pull Request https://github.com/AnalyticalGraphicsInc/cesium/pull/4616. Before the merge I could not reprod

[2017-01-20 17:10] jbo023 commented on #4894
Terrain is loaded correctly (197 requests, browser cache active)
![image](https://cloud.githubusercontent.com/assets/4146115/22158149/32d04924-df3b-11e6-96f7-f138e320cab4.png)

Terrain is loaded incorrectly (144 requests, browser cache disabled)
![image](https://cloud.githubusercontent.com/assets/4146115/22158170/4a2fcb9e-df3b-11e6-9206-d8565797d627.png)

You can see that in the the second image t

[2017-01-20 17:17] pjcozzi commented on #4893
OK to close as duplicate? Perhaps add the above code example there as another test case?

[2017-01-20 17:19] pjcozzi commented on #2631
If removing it is the right move, let's do it.

[2017-01-20 18:40] emackey commented on #4866
Not just the bounding sphere is broken:  The position of the entity itself, as viewed by `viewer.selectedEntity`, `viewer.trackedEntity`, and `viewer.zoomTo`, is a distant point in space, far from the Earth.  See sample code in #4893.

[2017-01-20 18:41] emackey commented on #4893
Closing as likely due to same cause as #4866.

[2017-01-20 18:41] #4893 closed

[2017-01-20 18:46] emackey commented on #4866
Git bisect says:

85ced9bac3b337951680590552676868bf35f21d is the first bad commit

[2017-01-20 18:52] emackey commented on #4866
/cc #4461 @mramato

[2017-01-20 19:24] mramato commented on #4866
Thanks @emackey that change you found with bisect fixes a related issue brought on by the moving of all primitive data into the batch table.  What's most likely happening (I haven't actually looked at the code yet) is that `EllipsoidGeometryUpdater` is applying a transformation to the ellipsoid location that in no longer needs to do and the modelmatrix is essentially getting applied twice.  This w

[2017-01-20 21:40] denverpierce opened #4895 "Calling drillPick() on a 3d-tiles point cloud without a limit hangs browser"
scene.pick works fine, but calling scene.drillPick without the optional limit parameter locks the tab.

Load this and click the cloud:

[code]

[2017-01-21 14:28] pjcozzi commented on #4572
#4892 patched the Sandcastle example.  #4084 is still open to fix the actual bug, now labeled `priority`.

[2017-01-21 14:28] #4572 closed

[2017-01-21 14:31] pjcozzi commented on #4894
@jbo023 thanks for the detailed report and narrowing this down.

@kring any ideas?

[2017-01-21 14:40] pjcozzi commented on #4895
@denverpierce thanks for the report, I added this to #3241.

If you have any time to narrow this down, the likely suspect is [this loop](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Scene.js#L2737).

[2017-01-23 03:41] smills2929 commented on #4855
I can echo what @denverpierce said. I was consistently able to reproduce the bug using @duvifn 's example on 1.29, but was unable to reproduce it using #4887.

[2017-01-23 13:07] pjcozzi opened #4897 "Issues to investigate at the Winter Bug Bash. Feb 8-10, 2017"
Please add a comment with your request (with links to their issues) for bug fixes and small features.

Need ideas? Review [issues labeled 'priority'](https://github.com/AnalyticalGraphicsInc/cesium/issues?q=is%3Aissue+is%3Aopen+label%3Apriority).

* [ ] Review and merge [open pull requests](https://github.com/AnalyticalGraphicsInc/cesium/pulls)
   * [ ] GPX, #2939
* [ ] Improve label quality, #213

[2017-01-23 14:49] hpinkos opened #4898 "Camera.zoomIn doesn't work when viewport width < height"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/5Urmnt2xwqE

The following example works correctly when the canvas width is greater than the canvas height, but not when the width is less than the height:

[code]

[2017-01-23 15:27] lftgly commented on #4897
Patrick- How long would it take to finish and merge Andre Nunes work on GPX and or shapefile support? Less than 3 days?
THANKS for considering this:

[2017-01-23 15:35] mramato opened #4899 "Enable glitchy ground primitives on IE 11"
I was talking with @bagnell on Friday and learned that we could actually enable ground primitives on machines without `frag_depth` but it would lead to artifacts when inside of the shadow volume.  I  had no idea this was an option and personally feel like it's a much better solution than having ground primitives not work at all.

Can we open a PR with making this behavior the default and ask our u

[2017-01-23 16:16] pjcozzi commented on #4899
+1 from me.  @bagnell can you please do this?

[2017-01-23 16:20] hpinkos commented on #3256
@Zizekftw For now, I would recommend re-orienting your source model and converting that t glTF.  I believe it should be forward on the X axis.

[2017-01-23 17:09] mramato commented on #4866
This bug affects all dynamic geometry, not just ellipsoid. `dynamicGeoemtryGetBoundingSphere.js` seems to be applying an additional `BoundingSphere.transform`  that is no longer necessary.  Replacing the two occurrences of line:

`BoundingSphere.transform(attributes.boundingSphere, modelMatrix, result);`

with

`BoundingSphere.clone(attributes.boundingSphere, result);`

Appears to fix the issue.

[2017-01-23 17:24] lilleyse commented on #4895
The problem here is that `PointCloud3DTileContent` does not have a `show` property. @denverpierce if you haven't already started investigating I'm happy to work on this.

[2017-01-23 17:32] denverpierce commented on #4895
I'm full up this week, it's all you.

[2017-01-23 18:05] hpinkos opened #4901 "Add model to Sandcastle ground clamping demo"
Models also support a height reference.
We should add an example for using `heightReference: Cesium.HeightReference.CLAMP_TO_GROUND` to this sandcastle demo: http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Ground%20Clamping.html&label=Showcases

[2017-01-23 18:50] lilleyse commented on #2631
I started to remove these from the `3d-tiles` branch. What would the deprecation timeline look like if this were removed from master?

[2017-01-23 20:41] emackey commented on #4897
I see "VR Fixes" in your issue description.  Will there be VR headset(s) at the bug bash?

[2017-01-23 21:34] pjcozzi commented on #2631
1 release should be OK; I don't think this is widely used.

[2017-01-23 21:41] pjcozzi opened #4906 "Improve Sandcastle load time"
By using the built Cesium.js for the deployed version.

See https://github.com/AnalyticalGraphicsInc/cesium/pull/4889#discussion_r96953182

[2017-01-23 21:41] emackey commented on #4866
I think this bug affects "all dynamic geometry" *that uses a custom modelMatrix*, of which `EllipsoidGeometryUpdater` may be the only one.  Even the similar `BoxGeometryUpdater` with its time-dynamic `dimensions` Cartesian, that seems so similar in concept to `ellipsoid.radii`, does not use a custom-modified `modelMatrix` (possibly recomputing the vertices instead?), and when tested, `box.dimensio

[2017-01-23 21:43] #4219 closed

[2017-01-23 22:07] pjcozzi commented on #4897
@lftgly we'll see what kind of shape the GPX is in; I suspect it is more than three days work.  If you have time, you are welcome to evaluate it as well, or - even better - try to finish it.  Shapefiles are probably too much for this event.

@emackey we should be able to bring @bagnell's Oculus.

[2017-01-23 22:08] #4895 closed

[2017-01-23 22:14] #4866 closed

[2017-01-23 22:16] ibesora opened #4908 "Massive models and upper LOD levels implementation"
Have you considered using impostors, or something not geometry-based, for the far away 3d tiles?
I'm thinking something like the [Visualization of Large-Scale Urban Models through Multi-Level Relief Impostors](http://moving.cs.upc.edu/papers/CiutatsPublicat.pdf) paper, published on the _Computer Graphics Forum_ in 2010 or this one [Interactive inspection of complex multi-object industrial assembli

[2017-01-23 22:25] pjcozzi opened #4909 "Add a thumbnail for the Custom Geocoder Sandcastle example"
![image](https://cloud.githubusercontent.com/assets/782098/22225587/f9df7af6-e190-11e6-8f6c-bb4694e236a1.png)

[2017-01-23 22:38] emackey commented on #4906
In the interest of avoiding thrashing, it's worth noting that we went the other direction (from pre-built to separate requires) back in #2164.  We did this so users didn't need to run `combine` before running Sandcastle.  Maybe we could look for the built version for speed, and fall back on the requires for convenience?  That seems like a lot of dependency logic to inject just to get a version num

[2017-01-23 22:40] emackey commented on #4906
+1 for improving load times though!

[2017-01-23 22:40] pjcozzi commented on #4906
@emackey I'm suggesting that we basically just have this optimization for the released version.  I'm open to other variations, but do not want to require building often.

[2017-01-23 22:42] emackey commented on #4906
Ah, release Sandcastle should use a built copy of Cesium, yes.

[2017-01-23 22:59] lilleyse opened #4911 "Remove MIDDLE_DOUBLE_CLICK and RIGHT_DOUBLE_CLICK events"
Deprecation PR: https://github.com/AnalyticalGraphicsInc/cesium/pull/4910

[2017-01-24 00:38] pjcozzi commented on #797
**Texture Array**: we could use `TEXTURE_2D_ARRAY` in some cases where texture atlases are used.  It will be simpler and great for dynamic updates when the size doesn't change, #2319

[2017-01-24 01:34] smills2929 commented on #4911
Is the LEFT_DOUBLE_CLICK event being removed?

[2017-01-24 01:36] mramato commented on #4911
I don't think it makes sense to remove `LEFT_DOUBLE_CLICK`. it's used internally and is pretty standard.  @emackey exactly what were you thinking here?

[2017-01-24 01:36] lilleyse commented on #4911
I left a note about that here: https://github.com/AnalyticalGraphicsInc/cesium/pull/4910#discussion_r97451075

It'll probably be best just to deprecate right and middle.

[2017-01-24 03:03] emackey commented on #4911
Yes, deprecate only right and middle.  Keep left, but remember that there should always be a touch-friendly alternative to double-left-click.  For example, for `trackedEntity`, you can double-left-click the entity, or you can touch the entity and then touch the camera button on the InfoBox.

[2017-01-24 06:27] cfickler commented on #4764
So without fully understanding the getLevelWithMaximumTexelSpacing code, is the issue simply the case the test for a GeographicTilingScheme has a ! surrounding the brackets?

function getLevelWithMaximumTexelSpacing(layer, texelSpacing, latitudeClosestToEquator) {
        // PERFORMANCE_IDEA: factor out the stuff that doesn't change.
        var imageryProvider = layer._imageryProvider;
        va

[2017-01-24 06:50] kring commented on #4764
No, that's not correct.  It will produce incorrect results with an imagery layer using `GeographicTilingScheme`.

Actually, this is tricky.  The original code is correct in 3D, just not in 2D.  In 3D, the real world space of a given tile of imagery in the Web Mercator project gets smaller near the poles.  In 2D, this is not the case.

The ideal solution is to separate selection of terrain and imag

[2017-01-24 07:21] cfickler commented on #4764
ok Kevin, no dramas. I was hoping it was as the 2D map seemed heaps better. This is holding us back from going to Prod :(

[2017-01-24 07:30] kring commented on #4764
As a workaround, just set `latitudeFactor` to 1.0.  In 2D it'll look ok, in 3D it'll load more tiles and go slower, but it shouldn't look terrible, at least.

Or, if I can shamelessly plug my own work, take a look at [TerriaJS](http://terria.io/) which uses Leaflet for 2D (still Cesium for 3D).  Developed in Australia, too.

[2017-01-24 13:20] bampakoa commented on #2457
@pjcozzi I would like to take on this, if is still relevant.

[2017-01-24 13:57] hpinkos commented on #2457
Thanks @bampakoa, that would be great!  You can find information for contributing a pull request here: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request

[2017-01-24 14:07] hpinkos commented on #4908
Thanks for sharing @ibesora!  Those papers look like good resources for us to check out.
This topic is probably better suited for discussion in the forum.  You can share this in the 3D Tiles thread: https://groups.google.com/d/msg/cesium-dev/tCCooBxpZFU/O4VZ2dFdBAAJ
@pjcozzi and other members of the team working on 3D Tiles check that thread regularly.

I'm going to close this issue for now since