[2015-11-03 06:06] RacingTadpole commented on #3162
As an extension, you could add typed properties, eg.:

    propertyTypes: {
        "bgColor": "Color",
        "center": "Cartesian3"
    },
    properties: {
        "bgColor": {
            "value": {
                "rgba": [...]
            }
        },
        ...
    }

[2015-11-03 06:16] kring commented on #3162
We'd likely want to put the `propertyTypes` bit in the `document` packet so that all entities from a single CZML have the same "schema" for their custom properties.  Speaking of schema, it could describe more than just the type of the property, if we want.  This is all future work, though.  The initial feature would only support generic properties.

[2015-11-03 11:00] fredj opened #3163 "Mark options.destination optional (in Camera#setView)"
The jsdoc tag should be changed, default value: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Camera.js#L1074

[2015-11-03 17:13] hpinkos commented on #2745
@pjcozzi nope, i don't see this anymore

[2015-11-03 19:03] pjcozzi commented on #2745
Neither do I.

[2015-11-03 19:03] #2745 closed

[2015-11-04 15:58] fredj opened #3166 "Incorrect label align"
A label created with the following code:
[code]
Has an incorrect alignment:
![cesium_label_align](https://cloud.githubusercontent.com/assets/100959/10943481/d19045b6-8314-11e5-9d72-7139c05043df.png)

This issue only occurs if  `verticalOrigin` is `Cesium.VerticalOrigin.TOP` or `Cesium.VerticalOrigin.CENTER` and and the scene is passed to the `Cesium.LabelCollection`

[2015-11-04 16:28] willemvdg commented on #2520
To avoid throwing away all samples I used
`if (index > 0 && (index < times.length))`
so there is always 1 sample left, which is good if you use ExtrapolationType.HOLD.

[2015-11-04 22:37] pjcozzi commented on #3166
Good catch!  Thanks for the report.

@bagnell perhaps this broke with billboards/labels on terrain?

This code works:
[code]

[2015-11-05 16:58] slozier opened #3170 "Tile selection issues"
There appears to be issues with tile selection. In my sample code below, the lat/lon I selected is in the 032 tile section on Bing maps. The height is below ground for the WGS84 model, but above ground when using a terrain provider.

If I run my sample in the sandcastle, the camera is below ground and a number of "incorrect" tiles are loaded (I can see them being downloaded using dev tools in the

[2015-11-05 17:11] jasonbeverage commented on #2938
I looked through the changes from 1.9 to 1.10 and I'm beginning to suspect that this is something to do with the globe depth texture that was added from the globe-depth branch.  Is Cesium always going to render into a separate depth texture?  Is there a way we can turn that off?

[2015-11-05 21:40] mgiraldo commented on #3018
any news on this issue?

[2015-11-05 23:19] hpinkos opened #3171 "GroundPrimitive rendering artifacts"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/6qt-wb-SohY

![image](https://cloud.githubusercontent.com/assets/3451886/10984670/fe7ca16c-83e8-11e5-9042-d64785128019.png)

This might be either mac or AMD specific.  I wasn't able to reproduce this on my machine, but this user saw it on a Macbook Pro with an AMD GPU.  It occurs when zooming in and viewing the polygon

[2015-11-06 14:56] lucasvw opened #3172 "Rectangle rotation geometry + material problems"
I made a little video in an attempt to show the problems with rectangle rotation (sorry about the music..)
https://www.youtube.com/watch?v=46xek0WHZRk
- I made a blue square with Inkscape (png).
- I loaded this png as material over a Rectangle and added as primitive to the scene.
- The size of the rectangle side is 200m, earths curvature is fully negligible at this scale, so funky haversine stuff

[2015-11-06 15:00] lucasvw opened #3173 "Polygon rotation"
In continuation of: https://github.com/AnalyticalGraphicsInc/cesium/issues/3172

I implemented the same principle with PolgyonGeometry. In this case Iam no longer using the rotation property but I compute the coordinates of the corners myself under each rotation.

See for the result: http://youtu.be/SEywSgEa1P8

This following is noticed:

(1) The geometry is now correctly rotated, the geometry is

[2015-11-06 22:37] pjcozzi commented on #3171
This is may be a bug in the AMD driver.  This works on my MacBook Pro with NVIDIA.  Are they running the latest version of OS X?

[2015-11-07 20:42] pjcozzi commented on #3170
Thanks for the report, @slozier.  It's possible that Cesium's screen-space error / bounding volume pixel size computation has an issue with negative heights.  We'll update here when we know.

[2015-11-07 20:47] pjcozzi commented on #2938
Thanks for looking into this, @jasonbeverage.  That texture is needed for clamping polygons to terrain so it is possible that it could be turned off for limited use cases, but I want to do more profiling before exposing an option like that and complicating the rendering pipeline.  We'll post an update here; in the meantime, let us know if you discover anything else.

[2015-11-08 22:09] pjcozzi opened #3177 "3d-tiles branch cleanup"
Given that the 3d-tile branch is starting to get big and is starting to get pull requests from many different developers, it needs to be brought up to production, and stable parts should be merged into master.

This looks like a lot, but I suspect it is less than a week's work.

* [x] **Cleanup**
   * [x] Remove changes to `Queue`/`QueueSpec` (and related change to README.md); they are not used an

[2015-11-08 23:09] DylanTusler commented on #2770
@mramato I'd like to take a look at this issue, as it is a pain point for my users. Can you point me to the relevant area and I'll see if I can work out what's going on?

Also, was this working in a previous version (prior to 1.10?) I'm not 100% certain, but I think it used to work.

[2015-11-09 15:48] mramato commented on #3177
One option for merging the various features is to avoid the hassle of cherry-picking and just open all of of the various PR's as planned (you can make each PR a single commit).  Then, before opening a final PR for the 3d-tiles branch itself, we do a `git reset origin/head` on it and squash all of its history down to a single commit.  This will lose some history but will create a single commit/PR p

[2015-11-09 17:58] mramato commented on #2877
@bagnell, any chance you can look at this sometime soon?  It's really annoying.

[2015-11-09 19:51] mengma16 commented on #873
Hi
Anybody working on Placemark Geometry-Model feature? Any plan for it? Our project used to display 3D models created by google-skechup on google-earth. Now we are seeking a solution to display these models on the map.

[2015-11-09 20:32] hpinkos commented on #3171
He said he's running OSX 10.10.5 (Yosemite)

[2015-11-10 01:23] lilleyse opened #3178 "Fog dark"
I experienced an issue with the fog when testing the 3d Models Sandcastle. This happens when I first orient the camera into the ground (horizon view), and then start zooming out.

![fog-dark](https://cloud.githubusercontent.com/assets/915398/11051751/b5d866aa-871f-11e5-926d-5c4f486d7c76.gif)

[2015-11-10 03:35] kring opened #3180 "WMS picking misinterprets point geometry"
When doing a `pickFeatures` on a WMS layer, and the reponse is GeoJSON, and the GeoJSON refers to a Point, we grab the coordinates of the point and stuff them into the `ImageryLayerFeatureInfo.position` property.  Unfortunately, we assume that those coordinates are geographic degrees.  We've run into at least one server that provides Web Mercator coordinates instead, causing Cesium to misreport th

[2015-11-10 13:08] pjcozzi commented on #3178
@bagnell can you look at this before the 1.16 release?  I suspect this is because of the time of day and the view direction, the blend color is dusk/dawn, but it's strange that it changes when zoomed out.

[2015-11-10 15:17] pjcozzi commented on #797
* WebGL 2.0 talk from SIGGRAPH Asia 2015 - https://docs.google.com/presentation/d/1Orx0GB0cQcYhHkYsaEcoo5js3c5-pv7ahPniIRIzzfg/edit?usp=sharing

[2015-11-10 18:49] mramato commented on #2770
@DylanTusler I think the bug is specifically triggered by local style maps (non #id referenced ones).  If you look in `KmlDataSourceSpec.js` there is already a test for these that is excluded because it fails.  If you change `xit` to `it` on line 1190, you can then run that test and debug the problem.

The style handling code itself is in the `processStyles` function (around line 746 in `KmlDataSo

[2015-11-10 22:52] emackey opened #3194 "Files missing from built Cesium"
If I delete my "Build" folder and run `npm run release`, the `Build/Cesium` and `Build/CesiumUnminified` folders are missing some items.  Try running the "Hello World" app from the main page after building.

* `Assets\IAU2006_XYS` does not have a complete set of JSON files, compared to the source tree
* `Assets\Textures` is missing three subfolders, `maki`, `NaturalEarthII`, and `SkyBox`
* `ThirdP

[2015-11-10 23:35] mramato commented on #3194
@emackey I can't reproduce this (started from a `git clean -dxf` just to be sure).  What version of NPM and OS are you using?  Can you try blowing away your `node_modules` directory and rerunning `npm install`.

[2015-11-10 23:59] RacingTadpole opened #3195 "Uppercase STYLES parameter overridden by WebMapServiceImageryProvider"
`WebMapServiceImageryProvider` combines user-provided parameters with its own defaults before then converting them all to lowercase.

As a result, if the user provides parameters that also appear in the defaults, but with different capitalization (in particular, STYLES vs styles), the default winds up overriding the user-provided value.

Raised by @rsignell-usgs here: https://github.com/TerriaJS/t

[2015-11-11 02:26] emackey commented on #3194
Looks like I had an old version of Node.js and npm from 2013.  Cleaning and re-downloading node_modules didn't fix the problem until after I upgraded to the Node.js 4.2.2 release.

[2015-11-11 02:26] #3194 closed

[2015-11-11 13:15] fredj commented on #2501
+1

[2015-11-12 13:16] pjcozzi opened #3198 "Label test failure in master"
This is in Chrome on my home Windows machine.  I haven't tested any other systems.
[code]

[2015-11-12 19:31] hpinkos commented on #754
idea from the forum: add a way to select the current date/time by typing it in or pick from a calendar instead of having to use the slider

[2015-11-14 10:08] fegyi001 opened #3204 "npm run build only creates minifyShaders.state"
I tried to build the project with node.js, but when I run "npm run build" only a single file is generated in the Build folder (minifyShaders.state), and its content is simply "false".

What did I do wrong?

[2015-11-14 21:30] hpinkos commented on #3171
Also reported by this user: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/iBuJiV2-EkE
Running OSX 10.11 and an AMD graphics card.

[2015-11-16 13:23] pjcozzi opened #3208 "Update eclipse to latest version of JSHint"
Until we stop supporting Eclipse, we should keep it up to date.  After #3202, there are a bunch of JSHint warnings in the tests:

![image](https://cloud.githubusercontent.com/assets/782098/11182754/2e9c10d0-8c3b-11e5-9ef3-4c04e659704a.png)

Do we have instructions for upgrading?

[2015-11-16 14:51] mramato commented on #3208
I'm looking into this.  It's my fault for not checking Eclipse after my changes.  Apparently we have an entirely separate jsHint configuration in Eclipse instead of the jshintrc files.

[2015-11-16 15:14] mramato opened #3209 "Use extends jshint feature instead of generating multiple jshintrc files"
Currently the build processes uses the root .jshintrc file and then generates slightly tweaked copies in each directory that needs them (Specs/Sandcastle/etc..)  We can use the extends feature of jshint to avoid this step and just submit the full set of files.  See: https://github.com/jshint/jshint/releases/tag/2.5.1

[2015-11-16 15:19] mramato commented on #3208
This isn't a version issue.  If you "Check for software updates" on the Eclipse help menu, you'll have the latest version of everything, including the `jshint-eclipse` plugin that we use.

The problem is that the `jshint-eclipse` project plug-in doesn't support multiple .jshintrc files, which is a pretty big flaw.  We might be able to work around this restriction but I need to think about it some

[2015-11-16 15:53] mramato commented on #3204
Hi @fegyi001, I just answered your question [on the forum](https://groups.google.com/d/msg/cesium-dev/VM-UOjpTFRI/M1nqX5TNFAAJ).  In general, the forum gets you a faster answer for questions like this, and that's what we recommend everyone use.  Thanks.

[2015-11-16 15:53] #3204 closed

[2015-11-16 18:58] #3208 closed

[2015-11-17 03:53] #3209 closed

[2015-11-17 15:27] oterral opened #3214 "IE 11 GroundPrimitive doesn't work"
Just open the sandcastle example : http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=development/Ground%20Primitive.html&label=Development in IE 11

Polygons are not displayed.

[2015-11-17 15:40] mramato commented on #3214
This is mentioned in [CHANGES](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CHANGES.md#113---2015-09-01), but apparently nowhere else:

I will leave this issue open until we properly add the above caveats  to the `GroundPrimitive` documentation.  Sorry I don't have better news for you.

[2015-11-17 17:16] oterral commented on #3214
Thx to point this out !!!  I've read it before but that I had totally forgotten.

[2015-11-17 18:14] ZacBrownBand opened #3215 "Toggling map 2D / 3D while there is a tracked entity results issues"
While a viewer has a set tracked entity, if the map is changed from 2D to 3D or 3D to 2D the camera does not continue following the entity. It gets stuck at a single location that is not where the entity is.

Reproduce:
1 - Start a sandcastle with the attached code snippet (From this [post](https://groups.google.com/forum/#!topic/cesium-dev/Q4i9jEJ4Sjg) curtesy of Hannah)
2 - Zoom in a little to e

[2015-11-17 20:27] td-edge commented on #754
@hpinkos I had the same issue and used bootstrap's datepicker to create a solution:

    var start_julian = clock.startTime;
    var end_julian = clock.stopTime;

    $("#start-datepicker").datepicker({
        onSelect: function(dateText, inst) {
            var dateAsObject = $(this).datepicker( 'getDate' ); //the getDate method
            start_julian = new Cesium.JulianDate.fromDate(dateAsObj

[2015-11-18 13:55] #2484 closed

[2015-11-18 15:43] d-amit opened #3217 "Request to publish releases after 1.10.0."
Currently the highest release via npm is 1.10.0.  Can you please publish the rest of the releases?

[2015-11-18 15:55] pjcozzi commented on #3217
@adius any chance you can update this?

[2015-11-18 18:39] andyneff opened #3221 "STK World Terrain Server not working"
As of 12PM GMT time on Nov 18, 2015 the STK World Terrain quick working in Cesium.

![image](https://cloud.githubusercontent.com/assets/7596961/11250266/a96d1d94-8df9-11e5-9f7f-a5f77de7974c.png)

The SSL cert for https://assets.agi.com/ expired. Most modern web browsers will not accept connections to an expired cert (without an exception being added). So now when you try and load the STK World Ter

[2015-11-18 18:44] andyneff commented on #3221
Update: agi support tells me "It should be back up now". Perhaps the bad cert is still cached.

Will wait this out a little.

[2015-11-18 18:48] mramato commented on #3221
The site is up, but as you pointed out, the SSL cert appears to have
expired.  I contacted the person in charge to get it fixed ASAP.  In the
mean time, using the HTTP version of the terrain server still works fine
(but obviously is not a valid solution for https connections).  Thanks for
the heads up.

On Wed, Nov 18, 2015 at 1:44 PM, Andy Neff <notifications@github.com> wrote:

[2015-11-18 19:30] mramato commented on #3221
This is back up, thanks again for the report.

[2015-11-18 19:30] #3221 closed

[2015-11-18 23:14] digitaldavenyc commented on #2027
Until this feature is implemented, do you know of a way to cancel any interaction with cesium until the flyTo is complete?

[2015-11-19 13:31] pjcozzi opened #3222 "Remove OpenStreetMapImageryProvider"
Deprecated in #3146.

[2015-11-19 17:34] #3170 closed

[2015-11-20 04:27] hpinkos opened #3227 "Modify Rectangle.fromCartographicArray to support rectangles that cross the IDL"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/C6-UE_5w3Pk

Many of our other rectangle functions have been updated to support the case where west > east, but `Rectangle.fromCartographicArray` won't find a rectangle that crosses the international date line.

[2015-11-20 09:40] bicealyh opened #3228 "line on terrain"
is any plan to support line on the terrain ?

[2015-11-20 15:58] digitaldavenyc opened #3229 "Deselect Entity"
Is there a way to deselect an entity after a user has clicked on it? I have not seen any documentation on this.

[2015-11-20 17:50] hpinkos commented on #3228
@bicealyh please use our [forum](https://groups.google.com/forum/#!forum/cesium-dev) to ask questions

we do plan to support polylines on terrain eventually, but there's a lot more research that needs to be done to find the best way to implement it.

[2015-11-20 17:50] #3228 closed

[2015-11-20 17:54] hpinkos commented on #3229
@digitaldavenyc please use our [forum](https://groups.google.com/forum/#!forum/cesium-dev) to ask questions.

To deselect, set `viewer.selectedEntity = undefined`. See the [Viewer.selectedEntity](http://cesiumjs.org/Cesium/Build/Documentation/Viewer.html#selectedEntity) reference documentation.

[2015-11-20 17:54] #3229 closed

[2015-11-21 18:28] mramato opened #3234 "LICENSE.md cleanup"
License.md has a list of all third-party software that ships with Cesium, as well as their license, which usually contains a copyright year.  We have updated to newer versions of some of these libraries but usually forget to go back and verify the license text hasn't changed (for example, having the copyright year updated).  We should do a pass on the entire file and verify

1. All included entrie

[2015-11-21 22:15] eputnam commented on #3234
I can grab this if it still needs doing.

[2015-11-21 22:22] pjcozzi commented on #3234
@eputnam go for it!  This was just submitted.  See [CONTRIBUTING.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md) for more details on contributing to Cesium in general.  Thanks!

[2015-11-21 22:29] eputnam commented on #3234
ok great.

[2015-11-23 15:45] d-amit commented on #3217
Is there anyway some else can get to publishing these?  I'm on a deadline so if you could publish those I would be very grateful.

[2015-11-23 15:49] mramato commented on #3217
Sorry @d-amit, the current NPM Cesium libraries are not part of our official release process nor are they officially maintained.  We can't guarantee their correctness or how often they get updated.  Eventually, we will add publishing to NPM as part of our official release process, but we're not there yet.

Personally, I would recommend downloading our official release and using that.

[2015-11-24 13:37] pjcozzi opened #3238 "Remove TileMapServiceImageryProvider"
Deprecated in ~~#3150~~ #3460.

[2015-11-24 16:30] eparisca opened #3240 "Documentation on Themes?"
Hello,

I was wondering if there was some documentation on how to customize the Animation and Timeline? Aside from the 2-3 lines that I found in the Animation docs, I haven't been able to find much.

I am tasked with creating a custom, simpler control interface/theme/skin for Cesium Timeline and Animation wheel.

So far, it feels like I'm limited to modifying some of the CSS.

Any information will

[2015-11-24 19:07] pjcozzi opened #3241 "3D Tiles Roadmap"
New to 3D Tiles?  See [Introducing 3D Tiles](https://cesiumjs.org/2015/08/10/Introducing-3D-Tiles/).

This work is in the [3d-tiles](https://github.com/AnalyticalGraphicsInc/cesium/compare/3d-tiles) branch.

In pseudo-priority order within each section:

* [ ] Tests and cleanup. #3177
* [ ] Review outstanding pull requests. #3237, #3080, #3076
* **Cesium internals** (not specific to 3D Tiles)
   *

[2015-11-24 20:11] emackey opened #3242 "Picking problems in 2D when tracking an entity"
Here's a combination of our Sandcastle Picking + CZML demos:

[code]

The picking appears to work fine in 3D and Columbus View, and works in 2D as long as you're not tracking a CZML Entity.  If you're tracking in 2D however, picking has an unexplained offset, large enough that you have to zoom out to most of the map to see the spot picked.

via [StackOverflow](http://stackoverflow.com/questions/33

[2015-11-24 20:25] mramato commented on #2524
* Consider revisiting object lifetime management.  The destroy pattern has some drawbacks that may be better solved via reference counting or other approaches.

[2015-11-24 22:53] mramato commented on #3217
@d-amit.  Good news, I just opened #3243 with the idea that we will have an official NPM module sometime very soon. Keep an eye on it.

[2015-11-24 23:31] RacingTadpole commented on #3162
After discussing this further with others, we can extend the above to make it easier to define constant properties (or more generally, properties which all apply over the same interval): if `properties` is an array, then treat it as an array of intervals, and do not allow any sublevels to have their own intervals. Eg.:

    "properties": [
        "interval": "2007-03-02T13:00:00Z/2008-05-11T15:30

[2015-11-25 04:50] mramato commented on #3007
The guide was updated after #3041 was merged.  WebStorm has very little configuration necessary but if we run into things that we need to tweak, we'll expand the guide.

[2015-11-25 04:50] #3007 closed

[2015-11-25 13:50] pjcozzi opened #3244 "Skinning issues with some glTF test models"
@lilleyse and I are not sure yet if this is COLLADA2GLTF or Cesium.

https://github.com/KhronosGroup/glTF/tree/master/sampleModels/monster

![monster](https://cloud.githubusercontent.com/assets/782098/11398872/86338a5e-9351-11e5-9084-dd0c26cc8fd0.jpg)

https://github.com/KhronosGroup/glTF/tree/master/sampleModels/brainsteam

![brainsteam](https://cloud.githubusercontent.com/assets/782098/11398876/

[2015-11-25 16:08] pjcozzi opened #3245 "Most glTF semantics are not covered by tests"
This is surprising since they should be covered by [Models/Box-Textured-Custom](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Specs/Data/Models/Box-Textured-Custom).

@lilleyse can you look at this?  We would like to donate this model to the glTF repo for testing.

![image](https://cloud.githubusercontent.com/assets/782098/11402231/c8429b2a-9364-11e5-90a1-dab605359f8c.png)

[2015-11-25 16:10] lilleyse commented on #3245
Yes I can look into this.

[2015-11-25 17:20] pjcozzi commented on #3178
@bagnell just a reminder that 1.16 is coming up next week.  No one has reported running into this yet so we can push if it is really hard to fix.

[2015-11-25 18:31] pjcozzi commented on #1050
JSCover requires Java so I would avoid it since we just removed the Java dependency for building Cesium.  Istanbul is probably the front runner.  Blanketjs is not as actively developed.

[2015-11-25 18:41] bagnell commented on #3178
Its either a problem with the atmosphere code or the camera collision with the terrain but I haven't tracked it down. This happens in master too. If you go to the same Sandcastle example in master, keep rotating down and the sky will become super bright.

[2015-11-25 18:48] mramato commented on #1050
I've been meaning to update this issue to mention that `istanbul` has become pretty standard and I've used it in several projects.  Much nicer results than our existing solution.  Ultimately, we probably want to move to a karma/jasmine/istanbul, which will allow for automated testing without having to manually fire up the browser (and is all node based and cross-platform).  I just haven't have a c

[2015-11-25 22:44] eparisca commented on #3240
Closing. Found google dev forums.

[2015-11-25 22:44] #3240 closed

[2015-11-26 00:09] hpinkos opened #3247 "SceneTransforms.wgs84ToWindowCoordinates incorrect when tracking entity"
Reported in the forum
https://groups.google.com/forum/#!topic/cesium-dev/XYAGd93UkmA

He included a really good example in the post.
`SceneTransforms.wgs84ToWindowCoordinates` returns the wrong window coordinates when the tracked entity has a different position from the one being converted to a window coordinate.

[2015-11-26 13:05] e-andersson commented on #3241
Does "Cache management and replacement" include handling of which Cesium3DTilesets will be loaded or is it aimed at the lower-level tile handling? We're quite interested in tileset loading/unloading since we'll potentially have a large number of tilesets available to the viewer, causing a lot of initial tiles.json loading and repeating iteration over primitives.

[2015-11-26 18:34] pjcozzi opened #3249 "Cesium looks aliased on MacBook Pro Retina display"
@mramato perhaps this is due to #3233?

**master:**
![image](https://cloud.githubusercontent.com/assets/782098/11429146/f6b3c488-9441-11e5-912b-98f0eb1fb637.png)

**1.15:**
![image](https://cloud.githubusercontent.com/assets/782098/11429172/540cd5f2-9442-11e5-9166-7c42538da7be.png)

[2015-11-26 18:59] pjcozzi commented on #3244
Data fix in https://github.com/KhronosGroup/glTF/pull/485.  Cool models!

[2015-11-26 18:59] #3244 closed

[2015-11-26 19:25] pjcozzi commented on #3241
It means lower-level tile handling, but thanks for reminding me about which `Cesium3DTileset` to load.  I added that to the roadmap. :)

If you are interested in working on either, I'm happy to discuss in more detail.

[2015-11-26 19:44] mramato commented on #3249
What is the value of `window.devicePixelRatio` on that machine? If you set `viewer.resolutionScale = window.devicePixelRatio`, then you'll get the old behavior.

[2015-11-26 20:04] pjcozzi commented on #3249
`window.devicePixelRatio` is 2.

Are you suggesting this as a workaround?  These laptops are popular enough that Cesium needs to looks crisp by default.

[2015-11-27 02:26] mramato commented on #3249
I totally agree.  The issue here is that the scene is being rendered at a lower-resolution (as requested by the browser) and then resized with smoothing, but simply going back to the old behavior isn't a good solution for 3 key reasons:

1. A blank globe should be capable of running at 60fps.  If it looks crisp and but runs at 20fps, that's just as bad.  Macbooks are popular, but Macbooks with goo

[2015-11-27 03:03] mramato commented on #3249
Can you try disabling the FXAA pass and see how that looks?  I think applying FXAA and then resizing may be part of the problem.  One possible solution would be to disable FXAA if resolutionScale !== 1.0 but I think we can do better than that.

[2015-11-27 03:13] ZYingithub opened #3250 "CZML Updates"
Dear Ms,
I'm very grateful to your great work filing up CZML materials and I've learnt it  carefully and thankfully.
I 'm a beginer learning Cesium, and I'm very interested in CZML.
I've been learning  CZML by browsing  pages in Github, and I've found it's not so complete in content.
Many entitiy types are not included,such as "wall","box",valid in CZML but not included in the official
documentati

[2015-11-27 03:57] mramato commented on #3249
Also, I'm fine with backing out #3233 for 1.16 if we'd rather just keep the status quo for now, but the overall issue  is something we've let go on for to long that we should address soon.

[2015-11-27 13:20] pjcozzi commented on #3249
It looks worse without fxaa.

With fxaa:

![image](https://cloud.githubusercontent.com/assets/782098/11442017/7840e5f6-94df-11e5-936f-d64f72a772e5.png)

Without fxaa:

![image](https://cloud.githubusercontent.com/assets/782098/11442021/85d1363a-94df-11e5-9105-24f4b32fdfb1.png)

Let's do this and revisit as time allows.

[2015-11-27 16:48] lilleyse commented on #3245
It looks like we handle all the cases for when the semantic is alone, but not the cases where you have a semantic and a referenced node via `getUniformFunctionFromSource`.

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Model.js#L2463-L2472

I can edit the sample model to handle these as well.

[2015-11-27 18:15] pjcozzi commented on #3245
Good eye, thanks @lilleyse!

[2015-11-27 22:57] kring commented on #3249
I think the problem is that #3233 is wrong.  It changed this:

[code]

To this:

[code]

So previously, with a `devicePixelRatio` of 2.0 (like on a Retina MacBook), `zoomFactor` would be 2,  so the buffer width would be twice the canvas width (in CSS pixels).

Now, when `devicePixelRatio` is 2.0, the `zoomFactor` is 0.5, so the buffer width is half the canvas width in CSS pixels.  Making each buff

[2015-11-28 02:49] mramato commented on #3249
Thanks @kring, you're totally right.  I don't know how I screwed that up.  I'm going to open a new PR with the fix, and hopefully it will look good enough to ship on @pjcozzi's machine.

[2015-11-29 15:28] pjcozzi opened #3254 "Testing Guide"
**TODO**
* [x] Add to wiki.  Link to it from CONTRIBUTING.md.
* [x] Table of Contents
* [x] Resize images

---

# Testing Guide

Our development culture has a commitment to testing.  Cesium is used in diverse use cases on a wide array of platforms so it is important for it to be well tested.

As of Cesium 1.15, Cesium has over 7,000 tests with 93% code coverage.  Cesium has almost as much test cod

[2015-11-29 15:53] ezze opened #3255 "Camera's flying and rotation in 2D causes crash when switching to 3D in Chrome"
Hi, guys!

During development of an application based on Cesium I detected an unexpected behavior linked with camera interactions in 2D scene mode. I was able to reproduce the problem in Google Chrome with [Camera example in Sandcastle](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Camera.html&label=Showcases):

1. Switch to 2D scene mode.
2. Fly to San Diego.
3. Hold mouse scroll whe

[2015-11-30 09:09] xtassin opened #3256 "Quaternion.fromHeadingPitchRoll uses wrong axis?"
Hi,

Testing the fromHeadingPitchRoll  method, I got erratic results until I spotted what I (humbly) believe is a wrong use of axis.

Considering a eastNorthUp frame, the original method applies roll value on X axis and pitch on Y where I would expect the opposite.

When overriding the method with my own (swapped X and Y), I get the expected results.

I may be mistaken on assuming the eastNorthUp

[2015-11-30 12:32] bartvde commented on #2981
is there any progress on the tutorial? TIA.

[2015-11-30 14:41] pjcozzi commented on #3254
This is ready.  Please provide tech comments by end of Wednesday so this can go through copyediting.  If you want to make a small change or add a section, _just do it_.

[2015-11-30 17:16] #3217 closed

[2015-11-30 17:19] mramato commented on #3249
For those that didn't see #3251, even the fixed code is blurry because of browser smooth scaling of WebGL canvases.  However, thinking about this some more, could we simply render to a texture at the browser-requested size and then draw that on a full-screen quad without smoothing?  That seems like it would fix the problem completely and be easy to implement.

[2015-11-30 18:16] mmacaula commented on #2981
hey @bartvde, it is still a work in progress (still being reviewed) but you can see it at https://github.com/aviture/cesium-webpack

[2015-11-30 18:29] slozier commented on #1754
I'm also running into this issue when trying to convert some models. From the glTF issue it seems like the plan is to fix this at the converter level?

[2015-11-30 19:13] mramato commented on #3249
I spoke with @bagnell offline and he thinks implementing the idea in my last post should be simple, since we are already rendering to a texture.  He's going to look into it when he has spare time.

[2015-11-30 19:18] #2744 closed

[2015-11-30 19:56] lilleyse opened #3262 "Inspector - show frustums shader compilation error"
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Cesium%20Inspector.html&label=Showcases

If you click the 'show frustums' box, the shader fails to compile:

![error](https://cloud.githubusercontent.com/assets/915398/11482716/5de0567a-9772-11e5-8fb5-4c1c5f97ee3d.jpg)

It works fine when you are zoomed in close enough.

[2015-11-30 20:03] pjcozzi commented on #3262
I believe this is duplicate with #2448.

[2015-11-30 20:03] #3262 closed

[2015-11-30 20:04] lilleyse opened #3263 "Quadtree Primitive Sandcastle error"
Happens after waiting a few seconds.

![image](https://cloud.githubusercontent.com/assets/915398/11482923/8642531a-9773-11e5-834e-ef307e332313.png)

[2015-11-30 20:16] lilleyse commented on #3249
It looks like this change affects the screen space error and cause lower detailed imagery to be loaded, which definitely adds to the blurriness. Fog enabled/disabled doesn't make a difference.

Cesium 1.15:
![detailed](https://cloud.githubusercontent.com/assets/915398/11483108/b0b5982c-9774-11e5-9b60-3c868f040d32.JPG)

Current:
![blurry](https://cloud.githubusercontent.com/assets/915398/11483112/b

[2015-11-30 20:23] mramato commented on #3249
@lilleyse, that's by design.  The blurriness is definitely because of the canvas resizing, once that's fixed then we will still have lower-resolution imagery at the same camera view, but it will be crisper.

[2015-11-30 20:24] mramato commented on #3249
That being said, this change could also open the door to defaulting maxScreenSpaceError to 1 or 1.5 instead of it's current default of 2.

[2015-11-30 21:08] pjcozzi commented on #3263
Not critical for 1.16 since this is in the Development tab.

@kring do you want to look at this?  Perhaps we changed `RectangleOutlineGeometry` recently.

[2015-11-30 21:13] pjcozzi commented on #1754
Exactly, this will be fixed in the converter.  We decided that the glTF spec will not allow DAGs, so DAGs will be converted to a tree offline.  See https://github.com/KhronosGroup/glTF/issues/401

This conversion will be part of https://github.com/AnalyticalGraphicsInc/gltf-pipeline/issues/1.  Work will begin in the new year.

[2015-11-30 21:56] bagnell opened #3265 "Make deprecated HeightmapTessellator and TerrainMesh private"
Deprecated in #3264.

[2015-11-30 23:29] hpinkos commented on #3256
Thanks @xtassin, I'm pretty sure you're right.  I tried to look into this before but never got a definitive answer.
@bagnell?  Do you have time to check this?

[2015-11-30 23:35] hpinkos commented on #3255
Thanks @ezze!  I'm pretty sure the issue you're seeing is related to #1518

[2015-12-01 05:46] hpinkos opened #3266 "'All' button missing in Sandcastle"
Broken in #3232

[This promise](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Apps/Sandcastle/CesiumSandcastle.js#L1139) doesn't ever seem to resolve.

@mramato

[2015-12-01 05:51] mramato commented on #652
FYI, this is just going to be an automatic part of the build process, and nothing to do with Travis.

[2015-12-01 05:56] hpinkos opened #3267 "JSHint problem in Sandcastle"
Probably also broken in #3232

Running Sandcastle from master, I noticed is it won't give an error if you're trying to use a variable that hasn't been defined yet.  On the website, it will highlight that line as having an error.

ie, the line `var foo = bar` should be highlighted because bar isn't defined.

@mramato

[2015-12-01 06:18] mramato commented on #3267
Marking this a showstopper.  This was broken with #3210.

[2015-12-01 06:19] mramato commented on #3266
`Hello World` also shows up at the end of the list now, rather than alphabetical.  Also marking as a showstpper.

[2015-12-01 07:22] #3266 closed

[2015-12-01 07:35] bartvde commented on #2981
thanks for pointing me to this @mmacaula

[2015-12-01 07:42] #3267 closed

[2015-12-01 13:44] lilleyse commented on #2771
Getting these failures for the 1.16 release as well.

[2015-12-01 14:30] mramato opened #3271 "Hitting browser refresh in Sandcastle causes Gallery to go blank"
I personally feel this is a showstopper.

[2015-12-01 14:39] hpinkos commented on #3271
It's because the query string has `label=undefined`.  It's not being set properly

[2015-12-01 14:47] mramato commented on #3271
That's always happened in Sandcastle, but it's much worse now because any refresh breaks it.

[2015-12-01 14:52] mramato commented on #3271
Also, linking like this now break too: http://localhost:8080/Apps/Sandcastle/index.html?src=3D%20Models.html&label=Showcases

[2015-12-01 15:04] #3271 closed

[2015-12-02 02:23] pjcozzi commented on #3254
Last call for tech feedback.

[2015-12-02 03:24] mramato commented on #3254
This is a good write up. My one overall comment is that it's wierd that you are using the first person singular voice (unless this is meant to be a blog post first?). If it is going to eventually live on the wiki, then it is ultimately a commuity document that will be updated and edited by everyone and it's odd to have personal anecdotes in it.

Other feedback:

1. Not sure if it's worth mentionin

[2015-12-02 13:01] pjcozzi commented on #3254
I'll add the example in the meantime, but perhaps submit an issue for `toBeRejected`.

[2015-12-02 13:19] pjcozzi commented on #3254
Thanks for the feedback.  Updated.  This will be part of the contributor guides, not a blog post.  I put the first person paragraphs in block quotes.

Anyone else have feedback?

[2015-12-02 20:09] #3234 closed

[2015-12-02 23:15] mramato opened #3279 "Investigate image quality degradation"
Reported [on the forum](https://groups.google.com/forum/#!topic/cesium-dev/xWcXPYkh3c8)

Check out the below image.  You'll notice the Cesium version is washed out and slightly blurry compared to the same image in Bing Maps (click it for full resolution).  At some point in the rendering pipeline (texture filtering, AA, lighting, etc..) Cesium processing is reducing imagery quality.

I looked at th

[2015-12-02 23:43] pjcozzi commented on #3279
Just a hunch: see if disabling anisotropic filtering helps this view.  I doubt it.

@kring any chance you want to look at this?

[2015-12-02 23:46] pjcozzi commented on #526
* [ ] **Performance idea**: to save GPU load (and maybe some CPU load in the browser/driver, but I doubt it), if a tile is surrounded by tiles of the same LOD, use a different count in drawElements to not draw the skirts (assuming they are appended to the end of the index buffer).  Are the meshes watertight?

[2015-12-02 23:55] #3265 closed

[2015-12-03 00:12] mramato commented on #3279
Setting allowTextureFilterAnisotropic to false had no discernible effect.

[2015-12-03 01:33] kring commented on #526
They weren't when I did it.  Alex _may_ have changed that.  But in general I don't think quantized-mesh guarantees it.

[2015-12-03 01:36] pjcozzi commented on #526
If this optimization is worth it (I dunno, it could be significant for horizon views at 4K where the skirts make the depth complexity really high) then we can add it to a 1.0.1 spec.

[2015-12-03 01:41] kring commented on #3279
I have looked at this, because it's very obvious in an app like ours where you can toggle between Cesium and Leaflet.  Here's what I know:

1. Cesium applies a gamma of 1.3 to Bing Maps satellite layers.  It probably made sense at one point, but IMO it doesn't anymore and we've disabled it in TerriaJS.  Perhaps it should be disabled in Cesium in general.  That's the cause of most of the "washed ou

[2015-12-03 07:22] ZYingithub opened #3280 "The wiki page took too long to render invalid"
I cannot open the the CZML Content Page,just reading: wiki page took too long to render.
So , where can I find the content page,please?

[2015-12-03 10:10] ezze commented on #3255
@hpinkos, thanks for the reply!
Updated to Chrome 47, nothing is changed.
Waiting for some info on this or related issues.

[2015-12-03 13:01] pjcozzi commented on #3279
For (1), this was because the imagery was so dark.  Is this no longer a problem?  Or the lesser of two evils?

[2015-12-03 13:04] pjcozzi commented on #3280
Link: https://github.com/AnalyticalGraphicsInc/cesium/wiki/CZML-Content

Perhaps this is temporary or GitHub added a timer for how long it takes to render a page.  We'll split it up if needed.

Good catch, thanks for bringing it to our attention.

[2015-12-03 13:09] ZYingithub commented on #3280
Dear Mr.
Thanks a lot for your reply.
Good day!

ZhangYu
2015.12.03

At 2015-12-03 21:04:28, "Patrick Cozzi" <notifications@github.com> wrote:

Link: https://github.com/AnalyticalGraphicsInc/cesium/wiki/CZML-Content

Perhaps this is temporary or GitHub added a timer for how long it takes to render a page. We'll split it up if needed.

Good catch, thanks for bringing it to our attention.

—
Reply t

[2015-12-03 14:03] mramato commented on #3280
Yeah, that's definitely a very recent development.

On Thu, Dec 3, 2015 at 8:09 AM, ZYingithub <notifications@github.com> wrote:

[2015-12-03 17:03] denverpierce commented on #3279
Fxaa hits tiled layers pretty hard as well, especially labels rendered onto tiles and road/stylized tiles. Mildly related to #2752.

[2015-12-03 19:49] shunter commented on #3280
FYI I have been working on doc improvements in czml-writer and I have updated markdown for the wiki if/when this issue is resolved.  The updated content is not any smaller, though.  (current .md file is 531KB)

[2015-12-03 19:57] pjcozzi commented on #3280
@shunter it's fine if you are going with the old C# .md generator, but I used this for glTF: https://github.com/AnalyticalGraphicsInc/wetzel

[2015-12-03 20:06] mramato commented on #3280
The main issue (and I'm not sure if wetzel would improve this yet) is that there is a ton of repeating information in the current generated doc.  We should update whatever doc generator we end up going with to be able to have common types only documented once and then referred to throughout the rest of the document.

[2015-12-03 20:09] mramato commented on #3162
Hey guys, I somehow missed this issue the first time around.  I haven't had a chance to fully review your ideas yet but I'm all on board with making them happen @shunter has actually taken an active role in trying to bring czml-writer back to life and clean things up, so we should all get on the same page and make sure everyone converges on the same spec.

[2015-12-03 21:42] bagnell opened #3286 "Center of projection or infinite horizontal scrolling in 2D"
* Center of projection:
    * Changing the center of projection is a simple mod operation, e.g. change `GeographicProjection.project` and `GeographicProjection.unproject` to take the center longitude into account.
    * Terrain meshes are assumed to have longitude values in [-180, 180]. Terrain would need to be modified to split triangles across a plane at `center longitude +/- 180 degrees` and cr

[2015-12-03 22:11] bagnell opened #3287 "Terrain upsampling"
* Both the terrain data from the server and the uncompressed or packed mesh is kept in memory. The data from the server is kept for upsampling. The uncompressed or packed data is kept for picking. Refactor upsampling to use the uncompressed/packed mesh.
* Do we need parallel upsampling? Investigate only using upsampling at the leaf nodes. Currently, terrain is upsampled at the same time a new tile

[2015-12-03 22:14] bagnell commented on #526
* [ ] Quantize more/less and pack terrain meshes at different levels of the tree.

[2015-12-04 00:35] mramato opened #3289 "Test Failure: Scene/GlobeSurfaceTileProvider renders in 3D (2)"
`Scene/GlobeSurfaceTileProvider renders in 3D (2)` is timing out and failing in both Chrome and Firefox for me (Windows 10, Intel HD 4000).

[2015-12-04 13:38] #3254 closed

[2015-12-04 17:01] zaichang commented on #2737
I have also run into this issue when creating a rectangular entity and then rotating it along with it's texture. Here's an interactive example of the issue:
http://www.zaiadesign.com/play/entity-rotation-test.html

[2015-12-04 21:37] #3086 closed

[2015-12-04 21:37] #3090 closed

[2015-12-04 21:37] #3092 closed

[2015-12-04 21:37] #3097 closed

[2015-12-04 21:37] #3099 closed

[2015-12-04 21:38] #3101 closed

[2015-12-05 01:26] bicealyh opened #3293 "Segment display is not connected"
I use the following method to draw polyline volume,but find the segment display is not connected,Why?

       function computeCircle(radius) {
                var positions = [];
                for (var i = 0; i < 360; i++) {
                        var radians = BeyonMap.Math.toRadians(i);
                        positions.push(new BeyonMap.Cartesian2(radius * Math.cos(radians), radius *  Math.s

[2015-12-05 13:51] bicealyh commented on #3293
![test](https://cloud.githubusercontent.com/assets/6030959/11608061/1d323766-9b9a-11e5-9c3a-b912ba293b1a.png)

[Test.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/52852/Test.txt)

[2015-12-05 16:08] pjcozzi commented on #526
* [ ] Texture compression (for imagery) - perhaps still send jpg over the wire and immediately upload it to a texture to reduce latency, but then DXT compress it in a web worker and replace the texture after compression.  **Plan B** - just send compressed texture over the wire.

[2015-12-06 23:24] pjcozzi opened #3298 "Replace shadowed properties with property getter/setters"
Before Cesium had property getter/setters, it used shadowed properties to avoid computation unless a property actually changed, e.g.,
[code]
I'm pretty sure we can replace all these use cases with a dirty flag and property getter/setters, and improve or maintain performance (well, some pathological cases would be slower) and use less memory, e.g.,
[code]
This would be a good beginner issue.  Is th

[2015-12-07 00:12] mramato commented on #3298
We haven't done it because it will likely destroy performance. For example, the Entity API uses getters/setters everywhere but the visualizers "cheat" and use the hidden raw property to avoid calling the getters every frame because performance tanks otherwise.  We can get away with this because outside of the visualizer, entity getter/setters aren't accessed very often.  If we wanted to produce ex

[2015-12-07 16:21] shunter opened #3299 "Entity.removeProperty is incorrect"
Noticed while working in related code.  `removeProperty` doesn't properly remove the property.

reproduce:

[code]

[2015-12-07 21:34] shunter opened #3302 "PropertyArray.getValue is documented incorrectly"
Documentation indicates that `time` is optional and unused.  Neither is true (it's required, and it is passed to the `getValue` function of the contained properties).

Doc should also describe what it actually produces (an array of values produced by evaluating each of the contained properties at the given time)

[2015-12-08 00:22] hpinkos opened #3303 "CZML content wiki page too long to render"
GitHub will no longer display this page because it `took too long to render`:
https://github.com/AnalyticalGraphicsInc/cesium/wiki/CZML-Content

[2015-12-08 00:42] pjcozzi commented on #3303
Duplicate with #3280.

[2015-12-08 00:42] #3303 closed

[2015-12-08 09:20] seneric opened #3304 "Cesium in QlikView (BI)"
I try to integrate Cesium in a QlikView plugin and I had two problems.
- When you are in QlikView plugin resources are accessed through a queryString :
  http://server/QvAjaxZfc/QvsViewClient.aspx?public=only&name=Extensions/QlikView/Examples/Local/Build/CesiumUnminified/Cesium.js
  In the URI module of Cesium (URI.prototype.resolve) the queryString is deleted so you can't load the resources (imag

[2015-12-08 15:06] #3299 closed

[2015-12-08 15:40] mramato opened #3306 "Development-only examples on cesiumjs.org"
The current deployed copy of Sandcastle, http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html, is showing the `Development` category and demos. I'm not sure if this has always been the case or something that happened last release, but these demos are not intended for end user consumption and shouldn't be on the website.

FYI, the old release links don't have this problem because they use the zip

[2015-12-08 16:59] mramato opened #3309 "JavaScript Code Style checker"
I've been wanting to look into the [JavaScript Code Style checker](http://jscs.info/) for a while as it is starting to become as popular as jsHint.  They also have official gulp support: https://github.com/jscs-dev/gulp-jscs, so this should be easy to integrate.

[2015-12-08 19:18] pjcozzi commented on #3298
Ah yes, I forgot about this.  It bit me before.  It could be reason enough to not do anything.  Cesium as a whole is inconsistent here, but it is not pressing.

Are get/set slow because the JavaScript compilers are not good at inlining them?  If this is the main problem, perhaps we can reevaluate in a year or so.

[2015-12-08 19:35] mramato commented on #3298
I honestly don't know for sure, but I would guess yes.  Even on Chrome and Firefox, where they have done optimization work, they still have the same overhead as a function call (at best).  On IE and Safari performance was pretty terrible last time I checked.

Using more properties to make our codebase cleaner is definitely something we revisit all of the time but I'm not sure it's worth keeping th

[2015-12-08 19:50] pjcozzi commented on #3298
I agree.

[2015-12-08 19:50] #3298 closed

[2015-12-09 03:38] mramato commented on #3309
I took a quick look at this and had it up and running with Cesium in literally under 2 minutes using one of their default configurations and `gulp-jscs`.  The main work is going to be going through every option and figuring out what the setting for our code base should be (and then ultimately fixing anywhere we are inconsistent.

The gulp plug-in doesn't support js extractions from HTML yet (for S

[2015-12-09 15:23] hpinkos commented on #3044
Also reported here:  https://groups.google.com/forum/?hl=en#!topic/cesium-dev/b7nCByVXyKs

[example.geojson](https://github.com/AnalyticalGraphicsInc/cesium/files/56963/example.geojson.txt)

[2015-12-09 15:46] hpinkos opened #3318 "Error in adding billboard with different alignedAxis to the same BillboardCollection"
reported here: https://groups.google.com/forum/#!topic/cesium-dev/e4sSCMrEmOw

[code]

[2015-12-09 15:50] hpinkos commented on #3318
Are all billboards in an `EntityCollection` being added to the same `BillboardCollection`?  If so, that's the cause of the problem.  The billboards behave as expected when each one is added to it's own `BillboardCollection`.

[2015-12-09 15:52] mramato commented on #3044
Not identical, but related to #2788.

[2015-12-09 15:58] mramato commented on #2524
* Have a clear definition of when a result parameter should be required and enforce it everywhere (we may just require them everywhere).  Right now result parameters are optional in many places.
* Define and enforce semantics for when to clone input vs when to keep the provided reference.  For example, some of our get/set properties currently clone assigned values, some keep the user reference.  S

[2015-12-09 16:06] hpinkos opened #3319 "SingleTileImageryProvider causing shaded area on mobile"
Reported here: https://groups.google.com/forum/#!topic/cesium-dev/S74wXPOTHHY

![image](https://cloud.githubusercontent.com/assets/3451886/11690430/9154d1ea-9e64-11e5-9353-dc8b4ca2725f.png)

The issue was seen on both and iPad and a Galaxy tab.  On PC the visualization appears normal.
A code sample and files he was testing with are attached to one of the later followup posts.

[2015-12-09 17:08] mramato commented on #3318
Yes, they all go in the same collection, which should be supported.  So this is a `BillboardCollection` bug.

[2015-12-09 19:37] hpinkos opened #3320 "Bug in CorridorGeometry"
![image](https://cloud.githubusercontent.com/assets/3451886/11696283/8d3500cc-9e81-11e5-9568-60ab98eb4cbc.png)

The `CorridorGeometry` doesn't line up with the `Polyline` that has the same points.  I suspect the root of the problem is that some of the points are colinear-ish.

[code]

[2015-12-09 20:14] hpinkos commented on #3293
@bicealyh I submitted a fix here #3305

This will fill in many of the gaps, but there are still some breaks because you data is a bunch of separate polylines.  You'll have to combine positions that are supposed to be connected into a single polyline in order for the `PolylineVolume` to fill in the rest of the gaps and corners.

[2015-12-09 20:37] hpinkos commented on #3215
Hello @ZacBrownBand! Thank you for reporting this.

You're seeing the behavior because we are still tracking the entity after the scene mode change.  If you zoom all of the way back in to the entity in 2D, you'll see that the camera is moving along with it.

However, since the camera doesn't zoom back in automatically, I don't think that is really the expected behavior.  I submitted #3321 to clear

[2015-12-09 20:37] #3215 closed

[2015-12-09 20:38] hpinkos commented on #3255
@ezze I'm going to close this issue because I believe it's the same as #1518.  When we fix that issue someone will double check that the error you're seeing is fixed too.

Thanks!

[2015-12-09 20:38] #3255 closed

[2015-12-10 15:42] fasiha commented on #1998
Looking at http://google-opensource.blogspot.com/2015/10/google-summer-of-code-wrap-up-cesium.html — did Aditya Raisinghani's efforts not pan out?

[2015-12-10 16:26] mramato commented on #1998
Unfortunately the Sandcastle refector did not get completed.  I'm also not really sure this idea is valid anymore given the goals of Sandcastle.  It's not an application building tool but merely a demo, testing and prototype tool.  People should not be building anything they wish to put into production via Sandcastle.

If you want to host a Sandcastle demo for demo purposes, you just have to host

[2015-12-10 16:38] fasiha commented on #1998
Thanks for the update @mramato! I completely understand where you're coming from.

At the same time, Sandcastle (and Cesium.js in general, come to think of it) is too successful 😋. It's so easy to tweak Sandcastle examples to get something compelling—many, many lazy/busy people are going to pine for an easy way to bake the example with their tweaks into a standalone tool they can throw on gh-pages

[2015-12-10 17:05] #3227 closed

[2015-12-10 17:10] #3320 closed

[2015-12-10 20:57] pjcozzi opened #3327 "Remove unnecessary @exceptions for required parameters"
The exception is implicit in the `@param`.

For example:
[code]
in AttributeCompression.js can be removed.

I suspect this is only in a few places.

[2015-12-10 21:31] mramato commented on #3327
We actually already did this once #1449, so I doubt there are many more than this (if any).

[2015-12-10 21:33] pjcozzi opened #3329 "Simplify imagery provide declarations"
Do they still need to be declared like this:
[code]
instead of just
[code]

[2015-12-10 21:38] mramato commented on #3329
Technically, @kring wanted to go the other way where everything in Cesium is just declared as:

[code]

because it made browsers give better errors but JSDoc didn't support that at the time (but I'm fairly certain they do now).  In either case, we should decide on the preferred way to declare a constructor function in Cesium (which is most likely with `var Foo = function()`) and use it everywhere.

[2015-12-10 21:50] hpinkos commented on #3293
@bicealyh This was fixed in #3305.  It will be included in the next release (Cesium 1.17)

[2015-12-10 21:50] #3293 closed

[2015-12-10 22:21] pjcozzi commented on #3329
Given its conciseness, I prefer this too:
[code]

[2015-12-10 22:35] shunter commented on #3329
yes.  If `function Foo() {` works with JSDoc now, we should switch everywhere.  The only reason for `var Foo = function() {` was JSDoc.

[2015-12-10 22:47] mramato commented on #3329
This should be easy with a find/replace regex.  Something like `var\s(.*)\=\s?function\s?(.*)?\{` and then the replace would be `var $1 = function \{`

[2015-12-10 22:58] pjcozzi opened #3331 "Put @see after @example"
A lot of our reference doc has `@see` before `@example` (either because years ago the `@see` tag was generated as part of the example or I just thought it was ):
[code]
`@see` should always come after `@example` like it does in the generated doc:
[code]
[code]

[2015-12-11 04:12] pjcozzi commented on #2524
* Move imagery providers to `Core`?  The terrain providers are there.

[2015-12-11 09:00] slightGT opened #3335 "Terrain disappears zooming and tilting - Cesium 1.16"
Dear all,

I would like to highlight a bug with the new versione 1.16 of Cesium.
The terrain disappears at a certain level of zoom and tilting the camera near the terrain generates the same bug.

![bugcesium_compressed](https://cloud.githubusercontent.com/assets/12815732/11739144/7d440bb8-9fe9-11e5-8ddf-5c4e8f05e782.gif)

![bugcesium2_compressed](https://cloud.githubusercontent.com/assets/12815732

[2015-12-11 15:06] mramato commented on #3335
Thanks @slightGT This is definitely a bug and I could easily reproduce it after zooming to Trento.

@bagnell this is definitely a recent regression with all of the terrain work you've been doing.  We should probably look into it ASAP.

[2015-12-11 15:32] mramato opened #3336 "Entity geometry fails to change color when show is time-dynamic"
The following Sandcastle example will fail to turn the polygon blue.  Change `show` to simply be `true` and everything works.  This happens with all geometry.

[code]

[2015-12-11 18:56] pjcozzi commented on #3335
+1

[2015-12-12 10:19] kring commented on #2524
I considered doing this when I moved the terrain providers to core, but didn't.  My thought process was that surface geometry is useful for things other than rendering a scene.  I couldn't really say the same of imagery providers.

[2015-12-12 10:24] kring commented on #3329
I did this because of this:

[code]

I just verified that this is still true in Chrome.

Obviously if JSDoc now works without the extra assignment, that's the best way to go.

[2015-12-12 10:28] kring commented on #3329
The also extends to other ways of looking at the constructor function in the Chrome debugger.  For example, in the Chrome debugger:

[code]

[2015-12-12 13:13] pjcozzi commented on #2524
Yes, I can see both perspectives.  I don't have a strong opinion, but was thinking of things like computer vision, image processing, etc..

[2015-12-12 15:24] pjcozzi commented on #3329
@kring just to confirm, you are OK with this simplifying change even though it hurts that debugging case?

[2015-12-12 19:02] juacarri opened #3339 "Change extrudeHeight with the time"
Hello, I'm trying to change the extrudeHeight with the time, like in the 4D choropleth  demo, but I have no idea... I did this code, but dont do nothing:

var czml = [
  {
    "id" : "document",
    "name" : "CZML Geometries: Circles and Ellipses",
    "version" : "1.0"
  },
{
    "id" : "redRectangle",
    "name" : "extruded red rectangle with black outline",
    "rectangle" : {
      "coordinate

[2015-12-12 19:26] juacarri commented on #3339
I resolved it:

      "extrudedHeight": {
			"number":["2012-08-04T16:00:00Z",999999,"2012-08-04T17:00:00Z",5000]},

But where can I get a tutorial or some information about use the time and czml? Do you know how to convert a geojson to czml?

[2015-12-12 20:22] juacarri commented on #3339
I have another question, in relation with this topic. I want to change the final position of a polyline with the time. Why appear an error following the same structure?

  {
    "id" : "orangeLine",
    "name" : "Orange line with black outline at height and following the surface",
    "polyline" : {
      "positions" : {
        "cartographicDegrees" : [
          -75, 30, 0,
          -75, 30, {"

[2015-12-12 21:33] kring commented on #3329
I'm definitely ol with #3338 because it is the best of both worlds, now that jsdoc supports it.

[2015-12-14 14:57] mramato commented on #3217
@d-amit Cesium is now officially available on npm as the `cesium` module.  Read all about it here: http://cesiumjs.org/2015/12/14/Cesium-npm/

@adius, I sent you and Joel an email regarding the cesiumjs package you've previously published.  It would be great if you could point users to the officially maintained version now. Thanks.

[2015-12-14 15:56] pjcozzi commented on #3339
Hi @juacarri - try posting your question on the [Cesium forum](http://cesiumjs.org/forum.html). It will get a lot more attention.

See the [guidelines for submitting an issue](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#submitting-an-issue).

[2015-12-14 15:56] #3339 closed

[2015-12-14 18:08] pjcozzi opened #3341 "Remove unnecessary @function tags"
For example, `@function` is needed here:
[code]
AFAIK it is not needed here:
[code]

[2015-12-14 18:52] pjcozzi opened #3342 "Replace @namespace with @exports"
I believe the best practice is to, for example, replace
[code]
with
[code]
The old doc guide sounds like this is the case:

Need to verify it produces the same results.

[2015-12-14 19:02] mramato commented on #3341
You are correct.  The rule is that `@function` is only needed when JSDoc can't infer that it is a function (such as your first example). Link: http://usejsdoc.org/tags-function.html

Having `@function` where it isn't needed is also completely harmless (as long as the think is a function), but I guess we should be consistent in when we use it.

[2015-12-15 03:02] cfickler commented on #3153
Could this be related to the issue I am seeing with stretching of the map when the height of the canvas exceeds the width of the canvas, you are viewing the full world and you zoom out using the mouse scroll ? This is not a polar problem either as you can rotate the map 90 degress and watch is stretch east and west. Also, slightly changing the size of the canvas (via the window) sets it back to wh

[2015-12-15 12:56] pjcozzi commented on #2241
* Article plus forum discussion on SIMD in gl-matrix: https://groups.google.com/forum/#!topic/webgl-dev-list/S-bDCLL1u4A

[2015-12-15 13:21] #3329 closed

[2015-12-15 13:33] pjcozzi opened #3345 "Replace "use strict" with 'use strict'"
As mentioned here: https://github.com/AnalyticalGraphicsInc/cesium/pull/3312#discussion_r47279560

[2015-12-15 15:17] mramato opened #3346 "2D Map does not always resize correctly"
1. Run Cesium Viewer
2. Switch to 2D
3. Zoom out until the map bounces back.
4. Start resizing the width of the window.

The map will not resize correctly and instead be stretched of smooshed.  Eventually it will fix itself, but there's definitely a bug here.

[2015-12-15 15:17] mramato commented on #3153
@cfickler , I think what you are seeing is an unrelated issue, so I submitted #3346 for it.

[2015-12-15 15:48] hpinkos opened #3347 "Atmosphere disappears as you look up"
Reported on the forum https://groups.google.com/forum/?hl=en#!topic/cesium-dev/su5kb_cNN7Y

This seems to have been introduced in 1.16.

* Zoom into the globe and tilt
* Middle mouse drag on the sky to keep tilting up
* The atmosphere flickers then disappears completely when the globe leaves the bottom of the screen

[2015-12-15 15:51] pjcozzi commented on #3347
This may have changed in 1.16, but I have reproduced this in older versions.

[2015-12-15 16:30] pjcozzi opened #3348 "Contributor's Guides improvements"
**Coding Guide**
- **Formatting**
  - [ ] Mention Eclipse and Web Storm formatters
- **Basic Code Construction**
  - [x] Modules in `define` statements should be in alphabetical order (also mention build script)
  - [x] Do not create a local variable that is used only once unless it significantly improves readability.
  - [x] Use curly braces even for single line `if`, `for`, and `while` blocks.

[2015-12-15 16:42] mramato opened #3349 "KML renders incorrectly - vertical polygons"
The attached KML does not render correctly because it contains polygons that hare mostly perpendicular to the surface of the earth.

[2_1450116435.kml.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/62883/2_1450116435.kml.txt)

[2015-12-15 16:42] mramato commented on #3349
Reported via the forum: https://groups.google.com/d/msg/cesium-dev/p2VeANQ497I/PvXjDXpJBgAJ

[2015-12-15 20:04] hpinkos opened #3350 "VideoSynchronizer flicker outside of video duration"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/guKaP3J6n4k

If `videoElement.loop = false;` and the video is synchronized with the clock using a `VideoSynchronizer` and the time is outside of the range, the video flickers between the start and end of the video.

To reproduce:

* http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Video.html&label=Showcases
*

[2015-12-15 22:28] adius commented on #3217
Just deprecated cesiumjs with a message redirecting to the new module!

[2015-12-15 23:10] mramato commented on #3217
Awsome, thanks @adius!

[2015-12-16 01:59] RacingTadpole commented on #3162
FYI, I have implemented a first pass at this, including specs that mirror the above, at https://github.com/TerriaJS/cesium/compare/terriajs...TerriaJS:terriajs_czml_props

(that comparison shows up some minor extra changes between the terriajs branch and cesium master)

[2015-12-16 03:47] ShineSong opened #3353 "Capability of point cloud module"
Hi devs,
    I want to know the capability of CESIUM on point cloud support.How big dataset it can visualize?I have a MLS dataset,include 2.17 bilion points,and trajectory is about 29 km long,average point density is 551 point/m^2.Total size of these .las files is about 61.5GB.
    Can CESIUM deal with such big dataset?
    Thank you very much!!!
    kind regards.

[2015-12-16 12:57] pjcozzi commented on #1683
@rutsky you may be interested in #3312.

[2015-12-16 13:03] pjcozzi commented on #3353
Hi @ShineSong - this is on the roadmap.  See [3D Tiles](https://github.com/AnalyticalGraphicsInc/3d-tiles/blob/master/README.md).

Also, please post questions on the [forum](http://cesiumjs.org/forum.html) since a lot more people will see it.  See [CONTRIBUTING.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md).

[2015-12-16 13:03] #3353 closed

[2015-12-16 16:13] rutsky commented on #1683
Thanks, @pjcozzi, I see that #3312 covers mentioned by me issues.

[2015-12-16 20:56] kjartab opened #3354 "CZML Ellipsoid with time-dependent geometry results in incomplete ellipsoid visualization"
When adding the following ellispoid using CZML loading it results in an ellipsoid with a hole on the top, removing the time-dependent geometric properties (position or radii) results in a complete ellipsoid. Time-dependent colors on for instance do not seem to cause the same bug.

Verified to be the case in the Sandcastle app as well.
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=CZML%

[2015-12-17 09:38] jpremkumar commented on #3247
Has there been any progress on this issue?

I would love to incorporate into my project.

[2015-12-17 16:48] shunter commented on #1998
It's worth pointing out that the current Sandcastle files are already very easy to make standalone.  I recently deployed some sandcastle examples to github pages and found that the minimum set of changes are:

 * Add a base tag to head so that the relative URLs work, regardless of where the HTML file is deployed to.  This can point to any URL that hosts the Cesium release files, but you can also j

[2015-12-17 16:56] mramato commented on #1998
The main problem is that users (particular those new to web development) rely on things like the `Sandcastle.addToolbarButton`, which (unless I'm mistaken) does not work with the method you describe.

[2015-12-17 16:59] shunter commented on #1998
It does.  Sandcastle-header.js is fetched from the server that is configured as base.

[2015-12-17 17:02] mramato commented on #1998
I thought that might be the case, good to know.

[2015-12-17 17:24] #3078 closed

[2015-12-17 18:34] drakej commented on #3280
Is there an alternative source for this data as this situation gets sorted out?

[2015-12-17 18:40] hpinkos commented on #3280
@drakej here's a link to the raw markdown: https://raw.githubusercontent.com/wiki/AnalyticalGraphicsInc/cesium/CZML-Content.md

[2015-12-17 18:45] drakej commented on #3280
Thank you!

[2015-12-18 05:24] RacingTadpole commented on #3162
FYI, after further discussion with @kring, we're only going to implement the first spec above.

The second spec introduces confusion, eg. elsewhere when CZML is presented with `{"value": ...}`, it is smart enough to know that's the same as `[{"value": ...}]`. But these two would be interpreted differently if we allowed the second spec.

[2015-12-18 21:32] pjcozzi opened #3364 "Incorrect camera position in Viewer url"
* Run Viewer
* Turn on terrain
* Use the geocoder to zoom to "Seneca Rocks"
* Take a view like this:

![image](https://cloud.githubusercontent.com/assets/782098/11907760/aea150ba-a5a4-11e5-8ab1-9f7c624e3cfa.png)

* Copy the url and paste it into a new tab.  The Viewer will be quite a bit in front of the mountain peak.

[2015-12-21 16:14] #3336 closed

[2015-12-21 17:08] pjcozzi commented on #3280
Can we just split this page into two in the short-term?

[2015-12-21 19:35] AmayAgrawal commented on #3341
I am looking over this issue,but I didn't get exactly when to use @function and when not.Can anyone please explain it more briefly??

[2015-12-21 19:52] pjcozzi commented on #3341
Thanks for looking into this, @AmayAgrawal!

`@function` is only needed when the JavaScript function declaration is not there.  In Cesium, this is needed when we assign one function to another, e.g., this needs `@function`:
[code]

If you search for `@function` in all of the Cesium *.js files, it should be pretty easy to identify the ones that are not needed and remove them.

Then, just double che

[2015-12-21 19:56] hpinkos commented on #3354
Hello @kjartab
Thanks for reporting this!  The CZML sample is really helpful.
This is a known issue, first reported here: #3045
I'm going to close this issue because the other one is open so we don't have duplicates, but I'll link that issue to your CZML example =)

[2015-12-21 19:57] #3354 closed

[2015-12-21 19:57] hpinkos commented on #3045
Also see CZML example posted by @kjartab in #3354

[2015-12-22 14:18] pjcozzi opened #3368 "Coding guide updates"
I mixed up the branches and accidentally landed these two commits in master: ff3dd12934d2b9c88635e026366a9d17212c8ebd and 90b80fe4ad75c2fb34aac0012fbad1d03c051224.

Let's use this issue to review as if it were the PR.

These commits add a few items from #3348 to the [Coding Guide](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Documentation/Contributors/CodingGuide/README.md):
* Modul

[2015-12-22 15:33] hpinkos commented on #3044
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/SKn6LUR906g

[2015-12-22 16:34] pjcozzi commented on #3335
@slightGT thanks for the detailed report.  This was fixed in #3365 and will be released in Cesium 1.17 on January 4.

[2015-12-22 16:34] #3335 closed

[2015-12-23 17:20] mramato opened #3372 "README tweaks"
1. The current README links to the old Getting Started url, it should link to the new one.
2. Should we link to the website downloads page directly from the Getting Started section?
3. Should we mention `npm` in the README Getting Started section? (most modules do so that people know what the official module is)
4. The forum links to google groups, should it link to our site's forum page?

[2015-12-23 18:20] hpinkos commented on #3061
@nmschulte Sorry no one responded when you reported this

Does this still crash for you?  When I ran the sandcastle example you posted, it caused the polygon to flicker and change colors, but it never caused a crash.  Thanks!

[2015-12-23 18:30] hpinkos commented on #2927
Thanks @GatorScott
Confirmed this is still a problem in 1.16

[2015-12-23 18:37] hpinkos commented on #2809
Thanks for reporting this @alexander-entin.  This is related to a bigger problem with ownership management that we are planning to address in the future (most likely for Cesium 2.0)
I'm going to close this issue since it will be addressed then.

[2015-12-23 18:37] #2809 closed

[2015-12-23 18:41] hpinkos commented on #3015
fixed

[2015-12-23 18:41] #3015 closed

[2015-12-23 18:44] mramato commented on #2809
I missed this when it was first submitted, but the complete answer is that the `CallbackProperty` callback signature is `function(time, result)`.  If the result parameter is provided, it should be mutated by the function.  If result is not specified, a new instance should be returned but that instance is owned by the caller (i.e. Cesium).  It will most likely use that value for the result paramete

[2015-12-23 18:54] hpinkos commented on #2597
@speigg Sorry it took so long to respond to this
This is an interesting idea, but I'm not sure if it's something we would implement.  Can you explain a little bit more about your motivation for wanting this?

[2015-12-23 18:57] nmschulte commented on #3061
@hpinkos I just ran the test-case again and Cesium still crashes after a short run (just a few minutes).

[2015-12-23 19:11] hpinkos commented on #2909
Still a problem in 1.16

Updated sandcastle example:

[code]

* Click Show/Hide button twice to hide then show the polygon
* Click Blue button - polygon does not turn blue
* Click Blue button again - polygon turns blue

[2015-12-23 19:17] hpinkos commented on #3061
okay, thanks for checking!

[2015-12-23 20:14] nmschulte commented on #3061
I tried this in Google Chrome from a Windows 8 virtual-machine (VirtualBox) and received the error there too:

![2015-12-23-141259_1920x1044_scrot](https://cloud.githubusercontent.com/assets/8540239/11984295/761e9f70-a97f-11e5-8a17-e7aed74c41c8.png)

[2015-12-23 22:25] pjcozzi commented on #3341
Fixed in #3375.

[2015-12-23 22:25] #3341 closed

[2015-12-24 15:37] eputnam commented on #3345
has this issue been resolved?

[2015-12-24 16:08] pjcozzi commented on #3345
No, you are welcome to go for it!

[2015-12-24 20:12] AmayAgrawal commented on #3372
1. I think that it should link to this url: http://cesiumjs.org/tutorials/cesium-up-and-running/
I also think that 2, 3 and 4 are good points.
But about npm what should we include in it??

[2015-12-24 20:59] AmayAgrawal commented on #3331
I am looking over it and I have found that some files only contain @see while some only contain @example.So we have to check only those files which contains both?? or we have to update those files also which contains only @see or @example.

[2015-12-27 00:31] harryxue1999 opened #3377 "DAE to glTF conversion problem"
![screen shot 2015-12-26 at 4 26 09 pm](https://cloud.githubusercontent.com/assets/12103898/12008413/cd86e428-abed-11e5-9fdb-742d4f2547dd.png)
### Conversion Problem
The left part is a model in .dae COLLADA format, while the right part is one in .glb glTF format. This happened multiple instances where the converter does not pick up the components/mirrored parts/aliases while converting. Is there a

[2015-12-27 15:13] pjcozzi commented on #3331
Hi @AmayAgrawal!  Thanks for looking into this.

Exactly.  Just leave the ones that only have `@example` or `@see`, but not both.

[2015-12-27 15:16] Decatek commented on #3342
I just finished working on this issue, I'm going to open a pull request in minutes

[2015-12-27 15:18] pjcozzi commented on #3342
Wow, thanks @Decatek!  Can you please [submit a CLA](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#contributor-license-agreement-cla) if you haven't already?

[2015-12-27 15:21] pjcozzi commented on #3377
Thanks for the report.  This is most likely the same issue as #1754.

Since that issue was written, we actually changed the spec to be strictly a tree, not a graph, so the fix will be in the converter (https://github.com/KhronosGroup/glTF/issues/401), not Cesium proper.

I'm going to close this as a duplicate.  Please let us know if you think it is another issue.

[2015-12-27 15:21] #3377 closed

[2015-12-27 15:27] Decatek commented on #3342
I sent the CLA to cla@agi.com
Pull request will come soon!

[2015-12-27 18:38] malaretv opened #3379 "Allow custom crs function for GeoJSONDataSource"
I'm attempting to use GeoJsonDataSource to load data for a non-earth datum.

There does seem to be the beginnings of support for the `crs` geojson field in the GeoJsonDataSource source, but the `crsNames` object it looks up again only includes variants of epsg:4326. There is no obvious path to extending this object to allow support for custom definitions.

It'd be nice to expose an option such as

[2015-12-27 18:47] pjcozzi commented on #3342
Thanks, we received the CLA.

[2015-12-28 01:17] kainino0x commented on #2317
I just accidentally reproduced this while zooming around aimlessly in Hello World. I'm on Chrome on Windows. Here's a trace with updated line numbers, too:

[code]

[2015-12-28 06:25] AmayAgrawal commented on #3331
* @see CorridorOutlineGeometry.createGeometry
     *
     * @demo {@link http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Corridor%20Outline.html|Cesium Sandcastle Corridor Outline Demo}
     *
     * @example
     * var corridor = new Cesium.CorridorOutlineGeometry({
     *   positions : Cesium.Cartesian3.fromDegreesArray([-72.0, 40.0, -70.0, 35.0]),
     *   width : 100000
     * });

[2015-12-28 14:42] pjcozzi commented on #3331
When there is a `@demo` tag, the order can be:
[code]

[2015-12-28 14:46] #3342 closed

[2015-12-29 14:34] malaretv commented on #3379
Looking into it a bit further I was able to accomplish what I needed with the following

[code]

It's a bit cumbersome but it works

[2015-12-30 18:53] sensiasoft opened #3383 "DeveloperError when using HTMLVideoElement as Image Material"
The 1.16 change log says "Material image uniforms now accept HTMLVideoElement anywhere it could previously take a Canvas element" ... but this is not working and one is getting the following exception:

[code]

To fix it, the following test needs to be appended to line 889 in Material.js

[code]

Note that it works fine to use the video element for polygon material in an Entity directly, but not w

[2015-12-30 19:10] forman commented on #2734
Is there any news on the status of this issue? I am facing exactly the same problem: I want to know when `viewer.selectedEntity` changes, which is btw a very important event for application development. Is the use of knockout now discouraged or not? Anyway, I tried @mramato's suggestion with Cesium 1.16 but unfortunately the selectedEntity event never seems to fire:

[code]

Maybe this is this ano

[2016-01-03 21:48] #3331 closed

[2016-01-03 21:53] #3368 closed

[2016-01-03 21:58] pjcozzi commented on #3280
As a temporary workaround, I divided this into two pages: https://github.com/AnalyticalGraphicsInc/cesium/wiki/CZML-Content

[2016-01-04 13:03] pjcozzi commented on #3280
I suspect we could also move this into the repo since, for example, GitHub renders the long [glTF spec](https://github.com/KhronosGroup/glTF/blob/master/specification/README.md).

[2016-01-04 13:19] pjcozzi commented on #2860
With Cesium 1.17, there's two need test failures in IE 11:

* `Scene/WebMapServiceImageryProvider pickFeatures works with THREDDS XML format`
* `Scene/WebMapServiceImageryProvider pickFeatures works with msGMLOutput format`

[2016-01-04 13:25] pjcozzi commented on #3198
This passes on my work Windows laptop.  Will try to reproduce on my home laptop.

[2016-01-04 19:14] pjcozzi commented on #1075
Also see http://wdobbie.com/post/gpu-text-rendering-with-vector-textures/

[2016-01-04 21:28] bellengj opened #3384 "Proposal for Bathymetric Terrain Tile Type"
At line 186 of Source/Core/CesiumTerrainProvider.js I would like the following code added to create a surfacemap-1.0 type that would allow for full bathymetric elevations

            } else if (data.format === 'surfacemap-1.0') {
                that._heightmapStructure = {
                        heightScale : 1.0 / 3.0,
                        heightOffset : -12000.0,
                        el

[2016-01-04 21:47] abwood commented on #3384
This appears to be a modification to the heightmap-1.0 spec, which as you have found does not support bathymetric elevations well.  The successor to heightmap-1.0 is the quantized-mesh 1.0 spec, which already supports bathymetric data as it stands.

For quantized-mesh tiles, the source elevation data overlapping a terrain tile will be quantized to values between minHeight and maxHeight.  What this

[2016-01-04 21:55] bellengj commented on #3384
The issue with quantized-mesh format is that only the for cost AGI Terrain software creates this format.  I was able to a self modified the Univ. of Southampton ctb-tile program along with the Southampton terrain server to build a nice bathy globe.

[2016-01-04 23:02] kring commented on #2860
@RacingTadpole can you take a look at this?

[2016-01-05 00:10] chris-cooper opened #3386 "Picking unpredictable in 1.17"
I'm finding 'Drill Down Picking' in the 'Picking' Sandcastle example gives flickering results in 1.17 vs 1.16.  I notice another user has [reported something on the mailing list](https://groups.google.com/forum/#!topic/cesium-dev/N-f7uh5e6Zs) which may be related.  Tested on Chrome with Intel graphics running Ubuntu 14.04.

[2016-01-05 00:22] chris-cooper commented on #3386
I think you can repro what the OP was referring to with the labels example.  A single click brings up the green crosshairs in [1.16](http://cesiumjs.org/releases/1.16/Apps/Sandcastle/index.html?src=Labels.html&label=Showcases) but not in [1.17](http://cesiumjs.org/releases/1.17/Apps/Sandcastle/index.html?src=Labels.html&label=Showcases)

[2016-01-05 03:00] markerikson commented on #3384
@bellengj : would you be interested in contributing those changes back to cesium-terrain-builder?  I'm sure others would appreciate the improvements as well.

[2016-01-05 03:14] tokyovigilante commented on #1075
There's a Metal implementation of SDF here - http://metalbyexample.com/rendering-text-in-metal-with-signed-distance-fields/

[2016-01-05 12:57] pjcozzi commented on #1075
Cool, thanks @tokyovigilante!

[2016-01-05 13:07] pjcozzi commented on #3386
@bagnell can you look at the drill picking issue ([Sandcastle example](http://cesiumjs.org/releases/1.17/Apps/Sandcastle/index.html?src=Picking.html&label=Showcases))?  The easiest way to reproduce it is to mouse over the part where all three rectangles overlap.  It seems OK when there is not overlap.

[2016-01-05 13:14] pjcozzi commented on #3384
@bellengj quantized-mesh is the preferred terrain format because it contains a precise geometric error and requires very little processing to render (if this were 3D models, quantized-mesh is like glTF and height-map-based formats are like COLLADA).

We actually want to discourage use of heightmaps since they are not efficient, which is why, for example, the old heightmap dataset was deprecated.

[2016-01-05 14:56] emackey commented on #3386
This affects selection too:  If you load the [CZML Sandcastle Demo](http://cesiumjs.org/releases/1.17/Apps/Sandcastle/index.html?src=CZML.html&label=Showcases), you can't single-click the entities to select them.

[2016-01-05 18:44] ezze commented on #3386
I faced the same issue in my project after upgrading to 1.17. I do picking on left mouse click, and it seems that it works only on the second attempt (at least, it never works on the first click).

[2016-01-05 19:50] bellengj commented on #3384
Is there an open source way to create quantized-mesh terrain files for those that can't afford STK Terrain Server?

[2016-01-05 22:22] emackey commented on #3386
`git bisect` says the first bad commit is 539cf3c94a.

[2016-01-06 09:00] RacingTadpole commented on #2860
Sure. For my future ref, I've just tried the tests in a Win8 IE10 environment, and get the error:
`Error: Unable to get property 'value' of undefined or null reference.` The offending code is in https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Specs/Scene/WebMapServiceImageryProviderSpec.js and https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/GetFeatureInfoFormat

[2016-01-06 13:16] pjcozzi commented on #3384
@bellengj the core Cesium team has not developed one, you would have to search around to see if there are others.

Closing given this is not the right technical direction.

[2016-01-06 13:16] #3384 closed

[2016-01-06 18:11] pjcozzi opened #3388 "QuadtreePrimitive Sandcastle example Rectangle exception"
With master, browse to http://localhost:8080/Apps/Sandcastle/index.html?src=development/QuadtreePrimitive.html&label=Development

Then zoom in, and switch to the console tab:

![image](https://cloud.githubusercontent.com/assets/782098/12150285/ecd110ce-b476-11e5-8885-16b1065fab41.png)

Is this due to recent changes to the `Rectangle` error checking?

[2016-01-06 18:17] lilleyse commented on #3388
Duplicate of #3263

[2016-01-06 18:25] pjcozzi commented on #3388
Ah, I searched for "QuadtreePrimitive", not "Quadtree Primitive"

[2016-01-06 18:25] #3388 closed

[2016-01-06 20:38] #3386 closed

[2016-01-06 20:39] pjcozzi commented on #3386
@emackey fixed this in #3391. @chris-cooper @ezze thanks again for the report.

[2016-01-06 20:57] pjcozzi opened #3393 "Cracking between 2D tiles"
@bagnell this is new in 1.17 perhaps due to the quantization.  It happens for ellipsoid and terrain tiles.

* Run Viewer
* Switch to 2D
* Zoom in close to an area, you'll see black cracks

![ok](https://cloud.githubusercontent.com/assets/782098/12154535/1bad9e1e-b48e-11e5-8853-0112d5076f48.gif)

[2016-01-06 21:09] chris-cooper commented on #3386
Thanks team!  :thumbsup:

[2016-01-06 23:40] chris-cooper commented on #3309
You may want to also consider http://editorconfig.org/

[2016-01-07 00:58] RacingTadpole commented on #2860
Oops, sorry. Yes, I only fixed the two new failures, THREDDS XML and msGMLOutput.

[2016-01-07 10:05] mailmrmanoj commented on #3247
+1

[2016-01-07 19:05] pjcozzi commented on #3372
Updated in #3376.

[2016-01-07 19:05] #3372 closed

[2016-01-07 20:14] bellengj opened #3398 "Adding Proxy Support in createDefaultImageryProviderViewModels.js"
In ./Source/Widgets/BaseLayerPicker/createDefaultImageryProviderViewModels.js can Proxy support be added because I have installed Cesium on a non-Internet network and I want to be call a layer that needs a Proxy

This would require the addition after line 3

        '../../Core/DefaultProxy',

and after line 12

        DefaultProxy,

[2016-01-08 07:41] mramato commented on #3309
Thanks @chris-cooper, that's actually another thing I've wanted to check out.  In all likelihood we'll end up using both.

[2016-01-08 08:05] mramato commented on #3198
I still get this all of the time in Chrome on my Windows 10 laptop (Intel HD 4000).

[2016-01-08 08:07] mramato commented on #3198
It also happens under my nvidia card on the same machine.

[2016-01-08 20:52] drakej opened #3399 "Trademark Violation?"
https://itunes.apple.com/us/app/cesium-streamlined-music-player/id924491991?mt=8

Noticed this app using the same name. Just thought I would bring your attention to it.

[2016-01-09 17:26] drupol opened #3400 "Failed to load resource when JS is minified."
Hi,

I'm busy working on integrating Cesium into the Openlayers module for Drupal.

Everything works fine until the JS is no more aggregated, see the screenshot.
![screenshot-d7x 2016-01-09 17-00-36](https://cloud.githubusercontent.com/assets/252042/12217326/462e8e20-b6fd-11e5-8b65-b86500583c41.png)

When I enable the JS aggregation, I add the variable *CESIUM_BASE_URL* to the page, with the path

[2016-01-10 08:36] drupol commented on #3400
To get this working you need to generate a JS file on the fly containing:

```var CESIUM_BASE_URL = '/sites/all/libraries/cesium/Build/Cesium/';```

So you have to pay attention to **two things**:

* It's not enough to provide the base library path (*/sites/all/libraries/cesium/*), you must provide the **path + '/Build/Cesium/'**

* The string **must end with a slash** or else it won't work.

[2016-01-10 08:36] #3400 closed

[2016-01-10 19:36] pjcozzi opened #3401 "Update the copyright year from 2015 to 2016"
At least the top line of [LICENSE.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/LICENSE.md) needs to be updated.  I think that is the only place.

[2016-01-10 20:12] AmayAgrawal commented on #3327
Sir,is this issue already solved or not?If not Can u please explain in little brief where I have to make such changes

[2016-01-11 14:40] pjcozzi commented on #3327
It's not solved yet.

To fix this issue, we want to remove doc for exceptions like this:
[code]
when a function's parameter is required, e.g.,
[code]
Most likely only [AttributeCompression](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/AttributeCompression.js) needs to be changed.

For an example of when we did this same fix before, see #1449.

[2016-01-11 14:48] pjcozzi commented on #3399
Thanks @drakej.  In the future, feel free to email me directly (pcozzi@agi.com) about things like this so we can keep the GitHub issues focused on code.

[2016-01-11 14:48] #3399 closed

[2016-01-11 15:23] lilleyse opened #3403 "Create getExtensionFromUri helper function"
A few areas of the code get the extension from a uri as follows:

`var ext = ext.substr(filename.lastIndexOf('.') + 1);`

We should add a private helper function instead.

`KmlDataSource` and `Cesium3DTile` will use the new function.

[2016-01-11 15:47] lilleyse opened #3404 "Create tileset with the tiles.json path"
For #3241

Currently when you create a `Cesium3DTileset` you pass in a url to the tileset folder. The code assumes the tiles json file is called `tiles.json`, which may not be true in all cases.

We should support `options.url` to be either a directory of the tileset or a path to the tiles.json file. In either case, `this._url` should stay the directory of the tileset and `this._tilesJson` should

[2016-01-11 16:33] lilleyse commented on #2673
The files that need to be updated are:

* `buildModuleUrl.js`
* `CzmlDataSource.js`
* `KmlDataSource.js`
* `Model.js`
* `CesiumTerrainProviderSpec.js`
* `isCrossOriginUrlSpec.js`
* `TaskProcessor.js`

For `3d-tiles`, the code is slightly different but can also use the helper function:

[code]
In the files:
* `Cesium3DTile.js`
* `Instanced3DModel3DTileContentProvider.js`

[2016-01-11 19:28] AmayAgrawal commented on #3327
@param {Object} options Object with the following properties:
     * @param {Cartesian3} options.dimensions The width, depth, and height of the box stored in the x, y, and z coordinates of the <code>Cartesian3</code>, respectively.
 * @exception {DeveloperError} All dimensions components must be greater than or equal to zero.

Sir what about this type of files

[2016-01-11 20:22] pjcozzi commented on #3403
@lilleyse please close this when ready (before or after the PR into `3d-tiles` is OK).

[2016-01-11 20:25] pjcozzi commented on #3327
You are right, only the "must be defined" exceptions, not the "must be normalized" or other exceptions.  Those are useful documentation.  The "must be defined" exceptions are redundant with the parameter documentation.

[2016-01-11 21:07] #3403 closed

[2016-01-11 22:25] pjcozzi commented on #3327
Fixed in #3409.

[2016-01-11 22:25] #3327 closed

[2016-01-11 22:59] mramato commented on #3398
`createDefaultImageryProviderViewModels` is a private function meant to create the basic view models used by Viewer.  None of them rely on a proxy.  If you have your own set of imagery providers that you would like to use, you should be passing them into the Viewer constructor (or BaseLayerPicker constructor if you're calling it directly).  The default set is meant for out of the box demo purposes

[2016-01-11 23:04] mramato commented on #3383
Thanks for the bug report.  Do you have a small example of how to trigger the problem so that I can properly test your fix?  Thanks.

[2016-01-12 10:32] xtassin opened #3411 "globe.getHeight randomly returns 'undefined'"
Following up on a discussion in the forum https://groups.google.com/forum/#!msg/cesium-dev/NvnW8_cNEQM/L6FCmkVABgAJ

I made this post with a test case to run in Sandcastle:
https://groups.google.com/d/msg/cesium-dev/08DYCm0z5sM/yWgltqPkDQAJ
- getHeight will randomly return 'undefined'
- the occurrence get significantly lower when getHeight is passed a Cartographic with a roughly accurate altitude

[2016-01-12 13:52] #3401 closed

[2016-01-12 14:39] pjcozzi commented on #2130
Could be the problem: http://www.realtimerendering.com/blog/gpus-prefer-premultiplication/

[2016-01-12 14:39] pjcozzi commented on #2130
Or part of the problem.

[2016-01-12 14:49] sensiasoft commented on #3383
Hi Matthew,

Assuming you have a Cesium viewer instance and HTML video element on your page such as:

[code]

The bug can be triggered with the following code:

[code]

[2016-01-12 18:47] #3214 closed

[2016-01-12 18:48] #2893 closed

[2016-01-12 20:55] AmayAgrawal commented on #2867
Sir Can u please elobrate what this issue is all about and guide me towards how to work on it.

[2016-01-12 21:36] AmayAgrawal commented on #2673
Can u please somewhat give a hint of about what type of private helper function function we need to build here.Can u please give any one example of how to do it??

[2016-01-13 01:58] lilleyse commented on #2673
It would be a helper function like `getFilenameFromUri`.

However @TomPed is working on this issue right now though, so you may want to look into another one.

[2016-01-13 10:35] aaditya-thakkar commented on #3195
Has this issue been resolved?

[2016-01-13 19:04] TomPed commented on #2673
For the 3D tiles if I'm going to use the `getAbsoluteUri` I would not be using `isAbsolute`, is this correct?

[2016-01-13 19:05] lilleyse commented on #2673
Correct, `getAbsoluteUri` should handle that case.

[2016-01-13 19:10] TomPed commented on #2673
Why is it better to use `getAbsoluteUri` over `isAbsolute`?

[2016-01-13 19:17] lilleyse commented on #2673
Tile urls can either be local or absolute, which is why we did the check with `isAbsolute`. But really the code is here is the same as in the other areas, it's creating a absolute url from a base and relative. The `isAbsolute` check is basically implicit in the `Uri.resolve` function, so using `getAbsoluteUri` is the right thing to do here.

[2016-01-13 20:34] #3289 closed

[2016-01-13 20:55] bagnell opened #3422 "WebVR API"
* The `VRButton` should search for VR devices. If none, are available default to Cardboard.
* The [HMDVRDevice](https://developer.mozilla.org/en-US/docs/Web/API/HMDVRDevice) should be passed to `Fullscreen.requestFullscreen` and has viewing parameters that should be used for the left and right eye cameras.
* The [PositionSensorVRDevice](https://developer.mozilla.org/en-US/docs/Web/API/PositionSens

[2016-01-13 21:01] bagnell commented on #3422
Searching for VR devices:
[code]

[2016-01-14 00:39] RacingTadpole commented on #3195
Thanks for spurring me on to looking at this. It turns out this is a terria problem after all - sorry! Solved via https://github.com/TerriaJS/terriajs/pull/1228 .

[2016-01-14 00:39] #3195 closed

[2016-01-14 03:26] chris-cooper opened #3423 "globe.pick() sometimes returns a hit which isn't closest"
This occurs when geometry is overlapping.  The points circled in red are actually obscured by the mountain in front so shouldn't have been picked.

![image](https://cloud.githubusercontent.com/assets/484870/12314980/04128bce-baca-11e5-929d-6b4d3c0f3790.png)

I ran this repro from the current Cesium sandcastle with a relatively small window size (as pictured) on Ubuntu Chrome.
[code]

Possibly rela

[2016-01-14 16:03] e-andersson opened #3424 "Tileset of tilesets: selection/loading waiting for all children to be loaded?"
With a scenario like described in below diagram, it seems that no b3dm root will be loaded for all tiles.json one level above have been loaded. So if one subtileset represents San Francisco and the other Rio de Janeiro, none will be loaded before both have been in view in the Cesium viewer.

@lilleyse, what do you think about this scenario? Might recent changes to `selectTiles` in `Cesium3DTile` o

[2016-01-14 16:12] lilleyse commented on #3424
I may have to think through this more carefully, but should it be fine if the root uses additive refinement?

[2016-01-14 16:36] e-andersson commented on #3424
Forgot to say this is for replacement refinement.
On 14 Jan 2016 5:13 p.m., "Sean Lilley" <notifications@github.com> wrote:

[2016-01-14 16:58] mramato opened #3425 "Cesium broken in latest WebGL2 Chrome implementation"
Chrome Canary recently added a `WebGL 2.0 Prototype` option to chrome://flags and when I tried it out I noticed that Cesium no longer works (if I recall correctly, @bagnell and @lilleyse got it working during our last sprint).  Running Cesium Viewer spits out the following errors:

[code]

It's possible this is a bug in Chrome's implementation, but we should check it out either way and file a bug

[2016-01-14 17:15] lilleyse commented on #3424
The situation you described is expected for replacement refinement, since the tile is not allowed to refine to its children until they are loaded. I think it makes more sense for the root to use additive refinement.

[2016-01-14 17:20] lilleyse commented on #3424
The recent changes in `selectTiles` definitely affect this situation. Before we let a tile refine as long as its immediate children are loaded (in the the case of empty tiles, this would happen immediately). But now we only refine if there is content to fill the gaps, which requires traversing down the tree and loading the b3dm roots.

[2016-01-14 18:02] pjcozzi commented on #3424
I think this is related (from the roadmap, #3241):

This is a good path forward (and I think fixes the above problem, right?), but a combination of additive and replacement refinement might also get the job done, but add complexity to the generation tool.

@e-andersson if you think this approach meets your needs, it would be an awesome contribution!

[2016-01-14 18:09] TomPed commented on #3102
Are these changes to be in `Model.js`?

[2016-01-14 18:10] pjcozzi commented on #3102
Yes

[2016-01-14 20:20] TomPed commented on #3404
The url that is passed in to the tileset folder is the `options.url`?

[2016-01-14 20:23] lilleyse commented on #3404
Yeah `options.url` refers to the url of the tileset, which usually is the directory but in this PR it should also be a path to a `.json` file.

[2016-01-14 21:12] emackey opened #3428 "Hello World demo app broken"
Keep in mind you need to `npm run minify` before testing Hello World.  Also, for debugging, you can edit HelloWorld.html to switch to the `CesiumUnminified` folder (and then `combine` will suffice instead of `minify`, and you can read the source near the exception).

This bug was just introduced yesterday with #3418.  An exception is thrown when creating the default imagery providers.

[2016-01-14 21:17] pjcozzi commented on #3428
@TomPed can you please look at this soon?

[2016-01-14 21:19] TomPed commented on #3428
Sure thing, I'll take a look.

[2016-01-14 21:35] chris-cooper commented on #3411
I've been having similar issues.  Looks like it's at tile boundaries based on the gap in this test:
![image](https://cloud.githubusercontent.com/assets/484870/12338093/fad560e8-bb61-11e5-9fbb-4398c4f80b15.png)

This was from the code run with the small window size pictured:

[code]

[2016-01-14 21:51] mramato opened #3430 "Have the build generate occasional status output"
Our travis builds occasionally fail because travis thinks the build process is hung but in reality the build steps are taking more than 10 minutes and don't print out information during the process.  We can fix this by updating the gulpfile to set `config.logLevel = 1;` in `requirejsOptimize`.  This will spit out a line for each file as it's working.

@TomPed This should be an easy one for you to

[2016-01-14 21:52] mramato commented on #3430
The downside is that this clutters up the travis output, but that's how it used to be before the gulp port anyway.

[2016-01-14 21:55] mramato commented on #3430
Actually, another solution is to prepend `travis_wait` in travis.yml to the npm command, as discussed here: https://docs.travis-ci.com/user/build-timeouts.  This is my preferred solution since it will no longer clutter output.

That being said, some developers have expressed interest in status info being written (as described above).  So if you feels strongly about it one way or the other, here's

[2016-01-14 22:03] TomPed commented on #3430
For the latter option, does the command `install: travis_wait mvn install` need to be ran in addition to adding the prefix `travis_wait` in travis.yml, or is that install a one time thing?

[2016-01-14 22:07] mramato commented on #3430
No, just add `travis_wait` to the immediately before `npm run`, but after the `-`

[2016-01-14 22:07] TomPed commented on #3430
Got it.

[2016-01-14 22:09] bagnell opened #3431 "Remove GroundPrimitive.geometryInstance"
Deprecated in #3429.

[2016-01-14 22:24] #3430 closed

[2016-01-15 10:20] e-andersson commented on #3424
@lilleyse you're right, it makes more sense to use additive refinement for the root, and it does work that way. There are similar structures (but somewhat more tree-like, without extra empty tiles) further down the tree though, and it would require a bit of work to check this carefully. Further down it looks like this:
[code]
where B = b3dm tile and T = tiles.json tile. In this case, I think addit

[2016-01-15 13:44] pjcozzi commented on #3424
That would rock, thanks @e-andersson!

[2016-01-15 16:20] e-andersson commented on #3424
I've been trying a fairly naive approach to changing the replacement refinement today. I loop (won't want that later) through a tile's children to see if it has visible children that are not loaded yet and determine whether the tile is refinable based on that, and if not, render the parent like before.

When tilting the camera towards the horizon this looks pretty bad, since previously sharp tiles

[2016-01-15 16:38] TomPed commented on #3428
@emackey is this the error you are talking about?

![screen shot 2016-01-15 at 11 38 06 am](https://cloud.githubusercontent.com/assets/11602092/12358678/7ddaf664-bb7c-11e5-933b-bc8179bacef1.png)

[2016-01-15 18:04] pjcozzi commented on #3238
Relabeling for 1.20, but the exact version will depend on when #3150 is merged.

[2016-01-15 18:45] #3404 closed

[2016-01-15 19:01] pjcozzi commented on #2673
Fixed in #3418.

[2016-01-15 19:01] #2673 closed

[2016-01-15 19:20] TomPed commented on #3428
This is what the code in `buildModuleUrl.js` was before using `getAbsoluteUri`:

[code]

[2016-01-15 19:21] TomPed commented on #3428
I've substituted that in and I seem to be getting the error still.

[2016-01-15 19:43] pjcozzi commented on #3424
Yes, this is expected.  @kring and I have discussed before.  We just weren't sure how bad it would look.

Yes, I think this has potential.  The Cesium implementation will need some events so a tile can update itself with some approach to avoid cracking (e.g., drop new skirts) when a sibling/cousin changes.  I would do this after getting the basic approach to work.

The other option is to prefetch

[2016-01-18 11:21] kepta commented on #3393
@pjcozzi I would love to work on this issue, but I am new to webGL.
Can I work on it?

[2016-01-18 14:16] TomPed opened #3437 "Refactoring tiles.json to tileset.json"
I've changed the all of the `tiles.json` files to `tileset.json`. Once I change them I seem to be getting some failed test, any thoughts why this would be happening? This is for `Cesium3DTilesetSpec`.
![screen shot 2016-01-18 at 9 13 42 am](https://cloud.githubusercontent.com/assets/11602092/12393483/f5c70458-bdc3-11e5-8e8e-5e7b4d641358.png)

[2016-01-18 14:35] lilleyse commented on #3437
I'm not sure if you've checked already, but make sure all occurrences of `tiles.json` are also changed in the code.

[2016-01-18 14:36] TomPed commented on #3437
Yep, I changed that as well.

[2016-01-18 14:39] lilleyse commented on #3437
Ok, I think it might be because some `tileset.json` files are referencing `tiles.json` files internally. Make sure to edit the files in the `TilesetOfTilesets` folder.

[2016-01-18 14:41] TomPed commented on #3437
That worked, thanks.

[2016-01-18 14:42] #3437 closed

[2016-01-18 14:52] #3428 closed

[2016-01-18 15:13] pjcozzi commented on #3393
Thanks for the interest in contributing, @kepta!  I don't think this is a good beginner issue.  For ideas, check out: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#getting-started-contributing

[2016-01-18 15:21] pjcozzi commented on #3437
@TomPed did you mean to close this issue?  Was a related pull request merged?

[2016-01-18 15:23] TomPed commented on #3437
I think I meant to close it :smile:. I have no PR open yet, I just had an issue while working on it. Should I have made the PR first then opened the issue and waited to close once merged?

[2016-01-18 16:40] pjcozzi commented on #3437
Ah, I see.  A better workflow here is to open the pull request with a tasklist for remaining items and then ask the question in the PR.  For example: https://github.com/AnalyticalGraphicsInc/cesium/pull/3406#issue-126028253

[2016-01-18 17:48] pjcozzi opened #3439 "Ability to change atmosphere color"
This has been asked for a few times, including this [forum post](https://groups.google.com/forum/#!topic/cesium-dev/jGgNInY2Fqo) and this [FOSS4G presentation](https://vimeo.com/106853454).

Good beginner graphics issue.

[2016-01-18 18:02] hpinkos opened #3440 "Canvas resize error with retina display"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/NqW0TnqPDNc

I'm thinking this might be related to #3288?

[2016-01-18 18:19] hpinkos opened #3442 "Strange atmosphere/sun rendering"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/w3Uht1MILjU

To reproduce:
1. [3D Models](http://localhost:8080/Apps/Sandcastle/index.html?src=3D%20Models.html&label=Showcases) demo
2. Select the milk truck
3. Tilt the camera all the way down and rotate it so the sun is in frame
4. Move the camera left and right with the sun in frame.  The atmosphere and sun will ge

[2016-01-18 18:24] lilleyse commented on #3442
Duplicate of this: https://github.com/AnalyticalGraphicsInc/cesium/issues/3178

[2016-01-18 18:26] hpinkos commented on #3442
thanks @lilleyse

[2016-01-18 18:26] #3442 closed

[2016-01-18 19:59] hpinkos commented on #2524
Some geometry improvements:
* #2364 Better height/extrudedHeight parameter definitions, central location for epsilon value
* #3044 Polygons with holes triangulation error
* #1209 Triangulate non-manifold polygons
* #1894 #2915 Maintain parallel arrays for polylines
* #998 #2788 Support large polygons and circles

[2016-01-18 22:03] hpinkos commented on #871
This is definitely the most requested feature on the forum. Here are a few posts:

https://groups.google.com/forum/?hl=en#!topic/cesium-dev/2xmQ2ETqeyg
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/I8UcJ4_Hqj8
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/e2H7EefikAk
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/lZAr0L6Cq9s

[2016-01-18 22:21] emackey commented on #871
[Another strategy](http://gis.stackexchange.com/questions/129903/cesium-3d-determining-the-map-scale-of-the-viewed-globe/144496#144496) is to dig into the currently loaded/requested tiles, the way Cesium Inspector does.  This is not as precise as the four-corner globe pick, and has other problems as well, but it does provide answer covering at least the whole visible surface even when space or sky

[2016-01-19 13:00] #3249 closed

[2016-01-19 18:26] pjcozzi commented on #3245
Fixed in #3257.

[2016-01-19 18:26] #3245 closed

[2016-01-19 18:27] pjcozzi commented on #3102
Fixed in #3426.

[2016-01-19 18:39] mramato commented on #3102
Are you going to open a separate issue for this part?

[2016-01-19 20:16] kepta commented on #3439
Hi @pjcozzi , can I work on this one?
In this file SkyAtmosphereVS.glsl,
[code]
I think this is what needs to be modified? Any pointers on how to implement?

[2016-01-19 21:35] AmayAgrawal commented on #3306
So sir we have to just remove the whole thing (i.e. Development category).Can I work on it??

[2016-01-19 22:17] AmayAgrawal commented on #3198
Sir can you please elobrate what type of error is this and when you encounter this error??

[2016-01-20 07:40] tokyovigilante commented on #3439
Some additional realism could be added to the atmosphere when lighting is enabled by fading the brightness or alpha on the night side of the globe.

It might also be cool down the track to combine the existing fog and atmosphere into a unified shader.  The new Google Earth JS app does this, and there is another GLES/Unity example at http://scrawkblog.com/2014/05/19/proland-to-unity-atmosphere/. Th

[2016-01-20 12:29] e-andersson commented on #3424
Back at work today after having been sick for a few days.

I'm still working on this, will try to get the basic approach (loading only visible children rather than all children) to work.

[2016-01-20 13:15] pjcozzi commented on #3198
@AmayAgrawal I don't think this is a good beginner issue.

[2016-01-20 13:16] pjcozzi commented on #3102
Ah, good catch.  No, I'll just re-open this.

@tfili can you do this for the 1.18 release on February 1?

[2016-01-20 14:55] emackey commented on #3198
So, what's happening here is we're expecting the Red channel to be bright, and the Green and Blue channels to both be dark (we asked for zero, and we expect less than 10 / 255 as a result).  Some machines use color profiles to tweak rendered colors to look nicer on the particular type of monitor attached, and sometimes this affects our render test results, hence the sloppy expectation.

In this ca

[2016-01-20 19:09] emackey opened #3447 "Strange texture coordinates"
I'm seeing a strange issue that I haven't fully tracked down yet.  It appears to be damaged texture coordinates, or incorrect interpolation of some kind.  Here's some code to reproduce in Sandcastle:

[code]

The desired result is a box with a proper material applied, in this case the Checkerboard material shows the layout of the texture coordinates.  Here's what my machine produces:

![bustedbox]

[2016-01-20 19:41] mramato commented on #3447
I can reproduce this.  It seems to be related to height, at 112 there's no problem, at 113 you see one side go incorrect.  The higher you go the more incorrect it gets.  My guess is either there's a precision issue we're not taking into account (so the farther you get from Cartesian3.ZERO the worse it gets), or we simply aren't accounting for height somwhere.

Here's another simplified example via

[2016-01-20 19:42] mramato commented on #3447
You can also see this in http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Geometry%20and%20Appearances.html&label=Showcases

Just change the first polygon (second item overall) and add `height: 150000,`.  It will produce the following:

![image](https://cloud.githubusercontent.com/assets/1495196/12460889/0d1702ae-bf84-11e5-9cd2-3fd3d9cfdf01.png)

[2016-01-20 21:35] lilleyse opened #3448 "Remove throttleRequests flag in TerrainProvider and inherited classes"
`throttleRequests` is now replaced by a `Request` object. For `1.19`, the following code

[code]

can change to

[code]

in `ArcGisImageServerTerrainProvider`, `CesiumTerrainProvider`, and `VRTheWorldTerrainProvider`.

[2016-01-21 03:11] emackey commented on #3447
Here's some more insight.  Paste the sample from the top of this issue back into Sandcastle, and replace the one line in the middle where `var material` is declared, with the following:

[code]

This custom material shows just the vertical texture coordinate `t`, as brightness.  If we also modify `boxAltitude` to be 100 meters, we see the expected vertical gradient: (surrounded by blue ocean in th

[2016-01-21 12:24] kepta commented on #3439
@tokyovigilante Can you help me work on this bug ? :P

[2016-01-21 13:37] e-andersson commented on #3424
Prefetching children outside of the view frustum might make a small difference, but if we do request all children, I think when zooming in quickly LODs would get much slower to refine.

[2016-01-21 13:50] pjcozzi opened #3450 "Use frameState.afterRender to fire QuadtreePrimitive.tileLoadProgressEvent"
In case, for example, someone adds new primitives in the callback.

For example, see https://github.com/AnalyticalGraphicsInc/cesium/blob/7d449906cf65cf06e75d5cde7bf2dd5921bc95dd/Source/Scene/ModelAnimationCollection.js#L387

[2016-01-21 18:52] tokyovigilante commented on #3439
Sure, my physics background doesn't cover optics extensively, but we can give it a crack.

Have a look at [Mie](https://en.wikipedia.org/wiki/Mie_scattering) and [Rayleigh](https://en.wikipedia.org/wiki/Rayleigh_scattering) scattering online.

The atmosphere in Cesium is currently based on [this GPU Gems article](http://http.developer.nvidia.com/GPUGems2/gpugems2_chapter16.html)

There is a DX9 im

[2016-01-21 18:58] kepta commented on #3439
First I would like to know,
Do we need to implement an API to change atmosphere colour?

[2016-01-21 19:08] tokyovigilante commented on #3439
Again that depends on your goal. If you want a more realistic representation of Earth's atmosphere, you'll need to implement one of the approaches I've mentioned above.

If you want to represent a different atmosphere, then you need to understand that the mixture of gases determine the scattering of sunlight and therefore perceived color, and alter input parameters, which to do effectively you'll

[2016-01-21 22:28] hpinkos opened #3452 "Billboards with heightReference ignore vertical origin property"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/a1yO9oX-O8I

In the following example, you can see that the billboard added with `heightReference : Cesium.HieghtReference.CLAMP_TO_GROUND` appears to ignore the `VerticalOrigin.CENTER` property and appears offset from the billboard added without the `CLAMP_TO_GROUND` property.

[code]

[2016-01-22 06:52] AmayAgrawal commented on #3020
So sir we want to remove or update the links as shown by @hpinkos.

[2016-01-22 12:35] SunBlack opened #3453 "High memory consumption if tiles.json is big"
We have a KdTree with ~400.000 (each tile is 200KB) nodes in a single tiles.json (82MB Json file in compact mode). If I open cesium with this tiles.json Chrome crashes and Firefox starts using ~3GB of memory - even if no tile will be loaded. A possible solution for me will be to split tiles.json in multiple once (I hope), but nevertheless someone should take a look at parsing tiles.json to save me

[2016-01-22 13:18] pjcozzi commented on #3241
After doing a bunch of reference doc, I don't have a strong preference, but I am find with this, e.g.,
[code]
Compared to
[code]
[code]
[code]
`Cesium.Tileset3D` would also be OK.  @lilleyse what do you think?

[2016-01-22 15:24] pjcozzi commented on #3020
Hi @AmayAgrawal - it is fine to just remove them.

[2016-01-22 16:30] #3398 closed

[2016-01-23 12:50] kepta commented on #3450
@pjcozzi  Can I take this one?

[2016-01-23 22:35] pjcozzi commented on #3450
Sure.

The code you'll want to modify is here:

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/QuadtreePrimitive.js#L458-L465

The example to use is here:

https://github.com/AnalyticalGraphicsInc/cesium/blob/7d449906cf65cf06e75d5cde7bf2dd5921bc95dd/Source/Scene/ModelAnimationCollection.js#L387

Make sure to run all the tests and that they still pass.  See https://github.

[2016-01-24 11:51] kepta commented on #3450
I tried changing the code to this,
[code]
However, the test case
[code]
fails, what am I missing ?

[2016-01-25 15:31] Larcius opened #3457 "camera.flyTo not working when in 2D mode and only orientation changes"
camera.flyTo not working when in 2D mode and destination remains but orientation changes.
I'm quite sure this happens because of line 303-304 in CameraFlightPath:
`var empty = scene.mode === SceneMode.SCENE2D;`
`empty = empty && Cartesian2.equalsEpsilon(camera.position, destination, CesiumMath.EPSILON6);`
`empty = empty && CesiumMath.equalsEpsilon(Math.max(frustum.right - frustum.left, frustum.top

[2016-01-25 15:46] pjcozzi commented on #3241
@tomped I added a section above for you for when you start on 3D Tiles.

[2016-01-25 16:11] hpinkos opened #3459 "Geometry entity with translucent image material bug"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/GMCZ7y4vLbo
This was introduced in 1.16.  The translucent parts of the png are filled in black.
![image](https://cloud.githubusercontent.com/assets/3451886/12556451/ef39e840-c353-11e5-8d18-62c1fb47deec.png)

Code example:
[code]

I think this is happening because the `translucent` property of the appearance is being se

[2016-01-25 16:23] hpinkos commented on #3457
Thanks @Larcius!  That's exactly what's causing the bug.  Are you interested in submitting a bug fix pull request?  We'd be happy to accept it!

Here's a sandcastle example for testing:
[code]

[2016-01-25 16:29] mramato commented on #3459
Yes, this is a change in behavior after #3206.  I'm not sure of the best solution, but we may need to add another property to the Entity API.  `alpha` affects the transparency of the opaque parts, while a `transparent` property would indicate if the image itself has transparency.  This is definitely sub-optimal because even the developer may not know the answer but I don't think we can detect this

[2016-01-25 16:43] mramato commented on #3459
Talked with @bagnell offline, this is impossible to fix in all cases without renderer changes.  The problem is that in order for transparency to work at all, it needs to be in the transparent pass; however, putting it in the transparent pass means that volumes, such as a box or sphere, will end up with the backside rendered as well.  For example, here is master:

![image](https://cloud.githubuserc

[2016-01-25 16:43] pjcozzi commented on #3453
3D Tiles supports a tileset referencing another tileset by having a tile's `content` point to another tileset.json file.  See the [External Tilesets](https://github.com/AnalyticalGraphicsInc/3d-tiles/blob/master/README.md#external-tilesets) part of the spec.  It should work well for your case.

I also agree that 400,000 empty tiles should not use up that much memory; we'll look into that.

By the

[2016-01-25 16:58] hpinkos commented on #3459
@mramato  I still think the second case, reporting it as translucent, is more expected behavior than filling the transparent parts in black. Could we change it back to that for now even though it's not technically "correct"?
Alternatively, could we fix it for ellipsoid surface geometry types like `Rectangle`, `Ellipse` and `Polygon`?

Or should I just keep pointing people to use an alpha value as

[2016-01-25 17:20] mramato commented on #3459
The problem is that changing it back means that it will be wrong for all volumes, even when images are completely opaque.  We need to both change it back and expose the property I think.

[2016-01-25 17:21] mramato commented on #3459
Setting the alpha is probably a good work around for the time being, since it's very similar to what the "fix" will do anyway.

[2016-01-25 17:36] Larcius commented on #3457
alright, I'm working on it

[2016-01-25 21:48] emackey commented on #3447
Thanks @hpinkos!

[2016-01-25 21:48] #3447 closed

[2016-01-26 10:09] SunBlack commented on #3453
We are currently trying to get a some of our point clouds into cesium. This was a try with ~5% of our data of a single city ;-).

[2016-01-26 12:52] kepta opened #3467 "Scrollbar resets while viewing documentation"
It seems that the scrollbar pulls back to its default position whenever the documentation page changes.
Now this can be irritating sometimes while reading the docs.
We can have the scrollbar retain its position depending on which doc the user is currently on.

[2016-01-26 15:30] emackey commented on #3467
Hi, which documentation are you talking about: Locally built, or the [iframe embedded docs](http://cesiumjs.org/refdoc.html), or the [stand-alone hosted docs](http://cesiumjs.org/Cesium/Build/Documentation/index.html)?  Personally I'm most frustrated by the iframe docs, this is on a roadmap somewhere for us to improve.

Also, there are two scrollbars in each set of documentation: One for the index

[2016-01-26 17:03] pjcozzi commented on #3238
This will be 1.20.

[2016-01-26 17:04] pjcozzi commented on #3238
Removed in #3460, which replaced #3150.

[2016-01-26 17:09] pjcozzi commented on #3393
@bagnell can you still look at this for 1.18 (on Monday)?

[2016-01-26 17:13] pjcozzi commented on #3102
The binary checkbox will be grayed out when glTF 1.0 is not selected since the converter does not output CESIUM_binary_glTF anyway.

[2016-01-26 18:19] mramato opened #3471 "Allow Viewer.zoomTo/flyTo to take an ImageryLayer"
As I mentioned in #3470, now that we have `ImageryLayer.getViewableRectangle`, it should be straightforward to have `Viewer.zoomTo` and `Viewer.flyTo` support `ImageryLayer` instances as a parameter.

[2016-01-26 20:38] pjcozzi commented on #3102
Updated.

[2016-01-26 20:38] #3102 closed

[2016-01-26 20:47] kepta commented on #3467
I am sorry for being ambiguous. I was talking about
https://cesiumjs.org/Cesium/Build/Documentation/SkyAtmosphere.html

Now when you you scroll down in the left pane and click on an API doc, the scrollbar doesn't retain its previous position and resets to default 0.

[2016-01-26 21:18] emackey commented on #3467
Yep that's a real bug.  The doc source is auto-generated from [the jsDoc template folder here](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Tools/jsdoc/cesium_template).  You can build it on your own system with `npm run generateDocumentation`, and it will be created in your `Build` folder.

The main problem here is that the table of contents (left-side pane) is part of the page, an

[2016-01-26 21:33] hpinkos commented on #3459
Also mentioned here in a later post: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/W7cUl_uWAZU

[2016-01-26 22:09] kepta commented on #3467
We can calculate the approximate position of the scrollbar depending on the doc user currently is in.
Though that wont save the last scrollbar position but it is better than having set it back to zero.
Or we can communicate the previous scrollbar position using a # in the url ?

[2016-01-26 22:15] #3457 closed

[2016-01-26 22:19] pjcozzi commented on #3177
Great work @lilleyse!

[2016-01-26 22:19] #3177 closed

[2016-01-27 08:59] kepta commented on #3471
I want to work on this issue, I speculate that we need to somehow check if zoomTarget is an ImageryLayer right?

[2016-01-27 23:08] AmayAgrawal commented on #3448
Can u give one example of what to change exactly

[2016-01-28 00:16] AmayAgrawal commented on #3345
Sir can u please explain what we have to do exactly in this issue

[2016-01-28 13:40] pjcozzi commented on #3448
Thanks for the interest, @AmayAgrawal, but let's wait until #3476 is merged.

[2016-01-28 15:36] SunBlack opened #3483 "Paths to pnts are not anymore relative to tiles.json"
With changes of commit c45cc14 point clouds in tiles.json cannot be anymore references relative to tiles.json. Instead paths have to be relative to the directory of current app.

E.g. you have following files:
- cesium/Apps/PointCloud/index.html
- cesium/Apps/PointCloud/data/tiles.json
- cesium/Apps/PointCloud/data/0.pnts

Until revision 04f6b9b you could reference 0.pnts from tiles.json by
`"cont

[2016-01-28 15:43] lilleyse commented on #3483
I think the case you mentioned should be fixed in the latest version of 3d-tiles. If it still doesn't work I can look into it more.

[2016-01-28 15:45] lilleyse commented on #3483
Also `_url` signifies the url that the user gives when creating the dataset, and `_baseUrl` specifies the actual base directory that the tileset.json is contained in (it will have the trailing slash).

[2016-01-28 15:46] SunBlack commented on #3483
True. I was on latest version and had some trouble with it. Now I stepped all merges into 3dtiles branch  from our last working version into direction of latest version. Now I'm on latest version again and all issues disappeared *confused*

[2016-01-28 15:46] #3483 closed

[2016-01-28 19:41] mramato opened #3485 "Replace or augment npm strip-comments module"
We use [strip-comments ](https://www.npmjs.com/package/strip-comments) as part of the build process. Versions `0.4.0` and later no longer work on glsl code (presumably because they switched to using an actual JS parser which obviously can't parse glsl.

We are stuck on `0.3.2` for now and should either find and use a different module, be good Samaritans and support to glsl to `strip-comments`, or

[2016-01-28 20:23] #3393 closed

[2016-01-28 21:10] #3020 closed

[2016-01-28 21:10] hpinkos commented on #3020
Fixed in #3480

[2016-01-28 22:24] hpinkos opened #3488 "Billboards with CLAMP_TO_GROUND don't like being dragged"
There's an error in drawing billboards that are clamped to ground when their position updates a whole bunch.  `billboard.position` will have the correct position, but the billboard will occasionally jump around on the screen when you zoom in and out.

@mramato suspected there is a race condition somewhere in our clamp to ground computation.  The position value might change while clamp to ground is

[2016-01-29 14:47] hpinkos opened #3491 "Polyline with arrow material is blurry"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/sFOMs4XMJQk

It's particularly noticeable when the polyline has a large width:
![image](https://cloud.githubusercontent.com/assets/3451886/12678474/f6d67b06-c66c-11e5-81de-28edecba645c.png)

[2016-01-29 15:51] mramato commented on #3491
This also has major issues at horoizon views.  Look at it from the front and you'll see crazy zig-zagging and jumping around the atmosphere overlap.

[2016-01-29 16:36] hpinkos commented on #3491
BONUS:  It'd be nice of the width parameter was used for the width of the polyline, not the width of the arrow head.  And the arrow head should maintain a nice proportion.  It doesn't look good all stretched out like this for a polyline with a large width.

[2016-01-29 19:39] hpinkos commented on #3488
So, with some investigating, I think I figured out what is happening:

`Billboard` calls `QuadtreePrimitive.updateHeight` whenever the position is changed.  This adds a callback function to every tile, so when that tile is updated it update the billboard.
`QuadtreePrimitive.updateHeight` returns a function to remove the callback.  `Billboard` calls this remove function every time the position chan

[2016-01-29 19:43] hpinkos commented on #3488
I did code a workaround that fixes the bug by ignoring the callback if it's not the latest position and pushed it to the `billboardClampToGroundBug` branch.
Setting breakpoints here helped me figure out that it's an issue with the `QuadtreePrimitive`.  In case that's useful:
https://github.com/AnalyticalGraphicsInc/cesium/blob/billboardClampToGroundBug/Source/Scene/Billboard.js#L850

[2016-01-29 20:35] mramato opened #3495 "Cesium constantly throwing exceptions in background workers"
With the default globe, the `createVerticesFromHeightmap` worker is crashing, preventing the globe from being drawn (it doesn't show up unless you have all exceptions turned on).

@bagnell is investigating.

[2016-01-29 22:21] mramato commented on #3495
So apparently Cesium works, but constantly raises exceptions in the background workers while using heightmaps (including the ellipsoid).  This is still a big problem, but not as dire as originally thought.

We should still fix it before releasing.

[2016-01-30 18:38] kepta commented on #3450
@pjcozzi a little help here please :)

[2016-01-30 18:48] mramato opened #3496 "Setting CESIUM_BASE_URL without a trailing slash breaks Cesium"
This took me a while to track down, but apparently if you set `CESIUM_BASE_URL` to a valid value but without a trailing `/` you will no longer get a globe and a bunch of stuff will fail to load.  I assume this can be fixed a the `buildModuleUrl` level.

CC @shunter

[2016-02-01 12:07] slightGT commented on #3171
I confirm the bug:

Mac Pro
OSX Yosemite 10.10.5
2 x 3 GHz Quad-Core Intel Xeon
12 GB RAM
ATI Radeon HD 5770
![schermata 2016-02-01 alle 13 05 24](https://cloud.githubusercontent.com/assets/12815732/12716937/8633e760-c8e4-11e5-986b-f7d0eb2cb15f.png)

I will try to update the OS.

[2016-02-01 14:39] mramato opened #3497 "Autolinker being added to global scope"
Below is a modified version of `HelloWorld.html` that compares items in the global scope before and after the combined `Cesium.js` is loaded.  This spits out 4 values

[code]

Cesium, viewer, and `loadJsonp445142` are all expected, but `Autolinker` is being required in `KmlDataSource.js` and should not be setting a global.  This is either a bug in Autolinker or something we are doing in correct.

[2016-02-01 15:46] #3495 closed

[2016-02-01 16:26] hpinkos opened #3499 "GlobeSurfaceTileProvider._debug.wireframe toggle doesn't work"
If you go to the Cesium Inspector sandcastle example and toggle `Wireframe` under `Terrain`, nothing happens.
This was working in 1.17

[2016-02-01 17:11] #3499 closed

[2016-02-01 18:43] hpinkos commented on #2860
New failure in 1.18: `Scene/DeviceOrientationCameraController rotates for alpha`

[2016-02-01 18:55] hpinkos commented on #1755
Fixed in FF 44.0.

[2016-02-01 18:55] #1755 closed

[2016-02-02 07:22] Parthesh opened #3507 "Ease of access to API reference"
Technically its not an issue with the Cesium library, but it is with the access to the access to the API reference documentation. On this link [http://cesiumjs.org/refdoc.html](url) in the search box, if user enters children class names such as "getHeight" which belongs to "viewer.scene.globe", there are no search results. It would be helpful if this is improved.

[2016-02-02 15:04] emackey commented on #3507
For what it's worth, this kind of search is available in the [Sandcastle editor](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=All).  Try entering the following line of code:

[code]

Double-click the word `getHeight` to select it.  Once it's selected, a tooltip pops up with a link to the documentation.  Clicking this link opens the docs in an embedded tab next

[2016-02-02 15:13] SunBlack opened #3508 "Send 404 error in case of compressed file not exists"
Since revision 90fd9f5 you don't get anymore a 404 error in case your browser want to load a tile which not exists. Instead you get always a ERR_CONTENT_DECODING_FAILED (same message occurs in case tile data are not gzip compressed, so you don't see anymore if a tile couldn't be loaded because of tile data are missing or data are not compressed).

I could preorduce this issue with all gzip compres

[2016-02-02 15:17] pjcozzi commented on #3508
Thanks we'll look at this as part of #3241.

[2016-02-02 21:30] TomPed commented on #3241
@pjcozzi does this mean the field `readyPromise` in the file `Cesium3DTile.js`?

[2016-02-02 22:04] pjcozzi commented on #3241
@TomPed yes.

[2016-02-03 19:36] TomPed commented on #3241
@pjcozzi I can't seem to find `isReplacementRefinable` in the project.

[2016-02-03 21:08] lilleyse commented on #3241
Ah, don't worry about that we removed that. I'll update the task.

[2016-02-03 22:18] BGR360 opened #3514 "[Beginner][Bug] BingMapsImageryProvider using incorrect mapStyle (always defaults to AERIAL)"
I am just beginning to use Cesium for the first time. I tried to create a small script in the HelloWorld.html example app, and it mostly works. However, when I try to change the Imagery from AERIAL to AERIAL_WITH_LABELS, the viewer does not change its imagery style, it keeps the default.

Here is what the documentation says about how to do this:

[code]

[code]

Now here's me combining those two m

[2016-02-03 22:43] shunter commented on #3514
`imageryProvider` is only used when `baseLayerPicker` is false, like in your first code snippet. but missing from your final snippet.

This is mentioned in the doc: http://cesiumjs.org/Cesium/Build/Documentation/Viewer.html and throws an error when using a debug build (recommended when doing development for better error reporting).

[2016-02-03 22:43] #3514 closed

[2016-02-03 22:46] TomPed commented on #3241
Should this be `Cesium3DTileContentProvider`?

[2016-02-03 22:50] lilleyse commented on #3241
Yeah. The asterisks are just saying all things named like that.

[2016-02-03 22:51] TomPed commented on #3241
Oh gotcha, so I'll change anything with 3DTileContentProvider is to be changed to `3DTileContent`.

[2016-02-03 22:52] lilleyse commented on #3241
Yup

[2016-02-04 14:04] hpinkos opened #3516 "Use official NoSleep release when navigator bug is fixed"
In #3509, I changed our copy of NoSleep.js so that it checks if `navigator` is defined.
I submitted a PR to NoSleep here: https://github.com/richtr/NoSleep.js/pull/13
If/When that gets merged, we should switch back to use the official release

[2016-02-04 16:01] #1798 closed

[2016-02-04 17:21] #3488 closed

[2016-02-04 19:03] lilleyse commented on #3241
It can be removed. I added it in order to support attempting to load tileset.json across multiple frames if the `RequestScheduler` was full, but that was before I added the `RequestScheduler.request` function. @pjcozzi I'm more familiar with how this should work, should I handle this one?

[2016-02-04 19:11] pjcozzi commented on #3241
@lilleyse sure, whatever you think.

[2016-02-04 20:28] TomPed commented on #3241
Are these commented lined to be deleted? Or is the code to be uncommented and fixed?

[2016-02-04 20:43] lilleyse commented on #3241
We want to bring it back, and add the messages to the UI rather than just the console. Maybe it's best to skip this one for now because @pjcozzi is simplifying `3D Tiles.html` on the style branch,

But eventually I think the idea is to have a better UI for visualizing 3D Tiles, similar to the Cesium Inspector demo. This may require looking around at other Sandcastle files for ideas.

[2016-02-05 06:05] vijquick commented on #3247
+1
Any update on this issue please?
Thanks

[2016-02-05 06:34] gantamk commented on #3247
+ I

[2016-02-05 08:35] jumpinjackie commented on #2730
@icholy Ah, I see someone else is also trying to make a (sorely needed) TypeScript definition for Cesium

I'm currently developing a JSDoc plugin to generate TypeScript definition files from parsed JSDoc doclets.

https://github.com/jumpinjackie/jsdoc-typescript-plugin

Initial focus is currently to automatically generate working TSD files for OpenLayers, but Cesium is also in my crosshairs.

Perh

[2016-02-05 12:11] vanurin commented on #873
Hello,
It seems to me that Cesium interprets KML absolute `<altitudeMode>` as altitude from ellipsoide, while in KML [specs ](https://developers.google.com/kml/documentation/altitudemode)it should be an altitude from sea level (or EGM96 if my guess about Google Earth sea level is true).
Please, tell if there is any work towards altitudeMode support?

[2016-02-05 14:01] anne-gropler opened #3523 "entity selecting when viewer.scene3DOnly = true"
Minimum code to reproduce this in Sandcastle:
[code]
Scroll out to see the cone. Click on it to select it. The green brackets should follow the cone, but they don't.
Double-click to track it. You will see the green brackets, the rest is black. Click the home button to untrack it and it will throws:
[code]

This does not happen with `scene3DOnly: false`.
This does not happen when you add an Ellipse

[2016-02-05 14:26] hpinkos commented on #3523
Thanks for the very detailed description @anne-gropler!  This is definitely a strange bug.  We'll try take a look at it soon!

[2016-02-05 14:59] mramato commented on #873
It is on our roadmap, but there's no ETA.

[2016-02-05 15:26] mramato commented on #2730
@icholy and @jumpinjackie I'm sure we'd be happy to ship an official TS definition file with Cesium if there's an easy way to automatically generate and validate it as part of our build process, so I'm all for this effort.

[2016-02-05 15:29] icholy commented on #2730
@mramato @jumpinjackie #2879 is my blocker

[2016-02-05 16:34] vanurin commented on #873
Thank you for response! And good luck with your roadmap!

[2016-02-05 18:43] bagnell opened #3524 "Cardboard VR demo"
We need a better VR demo than just the globe. I have an OK one [here](bagnell.github.io/WebVRDemo). It just uses a cut down version of the interpolation Sandcastle example and locks the camera behind the plane.

Maybe we could create CZML for the moving plane and keep the camera code. I can imagine use cases that people would want the camera code. For example, people could use the code to lock the

[2016-02-05 19:24] mramato commented on #3524
@emackey can you get us a fighter jet or similar with a modeled cockpit? We were talking offline and it would be awesome to have the demo be a first-person cockpit view flying around the world, then you would just look out the window.  Should be a trivial amount of code and we can model the flight in STK and export a CZML file.

[2016-02-05 19:28] mramato commented on #3524
A hot-air balloon would also be cool.

[2016-02-07 00:21] chriseyhorn commented on #3171
I am also getting this error on my Mac running 10.11 with AMD graphics card.

[2016-02-08 10:48] viraj96 commented on #3496
Do you want to append / to all places where buildModuleUrl is called.

[2016-02-08 13:50] mramato commented on #3496
No, `buildModuleUr` needs to be updated to work whether or not a slash present at the end of `CESIUM_BASE_URL`.  You should only have to modify the one file.  The `joinUrls` might be the solution here.

[2016-02-08 14:05] sanuj commented on #3431
@pjcozzi I would like to work on this. Shall i replace all `geometryInstance` by `geometryInstances` in the code base in a new branch or is there more to it?

[2016-02-08 18:58] emackey commented on #3524
![balloonscreenshot](https://cloud.githubusercontent.com/assets/1235080/12895745/ee7f5660-ce6b-11e5-9fba-6a8b5c83456f.jpg)

[2016-02-08 19:04] mramato commented on #3524
:+1: We can always count on you @emackey!

[2016-02-08 19:42] lilleyse commented on #3241
@pjcozzi

We have a test for `tile visible event is raised`, is this something different?

[2016-02-08 19:44] lilleyse commented on #3241
Never mind, so basically just make a spy that checks it was called.

[2016-02-08 19:44] TomPed commented on #3241
Got it.

[2016-02-08 20:27] pjcozzi commented on #3431
@bagnell is the best person to advise.

[2016-02-08 20:30] hpinkos commented on #3524
@emackey that looks awesome!

[2016-02-08 20:35] pjcozzi commented on #3524
@emackey absolutely love the new model!

Can you also donate this to the [glTF sample models](https://github.com/KhronosGroup/glTF/blob/master/sampleModels/README.md)?

[2016-02-08 20:53] hpinkos opened #3532 "Update gulp-zip to latest version after Windows permission bug is fix"
Reverted to 3.0.2 in #3531

https://github.com/sindresorhus/gulp-zip/issues/65

[2016-02-08 22:26] TomPed commented on #2657
If you change this:
[code]
to this:
[code]
I believe that you get the same error. So should we also not allow the parameters to be optional? Or should I just add and if check: `if ((north === south) || (east === west))` and handle this case separately?

[2016-02-08 23:05] pjcozzi commented on #2657
Leave `Rectangle.fromDegrees` as is, and do the check in `RectangleOutlineGeometry` and `OutlineGeometry` (and most likely through the pipeline into `Primitive`, which should now not assume the input geometry has any vertices.

We should check the other geometries too, e.g., if all sides of a box have length zero, etc.

[2016-02-08 23:41] TomPed commented on #2657
Gotcha, thanks.

[2016-02-09 01:50] mramato commented on #3524
Random idea: In addition to the balloon the webVR user is riding in, have a handful of other balloons dotted around the sky to give a sense of scale and show things in the air, otherwise looking down is the only option.

[2016-02-09 13:53] sanuj commented on #3062
@mramato I would like to work on this if this issue is still open. I read the CZML Guide. How may I get started on this?

[2016-02-09 15:46] speigg opened #3536 "Add length property to Matrix classes to make them fully Array-like"
This allows Matrix objects to be used as arrays in APIs that expect an array-like object.

For example, adding a length with the value of 16 to the Matrix4 class would allow a TypedArray to be set directly from a Matrix4 instance:

[code]

Without a length property, the above silently fails. With a length property, it works as expected.

Proposal summary, add these properties:

[code]

[2016-02-09 19:22] pjcozzi commented on #3536
Thanks for the idea, @speigg!

This is OK with me.  Good beginner issue.  Any other thoughts?

[2016-02-10 03:01] viraj96 commented on #3536
So we just need to add length properties to their respective .js files only. Or should we something else.

[2016-02-10 03:39] mramato opened #3540 "Figure out why TMS layers generated with gdal2tiles geodetic profile do not work"
When creating layers with gdal2tiles, using the geodetic profile seems to generate tilesets that are unusable in Cesium. Geodetic is actually the preferred profile because it avoids reprojection (thus providing better performance).

This could be a bug in gdal2tiles or it could be a bug in Cesium, either way we should figure it out to be sure.

Originally discussed as part of #3489

[2016-02-10 12:14] #3345 closed

[2016-02-10 12:39] pjcozzi commented on #3536
Yes, we would add a length like this: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/AssociativeArray.js#L30-L34

And also add tests: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Documentation/Contributors/TestingGuide/README.md

And update CHANGES.md

[2016-02-10 15:54] hpinkos opened #3542 "Poor occluder results when not using WGS84 ellipsoid"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/yeBO2sbUNhA

The billboards show through the back of the ellipsoid when you start to move the globe around:

[code]

[2016-02-10 16:05] hpinkos opened #3543 "Make Entity API use custom ellipsoid"
It looks like the Entity API only uses the default Ellipsoid.WGS84.  As a result, you can't really use it if you need a custom ellipsoid.  In this example, the polygon is hovering above the globe because the ellipsoid is smaller than earth:

[code]

[2016-02-10 16:12] mramato commented on #3543
The (simply by hacky) workaround for this is to actually modify `WGS84` at the start of your app so that it has the custom size, then just use the default everywhere.

It might actually be a decent real solution to have `Ellipsoid.default` in addition to `Ellipsoid.WGS84` and just have the former equal the latter by default.  Then we use `Ellipsoid.default` everywhere we currently use `Ellipsoid.W

[2016-02-10 16:14] mramato commented on #3543
The actual problem here is that all of the `XXXGeometryUpdater` objects use the default ellipsoid value rather than getting it from the scene.  Should be a straightforward fix, but I don't have the bandwidth to do it myself right now.

[2016-02-10 16:22] bagnell commented on #3431
@sanuj It does not need to be replaced, just removed and only in `GroundPrimitive`. Though you may want to work on something else because it needs to be removed after the 1.19 release. Otherwise, it would sit in a branch until then.

[2016-02-10 19:45] hpinkos commented on #3238
Remember to delete `TileMapServiceImageryProviderSpec` as well

[2016-02-11 01:45] theplatapi opened #3549 "Geocoder doesn't respect minimumZoomDistance"
When searching for a location, it will zoom in as far as it needs to without checking the ScreenSpaceCameraController's minimumZoomDistance field. Trying to zoom from there makes it jump to a zoomed out position. Also it takes a lot of scrolling to zoom out after the jump.

Sandcastle example below. Try searching for "Butlers Gorge" for an example.

[code]

[2016-02-11 08:55] e-andersson opened #3550 "3d-tiles: billboards with transparent image will not show 3D tiles through transparent parts"
I'm not sure to what extent billboards should be expected to work with 3D tiles.

If I add a billboard with a png image, part of which is transparent, the transparent part will show the base map imagery even if there are 3D tile models that in between.

This is the order of things, from the camera:
`Camera ---> billboard --- 3D tile ---- base map imagery (covered from this angle by 3D tile)`

Any

[2016-02-11 09:59] sanuj commented on #3238
@hpinkos Shall I delete `TileMapServiceImageryProviderSpec` and `TileMapServiceImageryProvider` and send a PR?

[2016-02-11 10:31] sanuj commented on #3062
@mramato @pjcozzi Do I need to edit `Source/DataSources/CzmlDataSource.js` and `Specs/DataSources/CzmlDataSourceSpec.js` by adding functions like `processPolylineVolume` and `processCorridor` and so on, then create CZML examples for PolylineVolume and Corridor in `Apps/Sandcastle/gallery/` ?

[2016-02-11 14:12] mramato commented on #3550
This is a bug with billboards in general, see #2130.  @bagnell has had a potential fix for a while but I believe it adds extra draw calls that @pjcozzi wanted to avoid for performance reasons.  Personally, this is near the top of my most wanted list for bug fixes (and is totally worth a performance trade-off if it's not too bad); but I'm no expert in this area so I'll have to defer to them.

Since

[2016-02-11 14:12] mramato commented on #2130
Brought up again in #3550

[2016-02-11 15:13] e-andersson commented on #3550
Thanks @mramato, will keep an eye on the existing issue.

[2016-02-11 15:13] #3550 closed

[2016-02-11 16:18] hpinkos commented on #3238
@sanuj sure! We'll just leave the PR open until after the March release.

[2016-02-11 16:20] hpinkos commented on #3549
Thanks @theplatapi!

[2016-02-11 22:56] hpinkos opened #3554 "Setting layer.hue to transparent imagery layer is black in IE"
reported on the fourm: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/2_vzcdaEQWA
In IE only:
If you change the `layer.hue`, the transparent parts of the imagery are black instead of transparent

[code]

[2016-02-11 23:35] cfickler opened #3555 "Timeslider error"
Guys, I am seeing this timeslider error crop up now when using the timeslider.

![timeslider_error](https://cloud.githubusercontent.com/assets/16298736/12994280/71349494-d173-11e5-8066-c3657b2aa3c1.jpg)

This error seems hard to produce but this next one is easy.

Uncaught DeveloperError: Invalid ISO 8601 date.
Error
    at new t (http://cesiumjs.org/NewYork/index.js:572:1200)
    at Function.I.fr

[2016-02-12 00:48] theplatapi commented on #3549
I can try fixing it, since I need it this working relatively soon. Should I take the initiative or is someone already making progress on this?

[2016-02-12 01:01] mramato commented on #3549
@theplatapi No one is actively working on this and we love pull requests, so go for it.  Just be sure to check out [CONTRIBUTING.md](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md) for guidelines for contributing.  You'll need to email us a filled out CLA in order for us to accept the contribution.

Thanks in advance!

[2016-02-12 01:04] mramato commented on #3555
Thanks for the bug report.  We should probably have better defaults on the timeline to stay within valid ranges.

As for the control, we will most likely not make any changes in that regard until we completely refactor the timeline, which is some of the oldest UI code in Cesium.

[2016-02-12 02:15] theplatapi commented on #3549
I'll take a look at it and see if I can put something together.

[2016-02-12 02:28] pjcozzi commented on #797
* It will be easy enough to do by hand, but here's a tool to convert WebGL 1 to WebGL 2 shaders: https://github.com/Jam3/glsl-100-to-300/

[2016-02-12 05:59] sanuj commented on #3431
@bagnell I'll remove it after the 1.19 release then.

[2016-02-12 06:00] sanuj commented on #3238
@hpinkos I'll remove it after the March release then other I would have to rebase the branch again.

[2016-02-12 09:01] aamir-reactore commented on #3247
+1

[2016-02-12 09:12] svsachin13 commented on #3247
+1

[2016-02-12 22:03] tfili opened #3565 "Polygon renders incorrectly in 2D/Columbus View"
Here is a sandcastle example

![image](https://cloud.githubusercontent.com/assets/1652382/13021595/16201376-d1aa-11e5-8509-06eb70550c69.png)

![image](https://cloud.githubusercontent.com/assets/1652382/13021553/e9cf81da-d1a9-11e5-99a3-1ebad572ad81.png)

[code]

[2016-02-15 16:30] mramato opened #3571 "Testing infrastructure roadmap"
#3381 added initial karma support to Cesium but left the old system in place until we are completely switched over and happy with the new one.  Here's a list of remaining tasks

**Complete migration**
- [x] Update release guide to use karma.
- [ ] Add coverage support via `istanbul`
- [x] ~~Expose `karma grep`, i.e. ability to easily run a single test or set of tests from the command line.~~ Use `

[2016-02-15 16:40] mramato commented on #1050
Now part of #3571

[2016-02-15 16:40] #1050 closed

[2016-02-15 16:43] pjcozzi commented on #652
Related to #3571.

[2016-02-15 17:08] hpinkos opened #3572 "Create DataSource asynchronously"
From the forum:
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/JhAJJsg_dBA
https://groups.google.com/forum/#!topic/cesium-dev/pwL3LTU80a8

When loading larger files, Cesium is unresponsive while the GeoJson or KML DataSource is creating all of the `Property`.  Maybe this could be done with web workers instead.

[2016-02-15 19:49] shunter opened #3575 "SampledProperty.setInterpolationOptions does not properly ignore undefined"
The implementation does not match the documentation.  This makes it impossible to load CZML that relies on the documented defaults for algorithm / degree (LINEAR / 1)

failing test case:

[code]

[2016-02-15 20:02] shunter commented on #3575
Other issues in this class:

* `setInterpolationOptions` should treat `options` as optional, as indicated in the doc for the function.
* The example code incorrectly uses backticks for strings instead of single quotes.

[2016-02-16 02:41] tfili opened #3577 "Removing/Adding from EntityCollection doesn't work with events suspended"
In `KmlDataSource.js` when a `NetworkLink` is refreshed we remove old entities, then add new entities. We need to `resumeEvents()` then `suspendEvents()` in between the removes and adds or the entities don't update.

You can see the code here: https://github.com/AnalyticalGraphicsInc/cesium/pull/3538#discussion-diff-52938624R2420

I discovered this using the document https://github.com/tfili/geosp

[2016-02-17 04:45] mjturtora opened #3586 "A couple minor edits to the Visualizing-Spatial-Data tutorial"
I've been working through the subject tutorial (http://cesiumjs.org/tutorials/Visualizing-Spatial-Data/
) and have had a few problems with the instructions. I've found solutions to a couple of them that could be solved with some simple edits to the doc (and no doubt avoid considerable frustration for newbies).

**Entity description introduction**

The Entity.description code block after this text:

[2016-02-17 10:09] vrittis opened #3588 "Kml containing Style tags with namespace doesn't load styles correctly"
Trying to load the same kml in Cesium, I'm observing that the style tag is not loaded correctly and the component is loaded without a style (kml file loaded as text file)
[Areas.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/134004/Areas.txt)

In the GEarth plugin the style is applied correctly.

[2016-02-17 10:15] vrittis commented on #3588
I already have a correction for this issue, which consists of changing the `queryNodes ` method in the `KmlDataSource.js` file, and more specifically the `node.getElementsByTagName(tagName);` which doesn't take the namespace into account.

I will try and add tests for this behavior, however I wanted to know whether or not I could add an example of the kml that poses problem to the Samples Area in

[2016-02-17 14:55] mramato commented on #3588
Hi @vrittis.  Sounds like a great pull request, thanks for reporting the problem and even more for trying to fix it.

SampleData is reserved for demo data that is used in Sandcastle, we have two ways of handling data for the tests.

1. If the snippet to reproduce the issue is really small (like < 10 lines) then you can embed it right in the test itself.  Here's an [example](https://github.com/Anal

[2016-02-17 15:31] vrittis commented on #3588
Thanks @mramato but I don't see anything in @tfili pull request that changes style management. Maybe we can push this issue into his pull request?

[2016-02-17 15:55] mramato commented on #3588
That PR was just merged, so you can branch off of master to make and test your changes.  Thanks.

[2016-02-17 16:00] hpinkos commented on #3586
Thanks for the feedback @mjturtora!  We'll work on updating that tutorial.

[2016-02-17 17:08] mramato commented on #3082
The bug was fixed in 1.17 and the gaps are gone.  I believe an unrelated fix to the underlying Polygon geometry code fixed this as well.

[2016-02-17 17:08] #3082 closed

[2016-02-17 17:10] mramato commented on #2770
Fixed in #3538

[2016-02-17 17:11] #2770 closed

[2016-02-17 17:28] hpinkos commented on #3536
@speigg this was added in #3579 and will be available in the next release

[2016-02-17 17:28] #3536 closed

[2016-02-18 00:13] pjcozzi opened #3596 "Issue and Pull Request templates"
https://github.com/blog/2111-issue-and-pull-request-templates

Will check this out for making the guidelines more prominent.

[2016-02-18 13:21] vrittis commented on #3588
Please be advised that this issue only happens on Firefox / IE, not chrome. Sorry for the PR name, I made a mistake submitting it

[2016-02-18 16:33] tfili commented on #873
@mramato Here is what should be checked off

For NetworkLinks

In `<Link>` all these are done
[code]

For `<Icon>` there isn't any refreshing but these now work for the first load
[code]

`<NetworkLinkControl>` has support for
[code]

These are also done
 - StyleMap - locally defined
 - root:// notation for older KML documents

[2016-02-18 16:46] drakej commented on #53
This would be nice although any form of draw ordering control is welcome.

[2016-02-18 16:54] drakej opened #3598 "Modifying show on multiple polylines"
When I attempt to change the polyline.show attribute on two entities at once, only one of the changes is actually visualized.

I recently found this issue when instead of setting the show attribute to true on multiple polylines inside of an event handler. I also set billboard.show on multiple other entities and the changes are propogated and displayed accordingly. I attempted to debug this which l

[2016-02-18 16:55] drakej commented on #3598
Just to clarify, only the first one I change goes through. It's the second polyline I update with show = true; that ends up not being displayed.

[2016-02-18 17:03] hpinkos commented on #3598
Thanks for investigating this @drakej!  The extra details are helpful.
Yeah, if you're unable to figure out the problem, please do put together a Sandcastle example so we can reproduce it =)

[2016-02-18 17:35] drakej commented on #3598
`var czml = [
  {
    "id" : "document",
    "name" : "CZML Geometries: Polyline",
    "version" : "1.0"
  },
  {
    "id" : "redLine",
    "name" : "Red line on the surface",
    "polyline" : {
      "show": false,
      "positions" : {
        "cartographicDegrees" : [
          -75, 35, 0,
          -125, 35, 0
        ]
      },
      "material" : {
          "polylineOutline": {

[2016-02-18 18:12] hpinkos commented on #3598
Hmm, that is oddly specific. haha.
We'll definitely have to take a closer look at this.
Thanks again for all of the information!

[2016-02-18 19:06] hpinkos commented on #2657
Fixed in #3599

[2016-02-18 19:06] #2657 closed

[2016-02-18 19:54] 13kenney commented on #873
Thank you, wonderful news about the Network Links support!

[2016-02-18 22:19] mramato commented on #3598
It looks like this bug may be specific to the per-material batching code used by GeometryVisualizer.  Might be an easy fix.

[2016-02-19 04:58] yash14123 commented on #3586
Is it open?
I would like to work on this,

[2016-02-19 04:59] yash14123 commented on #3596
I would like to take this up.
Please assign me this.

[2016-02-19 05:01] yash14123 commented on #3516
Is it merged already?
I can take this up then . :)

[2016-02-19 05:02] yash14123 commented on #3497
I am taking this up.

[2016-02-19 12:08] pjcozzi commented on #3596
Thanks for the offer, @yash14123, but I plan to do this one to keep our messaging consistent.

[2016-02-19 16:17] hpinkos commented on #3497
Thanks @yash14123!  Hopefully this will be an easy fix.
Just for reference, if you were looking for other issues to tackle, we have the [beginner label](https://github.com/AnalyticalGraphicsInc/cesium/issues?q=is%3Aopen+is%3Aissue+label%3Abeginner) for issues we think are good ones for new contributors.

[2016-02-19 16:18] hpinkos commented on #3516
Nope, no movement on this one yet.

[2016-02-19 16:21] hpinkos commented on #3586
Thanks @yash14123, but this something we have to update on our website and only certain people have access to that.
Take a look at some of our [beginner issues](https://github.com/AnalyticalGraphicsInc/cesium/issues?q=is%3Aopen+is%3Aissue+label%3Abeginner) and see if you would like to do any of those =)

[2016-02-19 18:39] hpinkos opened #3607 "Weird tile loading for exaggerated terrain introduced in 1.18"
![image](https://cloud.githubusercontent.com/assets/3451886/13185000/fc5e9242-d70c-11e5-8d95-16352293b94b.png)

If you open the [terrain exaggeration](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Terrain%20Exaggeration.html&label=Showcases) example and zoom in and rotate around you'll see random floating flat tiles.
It seems to be related to them being too close to the camera.  If you

[2016-02-19 18:40] hpinkos commented on #3607
related issue reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/tYvyat8e090

[2016-02-19 19:38] hpinkos opened #3609 "PolylineVolumeGeometry binormals are incorrect for a box"
Only a problem for the box shape.  A circle works fine.
It uses GeometryPipeline.computeBinormalandTangent.
At some point, `r = Infinity`, causing `NaN` later down the line
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/GeometryPipeline.js#L1282

Demo:

[code]

[2016-02-19 20:32] hpinkos commented on #3045
It looks like the first 60 or so positions are being set to (0, 0, 1) somehow
So some triangles have zero area
like triangle with indices [65, 1, 0]

[2016-02-19 20:42] hpinkos opened #3610 "WallGeometry: Check if position heights > 0 if maximumHeight is not defined"
Return undefined in this case:

[code]

[2016-02-19 20:45] pjcozzi commented on #3607
Agreed.  @bagnell can you please look at this?

[2016-02-19 20:53] hpinkos opened #3611 "WallGeometry: Bad indices"
It looks like every wall has 12 zeros (4 triangles with indices [0,0,0]) at the end of the indices array

[2016-02-19 21:28] hpinkos opened #3613 "Check for Infinity and NaN values in calculations"
Discussed in #3605
 "We should start adding validation like this (within debug pragmas) in many more places. Basically, throw as soon as any calculation anywhere produces a NaN. This would help to work to finally track down the dreaded "invalid array length" in the frustum code, which is where all NaNs eventually end up crashing currently."

Few examples I stumbled across:

In barycentricCoordinat

[2016-02-19 21:35] pjcozzi commented on #3613
One detail: instead of, for example, checking for infinity afterward, we generally want to add a conditional to detect divide by zero beforehand.

[2016-02-19 21:36] hpinkos commented on #3613
:+1: good call

[2016-02-21 00:23] kring commented on #3613
Sylvain wrote a nifty tool years ago that would modify .NET code to automatically insert a "check for NaN and infinity and throw" after each floating point arithmetic statement.  It also felt a bit like overkill to me, but maybe something to consider.

Also:

I don't agree with this, because it's unreliable.  In `x / y`, a `y` close but not equal to zero can also result in infinity.  And how close

[2016-02-21 14:13] pjcozzi commented on #3613
OK with me.

[2016-02-22 14:55] mramato opened #3614 "3D Tiles Sandcastle example has mouse issues in IE 11"
Obviously not a big deal until we are ready to bring 3d-tiles into master, but I wanted to submit this before I forget.

The mouse doesn't behave as expected when running the 3D Tiles Sandcastle example in IE11.  Panning and rotation are wildly inaccurate.  Running the demo in Chrome works fine.  It looks like other examples work fine in the 3d-tiles branch, so maybe it's something specific to the

[2016-02-22 15:16] hpinkos commented on #3598
Likely related: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Dr4Go1LiEys

[2016-02-22 16:35] denverpierce commented on #3459
This also affects KML <GroundOverlay>'s with alpha channels.

[2016-02-23 17:20] #3610 closed

[2016-02-23 17:20] #3611 closed

[2016-02-23 18:03] #3549 closed

[2016-02-23 19:28] pierotofy commented on #3607
Confirm, I had the same issue.

[2016-02-24 11:47] sagariEduri22 commented on #3247
I'm also facing the similar issue in my project.please update the progress on this issue.

[2016-02-24 11:48] devidatta45 commented on #3247
+1
can anyone please help me on this..

[2016-02-24 11:49] kankarsuresh commented on #3247
+1
Thanks jpremkumar for such a good example

[2016-02-24 22:46] nmschulte opened #3628 "ThirdParty/knockout-3.2.0 not included in built release"
I've been playing with Cesium and [jspm](http://jspm.io/)/[SystemJS](https://github.com/systemjs/systemjs), and I think I've stumbled upon an issue with the pre-built flavors of the release (as published to npm).

SystemJS is having trouble resolving the `"ThirdParty/knockout-3.2.0"` dependency.  Looking at the built source (Cesium.js), there is no module definition for `"ThirdParty/knockout-3.2.0

[2016-02-24 23:05] shunter commented on #3628
`ThirdParty/knockout-3.2.0` is indeed defined as a module in the built file (check http://cesiumjs.org/releases/1.18/Build/CesiumUnminified/Cesium.js and search for `ThirdParty/knockout-3.2.0`)

However, because we just pull in the Knockout release file, there is different boilerplate than in most Cesium modules.

Perhaps this Knockout issue is related?  https://github.com/knockout/knockout/issues

[2016-02-24 23:10] nmschulte commented on #3628
Thanks @shunter; I'm thinking you're on the right path.  I don't know how I missed that `define`.  I'll test your ideas and see what I find.

[2016-02-24 23:53] nmschulte commented on #3628
@shunter it looks like upgrading to Knockout 3.4.0 did resolve the issue.  I'm running into other issues now so I couldn't test that the upgrade didn't have breaking API changes, but it would be great if a Knockout 3.4.0 was on the radar.  I'll let you close or modify this issue as you see fit; thanks for chiming in!

[2016-02-25 02:15] #3588 closed

[2016-02-25 02:47] haisapan opened #3630 "can glow the point like PolylineGlowMaterialProperty, make the point like lightup"
I need one feature is make the point lightup, like the PolylineGlowMaterialProperty. But I haven't found how to implement it, the PolylineGlowMaterialProperty is only for polyline.

Can I use like this:
pointer.material = new Cesium.PolylineGlowMaterialProperty({
	glowPower : 0.2,
	color : Cesium.Color.BLUE
 });

or use some linear color?

[2016-02-25 03:43] swapna14 commented on #3247
+1
facing the same issue, can anyone help on this please..
Thanks

[2016-02-25 15:06] heksemann opened #3632 "ick"

[2016-02-25 15:09] #3632 closed

[2016-02-25 15:11] hpinkos commented on #3630
Hello @haisapan,

This functionality is not available for points.
Please ask questions like this in our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
You will get a better response.

Thank you!

[2016-02-25 15:11] #3630 closed

[2016-02-25 15:17] #3628 closed

[2016-02-25 18:50] pjcozzi commented on #3057
Potential fixes discussed in #3058.  In particular, see https://github.com/AnalyticalGraphicsInc/cesium/pull/3058#issuecomment-187415107.

[2016-02-25 21:47] pierotofy opened #3638 "loadImage.js Cross Origin"
The current code does not allow passing of credentials to a map server hosted on a separate domain via CORS.

In Source/Core/loadImage.js:86

[code]

https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_settings_attributes
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img (crossorigin)

Should there be a way to choose between "anonymous" and "use-credentials"?

This probably affects

[2016-02-26 06:33] haisapan commented on #2130
Hi guys, I also got this issue, anybody can help or can give us a time to fix? @mramato @bagnell @

[2016-02-26 08:56] bicealyh commented on #3614
The master branch also has the same problem.  The mouse wheel does not respond In IE11.

[2016-02-26 11:23] SunBlack opened #3639 "Add option to Cesium3DTileset to set custom appearance"
Currently it seems not to be possible to to change appearance of a PointCloud. There exists already a PointAppearance but this will be always set fixed in Points3DTileContent and it is not possible to pass parameter to this appearance. But we need ability to attach other shaders to a PointCloud and to modify point size (PointAppearance provide an option to modify point sze, but I didn't found a wa

[2016-02-26 14:11] pjcozzi commented on #3639
Thanks for the input.  Have you seen the declarative styling work-in-progress for 3D Tiles: https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/2

What are you going to base point size on?  One of the point's attributes, e.g., temperature, etc.?

Also, have you already built a project on 3D Tiles?  If so, let me know - https://groups.google.com/forum/#!topic/cesium-dev/2NlWw_vqVVs

[2016-02-26 20:06] SunBlack commented on #3639
Currently we just need point size to increase general appearance. E.g. if you are really far zoomed in you have a point each 20px. If a pixel is just 2px you don't really see them good. Another nice effect of increased pixel size: You can decrease number of necessary loaded points. E.g. if you have a 4K Display you  need 1920*1080 points with a size of 2 pixel to fulfill screen. Each point current

[2016-02-26 22:05] pjcozzi commented on #3639
The base implementation of point clouds will have adaptive point size based on distance, and hopefully occlusion culling based on that.

For declarative styles, when used with point clouds, I expect that we will generate GLSL from the AST so everything will be done in a shader, see https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/2

[2016-02-28 05:50] bicealyh opened #3642 "Billboard can't set the min and max scale"
Billboard can't set the minimum  and maximum scale, let it display interval  the minimum  and maximum scale.

[2016-02-28 22:59] mramato commented on #3642
@bicealyh In the future, please ask questions [on the forum](http://cesiumjs.org/forum.html) instead of filing a GitHub issue.

I think what you are looking for is the billboard [scaleByDistance](https://cesiumjs.org/Cesium/Build/Documentation/BillboardGraphics.html#scaleByDistance) property you can use to give them a min and max scale.

[2016-02-28 22:59] #3642 closed

[2016-02-28 23:19] mramato commented on #3638
@pierotofy You are correct, but we need to figure out a clean way to implement it (which is the main reason it's not done yet).  The two ideas would be global per-origin settings on the `loadImage` function itself or threading through options from the top all the way down into `loadImage`.  I've wavered back and forth between the two but would have to try them to know which is ultimately better.

[2016-02-28 23:23] mramato opened #3643 "Mouse wheel broken in IE11"
The mouse wheel works on the website, but is broken in master.  Just run any Cesium demo or Viewer.

[2016-02-28 23:29] mramato commented on #3614
@bicealyh you are correct, but the two are unrelated.  This mouse wheel is actually a much bigger issue since it's broken in master.  I submitted #3643 for us to fix this before the next release.  Thanks for the heads up.

[2016-02-28 23:31] mramato commented on #3643
@bagnell can you take a look at this on Monday?  If not, I can try and figure out what's going on.

[2016-02-29 06:57] bicealyh commented on #3643
In the 103 line of core/ScreenSpaceEventHandler.js, by increasing the IE11 judgment can solve this problem. For example:

      // detect available wheel event
        var wheelEvent;
        if ('onwheel' in element) {
            // spec event type
            wheelEvent = 'wheel';
        } else if (defined(document.onmousewheel) || (/Trident\/7\./).test(navigator.userAgent)) {	  //IE11

[2016-02-29 21:36] mplussier commented on #1640
This last solution works in the sense that we don't see the white texture appearing anymore. However the geometry still flickers (it disappears and then reappears) every time its texture is changed. The solution proposed by mramato would be great for my needs:

Another idea would be to have a flag to load the texture synchronously. Thanks

[2016-02-29 23:01] hpinkos opened #3647 "2D doesn't respect z ordering by height"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/o27hEKTNcPU

The points in this example have a greater height than the rectangle.  However, in 2D, the points are drawn below the rectangle.

Here's the example from the forum post:
[code]

[2016-02-29 23:29] pjcozzi opened #3648 "Upcoming breaking WebVR changes"
http://blog.tojicode.com/2016/02/moving-towards-webvr-10.html

[2016-03-01 13:49] lilleyse commented on #3643
The mouse wheel functionality was broken in https://github.com/AnalyticalGraphicsInc/cesium/commit/a094c4ad00af91c7c11d46779338369cfc2e582d. `document.onmousewheel` is null, so the following code also works.
[code]

[2016-03-01 14:17] mramato opened #3650 "Use https instead of `//` everywhere by default"
Traditionally, using `//` was standard practice because it would use the protocol of the existing page, i.e. `http` on http pages, `https` on https pages. With the pending transition to https everywhere, it makes sense for us to replace `//` everywhere we currently use it with `https` instead.

Furthermore, using `//` in offline apps (such as cordova or webviews) causes `//` to become `file://` wh

[2016-03-01 14:26] #3643 closed

[2016-03-01 14:33] lilleyse opened #3651 "Alpha texture is extra bright in IE"
The screenshots here are Chrome first then IE.

![alpha2](https://cloud.githubusercontent.com/assets/915398/13429847/2d54219c-df90-11e5-9a12-40bfdf44b4ca.JPG)
![alpha1](https://cloud.githubusercontent.com/assets/915398/13429845/2c21903e-df90-11e5-832f-f47e58ec0ff7.JPG)

[2016-03-01 14:35] mramato commented on #3651
This is a long standing issue and dupe of #2106 (I don't think anyone has ever looked that closely into it, maybe it's an easy fix).

[2016-03-01 14:35] #3651 closed

[2016-03-01 15:16] pierotofy commented on #3638
I think an approach similar to how BingMapsApi keys are set could work well:

[code]

Or maybe add a method:

[code]

I wouldn't see a need for cascading the options from the top, unless there's a use case where credentials should be sent only on certain requests and not in others.

[2016-03-01 15:30] #3045 closed

[2016-03-01 15:33] mramato commented on #3638
I believe that at the very least, it would need to be per-origin, so instead of a single value it's an object whose keys are the origin and value is the value assigned to crossOriginAttribute.

CC @shunter any thoughts here?

[2016-03-01 16:19] hpinkos opened #3653 "Add ability to fly to a tracked entity"
Requested in the forum https://groups.google.com/forum/?hl=en#!topic/cesium-dev/a8bwwV3BYuE

Currently, when viewer.trackedEntity is set, it zooms directly to the tracked entity.  I would be nice to have a duration option for this behavior to enable flyto functionality.
This function needs to respect the entity.viewFrom property.

[2016-03-01 16:25] mramato commented on #3653
FYI, this has been on the entity roadmap a long time.  It's a pretty hard problem to solve for moving entities.  The best way to do it would be to allow camera flights to be scheduled to occur in scene time rather than wall time, then you can fly to the position you know the entity will be at when the flight is over.

[2016-03-01 16:39] lilleyse commented on #3607
All I can say here is the problem was introduced in 50938745833342b208fb0b1c5eec921bc092f607

[2016-03-01 16:45] mramato commented on #3607
Given the circumstances, I'm okay with pushing this to the next release.  Leave the `next release` tag though so we don't forget.

[2016-03-01 20:07] mramato commented on #3638
Yes, same problem (though the global options approach may not be as appropriate here but give it a try and see).  I would not open a separate issue.

[2016-03-02 00:52] pjcozzi commented on #3309
Ask check out http://eslint.org/, which would replace JSHint and add style rules.  Sounds like it is widely used and has a ton of plugins.  I heard about it here: http://audio.javascriptair.com/e/010-jsair-eslint-with-feross-aboukhadijeh-gyandeep-singh-ilya-volodin-and-jamund-ferguson/

[2016-03-02 01:12] mramato commented on #3309
I know all about eslint.  I've never used it, but I've heard it has performance problems, is difficult to configure and tries to do too much.  I'm not saying it's not worth looking into, it's just the first impression I got.

I also like that jsHint is about code correctness while jscs is about code style, both have a singular goal. eslint on the other hand tries to be everything to everyone and d

[2016-03-02 01:21] kring commented on #3309
We've started using eslint because of its support for ES2015 and React JSX.  No complaints.  It finds a _ton_ of stuff and it's very configurable.

[2016-03-02 01:32] mramato commented on #3309
@kring did you just volunteer to add eslint support for us?  Because it sounds like you volunteered to add eslint support for us :)

[2016-03-02 01:37] kring commented on #3309
You guys are all Webstormy, not sure I can help you. :)  I used this guide to get it rigged up in Sublime Text:
https://medium.com/@dan_abramov/lint-like-it-s-2015-6987d44c5b48#.8h09m2v3h

We're not running it from gulp yet (no good reason, just haven't bothered as this is only in a particular branch so far) but I don't expect any difficulties.  The biggest hurdle is putting together an `.eslintrc

[2016-03-02 01:41] mramato commented on #3309
Does eslint catch everything that jsHint can?  One major concern would be losing functionality.

Another possible gotcha for us is that we use jsHint in-browser in Sandcastle.  I suppose we could keep using jsHint when live-coding and use eslint offline.

[2016-03-02 01:45] kring commented on #3309
I assume so, it has so many rules; I have to imagine any worthwhile jshint rules have been added by now.  But I never tried to compare.

You're probably right that it's much slower.  Hopefully that's not a major concern, but if it took 20 minutes or something to run on Cesium that'd be pretty annoying.  It's probably pretty easy to do a quick test.

I can't speculate on what it would be like to ru

[2016-03-02 01:50] mramato commented on #3309
Yeah, if it's as easy to turn on with some default rules as jscs, then we can run both and look at performance.

It doesn't.

[2016-03-02 10:15] gberaudo opened #3656 "GroundPrimitive and PolygonOutlineGeometry"
When using a ground primitive with a polygon outline geometry, Cesium used to skip rendering the primitive. In master it now freezes the globe due to a geometry instance beeing undefined.

The issue only occurs with the new `geometryInstances` property, and not with the deprecated `geometryInstance`. Indeed, with the following sandcastle snippet, the `groundInstances` array
created in `GroundPrimi

[2016-03-02 15:10] hpinkos commented on #3656
Hello @gberaudo,
I'm a little confused about the problem you're seeing.  Did you mean to say polygon outline geometry?  In your example, you're using a `PolygonGeometry`, and `PolygonOutlineGeometry` isn't yet supported by `GroundPrimitive`.

What version of Cesium are you using?  Your example ran fine for me in Sandcastle with Cesium 1.19, which was released yesterday.  If you look at the code, `

[2016-03-02 15:14] mramato opened #3657 "Test Cesium under node"
Now that we ship an official Cesium node module, and the non-webgl parts are actually supposed to work under node, we should include node testing as part of the CI and release processes.  I think we can leverage all of our existing jasmine tests and run them under node unchanged (of course many will fail), and then the hard part will be to go in and make them work (where it makes sense) or add the

[2016-03-02 15:47] eric79 commented on #3653
Alternately, you could query for the position of the `trackedEntity` at each frame of the interpolation to update the goal position.  As a result, the camera would follow a curved path to the tracked entity, rather than a straight line to the goal, but the curved path might end up being more visually pleasing (maybe?).

It would also have the side effect that the camera would speed up as it moved

[2016-03-02 16:25] gberaudo commented on #3656
Sorry for the confusion, the sandcastle example should indeed use `PolygonOutlineGeometry`. Updating it. I tested commit 2cf0e06fb4ea4f9af950895c5628edeae7b872a6 from yesterday.

This example is artificial, for simplification. In OL3-Cesium, [the code creating the GroundPrimitive with the geometry instances](https://github.com/openlayers/ol3-cesium/blob/a3e7a3baf9f884550801a9f50995f844d4c4e740/src

[2016-03-02 17:29] hpinkos commented on #3656
Great, thanks @gberaudo.
I put in a fix here #3659

[2016-03-02 22:03] #3656 closed

[2016-03-02 22:16] hpinkos commented on #3656
@gberaudo, We actually decided the best solution was to throw a `DeveloperError` if the `GroundPrimitive` doesn't support the primitive type.  You should be sending your outline geometry types to `new Primitive` instead.
Thanks for bringing this up!

[2016-03-02 23:08] gberaudo commented on #3656
Thanks @hpinkos for the follow up and advice.

[2016-03-03 01:36] mramato commented on #3571
FYI, I implemented coverage support in the `coverage` branch.  It was super trivial to do but there is currently a major performance issue that causes coverage to either fail or (with a few problematic tests excluded) take 8 minutes to run.  I'm trying to figure out what the problem is and have an email out to their forum about it: https://groups.google.com/d/msg/karma-users/te2YdIW7b7s/eyZY7A6kFg

[2016-03-03 01:52] mramato commented on #3571
I submitted an issue to istanbul as well: https://github.com/gotwarlost/istanbul/issues/556

[2016-03-03 19:26] lRawd opened #3664 "Timeline.zoomTo needle position"
`var startTime = new Cesium.JulianDate(1721425, 43210);`
`var stopTime = new Cesium.JulianDate(1721426, 11258);`
`viewer.timeline.zoomTo(startTime, stopTime);`

This causes the timeline needle to have an enormous left offset (left: 2.81476e+08px;) and in turn causes rendering issues for other html elements (ex. cesium-viewer-fullscreenContainer).

[2016-03-03 19:38] emackey commented on #3664
In the future, please use [our forum](https://groups.google.com/forum/#!forum/cesium-dev) for questions.  Thanks!

[code]

[2016-03-03 19:38] #3664 closed

[2016-03-03 20:42] lRawd commented on #3664
It wasn't really a question. The Timeline documentation doesn't specify that the needle position will be based on the current time, I assumed it was supposed to be the start time passed in. When I saw the large offset and the rendering issues it was causing, it seemed like a bug.

Also, Timeline.updateFromClock isn't listed in the API documentation and is marked as private in the source code.

[2016-03-03 20:52] hpinkos commented on #3664
Thanks @lRawd
We have an issue open for refactoring the timeline and improving the documentation here: #754
I'll link your issue so whoever updates the timeline widget makes sure this is addressed.

[2016-03-04 14:53] hpinkos commented on #871
@mramato @pjcozzi can we close this issue now that we added the `Camera.computeViewRectangle` function in #3538?

[2016-03-04 15:05] mramato commented on #871
Yes.  Since this is oft-requested (for right or wrong reasons) we should also add it to CHANGES for the next release (even though it went in 1.19.  I'll do that right in master.

[2016-03-04 15:05] #871 closed

[2016-03-04 20:17] hpinkos commented on #1592
This is something that gets requested in the forum frequently.

https://groups.google.com/forum/?hl=en#!topic/cesium-dev/0XA8qWPQfRE
https://groups.google.com/d/msg/cesium-dev/agtOrHYEhUo/lGlFb5q4EQAJ

[2016-03-06 03:54] bicealyh opened #3672 "Tilt map scroll wheel zoom in, sometimes jump"
In the eastern hemisphere with terrain data, when  tilt the map， and then  scroll wheel zoom in, it will jump sometimes.

[2016-03-07 10:15] anne-gropler opened #3674 "maxHeight for Camera.flyTo()"
Hello,

I use Camera.flyTo() to animate the camera. This function has the option `maximumHeight`.
If I don't use `maximumHeight`, the camera flies up and then down again. If I do use `maximumHeight`, then it just flies straight (without flying up) to the destination, _regardless_ of the value of `maximumHeight`. So `maximumHeight = 0` makes the same camera flight path as does `maximumHeight = 2000

[2016-03-07 12:09] jacmendt opened #3676 "Problems with terrainExaggeration parameter in version > v.1.16"
I expected some problems with the the `terrainExaggeration` parameter in cesium versions >= 1.17. I used a `terrainExaggeration` value of 4.0 in version 1.16 and it works for me. In newer versions, my terrain / imagery isn't display anymore if zooming to higher zoom levels. My area of interest was europe.

I reproduced the error running the [sandbox application](https://cesiumjs.org/Cesium/Apps/Sa

[2016-03-07 14:53] mramato commented on #3676
Thanks @jacmendt, this is a known issue that we definitely plan on fixing for our next release (April 1st).

Since this is a duplicate of #3607, I'm going to close this issue.  Thanks again.

[2016-03-07 14:53] mramato commented on #3607
Reported again via #3676

[2016-03-08 11:28] colek42 commented on #3653
Take a look at the paper Physicomimetic Motion Control of Physically Constrained Agents.  Might give some insight on how to solve the issue.

[2016-03-08 15:00] hpinkos commented on #3044
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/wNDxpEPK6QQ

[sample-geojson.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/163355/sample-geojson.txt)

[2016-03-08 19:31] ChrisBarker-NOAA opened #3684 "Dealing with Gridded data?"
Enhancement request:

At least in the oceanographic and meteorology communities (and other earth sciences) it's a common need to want to view results from gridded data.

There are multiple grid types (regular grids being the easiest but not very common type), but all share in common that there is a defined geometry of the grid, and then there is data associated with the that geometry, and that dat

[2016-03-08 20:16] MannusEtten opened #3686 "geocoding locations"
i used the simple interface and filled in an address

first in the flat view: margit sziget (in budapest Hungary)
--> wrong location

so i switched to the 3d version:
--> correct location

did i something wrong?

[2016-03-08 20:53] #3674 closed

[2016-03-08 20:57] hpinkos opened #3688 "Camera.flyTo rectangle incorrect in 2D"
Reported in #3686

`camear.setView` goes to the rectangle, `camera.flyTo` does not.
[code]

[2016-03-08 21:00] hpinkos commented on #3686
Thanks for reporting this @MannusEtten!  I've tracked down the problem to an error in our Camera.flyTo function.   I've created an issue here with more details: #3688

For now, if you set the geocoder's `flightDuration` to zero, it will go to the correct location.
Add this to your code:
[code]

I'm going to close this issue since it's covered by the issue I opened.  Thanks!

[2016-03-08 21:00] #3686 closed

[2016-03-08 21:10] hpinkos commented on #3672
Hi @bicealyh.  Can you please provide some more details?  I'm not able to reproduce this problem.
Thanks!

[2016-03-09 16:26] tfili opened #3690 "Terrain in 3d-tiles branch constantly refreshes"
If you load a buildings tileset on Terrain, the terrain constantly reloads/unloads. I'll send the tileset offline. Just load that tileset in the Sandcastle 3dTiles example and enable terrain.

[2016-03-09 16:36] pjcozzi commented on #3690
@lilleyse can you look at this?  Perhaps also test the request scheduler branch off of master.

[2016-03-09 16:43] lilleyse commented on #3690
Yes I'll look into this.

[2016-03-09 18:07] tsmith717 commented on #3690
please ping me when this fix is in - we have 3 customers that need this. Thanks!

[2016-03-09 20:08] lilleyse commented on #3690
It looks like this is actually a bug in master, not 3d-tiles or `RequestScheduler` related. If you turn terrain on while the flat terrain is still loading, you may run into this issue.

[2016-03-09 20:10] lilleyse commented on #3690
Test with the following Sandcastle code:

[code]

Then quickly turn terrain on before the globe fully loads.

[2016-03-09 20:27] lilleyse commented on #3690
The problems are starting with: https://github.com/AnalyticalGraphicsInc/cesium/pull/3593 @bagnell You may have a better idea here.

This code should reproduce the problem:

[code]

[2016-03-09 20:45] bagnell commented on #3690
I found the issue and am working on a fix.

[2016-03-09 21:31] lilleyse opened #3694 "Failing tests in 3d-tiles"
From #3689

`Cesium3DTilesetSpec: handles failed tile requests` is failing, which causes a lot of other tests to fail because it is clogging the `RequestScheduler`. As an aside it would be nice to be able to reset the `RequestScheduler` before every test so this type of thing doesn't happen, but I'm not sure what the best way to do this is.

For the failing test, the request fails (gets a 404 mess

[2016-03-09 21:34] lilleyse commented on #3694
Also it works on Firefox and IE.

[2016-03-10 14:47] novacto2 commented on #3688
Could you please take a look at it #3695 ?
@hpinkos

[2016-03-10 18:00] hpinkos commented on #3247
@bagnell can you give @jpremkumar advice for fixing this issue?

[2016-03-10 19:55] andthenwhat commented on #2981
has anyone had success with browserify?  My attempts to used browserify.external and browserify.ignore have just produced different versions of failure.  I can post the problems I'm having, but wanted to see if anyone had succeeded before I do.

[2016-03-10 23:33] pjcozzi commented on #3694
When did this start failing?  Was it a Cesium change or Chrome update?

[2016-03-11 04:45] jpremkumar commented on #3247
Hi @bagnell,

Based on the [discussion](https://groups.google.com/forum/embed/?place=forum%2Fcesium-dev&showsearch=true&hideforumtitle=true&fragments=true&parenturl=http%3A%2F%2Fcesiumjs.org%2Fforum.html%23!msg%2Fcesium-dev%2FdytuqT2v364%2Fn4J8CvBZCQAJ&theme=default#!topic/cesium-dev/dytuqT2v364) I'd with @hpinkos, it looks like the problem could be related to "camera transformation".

Can you adv

[2016-03-11 13:46] lilleyse commented on #3694
It passes in Chrome Canary as well, so this may be caused by a Chrome update.

[2016-03-11 15:06] mramato commented on #3694
It seems to fail in the last version of Chrome too (48).  So I'm not sure it's a problem that started with 49.  `handles failed tile requests` also passes if run standalone; so my assumption is there is a race condition in our code somewhere, most likely having to do with RequestScheduler.

[2016-03-11 15:14] lilleyse commented on #3694
It doesn't pass standalone for me with 49.

[2016-03-11 15:25] mramato commented on #3694
Apparently it doesn't for me either, but it does pass in Chrome 48 standalone (when run via WebStorm with Electron).  But fails in 48 when run altogether.  If you guys really think it's a Chrome bug, then I guess we can ignore it on Chrome until 50 is released, but I'm still suspicious it's a race condition on our end somewhere.

[2016-03-11 15:37] lilleyse commented on #3694
Just doing a more basic test here. The error is not printed. When I restart the server with gzip off for b3dm, it does print the error.

[code]

[2016-03-11 16:41] #3694 closed

[2016-03-11 17:07] pjcozzi opened #3702 "Ability to import code samples into Sandcastle"
Perhaps using

* (shortened) encoded urls (for import and export), or
* GitHub gists

as discussed offline with @mramato.

Does anyone want to mentor @TomPed on this?

[2016-03-11 17:28] Larcius commented on #450
How about this?
https://github.com/Larcius/cesium-navigation

Based on alberto-acevedo cesium-navigation (which was based on terriaJS) I added 2D and Columbus support and changed it to a viewer mixin.

[2016-03-11 17:29] Larcius commented on #450
Examples are available at
http://larcius.github.io/cesium-navigation/

[2016-03-11 19:28] #1518 closed

[2016-03-11 19:30] mramato commented on #2065
#3251 adds the ability to maintain camera position when morph duration is 0, but not yet when an animated morph occurs.

[2016-03-11 19:32] mramato commented on #451
Sill lame after #3521

[2016-03-11 19:35] mramato commented on #1845
I can't reproduce this anymore after #3521

[2016-03-11 19:35] #1845 closed

[2016-03-12 18:44] pjcozzi commented on #3684
Thanks for the info, @ChrisBarker-NOAA.  Perhaps this would fit well with [3D Tiles](https://github.com/AnalyticalGraphicsInc/3d-tiles).

[2016-03-12 23:33] pjcozzi commented on #3596
We're not moving forward with this for now as discussed in #3637.

[2016-03-12 23:33] #3596 closed

[2016-03-13 00:15] ChrisBarker-NOAA commented on #3684
From an admittedly quick look at 3D Tiles, yes, it looks like it could be a good fit, particularly for really big data sets.

But for smaller datasets, I don't think it would be necessary -- and entire (2D, anyway) grid could be brought in to memory all at once, the the data on that grid updated on the fly (and maybe cached).

That could all work if there were a grid feature type (or a few...), an

[2016-03-14 19:28] TomPed opened #3705 "Imagery Provider Urls"
Is there a reason why imagery urls don't specify `http` or `file`:

[code]

vs.

[code]

I'm only asking because [Electron](http://electron.atom.io/) has an issue where it can't find the imagery providers unless `http` is specified.

Urls also in the terrain and geocoding cause issues too.

[2016-03-14 19:42] TomPed commented on #3705
Seems like there is already a issue for this #3650. I'll close this.

[2016-03-14 19:42] #3705 closed

[2016-03-14 19:44] dwhipps commented on #3379
I second this. I need to modify the crsFunction for USGS Earthquakes, which pass a "depth in kilometers"  as the third parameter of their coordinates object.

[2016-03-14 20:44] mramato commented on #3379
@dwhipps I just [replied](https://groups.google.com/d/msg/cesium-dev/U9ROwJKmboE/sPBXe4icCgAJ) to your forum question regarding the USGS data (link goes to the answer).  The problem @malaretv was describing sounds like a different issue. i.e. he has a custom crs in the data and needs Cesium to process it.  This is already supported by simply adding a function to the `crsNames` object

[code]

@mal

[2016-03-14 20:44] #3379 closed

[2016-03-14 21:44] pjcozzi commented on #3705
@TomPed you are welcome to work on #3650.

[2016-03-15 13:25] mramato opened #3706 "Ground primitive clipping issue"
@bagnell here's the bug we were talking about yesterday, not sure if you have a better test case (this one requires @tfili's `entity-terrain` branch.

Run the below code in Sandcastle and then hit the "Bug" button.  Right-click zoom in and out of the rectangle (without rotating) and you will see obvious visual artifacts as the ground primitive seemingly changes size/shape as you zoom.  I believe @

[2016-03-15 15:38] #3318 closed

[2016-03-15 15:56] bagnell commented on #3706
Updated code that does not require the `entity-terrain` branch:
[code]

[2016-03-15 16:12] mramato commented on #3706
Thanks @bagnell

[2016-03-15 18:29] mramato opened #3710 "Terrain cracking"
Noticed this while testing #3706

![image](https://cloud.githubusercontent.com/assets/1495196/13789400/3013ab0c-eaba-11e5-962f-833349154be2.png)

Here's the code:

[code]

[2016-03-15 18:52] #3238 closed

[2016-03-15 18:52] #3431 closed

[2016-03-15 23:45] pjcozzi commented on #3684
This may be of interest: http://cesiumjs.org/demos/GridViz.html

[2016-03-16 17:08] ChrisBarker-NOAA commented on #3684
Yes, I've seen that -- I find the visualization odd, but it may be close to what we need. I'll poke in to see how it's done.

Thanks

[2016-03-16 18:33] #3650 closed

[2016-03-16 19:27] andreabadesso opened #3713 "scene.click() does not work on latest Chrome in Windows 7"
You can reproduce it on every demo on cesium website, like this one:

http://shinsai.mapping.jp/index_en.html

It works on Opera and Firefox

Google Chrome Version: '49.0.2623.87 m'

scene.click with the click position returns undefined

[2016-03-16 19:43] hpinkos commented on #3713
Hello @andreabadesso
Do you mean `scene.pick`?  `scene.click` is not a function
I'm not able to reproduce this problem.  Try clearing your cache, that can sometimes create unusual side effects.

I'm going to close this issue.  If you are still experiencing issues, please post in our forum and I'll try to help.
https://groups.google.com/forum/?hl=en#!forum/cesium-dev

Thanks!

-Hannah

[2016-03-16 19:43] #3713 closed

[2016-03-17 14:01] mramato opened #3716 "Provide exception free failure paths for constructors that parse strings."
Cesium is pretty aggressive about throwing `DeveloperError` for invalid input; but a lot of the time developer's themselves aren't in control of that input.  For example, having `JulianDate.fromIso8601` and `TimeInterval.fromIso8601` throw is great for developer hard-coded string literals but inconvenient for user supplied input.  Even if we switched to `RuntimeError` in these cases, that doesn't

[2016-03-17 14:17] #3496 closed

[2016-03-17 14:59] hpinkos opened #3717 "Camera.computeViewRectangle is wrong for view that crosses the IDL"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/8UgBBcmEM_U

The rectangle spans the opposite side of the globe.  East and west need to be switched.

In this example, zoom to the IDL and click to visualize the rectangle.
[code]

[2016-03-17 14:59] hpinkos commented on #3717
@tfili

[2016-03-17 18:21] #3706 closed

[2016-03-17 20:09] MannusEtten opened #3719 "arcgis layers"
there is support for arcgis layers (ArcGisMapServerImageryProvider)

i can define that it has to use precached tiles but an Esri ArcGIS Mapservice.
How about the Esri ArcGIS ImageServices? Can I use those with the same provider?

[2016-03-17 20:19] pjcozzi opened #3720 "New Sandcastle example for PA terrain dataset"
http://cesiumjs.org/2016/03/15/New-Cesium-Terrain-Service-Covering-Pennsylvania/

To make it easier to demo.

We could also add it to the layer picker, but I don't think it will be widely used enough to justify it.

[2016-03-17 20:26] pjcozzi opened #3721 "Clean up procedural GLSL concatenation"
There's a lot of code like:
[code]
We could introduce a simple helper to clean up the line breaks and concatenation:
[code]

[2016-03-17 20:46] mramato commented on #3721
Another option would be to use string literals, which require a trailing slash, but can be edited as a single block and is already what we do for HTML in the widgets:

[code]

You can also have WebStorm syntax highlight the entire block if you do it this way:

![image](https://cloud.githubusercontent.com/assets/1495196/13860610/aaa14c0c-ec5f-11e5-9dfa-0bc5adf74db1.png)

I'm fine with whatever you

[2016-03-17 21:30] pjcozzi commented on #3721
That is pretty.  We'll start with that.

[2016-03-18 15:37] hpinkos opened #3723 "PolylineGeometry is not drawn if it traces IDL"
@bagnell I caught this right after I merged #3714

This line is visible in the last release

[code]

[2016-03-18 16:22] hpinkos opened #3726 "Make Entity available in callback function for CallbackProperty"
Suggested in the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/tA0lH-ZuF8Y

It would be useful if `this` or some other variable represented the calling entity to avoid duplicate functions for each entity.

[2016-03-18 17:56] #3723 closed

[2016-03-18 18:03] hpinkos commented on #3719
Hello @MannusEtten

I'm not that familiar with ArcGIS ImageServices.  You can try using `ArcGisMapServerImageryProvider`, and if that doesn't work you might be able to use the [UrlTemplateImageryProvider](http://cesiumjs.org/Cesium/Build/Documentation/UrlTemplateImageryProvider.html).

If you need further help, please use our forum to post a question: https://groups.google.com/forum/?hl=en#!forum/

[2016-03-18 18:03] #3719 closed

[2016-03-18 21:30] hpinkos opened #3729 "Polylines look incorrect when transitioning from 3D to 2D"
This is an example of what you see if you changing the path widths to 10 in `simple.czml` and transition from 3D to 2D.  You can see the ends of the lines disappear during the transition.  From certain views, there are just pointy sections instead of a large chunk of the line disappearing.

![polylines](https://cloud.githubusercontent.com/assets/3451886/13892520/4e8cc08e-ed2e-11e5-9c22-5db9b29b856

[2016-03-18 21:33] mramato commented on #3729
I just made a comment in the other PR, but I think this might just be a dupe of #1593

[2016-03-21 14:10] TomPed opened #3730 "Labels disappearing"
This was found during AnalyticalGraphicsInc/cesium-website#982. Here is a .gif of the issue:
![label](https://cloud.githubusercontent.com/assets/11602092/13920953/f47525ee-ef4b-11e5-899d-27310fc7a5cc.gif)
And here is the [code](https://gist.github.com/TomPed/1e5bf9f54b56bdaa6e85) for this example.

Basically what is happening is when you left click, we are picking the Milk Truck and getting the po

[2016-03-21 14:27] hpinkos commented on #3730
This might be Mac specific.  I can't reproduce it on my machine.

[2016-03-21 14:32] TomPed commented on #3730
In that case I'm running:

OS: OS X El Capitan, Version: 10.11.3 (15D21)

Browser: Chrome, Version 49.0.2623.87 (64-bit)

[2016-03-21 15:39] #3717 closed

[2016-03-21 16:17] pjcozzi commented on #3730
I can reproduce this on Windows.  As I discussed with @TomPed offline, I suspect this happens when the texture atlas is updated or recreated.

To reproduce this, click the top of the milk truck, then start click lower spots until you click the bottom of the wheel:

![ok](https://cloud.githubusercontent.com/assets/782098/13925449/be4cc5f4-ef5e-11e5-8813-a6a4032ec565.gif)