[2018-02-14 17:23] likangning93 commented on #6048
Herm... not fixed yet, and also not working in Edge (although I don't think it's working in Edge in `master` either).

[2018-02-14 17:35] likangning93 commented on #6184
Verified that this seems to work fine with pointclouds at least.

[2018-02-14 18:24] likangning93 commented on #6184
Should be fixed with https://github.com/AnalyticalGraphicsInc/cesium/pull/6201/commits/f7d078e141b57129d150e52a642921ef490ba89a

[2018-02-14 18:48] tfili commented on #5838
I don't think it does. That's why we use gltfPipeline to do it.

[2018-02-14 20:11] mramato commented on #6215
@shunter good point, the name is still terrible though :)

[2018-02-14 20:51] jmack2424 commented on #6213
Hannah, we found our issue, and forcing it to work in the Sandcastle helped us to find it. =)

Our custom data points were being serialized, which broke on the load call, because the Cesium references in the custom object could not be resolved.

[2018-02-14 20:52] #6213 closed

[2018-02-14 20:52] hpinkos commented on #6213
Thanks @jmack2424, glad you were able to figure it out =)

[2018-02-14 20:53] likangning93 commented on #6048
Okay. This should be fixed in https://github.com/AnalyticalGraphicsInc/cesium/pull/6201, but the bug wasn't just uniform arrays. See https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Shaders/Builtin/Functions/windowToEyeCoordinates.glsl#L34.

IE and Edge were always having this check (`mat4` inequality) return false, which seems like a bug with their WebGL implementation.

[2018-02-14 21:00] #6212 closed

[2018-02-14 21:03] hpinkos opened #6221 "Cesium3DTileset immediatelyLoadDesiredLevelOfDetail test failure"
I haven't been able to reproduce this locally, but this test is intermittently failing in travis

[code]

https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/341544905
https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/341516554

[2018-02-14 21:04] hpinkos commented on #6221
@lilleyse any ideas here?

[2018-02-15 00:46] tamarmot opened #6223 "WebMapServiceImageryProvider clobbers srs option"
If, theoretically, one were using a different SRS, such as one for the moon, and wanted to pass that through to a WMS via the WebMapServiceImageryProvider, there is currently no way to do so as this is hardcoded as follows:

// Use SRS or CRS based on the WMS version.
        if (parseFloat(resource.queryParameters.version) >= 1.3) {
            // Use CRS with 1.3.0 and going forward.

[2018-02-15 14:30] mramato opened #6224 "cloc randomly failing on travis"
Failed: https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/341726531?utm_source=github_status&utm_medium=notification

Same code passed: https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/341726533?utm_source=github_status&utm_medium=notification

Failed output
[code]

[2018-02-15 14:30] #6199 closed

[2018-02-15 15:00] tfili commented on #6208
Fixed with #6211

[2018-02-15 15:00] #6208 closed

[2018-02-15 15:17] hpinkos commented on #6223
Thanks @tamarmot! If you have a chance, we'd be happy to take another PR with this fix =)

[2018-02-15 15:38] mreilaender opened #6225 "CESIUM_BASE_URL ignored in 1.42"
Setting the `CESIUM_BASE_URL` like below breaks Cesium (**v1.42**). It seems to be completely ignored as the console errors show (see picture).

In **v1.41** everything works correctly.

[code]

![image](https://user-images.githubusercontent.com/6803839/36264977-7769c526-126e-11e8-8b4a-116073a625f6.png)

[2018-02-15 15:50] hpinkos commented on #6225
@tfili another one related to your Resource changes?

[2018-02-15 15:52] tamarmot commented on #6223
Yep, I'll be looking into this soon now that I know the process!

On Thu, Feb 15, 2018 at 7:18 AM, Hannah <notifications@github.com> wrote:

[2018-02-15 18:28] lilleyse opened #6226 "Force tileset to never exceed maximum memory usage"
For a `Cesium3DTileset`, the `maximumMemoryUsage` property controls the size of the tileset's cache but does not actually limit how many tiles are loaded. As the doc states:

The name is a bit misleading and should really be called `cacheMemoryUsage`.

Really `maximumMemoryUsage` should force the tileset to never consume more than that amount of memory. This could be done by sorting all tiles by s

[2018-02-15 19:30] bagnell commented on #6219
A tiling problem. I've seen the same issue with other datasets most likely caused by intersecting edges.

[2018-02-15 21:16] pjcozzi commented on #6184
Very nice, thanks!!!

[2018-02-15 21:18] pjcozzi commented on #6048
Good catch, thanks @likangning93

[2018-02-16 18:22] hpinkos opened #6230 "makeZipFile fails all the time on CI"
I've seen this error happen fairly frequently:

[code]

Is there anything we can do about it?

https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/342414434

[2018-02-16 19:02] mramato commented on #6230
The problem is almost certainly that requirejs is running out of memory on travis' anemic servers.  We've always skirted the limits, but it's possible that Cesium's code base has grown enough that it's hitting it again.  To fix it, we can try changing `  - npm run makeZipFile -- --concurrency 2` to `  - npm run makeZipFile -- --concurrency 1` in the travis.yml.

[2018-02-16 19:10] shunter commented on #6230
I've seen this too on our offline build farm on a system with 16GB RAM.  Unless there's some other memory limit in node I'm not aware of.

[code]

The base64 decodes to:
[code]

so it's while minifying the CSS.

[2018-02-18 01:40] tfili commented on #6225
If you change it to `window['CESIUM_BASE_URL'] = './path/to/somewhere/';` (with the trailing slash) it should work in 1.42. I fix this in #6231, so it should make it in the next release.

[2018-02-18 07:31] KermMartian commented on #5838
Duly noted; thanks for the help, everyone! In the end, we just generate normals ourselves before they get to COLLAGA2GLTF (and thence Cesium), so everything is resolved for us as below. I'm afraid that doesn't help those using models without normals, so definitely a strong vote for me in favor of Cesium eventually being able to compute those normals on the fly.

![image](https://user-images.github

[2018-02-18 20:09] pjcozzi opened #6232 "Will Sandcastle gist creation break because of this?"
https://github.com/blog/2503-deprecation-notice-removing-anonymous-gist-creation

Or is Sandcastle not anonymous?  I think we made a key at one point.

[2018-02-18 20:58] tfili commented on #6196
@thw0rted thanks for writing the issue.

The generic solution of providing a callback to rewrite external url before a request would probably be the best solution here. This solution has been discussed as a good way to imlement KML models as well. Since KMLs contain COLLADA and Cesium doesn't natively support that format, you could replace it with a gltf url before the request.

I don't currently

[2018-02-19 14:57] mccoy1 commented on #4000
+1

[2018-02-19 19:47] ggetz commented on #5025
Request on the forum: https://groups.google.com/forum/#!topic/cesium-dev/BsNCUQzpxCE

[2018-02-19 19:53] jburr-nc commented on #5025
We would **_love_** to see this one get fixed -- specifically ground overlays in the KML datasource.

[2018-02-19 19:59] ggetz commented on #5025
@jburr-nc We have some initial work by @likangning93 being done in this branch: https://github.com/likangning93/cesium/tree/worldFromTerrainDepth

We'll ping this issue when we have some more progress.

[2018-02-19 20:15] ggetz opened #6233 "CesiumMath vs Math naming ambiguity"
It's not clear that the `CesiumMath` class is included in the namespace as `Cesium.Math`. This is also inconsistent with other classes that have the Cesium prefix, like `Cesium3DTileset`. If this is not something we want to change in the API, this should be made clear in the documentation.

Relevant forum thread: https://groups.google.com/forum/#!topic/cesium-dev/icpMxc_bea8

[2018-02-19 20:18] hpinkos commented on #6233
`CesiumMath` isn't a class.  The class is `Math`, which is why it's `Cesium.Math`.

We use `CesiumMath` for the name when we're requireing Math.js via AMD so we don't overwrite the generic JavaScript math functions.

[2018-02-19 20:19] hpinkos commented on #6233
We should probably rename the class to `CesiumMath` so it matches the documentation

[2018-02-19 20:53] #6225 closed

[2018-02-19 20:55] mramato commented on #6233
I'm not crazy about renaming the class to CesiumMath, I hate the Cesium prefix that is starting to appear everywhere (Cesium3DTileset, CesiumIon, etc.. ) because a lot of user code ends up with `Cesium.CesiumXXX` and it gets really verbose.

[2018-02-19 21:03] hpinkos commented on #6233
@mramato The problem we need to fix is that documentation says `CesiumMath` because that's what the name of the variable is in `Math.js` and that's what we export.

https://cesiumjs.org/Cesium/Build/Documentation/CesiumMath.html

Is there a way to just fix the documentation to say `Math`?

[2018-02-19 21:25] mramato commented on #6233
Changing the `exports` in Math.js would do it, the only downsize is that it will then be "wrong" for module users.  Do maybe you guys are right and `CesiumMath` is the better choice.

[2018-02-19 22:33] pjcozzi commented on #6233
If most developers use Cesium.js, let's please make the `Cesium.` name most natural and just "fix" the doc even if it means adding a custom tag.

`Cesium3DTileset` and `CesiumIon` are both special cases - can't start a variable name with a number, and a product name.

If this is not urgent, I don't know that we need to burn too many cycles on it now.

[2018-02-19 22:37] mramato commented on #6233
It should literally be a one line change to update the doc.

[2018-02-20 13:50] mramato commented on #6232
I believe the key is only there to allow us to create/retrieve more gists-per-day than would be allowed from their non-authenticated API.  Unfortunately, it looks like the gists we create are actually anonymous.  I found this out by creating a simple gist in Sandcastle and then going directly to the GitHub API for it which gets you to https://gist.github.com/27329c6ff6deb5a09ef406d3b56cf593

There

[2018-02-20 13:57] pjcozzi commented on #6232
All - do you use the "Share" feature in Sandcastle?

![image](https://user-images.githubusercontent.com/782098/36427736-fbc6bf12-161b-11e8-8013-588731e214be.png)

[2018-02-20 14:04] mreilaender commented on #6225
Adding the trailing slash doesn't work ... Still the same errors

[2018-02-20 15:52] ggetz commented on #6232
I use this all the time for the forum, and that's how about 50% of the community shares their code examples.

[2018-02-20 17:12] pjcozzi opened #6237 "Evaluate "Fast Lossy Compression of 3D Unit Vector Sets""
How does this compare to our current approach of octencoding normals?

https://github.com/superboubek/UniQuant

[2018-02-20 19:08] ggetz opened #6238 "Overlapping holes in polygons cause artifacts"
![image](https://user-images.githubusercontent.com/4439461/36443514-f990bae2-1646-11e8-91e9-d5d8b62bcf11.png)

Brought up on the forum here: https://groups.google.com/forum/#!topic/cesium-dev/yCvREpm4rXE

It was brought up that polygons can't have overlapping holes by design and the overlaps should be removed as a workaround, however, this is not clear in the docs.

[2018-02-21 01:01] kring commented on #6232
You guys might consider persisting to S3.  It's easy to rig up an EC2 instance so it automatically has access to a private S3 bucket. Then you can use code like this in a simple back-end service to save/load to/from S3:
https://github.com/TerriaJS/terriajs-server/blob/master/lib/controllers/share.js#L106

Is Sandcastle on cesiumjs.org still hosted in IIS these days, or has it moved to Node.js?

[2018-02-21 09:56] thw0rted opened #6242 "ArcGisMapServerImageryProvider does not handle metadata load failure"
I can't hook an event when the subject provider fails to load its metadata.  [Sandcastle here](https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=75e2141870d704a4e2f57b341a3e60d0).  I thought this might be a regression from the recent migration to Resource, but it happens in 1.39 as well -- I just copy/pasted the same Sandcastle into [the older release](http:/

[2018-02-21 12:53] pjcozzi commented on #6232
We could build something into ion for this with S3/etc, but not for March 1.  Could also punt a bit past March 1 if the other suggests do not pan out.

[2018-02-21 12:58] kring commented on #6232
In a pinch I could probably open a PR to make Sandcastle use our S3-based persistence service on https://map.terria.io. Long term you'll probably want to control it, though.

[2018-02-21 13:08] pjcozzi commented on #6232
Thanks, but I don't think we'll want the terria persistence.  If you have time, feel free to implement or rule out (2) and (3) above, https://github.com/AnalyticalGraphicsInc/cesium/issues/6232#issuecomment-367051643

[2018-02-21 15:38] hpinkos commented on #6187
@phazor if you're not using `DebugCameaPrimitive`, can you paste a code example with the geometry you are using that reproduces this issue?  I'm not sure of a workaround for this right now

[2018-02-21 15:42] hpinkos commented on #6242
Thanks for the detailed write up @thw0rted!  I'm not sure how soon we'll be able to look at this, but if you get your CLA issues figured out we'd be happy to review a pull request!

[2018-02-21 16:27] phazor commented on #6187
Unfortunately the geometries are time-dependent + generated, and it can be hours before the error manifests. Next time I catch it I'll try to extract the full geometry that's being rendered.

In the meantime, I have a rather ugly workaround that at least allows the cesium viewer to jump past an 'expected' `DeveloperError`:
https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=S

[2018-02-21 16:34] #6233 closed

[2018-02-21 16:34] cesium-concierge commented on #6233
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/icpMxc_bea8

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-02-21 17:09] hpinkos commented on #6187
Gotcha.  Yeah, let me know when you have an update.   Thanks @phazor!

[2018-02-21 17:59] hpinkos commented on #6232
We have a bunch of issues that have code examples stored in sandcastle gists like #5371
Will those all disappear?  We should go through and grab the code snippets and paste them in the issues if that's the case.

[2018-02-21 18:01] hpinkos commented on #5371
Duplicate #2909

[2018-02-21 18:01] #5371 closed

[2018-02-21 18:01] cesium-concierge commented on #5371
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/Z0vcp_Fxs9o
https://groups.google.com/d/msg/cesium-dev/ZLxWrn_3joE/f8xClwppAwAJ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my c

[2018-02-21 18:02] hpinkos commented on #2909
See #5371 for an example with polylines, and a few times this was reported on the forum

[2018-02-21 18:08] lilleyse commented on #5954
I think this might only be a problem in unbuilt versions of Cesium. Compare [built](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html?src=3D%20Tiles%20Feature%20Styling.html&label=3D%20Tiles) with [unbuilt](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D%20Tiles%20Feature%20Styling.html&label=3D%20Tiles).

On the unbuilt version I see the imagery start to load in only afte

[2018-02-21 18:09] lilleyse commented on #5954
Though the priority ordering could still be better and I have a possible fix coming.

[2018-02-21 18:15] mramato commented on #5954
Terrain/Imagery is definitely waiting on a worker, but keep in mind that Chrome will only load so many files at a time, so the fact that JS files are being loaded is starving other requests too.  So I definitely expect performance to be worse with the unbuilt version.  This is one of the reasons we should always do profile/performance testing against the built version of Cesium; it's a huge differ

[2018-02-21 18:26] lilleyse commented on #5954
Hm so I guess the problem is that 3D Tiles requests are fighting with JS requests, which means it takes longer for imagery to begin. Is that something that we can fix?

[2018-02-21 18:26] ggetz commented on #6232
@hpinkos The blog post says:

So it sounds like they will remain available.

[2018-02-21 20:50] mramato commented on #5954
Not really (in code anyway). HTTP/2 fixes it because browsers will no longer limit to 6 requests at once.

[2018-02-21 22:31] mramato commented on #6187
If you're only working in 3D, then there may be a workaround.  Geometries are only split for 2D and CV scenes, so can pass `scene3DOnly: true` to the Viewer constructor and the problematic code shouldn't execute at all (unless the bug is a very different issue than I think it is): https://cesiumjs.org/Cesium/Build/Documentation/Viewer.html#Viewer  Setting this flag is good practice either way if y

[2018-02-21 22:58] hpinkos commented on #6221
Nope, guess that didn't fix it.  https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/344548142

[2018-02-21 23:10] kring commented on #6232
I'd rule out 2 right away. You'd need a server-side piece to protect your GitHub API key, anyway. If you're doing that, might as well use S3; it's not any harder. Plus we considered the authenticated gist approach for Terria, emailed GitHub to see if they were ok with gists being used in that way, and they told us flat-out no.

I don't think a URL shortener will fly.  We used to use the Google's s

[2018-02-22 00:05] themikelester opened #6251 "Efficient streaming of Geometry data"
Relevant forum discussion: [dynamic update of polylines with the API (not czml)](https://groups.google.com/forum/embed/?place=forum/cesium-dev&showsearch=true&showpopout=true&hideforumtitle=true&fragments=true&parenturl=https%3A%2F%2Fcesiumjs.org%2Fforum%2F#!searchin/cesium-dev/dynamic$20geometry/cesium-dev/CclK7a5cLmI/GRPrh7yr7YAJ)
Relevant issue:  #932 Dynamic Buffers

## Background
Doarama uses

[2018-02-22 10:15] thw0rted opened #6252 "Better error handling for malformed CZML"
I'm just starting to generate my own CZML and I've found that the Packet parser can at times be less than helpful when you feed it bad data, as in [this simple example](https://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=13311b55ffaaff8ed890a4c203641c89).

It bombs out parsing the second of 3 entities because I fed it an enum value (`2`, number) instead of the

[2018-02-22 13:04] pjcozzi commented on #6251
Thanks for the background and ideas @themikelester!

If (2) is low-hanging fruit, perhaps it is worth a try.  Worse case, it ends up being broadly useful to the community, but not the end game for your use case.

For (3), we would discourage a specific and custom plugin point for rendering.  Basically, the plugin point today is implement a Primitive and then return `DrawCommand`(s) in the `update`

[2018-02-22 17:44] mramato opened #6254 "Consider changing documentation fonts"
Most of the fonts in our generated documentation make it easy to confuse uppercase `I` and lowercase `l`.  We should consider switching to one with a more distinct character set.

![image](https://user-images.githubusercontent.com/1495196/36554713-07413896-17ce-11e8-8acd-a2303b74aeba.png)

[2018-02-22 17:59] hpinkos commented on #6254
I'm not opposed to switching to a serif font for the class name.  I wouldn't change the entire page to that though.  It's easier to read sans-serif fonts.

[2018-02-22 18:06] hpinkos commented on #6221
Ignored this test in #6255 until we figure out what the problem is

[2018-02-22 18:33] hpinkos commented on #6230
@mramato setting `--concurrency 1` did not fix the error

https://travis-ci.org/AnalyticalGraphicsInc/cesium/builds/344911937?utm_source=github_status&utm_medium=notification

[2018-02-22 18:37] mramato commented on #6230
This could be a two fold problem, in addition to concurrency, I think we also run the debug/release builds at the same time.  I'll look into it.

[2018-02-22 18:48] mramato commented on #6252
1. I am certainly on board with improved error messaging.  We just need to make sure extra validation does not slow down loading.

2. I am not okay with loading invalid CZML.  One of the reasons formats like KML are such a mess is because Google Earth would allow almost anything to slip through.  I can't think of a good reason to actually allow invalid CZML to load if we are properly reporting err

[2018-02-22 18:58] ggetz commented on #6254
Maybe monospace instead of introducing a serif?

[2018-02-22 19:46] pjcozzi commented on #6252
To keep Cesium light and focused on runtime, I would suggest that Cesium only do critical CZML error checking and that a separate validator library/app (could be drag & drop) be used just like glTF and 3D Tiles (well, in progress).

* https://github.com/KhronosGroup/glTF-Validator
* https://github.com/AnalyticalGraphicsInc/3d-tiles-tools/tree/master/validator

[2018-02-22 20:06] shunter commented on #6252
There is a JSON Schema for CZML which does catch this error (after fixing the other JSON violations from the snippet (missing quotes, extra commas))

`Invalid: data.label.style.labelStyle should be equal to one of the allowed values, data.label.style.labelStyle should be equal to one of the allowed values, data.label.style.labelStyle should be equal to one of the allowed values, data.label.style.l

[2018-02-22 21:08] likangning93 opened #6261 "Shadows ignore clipping planes"
![badshadows](https://user-images.githubusercontent.com/5395255/36564220-8f60574a-17ea-11e8-963c-45e8d8c3d287.JPG)

[2018-02-22 21:15] mramato opened #6262 "Visited Credits links are unreadable in the attribution pop-up"
![image](https://user-images.githubusercontent.com/1495196/36564506-8c2081d0-17eb-11e8-86d9-99236ce304f0.png)

@hpinkos do we just want them to stay white?

[2018-02-22 21:20] hpinkos commented on #6262
@mramato yes, I think white is the right option.  You can add something to the `appendCSS` function in `CreditDisplay`

[2018-02-22 22:00] ggetz commented on #6242
Came up on the forum here: https://groups.google.com/forum/#!topic/cesium-dev/DaH3d6CbPJU

Seems to be the case with all `UrlTemplateImageryProvider` based imagery providers.

[2018-02-22 23:12] zbennett10 commented on #4000
+1

[2018-02-23 03:58] jpierson commented on #653
@mramato, where are the plans to move to ES6 modules being tracked? As far as I can tell from some brief searching this hasn't been completed in the 3 years since this issue was closed and I was unable to find any other tracking open tracking issue covering the movement to ES modules specifically.

[2018-02-23 04:06] tfili commented on #6225
I was able to reproduce the problem without the slash and adding the slash fixes it. All my fix does is guarantee the slash is there.

If that doesn't fix the problem, you may want to try master to make sure it actually addresses your issue.

[2018-02-23 14:40] ggetz commented on #653
@jpierson The discussion for ES6 modules has been in https://github.com/AnalyticalGraphicsInc/cesium/issues/2524

[2018-02-23 15:24] #6254 closed

[2018-02-23 16:29] thw0rted commented on #6252
@mramato I can see your point, I would be totally fine with just wrapping the whole parsing routine in a try/catch and emitting an error that it failed on a particular Packet number, though it would be nice if it was at least per top-level property (label, billboard, etc).

As for detailed validation, that sounds awesome and I would only ask that some reference / documentation be added about it.

[2018-02-23 17:22] mramato opened #6265 "Remove `@returns {undefined}` from code"
Here's an easy issue for a new contributor.  We have `returns {undefined}` littered throughout our JSDoc.  There's no reason for them and they should simply be removed.

[2018-02-24 00:09] mramato opened #6269 "Zooming to dynamic geometry broken"
@hpinkos check out this demo: http://localhost:8080/Apps/Sandcastle/index.html?src=CZML%20Custom%20Properties.html&label=CZML  It no longer zooms to the geometry, I think this was a recent regression with all of the cleanup work.

[2018-02-24 00:12] mramato commented on #6269
Looks like it's broken on cesiumjs.org as well, so this might have been introduced last release?  Maybe the zoomTo changes for 3D Tileset?

[2018-02-24 00:39] mramato opened #6270 "3DTileset tile selection bug?"
@lilleyse and @bagnell is this a bug, or am I just misunderstanding expected behavior?

1. Run any 3D Tileset Inspector demo: http://localhost:8080/Apps/Sandcastle/index.html?src=3D%20Tiles%20Inspector.html&label=Showcases
2. Turn on statistics
2. Hit the home button
3. The root tile is still selected for rendering even though you are zoomed all of the way out, why?

[2018-02-24 12:37] thw0rted commented on #6196
I think the big Resource overhaul in the last version may have accidentally solved this issue.  It's wrong in the docs (might have been fixed in one of the recent updates you made last week?) but `KmlDataSource.load` takes a `sourceUri` option that can be a Resource (not just a string), which is used as context for loading additional content.  If I provide a Resource with a blank string for the `u

[2018-02-24 18:02] lilleyse commented on #6270
Apparently the tileset has a geometric error of `36757007.226` which is extremely big. Definitely a data problem.

[2018-02-24 18:04] lilleyse commented on #6270
The root's geometric error is `739.9` which is much more reasonable.

[2018-02-26 02:59] durgeshra commented on #6265
HI! I would like to work on it. however, I did not find such statement in the jsdoc folder. Am I looking at the wrong place or what? Thank you!

[2018-02-26 15:38] hpinkos commented on #6265
Hi @durgeshra!  We want to remove this from the documentation comments throughout the `Source` folder.  Thanks!

[2018-02-26 16:44] hpinkos commented on #6195
@bagnell @lilleyse We need to fix this before March 1st

[2018-02-26 16:58] hpinkos commented on #5731
I'm going to close this.  I got the same results @bagnell did

[2018-02-26 16:58] #5731 closed

[2018-02-26 17:03] mramato commented on #6048
Removing priority next release, this will come in with #6201

[2018-02-26 19:52] jpthompson212 opened #6272 "Zoom When Model Load Failure"
When loading a CZML file and the model fails to load it causes the camera to never zoom to the entity.  This is most likely because there is no detection of the model load failure.

Ideally, the model load failure would be detected and then the camera would zoom to the entity anyways.

[2018-02-26 19:53] rhamie commented on #5379
Hi, I recently ran into the same issue as Dave from the above Google Group and as he says, resetting the length variable after the first loop solves the second loop's array out of bounds issue.  I'm new to working with Cesium so I'm not entirely sure how Dave's issue is encapsulated by the race condition outlined here, but it seems that if there's a chance that the array will be modified (the slic

[2018-02-26 19:57] mramato commented on #6272
Thanks @jpthompson212!  This issue has been around forever but mostly off our radar.  Pretty sure it's a simple fix in ModelVisualizer.js.  Basically, we need to update `onModelError` to record that the model failed in the `modelHash` and check if the modelData fail flag is set in `getBoundingSphere` and return failed there if so.

Another good beginner issue.  We'd be happy to take a PR if you wa

[2018-02-26 20:33] ZacLiveEarth commented on #5185
We are affected by this bug as well. It seems that there are also times when a billboard can be between frustums and only render it's 'outline', where the 'outline' is just pixels that have non-zero and non-one alpha in the texture. At a glance, it seems that the billboard has disappeared.

[2018-02-26 20:38] ZacLiveEarth commented on #5185
Here are some images of a billboard moving away from the camera along the terrain and through the frustum boundaries.

![billboardclose](https://user-images.githubusercontent.com/15931232/36693998-877e44c2-1b02-11e8-8f85-bf6c8a8478b9.PNG)

![billboardmid](https://user-images.githubusercontent.com/15931232/36694027-a504fcd4-1b02-11e8-8743-6b61eecb0e09.PNG)

![billboardhalfmid](https://user-images.g

[2018-02-26 20:45] hpinkos commented on #5185
Thanks for the extra details @ZacLiveEarth!  Could you attach that icon to this issue so we can use it for testing?

[2018-02-26 20:59] mramato opened #6274 "Impossible to copy text from "data attribution" panel"
Sometimes I need to copy text or a link from the `Data attribution` pop-up but it's impossible to do so because the panel disappears after selecting text.  It would be nice to change it to only disappear if you click anywhere outside the panel, clicking on the panel itself should not close it.

[2018-02-26 21:15] ZacLiveEarth commented on #5185
Pretty much any png with anti-aliased edges will do. The tree icon above, for example, should work just fine.

[2018-02-26 21:18] hpinkos commented on #5185
@ZacLiveEarth Gotcha, thanks =)

[2018-02-26 22:16] ggetz opened #6277 "Mouse move handler does not fire when modifier keys are held"
...even when the handler does not specify any modifier keys.

Brought up on the forum: https://groups.google.com/forum/#!topic/cesium-dev/86_Z9FTRyZQ

[2018-02-26 22:22] hpinkos commented on #5379
Fixed this somewhere along the way when I refactored geometry entities.  This will be included in the 1.42 release on March 1st

[2018-02-26 22:22] #5379 closed

[2018-02-26 22:22] cesium-concierge commented on #5379
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/JgzuftedXi0
https://groups.google.com/forum/#!searchin/cesium-dev/mittner%7Csort

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my

[2018-02-26 22:28] hpinkos commented on #6277
@ggetz this is by design (although it's probably not the best choice we ever made)

I would recommend doing something like this as a workaround:

[code]

[2018-02-26 22:28] #6277 closed

[2018-02-26 22:28] cesium-concierge commented on #6277
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/86_Z9FTRyZQ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-02-27 08:34] durgeshra commented on #6265
I guess you mean @returns {anything can be here} or specifically @returns {undefined}?

[2018-02-27 08:43] durgeshra commented on #6265
Do I have to remove only returns{undefined} or the entire statement that goes along with it in the comment?

[2018-02-27 14:22] mramato commented on #6265
@durgeshra the entire block.  For example:

[code]

Becomes

[code]

[2018-02-27 14:42] mramato opened #6279 "Remove assets.agi.com deprecation notice"
For the September 1st release, when we shut down assets.agi.com, the deprecation code in `CesiumTerrainProvider` can be removed.

[2018-02-27 14:45] #6262 closed

[2018-02-27 14:45] #6274 closed

[2018-02-27 15:50] mramato opened #6280 "Impossible to credit some sources properly in Cesium."
Currently, all credits get mashed together into a single list, but this makes it hard to properly credit some sources.  For example, [Creative Commons Attribution 4.0 International (CC BY 4.0)](https://creativecommons.org/licenses/by/4.0/)  requires a link to the CC 4.0 license, but there's no way via credits to indicate which data this license applies to without repeating information across Credi

[2018-02-27 15:52] hpinkos commented on #6280
Other libraries like leaflet and openlayers have HTML credits.  I think that's the way to go

[2018-02-27 18:46] crubier opened #6282 "BUG Entities not visible in cesium 1.42 when HTML page loaded as a file://"
### Description

This bug appeared in cesium 1.42, it did not exist before.

We are using cesium inside a web view packaged in an iOS and Android app. So we are loading the html page using the `file://` protocol, not the typical `http://` or `https://` protocols.

Using this protocol, we are able to have a running instance of cesium, with any version of cesium, including 1.42. So far, so good.

**

[2018-02-27 19:05] ggetz commented on #6282
Hi @crubier. This sounds to me like the `Worker` files are not being properly loaded. They are what create the geometry to be rendered for each of the Entities. I suspect you may need another configuration for `CESIUM_BASE_URL`, the explanation for which is in #3935.

[2018-02-27 19:05] #6282 closed

[2018-02-27 20:43] crubier commented on #6282
Hi @ggetz , I am sorry but this issue definitely needs to be reopened.

Your analysis is wrong for the following reasons:

- The problem **did NOT exist** with versions prior to 1.42 , with all these versions **the `CESIUM_BASE_URL` that is configured in the example repo is exactly the right one**, 100%. Everything works wonderfully without a single warning in the console. But **suddenly when we s

[2018-02-27 20:44] hpinkos commented on #6282
Hi @crubier!  We actually fixed a bug with `CESIUM_BASE_URL` earlier this month.  The pull request can be found here: https://github.com/AnalyticalGraphicsInc/cesium/pull/6231

This fix will be included in the Cesium 1.43 release available this Thrusday, March 1st.

If you are still experiencing the problem in that release, please let us know and we will re-open this issue.  Thanks!

[2018-02-27 20:48] crubier commented on #6282
Ahh ok nice !

Thank you very much, much appreciated !

Now I agree with closing this :-)

[2018-02-28 00:17] srwiseman commented on #6272
Hey guys,

Do you mind if I take a crack at this one?

[2018-02-28 00:26] jpthompson212 commented on #6272
Hey @srwiseman,

Of course not!

[2018-02-28 15:07] srwiseman commented on #6272
Awesome. @jpthompson212 Can you post some quick reproduction steps, so that I know I'm seeing the exact same thing?

[2018-02-28 15:12] hpinkos commented on #6272
Hi @srwiseman!  Thanks for volunteering!

To get started, see our [contributor documentation](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors).  The [Build Guide](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/BuildGuide) will give you instructions for checking out the code base and building the project.

As @mramato sa

[2018-02-28 15:44] #6269 closed

[2018-02-28 15:57] #6195 closed

[2018-02-28 15:57] cesium-concierge commented on #6195
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/leIJUfQ37ro

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-02-28 16:28] ggetz commented on #4342
Requested on the forum: https://groups.google.com/forum/#!topic/cesium-dev/f8JE21h-Yqo

[2018-02-28 16:55] jfuehner commented on #6277
@hpinkos, looking at the example workaround you provided there appears to be an issue. The setInputAction calls for SHIFT, CTRL and ALT do not provide **_movement_** variable. So, calling the onMouseMove function from within these event handlers would pass an undefined object which would prevent the onMouseMove function from being able to determine the mouse location...

[code]

[2018-02-28 17:08] hpinkos commented on #6277
@jfuehner sorry, I made a typo and didn't test the code out before I submitted this.  This should work:

[code]

[2018-02-28 19:00] srwiseman commented on #6272
Awesome!  Thanks!

[2018-02-28 19:29] pjcozzi opened #6288 "Bing Maps imagery doesn't show up in Firefox"
Only tested on Mac so far.

http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/Apps/CesiumViewer/index.html

index.html:1
An error occurred in "BingMapsImageryProvider": An error occurred while accessing https://dev.virtualearth.net/REST/v1/Imagery/Metadata/Aerial?jsonp=loadJsonp161644&incl=ImageryProviders&key=Ar9n20kTp-N8tEg3Dpx-Pgocmx3W0-GUnD_Bgt3h8g6pSeDL8yxByTVGHyMyjI2p.

![im

[2018-02-28 19:34] mramato commented on #6288
Works for me (Windows 10, FF 58.0.2)

[2018-02-28 19:34] shunter commented on #6288
If you're seeing this on the AGI network, this is probably due to Firefox not using the system certificate store, so it doesn't trust our corporate SSL gateway.

[2018-02-28 19:35] hpinkos commented on #6288
Works for me

[2018-02-28 20:05] pjcozzi commented on #6288
@shunter is probably right, closing, thanks all!

[2018-02-28 20:05] #6288 closed

[2018-02-28 22:17] hpinkos commented on #6232
@mramato @pjcozzi since this feature will break in the middle of the next month, should we remove the `share` button before the next release goes out?

[2018-02-28 22:20] hpinkos commented on #6098
I'll add to this that currently our sorting is case-sensitive "alphabetical" (I'm still not convinced it always sorts correctly), which means `CZML` comes before `Cesium Widget`.
We should fix the alphabetical-ness and also change it to be not case sensitive at the very least.

[2018-02-28 22:20] hpinkos commented on #5265
I've started seeing this in Chrome recently:

![image](https://user-images.githubusercontent.com/3451886/36816421-b7ac9fd6-1cab-11e8-809c-c6592d1dd107.png)

[2018-02-28 22:38] pjcozzi commented on #6232
I was OK with it or potentially updating Sandcastle on the website in the middle of the month.

If you two **really** want to remove it for now, OK.

[2018-02-28 22:42] hpinkos commented on #6232
It's a feature people seem to use fairly often.  I think we'll get a bunch of forum questions asking why it's broken if we leave the button there after the 19th.  I'm okay leaving it alone until then, as long as it's easy to update the website mid-month.  @ggetz will it be easy to just update Sandcastle on the website on March 19th?

[2018-03-01 00:31] ggetz commented on #6232
Yep! We just need to update the `cesiumjs.org` branch and redeploy. I'm in favor of leaving the button there until then.

[2018-03-01 12:20] flyte commented on #5591
I get this exact same thing when I run Cesium in a browser without GPU acceleration (ie. software rendering).

[2018-03-01 15:25] #5176 closed

[2018-03-01 15:28] #5912 closed

[2018-03-01 16:38] hpinkos commented on #2860
I'm seeing a ton of test failures for 1.43

- DataSources/CzmlDataSource checks validation document
- Renderer/freezeRenderState works as expected
- Scene/ClassificationPrimitive renders with invert classification and an opaque color
- Scene/GroundPrimitive renders with invert classification and an opaque color
- Scene/PointCloud3DTileContent rebuilds shader style when expression changes
- Scene/V

[2018-03-01 17:00] shunter commented on #2860
The validation document failure is strange.  I see it too both in IE11 and Edge.  Has this failed in previous releases?  The failure is a tiny rounding error in two cartesians converted from spherical coordinates, but essentially it's doing the same operation twice and getting different results.

[2018-03-01 17:51] hpinkos commented on #2860
@shunter yeah that's really weird.  it looks like it started failing in the 1.38 release

[2018-03-01 18:32] hpinkos opened #6292 "Edge test failures"
From the 1.43 release

- DataSources/CzmlDataSource checks validation document
- Scene/createTileMapServiceImageryProvider supports no slash at the endof the URL
- Scene/Batched3DModel3DTileContentClassification renders with batch table
- Scene/Batched3DModel3DTileContentClassification renders with binary batch table
- Scene/Batched3DModel3DTileContentClassification renders with quantization
- Sce

[2018-03-01 18:55] hpinkos commented on #2860
Actually, the same test fails in firefox too.  I'm going to open a separate issue for that one

[2018-03-01 18:56] hpinkos opened #6294 "DataSources/CzmlDataSource checks validation document fails in FF, IE, Edge"
`DataSources/CzmlDataSource checks validation document`
`
Expected Cartesian3({ x: -0.0639954754237593, y: -0.6595436486193664, z: -0.7489370832661051 }) to equal Cartesian3({ x: -0.06399547542375929, y: -0.6595436486193663, z: -0.748937083266105 }).
`

This has been failing since the 1.38 release

Also see discussion in https://github.com/AnalyticalGraphicsInc/cesium/issues/2860#issuecomment-3696

[2018-03-01 19:01] hpinkos commented on #4565
I don't see these test failures either.  @mramato do you still see them?

[2018-03-01 19:04] hpinkos commented on #3888
I got these 8 test failures when prepping the 1.43 release

- Scene/Camera computeViewRectangle when zoomed in
- Scene/Camera computeViewRectangle when zoomed in to IDL
- DataSources/CzmlDataSource checks validation document
- Scene/Expression evaluates exp function
- Core/OrientedBoundingBox distanceSquaredTo
- Scene/Vector3DTilePoints renders a point
- Scene/Vector3DTilePoints renders a point wi

[2018-03-01 19:31] mramato commented on #4565
Nope, looks good.

[2018-03-01 19:31] #4565 closed

[2018-03-01 20:27] shunter commented on #6294
Debugged this - the discrepancies are because the Cartesian3 is client-side normalized by the CZML loading code but the expected value is not (because it's already known to be magnitude 1 by construction).

I'll add an epsilon to the generated assertions.

[2018-03-01 22:19] ggetz opened #6298 "Exclude modules from source only used in workers"
If a module only used in a web worker should it be exclude it from `sourceFiles` when building in order to not have the module downloaded if it's not being used.

We need to formalize the rules and update the coding guide

CC https://github.com/AnalyticalGraphicsInc/cesium/pull/6191#discussion_r171706541

[2018-03-01 22:35] hpinkos commented on #6193
@ggetz while it's not as bad, I'm definitely still seeing problems with this.  Please look into it further for next release.  Thanks!

[2018-03-01 22:41] #6294 closed

[2018-03-01 22:52] mramato commented on #6298
@bagnell says we can exclude Crunch as well, does anyone else know of any libraries that are only used in workers?

[2018-03-02 01:16] lilleyse opened #6299 "Support gltf 2.0 POINTS"
A gltf 2.0 model that contains points doesn't get rendered. The fix is to add `gl_PointSize` to the vertex shader in `processPbrMetallicRoughness`.
[code]
Since there is a bit more work to kick this fix into shape (like test models, controllable point size, etc), I'm just going to leave this as an issue for now. 3D Tiles point clouds is where the main focus is.

Brought up on the forum: https://gr

[2018-03-02 01:56] srwiseman commented on #6272
Ok, I've fixed this by adding a fail flag to the modelData, then adding a check for the failure condition in getBoundingSphere. I'll prepare the PR soon! :)

[2018-03-02 02:05] xuncanzhe opened #6300 "Clock.shouldAnimate default value"
My application abnormal after update cesium version. Eventually I found it in Clock.shouldAnimate, which was the default `true` in previous releases(1.36), but `false` in the new release(1.42). But it does not seem to be updated in the API documentation.

[2018-03-02 04:42] hpinkos commented on #6300
Hi @xuncanzhe, sorry this change caught you off guard.  We did make note of it in the `Breaking Changes` section of `CHANGES.md` for the 1.42 release: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CHANGES.md#breaking-changes-mega-1

You can set it back to `true` by passing in `shouldAnimate: true` as an option to `Viewer`

I couldn't find anywhere any errors in the documentation wher

[2018-03-02 04:42] #6300 closed

[2018-03-02 05:02] xuncanzhe commented on #6300
HI, https://cesiumjs.org/Cesium/Build/Documentation/Clock.html?classFilter=cloc . and the same situation in source code Comments.

[2018-03-02 05:02] xuncanzhe commented on #6300
@hpinkos

[2018-03-02 05:33] hpinkos commented on #6300
Ah, thanks @xuncanzhe!  I looked at the doc for the params at the top of the file, but I forgot to look at the doc for the property.

I've updated that in https://github.com/AnalyticalGraphicsInc/cesium/commit/7a86dcf871bf994b50da6decb42adcf6d8f0a6b8 and the doc will be fixed in the Cesium 1.44

[2018-03-02 14:57] tkazik commented on #6061
The validation errors should be gone now, at least with the online version of the validator:

https://github.com/KhronosGroup/glTF-Validator/issues/70

[2018-03-02 19:02] kvuorine opened #6301 "Using terrainProvider which covers a small area causes rendering problems"
I am using Cesium to display a globe using included NaturalEarthII textures and additional imageryProviders to display high resolution aerial imagery in areas of interest.

This all works fine, but when I add CesiumTerrainProvider which has data in heightmap-1.0 format for those areas of interest, only half of the globe is rendered.

Terrain on those areas is rendered properly.

Cesium GIT 0e84ac1

[2018-03-03 10:30] craigp1231 opened #6303 "Sun shadow disappears in 2D view"
When in 2D mode the suns shadow disappears when translating in longitude.

If I center the display on the US, the suns shadow is visible
![image](https://user-images.githubusercontent.com/4073362/36933242-909b0148-1ecd-11e8-9b47-51f0a480951a.png)

If I center the display on the UK, the suns shadow disappears
![image](https://user-images.githubusercontent.com/4073362/36933254-bf35ef40-1ecd-11e8-9e6

[2018-03-03 14:46] hpinkos commented on #6303
Thanks @craigp1231, this is a known issue.  I'm going to close this as a duplicate of #4122.  I'll make a comment in #4122 so we can notify you when we have a chance to fix this

[2018-03-03 14:46] #6303 closed

[2018-03-03 14:46] hpinkos commented on #4122
Also reported by @craigp1231 in #6303

[2018-03-03 16:44] tkazik opened #6304 "Reverse winding order for negatively scaled objects"
Hi folks

I have some models that contain negative scales (which originate from mirroring objects).
Attached you find a blender file, that contains three cubes:

- normal cube (left on following images)
- cube with flipped normals (centered on following images)
- cube scaled by -1 (right on following images)

Appearance in Cesium:
![cesium](https://user-images.githubusercontent.com/15689124/369366

[2018-03-05 08:25] kvuorine commented on #6301
This issue was because missing top level tile as described here:
https://github.com/geo-data/cesium-terrain-builder/issues/1

[2018-03-05 08:25] #6301 closed

[2018-03-05 15:33] arelenglish opened #6307 "Setting markerSize: 0 with large GeoJSON files causes Cesium to crash."
I've tested this on a MacBook Air with 8GB of memory and a MacBook Pro with 16GB of memory and experienced the issue. A Cesium forum user was unable to recreate the issue on her computer.

When adding a largish GeoJSON file (2,837 unique markers and polylines) to a map and setting the `markerSize : 0`  Cesium hangs and crashes WebGL after about 30 seconds of trying to render the map. Leaving marke

[2018-03-05 16:26] hpinkos commented on #6304
Thanks @tkazik!

@lilleyse what do you think about this?

[2018-03-05 16:29] hpinkos commented on #6307
Hi @arelenglish
Your Sandcastle example loaded for me with no errors.  Did you see an error message or anything when you tried to load it?

[2018-03-05 16:51] NaderCHASER commented on #6307
@hpinkos Issues are with Billboard->TextureAtlas->Texture.js calling `copyFrom()` [here](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Renderer/Texture.js#L480)

Here is a screenshot of what I'm seeing in Chrome's Developer Tools.
![screen shot 2018-03-05 at 9 50 43 am](https://user-images.githubusercontent.com/913068/36987964-cce17068-205a-11e8-8927-0defe3ba702b.jpg)

[2018-03-05 19:26] lilleyse commented on #6304
It's something we should fix evntually. The spec says

I started to make a fix in https://github.com/AnalyticalGraphicsInc/cesium/commit/07c3ad91a8c66fa19ce9b5ccc120ff9542cb673a but there were some complications - when we create the commands we don't know the computed matrices yet. I might get to it later instead.

[2018-03-05 21:55] bagnell opened #6308 "ClassificationPrimitives do not render in CV/2D"
1. Go to the Classification Sandcastle example: http://localhost:8080/Apps/Sandcastle/index.html?src=Classification.html&label=Showcases
2. Switch to Columbus view or 2D.
3. Click the highlight trees button

The classification isn't rendered. Somehow the tests are passing in master.

[2018-03-06 03:23] arelenglish commented on #6307
I get a different error:

![screen shot 2018-03-05 at 22 19 54](https://user-images.githubusercontent.com/1619902/37012618-9816908e-20c3-11e8-9d09-6ac2c7002339.png)
![screen shot 2018-03-05 at 22 20 19](https://user-images.githubusercontent.com/1619902/37012638-b478ff46-20c3-11e8-9805-e9e68283709f.png)

I'm not sure why it's working on some machines, and not on others.

The above error ultimately

[2018-03-06 05:25] 1758973467 opened #6310 "WebMapServiceImageryProvider load WMTS error in Cesium1.42"
`
var viewer=new Cesium.Viewer("CesiumContainer");

var wmtsprovider = new Cesium.WebMapTileServiceImageryProvider({
        url : 'http://localhost:8080/geoserver/gwc/service/wmts',
        layer:"test:jilinWGS84",
        format : 'image/png',
        minimumLevel:1,
        maximumLevel:8,
        style:"raster",
        proxy: new Cesium.DefaultProxy('/proxy/'),
        tileMatrixSetID:"EPSG:4

[2018-03-06 05:32] 1758973467 opened #6311 "Cesium.js behavior not the same to CesiumUnminified in Cesium1.42 on https://cesiumjs.org/tutorials/Geometry-and-Appearances/"
`
var viewer = new Cesium.Viewer('cesiumContainer');
var scene = viewer.scene;

var instances = [];

for (var lon = -180.0; lon < 180.0; lon += 5.0) {
  for (var lat = -85.0; lat < 85.0; lat += 5.0) {
    instances.push(new Cesium.GeometryInstance({
      geometry : new Cesium.RectangleGeometry({
        rectangle : Cesium.Rectangle.fromDegrees(lon, lat, lon + 5.0, lat + 5.0),
        vertexFormat

[2018-03-06 14:44] ggetz opened #6312 "Globe.pick inconsistently returns undefined"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/3xzT6__pakk

[2018-03-06 15:38] hpinkos commented on #6310
Hello @1758973467,

I think you need to use the `tileMatrixLabels` parameter.  See the documentation for more information: https://cesiumjs.org/Cesium/Build/Documentation/WebMapTileServiceImageryProvider.html

Please ask any follow up questions in the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning new features.  The forum al

[2018-03-06 15:38] #6310 closed

[2018-03-06 15:52] hpinkos commented on #6311
Hello @1758973467,  I couldn't reproduce this with the 1.43 release.  You can download the latest release here: https://cesiumjs.org/downloads/

If you still are having problems, please post in the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
Thanks!

For reference, here is the contents of the `HelloWorld.html` app that I tested with.
[code]

[2018-03-06 15:52] #6311 closed

[2018-03-06 15:56] ggetz opened #6313 "GeocoderViewModel.search command not executed when user clicks a suggestion"
Brought up on the forum here: https://groups.google.com/forum/#!topic/cesium-dev/IH6VTxePo3o

The `search` command executes when the user types a search and hits enter or clicks the search button, and also when selecting a suggestion form the drop down list with the arrow keys and enter, but not when clicking a suggestion with the mouse.

[2018-03-06 16:05] hpinkos commented on #6312
@ggetz I think you linked to the wrong forum post.
Also, can you see if he can put together a code snippet to reproduce this?

[2018-03-06 16:22] Luiz-HSSD commented on #6312
Obter o Outlook para Android<https://aka.ms/ghei36>

De: Hannah
Enviado: terça-feira, 6 de março 13:05
Assunto: Re: [AnalyticalGraphicsInc/cesium] Globe.pick inconsistently returns undefined (#6312)
Para: AnalyticalGraphicsInc/cesium
Cc: Subscribed

@<https://github.com/ggetz>ggetz<https://github.com/ggetz> I think you linked to the wrong forum post.
Also, can you see if he can put together a code

[2018-03-06 16:32] ggetz commented on #6312
@hpinkos Whoops, updated to the correct link. There is a code example there, and here is a sandcastle-friendly modified snippet:

[code]

[2018-03-07 03:43] 1758973467 commented on #6310
sorry ,but i use tilematrixlabels parameter is also have error
i look request url
<pre> http://localhost:8090/proxy/?http%3A%2F%2Flocalhost%3A8080%2Fgeoserver%2Fgwc%2Fservice%2Fwmts%3Ftilematrix%3DEPSG%253A4326%253A1%26layer%3Dtest%253AjilinWGS84%26style%3Draster%26tilerow%3D0%26tilecol%3D1%26tilematrixset%3DEPSG%253A4326%26format%3Dimage%252Fpng%26service%3DWMTS%26version%3D1.0.0%26request%3DGetT

[2018-03-07 21:25] Docteh commented on #3540
Looks like this is still a bug. Maybe the TileSet statements in the tilemapresource.xml file are being ignored? The tiles that gdal2tiles cranks out are in the wrong zoom level

In Source/Assets/Textures/NaturalEarthII/1 (part of cesium) its got four subdirectories 0,1,2,3

In the tiles I created from nasa blue marble the 1 zoom level only has two subdirectories.

I then tried tinkering with the u

[2018-03-08 07:15] tharun323 commented on #6313
please assign it to me !

[2018-03-08 13:40] mramato commented on #6313
@tharun323 there's no need for us to officially assign anything to you.  If you would like to work on this, please be our guest.  See our contributing guide for help on preparing your first pull request: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#getting-started-contributing

[2018-03-08 16:26] #6272 closed

[2018-03-09 15:30] emackey commented on #6061
So the old validation messages went away, but a new warning has shown up for each of the nodes:

[2018-03-09 19:05] #6298 closed

[2018-03-09 20:29] #6048 closed

[2018-03-09 20:29] #6184 closed

[2018-03-09 20:29] likangning93 opened #6317 "Remove `Plane` with `ClippingPlaneCollection` and `ClippingPlaneCollection.isSupported` deprecation notices"
`ClippingPlaneCollection` currently can ingest `Plane` objects, but we're getting rid of that functionality in 1.45.
Also, clipping planes are now supported in Internet Explorer, so `ClippingPlaneCollection.isSupported` should also be removed in 1.45.

[2018-03-10 13:21] luogeng2017 commented on #1028
i use thy way of `npm i cesium` to build my demo.then, use `webpack` to pack my code up.
but when i debugged ,thw code ` var result = cesiumScriptRegex.exec(src);` get a `result=null`.
Have you any way likes `npm i cesium` .thanks

[2018-03-10 13:23] luogeng2017 opened #6319 "About `CESIUM_BASE_URL` and result of `cesiumScriptRegex.exec`"
i use thy way of npm i cesium to build my demo.then, use webpack to pack my code up.
but when i debugged ,thw code var result = cesiumScriptRegex.exec(src); get a result=null.
Have you any way likes npm i cesium .thanks

[2018-03-11 06:01] mclkyo opened #6321 "cesium default navigation suggestion"
on pc,cesium's default navigation is Right click + drag, or Mouse wheel scroll，but i think in most 3d enginee, right click is rorate view,so i suggest that cesium can give a way to custom the navigation key, or change right click to rotate view

[2018-03-12 14:05] hpinkos commented on #6319
Hello @luogeng2017, please see this tutorial for webpack instructions: https://cesiumjs.org/tutorials/cesium-and-webpack/

In the future, please ask questions like this on the Cesium forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for planning new features and tracking bugs.  Thanks!

[2018-03-12 14:05] #6319 closed

[2018-03-12 14:10] hpinkos commented on #6321
Hi @mclkyo. Thanks for the suggestion, but I think we're pretty happy with the default behavior.
However, if you wanted to change it for your own application, you can do so fairly easily using the [ScreenSpaceCameraController](https://cesiumjs.org/Cesium/Build/Documentation/ScreenSpaceCameraController.html)

You can do something like this:

[code]

In the future, please open these kinds of discuss

[2018-03-12 14:10] #6321 closed

[2018-03-12 14:15] emackey opened #6322 "glTF 2.0 animations don't play"
Still investigating this, but I'm having trouble getting any glTF 2.0 animation to play in master.  Even the "animated triangle" official sample model won't budge.

The animation code is being exercised, particularly in `ModelAnimationCollection` it is running every frame and calculating a `localAnimationTime` and such.  Just visually, nothing appears to move on the screen.

[2018-03-12 15:02] lilleyse commented on #6322
It seems to work for me in the 3D Models sandcastle demo.

Are you passing in `shouldAnimate : true` to the viewer?

[2018-03-12 17:00] emackey commented on #6322
The 3D Models demo uses glTF 1.0 models.  Did you try this with glTF 2.0?  Which model?

[2018-03-12 17:10] emackey commented on #6322
Scratch that.  It's working now in Sandcastle, for certain models.

[2018-03-12 17:16] #6322 closed

[2018-03-12 19:01] emackey opened #6323 "glTF 2.0 animations can't target unspecified targets"
I have a sample model, that came from the Khronos Blender exporter, that has an animation like this:

[code]

This one targets `rotation`.  But the node in question, `"node": 1`, looks like this:

[code]

What's missing from Node 1?  There's no `rotation` specified in that node.

Cesium is currently disregarding the animations in this model, and the correct behavior only appears if I add `"rotatio

[2018-03-13 09:49] hibaAkroush commented on #6313
hi @ggetz  and @mramato

Im not sure what the problem is
I tried to use the mouse instead of enter or clicking and it works
i have been trying this in your helloworld example here :

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases

in the google forum link @ggetz added this one: https://groups.google.com/forum/#!topic/cesium-dev/IH6VTxePo3o
the i

[2018-03-13 13:27] lilleyse commented on #6323
@emackey and I talked about this a bit offline:

To fix this we can either:
* Improve `gltf-pipeline/addDefaults` so that it adds translation/rotation/scale defaults instead of a matrix default when targeted by an animation.
* Add checks for missing translation/rotation/scale in the animation code only.

Questions:
* What happens if a node uses a `matrix` but an animation targets a `rotation`? Doe

[2018-03-13 14:02] ggetz commented on #6313
Hi @hibaAkroush

Here's a code snippet:
[code]

You'll see the event fires when the user selects a suggestion from the drop-down with the arrow keys and clicks enter, but not when clicking a suggestion with the mouse.

[2018-03-13 14:31] hibaAkroush commented on #6313
Hi @ggetz
Im sorry I still cant find the snippet
these are the steps i did:
1- cloned this https://github.com/AnalyticalGraphicsInc/cesium
2- run npm install and npm start and its working properly
3- tried to search all files couldnt find the snippet

so i think maybe the thing you want fixed in not in this repo?
im confused

if it is in the repo can you give me the path

im sorry about the delay

[2018-03-13 14:50] ggetz commented on #6313
You can run the above sample in [Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases) to demonstrate the issue.

You can also run this against your cloned repo by running:
[code]
And navigating to `localhost:8080`.

You'll most likely make changes to fix in `Source/Widgets/Geocoder/GeocoderViewModel.js`.

[2018-03-13 20:41] ggetz commented on #4011
Came up on the fourm: https://groups.google.com/forum/#!topic/cesium-dev/iOtFmkqHCdo

[2018-03-14 16:16] ggetz opened #6329 "Picking issue with custom shaders"
From the forum: https://groups.google.com/d/msg/cesium-dev/25jPqr5ODg0/gYHeDX8uDQAJ

[2018-03-14 16:26] ggetz opened #6330 "Large scale shadows"
From the forum: https://groups.google.com/d/msg/cesium-dev/25jPqr5ODg0/79dIxAjVDQAJ
(See also https://groups.google.com/forum/#!msg/cesium-dev/INkyXhFVcf4/iS6QyZckDwAJ)

Shadows are tuned to objects closer to earth, at a range of about 5000 meters, so larger scale views from space like this don't cast shadows:

![image](https://user-images.githubusercontent.com/4439461/37415767-955297d8-2782-11e8-

[2018-03-14 21:27] pjcozzi opened #6332 "Support for Cloud Optimized GeoTIFF"
https://trac.osgeo.org/gdal/wiki/CloudOptimizedGeoTIFF

Basically a GeoTIFF with tiles that can be served without a full tile server.

A good starting place could be this OpenLayers viewer by @cholmes:  https://github.com/cholmes/cog-map

Could be a great code sprint project!

[2018-03-14 21:39] pjcozzi opened #6333 "Support for WFS 3.0"
Background:
   * [WFS 3.0 — Get Excited? Yes!](https://medium.com/@cholmes/wfs-3-0-get-excited-yes-8e904fdbcc0)
   * [Beyond Web Feature Services Part 1](https://medium.com/@cholmes/beyond-web-feature-services-part-1-b9ea9a86caa8)
   * [Beyond Web Feature Services Part 2](https://medium.com/@cholmes/beyond-web-feature-services-part-2-b77aa89a9fc0)
   * [WFS 3.0 Hackathon](https://github.com/openge

[2018-03-14 21:46] cholmes commented on #6332
Note that the openlayers viewer users an AWS lambda tile server. Though you're more than welcome to hit that tile server until I run out of credits. Could make a similar interaction easily.

The other thing to note is https://github.com/constantinius/geotiff.js/issues/36 - this should hopefully be a pure JS library that cesium would be able to use. cc @constantinius

[2018-03-14 22:00] cholmes commented on #6333
So we just completed a WFS 3 Hackathon, that generated a number of new implementations. See https://github.com/opengeospatial/wfs3hackathon/blob/master/Implementations.md#an-openlayers-based-client

But there was one major change that came from the hackathon - https://github.com/opengeospatial/WFS_FES/issues/64 and most implementations aren't up to date with that.

https://github.com/opengeospatia

[2018-03-14 22:03] pjcozzi commented on #6333
Very nice, thanks @cholmes!  Stay tuned, we may be able to hack on this at our code sprint in late April.

[2018-03-14 22:05] mramato commented on #6332
I was under the impression that cloud-optimized geotiffs were more for on-demand tiling using something like AWS lambda reading from a GeoTIFF stored on S3 (ideal for "serverless" but not something Cesium can do completely client side.  Because of things like band data type, projection, compression, etc.. it would be really hard for Cesium to ingest the image as tiles without a server.

That being

[2018-03-14 23:00] cholmes commented on #6332
Yeah, it's still an experiment that needs to be done, but if @constantinius is successful it should open the way for cesium. We've also contemplated a cloud optimized geotiff profile for a 'web cog', see https://github.com/locationtech/geotrellis/issues/2284 - it'd be web mercator with tiles that match web tiles, and would have RGB, etc.

But yes, using COG's with on-demand tiling with geotiffs on

[2018-03-14 23:38] lilleyse opened #6334 "glTF 2.0 - Brdf look up texture fails on Samsung Galaxy S6 edge"
On a Samsung Galaxy S6 edge `BrdfLutGenerator.js` (called by `Model`) is crashing Cesium. It's hard to tell if this is a shader compilation bug or something with the draw command execution - but it all looks ok at a quick glance.

https://groups.google.com/forum/#!topic/cesium-dev/BbHs7YRg1DA

[2018-03-15 01:54] mramato commented on #6332
Sounds promising, thanks for the info.

[2018-03-15 02:07] mramato commented on #6334
We've ran into plenty of problems with the Galaxy in the past (most related to the Mali GPU), one thing that comes to mind is #4563 (floating point textures).  But I assume that doesn't apply here.

It would be interesting to try to reproduce this using a WebGL 2.0 context. Since WebGL 2.0 has more features built-in, some of the shenanigans that Android does on a per-GPU basis doesn't happen.

Gal

[2018-03-15 09:48] jionghui opened #6335 "Cesium polygon entities display with missing vertex"
There are 4 vertices created for the polygon entities, however, there are only 3 vertices displayed as shown below.
![capture](https://user-images.githubusercontent.com/1123051/37455299-b64e4b12-2877-11e8-81a9-cbe00287f177.JPG)

**Tested on 1.43.0 :**
[code]

[2018-03-15 13:47] ggetz commented on #6335
Hi @jionghui, the polygon primitive is designed to conform to the curvature of the ellipsoid, so it doesn't work for arbitrary polygons in space. See more discussion in https://github.com/AnalyticalGraphicsInc/cesium/issues/5907

Closing as a duplicate of https://github.com/AnalyticalGraphicsInc/cesium/issues/3349

Since you are trying to create a vertical polygon, maybe a [wall](https://cesiumjs.

[2018-03-15 13:47] #6335 closed

[2018-03-15 14:51] Thoenu commented on #2172
hi all, you might want to consider our journal article which contains some more perfomance analysis.

http://onlinelibrary.wiley.com/doi/10.1111/cgf.13294/abstract

[2018-03-15 15:14] lilleyse opened #6338 "Consistent boilerplate code in Sandcastle demos"
Some Sandcastle examples use outdated or inconsistent boilerplate code. This can be fixed be clicking the `Save As` button in each demo and replacing the code.

This would make a good beginner issue.

More details and an example from @emackey in https://github.com/AnalyticalGraphicsInc/cesium/pull/6337/

[2018-03-15 15:18] mramato commented on #6338
To avoid manual labor in the future, we should be able to automate this process so that we re-save all Sandcastle examples with a single npm command, just like we do with sortRequires.  Should be possible with either headless Chrome or Electron.

[2018-03-15 15:18] hpinkos commented on #2172
Thanks for sharing @Thoenu!

[2018-03-15 21:00] likangning93 commented on #5025
Coming soon to a Cesium near you:

![comingsoon](https://user-images.githubusercontent.com/5395255/37490860-5052ad12-2872-11e8-88df-2871ec04ed29.JPG)

[2018-03-15 21:29] hpinkos opened #6339 "Tests that need to load data don't work in karma"
Doing this in the Jasmine HtmlReporter works:

[code]

However, to get this to load when running tests in karma the path needs to look like this
[code]

Running `npm run test` locally fails tests all over the place because of this.  I have no idea why they pass on travis.

See `zoomTo zooms to Cesium3DTileset with default offset when offset not defined` in `ViewerSpec` for an example

cc @mramato

[2018-03-15 22:50] scottnc27603 commented on #2521
We are still seeing disconnected arabic lettering.  We've set the enableRightToLeftDetection properly based upon the browsers language.  I really don't know much about the rtl language characters, so some of the discussion here is over my head.  Should arabic labels appear connected?  Does the TwitterCldr fixed this issue?

[2018-03-16 06:30] zwcloud commented on #1683
@ggetz @hpinkos

It is about __Two__ months later, where is the new tutorial?

[2018-03-16 13:36] ggetz commented on #1683
Hi @zwcloud, the Cesium team has a lot of projects going on right now, and plans can change fast.

It's good to hear your excited for the tutorial, maybe you could help by researching and [contributing](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md) some content yourself?

[2018-03-16 14:11] shunter commented on #6232
Since we're fast approaching doomsday here I started prototyping storing code in the URL directly, without a server.  Using zlib compression and storing the compressed result base64-encoded in the URL fragment looks like this:

http://localhost:8080/Apps/Sandcastle/#cc=eJy1VV1v2jAU/StWXkil1ECh7UZptX5M66ShdaXay5gq17kQC8dGtkPpKv77rvMBIZ22vWDlwb4+Pvfc44+8BlzHEAyCJTNkKeAZDDknCp7JNViRpfR7HgtbPB9ea+WYUG

[2018-03-16 14:20] mramato commented on #6232
Given the main reason for this feature is to post to the forum and GitHub issues, I very much prefer the url approach, even if it's a little verbose.

@kring to answer your question, cesiumjs.org is hosted on S3 now (via CloudFront).  I did look into using lambda or a small shim server to allow for storing of gists directly into S3, but I think it's extra infrastructure that we don't necessarily n

[2018-03-16 14:22] mramato commented on #6232
@shunter what library are you using for the compression?  https://github.com/rotemdan/lzutf8.js looks promising and is pretty small (9kb minified).

[2018-03-16 14:24] pjcozzi commented on #6232
url approach is OK with me.  If it gets out of control, we can re-evaluate in the future.  I think most code snippets we share are pretty small - which is exactly what we want for bug reports.

[2018-03-16 14:26] mramato commented on #6232
https://github.com/pieroxy/lz-string/ may also be a good choice.

[2018-03-16 17:34] hpinkos commented on #2521
@scottnc27603 Could you please paste a short code example to reproduce what you're seeing?  Thanks!

[2018-03-16 18:03] shunter commented on #6232
I tested several other compression algorithms and surprisingly zlib (via pako) provides the best compression of anything I tried (LZMA, bzip2, smaz, all of the algorithms from https://www.npmjs.com/package/compressjs)

base85 / ascii85 didn't pan out because it turns out that 14 out of the total 95 printable ASCII characters are not permitted in a URL fragment - ```"#%< >[\]^`{|}```  - leaving onl

[2018-03-16 18:50] mramato commented on #6232
Thanks @shunter, I really appreciate you handling this.  I'll review a PR as soon as you have it and we'll get this deployed ASAP.

[2018-03-16 19:43] constantinius commented on #6332
Hi folks!

GeoTIFF.js is capable of (or will soon be) handling all data abstraction stuff (remote reading, all kinds of tiling, compression, etc). It can read the actual raster values (TypedArrays) which can then be visualized. For single band false color visualization there is [a good library](https://github.com/santilland/plotty) that works well with the parsed data.

What we are currently think

[2018-03-17 14:14] #6232 closed

[2018-03-19 10:21] Ants-double opened #6345 "Volume rendering Demo"
Now ,I want to develop a program that can show the volume rendering . i.e.  the clouds in the air. .
I have  RAW data ,i have no idea. Thank you help me?

[2018-03-19 14:28] hpinkos commented on #6345
@Ants-double if you're interested in cloud rendering, see the discussion in this issue: https://github.com/AnalyticalGraphicsInc/cesium/issues/5962

For all other questions, please post on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning new features.  Thanks!

[2018-03-19 14:28] #6345 closed

[2018-03-19 16:15] likangning93 opened #6347 "EllipseGeometry rectangles not getting computed correctly"
[Link for Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=dVVNb+IwEP0rFheCxBo49MLSalmWpajdtirVnpAqkwzg1rEj24HSVf/7jkNinJRyCvabN28+vWOa7DjsQZNLImFPJmB4ntK/xVnUjou/EyUt4xJ0u/N9KXdoA+JB85RbvgM8WecytlxJkrJXmArBMwNRDNKC7pB/S0nwd/RC8RCtwFANqdrBWIjIcToEX5OodJ/AGt0lUeCm45kCNoNOgGYVpmKt2ZXsH0tZCinkFxpnoFKw+oCxh8FP67dR4PcYFBmWH93TjYGU/+FS6fEbNwi46Lsf7Tch7MVDBv3PGK0sK1KJDHQQXOxAW3j7rXTKLF5Wd

[2018-03-19 17:26] hpinkos commented on #6347
@likangning93 we know the positions used to draw the ellipse, so we should be able to find a bounding rectangle fairly easily.  To me, it looks like our [EllipseGeometry computeRectangle](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/EllipseGeometry.js#L662) function is not applying the rotation correctly.

Look at [EllipseGeometryLibrary.computeEllipsePositions](https://

[2018-03-19 20:47] jimmyangel commented on #5847
Folks, I know this issue has been closed but I am seeing the error "Invalid asm.js: Invalid member of stdlib". I am running Cesium version 1.43 on Chrome version 66.0.3359.33 on macOS 10.13.3.

[2018-03-19 20:52] hpinkos commented on #5847
@jimmyangel do you have any steps to reproduce this?

[2018-03-19 20:55] jimmyangel commented on #5847
Ooops! My bad. I am really sorry for reporting this -- I made a mistake in my configuration and I was still pointing to an older version of Cesium. I checked again with the correct 1.43, and the error is gone.

[2018-03-19 21:07] hpinkos commented on #5847
No problem @jimmyangel!  We're here to help =)

[2018-03-19 21:27] ggetz opened #6350 "PolylineVolume extruded shape cannot be drawn below the reference positions"
Brought up on the forum: https://groups.google.com/forum/#!topic/cesium-dev/rfu43TpF0h0

[code]

[2018-03-19 23:15] tkazik commented on #6304
Just had a look at your suggestion:
[code]
The inner part of the if-statement never gets executed, as the `runtimeNode.computedMatrix` is a matrix of zeros and its determinant is thus also zero. Any ideas why that happens?

[2018-03-20 13:22] lilleyse commented on #6304
At that point the `computedMatrix` hasn't been computed yet. It's just an order of execution problem in our loader. I left the code in an unfinished state for now until I am able to look at it closer.

[2018-03-20 14:11] #6323 closed

[2018-03-20 14:43] likangning93 commented on #6347
Sort of... in more detail, the current `computeRectangle` function builds the rectangle extents just by transforming the axes of the the ellipse. This just doesn't account for curvature, hence the current accuracy problem:

![img_20180320_103554739](https://user-images.githubusercontent.com/5395255/37661313-e3f7b042-2c2a-11e8-867d-50d9b8223288.jpg)

IQ's algorithm accounts for the curvature and wo

[2018-03-20 17:47] tkazik commented on #6304
Ok, thanks! I created a new PR, that seems to fix the issue. Basically, it takes the scales of the gltf node to determine the culling. Let me know what you think of it.

[2018-03-20 19:08] tamarmot commented on #6176
fixed by my pull request ...

[2018-03-20 19:08] #6176 closed

[2018-03-20 19:08] cesium-concierge commented on #6176
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/e_osjMgHD4E

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-03-21 00:37] mramato opened #6354 "cesium concierge has gone quiet"
@ggetz are you looking into this?

[2018-03-21 00:41] mramato commented on #6354
@ggetz, it appears something may have changed on the GitHub API side of things, the log is full of errors.  Either that or the server just needs a reboot because of the AWS outages earlier.  Let me know if you need help debugging tomorrow, but I assume we want this fixed ASAP (CC @pjcozzi).

[code]

[2018-03-21 03:07] lilleyse commented on #5984
Another issue from the forum: https://groups.google.com/forum/#!topic/cesium-dev/rUFnzb0d14o

[2018-03-21 03:18] pjcozzi commented on #6354
Sooner is better, but let's discuss if the scope is somehow large.

[2018-03-21 04:20] zebrainncu opened #6356 "about Imagery Layers"
Hi
I use refence  Apps\Sandcastle\gallery\Web Map Tile Service with Time.html
I want to add a WMTS imagery layer in cesium
but it doesn't work. Some message as below
An error occurred in "y": Failed to obtain image tile X: 214 Y: 110 Level: 8.

![image 1](https://user-images.githubusercontent.com/16786888/37694387-c6d0d69c-2d01-11e8-9bdf-26f28bd0cf50.png)

=================
<!DOCTYPE HTML>
<html l

[2018-03-21 13:16] ggetz commented on #6354
I'll take a look and see what all is needed, hopefully it's just the outages. Ran a quick test yesterday and it was still successfully commenting on closed issues.

[2018-03-21 15:12] hpinkos commented on #6356
@zebrainncu try taking a look at our [Imagery Layers Tutorial](https://cesiumjs.org/tutorials/Imagery-Layers-Tutorial/) to see if that helps.

Otherwise, can you please ask your question on the forum? https://groups.google.com/forum/?hl=en#!forum/cesium-dev
A lot more people see forum posts so it is more likely that someone will be able to help.
We use GitHub exclusively for tracking bugs and plan

[2018-03-21 15:12] #6356 closed

[2018-03-21 15:15] lilleyse opened #6358 "Clarify documentation for 3D Tiles styling"
With the addition of vector tiles we added a lot of new styling properties to `Cesium3DTileStyle` but most of those are only applicable to vector tile point features. This could be clarified better in the documentation. Besides `color` and `show` which are used by all formats, each property should have a note about which tile formats they are applicable to.

vctr point feature properties: https://

[2018-03-21 15:21] ggetz commented on #6354
It looks like an error parsing `CLA.json` due to a typo, I'll add some error checking so this doesn't happen in the future.

[2018-03-21 15:56] mramato commented on #6193
@hpinkos can you list steps to still reproduce this.  I know we fixed the initial issue, but we should really fix this completely as reliability is really important when using requestRender.

[2018-03-21 16:05] pjcozzi commented on #6354
I think the error checking should happen in CI, just like glTF, 3D Tiles, etc.

[2018-03-21 16:06] hpinkos commented on #6193
@mramato I'll have to trace what's going on in composer to figure out a way to reliably reproduce it.  It's really easy to reproduce in that application but difficult to reproduce with the sandcastle example I put together.

[2018-03-21 16:13] mramato commented on #6354
We can check in both places, but I agree with @ggetz in that cesium-concierge should definitely have an error check as well, so that the actual problem is obviously logged if it gets bad data as opposed to the obtuse callstack we had.

[2018-03-21 16:17] pjcozzi commented on #6354
OK, I guess it is also good if others are using concierge without our CI.

Just keep it quick and simple please.

[2018-03-21 17:19] roderickgreen commented on #3945
We are also experiencing this. Any help would be appreciated. [Here](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=rVbbbts4EP0Vwi+RUYWW4wYFXDeo43jRoE4b1NktFutiQUtji7sUKZCUE7fwv5ek7r5kg0X9ZJ2ZM+Sc4aG04Bsi0YbCI0j0DnF4RBNQNEvwHw7zzkL3OBFcE8pBnvnox4IjpGkCzABDtCJMgW8xwmlCNBW8CSpgocVueURDooVsBilfiWvx1IRWGWMqlAD8OtO6XWsNIhQRtEosiYIZ2YK8p+G/7ZAKgcOdIQzLpuYlgueT6afpxU2+i4SsQW7vpdjQuvqC77pvFzzXBrtaeM

[2018-03-21 17:30] hpinkos commented on #3945
@roderickgreen unfortunately we don't have a workaround for this, and I'm not sure how soon we'll be able to look into fixing it.  If you have some extra time to look into it we would gladly take a pull request!

I think the problem is happening in [StaticGeometryColorBatch](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/DataSources/StaticGeometryColorBatch.js)
`StaticGeometryC

[2018-03-21 19:33] #6354 closed

[2018-03-21 20:32] tamarmot opened #6360 "kml markup not rendering on lunar surface except for polygons"
Completely baffled.  I have some kml and when set up the KmlDataSource with NO ellipsoid, it renders perfectly with all parts (polygon, placemark points with icons, linestring, labels).  When I pass in the ellipsoid (which is the moon) the coordinates are converted with that ellipsoid now, but the only thing that renders is the polygon.
Here are some sample coordinates and conversions (verified);

[2018-03-21 21:34] hpinkos commented on #6360
@tamarmot are the other placemarks/labels clamped to ground?  That might be the issue.  We might have more things that use only Ellipsoid.WGS84 related to clamping.  But if that's the case, this wouldn't have ever worked.
If you think this used to work when you committed your ellipsoid change, you can try checking out the repo at the commit when that was merged into master.  Then you could do a gi

[2018-03-21 21:44] tamarmot commented on #6360
None of the placemarks are spec'd as clamped to ground at all.  Attached is
a sample file.

Yep, looking into the git history makes sense.  thanks
Tamar

On Wed, Mar 21, 2018 at 2:34 PM, Hannah <notifications@github.com> wrote:

[2018-03-22 15:04] roderickgreen commented on #3945
@hpinkos thanks for the pointer. I'm not sure how long it will take for me to get up to speed on the source to try to tackle this but I'll at least give it a shot.

For others, a possible workaround is to group entities in [CustomDataSources](https://cesiumjs.org/Cesium/Build/Documentation/CustomDataSource.html) to control which entities end up in batches for rendering. See [this](https://cesiumjs

[2018-03-22 15:30] sir-chaos opened #6361 "Scene.drillPick messed up on entities borders"
tl;dr: it would be great to add picking rectangle height and width parameters to Scene.drillPick to pass to underlying Scene.pick.

There were some threads/issues about pick/drillPick messing up pickPosition. This one is similiar too, although its more about unlucky missing feature or two, then plain bug in Cesium source. Imagine a scene where you need to intensively use pickPosition to get under-

[2018-03-22 16:08] hpinkos commented on #6361
Thanks @sir-chaos, this seems like a good idea to me!  If you have time to put together a pull request we'd be happy to review it =)

[2018-03-22 16:10] sir-chaos commented on #6361
Sure, I'll try to do that soon.

[2018-03-22 21:59] sir-chaos commented on #6361
@hpinkos added pull request https://github.com/AnalyticalGraphicsInc/cesium/compare/master...sir-chaos:patch-2

[2018-03-23 17:24] hpinkos opened #6365 "Crash when bounding sphere is at the origin"
[code]

This crashes because while it tries to project the bounding sphere center to 2D for the batch table.

[code]

Also, setting `scene3Donly: true` does not fix the issue.  Should we be skipping this step if `scene3D only`?

[2018-03-23 17:38] mramato commented on #6365
Unless I'm remembering incorrectly, Cesium has always had issues drawing data at the WGS84 origin because of the discontinuity there.

That being said, we can probably skip some of the work in `updateBatchTableBoundingSpheres` when in 3d only mode, but I'm not positive you won't immediately hit another issue related to the discontinuity.

[2018-03-23 17:42] hpinkos commented on #6365
The only reason it's a problem is because it's trying to convert `(0,0,0)` into a cartographic and doesn't know how to do it

[2018-03-23 17:50] mramato commented on #6365
Yes, I know that, but there are lots of other areas of the code that would end up trying to do the same calculation, so skipping it here might still cause a conversion failure elsewhere.

[2018-03-23 20:22] hpinkos opened #6366 "Terrain Clipping Planes Sandcastle example is broken in master"
http://localhost:8080/Apps/Sandcastle/index.html?src=Terrain%20Clipping%20Planes.html&label=Showcases

The following error happens when you switch to the `St. Helens` example

[code]

Thanks for catching this @hanbollar!

[2018-03-23 20:23] hpinkos commented on #6366
This was probably my fault.  Looking into this now

[2018-03-24 03:17] #6366 closed

[2018-03-26 04:45] gezonthenet opened #6369 "cesium cannot read property toBytes of undefined"
Upgrading from Cesium 1.42 to 1.43 results in a CZML file failing to animate with the error "cesium cannot read property toBytes of undefined". It appears to be something to do with the material color handling.

The attached file works in 1.42, but fails in 1.43.

I zipped the czml file uploading.

[20180326_135831_ALL_A_RRC_Attempt.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/184633

[2018-03-26 13:48] shunter commented on #6369
Your CZML is invalid.  Loading it produces:

[code]

Looking at the file, your position data is incorrectly specified as strings.

[2018-03-26 13:49] shunter commented on #6369
Here's the reformatted CZML file.

[20180326_135831_ALL_A_RRC_Attempt.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/1848058/20180326_135831_ALL_A_RRC_Attempt.txt)

[2018-03-26 17:17] likangning93 commented on #6347
I tried computing the thetas for where the ellipses "touch" the bounding box and then generating the projected points for those, but it looks like the projection can make those thetas basically "wrong" at the poles. I think we're just going to have to cycle over all the generated points, unfortunately.

[2018-03-26 18:54] roderickgreen commented on #3945
FYI I have a fix for this. I need to wait for people to get back from vacation to get the CLA signed, then I'll work to put together a pull request.

[2018-03-26 22:47] andrzejfigula opened #6372 "Firefox 59.0 on macOS ctrl+touchpad rotation not working"
Latest Firefox broke navigation control (ctrl + touchpad to rotate) for macbook.
This was only checked with touchpad, not sure if affects other pointing devices.

Environment:
- macOS (Sierra) on MacBook Pro (Retina, 15-inch, Mid 2014)
- Firefox 59.0.2 (64-bit)
- Cesium 1.43 (Cesium home page and my application)

Issue:
I'm always using touchpad to rotate (**ctrl + touch**), it was always possible

[2018-03-27 00:10] getardretard commented on #6369
Hi, thank you for taking the time to respond. I'm not sure that the position data as strings is an issue, I've been using the same czml/json format for years and never had a problem.

The error I am getting is (in chrome):
![2018-03-27 10_32_50-geoapp_chrome error](https://user-images.githubusercontent.com/15369849/37939002-60202038-31ac-11e8-92f0-26a7daa32c54.jpg)

(in firefox):
![2018-03-27 10_3

[2018-03-27 03:40] srwiseman commented on #6338
I could probably automate this for you guys. Not sure I totally understand what you mean, though.

Are you saying that there's a mismatch between the code displayed on the sandcastle screen and the code in the actual html files?

[2018-03-27 13:06] emackey commented on #6338
@srwiseman Thanks for the offer!  The Sandcastle system has a "Save" functionality built-in, and the way it works is a little unorthodox.  You can write or modify some Sandcastle code directly in your web browser, testing it with F8 and using the integrated Cesium docs etc., and then when you're done, you click "Save As" from the top toolbar.  Sandcastle offers you a button "Save HTML file..." and

[2018-03-27 14:12] srwiseman commented on #6338
Gotcha! Thanks for the awesome explanation.

Here's my proposed short-term solution:

I'll go through and manually re-save all of the demos so that they have a consistent boilerplate code. I'll then do something like:

`git update-index --assume-unchanged Apps/Sandcastle/gallery/*.html`

That way the html files stay tracked, but git won't pick up future changes when you do an add/commit. When some

[2018-03-27 14:26] emackey commented on #6338
I don't think we're pressed for a short-term solution here.  The individual demos get updated a lot more frequently than the bucket code, so we don't want developers to mess with `git update-index` just to update a particular demo.

I think just the long-term solution, in the form of a script that updates the bucket code throughout the gallery, is all that's needed here.  Thanks!

[2018-03-27 14:41] hpinkos commented on #6347
@likangning93 you can call `EllipseGeometryLibrary.computeEllipsePositions` from the `computeRectangle` function.  It's unfortunate to have to compute it twice but that's what we ended up having to do for corridors.  In the grand scheme of things it's not that expensive to just compute the outer ring.

[2018-03-27 14:42] hpinkos commented on #3945
Thanks @roderickgreen!  Looking forward to your contribution =)

[2018-03-27 14:44] srwiseman commented on #6338
Ah, understood. You're right, If the demos themselves are not relatively static, then `git update-index` isn't viable. I'll see if I can come up with a script!

[2018-03-27 14:44] hpinkos commented on #6372
Thanks for reporting this @andrzejfigula!
@ggetz can you confirm this bug on your mac?

[2018-03-27 14:46] #6119 closed

[2018-03-27 14:48] hpinkos commented on #6369
Thanks @gezonthenet, this is a regression related to some recent changes I made.  I'm looking into this now and should have a fix in for the next release

[2018-03-27 14:50] hpinkos opened #6373 "Remove deprecated credit parameters"
A bunch of things in `Credit` were deprecated in #6331

- Credit `options` parameter
- Credit functions related to `link`, `text` and `image`

[2018-03-27 18:43] hpinkos opened #6378 "Error in StaticGeometryPerMaterialBatch"
[code]

[This if block](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/DataSources/StaticGeometryPerMaterialBatch.js#L147-L149) is wrong.  `MaterialProperty` is an interface, so `this.depthFailMaterialProperty` will never be an instance of `MaterialProperty`.
What should this actually be?  I couldn't figure it out.

cc @bagnell @mramato

[2018-03-27 18:54] mramato commented on #6378
That whole block is a mess.  Fairly certain this check us unnecessary and it should just always execute the true block.  If `depthFailMaterialProperty` is defined, thenit is guaranteed to be a MaterialProperty implementing class.

[2018-03-27 19:37] #6369 closed

[2018-03-28 14:10] #6378 closed

[2018-03-28 15:39] pjcozzi opened #6384 "Flag new/updated Sandcastle examples"
Right now, users have to look at CHANGES.md or I guess the file timestamps to see what new examples are in a release.

It would be cool if there was a Sandcastle tab (or other type of sorting / highlighting) where it is easy to discover the new / significantly updated examples.

Could maybe even automate it as part of the build.

Folks were asking for the same thing for three.js at GTC

[2018-03-28 15:40] mramato opened #6385 "Enable jasmine random test ordering and fix broken tests"
#6383 upgraded Jasmine which includes random testing ordering as the default.  This is desired because it creates more robust, standalone unit tests and make sure unit tests don't conflict with each other.  Unfortunately, Cesium's current unit tests have lots of this going on.  Someone needs to re-enable the flag in `karma.conf.js` and fix any test failures exposed by repeatedly running `npm run t

[2018-03-28 15:42] mramato commented on #6384
For automation, this should be easy by having `createGalleryList` look at new files since the previous release git tag.

[2018-03-28 15:42] emackey commented on #6384
This is a great idea.  Probably shouldn't use file timestamps for this though.  Git log can identify what's changed lately in a particular branch, or we could manually flag some each release.

[2018-03-28 15:43] emackey commented on #6384
For example, if a developer has been working on a branch that has changed demos, and then swaps back to master to build a release, the datestamps on those files will get touched to "now" as the demos are reset back to their old master state.  They would be incorrectly flagged as new.

Likewise, on a fresh clone, everything is new.

[2018-03-28 15:47] mramato commented on #6384
Just do: `git diff --name-only --diff-filter=A 1.43 HEAD Apps/Sandcastle/gallery/*.html` and you're done.

[2018-03-28 15:54] emackey commented on #6384
@mramato That's perfect.

[2018-03-28 19:12] #6347 closed

[2018-03-28 22:15] mramato commented on #6384
PR incoming.

[2018-03-28 23:29] lilleyse opened #6388 "Point cloud with part opaque, part translucent style renders as translucent"
A point cloud style that has translucent and opaque conditions will always be rendered as just translucent. This results in opaque points that look semi translucent when OIT is on.

A possible fix would be to render twice, once in the translucent pass (with opaque pixels masked out) and once in the opaque pass (with translucent pixels masked out), similar to b3dm/i3dm but without the per-tile chec

[2018-03-29 15:47] #6384 closed

[2018-03-29 23:43] lilleyse opened #6392 "Improper leading slash for non-b3dm tile"
I ran into a tileset that has a tile url with a leading slash that is not caught correctly by `detectBrokenUrlWorkaround`. The problem is the first tile that is encountered is a b3dm tile with a correct url while the tile with the broken url is deeper down the tree. It looks something like:

[code]

I wonder if we should always apply the workaround instead of trying to detect it... unless that cau

[2018-03-29 23:51] mramato commented on #6392
I think we should tell tiler authors to fix their broken tilesets and remove the workaround completely.  The workaround was always supposed to temporary anyway.  Long term, the validator should be able to catch this error.

[2018-03-30 00:02] Docteh commented on #3540
According to [this specification](https://wiki.osgeo.org/wiki/Tile_Map_Service_Specification#global-geodetic) the issue is with gdal2tiles, as on the specification they state that

I only got one tile when I asked gdal2tiles for level 0, posting it below

![0](https://user-images.githubusercontent.com/190571/38118642-07810c3c-3371-11e8-8b0d-cc83283c40c7.png)

As a code based work around, this Work

[2018-03-30 15:33] mramato opened #6394 "Make it trivial to relocate a Cesium3DTileset"
Right now, you need to jump through a bunch of hoops to relocate an already geolocated tileset.  We should be able to turn this into a one-liner, something like `tileset.setPositionHeadingPitchRoll`

Here's an example of what I had to do today to move a tileset.  Do we have an easier way that I'm already missing? CC @lilleyse @likangning93

[code]

[2018-03-30 15:36] likangning93 commented on #6394
My first instinct was to invert the existing `transform` and then build a more ordinary ENU -> CBF/world matrix.

[2018-03-30 15:38] mramato commented on #6394
Thanks @likangning93, the above was the code I had on hand; but I agree your idea is probably better.  Do you have a snippet of your approach?

[2018-03-30 17:01] likangning93 commented on #6394
Ah wait... I think I came up with that idea because I didn't realize the root transform is different from the tileset model matrix. Couldn't we just clear that tileset root transform and then use `Transforms.headingPitchRollToFixedFrame`?

[2018-03-30 18:55] tfili commented on #6392
I'm with @mramato on this one. Putting in hacks to fix bad tilesets would then make viewers that follow the spec inconsistent. It's the same issue that exists with KML. There is the spec and then there is what Google Earth supports. GE enabled bad behavior, so now implementing a good KML is near impossible. There is no docs on the hacks, so its just a big game of whack-a-mole.

[2018-03-30 19:30] NaderCHASER opened #6395 "512px Tile Support Broke"
[Sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=ZVDva8IwEP1XQr9UQZJWGWxaZSADBzrFH9uXwojtrQ1Lk5KkdVX835e2DtQdhPDe3XvHu5IqVDI4gEJjJOCApqBZkeH3huu4UQOnUhjKBCi3OwpFKEqrYvmtYqf4FrKcUwOvGU1AVSslSxZbl1MokK1C8SFyU2NyPSTEMA7K8zHlnGkpUllowJHMmgaZrdfr6fJttyHbl8Xqs78gfc9/9AYDj9jP1hV+anBOORgD5HQ8k1Nl388Z5yJxe+3y2vWDxSYdoge/f0XOgCWpadhQnC/5mvRYRyAAszbNnFagNKZxfB+P5d2R03MCbSoOk9b5mWW5VKbO3MGYmM

[2018-03-30 19:33] hpinkos commented on #6395
Thanks @NaderCHASER, what's the last release you know this worked in?

[2018-03-30 19:43] NaderCHASER commented on #6395
It's been over a year @hpinkos. I found an `ol-cesium` issue from May 11, 2017 which reports this exact problem (but proposes - 1 level offset).

https://github.com/openlayers/ol-cesium/issues/457

I'll likely end up with a PR to fix this as I'm migrating from 256px tiles to 512px tiles. No guarantee you all won't beat me, though.

[2018-03-30 19:46] hpinkos commented on #6395
Gotcha.  Yeah if you have time to look into it that would be greatly appreciated @NaderCHASER!  I'm not sure we'll be able to very soon.

[2018-03-30 19:56] lilleyse commented on #6392
I agree with you guys, I'm just noting a bug in our current workaround.

[2018-03-30 20:09] tfili commented on #6392
The current workaround was only for a very specific set of b3dm paths. It was intentionally made extremely narrow.

[2018-03-30 20:16] lilleyse commented on #6392
Alright sounds good. Yeah tooling (like validator or upgrade scripts) is the better way for handling this problem. I'll close for now.

Moved to https://github.com/AnalyticalGraphicsInc/3d-tiles-tools/issues/141.

[2018-03-30 20:16] #6392 closed

[2018-03-31 00:55] pjcozzi commented on #6395
@NaderCHASER +1 if you are able to submit a PR.  Also, we would be very interested to hear how 512px tiles perform in Cesium!

[2018-03-31 23:18] pjcozzi opened #6397 "Streaming point clouds"
Add the ability to stream real-time LIDAR, e.g., millions of points per second over web sockets, refreshed many times a second, each update is a "frame."

Each frame completely replaces the previous frame and may have a different number of points.  Each point may have attributes beyond XYZ/RGB.

**Near-term ideas**

* Performance
   * Format
      * [ ] What is the right over the wire format?  3D

[2018-03-31 23:26] pjcozzi commented on #6080
@lilleyse what are your latest thoughts here?  In particular, how could we make this really efficient for the case, for example, if an agent is moving along a path in real-time and for its current longitude/latitude, we want to clamp it to the current LOD of the tileset?

[2018-04-02 13:32] lilleyse commented on #6193
This likely won't make it into 1.44 but I've leave the next release label.

[2018-04-02 14:39] pjcozzi commented on #2524
Perhaps interesting reading:

* [ES modules: A cartoon deep-dive](https://hacks.mozilla.org/2018/03/es-modules-a-cartoon-deep-dive/)

[2018-04-02 15:29] lilleyse opened #6399 "Error loading decodeDraco in IE"
In Internet Explorer, when I choose the Draco model from the dropdown in the 3D Models sandcastle the console logs an error and the model doesn't load:

`importScripts failed for Workers/decodeDraco at http://localhost:8081/Source/Workers/decodeDraco.js
http://requirejs.org/docs/errors.html#importscripts (on line 162 of http://localhost:8081/Source/Workers/cesiumWorkerBootstrapper.js)`

@ggetz cou

[2018-04-02 17:23] likangning93 commented on #6394
Maybe something as simple as this:
[code]
I guess the one worrisome thing here is direct access of the private `tileset._root.transform`.
Maybe we could avoid that by using the inverse strategy and approximating that inverse based on the tileset's bounding sphere. That might even help us with the problem where local center for tilesets is sometimes several kilometers away.

[2018-04-02 19:22] ggetz opened #6404 "Use legacy environment enabled build for draco decoder module"
CC #6399

There's an error when loading the draco decoder module in IE as the build of the deocder we are using (https://github.com/google/draco#javascript-encoderdecoder) does not support IE as it is a "Legacy environment". We need to use a version built with legacy support.

[2018-04-02 19:47] lilleyse commented on #5046
I don't see this failure anymore.

[2018-04-02 19:47] #5046 closed

[2018-04-02 20:11] lilleyse commented on #6221
I added the test back in for https://github.com/AnalyticalGraphicsInc/cesium/pull/6390. Hopefully it consistently passes once that PR is in.

[2018-04-02 20:12] lilleyse commented on #4942
Fixed in https://github.com/AnalyticalGraphicsInc/cesium/pull/6290

[2018-04-02 20:12] #4942 closed

[2018-04-02 20:26] lilleyse commented on #2860
23 failures now. Some of them actually don't look too bad, makes me optimistic that we may eventually hit zero. This was run pre-Draco updates (https://github.com/AnalyticalGraphicsInc/cesium/pull/6405/files)

* Renderer/freezeRenderState works as expected
* Scene/Expression constructs regex
* Core/CircleGeometry computing rectangle property
* Scene/GoogleEarthEnterpriseImageryProvider resolves re

[2018-04-02 22:06] hpinkos opened #6410 "Use ellipsoid option in entity geometries"
Things like `PolygonGeometryUpdater` don't pass in an `ellipsoid` when creating a `new PolygonGeometry`.  Since `PolygonGeometryUpdater` has the `scene`, we should be able to pass through `this._scene.globe.ellipsoid` (check if globe is defined of course).  This would allow better support for non-earth ellipsoids.

[2018-04-02 23:16] keikland opened #6411 "cesium_base regression in v1.44"
Hi,
Thanks for the new release. Always appreciated! Unfortunately, my app failed to start and it seems the broken cesium_base directory issue from v1.42, fixed in v1.43, is back again. The load of the terrain json in the Assets directory failed first. The app started when I forced cesium_base to the proper directory.

Best regards,
Kjell

[2018-04-03 00:07] lilleyse opened #6412 "glTF 2.0 models appear dark"
Compared to other glTF viewers out there our models usually appear darker. We should experiment with either:

* Increase the sun/environment lighting brightness
    * Make it configurable?
* Tweak the PBR shader. I believe https://github.com/KhronosGroup/glTF-WebGL-PBR performs all lighting in linear space and outputs in sRGB space, whereas we do everything in sRGB space.

[2018-04-03 00:53] pjcozzi commented on #6080
* [ ] **VTF / WebGL 2 performance idea**: Render the height to texture, then use VTF in a second pass to position the primitive on the 3D Tileset.  The primitive's command's bounding volume will need to be conservative enough.  I originally thought about doing this with transform feedback, but I think this is cleaner and more widely supported.
* [ ] **Multi-query optimization**: Just like tracing

[2018-04-03 00:56] pjcozzi commented on #648
Just adding a note to myself that we would also consider down-scoping this if it makes it easier to implement, e.g., support three.js geometries but not post-processing, etc.

[2018-04-03 09:22] crubier opened #6414 "Implementation of `ScreenSpaceCameraController` does not follow documentated specification"
The actual behaviour of `ScreenSpaceCameraController` does not fit what is said in the documentation.

This table summarizes the discrepancies (in red):

https://docs.google.com/spreadsheets/d/1OzlwQqFJkqIsK44NLkyFCYyDyM62EvHrvFqPZvDB5Ag/edit?usp=sharing

<img width="708" alt="screen shot 2018-04-03 at 10 21 41" src="https://user-images.githubusercontent.com/2954572/38240930-d37f16ca-3728-11e8-8c5

[2018-04-03 11:01] pjcozzi commented on #6412
I also think IBL will help here.

Cesium does look much darker, so I am keen on a quick workaround in the meantime.

For example, compare Cesium to the other engines here: https://github.com/KhronosGroup/glTF-Sample-Models/pull/154#issuecomment-373727889

Perhaps @emackey has a few minutes to spare to work on this? 😄

[2018-04-03 11:49] pjcozzi commented on #6404
Isn't this duplicate with #6399?

Did we ship 1.44 with Draco not working IE?  Does it at least fail gracefully?

[2018-04-03 13:46] lilleyse opened #6415 "Fix skip-lods for single-sided walls"
Compare skip-lods off vs. on in [3D Tiles Interior](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=3D%20Tiles%20Interior.html&label=Showcases)
<img width="383" alt="back-face" src="https://user-images.githubusercontent.com/915398/38252667-c86b8f1c-3722-11e8-8de3-05cf0e2f4a62.PNG">
<img width="300" alt="back-face-hidden" src="https://user-images.githubusercontent.com/915398/38252668-c87d0a3

[2018-04-03 13:53] #6399 closed

[2018-04-03 13:55] ggetz commented on #6404
Closed #6399 to allow it it fail gracefully, and opened this as we need to rebuild the draco module itself.

[2018-04-03 14:03] cx20 commented on #6412
I tried displaying [Polly.gltf](https://github.com/KhronosGroup/glTF-Blender-Exporter/tree/master/polly) in the following version. It seems that it is dark when it is the latest version (v1.44).

[Cesium.js v1.43 + Polly.gltf result:](http://jsdo.it/cx20/u7sb)
![image](https://user-images.githubusercontent.com/1833979/38253746-6ce5879a-3792-11e8-8654-e0b5a01d1798.png)

[Cesium.js v1.44 + Polly.glt

[2018-04-03 14:19] cx20 opened #6416 "Bear glTF 2.0 model is not displayed in Cesium.js v1.40 or later"
I tried to display the bear glTF model that was in sketchfab with the latest version of Cesium.js.
https://sketchfab.com/models/f2f13a8630004b1c82730d8b9ffa0e1f

However, in Cesium.js v1.40 and later, an error is displayed and it seems that it is not displayed correctly.

[Cesium.js v1.39 + Bear glTF model result:](http://jsdo.it/cx20/0r7J)
![image](https://user-images.githubusercontent.com/183397

[2018-04-03 14:27] hanbollar opened #6417 "Documentation modification for better readability/searching"
Javadocs have a listing of all methods and parameters with short info about them (just like we have for constructors) at the beginning of all docs about any class. Adding this feature to Cesium docs would streamline searching for particular methods / features, since when scrolling through longer items like the camera, it can become incredibly easy to miss certain methods and much harder to search

[2018-04-03 14:27] pjcozzi commented on #6412
@lilleyse @cx20 perhaps related to #3737 as well?

[2018-04-03 14:32] hpinkos commented on #6417
@hanbollar just to clarify, this would be similar to a table of contents at the top of the page?

[2018-04-03 14:36] hpinkos commented on #6411
@keikland this issue, right? #6225
Thanks for reporting the regression

@tfili any idea why this broke again?  When we fix it, we should make sure to add a unit test

[2018-04-03 14:49] tfili commented on #6411
@hpinkos There were 2 unit tests added and they are still passing. The only thing that touched this code is your change, #6331. Not sure why that change would break anything, but that would be my guess as to when it broke.

[2018-04-03 14:51] hpinkos commented on #6414
@crubier Thanks for taking the time to summarize this!  Could you open a pull request with the documentation changes?  Note that we refer to 'tilt' as the middle mouse action where you're changing the camera pitch to get a horizon view, so I think the documentation for tilt is correct.  I think the rotation documentation is just out of date and wasn't updated the last time we made changes to the s

[2018-04-03 14:53] hanbollar commented on #6417
@hpinkos yes :)

also this is the proper link for the boolean example i tried to link before:
[boolean](https://docs.oracle.com/javase/7/docs/api/index.html?java/lang/Boolean.html)

[2018-04-03 14:54] emackey commented on #6412
The Polly model there (the dog alone) isn't just dark, it's pitch black, even the emissive green lights on the dog have gone out.

`git bisect` blames my tangent vector fix, 2990c509df29b.  It's possible that tangent vectors and skinned animations aren't compatible in Cesium's current implementation, newly broken by adding support for tangent vectors.  I'll dig into this.

Other (non-skinned) mode

[2018-04-03 15:57] hanbollar opened #6419 "Solar System Sandcastle Example"
I just noticed that all the planets are actually present in cesium along with the moon - it would be an awesome demo if while viewing earth the other planets were highlighted / labeled and if you clicked on them you "zoomed" to them by either manual movement or switching out earth with the sizing/shape/ellipsoid of whatever planet was clicked or at least showed the label of which planet is which -

[2018-04-03 15:59] hpinkos commented on #6419
@hanbollar Cesium can currently only have one central body/globe.  We do model the moon and sun positions and have a textured ellipsoid for the moon, but I don't think we currently model the other planets.  And non-earth ellipsoid support is a little unpredictable right now.

[2018-04-03 20:55] emackey commented on #6412
Turns out, Polly actually has a material (named "Head" at index 0) that is used for the eyes, which supply tangents, and the rest of the head, which does not supply tangents.  As such, a single shader must handle both cases, or we need to move to per-primitive materials.  Or, we use the supplied tangents only when ALL of the affected meshes supply tangents, and ignore supplied tangents otherwise.

[2018-04-04 00:45] pjcozzi commented on #6080
All good ideas.

I suggest just starting with b3dm/i3dm.

To start, just the max height for the tileset at that longitude/latitude.  So viewing it as 2.5D for now.

Can probably ignore it to start.  Later, if the "ray cast misses" and hits the ellipsoid, you might render a larger region and blur to fill the crack.

Very good idea - basically cache all the heights for a tile - will work well for ou

[2018-04-04 14:41] emackey commented on #6061
I added a fix for this (to ignore skinning when no skin defined) to #6421.  I tested it with the Alien.glb and the face animations do work (and do look as super-creepy as they do in other engines).  This should go into the May release of Cesium.

[2018-04-04 15:44] lilleyse commented on #6416
I opened a fix in #6422

[2018-04-04 16:08] pjcozzi opened #6423 "CI whitelist for publishing branches to S3"
Branches in this repo are published to S3 so we can run the tests, Sandcastle, etc.

It would be great if we could whitelist frequent contributors who work on forks so that we have easy access to the built branches on S3.

[2018-04-04 16:37] ggetz commented on #6423
If the contributor sets up credential for their fork, it can also be deployed: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Documentation/Contributors/BuildGuide/README.md#configure-s3-credentials

[2018-04-04 19:59] lilleyse commented on #797
If running a webgl2 context bypass texture upscaling code in Model when generating mipmaps.

[code]

[2018-04-04 23:44] lilleyse commented on #5094
More interest from the forum: https://groups.google.com/forum/#!topic/cesium-dev/8Y2lHMgJZVM

[2018-04-04 23:49] lilleyse commented on #5838
Came up on the forum again: https://groups.google.com/forum/#!topic/cesium-dev/se_9ov5HwA8

[2018-04-05 00:00] robmilton commented on #5094
I'm really glad to see there's more interest in this because this is something we still would desperately like to be able to do.  I was never able to get the method above to work.

[2018-04-05 07:34] mark-lassche commented on #6225
For what it's worth we're running into the same issue. Adding trailing slash did not fix the problem, downgrading to 1.43 did resolve the issue for us.

[2018-04-05 13:52] hanbollar opened #6425 "Sandcastle debugging"
is there currently a way to debug the Sandcastle example itself? if not - could we implement this feature - because currently you can use the developer tools to debug specific functions in the cesium files; however, I'm not sure you can actually step through any of the example itself.

[2018-04-05 14:01] shunter commented on #6425
You can put `debugger;` statements in the example itself which act as a breakpoint.  After it hits the breakpoint then you can step through like normal.  Otherwise there's not really a good way to set breakpoints because the "source file" is a temporary string injected into the bucket dynamically.

[2018-04-05 14:06] #6425 closed

[2018-04-05 14:10] hpinkos commented on #6225
@mark-lassche there's a new issue for this open here: #6411
We should have it fixed again for the 1.45 release

[2018-04-05 15:14] emackey commented on #6425
Yes to `debugger` statements in Sandcastle.  The other method I normally use, in combination with that, is the "open in new window" button at the top, then you can debug your demo directly as a top-level frame, without the sandbox iframe getting in the way.  You don't need "Run (F8)" to make that work.

[2018-04-05 19:58] #6423 closed

[2018-04-05 23:41] lilleyse commented on #2387
Related forum post about wanting to change a model node's color: https://groups.google.com/forum/#!topic/cesium-dev/HGUDMzBBIeo

[2018-04-07 12:44] SelimAbidin opened #6431 "Clipping Plane doesn't work as expected"
![gif](https://user-images.githubusercontent.com/1409316/38454962-a99339b4-3a79-11e8-98b4-a8e0603184bd.gif)

The gif is recorded with Cesium 1.43, so it uses same clipping collection on globe and 3dtileset. It works on ground perfectly but on tileset.

[Here Version 1.44 Sandcastle Example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=jVVdb9owFP0rFi9NpMwkhfI1ila1lca0btXKWk1jDya5gFXHjmwH1lX

[2018-04-08 12:40] cx20 commented on #6416
Although it may be another problem, in Cesium.js v1.42 or later, it seems that animation-enabled models are not animated. BoxAnimated, CesiumMan, Monster, etc..

[2018-04-08 13:00] emackey commented on #6416
@cx20 There was a change there, add `shouldAnimate: true` to the `Cesium.Viewer` constructor options.  The default behavior starts in pause now.

[2018-04-08 13:37] cx20 commented on #6416
I noticed that the following glTF model can not be displayed. I will report this as a separate Issue.

https://cdn.rawgit.com/mrdoob/rome-gltf/784089b4/files/models/life_soup/quadruped_fox.gltf
https://cdn.rawgit.com/pissang/claygl/c4f45119/example/assets/models/SambaDancing/SambaDancing.gltf

[2018-04-08 13:45] cx20 opened #6432 "Samples in the rome-gltf repository can not be displayed due to errors"
I tried to display the following model in Cesium.js.
https://github.com/mrdoob/rome-gltf/blob/master/files/models/life_soup/quadruped_fox.gltf

However, it was not displayed due to an error.
http://jsdo.it/cx20/6z4e
[code]

Is this due to the limitation of Cesium.js?

[2018-04-08 13:50] cx20 opened #6433 "Samba Dancing glTF Model displays an error and does not appear"
I tried to display the following model in Cesium.js.
http://examples.claygl.xyz/examples/basicPointLightShadow.html
https://cdn.rawgit.com/pissang/claygl/c4f45119/example/assets/models/SambaDancing/SambaDancing.gltf

However, the following error was output and could not be displayed.
http://jsdo.it/cx20/QQHP
[code]

[2018-04-08 18:03] NaderCHASER commented on #6395
256px Tiles
--
154 network requests
Load Time: ~8.2s

512px Tiles
--
46 network requests
512px Tiles -  ~3.6s

Even with HTTP(S)/2's multiplexing, my 512px tiles were served and viewable over twice as fast as with 256px tiles.

I needed to confirm that my custom tiler wasn't responsible for the 256px vs. 512px tile bug in Cesium. I did this through a JSFiddle running Leaflet, which displayed my 51

[2018-04-09 10:17] bagnell commented on #6432
I see the same error. That glTF has 22 vertex attributes, but WebGL only supports 16. This is a limitation of WebGL not Cesium. See [webglreport.com](webglreport.com) for how many vertex attributes WebGL supports for you (see Max Vertex Attributes under Vertex Shader on the right).

According to [webglstats.com](webglstats.com), only a small percentage of hardware supports MAX_VERTEX_ATTRIBS > 16.

[2018-04-09 11:47] EarMaster commented on #4525
Any news on this?

[2018-04-09 13:00] emackey commented on #4525
@EarMaster I can't reproduce this under Windows, and I don't have a Linux system to test.  What system, browser, graphics card, and demo do you see it on?

[2018-04-09 13:03] emackey commented on #6432
I would guess that ThreeJS is just limiting the number, so it doesn't overflow.  Not sure if that produces the correct results or not.

[2018-04-09 14:57] ggetz commented on #6431
Hi @SelimAbidin, you shouldn't need to specify the additional `modelMatrix: clippingPlaneTrace.computeModelMatrix(Cesium.JulianDate.now())` for the `ClippingPlaneCollection` you apply to the tileset since they are in the same coordinate system. If you remove that line, it works as expected.

[2018-04-09 15:13] hpinkos commented on #6431
@SelimAbidin in the future, if you have problems like this please ask them on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
The forum has much higher traffic so it is more likely that someone will be able to help.  Our team answers questions on the forums well.  We try to use GitHub exclusively for tracking bugs and planning new features.  Thanks!

[2018-04-09 15:13] #6431 closed

[2018-04-09 15:18] hpinkos commented on #6395
Wow, that's very promising @NaderCHASER!  Looking forward to your PR 😄

[2018-04-09 20:57] pjcozzi commented on #2524
BabylonJS team is checking out [assemblyscript](https://github.com/AssemblyScript/assemblyscript), a TypeScript to WebAssembly compiler.

Perhaps long-term interesting to Cesium.

[2018-04-09 21:51] pjcozzi commented on #6432
@emackey perhaps worth an implementation note in the glTF spec?  Could you start a discussion in that repo?

I'm surprised and embarrassed that this hasn't come up before except in the more specific case of skins and morph targets.

[2018-04-09 21:52] pjcozzi commented on #6416
@cx20 @emackey thanks for reporting all these glTF issues!  OK to close this one?

[2018-04-09 21:54] emackey commented on #6416
@pjcozzi The related PR #6422 didn't get merged yet.  @lilleyse is it being held up by the lack of a test model?

[2018-04-09 22:15] cx20 commented on #6432
I tried some other libraries that supports other animations. The link is a link to the sample.
Three.js, Hilo3d, PlayCanvas and the previous version of Babylon.js were able to display animations.

|Library                                    |rome-gltf animation|
|:------------------------------------------|:-----------------:|
|[three.js](http://jsdo.it/cx20/mrOD)       |:white_check_mark: |
|[Bab

[2018-04-10 01:52] lilleyse opened #6437 "Day-night lighting for models"
Models are lit based on the sun direction but there's no recognition of a day-night cycle. Two of the problems are:

* The sun basically shines through the ground during night, lighting the bottom-facing part of the model
* The ambient lighting doesn't adjust to time of day.

Should there be a day-night lighting option on Models/3D Tiles?

Requested on the forum: https://groups.google.com/forum/#!

[2018-04-10 06:15] tkazik commented on #5838
BabylonJS has an option to createNormals based on the mesh:

https://doc.babylonjs.com/api/classes/babylon.abstractmesh#createnormals

Might be worth looking at it and get inspiration from here:

https://github.com/BabylonJS/Babylon.js/blob/c54863cf32d8045db2fc0b56949974563db75fd7/src/Mesh/babylon.abstractMesh.ts#L1801

[2018-04-10 07:48] laurensdijkstra commented on #6437
Considering glTF 2.0 with physically based rendering shaders it would be very logical to implement the lighting physically based as well IMO.

[2018-04-10 08:29] githubhanjunjun opened #6438 "How to get the height of 3dtiles"
I want to do a point to point general view analysis, my idea is, straight line interpolation, the height of the interpolation point and the 3dtiles height of the point coordinates, if higher than the height of 3dtiles is to be viewed. But I don't know how to get the height of 3dtiles of a coordinate point. I hope I can get the answer, thank you.

[2018-04-10 08:42] mreilaender commented on #6411
I was able to reproduce the problem in an angular app.

Steps to reproduce:
- `ng new cesium#6411`
- `yarn add cesium@1.41.0`
- Edit `.angular-cli.json` and add the following
[code]
- Edit `main.ts` and add `window['CESIUM_BASE_URL'] = './assets/cesium';` before `platformBrowserDynamic().bootstrapModule(AppModule)`
- Init the cesium viewer and place it somewhere
- Run the App `yarn start`

Everyth

[2018-04-10 13:41] emackey commented on #5838
Lately I've been pondering whether Cesium could just show "unlit" materials (`baseColor * occlusion + emissive`) in the absence of normals.  It's technically not what the spec advises, but it's quick to implement and would get us visibility of models that are currently pitch black.

[2018-04-10 13:49] lilleyse commented on #5838
@emackey I think that's a great idea

[2018-04-10 14:15] emackey commented on #6411
Another data point:  After debugging a while in gltf-vscode, it looks like `CESIUM_BASE_URL` is accessed now during `Cesium.js` initial script parsing.  Previously, I could include Cesium.js as a script tag, and then define `CESIUM_BASE_URL` prior to calling any functions in Cesium.js, and it would work.  Now the value is accessed quite early, and I need to declare it before I even import the scri

[2018-04-10 14:26] mramato commented on #6411
@mreilaender Thanks, 1.42 was known to be broken, it was fixed in 1.43.  It's 1.44 that is the concern now since the code has changed again.  Can you test with 1.44?

@emackey While it might have worked previously by accident, I think the rule has always been that you must set it before you include the .js file.  @shunter might have some thoughts here.

[2018-04-10 14:50] shunter commented on #6411
I don't think we were ever clear about when the global needed to be set.  I can believe that it would have worked before because it isn't checked for until `buildModuleUrl` is called.  It looks like #6331 changed things such that `buildModuleUrl` is called eagerly, while modules are still loading.  For example, BingMapsImageryProvider uses it to find the credit logo. It would be better to delay th

[2018-04-10 14:55] emackey commented on #6411
Thanks @shunter.

Also note that once `buildModuleUrl` has been called too eagerly, it caches its result value, so it's broken for the remainder of the life of the page.

[2018-04-10 15:10] emackey commented on #6437
There's some chance I'll be looking into this in the next couple of weeks.

[2018-04-10 15:18] shunter commented on #6411
I started fixing this and it seems like the first and only time anyone tried to call `buildModuleUrl` early in 5 years was introduced in the above PR, so perhaps it's not that common.

[2018-04-10 15:29] shunter commented on #6411
cc #6439

[2018-04-10 17:45] likangning93 opened #6440 "Toggling Eye Dome Lighting on point clouds doesn't update style for all tiles"
[Sandcastle example here.](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=rVRrT9swFP0rXr80SMyhzzHWobGUsbCmHTR0BFVCrn3bGBy7i52OFO2/z04L617fFimJ7XvPucf3OFmRHK04fIMcvUUSvqEANC8yPKnWvDqtpoGShnAJeX3vzVROpe+jYXKF+sVMcImWiktDhSoYeonmucpQasxSH/n+AhSWZYGBFT4lhgi18O38ttnuNG5bh93DNp7KbcVQScxgTgphTqgtq2N1D9KqqkN5ns7OKB/x8/BqHTaGPNShvOzQIOyG98vrSXD+Gtukr+zs3iWJ0dmEJ9nFQxQcdKJm0hnEdtxMTBInrWFwUCYxfUiaN9mo

[2018-04-10 20:10] hpinkos commented on #6411
@keikland we just merged in #6439, can you please check out master and see if that fixes your problem? You can see our [Build Guide](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/BuildGuide) for instructions on building the code base.

[2018-04-10 20:42] keikland commented on #6411
Hi Hannah,
I am fairly decent in some other languages, but scrape by in Javascript with fairly simple coding, and still have not gotten anywhere near set up or comfortable with git/node/npm.. system-level development and building.  Even with the build guide I quickly got concerned about the time it could take.  If you have the chance to do a build and send it to me I can revert quickly.  Otherwise

[2018-04-10 20:48] hpinkos commented on #6411
@keikland No worries!  Actually, I forgot that we make a zip file with the build as part of our continuous integration so you should be able to download it to test here: http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/Cesium-1.44.0-master26369.zip

[2018-04-10 22:54] keikland commented on #6411
Hi Hanna,
Just tested the master26369, but the same base url problem appeared as before.  The first error was in trying to find https://www.myurl.com/Assets/approximateTerrainHeights.json, causing 404 ().  This is the same error as in the release version.

Kjell

From: Hannah <notifications@github.com>
Sent: Tuesday, 10 April, 2018 22:49
To: AnalyticalGraphicsInc/cesium <cesium@noreply.github.com>

[2018-04-10 23:53] lilleyse opened #6442 "Crash when setting model's color when allowPicking is false"
There is a crash when a Model constructed with `allowPicking : false` is assigned a color.

The problematic line is here: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Model.js#L4581

It should check that `pickCommand` is defined first, since it won't be defined if `allowPicking` is false.

@likangning93 could you check this one out? It's semi-related to the clipping pla

[2018-04-11 01:07] pjcozzi commented on #6438
@githubhanjunjun this is part of #6080 as @lilleyse mentioned so closing as a duplicate.  Keep an issue on that issue.

[2018-04-11 01:07] #6438 closed

[2018-04-11 09:23] pabloleone opened #6443 "Geometry Box position issue"
![screen shot 2018-04-11 at 11 23 37](https://user-images.githubusercontent.com/2090437/38608129-d3e642f2-3d7a-11e8-8397-98f0d2d0e7e5.png)
I think this is more a bug than a thread of discussion.

1. A concise explanation of the problem you're experiencing.
We can't create a stacked bar chart. The bars are misplaced due to an issue we can't identify.
We created this jsfiddle for you to check the is

[2018-04-11 14:18] hpinkos commented on #6411
Okay, thanks @keikland, we'll keep looking into it

[2018-04-11 14:31] #6443 closed

[2018-04-11 15:05] emackey commented on #6411
@keikland Are you sure you were using the new version?  It's not available as an npm package yet, so you'd have to manually edit your node_modules folder to get it in there.

I actually pulled down @mreilaender's [sample repo](https://github.com/mreilaender/cesium-6411/) because I was lacking a live sample of angular-cesium.  It took some fiddling to get the un-released build of Cesium into node_m

[2018-04-11 15:10] mramato commented on #6411
@emackey there should be no fiddling required, all you need to do is change package.json to point to the ci produced npm package: for example, master is currently at http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/cesium-1.44.0-master26380.tgz   You can get the latest links by click on the green checkbox on the GitHub branches page.

[2018-04-11 15:17] emackey commented on #6411
@mramato Well that's easier, thanks.

[code]

[code]

Works with zero fiddling.

[2018-04-11 15:26] keikland commented on #6411
Got a link to a zip to the master from @hpinkos, and it had what I expected to find.   The only hesitation about my test - after midnight -  was that it is possible i forgot to make sure the cache was cleared.   Can try again in a couple of hours.

[2018-04-11 15:34] keikland commented on #6411
The link I got from @hpinkos was Cesium-1.44.0-master26369.zip, but I see @emackey uses 26380.  Could be the version difference is important, and I just downloaded this. (http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/Cesium-1.44.0-master26380.zip).  Is this the one I should test?

[2018-04-11 15:43] hpinkos commented on #6411
@keikland 26369 includes the change to the baseUrl that was merged.  26380 is the commit after that.  So either should be fine.

[2018-04-11 20:55] jimmyangel commented on #6372
I can confirm this issue as well on Firefox 59.0.2 MacOS 10.13.4, Cesium 1.44. Control-drag not working work with a trackpad nor a mouse either.

[2018-04-11 22:05] keikland commented on #6411
@hpinkos , just tried 26380 and it loads fine without loading errors when cesium_base_url is not set explicitly  Suspect it was  a cache issue yesterday.  Probably corroborates results by @emackey.

[2018-04-12 15:29] hpinkos commented on #6411
Okay thanks @keikland!  I'm going to close this.  Let me know if this problem pops up again when you upgrade to the 1.44 release available on May 1st

[2018-04-12 15:29] #6411 closed

[2018-04-12 15:31] hpinkos commented on #6372
Thanks @jimmyangel.  Can someone with a mac confirm this bug?  @shehzan10 @tfili @shunter?

[2018-04-12 20:30] cesium-concierge commented on #4381
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/hYrDHkXQeGk

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-04-12 21:10] bagnell opened #6447 "Skinning broken with log depth"
Using log depth when skinning shows artifacts.
![image](https://user-images.githubusercontent.com/1494815/38704350-05d6053c-3e74-11e8-93cd-675c4047cc57.png)
The current model implementation has a workaround until it is fixed. To see the issue, remove the two lines [here](https://github.com/CesiumGS/cesium/blob/dbd44f6bc55ded889fea93c100f7509e1e3e0fee/Source/Scene/Model.js#L1998-L1999).

[2018-04-12 21:51] nswim1 commented on #3945
Another temporary hack workaround for those waiting for the merge and are seeing this with GroundOverlays in KML:

[code]

[2018-04-13 14:44] #3945 closed

[2018-04-13 14:44] cesium-concierge commented on #3945
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/xKVI49Ux430

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/

[2018-04-14 21:53] jimmyangel opened #6448 "Overlapping polygons rendering incorrectly with clampToGround"
Dear Colleagues,

I would like to report what I believe is a bug rendering overlapping polygons loaded with GeoJsonDataSource using the clampToGround option set to true ([posted](https://groups.google.com/forum/#!topic/cesium-dev/6oVV6Wq6x8k) in the forum as well).

Here is a Sandcastle reproducer:

[code]
Here is what you see:

![screen shot 2018-04-14 at 2 28 56 pm](https://user-images.githubuse

[2018-04-16 15:27] ggetz opened #6449 "Allow for custom imagery adjustments"
Provide a hook for custom adjustments to imagery when rendering the surface of the globe.

From the forum: https://groups.google.com/forum/#!topic/cesium-dev/ZCXAoriJogw

[2018-04-16 15:38] ggetz commented on #6448
Thanks for the thorough report @jimmyangel. Related discussion on the forum here: https://groups.google.com/forum/#!topic/cesium-dev/6oVV6Wq6x8k

[2018-04-16 15:54] srwiseman commented on #6338
I haven't forgotten about this! I'm just very busy with some other projects. I'll do this soon!

[2018-04-16 16:06] hpinkos commented on #6338
No worries @srwiseman! No rush here, whenever you have some time to look at it that will be great =)

[2018-04-16 19:21] emackey opened #6451 "Model clipped inappropriately"
While experimenting with lighting options for a glTF model provided in https://github.com/KhronosGroup/COLLADA2GLTF/issues/172, I discovered the model sometimes disappears from view while moving the camera.  This didn't start happening until I merged master into my branch, bringing in logDepth along with it.

Git bisect isolates a specific commit from LogDepth where the problem is introduced:  0d9

[2018-04-16 19:26] emackey commented on #6451
Note that this bug is "not yet released", since it was introduced with LogDepth #5851 last week.

[2018-04-16 19:29] mramato commented on #6451
I tagged this for next release since it's a bad regression.  CC @bagnell @lilleyse

[2018-04-16 20:59] markerikson commented on #4983
I'm coming back around to look at this, since we're still occasionally seeing this affect our applications.  The good news is I was just able to come up with a very trivial repro in the sandcastle:

[code]

Clicking the button always causes a Cesium crash.

I'm going to try to put together a fix and submit a PR.

[2018-04-16 22:24] markerikson commented on #4983
I've confirmed that my small suggested fix works against the Sandcastle repo I just pasted in.  It's trivial enough that a Cesium dev could easily just put that in, or I can submit a PR myself - whichever would get it into the codebase faster.  My team is almost to the end of a long development cycle, and we'll be doing a final round of library upgrades before that.  We'd really like to have this

[2018-04-17 15:15] hpinkos commented on #4983
@markerikson thanks for looking into this!  If you can submit a PR that would be great.  I should have time to review and merge it before the 1.45 release if you get it open in the next day or so.

[2018-04-17 15:32] markerikson commented on #4983
Working on it now.  I haven't signed the CLA yet, but I'll do that momentarily.

[2018-04-17 15:40] markerikson commented on #4983
PR up, CLA sent.

[2018-04-17 15:49] puckey opened #6456 "Necessary import?"
I noticed [Source/Scene/Globe.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Globe.js) is importing Material.js but isn't using it in the code aside from referring to it in the doc comments. This is causing lots of code to be included in my builds unnecessarily...

Would a pull request removing this import be welcome?

[2018-04-17 16:02] hpinkos commented on #6456
Thanks @puckey, yes it looks like that can be removed.  Feel free to open a PR removing that and any other unnecessary requires.  We usually go through maybe once a year and clean that up, but it's been a little while

[2018-04-17 16:34] #5664 closed

[2018-04-17 16:34] cesium-concierge commented on #5664
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/V40_L3-_2WY

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-04-17 17:16] #6456 closed

[2018-04-17 20:43] pjcozzi commented on #5808
* Perhaps interesting reading: [Post-processing Effects on Mobile: Optimization and Alternatives](https://community.arm.com/graphics/b/blog/posts/post-processing-effects-on-mobile-optimization-and-alternatives)

[2018-04-18 09:23] medusaless opened #6458 "Problem occurs when viewer.trackedEntity is set 'null' and when i use viewer.flyTo(zoomTo)"
If I set viewer.trackedEntity = null， error occurs when i use viewer.flyTo or viewer.zoomTo
If if set viewer.trackedEntity = undefined， the error doesn`t happen

[2018-04-18 09:56] kalmykov commented on #6334
We (flightradar24.com) have now collected some cesium crash stats about different devices; so far we found out that reverting to cesium 1.36 have helped to reduce number of crashes to zero for at least two Mali-T720MP2 devices - Samsung Galaxy A7 (2016) and Samsung Galaxy A5 (2016). Unfortunately we don't have actual devices on hand, so we can't actually confirm that its caused by exact same issue

[2018-04-18 15:31] hpinkos commented on #6334
Thanks for the info @kalmykov!  That should be helpful for debugging this

[2018-04-18 15:33] hpinkos commented on #6458
Hello @medusaless.  This is expected behavior.  When using the Cesium library, you should always use `undefined` instead of `null`.   Thanks!

[2018-04-18 15:33] #6458 closed

[2018-04-18 15:36] likangning93 opened #6461 "shadow volumes broken in master at near distances"
Shadow volumes (underpinnings of all the polygon/corridor stuff that's clamped to ground) seem to be broken at distances close to the camera. It *kind of* looks like the camera's near plane is causing problems here. Steps to reproduce:
1) launch the `Ground Clamping` Sandcastle in `master`
2) select `Draw Rectangle`
3) go to a corner and zoom in to a view something like this:

![bug](https://user-

[2018-04-18 15:43] hpinkos commented on #6461
For reference, here's what the problem looks like

![ground](https://user-images.githubusercontent.com/3451886/38942717-879f28fe-42fd-11e8-8518-67790c7d9510.gif)

@bagnell we should fix this before the next release

[2018-04-18 15:52] likangning93 commented on #6461
Setting `viewer.scene.logarithmicDepthBuffer = false;` gets rid of the problem, so more evidence to this being a log depth thing.

[2018-04-18 16:51] puckey opened #6464 "release build doesn't include apps?"
Following the [build guide](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Documentation/Contributors/BuildGuide/README.md), I am trying to build the release version of the library which should build "A full release build that creates a shippable product, including building apps and generating documentation."

But it seems the build is incomplete. After installing and running the `npm

[2018-04-18 17:33] hpinkos commented on #6464
Hmm, yeah it looks like we no longer build the apps as part of the release process.  If you run `npm run minifyRelease` it grabs the apps and packages them with the zip file.

I'm guessing we just want to update the documentation here.  @mramato what do you think?

[2018-04-18 17:34] hpinkos commented on #6464
Also, you can run `npm run buildApps` to get the built version of Sandcastle and the CesuimViewer demo application if you wanted to generate those

[2018-04-18 18:31] likangning93 commented on #6461
@bagnell I think this is related to this comment: https://github.com/AnalyticalGraphicsInc/cesium/pull/5851/files#r172639411

Forcing `DISABLE_GL_POSITION_LOG_DEPTH` [hereabouts](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/ClassificationPrimitive.js#L532) seems to help for me. I'll investigate a bit more and open a PR, but I'm... not super confident heheh.

[2018-04-18 20:38] #6461 closed

[2018-04-18 21:26] #6451 closed

[2018-04-19 09:54] 9lovingly opened #6466 "About Cesium3DTileset modelMatrix"
I set the modelMatrix to the Cesium3DTileset,but there is no change to the location:
rtcCenter = new Cesium.Cartesian3.fromDegrees(-75.6164030283303,40.06352846008451)
posMat = Cesium.Transforms.eastNorthUpToFixedFrame(rtcCenter);
//m= Cesium.Matrix4.fromTranslation(posMat);
var tileset22 = viewer.scene.primitives.add(new Cesium.Cesium3DTileset({
    id:'house11',
	url:'Data/BatchedmaoLOD1',//Batc

[2018-04-19 13:43] hpinkos commented on #6466
Hello @9lovingly, when we position a tileset we typically have to set the tileset root transform to the identity matrix.
[code]

In the future, if you have questions like this please ask them on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning new features.  Thanks!

[2018-04-19 13:43] #6466 closed

[2018-04-19 22:06] shrichards commented on #6372
I'm also seeing this on my MacBook Pro (exact same specs as @andrzejfigula) with Cesium 1.44 & FireFox v60.0b13 beta.

With a mouse hooked up, ctrl-leftclick-drag also doesn't work.  However, ctrl-*rightclick*-drag does rotate.

[2018-04-19 22:31] hpinkos commented on #6372
Thanks @shrichards, we'll try to look into this soon

[2018-04-20 03:51] medusaless opened #6469 "Encountered a problem when interactive drawing polygon when terrain is added"
When terrain is added, If I dynamicly draw polygon and set the polygon`s hierarchy to a callbackproperty which returns an array containing the polygon`s vertex cartesain3. A point is added to the callbackproperty when leftclick event is fired. A point is first poped then added when mousemove event is fired. But if i click on the same location or move very slowly after I left click on map, error oc

[2018-04-20 13:42] hpinkos commented on #6469
Hi @medusaless, sorry I'm not exactly sure what the error is.
Can you please post on the forum? https://groups.google.com/forum/?hl=en#!forum/cesium-dev
Someone will be able to help you there.  We use GitHub exclusively for tracking bugs and planning new features.
When you post on the forum, please include a [Sandcaslte Example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/) that reproduces t

[2018-04-20 13:42] #6469 closed

[2018-04-20 14:02] medusaless commented on #6469
Thank you for your help. Can you give me your email or something like that? I want to ask you more questions about cesium.

[2018-04-20 14:09] hpinkos commented on #6469
@medusaless The Cesium team monitors the forum so that's the best place to ask questions about Cesium

[2018-04-20 14:50] medusaless commented on #6469
I have some problems creating new google account, because I am in China.
I have already pasted my code link below.

[](https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html#c=xVdtc+I2EP4raj5czA1j2n7pDIRMMxy9Y0oumYTmPpTOnbAXrEFIHkmG0h7/vSvZBvkFmrl+aN4meHef3X32RfJc9N7OxVtCZgkoIBR/zU6SjYxBEyNJRHmUcWrwcQKEw9KQiLNoTVZKZiImqWTCEIewgIhmGhVBKcoEYWLJMxCRBULbXLPEY1KE1spZTpbOIWGaXM/GT093k4/XXYIwUhEZRZnSwUQg

[2018-04-20 14:51] medusaless commented on #6469
I have some problems creating new account in Google right now.

I have already pasted my code below.

Please have a look.

[https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html#c=xVdtc+I2EP4raj5czA1j2n7pDIRMMxy9Y0oumYTmPpTOnbAXrEFIHkmG0h7/vSvZBvkFmrl+aN4meHef3X32RfJc9N7OxVtCZgkoIBR/zU6SjYxBEyNJRHmUcWrwcQKEw9KQiLNoTVZKZiImqWTCEIewgIhmGhVBKcoEYWLJMxCRBULbXLPEY1KE1spZTpbOIWGaXM/GT093k4/XXYIwUhEZRZn

[2018-04-20 15:07] hanbollar opened #6471 "Imagery Layers Split sandcastle example throws error when loaded"
[Imagery Layers Split](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Imagery%20Layers%20Split.html&label=Beginner)

i was going through some sandcastle examples and when i got to the Imagery Layers Split one it threw the following error when it first loaded:
Uncaught ReferenceError: require is not defined (on line 8)

when i reloaded the page through directly clicking the link it worked f

[2018-04-20 15:09] hpinkos commented on #6469
@medusaless sorry you can't access the forum.  I don't have time to debug your application, but from a breif look I noticed two things:

- There might be a problem with how you're adding and removing points from the polygon on mouse move.
- Sometimes `pick` and `pickEllipsoid` return `undefined`.  You should be checking if the result is defined before adding it to your polygon positions

[2018-04-20 15:10] hpinkos commented on #6471
@hanbollar I couldn't reproduce this locally.  Did you run `npm run build` before running sandcastle?

[2018-04-20 15:14] hpinkos commented on #6471
Oh, nevermind.  I think you linked the wrong example.  There seems to be a problem with this one:
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Imagery%20Layers%20Texture%20Filters.html&label=Beginner

[2018-04-20 15:15] hpinkos commented on #6471
@hanbollar you can fix this by replacing `require.toUrl('Assets/Textures/NaturalEarthII')` with  `Cesium.buildModuleUrl('Assets/Textures/NaturalEarthII')`

Can you open a pull request please?  Thanks for finding this error!

[2018-04-20 15:29] hanbollar commented on #6471
@hpinkos i didnt run it locally - i was running it directly on chrome...

[2018-04-20 15:41] hpinkos commented on #6471
Thanks!  Yeah it looks like it only causes a problem on the built version of Sandcastle, so it's good you were going through the website and stumbled across it =)

[2018-04-20 16:40] #6471 closed

[2018-04-20 17:25] likangning93 opened #6473 "Toggling `scene.logarithmicDepthBuffer` can cause visual artifacts after zooming out"
![bug](https://user-images.githubusercontent.com/5395255/39064820-d3fa9142-449d-11e8-945c-89009803da9b.JPG)

[Sandcastle on localhost:8080](http://localhost:8080/Apps/Sandcastle/index.html#c=jVHBasMwDP0Vk0sSCE57XdNS2h4Hg7XslItrK4mZYxdbTmlH/312k8LWXSaMQXp6T0/2wCwZJJzBkiXRcCZbcNL39ONey1J+T7dGI5MabJoval3rPdOCM4cKKBPiYNpWwcYjGp2lyrREwAm7tJiUqeOggQaAWYldL/ku4hvfNGAL0njNUQYq74B/gsjJV61JiH+wg+mJFXzdRnMTD

[2018-04-20 17:39] mramato commented on #6313
@ggetz can you still reproduce this?  Everything works for me.

[2018-04-20 18:12] ggetz commented on #6313
@mramato I can still reproduce, it's specifically only when clicking a suggestion (and not hitting enter or the search button) that it happens.

[2018-04-20 19:08] #4983 closed

[2018-04-20 19:08] cesium-concierge commented on #4983
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/gbBjAyFs1JQ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/

[2018-04-20 19:12] hpinkos commented on #4983
@matankastel @difnicolas @matsoo thanks to @markerikson this is now fixed! The fix will be included in the Cesium 1.45 release available on May 1

[2018-04-20 19:50] #6061 closed

[2018-04-21 11:21] svenvarennes opened #6477 "Billboards are replaced with black squares, particularly often on mobile (android/iOS)"
When adding image billboards, they render correctly on my desktop but when opening the same page on my Android S6 cellphone as well as my iPhone 5SE image billboards do not render correctly and look like this:

<img width="279" alt="bildschirmfoto_2018-04-20_um_15 33 04" src="https://user-images.githubusercontent.com/29256123/39083596-b3f19ef8-4566-11e8-924e-15841f87401d.png">

I've searched for a

[2018-04-21 12:39] puckey opened #6478 "Camera moves after releasing"
On mobile, when you pinch to zoom into the globe, it often moves after you release the pinch.

In this screen recording I am pinching to zoom in multiple times. As you can see the globe moves every time I release the pinch:

https://www.dropbox.com/s/y4zqsrqb1c4rhkq/ScreenRecording_04-21-2018%2014-37-15.MP4?dl=0

[2018-04-21 13:31] puckey commented on #6478
I just put up a pr where a pinch only ends when both fingers have released and a TOUCH_DOWN will only be triggered when not pinching: https://github.com/AnalyticalGraphicsInc/cesium/pull/6479

I will try to write a test for this behaviour next week.

[2018-04-22 04:34] cx20 opened #6480 "Draco compressed glTF skinning model is not displayed"
I tried to display several Draco format files with Cesium.js.
However, the Draco format glTF skinning model does not appear to be displayed.

|model        | glTF          |glTF-Draco|
|:-----------|:------------|:------------|
|[Duck](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/Duck)|:white_check_mark: [Sample](https://cx20.github.io/gltf-test/examples/cesium/index.html?cat

[2018-04-22 18:50] #6442 closed

[2018-04-23 06:24] Tarlan0001 opened #6481 "Add changing data to the description of entity"
I have created an entity, initialized its positions with an array of lat/long. That's to say, the position of an entity is changed with time.

Now, I would like to add the current position to the description of an entity, which is shown when the entity is selected.

How to add the dynamic data to the description? How to change the data with time?

[2018-04-23 14:45] hpinkos commented on #6477
@svenvarennes I haven't seen this before.  Can you make a [Sandcastle Example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/) to reproduce this?

[2018-04-23 14:49] hpinkos commented on #6481
Hi @Tarlan0001, a `entity.description` is a `Property` like all of the other entity attributes, so you can use a [CallbackProperty](https://cesiumjs.org/Cesium/Build/Documentation/CallbackProperty.html) or [TimeIntervalCollectionProperty](https://cesiumjs.org/Cesium/Build/Documentation/TimeIntervalCollectionProperty.html) to make it dynamic.

In the future, if you have questions like this please a

[2018-04-23 14:49] #6481 closed

[2018-04-23 15:52] puckey commented on #6478
I added pinch release tests: https://github.com/AnalyticalGraphicsInc/cesium/pull/6479/commits/293aeeb38bc9a8325e71a7cb0df5592b08291a30

[2018-04-23 16:28] puckey commented on #6478
My new code was causing PINCH_START to be called too often. Tests and fix here: https://github.com/AnalyticalGraphicsInc/cesium/pull/6479/commits/edc82940b6215d13fe27a2dc906094d88f9afe6f

[2018-04-23 19:56] mramato opened #6482 "RequestScheduler doesn't honor throttle settings"
RequestScheduler doesn't honor throttle settings and makes it easy for one server to starve all others.  Take this code for example:

[code]

I would expect `promise` to be undefined for all calls after `i = 6`, since 6 is the limit per-server.  Unfortunately, all of them succeed.  This is because the per-server numbers used by the `request` function to ensure throttling are only updated once per

[2018-04-24 01:00] lilleyse opened #6484 "Clipping planes not clipping reloaded tiles"
When a tile is unloaded and then reloaded it does not get clipped correctly. My guess that this has to do with the clipping state not being reset. In `Cesium3DTile.unloadContent` I tried `tile._clippingPlanesState = 0` which seemed to help but does not fix all the problems.

@likangning93 would you be able to look into this closer?

[Sandcastle demo](https://cesiumjs.org/Cesium/Build/Apps/Sandcast

[2018-04-24 13:42] hanbollar opened #6485 "Remove deprecated items in Particle and Particle System for the 1.46 Release"
Remove deprecated items in Particle and Particle System based on the following previous pull request [#6429](https://github.com/AnalyticalGraphicsInc/cesium/pull/6429)

Also do round 2 of deprecations where you switch to using the init() and update() functions instead of start and end variables etc - this is also noted in the aforementioned pr.

[2018-04-24 14:37] mramato opened #6487 "Re-tile sample assets with Draco"
We have 6 non-trivial 3D Tilesets used by Sandcastle that would benefit from being re-compressed with Draco:

- [ ] AGI Headquarters
- [ ] Power plant
- [ ] Chappes Church
- [x] New York City (CityGML)
- [ ] San Miguel
- [ ] Mount St. Helens

Basically we'll upload all new versions to the official CesiumJS ion account and then update the asset ids in the Sandcastle examples.

CC @shehzan10  I know

[2018-04-24 17:44] lilleyse opened #6488 "Add RTC_CENTER support for b3dm"
`RTC_CENTER` will soon be a part of the `b3dm` format and we should add support for it in Cesium.

Likely [CESIUM_RTC](https://github.com/KhronosGroup/glTF/tree/master/extensions/1.0/Vendor/CESIUM_RTC) and `RTC_CENTER` will share the same implementation.

Will need to think about how this interacts with [relocating a tileset](https://github.com/AnalyticalGraphicsInc/cesium/issues/6394)

See https:

[2018-04-24 20:48] lilleyse opened #6490 "Add extensions and extras to 3D Tiles"
https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/8 adds extras and extensions properties to the top-level `tileset.json`, individual tiles, feature table, batch table, and other misc json objects. How do we want to expose this from the API?

To start, we should atleast add an `extras` getter/setter to `Cesium3DTileset` and `Cesium3DTile`.

[2018-04-24 21:40] pjcozzi commented on #6490
As discussed offline, let's push this until after spec work unless it is critical to getting the spec right...which I don't think it is in this case given this is just following glTF's lead.

[2018-04-24 21:48] lilleyse commented on #6490
I agree, the implementation can wait.

[2018-04-24 22:25] DustinPham commented on #4863
You can reproduce this problem in the billboard sandcastle:

https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Billboards.html&label=

Zoom in close-ish to the Cesium billboard and hold the mousewheel down to rotate. If you rotate over and over in random directions (basically spinning around) then the normalize error will occur.

![error](https://user-images.githubusercontent.com/5573129/3921

[2018-04-24 23:11] #6473 closed

[2018-04-24 23:52] #6484 closed

[2018-04-24 23:52] cesium-concierge commented on #6484
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/mJ8NDsFrIhY

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-04-25 01:02] lilleyse commented on #6480
Fixed in #6420

[2018-04-25 01:02] #6480 closed

[2018-04-25 13:47] #6414 closed

[2018-04-25 13:48] hpinkos commented on #6414
Thanks again @crubier!  We updated the documentation in #6489

[2018-04-25 13:49] hanbollar commented on #6265
@mramato @hpinkos It seems this issue has been completed? or is there other items left to do?

[2018-04-25 13:50] hpinkos commented on #6265
Yes, thanks @hanbollar, it looks like @gabriel-macario removed them all in his PR

[2018-04-25 13:50] #6265 closed

[2018-04-25 13:52] likangning93 opened #6492 "Canvas resize during morph not behaving as expected"
In any full-window Cesium app that has a 2D/3D switcher:

1) start windowed
2) switch to 2D
3) switch back to 3D, but during the morph go fullscreen (F11 on Windows works well)

[2018-04-25 14:01] hpinkos commented on #6492
@likangning93 is this a regression since the last release?  Or has it been like this for a while?

[2018-04-25 14:45] ketulm commented on #4871
Any updates or a different workaround for this? I'm still seeing this in the latest version on the sandcastle. Creating patches (current workaround) isn't ideal since the border property can't be used with it and requires drawing the shapes twice, one for border and another to fill, which tends to introduce visual artifacts due to overlapping shapes so doesn't look as great.

[2018-04-25 15:04] hpinkos commented on #4871
@ketulm sorry, we don't have a fix for this yet.  The best workaround we have is to break apart the large polygon into a few smaller ones.

You don't have to worry about drawing the shape twice, one for the fill and one for the outline.  The fill and outline get drawn separately behind the scenes anyway if you were to have both options enabled for the same entity.

[2018-04-25 15:24] hanbollar commented on #6358
@lilleyse I'll work on this update

just as a clarification regarding the documentation in the link you provided
- all properties are available in point formats but only show and color are available for polygon/polyline formats, yes?
- and all you want as a change is that each property now has a note stating that they're specifically only for point formats except for show and color, correct?

[2018-04-25 15:27] liubgithub opened #6495 "'scene.pickPositionSupported' is not supported in IE11"
Hi, I enjoyed cesium very well, but I am not clear why 'scene.pickPositionSupported' is not supported in IE11. It means that I can't interact with anything in the scene when my program running in IE11. Are there any way I can solve this problem? Expecting your reply, thank you very much!

[2018-04-25 15:32] hanbollar commented on #5229
@hpinkos - just fixed this, so it can be closed when you're ready

[2018-04-25 15:34] ggetz commented on #5229
Fixed and deployed to cesiumjs.org

[2018-04-25 15:34] #5229 closed

[2018-04-25 15:34] hpinkos commented on #6495
Hello @liubgithub.  Unfortunately IE11 does not support the WebGL features we need for `pickPosition` to work.  However, most other Cesium features should work fine in IE11.  `pickPosition` is just used for depth picking, which would be for something like getting the position of when you click on a model or 3D tiles building.  You can test our demo application on https://cesiumjs.org/.  Click 'tap

[2018-04-25 15:34] #6495 closed

[2018-04-25 15:41] likangning93 commented on #6492
@hpinkos I'm seeing it as far back as [1.39](http://cesiumjs.org/releases/1.39/Apps/CesiumViewer/index.html?view=0%2C0%2C31890685), although I haven't tested with anything earlier. @mramato mentioned it having been fixed "a long time ago" though, so it seems like a regression that didn't get picked up.

[2018-04-25 15:44] mramato commented on #6492
Having it only happen when going full screen is probably a different bug then what I was thinking.  It's a resizing issue either way, perhaps we skip something because we're morphing but then don't do it once the morph is over.

[2018-04-25 15:45] likangning93 commented on #6492
I think it happens in other cases too, full screen is just easiest to reproduce.

[2018-04-25 17:10] lilleyse commented on #6358
Yeah exactly.

The doc for `verticalOrigin`, for example, might look like:

[code]

[2018-04-25 17:30] lilleyse commented on #6487
When reconverting Mount St. Helens it would good to pass in `--ignore-classification`, lets us do more with shader styling.

[2018-04-25 17:47] #6151 closed

[2018-04-25 17:47] cesium-concierge commented on #6151
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/C-yXSf6-8aQ

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-04-25 18:43] #6358 closed

[2018-04-25 18:47] hanbollar commented on #6317
@likangning93 @ggetz are we still doing this for 1.45?

[2018-04-25 18:50] hanbollar commented on #6464
@hpinkos @mramato Do we want to change the documentation to match what's currently happening?

[2018-04-25 19:00] hanbollar commented on #6317
k. ggetz says it's a go - i'll start working on this.

[2018-04-25 19:39] hanbollar commented on #5594
@lilleyse is this issue okay with being closed?

[2018-04-25 19:40] lilleyse commented on #5594
Yes

[2018-04-25 19:40] #5594 closed

[2018-04-25 19:43] ggetz commented on #5597
Hi @SunBlack, I'm closing this due to inactivity and that the scope is outside CesiumJS itself.

If you are still having trouble, feel free to open a thread over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev).  There are members of the community and developers from the team who answer these kinds of questions there. Additionally, Cesium's a big project, so we use GitHub

[2018-04-25 19:43] #5597 closed

[2018-04-25 19:56] hanbollar commented on #5411
@mramato does this include changing items from `{Object[]}` to `{*[]}` ?

[2018-04-25 20:05] hpinkos commented on #5411
@hanbollar you'll have to take a look at what the parameter is.  If the function expect is something like `[{property: 1}, {property: 2}, {property: 3}]` it should stay `{Object[]}`.  However, if it's something that can be an array of anything (string, number, boolean, etc) then it would be `{*[]}`

Same goes for `{Object}`.  Don't just replace all `{Object}` with `{*}`, you'll have to look to see

[2018-04-25 21:19] ggetz opened #6500 "Add mouseover permalinks to option objects parameters with JSDoc"
JDoc already generates mousover permalinks to all class attributes.

Additionally, it would be useful to be able to direct users to specific parameters in an option object, rather than the entire method.

[2018-04-26 14:44] mramato commented on #6404
@ggetz is this fixed with #6420?  If not, is it still planned for May 1?

[2018-04-26 14:44] mramato commented on #6193
@hpinkos, @ggetz is this still planned for May 1st?  If not, we really need to fix it for June 1st.

[2018-04-26 15:03] hpinkos commented on #6193
Sorry, didn't have time to look into it this month

[2018-04-26 15:13] ggetz commented on #6404
This was not fixed in #6420, I will try to take a look this afternoon or tomorrow to see if we can get this in for May 1.

[2018-04-26 15:17] ggetz opened #6502 "Drop support for loading a tileset based on directory alone"
To reflect spec changes in https://github.com/AnalyticalGraphicsInc/3d-tiles/pull/301, tileset JSON files are not required to be named `tileset.json`, so a full url should always be supplied.

https://github.com/AnalyticalGraphicsInc/cesium/blob/1.46/Source/Scene/Cesium3DTileset.js#L694-L699

CC https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/184

[2018-04-27 13:49] lilleyse opened #6506 "Generate normals automatically for glTF 2.0 models"
From the [glTF spec](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0)

This would replace the stopgap solution in https://github.com/AnalyticalGraphicsInc/cesium/pull/6501.

[2018-04-27 13:58] lilleyse opened #6507 "Add support for KHR_materials_unlit"
The [KHR_materials_unlit](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_materials_unlit) extension defines an unlit shading model that is suitable for photogrammetry and other models that shouldn't be lit in a PBR way.

When using this extension normals do not have to be generated. CC https://github.com/AnalyticalGraphicsInc/cesium/issues/6506

This would replace the

[2018-04-27 14:04] #6412 closed

[2018-04-27 15:13] lilleyse opened #6508 "Log depth z fighting"
Steps to reproduce:

* Zoom in close to the polygon
* Zoom out to the initial starting view
* Start rotating the camera

[localhost:8080 Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=ZVNtT9swEP4rVr80SMHNq5NAQRsUaUhsQ1BNmpZ9MM4lsebYle2UdRP/fU7S8jKsKPKd77nn7vF5SzXacngEjc6QhEd0CYb3Hf42+rw5G81LJS3lEvT86LSUpdw6lIbqVoldo6RDTikwSMstB4NpVXl/S4nckrQDdILmd1ChzR7gPtPrmjKY+1PU4eQE7WHDajloqlm7

[2018-04-27 15:19] emackey opened #6509 "Sandcastle "back" button broken"
Visit any Sandcastle page:  https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/

Click on one of the gallery icons below.  Note the top URL bar updates, and the new gallery item is loaded into the editor.

Now, click the back button.  The Top URL goes back to the previous Sandcastle Demo URL, but the editor does not respond to the change.  It used to, not sure when.  I could bisect this if that's r

[2018-04-27 15:41] shunter commented on #6509
Likely I broke this in #6342.  I looked at it briefly and popstate is firing but the state is null.  I see that there's code that calls replaceState with `null`.  Probably at the time I was not aware the app was actually using state for anything.

[2018-04-27 17:37] #6317 closed

[2018-04-27 17:43] hanbollar opened #6511 "CylinderGeometry Documentation Clarification"
in the constructor it has the following exceptions

[code]

however, based on the first and second exceptions here, there should be no case where the third exception will exist.

[2018-04-27 17:45] hpinkos commented on #6511
@hanbollar these 3 lines of documentation can be removed, they weren't updated when we changed the code

[2018-04-27 17:59] #6511 closed

[2018-04-27 19:07] emackey commented on #3737
The dark/black models should be all gone from the May release of Cesium 1.45.

[2018-04-27 19:07] #3737 closed

[2018-04-27 19:07] cesium-concierge commented on #3737
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/nlWiGXaaDz4/m1sVlxajCAAJ
https://groups.google.com/d/msg/cesium-dev/FFKF3N77FmQ/Edpa3y3IBAAJ
https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/q7U3dSjFDRk
https://groups.google.com/forum/?hl&#x3D;en#!topic/cesium-dev/WNkjQNihsfY
https://groups.google

[2018-04-27 19:33] hanbollar opened #6515 "Updates for Particle and ParticleSystem for next stage"
- [ ] deprecate all the start/end and max/min parameters in `Particle` and `ParticleSystem` and switch to using an init() function instead
- [ ] change how `Particle` handles updates since no longer lerping between start/end [ie removing the parts that do]
- [ ] update sandcastle examples to match these changes
- [ ] update [Particle System Tutorial](https://cesiumjs.org/tutorials/Particle-Systems

[2018-04-27 20:37] NaderCHASER commented on #5080
Might something like this be able to support updating tiles as well?

For instance, I'd like to visualize wind in Cesium. My data is tiled PNGs with raw UV vector values encoded into the Red and Green bands. (https://mapbox.github.io/webgl-wind/demo/)

I can get the particles dropped but updating the canvas to move them isn't possible with the current Imagery/ImageryLayer implementation.

[2018-04-28 06:09] AkshayGore opened #6517 "CESIUM FOR GIS DATA ANALYTICAL/MATH OPERATIONS ON 3D"
HI,
HOW TO PERFORM ANALYTICS ON GIS DATA USING CESIUM APART FROM VISUALIZATION?
IS THERE ANY APPLICATION DEVELOP OR WEBSITE ONLINE THAT DO ANALYTICS.
THANKS
AKSHAY GORE

[2018-04-28 09:22] 9lovingly opened #6518 "How to zoom in when I click one of model part of 3D tiles"
When I click one of model part of 3D tiles like air-condition or chair of my model(3D tiles),I'd like to zoom it in.Is there any method to support it.Anyone can help me?Thanks a lot!

Thanks for contributing to the Cesium Community!

If you have a question, please search the forum:

http://cesiumjs.org/forum.html

and start a new forum thread, if needed, instead of creating this issue.

Otherwise,

[2018-04-28 15:58] emackey commented on #6416
This auto-closed because I merged the animation fix.  I think I'm still seeing an issue where the bear renders inside-out when viewed from the back.  Not sure what that's about...

[2018-04-29 01:29] emackey commented on #6416
The side view just shows some slicing through the balloons.  The rear view is so bad it looks like you're seeing the front of the bear.

![brokenbearonballoons](https://user-images.githubusercontent.com/1235080/39402359-0b7a66d6-4b2b-11e8-928c-189010ef563e.png)

[2018-04-29 13:26] puckey opened #6519 "Unnecessary tile requests"
On http://radio.garden, I notice many extra tile requests occurring after the necessary tiles have been loaded. As far as I can see, these requests are for tiles which are no longer visible in my view.

I tracked this down to the low priority queue (`this._tileLoadQueueLow`) in https://github.com/AnalyticalGraphicsInc/cesium/blob/ea7dfbcb163d92356394faa51d7a1a132a1ad06b/Source/Scene/QuadtreePrimit

[2018-04-29 14:00] kring commented on #6519
@puckey there are lots of details about this issue here:
https://github.com/AnalyticalGraphicsInc/cesium/pull/4969

Short version: not loading these low-priority tiles will cause tiles to be missing entirely in some scenes, and we can't (currently) determine ahead of time when this will be an issue.

The good news is that there is work underway to address this. Specifically, we're extending the te

[2018-04-30 00:33] mramato commented on #6416
@emackey do you think this is fixed by #6513

[2018-04-30 00:38] mramato opened #6520 "BaseLayerPicker now scrolls by default"
The BaseLayerPicker takes up more vertical space than it used to and scrolls by default on many desktops (even when full screen).  We should consider changing the styling to make it more compact or shrinking the thumbnails.

[2018-04-30 00:39] emackey commented on #6416
Sadly no.  I just merged master into that branch, but the artifacts look the same.

[2018-04-30 00:42] mramato opened #6521 "Particle system demo does not play well with timeline"
http://localhost:8080/Apps/Sandcastle/index.html?src=Particle%20System%20Tails.html&label=New%20in%201.44

1. The demo animates whether the clock is running or not.
2. Jumping around in the timeline seems to completely break the effect.

[2018-04-30 00:46] emackey commented on #6416
I've run through a bunch of other models, and haven't found any other than the bear that display this particular problem.  Also, the problem only appears when animations are enabled.  So... some bad interaction between something animated and the diffs in 417c3f9, it would seem.

[2018-04-30 13:38] lilleyse opened #6523 "Model shader error for Draco + morph targets"
[cube-draco-morph-targets.gltf.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/1960731/cube-draco-morph-targets.gltf.txt)

<img width="451" alt="error" src="https://user-images.githubusercontent.com/915398/39429596-577bd612-4c59-11e8-9801-a926101c7712.png">

I was trying out the model from [here](https://github.com/AnalyticalGraphicsInc/gltf-pipeline/issues/365) but it fails during shad

[2018-04-30 14:06] hpinkos commented on #6517
Hi @AkshayGore, analytics is something we plan to make available as part of the [Cesium ion](http://cesium.com) platform but they are not available at this time.

In the future, please ask questions like this on the forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
We use GitHub exclusively for tracking bugs and planning new features

[2018-04-30 14:06] #6517 closed

[2018-04-30 14:09] hpinkos commented on #6518
Hello @9lovingly,  this is not something supported automatically, but you should be able to implement it using [scene.pickPosition](https://cesiumjs.org/Cesium/Build/Documentation/Scene.html#pickPosition) to get the position on the 3D tile you clicked on, and [camera.flyTo](https://cesiumjs.org/Cesium/Build/Documentation/Camera.html#flyTo) to zoom the camera to that position.

If possible, please

[2018-04-30 14:09] #6518 closed

[2018-04-30 14:14] hpinkos commented on #6521
@mramato this is a new demo, should we fix it before the release tomorrow?  @hanbollar @ggetz

[2018-04-30 14:42] lilleyse commented on #6416
It might be https://github.com/AnalyticalGraphicsInc/cesium/issues/6447.

We never figured out why log depth and skinned meshes don't play well together. The current workaround is an improvement but sometimes reveals artifacts like this.

[2018-04-30 14:46] ggetz commented on #6521
The fix for this would be to factor in the delta time that is passed as the second parameter to the update function, but it would take a little bit of fiddling to make it look nice for all time multipliers.

@hanbollar would you be interested in providing a fix?

[2018-04-30 14:48] lilleyse commented on #5838
Workaround added in #6501, closing this in favor of #6507 and #6506

[2018-04-30 14:48] #5838 closed

[2018-04-30 14:48] cesium-concierge commented on #5838
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/eXxk3Oi0hEM
https://groups.google.com/forum/#!topic/cesium-dev/se_9ov5HwA8
https://groups.google.com/forum/#!topic/cesium-dev/YSNaoirGXMw

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps

[2018-04-30 14:56] hanbollar commented on #6521
@ggetz @mramato @hpinkos I can take a look at this and try to fix the visual

[2018-04-30 15:00] hpinkos commented on #6521
THanks @hanbollar!

[2018-04-30 15:05] #6508 closed

[2018-04-30 15:10] bagnell commented on #6416
Yes, that's the issue. If you remove the workaround, this model works fine. I'm looking into it.

[2018-04-30 15:14] likangning93 commented on #2172
This approach is amazing and terrifying. The crux is that instead of rendering "lines" as geometry, they do a full-screen post process pass that checks each terrain fragment in the current view to see how close it is to a line segment, with all the line segments stored in textures using a uniform grid of BVHes.

Concerns about precision issues aside, is it finally time for me to write a GPU BVH tr

[2018-04-30 15:16] #6509 closed

[2018-04-30 16:13] #6523 closed

[2018-04-30 16:29] #6164 closed

[2018-04-30 16:56] hpinkos commented on #6141
@ggetz also noticed this

[2018-04-30 17:08] hanbollar commented on #6521
@ggetz @mramato @hpinkos - added sort of a hacky fix - lmk if this is ok for a sandcastle example - i explain my reasoning in the pull request

[2018-04-30 17:32] ggetz opened #6527 "Long attributions make lightbox too large and cannot be scrolled"
CC https://github.com/AnalyticalGraphicsInc/cesium/issues/6280

![image](https://user-images.githubusercontent.com/4439461/39441105-d755da88-4c7a-11e8-812f-ca693f8d2090.png)

[2018-04-30 19:05] bagnell commented on #6447
Babylon.js has the same issue. I think it's an issue with the model.

https://github.com/BabylonJS/Babylon.js/issues/4240

[2018-04-30 19:11] emackey commented on #6447
I'm not convinced it's an issue with the model, because it only happens when Log Depth is enabled.

[2018-04-30 19:47] lilleyse opened #6528 "Extruded height not working for small values"
![heights](https://user-images.githubusercontent.com/915398/39446677-43f79dd6-4c8d-11e8-98cb-596ad6da4478.PNG)

The red polygon has an extruded height of +3 and the blue polygon has an extruded polygon of +2. The blue polygon ends up being flat. This problem seems to have been introduced in https://github.com/AnalyticalGraphicsInc/cesium/pull/6436.

@hpinkos can you look into this?

[localhost:808

[2018-04-30 20:13] likangning93 commented on #2172
[Via wayback machine](https://web.archive.org/web/20160427235210/http://blogs.agi.com/agi/wp-content/uploads/2011/04/PolylinesOnTerrainSupplement.pdf)

One beef I have with this technique is the requirement to render both a wall and a shadow volume, which seems more expensive for us because WebGL. However, combining this with ideas leveraging the batch table for fragment culling in https://github.

[2018-04-30 20:31] likangning93 commented on #2172
The colinearity approach also gives us data that could be vital for doing style stuff.

[2018-04-30 20:43] #6528 closed

[2018-04-30 21:58] likangning93 commented on #2172
Question: what's the extent of material support that we want here? There's an awesome development [Polyline Color sandcastle](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/#c=7VVRb9owEP4rJ14aVuYALS+UVqsonSZtatVV1aQxTW5ygDXHtmwHyir++y5OwghUe5hUaQ/jBfvuvu/uvjsrcQxji9wj+AXCUuAKLZuqJbfVBc5B4QrG6ESesYdgi46ScB1r5blQaI/aZyXGJaiQIBVRuJJrquIYJk88MxKhN4Qry1fAwWi5loSHlfALMJTM4TxD5SHRUltXchrthBdaOeL9+q1KV

[2018-04-30 22:43] pjcozzi commented on #2172
For style, start with color and line width.  Then dash.  Then textures.

[2018-04-30 22:54] emackey commented on #6447
Update: It is the fault of the model, for not having normalized bone weights.  See https://github.com/KhronosGroup/glTF/issues/1213#issuecomment-385532438

[2018-05-01 13:33] shehzan10 opened #6531 "Ability to apply transforms/projections to imagery layers and other entities"
Add the ability to apply a custom transform/projection to an imagery layer, and entities/primitives, including polygons, polylines, billboards, labels, and points. Support all standard (EPSG) coordinate systems.

[2018-05-01 13:35] shehzan10 opened #6532 "Allow many image layers with per-image transformation"
Display many (tens of thousands) imagery layers on the same view with transform matrices.

[2018-05-01 13:37] shehzan10 commented on #6532
Combining into #6531.

[2018-05-01 13:37] #6532 closed

[2018-05-01 13:58] mramato commented on #6416
@emackey  Did we check to see if this model has the same normalized bone weights problem as Cesium Man?

It looks unlikely that we will get to this for the 1.45 release today and just want to make sure the issue is model specific or at least not the sign of a larger problem.

[2018-05-01 14:03] emackey commented on #6416
No, the Bear model has the opposite problem, it is being damaged by a workaround that's in place for the sake of the broken Cesium Man model.

Let's not hold the release for this.

[2018-05-01 14:05] #6521 closed

[2018-05-01 14:29] hpinkos commented on #6141
@mramato no, I disagree with you.  This seam is only visible if both the terrain watermask and globe lighting are enabled so I don't believe it's a problem with the imagery

[2018-05-01 14:35] likangning93 commented on #2172
So the "single pass shadow volume for lines" trick above probably has the same problems as any other shadow volume algorithm for polylines on terrain, namely, difficulty keeping constant screen space width:
* when drawn perpendicular to the gradient of a steep slope and viewed edge-on
* when viewed at horizon-facing angles on flat ground

But since it's single-pass and doesn't require any special

[2018-05-01 16:46] EdenEdk opened #6534 "Entities store primitives data even when removed"
I am using cesium 1.34 in my project (abit problematic to updrage to the lastest)
My main goal is to draw a large amount of comoplex entities which contains:
point
polygon
label
billboard
and stores an object which i get when pressing (pick..)

I display a max of 20,000 of these complex entities which change and update same time, but i create more and more as time pass while deleting old.
some tim

[2018-05-01 17:06] hpinkos commented on #6534
Hi @EdenEdk!  Thanks for taking the time to investigate this.
However, Cesium is designed to only remove things from the `PointPrimitiveCollection` when it needs to, so logging a `scene.primitives` immediately after calling `viewer.entities.removeAll` doesn't give an accurate picture of how Cesium works.  They are likely removed from the collection on the next render instead.  This type of managem

[2018-05-01 17:06] #6534 closed

[2018-05-01 17:06] hpinkos commented on #3018
Also reported by @EdenEdk in #6534

[2018-05-01 17:12] mramato opened #6535 "Cesium completely broken in Edge"
[code]

@lilleyse is investigating, but @bagnell if you're out there we need you.

[2018-05-01 17:26] hpinkos commented on #6167
We were talking about this a little bit today.  It might be helpful to have a small checklist like
- [ ] Test coverage
- [ ] Runs in Firefox
- [ ] Runs in IE
- [ ] Runs in Edge

We've had some problems with big features we've merged lately breaking cross-browser compatibility and this would help us catch that before it gets merged instead of when we're putting together the release

[2018-05-01 17:49] likangning93 commented on #6535
Adding a `czm_vertexLogDepth();` at the end of `EllipsoidVS.glsl` seems to fix the problem, but the mystery then is why this works in Chrome...

[2018-05-01 17:56] bagnell commented on #6535
Fragment shaders that include that GLSL file don't use that varying when computing the depth in the fragment shader. The shader compilers in other browsers were removing it but Edge wasn't.

[2018-05-01 18:03] #6535 closed

[2018-05-01 18:25] mramato opened #6537 "Parent terrains broken"
Me and @tfili ran into an issue where if a child terrain only has a single root tile `0/0/0` (i.e. half the earth), `TileAvailability` assumes it also has `0/1/0` (which is actually located in the parent terrain).

This is a showstopper for this release since we depend on this feature in ion.  @tfili will follow up with a fix ASAP.

[2018-05-01 19:36] EdenEdk commented on #6534
Ok i got you but, if cesium remove only from the pointPrimitive collection, it aggregate the other collections(labels, billboard, etc) when i create a new entity..
And then the collections wont clean

[2018-05-01 19:44] hpinkos commented on #6534
I'm not sure I know what you mean by "it aggregates the other collections when I create a new entity"
The entity layer creates PointPrimitiveCollections, LabelCollections and BillboardCollections under the hood but it is optimized in a way that it shares these collections between entities so we are not creating and adding primitives unnecessarily

[2018-05-01 20:12] EdenEdk commented on #6534
Ummm so if i inderstood correctly,
Even tho these collections (labels, billboard etc) hold on to previous data of entities who were removed, cesium will take care to delete them on the other render cycle?
I mean, i the second picture i uploaded we can see point which has fields but are undefined, cesium will delete those points after a short time if i wont add entities?

[2018-05-01 20:13] mramato commented on #3888
I'm still seeing ~50 test failures with validation on for the 1.45 release.

[2018-05-01 20:15] mramato commented on #3888
Actually, I'm getting 48 failures without validation, so there's a different problem here.

[2018-05-01 20:23] mramato opened #6539 "Firefox has ~48 camera-related test failures"
Cesium itself still works, so this seems to be a test-only problem with how we are doing epsilons.  @bagnell  says something like has happened before when Firefox released a new version.  Our 1.44 tests fails now as well.

No need to hold up the release, but definitely look at for 1.46

[2018-05-01 20:29] bagnell commented on #6539
I'm seeing those failures as far back as 1.39 (didn't test further).

[2018-05-01 20:30] mramato opened #6540 "Draco glTF models broken in Edge"
They don't work in IE11, but were supposed to work in Edge.  Show stopper?

[2018-05-01 20:31] hpinkos commented on #6540
[code]

[2018-05-01 20:31] mramato commented on #6540
@ggetz can you please provide a quick triage as to whether this will be a trivial fix?  If not, I'm going to push it until the next release.

[2018-05-01 20:45] EdenEdk commented on #6534
Btw i took a look in #3018
Its not my case, because i iterate on certain entities when i remove them (not in the code i shared, in my app)
And i use removeById

[2018-05-01 20:50] #6540 closed

[2018-05-01 20:58] ggetz opened #6542 "Support WASM modules in Edge"
Remove work around submitted in #6541 because Edge does not support Web Assembly modules to allocate a large enough memory block.

[2018-05-01 21:06] likangning93 opened #6543 "Log a warning message for eye dome lighting in IE/Edge"
Eye dome lighting for point clouds doesn't work in IE/Edge due to lack of EXT_frag_depth, OES_texture_float, and WEBGL_draw_buffers extensions in WebGL 1.0.

Currently it just silently bypasses that code, but it should log an error.

[2018-05-01 21:10] mramato commented on #3812
Appears to happen in all browsers now, including windows: http://localhost:8080/Apps/Sandcastle/index.html?src=Cardboard.html&label=All  (Just go into VR mode)

[2018-05-01 21:11] mramato commented on #6543
We need to add a `isDomeLightingSupported` flag and use it in the Sandcastle example so users understand they need to check for it and what the best practices are.  Simply logging to the console will go unnoticed for most users.

[2018-05-01 21:11] hpinkos commented on #6534
Even tho these collections (labels, billboard etc) hold on to previous data of entities who were removed, cesium will take care to delete them on the other render cycle?
I mean, i the second picture i uploaded we can see point which has fields but are undefined, cesium will delete those points after a short time if i wont add entities?

Yes, that should be the case

[2018-05-01 21:12] mramato opened #6544 "Cesium Inspector broken in Edge"
Click any of the frustum checkboxes and you'll crash.

http://localhost:8080/Apps/Sandcastle/index.html?src=Cesium%20Inspector.html&label=All

[2018-05-01 21:14] #6537 closed

[2018-05-01 21:15] hpinkos commented on #6537
Fixed in #6538

[2018-05-01 21:18] hpinkos opened #6545 "Google Earth Enterprise Sandcastle example doesn't work"
https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/?src=Google%20Earth%20Enterprise.html&label=All

[code]

@tfili any ideas?

[2018-05-01 21:26] mramato opened #6546 "Remove ReverseGeocoder demo"
We no longer ship with a bing key so this demo no longer works: http://localhost:8080/Apps/Sandcastle/index.html?src=Reverse%20Geocoder.html&label=All

[2018-05-01 21:37] adday opened #6550 "currentTime not correct when accessed through onTick"
I have embedded Cesium into a GUI and am attempting to override the timeline controls in my GUI. I need to get the currentTime reported back to my GUI from Cesium and I am using the onTick() to trigger the sending of the current time. Inside of the onTick EventListener, I am accessing clock.currentTime and returning this as the currentTime being displayed in the viewer.

The issue is that this tim

[2018-05-01 21:46] hpinkos commented on #6550
Hi @adday, it's hard for me to say what is going on without looking at your code.

You might need to get the current time from `viewer.clockViewModel.currentTime` instead
It might be helpful if you look at the code for our [Timeline Demo](https://cesiumjs.org/Cesium/Apps/TimelineDemo/): https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Apps/TimelineDemo/TimelineDemo.js

If these don't so

[2018-05-01 21:46] #6550 closed

[2018-05-01 23:54] #6546 closed

[2018-05-02 00:02] mramato commented on #6545
CC #6549

[2018-05-02 00:02] #6545 closed

[2018-05-02 02:23] pengbao4386 opened #6551 "clampToGround KmlDataSource"
When the KML data is loaded, the clampToGround is set to true. But the line data can't be clamped to the ground。the clampToGround is not work?
var kmlDataSource = new Cesium.KmlDataSource();
     var promise = kmlDataSource.load('../Apps/SampleData/kml/road.kmz',
     {
         camera: viewer.scene.camera,
         canvas: viewer.scene.canvas,
         clampToGround:true
     });
    viewer.dataS

[2018-05-02 03:15] abc1115 opened #6552 "Can I change the attitude of the earth?"
i want to use non-earth ellipsoids to replace earth .I successfully changed the ellipsoid radius by use Cesium.Ellipsoid.MOON，but i could not change the attitude.

[2018-05-02 14:06] mramato opened #6553 "Flashlight"
When loading arbitrary data in Cesium, it often ends up being night-time at the data location so nothing is lit and the entire scene is washed out.  In these cases I don't care about the time and having to turn on and fiddle with the timeline is a pain.  I just want to be able to see the details of stuff on the screen.

I've seen other apps offer a "Flashlight" button that puts a light source at t

[2018-05-02 14:10] mramato commented on #6553
Also CCing @emackey because this sounds like the type of problem I might be able to [nerd snipe](https://xkcd.com/356/) him on

[2018-05-02 15:30] ggetz commented on #4108
@hpinkos Will these changes also apply to billboard/lablel/polyline collections?

See on the forum: https://groups.google.com/forum/#!topic/cesium-dev/ywyFR5GSi_c

[2018-05-02 17:48] mramato commented on #6553
Awesome @emackey!  That seems like a great workaround.

[2018-05-02 20:37] lilleyse opened #6556 "Tracked entity not tracked while another data source is loading"
A tracked entity does not get tracked while another data source is loading. Is this a bug or intentional?

The area of the code that is suspicious is `Viewer._onTick` and `DataSourceDisplay.getBoundingSphere`. An entity is only updated if its bounding sphere is `DONE`, but `getBoundingSphere` returns `PENDING` if any data sources are loading (`_ready` will be false). This causes the entity to not

[2018-05-03 05:30] vividos commented on #6477
I see the same issue in my project, usually when adding many entities (> 1000) with a pin image from PinBuilder. Could be a starting point for you to investigate.

[2018-05-03 13:57] ggetz commented on #5462
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/FEtAFuPWKnk

[2018-05-03 14:37] ggetz commented on #6551
Hi @pengbao4386

Cesium currently doesn't support polylines clamped to terrain, but we are in the process of working on them, see https://github.com/AnalyticalGraphicsInc/cesium/issues/2172.

Generally, please ask questions like this over at the [Cesium Forum](https://groups.google.com/forum/#!forum/cesium-dev).  There are members of the community and developers from the team who answer these kind

[2018-05-03 14:37] #6551 closed

[2018-05-03 14:43] ggetz commented on #6552
Hi @abc1115 , I've opened a thread fro this on the [Cesium Forum](https://groups.google.com/forum/#!topic/cesium-dev/7kCBGoHIzTA).  There are members of the community and developers from the team who answer these kinds of questions there. Could you clarify there what you mean by the attitude of the earth/ellipsoid?

Additionally, Cesium's a big project, so we use GitHub for feature requests and bu

[2018-05-03 14:43] #6552 closed

[2018-05-03 14:43] cesium-concierge commented on #6552
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/7kCBGoHIzTA

If this issue affects any of these threads, please post a comment like the following:

---

__I am a bot who helps you make Cesium awesome! [Contributions to my configuration are welcome.](https://github.com/AnalyticalGraphicsInc/cesium/tree

[2018-05-03 15:30] mramato opened #6557 "Update approximateTerrainHeights.json"
`approximateTerrainHeights.json` was generated from the STK World Terrain as of #3903, with all of the improvements made to Cesium World Terrain, we should regenerate this file.

Long term plan is still for this data to be accurately provided by each terrain provider, but `approximateTerrainHeights.json` will always be a good fallback for servers that don't have the information.

[2018-05-03 22:36] bflood-agi commented on #3061
Hi all,

We have a widget for editing a polyline, and I've just encountered this same error message, except that, instead of originating from `StaticGeometryColorBatch.update`, the error occurs in `StaticGeometryPerMaterialBatch.update`. I did a little digging, and the call to `this.attributes.get(instance.id.id);` at [line 253 of StaticGeometryPerMaterialBatch.js](https://github.com/AnalyticalGra

[2018-05-04 02:26] lilleyse opened #6561 "Problem with Draco and unnormalized vertex colors"
Draco encoded attributes whose accessors set `normalized : true` are not being normalized correctly during rendering, leading to overblown colors in the second image.

The decoder checks for `attribute.normalize()`, but maybe it should use the accessor's `normalized` property instead. Right now it doesn't seem possible in the Draco API to set whether an attribute is normalized, so  `attribute.norm

[2018-05-04 13:37] mramato opened #6562 "Crash in ImageryLayer._createTileImagerySkeletons"
I'm getting a crash with the following callstack when using a custom terrain and imagery together.  (Both terrain and imagery work fine independently.)

[code]

And here's the code to reproduce this (I can't share the data publicly, so I didn't provide the access token or ids.  Contact me directly for the data.

[code]

The problem does not happen if I enable a global imagery base layer (as long a

[2018-05-04 13:47] ggetz commented on #5837
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/Sn5R5FzOr1k

[2018-05-04 13:57] ggetz opened #6563 "Ability to toggle visibility of ArcGIS layers in ArcGisImageryProvider"
Requested on the forum: https://groups.google.com/forum/#!topic/cesium-dev/Y6PBcx3eB1Y

After I create a ArcGisMapServerImageryProvider instance, I can only read layers property and cannot assign it to a new array to change the layer visibility(not the mapserver visibility).

[2018-05-04 14:04] nmschulte commented on #3061
I just ran my sample code again in the Geometries sandcastle demo and received the same `TypeError` noted in my initial investigation.  This is without making any selection, though it happens when entities are selected too.  #4445 still exists; some sort of race regarding material update, show/hide update, and "selection indicator" (user input or some internal update/output logic).

![2018_05_04-0

[2018-05-04 14:17] hpinkos commented on #3061
Thanks @bflood-agi @nmschulte, we'll try to look into this soon

[2018-05-04 14:26] mramato opened #6564 "Imagery layer min/max zoom level confusion"
A common problem our users encounter is that limiting imagery layer zoom levels is non-intuitive and misleading.  This is largely because of confusion between `ImageryProvider` `minimumLevel/maximumLevel` and `ImageryLayer` `minimumTerrainLevel/maximumTerrainLevel` constructor options.

[code]

The above code results in the following error: `The imagery provider's rectangle and minimumLevel indica

[2018-05-04 14:30] ggetz opened #6565 "Dynamic polygons on terrain error with duplicate positions"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/KV_HKOCrBWs

Code to duplicate:
[code]

[2018-05-04 14:33] hpinkos commented on #6477
Thanks @vividos, could you possibly put together a [Sandcaslte Example](https://cesiumjs.org/Cesium/Build/Apps/Sandcastle/) to reproduce this? That will make it easier for us to debug.

[2018-05-04 14:35] mramato commented on #6477
This sounds like the GPU running out of memory and returning black textures. (memory is much more limited on mobile).  Does the app have any other data loaded (Such as multiple imagery layers?)

Can you post the code you are using to create the pin?

[2018-05-04 14:42] hpinkos commented on #4108
@ggetz the changes I'm working on this round are specifically to address z-ordering in 3D, so I won't be making changes to billboards/labels because they are ordered spatially by their 3D position.  We will have support for ordering polylines on the earth surface.

[2018-05-06 00:14] lilleyse opened #6566 "Intermittent clipping plane crash"
![tim 20180504171500](https://user-images.githubusercontent.com/915398/39668634-d28bc362-50a0-11e8-8fa8-1b9f0d1a96a9.png)

Possibly a case where `getClippingFunction` is called before `ClippingPlaneCollection` is updated?

@likangning93 would you be able to look into this?

Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/mJ8NDsFrIhY

[2018-05-06 04:37] rezn8d opened #6567 "KML Image Overlays crash Cesium and Browser"
Cesium version 1.44 and 1.45 crash when loading KML files with image overlays.  Files load fine, are displayed on map, then performance slows to a crawl ending with either WebGL crashing or the entire browser crashing. Crash typically happens around 10-30 seconds after file is displayed.

Tested Systems affected:
Windows 7 64bit (6 core i7, 16GB RAM, SSD, NVIDIA Geforce 750GTX 2GB) on latest Googl

[2018-05-06 06:10] PrincessGod commented on #6432
@emackey @bagnell @pjcozzi @twpayne @cx20  Hi, all~

I found this problem can be optimized.

First decide how many morph targets can be applied according to MAX_VERTEX_ATTRIBUTES.

Then according to each target's weight to decide use which targets, which means sort by `weight` and use bigger targets.

[2018-05-06 07:46] erezy commented on #4108
@ggetz Thanks!
@hpinkos changing the order of the primitives collections in 2D worked in the past (V 1.21)
I don't know why it stopped working.
Do you know when the issue will be resolved?

[2018-05-06 17:13] kevinstadler commented on #3540
Just to confirm that this is indeed a quirk of `gdal2tiles.py`'s geodetic profile. I spent ages trying to get the tiles to display correctly in OpenLayers 3. Instead of shifting the zoom levels I ended up manually specifying a TileGrid with the `[-180, -90]` origin to get it to parse the existing tiles correctly. Either way, you can probably close this ticket, as it's clearly a gdal2tiles bug!

[2018-05-07 14:24] lilleyse opened #6568 "Classification type ignored when depthTestAgainstTerrain is true"
The classification type is `CESIUM_3D_TILE`. When `globe.depthTestAgainstTerrain` is true the polygon classifies both the tileset and terrain, as in the second image.

<img width="458" alt="no-depth-test" src="https://user-images.githubusercontent.com/915398/39706743-5991a544-51e0-11e8-8eed-11f492ae8980.PNG">
<img width="493" alt="depth-test" src="https://user-images.githubusercontent.com/915398/3

[2018-05-07 17:17] hpinkos opened #6569 "Primitive ordering regression"
In Cesium 1.29, the using `raiseToTop` makes the polyline render on top of the billboard and label.  However, in Cesium 1.30 this is no longer the case.

Reported by @erezy

https://groups.google.com/forum/#!topic/cesium-dev/ywyFR5GSi_c

[code]

[2018-05-07 17:17] hpinkos commented on #4108
Thanks @erezy, I didn't realize this was a regression.  I've opened a separate issue so we can look into fixing it: #6569

[2018-05-07 17:36] #5411 closed

[2018-05-07 17:49] hpinkos commented on #6567
Hi @rezn8d, I just loaded `RT.atlantic.g8irn.tiles-8.kml` (the first link you sent) in Cesium 1.45 in Firefox and Chrome and I could not reproduce the error you're seeing.  Did you try clearing your cache/cookies?  Sometimes that can cause weird problems when switching between versions of Cesium.  Also, make sure all of your graphics drivers are up to date.

If you're still seeing the problem afte

[2018-05-07 18:02] rezn8d commented on #6567
I have cleared my caches, both in Chrome and Firefox and using In Private and using CCleaner. Same crashes.  My drivers are latest.

[code]

[2018-05-07 18:17] rezn8d commented on #6567
modKML is not used but looks like this:

[code]

Both of these layers are set to clampToGround: false but inspecting the CIMSS file the original KML overlays are set to clampToGround: true

[code]

Crashes after I load the animation, slide it to the end of animation, then rotate globe.

[2018-05-07 18:48] hpinkos commented on #6567
@rezn8d thanks for the extra info.  Unfortunately I still wasn't able to reproduce the crash.  I simplified your code down to this for testing:

[code]

Can you switch to the unminified version of Cesium and paste the callstack for the crash again?  That way we know the function names and might have a better idea of what's happening.  Is it the same crash every time?

If you have time, could you a

[2018-05-07 19:02] emackey commented on #6567
@hpinkos I visited the site @rezn8d linked to, and I get `CONTEXT_LOST_WEBGL` console log message just prior to the call stack.

Cesium currently doesn't handle the WebGL Context Lost event, as it shouldn't really happen unless the browser is completely overwhelmed.  So the call stack is much less relevant, it's just the aftermath of an unhandled loss of context.  Unfortunately this means it's a f

[2018-05-07 19:59] hpinkos commented on #3061
@bflood-agi @nmschulte I was able to reproduce the crash locally and I'll try to look into it in the next week or two

[2018-05-07 23:25] rezn8d commented on #6567
I can upload my code to github. I did not try versions 1.40-1.43. I had to change my proxy stuff and that was about it. Will work on that tomorrow.

[2018-05-08 01:14] mramato opened #6570 "Unit tests haven't gotten slow"
Cesium's unit tests used to run in 45 seconds in Chrome, over the past year they have crept up to 3 minutes! Older slow browsers (IE) can take as long as 10 minutes.

I'm fairly certain that there are only one or two severely long running tests that are causing the problem.  We should identify them and also put checks in place to ensure that they are not re-introduced.

[2018-05-08 08:20] SunBlack opened #6571 "Option to disable group display in BaseLayerPicker"
In Cesium 1.45 the layout of BaseLayerPicker was changed. Now the enduser see always a group "Cesium Ion" and "Other" - but the user has no idea where the difference is. For me this groups are just interesting as dev. So it would be nice to have an option to disable this and get layout like before Cesium 1.45.

[2018-05-08 12:29] mramato commented on #6570
Running with WebGL validation on takes over 10 minutes in Chrome.  That really slows down testing for webgl-heavy PRs and release testing.

[2018-05-08 12:35] mramato opened #6572 "BaseLayerPicker categories should be optional"
If no categories are specified, everything ends up in the `Other` category, but we should detect that case and not show `Other` at all.

This is an annoying regression with a simple fix, so I'm going to tag it for next release.

[2018-05-08 12:37] mramato commented on #6572
CC #6571

[2018-05-08 12:39] mramato commented on #6571
@SunBlack I wrote up #6572 to address this (sorry I originally thought this was a forum post and ended up writing up a duplicate issue).

As a reminder, the initial list in the base layer picker is provided for demo/development purposes.  You should always be providing a custom list of layers for your own apps, and you can simply leave off the category option on those layers.

[2018-05-08 12:39] #6571 closed

[2018-05-08 14:16] ggetz commented on #4510
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/odobrazRIWU

[2018-05-08 14:18] ggetz commented on #5837
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/TDMwlbT0xBE