[2020-05-26 02:26] lilleyse commented on #8875
@sweerwen In general it should be okay but there are some known issues like

https://github.com/CesiumGS/cesium/issues/4381
https://github.com/CesiumGS/cesium/issues/7705

I think we might be able to fix #6447 pretty soon and not require the workaround here.

[2020-05-26 05:40] sweerwen commented on #8875
@lilleyse  glad to hear that, thanks for your contribution.

[2020-05-26 06:05] sweerwen commented on #8875
just tested when set log depth to false on [HDR page](https://sandcastle.cesium.com/?src=High%20Dynamic%20Range.html&label=Post%20Processing) then switch the HDR checkbox,it crashed. but comment this line  `//viewer.scene.highDynamicRange = true;`, has no problem.

[2020-05-26 11:45] imagoiq commented on #7936
@gberaudo Have you found a workaround ? We experience the same issue with the same terrain (from Swisstopo), for example on this page when you zoom out: https://smapshot-beta.heig-vd.ch/visit/1790

[2020-05-26 12:21] gberaudo commented on #7936
@imagoiq, unfortunately not.
Swisstopo is investigating a fix but it may take time to land.
At HEIG-VD, you might (???) have free access to the 3D data used for generating the terrain: https://shop.swisstopo.admin.ch/fr/products/height_models/alti3D If yes you could try one of the opensource solutions to generate your own Cesium terrain tiles (the best is quantized-mesh format). If you do let me k

[2020-05-26 13:08] lilleyse commented on #8875
@sweerwen that sounds like this bug possibly: https://github.com/CesiumGS/cesium/issues/8372

[2020-05-26 14:16] bampakoa commented on #8739
@hpinkos it's been a while since this issue has been discussed. Do you have any additional thoughts on this?

[2020-05-26 14:49] OmarShehata commented on #8739
One thing I wanted to respond to here:

I actually forgot that the current CesiumJS error panel is dissmissable, I almost never dismiss it because I think it's almost always been a fatal error in my experience. This makes me think we should have separate types of errors in the library, like warning dialogs that are dismissable and fatal errors that are not.

CesiumJS generally uses console logs fo

[2020-05-26 14:52] hpinkos commented on #8739
@bampakoa I like your suggestions in https://github.com/CesiumGS/cesium/issues/8739#issuecomment-614633118

I would probably make the panel red though, so it reads more like an error.  You can use `#d69d93` for the background color and `#510c00` for the text color

[2020-05-26 14:53] hpinkos commented on #8739
@OmarShehata If there's a runtime error that triggers this panel to appear, there should already be something logged to the console so we don't need to add anything else to handle that.

[2020-05-26 17:31] jony89 commented on #5333
@hpinkos is there any way to put a bounty on this issue?

[2020-05-26 22:37] bwyss opened #8877 "FEATURE REQUEST: contour lines labels"
The feature: Cesium.Material ElevationContour line labels.
Options:
- units
- label-spacing
- min-zoom
- max-zoom
- text-size
- text-opacity
- text-size
- text-halo-width
- text-halo-color
- text-color

[2020-05-27 02:07] #8461 closed

[2020-05-27 02:51] mramato commented on #5717
For anyone following this issue, check out #8878.  Your feedback is appreciated.

[2020-05-27 07:39] yoyomule opened #8879 "rotates and scales the model smooth"
When cesium rotates and scales the model, it feels not so smooth, and sometimes there will be problems such as floating and disappearing of the model. I experienced the model operation effect of this [website,](https://app.modelo.io/share-token/lP9L1xvSJo?_ga=2.90362138.1631734895.1590563450-2048537059.1590563450) and I feel much better. Can cesium provide such parameter adjustment to meet this sm

[2020-05-27 08:14] itsegg commented on #4549
@mramato
Hi mramato,
I found a place in Cesium that caused the memory to keep increasing,
When tile.unloadTile (), _request also occupies memory.
After this modification, the memory of my browser stabilized at about 1.5G.
My Cesium version is 1.69
![image](https://user-images.githubusercontent.com/23716608/82994589-fc4efd00-a034-11ea-9f10-719cae4bc8e4.png)

[2020-05-27 09:13] imagoiq commented on #7936
Thanks @gberaudo for your reply, so we'll further investigate this issue and contact Swisstopo to coordinate.

[2020-05-27 13:10] lilleyse commented on #4549
@itsegg that looks suspiciously similar to https://github.com/CesiumGS/cesium/issues/8843

[2020-05-27 13:10] lilleyse commented on #8843
See https://github.com/CesiumGS/cesium/issues/4549#issuecomment-634503841, possibly related

[2020-05-27 13:20] mramato commented on #8843
@bn-dignitas are you still working on this?  If so, I would recommend just opening a PR with whatever you think is best to do and then we can discuss the details as part of the PR process.  Thanks!

[2020-05-27 13:39] bn-dignitas commented on #8843
@mramato Yes.  I got distracted with other priorities, but I'll try to get this in ASAP.

[2020-05-27 13:48] mramato commented on #8843
Awesome, thanks! We really appreciate it.

[2020-05-28 10:31] myhnuhai opened #8882 "Resource Add subdomains attribute"
Due to the concurrent limitation of the same domain name in the browser, for example, the Chrome browser only supports 6 concurrent. It is recommended to add the subdomians attribute to support requesting data from multiple domain names.
`subdomains:['a','b','c','d']`
`http://{s}.tileset.com/Tileset/tileset.json`

[2020-05-28 10:32] myhnuhai commented on #8882
`http://a.tileset.com/Tileset/tileset.json
http://b.tileset.com/Tileset/tileset.json
http://c.tileset.com/Tileset/tileset.json
`

[2020-05-28 14:58] OmarShehata commented on #8882
@myhnuhai is the idea here that your server would have these multiple subdomains set up all serving the same tileset, as a way to get around this concurrency limit?

I haven't seen this done before, and I wonder if that limit in the browser exists for a reason. Would this actually load the tileset faster? Have you benchmarked this to test that?

[2020-05-28 15:03] OmarShehata commented on #8879
@yoyomule there's a few camera parameters you can tweak like inertia, see the ScreenSpaceCameraController doc: https://cesium.com/docs/cesiumjs-ref-doc/ScreenSpaceCameraController.html?classFilter=ScreenSpace

You can also lock the camera to a specific point in space so you can orbit around a model like in that link you provided, see this thread with a code snippet on how to do that: https://commu

[2020-05-28 15:03] #8879 closed

[2020-05-28 15:08] OmarShehata commented on #8877
You can currently add contour lines in CesiumJS as shown here: https://sandcastle.cesium.com/index.html?src=Globe%20Materials.html. The current implementation renders these lines in the shader, so I think it may be difficult to generate labels in the same efficient way.

I think one way to implement this would be to generate the labels around the closest areas to the camera as the user moves. Alth

[2020-05-28 15:25] OmarShehata commented on #8871
Here is a [Sandcastle reproducing this issue with your KML](https://sandcastle.cesium.com/index.html#c=dVRRb9owEP4rFhJrkJANYahTGtK1Rduq0bUabH3JQ93EBQvHTm2HQKf9911iyIC2vBDffd995/PdrahGK85KptEISVaiK2Z4keHftc07SerjlZKWcsn0SRf9iSWCn2Vag+lOqxVPmQ52xEQzatm90iKdOYjXieXfzlksV6ClcsuVNCC2jZPQjGmKgm0W2CRMMuys3R0EqOY1pLLuIIJm+Ux91aqQaYCsLhiIgqZTXWaiugKTFoQfwvN1JtCKaQOpjOJWH/fiFjKWypQKJRmYNszErfMolqE0fgB0BBRpg

[2020-05-28 15:35] OmarShehata commented on #6137
This is currently possible to do using the `camera.lookAt` as described on the forum here: https://community.cesium.com/t/viewer-camera-lookat-method-change-camera-heading-and-camera-pitch/8800

[2020-05-28 15:35] #6137 closed

[2020-05-28 15:36] OmarShehata commented on #8585
I'm closing this for now since we don't have a way to reproduce. There have been similar reports which may or may not be the same issue. I'm keeping my eye out and we can revisit once anyone has a consistent way to reproduce.

[2020-05-28 15:36] #8585 closed

[2020-05-28 15:39] OmarShehata commented on #8501
You can use clipping planes to clip areas in 3D Tiles or terrain: https://sandcastle.cesium.com/index.html?src=Terrain%20Clipping%20Planes.html.

Multiple clipping planes are not yet supported, see: https://github.com/CesiumGS/cesium/issues/8751

[2020-05-28 15:39] #8501 closed

[2020-05-28 15:41] OmarShehata commented on #8519
I think these are the same issues described here, just more obvious with a larger width: https://github.com/CesiumGS/cesium/issues/4011

[2020-05-28 15:41] #8519 closed

[2020-05-28 15:42] OmarShehata commented on #4011
Similar artifacts were reported here, more obvious with polylines with really large widths: https://github.com/CesiumGS/cesium/issues/8519

[2020-05-28 15:42] mramato commented on #8882
@myhnuhai I'm not exactly sure what you are asking because Cesium already does exactly this for servers that support it, such as Bing, Mapbox, etc...

In Cesium ion's case, the server is HTTP/2, which does not have a concurrent connection limit the way traditional HTTP/1 does so no round-robin-ing of subdomains is needed.

I'm going to close this, but if you want meant something else please feel f

[2020-05-28 15:42] #8882 closed

[2020-05-28 15:43] OmarShehata commented on #8495
There's a lot of options here depending on what you're trying to do. One way is to turn off the screen space camera controller and control the camera directly like in this code example: https://sandcastle.cesium.com/index.html?src=Camera.html

If you're still having trouble please use the Cesium community forum for questions: https://community.cesium.com/

[2020-05-28 15:43] #8495 closed

[2020-05-28 15:44] OmarShehata commented on #8516
The sampleTerrain function lets you choose which level to sample: https://cesium.com/docs/cesiumjs-ref-doc/sampleTerrain.html?classFilter=sampleTer

[2020-05-28 15:45] OmarShehata commented on #8483
Closing since we are not able to reproduce.

[2020-05-28 15:45] #8483 closed

[2020-05-28 15:46] OmarShehata commented on #8449
This sounds like a network issue - if you check your network tab, I would expect to see failed requests for the imagery tiles.

Closing since we are not able to reproduce.

[2020-05-28 15:46] #8449 closed

[2020-05-28 15:59] OmarShehata commented on #5462
It does continue to grow, very slowly, but eventually plateaus around 300 mb of memory used (looking at the memory tab in the Chrome developer tools) which might just be the garbage collector doing its thing.

I am OK with closing now with the advice that re-using the Viewer object may still be a good idea in your applications (as it is to generally pool resources instead of creating and destroyin

[2020-05-28 15:59] #5462 closed

[2020-05-28 15:59] cesium-concierge commented on #5462
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/FEtAFuPWKnk
https://groups.google.com/d/msg/cesium-dev/VNWjO3qGrXE/lLUDzBX4DQAJ
https://groups.google.com/d/msg/cesium-dev/Mg6OlJCMwoQ/EV_uD-eLAAAJ

If this issue affects any of these threads, please post a comment like the following:

[2020-05-28 16:03] #4009 closed

[2020-05-28 16:08] OmarShehata commented on #8378
Thanks for the Sandcastle @itfsw . I can see by capturing a heap snapshot, with the zoomTo and without the zoomTo, after they complete, that in one case if you filter for "Entity" you'll see the memory still exists, and the other it does not.

I think this is worth looking more into.

[2020-05-28 17:53] lilleyse commented on #8516
Reopening because `sampleHeightMostDetailed` doesn't offer a similar control for 3D Tiles.

[2020-05-29 13:25] HarmenK commented on #6333
Hi @pjcozzi ,
what's the status at this moment?? ;-)

[2020-05-29 14:28] OmarShehata commented on #6333
@HarmenK we aren't actively working on this, but happy to review any pull requests!

[2020-05-29 14:33] #8510 closed

[2020-05-29 15:15] hpinkos commented on #8844
Fixed in #8847

[2020-05-29 15:15] #8844 closed

[2020-05-29 15:58] HarmenK commented on #6333
Great Omar! I'll get in contact with you by email to work it out.

[2020-05-29 17:10] robbo1975 commented on #2132
Hi,  I am currently working an an implementation of a StyledVector Map tile provider for Cesium.  I am doing this work for a commercial project that I am working on and am willing to contribute the code to the community project. I am making steady progress and will be continuing to develop a solution until it provides at least around 85% of the StyledVector map features.  Would the community be in

[2020-05-29 23:21] am2222 commented on #2132
@robbo1975 I think it would be great thing having vectoretiles in cesium,

[2020-05-30 04:53] davenquinn commented on #2132
@robbo1975: excited to see this contribution! It is sorely needed.

There are different strategies taken by different providers for styling vector layers (e.g. Mapbox, Carto, Deck.gl, and probably OpenLayers although I haven't looked deeply). Does your layer take a separate strategy? Or does it adopt one of the existing solutions (e.g. CartoCSS)?

Either way, would it make sense to first package t

[2020-05-30 06:10] YonatanKra opened #8885 "Remove Timeline.addHighlightRange"
remove in [1.73.0]

[2020-05-30 06:11] YonatanKra opened #8886 "Remove Timeline._makeTics"
Timeline._makeTics- remove in [1.71.0]

[2020-05-30 06:11] YonatanKra opened #8887 "Remove Timeline.smallestTicInPixels"
Timeline.smallestTicInPixels - remove in [1.71.0]

[2020-05-30 10:23] robbo1975 commented on #2132
@davenquinn I have adopted the mapbox standard in my approach because of a need to support ESRI Vector tile services. Your suggestion of developing as an external plugin module seems eminently sensible; however, JavaScript is not my first language so I'm still trying to find my feet with all of the language concepts and associated Frameworks and tools! I will take a look at your example module and

[2020-05-30 17:21] LuminousPath opened #8888 "expanding glsl builtins"
Sandcastle example: [Example using Sandcastle's Composite Material](https://sandcastle.cesium.com/index.html#c=7VwLb9s4Ev4rhIEDrDxkS8l227gtLk3SokDTBkk2XWBdBLJEO9rqdRTlxF3kv9+QoiRSD0eW7Waxd0EXCR8znPk4nCGH1M4tggi2qRXMPDwaB3Mo34fEcy5LlVHoLTw3YMVxME0Cm7phgKwo8hbHXnRnnVvRuUUxcS2vHxHXd6k7x3sotnGANfTXOEDoygoc24qph3UH255FcL+WXhuhwQC9Dwm6c2d3HvxH3WCG3EDmwBjm4+jAB1vECmys+4ILeoMCfI9OcOwmvp7LxiVBaGpNiGsfIVFEK

[2020-05-30 20:34] davenquinn commented on #2132
@robbo1975 the Mapbox standard is the most widely used, so having a renderer targeted at that would be wonderful, and extremely useful for our work as well. If you were able to create a project, I'd be happy to help with code review etc. (as someone who is mostly an outsider to Cesium, but a fairly proficient javascript developer).

[2020-05-31 18:12] OmarShehata commented on #8885
This is from this PR right https://github.com/CesiumGS/cesium/pull/8845 ?

Why does this function get a deprecation period longer than these other two https://github.com/CesiumGS/cesium/issues/8887 https://github.com/CesiumGS/cesium/issues/8886 ? CC @hpinkos

[2020-05-31 18:21] OmarShehata commented on #8888
I think you can see the same issue in any material that uses `positionToEyeEC`. If you go to the materials Sandcastle here: https://sandcastle.cesium.com/index.html?src=Materials.html and try the "Grid" or "Rim Lighting" materials in 2D view you'll see similar artifacts.

@lilleyse do you have any recommendations here?

[2020-05-31 18:28] YonatanKra commented on #8885
@OmarShehata
I just thought more ppl are using addHighlightRange than the others so give them some more time. I'm not attached to either.

[2020-06-01 00:57] #2730 closed

[2020-06-01 00:57] #5717 closed

[2020-06-01 00:57] cesium-concierge commented on #5717
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/25jPqr5ODg0
https://groups.google.com/forum/#!searchin/cesium-dev/Angular%7Csort

If this issue affects any of these threads, please post a comment like the following:

[2020-06-01 05:45] hyman4hu commented on #8014
Can you tell me how you solved this problem? I have been troubled for several days and tried many methods.

[2020-06-01 05:48] LuminousPath commented on #8864
Can confirm this bug, running `npm run build` on `v14.2.0` gives the error:
[code]

[2020-06-01 06:02] LuminousPath commented on #8864
seems like the only thing requiring `minify` to be anything other than a boolean type is the `fs.writeFileSync` [here](https://github.com/CesiumGS/cesium/blob/master/gulpfile.cjs#L1330)

it's a simple fix to change this to `fs.writeFileSync(minifyStateFilePath, minify.toString());`

[2020-06-01 11:54] OmarShehata commented on #8014
@hyman4hu have you tried the recommendations here https://github.com/CesiumGS/cesium/issues/8014#issuecomment-514204283 ?

If you're still having trouble please open a new topic in the Cesium community forum: https://community.cesium.com/

[2020-06-01 13:56] TJKoury commented on #8864
I'd recommend changing it to `if(typeof minify !=="boolean")`

[2020-06-01 14:37] mramato commented on #8864
We're happy to look at a PR if someone wants to open one. It doesn't really matter that much what gets written out, as long as functionality remains unchanged and it fixes the Node 14 issue.

[2020-06-01 16:05] mramato opened #8894 "Global 3D Tilesets do not end up with an ideal default camera view"
As [this sandcastle](https://sandcastle.cesium.com/index.html#c=bZBNa8MwDIb/iskpgeCw65qWsV4HHaxsF19cW1vF/BEkJ6Ud+++zmw72Ud306n0fCU2axIRwABJLEeAg1sA4evl81mpVmXO/jiFpDECqasWHCkIkIMrKI8UJLdDtd9AQ6AQvkZzdzpa6aVX4bBYqqGBi4CQSOmBIeeO8WrKBAHIg9JhwApba2voXcMP+fkRnMbxx3cywS/gUo9/G+gJtFqJqq57T0cGqHFrqDv0QKYmRXC1ll8APLkO5243mHZI0zAVZrH33M9pbnATa5ZU/COM0c568js494QlUteq77P8XdVGXuzcTkNPHYtvfrB5mUUrZd7m9nkwxup2m

[2020-06-01 17:30] #7524 closed

[2020-06-01 17:37] IanLilleyT opened #8896 "Camera goes slightly underground when looking at object"
![undegroundbug](https://user-images.githubusercontent.com/1328450/83436856-a56a6e80-a40c-11ea-892e-78ecb9127e4f.gif)

This bug exists in Cesium 1.69 as well.

Try [here](https://sandcastle.cesium.com/?src=3D%20Models.html&label=All). Zoom out a lot then rotate the camera underground.

[2020-06-01 17:41] IanLilleyT commented on #8896
<img width="997" alt="Screen Shot 2020-06-01 at 1 40 56 PM" src="https://user-images.githubusercontent.com/1328450/83437303-8a4c2e80-a40d-11ea-94aa-8388c6723db0.png">

The farther you zoom from the tracked object, the worse it gets. Cesium man is a few pixels in the center.

[2020-06-01 19:28] lilleyse commented on #8888
I would look into `v_positionEC` and whether that's computed correctly for 2D/2.5D. It looks like it is, see `AllMaterialApperanceVS.glsl`, but that's where I would start looking.

[code]

[2020-06-01 19:40] IanLilleyT commented on #5957
Yup, noticed this too. I think what's happening is the billboard is initially clamping to a low LOD tile and the camera zooms to that spot. Then higher LOD tiles load in and the entity shifts upwards, so now the camera is underground looking at nothing.

[2020-06-01 21:13] bampakoa commented on #8739
@hpinkos your suggestions look great! Thanks for the feedback 😃 I have made some adjustments that you can take a look [here](https://sandcastle.cesium.com/#c=lVNdT9wwEPwrq1TVHVI+jqKeRDhQK1pVVStRFYm+5MWx9xIXZ32ynTuOqv+9m4SDQCnQvPhjZ2ZnHDvL4BS9bpt0GH5oVWEA7cHrRhvhINgd4kLjBl0MZRsKyrIOFJxuGlSg7IZSgM8982frAwjYDFJLyxo1wsEHqIwt8WjgBuagB7JMIWlahT1KkG5E0JZi4EmFbgseDcp+q2cKUmAZ6m4a+JhF3KDWqeIKOwT1cqHWTiUr4c

[2020-06-01 22:31] #8852 closed

[2020-06-02 05:58] jony89 opened #8898 "typescript issues"
Regard the new version 1.70 which should officially support TypeScript,

## all results properties should be optional
example, if `geodesic` is instance of  `EllipsoidGeodesic` the following :

[code]
yields error :

## we should be able to pass Color to prop that is a Property

[code]

yields the error :

## should not we support direct assign ?

if polyline is instance of `PolylineGraphic` the f

[2020-06-02 12:48] OmarShehata commented on #8898
Thanks for bringing up these issues @jony89. For this:

You can continue to use your own as Matt mentions [in this blog post](https://cesium.com/blog/2020/06/01/cesiumjs-tsd/):

[2020-06-02 12:57] jony89 commented on #8898
`switch, you can delete Source/Cesium.d.ts after install. `

I really should not touch node_modules at all. it's generally bad and will make me write some script for the CI process.

[2020-06-02 14:12] stuartmarsden commented on #8481
I have the same issue trying to use ARCGIS terrain. Is there a way to limit the resolution to get acceptable speed as a trade off? I tried disabling the camera collision check and it did not make much difference.

[2020-06-02 14:28] mramato commented on #8898
@jony89 thank you for taking the time to write up this issue and provide feedback and bug reports!

For `EllipsoidGeodesic.interpolateUsingSurfaceDistance`, this is true and a bug in our code (technically in the JSDoc annotations). I will open a PR to fix it.  However, this is not true for Cesium's API in general, we have a lot of required result parameters.

Absolutely. This is another issue that

[2020-06-02 16:00] IanLilleyT commented on #8481
@stuartmarsden Unfortunately I don't think there's a way to limit the tile resolution, though adding a `maxLevel` parameter to `TerrainProvider` could be a useful feature. And there are a few different systems that do globe picking, so I'm not surprised you're still seeing slowness problems. A hacky way to turn off all collision checks is to `return undefined` inside `GlobeSurfaceTile.prototype.pi

[2020-06-02 19:07] stuartmarsden commented on #8481
It would seem that this is supposed to do what I want but it does not seem to make a difference.

https://cesium.com/docs/cesiumjs-ref-doc/TerrainProvider.html#.heightmapTerrainQuality

[2020-06-02 20:09] OmarShehata opened #8900 "Make VelocityOrientationProperty better handle case where entity stops"
`VelocityOrientationProperty` is very useful when you have a vehicle or aircraft that's moving, and you don't have any data on its orientation, and want to visualize the direction it's moving in. It's used in the Time Dynamic Wheels example:

https://sandcastle.cesium.com/index.html?src=Time%20Dynamic%20Wheels.html

The issue is that if the vehicle stops, the orientation becomes undefined, causing

[2020-06-02 20:14] mramato commented on #8900
In many cases there also might not be a "last" orientation.  This shouldn't happen at the VelocityOrientationPropery level, and instead would probably depend on how we handle it at the Visualizer level.  `VelocityOrientationPropery` should always return undefined if the value is undefined, the concept of "last value" simply doesn't exist.

[2020-06-03 00:27] stripathix commented on #8405
Ref: https://community.cesium.com/t/is-anyone-able-to-make-latest-cesium-work-with-cordova-or-capacitor/9601/4
**Solution**: Thanks @OmarShehata
var viewer = new Cesium.Viewer('cesiumContainer', {
                fullscreenButton: false,
            });

[2020-06-03 03:38] dave3068 opened #8901 "TypeScript definitions issues for XxxImageryProvider"
Regard the new version 1.70 which should officially support TypeScript,

All of the XxxImageryProvider not extends from ImageryProvider .

but the interface which use ImageryProvider is require an ImageryProvider parameter.
et: ImageryLayerCollection.addImageryProvider(...)

[code]

This will got an error:

[2020-06-03 06:46] xiaobaogeit opened #8902 "About cesiumScriptRegex in buildModuleUrl"
About removing some regular rules in this submission（#8251）, do you want to consider whether error will be reported when adding time stamp.

[2020-06-03 10:43] zouyaoji commented on #8900
@mramato
Hello, I am forced to correct the "last" orientation, through the following code:
[code]
which is normal from a bird's eye view.But after setting the viewFrom attribute for the entity, it behaves abnormally.

See [here](https://sandcastle.cesium.com/#c=pVd7c6o4FP8qTO8fV6cu4vvRxywgtrUPqrZW7/XOToSI0UA0BBHv9LtvEFCs3e3OLNOZJud9fsk5J46dNaDCGkEfUuFKcKAvqNBFni0OdrTM+MzY7VXiMIAcSMdnOeH32BH4h5wpUc

[2020-06-03 12:28] OmarShehata commented on #8902
@xiaobaogeit can you explain your context a bit more here? What problem are you trying to solve?

The PR that fixes the issue linked above, changed:

[code]

to

[code]

This is to make sure it finds `Cesium.js`, and can guess the CESIUM_BASE_URL path correctly. Is your library file not called `Cesium.js`? Have you tried explicitly defining `window.CESIUM_BASE_URL` if this automatic check isn't wo

[2020-06-03 12:48] OmarShehata commented on #8692
This came up on the forum again here: https://community.cesium.com/t/imagery-layer-picking-in-viewer/9777

@lilleyse can you confirm it isn't possible to "pick" imagery layers in CesiumJS right now? My recommended alternative here is to collect the bounding rectangles and see which ones have the mouse position inside. Perhaps it wouldn't be so hard to extend our picking system to imagery layers so

[2020-06-03 12:56] kring commented on #8692
Is https://cesium.com/docs/cesiumjs-ref-doc/ImageryLayerCollection.html?classFilter=imagerylayer#pickImageryLayerFeatures not what you're after?

[2020-06-03 13:11] mramato commented on #8901
Thanks @dave3068 this was a last minute oversight when multiple PRs slightly overlapped each other.  I'm going to open a pull request today to address it and am also looking at putting a small TypeScript smokescreen in place to prevent them from happening again.

We will most likely do a 1.70.1 patch release of Cesium to address this and other small TS issues that the community has found.

Thanks

[2020-06-03 13:17] OmarShehata commented on #8692
@kring no, the goal here is to find out which imagery layer was picked. As far as I understand the use case here is you have each drone flight's imagery layer, perhaps a small area, and they're all next to each other.

If you try this in the Imagery Layers example (https://sandcastle.cesium.com/index.html?src=Imagery%20Layers%20Manipulation.html) none of the layers actually have features, so they

[2020-06-03 13:20] thekishanraval commented on #3960
I have been facing the issue as well. Is there any workaround until the bug is addressed?
![IDl-clipping](https://user-images.githubusercontent.com/9017436/83641331-017af180-a5cb-11ea-8c48-5b9f7eafaa04.png)

[2020-06-03 13:35] mramato commented on #6205
As far as I can tell, everything referenced in the original issue description has been fixed.  If there are any small things we missed, please open a new issue for them.  Thanks!

[2020-06-03 13:35] #6205 closed

[2020-06-03 14:09] lilleyse commented on #8692
Looking at how `pickImageryLayerFeatures` is implemented it doesn't seem too difficult to make a separate `pickImageryLayer` function.

[2020-06-03 14:32] mramato opened #8905 "Smokescreening TypeScript definitions"
While we compile the generated TS type definitions to ensure they are not totally broken, this doesn't actually check that they work as expected in many situations.  For example that `ImageryProvider` instances actually conform to the correct interface.

We might be able to alleviate some of this via `@extends` and `@interface` in JSDoc, but we should probably add some high-level tests to make sur

[2020-06-03 14:33] OliverFendt opened #8906 "Information in provided in LICENSE.md"
Hi,

in the LICENSE.md file there is after the Apache-2.0 license the following statement

What does that mean?
Are these patents licensed to the users of the software under the terms and conditions of the Apache-2.0?
Can you please provide clarity on this?

[2020-06-03 14:42] thw0rted commented on #8905
You shouldn't have to `npm install`, I don't think, because the only artifact it's actually using for `tsc` is the generated typings file `Cesium.d.ts`.  As long as you `run build-ts` first, I think you should be able to set up a `tsconfig.json` that includes your typings file, then builds the test code against it.  I think

[code]

should probably be enough.

[2020-06-03 14:46] mramato commented on #8905
@thw0rted byt how would `smoketest.ts` include Cesium?  If it uses a relative path to the source files, the TS compiler won't pick it up because they are not part of the module.

[2020-06-03 14:59] mramato commented on #4434
As of Cesium 1.70.0, we are not shipping official TypeScript definitions.  If you want to read all of the gory details, and potential future plans for TypeScript and CesiumJS, check out this blog post: https://cesium.com/blog/2020/06/01/cesiumjs-tsd/

Sometime over the next week or so, I'll be consolidating any TypeScript issues into a new master issue for plans going forward.

Thanks!

[2020-06-03 15:01] mramato commented on #6911
Closing this because we think the issue is most likely fixed.  If there are still problems please re-open with details for reproducing it.  Thanks.

[2020-06-03 15:01] #6911 closed

[2020-06-03 15:07] bampakoa commented on #4434
@mramato I think that you meant **we are shipping*  :smile:

[2020-06-03 15:08] OmarShehata commented on #8906
You are correct, these patents are licensed to users of this software under Apache License 2.0. See specifically the "Grant of Patent License" clause here:

https://github.com/CesiumGS/cesium/blob/master/LICENSE.md

[2020-06-03 15:08] #8906 closed

[2020-06-03 15:09] jony89 opened #8907 "[new feature] billboard / label background outline color"
Hey

I would like to add an outline color to labels background.

since labels are using billboard, we actually need to support `backgroundOutlineColor` to `Billboard`

I also be happy to add a PR with some directions in how to implement that.

Thanks

[2020-06-03 15:12] thw0rted commented on #8905
The thing that makes this work is that `tsc` does not actually look for or care about the source files.  You're describing the shape of the module that will be provided at runtime by `import` statements, but your smoke tests will never *see* runtime so it doesn't matter.  Your generated typings file declares that a module with the pathspec "cesium" exists and has all these exports, and that's good

[2020-06-03 15:18] mramato commented on #8905
That makes total sense. I forget just how much of TS definitions are "fiction" in that we're saying "we swear this thing is there and this is how it works" and it just takes our word for it.

I'll see if I can get a basic PR open ASAP.

[2020-06-03 15:21] thw0rted commented on #8905
I forgot a couple things:

* The ".." in `include` is a trick, by default it uses node-style module resolution, which means that when you give it the relative path to the base directory, it looks at `package.json` which has a `types`  property which points you to `./Source/Cesium.d.ts`.  You can decide for yourself whether this is clever or confusing. (I like it!)
* In practice, you probably want

[2020-06-03 15:32] mramato commented on #8905
Only issue I've found is that VSCode doesn't pick up the intellisense itself with this approach.  The compiler does, which is good enough for now, but it would be nice to be able to "go to definition" and stuff to easily see the generated type.

I bet tweaking the config a little could make this happen.

On the other hand, adding a package.json and using `npm install` on it could actually be a mor

[2020-06-03 15:42] thw0rted commented on #8905
You have a "-quick" version of other tasks, right?  If you wanted, you could have a "full test" that does an `install` and a "quick test" that just builds against the generated typings.  I'm not sure exactly how much time the install adds to the process.

[2020-06-03 15:54] mramato commented on #8905
These tests will only see occasional updates so it's not like it's a big deal either way.

[2020-06-03 16:01] mramato commented on #8905
Actually, that's VS Code suddenly started picking everything up.  So I think we're good.  There was just a lag for some reason.

[2020-06-03 16:55] mramato commented on #4434
Whoops, thanks.  It was supposed to say "now shipping" fixed :smile:

[2020-06-03 17:05] IanLilleyT commented on #8481
Ah I forgot about that option. I was messing around with it and couldn't get it do much either. I think it's supposed to control which LODs get rendered, but since all ArcGIS tiles have the same number of triangles regardless of LOD, it will make no performance difference for picking.

[2020-06-03 19:47] IanLilleyT commented on #8481
By the way, here the [work-in-progress branch](https://github.com/CesiumGS/cesium/tree/fastPicking/Source)

The most relevant file is: [TrianglePicking.js](https://github.com/CesiumGS/cesium/blob/fastPicking/Source/Core/TrianglePicking.js)

[2020-06-03 20:31] mramato opened #8909 "Primitive interface"
We actually don't have a concrete interface definition for `primitives`, i.e. things we store inside of `PrimitiveCollection`.  It's simply documented everywhere as `Object`.  What's even worse is that we have a `Primitive` class that renders geometry, but is not the base class or interface for all "primitives". Why we didn't name it `GeometryPrimitive` I'm not sure.

It would be great to clean up

[2020-06-04 01:26] lzc1718 opened #8910 "Why does the widgets folder contain css/js/png ？"
Why don't you put css 、png in the assets file?

[2020-06-04 08:25] kring commented on #2132
Hey @robbo1975, thanks for working on this and for sharing your code! I just wanted to mention real quick that CesiumJS can't accept GPL-licensed code because of CesiumJS's much more permissive Apache 2.0 license. I suspect most CesiumJS applications would also be unable to use it. Not sure if the license was a conscious choice there, but thought I should mention it.

[2020-06-04 08:28] Akbalder commented on #8729
I checked the code.

When the color function is evaluated, one command is created per polygon.

The function `rebatchCommands(primitive, context)` of file `Source/Scene/Vector3DTilePrimitive.js`, exit before rebatching commands because of this condition:
[code]
It then draws the polygons using a command per polygon instead of one command per color.

- `needToRebatch` is correctly set to true
- `fo

[2020-06-04 08:39] OmarShehata commented on #8910
Not sure why you're suggesting these files be moved to a different folder since the styling and assets in the Widgets folder contain the styling and assets for the widgets, but feel free to follow up on the forum: https://community.cesium.com/t/why-does-the-widgets-folder-contain-css-js-png/9787/2.

[2020-06-04 08:39] #8910 closed

[2020-06-04 08:41] OmarShehata commented on #8907
That sounds like it would be useful - @hpinkos would you be the right person to look at that PR or have any advice/thoughts for implementation here?

[2020-06-04 11:08] #8898 closed

[2020-06-04 11:23] vla9isla8 opened #8911 "Type defenition error for HeadingPitchRoll"
Can`t access to HeadingPitchRoll fields.

`Property 'heading' does not exist on type 'HeadingPitchRoll'.  TS2339`

[2020-06-04 11:33] vla9isla8 opened #8912 "Type definition error for *ImageryProvider"
TS2739: Type 'BingMapsImageryProvider' is missing the following properties from type 'ImageryProvider': defaultNightAlpha, defaultDayAlpha
TS2739: Type 'WebMapServiceImageryProvider' is missing the following properties from type 'ImageryProvider': defaultNightAlpha, defaultDayAlpha
TS2739: Type 'OpenStreetMapImageryProvider' is missing the following properties from type 'ImageryProvider': defaultN

[2020-06-04 11:45] vla9isla8 commented on #8912
clone https://github.com/CesiumGS/cesium/issues/8901

[2020-06-04 11:45] #8912 closed

[2020-06-04 12:54] robbo1975 commented on #2132
@kring Thanks for the observation; it was an oversight on my part.  I have updated the license to the more permissive MIT license

[2020-06-04 13:03] xiaobaogeit commented on #8902
@OmarShehata  When a version stamp is added, there will be problems with the basic path obtained.
[code]
So we need to modify the regular
[code]

[2020-06-04 13:34] OmarShehata commented on #8902
Is that version stamp typically to invalidate cache or something else?

That seems like a reasonable change to me anyway - @mramato I noticed this would have worked before your PR here: https://github.com/CesiumGS/cesium/pull/8314

Would you have anything against putting that back in as suggested?

[2020-06-04 14:15] mramato commented on #8902
Just an oversight while trying to clean things up.  The old regex was too lenient and it would mistake files like `CesiumSomething.js` as being the location of Cesium.  Happy to look at a PR that make the query use case work without re-introducing the `CesiumSomething.js` issue.

[2020-06-04 14:50] mramato opened #8914 "Investigate empty interfaces in TypeScript defintions"
Packable, Rotation, and InterpolationAlgorithm are all empty interfaces in our TS definitions (found by searching for the regex `\{[\n\r\s]+\}`).  This is because they are marked with JSDoc as an interface but only contain static methods (which I believe TS doesn't allow?)

I think we might just want to switch them to a class with static methods and call it a day, but ultimately this is an edge ca

[2020-06-04 19:59] OmarShehata commented on #6657
Came up again over email. Here the 3D Tileset was an individual building that they were trying to highlight with an outline over mouse over.

[2020-06-05 03:25] zhishao008 opened #8916 "How to use GIF image in billboard？"
:exclamation: Please use the [community forum](https://community.cesium.com/) for asking questions about how to use Cesium and best practices. The core Cesium team actively monitors the forum and we love seeing what people are working on! :exclamation:

How to use GIF image in billboard？ Help!!!

[2020-06-05 03:55] lzc1718 opened #8917 "Is the definition of the function CesiumMath.lessThan/CesiumMath.lessThanOrEquals wrong?"
//bug1
 CesiumMath.lessThan = function (left, right, absoluteEpsilon) {
    //>>includeStart('debug', pragmas.debug);
    if (!defined(left)) {
      throw new DeveloperError("first is required.");
    }
    if (!defined(right)) {
      throw new DeveloperError("second is required.");
    }
    if (!defined(absoluteEpsilon)) {
      throw new DeveloperError("relativeEpsilon is required.");
    }

[2020-06-05 04:56] kring commented on #8917
No, that is correct, even though it looks a little weird flipping the sign like that. Remember that if `left - right` is between `-absoluteEpsilon` and `absoluteEpsilon`, then the two numbers are considered _equal_ and thus `lessThan` should return false.

[2020-06-05 04:56] #8917 closed

[2020-06-05 13:40] OmarShehata commented on #8916
Please use the [community forum](https://community.cesium.com/) for asking questions about how to use Cesium and best practices.

Animated billboards are not supported but some possible implementation techniques are discussed here: https://github.com/CesiumGS/cesium/issues/2319

[2020-06-05 13:40] #8916 closed

[2020-06-05 14:27] devond5 opened #8919 "Making Model nodes transparent."
Hello Cesium team,
I have an employer who we are visualizing things that go up into space, like deep space. These things have many moving parts/nodes from a 3d model both externally and internally that we transform. The outer nodes are easily seen when they move, but the internal ones are not. Here's the problem. We can remove those nodes with show and hide which is great but say you want to keep

[2020-06-05 14:51] lilleyse commented on #8919
@devond5 agreed this would be useful functionality to have. There's some more information in https://github.com/CesiumGS/cesium/issues/2387.

The only workaround I can think of at the moment is to create a 3D Tiles variant of your model composed of a single [Batched 3D Model](https://github.com/CesiumGS/3d-tiles/blob/master/specification/TileFormats/Batched3DModel/README.md) using feature ids to i

[2020-06-05 14:52] kamiedge opened #8920 "UrlTemplateImageryProvider minimumLevel and maximumLevel"
Hi, when i try to set minimumLevel or maximumLevel, cesium freeze

Sandcastle example: https://sandcastle.cesium.com/#c=bVBNi8IwEP0roRcVZIKwl621LHhaEHZhP065xHbUsPkoSRqtpf99U1tYVw0kMG/eezMvgVsSBB7RkhXReCRrdKJW8H3BpiwpLvXaaM+FRsuS2ZJppkPUCcX3aJv/wi8rP1FVknt8Hfrv1gRRRrOWaRJPbSVJyeTgfeVSSlvXgRcSwVSonbeIXvEKdpYap+LbnjvanuJtOqj0fjIfXChVQgtVqw0GlCl5/sP56QpfPDHdjTtfMsG49oY3aB3wsrzdcyTMlsk8yZxvJOaDNyEvQlXG

[2020-06-05 15:10] thw0rted opened #8921 "TileProviderError passed to ErrorEvent has no information for TerrainProvider failure"
[Sandcastle example](https://sandcastle.cesium.com/#c=fZHPTtwwEMZfZZTTItExqIdKkF1VRb3wpyBYwSUXYw+sVcdejSeJFsSNN+uL1c4CirqoPnn8/T7P53GvGXperugusrdXHHtniWEOgQY4oeS6Fm+v3/UlMWsX3rHZcxMAOvZH0FQrkfWRUsMwYM9fZEVDcaCJrZrUSpyndIgHeKC+fVVNtV+uMEzWSbnlrQNYLRpM7FgobeB2CRd/Xs9G+mXvuAlN2A2N2Rr5Z09BUFs7bs5dEgo56SyLezBfwBjZxJCiJ/TxsQhYauHOSGQMuqXSYofaPTy9ufyF2ejCo3vYjEyB3hJW+1WdZONpUXxlfXftOrKUic0QlVC79jo/UN135j

[2020-06-05 16:32] jeanpul opened #8922 "buildModuleUrl not exported in TypeScript"
Hello,

From Cesium 1.7

import { buildModuleUrl } from 'cesium';
leads to Module '"cesium"' has no exported member 'buildModuleUrl'

to fix it I've changed Cesium.d.ts :

// in the declare module "cesium" part

export function buildModuleUrl(value: string);

export namespace buildModuleUrl {

    function setBaseUrl(value: string): void;

}

// after the declare module "cesium" part

declare modu

[2020-06-05 16:49] mramato commented on #8922
Thanks for bringing this up @jeanpul!

Oddly enough, `buildModuleUrl` was never part of the public API and has always been a private function. This is now obvious because TypeScript only includes the officially supported API.

That being said, the fact that it is not part of the official API is indeed a bug.  We even use it in Sandcastle examples.  I'll open a PR to add JSDoc for it and this fix w

[2020-06-06 14:03] xiaobaogeit commented on #8920
@kamiedge  Because the `minimumLevel` setting is too large

https://github.com/CesiumGS/cesium/blob/2d3852c31c3874f0a2e3bb30e24e5d4c4104ce2b/Source/Scene/UrlTemplateImageryProvider.js#L110-L112

[2020-06-07 06:56] Crocsx commented on #8911
Perfect news, looking forward to 1.70.1

[2020-06-07 07:10] Crocsx opened #8924 "Diverse typescript types errors"
Hello,

Thanks for bringing in built in types in cesium, it's a really nice addition

I have the following thing that I believe is missing (and other but the issues are already posted).

1) Can't import `when` from `Cesium`

like in this code :

[code]

2) Polygon can't be used at geometry

I can't do this anymore, which I believe should work from the docs (https://cesium.com/docs/cesiumjs-ref-doc

[2020-06-07 15:50] lilleyse commented on #8843
Fixed in https://github.com/CesiumGS/cesium/pull/8883

[2020-06-07 15:50] #8843 closed

[2020-06-07 16:25] zoran995 opened #8926 "Wrong type definition for EllipsoidTangentPlane.fromPoints"
Hi,
function `fromPoints` in `EllipsoidTangentPlane` has wrong type definition
[source code](https://github.com/CesiumGS/cesium/blob/2bdece46e5bef742a8cda20dfd5560f16a487e80/Source/Core/EllipsoidTangentPlane.js#L58-L59)
[doc](https://cesium.com/docs/cesiumjs-ref-doc/EllipsoidTangentPlane.html?classFilter=ellipsoid#.fromPoints)

[2020-06-07 16:37] OmarShehata commented on #8926
Thanks for reporting @zoran995 . I can see that its input is stated as `Cartesian3` when it should be an array of `Cartesian3`.

CC @mramato

[2020-06-07 18:54] easternmotors opened #8927 "Various TS issues/questions"
Thanks for 1.70 and the new TS support!

I am working through getting rid of my own Cesium.d.ts and using the new built-in version. Here's a few things I've found when switching over. I tried to look a few few other threads and found some helpful advice/PR's that are already coming. Apologies in advance if than of these are duplicate issues:

**1. EntityCollection.getById should return Entity | un

[2020-06-07 19:37] mramato commented on #8926
Thanks, will fix this ASAP and it will be out with 1.70.1 later this week.

[2020-06-07 19:50] mramato commented on #8924
Thanks for taking the time to write this up @Crocsx!  Your feedback is really appreciated.

`when` has never been part of the official Cesium API and we discourage users from using it in their own applications. (it also doesn't appear in our docs).  For your own code example is there a particular reason you don't just call `then` directly?

[code]

Since technically, `when` is a little nonconforma

[2020-06-07 20:15] mramato commented on #8927
Thanks, @easternmotors! I greatly appreciate you taking the time to write up this issue.

Agreed, will fix ASAP.

For a static position there is a `ConstantPositionProperty`:

[code]

There are several PositionProperty implementations which can be used for various situations, for example if you had time-tagged positions or are receiving real-time tagged data, use `SampledPositionProperty`.  Filter

[2020-06-07 20:42] mramato commented on #8924
Started looking into 2 and it's a bit more nuanced than I thought.  Basically in some cases we take both the geometry type, i.e. `BoxGeometry` and `Geometry` instances that are created by it.  i.e. `BoxGeometry` is not actually a geometry but has a function called `BoxGeometry.createGeometry` which we call to create the actual `Geometry` instance.

We don't clearly define this anywhere and it's de

[2020-06-07 23:56] Crocsx commented on #8924
@mramato thank for the reply.
I always used cesium when, cause I've seen it in some exemple like (https://cesium.com/docs/cesiumjs-ref-doc/sampleTerrain.html) and I thought it was the way to go. I will change my code then thanks.

Thanks you for the update and the future 1.70.1.

[2020-06-08 00:53] kring commented on #8924
@mramato I think we should just expose `when`. Using `Promise.resolve` will mean using two different promise implementations (especially if the user needs to polyfill it for IE11 support or whatever). That makes some sense for apps that make extensive use of promises, but not for apps that are just using them for Cesium. And just using `.then` requires the user to at least check for undefined, and

[2020-06-08 07:30] subrat71 commented on #8837
I am using cesium js 1.50 version with angular js application. As per my requirement i need to run two cesium instances (2D & 3D) on a single page. Data will be updated through API call and i am using CZML object structure to create the drawing elements.
Application runs for 3 to 4 hours, then chrome Dev tool crashes at 1400 iteration.
I am running in 8GB RAM, i3 Processor.
Any help or suggestion

[2020-06-08 09:23] rot1024 opened #8929 "getInputAction is wrongly typed"
In `Cesium.d.ts`, `ScreenSpaceEventHandler#getInputAction`' s type may be wrong.

Actual: returning `void`

[code]

Expected: returning a function like `(...args: any[]) => any;`

[code]

[2020-06-08 09:27] rot1024 opened #8930 "[request] Entity"

[2020-06-08 12:43] atlking opened #8931 "No support for Schema tags"
When loading a KML that contains `<Schema>` tags using `KmlDataSource.load`, none of the placemarks are detected. You can check the sandcastle example for an instance of a KML with Schema tags. This KML loads in Google Earth but it displays nothing within cesium.

Sandcastle example: https://sandcastle.cesium.com/#c=1Vnrb+PGEf9XBPfDOYBN7nuXDqM0vcMFRe+QQ3zpJwENT6JlwRRpUJQfKfq/d/haLmd413ytAMPSzm9ndt

[2020-06-08 12:55] easternmotors commented on #8927
@mramato Awesome, thanks for the quick reply and the helpful explanations! I can take a look at what it would entail to expose `Transforms.rotationMatrixFromPositionVelocity` definitely.

[2020-06-08 14:06] IanLilleyT opened #8933 "OSM buildings + columbus view crashes"
[Sandcastle](https://sandcastle.cesium.com/#c=bZDLTsMwEEV/xcoqkSKnbCGtENkiFYkKNt449tCO8CMaP6qC+HfiRkgU6t1cnzMzdpbEMsIRiK2ZgyMbIGCy/OWc1aJS53rwLkp0QKJq2adwjEUgmpMn8hk10O2PqAhkhFdPRu8WpG5a4b6aO+GEW0bxoMABnwgtRswQuNS6vmiwDfYhodHo9qFuinyhWk/TYecHb5IdUyjb1iu+KlzVVn2IJwObsmY592gnT5ElMjXnXQQ7mXlE6Mak3iFyFUIRC9p3v9VeY2ao11d+gSkjQ5hv3pIxz/gBotr03cz/U42X5RXbDGTkqWCHm83jEnLO+24ur5vRezNK+tP5Gw). It will also

[2020-06-08 14:15] mramato commented on #8933
See also #5955, 3D Tiles have issues in general when you switch to different view modes.

[2020-06-08 16:55] OmarShehata commented on #5164
Reported again on the forum: https://community.cesium.com/t/problem-of-tracking-entity-with-dynamic-polygon-hierarchy/9809

[2020-06-08 17:40] easternmotors commented on #8927
@mramato Let me know what you think of the PR for bullet 3. It's my first time contributing but I think I followed all of the helpful docs you have written up for contributing.

[2020-06-08 18:04] OmarShehata commented on #8313
Reported in https://github.com/CesiumGS/cesium/issues/8921. [Sandcastle example](https://sandcastle.cesium.com/#c=fZHPTtwwEMZfZZTTItExqIdKkF1VRb3wpyBYwSUXYw+sVcdejSeJFsSNN+uL1c4CirqoPnn8/T7P53GvGXperugusrdXHHtniWEOgQY4oeS6Fm+v3/UlMWsX3rHZcxMAOvZH0FQrkfWRUsMwYM9fZEVDcaCJrZrUSpyndIgHeKC+fVVNtV+uMEzWSbnlrQNYLRpM7FgobeB2CRd/Xs9G+mXvuAlN2A2N2Rr5Z09BUFs7bs5dEgo56SyLezBfwBjZxJCiJ/TxsQhYauHOSGQMuqXSYofaPT

[2020-06-08 18:05] OmarShehata commented on #8921
I think this is the same issue as reported here: https://github.com/CesiumGS/cesium/issues/8313. I've added your Sandcastle there as another test case.

I'll also open an issue for VRTheWorld not working in hosted Sandcastle to see if we should remove it for now.

[2020-06-08 18:05] #8921 closed

[2020-06-08 18:07] OmarShehata opened #8935 "VRTheWorldTerrainProvider example can't load in hosted Sandcastle"
Initially reported on the forum: https://community.cesium.com/t/free-terrain-service-vr-theworld-online-is-down/9802/2.

Go to the terrain Sandcastle: https://sandcastle.cesium.com/index.html?src=Terrain.html. Click on the top dropdown and select VRTheWorldTerrainProvider. The terrain fails to load because it's loading over http, and the browser rejects it because the page is loading over https. T

[2020-06-08 18:35] mramato commented on #8935
Duplicate of both #6587 and #4594.  Let's use #6587 since it has the most comments.

[2020-06-08 18:35] #8935 closed

[2020-06-08 18:35] #4594 closed

[2020-06-08 19:17] mramato commented on #8920
Thanks for the assist @xiaobaogeit

@kamiedge we request that you use our community forum, https://community.cesium.com, for support in the future. We try to reserve GitHub issues for confirmed bugs and feature work.

Thanks!

[2020-06-08 19:17] #8920 closed

[2020-06-08 19:22] #8926 closed

[2020-06-08 20:28] #8864 closed

[2020-06-08 20:51] mramato commented on #8930
Thanks @rot1024 I've been trying to carve out the time to write up this issue myself. We definitely want Property to be a generic and to be able to express this through the documentation.  We started experimenting with generics for Event in #8903 (tsd-jsdoc can express them with `@template`) so we are hopeful that we'll be able to do the same thing for Property sooner rather than later.

[2020-06-08 23:35] Ballymag opened #8937 "Animation gets stuck in RequestRenderMode"
Link to [Sandcastle](https://sandcastle.cesium.com/#c=lVRNc9owEP0rCidn6ojQTA4xhDYh6cdMO8kEppc6B1laQBNZciUZSjr5713JxiWUQ8uBYXff2337IbjRzpOVhDVYckk0rMkEnKxL+i36krzHoz0x2jOpwea9lPzKNSEWftTg/ANoAfarEZARb2vI9cvxMNe5bpJSx0EDFVDUi+nSrD9YVoK7BzsFbrTAmoEUCQo84YqVFTrnTLngDT63ZtW9cdJLo3dCueZRfGXcAN2t7AmzHn8xfUbn1pQ3sLAA7spatvkEcrH0Lvl+cnFBz1NydpqSwSl+UnIyCN/BcfoY1HeZ3/5n5i7PXuJQL7oej3ekKxwoFmgnBdpjj+AoEyKJI6

[2020-06-09 00:25] mramato commented on #8937
Thanks for the detailed explanation and Sandcastle example @Ballymag! This definitely looks like a bug at first glance and something we should look into.

[2020-06-09 01:57] rot1024 opened #8938 "ImageryLayer does not accept various ImageryProviders"
In `Cesium.d.ts`, some imagery providers do not satisfy `ImageryProvider` class type constrain.

[code]

I confirmed `ArcGisMapServerImageryProvider` and `IonImageryProvider` are so, but perhaps there are other providers that is so.

[2020-06-09 02:02] mramato commented on #8938
Thanks @rot1024, this is already fixed in master and will go out with the 1.70.1 release later this week. See #8908 for the full details/changes if you're interested.

[2020-06-09 02:02] #8938 closed

[2020-06-09 03:26] antoniocomique-navagis commented on #3960
Hi guys, do you have update regarding this bug? thanks.

[2020-06-09 04:46] rot1024 commented on #8938
Thank you for quick reply.

[2020-06-09 07:42] thw0rted commented on #6587
Has anybody tried to get in touch with MÄK and gently explain to them what year it is? 😁

Seriously though, the Sandcastle did help me (if somewhat indirectly) get my project working against VRtW for local development, which is not an uncommon use case.  I think it would make sense to just update [the docs](https://cesium.com/docs/cesiumjs-ref-doc/VRTheWorldTerrainProvider.html) with the correct,

[2020-06-09 08:31] thw0rted commented on #8930
Matt, if I made Property generic with a default the same way I did with Event, would there be any reason to hold back on it?  Should it be a separate PR or would it make sense to just pile it in to #8903 ?

[2020-06-09 13:29] thw0rted commented on #8930
I put together [this branch](https://github.com/thw0rted/cesium/tree/generic-property) to just kind of see what it would look like.  I stumbled in a couple of places that I did not expect:

`TimeIntervalCollection` is tied to a lot of the `Property` implementations, so that's going to have to be generic as well eventually.  I left "TODO" comments in relevant places.

`Packable` didn't really work

[2020-06-09 17:26] OmarShehata opened #8940 "Support a depthFailMaterial for 3D Tiles"
The [1.70 release introduced improvements for underground visualization](https://cesium.com/blog/2020/06/01/cesium-june-release/). One thing that would help a lot is the ability to see what parts of a 3D Tileset are underground, similar to how you can create a depth fail material for polylines. This has a few advantages over just use globe translucency:

* Shows the underground data fully without

[2020-06-09 22:57] mramato commented on #8924
What I don't understand is how is using `when` different than `Promise.resolve` in the situations you're suggesting? They would be all but functionally identical with the added bonus of always having a spec-conformant promise.

[2020-06-10 01:06] kring commented on #8924
`Promise.resolve` isn't available on IE11 without a polyfill. Every Cesium user already has `when`.

[2020-06-10 02:18] vinstics commented on #8403
@OmarShehata Caused by closure. It had been clearly described in my post. You can search the highlighted key word in the source code to see what happened. I want to fix but too many such use case and I'm worried about introducing side effects.

[2020-06-10 02:50] vinstics opened #8942 "use single color to render the back side of terrain"
Thanks for improving the underground navigation experience. It's important when dealing with some underground project. But sometimes it's hard to distinguish if the current view point is underground because the terrain is rendered the same on both sides. Maybe we can make it more clear by using single color to render the back side of terrain.

[2020-06-10 12:28] OmarShehata opened #8943 "Can't programmatically close infobox?"
The infobox doc implies that the title, description, and whether the infobox is shown can all be set: https://cesium.com/docs/cesiumjs-ref-doc/InfoBoxViewModel.html#titleText

Trying this, however these properties seem to be read-only. [Sandcastle](
https://sandcastle.cesium.com/index.html#c=tVZtb9MwEP4rVvmwTMqcdi8MSjexdYghMfHSii8UIS+5NGaOHdlO1zHtv3O2k75tIBBqvzS+O9/zPHd+mzFNZhxuQZMTIuGWDMHwuqRfvC2

[2020-06-10 13:23] #8943 closed, assigned to nobody

[2020-06-10 16:47] mramato opened #8944 "CallbackProperty and positions"
We've has several users state that they are using CallbackProperty for entity.position. This is not officially support and only works "by accident" if you are always specifying ECF coordinates and not using path visualization.

However, it is not possible to do this in TypeScript because the types do not match up.  We should probably just add a `CallbackPositionProperty` to handle this use case of

[2020-06-10 16:50] mramato opened #8945 "ScreenSpaceEventHandler has incomplete JSDoc/TypeScript definitions"
As reported in #8927, `ScreenSpaceEventHandler` actions have no documentation or TypeScript definitions regarding the signature of the callback function that is called.  I think we just need to go through all of the xxxEvent properties locally defined in `ScreenSpaceEventHandler` and properly document/expose them (which will then get picked up by TypeScript).

As part of this, it would probably be

[2020-06-11 07:06] jony89 opened #8946 "wgs84ToWindowCoordinates returns undefined for negative z"
Hey,

I have noticed that `SceneTransforms.wgs84ToWindowCoordinates` returns `undefined` for cases where z value in a 2d world is negative (does that means the coordination behind the camera?)

What is the logic behind this? why are we returning `undefined`?

These are the lines in `SceneTransforms.js`:

[code]

[2020-06-11 07:20] vinstics commented on #8942
@OmarShehata It maybe something like this.
![image](https://user-images.githubusercontent.com/16721670/84355919-00167e00-abf6-11ea-9e2f-93b3858012b6.png)

![image](https://user-images.githubusercontent.com/16721670/84356541-e6296b00-abf6-11ea-954d-1367d88f47ae.png)

![image](https://user-images.githubusercontent.com/16721670/84356618-048f6680-abf7-11ea-835c-1384d8299115.png)

[2020-06-11 13:46] CaptainYYH opened #8947 "czml does not support cluster ?"
var czml = [
  {
    id: "document",
    name: "Basic CZML billboard and label",
    version: "1.0",
  },
  {
    id: "some-unique-id",
    name: "AGI",
    description:
      "<p><a href='http://www.agi.com' target='_blank'>Analytical Graphics, Inc.</a> (AGI) founded Cesium.</p>",
    billboard: {
      image:
        "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IA

[2020-06-11 13:53] lilleyse commented on #8942
@vinstics you might be able to use `globe.undergroundColor` for this. See this [sandcastle demo](https://sandcastle.cesium.com/#c=vVVNbxoxEP0rFqelAi+UJFISEpVASCO1BAXSqio9mN2BtTD2yvaS0Kr/vWObJUASqeqhHCzG8+k3b2bjmDwYIIngec7lnOSCSTDEKmJAQGL5CsSaZDwFkjNtDVEzYjMgc6GmQEyhZywBOpETuWKarDg8giYXRMIj6YLhxZJ+8XfRpJJ4uaukZVyCnlRq5NdEEmIW645dKpNnoOGMzJgwUHMKC1qj6VCrFebXZ2XERAOz8FVpkY6DSVRFh9/V87IOk4AELCPUQ714Hl

[2020-06-11 23:34] YordanYanakiev opened #8950 "Switched from version 1.5x to 1.7.0 and now the project result blue screen."
Sandcastle do not works anymore. ( Error, first part of bucket-requirejs.html must match first part of bucket.html exactly. )

[2020-06-12 00:24] OmarShehata commented on #8950
I assume you mean 1.70.0, not 1.7.0. A lot has changed since then - make sure you're following the build guide (see https://github.com/CesiumGS/cesium/blob/master/Documentation/Contributors/BuildGuide/README.md#build-the-code). If you're still having issues please post the full error message you're getting on the forum and any other relevant information about your project: https://community.cesium

[2020-06-12 00:24] #8950 closed

[2020-06-12 02:20] CaptainYYH commented on #8947
ceisum version 1.69

[2020-06-12 02:37] digiiitalmb opened #8951 "How do go about creating 3d tileset classification?"
I want to classify my 3d tilesets, can someone let me know what software can be used to generate classification tileset?

I see this tileset in sandbox examples
https://github.com/CesiumGS/cesium/tree/master/Apps/SampleData/Cesium3DTiles/Classification/Photogrammetry

But can't find any information on how it's being produced.

Would appreciate if anyone could point me into the right direction. May

[2020-06-12 02:45] vinstics commented on #8942
@lilleyse @OmarShehata
Thanks a lot. Looks good enough. It keeps the shadow of the terrain without redering by using alpha. However, there is still room for improvement when use it together with `globe.translucency`.
Something like `undergroundColorGradientByDistance` might help, which can blend backside of the terrain with some color you want while keeping the center of the globe remain black.

u

[2020-06-12 03:50] lilleyse commented on #8942
@vinstics yeah I see, the current system only supports one color but for your case you would need two.

As a partial workaround you could check when `scene.cameraUnderground` is true or not and change the color based on that: [Sandcastle example](https://sandcastle.cesium.com/#c=pVRtT9swEP4rp35Kp+K0K0UCClopjKExQOVlmtQvbnJpLRw7sp1CN/Hfd3bS0jI2se1LpMvdc/fc3XOOY7i1CIkURSHUFArJFVpwGixKTJyYo1zATKQIBTfO

[2020-06-12 12:49] OmarShehata commented on #8951
Hey @digiiitalmb - please ask questions on the Cesium community forum: https://community.cesium.com/.

There's nothing unique about classification tilesets, you can create them the same way you create any other 3D Tilesets. There's a couple of different ways you can do this depending on your use case so please post your question to the forum and let's discuss it there.

[2020-06-12 12:49] #8951 closed

[2020-06-12 16:40] hpinkos commented on #8947
Hello @CaptainYYH.  There were a few errors in your example code that was keeping clustering from working.  You had added two billboards and set the `minimumClusterSize` to 3.  I've updated your original post with a code example that shows that clustering does work with CZML.  However, there is a bug where there's a delay in the clustering activating.  I've re-framed this issue to address that bug

[2020-06-12 16:59] hpinkos commented on #8901
Fixed in https://github.com/CesiumGS/cesium/pull/8908

[2020-06-12 16:59] #8901 closed

[2020-06-12 16:59] hpinkos commented on #8905
fixed in https://github.com/CesiumGS/cesium/pull/8908

[2020-06-12 16:59] #8905 closed

[2020-06-12 17:28] OmarShehata opened #8953 "Artifacts in classification example in 1.70?"
This was reported over email - the classification example (https://sandcastle.cesium.com/index.html?src=3D%20Tiles%20Photogrammetry%20Classification.html) has these artifacts, almost as if the the classification tileset is being clipped too early by the near plane, only on mobile (Android or iOS).

I put together an example on Glitch to make it easier to test on mobile (you can fork it and change

[2020-06-12 17:29] OmarShehata commented on #8953
I don't see an obvious place to start looking as the cause of this break in the CHANGES for 1.70, any advice @lilleyse ?

[2020-06-12 17:29] hpinkos commented on #8842
@iceye I opened a PR to fix this here: https://github.com/CesiumGS/cesium/pull/8952

[2020-06-12 17:32] hpinkos commented on #8789
Because this is a rhumbline error, I'm going to close this as a duplicate of https://github.com/CesiumGS/cesium/issues/8042

@WebHero0544 I'll add a comment to that issue so we can check the file you posted when we fix that issue.  Thanks!

[2020-06-12 17:32] #8789 closed

[2020-06-12 17:32] hpinkos commented on #8042
Also reported in https://github.com/CesiumGS/cesium/issues/8789.  See that issue for another example file

[2020-06-12 17:35] IanLilleyT commented on #8953
Either https://github.com/CesiumGS/cesium/pull/8854 or https://github.com/CesiumGS/cesium/pull/8870

[2020-06-12 17:52] hpinkos commented on #8781
@darkpaw although it's not ideal, what you're seeing is fairly expected behavior.  By default, we use "order independent translucency" to draw transparent geometry quickly, and as a result the blending of two transparent images is the same no matter what angle you are viewing them from. so we don't have to sort them in by.  Setting `transparent: true` tells the renderer to treat the entire image a

[2020-06-12 17:52] #8781 closed

[2020-06-12 18:01] hpinkos commented on #8767
I'm going to close this issue, because as @YonatanKra correctly determined, the decrease in speed was the result of fixing a memory leak related related to memory not being cleared when an entity was deleted.  We do not plan on reverting the memory leak fix.  @abhimonk Instead of constantly creating and deleting a massive number of entities in your application, I would recommend reusing your entit

[2020-06-12 18:01] #8767 closed

[2020-06-12 18:10] hpinkos commented on #8739
Looking good @bampakoa !

I would just make one change to make the whole panel the same color:
![image](https://user-images.githubusercontent.com/3451886/84533591-7084d400-acb6-11ea-9cee-4d563614cde0.png)

Could you open a pull request with your changes?

[2020-06-12 18:46] hpinkos commented on #8697
`getRectangleCameraCoordinates` returns the camera position in world coordinates, which means that it's the camera position that has already been projected into the correct scene mode (3D/2D/CV).  `flyTo` expects a WGS8 coordinate.  You can use the `convert` option for `flyTo` to tell it the position is already projected.

[code]

[2020-06-12 18:46] #8697 closed

[2020-06-12 18:46] cesium-concierge commented on #8697
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/E5nR05bILVg

If this issue affects any of these threads, please post a comment like the following:

[2020-06-12 18:53] hpinkos commented on #8685
For labels and billboards, you can use `disableDepthTestDistance` and for  geometry you can use a `depthFailMaterial`.  See https://sandcastle.cesium.com/?src=Clamp%20to%20Terrain.html

[2020-06-12 18:53] #8685 closed

[2020-06-12 18:53] cesium-concierge commented on #8685
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!topic/cesium-dev/cvfgIZakSXQ

If this issue affects any of these threads, please post a comment like the following:

[2020-06-12 18:59] hpinkos commented on #8682
Thanks for your input @thw0rted.  However, the documentation is correct.  We've made the decision that the `semiMinorAxis` is the direction of the ellipse that points due-north at 0 degrees, so any rotation applied rotates the shorter axis away from north.

[2020-06-12 18:59] #8682 closed

[2020-06-12 19:00] hpinkos commented on #8654
Duplicate https://github.com/CesiumGS/cesium/issues/7511

[2020-06-12 19:00] #8654 closed

[2020-06-12 19:00] hpinkos commented on #7511
The texture also shows up in 2D, as per https://github.com/CesiumGS/cesium/issues/8654

[2020-06-12 19:04] hpinkos commented on #8628
I'm closing this issue since I'm also unable to reproduce this. @ElevenIjusee feel free to re-open this issue if you're still seeing the crash in the latest version of Cesium.  Thanks!

[2020-06-12 19:04] #8628 closed

[2020-06-12 19:16] hpinkos commented on #8512
I agree with Matt that ordering doesn't matter, so I'm going to close with. It's not important enough to spend more time on.

[2020-06-12 19:16] #8512 closed

[2020-06-12 19:21] hpinkos commented on #8643
Hello @abhimonk, this crash is happening because there is no projection from 0, 0, 0 into 2D, and we need that in order to support our other map modes (2D and columbus view)

If you don't care about 2D, you can use this option and your geometry will draw properly:
[code]

[2020-06-12 19:21] #8643 closed

[2020-06-12 19:25] hpinkos commented on #8584
Hi @fnicollet, glad you were able to figure out your issue.  Unfortunately, with a CORS error we don't get any information about the cause of the error on our side either.  For other errors like a 401 or 404, the log will work correctly.

[2020-06-12 19:25] #8584 closed

[2020-06-12 19:26] hpinkos commented on #7553
Also reported in https://github.com/CesiumGS/cesium/issues/8599

[2020-06-12 19:27] hpinkos commented on #8599
Thanks @gcure1.  I'm going to close this issue as a duplicate of #7553.  I added a comment to that issue so we can check your geojson file too and notify you when this is fixed.

[2020-06-12 19:27] #8599 closed

[2020-06-12 19:30] hpinkos commented on #8498
Sorry we missed your question @lzio. But no, there isn't currently a way to retrieve the model vertices.

[2020-06-12 19:30] hpinkos commented on #8497
Sorry we missed your question @Rokkregin.  If you are still having trouble, please post on the Cesium Community Forum: https://community.cesium.com/

[2020-06-12 19:30] #8497 closed

[2020-06-12 19:31] hpinkos commented on #8492
Sorry we missed your question @IKangXu.  If you are still having trouble, please post on the Cesium Community Forum: https://community.cesium.com/

[2020-06-12 19:31] #8492 closed

[2020-06-12 19:33] hpinkos commented on #8490
I was not able to reproduce this:
![image](https://user-images.githubusercontent.com/3451886/84539741-fc502d80-acc1-11ea-8945-f12d0813c43b.png)

@icgp if you are still having an issue with the latest version of Cesium, feel free to reopen this.  Thanks!

[2020-06-12 19:33] #8490 closed

[2020-06-12 19:35] hpinkos commented on #8468
@mramato can this be closed?  what is left to do here?

[2020-06-12 19:55] #8468 closed

[2020-06-12 20:04] #8435 closed

[2020-06-12 20:05] hpinkos commented on #8426
Sorry we missed your question @hanyingling.  If you are still having issues, please comment on the Cesium Community Forum: https://community.cesium.com/

[2020-06-12 20:05] #8426 closed

[2020-06-12 20:06] hpinkos commented on #8423
Sorry we missed your question @cr8tpro .  If you are still having issues, please comment on the Cesium Community Forum: https://community.cesium.com/

[2020-06-12 20:06] #8423 closed

[2020-06-12 20:07] #8420 closed

[2020-06-12 20:07] hpinkos commented on #8418
Sorry we missed your question @Crocsx .  If you are still having issues, please comment on the Cesium Community Forum: https://community.cesium.com/

[2020-06-12 20:10] hpinkos commented on #2924
Also reported in https://github.com/CesiumGS/cesium/issues/8416

[2020-06-12 20:10] hpinkos commented on #8416
Thanks @xxbld, this is a known issue.  I've added a comment to https://github.com/CesiumGS/cesium/issues/2924 so we can notify you when we have a solution.

[2020-06-12 20:10] #8416 closed

[2020-06-12 20:15] #8373 closed

[2020-06-12 20:16] hpinkos commented on #8370
Sorry we missed your question @tinco.  If you are still having trouble, please post a question in the Cesium Community Forum: https://community.cesium.com/

[2020-06-12 20:16] #8370 closed

[2020-06-12 20:17] hpinkos commented on #8364
Thanks for opening this issue @nicolas-van! This is a known issue we are tracking here: https://github.com/CesiumGS/cesium/issues/6694
I"m going to close this as a duplicate

[2020-06-12 20:17] #8364 closed

[2020-06-12 20:17] hpinkos commented on #6694
Also reported in https://github.com/CesiumGS/cesium/issues/8364

[2020-06-12 20:19] hpinkos commented on #8362
Hello @jameskritikos, this issue appears to be fixed.  If you are still having trouble please feel free to re-open this. Thanks!

[2020-06-12 20:23] hpinkos commented on #8340
closing due to lack of response.  @sevvie if you are still having an issue please comment on the Cesium Community Forum: https://community.cesium.com/

[2020-06-12 20:23] #8340 closed

[2020-06-12 20:23] cr8tpro commented on #8423
I am not sure why you closed this issue. Cesium itself doesn't provide shading effect for self loaded terrain.

[2020-06-12 20:32] hpinkos commented on #8423
I'm sorry @cr8tpro, I misread what you were asking for.

Terrain inherently covers the extent of the entire globe, so you're right that can't apply that material styling to just a sub-section of the terrain.
Unfortunately, I don't think this is a feature we're going to add to open source CesiumJS.  We have additional analytics features such as measuring slope and shading a polygon drawn on terrain

[2020-06-12 20:35] hpinkos commented on #8322
Closing due to inactivity.  @sfloery if you are still having issues, please post in the Cesium Community Forum: https://community.cesium.com/

[2020-06-12 20:35] #8322 closed

[2020-06-12 20:37] jameskritikos commented on #8362
Hi @hpinkos, thanks for taking a look at the issue. I just tried the sandcastle example again and it still doesn't seem to work for me, Here's a screenshot of the results I got while trying to pick the point with a cursor width of 30.55 vs 30:
![cesium issue](https://user-images.githubusercontent.com/6718325/84543608-a8e1dd80-acc9-11ea-896d-aa5f556753e7.PNG)

The steps to reproduce are:

1. Click

[2020-06-12 20:42] hpinkos commented on #8362
Thanks for following up @jameskritikos.  I missed your comment that this was an ipad specific problem.
I've re-opened this issue.  We'll give you an update once we have a chance to look into this.

[2020-06-12 20:47] hpinkos commented on #8235
Fixed in https://github.com/CesiumGS/cesium/pull/8236

[2020-06-12 20:47] #8235 closed

[2020-06-12 20:48] hpinkos commented on #8226
This appears to be fixed, but @Joyzen feel free to re-open this issue if you are still having trouble in the latest Cesium release

[2020-06-12 20:48] #8226 closed

[2020-06-12 20:48] jameskritikos commented on #8362
Thanks @hpinkos. By the way, the sandcastle example with the steps I provided could be performed on a desktop as well. The screenshot I sent is from Google Chrome with Windows 10. When the button "Set to 30.55" is clicked, it hardcodes the cursor width to simulate a value you could get from an iPad while testing the issue on a desktop.

[2020-06-12 20:56] nmschulte commented on #8708
Doesn't the winding order affect (back-face) culling, and isn't some GPU hardware optimized to support a particular winding order?

https://github.com/CesiumGS/cesium/blob/2fd0e8f7e4212bd1e7084299187f70597a6bbfd8/Source/Renderer/RenderState.js#L93
https://cesium.com/docs/cesiumjs-ref-doc/global.html#CullFace
https://www.cesium.com/docs/tutorials/geometry-and-appearances/

[2020-06-12 21:01] hpinkos commented on #8708
@nmschulte yes it does, but that doesn't come into play in this case.  Winding order determines the back-face culling of the triangles used to draw the wall, but this particular issue is related to the order of Cartesian3 positions the user passes in to define where the wall should be placed on the globe

[2020-06-12 23:06] #8458 closed

[2020-06-12 23:23] lilleyse commented on #8418
I opened the doc fix here: https://github.com/CesiumGS/cesium/pull/8957

[2020-06-13 00:03] #8418 closed

[2020-06-13 01:23] #8842 closed

[2020-06-13 01:41] darkpaw commented on #8781
Thanks @hpinkos I'll try that. Happy to have performance optimisations of course, but it's also nice to be able to turn it off like this.

[2020-06-13 03:19] #8902 closed

[2020-06-13 20:32] bampakoa commented on #8739
Sure @hpinkos

[2020-06-15 08:45] thw0rted commented on #8682
😳😳

Thanks for the clarification.  This could totally be a case where I'm not remembering my middle-school geometry correctly.  I had made the assumption that semi-*major* axis was supposed to be the "zero" line and it never even occurred to me to think otherwise.

Would you consider re-opening this to clarify in the documentation?  If nothing else, it'll help me out in 6 months when I've forgotte

[2020-06-15 13:02] #8708 closed

[2020-06-15 16:36] #8464 closed

[2020-06-15 17:28] OmarShehata opened #8959 "Expose ability to turn off outlines for 3D models?"
Came up [on the forum here](https://community.cesium.com/t/announcing-cesium-osm-buildings/9757/8?u=omar):

The PR https://github.com/CesiumGS/cesium/pull/8776 added support for outlines for 3D models with a new glTF extension. This is used on Cesium OSM Buildings:

https://sandcastle.cesium.com/index.html?src=Cesium%20OSM%20Buildings.html

For users who want to control the style of their maps, it

[2020-06-15 17:39] mramato commented on #8959
Just to make sure we're solving the right problem, the main issue is not the ability to disable support for the outline glTF extension, but specifically to disable outlines in Cesium OSM Buildings tileset, right?

@kring could probably chime in here but it certainly seems like something we could initially support as the cesium level and then fold into the styling language at a later date (assuming

[2020-06-15 18:55] #3062 closed

[2020-06-15 20:23] #6447 closed

[2020-06-15 20:23] #6416 closed

[2020-06-15 20:40] OmarShehata commented on #7591
Requested over email in the context of draping satellite imagery over Cesium OSM Buildings.

[2020-06-15 20:48] hpinkos commented on #7591
I don't think this is an ideal solution for texturing buildings.  It's difficult to figure out what the texture should be for the vertical faces.  We want to avoid something that looks like this:

![image](https://user-images.githubusercontent.com/3451886/84704553-0a9f8300-af28-11ea-9741-7d175eec3831.png)

[2020-06-16 01:14] kring commented on #8959
Yeah adding it as a property on `Cesium3DTileset` / `Model` would be easy enough. Adding it to the styling language would be more work, but not too bad.

[2020-06-16 03:07] darkpaw commented on #8708
Thanks all, I have more of these to add and it will be a lot easier now!

(Select 3D on the right)

  https://minview.geoscience.nsw.gov.au/#/?lon=146.4093&lat=-33.48897&z=11.3&bm=bm2&l=ge68:n:100,ge69:n:100,ge66:n:100,ge61:n:100,ge62:n:100,ge63:n:100,ge612:y:100,gp7:n:100,gp1:n:100,gp3:n:100,gp2:n:100,gp6:n:100,gp5:n:100,wa1:n:100,ut8:n:100,ut7:n:100,ut1:n:100,so9:n:100,gp118:n:100,gp11:n:100,mt2

[2020-06-16 07:56] verybigzhouhai opened #8961 "Failed to execute npm run release"
Hi，
I am not sure if this is a problem,
When I execute the npm run release command, an error is thrown: No gulpfile found.
Is it because of gulpfile.js -> gulpfile.cjs. I tried to "release": "gulp release" -> "release": "gulp -f gulpfile.cjs release" in package.json, the command can be executed correctly.

![image](https://user-images.githubusercontent.com/37999729/84747131-7564c300-afe9-11ea-9c36

[2020-06-16 08:58] bertt opened #8962 "Support glTF animations in 3D Tiles payloads"
Hi, is there somewhere a sample/documention of playing glTF animation from b3dm tile(s) in Cesium? Is it supported? I see my tiles are rendered in Cesium but the animation is not playing :-(

[2020-06-16 11:03] jeanpul commented on #8922
Hello,

I've checked the 1.70.1 release and in the Cesium.d.ts still have a problem with buildModuleUrl :
The generated signature is
export function buildModuleUrl(relativeUrl: string): void;
but should be
export function buildModuleUrl(relativeUrl: string): string;
in order to returns string

Thx

[2020-06-16 12:34] mramato commented on #8962
This has come up before but I don't believe we have an issue so thanks for writing one up.  I'll update the issue title to make it clear this is a general feature request.

The 3D Tiles implementation does not currently activate and/or update animations contained within individual payloads. I'm not sure of how difficult this would be to expose as an option to the end-user API. I would imagine it w

[2020-06-16 12:45] mramato commented on #8922
Thanks @jeanpul I pushed 638c6ebffe86a17637acc8dc5c223f404131f993 directly to master with the fix and it will go out with our next release.

[2020-06-16 12:47] lilleyse commented on #8962
First thing I would check is if the glTF animates by itself. `b3dm` contains a `Model` instance which has a `ModelAnimationCollection` that uses `frameState.time`. I would expect animation to work out of the box. @bertt are you able to share your tileset ?

[2020-06-16 13:02] bertt commented on #8962
yes sure,

live demo: https://bertt.github.io/cesium_3dtiles_samples/samples/animations/

code: https://github.com/bertt/cesium_3dtiles_samples/tree/master/samples/animations

I've unpacked the 1.b3dm to 1.glb and gltf: https://github.com/bertt/cesium_3dtiles_samples/blob/master/samples/animations/tiles/1.gltf

When inspecting the glb in Gesaltor it displays an animation with name 'track1':

![ani

[2020-06-16 13:26] OmarShehata commented on #8961
Hey @verybigzhouhai - I'd ask on the forum if you're not sure if what you hit is a bug or not: https://community.cesium.com/

I think you just need to run `npm run build` to generate that file before running `npm run release`.

[2020-06-16 13:26] #8961 closed

[2020-06-16 13:52] lilleyse commented on #8962
Thanks @bertt, can confirm that animations don't play for the 3D Tiles on my end either.

Looks like the thing that's missing from the 3D Tiles code is a call to add the animations, like what `ModelVisualizer` does for glTF's in CZML:

[code]

This could be added pretty easily to `Batched3DModel3DTileContent` and `Instanced3DModel3DTileContent`.

[2020-06-16 21:42] lilleyse opened #8963 "Globe translucency tile seam artifacts"
From https://github.com/CesiumGS/cesium/pull/8726#issuecomment-618777065

Skirts are disabled when the globe is translucent which means you get all the ugly seams that skirts would normally prevent. I considered rendering terrain + skirts to an offscreen texture, then applying translucency, but then you lose all your translucency layers unless you do something expensive like depth peeling. There's

[2020-06-16 21:47] lilleyse opened #8964 "Globe translucency 2D multifrustum and classification artifacts"
From https://github.com/CesiumGS/cesium/pull/8726#issuecomment-618777065

There's some globe translucency artifacts in 2D.

The first problem is that some areas have translucency double-applied. I've narrowed this down to different frustum passes rendering on top of each other. It doesn't happen if 2D mode renders a single frustum. The sandcastle sets the base color to red to make it easier to see

[2020-06-16 21:55] lilleyse opened #8965 "Shadows are disabled on the translucent globe"
From https://github.com/CesiumGS/cesium/pull/8726#issuecomment-618777065

I didn't have enough time to figure out why shadows weren't working on the translucent globe, but I suspect it has something to do with the translucent globe commands not impacting the near/far of the shadow map camera correctly.

Rather than digging any deeper I disabled shadows on the translucent globe. This looks alright

[2020-06-16 21:59] lilleyse opened #8966 "Globe translucency artifacts when the number of imagery layers exceeds the texture uniform limit"
From https://github.com/CesiumGS/cesium/pull/8726#issuecomment-618777065

When a terrain tile has more textures than the hardware-dependent texture uniform limit (16 on my machine) it issues multiple commands: an opaque command with the first 16 layers followed by blend commands with the rest of the texture layers. This doesn't work if the globe is translucent, especially if OIT is enabled, becaus

[2020-06-16 22:02] lilleyse opened #8967 "Classification only applies to first translucency layer on globe"
From https://github.com/CesiumGS/cesium/pull/8726#issuecomment-618777065

Classification primitives don't show through the first translucent layer. Since classification requires depth textures the fix would be to render multiple depth peels, which can get expensive fast.

Classification works perfectly if front faces are translucent and back faces are opaque, which is the more common case.

[Sandc

[2020-06-16 22:13] lilleyse opened #8968 "Opaque geometry and translucent globe z-fighting"
From https://github.com/CesiumGS/cesium/pull/8726#issuecomment-618777065

Geometry on the globe (not ground primitives) can have z-fighting artifacts with the translucent globe.

Depending on the zoom level and geometries involved the terrain geometry may sometimes render above the primitive geometry. This happens even when the globe is opaque, but `globe.depthTestAgainstTerrain = false` exists to

[2020-06-17 02:41] bmckilligan commented on #4274
Is there any chance this will get fixed?  I would like to implement wall geometries with the new underground transparency  in 1.70

[2020-06-17 14:06] OmarShehata commented on #8946
@jony89 please use the forum for general questions (https://community.cesium.com/). It helps to understand the context of your use case, if this is causing an issue in your app etc.

Here's the relevant section of the code here: https://github.com/CesiumGS/cesium/blob/638c6ebffe86a17637acc8dc5c223f404131f993/Source/Scene/SceneTransforms.js#L242-L251

It looks like this check only applies for persp

[2020-06-17 14:06] #8946 closed

[2020-06-17 14:10] OmarShehata commented on #8837
Discussion for https://github.com/CesiumGS/cesium/issues/8837#issuecomment-640421224 moved to the forum here: https://community.cesium.com/t/cesium-js-dev-tool-crashed-when-two-instances-are-running-for-long-time/9823.

[2020-06-17 22:33] lilleyse commented on #797
In WebGL 2 the camera zooms towards the globe instead of towards the geometry that the mouse is hovering over. This seems like a bug in either `ScreenSpaceCameraController` or `scene.pickPosition`.

[Sandcastle](https://sandcastle.cesium.com/#c=7VoLT+s4Fv4rHkaaSaVi8n6Uh5YLZS/SsCDae2el6eoqTQzN3jTJOE6BXfHf99jOu+WlC3OZ1SBBE/vY5+HzfT52WfkUrSJyQyjaRwm5QUckj4ol/izalNlWIN6P0oT5UULobGuI/jtLEGKEUmi5oOkqCgk

[2020-06-18 01:16] emackey commented on #5991
Ran into this pretty hard today.  Some folks here planned a demo that involves about 20 different Cesium visualizations to be pre-loaded onto various tabs, with cameras placed here and there.  Similar demos were frequently given in 2017 and 2018 without issue, but modern versions of Chrome and Firefox are much more aggressive about proactively losing context when it looks like many tabs are hoggin

[2020-06-18 07:35] yankai12 opened #8971 "A lot of Lables are drawn by LableCollection ,but it is very Caton （The label will be drawn, but wait for a while）"
var labelboard = viewer.scene.primitives.add(
        new Cesium.LabelCollection({ scene: viewer.scene})
      );
// array.length=3000
 for (let i = 0; i < array.length; i++) {
let tmp = array[i];
let lon = parseFloat(tmp.geometry.coordinates[0]);
let lat = parseFloat(tmp.geometry.coordinates[1]);
  labelboard.add({
          position: Cesium.Cartesian3.fromDegrees(
            parseFloat(lon),

[2020-06-18 07:41] yankai12 commented on #8971
I am so  sorry
    let tmp = array[i];
        let lon = parseFloat(tmp.geometry.coordinates[0]);
        let lat = parseFloat(tmp.geometry.coordinates[1]);

[2020-06-18 08:12] yankai12 commented on #8971
he Label will be drawn, but wait for a while

[2020-06-18 12:37] dennisadams commented on #797
@lilleyse
When `ScreenSpaceCameraController` needs a `pickPosition`, it calls both `scene.pickPositionWorldCoordinates` and `globe.pickWorldCoordinates` and chooses the closer of the two, assuming both are defined.
In our case, `scene.pickPositionWorldCoordinates` returns `undefined` and so `ScreenSpaceCameraController` uses the globe pick instead.
I played around a little and the problem seems to

[2020-06-18 14:21] lilleyse commented on #797
@dennisadams awesome, that fixes it for me as well. Just to confirm you added nearest filtering to the depth-stencil texture?

[code]

[2020-06-18 14:27] baothientran commented on #797
@dennisadams @lilleyse That also fixes the Silhouette post processing as well. Also I look it up, and in WebGL 2, it seems [depth texture cannot have linear filtering.](https://computergraphics.stackexchange.com/questions/9719/does-webgl-2-support-linear-depth-texture-sampling) That may be a potential problem with other depth textures used by Cesium as well

[2020-06-18 14:42] OmarShehata commented on #8971
Please use the Cesium community forum for questions: https://community.cesium.com/.

CesiumJS constructs geometry/entities asynchronously, which is where the delay comes from (otherwise the browser will freeze while this computation is happening).

[2020-06-18 14:42] #8971 closed

[2020-06-18 15:06] dennisadams commented on #797
I went on a safe bet - hard-coded the `Texture` constructor.

[2020-06-18 15:19] yankai12 commented on #8971
I found a strange problem, if I give text a value by default, instead of taking it from the array, the efficiency is very fast

[2020-06-18 15:24] OmarShehata commented on #8971
Can you post a full Sandcastle example I can run? [See instructions here](https://community.cesium.com/t/how-to-share-custom-sandcastle-examples/9828).

[2020-06-18 22:56] conradlempert commented on #5758
Do you have any news on this? I would like to have a Polygon hide the points of a 3D Tileset that are inside it.

[2020-06-19 00:43] yankai12 commented on #8971
I have about 3000 points, the main slow process is that the process of generating pictures with different text is stuck

[2020-06-19 00:43] yankai12 commented on #8971
I have about 3,000 points. The main slow process is that the text is stuck in different texts. If the text is the same, there will be no stuck.

[2020-06-19 00:47] yankai12 commented on #8971
you can try

[2020-06-19 01:56] OmarShehata commented on #5758
@conradlempert it's possible to hide everything outside a classification primitive (see example here: https://sandcastle.cesium.com/index.html?src=Classification.html). If you're trying to hide things inside a polygon, you could use clipping planes: https://sandcastle.cesium.com/index.html?src=Terrain%20Clipping%20Planes.html.

If you have any follow up questions about your specific use case you c

[2020-06-19 09:30] chenguang1994 commented on #5094
@lilleyse  hello ，i want to  dynamic hide one texture ，so i use  **texture.destory()**  ，it works ，but how to show it again

[2020-06-19 11:48] atlight opened #8974 "Rhumb line generation fails with certain lines"
Another rhumb line issue (see also #8042).

Rhumb line generation fails with certain lines. I suspect, but haven't fully confirmed, that these lines are "vertical" (normal to the Earth's surface). This bites anyone with these LineStrings in their GeoJSON.

My interpretation of the situation is that `PolylinePipeline.numberOfPointsRhumbLine` returns 1, and a one-point rhumb line is indeed generated

[2020-06-19 14:53] OmarShehata commented on #8974
Thanks for digging deeper into this @atlight  - I believe this is the same issue as reported here: https://github.com/CesiumGS/cesium/issues/8764. There's a minimal code example there with a vertical line that shows the issue. I'm going to close this and link your notes to that issue.

[2020-06-19 14:53] #8974 closed

[2020-06-19 14:53] OmarShehata commented on #8764
Also reported here with some additional debugging notes: https://github.com/CesiumGS/cesium/issues/8974

[2020-06-19 19:31] OmarShehata commented on #8953
Git bisect confirms this is the commit that introduced this issue: https://github.com/CesiumGS/cesium/pull/8854/commits/2da52de16d6a3022278a328d8242f17e10f28f02

[2020-06-19 22:39] lilleyse commented on #797
Labels look a bit different in WebGL 2. Click the images to see the difference.

**WebGL 2**
![wegbl2](https://user-images.githubusercontent.com/915398/85184006-1eb2ef80-b25c-11ea-94a2-2df1f8102a50.JPG)

**WebGL 1**
![wegbl2-off](https://user-images.githubusercontent.com/915398/85184005-1e1a5900-b25c-11ea-9dc5-cce0fd4350e2.JPG)

[Sandcastle](https://sandcastle.cesium.com/#c=hVRrT9swFP0rVj8FqTgP59W

[2020-06-20 01:30] lilleyse commented on #797
The AO post process has artifacts: [Local sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=vVZLc9s2EP4rqC6RZhSIFCmKUmRP67SHzKS1p07bCy8gCUsYgwALkFLYxP+9C/AhSqbrNmNXFxEf9vUtFrvYE4X2jB6oQhdI0AN6TzUrM/y7xcbRKLHr91IUhAmqotEUfYkEQgkg9HNxnRdMCr1GXxT9s6S6+IPGWz5fo0KV9CESD5N3kYgEu0Njo/VdY/5G6uJGSTCubwuypR9ZrIiqMNM/ZDGjorhOEl5qMH1b5rlUBU2tPmqCxTqhghpkEolJHdGBiVQeMOFUFY1wNPq0YxrFSh40MEwl1UjIAun

[2020-06-20 01:43] lilleyse commented on #797
Polyline arrows start to get squashed. [Local sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=tVZdb9owFP0rVzwxiYWEknWjtNpGp750Ba3VKq3pg0luE6uOndkOjE7899kJCSDoR6pOgsi+X8c5xzf2jEgIH1IGx3ATcIC/9gFAowEErUiEeYpcB61OaeYkResY/fp+DmcoUtSSohrARLAFoxzryBlKRQW3wZ7jrszLzg6ExOh8M69C+IER2IIQMpJmZqIFaJSE8jo0W2EOqorWpKg2sGrDBhASqUUsSZbQ8BRjiXbFN+8P/Q4cmL/bgfder5rcdqrEZT1KiYGmhG1VVYLRaCSYkFtmA7fHBiD

[2020-06-20 01:51] lilleyse commented on #797
Cesium Inspector is extremely show when "Show Frustums" is checked. [Local sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=xVZtT9swEP4rUb8slYJLKVWhK2gtL9MkOhArsA+RkJscqTXHzmyntEz97zvnrWkp25e95EOxfc/z+O58ZzOnypkzeAblnDgCnp0z0CyNyX225r4LsumZFIYyAeqd5/zwhYOfAaVw6UbJOQtB9UtioIAaeJCKh5Mc4ja9nBKgCizMdWKYFLpfKtlPwfcUtHmAacQP+o5RKeTGlS9Wzfe+8MUcPdUBCEBHc49JNkVj9pdEXE6BhJCY2QS1hhHurU3hBJKsaK

[2020-06-20 02:05] lilleyse commented on #797
Contour lines are much thinner in WebGL 2. [Local sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=1Vppc9s4Ev0rWM+HkaskivchH7uTOJnJVo6t2EmqNp4PEAlZLIOkBgRlOSn/920AvEV5rTiJa1IpSSTRjdfdD90N0GvM0DomN4ShE5SSG/Sc5HGRaB/lvdHlQSivn2cpx3FK2OXBGH29TBHihDG48x+WreOIsFklGDKCOfmUMRpdqCEjOR4hRv4qSM4/EsbJ5m3GEkzzGeKsIGM0nb4lJCIR4hnAyQtM4y8E5TRbESF8dzgWXyGgIBv+bsXjLAXZruJPZH5FTaVRCl2md4dHl+llqgzU8pC

[2020-06-20 02:21] atlight commented on #8974
Thanks @OmarShehata! Evidently my searching skills could use some improvement 😄

[2020-06-20 02:24] lilleyse opened #8976 "Terrain shadow casting artifacts"
Shadow artifacts are visible in the distance when terrain casts shadows like in the [Shadows Demo](https://sandcastle.cesium.com/?src=Shadows.html&label=All). Terrain doesn't cast shadows by default.

![shadows2](https://user-images.githubusercontent.com/915398/85189252-52514200-b27b-11ea-86a8-8820fbf47ec6.gif)

[2020-06-20 02:27] lilleyse commented on #797
Alright that's all I've uncovered so far by going through each sandcastle example with WebGL2 enabled. @baothientran I recomend starting with https://github.com/CesiumGS/cesium/issues/797#issuecomment-646920630 and seeing what other bugs are fixed in the process.

[2020-06-21 00:58] md-seb opened #8978 "SVG Rendering"
It could be used for streaming SVG, processing to filter out only relevant data, dynamic styling. Also filtering out background maps and large fills, which are often opaque in raster images, especially in weather services, which I work with. The possibilities are plenty.

I work on a cluster of IBL WMS servers which have fantastic image/svg+xml support, and would love to be able to render all that

[2020-06-21 01:30] md-seb commented on #8978
Here's how I query WMTS and it returns SVG
[code]
I actually have another problem here as I don't know how to pass the current clock data to TIME param.
Also for some reason when I pass width and height 256, i get back viewbox 320,320.

Anyway, WMS returns e.g. this:
[code]

[2020-06-21 18:12] lilleyse commented on #797
@baothientran since the number of bugs fixes was starting to grow too much I consolidated them into a single `CHANGES.md` entry: https://github.com/CesiumGS/cesium/commit/65757f8b7dce74d1ffbf9d61ea10d6e4508b86f2

[2020-06-21 18:13] lilleyse commented on #797
Also I updated the checklist above: https://github.com/CesiumGS/cesium/issues/797#issuecomment-617189407

[2020-06-21 20:52] Lampent opened #8979 "PolylineDashMaterialProperty breaks Datasources Hierarchy ( 2D view)"
The bug occurs when we add to a polyline inside a Datasource a 'material' property of type Cesium.PolylineDashMaterialProperty. When adding the property the polyline drawn ignores the DatasourceCollection Hierarchy and goes below all entities.

The required view to reproducing the bug is 2D.

The following code creates two Datasources, one that contains cesium Entity with polyline and 1 that conta

[2020-06-21 21:30] Lampent opened #8980 "Polyline with height height greater than 0 breaks Datasources hierarchy"
The bug occurs when we add to a polyline inside a Datasource a 'height' property with a value greater than zero. When creating polyline with 'height' greater than 0, the polyline ignores the DatasourceCollection Hierarchy and goes above all entities.

The required view to reproducing the bug is 2D.

The following code creates two Datasources, one that contains cesium Entity with polyline and one t

[2020-06-22 06:24] bkuster commented on #7591
Allthough I agree with @hpinkos, that this makes little sense for _photorealistic textures_. We had more then one use case, where we would use some form of WMS/WMTS layer to dynamicall show things like _sensor coverage data_. For these use cases (especially if the data is provided by the minute) this would be a cool feature.

[2020-06-22 17:08] OmarShehata commented on #8978
It is possible to use SVG images as for billboards/entities in general [like in this code example](https://sandcastle.cesium.com/#c=ZVJRb5swEP4rFn0IUVIDKasioFG17GXSpD1U2hMvBg6wamxkG0g25b/vDGnTbgaJu+/uuzs+38g0GTlMoMkTkTCRIxg+dPTXjPmrcnaPSlrGJejVOs1lLkdkmbFByipz34lXtn3KvXjfn3KPtMCb1t581+CrOiEQkpDEe3wdCtpwJRGNaIT+qRPSoNda2ydBME0TnR6o0k2wC8MwwD65d1hhf9dx41qXXJcCSOkq72IsUZ7fLO3KhmgYexaATs2FSO7qOoojSI3V

[2020-06-22 17:19] OmarShehata commented on #5094
@chenguang1994 it may be easier to set up a blank texture and swap that in like in Sean's example here https://github.com/CesiumGS/cesium/issues/5094#issuecomment-416093039 when you want to clear it instead of destroying. If you're having trouble with that please open up a new topic on the community forum: https://community.cesium.com/

[2020-06-22 17:22] OmarShehata commented on #4274
This may be a good time to revisit now that CesiumJS has better support for underground. @hpinkos do you know what is causing this issue, or do you have any advice on where to start looking if someone wanted to investigate?

[2020-06-22 18:04] hpinkos commented on #4274
I don't know exactly, but I suspect it's something silly like we're clamping the positions to the ellipsoid somewhere.  The best way to start looking into it would be to set breakpoints in `WallGeometry`/`WallGeometryLibrary` to see what it's spitting out for the `positions` values and how that differs from what's expected.

[2020-06-22 18:52] rapha-opensource opened #8982 "Simple Rollup app example"
It would be very helpful to have a sample app with Rollup, similar to [cesium-webpack-example](https://github.com/CesiumGS/cesium-webpack-example).

I'm trying to setup a basic Svelte/Sapper app that loads the Cesium viewer, it is proving to be difficult. Specifically the loading of assets (Assets, Widgets, Workers, etc.)

[2020-06-22 21:58] OmarShehata opened #8984 "Missing buttons in animation widget in iOS 13.5.1"
Reported on the forum: https://community.cesium.com/t/issues-with-new-ios-13-5-1/9972/3

The animation widget in the latest iOS, 13.5.1, seems to be missing the green buttons, although I can click on play/stop, or even the wheel itself to change the clock multiplier:

![image](https://user-images.githubusercontent.com/1711126/85339275-d3921a00-b4b1-11ea-869c-528a95005cb9.png)

I can reproduce with

[2020-06-22 23:30] mramato commented on #8984
Most likely related to these being SVGs, it could be a bug in Safari or it could be something wrong we have been getting away with for a long time.  There was a PR that changed code here a few releases ago, I wonder if versions like 1.65 have this problem.

I definitely think this is something that should be fixed before the next release, since it is a regression affecting millions of devices.

[2020-06-23 04:10] VINOlive opened #8985 "How tile exchange high level to low level and low to high?"
![level12](https://user-images.githubusercontent.com/7323049/85359436-d429bf80-b548-11ea-9813-fb6fcff30d78.png)
![level13](https://user-images.githubusercontent.com/7323049/85359456-e3107200-b548-11ea-882e-fdcab90da32b.png)

To meet the requirements of the scenario, I need to know the method how different level tile exchange.
I read the source of Cesium, but finally almost give up,  it was so comp

[2020-06-23 09:43] yankai12 commented on #8971
A lot of  Labels can be  Caton  ,I try to  use Worker to solve it But it is  no  significant effect

[2020-06-23 12:29] OmarShehata commented on #8971
@yankai12 please post your question on the community forum: https://community.cesium.com/

[2020-06-23 12:30] OmarShehata commented on #8985
Hey @VINOlive , for questions please use the Cesium community forum: https://community.cesium.com/. We use GitHub issues for tracking bug reports and feature requests.

[2020-06-23 12:30] #8985 closed

[2020-06-23 13:48] TJKoury commented on #8764
@OmarShehata This could be related to calculating the number of points in a rhumb line; if you have two points in a polyline that differ only in altitude, then the radians distance squared tends to be zero.

For this particular case making a change will fix the issue.
[Core/PolyLinePipeline.js#L28]:(https://github.com/CesiumGS/cesium/blob/master/Source/Core/PolylinePipeline.js#L28)

[code]
I have

[2020-06-23 15:20] md-seb commented on #7994
I have similar issue with weather tiles from our own WMS service. I think there is an issue with zoom level consistency. This is happening for me with Cesium master@23111a7c30 and v1.70

Zooming in on UK
[code]
Causes these tiles to be requested:

tile X: 0 Y: 0 Level: 1.
tile X: 0 Y: 1 Level: 1.
tile X: 1 Y: 0 Level: 1.
tile X: 1 Y: 1 Level: 1.
tile X: 0 Y: 0 Level: 0.
tile X: 2 Y: 0 Level: 2.
ti

[2020-06-23 15:32] dennisadams commented on #8439
I managed to (sometimes) reproduce the inaccuracies in the examples of @criyson and @liyangis on my linux desktop.
It appears that the inaccuracies occur when the pick's orthographic frustum bounds are retained from the scene's prespective frustum bounds.
In @criyson's example, when the pick is accurate, the frustum splits are `[0.1, 100, 2265.88...]` (the last plane might vary, depending on resol

[2020-06-23 16:59] lilleyse commented on #8439
@dennisadams great find. #8850 fixes this bug on my 2015 Macbook as well

[2020-06-24 01:48] yankai12 commented on #8971
Thank you

[2020-06-24 03:18] renjianqiang opened #8989 "Transforms.eastNorthUpToFixedFrame can't calculate the right coordinate system if HAE is not zero"
I think there is problem to calculate the NEU coordinate system, look for these code:
[code]
The `transform`'s up vector is not equal to  `transform1`'s because they have different height, but i think these should be equal. so
 i look at the code, then i found these code:
[code]
I think that is the problem. the `origin` maybe not on the ellipsoid , but `ellipsoid.geodeticSurfaceNormal` can only fi

[2020-06-24 07:07] yiwenzhang666999 opened #8990 "cesium uses czml to load gltf model"
After cesium loads the gltf model with czml, the initialization angle is wrong, how to adjust,How to make the direction of the car and the road direction consistent after initialization
![car](https://user-images.githubusercontent.com/31643589/85512227-3c050680-b62c-11ea-9e31-0e5b5b764ed5.JPG)

[2020-06-24 12:24] OmarShehata commented on #8990
Please use the Cesium community forum for questions: https://community.cesium.com/. We use GitHub issues for tracking bugs and feature requests.

[2020-06-24 12:24] #8990 closed

[2020-06-25 00:35] rapha-opensource opened #8992 "Package subpath './package.json' is not defined by "exports" in /Users/xxx/my_repo/node_modules/cesium/package.json"
This is Cesium installed via `npm` and integrated in a `Svelte/Sapper` route.

1. `npm install cesium`
2. Add a Svelte page to a Sapper basic demo app for the route `/cesium` which will load a basic Cesium `Viewer`.
3. run `npm run dev`

## The Svelte page
[code]

## The error message
[code]

## Workaround
Delete the `exports` field in `node_modules/cesium/package.json`.
Re-launch `npm run dev`.

[2020-06-26 00:25] samherrmann commented on #8944
I'm not sure if this should be a separate issue, but based on the [sandcastle example, line 43](https://sandcastle.cesium.com/index.html?src=Picking.html), it should be possible to assign a [Cartesian3](https://cesium.com/docs/cesiumjs-ref-doc/Cartesian3.html?classFilter=Cartesi) position to `entity.position`. This does not currently appear to be the case. [Entity.position](https://cesium.com/docs

[2020-06-26 00:57] mramato commented on #8944
@samherrmann TypeScript does not allow multiple types for properties, so while Cesium via JS allows you to use Cartesian3 and other primitive types, TS does not.  You can read through this comment for the details: https://github.com/CesiumGS/cesium/issues/8898#issuecomment-637579223

Instead, you need to use `entity.position = new ConstantPositionProperty(cartesian3)`.

We plan to eventually make

[2020-06-26 01:47] mramato commented on #8992
@rapha-opensource I would recommend you ask about this on https://community.cesium.com since no one on the Cesium team uses Svelte. Also, we use GitHub for confirmed bugs and feature tracking so it's always better to start there first anyway unless you are 100% sure of a bug.

`exports` is required for NodeJS compatibility, it was introduced in #8659.  There's nothing non-standard about Cesium's b

[2020-06-26 15:18] OmarShehata commented on #8610
This now becomes more common in underground scenes, and almost makes camera fly's unusable here. For example there's no way to smoothly go from one location in a tunnel to another since the camera will fly up above ground first, so the viewer loses context of where they were. CC @lilleyse

[2020-06-27 14:14] tuif commented on #8436
@IanLilleyT @OmarShehata Hello. Is there any progress on the bug? Will it be fixed in the next release?

[2020-06-28 00:11] #8962 closed

[2020-06-28 02:32] #8346 closed

[2020-06-28 02:32] #8439 closed

[2020-06-28 02:32] cesium-concierge commented on #8346
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/8KFNqzbSc9I/RGixiWo9AgAJ

If this issue affects any of these threads, please post a comment like the following:

[2020-06-28 11:50] Etheryte commented on #8401
@bluehaoran's comment is spot on. There is no reason why a Javascript library should reimplement modules in a proprietary way. The right approach is to fix the underlying issue and move everything over to `require`. This would eliminate a considerable amount of unnecessary complexity both from the codebase itself as well as from all setup configurations on the consumer side.

[2020-06-28 14:59] OmarShehata commented on #8346
Posted an update that this issue has been fixed on the forum: https://community.cesium.com/t/switch-to-orthographic-camera-breaks-rendering/9036/2

[2020-06-28 15:03] OmarShehata commented on #8436
There are no open PRs addressing this so I don't expect it to be fixed in the next release. If you would like to investigate and propose a fix we'd be happy to consider it.

[2020-06-28 16:02] #8856 closed

[2020-06-29 05:08] yankai12 commented on #8681
I also encountered the same problem

[2020-06-29 11:30] Aknbb opened #9001 "Graphics behind the transparent label backgrounds are not showing."
Hello,

I figured out a rendering bug. If user adds label to map with transparent backgroundColor (like Color(0, 0, 0, 0.15) and sets showBackground to true, graphics behind the label are not showing but only world imagery.

Sandcastle example: [Click to see](https://sandcastle.cesium.com/#c=hZRRb9owEMe/ipWnIIETaKEbo2i0q9aHdqu6dg9b9mDiK7Hq2Mh2oNm0776LHdKoq7aARO7v+59zP1/YMUN2AvZgyClRsCfnYEVV0q9ei7M

[2020-06-29 13:11] #8804 closed

[2020-06-29 16:16] OmarShehata commented on #8554
Came up on the forum here, to apply one clipping plane to many tilesets: https://community.cesium.com/t/clipping-planes-for-multiple-tilesets/10034/2

[2020-06-29 16:26] OmarShehata commented on #9001
Thanks for reporting @Aknbb - this does appear to be a bug to me.

[2020-06-30 12:36] #8929 closed

[2020-06-30 18:01] #8739 closed

[2020-06-30 21:47] sanjeetsuhag commented on #8984
Fixed in #8993

[2020-06-30 21:47] #8984 closed

[2020-07-01 03:28] superLicw opened #9007 "glTF file can not see in Cesium 1.70 without Errors"
Here are two glTF files of my own, which is normally displayed in the windows 3D viewer, but cannot be displayed when them been loaded into cesium through the code.
Is there any expert here who can help to see why?
 I put them here：

[https://drive.google.com/file/d/1e1EJjCs_XSLGUoSMLBMBnp29teza5ZmM/view?usp=sharing](https://drive.google.com/file/d/1e1EJjCs_XSLGUoSMLBMBnp29teza5ZmM/view?usp=sharin

[2020-07-01 04:54] sanjeetsuhag opened #9008 "Test Failure - Scene/GroundPolylinePrimitive/picking in Columbus View"
When running [Scene/GroundPolylinePrimitive](http://localhost:8080/Specs/SpecRunner.html?spec=Scene%2FGroundPolylinePrimitive) specs together, the `"picking in Columbus View"` test fails. However, when run on its own, it runs fine.

The test suite ran fine until https://github.com/CesiumGS/cesium/commit/97492e7a29e55905acb5f3a84d026047dcf901b8.

[2020-07-01 05:01] sanjeetsuhag opened #9009 "Test Failure - Scene/Pick/pick picks in 3D with orthographic projection"
When running [Scene/Pick](http://localhost:8080/Specs/SpecRunner.html?spec=Scene%2FPick) specs together, the `"pick picks in 3D with orthographic projection"` test fails. However, when run on its own, it runs fine.

The test suite ran fine until https://github.com/CesiumGS/cesium/commit/617e5ed26836284b2465f361b0baa496e0549873.

[2020-07-01 13:44] mramato commented on #9008
That commit doesn't make any sense to me in terms of how it could have caused this.  I did a bisect and it pointed to 4e730efd99bab6ef32237633dae88d2415b9b1d2, which also makes no sense.  So I have no idea what's going on here.

[2020-07-01 14:14] #9009 closed

[2020-07-01 15:17] OmarShehata commented on #9007
Answered on the community forum: https://community.cesium.com/t/gltf-file-can-not-see-in-cesium-1-70-without-errors/10054.

[2020-07-01 15:17] #9007 closed

[2020-07-01 23:24] Michionlion opened #9013 "Scene.sampleHeightMostDetailed has incorrect JSDoc return type"
The return type of the above method is [declared](https://github.com/CesiumGS/cesium/blob/bfdd1050bb21706fe694c480602bc9f1581e769c/Source/Scene/Scene.js#L4374) as `Promise.<Number[]>` when it seems it should be `Promise.<Cartographic[]>`.

[2020-07-02 10:42] bertt opened #9014 "Instance rotation?"
I'm trying to horizontally rotate instances in an i3dm tile to an angle (instance pointing north = 0, east = 90, south = 180, west = 270) but can't get it working in Cesium. In my case every instance has an own rotation angle.

I'm trying things out with defining NORMAL_UP and NORMAL_RIGHT unit vectors per instance but either the instances are drawn but not rotated (so pointing north), or the inst

[2020-07-02 13:37] idanmiara commented on #7994
I have found a workaround.
I use Geoserver to serve the map.
The default value for "Suggested Tile Size" in a new layer is 512,512.
The block size of my tiff was 256x256 (use gdalinfo to find out the block
size)
It seems that when I changed the  Suggested Tile Size to be 256,256 then
the problem disappeared.
note that with Tile size of 512,512 I see no problem when accessing the map
via OpenLayers

[2020-07-02 17:00] angrycat9000 opened #9015 "Color.fromCssColorString fails with leading or trailing spaces"
Passing a string with leading or trailing spaces, such as `' rgb( 108, 136, 255)'`, returns `undefined`.  This same string is accepted by the browser when setting a CSS color.  The regex should be adjusted to accept leading or trailing spaces.

[Sandcastle example](https://sandcastle.cesium.com/#c=bY/BasMwEER/ZfElMhi5bkkpxDEFXwM5BHryRZY3ruhaGyTZIf36Sm4Ppc3eZnbewCzKwWLwig72YPEKLXozT/Jt9USX6VW3bIMyF

[2020-07-03 04:55] wemamawe opened #9016 "Camera.position was error after use viewer.flyTo()"
hi, I use viewer.FlyTo() to move the camera to a position, then the camera shows like the picture.
![image](https://user-images.githubusercontent.com/29365634/86432985-06e36d00-bd2c-11ea-9a7c-351c98b69f5f.png)

i use mouse to zoomTo the destination, which is same place , then the camera shows like the bellow picture.
![image](https://user-images.githubusercontent.com/29365634/86433010-1498f280-bd2

[2020-07-03 07:55] bertt commented on #9014
a function something like this? https://github.com/PrincessGod/objTo3d-tiles/blob/master/lib/obj2I3dm.js#L166

[2020-07-03 12:52] mramato commented on #9016
@wemamawe The camera position property itself is not enough to tell you the location, it depends on the transform as well, which defines the camera's reference frame. This is not a bug and working as intended.

If you need help trying to do something with Cesium, please ask questions on our community forum: https://community.cesium.com.

Thanks.

[2020-07-03 12:52] #9016 closed

[2020-07-03 20:19] baothientran commented on #8610
@OmarShehata @lilleyse I'm currently working on the issue, but I think there is a workaround for it in the meantime.

To go from one location to the other, the camera is currently using two different math functions to interpolate the height between two of them during the flight. One is to linearly interpolate the start height and the destination height based on time. It will result in the flight p

[2020-07-05 03:02] wemamawe commented on #9016
@mramato thanks for your answer;
 after i use `viewer.flyTo() `
,the camera move to a position , and then, if i want to use `camera.rotateLeft()`, the camera will rotate faw away, just rotate 1 degree.

[2020-07-06 07:13] NotEmptyWKL commented on #8751
I also need support for concave polygon

[2020-07-06 09:49] lxydft opened #9020 "How to make my 3dtiles beautiful like this?（http://cesium.marsgis.cn/cesium-example/editor.html#63_jzwStyle）"
im sorry for ask question at there,i can't open this url .( https://community.cesium.com)

i add 3dtiles in my page. but i only know how to change its color by height.
i want to get a result like this page.（http://cesium.marsgis.cn/cesium-example/editor.html#63_jzwStyle）
please help me or give some ideas.
thanks you first.

[2020-07-06 12:03] OmarShehata commented on #9020
@lxydft can you tell me why you can't open the community forum? Do you get an error? Can you take a screenshot of it?

I'd love to have this discussion on the forum so I want to help you get access.

[2020-07-06 12:03] #9020 closed

[2020-07-06 12:04] OmarShehata commented on #8751
@NotEmptyWKL can you describe your use case?

[2020-07-06 13:58] zoran995 opened #9021 "WMS 1.3 GetFeatureInfo"
Cesium currently has implemented GetFeatureInfo for WMS which works only with WMS 1.1.0 and not with 1.3.0 specification of service. According to the implementation specification, in WMS 1.3.0 identifier of pixel coordinates are 'i' and 'j' instead of 'x' and 'y' as it was in WMS 1.1.0.

In source code this part is [here](https://github.com/CesiumGS/cesium/blob/master/Source/Scene/WebMapServiceIma

[2020-07-06 13:58] #9013 closed

[2020-07-06 16:15] OmarShehata commented on #9021
Thanks for reporting @zoran995 ! Do you have a WMS 1.3 imagery provider you can share that you're using to test? If you'd like to open a pull request for this we'd be happy to review, see contributing guide here: https://github.com/CesiumGS/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request

[2020-07-06 16:20] OmarShehata commented on #9014
@bertt can you post your question to the Cesium community forum? https://community.cesium.com/

We use GitHub issues for tracking bug reports and feature requests.

[2020-07-06 16:20] #9014 closed

[2020-07-07 01:49] lxydft commented on #9020
e.... maybe its my network.I've connected to that address.I also saw you. hhh
I searched for some questions on it.Can you see the effect in my link.
In your opinion, if I want to solve this problem, what should I focus on.Thank you!

[2020-07-07 03:12] OmarShehata commented on #9020
Glad to hear the forum is working for you now! Please post a new topic on the forum and let's move the conversation there.

[2020-07-07 15:07] MikosMariusz commented on #4296
This problem is solved? Did the author find a solution?

[2020-07-07 15:28] OmarShehata commented on #4296
@MikosMariusz passing in a `rectangle` option to the imagery provider should produce the correct result here. If you're having trouble with that please post in the Cesium community forum: https://community.cesium.com/.

[2020-07-07 17:23] benwiles1 commented on #8944
Couldn't you use union types? eg `position: Cartesian3 | PositionProperty` not sure what that would look like in jsdoc.

[2020-07-07 17:37] samherrmann commented on #8944
@benwiles1 I was thinking that too at first, but the problem with that is that when getting a value it would be typed as `Cartesian3 | PositionProperty` while in reality is always of type `PositionProperty`. Consequently, to make TypeScript happy, you'd have to do a type check before being able to access the `PositionProperty` value. So personally I don't think that approach would improve on the c

[2020-07-08 13:51] bertt commented on #9014
ok see https://community.cesium.com/t/instance-rotation/10163

[2020-07-08 14:21] devond5 commented on #8919
Is there any progress with this?

[2020-07-08 14:49] OmarShehata commented on #8919
@devond5 we aren't actively working on this at the moment, but if you'd like to submit a pull request we'd be happy to consider it! See the contributing guide here: https://github.com/CesiumGS/cesium/blob/master/CONTRIBUTING.md#getting-started-contributing

[2020-07-08 15:21] dennisadams opened #9023 "Clipping planes weird behavior on certain Android devices"
![Peek 2020-07-06 22-41](https://user-images.githubusercontent.com/29460712/86922694-aee6a500-c135-11ea-9564-7069c7f52dc7.gif)

I tried the clipping planes sandcastle on an Android device and got this bug where at the top part of the model, the clipping plane is clipping in the wrong direction.
There already is an open issue - #8061 about clipping planes not working on certain Android devices, but

[2020-07-08 15:41] lilleyse commented on #9023
Thanks for the detailed write up @dennisadams

@likangning93 could you confirm that adding a small epsilon is an ok fix here?

[2020-07-08 15:55] #9008 closed

[2020-07-08 19:24] moxizhou opened #9024 "Replace use of eval()"
We are using CSP headers and ran into an issue using this library because of the use of unsafe eval.

https://github.com/CesiumGS/cesium/blob/2fd0e8f7e4212bd1e7084299187f70597a6bbfd8/Source/Workers/cesiumWorkerBootstrapper.js#L2285

I am wondering if there is an alternative for this?

[2020-07-08 19:30] shunter commented on #9024
This is in third-party code (requirejs) but after a quick look at the code, I'm pretty sure this code is never used in Cesium, so you could try commenting it out or removing it.

[2020-07-08 20:53] moxizhou commented on #9024
When I ran cesium, it did go through the line mentioned above.

[2020-07-08 21:26] OmarShehata commented on #9024
I don't think this is something we plan on changing at the moment, this is just part of how [RequireJS works](https://requirejs.org/).

I would recommend adding an exception to allow this use eval when running CesiumJS.

[2020-07-09 02:45] lilleyse commented on #8610
@baothientran great notes. But I wonder if it can be simpler? In `createHeightFunction` if `maxHeight` is less than 0 just always use linear interpolation? Are there downsides to that? Maybe if both start and end points have a height less than 0 and are very far away from each other?

Let me know if you figure `getAltitude()` out, I wish there was a comment there.

[2020-07-09 02:59] baothientran commented on #8610
@lilleyse yup the case where both start and end points have a height less than 0 and are very far away is the edge case that I have a trouble with. Sometimes, those points are above the ground, very similar to the first example above.

Unfortunately, I haven't figured out the math behind `getAltitude()`. I will take a little bit more time this week to think about a better solution

[2020-07-09 07:17] zoran995 commented on #9021
Currently don't have a public version of the application available (a server that is running it is in an isolated environment). The application that we are using is TerriaJS.
The WMS service that I used for testing is Luxembourg WMS of [administrative units](https://wms.inspire.geoportail.lu/geoserver/au/wms?SERVICE=WMS&service=WMS&version=1.3.0&request=GetCapabilities), link picked up from their

[2020-07-09 11:02] bampakoa commented on #9021
@zoran995 @OmarShehata would you need some help this?

[2020-07-09 13:46] dennisadams commented on #8610
The math behind `getAltitude()` is similar to the math in [PerspectiveOffCenterFrustum.getPixelDimensions](https://github.com/CesiumGS/cesium/blob/2422b6ba3311dabc47b8530514be52f786a7c3b0/Source/Core/PerspectiveOffCenterFrustum.js#L369) and in [metersPerPixel.glsl](https://github.com/CesiumGS/cesium/blob/2422b6ba3311dabc47b8530514be52f786a7c3b0//Source/Shaders/Builtin/Functions/metersPerPixel.glsl

[2020-07-09 18:15] Maarondesigns commented on #2027
Is this implemented? I see in Camera documentation Cesium.Camera.FlightCancelledCallback() however no method to actually cancel a flight, and user interaction on the globe does not stop the flight.

[2020-07-09 18:20] hpinkos commented on #2027
@Maarondesigns yes, see [`Camera.cancelFlight`](https://cesium.com/docs/cesiumjs-ref-doc/Camera.html?classFilter=camera#cancelFlight)

[2020-07-09 18:30] Maarondesigns commented on #2027
Ah, thank you!

[2020-07-10 20:08] devond5 opened #9026 "Model orientation within the sun's reference frame."
Hello Cesium team,

My employer wants to visualize a spacecraft, and this spacecraft uses hardware that keeps the default rotation of the spacecraft to where the bottom of the spacecraft is always pointing the sun. We are able to use/ pass quarternions to affect the heading pitch and yaw, but they are in the earths reference frame. We need the -z axsis at the quarternion identity (0,0,0,1) to alwa

[2020-07-11 11:18] OmarShehata commented on #6870
Fixed in https://github.com/CesiumGS/cesium/pull/8783

[2020-07-11 11:18] #6870 closed

[2020-07-12 23:23] OmarShehata commented on #9026
I think this would be a special case of allowing entity's to define their own reference frames more generally (see https://github.com/CesiumGS/cesium/issues/6041 and some initial work done on supporting this here https://github.com/CesiumGS/cesium/pull/5817). So in that way you could define a "sun" entity and then have your orientation relative to that.

Feel free to continue discussion in the for

[2020-07-12 23:23] #9026 closed

[2020-07-14 02:24] renjianqiang commented on #8989
is there anyone can help me solve this promblems?

[2020-07-14 10:59] OmarShehata commented on #8989
I'm not sure what the intended behavior of `Cesium.Transforms.eastNorthUpToFixedFrame` should be when the given point is not on the surface. The suggestion here is to scale the given point with `scaleToGeodeticSurface`.

@hpinkos what do you think?

[2020-07-14 12:50] renjianqiang commented on #8989
Thanks for your reply.  I'm not sure the intended behavior too if the elevation is not zero, but i think most of developers will use `Cesium.Transforms.eastNorthUpToFixedFrame` to generate a coordinate frame for the purpose which place a model on a high mountain or satellite.
If the point must on the surface, the cesium should restrict the condition in implementation, or illustrate in the document

[2020-07-14 12:56] renjianqiang commented on #8989
By the way, can anyone tell me this is right?
![image](https://user-images.githubusercontent.com/16470294/87427904-13ad6e00-c614-11ea-8e50-5882eae95009.png)

[2020-07-14 15:03] hpinkos commented on #6937
@angrycat9000 ran into this issue today.  `flyTo`/`setView` doesn't zoom as close to the rectangle as it can when the canvas aspect ratio is portrait instead of landscape.

[sandcastle](https://sandcastle.cesium.com/#c=dVPLbtswEPwVQpfIrUrraUmOY7RwfEtawAZ60oWRNhZRijRIys4D+feSlC2nbXrkcGY5OxodiEQHCkeQ6AZxOKIVKNp3+KfD/Mqr3XkluCaUg6w8FLxWHCFVA4d70cD8LNmeEbxdrb+v49vA8jTtgBnlHD0SpsBhhNOOaCr4Caz42+S64rXgS

[2020-07-16 07:06] JackLiuCh opened #9029 "Video material doesn't display normally on android browser"
Sandcastle example: Even the official demo (https://sandcastle.cesium.com/?src=Video.html) doesn't work on Android device.
![image](https://user-images.githubusercontent.com/38946447/87638112-cfd27a00-c775-11ea-8d4b-db8c7ea08962.png)

Browser: Chrome for Android

Operating System: Android 9

[2020-07-16 09:01] thw0rted opened #9030 "EllipsoidGeodesic should have a fromStartHeadingDistance like EllipsoidRhumbLine"
I asked [on the forum](https://community.cesium.com/t/move-a-cartographic-by-a-distance-in-meters/10234) about a function to "move" a Cartographic by a (meter) distance in a (heading) direction.  I got a nice approximation using spherical equations that will be fine for my purposes, but it occurred to me that if I'm trying to do it, somebody else probably is too, and they might not be OK with the

[2020-07-16 12:02] ZhengQixv opened #9031 "Shadows may have bug."
Sandcastle example:High Dynamic Range.html

Browser:Google Chrome

Operating System:windows 10

By default, HDR and shadow are turned on and LogDepth is turned off. You can run the example, and then turning off HDR will produce an error. The browser can output error messages. Remember to close LogDepth for testing.

[2020-07-16 12:56] thw0rted commented on #8319
Hey @OmarShehata  @emackey , can this get a priority assigned? I just started working with some data from a system that replicates a lot of Cesium's drawing primitives but their backing engine handles shapes with both stroke and fill as you'd expect, so there's an obvious difference when drawing the same thing on their system vs mine.  I added a separate polyline when it's a basic polygon, but the

[2020-07-16 14:52] dennisadams opened #9032 "Terrain tiles not culled during offscreen pick pass"
Not much of a bug, but possibly a potenial improvement. `Picking.js`'  [getRayIntersection](https://github.com/CesiumGS/cesium/blob/44ac2ff1293fc89cccfb58fc70f372123215261b/Source/Scene/Picking.js#L729) renders the scene from an offscreen camera, typically for clamping or height sampling.
In this process, the 3D tilesets are updated once and non-visible tiles are culled. However, terrain-tile comm

[2020-07-16 15:20] dennisadams opened #9033 "Wrong assessment of terrain tile visibility"
Bumped into this piece of code while dealing with #9032 :
https://github.com/CesiumGS/cesium/blob/44ac2ff1293fc89cccfb58fc70f372123215261b/Source/Scene/GlobeSurfaceTileProvider.js#L578-L585

This seems like a simple oversight, expecting `computeTileVisibility` to return a boolean. But `computeTileVisibility` actually returns a `Visibility` value where `Visibility == {NONE: -1, PARTIAL: 0, FULL: 1}

[2020-07-16 15:51] mramato commented on #9033
Thanks @dennisadams this looks like a pretty obvious bug.  I wonder how long it's been there (git blame is a little useless because of format-only changes that went in a while ago).

@lilleyse are we missing something here or is this just an oversite?

[2020-07-16 17:56] lilleyse commented on #9031
@ZhengQixv I believe this is a duplicate of https://github.com/CesiumGS/cesium/issues/8372

[2020-07-16 17:56] #9031 closed

[2020-07-16 17:56] lilleyse commented on #8372
Came up again in https://github.com/CesiumGS/cesium/issues/9031

[2020-07-16 18:51] lilleyse commented on #9033
It looks like it's been there since https://github.com/CesiumGS/cesium/pull/7061. Sorry to keep passing this along, but @kring could you check this?

[2020-07-16 23:39] kring commented on #9033
Good catch @dennisadams! This is definitely a bug, and it will cause a one-frame delay in loading imagery sometimes, and load imagery that isn't needed at all other times. The cases where either occur should be relatively rare (which is why we didn't notice before), but they'll happen. Are you up for opening a pull request to fix this?

[2020-07-17 13:02] dennisadams commented on #9033
Sure

[2020-07-17 18:23] bmckilligan commented on #4274
fingers crossed this fix will be in the next release

[2020-07-17 18:24] hpinkos commented on #4274
@bmckilligan that's the plan!

[2020-07-17 18:26] bmckilligan commented on #4274
Fantastic, Thank you

[2020-07-17 22:08] sparsematrix opened #9035 "Polylines not displayed correctly at long zoom distance on iOS"
I have seen this in my app which uses WKWebView and also with the default Materials example when loaded in iOS Safari.

1. Navigate to the default sandcastle example (https://sandcastle.cesium.com/?src=Materials.html) in Safari on iOS 13.5.1 or 13.4 (perhaps others).
2. From the "Polyline materials" selection, choose "Polyline Outline".
3. Observe that the polyline is just a large blocky red line.

[2020-07-18 23:55] #9033 closed

[2020-07-19 09:53] happyfeet1996 opened #9036 "ambient occlusion can not work when i set 3dtiles model transparent"
Sandcastle example:

Browser:

Operating System:

[2020-07-19 10:19] happyfeet1996 opened #9037 "mouse middle drag can not work normally when model is transparent"
I set my 3dtiles model transparent, like this:
![image](https://user-images.githubusercontent.com/40989006/87872436-1bda2480-c9eb-11ea-902b-f0521ddb7ad0.png)
I used mouse middle drag to rotate model, it do not rotate centered by the point that the mouse on the model.it rotate by the point that cross the model and on the groud.I can not rotate transparent model like normal model,but when i used mou

[2020-07-19 16:01] lilleyse commented on #9037
@happyfeet1996 try setting [`scene.pickTranslucentDepth`](https://cesium.com/docs/cesiumjs-ref-doc/Scene.html?classFilter=scene#pickTranslucentDepth) to true.

Here's a sandcastle demo for reference: [Sandcastle](https://sandcastle.cesium.com/#c=dVRtb9MwEP4rp37qpM5JmnRNS5kYKxKTgE2sAiHlixtfG2uuXdmXloH479hO9gKMfkh153t57jk/ThK4ACd3e4UgcGfAbCBfwkoqdLBBTq1F2Mv6TuotHCU10JgDWuBagEOFNcEaG36QxlY6SeBtK5UIsY

[2020-07-19 16:01] #9037 closed

[2020-07-19 16:03] lilleyse commented on #9036
Thanks for the bug report @happyfeet1996. Ambient occlusion operates on the depth texture and translucent geometry does not currently write depth.

[2020-07-20 01:37] OmarShehata opened #9038 "Cannot fly to entity clamped to ground in 2D"
[Sandcastle](https://sandcastle.cesium.com/index.html#c=tVNRb9MwEP4rVl6aSMHpVKaONq2AbMBD10xbYUIETZ5zaS0cu7KdbBnaf8dxQoBuSLzw5jt/9913n881UahmcAcKLZCAO5SAZlWJP7mcn3nUxYkUhjABKvNC9D0TCBlQymYulKxZDmr2s5AqIAaupeL5poP4QSYeg3kmMlHbbiAMM43t1rXFLmagMclz31HvpbYZKQbOhChjT0RMcKFkeQpbBaD9F9NjfPxqOp2G6OUYjycnJ5MQHY3HQdixMGFmnViEdsC2O3MJBSgQFNDA/eHPC5ys3pxf3GzSm/eX6cf1adiV79k98Cv2ADPboM9RyeWvuZM2wp/PVqv02gEew2Hs

[2020-07-20 01:59] happyfeet1996 commented on #9037
Thank you for your patience, I understand

[2020-07-20 16:40] #8764 closed

[2020-07-20 17:51] hpinkos opened #9042 "Wall has incorrect texture coordinate"
![image](https://user-images.githubusercontent.com/3451886/87969349-f7845380-ca8f-11ea-9436-61bdb8dde3f6.png)

[code]

[2020-07-20 17:55] hpinkos opened #9043 "Wall missing first segment"
[code]

actual:
![image](https://user-images.githubusercontent.com/3451886/87969564-65307f80-ca90-11ea-9c46-647f8034c2cd.png)

expected:
![image](https://user-images.githubusercontent.com/3451886/87969644-885b2f00-ca90-11ea-968c-4df199440a7e.png)

[2020-07-20 20:47] OmarShehata commented on #8953
Marking as priority next release since it's a regression that's breaking some people's applications.

[2020-07-20 21:06] #9043 closed

[2020-07-20 21:20] #4274 closed

[2020-07-20 21:20] cesium-concierge commented on #4274
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/forum/#!searchin/cesium-dev/bathymetry%7Csort

If this issue affects any of these threads, please post a comment like the following:

[2020-07-21 10:45] weiyinggh opened #9045 "Used in cesium gl.Lines And threejs gl.Lines What's the difference? Why is threejs used in gl.Lines The lines drawn are straight. What about the sawtooth in cesium?"
Used in cesium gl.Lines And threejs gl.Lines What's the difference? Why is threejs used in gl.Lines The lines drawn are straight. What about the sawtooth in cesium?
![image](https://user-images.githubusercontent.com/26948421/88046201-47434780-cb82-11ea-8459-f6f81e184141.png)

[2020-07-21 12:28] IanLilleyT commented on #8953
If we figure out why this regression happened, it might help us understand non-3D Tiles classification bugs on mobile. Last time I looked I didn't have any leads, but I'll look some more soon.

[2020-07-21 13:40] benjaminabb opened #9046 "Viewer.ConstructorOptions has incomplete JSDoc/TypeScript definitions"
In [JSDoc](https://cesium.com/docs/cesiumjs-ref-doc/Viewer.html#.ConstructorOptions) property globe is only typed `Globe` but should be `Globe | false`

This is only defined in the description

Therefore the TypeScript definition is wrong.

[2020-07-21 14:57] OmarShehata commented on #9045
The issue here is antialiasing, and will be seen on lines or any thin geometry, see: https://github.com/CesiumGS/cesium/issues/8228

The outlines on [Cesium OSM Buildings](https://sandcastle.cesium.com/index.html?src=Cesium%20OSM%20Buildings.html) are drawn with a different technique, you can read about it here: https://github.com/CesiumGS/cesium/pull/8776

If you have more questions please open a

[2020-07-21 14:57] #9045 closed

[2020-07-21 15:00] thw0rted opened #9047 "Billboard sizeInMeters clamped to 65 kibi-meters"
[Sandcastle example](https://sandcastle.cesium.com/#c=vVVdT9swFP0rVrSHlAU3DYHyUdC2UqFJsEkUjZdIw00uqYVjV7aTFlD/+5w4TUNH2TSh9aGKj889995zHacgEhUU5iDRKZpTnog5btYc5mgIiuYZ/lFhbuTE1XoouCaUg4wcDz2rGDhciQSOV/TxCsHj4ejbKDhfdk4iHvFYcKVRTHhB1Dphs05EnGfANY4lEA0jBuWqzFoxIqdUsc94ThM9NTGh76/BKdB0qg0aWNSm0wuD1IwUdFk8LErZILGShqkXWGkpHmCsHxkYfuTMcjljEDkndpuZfm/rpD2/BjNRwI1wfc/vtGgGaVfpobd3XxS/wfT/uN1o2/rdttMSYt0z9d

[2020-07-21 18:41] #9015 closed

[2020-07-21 18:45] #9042 closed

[2020-07-21 18:47] hpinkos commented on #9038
99% sure this is because of #5042

[2020-07-21 19:15] mramato opened #9051 "Remove deprecated MapboxApi, BingMapsApi classes"
They were deprecated in 1.72 and can be removed in 1.73 See #9049, #9039 for details.

[2020-07-21 19:26] hpinkos commented on #9047
Yes, as pointed out in the forum discussion, this is due to the way we're compressing billboard attributes to send to the vertex shader for rendering. Height will have the same limitations.

https://github.com/CesiumGS/cesium/blob/master/Source/Scene/BillboardCollection.js#L1246

Because a scene can potentially have a very large number of billboards, we have to be very careful about the amount of

[2020-07-21 20:10] hpinkos commented on #8989
You're right that theoretically the `up` vectors of these two transforms should be the same regardless of the height of the position.  It looks like the very large height value is resulting in a slight loss of precision for the `geodeticSurfaceNormal` calculation.  We would have to investigate whether any changes to `Transforms.eastNorthUpToFixedFrame` negatively impact performance.

That being sa

[2020-07-21 20:10] #8989 closed

[2020-07-21 20:14] hpinkos commented on #8982
Thanks for the suggestion @rapha-opensource!  We're currently in the process of planning new learning material and we will consider adding something like this.

In the meantime, I would recommend posting in our [community forum](https://community.cesium.com/).  There may be someone who is using rollup that can help.

[2020-07-21 20:14] #8982 closed

[2020-07-21 20:18] hpinkos commented on #8980
Thanks @Lampent, this is a known issue.  I have added a comment to https://github.com/CesiumGS/cesium/issues/3647 so we can notify you when the issue is fixed.

[2020-07-21 20:18] #8980 closed

[2020-07-21 20:19] hpinkos commented on #3647
Also reported by @Lampent  in #8980

[2020-07-21 20:19] Maarondesigns opened #9052 "Polylines crossing international dateline don't render in 2D"
Sandcastle example:
[Fiji to LA](https://sandcastle.cesium.com/#c=jVJRT9swEP4rVp5SKTh1ktZJCNWm0m1ITKANjYdlD6Y5wJtjR7bTqpv63xcTCi2NpvnFvrvv+/TdnVdMoxWHNWh0hiSs0RwMb2v87Snnl97yKZ4raRmXoEtvdFrKUgqw6AP/yQ9Zc6Zt92Iyxvda1efwoAGMT2iKkySLJ9E0HtMoI1FwQiimSTqZ0DihlMY0o07YyV6+/y/RE0JSHJFs2klkCUnGGQ3iGKfpOOpyU0pInJBXs40SG9F1cKi9kJbbjf+nlGjv7LA5elPoi4ZbrqTJ0Xc3gaAz/CM4xi0Fq5sb9VGrVlY5srqFAdSaV/YxR8lAqWYWNGci3z

[2020-07-21 20:27] Maarondesigns commented on #9052
Polyline gets cut where the map starts wrapping again. Here you can see the line in the base layer as well.
![image](https://user-images.githubusercontent.com/40376601/88103242-be6ee080-cb6e-11ea-9ca4-297635afb9c1.png)

[2020-07-21 20:27] hpinkos commented on #9052
Thanks @Maarondesigns.  This looks like it's specifically a problem with `clampToGround: true`.  If you remove that line, the polyline renders correctly.

cc @likangning93

[2020-07-21 20:32] Maarondesigns commented on #9052
Ah, got it, thanks. Is there some easy way set clampToGround: false whenever the viewer is in 2D mode, but true when in 3D? I am using this feature in a travel app and it would be pretty tedious to loop through all trips and update each polyline whenever the user switches between 2D and 3D.
Thanks again!

[2020-07-21 20:50] hpinkos commented on #9052
@Maarondesigns yeah, I was going to suggest a `CallbackProperty`, but the performance of clamped polylines are too slow for it to be re-computed every frame (which is what the CallbackProperty is making the Entity do behind the scenes).  I don't have any other easy ideas, other than always having `clampToGround: false` in both 2D and 3D.  Not sure what your use case for having it clamped is.

[2020-07-21 20:53] Maarondesigns commented on #9052
It's just a bonus feature when creating trip markers connected with polylines, and the user can move the markers by clicking and dragging them. I can't take away clamping the lines to the terrain now that the user has already seen it :)

[2020-07-22 01:32] NotEmptyWKL commented on #8751
After supporting concave polygon clipping, I can cut the earth into the scope of a country without showing the whole earth

[2020-07-22 03:59] renjianqiang commented on #8989
Thanks a lot! I will compute the NEU on the surface and move it to the original height.

I know there is only a very little error, and for performance reasons will not modify the implementation, but i really suggest to illustrate this problem in the documentation.

[2020-07-22 04:05] renjianqiang commented on #8989
Thanks a lot! @hpinkos
I will compute the NEU on the surface and move it to the original height.

I know there is only a very little error, and for performance reasons will not modify the implementation, but i really suggest to illustrate this problem in the documentation.

[2020-07-22 08:51] thw0rted commented on #9047
I don't think I understand.  The memory usage should be based on input texture size in pixels, and shouldn't depend on the ("output") rendered texture size in world coordinates, right?  Or, you're saying that to conserve memory, the world-coordinate size is being passed as 16-bit packed values?  And no other existing use cases exceed 16-bit world-coordinate sizes so it's not a priority?

As for ho

[2020-07-22 13:24] konashredbiker commented on #9046
Also in [EasingFunction ](https://cesium.com/docs/cesiumjs-ref-doc/EasingFunction.html?classFilter=EasingFunction#.QUADRACTIC_IN) `QUADRACTIC_IN` is probably a typo. Same for out and in_out.

[2020-07-22 13:36] OmarShehata commented on #9046
Thanks for reporting these @konashredbiker ! Feel free to open a PR to fix these if you'd like, see the contributing guide here: https://github.com/CesiumGS/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request

[2020-07-22 14:57] hpinkos commented on #9047
It has to do with GPU memory, not texture size.  Every billboard allocates these attributes in the vertex shader: https://github.com/CesiumGS/cesium/blob/master/Source/Shaders/BillboardCollectionVS.glsl#L4
To conserve memory, the width/height are packed as a 16-bit value.  Compressing these and other values lets us use one vec4 attribute to represent 6 or 7 different values instead of having 6 or

[2020-07-22 15:08] hpinkos commented on #8672
@mramato can this be closed?

[2020-07-22 15:09] mramato commented on #8672
Yep, thanks.

[2020-07-22 15:09] #8672 closed

[2020-07-22 17:18] javagl commented on #9047
So if I understood this correctly, then the point of this compression is that instead of storing the sizes of 1024 billboards as 4 byte + 4 byte (taking 8KB), the sizes are stored as 2 byte + 2 byte (taking 4KB, plus advantages for passing the data to the shader).

I'm not familiar with the specific API, but from quickly skimming over it: A workaround *might* be to split a 100000x50000 billboard i

[2020-07-22 21:14] YoussefV opened #9054 "Update docs in `Model.js` to point to correct url for `KHR_texture_basisu` extension"
With [KTX2 integration nearing](https://github.com/CesiumGS/cesium/pull/9040), we'll be adding support for the `KHR_texture_basisu` extension in GLTF's. This is just a reminder that the [url pointed to](https://github.com/CesiumGS/cesium/pull/9040/files#diff-bcedb35459e5bed46206bad4990bc7f1R176) in the jsdoc in `Model.js` currently points to a PR as the adoption of `KHR_texture_basisu` is not yet

[2020-07-23 01:52] CodeBoySun opened #9055 "how can I get cesium API for shader which like 'czm_'?"
how can I get cesium API  for shader which like 'czm_'?

[2020-07-23 06:34] smills2929 commented on #8481
Is this something that is getting any attention? It definitely causes significant performance issues for us.

[2020-07-23 07:45] icemagno opened #9056 "Pass the imageryCache from ImageryLayer to its Provider"
Hi,

I'm creating a new Provider to read GeoJSON from a WFS service. In the `requestImage` I just give a blank canvas to the return and take the bounding box of the tile.

So I can ask the Geoserver for the Vector Features inside this "tile" and convert it to an extruded polygon. Then I create an Entity and add to the viewer.

All is working fine but I need to implement a kind of discard procedure

[2020-07-23 08:06] jony89 opened #9057 "cesiumWorkerBootstrapper does not have cache busting"
Latest cesium version has changed the file `cesiumWorkerBootstrapper`

yet under Build/Cesium/Workers/ the file `cesiumWorkerBootstrapper` does not have cache busting, i.e no hash to this file. most other files seems ok.

which caused to latest version to break until hard refresh is done.

[2020-07-23 13:11] IanLilleyT commented on #8481
Sorry for the lack of updates. The strategy is still the same but I haven't had time to work on this (and not sure when I will). The main piece that's missing is the ray-heightmap intersection which would be similar to the algorithm described here: https://www.gamedev.net/forums/topic/672036-intersect-ray-with-heightmap/5254121/. We're dealing with a 2D grid on a curved surface (earth), so everyth

[2020-07-23 18:32] Maarondesigns opened #9058 "can't free memory used by loading GeoJsonDataSource, even when not added to viewer"
When calling GeoJsonDataSource.load multiple times the memory usage continues to rise and never goes back down, even when the datasource is never added to the viewer, no entities are created/shown and there is no way to 'unload' the datasource.

My use case is increasing polygon resolution as the user zooms in, and decreasing when not visible on the screen or zoomed out. Once the higher resolution

[2020-07-23 19:08] stuartmarsden commented on #8481
It would be good in the interim to have a simple way to reduce the resolution for heightmaps. I don't know where to look in the code. I assume it just makes a simple grid based on the resolution of the heightmap image. So should just be possible to only sample every set number of pixels or better if you could average. You will get worse terrain but at least it would be usable. Obviously expose the

[2020-07-23 23:24] IanLilleyT commented on #8481
The API gets in the way here. All terrain providers, heightmap or not, go through the public [TerrainProvider](https://cesium.com/docs/cesiumjs-ref-doc/TerrainProvider.html) interface. Any property we add to that has to be supported by non-heightmap terrain as well and that becomes a lot more difficult.

We could potentially get around this by adding some `decimation` property to [HeightmapTerrain

[2020-07-24 00:37] likangning93 commented on #9023
Sorry for the slow response! The packing/unpacking technique didn't look familiar enough to me despite what `git blame` would suggest, so I took a dive through some of the relevant PRs and looks like it originated here: https://github.com/CesiumGS/cesium/commit/dacc45254559237ed68945c69a3b66a423dadc28#diff-a99111718fc832d03c79b3ec06c028a7R514

There's some reference to "discussions offline" but I

[2020-07-24 00:53] likangning93 commented on #9023
I put together a smaller Sandcastle for testing this, it's [here on the current deployment](https://sandcastle.cesium.com/#c=dVRtT9swEP4rVj4FqTjpWmALBQ0VpiHB1gHbPizT5CbXxppjZ7YT6FD/+y6Jw5ICVVT73p67e852xTSpONyDJidEwj2Zg+FlTr81Oj/2kkaeK2kZl6Bjb0QeY0kIz9ka9GahVcVT0FE/+I4LuGbFLeiKJ3A59PSbcEJKLaIuYFlykV6rtBTwVQvMemYMWBPcwYMtNZjgE8OViQumbXZ5GXt7oxpk2y5LZuCKbUAvePK7LmXFhIHGtAaVqHSo0/CnBGNvQKIBk0JErC5r23b

[2020-07-24 13:07] dennisadams commented on #9023
`Galaxy A20` with `ARM Mali-G71`.

In my case the two screenshots look pretty much the same:
1.71 | branch
-- | --
<img src="https://user-images.githubusercontent.com/29460712/88391854-a643cf00-cdc3-11ea-9946-150c684f9ad0.png" width="250">  |  <img src="https://user-images.githubusercontent.com/29460712/88391858-a774fc00-cdc3-11ea-9866-99ef1c81d5ae.png" width="250">

But that's because they are bo

[2020-07-24 14:11] lilleyse commented on #9023
Awesome, nice quick fix @likangning93. Could you open a PR?

[2020-07-24 15:19] Maarondesigns opened #9059 "Odd graphics issue with semi-transparent polygons on iOS"
On iPhone 11  (haven't tested on other iPhones) the fill inside semi-transparent polygons has odd rings on top of them that can be seen in [this video](https://www.youtube.com/watch?v=bVfVp74Gv-M). It may be an issue related to the resolution/definition that the screen is trying to render. I have noticed other odd issues on iOS regarding polylines being 'chopped up' into little parallel segments w

[2020-07-24 16:36] #9023 closed

[2020-07-24 20:54] OmarShehata commented on #9059
@Maarondesigns can you share a Sandcastle to reproduce?

[2020-07-24 20:56] OmarShehata commented on #9058
@Maarondesigns the easiest way to reproduce this in Sandcastle is by uploading your GeoJSON to Cesium ion (https://cesium.com/ion) and loading it from there. That'll make it easier for us to investigate this issue.

[2020-07-24 20:58] OmarShehata commented on #9055
You can post on the community forum (https://community.cesium.com/) more details about what you're trying to do and we can point you in the right direction!

[2020-07-24 20:58] #9055 closed

[2020-07-24 21:00] OmarShehata commented on #9057
Doesn't this apply to all files in the library that are served statically and fetched at runtime? And that could be something the application can handle based on how you're serving those files/by serving them under a folder like `Cesium/1.71/Build/` etc.

[2020-07-24 21:29] OmarShehata commented on #9035
Is this related to or the same as https://github.com/CesiumGS/cesium/issues/6735 @likangning93 ?

[2020-07-24 21:35] sparsematrix commented on #9035
I should probably add that I am using 1.67 currently as it does not present this issue. One of my colleagues reported to me that it was the latest he found that still worked.

[2020-07-24 21:35] OmarShehata commented on #8319
It would be great to see too, this but I'm not sure when exactly we'll be able to get to it.

[2020-07-24 21:36] jony89 commented on #9057
True. yet, cesium is a bit different. since `cesium` is the one who fetches the files under `/Workers` and by that `cesium` lib requirement is to provide statically served files from directly from the `node_modules`

This can be seen on every cesium installation, especially with `webpack`

https://cesium.com/docs/tutorials/cesium-and-webpack/

See the lines here :

[code]

So normally you are corr

[2020-07-24 21:36] OmarShehata commented on #9035
@sparsematrix that information helps a lot. If you're able to do a git bisect to determine exactly which commit caused this issue, that'd help narrowing it down. That's what I would do next.

[2020-07-24 21:39] sanjeetsuhag commented on #8982
@rapha-opensource I've been experimenting with Svelte and I wrote up a post on the community forum about (using CesiumJS in a Svelte application](https://community.cesium.com/t/using-cesiumjs-with-svelte/10341).

[2020-07-24 21:53] OmarShehata commented on #9056
I'm not sure that using an imagery provider to create entities in this way is the best approach. It sounds like your goal here is to essentially extend 3D Tiles to use vector data, which is on the roadmap as I believe you're aware (see https://github.com/CesiumGS/cesium/issues/2132).

In the meantime, if you're implementing this yourself it may be easier to write your own custom primitive that imp

[2020-07-24 21:53] #9056 closed

[2020-07-25 01:22] icemagno commented on #9056
Hi Omar, yes, I have no idea how heavy will be the solution a long term, but I have good results until now. I can load standard GeoJSON from a Java service endpoint or Geoserver providing OSM data with easy.

My concern now is just know how to discard the Entities I've created when the user move alway from the area to not eat memory.

Now I'm using the same concept to load small point cloud data f

[2020-07-25 14:06] icemagno commented on #9056
I've found a temporary solution anyway:

First I need to pass the viewer to the Provider:

var buildingsProvider = new MagnoBuildingsProvider({
  debugTiles : false,
  viewer : viewer,
  activationLevel : 17,
  sourceUrl : url,
  featuresPerTile : 200,
  whenFeaturesAcquired : function( entities ){
    console.log( entities.length + " buildings received." );
  }
});

Now I made it obligatory in Pr

[2020-07-25 16:26] icemagno commented on #9056
https://community.cesium.com/t/yet-another-topic-about-vector-tiles/10352

[2020-07-26 14:35] dennisadams commented on #9023
@likangning93
I've tried your solution in a few other places and got some nice results:
1. Adding `highp` in https://github.com/CesiumGS/cesium/blob/67a36c7cf55e2219c9053ed278b1bbb0c4d1feb3/Source/Shaders/Builtin/Functions/shadowDepthCompare.glsl#L7
fixes #7176.
- In the [shadows sandcastle](https://sandcastle.cesium.com/?src=Shadows.html), if you check the `soft shadow` option and decrease the sh

[2020-07-26 22:39] icemagno commented on #9056
Here is my pointcloud first try:
https://www.youtube.com/watch?v=OEbfyxOjb7g

![screen](https://user-images.githubusercontent.com/4127512/88491210-c61bf400-cf77-11ea-8d1d-ebf2db069e11.jpg)

[2020-07-27 10:11] blauwepiet opened #9062 "Batch attributes checked for 'value' while polyline geometry attribute has 'values'"
When making polyline geometry (not entities because they do not scale with a lot of polylines) I get the following rendering error:

`An error occurred while rendering.  Rendering has stopped.
undefined
TypeError: Cannot read property 'length' of undefined
TypeError: Cannot read property 'length' of undefined`

I looked through it and it seems that in the function `createBatchTable` the attributes

[2020-07-27 12:51] OmarShehata commented on #9062
Given a geometry, you need to create a `GeometryInstance`, and then pass an array of that to the `instances` of a primitive (you're passing the geometry directly).

[Here's a Sandcastle creating a polyline primitive](https://sandcastle.cesium.com/#c=bVJRi9swDP4rIk8J9BxuxxjkcmWlG9vBYION7eFyD26itGaOHWQnRzb632fHSa/pGghY0ifp+yT1nKAX+IIED6DwBbZoRNewn6MvLqJytLdaWS4UUhEl94UqlEQL0jmMS3t6Di5vsrYzh3gq8k3LwX

[2020-07-27 12:51] #9062 closed

[2020-07-27 13:48] lilleyse commented on #9023
We should profile to see, but performance is a lesser concern if `highp` ends up fixing these artifacts.

Yes, and that's something we're not checking everywhere. See https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/WebGL_best_practices#Be_precise_with_GLSL_variable_precision_annotations

[2020-07-27 13:50] lilleyse commented on #9023
@dennisadams could you open a PR and copy your notes over there? I don't have a good device to test with but @likangning93 does.

Thanks for looking into this. I hope we can knock out as many mobile rendering bugs as possible.

[2020-07-27 18:19] jakeflorentine commented on #932
Do we have a current plan/timeline for this issue?

[2020-07-27 22:20] OmarShehata commented on #932
@jakeflorentine  We don't have a timeline for this at the moment. Feel free to make a post on the Cesium community forum (https://community.cesium.com/) if you have performance questions. There may be things you can do to speed up your app depending on what you're doing.

[2020-07-27 23:12] Maarondesigns commented on #9059
Well, after uploading the geometries to cesium ion and then banging my head against my desk because it was not reproducing this behaviour... I updated my site from cesium 1.62 to 1.71 and it is fixed.

[2020-07-27 23:34] Maarondesigns commented on #9058
[Here is a sandcastle ](https://sandcastle.cesium.com/#c=1VZxb+I2HP0qHv9ckHqGtGt7Ba4aB1wvCEhXcu1xY6pMYhqDY+dsBxZOfPfZARpCqXTbpGmLkCD2ez877/38SKUCbgRiCrSwJEnUHQLk+1hKoDhIeSIA4QwgKbGSY7bBQIczGOApSqhqZmCPzzED78G4hNNuOLnxiUu6zueVYw+IIx12d+63nAtnHn+5b3WvoAZ9C27mGuScj2Yj2/WcP9yhPRvN5quedzfve45yvQ9Rn9i0v+qng7af6jF7dPqZ9Frd+Ksu1p+NVq7X1MUHs8nZB+qnzsWDXtw/cwyGjdJuYLCjL78Sd9ax3bZ/OpjpDbW/XsFppxvb8d3tbdcPRC/

[2020-07-28 01:35] OmarShehata commented on #9059
Thanks for confirming! This is why it's always helpful to include the CesiumJS here :slightly_smiling_face:

[2020-07-28 01:35] #9059 closed

[2020-07-28 05:11] chris-cooper opened #9066 "3D tile wireframe display is tangled"
There's some [assumptions in the code](https://github.com/CesiumGS/cesium/blob/1.71/Source/Scene/Model.js#L4449-L4450
) that triangle winding will support display as a LINES primitive which seem unlikely with real world data.  e.g. in [the sandcastle](https://sandcastle.cesium.com/?src=3D%20Tiles%20Inspector.html&label=3D%20Tiles)

![image](https://user-images.githubusercontent.com/484870/88621630

[2020-07-28 15:30] OmarShehata commented on #9066
I'm marking this as an enhancement because I think the current `debugWireframe` mode is intended for debug purposes, and a nicer looking wireframe for presentation would need a different technique.

[2020-07-28 18:28] DanielLeone commented on #8481
Hi @IanLilleyT 😄

I had a further crack at the octree approach, continuing from where you left off on the `fastPicking` branch.

The immediate bottleneck I could see, was just transferring the octree data structure across the worker threads. This caused both delays on the worker thread, and the main thread as it read the response. (main thread picture here)

![image](https://user-images.githubuser

[2020-07-28 23:41] lilleyse commented on #6735
I'm testing https://github.com/CesiumGS/cesium/pull/9064 this on a Lenovo IdeaPad Duet Chromebook. Good results so far. There's subtler discontinuities on frustum switches but it's so much better than before. I tested every Sandcastle in this issue (@likangning93 whew -- lotta work went into this github issue).

Note: I don't see the banding artifacts in https://github.com/CesiumGS/cesium/issues/6

[2020-07-28 23:54] lilleyse commented on #7273
The original sandcastle code gets a 404 when loading the KML, but I think this is the same issue as https://github.com/CesiumGS/cesium/issues/6735 judging by the screenshot @Maarondesigns posted.

@WilCodeBoer @Spec1alFx @damenking @Maarondesigns if you have a chance, could you test the branch in https://github.com/CesiumGS/cesium/pull/906?

[2020-07-29 00:56] IanLilleyT commented on #8481
Wow, thanks for taking this further! Flattening the octree works wonders! FYI for better runtime performance testing, go to the High Dynamic Range sandcastle, which I've hijacked for picking.

10 frames of latency for generating an octee for ArcGIS... still too much I think. It just feels wrong that it takes up almost the entire worker time. Also we don't want to slow down Cesium World Terrain by

[2020-07-29 01:02] IanLilleyT commented on #8481
Also, feel free to clean up and make a PR with what you have or any new optimizations. It doesn't have to be final. That would at least help this get to the finish line.

[2020-07-29 01:33] The-End-Hero opened #9068 "How to make a lot of 3dmax files into one 3d-tiles? For example, there are 200 files with a total size of 6g."
How to make a lot of 3dmax files into one 3d-tiles? For example, there are 200 files with a total size of 6g.

[2020-07-29 01:44] #9068 closed

[2020-07-29 01:56] OmarShehata commented on #7273
@lilleyse I think you meant to link to https://github.com/CesiumGS/cesium/pull/9064

[2020-07-29 12:32] lilleyse commented on #7273
@OmarShehata oh yes, thanks for pointing that out, I fixed the link

[2020-07-29 13:20] dennisadams commented on #6735
@lilleyse I hope the polylines gifs got mixed up.

I've also noticed some frustum artifacts in entities and in classification.

[2020-07-29 13:20] Spec1alFx commented on #7273
@lilleyse I'll be happy to test the branch but I need some help. I cloned the repo and then npm install / npm run build but I have the following error:

                ...taskOptions
                ^^^

SyntaxError: Unexpected token ...
    at createScript (vm.js:56:10)
[...]

Can we have a live demo? Thank you

[2020-07-29 13:53] dennisadams commented on #6735
Before:
![Peek 2020-07-29 16-27](https://user-images.githubusercontent.com/29460712/88807035-db806080-d1b9-11ea-8257-47d499003a28.gif)

After:
![a](https://user-images.githubusercontent.com/29460712/88807992-fa332700-d1ba-11ea-9591-b88fbb3eb897.gif)

Certainly better, but still has a problem on the frustum split . Notice the discontinuity on the polyline too.

[2020-07-29 15:45] lilleyse commented on #6735
@dennisadams that's a different issue that @IanLilleyT started looking into: https://github.com/CesiumGS/cesium/issues/8953.

[2020-07-29 17:23] bluninja1234 opened #9072 "Why does camera.flyto() not return a promise or take a callback?"
Using `viewer.flyTo(entity)` returns a promise that gets resolved when the viewer's camera has zoomed to the entity. However, when using `camera.flyto(options)`, there is no promise returned. Why is this, or is it just an error in the documentation?

[2020-07-29 18:22] OmarShehata commented on #9072
@bluninja1234 `camera.flyTo` takes a `complete` function callback that is called when the flight is complete. It's a different API from the `viewer.flyTo`. See: https://cesium.com/docs/cesiumjs-ref-doc/Camera.html?classFilter=camera#flyTo.

For general questions please use the Cesium community forum: https://community.cesium.com/.

[2020-07-29 18:22] #9072 closed

[2020-07-29 20:30] lilleyse commented on #7273
@Spec1alFx - you can test with these:

Sandcastle: http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/fix-highp-live-demo/Apps/Sandcastle/index.html
CesiumJS build: http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/fix-highp-live-demo/Cesium-1.71.0-fix-highp-live-demo35240.zip

[2020-07-29 20:50] lilleyse commented on #6735
Better view of the frustum discontinuity on an ipad 4:

![developmentGround Polyline Material - Cesium Sandcastle](https://user-images.githubusercontent.com/915398/88851963-8f362000-d1bb-11ea-97cb-d9944e7c16a6.png)

[2020-07-29 21:59] lilleyse commented on #7176
https://github.com/CesiumGS/cesium/pull/9064 fixes this for all the Android devices we've tried so far but I still see lots of artifacts in the original sandcastle on an iPad Pro and iPad 4

[2020-07-30 07:19] yoyomule opened #9074 "I hope cesium can realize the presentation of 3D text."
Hello, I hope cesium can realize the presentation of 3D text.
like this:
![image](https://user-images.githubusercontent.com/10000818/88892846-0df09300-d278-11ea-8ba5-2cd4d1b20c7e.png)

[2020-07-30 13:33] Spec1alFx commented on #7273
@lilleyse thank you! I don't have much time now so for now I just tried two demos. I will try all clamp to ground demos.
Current results:

Galaxy Note 9
Textured polygon: displayed, but when I zoom in it partially disappear and then partially reappear
Polyline: OK with no glitches! Nice

iPhone 6 / iOS 12
Exactly the same behaviour of the Galaxy Note 9

[2020-07-30 13:46] lilleyse commented on #7273
Thanks @Spec1alFx, I see the same results.

The polygon disappearing issue is being tracked in #8953

[2020-07-30 16:59] OmarShehata commented on #9074
I'm not sure if it's a common enough use case that it should be built-in to CesiumJS? You can of course generate geometry like this and load it in CesiumJS as part of your app.

[2020-07-30 16:59] #9074 closed

[2020-07-30 21:33] dennisadams commented on #6735
Actually this bug appears to predate #8953 as described there.
Also, I don't see any artifacts in that sandcastle (`3D Tiles Photogrammetry Classification.html`) which is classified by a 3D tileset, compared to the one I mentioned (in `Classification Types.html`) which is classified by a polygon.
I'll try to do some more debugging if I have time.

[2020-07-31 11:42] atlight opened #9076 "GeoJSON Polygons in 3D aren't clamped to ground when requested"
The logic at https://github.com/CesiumGS/cesium/blob/master/Source/DataSources/GeoJsonDataSource.js#L513-L517 is quite non-obvious. I can ask for a 3D LineString in GeoJson to be clamped to ground, and it works fine, so why shouldn't this be a possibility for a 3D Polygon?

The Sandcastle example has a yellow LineString and red Polygon (actually MultiPolygon but I don't think it matters).

Sandcas

[2020-07-31 18:59] bn-dignitas commented on #8006
So many billboard tickets out there, but I think this is the most relevant to what I'm seeing and I wanted to add my observations. So here it goes...

Stationary billboards do not clamp correctly when entities are removed just before terrain is reloaded and entities are added while terrain is still loading.

Note that in the example code(see link below), all entities are removed, but even if one o

[2020-07-31 19:12] bn-dignitas commented on #8006
Note that the delay in loading entities does not always help and also I noticed that the customData length continues to grow each terrain reload so that is a bit worrisome.

[2020-08-01 16:59] sungatetop opened #9077 "Does Cesium could export Geometry like threejs??"
:exclamation: Please use the [community forum](https://community.cesium.com/) for asking questions about how to use Cesium and best practices. The core Cesium team actively monitors the forum and we love seeing what people are working on! :exclamation:

[2020-08-01 20:30] #9077 closed

[2020-08-02 01:42] atlight commented on #9076
I have had success by changing the section of code linked above to:

[code]

[2020-08-02 19:41] OmarShehata commented on #9076
I think this behavior is consistent with how polygons work generally in CesiumJS's Entity API. If (1) each vertex has its own height and is being used with `perPositionHeight: true`, or (2) you define an explicit `height: Number` for the polygon, both of these will make the polygon no longer clamped to ground.

In this case, removing the height coordinate from the given list of coordinates in the

[2020-08-03 05:52] atlight commented on #9076
I agree. Since it's not documented, it looks like a bug 🙂

In my mind there is no reason why `clampToGround` shouldn't behave consistently across LineStrings, Polygons and Points (my code doesn't use Points so I am not sure what the current behaviour is there). So I'd support any solution that achieves consistency.

[2020-08-03 12:59] IanLilleyT commented on #8953
Haven't had a chance to look into this enough, so it should be pushed to the next release (again). It's looking like a multi-frustum problem though.

[2020-08-03 16:25] Maarondesigns opened #9078 "Mapbox not working"
Mapbox currently getting 401 error. Happened on my local but is also not working on cesium site.
![image](https://user-images.githubusercontent.com/40376601/89204556-4b109a00-d584-11ea-97e6-448f9ab0c8d1.png)

[2020-08-03 16:46] OmarShehata commented on #9078
@Maarondesigns it looks like you're using the free demo token included in CesiumJS. You need to create a Mapbox account and get a token to use in your app when using this imagery provider in your application.

Mapbox has decided to no longer provide a free demo token for the Cesium community. This is listed as a breaking change in the latest release here: https://github.com/CesiumGS/cesium/blob/ma

[2020-08-03 16:46] #9078 closed

[2020-08-03 16:57] Maarondesigns commented on #9078
Ah, bummer. Thanks!

[2020-08-03 18:05] AliFlux opened #9080 "Custom atmospheric lighting"
Hi.

It would be great if we could set the lighting color of the atmosphere (which is apparently plain white). To be clear, I am talking about the lighting which can be set using `lightingFadeInDistance` and `lightingFadeOutDistance`. The subtle rim halo around the globe could be made better with customization.

There is option to change the hue/brightness/saturation of the atmosphere, but that af

[2020-08-03 21:58] Maarondesigns opened #9081 "Improve MapboxImageryProvider documentation"
After the recent change removing default mapbox imagery, I struggled for a few hours to implement it on my own. The documentation for `MapboxImageryProvider `only gives one tiny example which only works for satellite imagery with no labels. I was not ever successful getting any other mapbox imagery to display using that class, however, I eventually got it to work using `UrlTemplateImageryProvider`

[2020-08-04 01:53] OmarShehata commented on #9081
@Maarondesigns which doc were you looking at? This one has an example that works with `streets-v11` or `satellites-streets-v11` etc:

https://cesium.com/docs/cesiumjs-ref-doc/MapboxStyleImageryProvider.html?classFilter=MapboxStyle

This would be the easiest way to add it to your app:

[code]

`MapboxImageryProvider` uses the old API (see doc on Map id being deprecated https://docs.mapbox.com/help/

[2020-08-04 01:55] OmarShehata commented on #9081
Perhaps it would be best to remove the old provider, since there's nothing you can do with the deprecated API that you can't do with the new one.

[2020-08-04 05:38] sofasama opened #9083 "Lighting of models in 2D map view"
I have a problem like #8014, the polygon entity is darker when it changes to the 2D view.

In my project, the temporary solution is set height value of this polygon entity to 'undefined', but I think maybe it has a better solution.

I set an example below, I tried this [Lighting code](https://sandcastle.cesium.com/?#c=rVdfb+I4EP8qVl8IamoK19NpD7a6LW3V3nEqEqj3gnRyk4FYdezIdmjZW777jROSOEDRnm7zsIs9Mz/P

[2020-08-04 12:45] sraimund opened #9084 "TypeScript: createDefaultImageryProviderViewModels() and similar methods are missing"
First of all, thank you for adding TypeScript support. It's really nice to have the API documentation available in the IDEs. When adapting my code to the [webpack-cesium-example](https://github.com/CesiumGS/cesium-webpack-example), I noticed that `import { createDefaultImageryProviderViewModels } from "cesium";` works, but the method is not included in the definitions file, thus the IDEs (e.g. Web

[2020-08-04 14:07] DanielLeone commented on #8481
Thanks for all the suggestions @IanLilleyT

Unfortunately I can't work on this during the day at the moment, so it's a very spare time thing right now. If yourself or someone else is keen to get this done; then feel free to continue from my additions or not :)

My current plan/work in progress is getting some integration/unit tests working for a CWT tile(s) and ArcGIS tile(s); before I continue op

[2020-08-04 17:45] IanLilleyT commented on #8481
Those two optimization ideas are good. I agree with the plan to optimize the JS version first, and then convert to WebAssembly if necessary. And yeah, draco is the only one so far. So then it's a matter of deciding what programming language to use, etc, etc and may involve input from other team members. So that's more for the distant future, even though I think it could speed things up a decent am

[2020-08-04 17:51] OmarShehata commented on #9083
I think this is a duplicate of https://github.com/CesiumGS/cesium/issues/5730.

[2020-08-04 17:51] #9083 closed

[2020-08-04 19:26] lilleyse commented on #8953
`git bisect` points to https://github.com/CesiumGS/cesium/commit/2da52de16d6a3022278a328d8242f17e10f28f02

It's a multi-frustum problem that can be triggered by disabling log depth.

[Local sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=vVXbbts4EP0VwS+RsC6tq2U1TrCObSAGmjZw1C4WdVEw0tgiSokCSTnVFvn3HVmyYzsBdp+qF4mcczhnLhxtqTS2DJ5AGldGAU/GFBSrcvJlt2deJLvlVBSasgLkRd/4tSoMfDRIiVv3UmxZCvL

[2020-08-05 03:15] sofasama commented on #5730
@OmarShehata

It doesn't seem to solve this problem, the darker color doesn't change. Is there another solution?
![lighterror](https://user-images.githubusercontent.com/30249119/89367684-3e1eb280-d70c-11ea-9338-42529f3a3591.gif)

[2020-08-05 17:58] lilleyse commented on #817
Technically this is still a bug but almost all devices support `GL_FRAGMENT_PRECISION_HIGH` nowadays.

If you change the code below to force the `#else` path CesiumJS will crash with

https://github.com/CesiumGS/cesium/blob/680de81761f3c35789413277db7ba75794598d96/Source/Renderer/ShaderSource.js#L237-L245

[2020-08-05 19:27] #6735 closed

[2020-08-05 19:27] #4752 closed

[2020-08-05 19:27] #7273 closed

[2020-08-05 19:28] cesium-concierge commented on #7273
Congratulations on closing the issue! I found these Cesium forum links in the comments above:

https://groups.google.com/d/msg/cesium-dev/oHWKqmeWx9o/dpmDl-BIBAAJ

If this issue affects any of these threads, please post a comment like the following:

[2020-08-05 19:50] hmartiro commented on #2132
+1 for Mapbox vector tile support!

[2020-08-06 10:47] OmarShehata commented on #6252
Just ran into this today: https://community.cesium.com/t/strange-error-when-loading-my-czml-file/10467. Here the issue was a missing "epoch", and the error message tells you there's a missing JulianDate but it's hard to trace exactly what is missing.

CesiumJS already has a mechanism for catching errors without slowing down the runtime. Is there any reason not to add checks like this throughout CZ

[2020-08-06 12:57] dennisadams commented on #9032
With #9064 merged, precision is not an issue anymore, even on my device.

[2020-08-07 23:10] jean-knapp commented on #8282
I`m also trying to build a MGRS grid, kinda like a lat/long grid, but a bit more complex. So I need to take into consideration zoom, camera position and so on, and an imageryprovider this flexible would be great to work with.

[2020-08-10 07:21] LHolst opened #9086 "wrong version export in npm package source"
npm package of 1.72.0  @ `https://registry.npmjs.org/cesium/-/cesium-1.72.0.tgz`

`Source/Cesium.js` contains VERSION 1.71

[code]

[2020-08-10 14:37] mramato commented on #9086
Thanks @LHolst I can confirm this issue.

@baothientran Any ideas how this could have happened?  @lilleyse we haven't changed the release instructions recently, have we? Both built versions of Cesium correctly identify as 1.72, so I think this is a mostly harmless mistake regarding order of operations.  Perhaps a `git clean` step was skipped?

[2020-08-10 14:40] parthgundi opened #9087 "Edit metadata OSM buildings/3D tiles"
Hi,

Is it possible to edit metadata about buildings in the OSM buildings dataset e.g. if I want to add a field for 'for-sale' & consequently style the buildings accordingly on the map.

[2020-08-10 14:48] baothientran commented on #9086
I just remembered I switched to a different branch and make a build in the middle, then switch back to master. so CesiumJS is not cleaned again

[2020-08-10 15:10] mramato commented on #9086
Spoke with @baothientran offline, we're pretty sure the only difference here is the incorrect version number in Cesium/Cesium.js.

If we have a reason to believe otherwise, we can publish a 1.72.1, but for now there's no need.  We'll leave this open until 1.73 in case anyone else stumbles on the issue.

[2020-08-10 15:53] OmarShehata commented on #9087
This isn't currently possible without regenerating the 3D Tileset, but it is a feature we've considered. Let's move this discussion to the [Cesium community forum](https://community.cesium.com/). Can you create a new post there with a bit more background about your use case? There's a few different approaches you can take depending on what you're trying to do.

[2020-08-10 15:53] #9087 closed

[2020-08-10 20:08] emackey opened #9088 "Add support for R11F_G11F_B10F, and/or fix IBL instructions in Sandcastle"
In the [Image-Based Lighting Sandcastle Demo](https://sandcastle.cesium.com/?src=Image-Based%20Lighting.html&label=All), there are comments recommending how to create a `.ktx` file for use as an HDRI lighting environment.  The instructions recommend downloading [Google Filament](https://github.com/google/filament/releases) and using their cmgen tool (from the bin folder).

So I tried that with Fil

[2020-08-10 20:29] emackey commented on #9088
Worth noting that the old cmgen, at the time this demo was first published, had this note in the command-line help message:

But the latest cmgen has this note instead:

[2020-08-10 20:33] jay-hennen opened #9089 "Line Geometries around the antimeridian crashing"
Sandcastle example: [here](https://sandcastle.cesium.com/#c=nRdtb9o4+K94/dIE0qSQtreDdrq+bZoOrZV6232A6uQGAy7GjmwHxqb+93vsvEDAMLRUFcnj5/3dcyyRSDUVXKErNMp4Yt49H/0ccASPJDqTvPwyTxQpojXlY6QnVCEtkJYZyT9meEoUohothJyuSFRCOInvHjhbdtAIM0Xys7fugJv/AZ+DGnNKFkSCFpws0C1RNJuF3yzMO07s563gGlNO5HFQKu35vmUQRU9EoyxFlKeZRkOssQHGaCIk/WHoGGJAqgxULwieIqWx1D2sjQlqQkc6R0A4kUKBYROCWu9Pc90q3CvU+uPP8Lybg4F5TpMr/ZEJrOP2tZR46RmA

[2020-08-10 21:38] lilleyse commented on #9088
@YoussefV you ran into something similar right? I know there were a few open threads about Filament, the KTX1->KTX2 converter, and CesiumJS. Where did we settle on those?

CC https://github.com/CesiumGS/cesium/pull/9040

[2020-08-11 03:28] 3DGISKing commented on #9066
Maybe we need additional renderer resource(index buffer) for correct rendering wireframe.

[2020-08-11 13:07] YoussefV commented on #9088
Yep, so for `R11F_G11F_B10F` pixel formats, you can use the `WebGLConstants.R11F_G11F_B10F` for the format of the image. The IBL sandcastle instructions didn't work for me either when i tried converting the kiara environment map to `.ktx2`, so I had to basically rewrite the original `.ktx` binary.

[2020-08-11 14:46] hpinkos commented on #9089
@jay-hennen errors like that usually occur because you have a cartesian position at (0, 0, 0) that can't be projected to 2D.  Since you're using a custom geometry, I'm not exactly sure where the problem is coming from, but I think it's in your geometry type and not a Cesium bug.  If you need more help debugging, please post to the [cesium community forum](https://community.cesium.com/).

[2020-08-11 14:46] #9089 closed

[2020-08-11 17:11] Arc128 commented on #9051
can I still use the bing map imagery from my Cesium ion assets to view in sandcastle demos. in Cesium 1.73

[2020-08-11 17:13] hpinkos commented on #9051
@Arc128 yes, your bing imagery from ion will continue to work without you having to make any code changes.  This deprecation is just a little bit of code cleanup to remove a function we're no longer using.

[2020-08-12 01:54] ptrgags opened #9090 "ES6 syntax not caught by linter in Travis"
Today when debugging a failed Travis build of an internal feature, @mramato and I tracked it down to a line where I had used `const` rather than `var`. This was not caught by the `npm run eslint` step of the Travis build.

We should check the eslint settings, maybe there's a default ECMAScript version that we're unintentionally using?

@mramato do you have any hunches of what the problem might be?

[2020-08-12 11:51] mramato commented on #9090
My best guess is that when we switched to ES6 modules, it was unintentionally toggled on.  I'll take a look later today.

[2020-08-12 15:02] OmarShehata commented on #9087
I was wrong, it's possible to edit feature properties in a 3D Tileset in a number of ways. This forum thread explains how to add new properties and style then on the fly, as well as how to make those changes persist: https://community.cesium.com/t/edit-metadata-osm-buildings-3d-tiles/10540/2?u=omar

[2020-08-12 23:59] mramato commented on #9090
The issue is that the parser options we enable for eslint are (reminder 2015 == 6):

[code]

This is because in order to use modules, we're required to set the ECMA version to at least 6. So this was introduced all the way back in the ES6 migration last October, but I guess no one has ran into it until now.

I can't find an eslint rule that diallows use of const/var either so I'm not sure what we

[2020-08-13 09:02] yoyomule commented on #9074
It is hoped that this text is dynamically rendered through the input text, rather than imported from the outside after the model is made, so that the universality will be lost. I think it still has a certain effect, such as making three-dimensional marks on buildings.

[2020-08-13 12:59] onderaltintas opened #9092 "CallbackProperty function should get the entity or object as a parameter"
Hallo from Maxico!
Como estais amigos?

Right now CallbackProperty gets function but inside the function, you can never know which entity's callback property function it is. It was already stated in cesium bug reports that it is about javascript scoping but it is not actually. I didn't understand why in forums and google groups, people insisted on this is a problem of Javascript. Lemme explain the

[2020-08-13 20:22] hpinkos commented on #9092
Hello @onderaltintas!  I agree this would be a useful change to make.  We actually already have an issue open for this (https://github.com/CesiumGS/cesium/issues/3726) so I'm going to close this issue as a duplicate and make a comment in #3726 that you requested this feature

[2020-08-13 20:22] #9092 closed

[2020-08-13 20:23] hpinkos commented on #3726
Also requested by @onderaltintas in https://github.com/CesiumGS/cesium/issues/9092

We might not have time to implement this change in the near future, but are always accepting pull requests if you have a chance to make this change yourself.

One of the main roadblocks right now is that no `Property` currently has access to the `Entity` with which it is associated.  I'm not sure the easiest way to

[2020-08-13 20:41] mramato commented on #3726
Ideally `getValue` would take it as a parameter, but that could get a little weird since the signature is currently `time, result` and normally result goes last.

We might be able to add a general `context` parameter or similar for future extension of the signature and `context` could have `entity` as a property to start.

Not sold on the names and maybe just a `entity` parameter is enough.

[2020-08-13 23:29] mramato opened #9093 "Resource silently fails to load if used multiple times."
Take the below code:

[code]

[Same code in Sandcastle](https://sandcastle.cesium.com/index.html#c=bZBNS8QwEIb/SugpBZni2W4RukdBsOApl2wya4NpIvnosiv+dye1FT+2hJJM5nnmJbMMbDZ4wsB2zOGJ9RhNnuB5qXFRqeXce5ekcRhEVd8JJ9xMXMDoc1D4m3xaq8QCNLQGOb1Z3Mskm2jKFtRlsptok8CIUvMa0oiOH7NTyXjHeM3ehWM0KuXg1qSgyTUsVASpNV8n96Tdf1+B9STc9HWZ9lF+1U3VxnS22BVx+e4plQ+J5WA55U1IIWXC2ByyesUEKsYClta2+Ym22szM6N2VV2LKyhjp5pitHcwFRdW1D

[2020-08-13 23:35] mramato commented on #9093
`resource.clone.head()` also works as a workaround.  So definitely some undesired state being saved across calls.

[2020-08-14 01:07] lilleyse commented on #9093
Without looking too closely, this sounds pretty likely.

The original problem was that 3D Tiles was holding onto request objects and it can be fixed in another way

* Roll back https://github.com/CesiumGS/cesium/pull/8883
* Add the fix here: https://github.com/CesiumGS/cesium/issues/4549#issuecomment-634503841
* Keep the fixes in https://github.com/CesiumGS/cesium/pull/8889

[2020-08-14 08:03] yankai12 opened #9094 "How can I change radius in CircleGeometry"
I have draw  a lot of  circle  ,but I  can  not set a new radius  to change it
   let id= primitive.geometryInstances[j].id;
                let attributes=primitive.getGeometryInstanceAttributes(id);
                attributes.boundingSphere.radius=this.radius;

     primitive.geometryInstances[j].geometry._ellipseGeometry._semiMajorAxis=Number(this.radius);
                primitive.geometryInst

[2020-08-14 13:54] OmarShehata commented on #9094
Please ask your question on the Cesium community forum: https://community.cesium.com.

[2020-08-14 13:54] #9094 closed

[2020-08-14 20:06] OmarShehata commented on #8553
Fixed in https://github.com/CesiumGS/cesium/pull/9003.

[2020-08-14 20:06] #8553 closed

[2020-08-14 20:36] OmarShehata opened #9095 "Support parent/child hierarchy for entities?"
This has come up a number of times on the forum but I don't see an issue for it. The goal is to be able to group entities in a way such that moving the parent entity moves all of its children. It's more or less what the functionality of this PR attempts to do I think https://github.com/CesiumGS/cesium/pull/5817, but perhaps with a more straightforward API so you can just say `entity1.addChild(enti

[2020-08-14 20:48] mramato commented on #9095
#5817 is completely different and has to do with defining position/orientation relative to some other entity/reference frame.

This would indeed be a fundamental change to the entity API and most likely a huge hit in performance.  The general idea is that any kind of composition happens at the application level.

[2020-08-14 20:48] mramato commented on #9095
To be honest though, I'm not really sure what you're asking to change.  Okay, there are parent/child relatinships, what is the impact of that change?

[2020-08-14 20:52] OmarShehata commented on #9095
The child entity's position and orientation would then be relative to the parent.

We can close if this isn't being considered on the roadmap at the moment. I just couldn't find a discussion about this. Making that composition at the application level makes sense.

[2020-08-14 20:58] mramato commented on #9095
This is a completely valid feature request and technically possible today with a callback property, but it would not be implemented as a parent/child relationship.  Instead it would be something like a `PositionOffsetProperty` and `OrientationOffsetProperty` that define position/orientation as relative to another reference frame.  You don't want to couple the capability to offset into a parent/chi

[2020-08-14 21:09] hpinkos commented on #9095
For the record, we already have the concept of `entity.parent`.  but currently it's only used for controlling show/hide.  https://sandcastle.cesium.com/?src=Show%20or%20Hide%20Entities.html

@mramato I also don't get how "#5817 is completely different" than the desired functionality @OmarShehata is requesting.  To me, both are related to being able to control one or more entity's position/orientat

[2020-08-17 16:32] thedevilsgrave opened #9096 "About geometric"
Can I add text or description on geometric shapes

[2020-08-17 16:34] OmarShehata commented on #9096
Please post your question on the Cesium community forum: https://community.cesium.com/.

[2020-08-17 16:34] #9096 closed

[2020-08-18 00:52] fc opened #9097 "Error removing CZML datasource when start and end time in clock interval are the same"
It seems to only throw an error when using the result from the promise.

Code:
[code]

Error:
[code]

Sandcastle example:
https://sandcastle.cesium.com/#c=jVJdT9swFP0rVp5SjTkpe2tDNRT6UC0V1VqQ0IyQcS5g4diVP1KVaf99jh3WQEFaYjnxPfecY/velmrUctiBRmdIwg6VYLhr8HWIpSRhYV0qaSmXoEkymhJJzV4y9OAks1xJVKuFTUfoN5EItV6QvTTCy/3q1iiGu4ckvCbJhCS1Yq4BaUlycsAkbSCg10p41LwBW9DGOwV8jPM3GBOKPXdIHxk49q7Sgm6pCOzT/DT/mo/92OT5J

[2020-08-18 07:04] jony89 commented on #9057
@mramato are you aware of this? I've looked into the gulp file and I saw that `cesiumWorkerBootstrapper` file is excluded from being minified and contain hashed file name, the file is also being hard coded consumed, which is problematic if the filename will contain hash.

[2020-08-18 13:03] OmarShehata commented on #9097
@fc this Sandcastle doesn't throw an error for me. Are you seeing different behavior?

[2020-08-18 14:11] mramato commented on #9097
@fc change `doIt();` to `doIt().catch(e => console.log(e));` and you'll see the error.

Looks like a clear cut bug to me (should hopefully be an easy fix as well)

[2020-08-18 17:22] fc commented on #9097
On the sandcastle, the exception displays in the browser console without needing to log it.

[2020-08-18 17:28] wallw-bits commented on #8992
This is an issue on more than just Svelte, as many bundler plugins check for config in `package.json` (react-native, etc.). The fix is not to remove the `exports` config, but to modify it to also contain `./package.json` as was done in [this commit](https://github.com/uuidjs/uuid/pull/449/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L21).

I recommend re-opening and I'll be happy to add a PR.

[2020-08-18 23:18] kring commented on #8992
Lots of tools need to `require.resolve` package.json, and in the latest versions of node.js it's impossible to do in a package with `exports` unless the `package.json` is explicitly exported. There's lots of discussion about this here:
https://github.com/nodejs/node/issues/33460

But in the short term, I believe adding `package.json` to `exports` is a safe and effective solution. I'm going to re-o

[2020-08-19 03:08] verybigzhouhai opened #9100 "In 2D and Columbus views, the position of 3dfiles is shifted?"
Hi，
Is this a known problem and how to avoid it？
last image is 3d mode.
![image](https://user-images.githubusercontent.com/37999729/90587291-9f19b080-e20b-11ea-82ba-b6dfb0c5c825.png)
![image](https://user-images.githubusercontent.com/37999729/90587325-ad67cc80-e20b-11ea-8074-6633419a2b29.png)
![image](https://user-images.githubusercontent.com/37999729/90587348-bc4e7f00-e20b-11ea-9a02-821e451548ef.

[2020-08-19 05:08] heimiguoguo opened #9101 "In file 'CesiumViewer.js', we can see ' import {...} from "../../Source/Cesium.js"; ' on the top, but Cesium.js doesn't exist in the repository"
Sandcastle example:

Browser:

Operating System:

[2020-08-19 05:29] KeyboardSounds opened #9102 "Use texture-based wireframe rendering for polygons"
Here's a screenshot from [Sandcastle](https://sandcastle.cesium.com/?src=Polygon.html&label=Geometries) showing what the outlines look like at the moment:

![image](https://user-images.githubusercontent.com/3796838/90595206-df365e80-e21e-11ea-843a-508f5828297a.png)

The lines appear aliased (jagged) and in some cases disappear due to depth-fighting.

One solution to this is to use the technique su

[2020-08-19 05:31] KeyboardSounds commented on #9102
Our team (@TerriaJS) are already looking at implementing this in our fork of Cesium because it's particularly important for our use cases (eg. rendering WFS, GeoJSON), but I thought it was worth raising an issue upstream in case you were interested in an eventual PR.

[2020-08-19 05:36] kring commented on #9102
This would be excellent:
* It will render faster than the current implementation
* The lines will look nicer; they'll be anti-aliased
* The lines won't look totally busted when rendered over solid geometry (it's not so bad with translucent geometry, as in the screenshot above).
* The big one: outlined ground primitives should actually work!
* Unless there's a gotcha I've missed, the implementation

[2020-08-19 07:24] SuperManZTF opened #9103 "the poor performance of polyline and polygon clamp terrain ( when add a lot )"
the poor performance of polyline and polygon clamp terrain ( when add a lot ),can optimize？
Can the performance problem be solved that using shadow volume and stencil test to implement this function

[2020-08-19 09:33] SeanSure opened #9104 "ktx runtimeError"
i use ImageViewer to converthdr to ktx,but tips RuntimeError: Texture arrays are unsupported,how to convert it correct

![image](https://user-images.githubusercontent.com/30064315/90618104-166a3700-e242-11ea-8f90-52fbd49b6d2f.png)

[2020-08-19 09:41] SeanSure commented on #9104
[cloud_layers_4k.zip](https://github.com/CesiumGS/cesium/files/5095452/cloud_layers_4k.zip)

[2020-08-19 10:39] #9103 closed

[2020-08-19 11:55] OmarShehata commented on #9101
You need to build the library. See the [build guide](https://github.com/CesiumGS/cesium/blob/master/Documentation/Contributors/BuildGuide/README.md#build-guide).

For any follow up questions, please post on the Cesium community forum: https://community.cesium.com/.

[2020-08-19 11:55] #9101 closed

[2020-08-19 11:56] OmarShehata commented on #9100
Closing as a duplicate of https://github.com/CesiumGS/cesium/issues/5955.

[2020-08-19 11:56] #9100 closed

[2020-08-19 12:13] OmarShehata commented on #9104
Try using Google Filament to generate your KTX like this Sandcastle describes: https://sandcastle.cesium.com/?src=Image-Based%20Lighting.html. Note that recent versions of Filament are using an unsupported pixel type: https://github.com/CesiumGS/cesium/issues/9088.

If you have more questions, please post on the Cesium community forum: https://community.cesium.com/.

[2020-08-19 12:13] #9104 closed

[2020-08-20 01:21] SeanSure commented on #9104
thanks a lot

[2020-08-20 07:42] SeanSure commented on #9104
which release can be use to convert ktx?

[2020-08-20 10:02] atlight opened #9106 "flyTo with Rectangle doesn't play well with terrain"
The `Camera.flyTo({ destination: Rectangle })` function flies the camera so that the specified Rectangle is in view.

Rectangles are lat/long based objects without height information, and the `flyTo` function always seems to use a height of 0. If, when using terrain, you call `flyTo` with a small rectangle in a high-altitude area, the camera will be placed beneath the terrain, and the user sees as

[2020-08-20 13:30] OmarShehata commented on #9106
I think my preferred approach here would be to add a `height` parameter to `Camera.flyTo` since it's the simplest but also gives the developer the most flexibility. For example, this would allow you to easily do the sample terrain heights before flying (do you sample the center, the 4 corners of the rectangle? Up to you) and you'd probably want the height to be not directly at that terrain height,

[2020-08-20 23:38] mramato commented on #9106
We already have a private function `computeFlyToLocationForRectangle` which takes a rectangle and scene and samples the terrain and produces a final Cartographic position that can then be passed to the camera. It's used by both the Viewer for zooming to imagery layers and the Geocoder for zooming to rectangular results.

The easy way out would just be to expose this function, since it does exactly

[2020-08-22 13:49] Spatialghost opened #9107 "How to get current lication"
Hi. Im new in Cesium. How to get my current location as point at the map in Cesium application?

Thanks.

[2020-08-22 17:59] #9107 closed, assigned to nobody

[2020-08-24 01:38] tmshv commented on #4164
Hi guys! Any progress with this issue? Or maybe someone has a samples of code at least?

[2020-08-24 16:45] baothientran opened #9109 "Transforming a plane with a matrix doesn't produce correct normal"
When transforming a plane with a matrix, [the plane's normal is currently multiplied with the transform matrix itself](https://github.com/CesiumGS/cesium/blob/fa2edd6d0f77d2977e957a9334ef42a880a83897/Source/Core/Plane.js#L210). However, the transform matrix should be converted to normal matrix before multiplying with normal. This is the [sandcastle's example(Notice the angle printed out on the con

[2020-08-24 17:11] OmarShehata commented on #9109
Is this related to https://github.com/CesiumGS/cesium/issues/8268 at all?

[2020-08-24 17:18] baothientran commented on #9109
I think it is related as well since in the `createPrimitiveModel()` function, [the normal is directly multiplied with the transform matrix instead of the normal matrix](https://github.com/CesiumGS/cesium/blob/2fd0e8f7e4212bd1e7084299187f70597a6bbfd8/Source/DataSources/PlaneGeometryUpdater.js#L349).

[2020-08-25 14:02] baothientran commented on #8268
I haven't tested it thoroughly, but if the plane is transformed/oriented in the local coordinate using the plane normal and distance as it is, then multiply with the `transform` to convert to world coordinate, it works for me

[2020-08-26 02:53] SeanSure opened #9111 "cesium HemisphereLight"
Can Cesium support hemispheric light？

[2020-08-26 13:04] AshitakaLax opened #9113 "Moon rendering a little off, or there is a massive planet near earth"
You may choose to reject this ticket, which would be fine. I thought it was more fun than anything.

Sandcastle example:
I'm pretty sure any example may work for this.
1. Zoom out enough to see the moon.
2. Move till you have the moon cross in front of the earth.
3. Notice how the earth is the moon to a very massive planet(aka the moon)
![image](https://user-images.githubusercontent.com/1018160/91

[2020-08-26 13:28] OmarShehata commented on #9111
There is discussion about what would need to happen to support this and other types of lights here: https://github.com/CesiumGS/cesium/issues/8518.

For now you can see the types of light that are currently supported in this code example: https://sandcastle.cesium.com/index.html?src=Lighting.html.

[2020-08-26 13:28] #9111 closed

[2020-08-26 13:44] lilleyse commented on #9113
@AshitakaLax This is a fine issue to keep open

The reason this happens is the environment commands (atmosphere, moon, sun) get executed first and the depth texture gets cleared before each set of frustum commands gets executed.

[2020-08-26 13:49] ptrgags commented on #9113
Definitely an amusing find!

With quite a bit of effort (zoomed out this far, the moon's position is highly sensitive to tiny mouse adjustments) I was able to reproduce this issue in the [Hello World Sandcastle](https://sandcastle.cesium.com/)
![image](https://user-images.githubusercontent.com/8422414/91310080-6b94d400-e77f-11ea-81c3-2a3cd253afe0.png)

[2020-08-26 15:57] OmarShehata commented on #7121
I had to change the URL to the model to get this working. Here's an [updated Sandcastle](https://sandcastle.cesium.com/#c=nb3pcis5kiX8KrL801XG25eBHeipLvtI7TspUdTS2TZGcRMliqS4iJLG6t0ngIhAOOnOqq+nra0y894jyAMOOBwHvnx25nvdn/fx3n/u/df/+XOyl/7fn3+Men/+sfcf6b/0pt3Ve3+y/POPX8XfTTrv/fxv958uL/YaneUL+OvP/nwxmk5yBPudgL/rjqfdtz//+I+9/Bflv2yy7M8/O2P/F3/+wRPG/z2x/57IFkv+I/H//1SFf6jyP4zj5mOv5vNU0NbIS7droK2feV+Nl6

[2020-08-26 16:00] OmarShehata opened #9114 "Ellipse on ground has hole in it when camera is perfectly perpendicular to ground"
[Sandcastle](https://sandcastle.cesium.com/index.html#c=bVNNc9owEP0rO1wiT11hyAcDAaZtMu2lmWQmTHqIc1DsBauRJWYlQ2mH/17ZxuBAfJJWb9++fbteCYKVxDUSTEDjGm7QyiLnT1WMxZ2kut8Y7YTUSHEnhH+xBnBI5CMPZFYyRRo1iQmhcPjLkEpnNYQFsd4G17GO9cpXQ+2k2/hqdVle3SVaLtKUVdRLY33E6D3njSDnT0Kf8zmZ/BYXhGjZ5150wYfDq8tB/zKE8yEfXPSvev4YBWHJg0rJpcVRLRjAYi7vpDb09Y+0I+gPorD1IH63Hsr4di/7Ueg0EdYpLEXOjFGvgr4VzhnNzr6rDTgDa+myxhSwIl8qqRdnIcwL

[2020-08-26 16:11] OmarShehata commented on #9114
This appears to happen with polygons too. Instead of an inner circle it'll be a smaller polygon of the same shape.

[2020-08-26 16:15] hpinkos commented on #9114
I imagine this would happen with all `GroundPrimitive`s

[2020-08-26 16:38] OmarShehata opened #9115 "Improve camera fly to for entities clamped to the ground?"
Initially discussed on the forum here: https://community.cesium.com/t/bounding-sphere-for-polygons-ellipses-on-ground-incorrectly-computed/10662. The summary is that the camera can't always fly to entities clamped to the ground as expected because entities are clamped in the shader, so there isn't a specific "position on the ground" they can be found at (an entity may in fact be half on a cliff wa

[2020-08-26 16:45] lilleyse commented on #9114
Once https://github.com/CesiumGS/cesium/pull/9108 is merged it will be possible to work around this bug by setting `viewer.scene.logarithmicDepthBuffer = false;`

[2020-08-26 16:50] lilleyse commented on #9115
One idea is to get a better bounding volume by using `ApproximateTerrainHeights`. However this won't necessarily work well if the ground primitive is on top of 3D Tiles.

[2020-08-27 03:12] WebHero0544 opened #9116 "How to display a certain "Primitive" under a certain "ImageryLayer"?"
hi, How to display a certain "Primitive" under a certain "ImageryLayer"? I looked at the API. "Primitive" and "ImageryLayer" were able to adjust the order of display separately, but now "Primitive" is always above "ImageryLayer", as shown in the following code:

`
                const geoHeatImagePrimitive = this.viewer.scene.primitives.add(new Cesium.Primitive({
                    geometryInsta

[2020-08-27 04:10] OmarShehata commented on #9116
I would use a SingleTileImageryProvider if you want to play an image underneath another imagery layer, see: https://sandcastle.cesium.com/index.html?src=Imagery%20Layers.html.

Please use the Cesium community forum for asking questions: https://community.cesium.com/.

[2020-08-27 04:10] #9116 closed

[2020-08-27 04:38] WebHero0544 commented on #9116
Ok, thank you very much

[2020-08-28 00:14] fc opened #9118 "Path doesn't display when availability is not set in CZML"
Click play and you will see the path does not display:
![image](https://user-images.githubusercontent.com/20962/91506275-9584ee00-e886-11ea-9342-8f42617c4222.png)

Set the availability property and it does display (uncomment it in the example):
![image](https://user-images.githubusercontent.com/20962/91506311-acc3db80-e886-11ea-813e-16f99d64c05a.png)

Sandcastle example:
https://sandcastle.cesium.

[2020-08-28 00:34] fc commented on #9118
Ah, I see in the docs it says:

https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/Path

Appears to not be a bug.

[2020-08-28 00:34] #9118 closed

[2020-08-28 16:57] danduk82 opened #9123 "request.requestFunction is always overridden"
In the context of the swiss geological viewer development, we would like to access restricted tiles stored on AWS S3.

In practice we are using the AWS-SDK to exchange an AWS-Cognito JWT with temporary AWS access keys, and we would like to use the AWS-SDK to implement a custom `Cesium.Request` parameter of the `Cesium.Resource` ( [see this branch](https://github.com/swissgeol/ngm/tree/cesium_custo

[2020-08-28 17:49] OmarShehata commented on #9123
So the reason you need to override the Resource's request function, instead of just making the request directly, is because you need to pass a `Resource` object to the `Cesium3DTileset` constructor, right?

Have you looked into how IonResource does it for handling authentication from Cesium ion? See: https://github.com/CesiumGS/cesium/blob/master/Source/Core/IonResource.js. It overrides the _makeR

[2020-08-28 18:04] danduk82 commented on #9123
@OmarShehata thanks for your answer, yes indeed.

I will have a look at IonResource code next week and see if I can solve this issue overriding the `_makeRequest` function.

[2020-08-28 18:32] #9093 closed

[2020-08-29 05:29] hanaimin opened #9124 "cesium no supports loading external "buffer binary" of glb in b3dm?"
In the 3d-tiles b3dm specification. there is a describtion:
Instanced 3D Model embeds glTF 2.0 containing model geometry and texture information.
The glTF asset to be instanced is stored after the Feature Table and Batch Table. It may embed all of its geometry, texture, and animations, or it may refer to **external sources for some or all of these data**.

But , in cesium, when the b3dm loaded, th