[2017-01-24 14:07] #4908 closed

[2017-01-24 14:19] emackey commented on #4019
Fixed in #4889

[2017-01-24 14:19] #4019 closed

[2017-01-24 15:25] pjcozzi commented on #2457
Go for it, @bampakoa!

[2017-01-24 15:29] tomvantilburg commented on #4863
It seems I gave the wrong example file, apologies. Here is one that goes wrong:  [http://research.geodan.nl/sites/cesium/data/object2.tar.gz](http://research.geodan.nl/sites/cesium/data/object2.tar.gz)

[2017-01-24 16:30] #2631 closed

[2017-01-24 17:12] bampakoa commented on #2457
I have made some tests and it seems that requests from different domains are handled correctly from the express server, with the current configuration. Could you please give some more info about the issue?

[2017-01-24 17:19] hpinkos commented on #2457
@bampakoa I think all we want to do is add this code:
https://github.com/AnalyticalGraphicsInc/3d-tiles-samples/blob/master/server.js#L50-L56

to the copy of `server.js` in master.
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/server.js#L49-L50

[2017-01-24 18:09] bampakoa commented on #2457
@hpinkos I agree but..is it needed? I mean, even without this code, CORS requests seem to be handled correctly. Sorry about the trouble, but I really need to understand before I act :smile:

[2017-01-24 18:21] hpinkos commented on #2457
I just tried to use an asset cross origin and it didn't work.

1. In one console, `node server.js --port 8080`
2. In a second cosole, `node server.js --port 8082`
3. Navigate to `http://localhost:8082/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases`
4.  Paste and run this code sample:
[code]

You will see CORS errors in the console because the server at localhost:8080 does not al

[2017-01-24 18:22] esparano opened #4913 "Zooming Out Very Far Without Moving Mouse Gets Scroll-Zoom Stuck"
Sometimes the scroll-wheel zoom gets stuck under very specific conditions.

Steps to reproduce in Cesium 1.29:
1) Click the "home" button.
2) Hover your mouse off-center, near the edge of the globe but not off the globe.
3) Now, **without moving your mouse** (lift your mouse off of the table if you need to to prevent the cursor from moving whatsoever) scroll out far enough that the Earth becomes p

[2017-01-24 18:24] pjcozzi commented on #797
* MDN has doc on WebGL 2 - see the [Firefox 51 release](https://developer.mozilla.org/en-US/Firefox/Releases/51)

[2017-01-24 18:38] bampakoa commented on #2457
@hpinkos You were right! I wasn't testing it properly. Thanks for the info.

[2017-01-24 22:10] pjcozzi commented on #797
* [WebGL 2 lands in Firefox](https://hacks.mozilla.org/2017/01/webgl-2-lands-in-firefox/)

[2017-01-24 22:57] emackey opened #4915 "CZML can't reference `position` with intervals"
If one entity has a composite position (a position using time intervals), and another entity attempts to reference that position, the render loop throws.  Here's some CZML:

[code]

The error thrown is:

[code]

To work around this, copy the `position` block from the main entity above, and replace the position reference in the other entity with a copy-and-paste of the main position block.  Then th

[2017-01-24 23:08] emackey commented on #4915
From my point of view at least, this is a priority :smile:

[2017-01-24 23:43] hahnd opened #4916 "Geocoder widget auto-complete not visible at times"
Greetings,

I had just begun working to add a custom Geocoder service and saw your new feature added in 1.30.  I downloaded the latest candidate today (Cesium-1.29.0-master.19674.zip) and tested with that.

Works great, except there is one case with Firefox where the auto-complete window is not visible when it should be.  Here are the steps to reproduce:

1.  Click on search box
2. Type search ter

[2017-01-25 01:34] mramato commented on #4915
The fix for this should be trivial, the problem is in `reallySubSample` in PathVisualizer.js, it unwraps the inner property but then tries to sample the `ReferneceProperty` instead of the unwrapped property. However, there are dragons here and I found at least 2 other path bugs (one is kind of tricky) while looking at this.  I'll see what I can do.

[2017-01-25 10:36] xtassin opened #4918 "Unicode variation selectors (U-FE00 to U-FE0F) in Label text freeze Cesium"
Using a unicode character and a variation selector (U-FE00 to U-FE0F) as label's text gets Cesium in an infinite loop (CPU maxed and frozen browser)

I could reproduce this in FireFox and Chrome but not IE or MS Edge (do not appear to support variation selectors)

This character: `☠` (\u2620) will work fine
It's variation: `☠️` (\u2620\ufe0f) will crash Cesium

Firebug pointed me to mesureText.js

[2017-01-25 12:58] hpinkos opened #4919 "Label clustering regression"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/9jEuuGdzmbU

In 1.29, nothing appears on the globe

[code]

[2017-01-25 13:19] hpinkos commented on #4918
Related: #378

[2017-01-25 13:25] #2457 closed

[2017-01-25 13:29] pjcozzi commented on #797
* [WebGL 2 from WebGL 1](https://webgl2fundamentals.org/webgl/lessons/webgl1-to-webgl2.html)
* [4.1 Backwards Incompatibility](https://www.khronos.org/registry/webgl/specs/latest/2.0/#4.1)

[2017-01-25 13:45] hpinkos commented on #4916
Thanks for reporting this @hahnd!

[2017-01-25 14:01] erikmaarten commented on #4916
I'll look into this (probably not today, but later this week). Great bug report by the way! :+1:

[2017-01-25 14:01] billwritescode commented on #4919
I did a little bit of thumbing through some code changes and this commit stood out as a candidate for investigation: https://github.com/AnalyticalGraphicsInc/cesium/commit/3eb09e48ef595380273eb290b6f2f5525485cfe5

[2017-01-25 16:14] mramato commented on #4876
Ultimately we want to make Cesium work out of the box with all of the most popular build solutions, which is why we'll most likely move to ES6 modules sometime this year.  I expect there may be some Webpack specific issues, but the goal would be to have Cesium work out of the box on it and all other popular solutions.  Once we're transpiling out of necessity, I expect template strings may be the b

[2017-01-25 16:30] #4915 closed

[2017-01-25 16:39] mramato commented on #94
Also reported on the forum: https://groups.google.com/d/msg/cesium-dev/ZGV9jpxMSIE/9L_MW_ZGAQAJ

For walls, I think we can get to good enough at the KML level by always adding an outline to walls of the same color as the geometry (unless the wall itself specifies a different color in the KML). It should just be a small change in KmlDataSource.js (and the tests).

[2017-01-25 16:46] markerikson commented on #4876
Fair points.  Thanks for the response!

(Still curious if @thelarkinn has any thoughts on how Webpack is handling things.)

[2017-01-25 19:03] mramato opened #4921 "Rectangle.validate is a no-op"
It looks like `Rectangle.validate` has it's entire implementation wrapped inside of a pragma, but the function itself is exposed and documented.  This means if our users call `Rectangle.validate` nothing will ever happen.  We have two chocies

1. `Rectangle.validate` should not  pragma out it's implementation
2. `Rectangle.validate` should be marked private and removed from the API
3. Add `Rectang

[2017-01-25 19:04] #4882 closed

[2017-01-25 19:43] hpinkos opened #4923 "SceneModePicker and PerformanceWatchdog test failures in master"
These tests fail when you run all `Widgets` specs but do not fail when run independently
http://localhost:8080/Specs/SpecRunner.html?spec=Widgets

![image](https://cloud.githubusercontent.com/assets/3451886/22306165/2b82332e-e30c-11e6-9d54-0f70905efd2f.png)

[2017-01-25 19:47] pjcozzi commented on #4027
_Could_ be Intel specific.  @austinEng is also running Mac, but NVIDIA.

[2017-01-25 21:31] pjcozzi commented on #4923
These are fixed / worked around in #4827.  Also, see https://github.com/AnalyticalGraphicsInc/cesium/pull/4827#discussion_r95155845

[2017-01-25 21:37] pjcozzi commented on #4921
Probably 2, but will evaluate when it is a priority.

[2017-01-25 21:44] pjcozzi commented on #4913
Thanks for the report, @esparano!  Perhaps related to #4855.

[2017-01-25 21:46] pjcozzi commented on #4919
Thanks for narrowing this down, @billwritescode.

@emackey do you have any bandwidth to look at this?

[2017-01-25 21:51] emackey commented on #4919
Yeah I should look at this.

@billwritescode you said you did a bit of thumbing, did you actually run `git bisect` on this?  I should be able to find some time for that in the next few days, but if you want to beat me to it that would be helpful.

[2017-01-25 21:55] esparano commented on #4913
Hmm, they don't seem related to me, but I don't know what goes on behind the scenes.  No problem!

[2017-01-25 21:56] emackey commented on #4919
Also, a bit of a confession since I got pulled off a project recently and didn't report this yet, but label un-clustering seems completely broken for the past few releases.  Check out the clustering demo in Sandcastle, you can zoom in and un-cluster the icons but you never see any un-clustered labels when clustering is enabled overall.  I was planning an issue and a proposed fix and then got pulle

[2017-01-25 22:10] emackey commented on #4919
Also, silly question but, why would a user want to see clusters of empty labels?  If they zoom in on the cluster of empty labels, wouldn't it just disappear anyway?

[2017-01-25 23:24] billwritescode commented on #4919
@emackey thanks for looking into this! Running `git bisect` points to 10045f613230e25b7667c683d03c9b507a5d8ca0 as the first bad commit.

As for the question "Why would anyone want this?",  one possibility is to jerry-rig [clustering of polygons](https://github.com/AnalyticalGraphicsInc/cesium/issues/4656) using clusterable empty labels and distance display conditions on some polygons, and toggling

[2017-01-26 00:50] pjcozzi commented on #648
For a prototype of integrating Cesium and three.js, see Section 6.2 here: https://www.cg.tuwien.ac.at/research/publications/2015/Adorjan-2015/Adorjan-2015-thesis.pdf

[2017-01-26 02:42] emackey commented on #4919
Thanks for the bisect.  Part of the logic that was in the process of changing there was better calculation of glyph placement, such as not assuming `0, 0` was part of the glyph.  For example a minus sign floats well above `0, 0` but an underscore may appear only below it.  So if you ask for the screen-space dimensions of an empty label, you can no longer respond by saying width 0 height 0 at a `0,

[2017-01-26 09:07] krheinwald commented on #4897
#4619 - Polyline crashes in rotatable 2D

[2017-01-26 13:00] pjcozzi commented on #4897
Thanks for the input, @krheinwald!  I updated the list. #4084 is especially a good call!

[2017-01-26 14:10] hpinkos commented on #3984
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/7KZ9feIh1zE

[2017-01-26 15:12] #4923 closed

[2017-01-26 15:44] jbo023 commented on #4897
https://github.com/AnalyticalGraphicsInc/cesium/issues/4894 Terrain loading errror
https://github.com/AnalyticalGraphicsInc/cesium/issues/4368 Pick Position problems

Also if you are working on VR Stift, i do have a HTC Vice at Home and could so some testing if necessary

[2017-01-26 19:43] #3846 closed

[2017-01-26 20:02] #2130 closed

[2017-01-26 20:04] pjcozzi commented on #2130
Thanks all for the input, @haisapan, @nikakhov, @billwritescode.

@bagnell fixed this in #4886, which will be in Cesium 1.30 next Tuesday.

Let us know if you run into anything else.

[2017-01-26 21:03] mramato opened #4927 "Problems with label backgrounds"
#4886 appears to cause problems for labels with backgrounds:

Run http://localhost:8080/Apps/Sandcastle/index.html?src=Ground%20Clamping.html&label=Showcases

The label text should be opaque and the background translucent, but there's an issue that makes the font appear as if it's behind it's background (not always).  @bagnell thinks this is a draw order issue.

![label](https://cloud.githubuserco

[2017-01-26 21:17] m-schuetz commented on #648
One possibility could be to render color and depth buffers in one lib and then use the depth buffer(s) in the other lib to compose the renderings of both.

e.g.:
* User renders his stuff in three.js and provides color buffer, depth buffer, and projection parameters to cesium.
* Cesium does a screen pass (or one for each frustum) with the three.js color and depth map as input and discards all fragm

[2017-01-26 21:25] pjcozzi commented on #4927
Perhaps the background is not getting the new `blendOption` set correctly?

Otherwise, are we sure the background billboard collection is always added before the label billboard collection?

Otherwise, is `>=` depth test not set?

[2017-01-26 21:48] shehzan10 opened #4928 "Test Failure: Core/writeTextToCanvas"
Test commands:
[code]

Failure log:
[code]

This command is similar to the one that is run on Travis. However the failure doesn't show up there. I have seen it on OS X and Windows.

This failure only shows up with the `--exclude WebGL` flag.

[2017-01-26 21:53] pjcozzi commented on #4928
Worked around in https://github.com/AnalyticalGraphicsInc/cesium/pull/4827, but I don't know if there is a legit root cause.

[2017-01-26 22:02] emackey commented on #4927
Does this only happen when clamped to ground?  `>=` depth is set, and the `=` part is being relied upon, but I think the clamping might make the Z value a bit noisy.

[2017-01-26 22:05] emackey commented on #4927
Possibly related to #4736, clamped billboards can shake.

[2017-01-26 22:18] bagnell commented on #4927
The problem seems to be sampling the texture. The default used by the texture atlas is linear. For smaller sized fonts, all of the sampled texels have an alpha < 1. You can test this by changing the label collection to use `BlendOption.OPAQUE` and no text will be drawn.

[2017-01-26 22:45] pjcozzi commented on #4927
If we need a workaround for this, we can also force `BlendOption.TRANSLUCENT` when a background is used.  In practice, it will likely often be OK-ish more so then when there is no background.

[2017-01-27 04:34] mrajcok commented on #4356
In case it is not clear what to do based on the console message, add a height property to the polygon to see the outline:

[code]

And I prefer flying to zooming:  `viewer.flyTo(wyoming);`

[2017-01-27 14:48] likangning93 commented on #4863
I'm not getting errors from the obj2gltf command line tool with this one
as-is either, so I think it might be the translation thing. Have you
considered using the node transform
<https://github.com/KhronosGroup/glTF/tree/master/specification/1.0#transforms>
attribute in glTF instead of translating the points in the obj file? This
might get around the problem if it's with translating obj positions.

[2017-01-27 15:45] emackey opened #4929 "Tracking of ellipsoids still not quite working."
Not sure if this is an incomplete fix for #4866, or something new.  Check out this demo:

[code]

[2017-01-27 19:57] emackey commented on #4929
![badboundingsphere_v5](https://cloud.githubusercontent.com/assets/1235080/22385492/d43ec4e2-e4a0-11e6-835f-29c6a2df8192.gif)

[2017-01-27 20:14] #4281 closed

[2017-01-27 21:09] emackey commented on #4919
@billwritescode Any thoughts on all this?  I'd like to close this issue before the Feb 1 release.

[2017-01-27 23:59] lilleyse commented on #4645
I've come to the tentative conclusion that there isn't a memory leak, however Chrome is not quick to release memory.

I'm tracking memory usage with the Chrome task manager and forcing garbage collections through the Collect Garbage button in the Timeline tab of the dev tools. These are the results I see for an empty scene, the same scene with 500 Cesium_Air models added (with unique cache keys),

[2017-01-29 18:07] pjcozzi commented on #4928
Passes now via #4827, am open to a more precise workaround or fix if appropriate.

[2017-01-29 18:07] #4928 closed

[2017-01-30 14:37] bampakoa commented on #4015
@hpinkos do you refer to the additional options that should be passed to MapboxImageryProvider, right?

[2017-01-30 16:09] pjcozzi commented on #4387
@austinEng are you able to reproduce the exact case shown in the screenshot above?  I believe the camera is just west of the initial tileset in the Sandcastle example and looking straight down.  Or was this another bug?

[2017-01-30 16:15] austinEng commented on #4387
I was not. @lilleyse said that he thinks this specific problem was already solved in another bugfix

[2017-01-30 17:09] lilleyse commented on #4387
The screenshot was taken before the box debug outlines were fixed https://github.com/AnalyticalGraphicsInc/cesium/pull/4845. Therefore our tilesets just don't have tight fitting bounding boxes, which the 3d-tiles-tools generator will address.

[2017-01-30 17:21] pjcozzi commented on #4387
OK, thanks for investigating.

[2017-01-30 17:21] #4387 closed

[2017-01-30 20:00] hpinkos opened #4933 "Camera.flyHome in 2D uses Rectangle.MAX_VALUE instead of Camera.DEFAULT_VIEW_RECTANGLE"
Brought up on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/elr1j2jHlbg

Should we change the home button to use the `Camera.DEFAULT_VIEW_RECTANGLE` in 2D and Columbus View?

[2017-01-30 20:04] hpinkos commented on #4916
Thanks again for reporting this @hahnd!  We just merged a fix and it will be included in the Cesium 1.30 release available on February 1st.

[2017-01-30 22:47] emackey commented on #4929
The red sphere above is a bit of a red herring, the real problem is the selection indicator (and the `trackedEntity` camera, not shown above, but which completely agrees with the portrayed selection indicator) are not correct.

If it looks like the green crosshairs are hanging out at some kind of midpoint between the entity's position and its original position, you're correct, it's the midpoint.

[2017-01-31 14:06] hpinkos opened #4935 "Rendering problem with transparent video"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/BHXRoSzPHnk

The transparent parts of the video don't clear when the video loops

![transparent-video](https://cloud.githubusercontent.com/assets/3451886/22467941/8cbc94e0-e794-11e6-8e59-ab40cb9e61f6.gif)

[code]

[2017-01-31 15:13] mramato commented on #4935
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Material.js#L698 is where we copy the frame from the video into the texture.  I imagine `copyFrom` drawn on top of the old texture without clearing it, leaving any underlying parts intact.

This isn't my area of expertise, but I assume we either have an option or it would be easy to add an option to have the transparent pixel

[2017-01-31 18:36] rahwang commented on #3586
Looks like these problems were resolved in the tutorial by @hpinkos

Should this issue be closed?

[2017-02-01 00:18] #4927 closed

[2017-02-01 01:06] pjcozzi commented on #4933
OK with me.

[2017-02-01 01:10] pjcozzi commented on #4638
Input from @kring on how/if to address this: https://github.com/AnalyticalGraphicsInc/cesium/pull/4883#issuecomment-275845200

[2017-02-01 01:17] pjcozzi commented on #4645
Thanks for investigating.  I don't think there is anything reasonable.  Do you want to close this?  Or did you want to check out any other tools to see if we have any dangling references or something similar.

[2017-02-01 14:04] hpinkos commented on #3653
A few other users in https://groups.google.com/forum/?hl=en#!topic/cesium-dev/a8bwwV3BYuE have recently mentioned they would like to see this as well

[2017-02-01 14:07] hpinkos commented on #4538
Guess we're pushing this to 1.31.  Should we leave this labeled 'next release' or is it not as critical anymore?

[2017-02-01 14:13] pjcozzi commented on #4538
Let's leave it `next release`; I also added it for the bug bash, #4897.

[2017-02-01 15:51] billwritescode commented on #4919
@emackey, thanks for the high level technical description. I would think that not breaking user space is fairly important in this case, perhaps more important than the temporary ugliness of a hardcoded return value.

There is a workaround until the 1.28 behavior is restored like this: http://cesiumjs.org/releases/1.29/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=1d4b61c2c

[2017-02-01 16:05] hpinkos commented on #3888
I can't run the WebGL validation tests without it crashing Firefox (51.0.1 64-bit)
The Scene specs seem to be causing the problem.  Running the specs on the other folders works fine

[2017-02-01 16:15] lilleyse commented on #4645
Let's keep it open for now since it may be possible to optimize the code for better garbage collection.

[2017-02-01 16:17] hpinkos commented on #2860
New test failure: `Renderer/Context get the fragment depth extension`

There's also a bunch of tests that fail when you try to run all of the `Scene` tests at the same time.  Looks like something is going weird with the context? `RuntimeError: WebGL Error:  CONTEXT_LOST_WEBGL lost: undefined(17408);`
Those tests pass individually, however.

[2017-02-01 16:32] emackey commented on #4919
@billwritescode I think we missed the window for the 1.30 release.  Does my workaround solve this issue for you?

http://cesiumjs.org/releases/1.29/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=5b903d4064dfd18c1efa3d184cfd20b5

[2017-02-01 16:46] #4909 closed

[2017-02-01 17:19] pjcozzi opened #4942 "Scene unit tests crash tab in Firefox 51"
Run them here: http://cesiumjs.org/releases/1.29/Specs/SpecRunner.html?spec=Scene%2FScene

Tested on Windows with Firefox 51 and Nightly (54).

This does not happen in FF 50 on Mac.

This is likely due to the WebGL 2 updates in FF 51.  Will do more investigation before submitting a FF issue.

via @hpinkos

CC @jdashg

[2017-02-01 17:47] pjcozzi commented on #3888
The Scene specs seem to be causing the problem. Running the specs on the other folders works fine

Covered in #4942

[2017-02-01 19:32] hpinkos commented on #4802
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/x8-uWKKlYNc

[2017-02-01 19:44] hpinkos commented on #3586
Yep, it looks like these are fixed.  Thanks for looking at it @rahwang!

And thanks for all the suggestions @mjturtora!

[2017-02-01 19:44] #3586 closed

[2017-02-01 19:50] hpinkos commented on #4356
Thanks @jnachtigall, @mrajcok!  We updated the example to include `height: 0`.  This update will be deployed to the website shortly.

[2017-02-01 19:50] #4356 closed

[2017-02-01 20:13] emackey commented on #4368
Our "pick position" Sandcastle demo limits your picking to just a 3D model of the milk truck.  Check out what happens if you open it up to allow picking the entire globe.  It works at close range to the truck, but the more you zoom out, the worse it gets.

![badpickposition_v3](https://cloud.githubusercontent.com/assets/1235080/22524324/c168f286-e890-11e6-97e8-05435531bf5d.gif)

[code]

[2017-02-01 20:56] pjcozzi opened #4943 "Add easy instructions for pulling remote branches"
Perhaps add to https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/CodeReviewGuide#useful-git-commit-management or create a new **Git Tips** guide.

via @austinEng

    fetch = +refs/heads/*:refs/remotes/agi/*
    url = git@github.com:AnalyticalGraphicsInc/cesium.git
    fetch = +refs/pull/*/head:refs/remotes/agi/pr/*

Note that this also requires a `git fetch ag

[2017-02-01 21:03] shunter commented on #4943
Probably easier to just use hub: https://hub.github.com/

[2017-02-01 21:07] mramato commented on #4943
I second hub.  It's awesome and I use it all of the time.

[2017-02-01 21:12] shehzan10 commented on #4943
I used my my own bash script for this which essentially setup upstream/fork remotes, handles fetch from upstream, push to fork etc.
But Hub looks great. Will try it. Thanks for the recommendation.

[2017-02-01 21:26] pjcozzi commented on #4943
Whatever the method, let's update our docs.

[2017-02-01 21:59] #4899 closed

[2017-02-02 01:18] pjcozzi opened #4944 "Test failures in the 3d-tiles branch on Mac/Intel only"
[code]

[2017-02-02 16:09] hpinkos commented on #3960
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/erAXhaT8reI

[2017-02-02 16:10] hpinkos opened #4945 "Add depthTestAgainstTerrain to ground clamping sandcastle demo"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/68jiQll7WJc

http://cesiumjs.org/Cesium/Apps/Sandcastle/gallery/Ground%20Clamping.html

needs to have `viewer.scene.globe.depthTestAgainstTerrain = true;` so the billboard/label don't show up through the mountain.

[2017-02-02 16:16] hpinkos commented on #4820
Also reported here: https://groups.google.com/d/msg/cesium-dev/BHmN6Vj_hgE/eJrENGq3BwAJ

[2017-02-02 17:30] billwritescode commented on #2130
This is fantastic! Thanks @pjcozzi @bagnell and @hpinkos.

[2017-02-02 17:34] billwritescode commented on #4161
Thanks @pjcozzi @hpinkos @adunham1962 @bagnell! I am thrilled.

[2017-02-02 19:21] hahnd commented on #4916
Thanks for the quick update and the very timely new feature!

I tested today using the 1.30 release, and indeed after pressing enter in the text field, it loses focus.  However, if I press the tab key the text field will regain focus, and suggestions will not be shown while typing.

I would expect suggestions to be visible if the text field has focus and there are suggestions available.  Do you ag

[2017-02-02 19:43] hahnd commented on #4916
I added the same line:
 document.addEventListener('focus', this._onInputEnd, true);
to Widgets/Geocoder/Geocoder.js:142

Basically, this event listener is added in either case in the if statement, and now I get the same behavior in Chrome too.

[2017-02-02 19:50] hpinkos commented on #4916
Thanks @hahnd!   Instead of adding another event listener, I think we can fix the problem by adding something like this to `GeocoderViewModel`

[code]

Then we can use `focusTextbox` instead of `_focusTextbox` for data binding in `Geocoder`.
We can remove the viewModel.hide/showSuggestions() calls in _onInputBegin/End because they will automatically be called whenever the value of focusTextbox cha

[2017-02-02 22:40] hahnd commented on #4916
I like this solution better, but when I tried it, I still only get calls to the property setter on events where the focus is gained or lost by a mouse click.  The property setter does not get called when focus is gained or lost by pressing the tab key.

Any ideas why this might be happening?  Today is the first day I've ever looked at knockout, so don't assume I know anything.  :-)

[2017-02-03 02:01] pjcozzi commented on #4679
Fixed in #4758 and https://github.com/AnalyticalGraphicsInc/gltf-pipeline/pull/204.

There will be more work for us to expose this through the model converter, do the official glTF spec, and eventually adopt the universal format.

[2017-02-03 02:01] #4679 closed

[2017-02-03 05:56] smills2929 commented on #4855
Hi guys, has there been any movement on this? This bug causes us considerable issues when demonstrating our product (constantly having to zoom out and scroll back over to the other side of the planet).

Is there anything I can do to help?

[2017-02-03 13:33] pjcozzi commented on #4897
Thanks for the offer, we'll let you know!

[2017-02-03 14:21] hpinkos opened #4947 "Camera inertia still in effect after setView"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/5o3nTz7EJn8

If you flick the camera and then hit 'f' to set the view, the camera moves after the view is set because the inertia is carried over.

[code]

[2017-02-03 14:46] hpinkos commented on #4916
Thanks for taking a stab at this @hahnd.  I'm not sure why the property wouldn't be set when pressing the tab key, but I'll take a closer look at this next week to see if I can figure it out

[2017-02-03 15:28] emackey opened #4949 "Positive time offset doesn't work at stop time"
In [EntityView.js#L57](https://github.com/AnalyticalGraphicsInc/cesium/blob/1.30/Source/DataSources/EntityView.js#L57), a small positive time offset of 0.001 seconds is used to get a tiny position delta, used to approximate a velocity near that moment in time.  The time offset does not work for the last 0.001 seconds of playback in the scene, if the objects don't have position data available past

[2017-02-03 17:13] mramato commented on #4949
I thought we were actually already doing this (I'm pretty sure we do it elsewhere when we use finite differencing).  So good with me.

[2017-02-03 21:05] jburr-nc commented on #4897
We would love to see more visual improvements -- we get asked about this a lot!  The three label/text tasks are probably our most desired fixes right now. After that, possibly #3279, or anything that can improve the graphics quality without hammering performance.

[2017-02-03 21:19] pjcozzi commented on #4855
@smills2929 no update, but I added this to #4897, so someone _may_ look at it during the bug bash.

Anything you can do to narrow down the cases when it occurs and even the section of code would be valuable.

[2017-02-03 21:22] pjcozzi commented on #4897
Thanks @jburr-nc!  I added #3279 to the list above, but the scope is likely to large.

[2017-02-03 21:40] ajwinter commented on #4897
We would also love to see those three visual improvement tasks taken care of. Blurry billboards (#4235) are a constant issue for us. Thanks!

[2017-02-03 22:01] pjcozzi commented on #4897
@ajwinter #4235 is on the list!

[2017-02-03 22:31] emackey commented on #4855
@pjcozzi @smills2929 note that @kring writes:

Would be good to confirm this, it sounds true.

[2017-02-04 00:00] mramato commented on #4897
@jburr-nc if imagery quality is a large concern for you, I recommend disabling fxaa and setting maximumScreenSpaceError to 1.33. fxaa is make the image much more crisp (And actually improve GPU performance) and the cost of some jagginess in geometry.  Setting maximumScreenSpaceError will make Cesium request more map tiles and terrain, but will better map to what you see at zoom levels in tradition

[2017-02-05 17:31] YousefED commented on #3939
I'm able to reproduce this issue on Chrome + Windows when running chrome on OpenGL. E.g.: chrome.exe --use-gl=desktop (see also https://cesiumjs.org/2014/12/01/WebGL-Profiling-Tips/).

Any ideas?

[2017-02-06 11:06] ohadmanor commented on #2160
Hi,

any news with that?

[2017-02-06 13:52] laurensdijkstra commented on #4897
We are seeing a reduced level of Terrain detail when zoomed in and a stream of errors like `An error occurred in "CesiumTerrainProvider": Failed to obtain terrain tile X: 8449 Y: 1682 Level: 13.`

Does this have anything to do with recent updates to the way maximum detail level of Terain can be queried? Could not find an issue regarding this on Github so that's why I'm posting here directly.

[2017-02-06 14:09] hpinkos opened #4951 "Polyline entities with arrow material property don't update color correctly"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/B7ePBv4XXac

The polylines start out as blue, and they should change to red when you click the 'Change color to red' button.  However, one polyline changes to red and the other changes to purple.  This doesn't happen when using a `ColorMaterialProperty`, so there's something weird going on with the `PolylineArrowMateri

[2017-02-06 15:48] denverpierce commented on #4951
Using material.property.color.setValue() works as intended.
[code]

[2017-02-06 15:50] hpinkos commented on #4951
Thanks @denverpierce!  That's a good workaround until we fix this

[2017-02-06 17:22] duvifn opened #4952 "Imagery (and terrain) maximum level is limited in certain places In CV mode"
In 3D mode, the tile's level with the following code is limited to the maximum level while zooming.
However in CV, the maximum level in this area is 15 (as reported by Cesium Inspector's `Show Tile Coordinates`), so the image is blurry.

![cv_sse2](https://cloud.githubusercontent.com/assets/17128619/22658075/7b6b0106-eca1-11e6-8040-4f7d20504d17.png)

[code]

[2017-02-06 17:23] duvifn commented on #3845
Workaround for CV

[code]

[2017-02-06 17:23] freder commented on #4897
- #3984
- picking being broken on `3d-tiles` branch

[2017-02-06 18:39] briegn1 commented on #4712
I just updated all of my code to 1.30, and I no longer have this issue in Safari on iPhone 6. Whether the fix was inadvertently done in one of the CesiumJS updates or was part of one of the Apple updates, I don't know, but lots of pointPrimitives are rendering now seamlessly.

[2017-02-06 18:46] hpinkos commented on #4712
Thanks for the update @briegn1!

[2017-02-06 18:52] hpinkos commented on #4952
Thanks for reporting this @duvifn!

[2017-02-06 18:54] psanyal opened #4954 "Failed to obtain terrain tile error when using ArcGisImageServerTerrainProvider"
Hello,

The following sample throws an error as mentioned below:

https://github.com/AnalyticalGraphicsInc/cesium/blob/52066e974c34cefab627c8769dc340a429f0aeda/Source/Core/ArcGisImageServerTerrainProvider.js

An error occurred in "ArcGisImageServerTerrainProvider": Failed to obtain terrain tile X: 1 Y: 0 Level: 0.

Sample services:
https://elevation.arcgis.com/arcgis/rest/services/WorldElevation/T

[2017-02-06 18:58] hpinkos commented on #4954
Hello @psanyal,
Please see the response to this forum post: https://groups.google.com/d/msg/cesium-dev/zhJgvO4U3Vk/A3yvKnQRMA8J

[2017-02-06 18:58] #4954 closed

[2017-02-06 19:02] hpinkos opened #4955 "Deprecate the ArgGisImageServerTerrainProvider?"
We occasionally get questions about how to use the `ArgGisImageServerTerrainProvider`, and I always refer them to this forum post from @kring: https://groups.google.com/forum/#!msg/cesium-dev/zhJgvO4U3Vk/A3yvKnQRMA8J

Should we deprecate this terrain provider since it's really difficult to actually use in Cesium?

[2017-02-06 22:13] pjcozzi commented on #4955
+1.

If someone is using this, please let us know.

[2017-02-06 22:14] pjcozzi commented on #4955
CC #4954

[2017-02-06 22:16] pjcozzi commented on #4712
@movestill would you be able to retest as well so we know if we can close this?

[2017-02-06 22:19] pjcozzi commented on #4897
Thanks @freder!  For picking in `3d-tiles`, what is the precise case?  Is it #4368?

[2017-02-06 22:20] pjcozzi commented on #4897
@laurensdijkstra perhaps ask on the [forum](http://cesiumjs.org/forum.html); this could be a temporary network issue.

[2017-02-06 22:21] pjcozzi commented on #2160
@ohadmanor no update yet.

[2017-02-06 22:22] freder commented on #4897
@pjcozzi it has to do with model instancing — [https://groups.google.com/d/msg/cesium-dev/sUcx0GLI4Qc/SlU96ZkdCQAJ](https://groups.google.com/d/msg/cesium-dev/sUcx0GLI4Qc/SlU96ZkdCQAJ)

[2017-02-06 22:26] pjcozzi commented on #4897
Gotcha, thanks!

[2017-02-06 22:35] kring commented on #4955
👍

[2017-02-06 22:51] lilleyse opened #4956 "CesiumTerrainProvider uses double quotes in some areas"
@glee2244 @Dylan-Brown

There are a few areas in `CesiumTerrainProvider` that use double-quoted strings while the usual style in the codebase is to use single quotes.

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Core/CesiumTerrainProvider.js#L533-L536

[2017-02-06 22:54] lilleyse opened #4957 "Wrong indentation in FrameState"
@jane-of-art @Dylan-Brown

In `FrameState` `shadowMaps` is indented one space too far.

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/FrameState.js#L192

[2017-02-07 03:14] movestill commented on #4712
Looks good! Still running El Capitan but now using Safari 10.0.3.

[2017-02-07 06:06] axman6 commented on #4712
Does someone have a service running somewhere which uses this version? Happy to test it on Sierra if someone has a link quickly available.

[2017-02-07 12:54] pjcozzi commented on #4712
@movestill thanks for verifying.

@axman6 try the different dropdown options in this example: http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=development/PointPrimitives.html&label=Development.

[2017-02-07 13:24] esraerik opened #4960 "computeViewRectangle not compute rectangle properly in 3D"
Hi .
When  I try to get camera view rectangle in 3D with computeViewRectangle function not compute viewing rectangle properly.
When I very close an area like a city , It usually compute rectangle properly. But I try same thing like a continent area this method compute approximate area. I want to accurate area .

My cesium version is 1.26 . I hope this issue can be solving.

Thanks.

[2017-02-07 14:19] hpinkos commented on #4960
Hello @esraerik,
Sorry, but I believe the `computeViewRectangle` function is working as expected for the further away camera locations. Depending on how the globe is tilted and how much of it is in view, the rectangle may be a little larger in order to make sure it covers everything in view.

In the future, please post things like this on our forum: https://groups.google.com/forum/?hl=en#!forum/ce

[2017-02-07 14:19] #4960 closed

[2017-02-07 17:03] #4957 closed

[2017-02-07 18:30] #4846 closed

[2017-02-07 22:16] emackey commented on #3939
The screenshot looks like it's the correct width, but blending is disabled.  The blue RGB values are supposed to extend out that far, but the alpha values are supposed to trail off the further you get from the center of the line, giving it that thinner glow effect.

[2017-02-08 06:41] PrasannaNatarajan commented on #4945
#4963

[2017-02-08 07:10] YousefED commented on #3939
Thanks @emackey. Do you think its a driver issue (specific extension that should be supported)? Or a shader issue?

[2017-02-08 10:46] kring commented on #4894
Are you able to reproduce this with STK World Terrain, too, or only with your custom terrain tileset?  Is your tileset quantized-mesh or heightmap?

[2017-02-08 10:56] jbo023 commented on #4894
It is a custom quantized-mesh terrain tileset. The link in the sandcastle has to be changed to this terrain.
http://d35ei6ur3bjvr1.cloudfront.net/thueringen/terrain_5/
I will also check if i can reproduce this using the STK World Terrain.

[2017-02-08 13:15] duvifn commented on #4368
@emackey
1. I think it worth to add `scene.globe.depthTestAgainstTerrain = true;` to your sandcastle code, because this is not the default.
`pickPosition` returns different values on terrain if `depthTestAgainstTerrain = false` (maybe the `DepthPlane`?, I didn't get into this).

2. the height string in your example code is truncated so it shows wrong height.
 for example: `-143976.41485355987` bec

[2017-02-08 13:28] jbo023 commented on #4894
Hi, i could also reproduce the problem with the STK World Terrain.

Also I noticed that the number of terrain request for the same view are more or less random.
The bug seems to be related to the speed the tiles will be delivered.

[2017-02-08 14:17] hpinkos commented on #4195
Also requested here: https://groups.google.com/d/msg/cesium-dev/OErvYg3v_mY/n0cnLWrYCQAJ

[2017-02-08 14:57] emackey commented on #3939
Do other blended primitives work?  For example the red and blue ellipses here have 0.5 alpha and are supposed to blend:

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Circles%20and%20Ellipses.html&label=Geometries

We've had other bugs filed and fixed, particularly in Firefox, related to alpha blending in the past year.  I'm wondering if this is a dup of existing blending bugs, or some

[2017-02-08 15:11] YousefED commented on #3939
The Circles and Ellipses seem to work fine.

Also; I'm testing directly on cesiumjs.org, assuming this runs the latest version of Cesium :)

[2017-02-08 15:55] jhalbroo commented on #4897
I'd also like to advocate for [#3279 ](https://github.com/AnalyticalGraphicsInc/cesium/issues/3279).  This has been noticed whenever I give a demo of Cesium and a different map viewer (e.g. Google, Open Layers) is shown alongside.  I reported the issue [here](https://groups.google.com/forum/?hl=en#!topic/cesium-dev/QTSlECbZmG8), which was duped to 3279.

[2017-02-08 16:04] emackey commented on #4768
Chrome added support for pointerevents, which Edge and IE11 already have.  I wouldn't be surprised to see Firefox introduce them as well.  We already support pointerevents to be able to support touch (and pen) interactions in IE & Edge, so Cesium listens for and handles the pointerevents.

Unfortunately this means your old `mousedown` event is obsolete.  On browsers supporting pointer events, old-

[2017-02-08 16:04] #4768 closed

[2017-02-08 16:14] mramato commented on #4768
I strongly recommend users always use https://github.com/jquery/PEP in any Cesium application, this will enable pointer events in all browsers for consistent behavior.  Cesium can't do this itself since we don't want to pollute the global namespace.  I recommend against using `ScreenSpaceEventHandler` in client apps because it doesn't buy you anything over using pointer events directly.

[2017-02-08 16:21] mramato commented on #4897
@jhalbroo See https://github.com/AnalyticalGraphicsInc/cesium/issues/4897#issuecomment-277396103 above on tuning Cesium for maximum image quality.  Let me know how tweaking those settings work out for you.

The `maximumScreenSpaceError` default might be changed in the future, but we need to look at it's overall performance/memory/bandwidth impact.

I believe improvements to `fxaa` are going to req

[2017-02-08 16:28] emackey commented on #4768
I have no problem recommending PEP over `ScreenSpaceEventHandler` for client apps.  But for situations where PEP is not welcome, `ScreenSpaceEventHandler` is a fine choice, and offers you this functionality:

* It handles native pointer, touch, and mouse events, and detects which ones are meaningful.
* It remembers locations of "other" touches/pointers, for example if pointer 2 is on the move it k

[2017-02-08 16:41] mramato commented on #4768
@emackey while I agree with you, my longer-term goal is actually to make `ScreenSpaceEventHandler` private because we don't really want to support it as a general input handler for client apps.

[2017-02-08 16:41] bagnell commented on #4897
@jhalbroo @mramato Anti-aliasing will be improved with WebGL 2, but that is not the issue. The problem is that parts of the scene do not need to be anti-aliased (imagery, labels, ...) and others do (lines, geometry, ...). Right now, FXAA is run on the entire scene. If it is enabled, it will degrade the visual quality of parts of the scene that do not need it. If it is not, it will degrade the part

[2017-02-08 16:51] emackey commented on #4126
Here's my recommended workaround for this.  Use this JS code in the same Sandcastle demo as @hpinkos HTML template above, to see the effects:

[code]

What happens here is that we set the Cesium canvas itself to have a `tabIndex` value, allowing it to receive the focus.  Then, a pointer-event-friendly click handler is registered that manually assigns the focus to the canvas when clicked.  This doe

[2017-02-08 16:57] emackey commented on #4126
Here's a link to the completed workaround, with some restyling:

http://c1200610-00.stk.com/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=38dcfe80a26c8995d9f4290da10f441d

I recommend we close this, unless people think the workaround belongs in Cesium.

[2017-02-08 16:59] hpinkos commented on #4126
Thanks @emackey

[2017-02-08 16:59] #4126 closed

[2017-02-08 17:11] Zizekftw opened #4965 "Clamping Model to ground causes issues with Ellipsoids"
Project Background: Application we are developing is consuming real-time data and passing cartographic data into Cesium. We're using SampledPositionProperty to make use of interpolation and are setting the timestamp to now() + 5 seconds (to ensure we always have enough data for accurate interpolation paths. To make the code more straight forward, we are passing in the cartographic data into Cesium

[2017-02-08 18:03] jhalbroo commented on #4897
Thanks @mramato!  I tried out the work-around and it enhanced the image quality.  I compared it to Open Layers showing the same basemap and they look comparable now.  I'll have to assess the quality when I add vector layers, but this looks promising.

[2017-02-08 18:17] shehzan10 commented on #2463
As of v1.30, I don't see this failure (although I do see others). I ran the following steps after checking out the 1.30 release.
[code]

Tested on Chrome stable (other failures seen) and Chrome Canary (no failures).

Is there anything I'm missing in reproducing this?

[2017-02-08 18:19] jhalbroo commented on #4346
I've also encountered this issue.  It is important to the use case of maintaining the user's view after a change in dimension.  I implemented a solution as described [here](http://stackoverflow.com/questions/26396604/setting-camera-position-after-scene-transitions) to capture the view before a morph and reset it on morph complete, and it works when transitioning from 3D but not when transitioning

[2017-02-08 18:21] emackey commented on #3939
By "work fine" you mean you can see the ground through translucent ellipses?

What if you modify the red line, adding `.withAlpha(0.2)`, does that blend?

[code]

The red line should become almost invisible, as shown below the blue line here:

![thinredline](https://cloud.githubusercontent.com/assets/1235080/22751065/14f65cd4-ee01-11e6-9c61-03dc6cd05daa.png)

[2017-02-08 18:24] hpinkos commented on #2463
I don't see this one anymore either

[2017-02-08 18:24] #2463 closed

[2017-02-08 18:57] shehzan10 commented on #4565
As of 1.30 release, I'm not seeing any of the Camera tests failin in Edge (v38.14393.0.0 with MS EdgeHTML v14.14393).

That said, I am seeing 2 errors in `Renderer/CubeMap draws with a cube map with premultiplied alpha` and `Renderer/Texture renders with premultiplied alpha` but nothing in the tests noted in this issue.

[2017-02-08 19:13] spereirag commented on #4935
Changing [line 454](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Renderer/Texture.js#L454) from:

```gl.texSubImage2D(target, 0, xOffset, yOffset, this._pixelFormat, this._pixelDatatype, source);```

to:
```gl.texImage2D(target, 0, this._pixelFormat, this._pixelFormat, this._pixelDatatype, source);```

seems to fix the problem. We don't know how this affects the rest of the c

[2017-02-08 19:15] likangning93 commented on #4855
I don't know if this is news to anyone, but in [the sandcastle example provided](https://github.com/AnalyticalGraphicsInc/cesium/issues/4855#issuecomment-273616112) by @duvifn I can very reliably reproduce the bug using right-click zoom using what seems like a tiny amount of mouse motion.

[2017-02-08 19:30] emackey commented on #4855
It looks like the reason that sample reproduces so easily is that it places an entity right on the pick position.  Try modifying the point in that sample to have a hole in the middle:

[code]

Still not perfect, but the zoom bug goes away.

[2017-02-08 20:23] shehzan10 commented on #4942
I ran this test in "safe mode" on Firefox and it doesn't crash the tab. I get the following failure: `Scene/Scene debugShowBoundingVolume draws a bounding sphere`.

Continuing to investigate.

[2017-02-08 20:26] emackey commented on #4767
@lilleyse is this a dup of #4855?

[2017-02-08 20:53] lilleyse commented on #4767
Yes

[2017-02-08 20:53] #4767 closed

[2017-02-08 21:44] pjcozzi commented on #4942
Looks like a pretty fragile test.  Perhaps the camera local is not ideal, e.g., it is too close to the sphere and not catching the wireframe.

Check out the other `debugShowBoundingVolume` tests and also consider using a non-rendering test with a spy instead of checking the rendered pixel.

[2017-02-08 22:09] shehzan10 commented on #4942
I fixed this test by changing the position/radius of the bounding sphere. Seems to be a lot more stable now. Haven't pushed the code yet.

I've dug into the crash in firefox. Turns out its coming from https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Specs/Scene/SceneSpec.js#L296.

The last point I could go into was the render call in globeDepth. Its crashing at drawElements. At first lo

[2017-02-08 22:17] hpinkos commented on #4108
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/iyNHsibp2eI

[2017-02-08 23:10] kring commented on #4894
I can reproduce it using your code as well.  Thanks!  I'll take a look soon.

Sure, that's to be expected.  It's certainly non-deterministic, depending on how long it takes for tile requests to come back and in what order.  To fix this, and make Cesium load exactly the tiles needed for a particular view, we would need to make per-tile min/max heights available without downloading tiles.

[2017-02-08 23:55] axman6 commented on #4712
Looks like it's working for me in Safari 10.0.3 on macOS 10.12.3, nice work whoever fixed this =)

[2017-02-09 01:00] pjcozzi commented on #4712
@axman6 thanks for looking.  Probably the Safari update fixed this.

[2017-02-09 01:00] #4712 closed

[2017-02-09 01:22] pjcozzi opened #4968 "Intermittent GlobeSurfaceTile test failures on CI"
@shehzan10 do you want to look at this at the bug bash?

These tests fail Intermittently.  Perhaps there is a way to simplify them and make them more consistent.

[code]

[2017-02-09 01:31] YousefED commented on #3939
Red line looks good:

![image](https://cloud.githubusercontent.com/assets/368857/22765315/d0988cd2-ee6f-11e6-88d6-15a894970b8c.png)

[2017-02-09 01:58] smills2929 commented on #4108
+1. I'd love to see this!

[2017-02-09 02:58] kring commented on #4894
@jbo023 a fix is in #4969, let me know if it works for you.

[2017-02-09 11:17] PratyushTalreja commented on #4933
I have made required changes to the file.

[2017-02-09 13:41] micelic commented on #873
I'm porting an application from GE to Cesium; it relies on NetworkLinks updates heavily, a Is there any roadmap for such a feature? If the answer is No.. does Cesium have Network  Links but not using KML files but some other format I may have to convert to ? Thank You

[2017-02-09 13:47] hpinkos commented on #873
Hi @micelic!  Cesium does have support for network links, but performance may be slow depending on how your KML is organized.  If performance is an issue, I would recommend converting to CZML.  Other users that have migrated from GE->Cesium have seen significantly better performance with CZML than KML.  You can learn about the format here: https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/

[2017-02-09 13:50] micelic commented on #873
Thank You.

I would like to try the network links first to see the performance hit.. If it is an issue I will think to convert to CZML.

Is there anything documented on Cesium and network links for KML.

The documentation on this topic is limited.

I appreciate your help.

From: Hannah [mailto:notifications@github.com]
Sent: Thursday, February 09, 2017 8:47 AM
To: AnalyticalGraphicsInc/cesium
Cc:

[2017-02-09 14:01] hpinkos commented on #4965
Hello @Zizekftw,

Some primitive types like the Ellipsoid do not have support for ground clamping.  If you need this behavior, I would recommend using a glTF model of an ellipsoid instead.

In the future, please post things like this on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
Thanks!

[2017-02-09 14:01] #4965 closed

[2017-02-09 14:08] shehzan10 commented on #4968
Sure.

[2017-02-09 14:21] shehzan10 commented on #3888
Cross posting here. @hpinkos The culprit test/line is https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Specs/Scene/SceneSpec.js#L296.
If you exclude this test, you should be able to run the tests in firefox just fine.

[2017-02-09 17:49] shehzan10 commented on #3948
* As of 1.27-1.29, the only failure is `Scene/Primitive can mix valid and invalid geometry`.
* **As of v1.30, there are no failures.**

Tested on Chrome (Stable + Canary), Edge, Firefox using `npm run minifyRelease && cd Build && npm start` and then running `http://localhost:8080/Specs/SpecRunner.html?spec=Scene%2FPrimitive`.

[2017-02-09 18:59] bagnell commented on #4235
I investigated this at the bug bash. It would be quite a bit of work to selectively apply anti-aliasing. Here is the post process that would happen **after each frustum** instead of on the entire scene:
![20170209_122413](https://cloud.githubusercontent.com/assets/1494815/22798399/e29b7650-eecf-11e6-92c4-122fb2ce1c86.jpg)

[2017-02-09 18:59] hpinkos opened #4973 "Color Typo: Color.FUSCHIA should be Color.FUCHSIA"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/qo63UZBb8Us

[2017-02-09 19:02] pjcozzi commented on #4235
@bagnell can you post a link to the branch-in-progress and before/after screenshots?

[2017-02-09 19:07] pjcozzi commented on #3948
Thanks @shehzan10, I can confirm these are no longer an issue with `?built=true&release=true`.

[2017-02-09 19:07] #3948 closed

[2017-02-09 19:31] bagnell commented on #4235
The branch is [selective-fxaa](https://github.com/AnalyticalGraphicsInc/cesium/tree/selective-fxaa).
Before:
![image](https://cloud.githubusercontent.com/assets/1494815/22799612/74f2bcb2-eed4-11e6-9e33-cc0287083ede.png)
After:
![image](https://cloud.githubusercontent.com/assets/1494815/22799624/7be275b2-eed4-11e6-9eea-9349ddc6165c.png)

[2017-02-09 19:44] bagnell commented on #4855
#4967 definitely fixed the issue with the code sample @duvifn posted.

@kring @smills2929 @denverpierce Can you test to see if you can still reproduce this with master?

[2017-02-09 20:52] denverpierce commented on #4855
#4967 keeps the view from flipping to the other side of the globe, but also halts zooming until the next mouse move event.  IE if you're right mouse zooming and the zoom is halted, a user could keep moving their mouse and not realize why the zoom isn't working.  It's an improvement. For me, #4887 was a better fix because it doesn't interupt user control. I also tested think that the #4368 causes t

[2017-02-09 20:58] #4945 closed

[2017-02-09 21:07] pjcozzi commented on #4855
@bagnell if we're going with #4967, can you please update the forum threads referenced in this issue?

[2017-02-09 21:22] #4973 closed

[2017-02-09 22:17] pjcozzi commented on #4235
Another idea is to render pick ids with MRT (or a separate pass to an offscreen framebuffer/texture), and then only blur pixels where the surrounding pick ids are different so only the ends of objects are blurred.  Billboards, the globe texture, etc. would not be blurred except at the silhouettes.

[2017-02-09 23:23] denverpierce commented on #4235
Would these fixes apply to #3279 as well?

[2017-02-10 09:58] keikland commented on #4855
The problem occurs consistently on my very fast computer.  Having struggled with this problem since Dec 19th, the pattern coming out is that it is related to the new general pointer support in Chrome/Blink and Firefox/Gecko engines.   The problem seems to extend to *all* browsers using those new engines, and I have tested many.  Earlier versions do not have the problem!

Completely correlated with

[2017-02-10 13:43] pjcozzi commented on #4235
@denverpierce they would be part of the solution.

[2017-02-10 14:42] likangning93 commented on #4901
Taking this for the bug bash, speak now or forever hold your peace...

[2017-02-10 14:48] #4955 closed

[2017-02-10 14:48] hpinkos opened #4983 "Batch Table 'instanceIndex is out of range' error when editing a polyline"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/gbBjAyFs1JQ

I've seen this a number of times when editing polyline positions, but haven't found a reliable way to reproduce the crash.  I asked the user from the forum if they had a code example to share.

[2017-02-10 14:52] hpinkos commented on #3960
Also reported here: https://groups.google.com/d/msg/cesium-dev/Po7DMCeuCsA/pVjEPZ9qCgAJ

[2017-02-10 15:10] likangning93 opened #4985 "Remove ArcGisImageServerTerrainProvider"
Deprecation PR: https://github.com/AnalyticalGraphicsInc/cesium/pull/4981
Details: https://github.com/AnalyticalGraphicsInc/cesium/issues/4955

There are also a couple `@see ArcGisImageServerTerrainProvider` in the doc that should be removed as well.

[2017-02-10 15:30] #4901 closed

[2017-02-10 15:59] #4855 closed

[2017-02-10 17:44] pmconne opened #4987 "Instanced3DModel3DTileContent does not load batch IDs"
It needs to look for BATCH_ID in featureTable.json, not on the featureTable itself.
Apologies for poor formatting - I'm new here.

`-            if (defined(featureTable.BATCH_ID)) {`
`-                var componentType = defaultValue(featureTable.BATCH_ID.componentType, ComponentDatatype.UNSIGNED_SHORT);`
`+            if (defined(featureTable.json.BATCH_ID)) {`
`+                var componentTyp

[2017-02-10 19:57] pjcozzi opened #4988 "Implicit WebGL extension requirements"
The following tests check for implicit WebGL extension requirements:
* `Scene/Primitive renders with distance display condition per instance attribute` (floatingPointTextures)
* `Scene/GroundPrimitive renders with distance display condition per instance attribute` (floatingPointTextures)
* `Scene/BillboardCollection renders more than 16k billboards` (instancedArray)

The first two should be have a

[2017-02-10 20:26] pjcozzi opened #4989 "NXT renderer"
This is a long-term roadmap issue to track development of NXT, the NeXT generation graphics API for the Web (similar to #797 for WebGL 2).

* https://github.com/gpuweb/nxt-standalone

[2017-02-10 20:40] #4711 closed

[2017-02-10 22:11] pjcozzi commented on #4711
On Windows/Chrome (didn't test elsewhere), I now only get this one new test failure when extensions are disabled as described above

Expected to render [0,0,0,255], but actually rendered [165,165,0,255].
Error: Expected to render [0,0,0,255], but actually rendered [165,165,0,255].
    at stack (http://localhost:8080/ThirdParty/jasmine-2.2.0/jasmine.js:1475:17)
    at buildExpectationResult (http:/

[2017-02-10 22:27] shehzan10 commented on #4711
Interesting. I re-ran the tests on Chrome and Firefox on Windows but I don't see that test (all tests pass). Can you provide any more info (Chrome version maybe)?

[2017-02-10 22:47] shehzan10 commented on #4565
With regards to `CameraEventAggregator` and `ScreenSpaceCameraController`, these were only intermittent in the browser so could barely get any information out.

So I added #4993 which allowed running these tests from command line. Now the errors are consistent.

All the failures seem to stem from:
[code]

[2017-02-10 22:52] pjcozzi commented on #4711
Same Chrome and Firefox versions.

It passes when ran alone: http://localhost:8080/Specs/SpecRunner.html?spec=Scene%2FPrimitive%20renders%20in%20Columbus%20view%20when%20scene3DOnly%20is%20false

But fails when all the `Primitive` tests are ran: http://localhost:8080/Specs/SpecRunner.html?spec=Scene%2FPrimitive

[2017-02-10 23:00] #4619 closed

[2017-02-10 23:58] JakeDluhy commented on #4863
[problem_obj.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/768084/problem_obj.zip)

I ran into this same problem, using the obj in the zip and `obj2gltf` as well. I haven't modified it at all.

[2017-02-11 02:00] JakeDluhy commented on #4863
Looks like it's happening at line 1178 of GeometryPipeline:
[code]
In my case `vertexNormalData.count` is 2, but both of the `normalsPerTriangle` values are also `0,0,0` so it all adds up to `0,0,0`.

[2017-02-11 15:01] pjcozzi commented on #4935
@spereirag have you tried this on multiple browsers?  This is could be a WebGL implementation bug.  In both `texImage2D ` and `texSubImage2D `, the last argument is `TexImageSource`, which is:
[code]
I'm not aware of any differences with alpha when calling one function vs the other.

The other thing it could be is if the internal format / pixel format / pixel datatype changed from when `texImage2D

[2017-02-12 00:21] lucastheisen opened #4994 "Does not layout correctly inside of a flexbox"
I have created this jsfiddle to demonstrate the problem:

https://jsfiddle.net/lucastheisen/cpqfhws5/5/

In the run window, there is a button for leaflet and one for cesium.  If you click leaflet, everything is happy.  Resize the window and everything works as expected.   If, however, you click cesium, it may immediately fail, but if you start resizing the window it will eventually just start grow

[2017-02-12 14:22] mramato commented on #4994
@lucastheisen What browser and OS are you using?  Because your example has different behavior for me in Chrome and Firefox on Windows (In Chrome, leaflet doesn't show up at all but Cesium works, in Firefox I get the behavior you are describing).

I think there is a problem with your example layout.  You have a `#cesiumContainer` element marked at 100% height.  If you remove that, everything appear

[2017-02-12 15:51] ohadmanor commented on #2160
Patrick Hi,

In the following example (Sandcastle) I can't see the 'closeTop' from above is it related to that problem or is it a new one

tnx

var viewer = new Cesium.Viewer('cesiumContainer');
var terrainProvider = new Cesium.CesiumTerrainProvider({
    url : '//assets.agi.com/stk-terrain/world'
});
viewer.terrainProvider = terrainProvider;
viewer.scene.globe.depthTestAgainstTerrain = true;

[2017-02-12 17:18] emackey commented on #4994
This is not a Cesium bug, just a quirk of the way CSS flexbox interacts with a WebGL canvas.  I posted [a workaround on StackOverflow](http://stackoverflow.com/a/42183900/836708), give that a try, thanks!

[2017-02-12 17:18] #4994 closed

[2017-02-12 17:51] lucastheisen commented on #4994
@mramato, I am using Firefox, Chrome, and Microsoft Edge on Windows 10.  In all 3 cases:

1) Navigate to https://jsfiddle.net/lucastheisen/cpqfhws5/5/
2) Make browser large enough to see content in the map area
3) Click `Cesium`, and let it load
4) Grab the browser window corner and resize up and down for a few seconds

However, it appears one of your committers (@emackey) provided an explanation

[2017-02-13 10:43] esraerik opened #4997 "Fly to a rectangle with saved camera heading, pitch"
Hi.
I wrote a post about this issue on your google  group.
https://groups.google.com/forum/#!topic/cesium-dev/F5k4gL_2WB4

I want to fly a rectangle with saving camera heading and pitch value in fly to method.

I want to stay camera saved heading pitch value end of the fly , not fly orientation.

Can I solve this problem with flyTo .

Thanks .

Esra ERİK

[2017-02-13 10:51] esraerik opened #4998 "Fly to a rectangle with saved camera heading, pitch"
Hi.
I wrote a post about this issue on your google  group.

[https://groups.google.com/forum/#!topic/cesium-dev/F5k4gL_2WB4  (https://groups.google.com/forum/#!topic/cesium-dev/F5k4gL_2WB4 )
I want to fly a rectangle with saving camera heading and pitch value in fly to method.

I want to stay camera saved heading pitch value end of the fly , not fly orientation.

Can I solve this problem with flyT

[2017-02-13 10:52] #4998 closed

[2017-02-13 11:00] esraerik commented on #4346
Hi.
I'm using compute view rectangle very well in 2d .You did't give ellipsoid parameter in computeview rectangle. Maybe this cause  returning undefined.

[2017-02-13 12:12] pjcozzi commented on #94
KML fix: #4961

[2017-02-13 15:24] hpinkos commented on #2160
@ohadmanor this is happening because your `extrudedHeight` is higher up than the heights of the positions.  This is causing the polygons to be drawn inside out.  Right now we expect the extrudedHeight to always be less than the per position heights.  We have an issue written up to fix that here: #2924

[2017-02-13 15:26] hpinkos commented on #4997
@esraerik I'll answer your question on the forum.  Please do not post the same thing in multiple places.  The forum is the correct place to post questions like this.  Thanks!

[2017-02-13 15:26] #4997 closed

[2017-02-13 16:04] ohadmanor commented on #2160
Thanks,

Usually extrude is from bottom to up . . . :-)

I have two questions if you can answer:
 1. it will be possible to do both sides (up and down)? is it in the road map?
 2. is it possible to use cross terrain for that, like enableCollisionDetection or something else?

Once again thanks!

[2017-02-13 16:13] hpinkos opened #4999 "Camera zooms past terrain after tracking entity"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/4QYeyIRJOLw

[code]

1.  Double click to track the billboard
2.  Click the home button to untrack the billboard
3.  Zoom as far into the earth as you can.  You'll zoom too far and see stars

![stars](https://cloud.githubusercontent.com/assets/3451886/22891393/3c8b371c-f1dd-11e6-8eef-3bb15d0c058f.gif)

This only happens after

[2017-02-13 16:22] hpinkos commented on #2160
No problem @ohadmanor!  I did have a note in that issue to be able to specify heights for both the top and bottom of the extruded polygon.  And we would eventually like to add clamp to ground support for extruded polygons.  However, I don't think we'll be able to address either of these issues in the immediate future. We're pretty busy with fixing other things and finishing up the 3D tiles impleme

[2017-02-13 16:31] ohadmanor commented on #2160
I'm new in cesium, but I want to.

before that I want to be able to play around with cesium and than to join in . . .

I'm worldwind old school . . . (the C# version) . . .

[2017-02-13 16:34] hpinkos commented on #2160
Oh cool!  Well when you're ready to start contributing, we have a beginner label with a bunch of issues perfect for someone new to Cesium https://github.com/AnalyticalGraphicsInc/cesium/issues?q=is%3Aopen+is%3Aissue+label%3Abeginner

[2017-02-13 21:15] lilleyse commented on #4987
Fixed in https://github.com/AnalyticalGraphicsInc/cesium/pull/5001

[2017-02-13 21:15] #4987 closed

[2017-02-13 22:31] denverpierce commented on #4368
What GPUs/Browsers does everyone run into this on? I get this pretty consistently on a discrete AMD GPU, which makes me think that @kring [idea](https://github.com/AnalyticalGraphicsInc/cesium/issues/4855#issuecomment-273922119) (caught up with the zoom issues which were exacerbated by this issue) that it's depth buffer related with AMD cards may have something to do with it.

[2017-02-14 02:07] cfickler commented on #4898
This could probably be shortened, but it solves the issue:

function zoom2D(camera, amount) {
        var frustum = camera.frustum;

                if (!defined(frustum.left) || !defined(frustum.right) || !defined(frustum.top) || !defined(frustum.bottom)) {
            throw new DeveloperError('The camera frustum is expected to be orthographic for 2D camera control.');
        }

        //******

[2017-02-14 14:15] #4956 closed

[2017-02-14 14:57] lilleyse commented on #4673
Is the url still up to date? I'm not noticing any unusual activity in the network tab but the tileset seems wrong.

Captured from a different view:
<img width="770" alt="floating" src="https://cloud.githubusercontent.com/assets/915398/22933743/893bbc04-f29a-11e6-92a6-868c7dc0f5ab.png">

[2017-02-14 15:00] pjcozzi opened #5003 "Add number of points/features stats to 3D Tiles Inspector"
@austinEng can you please do this after #4978 and the related blog post?

For point clouds (pnts), we'd like the inspector to report the total number of points downloaded and the number currently rendered.

For 3D models (b3dm, i3dm), we'd like to report the same for number of features, e.g., number of buildings.

Please test with composite tiles as well.

Later, we'll add support for vctr; in the

[2017-02-14 15:26] hpinkos commented on #4898
Thanks @cfickler!  Would you be interested in opening a pull request with that fix?  You can see instructions in our contributing documentation: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request

[2017-02-14 15:27] pjcozzi commented on #5003
downloaded === in memory, not those that were unloaded from the cache.

CC #3241

[2017-02-14 16:09] jbo023 commented on #4673
Hi,

I just pulled the latest 3d-tiles branch and have the same problem. The tileset is not shown correctly. Did something change with the rendering code in the last days?

But the unloading problem is still there. If i just run the examplecode in a sandcastle, chrome won't stop loading b3dm tiles. But I just noticed that this only happens if you disable the cache. This is really strange.

[2017-02-14 16:59] lilleyse commented on #4673
I'm looking into why its broken on the latest branch, there should be a fix soon and then I'll get back to this.

[2017-02-14 17:03] jbo023 commented on #4673
I also checked some other datasets, the problem is only with textured datasets.

[2017-02-14 17:19] lilleyse commented on #4673
There was a recent change in `Model.js` in how program attributes are checked.

Looking at one of the b3dm tiles not all the attributes are specified correctly in `programs` objects:

[code]

There may be a quick fix to this in Cesium so it uses `techniques.attributes` instead.

[2017-02-14 17:36] jbo023 commented on #4673
I see,  I also found the corresponding commit.
https://github.com/AnalyticalGraphicsInc/cesium/pull/4975/commits/0690a4fc2007336ef465e9988b007b0b7ddc27bb

Its a bug in the our gltf code. But before that commit cesium tried to find the attributes by using the "findVertexAttributes" function to get the attributes directly from the shader code. So the Bug in our GLTF code didn't have any impact :)

W

[2017-02-14 18:09] lilleyse commented on #4673
Yeah that's the problem area. I'm going to revert some of those changes since I don't want to break existing models.

[2017-02-15 02:12] #4084 closed

[2017-02-15 15:07] hpinkos commented on #4164
This came up again on the forum: https://groups.google.com/d/msg/cesium-dev/x3sYLgIr8Mc/wH2tdn_hCwAJ

[2017-02-15 15:16] hpinkos opened #5007 "Problem with overlapping billboards"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/3jqWe5Ksi0k

This issue is the result of the transparent billboard fix that came in 1.30 #4886

Before:

![image](https://cloud.githubusercontent.com/assets/3451886/22980533/d2f7d9f4-f367-11e6-8f47-26b97938a946.png)

After:
![image](https://cloud.githubusercontent.com/assets/3451886/22980541/d70dcd8c-f367-11e6-884b-84f

[2017-02-15 15:29] hpinkos commented on #4929
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/rCBSbMx8Xmk

[2017-02-15 16:24] krheinwald opened #5009 "Make max/min speed selectable through jog wheel configurable"
Please add member/method to Cesium.Animation to make the upper and lower bounds of the jog wheel configurable.

604800x is a bit too much when dealing with a timeframe of 10mins ;)

[2017-02-15 17:35] pjcozzi commented on #5007
@bagnell is there anything we can do about this other than sorting individual billboards by depth?

[2017-02-15 19:02] austinEng commented on #5003
Do we want to differentiate between the types of features? i.e. If there are different types of content (models and points). Should the inspector report the feature counts separately?

[2017-02-15 19:08] hpinkos commented on #2694
Also came up in this forum post: https://groups.google.com/d/msg/cesium-dev/Z68H4SHnAAY/MzQTuxkQDAAJ

[2017-02-15 19:34] pjcozzi commented on #5003
Yes, features (from b3dm and i3dm) should be a separate count from points (pnts)

[2017-02-16 15:38] mramato commented on #5009
You can already do this via the [setShuttleRingTicks](https://cesiumjs.org/Cesium/Build/Documentation/AnimationViewModel.html#setShuttleRingTicks) method.

Here's a Sandcastle example of using it: http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=6cbfde5cbd3f9acc83486a7ab2161764

[2017-02-16 15:38] #5009 closed

[2017-02-16 15:43] hpinkos commented on #4918
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/UgdiI_MNbTQ

[2017-02-16 19:07] pjcozzi commented on #4673
@lilleyse is #5008 just part of the fix here or the entire fix?

[2017-02-16 19:10] lilleyse commented on #4673
It's the entire fix. The rendering issues were resolved in #5004

[2017-02-16 19:14] jpthompson212 opened #5014 "Meta Data Window"
When double clicking an entity and pulling  up the meta data window.  If a field surpasses the typical width, a horizontal scroll bar is created that slightly covers the last field of the list which forces the creation of a vertical scroll bar.

The sizing of the window should be slightly increased if scroll bars exist so that all fields are still visible.

[2017-02-16 19:20] #4673 closed

[2017-02-16 19:23] hpinkos commented on #5014
Thanks @jpthompson212!
Would you be interested in contributing a fix for this?  The code for the Infobox is found in these two files: [InfoBox](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Widgets/InfoBox/InfoBox.js), [InfoBoxViewModel](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Widgets/InfoBox/InfoBoxViewModel.js)
It would be great if you wanted to lo

[2017-02-16 21:58] hanokhaloni commented on #4985
There is also a comment in doc you need to remove.
Also - Can you provide more information about this change?

[2017-02-16 22:04] hanokhaloni commented on #4955
any plans to interacting with ArcGIS to get terrain data?

[2017-02-16 23:34] billwritescode commented on #4919
Hey @emackey, thanks for looking into this. More important than hitting the 1.30 release is being sure we have a stable way of keeping this sort of behavior. Reworking the current code to use points is not that exciting, as you might imagine.

But in the same vein as transparent points, I think forcing labels to be transparent is promising.

[code]

http://cesiumjs.org/releases/1.30/Apps/Sandcastl

[2017-02-17 00:56] billwritescode commented on #630
Any thoughts on addressing this? Noticing that `pick` is chewing up CPU time: http://cesiumjs.org/releases/1.30/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=09ea27d7643dceaacded4fe1f31a9471

[2017-02-18 15:58] pjcozzi commented on #630
@billwritescode the biggest win will come from not stalling the CPU and starving the GPU with WebGL's `readPixels`.  I think this is possible with WebGL 2, #797, and we'll investigate when we ramp up WebGL 2.

[2017-02-18 15:59] pjcozzi commented on #4955
@hanokhaloni no, but it would be great if Esri wants to contribute that.

[2017-02-18 16:00] pjcozzi commented on #4985
@hanokhaloni see http://gis.stackexchange.com/questions/228806/cesiumjs-1-32-and-arcgis-10-2-arcgisimageserverterrainprovider-is-being-deprec

[2017-02-18 17:09] pjcozzi commented on #4929
I labeled this `next release`; I don't think we'll be able to do it for 1.31, but we'll try for 1.32.

[2017-02-20 12:45] hpinkos commented on #1640
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/pGUPCy2X3TQ

[2017-02-20 13:24] hpinkos commented on #3653
Also reported here: https://groups.google.com/d/msg/cesium-dev/rOaa0L8_SAg/bk2ApUU_DQAJ

[2017-02-20 13:40] hpinkos commented on #3737
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/WNkjQNihsfY

[2017-02-20 22:18] mmcgarity opened #5015 "Long Trail Time Reduces Performance"
I'm trying to playback 3-6 month tracks durations, with a trail time of about a week, and I'm finding the performance of Cesium be reduced substantially. The entire UI just slows down, and you can barely use it.

This is with a small amount of track data, the duration just happens to be a long period and that destroys Cesium.

Here's some example code which is basically the same as the CZML Path e

[2017-02-20 22:39] pjcozzi opened #5016 "3D Tiles Inspector: report geometric error for each tile"
@austinEng can you look at this before we start the skipping LODs optimization?

Use `LabelCollection` to display the geometric error for each tile.  Perhaps draw at the approximate corner of the tile's bounding box/region/sphere.

This will be useful for us to evaluate tilesets, e.g., sometimes the geometric error is just wrong or increases too incrementally from parent to child tile.

CC #3241

[2017-02-21 18:54] esparano opened #5018 "Adjusting Camera Angle Sometimes Incorrect When Dragging Off Globe"
Steps to reproduce:
1) After pressing the Home view button, zoom into Mexico so that Mexico takes up most of your screen space.
2) Middle-click and drag upwards to lower your camera angle so that you can see both the ground and space.
3) Middle-click and drag rightwards until due east is now upwards and north is leftwards.
4) Left-click as far east as you can while still clicking the globe, and ho

[2017-02-21 20:52] bagnell commented on #1075
For resources on different font rendering methods, including SDF, see - http://aras-p.info/blog/2017/02/15/Font-Rendering-is-Getting-Interesting/

[2017-02-22 00:38] glee2244 commented on #4865
Hi, I'm working on adding the length and distance functions but couldn't find anything in CesiumMath that support either of those two functions. Are there any other functions in the repo that could possibly help me?

[2017-02-22 01:09] #5003 closed

[2017-02-22 01:28] #1075 closed

[2017-02-22 01:31] pjcozzi opened #5022 "Improve label quality rendering with signed distance fields"
This will be especially useful when the label is scaled to be bigger/smaller than the rasterized glyphs in the texture atlas.

Resources from #1075:
* http://aras-p.info/blog/2017/02/15/Font-Rendering-is-Getting-Interesting/
* https://github.com/mattdesl/gl-sprite-text
* https://www.essentialmath.com/?p=111
* http://wdobbie.com/post/gpu-text-rendering-with-vector-textures/
* http://metalbyexample.

[2017-02-22 01:51] lilleyse commented on #4865
Look into `Cartesian3.length` and `Cartesian3.distance`.

[2017-02-22 11:11] truefunrun commented on #4876
@mramato We look forward to this transition :-)

[2017-02-22 14:47] likangning93 commented on #4863
@JakeDluhy sorry for the extremely slow response. This case can happen if your model's winding order is inconsistent, see here: https://github.com/AnalyticalGraphicsInc/gltf-pipeline/issues/242#issuecomment-280711872

For now, if you can get your model imported into blender and then re-exported with normals, it should be able to go through obj2gltf without having to compute new normals. We're work

[2017-02-22 17:44] denverpierce commented on #5015
Try adjusting the resolution as a workaround.  1 week * 7 days * 24 hrs * 60 minutes/hr at a 5 second resolution makes a lot of extraneous data points, slowing things down.

[2017-02-22 18:54] hpinkos opened #5025 "GroundPrimitive support for other materials"
I swear we had an issue open for this already but I couldn't find it.

From the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/x3sYLgIr8Mc

[2017-02-22 19:41] hpinkos opened #5026 "Infinite scroll 2D is really slow with polygons"
* Open the viewer
* Drag drop the attached GeoJSON file
* Switch to 2D mode

The map is lags pretty badly in 2D infinite scroll mode.  The performance is fine in 3D and is much better if you use the rotatable 2D map instead

[vienna.geojson.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/794617/vienna.geojson.txt)

[2017-02-22 19:46] pjcozzi commented on #4511
Fixed in #4979.

[2017-02-22 19:46] #4511 closed

[2017-02-22 20:32] hpinkos commented on #2480
Also reported here: https://groups.google.com/d/msg/cesium-dev/PnM8vOhALfY/-OCjHEU7DgAJ

[2017-02-22 21:57] pjcozzi opened #5029 "3D Tiles Inspector: report per-tile number of commnads/features/points/etc"
@austinEng after skipping LODs or when you need a break can you add label visualization that displays per tile:
* Number of commands (including derived commands for translucent styling if possible)
* Number of features (hide if zero)
* Number of points (hide if zero)
* Number of triangles (hide if zero)

Probably use one `LabelCollection` for all debugging labels and create new lines in the string

[2017-02-23 09:01] lucasvw commented on #5007
+1

[2017-02-23 09:22] smills2929 commented on #5007
The way the issue is effecting me is the exact same as lucasvw. The edges of our circular icons show through each other.

[2017-02-23 13:05] pjcozzi opened #5030 "3D Tiles Inspector: add commas to numbers"
To make them a bit easier to read, for example:

![image](https://cloud.githubusercontent.com/assets/782098/23260214/bb64715c-f99e-11e6-8153-746d82692753.png)

@austinEng

CC #3241

[2017-02-23 14:27] mramato commented on #5007
Marking this as next release so that we look at it for March 1st, but if the fix is non-trivial for some reason, it will probably have to wait for April 1st.

[2017-02-23 14:29] mramato commented on #5030
Don't just add commas manually, call [toLocaleString](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toLocaleString).  Commas and decimal points are reversed in many languages and this will use the correct one depending on the users system.

[2017-02-23 16:03] speigg opened #5031 "ConstantProperty can enter invalid state"
In certain cases, `ConstantProperty` will update it's internal `_hasClone` and `_hasEquals` properties without also updating the `_value` property to match, which can lead to an invalid state.

Here is a simple way you can reproduce the error I am seeing:

[code]

This happens because the value passed to the `ConstantProperty` instance the second time has a `clone` and `equals` function, and after

[2017-02-23 22:09] pjcozzi commented on #5007
I agree this should be looked at soon.  @bagnell can you evaluate after #5021?  If it isn't an easy fix, what is the level of effort?

[2017-02-24 04:50] TheLarkInn commented on #4876
@mramato What specifically are the bugs that you are referring to? I'm happy to try and get them solved so this isn't a problem.

[2017-02-24 13:50] mramato commented on #4876
@TheLarkInn These are the two issues that people run into with Cesium: https://github.com/webpack/webpack/issues/1161 and https://github.com/webpack/webpack/issues/2670

While I'm no webpack expert, I believe they are both cases where webpack fails with otherwise valid and ES5 compliant JavaScript.  We're happy to hear any recommendations you may have, especially if there's a trivial workaround on

[2017-02-27 16:17] theranch commented on #4359
I notice performance hit when using flyTo. There seems to be a need for Cesium to use more system resources when I use flyTo.

[2017-02-27 20:06] hpinkos opened #5041 "Ground clamped billboard in wrong location during scene transform"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/DjnveYPBjtw

https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Ground%20Clamping.html&label=Showcases

When you transition to either 2D or CV, the billbaord and label are in the wrong location during the morph.  It sometimes snaps to the correct position after the morph completes, but sometimes it doesn't move

[2017-02-27 20:10] hpinkos opened #5042 "Clamped billboard has incorrect bounding sphere in 2D and Columbus View"
https://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Ground%20Clamping.html&label=Showcases

- Switch to 2D or CV
- Double click the label to track it

The selection indicator is in the wrong place and the camera seems to be tracking wherever the selection indicator is pointing to

![image](https://cloud.githubusercontent.com/assets/3451886/23377661/d5c49be0-fcfe-11e6-90cb-cd0a829672f4.png)

[2017-02-28 01:33] lilleyse commented on #4538
@bagnell Is there time to get this in before the 1.31 release?

[2017-02-28 01:34] lilleyse commented on #5007
@bagnell also will this make it in time for 1.31?

[2017-02-28 02:37] lilleyse opened #5046 "Firefox test failure - PrimitiveSpec 'shader validation'"
I'm getting a test failure for `Scene/Primitive shader validation`

This test is pretty fragile right now. It assumes the GLSL compiler will not optimize out unusued attributes. Firefox does though, which causes the test to fail. Is it worth removing?

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Specs/Scene/PrimitiveSpec.js#L1069

[2017-02-28 02:49] lilleyse commented on #4815
And https://github.com/AnalyticalGraphicsInc/cesium/pull/5047

[2017-02-28 10:28] EvaldasVasiliauskas opened #5048 "package.json 'main'"
Im developint Angular2 + Webpack2 solution with Cesium. Everything works great, but only if I add
`"main": "Build/Cesium/Cesium.js",`
to Cesium npm package.json. so that angular knows cesium package main script to run.

Could you please add this line to package.json by default?

[2017-02-28 17:10] hpinkos commented on #5048
Thanks for the suggestion @EvaldasVasiliauskas!

@mramato what do you think of this?

[2017-02-28 19:06] bagnell commented on #5007
@lilleyse No, but a workaround to get the old behavior is:
`billboardCollection.blendOption = Cesium.BlendOption.TRANSLUCENT;`

[2017-02-28 19:08] bagnell commented on #4538
@lilleyse No, we'll need to push this to the next release.

[2017-03-01 14:45] #4911 closed

[2017-03-01 14:51] #4859 closed

[2017-03-01 15:17] lilleyse commented on #2860
Errors I'm seeing now:

`Core/loadCRN returns a promise that resolves to an compressed texture when the request loads` - @bagnell can you check that crn textures are working in IE
`Renderer/CubeMap fails to generate mipmaps (width)`
`Scene/GeometryRendering PolygonGeometry pick`
`Scene/GeometryRendering Extruded PolygonGeometry pick`

And then many `CONTEXT_LOST_WEBGL` errors like above - all in `

[2017-03-01 15:27] lilleyse opened #5055 "Cesium Inspector - Picking tile bug"
When picking a tile and then clicking select relative NW, NE, SW, or SE I get an error

`Uncaught TypeError: Cannot read property 'minimumHeight' of undefined (on line 896 of http://localhost:8081/Source/Widgets/CesiumInspector/CesiumInspectorViewModel.js)`

[2017-03-01 15:35] hpinkos commented on #5055
See discussion in #2448

@pjcozzi said fixing this is 'is insufficient priority for the amount of work'

We should probably remove those buttons though if it doesn't work

[2017-03-01 16:20] emackey commented on #2734
This is fixed in #5043.

[2017-03-01 16:20] #2734 closed

[2017-03-01 18:02] #4730 closed

[2017-03-01 22:12] alinen opened #5061 "COLOR_0 attribute in glTF models causes crash in Model.js"
Dear Cesium Team,

Tested in Cesium 1.3.

The crash is due to missing keyword for COLOR_0 in gltfSemanticUniforms. I currently work around the issue with the following change:

Model.js LINE 2859
 if (parameter.semantic !== 'JOINTMATRIX' && gltfSemanticUniforms[parameter.semantic] != undefined) {

A model which demonstrates the problem can be found here:
https://github.com/AnalyticalGraphicsInc/ag

[2017-03-02 01:59] smills2929 commented on #5007
@bagnell How does that work for an entity collection?

[2017-03-02 14:09] hpinkos commented on #5061
@alinen did you mean Cesium 1.3 or 1.30?

[2017-03-02 14:54] lilleyse commented on #5061
It looks like the problem is the technique is referencing the color as a uniform when it should be as an attribute. I attached the fixed model - it loads in Cesium now but doesn't show colors, the shader needs to support them still.
[drone.gltf.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/814133/drone.gltf.txt)

[2017-03-02 15:26] freder opened #5065 "camera constraint bug?"
hi,

from what I've read, I understand that there is a default camera constraint that prevents the globe from tilting when the user interacts with it by panning etc. – that is great, and exactly what I need, except I find that this does not behave as expected.

I have a model that is positioned relative to the camera, like so:

[code]

I would expect it to always be upright, however I see this hap

[2017-03-02 17:09] hpinkos commented on #5026
@bagnell a number of users on the forum have been complaining about slow polygons when upgrading from 1.2x to 1.30+.  Do you know of anything that changed that might have caused that?

[2017-03-02 17:14] hpinkos commented on #5065
@freder part of the probem you're seeing is this bug where the camera gets stuck if you're using zoom limits #3984

The bug about zooming to the wrong location is a new one, so thanks for reporting that!

[2017-03-02 19:22] bagnell commented on #5007
@smills2929 We don't expose the billboard collection for entities but you can access it with a private property.
[code]
If you won't be removing all billboards, you can remove the event listener after it is called.

[2017-03-02 19:49] #2599 closed

[2017-03-02 21:30] emackey commented on #5007
The sample shown in screenshots at the top of this issue is a bad one.  The old versions only look "good" because of the old bug where the front billboard was completely wiping out the rear ones.  The sample code is asking for muddy overlap, and the old bug is what saves it from itself.

A much better example of this bug is shown in @lucasvw screenshots.  This can be seen in the "GeoJSON simplesty

[2017-03-04 15:02] kartblanch opened #5073 "See the geometry under a surface"
Hello!
I would like to learn how I can display the primitive (3D model) under terrain.
All my results are ambiguous ... hard to understand whether the model above or below ground. As an example, you can see in the screenshot:
https://hostingkartinok.com/show-image.php?id=86f03fdf4b0f371244c8a95f49de6cea
Case 1: A simple model is on negative height.
Case 2: Use `scene.globe.depthTestAgainstTerrain

[2017-03-06 13:52] hpinkos opened #5075 "GroundPrimitive doesn't render in 2D"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/DgkAt_g283E

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Ground%20Clamping.html&label=All

If you switch to 2D, the polygon, corridor and rectangle ground primitives don't render

[2017-03-06 14:21] hpinkos opened #5076 "pickPosition doesn't pick ellipsoid in 2D and CV"
In 3D, `pickPosition` will return a position when hovering over the globe.  In 2D and CV, it's the result is always `undefined`

[code]

[2017-03-06 14:43] hpinkos commented on #5073
Hello @kartblanch,

Cesium does not currently have great support for underground primitives.  However, it is one of the most frequently requested features and we would like to look into it sometime after we finish implementing the 3D Tiles specification.
For now, turning off `depthTestAgainstTerrain` is your best bet until we have official support.

In the future, please post things like this to o

[2017-03-06 14:43] #5073 closed

[2017-03-06 14:47] hpinkos commented on #5018
Hi @esparano, I wasn't able to reproduce this problem.  Would you be able to take a screen capture and share it on YouTube or something similar?

[2017-03-06 15:04] pjcozzi commented on #5075
@hpinkos do you know if this broke recently?  If so, please label this `next release`.

[2017-03-06 15:06] hpinkos commented on #5018
![off-globe](https://cloud.githubusercontent.com/assets/3451886/23615469/88653e6c-0254-11e7-8727-97ffa853f17a.gif)

Here's what @esparano was talking about.  When you drag off the globe, moving the mouse up and down is moving the globe left and right

[2017-03-06 15:10] hpinkos commented on #5075
@pjcozzi Works in 1.29, broken in 1.30.  I added the `next release` label

[2017-03-06 15:15] pjcozzi commented on #5055
@kring what do you want to do here?

[2017-03-06 16:28] pjcozzi commented on #5061
@alinen how did you generate the glTF?  It would be worth submitting a bug there.

@lilleyse I'm not following; is this a Cesium issue?

[2017-03-06 16:29] pjcozzi commented on #5026
@hpinkos do you have links to the forum issues?

@bagnell sounds like something is being computed per-vertex/triangle per-frame.  Perhaps it is missing a coarse-grained check?

[2017-03-06 16:32] hpinkos commented on #5026
Forum posts:

https://groups.google.com/d/msg/cesium-dev/hXC8gxdi3uE/ZBWHUL6jAgAJ
https://groups.google.com/d/msg/cesium-dev/wT2jkCrvvGQ/WdrP3QgmAwAJ

[2017-03-06 17:04] lilleyse commented on #5061
It's a problem with the glTF, not Cesium.

[2017-03-06 17:20] alinen commented on #5061
Dear all,

First, I really appreciate everyone's input on this!

@pjcozzi I created the glTF from FBX using code based on https://github.com/cyrillef/FBX-glTF.  It appears to not be actively maintained but I am able to fix/workaround problems in my own forked copy, so I'm not worried about it. I can mention that the color should be exported as an attribute.

@lilleyse  With a modified model, it in

[2017-03-07 14:30] hpinkos opened #5080 "Image Material doesn't update when canvas content changes"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/7Bda_BkaJMU

The canvas used for the image material is updating, but the rectangle itself does not.  It's because we only read from the canvas once and then it's skipped for subsequent updates https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Material.js#L762

Is there any way to detect if a canv

[2017-03-07 14:55] #5075 closed

[2017-03-07 15:02] hpinkos commented on #5042
This also don't work for a clamped model.  In fact, if you switch to the model demo in that ground clamping example you get crazy flickering between Mt Saint Helens and somewhere in Mexico
![flicker](https://cloud.githubusercontent.com/assets/3451886/23662281/0e93294a-031d-11e7-8a04-c4b462435011.gif)

[2017-03-07 15:09] hpinkos commented on #4968
@shehzan10 did you get a chance to look into this yet? This test failure keeps making greenkeeper throw up errors

[2017-03-07 15:36] shehzan10 commented on #4968
I did look into it around the February bug bash, but it was incredibly hard to reproduce as it was only happening intermittently. I don't really have any update on why this is happening because of that.

[2017-03-07 16:24] mramato commented on #4968
Does this test use external data? (If so that could certainly be part of the problem).

We should either fix this ASAP (preferred) or exclude the test in master (via `xit`) because it's making our unit tests too unstable.

[2017-03-07 23:37] pjcozzi opened #5082 "Missing/thin model silhouettes"
In 2D / Columbus View and in 3D with a orthographic projection.

From https://github.com/AnalyticalGraphicsInc/cesium/pull/5021#issuecomment-284762931

Not a priority right now.

[2017-03-07 23:42] pjcozzi commented on #4968
I agree with @mramato.  Given that we are focused elsewhere, perhaps just `xit` for now.

[2017-03-07 23:45] pjcozzi commented on #5080
This is by design.  We can consider adding something like a `dynamic` flag to update the WebGL texture from the canvas each frame; in the meantime, the app should explicitly update it.

[2017-03-07 23:51] pjcozzi commented on #5061
As glTF 2.0 stabilizes, you'll be able to check if a glTF model is valid with the validator, https://github.com/KhronosGroup/glTF-Validator.

Generally, runtime engines will not include validation to keep them small and light.

Closing since this is a data fix.  Glad you guys got to the bottom of this.

[2017-03-07 23:51] #5061 closed

[2017-03-08 01:33] emackey opened #5083 "Two-pass labels intersect the depth buffer differently"
Noticed in #5066:

Here's an example of labels sticking into mountains.  I know the text looks crowded and bad, but there are not supposed to be any holes in the glyphs.  The holes appear to be the opaque pass finding different depths to intersect than the translucent pass.

Cesium 1.28 needs to be manually set to "Natural Earth II" base map, but then it works, and it looks fine:

* [Cesium 1.28 l

[2017-03-08 01:42] emackey commented on #5083
I did `git bisect` this, and indeed it was introduced with #4886.  This is not a surprise, since that is the change that separated these labels into two passes, and clearly the two passes have different ideas about where that mountain is.

[2017-03-08 10:20] kring commented on #5055
I just opened a PR to fix it.

[2017-03-08 13:33] mramato commented on #5083
I labeled this a priority and next release.  It's a pretty bad regression for anyone clamping labels to terrain.

[2017-03-08 15:22] hpinkos commented on #2473
This came up on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/EbCim-p6jmI

[2017-03-08 18:40] pjcozzi commented on #4968
Ignored for now in #5085.

[2017-03-09 03:09] ailmee opened #5086 "the folder build"
Thanks for contributing to the Cesium Community!

If you have a question, please search the forum:

http://cesiumjs.org/forum.html

and start a new forum thread, if needed, instead of creating this issue.

Otherwise, we look forward to your bug report or feature request in this issue.

---
I would like to ask, how can not find the folder build

Delete this message before clicking Submit.

[2017-03-09 10:11] joneschrisg opened #5087 "Rendering glitches with flat ground-level graphics"
Hello, I feel that this is probably a duplicate but I wasn't able to find one.  I see this on a mid-2014 Macbook Pro with NVIDIA GPU, running OS X 10.12.3.

Steps to reproduce:

0. Load http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Polygon.html&label=Showcases in Firefox 51 or Chrome 56
0. Zoom in and out from ground level to at least the height of screenshot below

<img width="847" al

[2017-03-09 13:52] #5086 closed

[2017-03-09 13:57] hpinkos commented on #5087
Thanks @joneschrisg.  I can't reproduce this on my windows machine, but we did fix a problem like this in the 1.29 release so I'm surprised you're seeing this .

Does anyone else with a Mac have this problem? @pjcozzi? @rahwang?

[2017-03-09 14:50] hpinkos opened #5088 "viewer.zoomTo ignores heading offset"
Reported on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/EbCim-p6jmI

In the following code example, viewer.zoomTo ignores the heading in the HeadingPitchRange offset and viewer.flyTo does not.  The offset is being passed to `Camera.viewBoundingSphere` correctly, so I think something is going weird in that function.

[code]

[2017-03-09 14:51] hpinkos commented on #5088
This might be a duplicate of #2473?  I see this happening in every scene mode though, not just 2D and CV

[2017-03-09 14:54] hpinkos commented on #2473
We need different behavior for `mapMode2D: Cesium.MapMode2D.ROTATE`.  Right now, `zoomTo` rotates the map but `flyTo` does not.  It should rotate the map for both if  `Cesium.MapMode2D.ROTATE` and neither otherwise

[2017-03-09 15:07] hpinkos commented on #3845
Related: https://groups.google.com/d/msg/cesium-dev/Q9-C5tmImIc/YXY2lSFmBQAJ

[2017-03-09 22:23] wallw-bits commented on #526
This allows clients to set up multiple layers as the base map imagery. Something like NASA's Blue Marble is only useful at zoom levels 0-5, where you might then use [World Street Map](http://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer) from 5-15, and then [World Imagery](http://services.arcgisonline.com/arcgis/rest/services/World_Imagery/MapServer) from 15 on. In addi

[2017-03-10 01:24] pjcozzi commented on #5087
I don't have this issue on Mac, but I agree it looks like the issue fixed in 1.29. See #4161

[2017-03-10 05:11] joneschrisg commented on #5087
Thanks for taking a look.  Just to be 100% clear, I'm seeing this in 1.31.  Updated screenshot is below.

<img width="857" alt="screen shot 2017-03-09 at 9 09 40 pm" src="https://cloud.githubusercontent.com/assets/325916/23782952/cd05cfe0-050c-11e7-87ff-ca8801bd0d48.png">

[2017-03-10 09:50] gongzk opened #5092 "billboard's image is not work right"
Cesium 1.31
billboard's image is not work right.
e.g. Billboards.html in Sandcastle App.

[2017-03-10 11:13] viion commented on #3653
Would like to see this, is it possible as a temp solution to add duration to Camera Zoom, you can set `viewer.trackedEntity = entity;` and then I can do `viewer.camera.zoomOut(100000);` however this Snaps to the zoomed out position. If there was a duration and easing it would be super perfect and solve this issue. (If that isn't the hard bit).

[2017-03-10 15:05] bampakoa commented on #1859
@pjcozzi @mramato I can confirm that both

[2017-03-10 15:07] bampakoa commented on #1859
@pjcozzi @mramato I can confirm that both

are working with the latest version.

[2017-03-10 18:57] emackey commented on #5083
@mramato Here's a workaround to get the old behavior, for now:

[code]

[2017-03-10 19:59] pjcozzi commented on #5087
Hmm.  Do you know for sure if it using the NVIDIA GPU or if it is running the integrated Intel?

[2017-03-10 21:46] joneschrisg commented on #5087
Sorry, I forgot to mention that too: I disabled automatic graphics switching when testing.  (Even so, I didn't rigorously verify that the NVIDIA card was being used --- can do that if it'd help --- but I'm pretty sure it's been on.)

[2017-03-11 00:54] lilleyse opened #5094 "Support ability to dynamically change a 3D model's texture"
The ability to change a model's texture dynamically would be a cool feature to have. There's been some interest on the forum lately about this: https://groups.google.com/forum/#!topic/cesium-dev/K5ahn2_Nff4.

Possibly a good code sprint idea, or a project for someone wanting to make a nice self-contained contribution to Cesium.

[2017-03-11 15:08] tikhonovits opened #5095 "Cesium Julian Date Related Question"
Hi!

I am wondering why `JD = new Cesium.JulianDate(0,0);` returns: `Object { dayNumber: 0, secondsOfDay: 10 }`. Strangely enough JD advances with respect to the Julian Day by 10sec.

Shouldn't `JD.secondsOfDay` above be equal to zero?

Thanks,
Nikos

_Cesium Version: 1.29
Windows 10, Firefox DE 54.0a2 (2017-03-10) (64-bit), node.js 7.2.1 (x64) and npm_

[2017-03-11 20:41] shunter commented on #5095
10 seconds is the offset between UTC and TAI as of 1972.  JulianDates are stored internally in TAI, but the constructor you are calling defaults to UTC because you have omitted the TimeStandard.

In the future, please use the forum for general questions.  We use GitHub issues to track bugs and new features.

[2017-03-11 20:41] #5095 closed

[2017-03-12 21:03] pjcozzi commented on #5094
CC #2387

[2017-03-12 21:35] pjcozzi commented on #1859
Thanks for the research, @bampakoa.  @mramato if/when we are on the latest version, can you please close this?

[2017-03-13 12:14] hpinkos opened #5096 "clusterEvent fires continuously"
Reported on the forum: https://groups.google.com/forum/#!topic/cesium-dev/ndvpcS5D1zQ

http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases&gist=7b969d8c5daa49733c640c4ede2618fa

In this example, once you zoom out to the point where the billboards cluster, the `clusterEvent` for the datasource fires continuously

[2017-03-13 12:33] hpinkos commented on #5092
@gongzk we have some billboard fixes coming in the next release.  See #5066

If you have any more questions, please post them on our forum https://groups.google.com/forum/#!forum/cesium-dev

[2017-03-13 12:33] #5092 closed

[2017-03-13 15:10] freder commented on #3984
@hpinkos, @pjcozzi
do you already have a hunch what the problem is, or what a possible fix might be? – maybe I can have a stab at it.

[2017-03-13 15:11] hpinkos commented on #3984
I'm not sure @freder.  @bagnell, do you have any ideas here?

[2017-03-13 15:30] emackey opened #5097 "pinBuilder puts low-alpha values inside the pin"
Noticed in #5066.

Our pinBuilder helper produces pins that can have low-alpha "fringes" on the interior of the pin.  For example, here's the Maki shopping cart on a pin, shown alongside a greyscale version of its alpha map:

![testmakiicon](https://cloud.githubusercontent.com/assets/1235080/23860978/fac92466-07de-11e7-9c25-c256d87f6cf9.png)  ![testmakiicon_alpha](https://cloud.githubusercontent.c

[2017-03-13 15:36] emackey commented on #5097
Reproduce steps:

1. Load Sandcastle Hello World and add these lines:

[code]

2. Click "open in new window" (on Sandcastle toolbar) and wait for the globe to appear.
3. Hit F12 and on the JS console type:  `copy(foo)`.  This will return `undefined`.
4. Open a new tab and hit "Paste & Go".
5. Right-click on the image and hit "Save image as...".
6. Examine the image in a paint program (I've been us

[2017-03-13 15:39] mramato commented on #5097
@emackey this is probably a one line change in PinBuilder's `drawIcon` function.  I assume we are putting the canvas in an incorrect compositing mode or something.  Might be a super easy fix if you want to take a look.

[2017-03-13 15:49] SunBlack opened #5098 "Extent split view to support different Cesium3DTileStyle"
Currently Cesium only supports a split view for ImageryLayer. A have same feature for Cesium3DTileStyle so you can have on left side of view another style than on right side.

I didn't look how split view is implemented for ImageryLayer. But for Point Clouds I see two possible ways:
- Run styling shader twice, one for left part of view and another for right part
- Run a single shader and check pix

[2017-03-13 16:23] alexrobin commented on #3383
Hi,

Do you have any plan to include the suggested fix in the next release? Is there anything wrong with it? I have maintained my own patch with this simple mod and it seems to have been working fine since release 1.16 up to 1.31. I don't think it should have any side effect since it's very specific to using video as material texture.

In 1.31, the fix has to be applied on line 936 of Material.js

[2017-03-13 17:22] hpinkos commented on #3383
Hi @alexrobin, I don't think we've had a chance to look into this yet.  Would you be interested in opening a pull request with the fix?  That would help move things along and getting this fixed in master.
You can find instructions in our [Contributing Documentation](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request)
Thanks!

[2017-03-13 17:37] #5097 closed

[2017-03-14 13:39] hpinkos commented on #3710
Reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/lRQ1vBmrSnM

[2017-03-14 14:58] emackey commented on #3984
The first thing to understand is how zoom works:  It's not linear.  You don't move a fixed number of meters per mouse travel, because movements sizes only make sense when they're near objects of similar sizes.

So if you have Cesium zoomed into a compact car on the street, as you zoom out your zoom speed is about a meter per pixel of mouse travel, then when you see a whole city block the speed is

[2017-03-15 11:03] gongzk opened #5106 "Imagery Layers Split has IDL issues in 2D"
http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Imagery%20Layers%20Split.html&label=Showcases

If you scroll the 2D map so the IDL is in the center of the screen, the split imagery no longer lines up with the screen divider

[2017-03-15 12:30] #5055 closed

[2017-03-15 12:31] hpinkos commented on #5106
Hello @gongzk, the demo worked fine for me in 2D.  What OS and browser are you using?

[2017-03-15 18:41] #2069 closed

[2017-03-15 23:31] lilleyse commented on #3411
I can't reproduce this on 1.31, but https://github.com/AnalyticalGraphicsInc/cesium/pull/5021 was merged and contained a fix for terrain cracking.

@bagnell can you still check that the suggested change here is still good to add?

[2017-03-15 23:32] mramato commented on #3710
I can confirm that #5021 fixes the original cracking problem, but entering `110 45` in the geocoder exposes some major culling issues with terrain, (which may possibly be fixed by #4969)

[2017-03-16 03:02] gongzk commented on #5106
Google Chrome 56.0.2924.87 m
to 2D mode is ok,but
after pan and drag the map(as 180 E line in map) ...

在 2017-03-15 20:31:43，"Hannah" <notifications@github.com> 写道：

Hello @gongzk, the demo worked fine for me in 2D. What OS and browser are you using?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-16 12:41] hpinkos commented on #5106
Ah, thank you @gongzk.  I updated the comment for this issue.  The layer splitter seems to have trouble with the international date line, which is where we stitch the 2D map together for infinite scrolling

[2017-03-16 14:02] hpinkos commented on #4108
Also requested here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/p_TufXEFwTA

[2017-03-16 18:09] bagnell opened #5109 "Remove deprecated OrthographicFrustum properties"
Remove `'left`, 'right`, `bottom` and `top` properties on `OrthographicFrustum`.

[2017-03-16 18:11] bagnell opened #5110 "GroundPrimitives are broken in orthographic projection"
Most likely a clipping or depth clamping issue.

See https://github.com/AnalyticalGraphicsInc/cesium/pull/5021#issuecomment-281544461

[2017-03-16 18:13] bagnell commented on #3001
Derived command shaders are cached in the ShaderCache so they will be properly released when the original shader is. The same method of caching can be used for the derived render states.

[2017-03-16 19:33] bagnell commented on #3411
I can't reproduce this either. The change suggested in https://github.com/AnalyticalGraphicsInc/cesium/issues/3411#issuecomment-271267461 is a good change. @duvifn, can you open a PR?

[2017-03-16 19:44] #3710 closed

[2017-03-16 19:47] bagnell commented on #3710
The terrain cracking is fixed. Going to `110 45` with the geocoder loads fine when using the `EllipsoidTerrainProvider` for me. If I switch it to use STK Terrain, some of the tiles are missing.

[2017-03-16 20:14] #5007 closed

[2017-03-16 23:08] bagnell commented on #5083
This is exactly what is happening. During the opaque pass, we overlap the frustums by a small percentage. During the translucent pass, there is no overlap leading to slightly different depths to the opaque pass.

Removing the overlap from the opaque pass fixes the problem, but it should cause tearing of opaque geometry on frustum boundaries. I need to test more.

[2017-03-16 23:41] lilleyse opened #5112 "More accurate rendering of models in 2D"
The larger the model, the less accurate it will be represented in 2D since it does not use the model's latitude in determining a stretching factor. Maybe just a scale will work, or maybe its harder than that since certain areas of the model vary by their latitude. @bagnell you probably have a better grasp of the details here.

I remember this being a known limitation when 2D model support was adde

[2017-03-17 09:04] krheinwald opened #5113 "JQMIGRATE: jQuery.fn.bind() is deprecated"
When using the logging debug version of jQuery.migrate, the above warning is produced when a Viewer is instantiated.

[2017-03-17 09:51] prieks commented on #873
Any plans for Screenoverlays? Previous comments have indicated it was on roadmap, but not sure if this work has started?

[2017-03-17 11:35] hpinkos commented on #873
@prieks we will likely not add screen overlay support because you can easily use HTML and CSS to create and position elements on top of the viewer.  You can see this example for how to do so programmatically: http://analyticalgraphicsinc.github.io/cesium-google-earth-examples/examples/screenOverlay.html

[2017-03-17 11:36] hpinkos commented on #5113
@krheinwald we don't include jquery in Cesium.  In the future, please post things like this on our forum: https://groups.google.com/forum/?hl=en#!forum/cesium-dev
Thanks!

[2017-03-17 11:36] #5113 closed

[2017-03-17 18:27] hpinkos opened #5115 "Cache bust for new Cesium releases"
On the forum, the absolute most frequent cause for problems is that users update to the newest Cesium release and everything is broken because something was cached from the old release and they need to clear their cookies/cache to make Cesium work.  Is there anything we could do to prevent this from happening?

In the release build, could we tack the version number onto the end of the Asssets/Thir

[2017-03-17 18:41] mramato commented on #5115
Ultimately, the problem is an improperly configured server. Adding a query parameter to workers may fix a specific case where the worker is cached, but it doesn't fix the fact that other js/html/image files (like Cesium.js itself) may be cached.

So my vote is we do nothing and encourage developers to properly configure their servers.

Now if there is an edge case where worker caching is causing a

[2017-03-17 20:49] bagnell commented on #5112
Yes, this was a known limitation when 2D support was added for models. For large models, we would need to go through the positions and project them to 2D. The farther the positions from the origin in model coordinates, the more inaccurate it will be in 2D.

[2017-03-17 21:54] lilleyse opened #5117 "Cache pickPosition"
Orthographic projection calls `pickPosition` to determine the correct frustum width. `ScreenSpaceCameraController` also calls it in `pickGlobe`. Additionally app code may be calling it multiple times per frame. Since this is an expensive operations that causes a CPU/GPU sync, it may be good to cache the `pickPosition` results per frame, or over multiple frames.

[2017-03-17 22:47] pjcozzi opened #5119 "Replace preferLowPowerToHighPerformance with powerPreference"
The only code change is on this line:
[code]
We may also want to expose this if/when we need it.

From public_webgl@khronos.org

[2017-03-17 23:17] pjcozzi opened #5120 "Draco mesh/point compression extension for glTF"
See https://github.com/KhronosGroup/glTF/pull/874

@fanzhanggoogle if you are able to contribute this or start a prototype, it would be very much appreciated.  Here's some tips:

* glTF loader/renderer is here: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/Model.js
* Unit tests are here: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Specs/Scene/ModelSpec.js

[2017-03-17 23:18] pjcozzi commented on #5120
Also, instead of branching off of master, use this branch that is being updated to support glTF 2.0 (and still 1.0 by converting to 2.0 on the fly): https://github.com/AnalyticalGraphicsInc/cesium/pull/4808

[2017-03-17 23:26] bagnell opened #5121 "Disable depth test for labels close to the viewer"
It may be desirable to always have a label be visible, e.g. attached to building or model, when the viewer is close. For example, a label at the center of the milk truck model should be visible at any angle. Now, the depth test on labels causes parts of the label to be occluded.

One option is to have two batches of billboards, one with the depth test enabled and the other would have it disabled.

[2017-03-17 23:43] fanzhanggoogle commented on #5120
That sounds a good plan to validate Draco extension and a good way to promo it :)
I'm working COLLADATOGLTF2.0 + Draco extension now. Will start this after that's done.

[2017-03-17 23:44] pjcozzi commented on #5120
Sounds great @fanzhanggoogle!  Ping @lasalvavida if you have any questions about the COLLADA2GLTF code.

[2017-03-18 00:12] pjcozzi commented on #3984
@emackey sounds like a good idea.  If it is easy to test out, please go for it if you have the bandwidth.

[2017-03-18 00:15] pjcozzi commented on #5121
How did the vertex shader clipping look?  OK?  If so, this would be a good approach when someone has bandwidth.

[2017-03-18 00:20] pjcozzi commented on #5121
Came up when looking at #5083.

[2017-03-18 00:23] #4985 closed

[2017-03-18 00:24] pjcozzi commented on #873
Although Cesium may not have a general screen overlay API, I'm pretty sure that we would add ScreenOverlay support for KML if enough users need it or someone is able to contribute it.

[2017-03-18 00:29] pjcozzi commented on #5112
Maybe with emulating double-precision in the vertex shader (and with transform-feedback in WebGL 2.0, #797) the re-projection could be done on the GPU; it is not affine so it can't be burned into the model material.

Otherwise, I think we would have to use extra memory to store 3D and 2D positions.

[2017-03-18 00:31] pjcozzi commented on #5106
@jasonbeverage if you have time, this one could be of interest to you.

[2017-03-18 01:20] jasonbeverage commented on #5106
I see that.  I didn't realize that the 2D view did this multiple viewport infinite scrolling thing :)  On first glance it looks like you might be able to adjust the imagerySplitPosition in execute2DViewportCommands based on the offset before you actually execute the commands.

[2017-03-18 03:41] jadelhamilton commented on #5112
Thanks I will look in to it and find something
On Thu, Mar 16, 2017 at 6:41 PM Sean Lilley <notifications@github.com>
wrote:

[2017-03-19 14:31] pjcozzi opened #5123 "Make ortho projection more discoverable and easier to use"
@bagnell can you please do this next to polish #5021?

* [x] Add an "Orthographic Projection" Sandcastle example that creates the Projection Picker widget and perhaps loads a glTF model or creates a box geometry.
* [x] Is it possible to move the `_switchToPerspective` and `_switchToOrthographic` functions from the [widget](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Widgets/

[2017-03-19 16:12] pjcozzi commented on #5121
Could also fix #2694.

[2017-03-19 16:13] pjcozzi commented on #5121
We may actually want this per label.  In the following code example, the labels may be very far away and we still do not want to depth test them.

[code]

[2017-03-20 01:30] jasonbeverage commented on #5106
@pjcozzi the issue is that I'm using the width of the viewport to scale the imagerySplitPosition to fragment coords.  This assumes that the viewport width is always the same width as the full canvas.  This is the offending line:
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Shaders/GlobeFS.glsl#L102

If I change the czm_viewport.z to be the hardcoded width of the canvas in the

[2017-03-20 10:39] freder commented on #5094
what would be possible workarounds that can be used right now? things I can think of:
- one texture-less model, and then somehow change the material (/ fragment shader?) per instance.
- simply use separate models (same geometry, but different textures). although, ideally I would like to be able to create and use textures dynamically.
- create gltf models with different textures on the fly at runti

[2017-03-20 11:30] freder commented on #3984
here's my current workaround:

[code]

[2017-03-20 13:34] jdambruch opened #5126 "branch 3d-tiles npm install fails"
Hi,
after checking out latest branch 3d-tiles the npm install fails on mac. Build on linux also fails but for different reasons...

Error: Cannot find module 'ajv'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at Object.<anonymous> (/Users/jdambruc/projects/sm

[2017-03-20 13:58] mramato commented on #4968
We are still receiving frequent travis failures because of the below two related tests.  I would recommend we xit these as well, but there's a large problem here that we really need to look into sooner rather than later.
[code]

[2017-03-20 13:59] mramato commented on #5126
You are using node `v0.12.4`, building and developing Cesium requires `v4.x` or later.  Note that this requirement is only for building and/or developing Cesium itself.  If you simply want to use Cesium on your website without upgrading node, you can use one of our release packages.

[2017-03-20 13:59] #5126 closed

[2017-03-20 14:42] shunter opened #5127 "Add asynchronous hint to entities"
This issue has been discussed many times, but I couldn't find an issue for it, so filing this for reference.

In many cases, using the entity layer to create geometry produces bad results, because all non-time varying geometry is created asynchronously, causing significant latency when updating due to the enormous overhead of the web workers.

Our current recommendation is to use `CallbackProperty

[2017-03-20 16:39] pjcozzi commented on #4968
Agreed.  @rahwang do you want to make this small change: https://github.com/AnalyticalGraphicsInc/cesium/issues/4968#issuecomment-287766749

[2017-03-20 17:49] bagnell commented on #5121
This check makes sure that it won't be brought to the front if it was clipped by the near or far plane: `gl_Position.z > -gl_Position.w && gl_Position.z < gl_Position.w`

[2017-03-20 18:06] rahwang opened #5131 "Zoom is slower when close to a model"
Reported in the forum here: http://cesiumjs.org/forum.html#!msg/cesium-dev/C_OT9kB9RV8/-zlIMRjWCAAJ

Zooming is slower when the camera is close-ish to a model. Possibly not the proximity to the model, but the fact that the model is "in the center" of the view.

http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=a4bc90cb451cc3c997566e34a655c5ca

if you change th

[2017-03-20 18:19] mramato commented on #5131
This is by design, because of the vast difference that Cesium deals with, the magnitude of zooming with the mouse gets progressively smaller/larger the closer/further away you are from an object.

Now it could be that we need expose a good way to tweak this behavior, but ultimately it's working as intended.

@bagnell can confirm, and if there's no a decent way to tweak this with the existing API,

[2017-03-20 18:30] freder commented on #5131
I'm working on s.th. where there is a model in front of the camera pretty much all the time – but I still need users to be able to zoom normally. — is there a workaround to disable this?

I can see why you'd want this kind of behaviour, but it has caused me a bit of headache to figure out what is actually happening. in general I'd say make it opt-in for those who (know they) need this, rather than

[2017-03-20 18:45] bagnell commented on #5131
@mramato is right that this is by design. In the mean time, you can add this to disable it:
`scene.screenSpaceCameraController.minimumPickingTerrainHeight = 0.0;`

We need to update the name. If you have the depth texture extension, the camera will pick the depth texture which includes models and other geometry. If the extension is unavailable, th eterrain mesh is picked.

@freder I'm not sure the

[2017-03-20 20:52] Dylan-Brown commented on #4604
@lilleyse Is this issue finished?

[2017-03-20 21:45] lilleyse commented on #4604
Yup it is, thanks for checking.

[2017-03-20 21:45] #4604 closed

[2017-03-20 23:49] lilleyse commented on #5094
Once you get the model's texture you can edit it directly. Note that the textures being swapped here are the same dimensions, and I haven't tested this with multiple models. If multiple models doesn't work you could provide each model with a custom `cacheKey`. Anyways here's the code:

[code]

[2017-03-20 23:50] wulfgarpro commented on #4421
Hi @mramato,

Any traction on these problems?

[2017-03-21 09:50] freder commented on #5065
actually, I doubt it's related to #3984  — see https://groups.google.com/d/msg/cesium-dev/YN7Oq2WhJDA/rRjxBc3WCAAJ

[2017-03-21 10:09] freder commented on #3984
the workaround (above) is not optimal though, since the camera keeps on moving parallel to the surface, when the height limit hits. I tried to counteract that by using the previous lat/lng coordinates of the camera:

[code]

while that seems to work ok enough for the `minZoom` limit, it definitely does not for `maxZoom`.

[2017-03-21 11:45] freder commented on #5094
thanks a lot, @lilleyse! looks easier than I thought.
out of curiosity: is there also a way to make this work with model *entities* (instead of *primitives*)?

[2017-03-21 13:09] pjcozzi commented on #797
* [WebGL 2 Algorithm Examples](https://github.com/tsherif/webgl2examples)

[2017-03-21 15:03] lilleyse commented on #5094
I'm not actually sure if it's possible to grab the base `Model` from the entity API. So far now I would say no, unless someone else has an idea.

[2017-03-21 17:51] rahwang commented on #4968
Sure thing!

[2017-03-21 18:53] hpinkos commented on #4968
Those other two tests are now ignored #5135

[2017-03-21 20:20] #5123 closed

[2017-03-21 21:16] esparano commented on #2488
I ran into this but today.  Took a while to find the solution.

[2017-03-21 21:24] #5083 closed

[2017-03-21 21:45] pjcozzi commented on #5131
@bagnell could you please suggest a new name and some guidance for @rahwang to make this change?

[2017-03-21 23:47] pjcozzi opened #5137 "Add link to gltf-vscode to VSCode Guide"
* [gltf-vscode](https://marketplace.visualstudio.com/items?itemName=cesium.gltf-vscode)
* [VSCode Guide](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/VSCodeGuide)

[2017-03-22 12:26] pjcozzi opened #5139 "Auto connect 3D Tiles Inspector to tileset"
@austinEng @lilleyse what do you think?

Often we have one tileset loaded and then we bring up the inspector, but then have to pick on the tileset before we can inspect it.

Can we add a flag like `inspectFirstAvailableTileset` (better name?) that when `true` loops through `scene.primitives` and sets the inspector to the first `Cesium3DTileset` instance it finds?

Probably default to `false`.

CC

[2017-03-22 13:49] ateshuseyin commented on #3752
I wrote a freezeRenderState function but I don't know where it should be used. Can you help me?

[2017-03-22 14:29] joneschrisg commented on #5087
Same symptom in Firefox 52 / Chrome 57.

[2017-03-22 15:19] willwsharp commented on #1640
I've found a temporary workaround for this.  I switched the entity using the imageMaterial to a primitive and then updated the material image via:
` primitiveObj.appearance.material.uniforms.image = yourImageUrl`

I found this solution from this Google forum question: https://groups.google.com/forum/#!topic/cesium-dev/GfN8YlQkQio

The flashing has stopped while using this method and the image just

[2017-03-22 17:44] rahwang commented on #1592
This came up again on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/wO_LHnTsmJs

[2017-03-22 18:07] dwhipps commented on #1592
My PR is still open here: https://github.com/AnalyticalGraphicsInc/cesium/pull/4410

[2017-03-23 14:18] freder opened #5141 "documentation is not built"
I just noticed that the documentation fails to build for me. (`3d-tiles` branch, macOS)

[code]

it only works when I remove [`excludePattern`](https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Tools/jsdoc/conf.json#L9) from `conf.json`.

[2017-03-23 14:21] mramato commented on #5141
To build the documentation, you need to run `npm run generateDocumentation` as detailed in our doc guide: https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/DocumentationGuide#building-the-doc

[2017-03-23 14:21] #5141 closed

[2017-03-23 14:26] freder commented on #5141
I had tried `npm run release` before, but it failed — so does `npm run generateDocumentation`.

[2017-03-23 16:13] billwritescode commented on #4536
@bagnell and @mramato, thanks for looking into this.

I've seen similar issues where the `_clusterDirty` flag is not getting set appropriately, and this can strange "clusters-of-one" issues in addition to this. One hack is the above one with changing the pixelrange. But one thing that would be cleaner is exposing `_cluster` to the API, perhaps via a wrapper like this:

[code]

Are there any plans

[2017-03-23 17:43] hpinkos opened #5142 "Terrain clamping issue with height map terrain"
When using the `VRTheWorldTerrainProvider`, the ground clamped point doesn't properly clamp to ground the first time you run the code in an incognito window.  It works correctly if you run it a second time.

[code]

[2017-03-23 18:05] denverpierce commented on #5142
I ran the example in and out of a incognito, and didn't see any issues other than the usual terrain clipping.

[2017-03-23 18:12] hpinkos commented on #5142
It's doesn't work the first time I load it in Sandcastle on cesiumjs.org.  But I just checked running master locally and couldn't reproduce the problem.  Maybe we've accidentally fixed whatever the issue is already

[2017-03-23 18:12] #5142 closed

[2017-03-23 19:35] jimmyangel commented on #5025
Oh, please, please @hpinkos add support for this soon! I noticed this problem with a kml data source that has a GroundOverlay element and the image would just not clamp to the ground. I thought I was doing something wrong but then I ran across [this](https://groups.google.com/forum/#!topic/cesium-dev/x3sYLgIr8Mc) thread  in the forum.

Any estimates on when do you guys plan to support images clamp

[2017-03-23 19:46] hpinkos commented on #5025
Hi @jimmyangel.  Based on the amount of effort that needs to be done to implement this, I don't think it's high enough priority for us to justify the time right now.  Our current focus is on finishing 3D tiles.  However, if a number of other users are asking for this we will look into it sooner.

[2017-03-23 20:14] jimmyangel commented on #5025
@hpinkos oh, bummer. In the mean time, can you suggest any kind of workaround for this issue?

I would say this is pretty critical for people coming from Google Earth to Cesium. Probably a show stopper for them.

[2017-03-24 11:41] pjcozzi commented on #5131
@bagnell any thoughts on https://github.com/AnalyticalGraphicsInc/cesium/issues/5131#issuecomment-288228977?

[2017-03-24 18:34] hpinkos commented on #4327
Also reported here: https://groups.google.com/d/msg/cesium-dev/9i62vHWn438/NeA5woENCgAJ

[2017-03-24 18:37] rahwang commented on #5042
Came up again in the forum here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/z4o1l7bKtZs

[2017-03-24 18:42] mramato commented on #5042
This may actually be fixed by #5136 (still open).  Someone should test out that branch for this issue.

[2017-03-24 18:57] pjcozzi opened #5144 "Clustering Sandcastle example: labels jump at end of morph"
![bv3](https://cloud.githubusercontent.com/assets/782098/24309444/2dd646ce-10a2-11e7-8a6b-b9ac6f0be564.gif)

[2017-03-24 19:02] pjcozzi opened #5145 "Clustering is slow in 2D"
Run http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/Apps/Sandcastle/index.html?src=Clustering.html&label=Showcases

In 3D, it is 54-60 fps (which is not great).  Switch to 2D, it is 11 fps.  Perhaps this is burning CPU doing per-label Cartesian/cartographic conversions?

![image](https://cloud.githubusercontent.com/assets/782098/24309616/e80755a6-10a2-11e7-84f6-5210d9a36bc1.png)

[2017-03-24 19:03] #4538 closed

[2017-03-24 20:29] shunter opened #5146 "PolylineGeometryUpdater crashes when there is no globe"
Forum post:

https://groups.google.com/d/msg/cesium-dev/UboMKwwn8Xk/noMUrTS7CQAJ

This line crashes if there is no globe:
https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/DataSources/PolylineGeometryUpdater.js#L519

This assignment should be delayed until `update` and only done if `followSurface` is true.  Otherwise `generateCartesianArcOptions` is unused.

[2017-03-24 20:34] shunter opened #5147 "script tags do not work in entity descriptions"
Inline <script> tags do not work in description HTML, even if the sandbox is configured to allow scripts.  Internally, the description is loaded by setting `frameContent.innerHTML = value;` and as far as I can tell, setting `innerHTML` will not execute inline script tags, regardless of sandboxing settings.

Instead, script tags need to be created individually using the DOM API.  If you look in the

[2017-03-24 23:55] pjcozzi commented on #5042
@rahwang we recently merged #5136 into master.  Can you please test if this issue is fixed?

Try the hosted version from CI: http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/master/

[2017-03-24 23:57] pjcozzi commented on #5025
I labeled this `priority` as we do agree it is important and it may get done as part of the vector tile work for 3D Tiles, but it would be hard to break stride at the momentum to focus on just this.

[2017-03-25 01:29] lilleyse commented on #2484
Should this actually be closed? Like how `ImageMaterialProperty` has `transparent`, image-based material's could have something similar.

Brought up here: https://groups.google.com/forum/#!topic/cesium-dev/yleK3tQryyw with this Sandcastle code. It also feels strange that `MaterialAppearance.translucent` doesn't place the primitive in the `TRANSLUCENT` pass but only changes render states.

[code]

[2017-03-26 17:17] duvifn commented on #4032
Steps to reproduce:
    1.  Type `101 45` in the geocoder.
    2.  Zoom out until the scene level is 16 (as reported by Cesium Inspector's `Show Tile Coordinates`).
    3.  Move the camera slightly toward south .
    4.  The tiles north to the `latitude 45` should disappear.

![reproduce](https://cloud.githubusercontent.com/assets/17128619/24333396/e3333e64-125f-11e7-93df-6ec0f5197b9a.png)

Workar

[2017-03-26 17:19] duvifn commented on #4032
The problem is that the south plane of `TileBoundingBox` (in the northern hemisphere) is not bounding the tile, as in the following animation.
![level_2_before2](https://cloud.githubusercontent.com/assets/17128619/24333483/5478b580-1261-11e7-8395-f28696337c0c.gif)

As a result the distance that is reported by `TileBoundingBox.distanceToCamera` might be wrong by up to ~250 Kilometers with tiles of

[2017-03-26 17:22] duvifn commented on #3411
@pjcozzi @lilleyse @bagnell thanks!
I fixed this but encountered some problems with specs of `HeightmapTesselator` (it's possible that it is the class itslef).
It seems that when it uses `AttributeCompression` sometimes it passes `NaN` into it.
With current code these `NaN`s are converted to `0` due to the strangeness of javascript.
With the fixed code the output is `NaN` in these cases.
I'll try

[2017-03-27 09:32] spatialillusions opened #5148 "Adding a Cesium.GeoJsonDataSource.readFeature method"
In some cases I would like to process GeoJSON feature by feature and create Cesium entities from them, similar to how readFeature works in Open Layers.
http://openlayers.org/en/latest/apidoc/ol.format.GeoJSON.html#readFeature

Today this is not possible, what you can do is to load GeoJSON data and receive a promise, but that will be hard to handle when you want to loop through all your features an

[2017-03-27 12:33] hpinkos commented on #5148
Thanks for the suggestion @spatialillusions!  If you would be interested in implementing this, we would be happy to review a pull request. You can see our [Build Guide](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/BuildGuide) for instructions on checking out and building the code base, and our [Contributing Documentation](https://github.com/AnalyticalGraph

[2017-03-27 12:35] hpinkos commented on #4032
Thanks @duvifn! It would be great if you want to open a pull request with that fix.

[2017-03-27 12:42] hpinkos commented on #2484
@lilleyse both the examples look the same to me.  What is the issue you're seeing? Anything we do at the entity level can be done at the primitive level, entities are built on top of primitivies.

[2017-03-27 13:15] lilleyse commented on #2484
The entity example has inconsistent lighting when moving the camera which seems to be related to faceForward being on by default and not changeable. I don't know if this type of lighting is expected for faceForward or a separate bug.
<img width="228" alt="dark" src="https://cloud.githubusercontent.com/assets/915398/24357876/1f44fe5c-12cd-11e7-9403-dd199c8fe1f2.PNG">
<img width="194" alt="light" sr

[2017-03-27 13:18] mramato commented on #5148
I'm not sure why you say this is impossible.  See this [Sandcastle example](http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=GeoJSON%20and%20TopoJSON.html&label=DataSources) which does exactly what you're describing (the `Custom styling` option).

What benefit does your request provide over the above approach?

[2017-03-27 13:27] hpinkos commented on #2484
I don't see that on my machine.  Either way, that looks like a separate issue than this one, can you open a new issue?

[2017-03-27 14:19] spatialillusions commented on #5148
@mramato I might have been a bit unclear in my previous post. I know that it is possible to do it this way, and I have done exactly that previously. The thin is that that reads several features and converts them to entities, and then you loop the entities and apply the style.  Since I'm handling extended GeoJSON I will loose the extra information when they are converted to entities, and this makes

[2017-03-27 14:52] duvifn commented on #4032
Thanks @hpinkos!
I opened a PR.

[2017-03-27 15:02] lilleyse commented on #4865
@glee2244, @Jane-Of-Art, @Dylan-Brown

Just a heads up that `length` is being implemented here: https://github.com/AnalyticalGraphicsInc/cesium/pull/5149

[2017-03-27 15:17] rahwang commented on #5042
Trying to access Sandcastle on the hosted version gives me a 404 for some reason, but I tried it locally and it doesn't look like the problem is fixed on master -- same behavior as before.

<img width="534" alt="screen shot 2017-03-27 at 11 15 49 am" src="https://cloud.githubusercontent.com/assets/1758825/24363806/e1ac0aec-12de-11e7-847b-97743dda4f97.png">

[2017-03-27 15:44] lilleyse opened #5152 "Options to turn off normal shading for point clouds"
@Dylan-Brown, @glee2244 this will be a good thing to work on after #4759

For point clouds with normals (like `Specs\Data\Cesium3DTiles\PointCloud\PointCloudNormals`), shading is automatically applied in the shader here: https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Source/Scene/PointCloud3DTileContent.js#L1005-L1010

Instead of shading always being applied, it should be controlled

[2017-03-27 16:26] lilleyse opened #5153 "Support multiple expressions in a 3D Tiles Style"
@Dylan-Brown, @Jane-Of-Art for after #4759

Currently an `expression` may be computed by the style and referenced multiple times by the style to minimize computation and keep styles concise.

[code]

It would be convenient to extend this to support multiple expressions, as outline here:
From https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/2#issuecomment-191754803

[code]

Most of the code

[2017-03-27 17:51] rahwang commented on #4754
Came up on the forum again: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/Z0i7Yc1lR7E

[2017-03-27 17:55] spatialillusions opened #5154 "Billboard clipped on right side"
In Cesium 1.31

I have a large number (500+) of quite large (200x100pixel) billboards on my map, and this problem only occurs when the number of billboards is large. The billboard image are canvases that I draw with javascript within the application.

For some reason, the billboards are clipped on the right hand side:
<img width="526" alt="screen shot 2017-03-27 at 19 33 00" src="https://cloud.git

[2017-03-27 18:02] hpinkos commented on #2182
This is fixed locally but still broken on the Cesium website

[2017-03-27 18:19] rahwang opened #5155 "Support add/remove of an instance from ModelInstanceCollection"
Requested on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/aYbtOBbZ6CQ

Adding or removing instances from a collection without having to rebuild the entire collection.

[2017-03-27 18:29] mramato commented on #5155
`ModelInstanceCollection` is private and not part of the public API.  It's also not even in master yet and is only part of the `3d-tiles`.  Users should not be creating or using this object directly.

[2017-03-27 18:29] #5155 closed

[2017-03-27 18:38] lilleyse opened #5156 "Per-tile memory usage statistics"
For #3241

@rahwang

It would be nice to extend the per-tile debug labels to show more than just geometric error. There are other statistics that would be useful to show, like
* number of commands
* texture memory usage
* vertex memory usage

In the Cesium 3D Tiles Inspector, there could be a sub-section of `Display` called `Tile Info` that has checkboxes for each of these properties, which appear

[2017-03-27 18:38] lilleyse opened #5157 "Cache modelMaterialsCommon results"
For #3241

@rahwang

Brought up on the forum: https://groups.google.com/forum/#!topic/cesium-dev/laA723va6gI

This applies to both Models and 3D Tiles. For models that use the [khr_materials_common extension](https://github.com/KhronosGroup/glTF/tree/master/extensions/Khronos/KHR_materials_common) the same shader construction logic will occur every time.

Instead, the materials going through here

[2017-03-27 18:38] lilleyse opened #5158 "Throw debugging errors in the 3D Tiles Sandcastle demos"
For development/debugging purposes it would be helpful to see when errors occur when loading `tileset.json` or individual tiles while in the Sandcastle demos, as the current behavior just leaves an empty globe / empty tile space.

Checking for `tileset.json` errors is pretty easy, but checking for tile errors is more difficult as the `readyPromise` is not easily accessible from the outside. Would

[2017-03-27 18:51] emackey commented on #2182
Looks like the fix included a specific test for `if (error.status === 404)` and thus only works with `404` errors.  The deployed site is currently returning a `403` and so the fix doesn't apply.

@hpinkos maybe instead of bool `notFound` we could have a "deferedLoadError" message or something, and handle all errors the way we handle 404s now.

[2017-03-27 19:03] hpinkos commented on #2182
Good idea @emackey!

[2017-03-27 20:20] lilleyse commented on #5155
I'll leave this in the back of my head though, it may not be too hard to support.

[2017-03-27 23:27] pjcozzi commented on #5157
Are we sure this is worth it?  I suspect it is not.  The shaders will still be in the shader cache and this will be almost completely irrelevant and an extra thing to deal with when we add PBR for glTF 2.0 and potentially separate materials for sharing across many tiles in a future version of 3D Tiles.

[2017-03-27 23:35] pjcozzi commented on #2182
@rahwang this could be a good one for you.  CC @lilleyse

[2017-03-27 23:36] #5106 closed

[2017-03-27 23:37] pjcozzi commented on #5106
Thanks again for the report, @gongzk!

Fixed in #5151 by @jasonbeverage.

[2017-03-27 23:46] lilleyse commented on #5157
Ok, it may not be worth it in a glTF 2.0 world. Closing.

[2017-03-27 23:46] #5157 closed

[2017-03-28 00:10] pjcozzi commented on #2584
Fixed in #5159 by @jasonbeverage.

[2017-03-28 07:01] #4032 closed

[2017-03-28 10:01] YousefED commented on #4032
Great stuff, thanks @duvifn

[2017-03-28 17:28] rahwang opened #5163 "Globe base color alpha does nothing"
The alpha color parameter of the `viewer.scene.globe.baseColor` object has no visual effect.

Reported in the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/UboMKwwn8Xk

[2017-03-28 18:00] emackey opened #5164 "Dynamic boxes don't track correctly"
Noticed during testing of #5133.

Boxes with dynamic geometry don't track correctly when the clock is animating.  You can pause the clock, and track such a box with the camera, and that works fine.  But when the clock moves, the box flies away from the camera.

Note that boxes are believed to be representative of almost all "dynamic" geometry with the exception of ellipsoids in 3D mode.  Ellipsoid

[2017-03-28 20:59] #4929 closed

[2017-03-28 22:33] pjcozzi commented on #5163
This would be part of subsurface.  We could also do a doc fix in the short term if it is confusing people.

[2017-03-28 22:40] pjcozzi commented on #5154
@spatialillusions thanks for the detailed writeup!  It would help if you could
* Create a minimal code example to reproduce this issue and try to push the limits (number of billboards, size of billboards) to see where the tipping point is.
* Investigate [TextureAtlas.js](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/Scene/TextureAtlas.js) if you have the time.  The issue could

[2017-03-29 11:20] pjcozzi commented on #4322
When using the template license, GitHub will now also show a summary of the terms of the license:

![image](https://cloud.githubusercontent.com/assets/782098/24452126/c00bad26-144f-11e7-8c92-00dc229a43c4.png)

https://github.com/blog/2335-open-source-license-descriptions-and-metadata

I think we could do this by
* Renaming our current LICENSE.md to LICENSE-WITH-THIRDPARTIES.md
* Using the Apache 2

[2017-03-29 11:22] pjcozzi commented on #4322
Also, probably remove the Apache 2.0 badge from README.md

[2017-03-29 13:02] spatialillusions commented on #5154
I'll try to make a code example and get back with that.

I just had a quick look at the code and thought that this code might trigger some kind of error if it is called a bunch of times with changes in texture width, but I'm not sure if this is the reason.
https://github.com/AnalyticalGraphicsInc/cesium/blob/00cee6b97568ea7cf38b473e46540afb871347b5/Source/Scene/TextureAtlas.js#L187

[2017-03-29 16:58] spatialillusions commented on #5154
I have made a small example here and I'm able to reproduce the issue with 225 symbols.
The included zip file contains a html file, and milsymbol.js that is used to render the icons. (I'm guesing that you can use a bunch of external files as well, but this is the fastest way to reproduce the issue.)
[Archive.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/879751/Archive.zip)

At the mome

[2017-03-29 18:36] hpinkos opened #5167 "Dome Geometry"
Requested on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/lvoe4Kp8X8g

Several users have asked for a geometry type that is a partial sphere

[2017-03-29 18:37] shunter commented on #5167
FYI sensor domes are already available as part of Cesium Pro.

[2017-03-29 18:48] mramato commented on #5167
This is no different than an ellipsoid with depth testing turned on.  If someone literally once a half-sphere, we already have an issue for that (#4754) (any subset of a sphere is a sector.)

[2017-03-29 18:49] hpinkos commented on #5167
@mramato In the forum it sounded like they do want half a sphere.  The sector would be a subset of a cylinder, so this is different

[2017-03-29 19:05] srtrotter commented on #5167
Hello, I left a comment in the forum, but thought I'd jump over here after Hannah pointed me to it. I am really after a sector, not a half-sphere. I want to define a min/max az/el to draw only a portion of a sphere, which may or may not be half.

[2017-03-29 19:22] srtrotter commented on #5167
Hello, I was asking about this in the forum, and thought I'd jump over here after Hannah pointed me to it. What I need is to be able to draw a sector of a sphere, given a min/max az/el, which may or may not be a half sphere.

Thanks,
Steven

[2017-03-29 19:24] mramato commented on #5167
Thanks @srtrotter that's a reasonable request.  I could see it either being options to the `Ellipsoid` geometry or a new geometry outright.

[2017-03-29 20:44] emackey commented on #5154
@spatialillusions Thanks for this detailed report.  One thing I'll point out is that your milsymbol library does put a good size pad on the left side, but puts the right edge of the symbol directly against the right edge of the canvas, which makes it prone to this sort of clipping.  You could work around this problem by moving a pixel or two of padding from the left side to the right.

That said t

[2017-03-29 20:48] pjcozzi commented on #5154
CC #172

[2017-03-29 21:00] spatialillusions commented on #5154
@emackey I know about the padding on the left hand side. I try to make the spacing as little as possible, and if you remove the text information on the icons they will fit tight on the left hand side as well. The thing is that since I support multiple output formats I need some way to calculate the approximate length of the text string i pixels, and that calculation is far from perfect, and in som

[2017-03-29 21:18] bagnell commented on #4381
@mramato Have you tested this recently? It might have been fixed by #5116.

[2017-03-29 22:58] mramato commented on #4381
I can't reproduce this (though I didn't leave myself good directions to begin with).  I'm going to close this and I'll re-open with better instructions if I see it again.  Thanks @bagnell!

[2017-03-29 23:20] lilleyse commented on #4381
I tried two tilesets that I noticed having this issue before, and they seem to be fixed too.

[2017-03-30 11:41] pjcozzi commented on #4908
@ibesora thanks again for your note here and [additional info](https://groups.google.com/forum/#!topic/cesium-dev/tCCooBxpZFU%5B101-125%5D) on the forum.  I have actually been thinking about a similar approach for quite a while and am glad to see that you have everything figured out. :smile:

I've added this to the 3D Tiles roadmap, #3241.

Also, we are organizing examples of folks using 3D Tiles.

[2017-03-30 12:47] srtrotter commented on #5167
That would be great. Any idea which release this might get in?

[2017-03-30 13:03] mramato commented on #5167
We're swamped with 3D Tiles and related work, so I can't say when this would be added.  However if anyone would like to contribute this new geometry (or update EllipsoidGeometry to handle it) we would be happy to look at a pull request.

[2017-03-30 18:24] #3450 closed

[2017-03-30 21:53] robmilton commented on #5094
Hey lilleyse, I have been experimenting with the example code you provided above.  However, I'm having a hard time getting the model's texture.  Here's an excerpt of my code...

[code]

When I look at the model's texture in the _rendererResources I see the path used in the code above (see screen capture from console below).  However, the texture variable ends up being undefined.

![image](https://

[2017-03-30 22:00] lilleyse commented on #5094
Try setting `incrementallyLoadTextures` to `false` (like the sample code above).

By default this is `true`, meaning textures may not be ready even though the model is ready.

[2017-03-30 22:38] robmilton commented on #5094
Hmmm...  I'm still not getting anything.  I changed the code as follows...

[code]

But the texture variable is still undefined.

[2017-03-30 23:38] lilleyse commented on #5094
Hm, I'm not sure why that's happening.

[2017-03-31 09:45] ateshuseyin commented on #3752
@bagnell I pushed my code. You can check it from https://github.com/ateshuseyin/cesium/tree/freeze-renderstate

[2017-03-31 14:00] bampakoa commented on #2174
@pjcozzi will the bounding sphere waiting synchronously or asynchronously for the primitive to be ready?

[2017-03-31 17:34] hpinkos commented on #2922
Came up again on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/1wKpgAf0PM0

[2017-04-02 13:20] pjcozzi opened #5173 "Update Code Review Guide"
@lilleyse and @mramato plan to update the [Code Review Guide](https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/CodeReviewGuide) with the latest best practices.

[2017-04-02 13:28] pjcozzi commented on #3241
Potentially useful reading on V8 GC: https://medium.com/@_lrlna/garbage-collection-in-v8-an-illustrated-guide-d24a952ee3b8

[2017-04-03 11:51] duvifn commented on #5154
FYI, on my machine, this issue (vertical black lines and the right edge clipping) was noticablly improved with the change suggested in [#3411 (comment)](https://github.com/AnalyticalGraphicsInc/cesium/issues/3411#issuecomment-271267461), but definetlly not fixed.

Unfortunately, I currently don't have time to get into the [failing spec](https://github.com/AnalyticalGraphicsInc/cesium/issues/3411#i

[2017-04-03 16:25] lilleyse opened #5174 "Show triangle count in 3D Tiles inspector"
@rahwang more enhancements for the 3D Tiles inspector, probably worth doing before https://github.com/AnalyticalGraphicsInc/cesium/issues/5156.

For this we want to see the total number of triangles that are rendered. This will operate similarly to the memory usage statistics added in https://github.com/AnalyticalGraphicsInc/cesium/pull/5050.

* For each `*3DTileContent` file add a `trianglesLengt

[2017-04-03 17:03] pjcozzi opened #5175 "Polygon jitter in 2D map"
* Browse to http://www.agi.com/contact
* Zoom in a bit and scroll back and forth
* The polygons jitter

This could be because the granularity is high, but I would still expect RTE to avoid the jitter.

[2017-04-03 17:15] hpinkos commented on #5175
@pjcozzi I don't see any jittering on my machine. Windows/NVIDIA/Chrome

[2017-04-03 17:22] pjcozzi commented on #5175
I can reproduce this on Mac (Intel) and Windows (NVIDIA).  It's hard to see in the animated gif, but here's how I did it:

![bv3](https://cloud.githubusercontent.com/assets/782098/24621733/7fe468c6-1870-11e7-9af0-8dd51e1836dc.gif)

[2017-04-03 17:37] pjcozzi commented on #2174
The bounding sphere `get` property function could just throw a `DeveloperError` if the primitive is not ready.

[2017-04-03 17:44] pjcozzi commented on #4311
Forum discussion: https://groups.google.com/forum/#!topic/cesium-dev/XptX5inZGes

[2017-04-03 17:50] pjcozzi commented on #4135
Forum post: https://groups.google.com/forum/#!topic/cesium-dev/cr2P2wfOwl4

[2017-04-03 19:03] bagnell opened #5176 "Test crash Firefox and Edge tabs"
The test seem to run to completion before crashing the tab.

Windows 10
GPU drivers are up to date.
Firefox 52.02
Edge 25.10586.672.0

Running the tests crashes as far back as 1.29

[2017-04-03 19:18] Jane-Of-Art commented on #5153
@lilleyse

[code]
Should this be a string or a list of strings with keys?

[2017-04-03 19:26] lilleyse commented on #5153
Ah that comment is out of date now, it should be a list of string with keys. I'll edit the post.

[2017-04-03 19:43] pjcozzi commented on #5176
Labeling as `next release` so we at least look at this in some detail before the 1.33 release.

@lilleyse do you want to help @rahwang narrow this done?

[2017-04-03 21:18] lilleyse commented on #5176
@shehzan10 did you come across this during the bug bash? Did you have any steps for tracking it down? It seems like this is probably some sort of too-many-contexts type error.

[2017-04-03 21:40] shehzan10 commented on #5176
I think I ran into this. But I don't think I investigated why it happened.

[2017-04-04 14:06] Mofangbao opened #5180 "latest version of GeoJsonDataSource throw exceptions"
Hi,thanks for the perfect project first!
I'm using the latest version 1.3.2,when i try to show the geojson file below ,exceptions occured,but version 1.1.6 can load the file correctly.

GeoJSON file link:

http://7xp128.dl1.z0.glb.clouddn.com/110m-land.json

code modified from Sandcastle:

[code]

Is this a bug? Thanks a lot!

[2017-04-04 14:22] mramato commented on #5180
Thanks @Mofangbao!  At first glance this does seem to be a bug.

@bagnell this is a splitting problem when processing for two.  For example, this crashes:

[code]

But this doesn't

[code]

I also attached the linked geojson just in case the url stops working at any point: [110m-land.json.txt](https://github.com/AnalyticalGraphicsInc/cesium/files/893416/110m-land.json.txt)

[2017-04-04 18:14] rahwang commented on #1921
Came up on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/ICr8w3B-Ufs

[2017-04-05 09:04] Mofangbao commented on #5180
@mramato Thank you for so much concern.

[2017-04-05 12:50] freder commented on #3984
I found a much better solution: simply setting `scene.screenSpaceCameraController._minimumZoomRate` to s.th. higher than the default value (`20`).

[code]

[2017-04-05 15:58] emackey commented on #2487
I'm having an issue with `alignedAxis` that believe this is the same bug (or at least the demo code above shows the same problem I'm seeing), so I'm adding my demo to this issue.  The `alignedAxis` when viewed off-axis doesn't point quite the right way.

Here's my [Many-Aircraft Demo](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=7a8de5a9878672b703e5260e8a

[2017-04-05 17:18] hpinkos commented on #3162
Added in #5105

[2017-04-05 17:18] #3162 closed

[2017-04-05 17:19] hpinkos opened #5184 "CZML Heading/Pitch/Roll orientaiton"
It looks like CZML currently only supports orientation defined as a unit quaternion.  We should add the ability to define orientation as a heading/pitch/roll.

Requested on the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/4j991i8iazQ

[2017-04-05 20:52] schmidtk opened #5185 "Overlapping billboards blended incorrectly"
The icon blending issues fixed in #5066 can still be reproduced with a lot of overlapping icons.

Take the following Sandcastle snippet:

[code]

At the provided altitude, icon borders bleed into other icons:
![screen shot 2017-04-05 at 2 42 52 pm](https://cloud.githubusercontent.com/assets/5685437/24726162/9951e0b4-1a0e-11e7-9e5c-cc68333ed68f.png)

If you zoom out, the icon borders no longer over

[2017-04-05 21:03] billwritescode commented on #4919
Hey @emackey, just bumping this thread -- any comments my two questions above?

[2017-04-05 21:49] nbowditch opened #5186 "Camera positioning is off after changing from 2D to 3D"
When switching from 2D to 3D, the camera will appear to be zoomed in close to the terrain; however, if you check `viewer.scene.camera.positionCartographic.height`, it will still have the same value as it did before the morph. When zooming out, the skybox is blurry and the globe loses its texture. Seems like some kind of scaling is off.

Here's a sandbox to demonstrate - notice the camera height be

[2017-04-05 22:04] emackey commented on #4919
Hi @billwritescode, I got pulled onto other projects, but this is still at the back of my mind.

1. No, with `Cesium.Color.TRANSPARENT` selected, the labels should not show at all.  Having actual text here (instead of an empty string) is helpful in that it gives the label a definite screen location, similar to the transparent point.  So, it seems like it should be fairly future-proof.

But the clu

[2017-04-06 12:20] pjcozzi commented on #5185
@schmidtk thanks for the report and code example.

@emackey any ideas?

[2017-04-06 12:41] #5121 closed

[2017-04-06 15:16] lilleyse commented on #5174
Fixed in #5183

[2017-04-06 15:16] #5174 closed

[2017-04-06 15:55] emackey commented on #5185
This is a somewhat fleeting glimpse of the bug, only viewable from very few angles and distances.  It looks like it starts to happen right along a frustum boundary.

@bagnell as a test, I tried setting `OPAQUE_FRUSTUM_NEAR_OFFSET` (in `Scene.js`) to exactly 1.0, and sure enough, this reproduce case goes away.  I believe that means this is actually a lingering effect of #5083, where the edges of th

[2017-04-06 16:59] noacohen opened #5187 "Z Ordering"
hi, is there a way to visually line up a billboard or other elements in front of all the other elements? (common z indexing)

i tried to play with eye offset but sometimes it acts weird (i guess it needs a formula for different zoom scales) and polylines doesnt even have that property...

I also tried to play with positions altitudes but if i increase one point alt by 5 meters for example,
it gets

[2017-04-07 15:15] emackey commented on #3939
I'm baffled by that screenshot that shows translucency working in the red line but not the blue line.  Is this only with Desktop OpenGL, not with the default ANGLE renderer?  If so that could be an indication of some kind of driver bug.  Officially, we tell people to use Cesium with the default browser settings whenever possible.  The browser developers put ANGLE there for good reasons.

[2017-04-09 14:19] pjcozzi opened #5190 "Billboard/label/point z-fail appearance"
Just like #5160 for polylines.

[2017-04-10 17:28] emackey opened #5192 "Don't call a promise a dataSource"
Several of our examples have [code that looks like this](https://github.com/AnalyticalGraphicsInc/cesium/blob/a81f2e7de64c2348558046b5e8e685278fde0dcf/Apps/Sandcastle/gallery/CZML%20Point.html#L55-L57):

[code]

This code gets a *promise* to a data source, and stores it in a variable named `dataSource`.  The `add` and `zoomTo` methods are both equipped to accept a promise, but more generic actions

[2017-04-10 20:39] emackey opened #5195 "Wrong formula in Matrix3.fromHeadingPitchRoll()"
Reported by @zimengyang in [this comment](https://github.com/AnalyticalGraphicsInc/agi-cesium-arcade-game/issues/26#issuecomment-293062816)

Cesium/Core/Matrix3.js, line 321, formula here is incorrect,

[2017-04-10 23:21] naeri-kailash commented on #5192
I will take a look at this issue if that's okay

[2017-04-11 13:14] hpinkos commented on #5187
Hello @noacohen,

Sorry, we currently don't have good z-ordering support.  We have an issue written up here to look into improving this: #4108

I'm going to close this issue as a duplicate. Thanks!

[2017-04-11 13:14] #5187 closed

[2017-04-11 15:53] lftgly opened #5197 "a breaking change in 1.32 to scene.morphTo3D and scene.completeMorph"
After updating from 1.31 to 1.32, code that toggles from 2D back to 3D using viewer.scene.morphTo3D(2.0) and scene.completeMorph() hangs-up the browser with either ballooning memory usage (and no error), or throws a rendering error, "DeveloperError: A PerspectiveFrustum or OrthographicFrustum is required in 3D and Columbus view."
After several frustrating hours narrowing-down the cause, it is rela

[2017-04-11 17:07] hpinkos commented on #5197
Thanks @lftgly!  @bagnell could you take a look at this?

[2017-04-11 17:22] hpinkos opened #5198 "PolylineVolumeGeometry crashes with large granularity"
The following code snippet results in an 'Invalid array length' crash in `PolylinePipeline.generateArc`.  This crash does not happen when using `granularity: Cesium.Math.PI`.

[code]

[2017-04-11 17:35] rahwang opened #5199 "Camera goes under terrain"
Reported in the forum: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/gqaHh1IaTQM

Looks like the camera goes under the terrain when the tiles are not fully loaded.

[2017-04-11 17:36] hpinkos commented on #5199
![fly-under-terrain](https://cloud.githubusercontent.com/assets/3451886/24922283/cbb359e6-1ebb-11e7-8c1a-6a9ad3a1ca2a.gif)

[2017-04-11 17:37] mramato commented on #5199
This is by design, camera flights disable collision with the terrain until all of the terrain in the area has finished loading, otherwise it's impossible to have the camera fly anywhere close to the ground.  See #4105

[2017-04-11 17:37] #5199 closed

[2017-04-11 17:58] rahwang commented on #4346
Came up again on the forum: https://groups.google.com/d/msg/cesium-dev/oWnstR1geGY/WkxhyZ79DQAJ

[2017-04-11 18:01] rahwang commented on #2487
Came up in the forum: https://groups.google.com/d/msg/cesium-dev/dPJ-Ug1CM2E/N8RrhKruDQAJ

[2017-04-11 19:08] lftgly commented on #5197
I will give you 3 more test cases. The 1st solves the problem by resetting a perspective frustum, which I did not have to do before Cesium v1.32. Run it, click the "3D" button to set up the view for fun, then use the ScenePicker to change to 2D, then click the "3D" button, flyTo works okay.

[code]

2nd test case; Run it, click the "3D" button to set up the view for fun, then use the ScenePicker t

[2017-04-11 20:10] pjcozzi commented on #797
* [WebGL 2 Webinar Slides](https://www.khronos.org/assets/uploads/developers/library/2017-webgl-webinar/Khronos-Webinar-WebGL-20-is-here_What-you-need-to-know_Apr17.pdf)

[2017-04-11 20:19] pjcozzi commented on #797
**Hardware PCF** for soft shadows

[2017-04-11 20:26] lilleyse commented on #797
* Mipmapping restrictions gone. No longer need to upscale in `Model.js`
* Point cloud should use integer attributes for certain things
* 3D Tiles batch table can avoid uploading a pick texture. https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Source/Scene/Cesium3DTileBatchTable.js#L1371-L1374. This is also doable now but won't work for pick ids that exceed 16777217 (last int floating

[2017-04-12 11:31] pjcozzi commented on #2387
The ability to change a material's texture was mentioned in https://groups.google.com/forum/#!topic/cesium-dev/mW0VxrU3yhA

[2017-04-12 12:22] pjcozzi commented on #5195
@rahwang could you open a pull request with the fix?

[2017-04-12 12:27] rahwang commented on #5195
@pjcozzi yep! On it!

[2017-04-12 17:27] ChriWe opened #5203 "Polygon errors when using perPositionHeight"
My goal is the visualization of an **elevated extruded polygon** with data provided to a `GeoJsonDataSource`.
- The polygon is given by a GeoJson dataset, consisting of points where each is given by longitude, latitude and elevation (e.g. [ 30.0, 70.0, 152452.62 ])
- The polygon should be extruded by 30502.

A schematic profile view of such a volume could look like this:
- Green: Bottom of the pol

[2017-04-12 18:07] hpinkos commented on #5203
Thanks for including all of the details and screenshots @ChriWe!
The short answer is that Cesium currently doesn't have support for drawing this kind of polygon.

There are a few known issues with using the `perPositionHeight` property of `PolygonGeometry` that are resulting in your polygon being visualized this way.  The first is that the polygon is not being subdivided to fit the curvature of th

[2017-04-12 18:08] hpinkos commented on #5203
Related #2399

[2017-04-12 20:54] ChriWe commented on #5203
Thanks very much for the fast reply. Also for the drawings ;).

Is the implementation of such a feature planned in the near future?

For the `GeoJsonDataSource` example `perPositionHeight` was set to false.
For the ` PolygonGeometry` example `perPositionHeight` was set to true.
So I am not sure if the inproper visualization of example 1 is due to the `perPositionHeight` property. But yeah, looks l

[2017-04-12 20:57] bagnell commented on #797
For FXAA, use `textureLod` and `textureLodOffset` like the original shader. Consider using `textureSize` instead of a uniform.

[2017-04-13 12:42] hpinkos commented on #5203
I'm not sure when we'll have a chance to look into fixing this.  We're focused on finishing up the 3d tiles specification right now, so this would only be a priority if it ties into our vector tiles implementation.

`perPositionHeight` is for sure the culprit.  If you look in the code for `GeoJsonDataSource`, it tells the polygons to [use `perPositionHeight` when the GeoJSON coordinates have a hei

[2017-04-13 21:49] #1921 closed

[2017-04-14 13:18] rahwang opened #5207 "Cesium learning materials update"
I’m currently working on a reorganization of all the Cesium tutorials, and our learning materials in general. Since we’re all about fostering a collaborative environment, I wanted to open up the discussion to the community. The more feedback the better! Experts and new users welcome!

Forum discussion here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/trCbTMWdM5M

So far, I've been foc

[2017-04-14 14:51] rahwang commented on #5207
Thoughts, @slchow , @hpinkos , @pjcozzi ?

[2017-04-15 05:55] slchow commented on #5207
That would be great.

If they're truly newcomers, maybe it's better to encourage them to sign up for Composer than have a super friendly intro to a library that will require fairly advanced skills to implement.

It wouldn't hurt to start a blog series of short entries explaining basic technical workings of Cesium. That would streamline the tutorials, and you could link to the blogs (perhaps even w

[2017-04-15 21:32] emackey commented on #5192
Fixed in #5205.

[2017-04-15 21:32] #5192 closed

[2017-04-15 23:01] andrzejfigula opened #5210 "Texture rendering over terrain glitch"
Hi all,

After upgrading Cesium from 1.31 to 1.32 I have found strange glitch when rendering aerial mapping with terrain.

<img width="370" alt="screen shot 2017-04-15 at 22 38 56" src="https://cloud.githubusercontent.com/assets/10167071/25067197/ba97a240-2233-11e7-99fd-b1b9f9bd4c44.png">

This is just an example, but this distortions are distributed all over the map, and are quite easy to notice.

[2017-04-17 18:55] glee2244 commented on #5152
@lilleyse Hi Sean, just a couple clarifying questions:

1. Looking at how backFaceCulling is handled - is there a significance in having backFaceCulling and _backFaceCulling (https://github.com/AnalyticalGraphicsInc/cesium/blob/3d-tiles/Source/Scene/PointCloud3DTileContent.js#L119) ?  If there is, is this something that needs to be also done with normalShading?

2. Is all of the code below the lin

[2017-04-17 23:46] bagnell opened #5214 "Multiple Viewports"
Allow for multiple viewports/camera views in a single canvas.

* One `SceneManager` containing multiple `Scene`s
    * `SceneManager` contains all non-view dependent primitives.
        * Primitives updated once and rendered in each viewport
        * Option on each primitive to hide for any number of viewports
    * Each `Scene` contains a copy of view dependent primitives.
        * Includes `Gl

[2017-04-17 23:52] bagnell commented on #5214
We have an overlay pass. Do we want to execute those on the entire canvas or each viewport? It's only used for the shadow map debug views and `ViewportQuad` which isn't used anywhere. Can we remove it?

Where do we put the credits by default?

[2017-04-18 00:57] pjcozzi commented on #5214
CC #3001

[2017-04-18 12:51] mramato commented on #4346
This came up again in an offline conversation I had with a user.

@tfili didn't this used to work?

[2017-04-18 13:16] SunBlack commented on #5153
Just to mention: "expression" is currently mentioned in spec, but not supported by PointClouds.

In general this is a really useful feature, but hard to implement, because you need to know result types of any operation to create new variables in glsl (there is no `var` like in JavaScript) - or you implement it just as string replacement, but then you have no performance benefit of this.

[2017-04-18 13:52] lilleyse commented on #5153
It is supported, but only for conditions. Maybe that should change. Here's an example with the 3D Tiles Point Cloud Styling sandcastle:

[code]

Agreed that it could be hard to get the variable type, but I think it is possible with the existing code in `getShaderExpression` plus additional info about the types of the batch table properties.

Also good point about the performance implications. Righ

[2017-04-18 17:10] #4536 closed

[2017-04-18 17:11] pjcozzi commented on #4536
Thanks again for the report and code example, @rutsky.

This was fixed in #5208.

[2017-04-18 17:27] #5117 closed

[2017-04-18 18:20] bagnell commented on #5214
Having different scene modes will be possible with the first option. Would it be possible with the second?

Are we maintaining backwards compatibility? It would be difficult with the first option, probably easy for the second option.

[2017-04-18 18:45] rahwang commented on #4802
Also here: https://groups.google.com/d/msg/cesium-dev/tAp48bXcQRw/NmTXbO90AwAJ

[2017-04-18 19:05] bagnell commented on #5214
All of the widgets created by `Viewer` are constructed with a `Scene`. Which viewport should they use? If there is more than one viewport, should we disable them by default? Should we require explicit creation with a scene/viewport reference?

[2017-04-18 20:04] hpinkos opened #5216 "Call dispose on destroy for any observable created with knockout.defineProperty"
The knockout es5 plugin creates a `knockout.computed` behind the scenes when we call `knockout.defineProperty`.  This `computed` listens to observables indefinitely unless we call `knockout.getObservable(this, propertyName).dispose()`.  This should be done in the `destroy` function for our widgets.

[2017-04-18 20:10] mramato commented on #5216
The version of the es5 plugin we are using is beyond ancient, it might be a good idea to update it and check if it fixes this issue as well.

[2017-04-18 20:21] hpinkos commented on #5216
Nope, current master does the same thing: https://github.com/SteveSanderson/knockout-es5/blob/master/dist/knockout-es5.js#L521

[2017-04-18 20:26] mramato commented on #5216
Thanks.  You should probably report a bug on their repository and verify that what you're suggesting is the correct fix.  I totally buy that what you're suggesting is needed, but we shouldn't let issues/bugs go unreported for the libraries we use.

[2017-04-18 21:07] rutsky commented on #4536
@bagnell @pjcozzi Thanks!

[2017-04-18 21:18] hpinkos commented on #5216
I don't know if it's really a bug on their end.  It's the same as us recognizing that we need to `dispose` on subscriptions

[2017-04-18 22:45] andrzejfigula commented on #5210
I've created a Sandcastle demo for this:
http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=421c617cfa80dbe311c97e86741ac48e

The demo will require CORS to be enabled via browser.
It will focus on area where the artifact is present.

[2017-04-19 07:58] ChriWe commented on #5203
Ok, thanks for the info.

Actually this feature would be a nice-to-have in the current application im building, but wasn't yet put on the roadmap. So I may have a look at this at some future point.

Thank you very much for the detailed information and description.

[2017-04-19 18:12] tfili commented on #4346
I'm not sure.

[2017-04-19 18:23] hpinkos commented on #4346
Nope, this never worked.  Just tested it in 1.19 when this function was added

[2017-04-20 03:52] swhkyo opened #5219 "change default screen control crash"
Hi, I want change the default control in the pad so I add the following code in my project:

viewer.scene.screenSpaceCameraController.rotateEventTypes = [
    Cesium.CameraEventType.MIDDLE_DRAG,
    Cesium.CameraEventType.PINCH, // something worng in this line
    {
      eventType: Cesium.CameraEventType.LEFT_DRAG,
      modifier: Cesium.KeyboardEventModifier.SHIFT
    }
  ];

when I using 2 fing

[2017-04-20 12:17] pjcozzi commented on #5139
Does anyone have bandwidth to look at this?  It has bitten me a few times.

[2017-04-20 17:19] #2584 closed

[2017-04-20 17:20] mramato commented on #2584
@rahwang you might want to go back to the threads linked in this issue and let them know about the new support that will be in 1.32 on May 1st.

[2017-04-20 17:50] Ismir11 opened #5222 "Include Cesium version number copyright header"
Sometimes we loose track of the cesium version we are working with. Would it be possible to include the Cesium version number at top of the cesium.js file instead/in addition of at the bottom of the minified javascript?

[2017-04-20 17:56] Ismir11 opened #5223 "Problem filling long area on the ground"
We’re consistently seeing issues with the way that Cesium is deciding to fill some of our long pushbroom footprints. I’ve attached an example czml file that demonstrates the issue.

[BadFootprint.zip](https://github.com/AnalyticalGraphicsInc/cesium/files/944978/BadFootprint.zip)

[2017-04-20 18:06] pjcozzi opened #5224 "Add ArcticDEM Sandcastle example"
Like the PA Terrain Sandcastle example.

@rahwang

[2017-04-20 19:01] emackey commented on #5222
You can just type `Cesium.VERSION` in the web console.

[2017-04-20 19:14] Ismir11 commented on #5222
They have multiple versions of the cesium on their machines. They wanted easier way to identify the files

[2017-04-20 19:17] mramato commented on #5222
The `package.json` included with Cesium also has the version.

[2017-04-20 19:43] #5195 closed

[2017-04-20 20:31] NaderCHASER commented on #3857
I continue to see too many tile requests being made at multiple levels outside of the current view. As a time-based overlay provider, unnecessarily loading the entire rectangle extents is a hindrance when the next "frame" in an animation attempts to load and gets queued behind the tiles from the previous frame that weren't even in the view extent.

[2017-04-20 22:19] pjcozzi commented on #5210
@andrzejfigula thanks for the detailed report and narrowing this down.  It would be appreciated if you have the time to propose a fix.  Here's some info on [contributing](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/CONTRIBUTING.md#opening-a-pull-request).

[2017-04-20 22:24] pjcozzi commented on #4802
@rahwang this could be a good one for you for next month if you are interested.

[2017-04-20 22:25] rahwang commented on #4802
Yes please! I'll add this to my list

[2017-04-20 22:26] #5119 closed

[2017-04-20 22:28] pjcozzi commented on #3752
Thanks @ateshuseyin!

@bagnell could this be part of your upcoming stencil separation `RenderState` update?  Or is this too big/unrelated?

[2017-04-21 11:50] hpinkos opened #5226 "Unable to have multiple CesiumWidets on the same page in 3d-tiles branch"
In this example, I'm creating a new `CesiumWidget` for each of 4 containers.  However, the globe doesn't render in two of them.  This example works in master.

[code]

[code]

[2017-04-21 12:54] rahwang commented on #5207
From the forum:

"One issue I recently got caught on was how to listen to property changes, and I was given a solution on the forum (see here).  I don't see how I would have known how to do this by reading the documentation.  So if I could wish for another tutorial, it would be one to cover advanced coding and customization techniques for Cesium.

But generally I use the Code Examples gallery to l

[2017-04-21 13:54] lilleyse commented on #5226
This is a bug related to the `RequestScheduler`. The scheduler budgets are stored at global scope but the budgets are reset in `Scene`, which would get called four times and mess up the budgets. If there is a good way to call `RequestScheduler.resetBudgets` just once per frame outside of any cesium widgets, that would be the fix.

[2017-04-21 13:55] lilleyse commented on #5226
Also the request scheduler architecture has potential to change with @austinEng's HTTP2 testing.

[2017-04-21 13:58] billwritescode commented on #4714
So, since December, there have been some updates to how Cesium displays labels, so the above sandcastle doesn't show the cluster labels anymore on Cesium 1.32.

But @pjcozzi @bagnell, just bumping this thread -- any thoughts on the above comments?

[2017-04-21 16:55] hpinkos commented on #4802
This will be helpful for something I'm working on too =)

[2017-04-21 17:05] mramato commented on #4802
Yep, I would love to see this because we'll have good use for it on cesium.com, has been on my todo list forever.  I've has discussions with bagnell in the past on how best to implement this, so let me know if you want to talk before tackling it.

[2017-04-21 19:08] rahwang opened #5227 "Wrong on hover description for Custom Geocoder sandcastle example"
<img width="320" alt="screen shot 2017-04-21 at 3 06 16 pm" src="https://cloud.githubusercontent.com/assets/1758825/25292475/4eafb2d2-26a4-11e7-9118-7555f951d0e5.png">

[2017-04-21 19:32] rahwang commented on #5227
Interpolation is wrong too.

[2017-04-21 19:39] rahwang commented on #5207
## Increasing tutorial coverage

We have a lot of sandcastle examples with no associated tutorials. For the really minimal examples, this is probably fine, but here are some topics that I think may merit new tutorials, even if just short ones. As always, please comment / add / delete, or let me know if I've missed something @slchow @pjcozzi

* CZML (in general)
* Interpolation
* Map modes (2D, 3D,

[2017-04-22 19:57] pjcozzi commented on #5226
This should be fixed before `3d-tiles` is merged into `master`.

[2017-04-23 13:31] pjcozzi commented on #4871
CZML example with the same problem in #5223.

[2017-04-23 13:31] pjcozzi commented on #5223
Thanks @Ismir11.  I consolidated this with #4871.

[2017-04-23 13:31] #5223 closed

[2017-04-23 19:52] slandersson commented on #5025
I would love to see groundprimitive walls and polylines!

[2017-04-24 08:01] TanYongTai opened #5229 "Minor Tutorial Issues"
https://cesiumjs.org/tutorials/Imagery-Layers-Tutorial/
Should change "new Cesium.TileMapServiceImageryProvider" to "new Cesium.createTileMapServiceImageryProvider"

https://cesiumjs.org/tutorials/Camera-Tutorial/
Should change "orentation" to "orientation"

[2017-04-24 13:40] Ismir11 opened #5230 "Turn on a specular feature"
We would like to be able to turn on a specular feature on the globe. The feature set seems to be there, but there’s an issue when not rendering with terrain where the globe lighting isn’t properly honored and the magnitude of the light source (i.e. sun vs. moon) is ignored. This issue can be seen by adding this line of code as the last line in Sandcastle's Material demo: scene.globe.enableLighting

[2017-04-24 13:44] hpinkos commented on #5229
Thanks @TanYongTai!

@rahwang can you fix this?

[2017-04-24 13:47] hpinkos commented on #5227
Thanks @rahwang!  You can fix this by editing the text under the 'Info' button in Sandcastle and saving the example

![image](https://cloud.githubusercontent.com/assets/3451886/25340177/ed914f16-28d2-11e7-9a41-cef873b9f513.png)

[2017-04-24 16:14] emackey opened #5231 "Polylines get too thin at steep angles"
Polylines with sharp angles can get much thinner than the lineWidth dictates.  This isn't a problem when zoomed out from the lines.  For example, this looks good:

![manyangles](https://cloud.githubusercontent.com/assets/1235080/25346049/8b8da3de-28e4-11e7-8b87-1c18e3d714ec.png)

Here's the [live demo of the above](http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&

[2017-04-24 17:22] mramato commented on #5207
This is just a brain dump of some of my thoughts while reading the above, I'm sure I'll have more feedback as time goes on.

I think we have to be really careful about trying to teach our users how to program vs teaching our users
how to develop with Cesium. We need to assume they have some base level of competence in web development and provide some links to external/third party tutorials if they

[2017-04-24 18:57] pjcozzi commented on #5231
It would be nice to experiment with the tessellation you suggest (contributions welcome!), but I wonder if it can be done without introducing a lot of extra vertices and adjacency attributes.

[2017-04-24 18:59] pjcozzi commented on #5025
There's a start to this in the [ground-primitive-tex-coords](https://github.com/AnalyticalGraphicsInc/cesium/compare/ground-primitive-tex-coords) branch.

[2017-04-24 19:08] bagnell commented on #5231
The way you have the blue lines connected looks like a beveled corner. You can check out the `PolylineVolumeGeometry` which has an option to create beveled corners. The polyline vertex shader should have all the information to do this.

Yes, the polylines have mitered corners by default and the thinning was intentional. The reason behind it was materials. What would your blue line example look lik

[2017-04-24 21:50] lilleyse opened #5233 "Tests for Axis conversions"
The tests in `Model.js` cover `Y_UP_TO_Z_UP` and `X_UP_TO_Z_UP` somewhat, but there could be finer grained tests on all the conversions in `Axis.js`

My fault for not adding these initially, but this could be a good beginner issue.

[2017-04-25 01:38] #5031 closed

[2017-04-25 02:56] morrme commented on #5229
Can I help with this?

[2017-04-25 08:19] mumu1 opened #5235 "Display text blur"
Drawing text blur on cesium 3D sphere
![blur](https://cloud.githubusercontent.com/assets/23307078/25375357/06107926-29d3-11e7-83fc-7f87306e82da.jpg)
Original canvas draw text fine,image like below:
![https://cloud.githubusercontent.com/assets/23307078/25375385/16e52b20-29d3-11e7-8b86-1711c77b4524.png]()
![original](https://cloud.githubusercontent.com/assets/23307078/25375385/16e52b20-29d3-11e7-8b8

[2017-04-25 08:20] mumu1 commented on #5235
![blur](https://cloud.githubusercontent.com/assets/23307078/25375357/06107926-29d3-11e7-83fc-7f87306e82da.jpg)

[2017-04-25 08:20] mumu1 commented on #5235
![original](https://cloud.githubusercontent.com/assets/23307078/25375385/16e52b20-29d3-11e7-8b86-1711c77b4524.png)

[2017-04-25 08:25] florentdu commented on #873
Any plans for <gx:angles> ? It seems to me that display an aircraft orientation based on pitch, roll, heading is a nightmare in Cesium. KML <gx:angles> is not implemented. CZML orientation must  be computed in fixed Earth reference. Even in javascript, pitch, roll, heading must me transformed with heading-pitch-roll to Quaternion and Transforms.eastNorthUpToFixedFrame.

[2017-04-25 12:06] pjcozzi opened #5237 "Bot to bump pull requests that haven't been updated"
It would be great to automatically bump pull requests that, for example, haven't had a comment or commit in a month.

Does a GitHub plugin for this already exist?

We could also try something like this for issues - with a much longer duration - but I don't know that it would be effective.

[2017-04-25 12:24] hpinkos commented on #5229
Thanks for volunteering @morrme.  The code for this tutorial is in a different repo though, so someone from our team will have to take care of it.  Check out the beginner label to see if there are any other issues you would be interested in fixing: https://github.com/AnalyticalGraphicsInc/cesium/labels/beginner
Thanks!

[2017-04-25 12:25] hpinkos commented on #5235
Thanks @mumu1, this is a known issue.  See #2752 for some more details

[2017-04-25 12:25] #5235 closed

[2017-04-25 12:28] hpinkos commented on #873
Hello @florentdu,  gx:angles is on our list but I don't think we'll have a chance to work on it in the near future.  We would gladly review a pull request though if you have some time to work on implementing this!  You would need to make changes to [KmlDataSource](https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Source/DataSources/KmlDataSource.js).  You can find information on checking

[2017-04-25 12:43] mramato commented on #5235
In the mean time, you can set `viewer.scene.fxaa = false;` for much crisper text and imagery rendering and the cost of sharper lines.

[2017-04-25 14:22] pjcozzi opened #5239 "Add Skip LOD options to 3D Tiles Inspector"
@rahwang do you want to do this?

@austinEng can explain the parameters added in #5128.

[2017-04-25 14:51] rahwang commented on #5239
Sure thing! I'll add it to my list.

[2017-04-25 15:26] jburr-nc opened #5240 "KMZ uncompression in FF52+"
Our users are reporting that as soon as they upgrade to FF52, KMLs take forever to load -- to the point where it's unusable.  We are using the Cesium.KmlDataSource.load() function.  When they roll back to FF51 (with no code changes on our end), everything works perfectly again.

I can now re-produce this issue fairly consistently.  It seems to happen when they upload a KMZ archive instead of a KML

[2017-04-25 15:43] mramato commented on #5240
Thanks for the bug report @jburr-nc.  It went to test this but it looks like FF53 just landed and I'm not seeing any performance issues with it (unzipping the kmz takes no longer than usual).  Maybe it was an FF bug that they already fixed.

I was testing on Windows 10.  What OS are your users on?  What are you using to generate the kmz files?  Perhaps it's something specific to the way they are b

[2017-04-25 15:58] jburr-nc commented on #5240
Thanks for looking into this @mramato.  I'll see if I can create a sample to easily reproduce this.  Closing until I have more info for you.

[2017-04-25 15:58] #5240 closed

[2017-04-25 18:36] rahwang opened #5241 "Follow-camera"
Multiple users have asked for something like a follow camera, or a way to follow tracked-entities at a set zoom level or displacement.

Especially since we're currently working on a camera model like that in the cesium arcade game, it would be nice to potentially add such functionality to Cesium.

[2017-04-25 18:39] rahwang commented on #5241
Some forum requests:

https://groups.google.com/forum/?hl=en#!topic/cesium-dev/b9GZDrVIIDk
https://groups.google.com/d/msg/cesium-dev/-mDNh2qlTZQ/8Zk9zbQUAQAJ
https://groups.google.com/d/msg/cesium-dev/mW0VxrU3yhA/JYJFjJ4GBQAJ

See also, Matt's gist example:
https://groups.google.com/d/msg/cesium-dev/-mDNh2qlTZQ/WOIPQHVNAgAJ

[2017-04-25 19:05] pjcozzi commented on #5230
@Ismir11 could you please provide some screenshots or any other info?  Are you looking for the water feature that is available when terrain is enabled?

I did not see any obvious artifacts when adding
[code]
to the bottom of  http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=Materials.html&label=Showcases

[2017-04-25 21:28] #5227 closed

[2017-04-25 21:33] emackey commented on #5229
[Meta comment: I think we shouldn't use the `beginner` label for issues that require access to private repos, nor for issues that involve coordinating with AGI legal on licensing issues, AGI marketing on logo usage, etc., even if those tasks don't require coding skill.]

[2017-04-26 10:46] bampakoa commented on #1855
@pjcozzi I can confirm that the described behavior is valid for Chrome. In the case of Firefox and Edge, when you leave the canvas and move the mouse, the tilt/rotate action is still active. If you let the mouse and go back to the canvas, the button does not seem pressed anymore.

[2017-04-26 14:14] hpinkos commented on #3018
Also reported here: https://groups.google.com/d/msg/cesium-dev/XJqVTmdCq2o/L6h8msTYBAAJ

[2017-04-26 14:29] hpinkos commented on #4290
Also reported here: https://groups.google.com/forum/?hl=en#!topic/cesium-dev/MNIzT0FM2Xk

In this example, you can see that drillPick is picking the points on the other side of the globe when you hover over the point the camera is focused on:
http://cesiumjs.org/Cesium/Apps/Sandcastle/?src=Hello%20World.html&label=Showcases&gist=3005c46a288a23660318c36a0d0521c7

[2017-04-26 14:38] hpinkos commented on #5184
I've been seeing this come up a few times lately on the forum so I added the priority label

[2017-04-26 19:09] pjcozzi commented on #5184
Can you add links to the other forum threads if there's others than the one linked above?

[2017-04-26 19:12] pjcozzi commented on #5229
@emackey I thought about that but then I can't find them when looking for onramping issues.  I'll use another approach if this comes up often enough.

[2017-04-26 19:17] emackey commented on #5229
OK.  I took the tag off but feel free to add it back.  Or maybe `onramping` is a better tag here than `beginner`?

[2017-04-26 22:49] slandersson opened #5246 "Be able to specify segment colors for walls"
Polylinegeometry allows color arrays to specify the color for each segment
(https://cesiumjs.org/Cesium/Build/Documentation/PolylineGeometry.html)

My suggestion is to add this to walls too

[2017-04-27 18:45] hpinkos opened #5247 "3D tiles inspector: highlight tile on pick"
Currently, picking highlights the feature your mouse is over.  It would be neat to also highlight the tile that contains that feature (in a different color)

[2017-04-27 18:55] hpinkos opened #5248 "Cesium3DTileset: debugColorizeTiles is not always applied when new tiles are loaded in"
![colorize](https://cloud.githubusercontent.com/assets/3451886/25499373/351ebec6-2b59-11e7-9699-de6ca2f61f63.gif)

With the Cesium3DTilesInspector,
- Toggle on 'Colorize' to set `Cesium3DTileset.debugColorizeTiles=true`
- Pan around to a different area.  You can see some of the tiles are not color
- Toggle 'Colorize' off and on again
- Now the tiles are properly colorized

[2017-04-28 13:20] pjcozzi commented on #5176
Let's push post 1.33.

[2017-04-28 13:22] #5109 closed

[2017-04-28 16:29] austinEng commented on #5239
- Checkbox to toggle `tileset.skipLODs`
- #5254 is going to add a value called `baseScreenSpaceError` which should be modifiable like `maximumScreenSpaceError`
- Slider for `tileset.skipSSEFactor`. Probably range from 1 to 50
- Slider for `tileset.skipLevels`. Probably range from 0 to a small number.
- Checkboxes for `tileset.immediatelyLoadDesiredLOD` and `tileset.loadSiblings`
- Debug display fo

[2017-04-28 19:57] mramato commented on #5176
FYI, running Firefox tests on the command line reveals some clues.  It doesn't run all tests, it crashed after 7022 out of 7940, so maybe there's a bad test creating too many contexts?

[code]

[2017-04-28 19:59] mramato commented on #5176
And running with the webgl stubs causes everything to pass.

[2017-04-28 20:04] mramato commented on #5176
Final update on Firefox, running just the Scene tests with `npm run test -- --browsers Firefox` crashes every time.  I think the above context lost errors are a red herring.

[2017-04-28 20:15] mramato commented on #5176
Edge still crashes with the latest version as well.

[2017-04-28 20:22] rahwang commented on #526
Forum interest in support for rendering imagery layers above the ellipsoid surface.

https://groups.google.com/d/msg/cesium-dev/mW0VxrU3yhA/jcqoRnu3BAAJ

[2017-04-28 21:38] andrzejfigula commented on #5210
Hi @pjcozzi , @bagnell.
Thank you for the feedback.

I have found that HeightmapTessellator.js:351
[link to code](https://github.com/AnalyticalGraphicsInc/cesium/blob/f32f814c30d24cea933b7650927141738b5c5fe4/Source/Core/HeightmapTessellator.js#L351)

percentage value is too high.

Changing percentage = 0.00001; to percentage = 0.000001 resolves the issue, but I'm not sure about side effects for su

[2017-04-30 12:02] hanokhaloni commented on #2584
WOOHOO!!!!!

[2017-05-01 12:56] GatorScott opened #5257 "Proper STK Terrain Server API not being used"
References to AGI's hosted STK Terrain Server are not valid for out-of-the-box private deployments (local rewrite rule).  Please update the examples to use "https://assets.agi.com/stk-terrain/v1/tilesets/world/tiles".

[2017-05-01 13:19] mramato opened #5258 "Crash when switching from 2D to 3D"
Looking at this now in case it's an easy fix, if not we'll, @bagnell we need this for today's release, since it doesn't happen in 1.32

1. Run http://localhost:8080/Apps/Sandcastle/index.html?src=Hello%20World.html&label=Showcases
2. Switch to 2D.
3. Switch back to 3D and click to end morph early
4. Crash.

[code]

The problem appears to be that completing am morph  early causes `camera.update` to

[2017-05-01 13:26] pjcozzi commented on #5257
@rahwang could you please make this change?

[2017-05-01 13:59] mramato commented on #5258
The problem appears to be the extra tween inserted into the morph sequence on line 442 of `SceneTransitioner.js` I believe this morph is there to go from orthographic to perspective before actually starting the morph.  This creates a 1 second window where calling `completeMorph` to complete early (which happens on mouse click) creates an invalid scene configuration because the orth-to-perspective

[2017-05-01 14:05] mramato commented on #5258
@pjcozzi any thoughts here?  This is a pretty easy crash to recreate, so I think we need to fix this before release.  1.32 doesn't crash, but is broken differently with the same steps (wrong frustum in 3D)

[2017-05-01 14:18] mramato opened #5259 "Billboard scaleByDistance odd behavior in 2D"
This is from the KML KMZ demo when switched to 2D.  I would expect scaleByDistance to only affect billboards when the camera zoom in and out, but apparently panning causes billboards of different heights to scale as well?  This problem exists in 1.32 as well but I'm not sure how far back the problem goes.

![sizing](https://cloud.githubusercontent.com/assets/1495196/25581692/4555d030-2e57-11e7-9a9

[2017-05-01 14:24] pjcozzi commented on #5258
Let's take a fix from @bagnell if he is able to come up with it quickly; otherwise, if it is safe to remove the tween as you did or revert to something older, let's do it.

[2017-05-01 14:33] rahwang commented on #5257
Sure thing, @pjcozzi !

[2017-05-01 14:53] mramato commented on #5258
This appears to be similar to #5197, which was reported but never looked at.  I still hope we can fix in for 1.33.

[2017-05-01 14:59] mramato commented on #5184
I wrote up https://github.com/AnalyticalGraphicsInc/czml-writer/issues/133 in czml-writer, but we should also evaluate https://github.com/AnalyticalGraphicsInc/cesium/pull/5079 (or another form of it) before starting to make wider use of HPR.  For example, Cesium and STK Components currently have different HPR conventions (I think Components is more typical here, but I'm really not sure).

[2017-05-01 15:07] mramato commented on #5257
There are also a slew of places in cesium's code base where we do this, might as well be consistent.  Just search for `assets.agi.com/stk-terrain` and you'll find them all (since they are not all `world` specific).

[2017-05-01 15:24] #5257 closed

[2017-05-01 16:04] shunter opened #5260 "Crash if EllipsoidGeometry stackPartitions or slicePartitions are non-integer"
For somewhat obvious reasons, these parameters must be integers (they get used to allocate arrays, for example).  Currently the doc doesn't indicate this.  The code should validate this as well (or potentially we could just truncate the input).

[2017-05-01 17:52] rahwang commented on #5207
Forum request for SampledProperty Sandcastle example with rotation:
https://groups.google.com/forum/?hl=en#!topic/cesium-dev/gb4HdaTTgXE

[2017-05-01 18:06] lilleyse commented on #2655
More notes, directly from the code:

Potential additional types:
* CPU - e.g., for getting terrain heights for billboards/labels
* GPUCompute - e.g., for reprojecting imagery using GPGPU
* Content specific - e.g., favor terrain over buildings or vice versa

[2017-05-01 18:11] lilleyse commented on #2655
More thoughts about expanding the job scheduler to go beyond renderer resources: https://github.com/AnalyticalGraphicsInc/cesium/pull/5249#issuecomment-298081564

[2017-05-01 18:29] rahwang opened #5263 "HSL color option for CZML"
Reported in the forum: https://groups.google.com/d/msg/cesium-dev/raCylaoxSaM/kf4vkHXZBQAJ

[2017-05-01 18:37] shunter opened #5264 "Quaternion.fromHeadingPitchRoll documentation is incorrect"
The `Quaternion.fromHeadingPitchRoll` function does not document the `headingOrHeadingPitchRoll` parameter, specifically that it can be a `HeadingPitchRoll` (and also does not mention the deprecating of the individual HPR parameters).

Code was apparently added in #4896 but documentation was not correctly updated.

[2017-05-01 18:46] #5258 closed

[2017-05-01 19:02] bagnell commented on #5197
This was fixed in #5262. Closing.

[2017-05-01 19:02] #5197 closed

[2017-05-01 19:02] mramato commented on #5197
Thanks for the report @lftgly, this will be part of 1.33 being released in a couple of hours.

[2017-05-01 19:58] mramato opened #5265 "Sandcastle CSS broken"
This is for all versions of Cesium, looks like CSS is no longer being loaded: http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html?src=3D Models Coloring.html&label=Showcases

@emackey if I recall, we are abusing CSS in some way (inclusion outside of head maybe?) Is Edge possibly disallowing that?

Doesn't have to hold up this release, since it's been broken a while, but we should definitely fix

[2017-05-01 20:06] emackey commented on #5265
Yes.  This happened because of an old desire to have CSS share an edit window with HTML, for fewer editing tabs.  None of the other live-editors do this.  We should probably adopt a more jsFiddle-like layout, with JS, HTML, and CSS windows all visible at the same time as the result window.

[2017-05-01 20:08] mramato opened #5266 "Clean up CZML geometry examples"
A bunch of our CZML Sandcastle examples trigger the "outlines not supported for Ground primitives" warnings in the console.  This is confusing for new users.  We should either remove the outlines from these examples (since they don't show up anyway) or explicitly set the height to 0 so that ground primitives aren't used and the outline is shown.

@rahwang this might be a good low-hanging issue to

[2017-05-01 20:10] mramato commented on #5266
This is true of our regular Geometry examples too, (i.e. Corridor).

[2017-05-01 20:15] mramato opened #5267 "HPR example hard to read"
http://localhost:8080/Apps/Sandcastle/index.html?src=HeadingPitchRoll.html&label=All

Needs a background like our other examples.

![image](https://cloud.githubusercontent.com/assets/1495196/25593128/5c3f893a-2e89-11e7-927d-b45becca3cc8.png)

[2017-05-01 20:17] mramato commented on #5267
Same thing for http://localhost:8080/Apps/Sandcastle/index.html?src=LocalToFixedFrame.html&label=All

[2017-05-01 20:23] mramato commented on #5265
I don't disagree with you, but in the short term we just need to fix Edge.  Can you provide some guidance on what the minimum we can do here is?  Just add another tab for CSS?

[2017-05-01 20:36] emackey commented on #5265
I believe so, yes.  The new tab would inject the CSS into the head, not the body.  If backwards-compatibility is a consideration, the load code could be adapted to look for `<style>` blocks in the body of the loaded file, and move them to the CSS window.  New files should be saved with the styling in the head of course.