[2022-02-03 23:19] lilleyse commented on #10074
One other minor thing I noticed: `this._boundingSphere` in `ModelExperimental.js` seems to be unused and can be deleted.

[2022-02-04 00:42] #10069 closed

[2022-02-04 11:23] SubhajitS commented on #10057
Hi @j9liu I have raised a draft commit [10075](https://github.com/CesiumGS/cesium/pull/10075). Please review the same and let me know if I need to cover any other corner case.

[2022-02-04 18:25] javagl commented on #10057
Just stumbled over this, a small thought:

One _could_ argue to handle this similar to [`Date()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date#parameters), where the no-args call causes the creation of a date that represents **"now"**.

[2022-02-07 02:22] wejrox opened #10079 "Cesium exports const enums which can't be imported when using CRA Typescript"
Cesium exports a number of enums which are declared as `const`.
When attempting to import these enums within a React CRA project, the imports fail with the error `Cannot access ambient const enums when the '--isolatedModules' flag is provided.`.

It's not possible to turn off isolated modules within CRA, and if you attempt to, it re-enables itself. Even if we could do so, there's a good reason to

[2022-02-07 04:04] Winley113 commented on #8704
How can I get the full source code of this API

[2022-02-07 07:33] Makabaka-goodnight opened #10080 "The latest version of cesium(1.89) cannot load the model"
Previously, 3dfiles can be loaded in version 1.63.1. After upgrading to 1.89, the same 3dfiles model cannot be loaded

[2022-02-07 13:19] lilleyse opened #10081 "Add minimumPixelSize to ModelExperimental"
Part of https://github.com/CesiumGS/cesium/issues/9520 for bringing `ModelExperimental` to production.

Three properties from `Model` should be added to `ModelExperimental`:

* `scale`
* `minimumPixelSize`
* `maximumScale`

These control the scale of the computed model matrix. When either of these values is changed `updateModelMatrix` should be called. When `minimumPixelSize` does not equal zero,

[2022-02-07 13:53] ggetz commented on #10080
Hi @Makabaka-goodnight, would you be able to provide the dataset which is having issues? Is the tileset hosted on Cesium ion?

[2022-02-07 13:56] ggetz commented on #9846
Hi @thomaskoeck, we haven't been able to get to this yet. If you have the time to investigate the root of the issue or open a PR with a fix, we would welcome the contribution!

[2022-02-07 16:05] ggetz commented on #3984
I believe this has been fixed in https://github.com/CesiumGS/cesium/pull/9932

[2022-02-07 16:23] j9liu opened #10082 "Incorrect shadows on models with transparent textures"
Discovered this in #10077. While replicating model-related unit tests in `ShadowMapSpec.js`, I found that the cutout test didn't work properly for `ModelExperimental`. I loaded the `BoxCutout.gltf` model as both a `Model` and a `ModelExperimental` in [this sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=xVZbb9s2FP4rgp7kQqVsx2mzxA1WX5oNSLagbjdg0Asj0RZRihRIKrE35L/v8KKLHXXoCgzzg+1z9J37

[2022-02-07 17:05] #10062 closed

[2022-02-07 17:09] #10079 closed

[2022-02-07 19:17] ggetz commented on #5369
I believe this is OBE since we added prettier.

[2022-02-07 19:17] #5369 closed

[2022-02-07 20:58] lilleyse commented on #10082
This is indeed a duplicate of https://github.com/CesiumGS/cesium/issues/9260.

Changing the `alphaMode` to `BLEND` shows the correct shadow.

[2022-02-07 20:58] #10082 closed

[2022-02-07 21:15] #10074 closed

[2022-02-07 21:44] ebogo1 commented on #9811
@wzwxwc We were unable to reproduce this on macOS, Windows, or Linux and think we may have fixed this issue in a prior release. I'll close the issue for now but if you are still running into this please post steps to reproduce and feel free to reopen it. Thanks!

[2022-02-07 21:44] #9811 closed

[2022-02-08 01:24] srothst1 commented on #5938
Hi @ggetz! I am happy to take this on. However, it would be very helpful if you could provide some more context for this issue. What specifically is needed to implement a fix?

[2022-02-08 01:25] Makabaka-goodnight commented on #10080
I'm very sorry to reply you so late，The dataset  is on my local server and not on Cesium ion。

[2022-02-08 01:35] Makabaka-goodnight commented on #10080
[rac_basic_sample_project.zip](https://github.com/CesiumGS/cesium/files/8019947/rac_basic_sample_project.zip)

[2022-02-08 16:59] ptrgags opened #10084 "Add JSON-based subtrees for implicit tiling"
An upcoming spec change is to allow a JSON-based subtree format for implicit tiling in addition to the current binary format.

This will involve:

- [ ] in `Cesium3DTileContentType`, add an enum constant for the JSON format, e.g. `IMPLICIT_SUBTREE_JSON: "subtreeJson"`. (Note: leave the existing `IMPLICIT_SUBTREE` as-is since it must store the magic number of `subt`).
- [ ] in `preprocess3DTileCont

[2022-02-08 17:27] j9liu commented on #10084
Thanks @ptrgags!

In `Implicit3DTileContent`, would it be a good idea to mimic `ModelExperimental`'s way of loading in things by:
1. only requiring a tileset, tile, and resource as parameters to `Implicit3DTileContent`
2. requiring some function like `fromGltf` where there is a single url parameter, and that function determines whether its a JSON or binary file from there?

Let me know how this ap

[2022-02-08 18:00] ptrgags commented on #10084
@j9liu hm... basically the construction logic is like this:

* If I have a binary payload, parse the header, and separate the JSON part from the binary part (see `ImplicitSubtree.parseSubtreeChunks()`)
* If I have a JSON part, that's the JSON part, the binary part is empty (any resources would be an external buffer which is handled already). the `parseSubtreeChunks()` functionality isn't needed he

[2022-02-08 18:31] javagl opened #10085 "Qualified names for metadata access in custom shaders"
Right now, metadata is passed to the custom shaders via an `fsInput.metadata` structure that contains the properties. The shader code may access this data, with something like

    vec2 example = fsInput.metadata.exampleVector;

where `exampleVector` is the name of a property in "the" metadata class.

When there are *multiple* classes, and two of them have a property with the same name, then this

[2022-02-08 18:48] ptrgags commented on #797
Another WebGL 1 limitation that limits our implementation of EXT_mesh_features: In [this table in the MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/WebGL_best_practices#essl100_minimum_requirements_webgl_1), it seems that even a `highp int` is only required to have 17 bits`. So for feature IDs, I'll have to use a `highp float` to squeeze out a couple more bits.  Also there's

[2022-02-08 19:12] ebogo1 commented on #9906
I don't believe there's a workaround without revisiting how we package CesiumJS for Node - this issue will happen with any file that happens to call `loadWithHttpRequest` in Resource.js.

[2022-02-08 20:00] #9999 closed

[2022-02-08 20:02] ggetz commented on #9691
@j9liu Is this issue at a point where it can be closed? Is there any remaining work in this issue that we plan on still tackling?

[2022-02-08 20:05] j9liu commented on #9691
Yes, I can close this issue. Everything else related to future work on clouds is listed under #9764 .

[2022-02-08 20:05] #9691 closed

[2022-02-09 07:29] wejrox commented on #7062
This is a great idea, however it is implemented. I'm trying to do the same thing since I'm dynamically creating thousands of objects at the moment and running into memory limits.

A solution that doesn't require user implementation sounds great if possible, as right now we can only specify the URI when creating a `ModelGraphics`, so it would require more interface changes.

In the mean time, @Omar

[2022-02-09 13:51] ggetz commented on #10080
@ebogo1 Could you please check this model and see if you can determine the reason its no longer loading?

[2022-02-09 14:30] ptrgags commented on #9520
One thing to note is new issues about `ModelExperimental` have their own label of [category - ModelExperimental](https://github.com/CesiumGS/cesium/issues?q=is%3Aissue+is%3Aopen+label%3A%22category+-+ModelExperimental%22)

[2022-02-09 19:02] ebogo1 commented on #10080
I tracked the error to this PR - https://github.com/CesiumGS/cesium/pull/9778 - this looks like it started after we updated the Draco version, maybe related to https://github.com/CesiumGS/cesium/issues/9847 but with models instead of point clouds. This might need some more digging to figure out where it's going wrong.

[2022-02-09 19:54] ptrgags opened #10088 "Add a class for subtree metadata in implicit tiling"
For implicit metadata, the latest spec revisions call for adding metadata per subtree.

This will be JSON-based metadata properties, so it will work very similarly to `TilesetMetadata` and `GroupMetadata`. These use the static methods from `MetadataEntity` to implement the metadata, so most of the low-level details are abstracted.

This involves:

- [x] Create a class `Scene/ImplicitSubtreeMetadat

[2022-02-09 20:16] ptrgags opened #10089 "3D Tiles 1.1 CesiumJS roadmap"
The next couple weeks, we've been revising the 3D Tiles Next extensions to prepare for standardizing as 3D Tiles 1.1. The CesiumJS implementation needs to be updated in the following areas:

- Metadata: `EXT_mesh_features` is now split into `EXT_mesh_features` (for feature IDs) and `EXT_structural_metadata` (for metadata)
- Implicit Tiling: the extensions are now folded into the subtree JSON and a

[2022-02-09 20:30] ptrgags opened #10090 "Avoid creating too many sampler2D uniforms in ModelExperimental"
While I was working on #10087, I noticed that I had implemented feature ID textures such that they are labeled `u_featureIdTexture_{featureIdSet}`. The problem is sometimes two or more logical feature ID textures may refer to the same physical texture in the glTF file, so the same texture is added to the shader multiple times. This is wasteful, as there are only a limited number of texture slots w

[2022-02-10 18:00] ptrgags commented on #10084
This was fixed in #10086

[2022-02-11 08:02] znxd-wh opened #10091 "geojson pick confusion when set perPositionHeight"
hello

I use GeoJsonDataSource to load geojson data, when i set the perPositionHeight=false,single click on the map to pickup a geojson feathure, it may return a wrong result.

![image](https://user-images.githubusercontent.com/42760174/153555299-d4687bd4-8146-42a3-9ce4-9d980daac967.png)

when i set entity.polygon.perPositionHeight = false, it will happen,but if set entity.polygon.perPositionHeigh

[2022-02-11 20:45] ptrgags opened #10095 "featureIds: switch from array to dictionary"
A recent change to the `EXT_mesh_features` schema changes from a dictionary to an array. I didn't do this yet in #10087 since it may get a bit involved.

This involves:

- [ ] in `ModelComponents`, add an `id` property to the `ModelComponents.FeatureIdXxx` structs
- [ ] in `GltfLoader`, change the parsing logic to iterate over a dictionary instead of an array of `featureIds`. The keys are the uniq

[2022-02-11 20:56] ptrgags opened #10096 "Use accessors rather than buffer views in `EXT_structural_metadata` and `3DTILES_implicit_tiling`"
in `EXT_structural_metadata` and `3DTILES_implicit_tiling` (subtrees), the latest schema now uses accessors rather than buffer views.

This affects may affect the following classes:

* `GltfFeatureMetadataLoader`
* `ImplicitSubtree` - for implicit tiling
* `parseFeatureMetadata`
* `parseFeatureMetadataLegacy`

The end goal is the same, create `MetadataTables` with the `Uint8Array` objects storing

[2022-02-14 14:02] lilleyse opened #10100 "Clipping planes in ModelExperimental"
Clipping planes should be added to `ModelExperimental` as part of https://github.com/CesiumGS/cesium/issues/9520. The steps roughly consist of:

* Add `ModelClippingPlanesStage`. Since the stage applies to the whole model rather than a single node or primitive it can be modeled after `ModelColorPipelineStage`. The stage calls `getClippingFunction` and adds that GLSL function to the shader. Note th

[2022-02-14 15:26] #10088 closed

[2022-02-14 15:37] ggetz commented on #10091
@ebogo1 Could you triage this issue by  reproducing and seeing if you can find the probable cause?

[2022-02-14 16:22] iatkin opened #10101 "Z-aligned billboards rotate if camera pitch changes while camera is rotated"
I have some map markers that I have set to follow the globe rotation by setting alignedAxis to Cesium.Cartesian3.UNIT_Z. However, I modified the camera position with lookAt along with a custom HeadingPitchRange, and the markers rotate depending on the exact camera heading and pitch. The greater the heading, the greater the rotation caused by a change in pitch. The example below will do a complete

[2022-02-14 18:43] alexfrigault commented on #9024
Has there been any update on this issue? We are trying to use Cesium in our application but we are required to not include 'unsafe-eval' in our CSP. Simply having Cesium load in through webpack runs into this issue.

[2022-02-14 19:26] ggetz commented on #9024
@alexfrigault No updates yet. We are potentially taking a look at eliminating requireJS and therefore `eval` as a part of some modernization efforts in the near future.

[2022-02-14 19:41] ebogo1 commented on #10091
@znxd-wh I wasn't able to reproduce this with the GeoJson examples we have in our Sandcastle gallery. Are you able to share the data you were testing this with? Thanks!

[2022-02-14 19:58] ptrgags opened #10103 "Handle implicit availability spec changes"
In the latest [implicit tiling schema draft](https://github.com/CesiumGS/3d-tiles/tree/extension-revisions-implicit/extensions/3DTILES_implicit_tiling/schema/subtree), the way multiple contents is handled is a little different. instead of storing things in the subtree's `3DTILES_multiple_contents` extension, it'll now be part of the main subtree JSON. We do need to support both for backwards compa

[2022-02-14 20:58] ptrgags opened #10104 "Handle `tileMetadata` and `contentMetadata` in implicit tiling"
The latest schema for [implicit tiling subtrees](https://github.com/CesiumGS/3d-tiles/tree/extension-revisions-implicit/extensions/3DTILES_implicit_tiling/schema/subtree) handles metadata a bit differently. Now there are dedicated `tileMetadata` and `contentMetadata` fields in the subtree JSON file.

Older schema (for backwards compatibility): (see the [spec](https://github.com/CesiumGS/3d-tiles/t

[2022-02-14 21:20] ptrgags opened #10105 "Handle content metadata for explicit tiling"
Another spec change (schema TBD, @lilleyse when ready could you link it here?) is to allow metadata within a content (likely `content.metadata`). This needs to be handled in the implementation.

This will be somewhat similar to how `TileMetadata` works. However, since there are a large number of `Xxx3DTileContent`, it may be better to have `Cesium3DTile` create the object and set `content.metadata

[2022-02-14 23:30] lilleyse commented on #10105
The latest revision is here: https://github.com/CesiumGS/3d-tiles/blob/extension-revisions/extensions/3DTILES_metadata/schema/content.3DTILES_metadata.schema.json

Just note that is still part of the extension so it would be `content.extensions.3DTILES_metadata.` In 3D Tiles 1.1 it would likely be `content.metadata`.

[2022-02-15 02:16] znxd-wh commented on #10091
@ebogo1  attach is my code with data, unzip it and publish with a web container such tomcat,iis,nginx. visit the index.html page,you will see the problem. click a feather several times, different feature will be picked.
![image](https://user-images.githubusercontent.com/42760174/153978876-5c0fb45f-5da8-4dac-925b-50d9df1742ef.png)

cesium 1.88 does not work,but 1.74 works fine. but if i don't set e

[2022-02-15 08:08] happyfeet1996 opened #10106 "Ambient Occlusion doesn't work！"
Sandcastle example:Ambient Occlusion

Browser:Chrome

Operating System: macos

![image](https://user-images.githubusercontent.com/40989006/154019019-fa9ef130-74d1-46a9-a918-f1b2391057c2.png)
![image](https://user-images.githubusercontent.com/40989006/154019065-1ad59321-ea79-44ed-b69e-8844276177b1.png)
when i check ambient occlusion,full screen change to black and can not look anything!

[2022-02-15 13:49] ptrgags commented on #10096
We decided not to switch to accessors in the schema after all since bufferViews allow us to store a broader range of types.

I'm closing this issue for now.

[2022-02-15 13:49] #10096 closed

[2022-02-15 14:49] ggetz commented on #10101
Hi @iatkin, what effect are you trying to achieve? [This forum thread](https://community.cesium.com/t/how-to-use-alignedaxis-for-a-billboard/1586/2) explains the intended behavior of `alignedAxis` for billboards.

[2022-02-15 15:12] ggetz commented on #9938
Due to lack of activity, I'm closing this issue. @wenyu1314 if you have any updates, feel free to re-open.

[2022-02-15 15:16] ggetz commented on #9631
Due to lack of activity, I'm going to close this issue. @wisdomware  @worldpeaceenginelabs If you have any update, feel free to reopen it. We're aware that touch controls in general need some attention, see https://github.com/CesiumGS/cesium/issues/4363, so please add a comment there if relevant.

[2022-02-15 15:16] #9631 closed

[2022-02-15 19:07] iatkin commented on #10101
Thanks for the reply. I'm displaying currents with arrow heads showing the direction of the stream. The first image is the initial downward facing camera with the top of the screen being north. The second image has the same camera heading with some pitch applied. The arrows are still facing the correct direction. The third image is same area with about 180 degrees of rotation and the camera pointi

[2022-02-15 20:04] ggetz commented on #10101
I see. I believe this is a duplicate issue with https://github.com/CesiumGS/cesium/issues/6165. Basically, the alignedAxis property is working as expected, but you would need a different property which lets you specify the heading of the billboard. I'm going to close this issue as a duplicate, but let me know if you think otherwise. Thanks!

[2022-02-15 20:04] #10101 closed

[2022-02-15 21:02] #10103 closed

[2022-02-15 22:02] ptrgags commented on #10104
@j9liu and I discussed this offline, and I realized there's a few more details.

- [ ] in ImplicitSubtree, rename `_jumpBuffer -> _tileJumpBuffer` and then add a corresponding array of `_contentJumpBuffers`
- [ ] similarly, rename `subtree.getEntityId(coordinates) -> subtree.getTileEntityId(coordinates)` and add `subtree.getContentEntityId(coordinates, contentIndex)`
- [ ] `ImplicitContentMetadata

[2022-02-16 01:59] Gu-Miao opened #10108 "3dtiles disappear when set isTranslucent to true in CustomShader"
Sandcastle example:

https://sandcastle.cesium.com/#c=bVPbbtswDP0VIntxAUdOmwwbvLTYkLVAgHYD1mxPBjbZohOhsmTokrYZ8u+jL2mdpQ++kIfnkCKpBToZKnb9VKOVFWrP1Q1yHyw6hprnCu+MQDXE4RK8Dfgp05kujHYethIf0ZJf4yMsOsVfrS/KRkVrLwxRpUabjc4GTC8VOvTH1O4z/brqwOhvpgGCVekhYGn0D3Qm2AJZaU31xVHYUkQf3k9n07O4CS+C86a633CBNj0SHwCdMkCSwD0VId3Kcu1UKOic4A2UXDmMIQ9SCanXDh6lUiCkqxV/ho57RErbzsQdouR644nWNvCl9tuhl/38drtc9fGl5eumw11tK3wiuT

[2022-02-16 06:24] PZD2937 commented on #9800
excuse me？

[2022-02-16 13:57] ggetz commented on #9800
Hi @PZD2937, there's no update on this issue yet.

I think this is a duplicate of https://github.com/CesiumGS/cesium/issues/9702. There is more info about this bug in that issue. I'm going to close this issue so we can track it in one place. Thank you!

[2022-02-16 13:57] #9800 closed

[2022-02-16 14:14] ggetz commented on #9824
@ugnelis I believe after https://github.com/CesiumGS/cesium/pull/9991, the remaining issues are a duplicate of https://github.com/CesiumGS/cesium/issues/8179.

I'm going to close this issue to track information in one place. Let us know if you think this is still a sperate problem.

[2022-02-16 14:14] #9824 closed

[2022-02-16 14:19] ggetz commented on #9474
Hi @DeZhao-Zhang. Thanks for the interest, but there are no plans to integrate with Babylon.

[2022-02-16 14:19] #9474 closed

[2022-02-16 23:27] ebogo1 commented on #10091
This looks like a regression in 1.80 from https://github.com/CesiumGS/cesium/pull/9398. The bug started happening on the first [commit](https://github.com/CesiumGS/cesium/pull/9398/commits/071a6a8bb2325ba4b014641ba6e5333f2891a00e) - it wasn't immediately obvious where the bug is in those changes but it looks like something with clamping broke the `perPositionHeight` behavior when set to false.

-

[2022-02-17 01:19] lilleyse commented on #9875
This assumption ended up biting us for feature id textures. This issue can be closed once https://github.com/CesiumGS/cesium/pull/10111 is merged.

[2022-02-17 08:31] xuebingzzz opened #10112 "There is a bug in the corridor of entity that has not been fixed"
Regarding the material issue of the corridor, when the height is not set, the fitting of the material does not look correct.
Original link:
https://community.cesium.com/t/texture-mapping-goes-wrong-when-corridor-height-is-not-set/12198?u=h2936817294

[2022-02-17 09:38] znxd-wh commented on #10091
hi @ebogo1

did you mean this bug has appeared since version 1.80？so do you have any idea to fix it? or i do not set the perPositionHeight parameter, but can you please tell me a method to let geojson polygon clamp on 3dtiles model?like the below effect.
![image](https://user-images.githubusercontent.com/42760174/154447601-c53e4469-cea4-461c-930c-975837b72f22.png)

[2022-02-17 14:24] ggetz commented on #10112
Thanks @xuebingzzz. You may be able to get the results you're looking for by using the Primitive API and [customizing how the UVs are set](https://community.cesium.com/t/uv-coordinates-on-cylinders/7927).

[2022-02-17 16:07] j9liu opened #10113 "Custom shaders don't work on instanced models"
While reviewing #10110, I discovered that custom shaders won't apply to instanced models, even if they're simple. I tested this with the [sandcastle here](https://sandcastle.cesium.com/#c=tVZtb9s2EP4rhD/Zg0NLsWMnXhqsddosw4IVtdcBm4aWpmiLMEUKJOU4LfLfdyQlWXnbuhQxEokvx7vnHj3kkSppLNpyds00eoUku0YzZniZ449+rJt0qO/PlLSES6aTTu/HRCYyrMFUKLrBtNSaSbvgOQMvlYdfSsGJPCeW4ZVW+aVRx+Mo7iYSoaRzGB3GB3F8EJ0sDqPp4WQ6nOAo

[2022-02-17 16:10] j9liu opened #10114 "Bounding sphere changes cause "Custom Shaders Models" sandcastle to break"
Making this issue for accountability. In #10078 I made some changes to how bounding spheres were handled, based on changes in the model matrix. However, this makes the camera in the [Custom Shaders Models sandcastle](https://sandcastle.cesium.com/?src=Custom%20Shaders%20Models.html&label=3D%20Tiles%20Next) to travel to a point nowhere near the models. Something is causing the bounding sphere to be

[2022-02-17 19:36] ephjos commented on #6898
I just ran into this issue (or something very similar) while developing locally. I was able use what @mramato [did above](https://github.com/CesiumGS/cesium/issues/6898#issuecomment-411528465) and resolve the issue. I noticed that the issue was only happening on Chrome (Brave and Chromium), but Firefox updates immediately without issue. I am able to reproduce this behavior with the sandcastle.

1.

[2022-02-18 00:17] #9900 closed

[2022-02-18 04:29] happyfeet1996 commented on #10106
![image](https://user-images.githubusercontent.com/40989006/154617573-377b8043-6a10-4b4a-a5d2-02af1cae0612.png)
![image](https://user-images.githubusercontent.com/40989006/154617694-7118c725-ade6-4681-ac37-a69a924d3abd.png)
![image](https://user-images.githubusercontent.com/40989006/154617719-3c079b05-2fc4-41b8-9f06-78bc19eb5d1a.png)
![image](https://user-images.githubusercontent.com/40989006/1546

[2022-02-18 04:36] happyfeet1996 commented on #10106
it works today,maybe my network go wrong that day

[2022-02-18 06:52] jackbr0gm opened #10117 "Node Transformation is stopping model animation"
Sandcastle example: https://sandcastle.cesium.com/#c=vVVbb9owFP4rHg9V0Kgp6qRKXKr1Mu1l3aVUfYpUmeSEWnNsZDtQqPjvO7YTkgCbqmkaiOAcf+ec79zsREljyZLDCjSZEAkrcgOGFzl99LIo7iT+/UZJy7gEHXd6r7EkxDyrQqRXkufMwtDqAmK57Y5i6b5LpslCGW65kmi2NHnDtMUVk+c00yq/hbkGMNHpxUWPnONvcOY+zobTB2m5XaN2YEf9OwdDWZpGnkLlYbhb9Zw4VymIIfEQQgrNhyTuUNqfsnwh4JZZ1vcQ0w+8rrguV0+4pHMxiztOd9sMKHCwmiU/If1UUQscPSYrZOLDfZqD/Sxs9hV9mCgguhUbnxjNc2S

[2022-02-18 09:07] jackbr0gm commented on #10048
You are right startTime and stopTime is getting ignored. But I've tried a patchy solution like this:

[Sandcastle example](https://sandcastle.cesium.com/#c=jVZbb9s2FP4rnB9aqXEpOUnbzTcsS/KQoVsLpNiTAYOWjmyuFGmQlB2v8H/fIUVdHLdoAiTi5ZyP5/adkx3TZMdhD5rMiIQ9uQXDq5L+48+ixSDz+1slLeMS9GIwJN8WkhAuC/WHehqTggkDQ3dkQEBmuZIPMucZs0qf3G5YrvZmTKyumhNVifxG8pJZaM+P8WQhF7KopMcia7A3uNpBLYhHJqotHhKQlttDXFtEyA6d2Wpecidu

[2022-02-18 09:49] jackbr0gm commented on #10042
I've tried to achieve this by a patchy solution: [Sandcastle example](https://sandcastle.cesium.com/#c=zVZLb9s4EP4rXB9aCXUp2U7abmwZm0176KKLFnCxJwEGLY0cohQpkJQTb+H/vkPqYTlON0FP9UXkvDj8Zuajd0yTHYc70CQhEu7IDRhel/QfLwvSUeb3N0paxiXodDQm31NJCJeF+lPdX5GCCQNjJzIgILNcyY8y5xmzSp9ob1mu7swVsbruJKoW+bXkJbPQyw/hPJWpLGrpY5Et2Gtc7aAxRJEJmozHBKTldh82GRGyw8tUmpfcmRu8UGNHTQYS6FEzP5oLkFt7i6ZHLW1krVGhdOAMOdrEc/wsWh9cv

[2022-02-18 09:50] srcejon commented on #10042
You can try this patch: https://github.com/CesiumGS/cesium/pull/10043

[2022-02-18 14:05] ggetz commented on #10117
@sanjeetsuhag Could you please confirm if this is expected behavior or a bug?

[2022-02-18 15:59] sanjeetsuhag commented on #10117
I believe this is expected behavior. When the user sets the `matrix` property on a `ModelNode`, the `useMatrix` flag is set on that object. It's stated here that glTF animations are not applied if this flag is set:
https://github.com/CesiumGS/cesium/blob/2a8cfc27145d827c878308eb613fc0402907f2e6/Source/Scene/Model.js#L4220-L4223

[2022-02-18 21:08] #10114 closed

[2022-02-19 19:18] jackbr0gm commented on #10117
@sanjeetsuhag Thank you for confirming me that it's an expected behavior. As a solution I have tried to translate parent node of the actual node. Now inbuilt animation and translation both are working.

[2022-02-21 15:57] ggetz commented on #4968
The problematic tests have been removed at this point.

[2022-02-21 15:57] #4968 closed

[2022-02-21 16:00] ggetz commented on #10117
Thanks @sanjeetsuhag and @jackbr0gm! Sounds like this is not a bug.

[2022-02-21 16:00] #10117 closed

[2022-02-21 16:02] ebogo1 commented on #10091
@znxd-wh Yeah, this bug was introduced in 1.80. I edited my first comment with more details. The shader affects all classification types so it's tricky to work out a quick fix. If we have a chance to revisit the issue we'll post updates here.

[2022-02-21 16:51] ebogo1 commented on #7892
I don't think this has come up during releases for the past while and I can't reproduce on an Intel mac in Chrome or Firefox. I'll close this for now.

[2022-02-21 21:16] ptrgags commented on #10095
Just leaving a note here https://github.com/CesiumGS/cesium/pull/10119 refactors some of the code in `GltfLoader`, so changes here should be built on top of that branch.

[2022-02-21 22:07] ebogo1 commented on #8817
I don't think these have been an issue for the past few releases and I was unable to reproduce on Windows or macOS in Chrome, Firefox, or Edge. I'll close the issue for now but we can revisit this if someone notices the errors again.

[2022-02-21 22:07] #8817 closed

[2022-02-22 00:56] xuebingzzz opened #10121 "Some images cannot be read when using TextureUniform"
One case is when the image is a cross-domain image, the correct texture cannot be obtained.
, the other case is when I set the TextureUniform’s url to base64 or blob-url, the image also fails to load.
Is there something wrong with my use?

[2022-02-22 14:14] ggetz commented on #9198
I believe this was all covered by https://github.com/CesiumGS/cesium/pull/9200 and https://github.com/CesiumGS/cesium/issues/7594.

[2022-02-22 14:14] #9198 closed

[2022-02-22 19:59] mramato opened #10125 "camera.getPickRay throws exception if scene is not visible"
Calling `getPickRay` throws an exception if the scene is not rendered:

* Paste the following code into Sandcastle:
[code]
* Hit `Pick` (no problems)
* Hit `Hide` (globe disappears)
* Hit `Pick` again, exception inside of `getPickRay`

I'm pretty sure all of our other pick operations return `undefined` if the pick fails, but it's been a while. It doesn't make sense for the user to have to perform

[2022-02-22 23:10] #9847 closed

[2022-02-23 00:02] lilleyse opened #10127 "Show glTF copyrights in CreditDisplay"
glTF copyrights should filter up to the CreditDisplay.

For example if I have a glTF like

[code]

I would expect to see `"2017 (c) Khronos Group"` in the data attribution popup (or at the bottom of the screen if `showOnScreen` is true).

<img src="https://user-images.githubusercontent.com/915398/155239265-b097500c-f501-40ab-bd85-e5b425f08a2f.png" width="600"/>

Credits should be added for individ

[2022-02-23 00:11] lilleyse opened #10128 "Sort credits based on the number of occurrences"
In the terrain/imagery code (and soon 3D Tiles https://github.com/CesiumGS/cesium/issues/10127) we aggregate credits for tiles that are in view. However we don't sort these in any particular order. Instead we should be keeping a count of the number of occurrences of each credit and then sort the list so that more frequent credits appear sooner.

[2022-02-23 00:20] lilleyse opened #10129 "Tileset option to show credits on screen"
`Cesium3DTileset` should have an option called `showCreditsOnScreen` that determines whether its credits are shown on-screen or in the data attribution popup box. There should be a constructor option, a getter, and a setter.

This option would set the [`showOnScreen`](https://cesium.com/learn/ion-sdk/ref-doc/Credit.html?classFilter=credit#showOnScreen) property of the `Credit` objects.

The option

[2022-02-23 03:34] Gu-Miao opened #10132 "shadows of tileset does not work when using 3dtiles next"
I find that `shadows` property does not work when using 3dtiles next.

[code]

[2022-02-23 03:37] Gu-Miao commented on #10132
Here's a pr for this: https://github.com/CesiumGS/cesium/pull/10131

[2022-02-23 14:15] ggetz commented on #10132
@ptrgags Can you verify if this is expected behavior or a regression?

[2022-02-23 15:23] #10132 closed

[2022-02-23 15:57] ggetz commented on #8062
I believe this is a duplicate of https://github.com/CesiumGS/cesium/issues/9261.

[2022-02-23 15:57] #8062 closed

[2022-02-23 17:43] ggetz opened #10134 "Update and consolidate jasmine usage"
We are currently using two separate versions of jasmine-- One older version in `ThirdParty/jasmine-2.2.0` which is being used for running tests in the browser, and a newer version of `jasmine-core` via the `karma-jasmine` module which is being used for running tests on the command line and in CI.

- Is there anything preventing us from updating to the newest version of `jasmine-core`?
- Remove the

[2022-02-23 19:56] #9875 closed

[2022-02-23 19:57] #10104 closed

[2022-02-24 03:04] zengsk-gis commented on #9174
+1

[2022-02-24 10:29] thw0rted commented on #7892
@ebogo1 I finally got a chance to test again and I still get this error.  Full output of `npm run test`:

[code]

That's Chrome latest, Win10, on Intel HD 630 (iGPU).  I ran again in Firefox latest, on NVidia 1060 (dGPU):

[code]

(Sorry about the formatting, the Firefox webdriver doesn't seem to be as well supported as the Chrome one.)

As stated in previous comments, it looks like the subject fa

[2022-02-24 10:50] thw0rted commented on #7892
In case it helps: I spent at least 15 minutes faffing around with the "--include" CLI option trying to get it to work before I remembered I can just change the spec I'm interested in to use `fdescribe`, it cut my test run from 5+ minutes per browser to 1 minute on both browsers for`Cesium3DTileset`, or 30 seconds for `PolylineCollection`.

TL;DR: change `describe` to `fdescribe` in `Specs/Scene/Po

[2022-02-24 13:52] ggetz commented on #10121
Hi @xuebingzzz, would you be able to provide a [sandcastle example](https://sandcastle.cesium.com/) which replicates the issue you're having?

[2022-02-24 19:35] #10127 closed

[2022-02-24 20:39] avenmia opened #10140 "Type question regarding the orientation property on Entity"
I'm working on a Cesium app and converting it into TypeScript. I'm using the [sandcastle code](https://sandcastle.cesium.com/?src=3D%20Models.html) as a base.

For this code here:

[code]

Cesium.Transforms.headingPitchRollQuaternion returns type Quaternion, but the orientation property is of type Property | undefined. Is there a way to convert a type Quaternion to a type Property or should the or

[2022-02-25 03:32] #10121 closed

[2022-02-25 15:25] ggetz commented on #10134
One thing to consider is whether we can drop support for standalone jasmine entirely. I was under the impression that some developers use this for debugging unit tests, but we should discern if that is still the case. We should also take a look at what similar projects do.

[2022-02-25 16:00] #10128 closed

[2022-02-25 19:10] ephjos commented on #10125
Related https://github.com/CesiumGS/smart-construction/issues/5560

[2022-02-26 16:37] beachtom opened #10145 "Draco Webwork URL Rewritten incorrectly in Electron"
Hi,

I've encountered a bug when loading Cesium under electron - when utilising draco encoding only. The URLs to load the draco webworker gets rewritten incorrectly at some point - but the URL to WASM is fine.

Webworker URL <img width="492" alt="Screenshot 2022-02-26 at 16 31 09" src="https://user-images.githubusercontent.com/26248350/155851041-974e5c14-a601-4b2a-a124-c19507a4911a.png">

WASM Url

[2022-02-27 22:02] martin-schilling opened #10146 "Possible issue regarding custom shaders and rotation of i3dm/b3dm tilesets"
Hi, thanks for your work on Cesium. I'm not entirely sure whether this is a bug or if I'm simply missing something here.

After support for loading i3dm tileset with model experimental was added just recently, I've been trying to use it in
order to apply a custom vertex shader to an i3dm tileset. The idea is to scale the height of the individual instances
of the tileset based on their attributes w

[2022-02-28 10:42] onsummer commented on #9212
Agree @prophetw

When I remove `"exports"` field in `node_modules/cesium/package.json`, import style with `import 'cesium/Source/Widgets/widgets.css'` work.

Or when I add some options to `"exports"` as below:

[code]

I can simply import styles with `import 'cesium/index.css'`.

## environment

- NodeJS 16.14
- pnpm 6.31.0
- vite 2.8

Using vanillajs.

Hope Cesium team can improve this by changin

[2022-02-28 13:57] ggetz commented on #10145
Hi @beachtom, have you tried setting the `CESIUM_BASE_URL` global variable to the root cesium directory?

[2022-02-28 14:03] ggetz commented on #10140
Hi there @avenmia. [Properties](https://cesium.com/learn/cesiumjs-learn/cesiumjs-creating-entities/#the-property-system) are generic types which can Quaternions or other values. You should be able to create a `ConstantProperty` and pass in your quaternion to the constructor.

[2022-02-28 14:37] beachtom commented on #10145
Yes - we are setting it in our webpack build - all other workers and the draco WASM seem to load fine. Really not sure why it is not rewriting it properly.

[2022-02-28 16:53] mramato commented on #10125
Looks like this was fixed in the above PR, but not closed?

[2022-02-28 18:15] ggetz commented on #10125
Yes, fixed in https://github.com/CesiumGS/cesium/pull/10139.

[2022-02-28 18:15] #10125 closed

[2022-02-28 20:08] #10129 closed

[2022-02-28 22:22] ebogo1 commented on #10134
From informal discussions offline, it looks like dropping the standalone SpecRunner files could be the way to go since we don't need the browser debugger for most of our use cases.

I mostly got the [4.0.1 standalone release](https://github.com/jasmine/jasmine/releases/tag/v4.0.1) working with minimal work. The main thing that I couldn't get right was filtering specs that are focused with `fit` or

[2022-02-28 22:28] ptrgags commented on #10146
@martin-schilling thank you for bringing this to our attention. I've noticed the same problem myself when I was responding to https://github.com/CesiumGS/cesium/issues/9937#issuecomment-990253220 a couple months ago where I was trying to translate and scale in the +Z direction.

![image (7)](https://user-images.githubusercontent.com/8422414/156067174-ba219643-ffa3-43bb-8fd8-f66a08d94587.png)

To e

[2022-03-01 17:13] ggetz commented on #10134
@ebogo1 If we do drop standalone jasmine, we'll need an easily accessable way to debug the tests. You can debug with the Chrome Debugger via the command line and karma now, but will need to edit the `karma.conf.cjs` file then open up a separate debug window manually by clicking that "Debug" button in the karma window. And none of that is documented.

We'll probably want to add a new task like `tes

[2022-03-02 09:17] anne-gropler commented on #8413
So the way `undefined` is implemented in #8621 for point cloud styles means that we can check if a number is undefined, but we cannot check if a vector is undefined. That's because `undefined` boils down to `czm_infinity` (a number) and in case the comparing vector is defined, we get GLSL error `Vertex shader compile log: ERROR: 0:11: '==' : dimension mismatch
ERROR: 0:11: '==' : wrong operand typ

[2022-03-02 13:49] ggetz commented on #10145
Ah, thanks @beachtom. Would you be able to show us your webpack configuration?

[2022-03-02 15:14] beachtom commented on #10145
[vue.txt](https://github.com/CesiumGS/cesium/files/8170574/vue.txt)

Attached - we are building with vue cli - I attach the config file here

[2022-03-02 19:58] ptrgags opened #10154 "Recent Draco changes cause spec failures"
I noticed that some model loading specs are failing on `main` when I run things locally. These might not have been caught by Travis since they are WebGL tests.

This might be related to the #10126?

Browser:
 - Chrome 98.0.4758 (launched via VSCode)
 - Firefox 97.0

Operating System: Kbuntu 18.04

Error stack trace from the spec `Scene/GltfLoader loads Duck`

[code]

CC @ebogo1

[2022-03-02 20:09] ptrgags commented on #10154
:facepalm: I forgot to run `npm install`... I'll see myself out.

[2022-03-02 20:09] #10154 closed

[2022-03-02 20:48] ptrgags commented on #9741
A user on the forum expressed interest in adding cubemaps to custom shaders, see here: https://community.cesium.com/t/cubemap-in-custom-shader/17532/2

[2022-03-02 20:49] ptrgags commented on #10146
A user mentioned this confusing behavior on the forum: https://community.cesium.com/t/what-is-the-model-positiommc-y-direction-in-custom-shader/17531

[2022-03-02 22:32] martin-schilling commented on #10146
@ptrgags thank you for your explanation. This does make sense to me now. I previously had the `EAST_NORTH_UP` flag activated and without it the scaling works as expected (altough the individual instances are then of course facing north).

However what I was wondering now is how exactly does one specifiy the position of the instances within ENU space instead? By also specifying a `transform` matrix

[2022-03-03 02:14] onsummer commented on #10146
Hi, I ask the similar quetion on the forum. [What is the model positionMC.y direction in custom shader](https://community.cesium.com/t/what-is-the-model-positiommc-y-direction-in-custom-shader)

The mostly entities we cared about are based on ENU space, and sometimes we want to modify them but lots of 3DTileset was stored by ECEF space (world coordinate system that +z is parallel to earth's axis).

[2022-03-03 18:27] #10105 closed

[2022-03-03 21:51] ptrgags commented on #10146
@martin-schilling

Indeed, in the b3dm/i3dm/glTF, use a coordinate system where x is "east" and z is "up", and then apply either a `transform` in your `tileset.json` (or set `tileset.modelMatrix` at runtime) with the ENU matrix.

As far as the i3dm not appearing... I'll have to look into that in more detail. perhaps a matrix is being applied twice somewhere.

@onsummer

While your code snippet may

[2022-03-04 05:19] na9da opened #10160 "Crash when classifying a tileset with draco compressed glTFs"
Hi,

First off, thanks for the awesome work in developing a top-notch library and keeping it open.

I have a tileset that has draco compressed glTFs (converted through ion). It works perfectly in normal mode but crashes when I use it for classification. I am assuming it is because of the different code path of classification models that is not draco aware?

![image](https://user-images.githubuserc

[2022-03-04 11:08] jackbr0gm opened #10161 "Loop NONE is stopping animation without let it complete it's duration."
https://github.com/CesiumGS/cesium/blob/999ee4e6b82438996c30955cc47103bcfce4a35f/Source/Scene/ModelAnimationLoop.js#L10

As per the [documentation](https://cesium.com/learn/cesiumjs/ref-doc/ModelAnimation.html#loop), `ModelAnimationLoop.NONE` will `Play the animation once; do not loop it`. But it doesn't seems working like that way.
It's immediately stopping running animation on setting loop value

[2022-03-04 12:51] lilleyse commented on #10160
Hi @na9da!

`ClassificationModel` doesn't support Draco compressed models right now. In the short term you can use the code from this PR: https://github.com/CesiumGS/cesium/pull/8316. In the medium term we plan to integrate the new `GltfLoader` into `ClassificationModel` and Draco will automatically work: https://github.com/CesiumGS/cesium/issues/9520.

https://github.com/CesiumGS/cesium/blob/999e

[2022-03-04 13:49] ptrgags commented on #10095
The schema changed again in https://github.com/CesiumGS/glTF/pull/60, so this issue is no longer relevant

[2022-03-04 13:49] #10095 closed

[2022-03-05 00:21] na9da commented on #10160
Thanks @lilleyse

I'll test out the draco loading code from #8316 to see if we can use it.
Good to know that a fix is in scope in medium term.

[2022-03-05 00:21] #10160 closed

[2022-03-06 00:41] kring opened #10164 "v1.91 regression: Draco-encoded 3D Tiles fail to load when Cesium is running on localhost"
[This simple Sancastle](http://localhost:8080/Apps/Sandcastle/index.html#c=bZFhb9owEIb/SpRPQdpMWAuMlaJRUpARJIIGWqJIVXCO1sSxs9iBJVP/ex1AWrXVkmXf+bn37NdEcKmMA4Uj5MatweFojEDSIkXrU84KTXKKR4KriHLIQ7NxE/KQXzAsOIphFxVMDYlGpS8S4FoqNKGcvm4nhHp0ilcVbrkUS8yXbTLCHZxkT+vRtIc09CueJBrCVTAJqOtjO6At5vrrdOYvWsE+UZ6DK/fBLjf7RdtzXq7nTmK7/pDORtMs0GLz/apd7zdPC+rt77+5zua3nuW8uushL7DTx6JMJR33yLJlj5fPeeDPnW4yfB7fd78Wq8ljZ

[2022-03-06 00:44] kring commented on #10164
Nevermind! Once I looked at the problematic commit more closely, the cause became obvious: the draco3d library was updated in that commit, and I didn't run npm install. Sorry for the noise!

[2022-03-06 00:44] #10164 closed

[2022-03-07 05:41] WilliamLiu-1997 commented on #5333
Hi, may I ask when will this feature be supported? We need to use it in our project. Thanks!

[2022-03-07 11:27] jackbr0gm opened #10165 "Glb model is not appearing not also throwing any error"
Hi,
I've downloaded an animated model (.fbx) from mixamo and exported it to glb from blender. glb file is loading in to cesium and entity is also getting created which I can check in browser console by `viewer.entities.values`, but the model is not appearing. It is completely transparent.

same glb file with other gltf viewers like sandbox.babylonjs.com is rendering fine. But in cesium it's not re

[2022-03-07 13:52] ggetz opened #10166 "Clipping with log depth and adjusted depth plane"
https://github.com/CesiumGS/cesium/pull/9200 introduced the ability to adjust the depth plane to prevent clipping when data is below the ellipsoid, however, this is not handled in the log depth buffer.

The error can be reproduce din [this sandcastle](https://sandcastle.cesium.com/#c=ZZJfb9MwFMW/ipWXZlLqJGvLRJtVQFuJB1gnNsFLJOTaN4mFY0e2k6mgfXdu/hTYyJPv9fndnHOTjlnSSXgCS26JhieyAyfbmn4deuGMD+XOaM+kBju

[2022-03-07 13:57] ggetz commented on #5333
Hi @WilliamLiu-1997, this aren't any plans to work on this presently. But we'd be happy to review a pull request if you'd be interested in adding the feature yourself!

[2022-03-07 14:12] ptrgags opened #10167 "Warning about `gl.MAX_SAMPLES` when using WebGL"
Steps to reproduce:

1. Open https://sandcastle.cesium.com/
2. Open browser developer tools
3. Look for a warning about `WebGL: INVALID_ENUM: getParameter: invalid parameter name` or something similar.

This points to the line:

[code]
in Context.js.

It seems that `gl.MAX_SAMPLES` is only available in WebGL 2, as if I use [this sandcastle](https://sandcastle.cesium.com/#c=bY7BagIxEIZfZchJYUmoR41L

[2022-03-07 15:33] ptrgags opened #10168 "Globe `lambertDiffuseMultiplier` test failing/timing out"
In the latest `main`, one unit test is either failing or timing out all of a sudden.

![image](https://user-images.githubusercontent.com/8422414/157065137-38fe36f5-7e8f-4b78-b3d9-e4d24f4127d7.png)

error in the console (thanks @ebogo1):
[code]

[Unit test link](localhost:8080/Specs/SpecRunner.html?spec=Scene%2FGlobe%20renders%20terrain%20with%20lambertDiffuseMultiplier)

Browser:

Chrome 98.0.4758

[2022-03-07 17:13] v8gx commented on #10166
Thanks! I will add the image here as well, the area marked red **should not** be clipped of the character model.

I would also point out that this issue occurs **without log depth**. So the title could be corrected:
Clipping without the log depth and adjusted depth plane

(https://github.com/CesiumGS/cesium/pull/9200 did fix this issue when log depth is on.)

![Image](https://user-images.githubuse

[2022-03-07 17:32] jackbr0gm commented on #8148
@OmarShehata @DerouineauNicolas I'm also facing same [issue](https://github.com/CesiumGS/cesium/issues/10165#issue-1161292585). Would you please tell me what steps I need to follow to repair my model in blender. It's very important to me.

- Thank you

[2022-03-07 21:48] #10167 closed

[2022-03-08 07:18] jackbr0gm commented on #10165
Issue resolved after applying scale to root node "Armature".

[2022-03-08 07:18] #10165 closed

[2022-03-08 15:46] cmcleese commented on #3947
I have been running into this issue as well.
Here is prime example illustrating this:
https://codesandbox.io/s/test-quasar-cesium-vue3-edjxls?file=/src/index.template.html

I've attempted every hack I can think of to try and get it to release the event but I cannot since there are a bunch of mouse events already attached during init.

[2022-03-08 15:55] cmcleese commented on #7757
Is there a proper way to release the default mouse events from Cesium?
See Ex:
https://codesandbox.io/s/test-quasar-cesium-vue3-edjxls?file=/src/index.template.html

[2022-03-08 16:11] sanjeetsuhag opened #10173 "Protobufjs.js throws exception on load"
When launching Sandcastle, if you have dev tools open and pausing on exceptions turned on, an exception is caught in `ThirdParty/protobufjs.js`:

![image](https://user-images.githubusercontent.com/5172619/157277860-d59d24f8-6381-4bd3-b6d8-4ddb9f9c6df5.png)

### Steps to Reproduce

- Build and run CesiumJS.
- Turn on "Pause on caught exceptions" in the browser's dev tools.
- Go to Sandcastle

[2022-03-09 17:04] ggetz opened #10178 "Factor out "defer" usage for better error handling"
Cesium uses `defer` throughout the codebase as a remnant from when we were using `when.js`. However, the recommended best practice is to use `new Promise` constructor directly because it makes it much harder to let an exception escape. Functions passed to the construct should only reject the promise, never throw.

https://github.com/CesiumGS/cesium/pull/10149 excluded several specs in `Cesium3DTil

[2022-03-09 19:09] ptrgags opened #10181 "`CustomShader` with procedural normals missing `#define HAS_NORMALS`"
While working on a sandcastle for #10180, I had tried making procedural normals for a torus. the lighting wasn't showing up and it took my a while to realize, the `HAS_NORMALS` define is only applied if the original model had normals. the `lightingModel: LightingModel.PBR` option does not add this define.

excerpt from [this sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=nVVtb9s2EP

[2022-03-09 19:17] ptrgags opened #10182 "how to manage what shader builtins are available in CustomShader?"
While working on [this sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=nVVtb9s2EP4rhPdhcuFSSrMCteMGS91mCxA3Qe11Xwy4tHSSiFKkyhcn7tD/viMpOZrbYcAAW+Idn3sl71GupLFkz+EBNHlNJDyQBRjuGvox6JLNKA/yQknLuAS9GY0vNnIj82DZKsMtVxJtO7sF0xZXTJ7TUqvmLVQawCTPp9mE/IL/l5m3j9aNKkAsmdX88cnBWjNpSqUbQ4EZ+15pW//RrtU1f4TiWrMGkj7qMJPcGauaVc2K00oWg53kr40kRPCqtlxWSx9/1uNuh1p6/+bDxGP3gPU8Rus1PNoZ+RTUihfd3hL7knwMyx

[2022-03-10 01:29] cmcleese opened #10185 "Cesium captures all mouse and touch events which doesn't bubble up `document.activeElement`"
All mouse and touch events are capture during viewer init.
The focus events do occur when trying to change focus from a different non Cesium UI element to Cesium canvas.
Basically if a NON Cesium UI element has focus and we try to unfocus from that element by clicking on the Cesium canvas, the unfocus event cannot work correctly.
Cesium is capturing these events and thus not bubbling to allow for

[2022-03-10 13:36] ptrgags commented on #9741
Some more details about how cubemaps might be implemented for `CustomShader`:

1. In `UniformType.js`, looks like I already had a constant for `SAMPLER_CUBE` (though if used it needs a JSDoc comment)
2. We'd need a `CubemapUniform` class that's similar to `TextureUniform`, but creates a `CubeMap` rather than a `Texture`.  Not sure what the constructor parameters would look like, but it might make

[2022-03-10 14:36] ggetz commented on #10185
Thanks for the report @cmcleese. If I understand correctly, this is the same issue as https://github.com/CesiumGS/cesium/issues/9134. Is that correct?

[2022-03-10 14:38] #10145 closed

[2022-03-10 16:10] cmcleese commented on #10185
Hi @ggetz, yes this does sound very similar.
However this seems to affect any element which was set via `document.activeElement`.
I can also believe it was a relatively recent code change that change the way this behavior is handled.
Not quite sure exactly which version yet however.

[2022-03-10 23:45] mramato opened #10191 "Race condition in billboard clamping"
I found this while testing out native promises, but confirmed it happens in master as well.

1. Open Billboard Sandcastle: https://sandcastle.cesium.com/?src=Billboards.html
2. Select "Add marker billboards" It will look like this: ![Screenshot_20220310_184309](https://user-images.githubusercontent.com/1495196/157774113-f750f7d4-6fb4-4393-a013-06806ba0c998.png)
3. Focus should be on the combo box,

[2022-03-12 02:26] Phlicess opened #10192 "Is Earth rendered using an orthographic sphere?"
I have a data based on an orthographic projection，when rendering to Cesium, it is found to be offset to the north and south poles。My data's radius is 6378137m orthographic projection。
So，what is my mistake？

(｀ﾍ´)=3

[2022-03-12 02:30] Phlicess commented on #10192
My data format is 3DTiles，My question is whether the 3dtile data points will be converted to positive sphere coordinates and then rendered to the earth?
Or the rendering coordinate system of the sphere is originally EPSG4979 ellipsoid ？

[2022-03-13 16:55] lilleyse commented on #10192
@Phlicess By default CesiumJS uses an Earth-centered, Earth-fixed cartesian coordinate system (EPSG:4978) and most 3D Tiles use this same coordinate system. If the data is in an orthographic projection than it may not display correctly.

[2022-03-14 02:59] panergongzi opened #10194 "How to customize the model line width and color"
I want to dynamically change the line width and color of GLTF. But cesium's mode.js doesn't seem to have any parameters. What should I do? Thank you for your reply

[2022-03-14 14:01] ggetz commented on #10194
Hi @panergongzi, do you mean `LINE` primitives within the glTF, or something else?

[2022-03-14 15:20] ggetz commented on #9718
As a part of this, we should revisit Cesium's default eslintrc configuration as a whole (and the shared eslint-cesium plugin in this repository) to remove the out of date and unneeded rules keeping us on es5 syntax.

[2022-03-15 09:35] panergongzi commented on #10194
Sorry, I didn't give a clear description. What I want to ask is the outer outline of model.js
![image](https://user-images.githubusercontent.com/34262259/158347814-a5fe12b5-8c09-4250-92bd-b613b72c8c4d.png)

[2022-03-15 14:03] #9188 closed

[2022-03-15 19:38] ptrgags opened #10200 "Unit test command line usage is more limited than the old SpecRunner"
I understand why SpecRunner was removed (to avoid maintaining it in `ThirdParty` separate from `npm`, but the command line testing workflow is more limiting.

One thing I do quite often in SpecRunner is to filter for tests. That way when I'm working on code, I can select a single test or many tests using `?spec=<search query>` or the "Select a unit test to run". This is a lot easier to work with t

[2022-03-15 19:55] ptrgags commented on #10134
A couple of us had some feedback on the new command line interface now that #10184 removed SpecRunner, see https://github.com/CesiumGS/cesium/issues/10200

[2022-03-15 20:03] IanLilleyT commented on #10200
GUI is useful because I never remember the name of the unit I'm debugging. It's usually some randomly constructed sentence describing the behavior. (Check out all the unit test descriptions -- there's no consistency, and I'm not sure there should be either). The html make it easy to find what I'm looking for.

Just my initial thoughts. I haven't used the new system much but I will be in the coming

[2022-03-15 20:10] IanLilleyT commented on #10134
Posting this since I don't see it mentioned in the thread, but it looks like maybe the jasmine html has moved here: https://www.npmjs.com/package/karma-jasmine-html-reporter. No idea how well this fits in with the new changes.

[2022-03-15 20:48] ggetz commented on #10200
I appreciate you both writing up your thoughts. As a more meta comment, it would be great of we could move discussions like this to the forum, to engage more of the community. We have [a thread already for discussion around the testing changes](https://community.cesium.com/t/changes-to-unit-test-debugging-in-cesiumjs/17537).

Besides the fact that before we were clicking a link to a static page an

[2022-03-15 22:58] lilleyse commented on #9683
This is supported in `GltfLoader`, which is used by `ModelExperimental`

[2022-03-15 22:58] #9683 closed

[2022-03-15 22:59] lilleyse commented on #9716
See https://github.com/zeux/meshoptimizer/discussions/253

[2022-03-15 23:00] #9836 closed

[2022-03-15 23:29] WilliamLiu-1997 opened #10201 "pickFromRay/drillPickFromRay return incorrect position"
This bug seems to only appear on specific devices. The position of the object returned from `pickFromRay/drillPickFromRay` sometimes will go through the object, and some times will float near to the camera.

Here is an video about the behavio: https://www.loom.com/share/f21e8aa434f748cd86436e70de4664b6
(The red point should be on the tileset, however, it will sometimes pick through the tileset and

[2022-03-16 07:27] jackbr0gm commented on #10161
I request to Cesium Team, Please response to this thread.
- Regards

[2022-03-16 13:08] ggetz commented on #10201
Thanks @WilliamLiu-1997 for the detailed report! I don't have the needed hardware to reproduce, but if you're able to investigate any further on the device you're seeing the issue it would be a big help.

[2022-03-16 14:11] #9578 closed

[2022-03-16 15:29] ptrgags commented on #10200
@IanLilleyT according to https://github.com/CesiumGS/cesium/pull/10170 you need to add the `--debug` flag so Karma doesn't exit at the end.

[2022-03-16 15:40] ptrgags commented on #10200
I linked to this issue in the [forum thread mentioned above](https://community.cesium.com/t/changes-to-unit-test-debugging-in-cesiumjs/17537/9?u=ptrgags)

[2022-03-16 18:04] IanLilleyT commented on #10200
I tried some other things from [this stackoverflow post](https://stackoverflow.com/questions/42805028/how-to-debug-karma-tests-in-visual-studio-code) but no success.

[code]

The idea behind this was `Test Cartesian3` would kick off `Attach Karma Chrome` when the string `SUCCESS Core/Cartesian3 construct with default values` was printed to console. This was modeled after the `Launch Server` config

[2022-03-16 18:30] ptrgags commented on #10200
Also when fixing merge conflicts in #10189, I noticed a couple issues:

* If you have an uncaught exception in a promise chain (in my case we had some stray `.otherwise()` clauses that needed to be converted to `catch()`, an error gets thrown and reported in the log. In that particular case it was something using `pollToPromise` so I wasn't getting the whole traceback. The Karma window hung so it

[2022-03-16 18:53] ebogo1 commented on #10200
This has been an issue for a while with the SpecRunner too, where some specs time out if the cursor moves. I couldn't find an open issue for this but I don't think it's new behavior.

[2022-03-16 19:10] ggetz commented on #10200
I think that's from removing when.js, not from karma. Because of our use of `defer` a lot of the errors we throw are not properly handled, and throwing any error will fail a test. I'm not sure what was all involved in your case, but there's some cleanup we're doing so that errors are properly handled https://github.com/CesiumGS/cesium/issues/10178.

[2022-03-16 20:32] lilleyse commented on #10200
Is it possible to see `console.log` messages in the terminal when running tests? Sometimes the spawned browser window closes before I can read logs that are printed.

[2022-03-16 20:39] ggetz commented on #10200
Use the `--verbose` flag. You'll get some other noise since both karma and cesium itself can dump a lot into the console.

[2022-03-16 20:47] lilleyse commented on #10200
Thanks, that works.

In this case I'm just printing a string but if I'm printing an object the browser window is useful. Of course, running the debugger is an option too.

[2022-03-16 21:06] #10089 closed

[2022-03-16 21:13] ggetz commented on #10161
I don't think this is a bug since you're setting private members.

You can use [`ModelAnimationCollection`](https://cesium.com/learn/cesiumjs/ref-doc/ModelAnimationCollection.html) to remove the animation, then create a new animation which has the correct `loop` value and add it back to the collection/

Cesium is a big project, so we use GitHub for feature requests and bug tracking exclusively. I

[2022-03-16 21:13] #10161 closed

[2022-03-17 07:57] AstrosChen opened #10202 "Performance issues with clustering."
I loaded 50000 points using clustering. : )
this is my code:
`

randomPoint (num) {
      num = num || 100
      const arr = []
for (let i = 0; i < num; i++) {
        arr.push({
          lng: Math.random() * 180,
          lat: Math.random() * 90,
          name: 'point-' + i
        })
      }
      return arr
    }

    clustering () {
      const img = require('@/assets/img/icon.png')
      f

[2022-03-17 12:56] ggetz commented on #10202
@AstrosChenI think with the amount of points you are rendering, you may be running into the upper limits of the entity system. We usually recommend using [a point primitive collection](https://cesium.com/blog/2016/03/02/performance-tips-for-points/) for better performance, but the API is a bit lower level.

I'd suggest asking this on the [Cesium Forum](https://community.cesium.com/) where there ar

[2022-03-17 17:08] ggetz commented on #10178
@lilleyse @ptrgags Is there a particular reason why the loaders, like [`BufferLoader.js`](https://github.com/CesiumGS/cesium/blame/main/Source/Scene/BufferLoader.js) have a `promise` rather than having the `load` function return a promise? As far as I'm aware, the later is a much more common pattern and would make removing `defer` much more streamlined.

[2022-03-17 18:48] lilleyse commented on #10178
Separate promises + a new state could be ok. Would this move some of the burden to the caller to load and then process the loader?

`Model.js` seems like it will have a similar problem and I'm curious how we'll approach that.

[2022-03-17 19:05] ggetz commented on #10178
I'm not entirely sure yet, but I don't think so. So far it seems it can be handled internally and we just need to move around where the caller is actually handling the promises.

I agree `Model.js` will have similar problems. What do you think the timeline is for removing it? Maybe we can leave defer there until its replaced by `ModelExperimental`. It's not causing issues in the specs like the loa

[2022-03-17 19:09] lilleyse commented on #10178
Ok that doesn't sound too bad. I was imagining that a larger restructuring would be needed.

We're aiming to remove it in June. Holding off until `ModelExperimental` replaces it sounds good.

[2022-03-18 10:11] ZhuJun-WHU opened #10203 "Filter color and show invert color of imagery layer"
I have an idea to easily change the color style of imagery layer,so i add two members filterColor and showInvertColor for imgery layer, the filterColor will be make the imagery layer show similar color like the filerColor value, and the showInverColor make color of  the imagery layer being inverted. The two members can be used alone or together.

Here is GIF:
![recorder](https://user-images.github

[2022-03-18 12:48] ggetz commented on #10203
Hi @ZhuJun-WHU, we do have some existing [imagery adjustment options](https://sandcastle.cesium.com/?src=Imagery%20Adjustment.html). There's nothing for inverting the color, but are you able to achieve similar results to "FilterColter" by adjusting the `hue` and other options?

[2022-03-18 13:37] ZhuJun-WHU commented on #10203
I cann't achieve similar result what I want by adjusting the existing imagery adjustment options, so I add two members for imagery layer options, I will pull request later.

[2022-03-18 20:31] #10081 closed

[2022-03-21 05:31] hayderGo commented on #9827
I can reproduce this on my iPhone 12 Pro Max (IOS 15.4)

[2022-03-21 12:29] mramato commented on #9827
FYI, iOS 15.4 actually introduced at least one major WebGL regression regarding offscreen renders that is causing problems for Cesium/Babylon/Three/etc..  See https://bugs.webkit.org/show_bug.cgi?id=237906 (which also links out to a bunch of other related issues).

So anything that requires rendering to a texture in Cesium is most likely going to have problems or be totally broken on iOS 15.4.  Ho

[2022-03-21 12:33] mramato commented on #9827
Actually, looking close this is a Safari issue that was pushed out with iOS/iPadOS updates. Since you can't really use another browser on iOS/iPadOS (thanks Apple) that means it affects Chrome/Firefox too.

On Desktop M1 Macs, it _may_ only affect Safari and Chrome/Firefox should be fine; but it depends on the details of the exact backend being used for WebGL rendering.

[2022-03-21 14:52] #10058 closed

[2022-03-21 17:12] ptrgags opened #10213 "Consider adding a `tileset.debugShowModelBoundingVolume` flag"
Right now, both `Model/ModelExperimental` and `Cesium3DTileset` have a `debugShowBoundingVolume` flag, but they do two different things:

* `tileset.debugShowBoundingVolume` shows the tile bounding volumes.
* `model.debugShowBoundingVolume` shows the bounding volumes for each primitive.

Sometimes when debugging tilesets, the primitive bounding volumes would be helpful.

For `ModelExperimental`, t

[2022-03-21 19:46] j9liu opened #10216 "`Model` spec failure: "Loads with incrementallyLoadTextures set to true""
This was introduced in #10214. Despite not changing anything in `Model` or `ModelSpec`, this test is consistently failing in Chrome on Windows 10:

![image](https://user-images.githubusercontent.com/32226860/159351028-3248e5bd-3e85-4c7d-92a1-5f6519bcb7b6.png)

However, `fit`-ing this test causes it to pass just fine. `fdescribe`-ing the entire `Model` spec causes this to fail. I went through the t

[2022-03-22 02:23] xuebingzzz opened #10218 "Light behaves differently in customShader than it does in normal scenarios"
So here’s a model, in the normal case, that looks something like this
![image](https://user-images.githubusercontent.com/56542531/159395110-7d39a0b5-ab5b-40b8-af09-b6889213f86c.png)
When I added,
Cesium. ExperimentalFeatures. EnableModelExperimental = true;
after,
The lighting is too extreme
![image](https://user-images.githubusercontent.com/56542531/159395300-d4fb5d00-0950-45a8-b21a-843cfecf4e41.

[2022-03-22 17:35] ptrgags commented on #10218
@xuebingzzz I think what's happening here is `ModelExperimental` does not yet support image-based lighting, so glossy surfaces are far too dark.

Fortunately, we are actually working on adding IBL to ModelExperimental in the next couple weeks. See these issues:

* https://github.com/CesiumGS/cesium/issues/10059 (in progress)
* https://github.com/CesiumGS/cesium/issues/9838

[2022-03-22 17:35] #10218 closed

[2022-03-23 02:02] ebogo1 opened #10221 "Replace `toThrowDeveloperError` matcher with custom `toThrowError` behavior"
Related to https://github.com/CesiumGS/cesium/issues/10134

https://github.com/CesiumGS/cesium/pull/10219 was a step towards getting rid of custom matchers we add to Jasmine that aren't needed anymore, but `toThrowDeveloperError` hasn't been removed yet. The standard Jasmine `toThrowError` matcher isn't correct for how we handle DeveloperErrors because we want any `DeveloperError` matchers to alwa

[2022-03-23 14:36] javagl opened #10222 "Continuously printing error messages when zooming to a tileset that cannot be loaded"
<sup>Tested with Cesium 1.91, with the current [state of `main`](https://github.com/CesiumGS/cesium/tree/3520c520abd447c7d0b7f13f4d910d154bb20b02), on Google Chrome, Version 99.0.4844.82 - although the latter is likely not relevant here</sup>

The following sandcastle tries to load a tileset that does not exist, and then zoom to it:
[code]
It causes the following error to be printed continuously,

[2022-03-23 14:43] javagl opened #10223 "Metadata group ID is required but should be optional"
As of the current state of the [`group.schema.json`](https://github.com/CesiumGS/3d-tiles/blob/56d64d704b5b109b74c01d027c21db633ce299e4/specification/schema/group.schema.json#L13), the `id` is not `required`, but the [`GroupMetadata` constructor](https://github.com/CesiumGS/cesium/blob/3520c520abd447c7d0b7f13f4d910d154bb20b02/Source/Scene/GroupMetadata.js#L29) checks for its presence and throws if

[2022-03-23 14:59] ggetz commented on #10222
Thanks @javagl, there's a few areas where we're in the process of cleaning up error handling after the transition from when.js to native promises-- https://github.com/CesiumGS/cesium/issues/10178. I believe this should be addressed as part of that effort.

[2022-03-23 19:15] j9liu opened #10225 "`GlobeTileSurfaceProvider` spec failure: "culls tiles but does not render fog visuals when renderable is false""
This test is consistently failing in Chrome on Windows 10. It wasn't present when I wrote up #10216 so it must be something recent.

![image](https://user-images.githubusercontent.com/32226860/159777962-79bcc3a8-7dcd-45d1-a3dd-c011cb9150bd.png)

@ptrgags also ran into this test failure on Linux (Kubuntu 18.04), Chrome 99.0.4844.51

[2022-03-23 20:36] lilleyse commented on #10225
Related to https://github.com/CesiumGS/cesium/pull/10186?

[2022-03-23 20:59] mramato opened #10227 "Underground color demo bug?"
* http://localhost:8080/Apps/Sandcastle/index.html?src=Underground%20Color.html Has a weird default view that made me think the data was floating in the air. That itself is probably intentional?

* What looks like a bug is that if I zoom out to be above the earth and locate the tileset, it disappears as I zoom in (only to reappear once I'm underground)

![Peek 2022-03-23 16-58](https://user-images

[2022-03-23 22:40] lilleyse commented on #10227
There should be a `globe.depthTestAgainstTerrain = true` somewhere in there. That fixes the second issue.

[2022-03-24 09:26] peterjou opened #10229 "new macbook pro14 render line have big bug"
[](https://user-images.githubusercontent.com/19475041/150733102-426d9326-9e49-4f2a-a13b-30f3628d92d2.png)[](https://user-images.githubusercontent.com/19475041/150733123-0fbc77e4-d469-4136-933a-851369a8f283.png)When rendering a line on the latest macbook pro14, the line is deformed when the distance between points within the line is less than 1 meter
data：[[116,34],[116.00000684927564,34.0000068493

[2022-03-24 12:39] ggetz commented on #10229
Hi @peterjou, could you please provide some additional details? Can you let us know the OS version and browser? Could you also visit [this site](https://webglreport.com/) and give us a screencap of the results?

[2022-03-24 13:46] j9liu opened #10231 "Add mipmaps to textures in `ModelExperimental`"
Currently, `ModelExperimental`'s `TextureManager` doesn't handle mipmapping like `GltfTextureLoader` does. This was started in #10158, but there turned out to be more work involved and the PR has gone inactive. A thorough implementation would do the following:

- [x] Put the `resizeImageToNextPowerOfTwo` function into its own file under `Source/Core/resizeImageToNextPowerOfTwo.js`. That way, it ca

[2022-03-24 14:25] #10059 closed

[2022-03-24 15:00] j9liu opened #10232 "Remove individual image-based lighting parameters in 1.94"
The `ImageBasedLighting` class introduced in #10226 deprecates the individual parameters related to image-based lighting in `Model`, `ModelInstanceCollection`, and `Cesium3DTileset`. These options include:

- `imageBasedLightingFactor`
- `luminanceAtZenith`
- `sphericalHarmonicCoefficients`
- `specularEnvironmentMaps`

They appear in the constructors of the aforementioned classes and in `Model.fro

[2022-03-25 02:58] onsummer opened #10235 "Can `package.json` export `Build` & `Source` directory?"
like:

[code]

So in some bundle environment (like `Vite` or `Webpack`) can find the css resources exported from `cesium` pkg:

[code]

Otherwise can only add `<link href="path/to/widget.css">` to `index.html`, here is a personal demo using Vite to build Cesium `Hello World` app: [openspacing/cesium-vite-template](https://github.com/openspacing/cesium-vite-template)

[2022-03-25 08:42] ChillAndImprove commented on #2132
Updates?

[2022-03-25 13:05] JDECOMBE opened #10236 "CesiumWorldTerrain lighting issues"
**Browser:** Chrome

**Operating System:** Windows / macOS

Hi,
I'm currently working on a feature that flattens specific region of the world based on a given height. To do so, I've been implementing a wrapper around the different `TerrainProvider` implementations and I have encountered some issues with `CesiumTerrainProvider` specifically. On tiles that I "override", lighting doesn't seem to appl

[2022-03-25 13:27] ggetz commented on #10235
Hi @onsummer, is this question about exportig css specifically? With the current configuration of `package.json`, there is a problem with that covered in https://github.com/CesiumGS/cesium/issues/9212. We'll probably take a look at that in the near future as part of a larger modernization effort.

I'm closing this as a duplicate, but if that issue doesn't cover your issue let me know.

[2022-03-25 13:27] #10235 closed

[2022-03-25 13:37] ggetz commented on #10236
Hi @JDECOMBE, I think this would be because you are requesting vertex normals for Cesium World Terrain in order to light the surface properly. But `HeightmapTerrainData` does not provide an interface for sending along the vertex normals, resulting in different lighting for that tile. So I don't think this is an underlying bug.

[2022-03-25 13:40] ggetz commented on #10236
I'm going to close this since we use GitHub for feature requests and bug tracking exclusively. If you want to troubleshoot further, I suggest asking a question on the [Cesium Forum](https://community.cesium.com/) where there are members of the community and developers from the team who can help.

If you do end up tracing anything back to a bug, feel free to re-open with additional details.

[2022-03-25 13:40] #10236 closed

[2022-03-25 13:40] JDECOMBE commented on #10236
Thank you for your reply.

Do I need to implement a `QuantizedMeshTerrainData` then ? Or is there an easier workaround that can be done ?

[2022-03-25 13:45] #10225 closed

[2022-03-26 21:44] davenquinn commented on #2132
Actually, yeah there are some updates! I just finished the initial public rollout of the [cesium-vector-provider module](https://github.com/davenquinn/cesium-vector-provider) and created a [demo website](https://davenquinn.com/viz/cesium-vector-provider/) that shows it in action.

I think this will be pretty great implementation that maximizes compatibility with the Mapbox stack, especially once s

[2022-03-27 01:56] abigstupidbear commented on #6165
now do you have any solution to solve it？？

[2022-03-27 17:42] yurichen17 commented on #10191
Hi there, I would like to try and fix this bug! Could I be assigned to this?

[2022-03-27 17:53] mramato commented on #10191
Hi, @yurichen17, thanks for offering to help! We don't use of the "Assignee" field in GitHub. For bugs like this one there is no need to ask for permission and you can work on the issue and open a pull request for review when ready. If you have any questions, you can comment on the issue or on the PR itself if it's far enough along to open.

If you work on something larger in the future, like a ne

[2022-03-27 18:17] yurichen17 commented on #10191
Hi @mramato , thank you so much for your quick response and the resources! I'm new to contributing so I appreciate the help in getting started. I'll be sure to go over the documentation and open a pull request for this issue. Thank you again!

[2022-03-28 12:08] erikhansenmujica opened #10239 "I am getting an error trying to use PINCH to rotate the map using Resium"
![IMG_0608](https://user-images.githubusercontent.com/47824513/160394547-9dedfebe-af5a-4dc1-9a56-8a8ff166eedd.PNG)
<img width="585" alt="Captura de pantalla 2022-03-28 a las 14 08 30" src="https://user-images.githubusercontent.com/47824513/160394619-62bcded2-0658-4d77-8f30-f60a79d675f8.png">

[2022-03-28 12:55] ggetz commented on #10101
Ultimately, this is a fairly common use case and we should probably support it directly in the API, as tracked in #6165. In the meantime, you could update the alignment to match that of the camera, but you would need to update this overtime the camera moves. You could also try keeping the arrow image on the globe surface with a rectangle primitive.

[2022-03-28 13:03] ggetz commented on #10239
Hi @erikhansenmujica. Resium is not an official cesium component. I would suggest opening a report with the Resium maintainers to get to the bottom of the issue. If it turns out to be a possible bug in CesiumJS, then please post back here with instructions to duplicate using the CesiumJS API. [Sandcastle](https://sandcastle.cesium.com/) is a good way to share examples. Thanks!

[2022-03-28 13:03] #10239 closed

[2022-03-28 13:07] ggetz commented on #10192
Closing as the question appears to be answered. If there are anymore questions, please ask on the [Cesium Forum](https://community.cesium.com/) where there are members of the community and developers from the team who can help. Thanks!

[2022-03-28 13:07] #10192 closed

[2022-03-28 13:07] #10202 closed

[2022-03-28 13:08] #10140 closed

[2022-03-28 13:11] ggetz commented on #9808
Hi @lj0564, would you be able to provide some additional details? Do you have any code as an example? Can you provide the specific android devices that aren't working?

[2022-03-28 17:03] lilleyse commented on #10223
@j9liu could you take a look at this? `group.id` was recently removed in https://github.com/CesiumGS/3d-tiles/pull/678#event-6320122581. The property should still exist for backwards compatibility with the dictionary form of `groups` but it should be optional.

Another place that expects `group.id` to exist is [here](https://github.com/CesiumGS/cesium/blob/75f90c2d8ce290ee0d56b39f334ec493da448abb/

[2022-03-28 17:13] mramato commented on #9416
FYI, with the help of the Chrome team, the issue has been narrowed down to a low default `ulimit`. On machines exhibiting the problem the ulimit is defaulted to 1024. Raising the limit works around the problem for the time being.

The Chrome team is still looking into the root cause on their end, but can now reliably reproduce it.  Details in Eli's link, above.

[2022-03-28 17:37] sanjeetsuhag opened #10240 "Blue patch in sky at certain angle"
![Screen Shot 2022-03-28 at 1 37 06 PM](https://user-images.githubusercontent.com/5172619/160455257-f11c14d1-ce8b-4cb1-aa60-e353272aa942.png)

As shown in this [Sandcastle](https://sandcastle.cesium.com/#c=bZFba9wwEIX/ivCTF9yxbrbkxlkK20IDvdEuhYJfFHvSiMpSkLSbpqX/vfZuH0ITPWlG5ztnGI3Bp0yOFu8xkkvi8Z7sMNnDDF9PvXIoxlO9Cz4b6zEOxeZi8GcC0ogeYTQzRgMJ8wqVvwdPyIQpW2+yDZ68fOy7MzEvN+NFKXnHtW5AKq55I3VFOGMdUwx4S2

[2022-03-28 18:31] #10223 closed

[2022-03-29 01:58] zouyaoji opened #10242 "Incorrect topology of data loaded by GeoJsonDataSource"
I use GeoJsonDataSource to try to add a GeoJSON format data of Multipolygon type.

But I found the results presented in scene to be less accurate.

In cesium it will be split into 4 polygons.

But actually it should be considered a polygon, as rendered in QGIS.

Sandcastle example:

[link](https://sandcastle.cesium.com/#c=vVltTxw3EP4rFl9KpOue7fErJagqSapUealE2i+9fljuDKyytz7t7kFIxX/v47sQIGBa1UlPCLA9

[2022-03-29 14:52] ggetz commented on #10242
Hi @zouyaoji. Am I correct that the only discrepancy you are seeing between QGIS and CesiumJS is that in Cesium the `multipolygon` is split into 4 different entities?

If that's the case, I believe this is a duplicate of https://github.com/CesiumGS/cesium/issues/9431 which requests adding support for `multipolygon` entities.

[2022-03-29 15:01] zouyaoji commented on #10242
Does that mean it's not supported yet?

[2022-03-29 15:02] ggetz commented on #10242
Not as a single entity, no.

[2022-03-29 15:03] zouyaoji commented on #10242
Hope to support it as soon as possible, there should be many scenarios that need this.

[2022-03-29 15:24] #10242 closed

[2022-03-29 19:35] j9liu opened #10244 "Bounding spheres in `ModelExperimental` are larger and less accurate than `Model`"
This came up in #10243. Although `minimumPixelSize` works for `ModelExperimental`, the result is notably bigger than `Model` when the same value of `minimumPixelSize` is used.

![image](https://user-images.githubusercontent.com/32226860/160693024-d19c1924-2939-4868-aee1-a038f12a6b82.png)

[`Model` sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=vVh5c+O2Ff8qqP5ZeSrxAEmR9DWNvUfceLuetT

[2022-03-29 19:57] Sboddd opened #10245 "Ellipsoid renders differently with fixed vs callback properties"
Given two ellipsoids that are otherwise identical, if one has CallbackProperties (or other dynamic properties) and one does not, the actual rendered geometry on the screen will be different.  The linked Sandcastle example has two ellipsoids, one with innerRadii and radii specified as `Cartesian3` values, and the other with them specified as a `CallbackProperty` that returns the same `Cartesian3` v

[2022-03-30 01:00] zouyaoji commented on #9431
+1

[2022-03-30 03:08] WilliamLiu-1997 commented on #10201
Hi @ggetz, just found that the problem is actually caused by the **Intel graphics driver version**. The version `30.0.101.1221` and `30.0.101.1631` will have the problem and version `26.20.100.7985` won't have the problem. I haven't tested others.
https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html

[2022-03-30 16:55] lilleyse opened #10246 "3D Tiles inspector debug labels not working"
The 3D Tiles inspector debug labels aren't working in main. `git bisect` points to https://github.com/CesiumGS/cesium/commit/31c154a299927af69c9a66415b2e451d96d10dbb (Remove when.js and replace with native promises). Marking as `next release` since it's a regression.

[Local Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=bVHLbsIwEPwVK6cgIadVK1RBQK3oBamoUkt7ysXYC1h1vJHXCY+q/944CYIWf

[2022-03-30 19:14] ptrgags opened #10248 "Handle remaining types for property textures in custom shaders"
in #10247, I made an initial property textures to cover the common cases of UINT8-based types. However, the [`EXT_structural_metadata` spec](https://github.com/CesiumGS/glTF/tree/3d-tiles-next/extensions/2.0/Vendor/EXT_structural_metadata#property-textures) allows other types including, but not limited to, the following:

* integer types spread across multiple channels. e.g. a `UINT16` stored as t

[2022-03-30 19:27] ptrgags opened #10249 "Handle noData/default metadata values in `CustomShader`"
on the CPU, we've implemented `noData` and `default` for metadata properties (see for example `MetadataTableProperty.prototype.get`). However, this change has not been propagated to the `MetadataStage` (which mainly impacts the custom shader portion of ModelExperimental), especially since it does not work exactly the same.

Some initial thoughs:

* if the property has a `noData` sentinel, the shad

[2022-03-30 20:49] j9liu commented on #10244
I found that this size different results from the difference in bounding sphere computation -- noted in #10115, `ModelExperimental`'s bounding sphere is much larger and more inaccurate than `Model`'s, and the radius of that bounding sphere is used in calculating the scale for `minimumPixelSize`.

![image](https://user-images.githubusercontent.com/32226860/160928441-74473a9f-024c-49c3-8111-58264a6c

[2022-03-30 21:31] robmilton commented on #9689
Hey guys, there have been multiple requests and pull requests over the past couple of years related to limiting the tilt (particularly to avoid scene crashes).  Is there any chance this will be addressed before long?

[2022-03-31 01:32] Amber-372 commented on #8781
![image](https://user-images.githubusercontent.com/13759303/160958102-5719e01f-be3a-4218-8133-53d90d15cc51.png)
If the ball also has transparency, the transparency of the wall seems to be wrong @OmarShehata

[2022-03-31 01:46] Amber-372 commented on #8781
![image](https://user-images.githubusercontent.com/13759303/160959569-81117690-54f6-455f-8498-fff8108c66a1.png)
When OIT is false, the ball can be occluded, but the back wall is displayed in front of the front wall @OmarShehata

[2022-03-31 05:22] chenwwsdo commented on #8751
I added six clipping surfaces to the project, which caused my page to get stuck

[2022-03-31 05:25] chenwwsdo commented on #8751
Another problem is that if I add clipping surfaces at the beginning and then I clear them, I need to add them twice if I want to add them again

[2022-03-31 10:34] erikhansenmujica opened #10251 "Fill a Polyline as a PolygonGraphics"
Hello, I am rendering a huge quantity of PolygonGraphic Entities and I want to know if I can use Polylines instead. Is there any way I can use Material to fill a Polyline? Or can you tell me if there is a better component to render a lot of polygons?

[2022-03-31 15:47] j9liu opened #10252 "`Camera.lookAt` crash"
This came up in #10092 using this [Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=1VZtb9s2EP4rhL9UBhRaSpw3xw2WpGnXLV2KOmvRwV9o6WwToUiBpJx4Rf77jqQsyy/rhgHDMMAweMfj3T3H43PKlDSWLDg8gSaviYQncgOGVwX97HXRuJN5+UZJy7gEPe50L8ZyLMMZmgmVPdKs0hqkfeAFoJfaw0+V4Ey+YRboVKvivVFnJ0kajSUh485hcpgepOlBcv5wmAwOTwdHpzRJT5KTfv/0+Kh/dnLWPz86/W3cGcsQL/OZzsutNH8ElnM5+8htNv+khPDu670PzM6pVZ/QgkkTpWdJN3bbSfgPno

[2022-03-31 15:49] thw0rted commented on #9297
Hi @hpinkos , I came across this while searching for other KML issues, and realized that maybe it's OBE now that you're switching to native Promises everywhere, in which case you'd appreciate a poke so this can be closed out.  (If I'm wrong, ignore me.)

[2022-03-31 15:50] #9297 closed

[2022-03-31 16:47] #7652 closed

[2022-03-31 19:48] #10251 closed

[2022-03-31 20:19] ptrgags opened #10254 "Improve line number reporting for `CustomShader` and `ModelExperimental`"
Right now, the line numbers in the final shader for `ModelExperimental` can be a bit confusing. For example, line 3 could refer to one of 3 different things:

1. Third line from the top of the final shader in the `ShaderProgram`
2. Third line from the top of the `ShaderBuilder` code (start of the `ModelExperimental` code
3. Third line from the top of the `CustomShader` text (if a custom shader is

[2022-03-31 20:26] j9liu opened #10255 "`tileset.modelMatrix` not working for `.i3dm` with `ModelExperimental` enabled"
Found this while testing for #10250. With `ExperimentalFeatures.enableModelExperimental = true`, the instanced model doesn't show up at the correct position, instead remaining on the ground. The PR itself did not introduce it; I tested on `main` and the same behavior occurs.

![image](https://user-images.githubusercontent.com/32226860/161143298-ff36c9b2-ad59-485e-97ba-6392a2099797.png)

Here's a [

[2022-03-31 20:37] ptrgags opened #10256 "Make it easier to debug custom shader compile errors"
Right now, the way I debug compilation errors for a custom shader is putting a breakpoint in `ShaderProgram.createAndLinkProgram()` on one of the lines that throw `DeveloperError`, and then inspect the variables `vsSource` and `fsSource` which contain the complete shader text (custom shader + ModelExperimental shader code + CesiumJS builtin-stuff). But this is cumbersome and might be confusing to

[2022-03-31 20:51] ptrgags opened #10257 "Use reference counting to manage resources shared between models/tilesets."
https://github.com/CesiumGS/cesium/pull/10250#discussion_r839836412 sparked a discussion about resource management, since this is handled inconsistently in `Model` and `ModelExperimental`:

* `CustomShader` sometimes has texture resources. The user is responsible for calling `destroy()` but this might not be obvious
* `ImageBasedLighting` is somewhat similar. This also has a variable to track if `

[2022-04-01 07:44] jiangheng90 opened #10258 "spec failure: renders terrain with lambertDiffuseMultiplier"
`renders terrain with lambertDiffuseMultiplier` will fail when I run test in afternoon(China)
I think it need to set a sunlight direction

[2022-04-01 12:50] #8234 closed

[2022-04-01 12:50] #10100 closed

[2022-04-01 12:55] ptrgags commented on #10258
Hi @jiangheng90, does the error message look like the one in https://github.com/CesiumGS/cesium/issues/10168 (failing to load a texture) or does this give a different error?

[2022-04-01 13:36] sanjeetsuhag commented on #10246
From a quick look, I found that the draw commands for the billboards are being created, however, they aren't actually being rendered.

| Working (`1.91`) | Not Working (`main`) |
| - | - |
| ![Screen Shot 2022-04-01 at 9 34 32 AM](https://user-images.githubusercontent.com/5172619/161274276-ea34dbc2-1556-4e39-b09a-fa1b1617efc2.png) | ![Screen Shot 2022-04-01 at 9 34 35 AM](https://user-images.githu

[2022-04-01 14:01] zhwy commented on #8751
Hi, @chenwwsdo
Can you show some code snippets?

[2022-04-01 14:35] ebogo1 commented on #10216
I can reproduce this on macOS as well

[2022-04-01 14:47] #1859 closed

[2022-04-01 15:08] IanLilleyT opened #10259 "Use `@namespace` in addition to `@enum` for jsdoc"
## Old
When using the `@enum` tag by itself it puts the documentation in the global section and omits static functions on the enum. It's cluttered and missing information.

![Screenshot from 2022-04-01 10-49-15](https://user-images.githubusercontent.com/1328450/161287872-fd6e0139-c345-4fa2-a259-ba1e69517ae1.png)

## New
By adding the `@namespace` tag it creates a new page for the enum and show the

[2022-04-01 15:22] thw0rted commented on #873
Anyone watching this issue might be interested in https://github.com/CesiumGS/cesium/pull/10260 which I just filed.  Not a huge change, but could be useful to some.

[2022-04-01 16:55] mramato commented on #10259
We need to be careful here. For things in the public API, making them a namespace means they are _not_ enums, they are namespaces. This matters a lot when generating TypeScript bindings.  However, if we are globbing functions on to enums, they aren't enums either.

I did a bunch of work to make sure we made enums actually enums as part of the initial TS works: https://github.com/CesiumGS/cesium/pu

[2022-04-01 17:38] IanLilleyT commented on #10259
Ahh good catch. When I do `npm run build-ts` it errors with:

[code]

The goals are:
- Preserve the documentation for static functions (most important)
- Put enums and their static functions into their own page (JSDoc template idea) (less important but still good to have)

Are there any examples of well behaved public enums that have static functions? Any workarounds you found during the TS cleanu

[2022-04-01 18:19] sanjeetsuhag opened #10262 "Unable to run tests on Safari"
When running `npm run test -- --browsers Safari`, at first, this window pops up, requiring a user to ok loading of the HTML file:

![Screen Shot 2022-04-01 at 2 17 07 PM](https://user-images.githubusercontent.com/5172619/161320072-ad387201-5f24-4421-8ebe-aca957ec2d3d.png)

And then, once it starts running the tests, it quickly fails and quits the task with the following output:

[code]

[2022-04-01 19:58] #10258 closed

[2022-04-01 20:00] lilleyse commented on #10168
Fixed in https://github.com/CesiumGS/cesium/pull/10263#issuecomment-1086262447

[2022-04-01 20:00] #10168 closed

[2022-04-02 01:14] lemiroir opened #10264 "when i decompose a matrix into translation, rotation and scale, i can't get positive solution"
<img width="807" alt="TestCase" src="https://user-images.githubusercontent.com/23376744/161359677-e2cc87e3-8546-4ba7-bbca-a48eecbf8b9b.png">

[2022-04-02 12:21] mramato commented on #10259
The fundamental issue here is that an enums don't exist in JavaScript (because types don't exist). I don't know of any strongly typed language that lets you define an enum that also has methods on it (static or not). So we should not every augment enums with function definitions in Cesium is we want to cleanly interop with strongly typed languages, like TypeScript.

I believe the documentation sid

[2022-04-03 09:49] MuhammedKalkan opened #10265 "When selecting 'Show tile coordinates' imagery provider crashes"
Happens to be on the  sandcastle 1.92

[code]

[2022-04-03 14:30] hehexxxgo opened #10266 "report errors"
![2022-04-03_22-27-58](https://user-images.githubusercontent.com/94695071/161432865-e48e389b-98f9-43b4-9856-0f5c4bee13b7.png)
There was no problem before. Suddenly, an error was reported

[2022-04-03 15:57] aneekbasu commented on #10266
What version of `cesium` are you running? In the new [1.92 release](https://github.com/CesiumGS/cesium/releases/tag/1.92) we have have removed `when.js` and moved to native promises, that is why `otherwise` is not being recognized. Please follow the upgrade guide to upgrade your code base.

[2022-04-04 06:15] ehermellin commented on #10266
Hi,
I face an issue too when updating to 1.92.
I have followed the [guide provided by the Cesium Team](https://community.cesium.com/t/cesiumjs-is-switching-from-when-js-to-native-promises-which-will-be-a-breaking-change-in-1-92/17213) but i have this issue now when i open my apps

![Capture](https://user-images.githubusercontent.com/7964512/161484171-d4e4afcd-da5d-48ea-aada-45d690634646.PNG)

I do

[2022-04-04 12:43] ggetz commented on #10265
Hi @MuhammedKalkan. Is this one of the default Sandcastle examples, or your own? Can you provide a link or code sample to reproduce?

[2022-04-04 12:50] MuhammedKalkan commented on #10265
Hey Gabby,

Default samples behave the same way. Just add inspector mixin and try to show tile coordinates. Here is a link for you

[Here is a link](https://sandcastle.cesium.com/#c=zRrLcts48lewPlFjGeJTJG1Pam3HedTEk1SsSmorzgEiIQkViNASoGRlyrf9s/2xbRIkRUqULc8mNeODRAL97kZ3o+VIJFKhlUh5PKJpSliCfkVXVLJsjqOUEkU/N/aMP+4ShFL674xK9Rk20xsiv50ilWa039j6RFNF738X6ZxwWW8/9M7ukrskKlguGV3RFJgldFUx/FSsGXdHUfF+JRIFTG

[2022-04-04 13:56] ggetz commented on #9689
Hi @robmilton, no immediate updates. As @ebogo1 said, we do think the Camera API needs some attention, but currently don't have any immediate plans for the team to work on this.

If you are interested in contributing a fix, we'd be happy to discuss the approach ahead of a pull request so that we're on the same page about the implementation.

[2022-04-04 14:04] ggetz commented on #10201
Thanks @WilliamLiu-1997 and @joshsink for tracking down the driver version!

Unfortunately if there is an issue with a specific driver, there's nothing really we can do on our end to fix. I'd suggest opening a bug report with Intel. Hopefully they can address it soon.

[2022-04-04 14:04] #10201 closed

[2022-04-04 15:55] sanjeetsuhag opened #10267 "cesium.com branch of CesiumJS fails in CI due to token"
As part of the [CesiumJS release process](https://github.com/CesiumGS/cesium/wiki/Release-Guide), the `main` branch is merged into the `cesium.com` branch. Since the [`cesium.com` branch uses its own static Ion token](https://github.com/CesiumGS/cesium/blob/a97e8191268b58859f4a400e7c3ca43a73197c14/Source/Core/Ion.js#L7-L33), that I presume only allows access from `cesium.com`, this causes [test fa

[2022-04-04 16:44] ptrgags commented on #10218
Just to cross-link things, this issue corresponds to [this forum post](https://community.cesium.com/t/how-do-i-adjust-lighting-settings-for-customshader/17789)

[2022-04-04 17:48] sparsematrix commented on #9035
Updated to iOS 15.4.1 and Cesium 1.92.

Here's my latest results in Safari/WKWebView:
- Polyline Outline appears to work as expected now
- Polyline Arrow does not display
- Polyline Dash does not display (https://sandcastle.cesium.com/?src=Polyline%20Dash.html)

[2022-04-04 18:56] ggetz commented on #10266
I see @ehermellin has [started a thread on the forum](https://community.cesium.com/t/error-when-updating-to-cesiumjs-1-92/17999). I've answered there, so I'll  go ahead and close this issue.

[2022-04-04 18:56] #10266 closed

[2022-04-04 19:03] ggetz opened #10270 "Don't bundle tests in the release zip"
https://github.com/CesiumGS/cesium/pull/10170 removed the stand-alone jasmine test runner. As such, there is no longer a way to run the specs from within the content bundled in the release zip.

The `--release` flag still allows the release output to be tested before bundling to ensure pragma statements have been properly removed.

However, output for testing is still being including in the zip fi

[2022-04-05 08:53] hehexxxgo commented on #10266
I didn't update. Will I update it automatically?

[2022-04-05 12:06] gitgitczl opened #10274 "HeightReference.CLAMP_TO_GROUND Can't clame to ground"
When I draw a polygon and set Cesium.Heightreference.CLAMP_ TO_ Group, but some polygons will not be displayed. The terrain used here is ArcGISTiledElevationTerrainProvider.
like this,The lower right corner is not shown.
![image](https://user-images.githubusercontent.com/34705741/161750008-be2f8efc-1482-40b9-b84c-9425c95d72f1.png)
this is my code:
![image](https://user-images.githubusercontent.com

[2022-04-05 13:05] ggetz commented on #10266
I'm not sure since we don't support vue-cesium. It's a third-party component. It will depend on how vue-cesium handles versioning ceisum. If you're not ready to update and are using npm, I'd recommend pinning a specific version in `package.json`.

[2022-04-05 13:46] j9liu commented on #10244
Leaving a note for when we address this issue: we should think about how the bounding sphere will be calculated when accounting for morph targets (#10271) and animations (coming soon).

[2022-04-05 14:15] ggetz commented on #8924
After #9297  and https://github.com/CesiumGS/cesium/issues/8922, I believe there's nothing actionable left in this issue. Closing, but feel free to open any new issues if you see typescript errors.

[2022-04-05 14:15] #8924 closed

[2022-04-05 14:17] #5442 closed

[2022-04-05 20:41] avh commented on #8809
Any updates? I would love to see this feature implemented...

[2022-04-06 01:59] jiangheng90 commented on #10216
I think maybe the test will fail on high performance device. It failed on my rtx 3070 desktop, but will pass on my amd laptop.

[2022-04-06 03:37] peterjou commented on #10229
![image](https://user-images.githubusercontent.com/19475041/161890917-1882a754-362a-41fd-9c40-3c38520eab27.png)
![image](https://user-images.githubusercontent.com/19475041/161890947-9567d772-66aa-47d2-b7f5-a26ad039e2d6.png)

[2022-04-06 06:57] mdrbrand opened #10277 "Polyline Flickr if Camera moved"
Sandcastle example:
see discussion in forum with sandcasel and screenshots https://community.cesium.com/t/polyline-flickr-if-camera-moved/17805/3

Browser: Chrome

Operating System: Windows 10

[2022-04-06 09:13] wuming2019 commented on #6940
RuntimeError: Fragment shader failed to compile.   Compile log:

Error
at new RuntimeError (webpack-internal:///./node_modules/cesium/Source/Core/RuntimeError.js:40:11)
at createAndLinkProgram (webpack-internal:///./node_modules/cesium/Source/Renderer/ShaderProgram.js:253:13)
at reinitialize (webpack-internal:///./node_modules/cesium/Source/Renderer/ShaderProgram.js:509:17)
at initialize (webpack-

[2022-04-06 12:46] ggetz commented on #10229
@peterjou Do you have an M1 Mac? We've seen similar reports from M1 Mac users- https://github.com/CesiumGS/cesium/issues/9417

[2022-04-06 13:02] ggetz commented on #6940
@wuming2019 I think the issue you are running into is https://github.com/CesiumGS/cesium/issues/5991. Your page is losing the webgl context, which we don't have control over. However, we could report a better error.

[2022-04-06 13:08] ggetz commented on #10274
Hi @gitgitczl. I'm having trouble reproducing the issue with [this sandcastle example](https://sandcastle.cesium.com/#c=7VrpbxrJEv9X+vnToJBmTmawnehhm3jRYrCATRSFKBqggX47TKPuxo4T+X9/1XPAXPhI1rv7IVEkz1FdU13Hr45mxkIh0Q0lt4SjNygkt+icCLpd4/fRM21yNIvuz1kofRoSPjmqo++TECFJOIcn15zd0Dnhx9nFbT677I7GNCDzTkBufElZOM7TaxEThLY8OI6vEJocraTciONGg6SrrDn2+WxJBZ6xdSO+bHAiZEMQfkNBuMYHxoP9Z6yLRvIluOqu/SUZAWEkt/rMfQ3+3NdO

[2022-04-06 13:26] #9666 closed

[2022-04-06 14:10] #10265 closed

[2022-04-06 20:15] saosokin commented on #8751
![image](https://user-images.githubusercontent.com/34769167/162063121-fdcdd393-5d82-4385-9489-1ff0539082cb.png)

[2022-04-06 23:26] Lemonjay opened #10278 "Cesium 1.92：The GridImageryProvider and TileCoordinatesImageryProvider cannot create"
![image](https://user-images.githubusercontent.com/9245295/162089958-ace71290-2eb3-4039-af57-fb248d68f682.png)
sandcastle link ：https://sandcastle.cesium.com/?src=Imagery%20Layers%20Manipulation.html&label=All

[2022-04-07 01:21] wuming2019 commented on #6940
No, this is a VUE project。I'm just doing a tabs switch，create multiple cesuim view，switch back and forth between several tabs，memory cannot be freed，and eventually collapse。

[2022-04-07 06:27] peterjou commented on #10229
yes is m1 mac 14
![image](https://user-images.githubusercontent.com/19475041/162134050-17d9a21b-6ea4-49be-8ac3-a8168ad2e6cb.png)

[2022-04-07 16:47] #10278 closed

[2022-04-08 07:33] Fivedogs opened #10280 "An error occurs in ModelOutlineLoader.js, about triangleIndices in gltf of b3dm"
![image](https://user-images.githubusercontent.com/65214298/162384354-828355a4-38b3-4b5a-b23a-f1526415ea9b.png)
An error just occured here:
![image](https://user-images.githubusercontent.com/65214298/162384530-c21fdc9f-5c86-4d46-b5ec-68690e9d52c1.png)
This is why it come in to the error point,when the count of triangleIndices and the max value of triangleIndices are both lower than 65534 (MAX_GLTF

[2022-04-08 12:13] zhwy commented on #8751
Please show me some code snippets or upload data for me to run tests.

[2022-04-08 13:00] ggetz commented on #6940
VUE shouldn't affect much. This is caused by how the browser is handling memory. When too many instances are created, the browser can be agressive about destroying WebGL contexts, which then causes cesium views to crash.

[2022-04-08 13:03] ggetz commented on #10229
Thanks @peterjou. Then I believe this is a duplicate of https://github.com/CesiumGS/cesium/issues/9417, so I'll close this one to keep discussion in one place.

We believe this is due to an issue with the driver software on M1 machines. Unfortunately, there's not much we can do until Apple fixes the issue. Hopefully they get to it soon.

[2022-04-08 13:03] #10229 closed

[2022-04-08 13:20] ggetz commented on #10280
@ptrgags or @lilleyse Any insight here?

[2022-04-08 13:31] kring commented on #10280
This code is my fault, so let me know if you need me to take a look. @Fivedogs it might be helpful if you could provide us with the model you're using, since the problem is probably triggered by something semi-unusual about the particular model.

[2022-04-08 13:33] ggetz commented on #10274
Thanks @gitgitczl, I'm able to reproduce your issue with those positions. This does appear to be a bug. We'll update this ticket when we're able to take a look.

[2022-04-08 21:56] #4494 closed

[2022-04-08 21:56] #4495 closed

[2022-04-10 13:51] mramato commented on #10178
FYI, we ran into issues in unit testing a Cesium-based app related to this behavior and had to insert `model.readyPromise.catch(() => {});` into some spots in the tests in order to ensure it doesn't break the entire testing suite when it resolves (simply awaiting doesn't work).

What's weird here is the model is never actually added to the scene, and my current understanding of how this works mean

[2022-04-10 23:45] WahajTariq commented on #6940
Hello,

I wanted to use Cesium to verify the coordinates of a BIM Model (ifc imported). When I launch the HelloWorld program it gives me the following error:

An error occurred while rendering. Rendering has stopped.
SecurityError: Failed to execute 'texImage2D' on 'WebGLRenderingContext': The image element contains cross-origin data, and may not be loaded.

Error: Failed to execute 'texImage2D' o

[2022-04-11 01:40] Fivedogs commented on #10280
Thanks for your reply,this is the model which triggered the problem. If you solve this problem or find the semi-unusual thing in this model,please tell me. Have a nice day!
[3dtileAndGltf.zip](https://github.com/CesiumGS/cesium/files/8460424/3dtileAndGltf.zip)

[2022-04-11 01:43] lemiroir commented on #10264
When I want to build data with i3dm, I need to decompose my 4x4 matrix into scaling, rotation and translation information, but I can't get the correct model by using the information obtained by the above method to generate i3dm. So I did an experiment. I generated a 4x4 matrix based on the existing translation, scaling and rotation information, and then decomposed it. The decomposed information is

[2022-04-11 02:29] yurichen17 commented on #10191
Just wanted to update on some progress (and maybe for some potential guidance as well)! I've been trying to find the origin of this bug and was able to recreate it on my Chrome browser. After some digging and playing around, it seems as though when the browser is thinner vertically (like making the browser only take up the top half of the computer screen) the billboards actually appear as they sho

[2022-04-11 08:45] wuming2019 commented on #9298
So this problem can't be solved ？

[2022-04-11 08:50] wuming2019 commented on #5462
So you've been dodging the cesuim memory leak, is there no way to fix it?

[2022-04-11 12:53] ggetz commented on #9298
Hi @wuming2019, we haven't gotten the chance to work on this issue directly. If you are able to look into the issue and provide more details, or even propose a fix, that would be helpful.

[2022-04-11 13:15] ggetz commented on #10264
There is an issue related to i3dm matrix transformations that you may be seeing though: https://github.com/CesiumGS/cesium/issues/10255

[2022-04-11 19:10] Baratier opened #10283 "Drapping entity on vertical surface"
Hi everyone,

I'm using entity API to drap polygons on 3D tileset with image, color, stripe ect...
Entity API works well 95% of the time, but issues append when I try to drap polygon on vertical surface as entities are vertical projection of ellipsoid :

[sandcastle demo](https://sandcastle.cesium.com/#c=rVZbjxo3FP4rFk+DxBrfL5Ssmm7yEClSqzRtHzpVNRm8wepgI49hs13x33tmBrqwS4mqLA8Mts/l+84585k6hjajrXd3Lq

[2022-04-11 21:00] ptrgags opened #10284 "Support sparse accessors in ModelExperimental"
The old `Model` class didn't handle [sparse accessors](https://www.khronos.org/registry/glTF/specs/2.0/glTF-2.0.html#sparse-accessors) from the glTF spec. For better spec compliance, the new `ModelExperimental` should add this.

Not sure the exact scope of how to implement this, but some thoughts:
* Certainly `GltfLoader` (or related loaders) would need more parsing logic for sparse accessors
* If

[2022-04-11 21:08] ptrgags opened #10285 "Ensure entities and CZML work with `ModelExperimental`"
While reviewing #10282, I noticed that models used in CZML and entities only use the old `Model`. (see `ModelVisualizer.js` where it calls `Model.fromGltf()`). This is fine for now, but when we replace the old `Model` with `ModelExperimental`, we need to make sure this still works.

Some things to check for API parity:

* [the CZML Node Transforms Sandcastle](https://sandcastle.cesium.com/?src=CZM

[2022-04-11 22:17] lilleyse commented on #10178
The new implementation should be handling destroy + async operations more gracefully. All the loaders follow the pattern of checking `isDestroyed` after the promise resolves or rejects (for example see [GltfTextureLoader.js](https://github.com/CesiumGS/cesium/blob/dcf2adb016c8cdbb7939c9c9910e43a9c9308404/Source/Scene/GltfTextureLoader.js#L151-L170)). `ModelExperimental` itself doesn't have async o

[2022-04-12 01:40] wuming2019 commented on #5462
Cesuim can't free up all memory ？Did you wrap the closure but not free memory？？？

[2022-04-12 09:47] yoyomule opened #10287 "Can cesium edit a specific component of a 3dtile model？"
Can cesium edit a specific component of a 3dtile model, not the entire model. For example, edit the position, scale, and material of a column in the model.

[2022-04-12 13:07] #10270 closed

[2022-04-12 20:10] ptrgags commented on #10255
Not sure if it's the same problem, but I noticed in [this sandcastle](https://sandcastle.cesium.com/#c=jVZbc9o6EP4rGuY8mBkifMM2SZo5CUl6YAJpG3pL6ZwaWwQFW+ZIMinp8N/PWjJgJ+nlAdusdr+9fbt2jwiap/ji+5JwmhImw+SShDLnRGDCwmlChllMkuo5eoUkz8nRhE1YlDEh0YqSB8JBzsgD6mnED0pmTBqR+t/LwJQywieNprJst9FrHjJZ6g9uUBiBqkAyQ+ss54hmDIVCECkmrMTsZwzHZBbmiTxVyuNsQRj4nTTIejCfvo7oNR303z/2rRHtiz5714l6fa+/WH760Bt0MSj9F79egFL/cZRez

[2022-04-13 02:33] xuebingzzz commented on #10218
Now that IBL has been added to the shader, the existing effect seems to be to replace the completely black texture with shadows, but when the lighting changes, this part of the texture does not change, and I'm not sure if the IBL takes reflections into account.

[2022-04-13 06:57] Sparviero-Sughero opened #10291 "KML Icon resized on move (2D view)"
Sandcastle example: [https://sandcastle.cesium.com/index.html#c=1VXfb9owEP5XrDwFiTqse5kKrdYC+6EWWjXtpG2ZJuMcYOHYke3Q0or/fXZCQoAwTZP2MB5MfP7u/N3nO5tKoQ1aMngChc6RgCfUB82yBH/JbX7k0Xzel8IQJkBFXhu9okggpCkIGMkYzkqfsLTgsD8cD08HFrdudSMRCZpvJFPD7Ifd6dVFoCQBRc42++M8IC6M7WJdLIk+WHfGdsFAAYjbJShOVhXDCk9LiwWvcxaRCImIKdGGAyZx/CAlnxA1ApH5LuB3N6CCnPsZeDZnKPKuRzfoBH3kckI4CikDQQF9IJRxZhhoq0npYbMDDtR6TTNBXbbIb20Doopb

[2022-04-13 11:12] apgk commented on #6226
大佬，有最近解决方法么。
先说配置
1.   华为屏 外加ops （i7-8800 gtx1050ti 4G 16G）
模型
1. 1个园区的（3dtiles 总文件大小12G上下）
chrome 100 版本
1.模型大概配置
maximumScreenSpaceError  32
maximumMemoryUsage  128
问题
基本加载到 显存占用3.6G上下，放置一会儿移动下就崩溃了。cesium 1.89

[2022-04-13 11:13] PolanZ commented on #6226
您的邮件我已收到，会尽快回复。亲

[2022-04-13 12:54] ggetz commented on #10287
It depends on the 3D tileset. I don't believe we have an interface for changing position or scale, but its possible to embed [classification data, which can have custom styles applied](https://sandcastle.cesium.com/?src=3D%20Tiles%20Next%20Photogrammetry%20Classification.html).

Since this is more of a question, I would ask that you take this to the [Cesium Forum](https://community.cesium.com/) wh

[2022-04-13 12:54] #10287 closed

[2022-04-13 13:06] ggetz commented on #10283
Hi @Baratier. I don't believe polygon entities are designed to work vertically. Instead you could use [a wall entity](https://sandcastle.cesium.com/?src=Wall.html). You could also try using the primitive API directly if you need more control.

[2022-04-13 15:19] ptrgags commented on #8547
I wish I had seen this sooner, for `ModelExperimental` we've been doing yet a different way: `positionMC *= 0.0` (see `CPUStylingStageVS.glsl`). This makes an assumption that WebGL won't render zero-area triangles as a single pixel. We'd have to refactor the shader a bit. If we just switched to `gl_Position`, the value is likely to get clobbered by later shader stages.

But also, in [this forum th

[2022-04-13 20:37] ptrgags commented on #10255
Some more details:

* I did a `git bisect`, it pointed me to [this commit](https://github.com/CesiumGS/cesium/pull/10092/commits/8315ebfd6861b13191ee21b3aed89267edd58e80). It seems like when we refactored the model matrices to support model size, we didn't take .i3dm into account
* Looking back at the instancing code, I'm finding it rather confusing. i3dm handles world space and the RTC transform

[2022-04-13 20:41] ptrgags commented on #10255
Interesting, if I set `u_instance_nodeTransform()` to return `Matrix4.IDENTITY` things look correct.

![image](https://user-images.githubusercontent.com/8422414/163266797-15955fbb-4441-45b1-9761-512cf3539065.png)

[2022-04-13 21:08] ptrgags commented on #10255
Not quite... it doesn't seem to make a difference for the [cubes example](http://localhost:8080/Apps/Sandcastle/index.html#c=7Vp7c9s2Ev8qqG6mkS4yJfmR5iQ7d7ajTjzT1G6sJNOJMhmIhCU0JMEDQNlqxt/9Fi8SoCRbbvrneSYxCSz2+cPuAnSvh06TBGEUp7QoaD5HRYpz0oUR/YDmhGVE8hWSDIkFu0VyQRAnBSeC5BJLynLEbtToNO/1qtV5gmKWS85SvSDD85zKMiGW1jJPqJA4jwm6pXJhCFkpSDTNpzksFxItKbklHJ2gnNyicyJomUUf9Fh72or1+znIwTQnfNrqom/THCGa37AzdjdENzg

[2022-04-13 22:10] lilleyse commented on #10255
These are the expected orders of transformations

[code]

_(Computed tile transform includes the tileset's model matrix and the tile transforms)_

[2022-04-14 01:21] xuebingzzz commented on #10218
![image](https://user-images.githubusercontent.com/56542531/163295216-96cf3734-e6a1-4e00-a9cc-1192ffb211e3.png)
![image](https://user-images.githubusercontent.com/56542531/163295348-c908c9b0-abaa-4797-bf6d-909c5ad70357.png)
This is the display effect of the model under different lighting, the color of the marked part is always unchanged

[2022-04-14 15:58] j9liu opened #10296 "Normal mapping incorrect for `Model`"
This issue was found in #10294. The [Water Bottle sample model](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/WaterBottle/) looks different for `Model` and `ModelExperimental`. Notably, the `ModelExperimental` version has dark patches that may be the result of incorrect material code or normal mapping.

| Model | ModelExperimental |
| ------- | --------------------- |
| ![imag

[2022-04-14 18:30] ggetz commented on #8922
Re-opening this as there issues with the current docs for generating TS definitions for `setBaseUrl` and `getCesiumBaseUrl`. See https://github.com/CesiumGS/cesium/pull/9783 and https://github.com/CesiumGS/cesium/pull/10292#discussion_r849323954

[2022-04-14 18:31] ptrgags commented on #10255
I'm starting to understand this in bits and pieces.

I've been taking a closer look at the above equations and trying to translate them to the current code's variables. Let me try to organize my thoughts so far:

[code]

Let me re-write the desired transforms a little bit:

[code]

Introducing `Identity` to take the place of the Rtc transform, then it's more obvious that the only difference is whe

[2022-04-14 19:21] ptrgags commented on #10255
Hm, looking at the old code for 3D Tiles 1.0 formats, it was a bit different:

* for b3dm, the content passes in `Model = Tile * Rtc`.
* for i3dm, `ModelInstanceCollection.modelMatrix = Tile` and then for a specific instance, `Model = Rtc * Instance`. So I think the equations become:

[code]

Furthermore, I found at least one case where `components.transform` is used for more than the RTC transfor

[2022-04-14 20:23] ptrgags commented on #10255
Update: I tried an experiment:

[code]

and that seems to fix things. What was happening is the glTF root node had a z-up-to-y-up transform that was getting ignored, so the axis correction was not being canceled out properly.

This still doesn't address the `tileset.modelMatrix` problem with the cubes example. That's probably something else... I'm surprised, since that should be folded into the co

[2022-04-14 20:36] sanjeetsuhag commented on #10255
Regarding the `tileset.modelMatrix` issue, my understanding of the non-I3DM path is that when we change the model matrix of the model (by multiplying the `tileset/tile.modelMatrix`, the change gets applied to the model matrix that is attached to the `DrawCommand`. That is then set to the `czm_model`/`czm_modelView` in `UniformState`  and accessed in the shader. Since the legacy instancing path use

[2022-04-15 07:31] javcn opened #10297 "The polygon with holes loaded by cesium through geojson has no fill color"
var geosjon = test.txt

  viewer.dataSources.add(
    Cesium.GeoJsonDataSource.load(
      geosjon,
      {
        stroke: Cesium.Color.HOTPINK,
        fill: Cesium.Color.PINK.withAlpha(0.5),
        strokeWidth: 3,
      }
    )
  );
[test.txt](https://github.com/CesiumGS/cesium/files/8494606/test.txt)

[2022-04-15 12:46] ggetz commented on #10297
Hi @javcn, I think the issue you are seeing is the same as https://github.com/CesiumGS/cesium/issues/4871. I'm going to close this issue to keep the discussion in one place. Thanks!

[2022-04-15 12:46] #10297 closed

[2022-04-15 12:46] ggetz commented on #4871
Here's another geojson sample - [test.txt](https://github.com/CesiumGS/cesium/files/8495949/test.txt)

[2022-04-16 12:42] eserrose commented on #9345
Did you find a solution? I'm also having the same issue.

[2022-04-18 03:45] crithes opened #10301 "Cesium.Property.getValueOrClonedDefaultis 调用不了的问题"
Cesium.Property.getValueOrClonedDefaultis 在版本为1.69.0调用不了

[2022-04-18 12:53] ggetz commented on #10301
Hi @crithes, can you create a [sandcastle example](https://sandcastle.cesium.com/) which shows the problem?

[2022-04-18 16:23] ggetz commented on #3911
We removed the `gulpfile` in https://github.com/CesiumGS/cesium/pull/10281, but after seeing #6025, I think that was the wrong move.

The reason we removed it was that it was no longer possible to run _any_ gulp tasks from within the release zip. However, this was due to https://github.com/CesiumGS/cesium/pull/8659 and can be fixed by including `.gulp.json`.

Once that file is restored, it's possi

[2022-04-18 20:50] #10255 closed

[2022-04-19 01:43] andy259 opened #10303 "screenSpaceCameraController.maximumZoomDistance not work,when I set enableCollisionDetection to false."
I wanted maximumZoomDistance working on any case.But when I set enableCollisionDetection to false,camera can higher than maximumZoomDistance value.

Sandcastle example: here is the [example](https://sandcastle.cesium.com/#c=vVLBTsMwDP2VqKdOGmnLBEismxAdNyQOQxxQL17qjojUmRJ3YyD+nXQdEmJDcMIn2/F7fi+JsuRZrDVu0ImJINyIAr1uG/mw68VlpHZ1YYlBE7oyGoxL6hHSKySUChp0ID1yB4rfShIhKvSsCVhbEpefrAU4DhnQSNbONjNcOkQfn2TZ

[2022-04-19 03:40] zhangchn opened #10304 "High GPU Usage and Low Performance in 2D mode"
Performance issue would occur in 2D mode if a great number of polylines or other geometries were added.

In 3D mode, GPU usage was around 70% in contrast to 270% in 2D mode.

Panning the camera, frame rates dropped in 2D mode, too.

Sandcastle example:
https://sandcastle.cesium.com/#c=nVJLT+MwEP4ro5wSKE4L0opHqGC7Bw6glZbHhXAw8bS1cOzIdlrKqv+diZOU8rjAyZ5vvoc9dmG087CQuEQLp6BxCRN0si7ZXcDiPCpCPTHac6nR5l

[2022-04-19 03:54] SunnyBily opened #10305 "Lines in I3DM cannot be displayed properly"
Hello!

 I am trying to display the lines of models in cesium, so I wrote the lines to glTF and added mode=1 to the Primitive of meshes, like this:
![企业微信截图_16503398062735](https://user-images.githubusercontent.com/36740211/163915907-33c1640b-f11d-438d-8fd7-d0fe1f6ef6d0.png)

Lines in B3DM can be displayed correctly. But when written in I3DM, lines are displayed as faces instead of lines. This is

[2022-04-19 10:03] h11a opened #10307 "New version has broken map tiles"
Hi

We are currently loading in webp map tiles from a third party provider.

This is done like so
[code]

This was working great up until 1.92.0

However now we receive the following error.

![image](https://user-images.githubusercontent.com/52792193/163979318-a241db33-7ba9-45d5-aa8b-9a62d7cd5799.png)

![image](https://user-images.githubusercontent.com/52792193/163979706-2047bb9c-0d5c-4a62-a163-56

[2022-04-19 12:48] ggetz commented on #10307
Hi there, we [updated to native promises](https://community.cesium.com/t/cesiumjs-is-switching-from-when-js-to-native-promises-which-will-be-a-breaking-change-in-1-92/17213) in 1.92 which changed a few small things with how Promises work in Cesium. The issue you ran into may have been fixed in https://github.com/CesiumGS/cesium/pull/10268. Would you be able to check out main and five it a try?

[2022-04-19 13:18] j9liu commented on #10305
Hi @SunnyBily, how are you loading in this model? Is it possible to provide a sandcastle that demonstrates this problem?

[2022-04-19 14:25] connormanning commented on #8597
A workaround here would certainly be awesome, as even 2 years after this ticket was filed, WEBGL_draw_buffers is still [not supported](https://caniuse.com/mdn-api_webgl_draw_buffers) on Android (neither on native Chrome nor Firefox for Android).  I see that there is a workaround for EXT_frag_depth [here](https://github.com/CesiumGS/cesium/blob/main/Source/Shaders/Builtin/Functions/depthClamp.glsl#

[2022-04-19 14:37] #10304 closed

[2022-04-19 21:49] lilleyse commented on #10305
I wonder if this is fixed in the experimental i3dm loader. @SunnyBily could you try the `enableModelExperimental` option?

[code]

[2022-04-20 01:41] SunnyBily commented on #10305
Thank you @lilleyse and @j9liu , but the lines in i3dm are still not being loaded correctly by experimental option. Here is a sandcastle that I mentioned in the problem description.
[I3DMLines.zip](https://github.com/CesiumGS/cesium/files/8517515/I3DMLines.zip)

[2022-04-20 01:47] andy259 commented on #10303
I don't understand why it's designed this way.

[2022-04-20 05:11] zhangchn commented on #5026
The performance issue in SCENE2D could NOT be alleviated by using MapMode2D.ROTATE.

[2022-04-20 11:32] lilleyse commented on #10305
@SunnyBily it's possible you're using an older version of CesiumJS that doesn't support the option. It seems to be working for me on `main`.

![image](https://user-images.githubusercontent.com/915398/164221441-dfd62728-07bc-4345-8364-1219f03917f8.png)

[2022-04-20 11:45] lilleyse commented on #10305
One other thing to note is that the experimental option isn't available in ion, but once the experimental loader is ready you'll see the i3dm loaded correctly in ion. This will happen around July. See https://github.com/CesiumGS/cesium/issues/9520 for the roadmap issue.

[2022-04-20 12:56] ggetz commented on #10303
`enableCollisionDetection` is working as an on/off switch for all camera limits, including minimum zoom, maximum zoom, and collision with terrain.

Could you describe your use case in more detail? There's been some interest in taking a look at the camera API in general to make it easier to use, and knowing more could help that effort.

[2022-04-20 13:01] ggetz commented on #10283
Closing this due to inactivity.

[2022-04-20 13:01] #10283 closed

[2022-04-20 15:45] sanjeetsuhag commented on #5938
Bumping this issue since taking screenshots is an important part of the dev process and this seems like it could be useful feature for end users too.

Currently, I am using this snippet, and based on offline discussion, a lot of other CesiumJS developer use a similar snippet:

[code]

This has come up several times on the community forum:
- [Cesium Screenshot service/api](https://community.cesium.

[2022-04-20 18:32] ebogo1 opened #10308 "Ideas for extra Sandcastle tools"
We've had internal talks about ideas for a Sandcastle 2.0 but recently there have been a couple ideas for improvements that could maybe me added to the current Sandcastle.

- A screenshot tool for capturing canvas contents (in the past I've used [this Sandcastle](https://sandcastle.cesium.com/#c=bZBBT8MwDIX/itXLOmlKxZmuQozjJCQGnHrxEq+LSJ0qcToNxH8nXXdAsBwi+dnve05GDDBaOlGANTCdYEPRpl69X7SyLfSl3ngWtEy

[2022-04-20 18:41] ptrgags commented on #10308
Another idea is to add a button to capture the current camera parameters and print them to the console for quickly setting up a scene with a fixed view. [This Sandcastle](https://sandcastle.cesium.com/#c=fVNNi9swEP0rgynYgSC39NbEoSUUeljo0oWefFhFnmxEZClIY2ezi/97R3K+drP0ZM2892ZGb+Reeug17tFDBRb3sMSgu1b8TbkiVylcOktSW/T5ZFbbnjVBoUWWjFqRQoZGUEn+hAs6xgyPBxGQfhB5veoIi5zkStsGn/Mp5J+5AZQl3HcEa6e6AM4CbfBY8lzB

[2022-04-20 19:03] ggetz opened #10309 "Should webgl validation be run as a step in the release process?"
Running tests with webgl validation used to be a part of the [release process](https://github.com/CesiumGS/cesium/wiki/Release-Guide), but due to [webgl validation taking significantly longer to run](https://github.com/CesiumGS/cesium/issues/6570) and [inconsistent results across browsers](https://github.com/CesiumGS/cesium/issues/3888), it had not been enforced. Is it worth looking into improving

[2022-04-21 01:19] andy259 commented on #10303
Thanks @ggetz
In my case,my scene is a small area and I have some model in the underground.
So,I both limited user maximum zoom distance and user can go undergound the globe.

[2022-04-21 04:02] SunnyBily commented on #10305
@lilleyse  Hi, I updated the latest version of CesiumJS, but I still can't get the expected result.
I notice that you used tileSet0, but the root tileSet of the sample model is manifest.json. When I use manifest.json as the root tileSet with experimental option, nothing is displayed.
![企业微信截图_16505030154602](https://user-images.githubusercontent.com/36740211/164362351-c08f5714-bb2d-4fbf-824a-e311c

[2022-04-21 12:27] javagl opened #10310 "Support for array uniforms in custom shaders"
Custom shaders allow defining uniforms, as shown in the [example in the CustomShaderGuide](https://github.com/CesiumGS/cesium/tree/fc9b89e840041adf1f9f57341013a45b4f45aa1c/Documentation/CustomShaderGuide#constructor). The types that are supported for these uniforms are listed in the [`Cesium.UniformType`](https://cesium.com/learn/ion-sdk/ref-doc/global.html#UniformType). One could consider extendi

[2022-04-21 13:44] #10134 closed

[2022-04-21 13:44] #10200 closed

[2022-04-21 19:49] mwaddell opened #10312 "EllipsoidGeodesic ignores height [Math]"
The EllipsoidGeodesic's interpolateUsingFraction and interpolateUsingSurfaceDistance methods ignore the heights of the starting and ending cartesian.

If I calculate a point 30% of the way from (-80,-30,1000) to (-20,-10,2000), I would expect to get something near (-47,-33, 1300) but instead the height is always zero.

Sandcastle example:
 https://sandcastle.cesium.com/#c=lZDfS8MwEID/ldCnKl3abS+C3

[2022-04-21 20:00] ptrgags opened #10313 "Cleanup npm script names"
Looking through the scripts in `package.json`, a lot of the tasks have inconsistent naming or have misleading names

To point out a few issues:

* some tasks use `kebab-case` (e.g. `prettier-check`) while others use `camelCase` (e.g. `buildApps`). We should pick a consistent style. (Personally I find `kebab-case` easier to type on the command line)
* `generateDocumentation` seems needlessly long,

[2022-04-21 20:09] ebogo1 commented on #10262
This looks to be an issue with Safari's security settings - there's an [open issue](https://github.com/karma-runner/karma-safari-launcher/issues/29) in the `karma-safari-launcher` repo and one [comment](https://github.com/karma-runner/karma-safari-launcher/issues/29#issuecomment-458032982) links to a bug report where Apple stated this was intended behavior.

There are also a couple plugins mention

[2022-04-21 21:01] #3911 closed

[2022-04-22 02:56] arelenglish commented on #9827
I can reproduce this issue on all browsers on iOS. Setting orderIndependentTranslucency to false resolved the issue for me as well.

[2022-04-22 12:21] abigstupidbear opened #10315 "support both 2d and 3d scene"
can  cesium support two scenes in two divs？
I want the two views ,one is 2d ,the other one is 3d. and the entities are drawn same.just one is other's mirror.
thanks for your reply.
like this ![image](https://user-images.githubusercontent.com/29300501/164714677-68457d7d-47ec-417c-99b4-e08770ddff53.jpeg)

[2022-04-22 12:30] abigstupidbear commented on #10315
![image](https://user-images.githubusercontent.com/29300501/164714593-f1bacc21-8aa4-46ee-a345-ed82f29b9525.jpeg)

[2022-04-22 13:16] ggetz commented on #10262
The alternative launchers don't seem to be very popular on npm. Since we've returned the browser test runner, it's possible to run the unit tests on Safari without karma. I'm thinking we treat this as blocked until that issue in `karma-safari-launcher` is fixed.

[2022-04-22 13:38] mwaddell commented on #10312
Our use case is that we are drawing polylines and we want a way to position a billboardgraphic at the midpoint of each line segment to visually label each line with a unique icon.  Some of these lines are between two points on the ground (so using the geodesic's interpolate fraction works just fine) but others are between different elevations, so the icon is in the wrong place.

[2022-04-22 13:44] j9liu commented on #10315
Hello,

Yes, you can support the scene in two different viewers. We have a [Sandcastle](https://sandcastle.cesium.com/?src=Multiple%20Synced%20Views.html) that demonstrates this functionality.

For future reference, this kind of question is better suited for [Cesium Forum](https://community.cesium.com/), where both members of the community and team developers can help. We use GitHub for bug-tracki

[2022-04-22 13:44] #10315 closed

[2022-04-22 13:45] ggetz commented on #10312
OK, and those heights are relative to the ellipsoid surface, right? I think in that case, you can [linearly interpolate](https://cesium.com/learn/cesiumjs/ref-doc/Math.html?classFilter=math#.lerp) between the two heights, or take the average since you're looking for the midpoint specifically.

[2022-04-22 13:51] mwaddell commented on #10312
Ok, thank you.

[2022-04-22 13:51] #10312 closed

[2022-04-24 01:09] crithes opened #10318 "加载的3dtiles的数据模型问题"
请问加载的3dtiles的数据模型，开始只能看到部分模型，近了才能看到更多，请问这个问题怎么解决的

[2022-04-24 01:10] crithes commented on #10301
已经解决，降级到1.68.0就行了

[2022-04-25 06:57] eliayng opened #10319 "Cesium map due to transfrom caused map offset, click inaccurate problem"
Cesium map due to transfrom caused map offset, click inaccurate problem.

Now change the vue file path:/cesium/Source/Core/ScreenSpaceEventHandler.js

Change the getPosition method inside as follows：

function getPosition(screenSpaceEventHandler, event, result) {
  var element = screenSpaceEventHandler._element;
  var fa  =  element.offsetWidth/element.getBoundingClientRect().width;
  var fa1 =  e

[2022-04-25 13:08] ggetz commented on #10301
OK. `Property.getValueOrClonedDefault` is a private function, so forward compatibility is not guaranteed.

[2022-04-25 13:08] #10301 closed

[2022-04-25 13:35] ggetz commented on #10319
Hi @eliayng. Could you please explain this in more detail?

Could you include a [Sandcastle example](https://sandcastle.cesium.com/) which duplicates it?

[2022-04-25 14:25] lilleyse opened #10320 "Add support for MAXAR_content_geojson 3D Tiles extension"
The [MAXAR_content_geojson](https://github.com/erikdahlstrom/3d-tiles/tree/MAXAR_content_geojson/extensions/MAXAR_content_geojson) extension allows a tileset to use [GeoJSON](https://tools.ietf.org/html/rfc7946) directly as tile content. This initial implementation should be marked as `@experimental` with certain constraints specific to the OWT WFF use case:

* CRS is always assumed to be EPSG:497

[2022-04-25 16:00] ptrgags commented on #10320
For existing examples of transcoding other formats to `ModelComponents`, see some of these classes:

* `B3dmLoader` and `B3dmParser` -- this one is simpler since it can use `GltfLoader` so it focuses more on adding the metadata
* `PntsLoader` and `PntsParser` -- this one produces a `ModelComponents` from scratch.

[2022-04-25 19:58] j9liu commented on #10284
This would also be useful for animation with morph targets, since the weights are packed per keyframe. It gets even more cumbersome to pull the data when `CUBICSPLINE` interpolation is involved, since there are three values per morph weight per keyframe.

[2022-04-25 20:55] j9liu opened #10321 "Dequantization doesn't work for `AnimatedMorphCube`"
Foudn in #10314. The `AnimatedMorphCube` model loads and animates as expected in its normal glTF format, but its quantized version renders much smaller.

| Normal | Quantized |
| -------- | ------------ |
| ![image](https://user-images.githubusercontent.com/32226860/165172626-15edeee9-d972-49f2-9b56-e9b0ba915994.png) | ![image](https://user-images.githubusercontent.com/32226860/165172719-67fb7bfa-

[2022-04-25 21:04] j9liu opened #10322 "Detangle `ModelExperimentalAnimation` time-handling from `ModelExperimentalAnimationCollection`"
In #10314, `ModelExperimentalAnimation` and `ModelExperimentalAnimationCollection` were implemented based on `ModelAnimation` and `ModelAnimationCollection` respectively. I noticed that the `update` code in `ModelAnimationCollection` relied a lot on `ModelAnimation`'s internal variables. In fact, `ModelAnimation` does no updating itself: it only acts as a set of variables that `ModelAnimationColle

[2022-04-25 21:54] TJKoury opened #10323 "iOS 15.4.1 Bug"
Sandcastle example: https://sandcastle.cesium.com/index.html?src=Partial%20Ellipsoids.html&label=Geometries

Browser: All (Safari)

Operating System: iOS 15.4.1

Materials with alpha channel appear transparent, looks like a problem with alpha blending.

I filed a bug report with Apple already, probably a good idea to follow up on your end.

[2022-04-26 09:46] delbern310 commented on #7591
any new progress?

[2022-04-26 12:59] ggetz commented on #10323
Hi @TJKoury, I think this is a duplicate with https://github.com/CesiumGS/cesium/issues/9827.

Basically, it appears to be [a WebGL regression](https://bugs.webkit.org/show_bug.cgi?id=237906) that is affecting other 3D engines as well. In this case, there's nothing we can do on our side until Apple addresses the issue.

I'll close this to keep the reports in one place, but feel free to re-open if

[2022-04-26 12:59] #10323 closed

[2022-04-26 18:17] ptrgags opened #10326 "Animation + CustomShader ergonomics"
What level of support should we have for animations in CustomShader? Should we add more struct fields for ease of use in CustomShader? Or should it be up to the glTF asset author to provide texture coordinates/metadata that are designed with procedural texturing in mind?

While testing #10314, I tried making [this local sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=xVf/T+s2EP9XrP6

[2022-04-26 18:28] ptrgags commented on #10326
Hm, here's another case where the data of the model can make a big difference on procedural shading. This milk truck model uses animations to rotate the wheels. In this case, `positionMC` isn't affected by morph targets/skins, just the node transformation hierarchy. So even the "unmorphed position" wouldn't help here.

![image](https://user-images.githubusercontent.com/8422414/165366826-4ad20e2f-0

[2022-04-26 20:20] #6609 closed

[2022-04-26 20:25] j9liu opened #10327 "Support numbers and quaternions in `HermiteSpline`"
#10314 required me to change `HermiteSpline` in order to have `CUBICSPLINE` interpolation for rotation and morph weights. The glTF is expected to supply the in- and out-tangents, so only the constructor and `evaluate` were changed. However, I didn't get to update the spline generation functions (e.g. `createNaturalCubic`). So it didn't feel right to include `Number` and `Quaternion` in the documen

[2022-04-27 01:23] chris-cooper opened #10328 "Compact Cesium math library"
Hi,

At [Propeller](https://www.propelleraero.com/) we've found that the battle tested Cesium math classes can be useful for various applications outside of a Cesium viewer.  e.g. NodeJS server side computation and rendering, in-house libraries that require some vector math etc.  Pulling in Cesium as a dependency can be reasonably heavy (currently 90MB) which inevitably provides a lot of functiona

[2022-04-27 01:56] Lemonjay opened #10329 "requestWebgl2 Bug Cesium 1.92"
![image](https://user-images.githubusercontent.com/9245295/165422787-864bbd69-fd94-4c34-9072-3ca7f6927485.png)

[2022-04-27 13:29] ggetz commented on #10329
Hi @Lemonjay,

I'm unable to duplicate this error. Could you please provide more information about your system? It helps if you visit https://webglreport.com/ and take a screenshot.

[2022-04-27 13:30] onsummer commented on #2524
Consider typescript? I transform some source code to typescript version here [onsummer/cesium-ts](https://github.com/onsummer/cesium-ts)

[2022-04-27 14:46] Lemonjay commented on #10329
This package of the Cesium 1.92 is which I build from the recent updates.  It may be a bug from Cesium recent update。

[2022-04-27 15:43] ptrgags opened #10331 "Performance stats: `ModelExperimental` vs `Model`"
Now that the `ModelExperimental` implementation is pretty far along, we wanted to start measuring its performance compared to the old `Model`. This issue is to record the results.

## Testing Loading Time

To start simple, I performed a test of loading times for a few tilesets to cover some common cases.

* Data Used:
  * CDB San Diego model ([EULA](https://github.com/CesiumGS/cdb-to-3dtiles/blob/

[2022-04-27 15:52] ggetz commented on #10329
Ah I see. Thanks @Lemonjay. I can reproduce this in `main`.

@lilleyse Could this be due to https://github.com/CesiumGS/cesium/pull/10063?

[2022-04-27 16:11] lilleyse commented on #10329
It's possible... what shader is the error coming from?

[2022-04-27 16:22] ggetz commented on #10329
`GlobeFS.glsl`

[2022-04-27 18:16] ebogo1 commented on #10329
Ah, I noticed this in the atmosphere PR and mentioned it offline but I didn't realize at the time that the new shaders would be on by default. I can reproduce this on `main` but not on the live sandcastle.com site.

[2022-04-27 18:16] lilleyse commented on #10329
Pushed a fix here: https://github.com/CesiumGS/cesium/pull/10333

[2022-04-27 18:35] #10329 closed

[2022-04-27 18:40] lilleyse commented on #9934
It would be great to fix some of the long running projection issues:

https://github.com/CesiumGS/cesium/issues/5112
https://github.com/CesiumGS/cesium/issues/5955

We'll need to keep the positions in memory and generate a new vertex buffer containing the projected positions. This would be similar to how indices are handled in https://github.com/CesiumGS/cesium/pull/10332. For further optimization

[2022-04-28 03:11] chris-cooper commented on #10328
Thanks @ggetz
https://community.cesium.com/t/is-there-interest-in-a-compact-cesium-math-library/18366

[2022-04-28 16:03] sparsematrix commented on #9035
Remaining issues appear to be covered by https://github.com/CesiumGS/cesium/issues/9827 and setting orderIndependentTranslucency to false does appear to resolve the issue.

[2022-04-28 16:03] #9035 closed

[2022-04-29 13:57] IanLilleyT commented on #10256
I like this. And if the event has no listeners, it could throw a `DeveloperError`, like the pseudocode:

[code]

[2022-04-29 14:30] mramato commented on #9827
@ggetz Assuming this bug only applies to iPad/iOS and not desktop Safari, that sounds like a sub-par solution.  Are we sure we can't use [navigator.platform](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/platform) to detect iPad/iOS specifically?

[2022-04-29 14:57] j9liu opened #10335 "Improve the math for `BoundingSphere.fromBoundingSpheres`"
Noted in #10244, `ModelExperimental`'s bounding spheres are really inaccurate compared to `Model`. The main difference is that `Model` uses `BoundingSphere.fromCornerPoints` to compute well-fitting bounding spheres. `ModelExperimental` does this for each of its individual primitives, but uses `BoundingSphere.fromBoundingSpheres` to create the bounding sphere for the entire model.

Looking at the m

[2022-04-29 14:59] ggetz commented on #9827
It looks like `navigator.platform` will allow us to distinguish iPad/iOS. Thanks!

[2022-04-29 15:14] abhimonk opened #10336 "entityCollection.removeAll on 20000 points added as two 10k batches is 10 times slower than calling removeAll on 20000 points added as a single 20k batch"
When I add 20k points as entities to the viewer all at once and call "viewer.entities.removeAll", it takes a few seconds or so to finish removing and rendering.
However, if I add 10k points as entities, wait, and add another 10k points, "viewer.entities.removeAll" takes about 30 seconds to finish removing and rendering.

Reproducing with the below sandcastle example:
1. Open the sandcastle example

[2022-04-29 15:58] #9066 closed

[2022-04-29 17:30] ptrgags opened #10338 "Rendering issues when rendering OSM buildings with ModelExperimental"
In [This forum thread](https://community.cesium.com/t/modelexperimental-rendering-buildings/18347/4?u=ptrgags), a [Sandcastle](https://sandcastle.cesium.com/#c=xVj/b9s2Fv9XHnzDLAOuFMfpevWc4JovW4ull2IOth/q4EZLtE2EJj2Scurr/L/fIynKUqw43trhigKRKL7P+/B9p5ME3soHMBJyTcHMKfQv4ZZxqmFk1pyJGXAiZjmZUbtJ4xoFJjK2YllOOEwpMbmiuguc3VOY5IxnKKTjsUiSXQi9pCmbspQYJsUA5sYs9SBJZszM80mcykVyQTXLFz+Okn72wlgeiVGUJgvCRFKTTgrw

[2022-05-02 16:49] davenquinn commented on #2132
Hi @ebogo1, and thanks for looking at this. I agree that the size of Maplibre GL is a bit of a problem here. Right now the `cesium-vector-provider` module references a full/compiled version of Maplibre, but that is because I haven't figured out the right strategy for referring to things directly from their source code (a large part of the problem here is replicating their wasm compilation pipeline

[2022-05-02 20:44] j9liu opened #10340 "Better handling of `ModelExperimental` indices in WebGL1"
This came up with #10332 being merged.

WebGL1 doesn't have the ability to get data from a buffer on the GPU. Therefore, the index buffer must be stored in CPU memory to compute new indices for the wireframe. However, this is unideal for users who won't ever use `debugWireframe` for their purposes.

There are two possible solutions:

1. **Find a way to store the index buffer's resource loader, and

[2022-05-02 20:58] lilleyse commented on #10340
Solution 1 is complicated because we might need to reload the entire glTF if the index buffer was embedded in the glTF.

I prefer option 2. Maybe it's ok if the name is something specific like `enableDebugWireframe`. Really it's all about the documentation being super clear about what's going on.

[2022-05-02 21:03] ptrgags commented on #10340
I think that option 2 makes the most sense here.

I think I like the more specific `enableDebugWireframe` since `debug: true` would be confusing.

My only concern is if we need to do other things like this in the future, what's the cleanest convention for the parameters? `ModelExperimental/Cesium3DTileset` already have a huge number of parameters as it is.

[2022-05-02 22:05] #10244 closed

[2022-05-03 06:42] UniquePanda opened #10342 "Label background is broken in 1.93 (unwanted gradient)"
Hi all,
We've just updated from 1.92 to 1.93 and found out that our labels (Cesium entities) now have some kind of gradient added to their background. As I wasn't able to find any related changelogs or code changes, I guess this is a bug?

You can see it in action in the attached sandcastle and in this screenshot:
![image](https://user-images.githubusercontent.com/3686982/166413213-d8f245d0-2ffc-4

[2022-05-03 12:01] anne-gropler commented on #10342
I confirm this happens on Firefox, too. (Windows 10)

[2022-05-03 12:05] GatorScott commented on #10342
Looks good though!

[2022-05-03 12:44] ggetz commented on #10342
Thanks for the report @UniquePanda! I can replicate the issue. This is a bug, not an intentional change

[2022-05-03 17:59] ephjos opened #10345 "Regression introduced by switch to native promises"
As part of https://github.com/CesiumGS/cesium/pull/10149, when was removed in favor of native promises. In some places, this now introduces a race condition. One place where this is obvious is `Cesium3DTileStyle`:

https://github.com/CesiumGS/cesium/blob/d2495353101d99965e5e042aa88db2e2daf79c52/Source/Scene/Cesium3DTileStyle.js#L85-L97

In the else branch (line 90) we use `Promise.resolve` to crea

[2022-05-03 19:18] j9liu opened #10346 "`ModelExperimental` -> `Model` Roadmap"
One of the major items on the 3D Tiles Next Roadmap (#9520) is bringing `ModelExperimental` up to feature parity with `Model`, so that it can entirely replace it. In other words, we aim to remove the current `Model` class and any related files, and rename `ModelExperimental` to `Model` without any hiccups.

This issue goes into more detail than the overall roadmap and will be updated as necessary.

[2022-05-04 09:57] pixelschubs commented on #9024
@ggetz any updates on this one? :)

[2022-05-04 10:18] kring commented on #10345
I ran into this exact problem when helping my old team upgrade Cesium, and implemented a fix:
https://github.com/TerriaJS/cesium/commit/1fd27c5d7c9e542abf83bf9e9fd900b9468d9b69#diff-1517c5b6881be5d0d9d1e7537153137ca8ea476adf92ec450ec165bfac53718b

I suspect a solution like this could be used more widely, and abstracted better. Checking if something is already a Promise by checking `typeof foo.then

[2022-05-04 10:20] kring commented on #10345
Example of checking for `.then` in that same commit:
https://github.com/TerriaJS/cesium/commit/1fd27c5d7c9e542abf83bf9e9fd900b9468d9b69#diff-0f3818eddd95010bfc4edeff10249d3f9e6e11f9aae308611d198a062a8fcd89R726

[2022-05-04 12:54] ggetz commented on #9024
@pixelschubs Not yet. I would recommend keeping an eye on https://github.com/CesiumGS/cesium/issues/9473. We'll post any updates there.

[2022-05-04 13:14] ggetz commented on #10345
At least in this case,  I think we could get a lot of milage out of removing the `string` and `Resource` options from the constructor and having a `fromUrl` or similar static function which resolves the url before constructing the `Cesium3DTileStyle`. That would remove any need to have a `readyPromise` at all, let us treat a style as always synchronous, and would make a lot of our specs cleaner.

[2022-05-04 14:47] Takieddinex opened #10347 "Load 3D model (glb) in Cesium"
Hello !

I am trying to load my model but it is very far away and Cesium cannot display it.
I have tried all the gltf loading options but I can't get it to load.

Thank you

https://fromsmash.com/glb-model

![image](https://user-images.githubusercontent.com/95845810/166706920-42dfa732-e22f-4ca3-a70a-b095fda0b374.png)

![image](https://user-images.githubusercontent.com/95845810/166707030-af3c7a50-b

[2022-05-04 15:56] #10340 closed

[2022-05-04 15:59] j9liu commented on #10347
Hi @Takieddinex,

Have you tried using `viewer.camera.flyToBoundingSphere(model.boundingSphere)` after you load in the model? You'd have to put this in the model's `readyPromise` to guarantee that the `boundingSphere` is defined.

For future reference, this kind of question is better suited for [Cesium Forum](https://community.cesium.com/), where both members of the community and team developers c

[2022-05-04 16:07] j9liu opened #10349 "Update `IndexDatatype.createTypedArray` to create Uint8Arrays"
Currently `IndexDatatype.createTypedArray` only outputs `Uint16Array` and `Uint32Array`. This caused a bug in #10344 because it returned a `Uint16Array` for uint8 indices, which was too big for the `getBufferData` function. The fix itself is easy but it causes a lot of unit tests to break, which will take more time to fix.

Once this function is changed to return `Uint8Array`, the manual check in

[2022-05-04 19:59] lilleyse commented on #10346
This is very exciting! Just a few more things to add from me:

* **glTF 1.0**: Is the custom shader architecture flexible enough that it could allow glTF 1.0 models to still work? The main model we're concerned about is https://sandcastle.cesium.com/?src=3D%20Tiles%20BIM.html. It may not be easy to find a replacement. We need to put in a day or two to come up with a plan here.
* If we decide to de

[2022-05-05 07:26] wozaicik opened #10352 "Are there any books on cesium？"
Are there any books on cesium，i only find one

[2022-05-05 07:28] Takieddinex commented on #10347
Hey ! @j9liu

**Thank you** for your feedback, i tried what you suggested but it still doesn't work. you can look at my code if you can.

However, Cesium Forum is not active, I had asked the question but I did not get any feedback.

<script>
                  Cesium.Ion.defaultAccessToken = '';
// Initialize the Cesium Viewer in the HTML element with the `cesiumContainer` ID.
    const viewer = ne

[2022-05-05 07:57] katSchmid commented on #10352
https://www.taylorfrancis.com/chapters/mono/10.1201/9781439865583-7/globe-rendering-patrick-cozzi-kevin-ring

[2022-05-05 12:40] ggetz commented on #10352
Hi @wozaicik, we have a list of all our [publications and presentations on our website](https://cesium.com/learn/presentations/).

Cesium is a big project, so we use GitHub for feature requests and bug tracking exclusively. Next time, please ask questions on the [Cesium Forum](https://community.cesium.com/), where there are members of the community and developers from the team who can help. 😃

[2022-05-05 12:40] #10352 closed

[2022-05-05 13:32] anne-gropler opened #10353 "Viewer camera frustum is not initialized with documented default values for near and far"
Sandcastle example: https://sandcastle.cesium.com/#c=zVRNS8NAEP0rQy6mEDbtwUuNRRA9iFhR8JTLZjNpFze7ZT9Sq/jf3W1qm9qI9SC4h5CZ997sMPMSpqSx0HBcooZzkLiESzTc1eRpnYvziK3jSyUt5RJ1Hg3OcplL5pVKIBFqFt88Tu+IsZrLGa9WcVuOMFqjpqTSzlhXD4KsK+plkUo1xxGpWSCzD9RyFQRpClcvIYMlWAUFwigBwZ8RSsVcjTIAXAI2qFdw3RYJGMRIZiSBe9TrirzBDTpIoHAWuIEhGR3TkkSq+3s5HW7OQU/bO0bD7TlqTu1V+9STPJcnu7SFzpD8dn8c5Nmnzm/hW77HPK8X23fQ4UTjt1yCP6H8ODy

[2022-05-05 17:15] ebogo1 opened #10354 "`ModelExperimentalSpec` - "renders glTF with morph targets" fails"
I'm seeing this failure locally on macOS/Chrome on `main` -

`Error: Expected Uint8Array [ 0, 0, 255, 255 ] not to equal [ 0, 0, 255, 255 ].`

[2022-05-05 17:47] ggetz opened #10355 "Remove Cesium3DTilesStyle ready, readyPromise, and constructor option in 1.96"
https://github.com/CesiumGS/cesium/pull/10348 deprecated `Cesium3DTilesStyle.ready`, `Cesium3DTilesStyle.readyPromise`, and `Resource` or `string` parameters for the `Cesium3DTilesStyle` constructor.

[2022-05-05 17:50] j9liu commented on #10346
Should we consider adding a `url` option to the `ModelExperimental.fromGltf` constructor? `Model.fromGltf` takes a `url` whereas `ModelExperimental.fromGltf` takes `gltf`, so this will break things when we make the switch from `Model` to `ModelExperimental`.

[2022-05-05 17:52] #10342 closed

[2022-05-05 19:58] #10345 closed

[2022-05-05 20:06] abhimonk commented on #10336
Thanks for the response, just tried point primitives and they seem significantly faster both to plot and to clear. I'll reach out to the forum if I have any other questions.

Also for anyone else that wants to pursue the entity workflow for the case I described, I found what seems to be a workaround: Adding the points to your own custom data source and then removing that data source instead of cal

[2022-05-06 02:53] #10320 closed

[2022-05-06 06:28] suryakumara commented on #10167
Hi, I got same warning.

[2022-05-06 07:45] SunnyBily commented on #10305
May I ask is there any new progress on this issue? @lilleyse

[2022-05-06 11:31] engineerhe opened #10358 "the version 1.92 Cesium3DTileset can not be pick or drill pick"
on the Cesium3Dtileset , these operations ,viewer.scene.pick(positon) or viewer.scene.drillpick(positon)  will return undefined

[2022-05-06 13:21] ggetz commented on #10319
I'm closing this due to inactivity. @eliayng If you have more info, please feel free to re-open this issue. Thanks!

[2022-05-06 13:22] ggetz commented on #10318
I'm closing this due to inactivity. @crithes If you have more info, please feel free to reopen the issue. Thanks!

[2022-05-06 13:22] #10318 closed

[2022-05-06 13:22] #10307 closed

[2022-05-06 13:25] ggetz commented on #10353
Thanks for the detailed writeup @anne-gropler! That does seem inconsistent at the least.

@lilleyse Do you know if there is a specific reason for the discrepancy?

[2022-05-06 13:42] engineerhe commented on #10358
`let viewer = new Viewer("container");
viewer.scene.primitives.add(new Cesium.Cesium3DTileset({
     url : 'http://127.0.0.1:9527/qichai/wtzx_tiles/tileset.json'
}));
this._screenSpaceEventHandler = new ScreenSpaceEventHandler(viewer.scene.canvas);
        this._screenSpaceEventHandler.setInputAction((movement) => {
            const positon = movement.position || movement.endPosition;

[2022-05-06 16:09] lilleyse commented on #10353
The `0.1` and `10000000000` values come from [here](https://github.com/CesiumGS/cesium/blob/c4946f24a7419a3c6e28f297533bb573096c352f/Source/Scene/Scene.js#L701-L704). If the scene supports log depth it will use those values instead of the `PerspectiveFrustum` defaults.

[2022-05-07 06:54] Gu-Miao opened #10359 "Type defination of `Camera.prototype.setView()`"
Version: 1.93

In `setView()`, there are already handles for default value of heading pitch and roll:

[code]

But, the function signature is:

[code]

It should be all optional, like `Partial<HeadingPitchRollValues>`,

[2022-05-07 07:00] Gu-Miao commented on #10359
A PR for this: #10360

[2022-05-08 11:41] #10358 closed

[2022-05-09 01:31] suryakumara commented on #10167
![image](https://user-images.githubusercontent.com/51102773/167325801-9e0f57dc-1931-46b6-9265-e620ef479fc2.png)
@ebogo1
I use Mac M1, MacOS Monterey. Chrome Version 101.0.4951.54

[2022-05-09 20:03] lilleyse commented on #10305
@SunnyBily It looks like the batch table is invalid. I see the property `edgeLineIndex` but it's neither a valid batch table JSON property or batch table binary property. See [BatchTable](https://github.com/CesiumGS/3d-tiles/tree/main/specification/TileFormats/BatchTable#json-header) for details on the batch table format.

<img width="688" alt="Screen Shot 2022-05-09 at 3 59 07 PM" src="https://us

[2022-05-10 02:14] suryakumara commented on #10167
Solved after update Cesium version. Thanks !

[2022-05-10 03:25] luqiudi opened #10362 "cant load 3dtileset tileset.json when upgrade to 1.82"
when i try to load my b3dm file it display error:
A 3D tile failed to load: http://localhost:3001/haerbin/Tile_-008_-006/Tile_-008_-006.json
Cesium3DTileset.js?v=f4cc4461:2235 Error: Request has failed.
Cesium3DTileset.js?v=f4cc4461:2234 A 3D tile failed to load: http://localhost:3001/haerbin/Tile_-007_-006/Tile_-007_-006.json
Cesium3DTileset.js?v=f4cc4461:2235 Error: Request has failed.
Cesium3DT

[2022-05-10 11:04] SentretC opened #10363 "Destroying the viewer when 3D tileset is being loaded results in error"
Simply call `viewer.destroy()` soon (directly or after a short timeout) after `viewer.scene.primitives.add(Cesium.createOsmBuildings())`, and check the console.

I encountered this problem because I'm using React and it can [automatically unmount and remount every component](https://reactjs.org/docs/strict-mode.html#ensuring-reusable-state) to prepare apps for a future feature.

Not a big problem

[2022-05-10 11:45] lilleyse commented on #10363
@SentretC I believe this is being fixed as part of https://github.com/CesiumGS/cesium/pull/10361. @ggetz can you confirm?

[2022-05-10 12:48] ggetz commented on #10363
Yes, in https://github.com/CesiumGS/cesium/pull/10361 there is no error in the console.

[2022-05-10 13:18] j9liu commented on #10362
Hi @luqiudi,

I'm unable to access the your .b3dm files, the link doesn't work for me. Can you try using the [3D Tiles validator](https://github.com/CesiumGS/3d-tiles-validator/tree/main/validator) to validate the tileset?

[2022-05-10 19:37] malitherl commented on #10349
Hello, may I be assigned to work on this issue?

[2022-05-10 19:44] j9liu commented on #10349
Hi @malitherl,

Thanks for your interest in contributing! For smaller issues (usually labeled "good first issue"), there's no need to ask for permission. You can work on the issue and open a pull request for review when ready.

If you have any questions, you can comment on the issue or on the PR itself if it's far enough along to open. There's also a lot of standard documentation in [the Contribut

[2022-05-10 20:08] lilleyse commented on #10362
@luqiudi I see that some of the images use the old Crunch texture format. Support for this was removed in CesiumJS 1.83. The newer alternative is [KHR_texture_basisu](https://github.com/KhronosGroup/glTF/tree/main/extensions/2.0/Khronos/KHR_texture_basisu) which CesiumJS supports.

[code]

Is it possible to reprocess your data without texture compression?

[2022-05-11 00:12] Spinksy commented on #7965
Hi, just found this feature request after posting a similar request in the Cesium community forum - https://community.cesium.com/t/selectionindicator-style-cesium-ion/18382/2

We use Cesium Ion which replaces the 'standard' selection indicator, which we would prefer to use. I would prefer not to avoid making our own changes to the constructor, as we will need to maintain this whenever we upgrade C

[2022-05-11 07:34] Annie834 opened #10365 "gltf show on gltfviewer and vscode with no errors but can't show on cesium"
i create a gltf with tinygltf but it can't read by cesium,but the gltf shows on every platform with no errors.
more details about my question: https://github.com/gwaldron/osgearth/issues/2063
i am so grateful if someone could help.

my gltf file link and the extratio code :  https://pan.baidu.com/s/1j_yuGRUsZJ3VKH2WmI2k7w?pwd=jgzm         Extraction code: jgzm

Browser: google

Operating System: w

[2022-05-11 07:35] PZD2937 opened #10366 "viewer.scene.screenSpaceCameraController.inertiaTranslate invalid"
I want to disable inertial animation for swipe action
I set viewer.scene.screenSpaceCameraController.inertiaTranslate = 0,but it didn't work as expected

[2022-05-11 13:25] ggetz commented on #10365
Hi @Annie834, would you be able to check the validity of the model with https://github.khronos.org/glTF-Validator/ and post the results?

[2022-05-12 00:30] islovingness opened #10367 "Under different perspectives, the Feature of B3dm cannot be picked"
Hi there,

I generated B3dm and showed it in version 1.91.
I changed the color of the Feature through the following code,

`
tileset.tileLoad.addEventListener(function (tile) {
        // console.log(tile);
        var content = tile.content
        var len = content.featuresLength
        for (let i = 0; i < len; i++) {
            var feature = content.getFeature(i)
            // console.log(fe

[2022-05-12 01:12] PZD2937 commented on #10366
oh, yes! now the Works as I expected, thank you so much.

[2022-05-12 01:12] #10366 closed

[2022-05-12 02:44] Annie834 commented on #10365
hi @ggetz thanks for replying.  here is the resultf of glTF-Validator，i check it before posted my question , it showed no errors

The Khronos Group
glTF Validator
Select glTF or GLB asset or drop it here.

The asset is valid.

Alternate glTF validation methods available:
Command-Line | NPM | VS Code Extension
Validation is performed locally in your browser. Submitted assets are not uploaded.

{

[2022-05-12 02:47] abigstupidbear opened #10368 "clampMode has many bugs，but not solve yet"
I found clampMode has many bugs，for example：
1、https://github.com/CesiumGS/cesium/issues/9052#issue-663282654
2、https://github.com/CesiumGS/cesium/issues/8690#issue-583149248
3、https://github.com/CesiumGS/cesium/issues/5042#issue-210592850
4、https://github.com/CesiumGS/cesium/issues/8307#issue-510262740
etc...
I think it's an important function in cesium,but now these bugs are not solved!
many tim

[2022-05-12 02:57] Annie834 commented on #10365
and i post my gltf on github :   https://github.com/TRJDJHDBSHR/TestGltfFile

[2022-05-12 07:07] edeles-navagis opened #10369 "Failure to load geojson file on the map the second time, out of memory error occur"
**Description**:
A geojson file is loaded and is shown on the map on the first load.
It was removed a minute after and when re-loaded again, the datasource is loaded but it does not show in the map.
A out of memory error occur.
Sample layer loaded contains border countries of the world.

Sandcastle example:  [ Cannot re-load a geojson data source the second time around](https://sandcastle.cesium.c

[2022-05-12 09:14] zxj5470 opened #10370 "Polar hole appears when add more than one WebMecator imageryProvider."
Sandcastle example: https://sandcastle.cesium.com/#c=tZJdT9swFIb/ipUrkDZbhI4JSDsqGFpQx8Y6PooiIcc5BLf+ku2mpFX/+5waaaxwO1m+OMfve86rR2ZaOY8aDguwqI8ULNApOD6X+GbT2ykStqlPtfKUK7BFsntcqEIJ8EhSU+rn61+jYC2SJ++NOyKEYs8FOBxfMdOSND3yUjnqQQjugayWa7J6Drdd46mpv1AWNrkHr2eg+maGob3Yy6eal7fni4k87OV8wSfj/CCXlwamk9739JDT5TC9T+uW3Q17l6mR5dm9pKrmj1f4Y/3QfP20Pz5Lb+3FgT+/+3z1TQ6L5DhG105u52ab3FgbCEwsgA+Rsbb1P0mNqjcz4ongMJe

[2022-05-12 11:43] lilleyse commented on #10346
@j9liu yeah definitely. I got tripped up by this earlier today. Could you open a PR for that?

[2022-05-12 13:06] ggetz commented on #10368
Hi @abigstupidbear,

We're aware that there are quite a few 2D/Columbus view related issues. The majority of Cesium's use cases are in 3D mode, and so the 2D issues have not been as high priority.

Cesium is a big project, so we use GitHub for actionable feature requests and bug tracking exclusively. I'm going to close this issue as it's not tracking a specific bug, but please feel free to add mor

[2022-05-12 13:15] ggetz commented on #10369
Thanks for the report @edeles-navagis. It looks like we're already tracking this issue in https://github.com/CesiumGS/cesium/issues/9058. I'm going to close your issue now to keep the discussion in one place. If you have any further input on this, please post it there instead.

[2022-05-12 13:15] #10369 closed

[2022-05-12 13:15] ggetz commented on #9058
Reported in https://github.com/CesiumGS/cesium/issues/10369

[2022-05-12 13:23] ggetz commented on #10367
Hi there @islovingness. I was not able to reproduce this using our [BIM 3D Tiles example](https://sandcastle.cesium.com/?src=3D%20Tiles%20BIM.html). Would you be able to provide a sandcastle example with this 3D tileset that is causing the issue so we can take a look?

[2022-05-12 14:43] erikdahlstrom opened #10372 "tileset.debugShowUrl seems to be broken for implicit tiles"
If debugShowUrl=true when adding a tileset that uses implicit tiling, things break (no debug urls are shown for implicit tiles).

Looks like the code in cesium/Source/Scene/Cesium3DTileset.js in addTileDebugLabel needs fixing.

offending line:
      labelString += `\nUrl: ${tile._header.content.uri}`;

seems to work if replaced with:
      labelString += `\nUrl: ${tile.content.url}`;

I'll leave i

[2022-05-12 17:31] ggetz opened #10373 "Revisit CesiumJS build tooling"
Main motivations behind taking a more modern approach to the build process:
 * Bundling modules by default to improve loading performance in the browser. It's likely that this will workaround https://github.com/CesiumGS/cesium/issues/9416 which is caused by the sheer number of individual modules when we run a Cesium app.
 * Avoid manually copying over third-party dependencies
  * Preprocessing wil

[2022-05-12 18:59] lilleyse commented on #10365
By the way, I don't think this is necessarily a fault of `ModelExperimental`. The glTF just has a very large transform that may or may not be in the right coordinate system.

[code]

[2022-05-13 01:01] islovingness commented on #10367
@ggetz  Thank you for your reply!
I uploaded the 3DTiles using Ion,And you can see my problem using the Html below:

`<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.93/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.93/Build/Cesium/Widgets/widgets.css" rel="styl

[2022-05-13 06:53] erikdahlstrom commented on #10372
Sure thing

[2022-05-13 07:40] rib-pet commented on #10365
Hello @lilleyse , above issue is from [https://github.com/gwaldron/osgearth/issues/2063](url), which describes it in detail.
the coordinate of osg differentia from coordinate of glTF (GLTF uses a +X=right +y=up -z=forward coordinate system). we are sure that giving matrix  4*4 {1.0f, 0.0f, 0.0f, 0.0f, 0.0f, 0.0f, -1.0f, 0.0f, 0.0f, 1.0f, 0.0f, 0.0f, 0.0f, 0.0f, 0.0f, 1.0f } causes this issue. woul

[2022-05-13 08:17] mingliX opened #10374 "How to create a custom tilingScheme for a projection coordinate system?"
For example,EPSG:4528

[2022-05-13 09:35] abigstupidbear commented on #10368
thanks very much! I hope cesium will be better!
hope bugs will be solved at soon!

[2022-05-13 13:17] ggetz commented on #10367
Thanks for the example @islovingness!

I'm still having trouble getting `pick` to return `undefined` with the latest version of Cesium (1.93).

The tileset's boundingVolume will effect rendering and picking, yes.

Also if you're trying to adjust the tileset's transform, I think setting [`modelMatrix`](https://cesium.com/learn/cesiumjs/ref-doc/Cesium3DTileset.html#modelMatrix) is the recommended wa

[2022-05-13 13:20] #10374 closed

[2022-05-13 13:34] mramato opened #10376 "New atmosphere causes banding when combined with bloom post processing"
We have an app that has noticeable banding artifacts after upgrading to the latest CesiumJS.

![image](https://user-images.githubusercontent.com/1495196/168294498-311ff45a-cc83-49f7-bca9-21ac100f609b.png)

I tracked this back to having bloom enabled with a stepSize other than 1

[code]

![Screenshot_20220513_093214](https://user-images.githubusercontent.com/1495196/168294707-01c068b6-6d0e-465b-bb1

[2022-05-13 14:03] ephjos opened #10378 "Immediately destroying a tileset results in an error"
If a `Cesium3DTileset` is constructed and the destroyed without ever being added to the viewer or having its `readyPromise` awaited, the call to `destroy` will error with:

To see an example of this:

1. Open the following sandcastle
2. Run it
3. Open the browser devtools
4. The above error should be logged

[Sandcastle example](https://sandcastle.cesium.com/#c=bY/BSsQwEIZfJeTUwpJSFQ9utijrZUEQVDzl

[2022-05-13 15:05] ggetz commented on #10378
Thanks @ephjos, I believe this is a duplicate of https://github.com/CesiumGS/cesium/issues/10363 and is being addressed in https://github.com/CesiumGS/cesium/pull/10361. I'm going to close this to track it in one place. If you think it's a distinct issue please let me know!

[2022-05-13 15:05] #10378 closed

[2022-05-13 15:38] davenquinn commented on #2132
I will also note that one of the potential improvements to rendering will be if we can directly render into Cesium-managed canvas contexts rather than creating our own, serializing as images, and exposing in a tile provider.

This feels like a lot of hoops to jump through and is purely a function of my and previous folks’ unfamiliarity with Cesium’s internals.

[2022-05-13 15:58] sanjeetsuhag commented on #10376
I will take a deeper look into why this is happening, but as a first step, I noticed that the banding was visible with the older atmosphere too - past a certain `stepSize`. Seems like the threshold for that to visually appear is lower with the new atmosphere.

| **1.92** | **1.93** |
| - | - |
| ![1-92-Bloom](https://user-images.githubusercontent.com/5172619/168322020-f6420425-261b-4e11-9661-30da5

[2022-05-13 17:19] ptrgags opened #10379 "`ModelExperimental` Sandcastle Testing"
## ModelExperimental Sandcastles

As part of https://github.com/CesiumGS/cesium/issues/10346, I did a sweep through the old 3D Tiles and Model Sandcastles to see what happens when I set `enableModelExperimental = true` or use `ModelExperimental.fromGltf` instead of `Model.fromGltf`.

EDITED: 07/08/2022

### 3D Tiles Sandcastles

Working Sandcastles:

* 3D Tiles Adjust Height
* 3D Tiles Batch Table

[2022-05-13 18:46] mramato commented on #6542
@ggetz Can this just be closed? I assume we can remove the workaround if it's still there since Edge is now Chromium.

[2022-05-14 00:45] islovingness commented on #10367
@ggetz  Thank you for your answer!

[2022-05-14 00:46] #10367 closed

[2022-05-14 12:09] javagl commented on #10367
The bounding volume will affect many things - not only picking, but also clipping, loading/refinement, and visibility checks in general. It can be helpful to enable "debug" bounding volumes with
[code]
to see whether they are correct.

[2022-05-15 14:03] kymowang opened #10381 "npm build failed"
[code]
Im am sure the file exists and can open it by click the link in vs code terminal.
node version: 16.15.0
npm version: 8.5.5
cesium version: latest (2022/5/15)

I tried add allowEmpty option but nothing generated in `build` folder.

[2022-05-15 15:56] onsummer commented on #10381
node version: 16.14.0
pnpm version: 7.0.1
cesium version: May 12

pnpm build                                                           ─╯

[23:55:13] Using gulpfile D:\OpenWork\cesium\gulpfile.cjs
[23:55:13] Starting 'build'...
[23:55:26] Finished 'build' after 13 s

[2022-05-15 15:58] onsummer commented on #10381
After I pull cesium as latest(May 15), run build script also OK.

[2022-05-16 01:10] kteneyck commented on #5955
Any update on these issues when switching to 2D with 3D Tiles loaded into Cesium? The only way we're going to be able to support 2D is to unload and reload any tilesets we have when switching views.

[2022-05-16 06:43] Ranjan0968 commented on #8110
![image](https://user-images.githubusercontent.com/105446016/168534003-1c15abf7-4896-4729-ab5c-dd77e5b51fc4.png)
how to add cockpit like compass,speed meter

[2022-05-16 07:01] #10359 closed

[2022-05-16 10:01] Annie834 commented on #10365
Thank you so much @lilleyse  , the osg that I got  is build with another Coordinate system，so the gltf  matrix datas are so big,now we'v been slove the problem.

[2022-05-16 10:01] #10365 closed

[2022-05-16 11:39] kamillasak opened #10382 "Multiple tilesets.json as one tileset"
Hello, is there any way to add multiple tilesets to primitives?
Cesium version is 1.70
Currently we have like 4 big tilesets. We try to add them like:

var tilesets = ["/tileset2,json", "tileset2.json", etc]
tilesets forEach(element => {
  tileset = viewer.scene.primitives.add(new Cesium.Cesium3DTileset({
    url: element.url)}
})

When we open our site, we have randomly getting errors like A 2D t

[2022-05-16 12:18] lilleyse commented on #5955
@kteneyck we're actively working on this and other 2D bugs: https://github.com/CesiumGS/cesium/issues/9934

[2022-05-16 12:49] sanjeetsuhag opened #10383 "Globe appearing underneath large polygons"
This issue may be a subset of https://github.com/CesiumGS/cesium/issues/4871, however, since there are multiple issues affecting large polygons - it may be helpful to break them up into smaller parts.

| `🟡 178Lon-Rhumb` in this [Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=xVrrbtvIFX6VqXcB0YhM8S7Skd0mjrsO4FxgO1sUUYClyLHENUUK5MiJkvVTtP+D9l//98H2EXrmRg5JKZYduysgiWbm3Oabc+acM0qUZyV

[2022-05-16 13:05] ggetz commented on #10382
Hi @kamillasak. You can create one tileset.json that points to multiple external tileset.json files. But I'm not sure if that will solve your issue.

This question would be best suited for the Cesium Forum](https://community.cesium.com/) where there are members of the community and developers from the team who can help. Cesium is a big project, so we use GitHub for feature requests and bug trackin

[2022-05-16 13:05] #10382 closed

[2022-05-16 13:25] ggetz commented on #10381
Hi @kymowang, I was unable to reproduce using the same version of nodeJS.

[code]

Were you able to previously run the `build` command?

[2022-05-16 15:13] sanjeetsuhag commented on #10376
@mramato Based on the findings above, seems like the banding was always an issue, if the `stepSize` was large enough - however, that threshold is just lower with the new colors of the atmosphere. Would reducing the `stepSize` be an option for you? If not, we'll probably have to revisit the implementation of the bloom filter.

[2022-05-16 15:54] mramato commented on #10376
@sanjeetsuhag We can live with the issue for now or set step size to one. But I gree that it seems like bloom should be revisited at some point (so we should either write up a new issue or leave this open to do so).

[2022-05-16 17:00] ptrgags commented on #10379
Today I looked into why the glTF 1.0 BIM model crashes in ModelExperimental.

There's one shader that declares the normals as `attribute vec2 a_n;` and does the oct decoding in the technique's vertex shader.

Trying to allow a special case for this in `ModelExperimental` will add considerable complexity, so I wouldn't recommend we do that. Better to update the asset to use glTF 2.0

Some thoughts

[2022-05-16 21:25] ErixenCruz commented on #5545
Seems the approximation introduces too much error. Here's what it looks like if we use `czm_fastApproximateAtan` instead of `atan` at https://github.com/CesiumGS/cesium/blob/adea020fd9b3b20de146ef16f09f1c65b785ab68/Source/Shaders/PolylineCommon.glsl#L88
![ezgif com-gif-maker](https://user-images.githubusercontent.com/45504062/168685045-0adce3ff-ad59-4ed7-b6e4-b8c3dff253e3.gif)

[2022-05-16 21:36] lilleyse opened #10385 "Implicit tilesets in Specs have incorrect template uris"
If you search for `"subdivisionScheme": "OCTREE"` you'll notice that some of these test files have incorrect content and/or subtree template uris.

For example, in `ImplicitTileBoundingVolumeSemantics` it's missing `{z}`

[code]

[2022-05-17 15:05] mramato commented on #9827
FYI, Apple has released Safari 15.5 and updates to all devices to use it. It fixes a lot of the WebGL issues and regressions that have been plaguing Cesium users and WebGL apps in general

It's probably worth doing a review of all ios/ipad/safari specific issues and seeing how many we can close (might also want to introduce some Safari/iOS specific labels if we have a lot still open.

If this is a

[2022-05-17 15:12] #10372 closed

[2022-05-17 16:25] sanjeetsuhag commented on #10383
Another thing I noticed is the difference in the appearance of this "band" based on the longitudinal extent. In the examples below, there are two polygons: one of extent `179°` and `181°`. When the extent is >180°, the polygon wraps around the other side.

| `179°` | `181°` |
| - | - |
| ![same](https://user-images.githubusercontent.com/5172619/168861187-b78bad1c-07b7-4817-b0bb-d5afb7757862.png) |

[2022-05-17 19:54] j9liu commented on #10379
Came up in #10388: `Model` keeps its `boundingSphere` in local space, whereas `ModelExperimental` returns the bounding sphere in world space (i.e. with `modelMatrix` applied). The `ModelExperimental` method is better and more consistent with `Cesium3DTileset`, we just need to update the `Model` Sandcastles with this in mind and document it `CHANGES.md`

[2022-05-17 20:11] sanjeetsuhag commented on #10383
I forced the use of  planar extent by editing the snippet below:

https://github.com/CesiumGS/cesium/blob/d6aa763eeb656674ca088117ae9302a8541bdc86/Source/Scene/GroundPrimitive.js#L804-L812

and achieved this result:

![poly](https://user-images.githubusercontent.com/5172619/168901441-a4a07f20-9d0d-4bc1-9ae5-ba6939578328.gif)

[2022-05-17 20:30] #10232 closed

[2022-05-18 05:04] edeles-navagis commented on #9058
Hi, are there any updates about this issue?
Maybe someone can point out where I could probably start investigating in the codes?

[2022-05-18 06:40] #10305 closed

[2022-05-18 11:51] RiVeND commented on #8819
Is there any progress on a permanent fix for this? I have tried using the workaround on 1.93 (though inflate.js and deflate.js look like they no longer exist and I've had to replace them with pako_inflate.min.js and pako_deflate.min.js, which removes the sort of error messages that **thecodehustler** reported but it is now complaining that:
(my site) may not load data from https://cesium.com/downl

[2022-05-18 12:01] RiVeND commented on #8819
Slight update - I've found that if I go back to version 1.84 then the KLM loads fine. Moving to 1.85 or anything later breaks it with the errors reported above.

[2022-05-18 13:22] ggetz commented on #9829
@alexrobin FYI from https://github.com/CesiumGS/cesium/issues/9827#issuecomment-1128986148, which may have been the same root issue:

[2022-05-18 13:29] sanjeetsuhag commented on #10383
A couple more findings using the presets in this [local Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=7Vpbb9vIFf4rU+8CkhGJ4v3iyG4Tx10HcC6wnS2KKMBS5NhiTZECOXKiZP0r2vegfet7f9j+hJ65kUNSimUn3rysgSSemXObb86Zc84wUZ6VBF0n+D0u0D7K8Ht0iMtkOdd+ZnP9yU7Exod5RsIkw8VkZ/fxJIsYXxnhDAMb59fYsFqMwjkuwnqVj2FZEtD5F3mMU6D5NMkQAnaCi5M8u0zIMsZ7SB8o0yFpzKaS7GwRZnvIdvisoGpMhkV0vloA52Tn9PjNi6eTHTY9w8nljEh5+

[2022-05-18 15:10] ggetz commented on #9827
Just testing this out on an iPad Pro on 15.5 after the update. No luck.

However, if I turn off "WebGL via Metal" in Safari preferences under **Advanced** > **Experimental Features**, the materials appear to be working.

![IMG_0591](https://user-images.githubusercontent.com/4439461/169075207-31b93daf-d232-41db-9bc5-7826e18db6da.jpeg)

[2022-05-18 16:14] ggetz commented on #9907
@srothst1 Testing this on an iPad Pro with the m1 chip after the latest 15.5 update, I do see some jitter when the camera moves but am not able to reproduce the drastic classification to the left of the building as shown in the about image using https://sandcastle.cesium.com/?src=Classification.html.

[2022-05-18 17:07] srothst1 commented on #9907
got it 👍

[2022-05-18 22:41] sanjeetsuhag opened #10392 "Scene render tests failing in Chrome"
The [`Scene/Scene > render tests`](http://cesium-dev.s3-website-us-east-1.amazonaws.com/cesium/main/Specs/SpecRunner.html?category=none&spec=Scene%2FScene%20render%20tests) test suite is throwing an error in Chrome and Edge on Windows. From the screenshot below, it seems like the tests are passing (at least from the green dots indicated at the top), but something else is going wrong:

![image](htt

[2022-05-19 13:18] kymowang commented on #10381
Thanks for response.
It may be caused by the path format. I don't know why it mixed slash and back slash.

I changed it to
[code]
Although gulp works now, nothing generated in build folder without error.

[2022-05-19 19:51] sanjeetsuhag commented on #9718
## Background
- https://github.com/CesiumGS/cesium/issues/7102
	- [ ] Close since we don't support IE11 anymore.
- https://github.com/CesiumGS/cesium/issues/8100
	- [ ] Investigate then close
## Motivation
CesiumJS currently disallows using many language features of ES6 ([as seen here](https://github.com/CesiumGS/cesium/blob/39d3cbd9ffd8820e74e36aa56affc98cc7287280/Tools/eslint-config-cesium/index

[2022-05-20 01:59] kymowang commented on #10381
Well， things go well finally in windows 10 WSL2.

[2022-05-20 12:29] UniquePanda opened #10393 "Translucent custom shaders on point clouds render opaque points as transparent"
Hi all,
I just noticed that a custom shader that has `isTranslucent` set to `true` and then just sets `material.alpha` to `1.0` in the `fragmentShaderText` will render points of a point cloud transparent.
As I wasn't able to reproduce this with any of the  "3DTiles Next" examples in the sandcastle (which doesn't use point clouds yet), I guess this is not intended.

You can see this in the attached

[2022-05-20 12:52] ggetz commented on #10381
Thanks @kymowang. I'm glad you were able to run it.

What system were you on before when you were having issues?

[2022-05-20 13:20] ggetz commented on #9718
While I think its definitely possible to cut down on the number here, we will most likely still need a few variations based on the target environment. As part of this plan, can we recommend a new simplified "dependency tree"?

[2022-05-20 14:14] UniquePanda commented on #10393
Hi @lilleyse,
I see, that makes sense.
As I was experiencing this, while working with custom shaders, I was assuming it's related to them. Wrong conclusion 😄

Thank you. I'll close this issue then.

[2022-05-20 14:14] #10393 closed

[2022-05-20 17:56] VsKatshuma opened #10394 "Model boundingSphere uses wrong forwardAxis and is transformed incorrectly"
When the _ModelUtility.computeBoundingSphere_ function is called for a new model, some transformations are applied to the bounding sphere in ModelUtility.js:

https://github.com/CesiumGS/cesium/blob/46ed67c0bf601b52f3b1acdb7bb13d5decc5a181/Source/Scene/ModelUtility.js#L270-L277

However, I don't think the above code ever gets executed in the current version of Cesium (v.1.93). This is because the

[2022-05-20 20:32] sanjeetsuhag commented on #9718
@ggetz Could you review the updated comment above? I've added my ideas for how we should proceed with these changes and compiled a list of rules we may want to impose.

[2022-05-23 07:33] VsKatshuma commented on #10394
Steps to reproduce the issue:

1) Create a model using Model.fromGltf(), making sure that the glTF used is in version 2.0 specification and has a non-zero model-to-world transformation matrix.

2) Now `model.boundingSphere.center` gives a location that's different from where the model is actually drawn.

[2022-05-23 09:02] Ranjan0968 commented on #5207
can anyone help me to make cockpits by cesium js
![Screenshot (36)](https://user-images.githubusercontent.com/105446016/169783794-3e0995a2-9563-4d1c-b461-744d5ac6f593.png)
Like this

[2022-05-23 13:34] ggetz commented on #9718
Before we get too deep into what rules we plan on adding, I would suggest we streamline our existing configs first. That would include turning off `plugin:es/restrict-to-es5`. I believe if we just include the `es` plugin, it will default to restricting to our target `ecmaVersion`, which should currently be 2015/es6. Then we can remove the rules we've explitely turned off for the es6 features we've

[2022-05-23 13:47] sanjeetsuhag commented on #4871
While the core issues plaguing the geometry and rendering of large polygons still persist, there are some solutions that can be adopted in the meantime:
- Choose the right geometry type for the desired shape - i.e. `RectangleGraphics` and `WallGraphics` may be useful in several cases. For polar regions, you can use `EllipsoidGraphics` [as demonstrated here](https://sandcastle.cesium.com/#c=pZLJTsM

[2022-05-23 14:01] j9liu commented on #10394
Hi @VsKatshuma ,

Thanks for noting this issue and for opening a PR to address it! I'll take a look in a second.

I do want to note that for `Model`, `model.boundingSphere.center` is always in the model's local space. It must be mulitplied by the model's `modelMatrix` to result in the true world-space position. Though, I do notice that the resulting position is a little off, and I wonder if your P

[2022-05-23 14:17] VsKatshuma commented on #10394
After giving this issue some more thought, I'm starting to worry.

I'm beginning to wonder if my PR would break existing functionality in apps that use Cesium, that may be using model bounding spheres in a way that relies on them erroneously skipping the transformation my PR would enable.

I wonder what would be the right approach here.

[2022-05-24 04:46] qqqys opened #10398 "Polygon render missing in 2D view"
my polygon render missing when i change view to 2D and drag the map
![image](https://user-images.githubusercontent.com/51397480/169951002-508f67b4-f7ee-46a3-9954-12c72ef61bd8.png)
![image](https://user-images.githubusercontent.com/51397480/169951023-88f0efd5-7011-4ed6-bc4f-0767ab5ad104.png)

[2022-05-24 13:38] gregangevine1 commented on #9907
We don't see any difference in this issue on the M1 iPad Pro with iPad OS 15.5. Note that on iPad OS there is a workaround because we can disable Request Desktop Website in Safari settings, which we cannot do on Mac OS.

[2022-05-24 13:40] ggetz commented on #10398
Thanks for the report @qqqys. Would you be able to provide a [sandcastle example](https://sandcastle.cesium.com) with code to reproduce the issue?

This may be a manifestation of https://github.com/CesiumGS/cesium/issues/4871 or another known [2D issue](https://github.com/CesiumGS/cesium/labels/category%20-%202d%20%2F%20columbus%20view).

[2022-05-24 13:48] qqqys commented on #10398
https://sandcastle.cesium.com/#c=bZBNT8MwDIb/itVTJ5WUCXaBrgJt3JBAIHGhHLzW2yLSZHLSTgXtv5O2m1aN5hQ/fh/nIzfaOqgl7YlhDpr2sCArq1J8dCzMgryrF0Y7lJo4Cyb3ma6Rgal4NarZGO3NfoQg7aSTZAUWRfibafBrdwzdwRG0ayuJkfNt4/HxxAWy8zvUN2LNplzShonsIzM24efZBLiO4HYWDcl0Ns6uLlhHzuBrMuiW6IglqsGFjDIs3p6WfeiQ6UP79iAKEusaRelJfpDlzrCDilUoROyo3Ck/zcarKv8mJ3JrW7GNJvFQTQpZgyzmI78MuUJrfWddKfUufygL0iT2+X+qMlhIvXmpiRU2bWw7TZ97KIRIYl+Om84

[2022-05-24 17:58] sanjeetsuhag commented on #10392
I just tested it again on `main` and with repeated tests, I am unable to reproduce it anymore.

![image](https://user-images.githubusercontent.com/5172619/170101569-5f00d234-d586-4428-a082-32ec3810ba9f.png)

[2022-05-24 17:58] #10392 closed

[2022-05-25 03:22] hugcoday commented on #8518
Babylon JS
PointLight
DirectionalLight
SpotLight
HemisphericLight
ThreeJS
AmbientLight
DirectionalLight
HemisphereLight
PointLight
RectAreaLight
SpotLight

Above the light can be supported ?

[2022-05-25 03:23] light-come commented on #8518
您好，我已收到您的邮件。

[2022-05-25 14:45] lilleyse opened #10400 "Custom Shader Guide included in Build folder"
After running `npm run makeZipFile` the Custom Shader Guide gets added to the Build folder.

The quickest fix would be to remove `Source/Scene/ModelExperimental/CustomShaderGuide/README.md` since it just points to the new location at `Documentation/CustomShaderGuide/README.md`. Otherwise we'd have to modify the gulpfile so that it doesn't copy this file.

<img width="425" alt="Screen Shot 2022-05-

[2022-05-25 15:03] ggetz commented on #10400
This is a quick fix which I'll account for in https://github.com/CesiumGS/cesium/pull/10399.

[2022-05-25 15:51] j9liu opened #10401 "Artifacts in 2D / CV mode when rendering over the IDL"
#10384 added correct 2D / CV projection to `ModelExperimental`, but it doesn't properly handle models that cross the IDL. For example, a green unshaded cube will be stretched across the entire map:

![image](https://user-images.githubusercontent.com/32226860/170302974-8f582b78-a37b-4dde-9242-aba8dddbc25f.png)

These artifacts also appear in the projected [S2 globe](http://localhost:8080/Apps/Sandc

[2022-05-25 18:14] j9liu opened #10402 "Some OSM buildings not appearing in 2D / CV mode"
#10384 added support for 2D / CV mode with tilesets that used `ModelExperimental`, and this produces good results for the OSM buildings in New York. However, the models don't show up for some cities, e.g. Tokyo and Sydney. Here's a [localhost Sandcastle](http://localhost:8080/Apps/Sandcastle/index.html#c=fVLLbtswEPyVhU8SoNJOjSRtqhiFld4apKgN96ILTa4tohRX4MOuW+TfS0qxkTROTxKHM7PD3RVknIedwj1auAWDe6jQqd

[2022-05-25 18:52] sanjeetsuhag opened #10403 "ModelExperimentalSpec - "projectTo2D works for CV" fails"
The [`Scene/ModelExperimental/ModelExperimental > projectTo2D works for CV`](http://localhost:8080/Specs/SpecRunner.html?category=none&spec=Scene%2FModelExperimental%2FModelExperimental%20projectTo2D%20works%20for%20CV) spec is currently failing on `main` on Chrome 101.0.4951.67 / Windows 10.

![image](https://user-images.githubusercontent.com/5172619/170346481-97a25f1b-17d1-445d-ad8d-8d35492c89de

[2022-05-26 06:02] Lifengm opened #10404 "when.resolve().then and Promise.resolve().then are executed in a different order"
Scene/Cesium3DTileStyle.js resulting in an error
![image](https://user-images.githubusercontent.com/34083435/170425012-b239662e-1a80-4868-8c70-d77efffebf21.png)

The order of execution is as follows：

![image](https://user-images.githubusercontent.com/34083435/170426535-df833e28-6615-404e-be41-3311bc3e7cf2.png)

![image](https://user-images.githubusercontent.com/34083435/170426561-5fa19d6a-0416-45

[2022-05-26 07:13] tkazik commented on #6304
This is unfortunately still an issue for us and implies that we have to "fix" our models the modeling SW, which involves quite a lot of manual work. Thx for your consideration!

[2022-05-26 12:53] ggetz commented on #10404
Hi @Lifengm, a fix for this went in with https://github.com/CesiumGS/cesium/pull/10348 earlier this month. It should be released on June 1st. If you are using a style URL that needs to be loaded, note that the API has changed slightly. If you are passing in a synchronous style, no changes are needed, and you should no longer run into this issue. Thanks!

[2022-05-26 12:53] #10404 closed

[2022-05-26 13:15] lilleyse commented on #6304
@tkazik thanks for bumping this issue. I spent a little time poking around `ModelExperimental` and it's a much easier fix there. Just need to write some unit tests and then I'll open a PR.

[2022-05-26 13:55] lilleyse commented on #6304
Fixed in https://github.com/CesiumGS/cesium/pull/10405 - though you'll need to use `ModelExperimental` instead of `Model` until we're ready to replace the old `Model` in a couple months.

[2022-05-26 15:29] lilleyse commented on #10403
I don't think this is OS specific. Setting`this._logDepthBuffer = false;` in `Scene.js` results in the same test failure on Linux.

* We should check that `ModelExperimental` works property in CV when log depth is disabled in Sandcastle
* If sandcastle looks fine then it might be a problem with the test. When log depth is disabled the camera's near plane is `1.0` instead of `0.1`, and depending on

[2022-05-26 16:56] tkazik commented on #6304
That is great and exciting news! 🙌🥳

[2022-05-26 18:09] brentfulgham commented on #10323
Just to close the loop, we believe the underlying issue is fixed in Safari 15.5.

[2022-05-26 19:29] #10403 closed

[2022-05-26 19:34] #10363 closed

[2022-05-26 19:54] #6304 closed

[2022-05-27 08:43] kamurank opened #10409 "Error: Cannot read properties of undefined (reading 'skinning')"

[2022-05-27 11:28] lilleyse commented on #10409
(Moved from `3d-tiles` to `cesium`)

@kamurank could you check if your tileset is valid first? https://github.com/CesiumGS/3d-tiles-validator/tree/main/validator

If it's valid the next thing to try is setting `enableModelExperimental: true` to see if the new model implementation fixes it

[code]

If that still doesn't work there may be a bug in CesiumJS. Could you provide the tileset?

[2022-05-27 13:28] j9liu commented on #10347
Hi @Takieddinex, did you still need help with this issue?

[2022-05-30 10:07] Takieddinex commented on #10347
@j9liu Hey, I'm testing something else at the moment but I didn't manage to do it so I'll come back to it later

[2022-05-30 18:02] SentretC opened #10410 "More options for flyTo, like space around target"
For aesthetic reasons, it's sometimes desirable to have some space around the target after calling `viewer.flyTo`. This can be achieved with the `offset` option, but it's hard to determine the appropriate offset for targets of different sizes.
The API document says: "If the range is zero, a range will be computed such that the whole bounding sphere is visible."
Maybe we can have a `rangeMultiplier

[2022-05-31 13:31] ggetz commented on #10410
Hi @SentretC, we agree that the current API is not as flexible or easy-to-use as possible. This specific feedback is helpful. We're hoping to revise the camera API in a wholistic way in the near future, and would likely consider these as a part of that effort.

[2022-05-31 14:14] lilleyse commented on #9934
@j9liu can this be closed now that https://github.com/CesiumGS/cesium/pull/10384 is merged?

[2022-05-31 14:14] lilleyse commented on #5955
@j9liu can this be closed now that https://github.com/CesiumGS/cesium/pull/10384 is merged?

[2022-05-31 14:16] j9liu commented on #5112
I'll close this, yes

[2022-05-31 14:16] #5112 closed

[2022-05-31 14:16] j9liu commented on #9934
I wanted to keep this open until the individual model projection was merged, if that's okay?

[2022-05-31 14:42] lilleyse commented on #9934
@j9liu yes that's fine

[2022-05-31 15:32] mramato commented on #5955
@j9liu No, it wasn't. But if that's the case then I'm not sure why we would close this until everything "just works". I would consider this issue as part of the final testing that should happen when ModelExperimental goes away and just becomes Model.

[2022-06-01 13:07] ggetz commented on #9827
Looks like there's some limitations of `EXT_Color_buffer_float` we'll need to account for: https://bugs.webkit.org/show_bug.cgi?id=240919.

[2022-06-01 13:17] ptrgags opened #10416 "Remove deprecated Model features in CesiumJS 1.97"
In preparation for replacing `Model` with `ModelExperimental`, some features were deprecated. See the following PRs:

* glTF 1.0 support - #10414
* some getters - #10415

These details should be removed in CesiumJS 1.97

[2022-06-01 15:01] ggetz commented on #9827
Adressed in https://github.com/CesiumGS/cesium/pull/10417

[2022-06-01 15:01] #9827 closed

[2022-06-01 19:56] lilleyse commented on #5094
Hey @robmilton, there's been a lot of activity in the model code lately so it's possible something has changed.

A better alternative might be to try out `ModelExperimental` which lets you provide a custom shader and use your own texture.

[code]

Full sandcastle code: [here](https://sandcastle.cesium.com/#c=fVVtb+o2FP4rFp/CRE0CKVDKrcaA9t6p1VBhmzRF4prEIVYdO7IdSu9V//tO4iRQRhchYvu8+XnOS0IptEF7Rl+pQl

[2022-06-01 21:14] j9liu commented on #5094
@robmilton I'm not as knowledgeable about the texture management in `ModelExperimental`, but the `ModelExperimental.fromGltf` should have the same basic API as `Model.fromGltf`. So if you were loading in something as follows:

[code]

the `ModelExperimental` version should be the same:
[code]

If swapping out `Model` with `ModelExperimental` isn't enough, may I see what is getting passed into `Mod

[2022-06-01 21:27] robmilton commented on #5094
@j9liu thanks for the response.  I discovered that changing 'url' to 'gltf' in 'fromGltf' fixed the error I was having loading models due to the fact that I am using Cesium version 1.93.

The problem I'm having now is that our textures are not being applied/aligned correctly.  I'm going to update to version 1.94 and see if this changes anything.

[2022-06-02 10:27] Yaozefen opened #10420 "untimeError: Aborted(CompileError: WebAssembly.instantiate()"
Cesium version：1.94.0
environment：npm

This is a small example of loading b3dm
My code：
const viewer = new Cesium.Viewer('cesiumContainer', {
        terrainProvider: Cesium.createWorldTerrain(),
      });

      const tileset = new Cesium.Cesium3DTileset({
        url: Cesium.IonResource.fromAssetId(40866),
      });

      viewer.scene.primitives.add(tileset);
      viewer.zoomTo(tileset);

But

[2022-06-02 12:57] ggetz commented on #10420
Hi @Yaozefen, could you provide some more info about how you are including cesium in your npm app? Are you using any particular build tool?

It looks like you're having trouble decoding Draco, which some tilesets are encoded with and others aren't. To decode, you'll need to load an auxiliary `.wasm` file, which looks like it's not being successfully loaded in this case.

[2022-06-02 16:31] #9635 closed

[2022-06-02 17:53] j9liu opened #10421 "Clean up instanced `typedArray` usage in `ModelExperimental`"
Recent PRs for `Model` have involved a lot of typed array management (#10384, #10344, #9886) and it would be good to do a full sweep of the pipeline stages to confirm that typed arrays are being unloaded after being processed.

The main cases I can count right now are
- the packed typed arrays in `InstancingPipelineStage`
- ~the position typed array in `SceneMode2DPipelineStage`~
- ~the wireframe

[2022-06-02 18:22] robmilton commented on #5094
@lilleyse thanks for the new approach with ModelExperimental.  We've got the models appearing and textures getting updated.  However, the textures are not being applied correctly.  I don't see a pattern that indicates what exactly the problem is just yet.  I also don't have any knowledge about how to experiment with correcting the issue.

I can provide a model and texture if that helps.  As I ment

[2022-06-02 18:37] dabuchera opened #10422 "Webworker cannot reas baseUrl"
Hi
Got the following error when deploying to gh-pages. The project is set up with the craco-resium package, but the error should not coming from there. On localhost everything is working fine. Only the deployment not working

![image](https://user-images.githubusercontent.com/53481997/171702274-04b7433f-7b55-4e62-9819-b1a71001c8a1.png)

Thanks for the help

[2022-06-02 18:58] mramato opened #10423 "Crash in handleTileFailure"
`handleTileFailure` in Cesium3DTileset.js assumes that `error` is always defined, but there appear to be edge cases where `error` is undefined and we access it anyway. I have an app constantly spitting errors to the console because of this. The problem seems to stem from Cesium3DTileset not properly handling in flight requests once it is destroyed, but I don't have a reduced test case.

There are

[2022-06-02 19:11] mramato commented on #10423
Thanks, updating now and will let you know.

[2022-06-02 19:35] ggetz commented on #10422
Hi @dabuchera, would you be able to check the network tab of the debugger? My guess is `Workers/createVerticesFromQuantizedTerrainMesh.js` is 404ing, leading to the error.

I'm not sure about the details of `craco-resium`, but CesiumJS has some static asset files, including web workers, that need to be served alongside the library in order to work as intended. `window.CESIUM_BASE_URL` needs to be

[2022-06-02 19:42] dabuchera commented on #10422
Nope. createVerticesFromQuantizedTerrainMesh is okay
I think the error is coming from the cesiumWorkerBootstrapper

![image](https://user-images.githubusercontent.com/53481997/171724689-510c38f6-2950-4f13-a005-23b8111b4530.png)

[2022-06-02 19:54] dabuchera commented on #10422
It also looks like that some js scripts in the web worker are missing in comparison to the localhost version

[2022-06-02 22:02] robmilton commented on #5094
@lilleyse that worked like a charm!  Thank you, sir!

[2022-06-02 22:22] lilleyse commented on #5094
@robmilton good to hear

[2022-06-02 22:23] lilleyse commented on #5094
@ptrgags ok that helps explain the discrepancy.

Looks like `Model.js` and `GltfImageLoader` / `GltfTextureLoader` set `flipY: false` for images. Maybe it's because it's more expensive to do the flip, and not really useful since the glTF conventions and png/jpeg/canvas conventions already match.

It just means that there's this inconsistency between the internal code and custom shaders. At the ver

[2022-06-03 14:31] ptrgags opened #10426 "Create a guide for 3D Tiles and glTF best practices"
Given that glTF and 3D Tiles use different coordinate systems, there is often confusion over the best way to represent the data. It would be helpful to have a guide in the `Documentation` folder for this.

Such a guide would likely include details like:

* Explain the axis conventions between CesiumJS (which uses ECEF: z-up, x-"forward") and glTF (which uses y-up, z-forward)
* Explain how CesiumJS

[2022-06-03 16:08] ggetz commented on #10422
Thanks. I think this is specific to the deployment process here, and not a bug, as I can't reproduce on sandcastle.cesium.com or other applications.

It will be difficult to track down exactly what's going on without more details. Perhaps try the [community forum](https://community.cesium.com/) with a description of the steps of your build and deployment. There should be developers there who are m

[2022-06-03 16:08] #10422 closed

[2022-06-03 16:49] ggetz commented on #10423
@mramato Was this fixed for you as of 1.94?

[2022-06-03 16:53] #10423 closed

[2022-06-03 18:28] moxizhou opened #10430 "Ellipsoid with czml not rendering image uri properly"
I am trying to render an ellipsoid with czml with an image uri. The image renders correctly when the position is not over time, but renders the default white when it is over time.

**Correct image rendered**
[code]

**Renders white ellipsoid without image**
[code]

Sandcastle example: [Link](https://sandcastle.cesium.com/#c=7ZVdT+M4FIb/itWrrgSuP/I9HbSjDiuhLVs07Yy0QxAKiVu8JHZlJ7AD6n/f46TQtHSu92Yi1C

[2022-06-04 05:48] nf-s commented on #2132
A light-weight alternative to mapbox-gl/maplibre-gl is https://github.com/protomaps/protomaps.js - it supports MVT and a subset of mapbox style spec.

We have been using it in TerriaJS for nearly a year - and it works quite well.

https://github.com/TerriaJS/terriajs/blob/main/lib/Map/ImageryProvider/ProtomapsImageryProvider.ts

[2022-06-06 02:40] Yaozefen commented on #10420
@ggetz Thank you. Now I know that I need to load additional files. I have found a solution. Excuse me.
.

[2022-06-06 02:40] #10420 closed

[2022-06-06 18:08] ggetz commented on #6500
These exist in the deployed docs.

[2022-06-06 18:08] #6500 closed

[2022-06-06 19:51] ptrgags opened #10431 "Add tileset statistics for number of lines rendered"
Currently, tileset memory statistics report triangles and points, but not lines/line strips/line loops. We should add this.

The main things to update would be:

* `Cesium3DTilesetStatistics`
* `ModelExperimentalStatistics` and `StatisticsPipelineStage`
* `Cesium3DTileContent` -- add a `linesLength` much like `pointsLength` or `trianglesLength`
* `Cesium3DTilesInspectorViewModel` -- for the inspec

[2022-06-06 19:56] ptrgags opened #10432 "Improvements for tileset memory statistics"
While working on #10397, I noticed a couple things that could be improved about tileset statistics:

1. Statistics distinguish between "loaded" counts (increment on tile load, decrement on tile unload) and "selected" counts (only counts visible tiles). However, this is not done consistently. E.g. points have both a load and a selected count, while triangles only have a selected count.
2. Statistic

[2022-06-08 07:48] danny-wang opened #10435 "Cesium Resource retryCallback update queryParameters or header only valid in current request"
Cesium Resource retryCallback update queryParameters or header only valid in current request
code like:

`
function refreshTokenRetryCallback(resource, error) {
  if (error.statusCode === 403) {
    // 403 status code means a new token should be generated
    return getNewAccessToken()
      .then(function(token) {
        resource.queryParameters.access_token = token;
        return true;
      }